Repository home-assistant/core, pull requests merged in 2018-04, with the labels that each got.

#13602 Fix mysensors update callback
  homeassistant/components/mysensors.py
Labels: cla-signed, component: mysensors, small-pr

#13585 Broadlink
  homeassistant/components/sensor/broadlink.py
  homeassistant/components/switch/broadlink.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.broadlink, platform: switch.broadlink, small-pr

#13606 Fix IMAP email message_data
  homeassistant/components/sensor/imap_email_content.py
Labels: cla-signed, platform: sensor.imap_email_content, small-pr

#13613 Re-add group polling as a fallback for observation
  homeassistant/components/light/tradfri.py
Labels: cla-signed, platform: light.tradfri, small-pr

#13569 Unflake folder watcher test
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/test_folder_watcher.py
Labels: cla-signed, small-pr

#13603 Make mysensors updates and platform setup async
  homeassistant/components/binary_sensor/mysensors.py
  homeassistant/components/climate/mysensors.py
  homeassistant/components/cover/mysensors.py
  homeassistant/components/device_tracker/mysensors.py
  homeassistant/components/light/mysensors.py
  homeassistant/components/mysensors.py
  homeassistant/components/notify/mysensors.py
  homeassistant/components/sensor/mysensors.py
  homeassistant/components/switch/mysensors.py
Labels: cla-signed

#13610 Use 0/1 for raspberry pi cover GPIO writes rather than true/false
  homeassistant/components/cover/rpi_gpio.py
Labels: cla-signed, platform: cover.rpi_gpio, small-pr

#13587 Add pincode fallback
  homeassistant/components/homekit/util.py
Labels: cla-signed, component: homekit, small-pr

#13616 Fix Hue error logging
  homeassistant/components/hue/bridge.py
  tests/components/light/test_hue.py
Labels: cla-signed, component: hue, small-pr

#13618 Bugfix for tradfri to correctly execute Command.
  homeassistant/components/light/tradfri.py
Labels: cla-signed, platform: light.tradfri, small-pr

#13617 Fix mqtt_json color commands
  homeassistant/components/light/mqtt_json.py
  tests/components/light/test_mqtt_json.py
Labels: cla-signed, platform: light.mqtt_json

#13620 0.66.1
  homeassistant/components/frontend/__init__.py
  homeassistant/components/homekit/util.py
  homeassistant/components/light/mqtt_json.py
  homeassistant/components/sensor/mysensors.py
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/light/test_mqtt_json.py
Labels: cla-signed, component: frontend, component: homekit, core, merging-to-master, platform: light.mqtt_json, platform: sensor.mysensors

#13601 Hue mireds value is actually 153 not 154
  homeassistant/components/light/__init__.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/light/test_demo.py
Labels: cla-signed, component: light, core, small-pr

#13626 Changed PyTado version
  homeassistant/components/tado.py
  requirements_all.txt
Labels: cla-signed, component: tado, small-pr

#13629 Upgrade py-cpuinfo to 4.0.0
  homeassistant/components/sensor/cpuspeed.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.cpuspeed, small-pr

#13630 Add Switzerland
  homeassistant/components/binary_sensor/workday.py
Labels: cla-signed, platform: binary_sensor.workday, small-pr

#13521 Xiaomi Mi WiFi Repeater 2 integration as device tracker
  homeassistant/components/device_tracker/xiaomi_miio.py
  requirements_all.txt
Labels: cla-signed

#13647 Upgrade youtube_dl to 2018.04.03
  homeassistant/components/media_extractor.py
  requirements_all.txt
Labels: cla-signed, component: media_extractor, small-pr

#13659 Update plex.py
  homeassistant/components/sensor/plex.py
Labels: cla-signed, platform: sensor.plex, small-pr

#13667 Add missing service docs for hs_color
  homeassistant/components/light/services.yaml
Labels: cla-signed, small-pr

#13631 Add regex functions as templating helpers
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: cla-signed, core

#13624 Channel up and down for webostv
  homeassistant/components/media_player/webostv.py
Labels: breaking change, cla-signed, platform: media_player.webostv, small-pr

#13674 Added headers configuration variable to notify.rest component
  homeassistant/components/notify/rest.py
Labels: cla-signed, component: notify, core, small-pr

#13681 Spelling fixes
  homeassistant/components/alarm_control_panel/ifttt.py
  homeassistant/components/climate/nest.py
  homeassistant/components/device_tracker/ubus.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/smappee.py
  tests/components/homekit/test_accessories.py
Labels: cla-signed, component: device_tracker, component: smappee, core, platform: alarm_control_panel.ifttt, platform: climate.nest, platform: remote.xiaomi_miio, small-pr

#13682 Xiaomi MiIO Light: White Philips Candle Light support
  homeassistant/components/light/xiaomi_miio.py
Labels: cla-signed, platform: light.xiaomi_miio, small-pr

#13689 Bugfixes HomeKit covers and lights
  homeassistant/components/homekit/type_covers.py
  homeassistant/components/homekit/type_lights.py
Labels: cla-signed, component: homekit, small-pr

#13654 Minor style changes, cleanup
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_covers.py
  homeassistant/components/homekit/type_lights.py
  homeassistant/components/homekit/type_security_systems.py
  homeassistant/components/homekit/type_sensors.py
  homeassistant/components/homekit/type_switches.py
  homeassistant/components/homekit/type_thermostats.py
  tests/components/homekit/test_type_thermostats.py
Labels: cla-signed, component: homekit

#13302 Bugfix: Zwave Print_node to logfile instead of console
  homeassistant/components/zwave/__init__.py
  tests/components/zwave/test_init.py
Labels: cla-signed, component: zwave, small-pr

#13702 Update ha-philips_js to 0.0.3
  homeassistant/components/media_player/philips_js.py
  requirements_all.txt
Labels: bug, cla-signed, platform: media_player.philips_js, small-pr

#13700 Coveralls & Codeowners
  .coveragerc
  CODEOWNERS
Labels: cla-signed, small-pr

#13691 Bump insteonplm to 0.8.6
  homeassistant/components/insteon_plm.py
  requirements_all.txt
Labels: cla-signed, component: insteon_plm, small-pr

#13693 Fix asuswrt ap mode failure
  homeassistant/components/device_tracker/asuswrt.py
Labels: cla-signed, component: device_tracker, core, small-pr

#13658 Support color temperature in Homekit
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_lights.py
  tests/components/homekit/test_type_lights.py
Labels: cla-signed, component: homekit

#13678 Remove unused CONF_WATCHERS
  homeassistant/components/folder_watcher.py
Labels: cla-signed, component: folder_watcher, small-pr

#13612 Add media type separation for video/movie
  homeassistant/components/media_player/__init__.py
  homeassistant/components/media_player/cast.py
  homeassistant/components/media_player/channels.py
  homeassistant/components/media_player/demo.py
  homeassistant/components/media_player/directv.py
  homeassistant/components/media_player/emby.py
  homeassistant/components/media_player/kodi.py
  homeassistant/components/media_player/plex.py
  homeassistant/components/media_player/roku.py
Labels: breaking change, cla-signed

#13692 Adding configration to disable ip address as a requirement Fixes: #13399
  homeassistant/components/device_tracker/asuswrt.py
  tests/components/device_tracker/test_asuswrt.py
Labels: cla-signed, component: device_tracker, core

#13636 Tahoma switches
  homeassistant/components/switch/tahoma.py
  homeassistant/components/tahoma.py
Labels: cla-signed, component: tahoma, new-platform, platform: switch.tahoma

#13665 Send XY color for non-osram hue bulbs
  homeassistant/components/light/hue.py
Labels: cla-signed, platform: light.hue, small-pr

#13709 Update AbodePy version to 0.12.3
  homeassistant/components/abode.py
  requirements_all.txt
Labels: cla-signed, component: abode, small-pr

#13697 Enable autodiscovery for mqtt cameras
  homeassistant/components/camera/mqtt.py
  homeassistant/components/mqtt/discovery.py
Labels: cla-signed, component: mqtt, core, platform: camera.mqtt, small-pr

#13642 Broadlink Switch - Use entity_id instead of friendly_name for entity_id
  homeassistant/components/switch/broadlink.py
Labels: breaking change, cla-signed, platform: switch.broadlink, small-pr

#13456 Add support for Nanoleaf Aurora Light Panels
  .coveragerc
  homeassistant/components/light/aurora.py
  requirements_all.txt
Labels: cla-signed, new-platform, platform: light.aurora

#13467 Added gogogate2 cover
  .coveragerc
  homeassistant/components/cover/gogogate2.py
  requirements_all.txt
Labels: cla-signed

#13720 Update docstrings
  homeassistant/components/cover/opengarage.py
  homeassistant/components/cover/tahoma.py
  homeassistant/components/ihc/__init__.py
  homeassistant/components/ihc/ihcdevice.py
  homeassistant/components/light/aurora.py
  homeassistant/components/sensor/trafikverket_weatherstation.py
Labels: cla-signed, component: ihc, platform: cover.opengarage, platform: cover.tahoma, platform: light.aurora, platform: sensor.trafikverket_weatherstation

#13714 Add option to ignore availability in google calendar events
  homeassistant/components/calendar/google.py
  homeassistant/components/google.py
  tests/components/test_google.py
Labels: cla-signed, component: google, platform: calendar.google, small-pr

#13534 Add timeout / debounce (for brightness and others)
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_lights.py
  homeassistant/components/homekit/type_thermostats.py
  tests/components/homekit/test_accessories.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_type_lights.py
  tests/components/homekit/test_type_thermostats.py
Labels: cla-signed, component: homekit

#12831 added support for smappee water sensors
  homeassistant/components/sensor/smappee.py
  homeassistant/components/smappee.py
Labels: cla-signed, component: smappee, platform: sensor.smappee

#13075 Initialise filter_sensor with historical values
  homeassistant/components/history.py
  homeassistant/components/sensor/filter.py
  tests/components/sensor/test_filter.py
  tests/components/test_history.py
Labels: cla-signed, platform: sensor.filter

#13728 Fix Gogogate2 'available' attribute
  homeassistant/components/cover/gogogate2.py
Labels: cla-signed

#13727 Bluesound bugfix status 595 and await
  homeassistant/components/media_player/bluesound.py
Labels: cla-signed, platform: media_player.bluesound

#13732 Upgrade aiohttp to 3.1.2
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: cla-signed, core, small-pr

#13733 Upgrade sqlalchemy to 1.2.6
  homeassistant/components/recorder/__init__.py
  homeassistant/components/sensor/sql.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, component: recorder, core, platform: sensor.sql, small-pr

#13711 Brightness conversion for Abode dimmers
  homeassistant/components/light/abode.py
Labels: cla-signed, platform: light.abode, small-pr

#13736 Update CODEOWNERS (sensor.filter, sensor.upnp)
  CODEOWNERS
Labels: cla-signed, small-pr

#13743 Reset permission
  homeassistant/components/light/abode.py
Labels: cla-signed, platform: light.abode, small-pr

#13739 Throw an error when invalid device_mode is given
  homeassistant/components/climate/nest.py
Labels: cla-signed

#13318 Add MQTT Sensor unique_id
  homeassistant/components/sensor/mqtt.py
  tests/components/sensor/test_mqtt.py
Labels: cla-signed, platform: sensor.mqtt, small-pr

#13730 Prepare entity component for config entries
  homeassistant/helpers/entity_component.py
  homeassistant/helpers/entity_platform.py
  tests/common.py
Labels: cla-signed, core

#13756 Check valid file on get_size
  homeassistant/components/sensor/folder.py
Labels: cla-signed, platform: sensor.folder, small-pr

#13622 Qwikswitch sensors
  .coveragerc
  homeassistant/components/light/qwikswitch.py
  homeassistant/components/qwikswitch.py
  homeassistant/components/sensor/qwikswitch.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/sensor/test_qwikswitch.py
Labels: cla-signed, platform: sensor.qwikswitch

#13765 Device type mapping introduced to avoid breaking change
  homeassistant/components/light/yeelight.py
Labels: cla-signed, platform: light.yeelight, small-pr

#13737 Squeezebox: Only flag media position as updated when it really has changed
  homeassistant/components/media_player/squeezebox.py
Labels: cla-signed, platform: media_player.squeezebox, small-pr

#13735 Support binary_sensor and device_tracker in HomeKit.
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_sensors.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_type_sensors.py
Labels: cla-signed, component: homekit

#13752 Use config entry to setup platforms
  homeassistant/components/hue/bridge.py
  homeassistant/components/light/__init__.py
  homeassistant/components/light/hue.py
  homeassistant/config_entries.py
  homeassistant/helpers/entity_component.py
  homeassistant/helpers/entity_platform.py
  tests/common.py
  tests/components/hue/test_bridge.py
  tests/components/light/test_hue.py
  tests/helpers/test_entity_component.py
  tests/helpers/test_entity_platform.py
  tests/test_config_entries.py
Labels: cla-signed, component: hue, component: light, core, platform: light.hue

#13746 Snips sounds
  homeassistant/components/snips.py
  tests/components/test_snips.py
Labels: cla-signed, component: snips

#13787 Add missing DISCHRG state
  homeassistant/components/sensor/nut.py
Labels: cla-signed, platform: sensor.nut, small-pr

#13783 Improved upgradeability HomeKit type
  homeassistant/components/homekit/type_security_systems.py
Labels: cla-signed, component: homekit, small-pr

#13794 Lazytox script: Ensure flake8 passes for tests
  script/lazytox.py
Labels: cla-signed, small-pr

#13800 Update bellows to 0.5.2
  homeassistant/components/zha/__init__.py
  requirements_all.txt
Labels: cla-signed, component: zha, small-pr

#13808 iglo hs color fix
  homeassistant/components/light/iglo.py
Labels: cla-signed, platform: light.iglo, small-pr

#13579 Handle devices not running DHCP on ubus
  homeassistant/components/device_tracker/ubus.py
Labels: cla-signed, component: device_tracker, core, small-pr

#13802 Update yweather.py
  homeassistant/components/weather/yweather.py
Labels: cla-signed, platform: weather.yweather, small-pr

#13811 Tibber lib update
  homeassistant/components/sensor/tibber.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.tibber, small-pr

#13814 Update pyhomematic to 0.1.41
  homeassistant/components/homematic/__init__.py
  requirements_all.txt
Labels: cla-signed, component: homematic, small-pr

#13773 Add support for Eufy bulbs and switches
  .coveragerc
  homeassistant/components/eufy.py
  homeassistant/components/light/eufy.py
  homeassistant/components/switch/eufy.py
  requirements_all.txt
Labels: cla-signed, component: eufy, new-platform, platform: light.eufy, platform: switch.eufy

#13828 Fix too green color conversion
  homeassistant/util/color.py
  tests/components/light/test_demo.py
  tests/components/light/test_mqtt.py
  tests/components/light/test_mqtt_json.py
  tests/components/switch/test_flux.py
  tests/util/test_color.py
Labels: cla-signed, core

#13832 Fix type_cover HomeKit
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_covers.py
  tests/components/homekit/test_type_covers.py
Labels: cla-signed, component: homekit, small-pr

#13784 Allow platform unloading
  homeassistant/components/hue/__init__.py
  homeassistant/components/hue/bridge.py
  homeassistant/components/light/__init__.py
  homeassistant/config_entries.py
  homeassistant/helpers/entity_component.py
  homeassistant/helpers/entity_platform.py
  tests/components/hue/test_bridge.py
  tests/components/hue/test_init.py
  tests/components/light/test_hue.py
  tests/helpers/test_entity_component.py
  tests/helpers/test_entity_platform.py
  tests/test_config_entries.py
Labels: cla-signed, component: hue, component: light, core

#13804 Support CO2/PM2.5/Light sensors in HomeKit
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_sensors.py
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_type_sensors.py
  tests/components/homekit/test_util.py
Labels: cla-signed, component: homekit, new-feature

#13829 Webostv channel up down only on LiveTV
  homeassistant/components/media_player/webostv.py
Labels: cla-signed, platform: media_player.webostv, small-pr

#13812 Clicksend: Added support for multiple recipients
  homeassistant/components/notify/clicksend.py
Labels: cla-signed, component: notify, core, small-pr

#13796 Support Garage Doors in HomeKit
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_covers.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_type_covers.py
Labels: cla-signed, component: homekit, new-feature

#13809 Abode better events
  homeassistant/components/abode.py
  requirements_all.txt
Labels: cla-signed, component: abode, small-pr

#13839 Update example (fixes #13834)
  homeassistant/components/vacuum/services.yaml
Labels: cla-signed, small-pr

#13479 Add support for deCONZ daylight sensor
  homeassistant/components/sensor/deconz.py
Labels: cla-signed, component: deconz, platform: sensor.deconz, small-pr

#13836 Add authentication to error log endpoint
  homeassistant/components/api.py
  tests/components/test_api.py
Labels: cla-signed, component: api

#13842 Initialize queue before filtering (fixes #13363)
  homeassistant/components/sensor/filter.py
  tests/components/sensor/test_filter.py
Labels: cla-signed, platform: sensor.filter, small-pr

#13840 Extract config flow to own module
  homeassistant/components/config/config_entries.py
  homeassistant/components/deconz/__init__.py
  homeassistant/components/discovery.py
  homeassistant/components/hue/config_flow.py
  homeassistant/config_entries.py
  homeassistant/data_entry_flow.py
  tests/common.py
  tests/components/config/test_config_entries.py
  tests/components/test_discovery.py
  tests/test_config_entries.py
  tests/test_data_entry_flow.py
Labels: cla-signed, component: config, component: deconz, component: discovery, component: hue, core

#13346 Add support for controlling homekit lights and switches
  .coveragerc
  homeassistant/components/discovery.py
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/light/homekit_controller.py
  homeassistant/components/switch/homekit_controller.py
  requirements_all.txt
  script/gen_requirements_all.py
  tests/components/test_discovery.py
Labels: cla-signed, component: discovery, component: homekit_controller, new-platform, platform: light.homekit_controller

#13854 bump python-ecobee-api version to 0.0.18
  homeassistant/components/ecobee.py
  requirements_all.txt
Labels: cla-signed, component: ecobee, small-pr

#13764 Adding USCIS component
  .coveragerc
  homeassistant/components/sensor/uscis.py
  requirements_all.txt
Labels: cla-signed, new-platform, platform: sensor.uscis

#13862 Prevent vesync doing I/O in event loop
  homeassistant/components/switch/vesync.py
Labels: cla-signed, platform: switch.vesync, small-pr

#13851 Update yweather.py
  homeassistant/components/weather/yweather.py
Labels: cla-signed, platform: weather.yweather, small-pr

#13790 add support for Kodi discovery
  homeassistant/components/discovery.py
  homeassistant/components/media_player/kodi.py
Labels: cla-signed, component: discovery, platform: media_player.kodi

#13855 Further untangle data entry flow
  homeassistant/config_entries.py
  homeassistant/data_entry_flow.py
  tests/components/config/test_config_entries.py
  tests/components/test_discovery.py
  tests/test_data_entry_flow.py
Labels: cla-signed, core

#13889 Missing property decorator added
  homeassistant/components/fan/xiaomi_miio.py
Labels: cla-signed, platform: fan.xiaomi_miio, small-pr

#13887 Fix race condition for component loaded before listening
  homeassistant/components/config/__init__.py
Labels: cla-signed, component: config, small-pr

#13883 Added snips service descriptions
  homeassistant/components/services.yaml
Labels: cla-signed

#13888 Add unique_id for BMW ConnectedDrive
  homeassistant/components/binary_sensor/bmw_connected_drive.py
  homeassistant/components/lock/bmw_connected_drive.py
  homeassistant/components/sensor/bmw_connected_drive.py
Labels: cla-signed, platform: binary_sensor.bmw_connected_drive, platform: lock.bmw_connected_drive, platform: sensor.bmw_connected_drive, small-pr

#13900 Revert "Update yweather.py"
  homeassistant/components/weather/yweather.py
Labels: cla-signed, platform: weather.yweather, small-pr

#13895 Eufy colour bulb updates
  homeassistant/components/eufy.py
  homeassistant/components/light/eufy.py
  requirements_all.txt
Labels: cla-signed, component: eufy, platform: light.eufy, small-pr

#13884 Removes mistaken double underscore from new Bluetooth addresses in `known_devices.yaml`. Correcting `known_devices.yaml` is strongly advised.
  homeassistant/components/device_tracker/bluetooth_tracker.py
Labels: cla-signed, component: device_tracker, core, small-pr

#13824 Restore edimax type error check for units without energy tracking
  homeassistant/components/switch/edimax.py
Labels: cla-signed, platform: switch.edimax, small-pr

#13915 Add more math functions to templates
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: cla-signed, core

#13917 Fixed Capsman data not being used
  homeassistant/components/device_tracker/mikrotik.py
Labels: cla-signed, component: device_tracker, core, small-pr

#13761 Broadlink Sensor - switch to connection-less mode
  homeassistant/components/sensor/broadlink.py
Labels: cla-signed, platform: sensor.broadlink, small-pr

#12224 Added support for a new platform: climate.modbus
  homeassistant/components/climate/modbus.py
Labels: cla-signed, new-platform, platform: climate.modbus

#13942 Updated foobot_async package version
  homeassistant/components/sensor/foobot.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, platform: sensor.foobot, small-pr

#13946 Update pyhydroquebec to 2.2.2
  homeassistant/components/sensor/hydroquebec.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.hydroquebec, small-pr

#13943 Upgrade alpha_vantage to 2.0.0
  homeassistant/components/sensor/alpha_vantage.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.alpha_vantage, small-pr

#13947 Update pyfido to 2.1.1
  homeassistant/components/sensor/fido.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.fido, small-pr

#13935 Add data entry flow helper
  homeassistant/components/config/config_entries.py
  homeassistant/config_entries.py
  homeassistant/data_entry_flow.py
  homeassistant/helpers/data_entry_flow.py
  tests/components/config/test_config_entries.py
Labels: cla-signed, component: config, core

#13948 Xiaomi MiIO Device Tracker: Unused variable removed
  homeassistant/components/device_tracker/xiaomi_miio.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, small-pr

#13934 WebosTV - Set a channel through play media service
  homeassistant/components/media_player/webostv.py
Labels: cla-signed, platform: media_player.webostv

#13921 Update of python-mpd2
  homeassistant/components/media_player/mpd.py
  requirements_all.txt
Labels: cla-signed, platform: media_player.mpd, small-pr

#10688 Add AVM fritzbox smarthome component
  .coveragerc
  homeassistant/components/climate/__init__.py
  homeassistant/components/climate/fritzbox.py
  homeassistant/components/fritzbox.py
  homeassistant/components/switch/fritzbox.py
  requirements_all.txt
Labels: cla-signed, component, component: fritzbox, new-platform, platform, platform: climate.fritzbox, platform: switch.fritzbox, requirement

#13731 Adds SigFox sensor
  .coveragerc
  homeassistant/components/sensor/sigfox.py
  tests/components/sensor/test_sigfox.py
Labels: cla-signed, new-platform, platform: sensor.sigfox

#13938 Upgrade aiohttp to 3.1.3
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: cla-signed, core, small-pr

#13937 Upgrade youtube_dl to 2018.04.16
  homeassistant/components/media_extractor.py
  requirements_all.txt
Labels: cla-signed, component: media_extractor, small-pr

#13882 Added web view for TTS to get url
  homeassistant/components/tts/__init__.py
  tests/components/tts/test_init.py
Labels: cla-signed, component: tts

#13497 Add services for bmw_connected_drive
  homeassistant/components/bmw_connected_drive/__init__.py
  homeassistant/components/bmw_connected_drive/services.yaml
  homeassistant/components/device_tracker/bmw_connected_drive.py
Labels: cla-signed, component: bmw_connected_drive, component: device_tracker, core

#13906 Fix call to parent broadlink switch
  homeassistant/components/switch/broadlink.py
Labels: cla-signed, platform: switch.broadlink, small-pr

#13960 deCONZ shouldn't close HASS web session
  homeassistant/components/deconz/__init__.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, component: deconz, small-pr

#13959 Bumped pypollencom to 1.1.2
  homeassistant/components/sensor/pollen.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.pollen, small-pr

#13974 Bump skybellpy version to 0.1.2
  homeassistant/components/skybell.py
  requirements_all.txt
Labels: cla-signed, component: skybell, small-pr

#13970 Fix typo an coding style
  homeassistant/components/device_tracker/nmap_tracker.py
Labels: cla-signed, component: device_tracker, core, small-pr

#13905 Xiaomi MiIO Vacuum: Params of the send command can be a list now
  homeassistant/components/vacuum/__init__.py
Labels: cla-signed, component: vacuum, core, small-pr

#13819 Support basic covers with open/close/stop services
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_covers.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_type_covers.py
Labels: cla-signed, component: homekit, new-feature

#13679 deCONZ migrate setup fully to config entry
  homeassistant/components/deconz/.translations/en.json
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/strings.json
  homeassistant/components/discovery.py
  tests/components/deconz/__init__.py
  tests/components/deconz/test_config_flow.py
  tests/components/deconz/test_init.py
  tests/components/test_deconz.py
Labels: cla-signed, component: deconz, component: discovery

#13982 renaming icons
  homeassistant/components/hdmi_cec.py
  homeassistant/components/vacuum/__init__.py
  homeassistant/components/vacuum/demo.py
  homeassistant/components/vacuum/dyson.py
  homeassistant/components/vacuum/mqtt.py
  homeassistant/components/vacuum/neato.py
  homeassistant/components/vacuum/roomba.py
  homeassistant/components/vacuum/xiaomi_miio.py
  tests/components/vacuum/test_dyson.py
Labels: cla-signed, component: hdmi_cec, component: vacuum, core, platform: vacuum.dyson, platform: vacuum.neato, platform: vacuum.roomba, platform: vacuum.xiaomi_miio, small-pr

#13986 Fix for Lokalise backend misinterpretation of keys
  .travis.yml
  script/translations_upload
Labels: cla-signed, small-pr

#13980 Bump locationsharinglib to 1.2.1
  homeassistant/components/device_tracker/google_maps.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, small-pr

#13517 Support for multiple MAX!Cube LAN gateways added
  homeassistant/components/binary_sensor/maxcube.py
  homeassistant/components/climate/maxcube.py
  homeassistant/components/maxcube.py
Labels: breaking change, cla-signed, component: maxcube, platform: binary_sensor.maxcube, platform: climate.maxcube

#13551 Add additional receiver for Onkyo zone 2
  homeassistant/components/media_player/onkyo.py
Labels: cla-signed, platform: media_player.onkyo

#13549 Add blackbird media player component
  homeassistant/components/media_player/blackbird.py
  homeassistant/components/media_player/services.yaml
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/media_player/test_blackbird.py
Labels: cla-signed, new-platform, platform: media_player.blackbird

#12952 add support for Sensirion SHT31 temperature/humidity sensor
  .coveragerc
  homeassistant/components/sensor/sht31.py
  requirements_all.txt
Labels: cla-signed, new-platform, platform: sensor.sht31

#13996 Useless code removed
  homeassistant/components/maxcube.py
Labels: cla-signed, component: maxcube, small-pr

#13904 Add Homematic HmIP-SWO-PR weather sensor support
  homeassistant/components/homematic/__init__.py
Labels: cla-signed, component: homematic, small-pr

#14003 Disable ebox requirement
  homeassistant/components/sensor/ebox.py
  requirements_all.txt
Labels: breaking change, cla-signed, platform: sensor.ebox, small-pr

#14005 Upgraded miflora library to version 0.4.0
  homeassistant/components/sensor/miflora.py
  requirements_all.txt
Labels: cla-signed, new-platform, platform: sensor.lmsensor, platform: sensor.miflora, small-pr

#14006 Log an error instead of raising an exception
  homeassistant/components/sensor/sht31.py
Labels: cla-signed, platform: sensor.sht31, small-pr

#13865 Tibber available
  homeassistant/components/sensor/tibber.py
Labels: cla-signed, platform: sensor.tibber

#14013 Upgrade pylutron-caseta to 0.5.0 to reestablish connections
  homeassistant/components/lutron_caseta.py
  requirements_all.txt
Labels: cla-signed, component: lutron_caseta, small-pr

#14010 Proposal: Add sensor device classes
  homeassistant/components/sensor/__init__.py
  homeassistant/components/sensor/ecobee.py
  homeassistant/components/sensor/linux_battery.py
  homeassistant/components/sensor/nest.py
Labels: cla-signed, component: sensor, core, platform: sensor.ecobee, platform: sensor.linux_battery, platform: sensor.nest, small-pr

#14018 Pollen.com: Added attributes on top 3 allergens
  homeassistant/components/sensor/pollen.py
Labels: breaking change, cla-signed, platform: sensor.pollen, small-pr

#14026 upgrade rfxtrx lib, dimming support for Lighting3
  homeassistant/components/rfxtrx.py
  requirements_all.txt
Labels: cla-signed, component: rfxtrx, small-pr

#14025 HomeKit Alarm Control Panel Code Exception Fix
  homeassistant/components/homekit/type_security_systems.py
  tests/components/homekit/test_type_security_systems.py
Labels: cla-signed, component: homekit, small-pr

#14039 Add Accuracy to Google Location Sharing
  homeassistant/components/device_tracker/google_maps.py
Labels: cla-signed, component: device_tracker, core, small-pr

#14044 bump gogogate2 version
  homeassistant/components/cover/gogogate2.py
  requirements_all.txt
Labels: cla-signed, platform: cover.gogogate2, small-pr

#14045 device_tracker.ubus: catch ConnectionError
  homeassistant/components/device_tracker/ubus.py
Labels: cla-signed, component: device_tracker, core, small-pr
