Repository home-assistant/core, pull requests merged in 2018-10, with the labels that each got.

#17015 Async syntax 1/8
  homeassistant/components/alarm_control_panel/__init__.py
  homeassistant/components/alarm_control_panel/alarmdecoder.py
  homeassistant/components/alarm_control_panel/alarmdotcom.py
  homeassistant/components/alarm_control_panel/egardia.py
  homeassistant/components/alarm_control_panel/envisalink.py
  homeassistant/components/alarm_control_panel/manual_mqtt.py
  homeassistant/components/alarm_control_panel/mqtt.py
  homeassistant/components/alarm_control_panel/satel_integra.py
  homeassistant/components/alarm_control_panel/wink.py
  homeassistant/components/automation/event.py
  homeassistant/components/automation/homeassistant.py
  homeassistant/components/automation/litejet.py
  homeassistant/components/automation/mqtt.py
  homeassistant/components/automation/numeric_state.py
  homeassistant/components/automation/state.py
  homeassistant/components/automation/sun.py
  homeassistant/components/automation/template.py
  homeassistant/components/automation/time.py
  homeassistant/components/automation/zone.py
  homeassistant/components/binary_sensor/ads.py
  homeassistant/components/binary_sensor/alarmdecoder.py
  homeassistant/components/binary_sensor/android_ip_webcam.py
  homeassistant/components/binary_sensor/bayesian.py
  homeassistant/components/binary_sensor/bmw_connected_drive.py
  homeassistant/components/binary_sensor/egardia.py
  homeassistant/components/binary_sensor/envisalink.py
  homeassistant/components/binary_sensor/ffmpeg_motion.py
  homeassistant/components/binary_sensor/ffmpeg_noise.py
  homeassistant/components/binary_sensor/insteon.py
  homeassistant/components/binary_sensor/isy994.py
  homeassistant/components/binary_sensor/mqtt.py
  homeassistant/components/binary_sensor/mychevy.py
  homeassistant/components/binary_sensor/mystrom.py
  homeassistant/components/binary_sensor/satel_integra.py
  homeassistant/components/binary_sensor/template.py
  homeassistant/components/binary_sensor/threshold.py
  homeassistant/components/binary_sensor/trend.py
  homeassistant/components/binary_sensor/wink.py
  homeassistant/components/binary_sensor/workday.py
Labels: Hacktoberfest, cla-signed, in progress

#17016 Async syntax 2/8
  homeassistant/components/camera/abode.py
  homeassistant/components/camera/amcrest.py
  homeassistant/components/camera/canary.py
  homeassistant/components/camera/doorbird.py
  homeassistant/components/camera/generic.py
  homeassistant/components/camera/mjpeg.py
  homeassistant/components/camera/ring.py
  homeassistant/components/camera/synology.py
  homeassistant/components/climate/generic_thermostat.py
  homeassistant/components/climate/mqtt.py
  homeassistant/components/climate/radiotherm.py
  homeassistant/components/climate/sensibo.py
  homeassistant/components/climate/wink.py
  homeassistant/components/config/automation.py
  homeassistant/components/config/config_entries.py
  homeassistant/components/config/core.py
  homeassistant/components/config/customize.py
  homeassistant/components/config/group.py
  homeassistant/components/config/hassbian.py
  homeassistant/components/config/script.py
  homeassistant/components/config/zwave.py
  homeassistant/components/configurator.py
Labels: Hacktoberfest, cla-signed, in progress

#17024 Update Z-Wave service descriptions
  homeassistant/components/zwave/services.yaml
Labels: Hacktoberfest, cla-signed, in progress, small-pr

#17022 Async syntax 8/8
  homeassistant/components/__init__.py
  homeassistant/components/abode.py
  homeassistant/components/alexa/__init__.py
  homeassistant/components/alexa/intent.py
  homeassistant/components/alexa/smart_home.py
  homeassistant/components/android_ip_webcam.py
  homeassistant/components/apple_tv.py
  homeassistant/components/cloud/__init__.py
  homeassistant/components/demo.py
  homeassistant/components/device_sun_light_trigger.py
  homeassistant/components/doorbird.py
  homeassistant/components/duckdns.py
  homeassistant/components/emulated_hue/hue_api.py
  homeassistant/components/envisalink.py
  homeassistant/components/ffmpeg.py
  homeassistant/components/foursquare.py
  homeassistant/components/freedns.py
  homeassistant/components/google_domains.py
  homeassistant/components/homematic/__init__.py
  homeassistant/components/hydrawise.py
  homeassistant/components/ihc/ihcdevice.py
  homeassistant/components/insteon/__init__.py
  homeassistant/components/insteon_plm.py
  homeassistant/components/intent_script.py
  homeassistant/components/introduction.py
  homeassistant/components/ios/__init__.py
  homeassistant/components/isy994.py
  homeassistant/components/lutron.py
  homeassistant/components/lutron_caseta.py
  homeassistant/components/microsoft_face.py
  homeassistant/components/mqtt_statestream.py
  homeassistant/components/namecheapdns.py
  homeassistant/components/no_ip.py
  homeassistant/components/persistent_notification/__init__.py
  homeassistant/components/plant.py
  homeassistant/components/prometheus.py
  homeassistant/components/raincloud.py
  homeassistant/components/rest_command.py
  homeassistant/components/rflink.py
  homeassistant/components/rfxtrx.py
  homeassistant/components/rss_feed_template.py
  homeassistant/components/satel_integra.py
  homeassistant/components/shell_command.py
  homeassistant/components/sun.py
  homeassistant/components/system_log/__init__.py
  homeassistant/components/tellstick.py
  homeassistant/components/thethingsnetwork.py
  homeassistant/components/upcloud.py
  homeassistant/components/wake_on_lan.py
  homeassistant/components/weather/__init__.py
  homeassistant/components/weather/buienradar.py
  homeassistant/components/wink/__init__.py
  homeassistant/components/xiaomi_aqara.py
  homeassistant/components/zigbee.py
Labels: Hacktoberfest, cla-signed, in progress

#17021 Async syntax 7/8
  homeassistant/components/switch/ads.py
  homeassistant/components/switch/amcrest.py
  homeassistant/components/switch/android_ip_webcam.py
  homeassistant/components/switch/broadlink.py
  homeassistant/components/switch/hook.py
  homeassistant/components/switch/insteon.py
  homeassistant/components/switch/lutron_caseta.py
  homeassistant/components/switch/pilight.py
  homeassistant/components/switch/rest.py
  homeassistant/components/switch/rflink.py
  homeassistant/components/switch/template.py
  homeassistant/components/switch/wink.py
  homeassistant/components/tts/marytts.py
  homeassistant/components/tts/voicerss.py
  homeassistant/components/tts/yandextts.py
  homeassistant/components/vacuum/__init__.py
  homeassistant/components/vacuum/dyson.py
  homeassistant/components/vacuum/mqtt.py
  homeassistant/components/vacuum/roomba.py
  homeassistant/components/vacuum/xiaomi_miio.py
Labels: Hacktoberfest, cla-signed, in progress

#17020 Async syntax 6/8
  homeassistant/components/sensor/ads.py
  homeassistant/components/sensor/alarmdecoder.py
  homeassistant/components/sensor/amcrest.py
  homeassistant/components/sensor/android_ip_webcam.py
  homeassistant/components/sensor/api_streams.py
  homeassistant/components/sensor/arwn.py
  homeassistant/components/sensor/bh1750.py
  homeassistant/components/sensor/bme280.py
  homeassistant/components/sensor/bme680.py
  homeassistant/components/sensor/bmw_connected_drive.py
  homeassistant/components/sensor/buienradar.py
  homeassistant/components/sensor/citybikes.py
  homeassistant/components/sensor/comed_hourly_pricing.py
  homeassistant/components/sensor/discogs.py
  homeassistant/components/sensor/dnsip.py
  homeassistant/components/sensor/dsmr.py
  homeassistant/components/sensor/dyson.py
  homeassistant/components/sensor/envisalink.py
  homeassistant/components/sensor/fail2ban.py
  homeassistant/components/sensor/fastdotcom.py
  homeassistant/components/sensor/fido.py
  homeassistant/components/sensor/file.py
  homeassistant/components/sensor/htu21d.py
  homeassistant/components/sensor/hydroquebec.py
  homeassistant/components/sensor/insteon.py
  homeassistant/components/sensor/min_max.py
  homeassistant/components/sensor/mychevy.py
  homeassistant/components/sensor/otp.py
  homeassistant/components/sensor/rflink.py
  homeassistant/components/sensor/serial.py
  homeassistant/components/sensor/sma.py
  homeassistant/components/sensor/sochain.py
  homeassistant/components/sensor/speedtest.py
  homeassistant/components/sensor/startca.py
  homeassistant/components/sensor/statistics.py
  homeassistant/components/sensor/teksavvy.py
  homeassistant/components/sensor/template.py
  homeassistant/components/sensor/thethingsnetwork.py
  homeassistant/components/sensor/time_date.py
  homeassistant/components/sensor/viaggiatreno.py
  homeassistant/components/sensor/waqi.py
  homeassistant/components/sensor/waterfurnace.py
  homeassistant/components/sensor/wink.py
  homeassistant/components/sensor/worxlandroid.py
  homeassistant/components/sensor/wunderground.py
Labels: Hacktoberfest, cla-signed, in progress

#17019 Async syntax 5/8
  homeassistant/components/light/ads.py
  homeassistant/components/light/insteon.py
  homeassistant/components/light/limitlessled.py
  homeassistant/components/light/lutron_caseta.py
  homeassistant/components/light/rflink.py
  homeassistant/components/light/template.py
  homeassistant/components/light/wemo.py
  homeassistant/components/light/wink.py
  homeassistant/components/lock/__init__.py
  homeassistant/components/lock/bmw_connected_drive.py
  homeassistant/components/lock/mqtt.py
  homeassistant/components/lock/nuki.py
  homeassistant/components/lock/wink.py
  homeassistant/components/lock/zwave.py
  homeassistant/components/remote/__init__.py
  homeassistant/components/remote/apple_tv.py
  homeassistant/components/remote/harmony.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/scene/homeassistant.py
  homeassistant/components/scene/hunterdouglas_powerview.py
  homeassistant/components/scene/lifx_cloud.py
  homeassistant/components/scene/lutron_caseta.py
  homeassistant/components/scene/wink.py
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/telegram_bot/broadcast.py
  homeassistant/components/telegram_bot/polling.py
  homeassistant/components/telegram_bot/webhooks.py
  homeassistant/helpers/entity.py
Labels: Hacktoberfest, cla-signed, in progress

#17018 Async syntax 4/8
  homeassistant/components/media_player/anthemav.py
  homeassistant/components/media_player/apple_tv.py
  homeassistant/components/media_player/clementine.py
  homeassistant/components/media_player/emby.py
  homeassistant/components/media_player/frontier_silicon.py
  homeassistant/components/media_player/kodi.py
  homeassistant/components/media_player/liveboxplaytv.py
  homeassistant/components/media_player/russound_rio.py
  homeassistant/components/media_player/snapcast.py
  homeassistant/components/media_player/sonos.py
  homeassistant/components/media_player/squeezebox.py
  homeassistant/components/media_player/volumio.py
  homeassistant/components/notify/__init__.py
  homeassistant/components/notify/discord.py
  homeassistant/components/notify/group.py
  homeassistant/components/notify/kodi.py
  homeassistant/components/notify/prowl.py
Labels: Hacktoberfest, cla-signed, in progress

#17017 Async syntax 3/8
  homeassistant/components/device_tracker/__init__.py
  homeassistant/components/device_tracker/geofency.py
  homeassistant/components/device_tracker/locative.py
  homeassistant/components/device_tracker/meraki.py
  homeassistant/components/device_tracker/mqtt.py
  homeassistant/components/device_tracker/mqtt_json.py
  homeassistant/components/device_tracker/owntracks.py
  homeassistant/components/device_tracker/owntracks_http.py
  homeassistant/components/device_tracker/upc_connect.py
  homeassistant/components/fan/dyson.py
  homeassistant/components/fan/insteon.py
  homeassistant/components/fan/wink.py
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/handler.py
  homeassistant/components/hassio/http.py
  homeassistant/components/image_processing/microsoft_face_detect.py
  homeassistant/components/image_processing/microsoft_face_identify.py
  homeassistant/components/image_processing/openalpr_cloud.py
  homeassistant/components/image_processing/openalpr_local.py
  homeassistant/components/image_processing/seven_segments.py
  homeassistant/components/input_number.py
  homeassistant/components/input_select.py
  homeassistant/components/input_text.py
Labels: Hacktoberfest, cla-signed, in progress

#17004 Fix MQTT discovery
  homeassistant/components/mqtt/discovery.py
Labels: cla-signed, component: mqtt, core, in progress, small-pr

#16972 Upgrade huawei-lte-api to 1.0.16
  homeassistant/components/huawei_lte.py
  requirements_all.txt
Labels: cla-signed, component: huawei_lte, in progress, small-pr

#17026 Fix switch.zoneminder name
  homeassistant/components/switch/zoneminder.py
Labels: cla-signed, in progress, platform: switch.zoneminder, small-pr

#17010 Upgrade locationsharinglib to 3.0.3
  homeassistant/components/device_tracker/google_maps.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#17029 Make REST switch errors more informative and useful
  homeassistant/components/switch/rest.py
Labels: Hacktoberfest, cla-signed, in progress, platform: switch.rest, small-pr

#17027 Add new device attributes to fritzbox climate
  homeassistant/components/climate/fritzbox.py
  homeassistant/components/fritzbox.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, component: fritzbox, in progress, platform: climate.fritzbox, small-pr

#17032 Bump Enphase_Envoy dependency for older models support
  homeassistant/components/sensor/enphase_envoy.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, in progress, platform: sensor.enphase_envoy, small-pr

#16962 Add Hass.io discovery to MQTT
  homeassistant/components/mqtt/.translations/en.json
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/config_flow.py
  homeassistant/components/mqtt/strings.json
  tests/components/mqtt/test_config_flow.py
Labels: cla-signed, component: mqtt, core, in progress

#17039 Update coverage file
  .coveragerc
Labels: Hacktoberfest, cla-signed, in progress, small-pr

#17036 Send headers with REST switch GET request
  homeassistant/components/switch/rest.py
Labels: Hacktoberfest, cla-signed, in progress, platform: switch.rest, small-pr

#17033 Async syntax
  homeassistant/components/alert.py
  homeassistant/components/binary_sensor/ffmpeg_motion.py
  homeassistant/components/binary_sensor/ffmpeg_noise.py
  homeassistant/components/sensor/mqtt_room.py
Labels: Hacktoberfest, cla-signed, component: alert, in progress, platform: binary_sensor.ffmpeg_motion, platform: binary_sensor.ffmpeg_noise, platform: sensor.mqtt_room

#17041 0.79.2
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/switch/zoneminder.py
  homeassistant/const.py
Labels: cla-signed, component: mqtt, core, in progress, merging-to-master, platform: switch.zoneminder, small-pr

#17028 Break up websocket 2
  homeassistant/components/auth/__init__.py
  homeassistant/components/auth/mfa_setup_flow.py
  homeassistant/components/camera/__init__.py
  homeassistant/components/cloud/http_api.py
  homeassistant/components/config/auth.py
  homeassistant/components/config/auth_provider_homeassistant.py
  homeassistant/components/config/device_registry.py
  homeassistant/components/config/entity_registry.py
  homeassistant/components/frontend/__init__.py
  homeassistant/components/http/auth.py
  homeassistant/components/lovelace/__init__.py
  homeassistant/components/media_player/__init__.py
  homeassistant/components/persistent_notification/__init__.py
  homeassistant/components/websocket_api/__init__.py
  homeassistant/components/websocket_api/auth.py
  homeassistant/components/websocket_api/commands.py
  homeassistant/components/websocket_api/connection.py
  homeassistant/components/websocket_api/const.py
  homeassistant/components/websocket_api/decorators.py
  homeassistant/components/websocket_api/error.py
  homeassistant/components/websocket_api/http.py
  tests/components/conftest.py
  tests/components/test_panel_iframe.py
  tests/components/websocket_api/conftest.py
  tests/components/websocket_api/test_auth.py
  tests/components/websocket_api/test_commands.py
  tests/components/websocket_api/test_init.py
Labels: cla-signed, in progress

#16937 Logbook context
  homeassistant/components/automation/__init__.py
  homeassistant/components/logbook.py
  homeassistant/scripts/benchmark/__init__.py
  tests/components/test_logbook.py
Labels: cla-signed, component: logbook, in progress

#16921 Remove error logging when Sonos shuffle_set is not available
  homeassistant/components/media_player/sonos.py
Labels: cla-signed, in progress, platform: media_player.sonos, small-pr

#16915 Fix long update 'load_power' and 'in_use' for Xiaomi Zigbee Plug
  homeassistant/components/switch/xiaomi_aqara.py
Labels: cla-signed, in progress, platform: switch.xiaomi_aqara, small-pr

#16823 Mind the unit system (fixes #16819)
  homeassistant/components/weather/openweathermap.py
Labels: cla-signed, in progress, platform: weather.openweathermap, small-pr

#17042 Suppress urllib3 error for mjpeg camera
  homeassistant/components/camera/mjpeg.py
Labels: cla-signed, in progress, platform: camera.mjpeg, small-pr

#17047 Support code 7
  homeassistant/components/vacuum/xiaomi_miio.py
Labels: Hacktoberfest, cla-signed, in progress, platform: vacuum.xiaomi_miio, small-pr

#17048 Update pyhomematic to 0.1.50
  homeassistant/components/homematic/__init__.py
  requirements_all.txt
Labels: cla-signed, component: homematic, in progress, small-pr

#17038 Remove alert service helper
  homeassistant/components/alert.py
  tests/components/test_alert.py
Labels: Hacktoberfest, breaking change, cla-signed, component: alert, in progress

#16763 Add AquaLogic component
  .coveragerc
  homeassistant/components/aqualogic.py
  homeassistant/components/sensor/aqualogic.py
  homeassistant/components/switch/aqualogic.py
  requirements_all.txt
Labels: cla-signed, component: aqualogic, in progress, new-platform, platform: sensor.aqualogic, platform: switch.aqualogic

#17064 Update pynetgear to 0.4.2 (fix #14752)
  homeassistant/components/device_tracker/netgear.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#17066 Proactor policy fix
  homeassistant/__main__.py
  homeassistant/util/async_.py
Labels: cla-signed, core, in progress, small-pr

#16903 Added working support for private storage
  homeassistant/util/json.py
  tests/components/emulated_hue/test_init.py
  tests/helpers/test_storage.py
  tests/util/test_json.py
Labels: Hacktoberfest, cla-signed, core, in progress, small-pr

#16939 GeoRSS events sensor refactored
  homeassistant/components/sensor/geo_rss_events.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/sensor/test_geo_rss_events.py
  tests/fixtures/geo_rss_events.xml
Labels: Hacktoberfest, cla-signed, in progress, platform: sensor.geo_rss_events

#17051 OpenUV: Fixed unhandled exception with missing protection window data
  homeassistant/components/binary_sensor/openuv.py
  homeassistant/components/openuv/__init__.py
Labels: Hacktoberfest, cla-signed, component: openuv, in progress, platform: binary_sensor.openuv, small-pr

#17059 async_create_task
  homeassistant/components/apple_tv.py
  homeassistant/components/camera/__init__.py
  homeassistant/components/cloud/iot.py
  homeassistant/components/config/__init__.py
  homeassistant/components/config/auth.py
  homeassistant/components/config/device_registry.py
  homeassistant/components/device_tracker/__init__.py
  homeassistant/components/device_tracker/automatic.py
  homeassistant/components/device_tracker/gpslogger.py
  homeassistant/components/device_tracker/meraki.py
  homeassistant/components/device_tracker/mqtt.py
  homeassistant/components/device_tracker/mqtt_json.py
  homeassistant/components/discovery.py
  homeassistant/components/emulated_hue/hue_api.py
  homeassistant/components/homematicip_cloud/hap.py
  homeassistant/components/hue/__init__.py
  homeassistant/components/hue/bridge.py
  homeassistant/components/intent_script.py
  homeassistant/components/light/lifx.py
  homeassistant/components/light/template.py
  homeassistant/components/light/tradfri.py
  homeassistant/components/media_extractor.py
  homeassistant/components/media_player/anthemav.py
  homeassistant/components/media_player/bluesound.py
  homeassistant/components/media_player/cast.py
  homeassistant/components/media_player/kodi.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/nest/__init__.py
  homeassistant/components/persistent_notification/__init__.py
  homeassistant/components/rflink.py
  homeassistant/components/sensor/dsmr.py
  homeassistant/components/sensor/tradfri.py
  homeassistant/components/sisyphus.py
  homeassistant/components/switch/netio.py
  homeassistant/components/tts/__init__.py
  homeassistant/components/tuya.py
  homeassistant/components/zha/__init__.py
  homeassistant/components/zone/__init__.py
  tests/components/hue/test_bridge.py
Labels: Hacktoberfest, cla-signed, in progress

#17067 0.79.3
  homeassistant/__main__.py
  homeassistant/const.py
Labels: cla-signed, core, in progress, merging-to-master, small-pr

#17056 De-syncing binary_sensor.ping
  homeassistant/components/binary_sensor/ping.py
Labels: Hacktoberfest, cla-signed, in progress, platform: binary_sensor.ping, small-pr

#17069 Hue logging
  homeassistant/components/light/hue.py
Labels: Hacktoberfest, cla-signed, in progress, platform: light.hue, small-pr

#17068 Catch possible errors from tradfri
  homeassistant/components/tradfri/config_flow.py
Labels: cla-signed, component: tradfri, in progress, small-pr

#17065 Allow no movement in vamera.onvif_ptz service
  homeassistant/components/camera/onvif.py
Labels: cla-signed, in progress, platform: camera.onvif, small-pr

#17079 Upgrade youtube_dl to 2018.09.26
  homeassistant/components/media_extractor.py
  requirements_all.txt
Labels: cla-signed, component: media_extractor, in progress, small-pr

#17086 Bump pyenvisalink
  homeassistant/components/envisalink.py
  requirements_all.txt
Labels: cla-signed, component: envisalink, in progress, small-pr

#17073 Async response all the things
  homeassistant/components/config/auth.py
  homeassistant/components/config/device_registry.py
  homeassistant/components/websocket_api/__init__.py
  homeassistant/components/websocket_api/decorators.py
Labels: Hacktoberfest, cla-signed, component: config, component: websocket_api, core, in progress

#17085 Add optional headers to configuration for scrape component
  homeassistant/components/sensor/scrape.py
Labels: Hacktoberfest, cla-signed, in progress, platform: sensor.scrape, small-pr

#17035 Add support for Hass.io discovery feature for Add-ons
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/discovery.py
  homeassistant/components/hassio/handler.py
  tests/components/hassio/conftest.py
  tests/components/hassio/test_discovery.py
  tests/components/hassio/test_handler.py
Labels: Hacktoberfest, cla-signed, component: hassio, core, in progress, new-platform

#17083 Keep the repeat mode when setting Sonos shuffle mode
  homeassistant/components/media_player/sonos.py
  tests/components/media_player/test_sonos.py
Labels: Hacktoberfest, cla-signed, in progress, platform: media_player.sonos, small-pr

#17080 Smaller steps for Sonos volume up/down
  homeassistant/components/media_player/sonos.py
Labels: Hacktoberfest, cla-signed, in progress, platform: media_player.sonos, small-pr

#17093 Add weather condition code to OpenWeatherMap sensor
  homeassistant/components/sensor/openweathermap.py
Labels: cla-signed, in progress, platform: sensor.openweathermap, small-pr

#17098 Change tile tracker default icon
  homeassistant/components/device_tracker/tile.py
Labels: Hacktoberfest, cla-signed, component: device_tracker, in progress, small-pr

#17104 Fix jewish calendar sensor with language set to english
  homeassistant/components/sensor/jewish_calendar.py
  tests/components/sensor/test_jewish_calendar.py
Labels: Hacktoberfest, cla-signed, in progress, platform: sensor.jewish_calendar, small-pr

#17101 Fix counter restore
  homeassistant/components/counter/__init__.py
  tests/components/counter/test_init.py
Labels: Hacktoberfest, cla-signed, component: counter, core, in progress

#16300 Rewrite of upnp
  .coveragerc
  CODEOWNERS
  homeassistant/components/discovery.py
  homeassistant/components/sensor/upnp.py
  homeassistant/components/upnp.py
  homeassistant/components/upnp/.translations/en.json
  homeassistant/components/upnp/.translations/nl.json
  homeassistant/components/upnp/__init__.py
  homeassistant/components/upnp/config_flow.py
  homeassistant/components/upnp/const.py
  homeassistant/components/upnp/device.py
  homeassistant/components/upnp/strings.json
  homeassistant/config_entries.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/test_upnp.py
  tests/components/upnp/__init__.py
  tests/components/upnp/test_config_flow.py
  tests/components/upnp/test_init.py
Labels: Ready for review, breaking change, cla-signed, component: discovery, component: igd, component: upnp, core, new-platform, platform: sensor.igd, platform: sensor.upnp, remove-platform

#16931 Bumps simplisafe-python to 3.1.2
  CODEOWNERS
  homeassistant/components/alarm_control_panel/simplisafe.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: alarm_control_panel.simplisafe

#17125 Upgrade pytest to 3.8.2
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, small-pr

#17062 Tibber component and notify
  .coveragerc
  homeassistant/components/notify/tibber.py
  homeassistant/components/sensor/tibber.py
  homeassistant/components/tibber/__init__.py
  requirements_all.txt
Labels: Hacktoberfest, breaking change, cla-signed, component: notify, component: tibber, core, docs-missing, in progress, new-platform, platform: sensor.tibber

#17127 Make it easier for auth to consume newer formats
  homeassistant/auth/auth_store.py
  homeassistant/auth/models.py
  homeassistant/helpers/storage.py
  tests/common.py
Labels: cla-signed, core, in progress

#17057 Add new component fritzbox binary_sensor
  .coveragerc
  homeassistant/components/binary_sensor/fritzbox.py
  homeassistant/components/fritzbox.py
Labels: Hacktoberfest, cla-signed, component: fritzbox, in progress, new-platform, platform: binary_sensor.fritzbox

#17092 Add update service to Google Travel Sensor
  homeassistant/components/sensor/google_travel_time.py
Labels: Hacktoberfest, cla-signed, in progress, platform: sensor.google_travel_time, small-pr

#17132 Fix upnp component l10n error
  homeassistant/components/upnp/.translations/en.json
  homeassistant/components/upnp/strings.json
Labels: cla-signed, component: upnp, in progress, small-pr

#17131 Take timezone into consideration when calulating Zmanim.
  homeassistant/components/sensor/jewish_calendar.py
  tests/components/sensor/test_jewish_calendar.py
Labels: Hacktoberfest, cla-signed, in progress, platform: sensor.jewish_calendar

#17135 Allow config entry setup to raise not ready
  homeassistant/config_entries.py
  homeassistant/exceptions.py
  tests/test_config_entries.py
Labels: cla-signed, core, in progress

#17091 Webhook component - pass headers to webhook handler
  homeassistant/components/ifttt/__init__.py
  homeassistant/components/webhook.py
  tests/components/test_webhook.py
Labels: Hacktoberfest, cla-signed, component: webhook, in progress, small-pr

#17102 Add timeout and fix oscillations on Samsung TV component
  homeassistant/components/media_player/samsungtv.py
  tests/components/media_player/test_samsungtv.py
Labels: Hacktoberfest, cla-signed, in progress, platform: media_player.samsungtv, small-pr

#17070 Remove Hue discovery on manual configuration
  homeassistant/components/hue/__init__.py
  tests/components/hue/test_init.py
Labels: Hacktoberfest, cla-signed, component: hue, in progress, small-pr

#17143 Fix invalid entity_config parameter HomeKit
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_util.py
Labels: Hacktoberfest, bug, cla-signed, component: homekit, in progress, small-pr

#17144 verisure configurable polling
  homeassistant/components/verisure.py
Labels: cla-signed, component: verisure, in progress, small-pr

#17052 YesssSMS handling more errors, upgrade to version 0.2.3
  .coveragerc
  homeassistant/components/notify/yessssms.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/notify/test_yessssms.py
Labels: Hacktoberfest, cla-signed, component: notify, core, in progress

#17149 Added OpenUV CODEOWNERS info
  CODEOWNERS
Labels: Hacktoberfest, cla-signed, component: openuv, in progress, small-pr

#17147 Fix a typo in Volvo On Call switch docstring
  homeassistant/components/switch/volvooncall.py
Labels: Hacktoberfest, cla-signed, in progress, platform: switch.volvooncall, small-pr

#17114 Cleanly stop tradfri on shutdown
  homeassistant/components/tradfri/__init__.py
  homeassistant/components/tradfri/config_flow.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, component: auth, component: tradfri, in progress, small-pr

#17150 Fix zoneminder zms_url construction
  homeassistant/components/zoneminder.py
  requirements_all.txt
Labels: cla-signed, component: zoneminder, in progress, small-pr

#16807 Added warning to homekit component
  homeassistant/components/homekit/__init__.py
  tests/components/homekit/test_homekit.py
Labels: cla-signed, component: homekit, in progress, small-pr

#17145 Add faucet, shower, sprinkler, valve to HomeKit
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_switches.py
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_type_switches.py
  tests/components/homekit/test_util.py
Labels: Hacktoberfest, cla-signed, component: homekit, in progress, new-feature

#16798 Fix miflora connection errors during platform setup
  homeassistant/components/sensor/miflora.py
Labels: cla-signed, in progress, platform: sensor.miflora, small-pr

#17154 @danielhiversen as codeowner for Tibber
  CODEOWNERS
Labels: cla-signed, in progress, small-pr

#17157 Adding myself as melissa owner
  CODEOWNERS
Labels: Hacktoberfest, cla-signed, in progress, small-pr

#17172 Fix data used for logbook
  homeassistant/components/logbook.py
  tests/components/test_logbook.py
Labels: cla-signed, component: logbook, in progress, small-pr

#17173 Fix device_tracker service call & cleanup
  homeassistant/components/alert.py
  homeassistant/components/device_sun_light_trigger.py
  homeassistant/components/device_tracker/__init__.py
  homeassistant/components/notify/telegram.py
  homeassistant/components/switch/flux.py
Labels: Hacktoberfest, bug, cla-signed, component: alert, component: device_sun_light_trigger, component: device_tracker, component: notify, core, in progress, platform: switch.flux

#17175 Update core, add myself and introduce grouping
  CODEOWNERS
Labels: cla-signed, in progress

#17185 Add myself to more sensors
  CODEOWNERS
Labels: cla-signed, in progress, small-pr

#17188 Upgrade aiolifx_effects to 0.2.1
  homeassistant/components/light/lifx.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, in progress, platform: light.lifx, small-pr

#17192 Verisure standard config for scan interval
  homeassistant/components/verisure.py
Labels: cla-signed, component: verisure, docs-missing, in progress, small-pr

#17140 Upgrade boto3 to 1.9.16
  homeassistant/components/notify/aws_lambda.py
  homeassistant/components/notify/aws_sns.py
  homeassistant/components/notify/aws_sqs.py
  homeassistant/components/tts/amazon_polly.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, component: notify, component: tts, core, in progress, small-pr

#17187 Bugfix switch flux - light service call
  homeassistant/components/switch/flux.py
Labels: Hacktoberfest, bug, cla-signed, in progress, platform: switch.flux, small-pr

#17115 Fix Todoist custom project update
  homeassistant/components/calendar/todoist.py
Labels: Hacktoberfest, cla-signed, in progress, platform: calendar.todoist, small-pr

#17209 verisure: vsure version 1.5.0
  homeassistant/components/verisure.py
  requirements_all.txt
Labels: cla-signed, component: verisure, in progress, small-pr

#17202 Disallow list/dict for string configuration
  homeassistant/helpers/config_validation.py
  tests/helpers/test_config_validation.py
Labels: Hacktoberfest, cla-signed, core, in progress, small-pr

#17171 Enable new registry rename for Insteon
  homeassistant/components/insteon/__init__.py
Labels: cla-signed, component: insteon, in progress, small-pr

#17190 Fix aliases support for RFLink sensors
  homeassistant/components/sensor/rflink.py
Labels: cla-signed, in progress, platform: sensor.rflink, small-pr

#16952 Add support for ElkM1 alarm/automation panel
  .coveragerc
  homeassistant/components/alarm_control_panel/elkm1.py
  homeassistant/components/alarm_control_panel/services.yaml
  homeassistant/components/elkm1/__init__.py
  requirements_all.txt
Labels: cla-signed, component: elkm1, in progress, new-platform, platform: alarm_control_panel.elkm1

#17201 Add config entry for LIFX
  CODEOWNERS
  homeassistant/components/lifx/.translations/en.json
  homeassistant/components/lifx/__init__.py
  homeassistant/components/lifx/strings.json
  homeassistant/components/light/lifx.py
  homeassistant/config_entries.py
  requirements_all.txt
Labels: Hacktoberfest, breaking change, cla-signed, component: lifx, core, in progress, platform: light.lifx

#17220 SPC: Fix recorder/history graph
  homeassistant/components/alarm_control_panel/spc.py
  homeassistant/components/binary_sensor/spc.py
  homeassistant/components/spc.py
  tests/components/alarm_control_panel/test_spc.py
  tests/components/binary_sensor/test_spc.py
  tests/components/test_spc.py
Labels: cla-signed, component: spc, in progress, platform: alarm_control_panel.spc, platform: binary_sensor.spc, small-pr

#17232 danielhiversen as codeowner for met.no
  CODEOWNERS
Labels: cla-signed, in progress, small-pr

#17136 Prevent accidental device reg override
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_entity_platform.py
Labels: Hacktoberfest, cla-signed, core, in progress

#17234 Add some new model names of Xiaomi Aqara devices
  homeassistant/components/binary_sensor/xiaomi_aqara.py
  homeassistant/components/xiaomi_aqara.py
  requirements_all.txt
Labels: cla-signed, component: xiaomi_aqara, in progress, platform: binary_sensor.xiaomi_aqara, small-pr

#17227 Pushed to version 0.7.6 of denonavr library to add more sound modes
  homeassistant/components/media_player/denonavr.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.denonavr, small-pr

#17235 Fix data_key and power_consumed attribute of the Aqara Wall Switch
  homeassistant/components/switch/xiaomi_aqara.py
Labels: cla-signed, in progress, platform: switch.xiaomi_aqara, small-pr

#17058 Water heater support
  homeassistant/components/water_heater/__init__.py
  homeassistant/components/water_heater/demo.py
  homeassistant/components/water_heater/services.yaml
  tests/components/water_heater/__init__.py
  tests/components/water_heater/common.py
  tests/components/water_heater/test_demo.py
Labels: Hacktoberfest, cla-signed, component: water_heater, in progress, new-platform

#16913 Daikin Climate - Better integration with Climate base component
  homeassistant/components/climate/daikin.py
Labels: breaking change, cla-signed, in progress, platform: climate.daikin, small-pr

#17208 Fix potential MQTT discovery race condition
  homeassistant/components/mqtt/discovery.py
Labels: Hacktoberfest, cla-signed, component: mqtt, core, in progress, small-pr

#16422 Add Support for Xiaomi Vibration Sensor
  homeassistant/components/binary_sensor/xiaomi_aqara.py
  homeassistant/components/sensor/xiaomi_aqara.py
Labels: cla-signed, in progress, platform: binary_sensor.xiaomi_aqara, platform: sensor.xiaomi_aqara

#16943 Implement base for MQTT device registry integration
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/sensor/mqtt.py
  tests/components/mqtt/test_init.py
  tests/components/sensor/test_mqtt.py
Labels: Hacktoberfest, cla-signed, component: mqtt, core, in progress, platform: sensor.mqtt

#17238 Guard for bad device info
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_entity_platform.py
Labels: cla-signed, core, in progress, small-pr

#17239 Updated georss_client to 0.3
  homeassistant/components/sensor/geo_rss_events.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, platform: sensor.geo_rss_events, small-pr

#17207 MyQ cover return unknown state if not available
  homeassistant/components/cover/myq.py
Labels: cla-signed, in progress, platform: cover.myq, small-pr

#17243 Add device registry to MQTT binary sensor
  homeassistant/components/binary_sensor/mqtt.py
  tests/components/binary_sensor/test_mqtt.py
Labels: Hacktoberfest, cla-signed, in progress, platform: binary_sensor.mqtt

#17244 Add device registry to MQTT switches
  homeassistant/components/switch/mqtt.py
  tests/components/switch/test_mqtt.py
Labels: Hacktoberfest, cla-signed, in progress, platform: switch.mqtt

#17247 Convert MQTT fan to config entry
  homeassistant/components/fan/mqtt.py
  homeassistant/components/mqtt/discovery.py
  tests/components/fan/test_mqtt.py
Labels: Hacktoberfest, cla-signed, component: mqtt, core, in progress, platform: fan.mqtt, small-pr

#16958 Add support for HS color to mqtt light
  homeassistant/components/light/mqtt.py
  homeassistant/const.py
  tests/components/light/test_mqtt.py
Labels: cla-signed, core, in progress, platform: light.mqtt

#17249 Clear device state attributes if update from feed fails for geo_rss_events sensor
  homeassistant/components/sensor/geo_rss_events.py
  tests/components/sensor/test_geo_rss_events.py
Labels: cla-signed, in progress, platform: sensor.geo_rss_events, small-pr

#17245 Add device registry to MQTT cover
  homeassistant/components/cover/mqtt.py
  tests/components/cover/test_mqtt.py
Labels: Hacktoberfest, cla-signed, in progress, platform: cover.mqtt

#16935 Add group foundation
  homeassistant/auth/__init__.py
  homeassistant/auth/auth_store.py
  homeassistant/auth/models.py
  homeassistant/components/config/auth.py
  tests/auth/test_auth_store.py
  tests/common.py
  tests/components/config/test_auth.py
Labels: cla-signed, component: config, component: websocket_api, core, in progress

#17222 Add Elk light platform
  homeassistant/components/alarm_control_panel/elkm1.py
  homeassistant/components/elkm1/__init__.py
  homeassistant/components/light/elkm1.py
Labels: cla-signed, component: elkm1, in progress, small-pr

#17246 Add a webhook automation trigger
  homeassistant/components/automation/webhook.py
  tests/components/automation/test_webhook.py
Labels: cla-signed, core, in progress, new-platform, platform: automation.webhook

#16711 Use only_cache parameter in zha remotes
  homeassistant/components/binary_sensor/zha.py
Labels: cla-signed, in progress, platform: binary_sensor.zha, small-pr

#16201 Add configurable temperature step for MQTT climate component
  homeassistant/components/climate/mqtt.py
  tests/components/climate/test_mqtt.py
Labels: cla-signed, component: climate, core, in progress, platform: climate.mqtt, small-pr

#17248 block external IP
  homeassistant/components/emulated_hue/__init__.py
  homeassistant/components/emulated_hue/hue_api.py
  tests/components/emulated_hue/test_hue_api.py
Labels: cla-signed, component: emulated_hue, in progress

#17260 Bump python-miio requirement
  homeassistant/components/device_tracker/xiaomi_miio.py
  homeassistant/components/fan/xiaomi_miio.py
  homeassistant/components/light/xiaomi_miio.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/sensor/xiaomi_miio.py
  homeassistant/components/switch/xiaomi_miio.py
  homeassistant/components/vacuum/xiaomi_miio.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, platform: fan.xiaomi_miio, platform: light.xiaomi_miio, platform: remote.xiaomi_miio, platform: sensor.xiaomi_miio, platform: switch.xiaomi_miio, platform: vacuum.xiaomi_miio, small-pr

#16717 Swedish weather institute weather component
  homeassistant/components/smhi/.translations/en.json
  homeassistant/components/smhi/.translations/sv.json
  homeassistant/components/smhi/__init__.py
  homeassistant/components/smhi/config_flow.py
  homeassistant/components/smhi/const.py
  homeassistant/components/smhi/strings.json
  homeassistant/components/weather/__init__.py
  homeassistant/components/weather/smhi.py
  homeassistant/config_entries.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/smhi/__init__.py
  tests/components/smhi/common.py
  tests/components/smhi/test_config_flow.py
  tests/components/smhi/test_init.py
  tests/components/weather/test_smhi.py
  tests/fixtures/smhi.json
Labels: cla-signed, component: smhi, component: weather, core, in progress, new-platform, platform: weather.demo, platform: weather.smhi

#17264 Remove warning on script delay
  homeassistant/helpers/script.py
Labels: cla-signed, core, in progress, small-pr

#17261 Fix upnp by adding defaults
  homeassistant/components/upnp/config_flow.py
Labels: cla-signed, component: upnp, in progress, small-pr

#17259 Fix ambient light state of the Philips Eyecare Lamp (Closes: #16269)
  homeassistant/components/light/xiaomi_miio.py
Labels: cla-signed, in progress, platform: light.xiaomi_miio, small-pr

#17258 Add basic support of the Philips Zhirui desk lamp (philips.light.mono1)
  homeassistant/components/light/xiaomi_miio.py
Labels: cla-signed, in progress, platform: light.xiaomi_miio, small-pr

#15764 Added lumitek/ankuoo recswitch component
  .coveragerc
  homeassistant/components/switch/recswitch.py
  requirements_all.txt
Labels: cla-signed, component: recswitch, in progress, new-platform, platform: switch.recswitch

#17250 Add device registry to MQTT fan
  homeassistant/components/fan/mqtt.py
  tests/components/fan/test_mqtt.py
Labels: Hacktoberfest, cla-signed, in progress, platform: fan.mqtt

#17199 Make async_track_time_change smarter
  homeassistant/helpers/event.py
  homeassistant/util/dt.py
  tests/common.py
  tests/helpers/test_event.py
  tests/util/test_dt.py
Labels: Hacktoberfest, cla-signed, core, in progress

#17179 Add optional "all" parameter for groups
  homeassistant/components/group/__init__.py
  homeassistant/components/group/services.yaml
  tests/components/group/test_init.py
Labels: Hacktoberfest, cla-signed, component: group, core, in progress, small-pr

#16714 Add support for zha custom cluster mappings
  homeassistant/components/sensor/zha.py
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/const.py
Labels: cla-signed, component: zha, in progress, platform: sensor.zha, small-pr

#17119 Z-Wave Config Entry Support
  homeassistant/components/zwave/.translations/en.json
  homeassistant/components/zwave/__init__.py
  homeassistant/components/zwave/config_flow.py
  homeassistant/components/zwave/const.py
  homeassistant/components/zwave/strings.json
  homeassistant/config_entries.py
  tests/components/zwave/test_init.py
Labels: Hacktoberfest, cla-signed, component: zwave, core, in progress

#17280 Bumped fints component to version 1.0.1
  homeassistant/components/sensor/fints.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, in progress, platform: sensor.fints, small-pr

#17216 Fixed Temperature for HMIP-WeatherStation Plus/Basic
  homeassistant/components/homematic/__init__.py
Labels: Hacktoberfest, cla-signed, component: homematic, in progress, small-pr

#17133 Rewrite opentherm_gw to a component
  .coveragerc
  homeassistant/components/climate/opentherm_gw.py
  homeassistant/components/opentherm_gw.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, component: opentherm_gw, in progress, new-platform, platform: climate.opentherm_gw

#17285 Fix Samsung timeout bug
  homeassistant/components/media_player/samsungtv.py
Labels: Hacktoberfest, cla-signed, in progress, platform: media_player.samsungtv, small-pr

#17292 Upgrade shodan to 1.10.4
  homeassistant/components/sensor/shodan.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.shodan, small-pr

#17294 Upgrade locationsharinglib to 3.0.6
  homeassistant/components/device_tracker/google_maps.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#17297 Add valve level to HmIP thermostat attributes
  homeassistant/components/homematic/__init__.py
Labels: cla-signed, component: homematic, in progress, small-pr

#17225 Make rmvtransport async
  homeassistant/components/sensor/rmvtransport.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/sensor/test_rmvtransport.py
Labels: Hacktoberfest, cla-signed, in progress, platform: sensor.rmvtransport

#17290 Added resolve_state to template distance function
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: cla-signed, core, in progress

#16562 Xiaomi Vacuum: keep error state active after erroring
  homeassistant/components/vacuum/xiaomi_miio.py
Labels: cla-signed, in progress, platform: vacuum.xiaomi_miio, small-pr

#15364 Narrow scope of various pylint inline disables
  homeassistant/components/apcupsd.py
  homeassistant/components/calendar/google.py
  homeassistant/components/climate/eq3btsmart.py
  homeassistant/components/cover/zwave.py
  homeassistant/components/device_tracker/fritz.py
  homeassistant/components/device_tracker/unifi_direct.py
  homeassistant/components/graphite.py
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homematic/__init__.py
  homeassistant/components/image_processing/dlib_face_detect.py
  homeassistant/components/keyboard.py
  homeassistant/components/keyboard_remote.py
  homeassistant/components/light/homekit_controller.py
  homeassistant/components/media_player/sonos.py
  homeassistant/components/raspihats.py
  homeassistant/components/rpi_gpio.py
  homeassistant/components/scsgate.py
  homeassistant/components/sensor/bh1750.py
  homeassistant/components/sensor/bme280.py
  homeassistant/components/sensor/bme680.py
  homeassistant/components/sensor/dht.py
  homeassistant/components/sensor/eddystone_temperature.py
  homeassistant/components/sensor/filter.py
  homeassistant/components/sensor/fritzbox_callmonitor.py
  homeassistant/components/sensor/htu21d.py
  homeassistant/components/switch/homekit_controller.py
  homeassistant/components/tts/amazon_polly.py
  homeassistant/components/updater.py
  homeassistant/monkey_patch.py
  homeassistant/util/async_.py
Labels: cla-signed, in progress

#17306 Fix and clean haveibeenpwned
  homeassistant/components/sensor/haveibeenpwned.py
Labels: Hacktoberfest, Ready for review, cla-signed, platform: sensor.haveibeenpwned, small-pr

#17276 Template sensors to not track all state changes
  homeassistant/components/sensor/template.py
  tests/components/sensor/test_template.py
Labels: Hacktoberfest, breaking change, cla-signed, in progress, platform: sensor.template

#17275 Fix hassio discovery
  homeassistant/components/hassio/discovery.py
  tests/components/hassio/conftest.py
  tests/components/hassio/test_discovery.py
Labels: Hacktoberfest, cla-signed, component: hassio, core, in progress

#17268 WIP: Don't set initial values for MQTT HVAC in non-optimistic mode
  homeassistant/components/climate/mqtt.py
  tests/components/climate/test_mqtt.py
Labels: Hacktoberfest, cla-signed, in progress, platform: climate.mqtt, small-pr

#17241 Yamaha AVR update and change Sound Mode only on main_zone
  homeassistant/components/media_player/yamaha.py
Labels: Hacktoberfest, cla-signed, in progress, platform: media_player.yamaha, small-pr

#17274 Hassio auth
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/auth.py
  tests/components/hassio/test_auth.py
Labels: Hacktoberfest, cla-signed, component: hassio, core, in progress, new-platform

#17309 ABC config entries
  homeassistant/config_entries.py
Labels: cla-signed, core, in progress, small-pr

#17308 Add direction configuration for RMVtransport component
  homeassistant/components/sensor/rmvtransport.py
Labels: cla-signed, in progress, platform: sensor.rmvtransport, small-pr
