Repository home-assistant/core, pull requests merged in 2018-06, with the labels that each got.

#14717 Upgrade shodan to 1.8.0
  homeassistant/components/sensor/shodan.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.shodan, small-pr

#14736 Bump pyatv to 0.3.10
  homeassistant/components/apple_tv.py
  requirements_all.txt
Labels: cla-signed, component: apple_tv, small-pr

#14679 Homekit Thermostat: Better support for temperature ranges
  homeassistant/components/homekit/type_thermostats.py
  tests/components/homekit/test_type_thermostats.py
Labels: cla-signed, component: homekit, small-pr

#14708 Custom panel
  homeassistant/components/panel_custom.py
  tests/components/test_panel_custom.py
Labels: cla-signed, component: panel_custom

#14724 Disallow automation.trigger without entity_id
  homeassistant/components/automation/__init__.py
  tests/components/automation/test_init.py
Labels: breaking change, cla-signed, component: automation, core, small-pr

#14656 Change nest to cloud push
  homeassistant/components/binary_sensor/nest.py
  homeassistant/components/climate/nest.py
  homeassistant/components/nest.py
  homeassistant/components/sensor/nest.py
  requirements_all.txt
Labels: cla-signed, component: nest, new-feature, platform: binary_sensor.nest, platform: climate.nest, platform: sensor.nest

#14628 Add support for outlets in HomeKit
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_switches.py
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_type_switches.py
  tests/components/homekit/test_util.py
Labels: cla-signed, component: homekit, new-feature

#14735 Add battery attribute to Sensibo
  homeassistant/components/climate/sensibo.py
Labels: cla-signed, platform: climate.sensibo, small-pr

#14742 Update syntax
  homeassistant/components/counter/__init__.py
Labels: cla-signed, component: counter, core, small-pr

#14738 Upgrade blockchain to 1.4.4
  homeassistant/components/sensor/bitcoin.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.bitcoin, small-pr

#14750 Upgrade directpy to 0.5
  homeassistant/components/media_player/directv.py
  requirements_all.txt
Labels: cla-signed, platform: media_player.directv, small-pr

#14767 Update syntax of platform random
  homeassistant/components/binary_sensor/random.py
  homeassistant/components/sensor/random.py
Labels: cla-signed, platform: binary_sensor.random, platform: sensor.random, small-pr

#14769 Upgrade postnl_api to 1.0.2
  homeassistant/components/sensor/postnl.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.postnl, small-pr

#14762 Remove swagger file
  docs/swagger.yaml
Labels: cla-signed, small-pr

#14771 Update syntax
  homeassistant/components/sensor/version.py
Labels: cla-signed, platform: sensor.version, small-pr

#14768 Update syntax
  homeassistant/components/sensor/worldclock.py
Labels: cla-signed, platform: sensor.worldclock, small-pr

#14770 Update syntax
  homeassistant/components/sensor/uptime.py
Labels: cla-signed, platform: sensor.uptime, small-pr

#14764 Upgrade Sphinx to 1.7.5
  requirements_docs.txt
Labels: cla-signed, small-pr

#14763 Upgrade youtube_dl to 2018.06.02
  homeassistant/components/media_extractor.py
  requirements_all.txt
Labels: cla-signed, component: media_extractor, small-pr

#14765 Upgrade sqlalchemy to 1.2.8
  homeassistant/components/recorder/__init__.py
  homeassistant/components/sensor/sql.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, component: recorder, core, small-pr

#14760 Upgrade shodan to 1.8.1
  homeassistant/components/sensor/shodan.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.shodan, small-pr

#14772 Update syntax
  homeassistant/components/sensor/simulated.py
Labels: cla-signed, platform: sensor.simulated, small-pr

#14746 Assign device class to nest sensors
  homeassistant/components/binary_sensor/nest.py
  homeassistant/components/nest.py
  homeassistant/components/sensor/nest.py
Labels: cla-signed, component: nest, platform: binary_sensor.nest, platform: sensor.nest

#14785 Ignore the mistaken long_click event of the 86sw (Closes: #14694)
  homeassistant/components/binary_sensor/xiaomi_aqara.py
Labels: cla-signed, platform: binary_sensor.xiaomi_aqara, small-pr

#14778 Update total-connect-client to 0.18 for Honeywell Lynx Touch-Wifi support
  homeassistant/components/alarm_control_panel/totalconnect.py
  requirements_all.txt
Labels: cla-signed, platform: alarm_control_panel.totalconnect, small-pr

#14791 Fix media_title empty when title is empty but label is set
  homeassistant/components/media_player/kodi.py
Labels: cla-signed, platform: media_player.kodi, small-pr

#14720 Add homematicip_cloud illuminance sensor
  homeassistant/components/sensor/homematicip_cloud.py
Labels: cla-signed, platform: sensor.homematicip_cloud

#14716 Weather Platform - IPMA
  homeassistant/components/weather/ipma.py
  requirements_all.txt
  tests/components/weather/test_ipma.py
Labels: cla-signed, new-platform, platform: weather.ipma

#14799 Add additional 86sw model identifier of the LAN protocol V2
  homeassistant/components/binary_sensor/xiaomi_aqara.py
  homeassistant/components/xiaomi_aqara.py
  requirements_all.txt
Labels: cla-signed, component: xiaomi_aqara, platform: binary_sensor.xiaomi_aqara, small-pr

#14812 Update syntax
  homeassistant/components/sensor/moon.py
Labels: cla-signed, platform: sensor.moon, small-pr

#14809 Use pihole module to get data
  homeassistant/components/sensor/pi_hole.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.pi_hole

#14796 Bump python-miio version (Closes: #13749)
  homeassistant/components/device_tracker/xiaomi_miio.py
  homeassistant/components/fan/xiaomi_miio.py
  homeassistant/components/light/xiaomi_miio.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/sensor/xiaomi_miio.py
  homeassistant/components/switch/xiaomi_miio.py
  homeassistant/components/vacuum/xiaomi_miio.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, platform: fan.xiaomi_miio, platform: light.xiaomi_miio, platform: remote.xiaomi_miio, platform: sensor.xiaomi_miio, platform: switch.xiaomi_miio, platform: vacuum.xiaomi_miio, small-pr

#14185 Use hass iconset
  homeassistant/components/config/__init__.py
  homeassistant/components/hassio/__init__.py
  homeassistant/components/history.py
  homeassistant/components/logbook.py
Labels: cla-signed, component: config, component: frontend, component: hassio, component: history, component: logbook, core, small-pr

#14805 Further cleanup frontend
  homeassistant/components/frontend/__init__.py
  homeassistant/components/frontend/www_static/images/logo_tellduslive.png
  tests/components/test_frontend.py
Labels: breaking change, cla-signed, component: frontend, core

#14824 netatmo api is now in pip as pyatmo
  homeassistant/components/binary_sensor/netatmo.py
  homeassistant/components/camera/netatmo.py
  homeassistant/components/climate/netatmo.py
  homeassistant/components/netatmo.py
  homeassistant/components/sensor/netatmo.py
  requirements_all.txt
Labels: cla-error, cla-signed, component: netatmo, platform: binary_sensor.netatmo, platform: camera.netatmo, platform: climate.netatmo, platform: sensor.netatmo, small-pr

#14815 Action parameter doesn't longer have to be the first parameter
  homeassistant/components/binary_sensor/mystrom.py
Labels: cla-signed, platform: binary_sensor.mystrom, small-pr

#14829 Fixes an issue in Xiaomi TV platform that would some TVs not sleep correctly
  homeassistant/components/media_player/xiaomi_tv.py
  requirements_all.txt
Labels: cla-signed, platform: media_player.xiaomi_tv, small-pr

#14789 Improved Fritz!Box thermostat support
  .coveragerc
  homeassistant/components/climate/fritzbox.py
  tests/components/climate/test_fritzbox.py
Labels: cla-signed, platform: climate.fritzbox

#12727 Add Freebox device tracker
  .coveragerc
  homeassistant/components/device_tracker/freebox.py
  homeassistant/components/discovery.py
  requirements_all.txt
Labels: cla-signed, component: discovery, new-platform, platform: device_tracker.freebox

#14831 Limit to 3 decimals (fixes #14773)
  homeassistant/components/sensor/simulated.py
  tests/components/sensor/test_simulated.py
Labels: cla-signed, platform: sensor.simulated, small-pr

#14830 Migrate entity registry to using websocket
  homeassistant/components/config/entity_registry.py
  tests/components/config/test_entity_registry.py
Labels: cla-signed, component: config, in progress

#14828 Frontend websocket
  homeassistant/components/frontend/__init__.py
  homeassistant/components/websocket_api.py
  tests/components/test_frontend.py
  tests/components/test_websocket_api.py
Labels: cla-signed, component: frontend, component: websocket_api, core

#14833 Feature/gearbest library update
  homeassistant/components/sensor/gearbest.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.gearbest, small-pr

#14808 Ignore the mistaken long_both_click event of the 86sw (Closes: #14802)
  homeassistant/components/binary_sensor/xiaomi_aqara.py
Labels: cla-signed, platform: binary_sensor.xiaomi_aqara, small-pr

#14854 Fix non awaited test
  tests/components/test_init.py
Labels: cla-signed, in progress, small-pr

#14852 Update Hue flow title
  homeassistant/components/hue/strings.json
Labels: cla-signed, component: hue, in progress, small-pr

#14858 Upgrade Mastodon.py to 1.3.0
  homeassistant/components/notify/mastodon.py
  requirements_all.txt
Labels: cla-signed, in progress

#14848 Improvements to LIFX reliability
  homeassistant/components/light/lifx.py
  requirements_all.txt
Labels: cla-signed, platform: light.lifx, small-pr

#14729 Add general sound mode support
  homeassistant/components/media_player/__init__.py
  homeassistant/components/media_player/demo.py
  homeassistant/components/media_player/services.yaml
Labels: cla-signed, component: media_player, core

#13664 Add IBM Watson IoT Platform component
  .coveragerc
  homeassistant/components/watson_iot.py
  requirements_all.txt
Labels: Ready for review, cla-signed, component: watson_iot, new-platform

#14766 Upgrade aiohttp to 3.3.0
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: cla-signed, core, small-pr

#14690 Add min_temp and max_temp to MQTT climate device
  homeassistant/components/climate/mqtt.py
  tests/components/climate/test_mqtt.py
Labels: Ready for review, cla-signed, platform: climate.mqtt

#14851 Store config entry id in entity registry
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/entity_registry.py
  tests/helpers/test_entity_platform.py
  tests/helpers/test_entity_registry.py
Labels: cla-signed, core, in progress

#14853 Don't run unnecessary methods in executor pool
  homeassistant/components/axis.py
  homeassistant/components/binary_sensor/vera.py
  homeassistant/components/binary_sensor/verisure.py
  homeassistant/components/climate/vera.py
  homeassistant/components/cover/vera.py
  homeassistant/components/light/vera.py
  homeassistant/components/lock/vera.py
  homeassistant/components/sensor/vera.py
  homeassistant/components/sensor/verisure.py
  homeassistant/components/switch/vera.py
  homeassistant/components/switch/verisure.py
  homeassistant/components/vera.py
  homeassistant/helpers/entity.py
Labels: cla-signed, core, in progress, small-pr

#13495 Wireless tags platform
  .coveragerc
  homeassistant/components/binary_sensor/wirelesstag.py
  homeassistant/components/sensor/wirelesstag.py
  homeassistant/components/switch/wirelesstag.py
  homeassistant/components/wirelesstag.py
  requirements_all.txt
Labels: cla-signed, component: wirelesstag, new-platform, platform: binary_sensor.wirelesstag, platform: sensor.wirelesstag, platform: switch.wirelesstag

#14777 Fix door/window sensor support of the Xiaomi Aqara LAN protocol V2
  homeassistant/components/binary_sensor/xiaomi_aqara.py
Labels: cla-signed, platform: binary_sensor.xiaomi_aqara, small-pr

#14756 Handle "step_with_on_off" cluster command in LevelListener
  homeassistant/components/binary_sensor/zha.py
Labels: cla-signed, platform: binary_sensor.zha, small-pr

#14747 Rename Hive hub friendly name
  homeassistant/components/sensor/hive.py
Labels: breaking change, cla-signed, platform: sensor.hive, small-pr

#14703 Add set_default_level to logger
  homeassistant/components/logger.py
  homeassistant/components/services.yaml
  tests/components/test_logger.py
Labels: cla-signed, component: logger, docs-missing, enhancement, small-pr

#14449 Zone - Hass configuration name is optional
  homeassistant/components/zone/__init__.py
  tests/components/zone/test_init.py
Labels: cla-signed, component: zone, core, small-pr

#14730 Fix unit conversion
  homeassistant/components/climate/generic_thermostat.py
  homeassistant/components/climate/sensibo.py
  homeassistant/components/climate/tado.py
Labels: cla-signed, in progress, platform: climate.generic_thermostat, platform: climate.sensibo, platform: climate.tado

#14863 Disable volume control for Onkyo when unavailable
  homeassistant/components/media_player/onkyo.py
Labels: cla-signed, in progress, platform: media_player.onkyo

#14687 Add netgear_lte component
  .coveragerc
  homeassistant/components/netgear_lte.py
  homeassistant/components/notify/netgear_lte.py
  homeassistant/components/sensor/netgear_lte.py
  requirements_all.txt
Labels: cla-signed, component: netgear_lte, component: notify, core, in progress, new-platform, platform: sensor.netgear_lte

#14873 Migrate Hass.io panel to be powered by panel_custom
  homeassistant/components/hassio/__init__.py
  homeassistant/components/panel_custom.py
Labels: almost-done, cla-signed, component: hassio, component: panel_custom, core, in progress

#14884 Entry to enable Qubino ZMHTDx smart meter switches
  homeassistant/components/zwave/discovery_schemas.py
Labels: bug, cla-signed, component: zwave, in progress

#14885 Add missing mapping of RotaryHandleSensorIP states
  homeassistant/components/sensor/homematic.py
Labels: breaking change, cla-signed, in progress, platform: sensor.homematic

#14895 Add entity registry support to media_player.snapcast
  homeassistant/components/media_player/snapcast.py
Labels: cla-signed, in progress, platform: media_player.snapcast

#14898 Allow different identifiers for the CPU temperature (fixes #10104)
  homeassistant/components/sensor/glances.py
Labels: cla-signed, in progress, platform: sensor.glances

#14631 Add Uptime Robot sensor
  .coveragerc
  homeassistant/components/binary_sensor/uptimerobot.py
  requirements_all.txt
Labels: almost-done, cla-signed, in progress, new-platform, platform: sensor.uptimerobot

#14905 Upgrade python_opendata_transport to 0.1.3
  homeassistant/components/sensor/swiss_public_transport.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.swiss_public_transport

#14892 Upgrade psutil to 5.4.6
  homeassistant/components/sensor/systemmonitor.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.systemmonitor

#14891 Upgrade sendgrid to 5.4.0
  homeassistant/components/notify/sendgrid.py
  requirements_all.txt
Labels: cla-signed, component: notify, core, in progress

#14889 Upgrade python-mystrom to 0.4.4
  homeassistant/components/light/mystrom.py
  homeassistant/components/switch/mystrom.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: light.mystrom, platform: switch.mystrom

#14888 Upgrade pylast to 2.3.0
  homeassistant/components/sensor/lastfm.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.lastfm

#14875 Added daily and hourly modes to Openweathermap
  homeassistant/components/weather/openweathermap.py
Labels: cla-signed, in progress, platform: weather.openweathermap

#14907 Bump to denonavr 0.7.3
  homeassistant/components/media_player/denonavr.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.denonavr

#14896 Add api_host option to Konnected config
  homeassistant/components/konnected.py
Labels: cla-signed, component: konnected, in progress

#14275 Add support for the Unitymedia Horizon HD Recorder
  .coveragerc
  homeassistant/components/media_player/horizon.py
  requirements_all.txt
Labels: almost-done, cla-signed, in progress, new-platform, platform: media_player.horizon

#13994 Add support for multiple Doorbird stations
  homeassistant/components/camera/doorbird.py
  homeassistant/components/doorbird.py
  homeassistant/components/switch/doorbird.py
Labels: breaking change, cla-signed, component: doorbird, platform: camera.doorbird, platform: switch.doorbird

#14923 Update mqtt_eventstream.py
  homeassistant/components/mqtt_eventstream.py
Labels: cla-signed, component: mqtt_eventstream, in progress

#14901 Upgrade python-nest, add security_state sensor, nest.set_mode service set ETA as well
  homeassistant/components/nest.py
  homeassistant/components/sensor/nest.py
  homeassistant/components/services.yaml
  requirements_all.txt
Labels: almost-done, cla-signed, component: nest, in progress, platform: sensor.nest

#14900 Increase test coverage for samsungtv component
  tests/components/media_player/test_samsungtv.py
Labels: cla-signed, in progress

#14823 Refactored Arlo component and enhanced Arlo API queries and times
  homeassistant/components/alarm_control_panel/arlo.py
  homeassistant/components/arlo.py
  homeassistant/components/camera/arlo.py
  homeassistant/components/sensor/arlo.py
  requirements_all.txt
Labels: cla-signed, component: arlo, in progress, platform: alarm_control_panel.arlo, platform: camera.arlo, platform: sensor.arlo

#14938 Use cv.time_period instead of cv.time_period_str
  homeassistant/components/nest.py
Labels: cla-signed, component: nest, in progress

#14485 Add support for KIWI Door Locks
  .coveragerc
  homeassistant/components/lock/kiwi.py
  requirements_all.txt
Labels: cla-signed, in progress, new-platform, platform: lock.kiwi

#14925 Fix snapcast uuid to be more unique
  homeassistant/components/media_player/snapcast.py
Labels: cla-signed, in progress, platform: media_player.snapcast

#14887 pytradfri 5.5.1: Improved 3rd party bulb support
  homeassistant/components/light/tradfri.py
  homeassistant/components/tradfri.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/light/test_tradfri.py
Labels: cla-signed, component: tradfri, in progress, platform: light.tradfri

#14841 Epson projector support
  .coveragerc
  homeassistant/components/media_player/epson.py
  homeassistant/components/media_player/services.yaml
  requirements_all.txt
Labels: cla-signed, in progress, new-platform, platform: media_player.epson

#14945 Add scan_interval to RainMachine
  homeassistant/components/rainmachine/__init__.py
Labels: cla-signed, component: rainmachine, in progress

#14947 Myq update from 0.0.8 to 0.0.11
  homeassistant/components/cover/myq.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: cover.myq

#14916 Upgrade pylint to 1.9.2
  homeassistant/components/homekit_controller/__init__.py
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, in progress

#14894 Update python-wink to 1.8.0
  homeassistant/components/wink/__init__.py
  requirements_all.txt
Labels: cla-signed, component: wink, in progress

#14929 Add unique_id for mqtt binary sensor
  homeassistant/components/binary_sensor/mqtt.py
  tests/components/binary_sensor/test_mqtt.py
Labels: cla-signed, in progress, platform: binary_sensor.mqtt

#14944 Make Yi platform async
  homeassistant/components/camera/yi.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: camera.yi

#14921 Nest config flow
  .coveragerc
  homeassistant/components/binary_sensor/nest.py
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/nest.py
  homeassistant/components/climate/__init__.py
  homeassistant/components/climate/nest.py
  homeassistant/components/nest/.translations/en.json
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/config_flow.py
  homeassistant/components/nest/const.py
  homeassistant/components/nest/local_auth.py
  homeassistant/components/nest/strings.json
  homeassistant/components/sensor/nest.py
  homeassistant/config_entries.py
  homeassistant/data_entry_flow.py
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/config/test_config_entries.py
  tests/components/nest/__init__.py
  tests/components/nest/test_config_flow.py
  tests/components/nest/test_local_auth.py
Labels: cla-signed, component: nest, core, in progress

#14951 Fix Facebox face data parsing
  homeassistant/components/image_processing/facebox.py
  tests/components/image_processing/test_facebox.py
Labels: cla-signed, in progress, platform: image_processing.facebox

#14757 Add sensor.nsw_fuel_station component
  .coveragerc
  CODEOWNERS
  homeassistant/components/sensor/nsw_fuel_station.py
  requirements_all.txt
  tests/components/sensor/test_nsw_fuel_station.py
Labels: almost-done, cla-signed, in progress, new-platform, platform: sensor.nsw_fuel_station

#14943 Make AirVisual platform async + other adjustments
  homeassistant/components/sensor/airvisual.py
  requirements_all.txt
Labels: breaking change, cla-signed, in progress, platform: sensor.airvisual

#14552 Add support for ZhongHong HVAC Controllers
  .coveragerc
  homeassistant/components/climate/zhong_hong.py
  requirements_all.txt
Labels: almost-done, cla-signed, in progress, new-platform, platform: climate.zhong_hong

#14959 Fix tests
  requirements_test.txt
  requirements_test_all.txt
  tests/components/test_feedreader.py
Labels: cla-signed, in progress, small-pr

#14038 Add relative time option to simulated sensors
  homeassistant/components/sensor/simulated.py
  tests/components/sensor/test_simulated.py
Labels: cla-signed, in progress, platform: sensor.simulated, small-pr

#14955 Add config entry for Sonos + Cast
  .coveragerc
  homeassistant/components/cast/.translations/en.json
  homeassistant/components/cast/__init__.py
  homeassistant/components/cast/strings.json
  homeassistant/components/discovery.py
  homeassistant/components/media_player/__init__.py
  homeassistant/components/media_player/cast.py
  homeassistant/components/media_player/sonos.py
  homeassistant/components/sonos/.translations/en.json
  homeassistant/components/sonos/__init__.py
  homeassistant/components/sonos/strings.json
  homeassistant/config_entries.py
  homeassistant/helpers/config_entry_flow.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cast/__init__.py
  tests/components/cast/test_init.py
  tests/components/sonos/__init__.py
  tests/components/sonos/test_init.py
  tests/helpers/test_config_entry_flow.py
Labels: cla-signed, component: discovery, component: media_player, component: sonos, core, in progress, platform: media_player.sonos

#14883 Fix smappee component - "Error on device update"
  homeassistant/components/sensor/smappee.py
Labels: cla-signed, in progress, platform: sensor.smappee

#14969 Adhere to scan_interval in platforms when setup via config entry
  homeassistant/helpers/entity_component.py
  tests/common.py
  tests/helpers/test_entity_component.py
Labels: cla-signed, core, in progress, small-pr

#14702 Add Calendar API endpoint to get events
  homeassistant/components/calendar/__init__.py
  homeassistant/components/calendar/caldav.py
  homeassistant/components/calendar/demo.py
  homeassistant/components/calendar/google.py
  homeassistant/components/calendar/todoist.py
  tests/components/calendar/test_caldav.py
  tests/components/calendar/test_demo.py
  tests/components/calendar/test_google.py
Labels: almost-done, cla-signed, component: calendar, in progress, platform: calendar.caldav

#14973 Add calendar panel, add tests
  homeassistant/components/calendar/__init__.py
  homeassistant/components/calendar/demo.py
  tests/components/calendar/test_demo.py
  tests/components/calendar/test_init.py
Labels: cla-signed, component: calendar, in progress, platform: calendar.demo

#14244 Xiaomi Cameras - multiple models
  .coveragerc
  homeassistant/components/camera/xiaomi.py
Labels: cla-signed, in progress, new-platform, platform: camera.xiaofang

#14927 Fix Skybell binary sensor state update
  homeassistant/components/binary_sensor/skybell.py
Labels: Ready for review, cla-signed, in progress, platform: binary_sensor.skybell, platform: sensor.skybell, small-pr

#14704 Deconz make groups configurable
  homeassistant/components/deconz/.translations/en.json
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/strings.json
  homeassistant/components/light/deconz.py
  tests/components/deconz/test_config_flow.py
  tests/components/light/test_deconz.py
Labels: Ready for review, cla-signed, component: deconz, platform: light.deconz

#14970 Show notification when user configures Nest client_id/secret
  homeassistant/components/hue/__init__.py
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/config_flow.py
  homeassistant/config_entries.py
  homeassistant/data_entry_flow.py
  tests/components/nest/test_config_flow.py
Labels: cla-signed, component: hue, component: nest, core, in progress

#14975 Return ISO formated datetime in forecast
  homeassistant/components/weather/ecobee.py
Labels: cla-signed, in progress, platform: weather.ecobee, small-pr

#14984 Upgrade ring_doorbell to 0.2.1 to fix oauth issues
  homeassistant/components/ring.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/binary_sensor/test_ring.py
  tests/components/sensor/test_ring.py
  tests/components/test_ring.py
  tests/fixtures/ring_oauth.json
Labels: cla-signed, component: ring, in progress, small-pr

#14980 Fix extended package support
  homeassistant/config.py
  tests/test_config.py
Labels: bug, cla-signed, core, in progress

#14987 Upgraded PyArlo to 0.1.7
  homeassistant/components/arlo.py
  requirements_all.txt
Labels: cla-signed, component: arlo, in progress, small-pr

#14988 Upgraded python-amcrest to 1.2.3
  homeassistant/components/amcrest.py
  requirements_all.txt
Labels: cla-signed, component: amcrest, in progress, small-pr

#14986 Upgraded RainCloudy to version 0.0.5
  homeassistant/components/raincloud.py
  requirements_all.txt
Labels: cla-signed, component: raincloud, in progress, small-pr

#14993 Do not mount deps folder when running in virtual env
  homeassistant/bootstrap.py
  homeassistant/scripts/__init__.py
  homeassistant/util/package.py
  tests/test_bootstrap.py
  tests/util/test_package.py
Labels: cla-signed, core, in progress, small-pr

#14990 Refactoring camera component to use async/await syntax.
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/demo.py
Labels: cla-signed, component: camera, core, in progress, platform: camera.demo

#15001 Bump pyhs100 version to fix tplink hs110 emeter
  homeassistant/components/light/tplink.py
  homeassistant/components/switch/tplink.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: light.tplink, platform: switch.tplink, small-pr

#14997 Switch to own packaged version of spotipy
  homeassistant/components/media_player/spotify.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.spotify, small-pr

#14996 Remove load power attribute for channel USB
  homeassistant/components/switch/xiaomi_miio.py
Labels: cla-signed, in progress, platform: switch.xiaomi_miio, small-pr

#15002 Add experimental UI backend
  homeassistant/components/frontend/__init__.py
  tests/components/test_frontend.py
Labels: cla-signed, component: frontend, core, in progress

#14934 Add entity support to Waze Travel Time
  homeassistant/components/sensor/waze_travel_time.py
Labels: cla-signed, in progress, platform: sensor.waze_travel_time

#15011 Switch to own packaged version of anel_pwrctrl
  homeassistant/components/switch/anel_pwrctrl.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: switch.anel_pwrctrl, small-pr

#15009 Switch to own packaged version of braviarc
  homeassistant/components/media_player/braviatv.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.braviatv, small-pr

#14793 HomeKit style clean up
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/type_fans.py
  homeassistant/components/homekit/type_security_systems.py
  homeassistant/components/homekit/type_switches.py
  tests/components/homekit/test_accessories.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_type_covers.py
  tests/components/homekit/test_type_fans.py
  tests/components/homekit/test_type_lights.py
  tests/components/homekit/test_type_media_players.py
  tests/components/homekit/test_type_sensors.py
  tests/components/homekit/test_type_switches.py
  tests/components/homekit/test_type_thermostats.py
  tests/components/homekit/test_util.py
Labels: cla-signed, component: homekit, in progress

#15016 Upgrade netdisco to 1.5.0
  homeassistant/components/discovery.py
  requirements_all.txt
Labels: cla-signed, component: discovery, in progress, small-pr

#15014 Update hole to 0.3.0
  homeassistant/components/sensor/pi_hole.py
  requirements_all.txt
Labels: breaking change, cla-signed, in progress, platform: sensor.pi_hole, small-pr

#15015 Upgrade numpy to 1.14.5
  homeassistant/components/binary_sensor/trend.py
  homeassistant/components/image_processing/opencv.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, platform: binary_sensor.trend, platform: image_processing.opencv, small-pr

#15013 Upgrade youtube_dl to 2018.06.14
  homeassistant/components/media_extractor.py
  requirements_all.txt
Labels: cla-signed, component: media_extractor, in progress, small-pr

#15006 Switch nuimo to a hopefully working pypi version
  homeassistant/components/nuimo_controller.py
  requirements_all.txt
Labels: cla-signed, component: nuimo_controller, in progress, small-pr

#15018 Remove typing
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: cla-signed, core, in progress, small-pr

#15024 Fix panel URL authentication for Hass.io
  homeassistant/components/hassio/http.py
  tests/components/hassio/test_http.py
Labels: cla-signed, component: hassio, core, in progress, small-pr

#14288 Add support for Homekit battery service
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  homeassistant/const.py
  tests/components/homekit/test_accessories.py
Labels: cla-signed, component: homekit, in progress

#15032 Make zone entries work without radius
  homeassistant/components/zone/__init__.py
  tests/components/zone/test_init.py
Labels: cla-signed, component: zone, core, in progress, small-pr

#15023 Update PostNL unit of measure to align with UPS
  homeassistant/components/sensor/postnl.py
Labels: cla-signed, in progress, platform: sensor.postnl, small-pr

#14995 Expose Wemo component availability to home assistant
  homeassistant/components/light/wemo.py
Labels: almost-done, cla-signed, in progress, platform: light.wemo, small-pr

#14981 Improve volume support for Vizio Smartcast
  homeassistant/components/media_player/vizio.py
Labels: cla-signed, in progress, platform: media_player.vizio, small-pr

#15010 Fix linode I/O in state property
  homeassistant/components/binary_sensor/linode.py
  homeassistant/components/switch/linode.py
Labels: cla-signed, in progress, platform: binary_sensor.linode, platform: switch.linode, small-pr

#15035 Bugfix empty entity lists
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_entity_platform.py
Labels: cla-signed, core, in progress, small-pr

#15019 Upgrade requests to 2.19.1
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: cla-signed, core, in progress, small-pr

#15033 Show running apps as sources for Fire TV
  homeassistant/components/media_player/firetv.py
Labels: cla-signed, in progress, platform: media_player.firetv

#15046 Prevent Tradfri tests from doing I/O
  tests/components/light/test_tradfri.py
Labels: cla-signed, in progress, small-pr

#15050 Update link to docs
  homeassistant/components/sensor/loopenergy.py
Labels: cla-signed, in progress, platform: sensor.loopenergy, small-pr

#15038 Switch upstream adafruit package
  homeassistant/components/sensor/dht.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.dht, small-pr

#15041 Switch to own packaged version of pyflic
  homeassistant/components/binary_sensor/flic.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: binary_sensor.flic, small-pr

#15052 Update pywemo to version 0.4.28
  homeassistant/components/wemo.py
  requirements_all.txt
Labels: cla-signed, component: wemo, in progress, small-pr

#15060 Upgrade pyarlo to 0.1.8 to support Arlo Baby monitor
  homeassistant/components/arlo.py
  requirements_all.txt
Labels: cla-signed, component: arlo, in progress, small-pr

#15056 Upgraded librouteros version
  homeassistant/components/device_tracker/mikrotik.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#15048 Python wink update
  homeassistant/components/cover/wink.py
  homeassistant/components/wink/__init__.py
  requirements_all.txt
Labels: cla-signed, component: wink, in progress, platform: cover.wink, small-pr
