Repository home-assistant/core, pull requests merged in 2018-02, with the labels that each got.

#12149 miflora - fix for exception handling bug
  homeassistant/components/sensor/miflora.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.miflora, waiting-for-upstream

#12265 Update pyhomematic to 0.1.39
  homeassistant/components/homematic/__init__.py
  requirements_all.txt
Labels: cla-signed, component: homematic

#12260 Add Course Over Ground attribute to Owntracks
  homeassistant/components/device_tracker/owntracks.py
Labels: cla-signed, platform: device_tracker.owntracks

#12089 Fix for iTunes media player not updating artwork
  homeassistant/components/media_player/itunes.py
Labels: cla-signed, platform: media_player.itunes

#12124 Fix duplicate entity_ids in System Monitor
  homeassistant/components/sensor/systemmonitor.py
Labels: breaking change, cla-signed, platform: sensor.systemmonitor

#12259 One bug fix and one improvement to the statistics sensor.
  homeassistant/components/sensor/statistics.py
Labels: cla-signed, platform: sensor.statistics

#12262 device_tracker.asuswrt: Clean up unused connection param
  homeassistant/components/device_tracker/asuswrt.py
  tests/components/device_tracker/test_asuswrt.py
Labels: cla-signed, platform: device_tracker.asuswrt

#12247 allow wildcards in subscription
  homeassistant/components/device_tracker/mqtt.py
  homeassistant/components/device_tracker/mqtt_json.py
  tests/components/device_tracker/test_mqtt.py
  tests/components/device_tracker/test_mqtt_json.py
Labels: cla-signed, platform: device_tracker.mqtt

#12264 Fix some rfxtrx devices with multiple sensors
  homeassistant/components/sensor/rfxtrx.py
Labels: cla-signed, platform: sensor.rfxtrx

#12270 Retry keyset cloud
  homeassistant/components/cloud/__init__.py
  homeassistant/helpers/event.py
  tests/components/cloud/test_http_api.py
  tests/components/cloud/test_init.py
  tests/components/cloud/test_iot.py
  tests/helpers/test_event.py
Labels: cla-signed, component: cloud, core

#12275 Update limitlessled requirement to v1.0.9
  homeassistant/components/light/limitlessled.py
  requirements_all.txt
Labels: cla-error, cla-signed, platform: light.limitlessled, small-pr

#12279 have climate fallback to state if no ATTR_OPERATION_MODE (#12272)
  homeassistant/components/google_assistant/smart_home.py
Labels: cla-signed, component: google_assistant, core, small-pr

#12291 check_config script fix exit code
  homeassistant/scripts/check_config.py
  tests/scripts/test_check_config.py
Labels: cla-signed, core, small-pr

#12283 Attempt fixing flakiness of check config test
  homeassistant/scripts/check_config.py
  tests/scripts/test_check_config.py
Labels: cla-signed, small-pr

#12292 Allow overriding name via entity registry
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/entity_component.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/entity_registry.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
  tests/common.py
  tests/helpers/test_entity_platform.py
  tests/helpers/test_entity_registry.py
Labels: cla-signed, core

#12004 Fix MQTT retained message not being re-dispatched
  homeassistant/components/mqtt/__init__.py
  tests/common.py
  tests/components/alarm_control_panel/test_manual_mqtt.py
  tests/components/alarm_control_panel/test_mqtt.py
  tests/components/climate/test_mqtt.py
  tests/components/cover/test_mqtt.py
  tests/components/light/test_mqtt.py
  tests/components/light/test_mqtt_json.py
  tests/components/light/test_mqtt_template.py
  tests/components/lock/test_mqtt.py
  tests/components/mqtt/test_discovery.py
  tests/components/mqtt/test_init.py
  tests/components/switch/test_mqtt.py
  tests/components/vacuum/test_mqtt.py
  tests/conftest.py
Labels: cla-signed, component: mqtt, core

#12294 Fix Weblinks - FTP URL not allowed in 0.63
  homeassistant/components/weblink.py
  tests/components/test_weblink.py
Labels: cla-signed, component: weblink, small-pr

#12295 Fix Panel_IFrame - FTP URL not allowed in 0.63
  homeassistant/components/panel_iframe.py
  tests/components/test_panel_iframe.py
Labels: cla-signed, component: panel_iframe, small-pr

#12181 Move HassIntent handler code into helpers/intent
  homeassistant/components/__init__.py
  homeassistant/components/conversation.py
  homeassistant/helpers/intent.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/test_conversation.py
  tests/components/test_init.py
Labels: cla-signed, component: __init__, component: conversation, core

#12290 Migrated SABnzbd sensor to asyncio and switched to pypi library
  homeassistant/components/sensor/sabnzbd.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.sabnzbd

#12296 Fix test fixture encoding
  tests/common.py
Labels: cla-signed, small-pr

#12314 Fix Alexa Step Speaker Volume
  homeassistant/components/alexa/smart_home.py
  tests/components/alexa/test_smart_home.py
Labels: cla-signed, component: alexa, core, small-pr

#12307 Clarify Tahoma errors
  homeassistant/components/tahoma.py
Labels: cla-signed, component: tahoma, small-pr

#12268 add friendly_name_template to template sensor
  homeassistant/components/sensor/template.py
  homeassistant/const.py
  tests/components/sensor/test_template.py
Labels: cla-signed, core, platform: sensor.template, small-pr

#12271 Purge recorder data by default
  homeassistant/components/recorder/__init__.py
  homeassistant/components/recorder/purge.py
  homeassistant/components/recorder/services.yaml
  homeassistant/config.py
  tests/components/recorder/test_purge.py
Labels: cla-signed, component: recorder, core

#12316 Protect bloomsky platform setup
  homeassistant/components/binary_sensor/bloomsky.py
  homeassistant/components/camera/bloomsky.py
  homeassistant/components/sensor/bloomsky.py
Labels: cla-signed, platform: binary_sensor.bloomsky, platform: camera.bloomsky, platform: sensor.bloomsky, small-pr

#12252 Removed default sensor configuration
  homeassistant/components/sensor/alpha_vantage.py
Labels: breaking change, cla-signed, platform: sensor.alpha_vantage

#12323 zha: Update zigpy-xbee to 0.0.2
  homeassistant/components/zha/__init__.py
  requirements_all.txt
Labels: cla-signed, component: zha, small-pr

#12266 Force LF line endings for Windows
  .gitattributes
Labels: cla-signed

#12317 Remove unique ID from netatmo
  homeassistant/components/binary_sensor/netatmo.py
  homeassistant/components/camera/netatmo.py
  homeassistant/components/sensor/netatmo.py
  homeassistant/helpers/entity_platform.py
Labels: cla-signed, platform: binary_sensor.netatmo, platform: camera.netatmo, platform: sensor.netatmo, small-pr

#12315 Updated RainMachine to play better with the entity registry
  homeassistant/components/switch/rainmachine.py
Labels: breaking change, cla-signed, platform: switch.rainmachine

#12329 Revert #12316
  homeassistant/components/binary_sensor/bloomsky.py
  homeassistant/components/camera/bloomsky.py
  homeassistant/components/sensor/bloomsky.py
Labels: cla-signed, platform: binary_sensor.bloomsky, platform: camera.bloomsky, platform: sensor.bloomsky, small-pr

#11683 zha: Add remove service
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/services.yaml
Labels: cla-signed, component: zha

#12313 Respect entity namespace for entity registry
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_entity_platform.py
Labels: cla-signed, core

#12333 Fix line endings
  .gitattributes
  homeassistant/components/alarm_control_panel/services.yaml
  homeassistant/components/cover/services.yaml
  tests/components/light/test_mqtt_json.py
  tests/components/light/test_mqtt_template.py
  tests/fixtures/pushbullet_devices.json
  tests/fixtures/yahooweather.json
Labels: cla-signed

#12328 Always return lockState == LOCKED when handling Alexa.LockController
  homeassistant/components/alexa/smart_home.py
  tests/components/alexa/test_smart_home.py
Labels: cla-signed, component: alexa, core, small-pr

#12281 Unifi tracking filter by SSID
  homeassistant/components/device_tracker/unifi.py
  tests/components/device_tracker/test_unifi.py
Labels: cla-signed, platform: device_tracker.unifi

#12201 device_tracker.asuswrt: Ignore unreachable ip neigh entries
  homeassistant/components/device_tracker/asuswrt.py
  tests/components/device_tracker/test_asuswrt.py
Labels: cla-signed, platform: device_tracker.asuswrt

#12330 Platform dependencies
  homeassistant/setup.py
  tests/helpers/test_entity_component.py
Labels: cla-signed, core

#12322 nmap_tracker: don't scan on setup
  homeassistant/components/device_tracker/nmap_tracker.py
Labels: cla-signed, platform: device_tracker.nmap_tracker, small-pr

#12335 Upgrade Sphinx to 1.7.0
  requirements_docs.txt
Labels: cla-signed, small-pr

#12334 0.63.1
  homeassistant/components/alexa/smart_home.py
  homeassistant/components/binary_sensor/netatmo.py
  homeassistant/components/camera/netatmo.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/sensor/netatmo.py
  homeassistant/components/zha/__init__.py
  homeassistant/const.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/entity_component.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/entity_registry.py
  homeassistant/package_constraints.txt
  homeassistant/setup.py
  requirements_all.txt
  setup.py
  tests/common.py
  tests/components/alexa/test_smart_home.py
  tests/helpers/test_entity_component.py
  tests/helpers/test_entity_platform.py
  tests/helpers/test_entity_registry.py
Labels: cla-signed, component: alexa, component: zha, core, merging-to-master, platform: binary_sensor.netatmo, platform: camera.netatmo, platform: sensor.netatmo

#12347 Mock Module + Platform default to async
  tests/common.py
  tests/helpers/test_entity_platform.py
Labels: cla-signed, small-pr

#12344 Change Unifi SSID filtering to list comprehension
  homeassistant/components/device_tracker/unifi.py
Labels: cla-signed, platform: device_tracker.unifi, small-pr

#12348 Use the speedometer icon in the fastdotcom sensor
  homeassistant/components/sensor/fastdotcom.py
Labels: cla-signed, platform: sensor.fastdotcom, small-pr

#12343 Xiaomi MiIO Light: Communication reduced
  homeassistant/components/light/xiaomi_miio.py
Labels: cla-signed, platform: light.xiaomi_miio, small-pr

#12346 Fix WUnderground names
  homeassistant/components/sensor/wunderground.py
  tests/components/sensor/test_wunderground.py
Labels: cla-signed, platform: sensor.wunderground, small-pr

#12356 Add Start.ca ISP data usage sensor sensor
  homeassistant/components/sensor/startca.py
  requirements_all.txt
  tests/components/sensor/test_startca.py
Labels: cla-signed, new-platform, platform: sensor.startca

#12362 bump fedex version
  homeassistant/components/sensor/fedex.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.fedex, small-pr

#12352 Upgrade alpha_vantage to 1.9.0
  homeassistant/components/sensor/alpha_vantage.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.alpha_vantage, small-pr

#12342 Fix MercedesMe - add check for unsupported features
  homeassistant/components/binary_sensor/mercedesme.py
  homeassistant/components/device_tracker/mercedesme.py
  homeassistant/components/mercedesme.py
  homeassistant/components/sensor/mercedesme.py
Labels: cla-signed, component: mercedesme, platform: binary_sensor.mercedesme, platform: device_tracker.mercedesme, platform: sensor.mercedesme

#11555 Eq3btsmart more reliable
  homeassistant/components/climate/eq3btsmart.py
Labels: cla-signed, platform, platform: climate.eq3btsmart

#12368 Updated dependency: beacontools
  homeassistant/components/sensor/eddystone_temperature.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.eddystone_temperature, small-pr

#12360 Entity Registry: disable entities
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/entity_registry.py
  tests/helpers/test_entity_platform.py
  tests/helpers/test_entity_registry.py
Labels: cla-signed, core

#12370 Upgrade panasonic_viera to 0.3.1
  homeassistant/components/media_player/panasonic_viera.py
  requirements_all.txt
Labels: cla-signed, platform: media_player.panasonic_viera, small-pr

#12378 Specify algorithms for webpush jwt verification
  homeassistant/components/notify/html5.py
Labels: cla-signed, platform: notify.html5, small-pr

#12382 Introduce zone_id to identify player+zone
  homeassistant/components/media_player/yamaha.py
Labels: cla-signed, platform: media_player.yamaha, small-pr

#12383 Upgrade youtube_dl to 2018.02.11
  homeassistant/components/media_extractor.py
  requirements_all.txt
Labels: cla-signed, component: media_extractor, small-pr

#12379 Remove usage of deprecated assert method
  tests/components/climate/test_melissa.py
Labels: cla-signed, small-pr

#12377 Add attributes (fixes #12332)
  homeassistant/components/sensor/speedtest.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.speedtest

#12392 python-miio version bumped
  homeassistant/components/fan/xiaomi_miio.py
  homeassistant/components/light/xiaomi_miio.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/switch/xiaomi_miio.py
  homeassistant/components/vacuum/xiaomi_miio.py
  requirements_all.txt
Labels: cla-signed, platform: fan.xiaomi_miio, platform: light.xiaomi_miio, platform: remote.xiaomi_miio, platform: switch.xiaomi_miio, platform: vacuum.xiaomi_miio, small-pr

#11862 Improve service by allowing to reference entity id instead of deconz id
  homeassistant/components/binary_sensor/deconz.py
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/services.yaml
  homeassistant/components/light/deconz.py
  homeassistant/components/scene/deconz.py
  homeassistant/components/sensor/deconz.py
  requirements_all.txt
Labels: cla-signed, component: deconz, component: scene, core, platform: binary_sensor.deconz, platform: light.deconz, platform: sensor.deconz

#12361 Pollen.com: Entity Registry updates and cleanup
  homeassistant/components/sensor/pollen.py
Labels: cla-signed, platform: sensor.pollen, small-pr

#12391 Changed pyvera version to 0.2.41
  homeassistant/components/vera.py
  requirements_all.txt
Labels: cla-signed, component: vera, small-pr

#12403 Downgrade limitlessled to 1.0.8
  homeassistant/components/light/limitlessled.py
  requirements_all.txt
Labels: cla-signed, platform: light.limitlessled, small-pr

#12402 0.63.2
  homeassistant/components/binary_sensor/mercedesme.py
  homeassistant/components/device_tracker/mercedesme.py
  homeassistant/components/light/limitlessled.py
  homeassistant/components/media_player/yamaha.py
  homeassistant/components/mercedesme.py
  homeassistant/components/sensor/eddystone_temperature.py
  homeassistant/components/sensor/mercedesme.py
  homeassistant/components/sensor/wunderground.py
  homeassistant/const.py
  requirements_all.txt
  tests/components/sensor/test_wunderground.py
Labels: cla-signed, component: mercedesme, core, merging-to-master, platform: binary_sensor.mercedesme, platform: device_tracker.mercedesme, platform: media_player.yamaha, platform: sensor.eddystone_temperature, platform: sensor.mercedesme, platform: sensor.wunderground

#12338 File Path fixes for RPi Camera
  homeassistant/components/camera/rpi_camera.py
Labels: cla-signed, platform: camera.rpi_camera, small-pr

#12390 Code cleanup of velux scene
  homeassistant/components/scene/velux.py
  homeassistant/components/velux.py
Labels: cla-signed, component: scene, small-pr

#12404 Upgrade sphinx-autodoc-typehints to 1.2.5
  requirements_docs.txt
Labels: cla-signed, small-pr

#12401 Extract data validator to own file and add tests
  homeassistant/components/cloud/http_api.py
  homeassistant/components/conversation.py
  homeassistant/components/http/__init__.py
  homeassistant/components/http/data_validator.py
  homeassistant/components/http/util.py
  homeassistant/components/shopping_list.py
  tests/components/http/test_data_validator.py
Labels: cla-signed, component: cloud, component: conversation, component: http, component: shopping_list, core, new-platform

#12421 Fixed 3 small issues in isy994 component
  homeassistant/components/isy994.py
Labels: cla-signed, component: isy994, small-pr

#12420 Fix MQTT payload decode returning prematurely
  homeassistant/components/mqtt/__init__.py
  tests/components/mqtt/test_init.py
Labels: cla-signed, component: mqtt, core, small-pr

#12412 Script/lint: Print every changed file on new line
  script/lint
Labels: cla-signed, small-pr

#12411 Added support for colored KNX lights
  homeassistant/components/knx.py
  homeassistant/components/light/knx.py
  requirements_all.txt
Labels: cla-signed, component: knx, platform: light.knx, small-pr

#12409 Small code cleanup within scenes
  homeassistant/components/scene/litejet.py
  homeassistant/components/scene/lutron_caseta.py
  homeassistant/components/scene/vera.py
  homeassistant/components/scene/wink.py
Labels: cla-signed, component: scene, core, small-pr

#12408 Cleanup of KNX component
  homeassistant/components/binary_sensor/knx.py
  homeassistant/components/climate/knx.py
  homeassistant/components/cover/knx.py
  homeassistant/components/knx.py
  homeassistant/components/light/knx.py
  homeassistant/components/notify/knx.py
  homeassistant/components/sensor/knx.py
  homeassistant/components/switch/knx.py
Labels: cla-signed, component: knx, platform: binary_sensor.knx, platform: climate.knx, platform: cover.knx, platform: light.knx, platform: notify.knx, platform: sensor.knx, platform: switch.knx, small-pr

#12428 Update the Tibber sensor at startup
  homeassistant/components/sensor/tibber.py
Labels: cla-signed, platform: sensor.tibber, small-pr

#12331 zha: Add unique_id to entities
  homeassistant/components/zha/__init__.py
Labels: cla-signed, component: zha, small-pr

#12424 Cleanup http
  homeassistant/components/emulated_hue/__init__.py
  homeassistant/components/frontend/__init__.py
  homeassistant/components/http/__init__.py
  homeassistant/components/http/auth.py
  homeassistant/components/http/ban.py
  homeassistant/components/http/const.py
  homeassistant/components/http/cors.py
  homeassistant/components/http/real_ip.py
  homeassistant/components/http/util.py
  homeassistant/components/telegram_bot/webhooks.py
  tests/common.py
  tests/components/camera/test_uvc.py
  tests/components/config/test_hassbian.py
  tests/components/config/test_init.py
  tests/components/config/test_zwave.py
  tests/components/device_tracker/test_automatic.py
  tests/components/http/__init__.py
  tests/components/http/test_auth.py
  tests/components/http/test_ban.py
  tests/components/http/test_cors.py
  tests/components/http/test_init.py
  tests/components/http/test_real_ip.py
  tests/components/mqtt/test_server.py
  tests/components/notify/test_html5.py
  tests/components/test_history.py
  tests/components/test_logbook.py
  tests/components/test_shopping_list.py
  tests/components/test_websocket_api.py
Labels: cla-signed, component: frontend, component: http, core

#12440 Update CODEOWNERS
  CODEOWNERS
Labels: cla-signed, small-pr

#12432 Fix: timeout data attribute now is parsed to float
  homeassistant/components/telegram_bot/__init__.py
Labels: cla-signed, component: telegram_bot, small-pr

#12280 Stop mapping zigbee switches to lights & switches.
  homeassistant/components/zha/const.py
Labels: cla-signed, component: zha, small-pr

#12319 AirVisual: Entity Registry updates and cleanup
  homeassistant/components/sensor/airvisual.py
Labels: breaking change, cla-signed, platform: sensor.airvisual

#12448 Optimize recorder purge
  homeassistant/components/recorder/purge.py
Labels: cla-signed, component: recorder, core, small-pr

#12454 Vagrant - sendfile python3.5 debian-stretch
  virtualization/vagrant/Vagrantfile
  virtualization/vagrant/home-assistant@.service
  virtualization/vagrant/provision.sh
Labels: cla-signed, small-pr

#12365 Add effects to iGlo Lights
  homeassistant/components/light/iglo.py
  requirements_all.txt
Labels: cla-signed, platform: light.iglo, small-pr

#12446 Xiaomi Air Purifier: User experience improved
  homeassistant/components/fan/xiaomi_miio.py
Labels: cla-signed, platform: fan.xiaomi_miio, small-pr

#12447 Fix light template to return brightness as int
  homeassistant/components/light/template.py
  tests/components/light/test_template.py
Labels: Ready for review, cla-signed, platform: light.template, small-pr

#12445 Fix for contentRating error
  homeassistant/components/media_player/plex.py
Labels: cla-signed, platform: media_player.plex, small-pr

#12079 Initial support for Config Entries
  homeassistant/bootstrap.py
  homeassistant/components/config/__init__.py
  homeassistant/components/config/config_entries.py
  homeassistant/components/config_entry_example.py
  homeassistant/config_entries.py
  homeassistant/setup.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/common.py
  tests/components/binary_sensor/test_command_line.py
  tests/components/config/test_config_entries.py
  tests/components/sensor/test_command_line.py
  tests/components/test_config_entry_example.py
  tests/test_config_entries.py
Labels: cla-signed, core

#12385 Make WUnderground async
  homeassistant/components/sensor/wunderground.py
  tests/components/sensor/test_wunderground.py
  tests/fixtures/wunderground-error.json
  tests/fixtures/wunderground-invalid.json
  tests/fixtures/wunderground-valid.json
Labels: cla-signed, platform: sensor.wunderground

#12359 Add the Xiaomi TV platform.
  .coveragerc
  CODEOWNERS
  homeassistant/components/media_player/xiaomi_tv.py
  requirements_all.txt
Labels: cla-signed, new-platform, platform: media_player.xiaomi_tv

#12467 Map Alexa StepVolume responses to volume_up/down
  homeassistant/components/alexa/smart_home.py
  tests/components/alexa/test_smart_home.py
Labels: cla-signed, component: alexa, core, small-pr

#11129 ONVIF Camera added Error handling and rtsp authentication.
  homeassistant/components/camera/onvif.py
Labels: cla-signed, platform, platform: camera.onvif

#12480 Bump aioautomatic to 0.6.5 for voluptuous 0.11
  homeassistant/components/device_tracker/automatic.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, platform: device_tracker.automatic, small-pr

#12469 Add example in test how to create list or object in template
  tests/helpers/test_script.py
Labels: cla-signed, small-pr

#12477 KNX/Climate: Fixed platform schema min/max values.
  homeassistant/components/climate/knx.py
Labels: cla-signed, platform: climate.knx, small-pr

#12435 Reduce the load on met.no servers, yr.no sensor
  homeassistant/components/sensor/yr.py
Labels: cla-signed, platform: sensor.yr

#12484 0.63.3
  homeassistant/components/fan/xiaomi_miio.py
  homeassistant/components/isy994.py
  homeassistant/components/light/template.py
  homeassistant/components/light/xiaomi_miio.py
  homeassistant/components/media_player/plex.py
  homeassistant/components/recorder/purge.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/sensor/sql.py
  homeassistant/components/sensor/yr.py
  homeassistant/components/switch/xiaomi_miio.py
  homeassistant/components/vacuum/xiaomi_miio.py
  homeassistant/const.py
  requirements_all.txt
  tests/components/light/test_template.py
Labels: cla-signed

#12486 Prevent error when no internet or DNS is available
  homeassistant/components/sensor/buienradar.py
  homeassistant/components/weather/buienradar.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.buienradar, platform: weather.buienradar, small-pr

#12457 Added doorbird_last_motion to DoorBird camera platform
  homeassistant/components/camera/doorbird.py
Labels: cla-signed, platform: camera.doorbird, small-pr

#12451 Fail gracefully with unreachable LaMetric
  homeassistant/components/notify/lametric.py
Labels: cla-signed, platform: notify.lametric, small-pr

#11165 Enable compression when sending json to client
  homeassistant/components/http/__init__.py
Labels: cla-signed, component: http, core

#12465 bump usps version
  homeassistant/components/usps.py
  requirements_all.txt
Labels: breaking change, cla-signed, component: usps, small-pr

#12492 Try deflaking recorder tests
  homeassistant/components/recorder/__init__.py
Labels: cla-signed, component: recorder, core, small-pr

#11124 Support for August doorbell
  .coveragerc
  homeassistant/components/august.py
  homeassistant/components/binary_sensor/august.py
  homeassistant/components/camera/august.py
  homeassistant/components/lock/august.py
  requirements_all.txt
Labels: cla-signed, component: august, new-platform, platform: binary_sensor.august, platform: camera.august, platform: lock.august

#12494 Avoid warnings when purging an empty database
  homeassistant/components/recorder/purge.py
Labels: cla-signed, component: recorder, core, small-pr

#11630 Support for PTZ in Onvif cameras
  homeassistant/components/camera/onvif.py
  homeassistant/components/camera/services.yaml
Labels: cla-signed, core, platform: camera.onvif

#12126 Rework Sonos media player platform
  CODEOWNERS
  homeassistant/components/media_player/__init__.py
  homeassistant/components/media_player/sonos.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/media_player/test_sonos.py
Labels: cla-signed, platform: media_player.sonos

#12478 Converted shopping list to use json util and added default override for json util
  homeassistant/components/shopping_list.py
  homeassistant/util/json.py
Labels: cla-signed, component: shopping_list, core, small-pr

#11491 added smappee component
  .coveragerc
  homeassistant/components/sensor/smappee.py
  homeassistant/components/smappee.py
  homeassistant/components/switch/smappee.py
  requirements_all.txt
Labels: cla-signed, component, component: smappee, new-platform, platform, platform: sensor.smappee, platform: switch.smappee, requirement

#11450 More features for the Bluesound component
  homeassistant/components/media_player/bluesound.py
  homeassistant/components/media_player/services.yaml
Labels: cla-signed, platform, platform: media_player.bluesound

#12495 zha: Simplify unique ID
  homeassistant/components/zha/__init__.py
Labels: cla-signed, component: zha, small-pr

#12496 zha: Add support for humidity sensors
  homeassistant/components/sensor/zha.py
  homeassistant/components/zha/const.py
Labels: cla-signed, component: zha, platform: sensor.zha, small-pr

#12510 bump python-eq3bt version, fixes #12499
  homeassistant/components/climate/eq3btsmart.py
  requirements_all.txt
Labels: cla-signed, platform: climate.eq3btsmart, small-pr

#12513 new version of xiaomi lib
  homeassistant/components/xiaomi_aqara.py
  requirements_all.txt
Labels: cla-signed, component: xiaomi_aqara, small-pr

#12481 python-miio version bumped
  homeassistant/components/fan/xiaomi_miio.py
  homeassistant/components/light/xiaomi_miio.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/switch/xiaomi_miio.py
  homeassistant/components/vacuum/xiaomi_miio.py
  requirements_all.txt
Labels: cla-signed, platform: fan.xiaomi_miio, platform: light.xiaomi_miio, platform: remote.xiaomi_miio, platform: switch.xiaomi_miio, platform: vacuum.xiaomi_miio, small-pr

#12475 LimitlessLED assumed state
  homeassistant/components/light/limitlessled.py
Labels: breaking change, cla-signed, platform: light.limitlessled

#12488 Add support for HomeKit
  CODEOWNERS
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/covers.py
  homeassistant/components/homekit/sensors.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/homekit/__init__.py
  tests/components/homekit/test_covers.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_sensors.py
Labels: cla-signed, component: homekit, new-platform, platform: homekit.accessories, platform: homekit.const, platform: homekit.covers, platform: homekit.sensors

#12525 Add support for encrypted snapshots for Hass.io
  homeassistant/components/hassio.py
  tests/components/test_hassio.py
Labels: cla-signed, component: hassio, small-pr

#12518 Changed to async_schedule_update_ha_state
  homeassistant/components/media_player/bluesound.py
Labels: cla-signed, platform: media_player.bluesound, small-pr

#12532 Homekit: Test bugfixes for py3.5
  homeassistant/components/homekit/sensors.py
  tests/components/homekit/test_covers.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_sensors.py
Labels: cla-signed, platform: homekit.sensors, small-pr

#12535 Fix Sphinx build
  docs/source/conf.py
  setup.py
Labels: cla-signed, small-pr

#12538 Update voluptuous serialize
  homeassistant/components/config/config_entries.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, component: config, small-pr

#12537 Clarify a comment regarding the versions of Python
  homeassistant/package_constraints.txt
Labels: cla-signed, core, small-pr

#12211 Adds filesize component
  .coveragerc
  homeassistant/components/sensor/filesize.py
  tests/components/sensor/test_filesize.py
Labels: cla-signed, new-platform, platform: sensor.filesize

#12540 Clarify cloud error
  homeassistant/components/cloud/auth_api.py
  homeassistant/components/cloud/iot.py
  tests/components/cloud/test_iot.py
Labels: cla-signed, component: cloud, core, small-pr

#12536 Build JSON in executor
  homeassistant/components/history.py
  homeassistant/components/logbook.py
Labels: cla-signed, component: history, component: logbook, small-pr

#12552 Bugfix: Input Datatime config schema
  homeassistant/components/input_datetime.py
Labels: cla-signed, component: input_datetime, small-pr

#12550 Fix numeric_state condition spamming on unavailable state
  homeassistant/helpers/condition.py
  tests/helpers/test_condition.py
Labels: cla-signed, core, small-pr

#12503 Frontier silicon async
  homeassistant/components/media_player/frontier_silicon.py
  requirements_all.txt
Labels: cla-signed, platform: media_player.frontier_silicon

#12548 Fix WUnderground spamming logs
  homeassistant/components/sensor/wunderground.py
Labels: cla-signed, platform: sensor.wunderground, small-pr

#12558 Added support for milight single 1CH dimmer (limitlessLED)
  homeassistant/components/light/limitlessled.py
  requirements_all.txt
Labels: cla-signed, platform: light.limitlessled, small-pr

#12277 Add new component: BMW connected drive
  .coveragerc
  CODEOWNERS
  homeassistant/components/bmw_connected_drive.py
  homeassistant/components/device_tracker/bmw_connected_drive.py
  homeassistant/components/sensor/bmw_connected_drive.py
  requirements_all.txt
Labels: cla-signed, component: bmw_connected_drive, new-platform, platform: device_tracker.bmw_connected_drive, platform: sensor.bmw_connected_drive

#12556 Cleanup hass.io component
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/handler.py
  homeassistant/components/hassio/http.py
  tests/components/hassio/__init__.py
  tests/components/hassio/conftest.py
  tests/components/hassio/test_handler.py
  tests/components/hassio/test_http.py
  tests/components/hassio/test_init.py
  tests/components/test_hassio.py
Labels: cla-signed, component: hassio, core

#12561 Add support for smoke detector in deconz
  homeassistant/components/deconz/__init__.py
  requirements_all.txt
Labels: cla-signed, component: deconz, small-pr

#12562 Fix caldav component handling with dtend missing
  homeassistant/components/calendar/caldav.py
  tests/components/calendar/test_caldav.py
Labels: cla-signed, platform: calendar.caldav

#12567 Add limitlessled night light effect
  homeassistant/components/light/limitlessled.py
Labels: cla-signed, platform: light.limitlessled, small-pr

#12569 Basic support of post 2016 AVR-X receivers
  homeassistant/components/media_player/denonavr.py
  requirements_all.txt
Labels: cla-signed, platform: media_player.denonavr, small-pr

#12571 Fix config 404
  homeassistant/components/config/__init__.py
Labels: cla-signed, component: config, small-pr

#12566 Logbook speedup
  homeassistant/components/logbook.py
  homeassistant/scripts/benchmark/__init__.py
  tests/components/test_logbook.py
Labels: cla-signed, component: logbook, small-pr

#12582 Fix sonos default errorcodes
  homeassistant/components/media_player/sonos.py
Labels: cla-signed, platform: media_player.sonos, small-pr

#12587 Update pychromecast to 2.0.0
  homeassistant/components/media_player/cast.py
  requirements_all.txt
Labels: cla-signed, platform: media_player.cast, small-pr

#12580 Set event_id foreign key in recorded states
  homeassistant/components/recorder/__init__.py
  tests/components/recorder/test_init.py
Labels: cla-signed, component: recorder, core, small-pr

#12581 Deconz support water sensor
  homeassistant/components/deconz/__init__.py
  requirements_all.txt
Labels: cla-signed, component: deconz, small-pr

#12586 Cloud reconnect tweaks
  homeassistant/components/cloud/__init__.py
  homeassistant/components/cloud/iot.py
  tests/components/cloud/test_iot.py
Labels: cla-signed, component: cloud, core

#12588 Hassio cleanup part2
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/handler.py
  tests/components/hassio/__init__.py
  tests/components/hassio/conftest.py
  tests/components/hassio/test_handler.py
  tests/components/hassio/test_init.py
Labels: cla-signed, component: hassio, core

#12151 Add Bluetooth and NFC card/tag Alarm types
  homeassistant/components/lock/zwave.py
Labels: cla-signed, platform: lock.zwave

#12595 Fix fix isy994 fan detection
  homeassistant/components/isy994.py
Labels: cla-signed, component: isy994, small-pr

#12372 Add unique_id to Xiaomi Aqara
  homeassistant/components/xiaomi_aqara.py
Labels: cla-signed, component: xiaomi_aqara, small-pr
