Repository home-assistant/core, pull requests merged in 2018-12, with the labels that each got.

#18861 Bump py17track to 2.1.1
  homeassistant/components/sensor/seventeentrack.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.seventeentrack, small-pr

#18860 Fix 17track.net sensor issues
  homeassistant/components/sensor/seventeentrack.py
Labels: breaking change, cla-signed, in progress, platform: sensor.seventeentrack, small-pr

#18755 Add support for zha device registry
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/entities/entity.py
Labels: cla-signed, component: zha, in progress

#18125 Added new filters for templates
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: cla-signed, docs-missing, in progress

#18829 Updated UVC camera component to support SSL connections
  homeassistant/components/camera/uvc.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/camera/test_uvc.py
Labels: cla-signed, in progress, platform: camera.uvc, small-pr

#18778 Change state case for rtorrent
  homeassistant/components/sensor/rtorrent.py
Labels: breaking change, cla-signed, in progress, platform: sensor.rtorrent, small-pr

#18878 Fix pylint issue for helpers/template
  homeassistant/helpers/template.py
Labels: cla-signed, core, in progress, small-pr

#18774 Reintroduce unique_id for Netatmo sensor
  homeassistant/components/sensor/netatmo.py
Labels: cla-signed, in progress, platform: sensor.netatmo, small-pr

#18879 Fix stability issues with multiple googlehome units
  homeassistant/components/device_tracker/googlehome.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#18880 Fixes error with getting attributes from Tautulli
  homeassistant/components/sensor/tautulli.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.tautulli, small-pr

#18864 Bump pywemo to 0.4.33 (expanded port range fixes dimmers on latest firmware)
  homeassistant/components/wemo.py
  requirements_all.txt
Labels: cla-signed, component: wemo, in progress, small-pr

#18852 Small refactoring of MQTT sensor
  homeassistant/components/sensor/mqtt.py
Labels: cla-signed, in progress, platform: sensor.mqtt, small-pr

#18851 Small refactoring of MQTT fan
  homeassistant/components/fan/mqtt.py
Labels: cla-signed, in progress, platform: fan.mqtt, small-pr

#18895 Upgrade slacker to 0.11.0
  homeassistant/components/notify/slack.py
  requirements_all.txt
Labels: cla-signed, component: notify, core, in progress, small-pr

#18892 Upgrade Sphinx to 1.8.2
  requirements_docs.txt
Labels: cla-signed, in progress, small-pr

#18813 Small refactoring of MQTT alarm
  homeassistant/components/alarm_control_panel/mqtt.py
Labels: cla-signed, in progress, platform: alarm_control_panel.mqtt, small-pr

#18814 Small refactoring of MQTT climate
  homeassistant/components/climate/mqtt.py
Labels: cla-signed, in progress, platform: climate.mqtt

#18724 Optionally do not log template rendering errors
  homeassistant/helpers/template.py
Labels: cla-signed, core, in progress, small-pr

#18890 Restore states when removing/adding entities
  homeassistant/helpers/restore_state.py
  tests/helpers/test_restore_state.py
Labels: cla-signed, core, in progress

#18889 Fibaro ubs
  homeassistant/components/binary_sensor/fibaro.py
  homeassistant/components/fibaro.py
Labels: cla-signed, component: fibaro, in progress, platform: binary_sensor.fibaro, small-pr

#18886 Use string formatting
  homeassistant/components/binary_sensor/sense.py
  homeassistant/components/sense.py
  homeassistant/components/sensor/sense.py
Labels: cla-signed, component: sense, in progress, platform: binary_sensor.sense, platform: sensor.sense

#18874 Bug: fix google_assistant 'allow_unlock' config option
  homeassistant/components/cloud/__init__.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, component: google_assistant, core, in progress, small-pr

#18834 Show ANSI color codes in logs in Hass.io
  homeassistant/components/hassio/http.py
  tests/components/hassio/test_http.py
Labels: cla-signed, component: hassio, core, in progress, small-pr

#18753 Fix hdmi_cec entity race
  homeassistant/components/hdmi_cec.py
  homeassistant/components/media_player/hdmi_cec.py
  homeassistant/components/switch/hdmi_cec.py
Labels: cla-signed, component: hdmi_cec, in progress, platform: media_player.hdmi_cec, platform: switch.hdmi_cec, small-pr

#18802 Set Tahoma smoke sensor to unavailable if battery is dead.
  homeassistant/components/binary_sensor/tahoma.py
Labels: cla-signed, in progress, platform: binary_sensor.tahoma, small-pr

#18176 Reconfigure light component if discovery info is changed
  homeassistant/components/light/mqtt/schema_basic.py
  homeassistant/components/light/mqtt/schema_json.py
  homeassistant/components/light/mqtt/schema_template.py
  tests/components/light/test_mqtt.py
  tests/components/light/test_mqtt_json.py
  tests/components/light/test_mqtt_template.py
Labels: cla-signed, component: mqtt, core, in progress, platform: binary_sensor.mqtt, platform: light.mqtt

#18179 Reconfigure MQTT switch component if discovery info is changed
  homeassistant/components/switch/mqtt.py
  tests/components/switch/test_mqtt.py
Labels: cla-signed, component: mqtt, core, in progress, platform: binary_sensor.mqtt, platform: switch.mqtt

#18854 No more opt-out auth
  homeassistant/auth/__init__.py
  homeassistant/components/config/__init__.py
  homeassistant/components/frontend/__init__.py
  homeassistant/components/hassio/__init__.py
  homeassistant/components/http/__init__.py
  homeassistant/components/http/auth.py
  homeassistant/components/notify/html5.py
  homeassistant/components/onboarding/__init__.py
  homeassistant/components/websocket_api/auth.py
  tests/components/alexa/test_flash_briefings.py
  tests/components/auth/test_init.py
  tests/components/calendar/test_init.py
  tests/components/camera/test_generic.py
  tests/components/camera/test_local_file.py
  tests/components/cloud/test_http_api.py
  tests/components/config/test_auth.py
  tests/components/config/test_automation.py
  tests/components/config/test_config_entries.py
  tests/components/config/test_core.py
  tests/components/config/test_customize.py
  tests/components/config/test_group.py
  tests/components/config/test_hassbian.py
  tests/components/config/test_zwave.py
  tests/components/conftest.py
  tests/components/device_tracker/test_locative.py
  tests/components/device_tracker/test_meraki.py
  tests/components/frontend/test_init.py
  tests/components/geofency/test_init.py
  tests/components/hassio/test_init.py
  tests/components/http/test_auth.py
  tests/components/mailbox/test_init.py
  tests/components/notify/test_html5.py
  tests/components/onboarding/test_init.py
  tests/components/test_logbook.py
  tests/components/test_prometheus.py
  tests/components/test_rss_feed_template.py
  tests/components/tts/test_init.py
  tests/components/websocket_api/test_auth.py
  tests/components/websocket_api/test_commands.py
  tests/conftest.py
  tests/helpers/test_aiohttp_client.py
  tests/test_config.py
Labels: cla-signed, component: config, component: frontend, component: hassio, component: http, component: notify, component: onboarding, component: websocket_api, core, in progress

#18925 Remove commented out code
  homeassistant/components/climate/mqtt.py
Labels: cla-signed, in progress, platform: climate.mqtt, small-pr

#18026 Add lightwave components for switches and lights
  .coveragerc
  homeassistant/components/light/lightwave.py
  homeassistant/components/lightwave.py
  homeassistant/components/switch/lightwave.py
  requirements_all.txt
Labels: cla-signed, component: lightwave, in progress, new-platform, platform: light.lightwave, platform: switch.lightwave

#17855 Initial hlk-sw16 relay switch support
  .coveragerc
  homeassistant/components/hlk_sw16.py
  homeassistant/components/switch/hlk_sw16.py
  requirements_all.txt
Labels: cla-signed, component: hlk_sw16, in progress, new-platform, platform: switch.hlk_sw16

#18917 Push to version 0.7.7 of denonavr
  homeassistant/components/media_player/denonavr.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.denonavr, small-pr

#18884 Extend partial reload to include packages
  homeassistant/bootstrap.py
  homeassistant/config.py
  homeassistant/scripts/check_config.py
  tests/test_config.py
Labels: cla-signed, core, in progress, small-pr

#18955 Bump aioasuswrt version
  homeassistant/components/asuswrt.py
  requirements_all.txt
Labels: cla-signed, component: asuswrt, in progress, small-pr

#18922 Add users added via credentials to admin group too
  homeassistant/auth/__init__.py
  tests/auth/test_init.py
Labels: cla-signed, core, in progress, small-pr

#18907 Use capability of sensor if present to fix multisensor Wink devices
  homeassistant/components/wink/__init__.py
Labels: cla-signed, component: wink, in progress, small-pr

#18958 0.83.3
  homeassistant/auth/__init__.py
  homeassistant/components/asuswrt.py
  homeassistant/components/cloud/__init__.py
  homeassistant/components/device_tracker/googlehome.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/sensor/asuswrt.py
  homeassistant/components/sensor/tautulli.py
  homeassistant/components/wink/__init__.py
  homeassistant/const.py
  requirements_all.txt
  tests/auth/test_init.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, component: asuswrt, component: cloud, component: device_tracker, component: google_assistant, component: wink, core, in progress, merging-to-master, platform: sensor.asuswrt, platform: sensor.tautulli

#18779 Initial scene support for Fibaro hubs
  homeassistant/components/fibaro.py
  homeassistant/components/scene/fibaro.py
Labels: cla-signed, component: fibaro, in progress, new-platform, platform: scene.fibaro

#18960 Add id when not exist and fix dup id check
  homeassistant/components/lovelace/__init__.py
Labels: cla-signed, component: lovelace, in progress, small-pr

#18962 Refactor script helper actions into their own methods
  homeassistant/helpers/script.py
  tests/helpers/test_script.py
Labels: cla-signed, core, in progress

#18959 Point fix for multiple devices
  homeassistant/components/binary_sensor/point.py
  homeassistant/components/point/__init__.py
  homeassistant/components/point/const.py
  homeassistant/components/sensor/point.py
Labels: cla-signed, component: point, in progress, platform: binary_sensor.point, platform: sensor.point

#18953 Fix MQTT re-subscription logic
  homeassistant/components/mqtt/subscription.py
Labels: cla-signed, component: mqtt, core, in progress

#18967 VOC: minor update
  homeassistant/components/volvooncall.py
  requirements_all.txt
Labels: cla-signed, in progress

#18982 Lovelace fix: no ordered dict
  homeassistant/components/lovelace/__init__.py
Labels: cla-signed, component: lovelace, in progress, small-pr

#18976 Update CODEOWNERS
  CODEOWNERS
Labels: cla-signed, in progress, small-pr

#18928 Tibber, Improve logging and error handling
  homeassistant/components/sensor/tibber.py
  homeassistant/components/tibber/__init__.py
  requirements_all.txt
Labels: cla-signed, component: tibber, in progress, platform: sensor.tibber, small-pr

#18979 Add @danielhiversen as code owner
  CODEOWNERS
Labels: cla-signed, in progress, small-pr

#18980 Upgrade switchbot lib
  homeassistant/components/switch/switchbot.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: switch.switchbot, small-pr

#18765 New Events and Context Fixes
  homeassistant/components/automation/__init__.py
  homeassistant/components/image_processing/__init__.py
  homeassistant/components/logbook.py
  homeassistant/components/script.py
  homeassistant/const.py
  tests/components/automation/test_init.py
  tests/components/test_logbook.py
  tests/components/test_script.py
Labels: cla-signed, component: automation, component: image_processing, component: logbook, component: script, core, in progress

#18995 downgrade version of client
  homeassistant/components/goalfeed.py
  requirements_all.txt
Labels: cla-signed, component: goalfeed, in progress, small-pr

#18990 Updated Yale Smart Alarm platform to new Yale API
  homeassistant/components/alarm_control_panel/yale_smart_alarm.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: alarm_control_panel.yale_smart_alarm, small-pr

#18983 Lovelace fix: badges are removed from view after update
  homeassistant/components/lovelace/__init__.py
Labels: cla-signed, component: lovelace, in progress, small-pr

#18942 remove the need to have query feature support
  homeassistant/components/influxdb.py
  tests/components/test_influxdb.py
Labels: cla-signed, component: influxdb, in progress, small-pr

#18780 Tellduslive refactoring
  .coveragerc
  CODEOWNERS
  homeassistant/components/binary_sensor/tellduslive.py
  homeassistant/components/cover/tellduslive.py
  homeassistant/components/light/tellduslive.py
  homeassistant/components/sensor/tellduslive.py
  homeassistant/components/switch/tellduslive.py
  homeassistant/components/tellduslive/__init__.py
  homeassistant/components/tellduslive/const.py
  homeassistant/components/tellduslive/entry.py
Labels: cla-signed, component: tellduslive, in progress, new-platform, platform: binary_sensor.tellduslive, platform: cover.tellduslive, platform: light.tellduslive, platform: sensor.tellduslive, platform: switch.tellduslive

#18985 Add unnecessary-pass for pylint-update
  pylintrc
Labels: cla-signed, in progress, small-pr

#18968 Mock out device tracker configuration loading funcs in Geofency + OwnTracks
  tests/components/geofency/test_init.py
  tests/components/owntracks/test_init.py
Labels: cla-signed, in progress, small-pr

#18972 Fibaro Light fixes
  homeassistant/components/fibaro.py
  homeassistant/components/light/fibaro.py
Labels: cla-signed, component: fibaro, in progress, platform: light.fibaro, small-pr

#18993 Sort import order of zha component.
  homeassistant/components/binary_sensor/zha.py
  homeassistant/components/fan/zha.py
  homeassistant/components/light/zha.py
  homeassistant/components/sensor/zha.py
  homeassistant/components/switch/zha.py
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zha/entities/__init__.py
  homeassistant/components/zha/entities/device_entity.py
  homeassistant/components/zha/entities/entity.py
  homeassistant/components/zha/helpers.py
Labels: cla-signed, component: zha, in progress, platform: binary_sensor.zha, platform: fan.zha, platform: light.zha, platform: sensor.zha, platform: switch.zha

#18992 Fix VOC configuration resource list
  homeassistant/components/volvooncall.py
Labels: cla-signed, component: volvooncall, in progress, small-pr

#19004 Remove stale user salts
  homeassistant/auth/providers/homeassistant.py
Labels: cla-signed, core, in progress, small-pr

#19008 Lupupy version push to 0.0.17 - will now transmitted state_alarm_triggered
  homeassistant/components/alarm_control_panel/lupusec.py
  homeassistant/components/lupusec.py
  requirements_all.txt
Labels: cla-signed, component: lupusec, in progress, platform: alarm_control_panel.lupusec, small-pr

#19007 Allow checking entity permissions based on devices
  homeassistant/auth/auth_store.py
  homeassistant/auth/models.py
  homeassistant/auth/permissions/__init__.py
  homeassistant/auth/permissions/entities.py
  homeassistant/auth/permissions/models.py
  homeassistant/helpers/entity_registry.py
  tests/auth/permissions/test_entities.py
  tests/auth/permissions/test_system_policies.py
  tests/auth/test_models.py
  tests/common.py
  tests/helpers/test_service.py
Labels: cla-signed, core, in progress

#19038 Fix CI by pinning IDNA
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: cla-signed, core, in progress, small-pr

#19040 Bump waterfurnace to 1.0
  homeassistant/components/waterfurnace.py
  requirements_all.txt
Labels: breaking change, cla-signed, component: waterfurnace, in progress, small-pr

#19036 update mychevy to 1.0.1
  homeassistant/components/mychevy.py
  requirements_all.txt
Labels: cla-signed, component: mychevy, in progress, small-pr

#19025 Don't wait for answer for webhook register
  homeassistant/components/cloud/cloudhooks.py
  homeassistant/components/cloud/iot.py
  tests/components/cloud/test_iot.py
Labels: cla-signed, component: cloud, core, in progress

#19009 Small refactoring of MQTT light
  homeassistant/components/light/mqtt/schema_basic.py
  homeassistant/components/light/mqtt/schema_json.py
  homeassistant/components/light/mqtt/schema_template.py
Labels: cla-signed, in progress, platform: light.mqtt

#19010 Small refactoring of MQTT switch
  homeassistant/components/switch/mqtt.py
Labels: in progress, platform: switch.mqtt

#19030 Bump version of elkm1_lib
  homeassistant/components/elkm1/__init__.py
  requirements_all.txt
Labels: cla-signed, component: elkm1, in progress, small-pr

#19035 Change log level from error to warning of media_player.plex
  homeassistant/components/media_player/plex.py
Labels: cla-signed, in progress, platform: media_player.plex, small-pr

#19011 [Fire TV] Catch 'BrokenPipeError' exceptions for ADB commands
  homeassistant/components/media_player/firetv.py
Labels: cla-signed, in progress, platform: media_player.firetv, small-pr

#19042 Bump python-miio to 0.4.4
  homeassistant/components/device_tracker/xiaomi_miio.py
  homeassistant/components/fan/xiaomi_miio.py
  homeassistant/components/light/xiaomi_miio.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/sensor/xiaomi_miio.py
  homeassistant/components/switch/xiaomi_miio.py
  homeassistant/components/vacuum/xiaomi_miio.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, platform: fan.xiaomi_miio, platform: light.xiaomi_miio, platform: remote.xiaomi_miio, platform: sensor.xiaomi_miio, platform: switch.xiaomi_miio, platform: vacuum.xiaomi_miio, small-pr

#19043 Add last clean times to xiaomi vacuum
  homeassistant/components/vacuum/xiaomi_miio.py
Labels: cla-signed, in progress, platform: vacuum.xiaomi_miio, small-pr

#18989 Add support for multiple RainMachine controllers
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/config_flow.py
  homeassistant/components/rainmachine/const.py
Labels: breaking change, cla-signed, component: rainmachine, in progress

#18926 Remove unsupported strong mode of the Xiaomi Air Humidifier CA1
  homeassistant/components/fan/xiaomi_miio.py
Labels: cla-signed, in progress, platform: fan.xiaomi_miio, small-pr

#19048 Bump pyvizio version in vizio.py
  homeassistant/components/media_player/vizio.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.vizio, small-pr

#19019 Fix entity unavailable after reconfiguring MQTT availability
  homeassistant/components/mqtt/__init__.py
Labels: cla-signed, component: mqtt, core, in progress, small-pr

#19052 Fix cloud const
  homeassistant/components/cloud/cloud_api.py
  homeassistant/components/cloud/const.py
  tests/test_util/aiohttp.py
Labels: cla-signed, component: cloud, core, in progress, small-pr

#19033 Add support for more Tibber Pulse data
  homeassistant/components/sensor/tibber.py
  homeassistant/components/tibber/__init__.py
  requirements_all.txt
Labels: cla-signed, component: tibber, in progress, platform: sensor.tibber, small-pr

#19064 Revert #17745
  homeassistant/components/google_assistant/http.py
Labels: cla-signed, component: google_assistant, core, in progress, small-pr

#18750 Upgrade pylint to 2.2.2
  homeassistant/components/binary_sensor/alarmdecoder.py
  homeassistant/components/binary_sensor/mystrom.py
  homeassistant/components/frontend/__init__.py
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/type_fans.py
  homeassistant/components/media_player/bluesound.py
  homeassistant/components/media_player/ue_smart_radio.py
  homeassistant/components/owntracks/config_flow.py
  homeassistant/components/sensor/bme680.py
  homeassistant/components/sensor/miflora.py
  homeassistant/components/sensor/mitemp_bt.py
  homeassistant/components/sensor/mvglive.py
  homeassistant/components/sensor/statistics.py
  homeassistant/components/spaceapi.py
  homeassistant/components/switch/raspihats.py
  homeassistant/config.py
  homeassistant/helpers/intent.py
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, in progress

#19069 Fix missing colorTemperatureInKelvin from Alexa responses
  homeassistant/components/alexa/smart_home.py
  tests/components/alexa/test_smart_home.py
Labels: cla-signed, component: alexa, core, in progress, small-pr

#19077 Upgrade aiolifx to 0.6.7
  homeassistant/components/lifx/__init__.py
  requirements_all.txt
Labels: cla-signed, component: lifx, in progress, small-pr

#19073 Force refresh Lovelace
  homeassistant/components/lovelace/__init__.py
Labels: cla-signed, component: lovelace, in progress, small-pr

#19080 Bump lakeside requirement to support more Eufy devices
  homeassistant/components/eufy.py
  requirements_all.txt
Labels: cla-signed, component: eufy, in progress, small-pr

#18923 Add JSON attribute topic to MQTT binary sensor
  homeassistant/components/binary_sensor/mqtt.py
  homeassistant/components/mqtt/__init__.py
  tests/components/binary_sensor/test_mqtt.py
Labels: cla-signed, component: mqtt, core, in progress, platform: binary_sensor.mqtt

#19085 Upgrade pyatv to 0.3.12
  homeassistant/components/apple_tv.py
  requirements_all.txt
Labels: cla-signed, component: apple_tv, in progress, small-pr

#18916 Automatically detect if ipv4/ipv6 is used for cert_expiry
  homeassistant/components/sensor/cert_expiry.py
Labels: cla-signed, in progress, platform: sensor.cert_expiry, small-pr

#19100 Bump skybellpy version to fix api issue
  homeassistant/components/skybell.py
  requirements_all.txt
Labels: cla-signed, component: skybell, in progress, small-pr

#19098 Upgrade Tibber lib
  homeassistant/components/tibber/__init__.py
  requirements_all.txt
Labels: cla-signed, component: tibber, in progress, small-pr

#18737 Set lock status correctly for Schlage BE469 Z-Wave locks
  homeassistant/components/lock/zwave.py
  tests/components/lock/test_zwave.py
Labels: cla-signed, in progress, platform: lock.zwave

#19071 Support next generation of the Xiaomi Mi Smart Plug (chuangmi.plug.hmi205)
  homeassistant/components/switch/xiaomi_miio.py
Labels: cla-signed, in progress, platform: switch.xiaomi_miio, small-pr

#19102 Don't avoid async_schedule_update_ha_state by returning false
  homeassistant/components/binary_sensor/xiaomi_aqara.py
Labels: cla-signed, in progress, platform: binary_sensor.xiaomi_aqara, small-pr

#19117 Upgrade Mill library
  homeassistant/components/climate/mill.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: climate.mill, small-pr

#18496 Add Philips Moonlight Bedside Lamp support
  homeassistant/components/light/xiaomi_miio.py
Labels: cla-signed, in progress, platform: light.xiaomi_miio

#19078 update edp_redy version
  homeassistant/components/edp_redy.py
  requirements_all.txt
Labels: cla-signed, component: edp_redy, in progress, small-pr

#19113 Update Google Assistant services description and request sync timeout
  homeassistant/components/google_assistant/__init__.py
  homeassistant/components/google_assistant/services.yaml
Labels: cla-signed, in progress, small-pr

#19121 Fixed doorbird config without events (empty list)
  homeassistant/components/doorbird.py
Labels: cla-signed, component: doorbird, in progress, small-pr

#19124 Add code support for iAlarm
  homeassistant/components/alarm_control_panel/ialarm.py
Labels: cla-signed, in progress, platform: alarm_control_panel.ialarm

#19139 Upgrade youtube_dl to 2018.12.03
  homeassistant/components/media_extractor.py
  requirements_all.txt
Labels: cla-signed, component: media_extractor, in progress, small-pr

#19151 Update pygtfs to upstream's 0.1.5
  homeassistant/components/sensor/gtfs.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.gtfs, small-pr

#19101 Lovelace using storage
  homeassistant/components/frontend/__init__.py
  homeassistant/components/lovelace/__init__.py
  tests/components/lovelace/test_init.py
Labels: cla-signed, component: frontend, component: lovelace, core, in progress

#19083 Google assistant fix target temp for *F values.
  homeassistant/components/google_assistant/trait.py
Labels: cla-signed, component: google_assistant, core, in progress, small-pr

#19084 Google_assistant: fix climate modes
  homeassistant/components/google_assistant/const.py
  homeassistant/components/google_assistant/trait.py
Labels: cla-signed, component: google_assistant, core, in progress, small-pr

#19163 Add raw service data to event
  homeassistant/core.py
  tests/test_core.py
Labels: cla-signed, core, in progress

#19095 ZHA - Event foundation
  homeassistant/components/binary_sensor/zha.py
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/const.py
  homeassistant/components/zha/entities/entity.py
  homeassistant/components/zha/event.py
Labels: cla-signed, component: zha, in progress, platform: binary_sensor.zha

#18758 TelldusLive config flow
  homeassistant/components/binary_sensor/tellduslive.py
  homeassistant/components/cover/tellduslive.py
  homeassistant/components/discovery.py
  homeassistant/components/light/tellduslive.py
  homeassistant/components/sensor/tellduslive.py
  homeassistant/components/switch/tellduslive.py
  homeassistant/components/tellduslive/.translations/en.json
  homeassistant/components/tellduslive/__init__.py
  homeassistant/components/tellduslive/config_flow.py
  homeassistant/components/tellduslive/const.py
  homeassistant/components/tellduslive/strings.json
  homeassistant/config_entries.py
  tests/components/tellduslive/__init__.py
  tests/components/tellduslive/test_config_flow.py
Labels: cla-signed, component: tellduslive, in progress, new-platform, platform: binary_sensor.tellduslive, platform: cover.tellduslive, platform: light.tellduslive, platform: sensor.tellduslive, platform: switch.tellduslive, remove-platform

#19172 Fix cloud defaults
  homeassistant/components/cloud/__init__.py
  homeassistant/components/cloud/prefs.py
  tests/components/cloud/test_cloudhooks.py
  tests/components/cloud/test_iot.py
Labels: cla-signed, component: cloud, core, in progress, small-pr

#18477 Enable alarmdecoder to see open/close state of bypassed RF zones when armed
  homeassistant/components/alarmdecoder.py
  homeassistant/components/binary_sensor/alarmdecoder.py
Labels: cla-signed, component: alarmdecoder, in progress, platform: binary_sensor.alarmdecoder

#19186 Add SCAN_INTERVAL
  homeassistant/components/weather/__init__.py
Labels: breaking change, cla-signed, component: weather, core, in progress, small-pr

#18816 Restore states for RFLink devices
  homeassistant/components/cover/rflink.py
  homeassistant/components/light/rflink.py
  homeassistant/components/rflink.py
  homeassistant/components/switch/rflink.py
  tests/components/cover/test_rflink.py
  tests/components/light/test_rflink.py
  tests/components/switch/test_rflink.py
Labels: cla-signed, component: rflink, in progress, platform: cover.rflink, platform: light.rflink

#19187 Move daikin to package
  homeassistant/components/daikin/__init__.py
Labels: cla-signed, component: daikin, in progress, small-pr

#19202 Update switchbot library
  homeassistant/components/switch/switchbot.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: switch.switchbot, small-pr

#19188 Revert PR #18602
  homeassistant/components/camera/mjpeg.py
Labels: cla-signed, in progress, platform: camera.mjpeg, small-pr

#19219 Add automation and script events to logbook event types
  homeassistant/components/logbook.py
Labels: cla-signed, component: logbook, in progress, small-pr

#19197 Fix geizhals crash if no price found
  homeassistant/components/sensor/geizhals.py
Labels: cla-signed, in progress

#19099 Add ZHA device handler library
  .coveragerc
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/const.py
  requirements_all.txt
Labels: cla-signed, component: zha, docs-missing, in progress, small-pr

#19220 Fix owntracks topic in encrypted ios
  homeassistant/components/device_tracker/owntracks.py
  homeassistant/components/owntracks/__init__.py
Labels: cla-signed, component: device_tracker, component: owntracks, core, in progress, small-pr

#19228 0.84.1
  homeassistant/components/device_tracker/owntracks.py
  homeassistant/components/logbook.py
  homeassistant/components/owntracks/__init__.py
  homeassistant/const.py
Labels: cla-signed, component: device_tracker, component: logbook, component: owntracks, core, in progress, merging-to-master, small-pr

#19213 Add package data attribute to 17track.net summary sensors
  homeassistant/components/sensor/seventeentrack.py
Labels: breaking change, cla-signed, in progress, platform: sensor.seventeentrack, small-pr

#19129 Convert songpal to use asynchronous websocket for state updates
  homeassistant/components/media_player/songpal.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.songpal

#19244 Bumped NDMS2 client to 0.0.6
  homeassistant/components/device_tracker/keenetic_ndms2.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#19006 RFC: Deprecate auto target all for services and introduce entity_id: *
  homeassistant/components/alarm_control_panel/__init__.py
  homeassistant/components/automation/__init__.py
  homeassistant/components/camera/__init__.py
  homeassistant/components/climate/__init__.py
  homeassistant/components/counter/__init__.py
  homeassistant/components/cover/__init__.py
  homeassistant/components/fan/__init__.py
  homeassistant/components/group/__init__.py
  homeassistant/components/image_processing/__init__.py
  homeassistant/components/light/__init__.py
  homeassistant/components/lock/__init__.py
  homeassistant/components/media_player/__init__.py
  homeassistant/components/remote/__init__.py
  homeassistant/components/scene/__init__.py
  homeassistant/components/switch/__init__.py
  homeassistant/components/vacuum/__init__.py
  homeassistant/components/water_heater/__init__.py
  homeassistant/const.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/entity_component.py
  homeassistant/helpers/service.py
  tests/helpers/test_config_validation.py
  tests/helpers/test_entity_component.py
  tests/helpers/test_service.py
Labels: breaking change, cla-signed, docs-missing, in progress

#18965 Automation log error
  homeassistant/components/automation/__init__.py
  homeassistant/helpers/script.py
  homeassistant/helpers/service.py
  tests/components/automation/test_init.py
  tests/helpers/test_script.py
Labels: cla-signed, component: automation, core, in progress

#19013 Add device registry to MQTT light
  homeassistant/components/light/mqtt/schema_basic.py
  homeassistant/components/light/mqtt/schema_json.py
  homeassistant/components/light/mqtt/schema_template.py
  tests/components/light/test_mqtt.py
  tests/components/light/test_mqtt_json.py
  tests/components/light/test_mqtt_template.py
Labels: cla-signed, in progress, platform: light.mqtt

#18471 Support for the Harman Kardon AVR
  .coveragerc
  homeassistant/components/media_player/harman_kardon_avr.py
  requirements_all.txt
Labels: cla-signed, in progress

#19245 Fix point sensor discovery
  homeassistant/components/binary_sensor/point.py
  homeassistant/components/sensor/point.py
Labels: cla-signed, in progress, platform: sensor.point, small-pr

#19258 Fix list (fixes #19235)
  homeassistant/components/tts/amazon_polly.py
Labels: cla-signed, component: tts, in progress, small-pr

#19050 Fix Insteon open/closed sensors
  homeassistant/components/binary_sensor/insteon.py
  homeassistant/components/insteon/__init__.py
  requirements_all.txt
Labels: cla-signed, component: insteon, in progress, platform: binary_sensor.insteon, small-pr

#19260 Fix OwnTracks deadlocking
  homeassistant/components/owntracks/__init__.py
  tests/components/device_tracker/test_owntracks.py
Labels: cla-signed, component: owntracks, in progress, small-pr

#19194 Improve check for duplicated entity_id
  homeassistant/components/config/entity_registry.py
Labels: cla-signed, component: config, core, in progress, small-pr

#19141 Always add friendly name attribute to ZHA entities
  homeassistant/components/zha/entities/entity.py
Labels: cla-signed, component: zha, in progress, small-pr

#18946 Expose ZoneMinder availability to Home Assistant
  homeassistant/components/camera/zoneminder.py
  homeassistant/components/sensor/zoneminder.py
  homeassistant/components/zoneminder/__init__.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: camera.zoneminder, platform: sensor.zoneminder, small-pr

#19267 Fix for entur sensor exception during setup with quay only config
  homeassistant/components/sensor/entur_public_transport.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, platform: sensor.entur_public_transport, small-pr

#19276 Synology chat add verify ssl
  homeassistant/components/notify/synology_chat.py
Labels: cla-signed, component: notify, core, in progress, small-pr

#19279 Fix call to super()
  homeassistant/components/light/lutron.py
Labels: cla-signed, in progress, platform: light.lutron, small-pr

#18610 Add NMBS (Belgian railway) sensor platform
  .coveragerc
  homeassistant/components/sensor/nmbs.py
  requirements_all.txt
Labels: cla-signed, in progress, new-platform, platform: sensor.nmbs

#19259 Add permission check to light service
  homeassistant/components/light/__init__.py
  tests/components/light/test_init.py
Labels: cla-signed, component: light, core, in progress

#19265 Check admin permission before able to manage config entries
  homeassistant/auth/permissions/const.py
  homeassistant/components/config/config_entries.py
  homeassistant/exceptions.py
  tests/components/config/test_config_entries.py
Labels: cla-signed, component: config, core, in progress

#19266 Rename is_owner decorator to is_admin
  homeassistant/components/config/auth.py
  homeassistant/components/config/auth_provider_homeassistant.py
  homeassistant/components/websocket_api/__init__.py
  homeassistant/components/websocket_api/decorators.py
  tests/components/config/test_auth.py
  tests/components/config/test_auth_provider_homeassistant.py
  tests/conftest.py
Labels: cla-signed, component: config, component: websocket_api, core, in progress

#19222 Fix race in entity_platform.async_add_entities
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/entity_registry.py
Labels: cla-signed, core, in progress, small-pr

#19281 0.84.2
  homeassistant/components/asuswrt.py
  homeassistant/components/binary_sensor/xiaomi_aqara.py
  homeassistant/components/config/entity_registry.py
  homeassistant/components/light/lutron.py
  homeassistant/components/logbook.py
  homeassistant/components/owntracks/__init__.py
  homeassistant/components/tts/amazon_polly.py
  homeassistant/components/zha/entities/entity.py
  homeassistant/const.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/entity_registry.py
  requirements_all.txt
  tests/components/device_tracker/test_owntracks.py
  tests/components/test_logbook.py
Labels: cla-signed, component: asuswrt, component: config, component: logbook, component: owntracks, component: tts, component: zha, core, in progress, platform: binary_sensor.xiaomi_aqara, platform: light.lutron

#19242 Update to use DOMAIN constants and standards for EQ3 thermostate
  homeassistant/components/climate/eq3btsmart.py
Labels: breaking change, cla-signed, in progress, platform: climate.eq3btsmart, small-pr

#19195 Make variable `entity_id` available to value_template for MQTT binary sensor
  homeassistant/components/binary_sensor/mqtt.py
  homeassistant/helpers/template.py
  tests/components/binary_sensor/test_mqtt.py
Labels: cla-signed, core, in progress, platform: binary_sensor.mqtt, small-pr

#19012 Set unavailable when unreachable
  homeassistant/components/media_player/gpmdp.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.gpmdp, small-pr

#18707 Add air pollutants component
  homeassistant/components/air_pollutants/__init__.py
  homeassistant/components/air_pollutants/demo.py
  homeassistant/components/demo.py
  tests/components/air_pollutants/__init__.py
  tests/components/air_pollutants/test_air_pollutants.py
Labels: cla-signed, component: air_pollutants, component: demo, in progress, new-platform

#19171 Device config for Fibaro hub integration
  homeassistant/components/binary_sensor/fibaro.py
  homeassistant/components/fibaro.py
  homeassistant/components/light/fibaro.py
Labels: cla-signed, in progress

#17262 Set InsteonEntity name to be combo of description and address.
  homeassistant/components/insteon/__init__.py
Labels: Hacktoberfest, cla-signed, component: insteon, in progress, small-pr

#19284 Fix restore state for manual alarm control panel
  homeassistant/components/alarm_control_panel/manual.py
Labels: cla-signed, in progress, platform: alarm_control_panel.manual, small-pr

#16576 Adding support for Plum Lightpad
  .coveragerc
  homeassistant/components/light/plum_lightpad.py
  homeassistant/components/plum_lightpad.py
  requirements_all.txt
Labels: cla-signed, component: plum_lightpad, in progress, new-platform, platform: binary_sensor.plum_lightpad, platform: light.plum_lightpad, platform: sensor.plum_lightpad
