Repository home-assistant/core, pull requests merged in 2018-11, with the labels that each got.

#18076 Fix camera mjpeg stream handling
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/amcrest.py
  homeassistant/components/camera/arlo.py
  homeassistant/components/camera/canary.py
  homeassistant/components/camera/mjpeg.py
  homeassistant/components/camera/onvif.py
  homeassistant/components/camera/ring.py
  homeassistant/components/camera/synology.py
  homeassistant/components/camera/xiaomi.py
  homeassistant/components/camera/yi.py
Labels: cla-signed, component: camera, core, in progress, platform: camera.amcrest, platform: camera.arlo, platform: camera.canary, platform: camera.mjpeg, platform: camera.onvif, platform: camera.ring, platform: camera.synology, platform: camera.xiaomi, platform: camera.yi

#18047 Change jewish_calendar tests to parametrized test using pytest
  tests/components/sensor/test_jewish_calendar.py
Labels: cla-signed, in progress

#18063 Add view commands to Lovelace
  homeassistant/components/lovelace/__init__.py
  tests/components/lovelace/test_init.py
Labels: cla-signed, component: lovelace, in progress

#17516 Add message template support for alert component
  homeassistant/components/alert.py
  tests/components/test_alert.py
Labels: Hacktoberfest, cla-signed, component: alert, in progress

#18078 Added identifier and name to connect/disconnect events
  homeassistant/components/keyboard_remote.py
Labels: cla-signed, component: keyboard_remote, in progress, small-pr

#18013 Fix in Daikin.py for set swing_mode and speed
  homeassistant/components/climate/daikin.py
Labels: Hacktoberfest, cla-signed, in progress, platform: climate.daikin, small-pr

#17922 Allow different types to match in pilight
  homeassistant/components/binary_sensor/pilight.py
Labels: Hacktoberfest, cla-signed, in progress, platform: binary_sensor.pilight, small-pr

#16378 Add a component for GreenEye Monitor
  .coveragerc
  homeassistant/components/greeneye_monitor.py
  homeassistant/components/sensor/greeneye_monitor.py
  requirements_all.txt
Labels: cla-signed, component: greeneye_monitor, in progress, new-platform, platform: sensor.greeneye_monitor_current, platform: sensor.greeneye_monitor_pulse, platform: sensor.greeneye_monitor_temperature

#18083 Upgrade locationsharinglib to 3.0.7
  homeassistant/components/device_tracker/google_maps.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#17801 Pass though file_url from extended data attrs
  homeassistant/components/notify/synology_chat.py
Labels: Hacktoberfest, cla-signed, component: notify, core, in progress, small-pr

#18086 Upgrade psutil to 5.4.8
  homeassistant/components/sensor/systemmonitor.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.systemmonitor, small-pr

#18072 Add device_class to relevant sensors of wunderground
  homeassistant/components/sensor/wunderground.py
Labels: cla-signed, in progress, platform: sensor.wunderground

#18088 Upgrade georss_client to 0.4
  homeassistant/components/geo_location/geo_json_events.py
  homeassistant/components/geo_location/nsw_rural_fire_service_feed.py
  homeassistant/components/sensor/geo_rss_events.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, component: geo_location, in progress, small-pr

#18089 Catch KeyError if data is not available (fixes #18082)
  homeassistant/components/sensor/openweathermap.py
Labels: cla-signed, in progress, platform: sensor.openweathermap

#18095 Bump python-miio version
  homeassistant/components/device_tracker/xiaomi_miio.py
  homeassistant/components/fan/xiaomi_miio.py
  homeassistant/components/light/xiaomi_miio.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/sensor/xiaomi_miio.py
  homeassistant/components/switch/xiaomi_miio.py
  homeassistant/components/vacuum/xiaomi_miio.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, platform: fan.xiaomi_miio, platform: light.xiaomi_miio, platform: remote.xiaomi_miio, platform: sensor.xiaomi_miio, platform: switch.xiaomi_miio, platform: vacuum.xiaomi_miio, small-pr

#18069 Revert HAP-python update
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/type_switches.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit/test_type_locks.py
  tests/components/homekit/test_type_media_players.py
Labels: Hacktoberfest, bug, cla-signed, component: homekit, in progress, problem in dependency, small-pr

#18024 Update Pollen.com sensor platform to include asthma info
  homeassistant/components/sensor/pollen.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.pollen

#17999 Use a fixture for dialogflow calls in unit tests
  tests/components/dialogflow/test_init.py
Labels: cla-signed, in progress, small-pr

#17995 Don't try to re-add existing Z-Wave entities
  homeassistant/components/zwave/__init__.py
  tests/components/zwave/test_init.py
Labels: cla-signed, component: zwave, in progress, small-pr

#16148 Always save current position if payload is numeric value
  homeassistant/components/cover/mqtt.py
  tests/components/cover/test_mqtt.py
Labels: cla-signed, in progress, platform: cover.mqtt, small-pr

#18031 Fetch summary for daily Darksky forecasts
  homeassistant/components/sensor/darksky.py
  tests/components/sensor/test_darksky.py
Labels: cla-signed, in progress, platform: sensor.darksky, small-pr

#14933 Update to DoorBirdPy v2 (again)
  .coveragerc
  homeassistant/components/doorbird.py
  homeassistant/components/switch/doorbird.py
  requirements_all.txt
Labels: breaking change, cla-signed, component: doorbird, in progress, platform: switch.doorbird

#17604 Removed assumptions about provided upnp data
  homeassistant/components/upnp/config_flow.py
  homeassistant/components/upnp/strings.json
  tests/components/upnp/test_config_flow.py
Labels: Ready for review, cla-signed, component: upnp

#17645 Add binary sensors for sense energy monitor
  .coveragerc
  homeassistant/components/binary_sensor/sense.py
  homeassistant/components/sense.py
  homeassistant/components/sensor/sense.py
  requirements_all.txt
Labels: Hacktoberfest, breaking change, cla-signed, in progress, platform: sensor.sense

#18022 Use ssdp udn uuid as Samsung TV unique id
  homeassistant/components/media_player/samsungtv.py
  tests/components/media_player/test_samsungtv.py
Labels: cla-signed, in progress, platform: media_player.samsungtv, small-pr

#17593 Allow MS face detection to handle updating entities when no face is detected
  homeassistant/components/image_processing/microsoft_face_detect.py
  homeassistant/components/image_processing/microsoft_face_identify.py
  tests/components/image_processing/test_microsoft_face_detect.py
  tests/components/image_processing/test_microsoft_face_identify.py
Labels: Hacktoberfest, cla-signed, in progress, platform: image_processing.microsoft_face_detect, platform: image_processing.microsoft_face_identify

#18081 Added service select_video_output and video_out attribute
  homeassistant/components/media_player/onkyo.py
Labels: cla-signed, in progress, platform: media_player.onkyo

#18102 Fix time zone for flux switch
  homeassistant/components/switch/flux.py
  tests/components/switch/test_flux.py
Labels: cla-signed, in progress, platform: switch.flux

#18119 Round all Darksky temperatures to 1 decimal place
  homeassistant/components/sensor/darksky.py
Labels: cla-signed, in progress, platform: sensor.darksky, small-pr

#18112 Convert nsw rural fire tests to async
  tests/components/geo_location/test_nsw_rural_fire_service_feed.py
Labels: cla-signed, in progress

#18122 0.81.4
  homeassistant/components/frontend/__init__.py
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, component: frontend, core, in progress, merging-to-master, small-pr

#18100 Adding climate.velbus support
  homeassistant/components/climate/velbus.py
  homeassistant/components/velbus.py
  requirements_all.txt
Labels: cla-signed, component: velbus, in progress, new-platform, platform: climate.velbus

#18101 Changed pifacecommon 4.1.2 to 4.2.2 to make piface digital i/o boards work on rpi 3
  homeassistant/components/rpi_pfio.py
  requirements_all.txt
Labels: cla-signed, component: rpi_pfio, in progress, small-pr

#18107 Update Pollen.com to use numpy for trend analysis
  homeassistant/components/sensor/pollen.py
  requirements_all.txt
  requirements_test_all.txt
Labels: breaking change, cla-signed, in progress, platform: sensor.pollen, small-pr

#18123 Exposes initial attribute on the input_number entity
  homeassistant/components/input_number.py
Labels: cla-signed, component: input_number, in progress, small-pr

#18111 Async generic thermostat tests
  tests/components/climate/common.py
  tests/components/climate/test_generic_thermostat.py
Labels: cla-signed, in progress

#18109 Update fan/demo tests to async
  tests/components/fan/common.py
  tests/components/fan/test_demo.py
  tests/components/fan/test_template.py
Labels: cla-signed, in progress

#18117 UniFi - No Switch for Cloud key
  homeassistant/components/switch/unifi.py
  tests/components/switch/test_unifi.py
Labels: Ready for review, cla-signed, in progress, platform: switch.unifi, small-pr

#17795 TensorFlow image_processing component
  .coveragerc
  homeassistant/components/image_processing/tensorflow.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, in progress, new-platform, platform: image_processing.tensorflow

#18129 Fix DTE Energy Bridge V2 scaling issue. (#18124)
  homeassistant/components/sensor/dte_energy_bridge.py
Labels: cla-signed, in progress, platform: sensor.dte_energy_bridge, small-pr

#18135 Add optional ttl config to route53 component
  homeassistant/components/route53.py
  homeassistant/const.py
Labels: cla-signed, component: route53, core, in progress, small-pr

#18079 Allow disabling WeMo Discovery
  homeassistant/components/wemo.py
Labels: cla-signed, component: wemo, in progress, small-pr

#17567 Fix hassio command timeout
  homeassistant/components/hassio/handler.py
Labels: Hacktoberfest, cla-signed, component: hassio, core, in progress, small-pr

#18131 Remove FFmpeg input tests
  homeassistant/components/binary_sensor/ffmpeg_motion.py
  homeassistant/components/binary_sensor/ffmpeg_noise.py
  homeassistant/components/camera/ffmpeg.py
  homeassistant/components/camera/onvif.py
  homeassistant/components/ffmpeg.py
  tests/components/binary_sensor/test_ffmpeg.py
  tests/components/test_ffmpeg.py
Labels: cla-signed, component: ffmpeg, in progress, platform: binary_sensor.ffmpeg_motion, platform: binary_sensor.ffmpeg_noise, platform: camera.ffmpeg, small-pr

#17835 Add Tautulli sensor platform
  .coveragerc
  homeassistant/components/sensor/tautulli.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, in progress, new-platform, platform: sensor.tautulli

#17852 Add option to manually specify device detection method
  homeassistant/components/device_tracker/mikrotik.py
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#18170 Rename huawei_lte.py to test_huawei_lte.py
  tests/components/test_huawei_lte.py
Labels: cla-signed, in progress, small-pr

#18163 Improve netgear_lte logging when unconnected
  homeassistant/components/netgear_lte.py
Labels: cla-signed, component: netgear_lte, in progress

#17426 XMPP HTTP upload
  homeassistant/components/notify/xmpp.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, component: notify, core, in progress

#18172 Update Coinbase icons
  homeassistant/components/sensor/coinbase.py
Labels: cla-signed, in progress, platform: sensor.coinbase, small-pr

#18159 Bugfix discovery (delete/mqtt) call for Hass.io
  homeassistant/components/hassio/discovery.py
  homeassistant/components/mqtt/config_flow.py
  tests/components/mqtt/test_config_flow.py
Labels: cla-signed, component: hassio, core, in progress, small-pr

#18188 0.81.6
  homeassistant/components/hassio/discovery.py
  homeassistant/components/mqtt/config_flow.py
  homeassistant/const.py
  tests/components/mqtt/test_config_flow.py
Labels: cla-signed, component: hassio, component: mqtt, core, in progress, merging-to-master, small-pr

#18185 Handle TensorFlow like OpenCV
  homeassistant/components/image_processing/tensorflow.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: image_processing.tensorflow, small-pr

#18191 Add support for TensorFlow in official docker
  Dockerfile
Labels: cla-signed, in progress, small-pr

#18183 Added AU (Australia)
  homeassistant/components/sensor/waze_travel_time.py
Labels: cla-signed, in progress, platform: sensor.waze_travel_time, small-pr

#18099 SMA: Optional import in schema & backoff fix
  homeassistant/components/sensor/sma.py
Labels: cla-signed, in progress

#17214 Refactor mysensors message handling
  homeassistant/components/device_tracker/mysensors.py
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/const.py
  homeassistant/components/mysensors/device.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/mysensors/handler.py
  homeassistant/components/mysensors/helpers.py
  requirements_all.txt
Labels: Hacktoberfest, Ready for review, cla-signed, component: mysensors, in progress

#18192 Fix temperature interval Thermostat HomeKit
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_thermostats.py
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_type_thermostats.py
  tests/components/homekit/test_util.py
Labels: cla-signed, component: homekit, in progress

#18196 Add more type hints to helpers
  homeassistant/helpers/dispatcher.py
  homeassistant/helpers/entity_values.py
  homeassistant/helpers/signal.py
  homeassistant/helpers/sun.py
  tox.ini
Labels: cla-signed, core, in progress

#17111 Implemented tplink_lte components and notify service via SMS
  .coveragerc
  homeassistant/components/notify/tplink_lte.py
  homeassistant/components/tplink_lte.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, component: notify, component: tplink_lte, core, in progress, new-platform

#17793 Turn off not cancellable scripts automatically HomeKit
  homeassistant/components/homekit/type_switches.py
  tests/components/homekit/test_type_switches.py
Labels: Hacktoberfest, cla-signed, component: homekit, in progress, new-feature, small-pr

#18142 add service to reconnect the bot
  homeassistant/components/hangouts/__init__.py
  homeassistant/components/hangouts/const.py
  homeassistant/components/hangouts/hangouts_bot.py
  homeassistant/components/hangouts/services.yaml
Labels: cla-signed, component: hangouts, in progress, small-pr

#18216 Cloud conf
  homeassistant/components/cloud/__init__.py
  homeassistant/components/cloud/http_api.py
  homeassistant/helpers/entityfilter.py
  tests/components/cloud/test_http_api.py
  tests/helpers/test_entityfilter.py
Labels: cla-signed, component: cloud, core, in progress

#18214 Removes melissa sensors.
  homeassistant/components/melissa.py
  homeassistant/components/sensor/melissa.py
  tests/components/sensor/test_melissa.py
Labels: breaking change, cla-signed, component: melissa, in progress, platform: sensor.melissa, remove-platform, small-pr

#18219 Remove unrelated scripts
  homeassistant/scripts/db_migrator.py
  homeassistant/scripts/influxdb_import.py
  homeassistant/scripts/influxdb_migrator.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, in progress, small-pr

#18168 WIP : Add available property
  homeassistant/components/media_player/directv.py
Labels: cla-signed, in progress, platform: media_player.directv

#18106 deCONZ - reflect hub status on entities
  homeassistant/components/binary_sensor/deconz.py
  homeassistant/components/cover/deconz.py
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/light/deconz.py
  homeassistant/components/scene/deconz.py
  homeassistant/components/sensor/deconz.py
  homeassistant/components/switch/deconz.py
Labels: Ready for review, cla-signed, component: deconz, in progress, platform: binary_sensor.deconz, platform: cover.deconz, platform: light.deconz, platform: scene.deconz, platform: sensor.deconz, platform: switch.deconz

#18149 Ignore duplicate state changes GarageDoor HomeKit
  homeassistant/components/homekit/type_covers.py
  tests/components/homekit/test_type_covers.py
Labels: bug, cla-signed, component: homekit, in progress, small-pr

#17626 Activate kodi media player progress bar
  homeassistant/components/media_player/kodi.py
Labels: Hacktoberfest, cla-signed, in progress, platform: media_player.kodi, small-pr

#18074 Duplicate entities on discovery
  homeassistant/components/media_player/directv.py
Labels: cla-signed, in progress, platform: media_player.directv

#18203 Mill room temp
  homeassistant/components/climate/mill.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: climate.mill, small-pr

#17799 Add scenes as switches HomeKit
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/type_switches.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_type_switches.py
Labels: Hacktoberfest, cla-signed, component: homekit, in progress, new-feature, small-pr

#18229 Ruamel-yaml: Check if os has chown
  homeassistant/util/ruamel_yaml.py
Labels: cla-signed, core, in progress, small-pr

#18230 Improve debug log information
  homeassistant/components/sensor/statistics.py
Labels: cla-signed, in progress, platform: sensor.statistics, small-pr

#18235 Tibber login validate
  homeassistant/components/tibber/__init__.py
  requirements_all.txt
Labels: cla-signed, component: tibber, in progress, small-pr

#18097 Add Xiaomi Smartmi Fresh Air System support
  homeassistant/components/fan/xiaomi_miio.py
Labels: cla-signed, in progress, platform: fan.xiaomi_miio

#18238 Update pynetgear to 0.5.1 to fix #17800
  homeassistant/components/device_tracker/netgear.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#18154 Elk-M1 fixes
  homeassistant/components/elkm1/__init__.py
Labels: cla-signed, component: elkm1, in progress, small-pr

#18152 Lovelace: Duplicate ID check on load config + caching
  homeassistant/components/lovelace/__init__.py
Labels: cla-signed, component: lovelace, in progress

#18116 deCONZ - manual input fallback in config flow
  homeassistant/components/deconz/.translations/en.json
  homeassistant/components/deconz/.translations/sv.json
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/strings.json
  tests/components/deconz/test_config_flow.py
  tests/components/deconz/test_gateway.py
  tests/components/deconz/test_init.py
Labels: Ready for review, cla-signed, component: deconz, in progress

#18250 Fix Insteon IOLinc sensor
  homeassistant/components/binary_sensor/insteon.py
  homeassistant/components/insteon/__init__.py
  requirements_all.txt
Labels: cla-signed, component: insteon, in progress, platform: binary_sensor.insteon, small-pr

#18233 Add support for locks in google assistant component
  homeassistant/components/alexa/smart_home.py
  homeassistant/components/cloud/__init__.py
  homeassistant/components/google_assistant/__init__.py
  homeassistant/components/google_assistant/const.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/smart_home.py
  homeassistant/components/google_assistant/trait.py
  homeassistant/const.py
  tests/components/alexa/test_smart_home.py
  tests/components/cloud/test_iot.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_google_assistant.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, component: cloud, component: google_assistant, core, in progress

#17386 Add workaround to use notification state for zwave lock state
  homeassistant/components/lock/zwave.py
  tests/components/lock/test_zwave.py
Labels: Hacktoberfest, cla-signed, component: zwave, in progress, platform: lock.zwave, small-pr

#18221 Add season icons
  homeassistant/components/sensor/season.py
Labels: cla-signed, in progress, platform: sensor.season, small-pr

#18257 docstring fix
  homeassistant/helpers/discovery.py
Labels: cla-signed, core, in progress, small-pr

#18258 Report *which* component didn't return a bool
  homeassistant/setup.py
Labels: cla-signed, core, in progress, small-pr

#18155 Fritz keepalive
  homeassistant/components/sensor/fritzbox_callmonitor.py
Labels: cla-signed, core, in progress, platform: sensor.fritzbox_callmonitor, small-pr

#17448 Add additional property to HomeKitSwitch to show whether the Homekit outlet is in use
  homeassistant/components/switch/homekit_controller.py
Labels: Hacktoberfest, cla-signed, in progress, platform: switch.homekit_controller, small-pr

#18190 Add support for Google Home device tracking
  .coveragerc
  homeassistant/components/device_tracker/googlehome.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress, new-platform

#17745 Correct expose_by_default interaction with expose_domains
  homeassistant/components/google_assistant/http.py
Labels: Hacktoberfest, cla-signed, component: google_assistant, core, in progress, small-pr

#18201 Melissa state_attributes
  homeassistant/components/climate/melissa.py
Labels: cla-signed, in progress, platform: climate.melissa, small-pr

#17990 Support eco mode option on Ziggo Mediabox XL
  homeassistant/components/media_player/ziggo_mediabox_xl.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.ziggo_mediabox_xl, small-pr

#17966 Add input_boolean reporting to Prometheus
  homeassistant/components/prometheus.py
Labels: cla-signed, component: prometheus, in progress, small-pr

#18260 Add Xiaomi Air Purifier 2s support
  homeassistant/components/fan/xiaomi_miio.py
Labels: cla-signed, in progress, platform: fan.xiaomi_miio, small-pr

#16989 Allow alexa to simply turn on and off climate components.
  homeassistant/components/alexa/smart_home.py
Labels: cla-signed, component: alexa, core, in progress, small-pr

#18261 Adding current_humidity to attributes if its not None.
  homeassistant/components/climate/__init__.py
Labels: cla-signed, component: climate, core, in progress, small-pr

#18263 Add iAlarm "triggered" support
  homeassistant/components/alarm_control_panel/ialarm.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: alarm_control_panel.ialarm, small-pr

#17916 Add support for switches in homekit controller
  homeassistant/components/homekit_controller/__init__.py
Labels: cla-signed, component: homekit_controller, in progress, small-pr

#18180 Move more MQTT platforms to config entries
  homeassistant/components/lock/__init__.py
  homeassistant/components/lock/mqtt.py
  homeassistant/components/mqtt/discovery.py
  tests/components/lock/test_mqtt.py
Labels: cla-signed, component: lock, component: mqtt, core, in progress, platform: light.mqtt_json, platform: lock.mqtt

#17034 Switch OwnTracks HTTP to use webhook component
  homeassistant/components/device_tracker/owntracks_http.py
  tests/components/device_tracker/test_owntracks_http.py
Labels: Hacktoberfest, cla-signed, component: device_tracker, core, in progress, small-pr

#17353 Update Neato states, actions and alerts based on Neato docs
  homeassistant/components/neato.py
Labels: Hacktoberfest, breaking change, cla-signed, component: neato, in progress, small-pr

#17836 Add services to set/update and cancel Nest ETA
  homeassistant/components/nest/__init__.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, breaking change, cla-signed, component: nest, in progress

#16916 Normalize MAC addresses
  homeassistant/helpers/device_registry.py
  tests/helpers/test_device_registry.py
Labels: cla-signed, core, in progress

#18068 HmIP thermostat fix with operations
  homeassistant/components/climate/homematic.py
Labels: cla-signed, in progress, platform: climate.homematic, small-pr

#18272 Update PR checklist with commented out code check
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed, in progress, small-pr

#18237 Add Norwegian Public Transportation sensor (Ruter).
  .coveragerc
  homeassistant/components/sensor/ruter.py
  requirements_all.txt
Labels: cla-signed, in progress, new-platform, platform: sensor.ruter

#17933 Split out geofency with a component and platform
  homeassistant/components/device_tracker/geofency.py
  homeassistant/components/geofency/__init__.py
  tests/components/device_tracker/test_owntracks.py
  tests/components/geofency/__init__.py
  tests/components/geofency/test_init.py
Labels: Hacktoberfest, breaking change, cla-signed, component: device_tracker, component: geofency, core, in progress, new-platform

#18268 Migrate python-openzwave to homeassistant-pyozw
  homeassistant/components/zwave/__init__.py
  requirements_all.txt
Labels: cla-signed, in progress

#18278 Guard against older pysma, #18099 checked only for no pysma
  homeassistant/components/sensor/sma.py
Labels: cla-signed, in progress, platform: sensor.sma, small-pr

#18294 Use async_add_executor_job at the xiaomi_miio platforms
  homeassistant/components/device_tracker/xiaomi_miio.py
  homeassistant/components/fan/xiaomi_miio.py
  homeassistant/components/light/xiaomi_miio.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/sensor/xiaomi_miio.py
  homeassistant/components/switch/xiaomi_miio.py
  homeassistant/components/vacuum/xiaomi_miio.py
Labels: cla-signed, component: device_tracker, core, in progress, platform: fan.xiaomi_miio, platform: light.xiaomi_miio, platform: remote.xiaomi_miio, platform: sensor.xiaomi_miio, platform: switch.xiaomi_miio, platform: vacuum.xiaomi_miio, small-pr

#18286 Bump pyotgw to 0.3b1
  homeassistant/components/opentherm_gw/__init__.py
  requirements_all.txt
Labels: cla-signed, component: opentherm_gw, in progress, small-pr

#18291 Remove skipped device tracker tests
  tests/components/device_tracker/test_asuswrt.py
  tests/components/device_tracker/test_ddwrt.py
Labels: cla-signed, in progress, small-pr

#18287 Update litejet automation tests to async
  tests/components/automation/test_litejet.py
Labels: cla-signed, in progress

#18289 Update manual ACP tests to async
  homeassistant/components/alarm_control_panel/demo.py
  tests/components/alarm_control_panel/common.py
  tests/components/alarm_control_panel/test_manual.py
Labels: cla-signed, in progress, platform: alarm_control_panel.demo

#18290 Update input component tests to async
  tests/components/test_input_boolean.py
  tests/components/test_input_datetime.py
  tests/components/test_input_number.py
  tests/components/test_input_select.py
  tests/components/test_input_text.py
Labels: cla-signed, in progress

#18275 Add icon to Darksky summary sensors
  homeassistant/components/sensor/darksky.py
Labels: cla-signed, in progress, platform: sensor.darksky, small-pr

#17691 Add support for Lupusec alarm control panel
  .coveragerc
  homeassistant/components/alarm_control_panel/lupusec.py
  homeassistant/components/binary_sensor/lupusec.py
  homeassistant/components/lupusec.py
  homeassistant/components/switch/lupusec.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, component: lupusec, in progress, new-platform, platform: alarm_control_panel.lupusec, platform: binary_sensor.lupusec, platform: switch.lupusec

#18296 Upgrade hdate to 0.7.5
  homeassistant/components/sensor/jewish_calendar.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/sensor/test_jewish_calendar.py
Labels: cla-signed, in progress, platform: sensor.jewish_calendar, small-pr

#18157 Add SUPPORT_SEEK for DLNA DMR devices + now (better) providing media_image_url for DLNA DMR devices
  homeassistant/components/media_player/dlna_dmr.py
  homeassistant/components/upnp/__init__.py
  requirements_all.txt
Labels: cla-signed, component: upnp, in progress, platform: media_player.dlna_dmr, small-pr

#17757 Add upload and download sensors and component for asuswrt
  homeassistant/components/asuswrt.py
  homeassistant/components/device_tracker/asuswrt.py
  homeassistant/components/sensor/asuswrt.py
  requirements_all.txt
  tests/components/device_tracker/test_asuswrt.py
Labels: Hacktoberfest, breaking change, cla-signed, component: asuswrt, component: device_tracker, core, docs-missing, in progress, new-platform, platform: sensor.asuswrt

#18310 Update pyruter to 1.1.0 to be able to reuse aiohttp session.
  homeassistant/components/sensor/ruter.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.ruter, small-pr

#18277 Make flux switch async
  homeassistant/components/switch/flux.py
Labels: cla-signed, in progress, platform: switch.flux, small-pr

#18305 Fix log error message
  homeassistant/components/hassio/__init__.py
Labels: cla-signed, component: hassio, core, in progress, small-pr

#18317 Added optional precision configuration option to generic_thermostat.
  homeassistant/components/climate/generic_thermostat.py
  tests/components/climate/test_generic_thermostat.py
Labels: cla-signed, in progress, platform: climate.generic_thermostat

#18319 Remove Velbus climate platform
  homeassistant/components/climate/velbus.py
  homeassistant/components/velbus.py
Labels: cla-signed, component: velbus, in progress, platform: climate.velbus, remove-platform, small-pr

#18303 System groups
  homeassistant/auth/__init__.py
  homeassistant/auth/auth_store.py
  homeassistant/auth/const.py
  homeassistant/auth/models.py
  homeassistant/auth/permissions/__init__.py
  homeassistant/auth/permissions/const.py
  homeassistant/auth/permissions/entities.py
  homeassistant/auth/permissions/merge.py
  homeassistant/auth/permissions/system_policies.py
  homeassistant/auth/permissions/types.py
  tests/auth/permissions/test_init.py
  tests/auth/permissions/test_system_policies.py
  tests/auth/test_auth_store.py
  tests/common.py
Labels: cla-signed, core, in progress

#18298 Doc fix: a circular dependency does not raise an error.
  homeassistant/loader.py
Labels: cla-signed, core, in progress, small-pr

#18274 Add new launch sensor to keep track of space launches.
  .coveragerc
  homeassistant/components/sensor/launch.py
  requirements_all.txt
Labels: cla-signed, in progress, new-platform, platform: sensor.launch

#17920 W800rf32
  .coveragerc
  homeassistant/components/binary_sensor/w800rf32.py
  homeassistant/components/w800rf32.py
  requirements_all.txt
Labels: cla-signed, component: w800rf32, docs-missing, in progress, new-platform, platform: binary_sensor.w800rf32, platform: switch.w800rf32

#18036 Srpenergy
  .coveragerc
  homeassistant/components/sensor/srp_energy.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/sensor/test_srp_energy.py
Labels: cla-signed, in progress, new-platform, platform: sensor.srp_energy

#18231 Restrict recorder query to include max age
  homeassistant/components/sensor/statistics.py
  tests/components/sensor/test_statistics.py
Labels: cla-signed, in progress, platform: sensor.statistics, small-pr

#18329 huawei_router: fix last device being ignored
  homeassistant/components/device_tracker/huawei_router.py
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#18280 Fix xiaomi binary_sensor warning
  homeassistant/components/binary_sensor/xiaomi_aqara.py
Labels: cla-signed, in progress, platform: binary_sensor.xiaomi_aqara, small-pr

#18336 Switchmate library update
  homeassistant/components/switch/switchmate.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: switch.switchmate, small-pr

#18344 Bump total connect client to 0.22
  homeassistant/components/alarm_control_panel/totalconnect.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: alarm_control_panel.totalconnect, small-pr

#18348 Fix naming of WeMo discovery option
  homeassistant/components/wemo.py
Labels: cla-signed, component: wemo, in progress, small-pr

#18355 Update HAP-python to 2.4.0
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/type_switches.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Testing required, cla-signed, component: homekit, in progress, small-pr

#18359 Add heartbeat support to mysensors
  homeassistant/components/mysensors/device.py
  homeassistant/components/mysensors/handler.py
Labels: cla-signed, component: mysensors, in progress, small-pr

#18338 Upgrade pytest and pytest-sugar
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, small-pr

#18328 show battery_level as a percent vs a decimal
  homeassistant/components/wirelesstag.py
Labels: breaking change, cla-signed, component: wirelesstag, in progress, small-pr

#18364 Bump python-avion dependency
  homeassistant/components/light/avion.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: light.avion, small-pr

#18363 Better error handling in Tibber
  homeassistant/components/sensor/tibber.py
  homeassistant/components/tibber/__init__.py
  requirements_all.txt
Labels: cla-signed, component: tibber, in progress, platform: sensor.tibber, small-pr

#18377 Upgrade async_upnp_client to 0.13.2
  homeassistant/components/media_player/dlna_dmr.py
  homeassistant/components/upnp/__init__.py
  requirements_all.txt
Labels: cla-signed, component: upnp, in progress, platform: media_player.dlna_dmr, small-pr

#18378 Fix including from sub dir
  homeassistant/util/ruamel_yaml.py
Labels: cla-signed, core, in progress, small-pr

#18350 Add more type hints to helpers
  homeassistant/helpers/deprecation.py
  homeassistant/helpers/entityfilter.py
  tox.ini
Labels: cla-signed, core, in progress, small-pr

#18368 Return color information in Alexa Smart Home response
  homeassistant/components/alexa/smart_home.py
  tests/components/alexa/test_smart_home.py
Labels: cla-signed, component: alexa, core, in progress

#18365 Hotfix: TensorFlow file_out fix
  homeassistant/components/image_processing/tensorflow.py
Labels: cla-signed, in progress, platform: image_processing.tensorflow, small-pr

#18372 Fix hangouts notify
  homeassistant/components/notify/hangouts.py
Labels: cla-signed, component: notify, core, in progress, small-pr

#17166 Fix and improvment of Swiss Hydrological Data component
  homeassistant/components/sensor/swiss_hydrological_data.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, in progress, platform: sensor.swiss_hydrological_data

#18382 Fixed misspellings in some of the Pollen sensor names
  homeassistant/components/sensor/pollen.py
Labels: cla-signed, in progress, platform: sensor.pollen, small-pr
