Repository home-assistant/core, pull requests merged in 2018-07, with the labels that each got.

#15212 By default to use access_token if hass.auth.active
  homeassistant/auth.py
  homeassistant/auth_providers/legacy_api_password.py
  homeassistant/components/http/__init__.py
  homeassistant/components/http/auth.py
  homeassistant/components/websocket_api.py
  tests/auth_providers/test_legacy_api_password.py
  tests/components/http/test_auth.py
  tests/components/test_websocket_api.py
Labels: cla-signed, component: http, component: websocket_api, core, in progress

#15241 Upgrade pytest to 3.6.2
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, small-pr

#15240 Add precipitations to Openweathermap daily forecast mode
  homeassistant/components/weather/openweathermap.py
Labels: cla-signed, in progress, platform: weather.openweathermap, small-pr

#15227 deconz: fix light.turn_off with transition (2)
  homeassistant/components/light/deconz.py
Labels: cla-signed, in progress, platform: light.deconz, small-pr

#15248 Revert some changes to setup.py
  setup.cfg
  setup.py
Labels: cla-signed, in progress, small-pr

#15246 Allow extra values in the slot schema of intent handlers
  homeassistant/helpers/intent.py
  tests/components/test_snips.py
  tests/helpers/test_intent.py
Labels: cla-signed, core, in progress

#15111 Rachio webhooks
  homeassistant/components/binary_sensor/rachio.py
  homeassistant/components/rachio.py
  homeassistant/components/switch/rachio.py
  requirements_all.txt
Labels: cla-signed, component: rachio, in progress, new-platform, platform: binary_sensor.rachio, platform: switch.rachio

#15243 Lint cleanups
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/smart_home.py
  homeassistant/components/sensor/tibber.py
  homeassistant/config.py
  homeassistant/helpers/service.py
  homeassistant/helpers/translation.py
  homeassistant/loader.py
Labels: cla-signed, component: google_assistant, core, in progress, platform: sensor.tibber, small-pr

#15250 Upgrade sqlalchemy to 1.2.9
  homeassistant/components/recorder/__init__.py
  homeassistant/components/sensor/sql.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, component: recorder, core, in progress, platform: sensor.sql, small-pr

#15251 Upgrade WazeRouteCalculator to 0.6 (fixes #15157)
  homeassistant/components/sensor/waze_travel_time.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.waze_travel_time, small-pr

#15237 Better handle nest permission issue
  homeassistant/components/binary_sensor/nest.py
Labels: cla-signed, in progress, platform: binary_sensor.nest, small-pr

#15234 Make LIFX color/temperature attributes mutually exclusive
  homeassistant/components/light/lifx.py
Labels: cla-signed, in progress, platform: light.lifx, small-pr

#15214 Only create front-end client_id once
  homeassistant/auth.py
  homeassistant/components/frontend/__init__.py
  tests/common.py
  tests/components/auth/__init__.py
  tests/test_auth.py
Labels: cla-signed, component: frontend, core, in progress

#15256 Fix typo in Docker files
  virtualization/Docker/setup_docker_prereqs
Labels: cla-signed, in progress, small-pr

#15042 Switch to own packaged version of pylgnetcast
  homeassistant/components/media_player/lg_netcast.py
  requirements_all.txt
Labels: almost-done, cla-signed, in progress, platform: media_player.lg_netcast, small-pr

#15255 Added setting cover tilt position in scene
  homeassistant/helpers/state.py
Labels: cla-signed, core, in progress, small-pr

#15226 Pass tox posargs to pylint
  tox.ini
Labels: cla-signed, in progress, small-pr

#15262 Fix Roomba exception
  homeassistant/components/vacuum/roomba.py
Labels: cla-signed, in progress, platform: vacuum.roomba, small-pr

#15165 Added support for Duke Energy smart meters
  .coveragerc
  homeassistant/components/sensor/duke_energy.py
  requirements_all.txt
Labels: Ready for review, cla-signed, in progress, new-platform, platform: sensor.duke_energy

#15082 Update image_processing async
  homeassistant/components/image_processing/__init__.py
Labels: Ready for review, cla-signed, component: image_processing, small-pr

#15244 Fix python-miio 0.4 compatibility of the xiaomi miio device tracker
  homeassistant/components/device_tracker/xiaomi_miio.py
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#15268 Upgrade keyring to 13.1.0
  homeassistant/scripts/keyring.py
  requirements_all.txt
Labels: cla-signed, core, in progress, small-pr

#15247 deCONZ - new sensor attribute 'on' and new sensor GenericFlag
  homeassistant/components/binary_sensor/deconz.py
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/const.py
  homeassistant/components/sensor/deconz.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, component: deconz, in progress, platform: binary_sensor.deconz, platform: sensor.deconz, small-pr

#15232 expose climate current temperature in prometeus metrics
  homeassistant/components/prometheus.py
Labels: cla-signed, component: prometheus, core, in progress, small-pr

#15272 New device to support option MY in somfy
  homeassistant/components/cover/tahoma.py
Labels: cla-signed, in progress, platform: cover.tahoma, small-pr

#15278 Add isort configuration
  .isort.cfg
Labels: cla-signed, in progress, small-pr

#13390 Adding range filter
  homeassistant/components/sensor/filter.py
  tests/components/sensor/test_filter.py
Labels: almost-done, cla-error, cla-signed, platform: sensor.filter

#15279 Add support for new fixer API (fixes #14911)
  homeassistant/components/sensor/fixer.py
  requirements_all.txt
Labels: breaking change, cla-signed, in progress, platform: sensor.fixer, small-pr

#15261 Switch to own packaged version of suds-passworddigest
  homeassistant/components/camera/onvif.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: camera.onvif, small-pr

#15282 Disable the calendar panel
  homeassistant/components/calendar/__init__.py
Labels: cla-signed, component: calendar, in progress, small-pr

#15073 Update Tile platform to be async
  homeassistant/components/device_tracker/tile.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress

#15290 Fix yeelight light brightness
  homeassistant/components/light/yeelight.py
Labels: bug, cla-signed, in progress, platform: light.yeelight, small-pr

#15151 Added Push Camera
  homeassistant/components/camera/push.py
  tests/components/camera/test_push.py
Labels: Ready for review, cla-signed, new-platform, platform: camera.push

#15270 Added support to HTTPS URLs on SynologyDSM
  homeassistant/components/sensor/synologydsm.py
  requirements_all.txt
Labels: breaking change, cla-signed, in progress, platform: sensor.synologydsm, small-pr

#15291 Add system generated users
  homeassistant/auth.py
  homeassistant/components/auth/__init__.py
  tests/auth_providers/test_insecure_example.py
  tests/auth_providers/test_legacy_api_password.py
  tests/common.py
  tests/components/conftest.py
  tests/test_auth.py
Labels: cla-signed, component: auth, core, in progress

#15296 Fix exception when parts of Pollen.com can't be reached
  homeassistant/components/sensor/pollen.py
Labels: cla-signed, in progress, platform: sensor.pollen, small-pr

#15323 Upgrade youtube_dl to 2018.07.04
  homeassistant/components/media_extractor.py
  requirements_all.txt
Labels: cla-signed, component: media_extractor, in progress, small-pr

#15322 Upgrade keyring to 13.2.0
  homeassistant/scripts/keyring.py
  requirements_all.txt
Labels: cla-signed, core, in progress, small-pr

#15332 Upgrade pytest to 3.6.3
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, small-pr

#15304 Add original message as dialogflow_query to parameters
  homeassistant/components/dialogflow.py
Labels: cla-signed, component: dialogflow, in progress, small-pr

#14523 Add python 3.7 to travis and tox
  .travis.yml
  homeassistant/components/device_tracker/aruba.py
  homeassistant/components/device_tracker/asuswrt.py
  homeassistant/components/device_tracker/cisco_ios.py
  homeassistant/components/device_tracker/unifi_direct.py
  homeassistant/components/media_player/pandora.py
  homeassistant/components/vacuum/__init__.py
  homeassistant/loader.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  setup.py
  tests/components/mqtt/test_server.py
  tests/components/sensor/test_geo_rss_events.py
  tests/test_util/aiohttp.py
  tox.ini
Labels: cla-signed, in progress, small-pr

#15368 Frontend: Allow overriding default url when added to home screen
  homeassistant/components/frontend/__init__.py
Labels: cla-signed, component: frontend, core, in progress, small-pr

#15343 Add HomematicIP Cloud light power consumption and energie attributes
  homeassistant/components/light/homematicip_cloud.py
Labels: cla-signed, in progress, platform: light.homematicip_cloud, small-pr

#15334 fix camera.push API overwrite
  homeassistant/components/camera/push.py
Labels: Ready for review, cla-signed, in progress, platform: camera.push, small-pr

#14548 Add support for multi-channel enocean switches (D2-01-12 profile)
  homeassistant/components/enocean.py
  homeassistant/components/switch/enocean.py
Labels: almost-done, cla-signed, component: enocean, core, platform: switch.enocean, small-pr

#14910 Add sound mode support
  homeassistant/components/media_player/denonavr.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.denonavr

#15352 Fixed issue 15340. Alexa Smart Home now handles unsupported properties correctly
  homeassistant/components/alexa/smart_home.py
Labels: cla-signed, component: alexa, core, in progress, small-pr

#15380 Efergy
  homeassistant/components/sensor/efergy.py
  tests/components/sensor/test_efergy.py
  tests/fixtures/efergy_budget.json
  tests/fixtures/efergy_cost.json
  tests/fixtures/efergy_energy.json
Labels: cla-signed, in progress, platform: sensor.efergy

#15369 Use IndieAuth for client ID
  homeassistant/auth.py
  homeassistant/components/auth/__init__.py
  homeassistant/components/auth/client.py
  homeassistant/components/auth/indieauth.py
  homeassistant/components/frontend/__init__.py
  tests/common.py
  tests/components/auth/__init__.py
  tests/components/auth/test_client.py
  tests/components/auth/test_indieauth.py
  tests/components/auth/test_init.py
  tests/components/auth/test_init_link_user.py
  tests/components/auth/test_init_login_flow.py
  tests/components/conftest.py
  tests/test_auth.py
Labels: cla-signed, component: auth, component: frontend, core, in progress, new-platform, remove-platform

#15385 Add httplib2 to h.c.google requirements
  homeassistant/components/calendar/google.py
  homeassistant/components/google.py
  requirements_all.txt
Labels: cla-signed, component: google, in progress, platform: calendar.google, small-pr

#15386 Remove some unneeded pylint import-error disables
  homeassistant/components/device_tracker/mikrotik.py
  homeassistant/components/eufy.py
  homeassistant/components/light/eufy.py
  homeassistant/components/switch/eufy.py
Labels: cla-signed, component: device_tracker, component: eufy, core, in progress, platform: light.eufy, platform: switch.eufy, small-pr

#15378 Update ha-philipsjs to 0.0.5
  homeassistant/components/media_player/philips_js.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: media_player.philips_js, small-pr

#15320 Add new voices to Amazon Polly
  homeassistant/components/tts/amazon_polly.py
Labels: cla-signed, component: tts, in progress, small-pr

#15388 Add Cloudflare DNS component.
  .coveragerc
  homeassistant/components/cloudflare.py
  requirements_all.txt
Labels: cla-signed, component: cloudflare, in progress, new-platform

#14998 Add Facebox teach service
  homeassistant/components/image_processing/facebox.py
  homeassistant/components/image_processing/services.yaml
  tests/components/image_processing/test_facebox.py
Labels: almost-done, cla-signed, in progress, platform: image_processing.facebox

#15381 Expire auth code after 10 minutes
  homeassistant/components/auth/__init__.py
  tests/components/auth/test_init.py
Labels: cla-signed, component: auth, in progress

#14866 Improve NetAtmo sensors update logic
  homeassistant/components/sensor/netatmo.py
Labels: cla-signed, in progress, platform: sensor.netatmo

#15402 Removed unused return from Cloudflare
  homeassistant/components/cloudflare.py
Labels: cla-signed, component: cloudflare, in progress, small-pr

#15404 Fix liveboxplaytv empty channel list
  homeassistant/components/media_player/liveboxplaytv.py
Labels: cla-signed, in progress, platform: media_player.liveboxplaytv, small-pr

#15409 Fix credentials lookup
  homeassistant/auth.py
  tests/test_auth.py
Labels: core, in progress, small-pr

#15399 Add Tuya component and switch support
  .coveragerc
  homeassistant/components/switch/tuya.py
  homeassistant/components/tuya.py
  requirements_all.txt
Labels: cla-signed, component: tuya, in progress, new-platform, platform: switch.tuya

#15417 Fix HomeMatic variables
  homeassistant/components/homematic/__init__.py
  requirements_all.txt
Labels: bug, cla-signed, component: homematic, in progress, small-pr

#15316 Ignore some HomeKit devices
  homeassistant/components/homekit_controller/__init__.py
Labels: breaking change, cla-signed, component: homekit_controller, in progress, small-pr

#15298 Make LimitlessLED color/temperature attributes mutually exclusive
  homeassistant/components/light/limitlessled.py
Labels: breaking change, cla-signed, in progress, platform: light.limitlessled, small-pr

#15342 Add HomematicIP alarm control panel
  homeassistant/components/alarm_control_panel/__init__.py
  homeassistant/components/alarm_control_panel/homematicip_cloud.py
  homeassistant/components/homematicip_cloud/const.py
  tests/components/homematicip_cloud/test_hap.py
Labels: almost-done, cla-signed, component: alarm_control_panel, component: homematicip_cloud, core, in progress, new-platform, platform: alarm_control_panel.homematicip_cloud

#15347 Add python 3.8-dev to travis and tox
  .travis.yml
  tox.ini
Labels: Ready for review, cla-signed, in progress, small-pr

#15443 Reorg auth
  homeassistant/auth.py
  homeassistant/auth/__init__.py
  homeassistant/auth/auth_store.py
  homeassistant/auth/const.py
  homeassistant/auth/models.py
  homeassistant/auth/providers/__init__.py
  homeassistant/auth/providers/homeassistant.py
  homeassistant/auth/providers/insecure_example.py
  homeassistant/auth/providers/legacy_api_password.py
  homeassistant/auth/util.py
  homeassistant/auth_providers/__init__.py
  homeassistant/components/rachio.py
  homeassistant/config.py
  homeassistant/scripts/auth.py
  tests/auth/__init__.py
  tests/auth/providers/__init__.py
  tests/auth/providers/test_homeassistant.py
  tests/auth/providers/test_insecure_example.py
  tests/auth/providers/test_legacy_api_password.py
  tests/auth/test_init.py
  tests/common.py
  tests/components/http/test_auth.py
  tests/scripts/test_auth.py
Labels: cla-signed, core, in progress

#14904 upgrade-mypy
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, core, in progress

#15447 Fix comment formatting
  homeassistant/components/device_tracker/asuswrt.py
Labels: cla-signed, component: device_tracker, core, in progress, small-pr

#15420 User management
  homeassistant/auth/__init__.py
  homeassistant/auth/auth_store.py
  homeassistant/auth/providers/__init__.py
  homeassistant/auth/providers/homeassistant.py
  homeassistant/components/auth/__init__.py
  homeassistant/components/camera/__init__.py
  homeassistant/components/config/__init__.py
  homeassistant/components/config/auth.py
  homeassistant/components/config/auth_provider_homeassistant.py
  homeassistant/components/http/auth.py
  homeassistant/components/websocket_api.py
  homeassistant/scripts/auth.py
  tests/auth/providers/test_homeassistant.py
  tests/auth/test_init.py
  tests/common.py
  tests/components/config/test_auth.py
  tests/components/config/test_auth_provider_homeassistant.py
  tests/components/conftest.py
  tests/components/http/test_auth.py
  tests/conftest.py
  tests/scripts/test_auth.py
Labels: cla-signed, component: auth, component: config, component: http, component: websocket_api, core, in progress, new-platform

#15449 More typing
  homeassistant/config.py
  homeassistant/core.py
  homeassistant/loader.py
  homeassistant/remote.py
  homeassistant/setup.py
  homeassistant/util/json.py
  mypy.ini
  tox.ini
Labels: cla-signed, core, in progress

#15434 Catch the ValueError if the bulb was in the wrong mode
  homeassistant/components/light/mystrom.py
Labels: cla-signed, in progress, platform: light.mystrom, small-pr

#15453 Upgrade keyring to 13.2.1
  homeassistant/scripts/keyring.py
  requirements_all.txt
Labels: cla-signed, core, in progress, small-pr

#15450 Fix formatting pylint comments in test
  tests/components/binary_sensor/test_trend.py
  tests/components/device_tracker/test_asuswrt.py
  tests/components/device_tracker/test_mqtt.py
  tests/components/device_tracker/test_mqtt_json.py
  tests/components/device_tracker/test_unifi_direct.py
  tests/components/light/test_mqtt.py
  tests/components/light/test_mqtt_json.py
  tests/components/light/test_mqtt_template.py
  tests/components/test_device_sun_light_trigger.py
  tests/components/test_history.py
  tests/components/test_logbook.py
  tests/scripts/test_check_config.py
Labels: cla-signed, in progress

#15412 Fix ZWave RGBW lights not producing color without explicit white_value
  homeassistant/components/light/zwave.py
  tests/components/light/test_zwave.py
Labels: cla-signed, in progress, platform: light.zwave

#15458 Add HomeMatic HmIP-SPDR device support
  homeassistant/components/homematic/__init__.py
Labels: cla-signed, component: homematic, in progress, small-pr

#15459 Implement is_on
  homeassistant/components/switch/insteon_plm.py
Labels: cla-signed, in progress, platform: switch.insteon_plm, small-pr

#15469 Remove unnecessary executable permissions
  homeassistant/components/climate/fritzbox.py
  homeassistant/components/cover/group.py
  homeassistant/components/fritzbox.py
  homeassistant/components/sensor/wirelesstag.py
  homeassistant/components/switch/amcrest.py
  homeassistant/components/switch/fritzbox.py
  tests/components/cover/test_init.py
  tests/fixtures/pushbullet_devices.json
Labels: cla-signed, component: fritzbox, in progress, platform: climate.fritzbox, platform: cover.group, platform: sensor.wirelesstag, platform: switch.amcrest, platform: switch.fritzbox, small-pr

#15444 Add Tuya light platform
  homeassistant/components/light/tuya.py
  homeassistant/components/tuya.py
  requirements_all.txt
Labels: cla-signed, component: tuya, in progress, new-platform, platform: light.tuya

#15460 Update homematicip_cloud with enum states
  homeassistant/components/binary_sensor/homematicip_cloud.py
  homeassistant/components/homematicip_cloud/__init__.py
  homeassistant/components/light/homematicip_cloud.py
  homeassistant/components/sensor/homematicip_cloud.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, component: homematicip_cloud, in progress, platform: binary_sensor.homematicip_cloud, platform: light.homematicip_cloud, platform: sensor.homematicip_cloud, small-pr

#15470 Add user via cmd line creates owner
  homeassistant/auth/__init__.py
  homeassistant/auth/auth_store.py
  homeassistant/components/auth/__init__.py
  homeassistant/components/http/auth.py
  tests/auth/test_init.py
  tests/components/auth/test_init.py
  tests/components/auth/test_init_link_user.py
  tests/components/test_websocket_api.py
Labels: cla-signed, component: auth, component: http, core, in progress

#15040 Switch to own packaged version of pygtfs
  homeassistant/components/sensor/gtfs.py
  requirements_all.txt
Labels: cla-signed, in progress, platform: sensor.gtfs, small-pr

#15480 Aware comments
  homeassistant/auth/__init__.py
  homeassistant/components/auth/__init__.py
  tests/auth/test_init.py
  tests/components/auth/test_init.py
Labels: cla-signed, component: auth, core, in progress, small-pr

#15472 Fix flux_led turning on with color or effect
  homeassistant/components/light/flux_led.py
Labels: cla-signed, in progress, platform: light.flux_led, small-pr

#15483 Extract SSL context creation to helper
  homeassistant/components/http/__init__.py
  homeassistant/helpers/aiohttp_client.py
  homeassistant/util/ssl.py
Labels: cla-signed, core, in progress, small-pr

#15494 0.73.2 - security release
  homeassistant/components/http/__init__.py
  homeassistant/const.py
  homeassistant/helpers/aiohttp_client.py
  homeassistant/util/ssl.py
Labels: cla-signed, component: http, core, in progress, merging-to-master

#15455 Delay setup of waze travel time component
  homeassistant/components/sensor/waze_travel_time.py
Labels: cla-signed, in progress, platform: sensor.waze_travel_time, small-pr

#15503 Bump pyarlo==0.2.0, fixes #15486
  homeassistant/components/arlo.py
  requirements_all.txt
Labels: cla-signed, component: arlo, in progress, small-pr

#15502 Update HomeKit module code
  homeassistant/components/homekit_controller/__init__.py
  requirements_all.txt
Labels: cla-signed, component: homekit_controller, in progress, small-pr

#15492 Add onboarding support
  homeassistant/auth/providers/homeassistant.py
  homeassistant/components/frontend/__init__.py
  homeassistant/components/onboarding/__init__.py
  homeassistant/components/onboarding/const.py
  homeassistant/components/onboarding/views.py
  tests/components/onboarding/__init__.py
  tests/components/onboarding/test_init.py
  tests/components/onboarding/test_views.py
Labels: cla-signed, component: frontend, component: onboarding, core, in progress, new-platform

#15487 Pylint 2 fixes
  homeassistant/components/binary_sensor/isy994.py
  homeassistant/components/camera/proxy.py
  homeassistant/components/camera/verisure.py
  homeassistant/components/climate/daikin.py
  homeassistant/components/climate/radiotherm.py
  homeassistant/components/device_tracker/tomato.py
  homeassistant/components/device_tracker/ubus.py
  homeassistant/components/egardia.py
  homeassistant/components/fan/template.py
  homeassistant/components/feedreader.py
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/type_sensors.py
  homeassistant/components/light/template.py
  homeassistant/components/media_player/apple_tv.py
  homeassistant/components/media_player/bluesound.py
  homeassistant/components/media_player/pandora.py
  homeassistant/components/media_player/samsungtv.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/sensor/arlo.py
  homeassistant/components/sensor/daikin.py
  homeassistant/components/sensor/fritzbox_callmonitor.py
  homeassistant/components/sensor/ios.py
  homeassistant/components/sensor/isy994.py
  homeassistant/components/sensor/miflora.py
  homeassistant/components/sensor/mitemp_bt.py
  homeassistant/components/sensor/octoprint.py
  homeassistant/components/sensor/qnap.py
  homeassistant/components/sensor/synologydsm.py
  homeassistant/components/spc.py
  homeassistant/components/wink/__init__.py
  homeassistant/helpers/condition.py
  tests/components/emulated_hue/test_upnp.py
  tests/components/test_system_log.py
Labels: cla-signed, in progress

#15504 Disallow use insecure_example auth provider in configuration.yml
  homeassistant/config.py
  tests/test_config.py
Labels: cla-signed, core, in progress, small-pr

#15500 Add Tuya climate platform
  homeassistant/components/climate/tuya.py
  homeassistant/components/tuya.py
Labels: cla-signed, component: tuya, in progress, new-platform, platform: climate.tuya

#15356 Support latest tplink Archer D9 Firmware version / Device Scanner
  homeassistant/components/device_tracker/tplink.py
  requirements_all.txt
Labels: cla-signed, component: device_tracker, core, in progress

#15442 Customizable command timeout
  homeassistant/components/binary_sensor/command_line.py
  homeassistant/components/sensor/command_line.py
  tests/components/binary_sensor/test_command_line.py
  tests/components/sensor/test_command_line.py
Labels: cla-signed, in progress, platform: sensor.command_line, small-pr

#15529 Remove some unused imports
  homeassistant/__main__.py
  homeassistant/helpers/__init__.py
  homeassistant/loader.py
Labels: cla-signed, core, in progress, small-pr

#15530 Decouple emulated hue from http server
  homeassistant/components/emulated_hue/__init__.py
Labels: cla-signed, component: emulated_hue, in progress

#15498 Moon translate
  homeassistant/components/sensor/moon.py
  homeassistant/components/sensor/strings.moon.json
  tests/components/sensor/test_moon.py
Labels: breaking change, cla-signed, in progress, platform: sensor.moon, platform: sensor.strings.moon.json, small-pr

#15490 Make sure that only pypi dependencies are used
  script/gen_requirements_all.py
Labels: cla-signed, in progress, small-pr

#15484 RFC: Only use supported light properties
  homeassistant/components/light/__init__.py
  homeassistant/components/light/mqtt.py
  tests/components/light/test_group.py
  tests/components/light/test_mqtt.py
  tests/components/light/test_mqtt_template.py
Labels: cla-signed, component: light, core, in progress, platform: light.mqtt

#15475 Cleanup of HomematicIP Cloud code
  homeassistant/components/alarm_control_panel/homematicip_cloud.py
  homeassistant/components/homematicip_cloud/device.py
  homeassistant/components/sensor/homematicip_cloud.py
Labels: cla-signed, component: homematicip_cloud, in progress, small-pr

#15467 Implement locate service for neato
  homeassistant/components/neato.py
  homeassistant/components/vacuum/neato.py
  requirements_all.txt
Labels: cla-signed, component: neato, in progress, platform: vacuum.neato, small-pr

#15451 Make RS room thermostat discoverable
  homeassistant/components/zwave/discovery_schemas.py
Labels: cla-signed, component: zwave, in progress, small-pr

#15441 Add support for Tahoma Smoke Sensor
  homeassistant/components/binary_sensor/tahoma.py
  homeassistant/components/tahoma.py
Labels: cla-signed, component: tahoma, in progress, new-platform, platform: binary_sensor.tahoma

#15540 Update pyatmo
  homeassistant/components/netatmo.py
  requirements_all.txt
Labels: cla-signed, component: netatmo, in progress, small-pr

#15546 Allow less modern ciphers for outgoing connections
  homeassistant/util/ssl.py
Labels: cla-signed, core, in progress, small-pr

#15548 Update reading when device is added
  homeassistant/components/sensor/bme280.py
Labels: cla-signed, in progress, platform: sensor.bme280, small-pr

#15519 Allow CORS requests to token endpoint
  homeassistant/components/auth/__init__.py
  homeassistant/components/emulated_hue/__init__.py
  homeassistant/components/http/__init__.py
  homeassistant/components/http/cors.py
  homeassistant/components/http/view.py
  tests/components/auth/test_init.py
  tests/components/emulated_hue/test_hue_api.py
  tests/components/http/test_cors.py
  tests/components/http/test_data_validator.py
Labels: cla-signed, component: auth, component: http, core, in progress

#15531 Update config entry id in entity registry
  homeassistant/helpers/entity_registry.py
  tests/helpers/test_entity_registry.py
Labels: cla-signed, core, in progress, small-pr

#15527 Added WS endpoint for changing homeassistant password.
  homeassistant/components/config/auth_provider_homeassistant.py
  tests/components/config/test_auth_provider_homeassistant.py
Labels: cla-signed, component: config, core, in progress

#15542 Upgrade to simplisafe-python v2 to use new SimpliSafe API
  homeassistant/components/alarm_control_panel/simplisafe.py
  requirements_all.txt
Labels: breaking change, cla-signed, in progress, platform: alarm_control_panel.simplisafe

#15557 Allow auth providers to influence is_active
  homeassistant/auth/__init__.py
  homeassistant/auth/providers/__init__.py
  homeassistant/auth/providers/homeassistant.py
  homeassistant/auth/providers/insecure_example.py
  homeassistant/auth/providers/legacy_api_password.py
  homeassistant/scripts/auth.py
  tests/auth/providers/test_homeassistant.py
  tests/auth/providers/test_insecure_example.py
  tests/auth/providers/test_legacy_api_password.py
  tests/components/auth/test_init.py
  tests/scripts/test_auth.py
Labels: cla-signed, core, in progress

#15554 Upgrade pymysensors to 0.16.0
  homeassistant/components/mysensors/__init__.py
  requirements_all.txt
Labels: cla-signed, component: mysensors, in progress, small-pr

#15560 Remove relative time from state machine
  homeassistant/components/sensor/netatmo.py
Labels: cla-signed, in progress, platform: sensor.netatmo, small-pr

#15525 Add Tuya fan support
  homeassistant/components/fan/tuya.py
  homeassistant/components/tuya.py
Labels: cla-signed, component: tuya, in progress, new-platform, platform: fan.tuya

#15564 Breaking Change: Reset failed login attempts counter when login success
  homeassistant/components/http/ban.py
  homeassistant/components/http/view.py
  homeassistant/components/websocket_api.py
  tests/components/http/test_ban.py
Labels: cla-signed, component: http, component: websocket_api, core, in progress

#15571 light.tplink: initialize min & max mireds only once, avoid i/o outside update
  homeassistant/components/light/tplink.py
Labels: cla-signed, in progress, platform: light.tplink, small-pr

#15572 fix aiohttp InvalidURL exception when fetching media player image
  homeassistant/components/media_player/__init__.py
Labels: cla-signed, component: media_player, core, in progress, small-pr

#15430 Allow MQTT Switch to have an optional state configuration
  homeassistant/components/switch/mqtt.py
  tests/components/switch/test_mqtt.py
Labels: cla-signed, in progress, platform: switch.mqtt

#15584 Add unique_id to netgear_lte sensors
  homeassistant/components/netgear_lte.py
  homeassistant/components/sensor/netgear_lte.py
  requirements_all.txt
Labels: cla-signed, component: netgear_lte, in progress, platform: sensor.netgear_lte, small-pr

#15242 Add relay addr & chan config to alarmdecoder zones
  homeassistant/components/alarmdecoder.py
  homeassistant/components/binary_sensor/alarmdecoder.py
Labels: cla-signed, component: alarmdecoder, in progress, platform: binary_sensor.alarmdecoder, small-pr

#15603 Update pyhomematic, fixes #15054, #15190
  homeassistant/components/homematic/__init__.py
  requirements_all.txt
Labels: cla-signed, component: homematic, in progress, small-pr

#15591 Throttle unavailability warnings for tplink light/switch
  homeassistant/components/light/tplink.py
  homeassistant/components/switch/tplink.py
Labels: cla-signed, in progress, platform: light.tplink, platform: switch.tplink, small-pr

#15606 Frontend component should auto load auth component
  homeassistant/components/frontend/__init__.py
  tests/components/frontend/test_init.py
Labels: cla-signed, component: frontend, core, in progress, small-pr

#15600 Bugfix HomeKit name and serial_number
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  tests/components/homekit/test_accessories.py
  tests/components/homekit/test_homekit.py
Labels: bug, cla-signed, component: homekit, in progress

#15611 Remove entity picture of Tuya entity
  homeassistant/components/tuya.py
Labels: cla-signed, component: tuya, in progress, small-pr

#15612 Upgrade mypy to 0.620
  homeassistant/core.py
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, core, in progress, small-pr

#15604 Use case insensitive comparison for Sonos model check
  homeassistant/components/media_player/sonos.py
Labels: cla-signed, in progress, platform: media_player.sonos, small-pr

#15605 Refresh Sonos source list on changes
  homeassistant/components/media_player/sonos.py
Labels: cla-signed, in progress, platform: media_player.sonos, small-pr

#15614 The tense is wrong
  CONTRIBUTING.md
Labels: cla-signed, in progress, small-pr

#15555 Suppress error between 00:00 and 01:00
  homeassistant/components/sensor/buienradar.py
Labels: cla-signed, in progress, platform: sensor.buienradar, small-pr

#15633 Use async_create_task
  homeassistant/components/__init__.py
  homeassistant/components/alarm_control_panel/__init__.py
  homeassistant/components/alert.py
  homeassistant/components/android_ip_webcam.py
  homeassistant/components/apple_tv.py
  homeassistant/components/cast/__init__.py
  homeassistant/components/deconz/__init__.py
  homeassistant/components/eight_sleep.py
  homeassistant/components/envisalink.py
  homeassistant/components/homematicip_cloud/hap.py
  homeassistant/components/hue/bridge.py
  homeassistant/components/insteon_plm/__init__.py
  homeassistant/components/knx.py
  homeassistant/components/lutron_caseta.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/nest/__init__.py
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/sabnzbd.py
  homeassistant/components/satel_integra.py
  homeassistant/components/sonos/__init__.py
  homeassistant/components/spc.py
  homeassistant/components/tradfri.py
  homeassistant/components/upnp.py
  homeassistant/components/velux.py
  homeassistant/helpers/discovery.py
  tests/components/deconz/test_init.py
Labels: cla-signed, in progress

#15574 Allow system users to refresh tokens
  homeassistant/components/auth/__init__.py
  tests/components/auth/test_init.py
Labels: cla-signed, component: auth, in progress

#15536 Hass.io sent token to supervisor
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/handler.py
  tests/components/hassio/test_init.py
Labels: cla-signed, component: hassio, core, in progress

#15577 Fix aiohttp connection reset errors
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/ffmpeg.py
  homeassistant/components/camera/mjpeg.py
  homeassistant/components/camera/proxy.py
  homeassistant/helpers/aiohttp_client.py
Labels: cla-signed, core, in progress, small-pr

#15630 Cast/Sonos: create config entry if manually configured
  homeassistant/components/cast/__init__.py
  homeassistant/components/sonos/__init__.py
  homeassistant/helpers/config_entry_flow.py
  tests/components/cast/test_init.py
  tests/components/sonos/test_init.py
  tests/helpers/test_config_entry_flow.py
Labels: cla-signed, component: cast, component: sonos, core, in progress

#15390 Add ability to set Zwave protection commandclass
  homeassistant/components/config/zwave.py
  tests/components/config/test_zwave.py
Labels: cla-signed, component: config, in progress

#15639 Update Neato library to allow for dynamic endpoints
  homeassistant/components/neato.py
  requirements_all.txt
Labels: cla-signed, component: neato, in progress, small-pr

#15645 Fix typo `asayn_init` instead of `async_init`
  homeassistant/components/device_tracker/tile.py
Labels: cla-signed, in progress, platform: device_tracker.tile, small-pr

#15551 Add ipban for failed login attempt in new login flow
  homeassistant/components/auth/__init__.py
  homeassistant/components/http/ban.py
Labels: cla-signed, component: auth, in progress, small-pr

#15587 Add Tuya cover and scene platform
  homeassistant/components/cover/tuya.py
  homeassistant/components/scene/tuya.py
  homeassistant/components/tuya.py
Labels: cla-signed, component: tuya, in progress, new-platform, platform: cover.tuya, platform: scene.tuya

#15636 Update smappy library version
  homeassistant/components/smappee.py
  requirements_all.txt
Labels: breaking change, cla-signed, component: smappee, in progress, small-pr

#15651 0.74.1
  homeassistant/components/cast/__init__.py
  homeassistant/components/frontend/__init__.py
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/media_player/sonos.py
  homeassistant/components/sonos/__init__.py
  homeassistant/const.py
  homeassistant/helpers/config_entry_flow.py
  tests/components/cast/test_init.py
  tests/components/frontend/test_init.py
  tests/components/homekit/test_accessories.py
  tests/components/homekit/test_homekit.py
  tests/components/sonos/test_init.py
  tests/helpers/test_config_entry_flow.py
Labels: cla-signed, component: cast, component: frontend, component: homekit, component: sonos, core, in progress, merging-to-master, platform: media_player.sonos

#15637 Allow changing entity ID
  homeassistant/components/config/entity_registry.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/entity_registry.py
  tests/components/config/test_entity_registry.py
  tests/helpers/test_entity.py
  tests/helpers/test_entity_platform.py
Labels: cla-signed, core, in progress

#15652 Downgrade netatmo warning-level log to info-level
  homeassistant/components/sensor/netatmo.py
Labels: cla-signed, in progress, platform: sensor.netatmo, small-pr

#15051 Add turn_on/off service to camera
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/demo.py
  homeassistant/components/camera/services.yaml
  tests/components/camera/test_demo.py
Labels: cla-signed, component: camera, core, in progress, platform: camera.demo, platform: camera.demo_off.jpg

#15493 Allow defining default turn-on values for lights in the profiles file.
  homeassistant/components/light/__init__.py
  tests/components/light/test_init.py
Labels: cla-signed, component: light, core, docs-missing, in progress

#15558 Added user credentials to current_user ws endpoint.
  homeassistant/components/auth/__init__.py
  tests/components/auth/test_init.py
Labels: cla-signed, component: auth, in progress, small-pr

#15649 Import collections abstract base classes from collections.abc
  homeassistant/components/google_assistant/smart_home.py
  homeassistant/components/notify/group.py
Labels: cla-signed, component: google_assistant, component: notify, core, in progress, small-pr

#15640 Auth typing improvements
  homeassistant/auth/providers/homeassistant.py
Labels: cla-signed, core, in progress, small-pr
