Repository home-assistant/core, pull requests merged in 2018-03, with the labels that each got.

#12796 Fix dead Sonos web interface with some music sources
  homeassistant/components/media_player/sonos.py
Labels: cla-signed, platform: media_player.sonos, small-pr

#12325 TekSavvy Sensor unlimited bandwidth support
  .coveragerc
  homeassistant/components/sensor/teksavvy.py
  tests/components/sensor/test_teksavvy.py
Labels: breaking change, cla-signed, platform: sensor.teksavvy

#12399 iCloud location tracking improvements
  homeassistant/components/device_tracker/icloud.py
Labels: cla-signed, platform: device_tracker.icloud

#12799 Unique IDs for Plex Clients
  homeassistant/components/media_player/plex.py
Labels: cla-signed, platform: media_player.plex

#12453 Support serving of backend translations
  .gitignore
  .travis.yml
  homeassistant/components/frontend/__init__.py
  homeassistant/components/sensor/.translations/season.en.json
  homeassistant/components/sensor/season.py
  homeassistant/components/sensor/strings.season.json
  homeassistant/helpers/translation.py
  homeassistant/util/json.py
  script/translations_download
  script/translations_download_split.py
  script/translations_upload
  script/translations_upload_merge.py
  script/travis_deploy
  tests/helpers/test_translation.py
  tests/testing_config/custom_components/switch/.translations/test.de.json
  tests/testing_config/custom_components/switch/.translations/test.en.json
  tests/testing_config/custom_components/switch/.translations/test.es.json
  tests/testing_config/custom_components/test_package/__init__.py
  tests/testing_config/custom_components/test_standalone.py
Labels: Ready for review, cla-signed, component: frontend, core

#12804 Translation cleanup
  .travis.yml
  script/translations_download_split.py
  script/translations_upload_merge.py
Labels: cla-signed

#12803 Take ownership of Emby, Eight Sleep, Hikvision
  CODEOWNERS
Labels: cla-signed, small-pr

#12801 Bump pyHik version, digest auth, more device support
  homeassistant/components/binary_sensor/hikvision.py
  requirements_all.txt
Labels: cla-signed, platform: binary_sensor.hikvision, small-pr

#12805 Only run deploy from lint job
  .travis.yml
Labels: cla-signed, small-pr

#12772 Add optional words to conversation utterances
  homeassistant/components/__init__.py
  homeassistant/components/conversation.py
  homeassistant/components/shopping_list.py
  homeassistant/helpers/intent.py
  tests/components/test_conversation.py
  tests/components/test_init.py
Labels: cla-signed, component: conversation, core

#12817 Bump pyloopenergy to 0.0.18. Fixes hassio connect issues.
  homeassistant/components/sensor/loopenergy.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.loopenergy, small-pr

#12660 Script/lint: Changed default from 'all' to 'changed'
  script/lint
Labels: cla-signed, small-pr

#12810 is_allowed_path: Also unit test folder
  homeassistant/core.py
  tests/test_core.py
Labels: cla-signed, core, small-pr

#12806 Fix flakiness in tests
  .coveragerc
  tests/components/device_tracker/test_ddwrt.py
  tests/components/test_pilight.py
Labels: cla-signed, small-pr

#12620 Tibber: retry if we fail to connect at startup
  homeassistant/components/sensor/tibber.py
  requirements_all.txt
Labels: Ready for review, cla-signed, platform: sensor.tibber, small-pr

#12816 Cast Python 3.5 Async Await Syntax
  homeassistant/components/media_player/cast.py
Labels: cla-signed, platform: media_player.cast, small-pr

#12650 Filter Sensor
  homeassistant/components/sensor/filter.py
  tests/components/sensor/test_filter.py
Labels: cla-signed, new-platform, platform: sensor.filter

#12800 Improved Homekit tests
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/covers.py
  homeassistant/components/homekit/sensors.py
  tests/components/homekit/test_accessories.py
  tests/components/homekit/test_covers.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_sensors.py
  tests/mock/homekit.py
Labels: cla-signed, component: homekit

#12229 Add light.group platform
  .coveragerc
  homeassistant/components/light/__init__.py
  homeassistant/components/light/group.py
  tests/components/light/test_group.py
Labels: Ready for review, cla-signed, new-platform, platform: light.grouped_light

#12814 Add icons to Xiaomi Aqara sensors
  homeassistant/components/sensor/xiaomi_aqara.py
Labels: cla-signed, platform: sensor.xiaomi_aqara, small-pr

#11994 Egardia redesign - generic component and sensor support
  .coveragerc
  homeassistant/components/alarm_control_panel/egardia.py
  homeassistant/components/binary_sensor/egardia.py
  homeassistant/components/egardia.py
  requirements_all.txt
Labels: breaking change, cla-signed, component: egardia, new-platform, platform: alarm_control_panel.egardia, platform: binary_sensor.egardia

#12840 Cloud unauth
  homeassistant/components/cloud/const.py
  homeassistant/components/cloud/iot.py
  tests/components/cloud/test_iot.py
Labels: cla-signed, component: cloud, core

#12837 Fix sensibo default IDs to be according to schema
  homeassistant/components/climate/sensibo.py
Labels: cla-signed, platform: climate.sensibo, small-pr

#12847 Skip flaky light.group test [skipci]
  tests/components/light/test_group.py
Labels: cla-signed, small-pr

#12845 Handle Hue errors better
  homeassistant/components/hue.py
Labels: cla-signed, component: hue, small-pr

#12834 Mistake in volvo docs
  homeassistant/components/switch/volvooncall.py
Labels: cla-signed, platform: switch.volvooncall, small-pr

#12835 Address upcloud post-merge comments
  homeassistant/components/binary_sensor/upcloud.py
  homeassistant/components/switch/upcloud.py
  homeassistant/components/upcloud.py
Labels: cla-signed, component: upcloud, platform: binary_sensor.upcloud, platform: switch.upcloud, small-pr

#12848 0.64.3
  homeassistant/components/climate/sensibo.py
  homeassistant/components/cloud/const.py
  homeassistant/components/cloud/iot.py
  homeassistant/components/hue.py
  homeassistant/const.py
  homeassistant/core.py
  tests/components/cloud/test_iot.py
  tests/test_core.py
Labels: cla-signed

#12841 Keep auto groups during group reload
  homeassistant/components/group/__init__.py
  tests/components/group/test_init.py
Labels: cla-signed, component: group, core, small-pr

#12828 PyXiaomiGateway version bumped
  homeassistant/components/xiaomi_aqara.py
  requirements_all.txt
Labels: cla-signed, component: xiaomi_aqara, small-pr

#12844 Fix light group update before add
  homeassistant/components/light/group.py
  tests/components/light/test_group.py
Labels: cla-signed, platform: light.group, small-pr

#12858 Xiaomi Aqara Gateway: IndexError (list index out of range) fixed
  homeassistant/components/sensor/xiaomi_aqara.py
Labels: cla-signed, platform: sensor.xiaomi_aqara, small-pr

#12851 Fix dead Sonos web interface even more
  homeassistant/components/media_player/sonos.py
Labels: cla-signed, platform: media_player.sonos, small-pr

#12865 Updated to used latest ihcsdk version
  homeassistant/components/ihc/__init__.py
  requirements_all.txt
Labels: cla-signed, component: ihc, small-pr

#12864 unique id for Tibber sensor
  homeassistant/components/sensor/tibber.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.tibber, small-pr

#12597 Add support for Zillow Zestimate sensor
  .coveragerc
  homeassistant/components/sensor/zestimate.py
  requirements_all.txt
Labels: cla-signed, new-platform, platform: sensor.zestimate

#12870 A unique change
  homeassistant/components/binary_sensor/hikvision.py
  homeassistant/components/juicenet.py
  homeassistant/components/media_player/apple_tv.py
  homeassistant/components/media_player/cast.py
  homeassistant/components/media_player/openhome.py
  homeassistant/components/media_player/songpal.py
  homeassistant/components/media_player/sonos.py
  homeassistant/components/media_player/squeezebox.py
  homeassistant/components/remote/apple_tv.py
  homeassistant/components/sensor/tibber.py
  homeassistant/components/xiaomi_aqara.py
  homeassistant/components/zha/__init__.py
  homeassistant/components/zwave/__init__.py
  homeassistant/helpers/entity.py
Labels: cla-signed

#12825 Add SQL index to states.event_id
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/models.py
Labels: cla-signed, component: recorder, core, small-pr

#12881 Optimize logbook SQL query again
  homeassistant/components/logbook.py
Labels: cla-signed, component: logbook, small-pr

#12879 Await syntax KNX scene
  homeassistant/components/scene/knx.py
Labels: cla-signed, component: scene, core, small-pr

#12874 Fix history_stats 0 value when home-assistant restarts
  homeassistant/components/sensor/history_stats.py
  tests/components/sensor/test_history_stats.py
Labels: cla-signed, platform: sensor.history_stats, small-pr

#12885 Fix aggressive scan intervals
  homeassistant/components/alarm_control_panel/concord232.py
  homeassistant/components/binary_sensor/concord232.py
  homeassistant/components/sensor/folder.py
  homeassistant/components/sensor/simulated.py
Labels: cla-signed, platform: alarm_control_panel.concord232, platform: binary_sensor.concord232, platform: sensor.folder, platform: sensor.simulated, small-pr

#12872 Fix interaction with hyperion on NodeMCU
  homeassistant/components/light/hyperion.py
Labels: cla-signed, platform: light.hyperion, small-pr

#12867 Add the Gamerscore and Tier of the account
  homeassistant/components/sensor/xbox_live.py
Labels: cla-signed, platform: sensor.xbox_live, small-pr

#12882 Improve influxdb throughput
  homeassistant/components/influxdb.py
  tests/components/test_influxdb.py
Labels: cla-signed, component: influxdb

#12830 Add config flow for Hue
  homeassistant/components/config/config_entries.py
  homeassistant/components/hue.py
  homeassistant/components/spc.py
  homeassistant/config_entries.py
  homeassistant/helpers/aiohttp_client.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/test_hue.py
  tests/test_util/__init__.py
  tests/test_util/aiohttp.py
  tests/test_util/test_aiohttp.py
Labels: cla-signed, component: config, component: hue, core

#12893 Fix issue with guest August lock being included
  homeassistant/components/august.py
  requirements_all.txt
Labels: cla-signed, component: august, small-pr

#12894 Be more tolerant of unpredictable data returned from Canary
  homeassistant/components/canary.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, component: canary, small-pr

#12895 update html5 to async/await
  homeassistant/components/notify/html5.py
Labels: cla-signed, platform: notify.html5, small-pr

#12241 Adding additional switches and sensors for Tesla
  homeassistant/components/device_tracker/tesla.py
  homeassistant/components/sensor/tesla.py
  homeassistant/components/switch/tesla.py
Labels: cla-signed, platform: device_tracker.tesla, platform: sensor.tesla, platform: switch.tesla

#12886 Additional radio schemes for sonos
  homeassistant/components/media_player/sonos.py
Labels: cla-signed, platform: media_player.sonos, small-pr

#12873 Fix Edimax new firmware auth error and move to pyedimax fork
  homeassistant/components/switch/edimax.py
  requirements_all.txt
Labels: cla-signed, platform: switch.edimax, small-pr

#12903 InfluxDB cleanups
  homeassistant/components/influxdb.py
  tests/components/test_influxdb.py
Labels: cla-signed, component: influxdb

#12734 Fix for moisture sensors in isy994
  homeassistant/components/binary_sensor/isy994.py
Labels: cla-signed, platform: binary_sensor.isy994, small-pr

#12167 Apple TV should return all supported features
  homeassistant/components/media_player/apple_tv.py
Labels: cla-signed, platform: media_player.apple_tv

#12908 Remove dynamic controls from Sonos
  homeassistant/components/media_player/sonos.py
Labels: cla-signed, platform: media_player.sonos, small-pr

#12890 Fix async method call in sync context
  homeassistant/components/device_tracker/icloud.py
Labels: cla-signed, platform: device_tracker.icloud, small-pr

#12896 update html5 to async/await tests
  tests/components/notify/test_html5.py
Labels: cla-signed

#12911 Fix for serial_pm naming bug
  homeassistant/components/sensor/serial_pm.py
Labels: cla-signed, merging-to-master, platform: sensor.serial_pm, small-pr

#12905 Tibber: Check if the current electricity price is available before we…
  homeassistant/components/sensor/tibber.py
Labels: cla-signed, platform: sensor.tibber

#12900 Add empty unit to systemmonitor load averages
  homeassistant/components/sensor/systemmonitor.py
Labels: cla-signed, platform: sensor.systemmonitor, small-pr

#12898 update notify html5 dependencies
  homeassistant/components/notify/html5.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, platform: notify.html5, small-pr

#12710 Xiaomi MiIO Remote: Lazy discover disabled
  homeassistant/components/remote/xiaomi_miio.py
Labels: cla-signed, platform: remote.xiaomi_miio, small-pr

#12626 Xiaomi MiIO Switch: Allow unavailable devices at startup by model setting
  homeassistant/components/switch/xiaomi_miio.py
Labels: cla-signed, platform: switch.xiaomi_miio

#12925 Update python-coinbase to 2.1.0
  homeassistant/components/coinbase.py
  requirements_all.txt
Labels: cla-signed, component: coinbase, small-pr

#12913 Remove unused cloud APIs
  homeassistant/components/cloud/auth_api.py
  homeassistant/components/cloud/http_api.py
  tests/components/cloud/test_auth_api.py
  tests/components/cloud/test_http_api.py
Labels: cla-signed, component: cloud, core, small-pr

#12921 Upgrade to aiohttp 3
  homeassistant/components/api.py
  homeassistant/components/camera/__init__.py
  homeassistant/components/http/__init__.py
  homeassistant/components/http/static.py
  homeassistant/components/shopping_list.py
  homeassistant/helpers/aiohttp_client.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
  tests/components/test_websocket_api.py
  tests/helpers/test_aiohttp_client.py
Labels: cla-signed, component: api, component: http, component: shopping_list, core, small-pr

#12931 Flaky tests
  .coveragerc
  tests/components/device_tracker/test_ddwrt.py
  tests/components/notify/test_apns.py
Labels: cla-signed, small-pr

#12930 Addresses issues with Pollen.com API troubles
  homeassistant/components/sensor/pollen.py
Labels: cla-signed, platform: sensor.pollen

#12922 Set Nest supported features based on capabilities of device
  homeassistant/components/climate/nest.py
Labels: cla-signed, platform: climate.nest, small-pr

#12929 KNX Component - bumped version of XKNX-library
  homeassistant/components/knx.py
  homeassistant/components/light/knx.py
  requirements_all.txt
Labels: cla-signed, component: knx, platform: light.knx, small-pr

#12904 Added checks for empty replies from REST calls and supporting tests
  homeassistant/components/sensor/rest.py
  tests/components/sensor/test_rest.py
Labels: cla-signed, platform: sensor.rest, small-pr

#12932 Reinstate our old virtual env check in favor of pip
  homeassistant/requirements.py
  homeassistant/util/package.py
  tests/test_requirements.py
  tests/util/test_package.py
Labels: cla-signed, core, small-pr

#12888 Support for queries with no results (fix for #12856)
  homeassistant/components/sensor/sql.py
  tests/components/sensor/test_sql.py
Labels: cla-signed, platform: sensor.sql, small-pr

#12933 Fix netatmo sensor warning from invalid Voluptuous default
  homeassistant/components/sensor/netatmo.py
Labels: cla-signed, platform: sensor.netatmo, small-pr

#12934 Updated to enforce quoted ZIP codes for Pollen
  homeassistant/components/sensor/pollen.py
Labels: breaking change, cla-signed, platform: sensor.pollen, small-pr

#11651 Added support for multiple onvif profiles
  homeassistant/components/camera/onvif.py
Labels: cla-signed, platform: camera.onvif

#12658 Make ubus dhcp name resolution optional
  homeassistant/components/device_tracker/ubus.py
Labels: cla-signed, platform: device_tracker.ubus, small-pr

#12947 Add add_devices back to rpi_camera
  homeassistant/components/camera/rpi_camera.py
Labels: cla-signed, platform: camera.rpi_camera, small-pr

#12936 Remove weird tests
  tests/components/device_tracker/test_init.py
  tests/components/device_tracker/test_meraki.py
  tests/components/media_player/test_mediaroom.py
  tests/conftest.py
Labels: cla-signed, small-pr

#12375 optional displaying the sensors location on the map
  homeassistant/components/sensor/luftdaten.py
Labels: cla-signed, platform: sensor.luftdaten, small-pr

#12956 [SQL Sensor] partial revert of #12452
  homeassistant/components/sensor/sql.py
Labels: cla-signed, platform: sensor.sql, small-pr

#12957 Fix LIFX color conversions
  homeassistant/components/light/lifx.py
Labels: cla-signed, platform: light.lifx, small-pr

#12951 BugFix Popp strike lock not discovered in homeassistant.
  homeassistant/components/zwave/discovery_schemas.py
Labels: cla-signed, component: zwave, small-pr

#12937 Add a Media Player Component for Channels
  homeassistant/components/media_player/channels.py
  homeassistant/components/media_player/services.yaml
  requirements_all.txt
Labels: cla-signed, new-platform, platform: media_player.channels

#12878 Telegram_bot three platform support proxy_url and proxy_params
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/telegram_bot/broadcast.py
  homeassistant/components/telegram_bot/polling.py
  homeassistant/components/telegram_bot/webhooks.py
Labels: cla-signed, platform: telegram_bot.broadcast, platform: telegram_bot.polling, platform: telegram_bot.webhooks

#12819 Add support for alarm system, switch and thermostat to homekit
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/security_systems.py
  homeassistant/components/homekit/switches.py
  homeassistant/components/homekit/thermostats.py
  script/gen_requirements_all.py
  tests/components/homekit/test_security_systems.py
  tests/components/homekit/test_switches.py
  tests/components/homekit/test_thermostats.py
Labels: cla-signed, component: homekit, new-platform

#12965 Pin lokalise script to working version
  .travis.yml
  script/translations_download
  script/translations_upload
Labels: cla-signed, small-pr

#12940 Hue: Don't change brightness when changing just color
  homeassistant/components/light/hue.py
Labels: cla-signed, platform: light.hue, small-pr

#12973 LIFX async/await conversion
  homeassistant/components/light/lifx.py
Labels: cla-signed, platform: light.lifx

#12988 IMAP sensor async/await conversion
  homeassistant/components/sensor/imap.py
Labels: cla-signed, platform: sensor.imap, small-pr

#12959 Refactor Google Assistant
  homeassistant/components/cloud/__init__.py
  homeassistant/components/cloud/iot.py
  homeassistant/components/google_assistant/__init__.py
  homeassistant/components/google_assistant/const.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/smart_home.py
  homeassistant/components/google_assistant/trait.py
  homeassistant/components/light/__init__.py
  homeassistant/components/media_player/demo.py
  tests/components/cloud/test_iot.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_google_assistant.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/google_assistant/test_trait.py
  tests/components/media_player/test_demo.py
Labels: breaking change, cla-signed, component: google_assistant, component: light, core, new-platform

#12986 Bump pyEmby version to support aiohttp => 3
  homeassistant/components/media_player/emby.py
  requirements_all.txt
Labels: cla-signed, platform: media_player.emby, small-pr

#12987 Update pyalarmdotcom version
  homeassistant/components/alarm_control_panel/alarmdotcom.py
  requirements_all.txt
Labels: cla-signed, platform: alarm_control_panel.alarmdotcom, small-pr

#12985 Show the error message when Zabbix fails to log in
  homeassistant/components/zabbix.py
Labels: cla-signed, component: zabbix, small-pr

#12963 Script/gen_requirements: Ignore package families
  script/gen_requirements_all.py
Labels: cla-signed, small-pr

#12970 Fix Sonos group discovery
  homeassistant/components/media_player/sonos.py
  tests/components/media_player/test_sonos.py
Labels: cla-signed, platform: media_player.sonos, small-pr

#12994 Check color temp range for google assistant
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, component: google_assistant, core, small-pr

#12971 Fix limitlessled color temperature
  homeassistant/components/light/limitlessled.py
Labels: breaking change, cla-signed, platform: light.limitlessled, small-pr

#12993 Fixes notify.html5 for notifications on FireFox
  homeassistant/components/notify/html5.py
  tests/components/notify/test_html5.py
Labels: cla-signed, platform: notify.html5

#12982 Move HomeAssistantView to separate file. Convert http to async syntax. [skip ci]
  homeassistant/components/emulated_hue/__init__.py
  homeassistant/components/http/__init__.py
  homeassistant/components/http/auth.py
  homeassistant/components/http/ban.py
  homeassistant/components/http/cors.py
  homeassistant/components/http/data_validator.py
  homeassistant/components/http/real_ip.py
  homeassistant/components/http/static.py
  homeassistant/components/http/view.py
  homeassistant/components/websocket_api.py
  tests/components/http/__init__.py
  tests/components/http/test_auth.py
  tests/components/http/test_ban.py
  tests/components/http/test_cors.py
  tests/components/http/test_data_validator.py
  tests/components/http/test_init.py
  tests/components/http/test_real_ip.py
Labels: cla-signed, component: http, core, new-platform

#12006 Add camera proxy
  homeassistant/components/camera/proxy.py
  requirements_all.txt
Labels: cla-signed, new-platform, platform: camera.proxy

#11672 Get zha switch and binary_sensor state on startup
  homeassistant/components/binary_sensor/zha.py
  homeassistant/components/switch/zha.py
Labels: cla-signed, component: zha, platform: binary_sensor.zha, platform: light.zha, platform: switch.zha

#12792 check_config script evolution
  homeassistant/bootstrap.py
  homeassistant/config.py
  homeassistant/scripts/check_config.py
  tests/scripts/test_check_config.py
  tests/test_config.py
Labels: cla-signed, core

#12849 Add consider_home and source_type to device_tracker.see service
  homeassistant/components/device_tracker/__init__.py
  homeassistant/helpers/config_validation.py
Labels: cla-signed, component: device_tracker, core, small-pr

#12962 Clean up Light Groups
  .coveragerc
  homeassistant/components/light/group.py
  tests/components/light/test_group.py
Labels: cla-signed, platform: light.group

#12811 Plex mark devices unavailable if they 'vanish' and clear media
  homeassistant/components/media_player/plex.py
Labels: cla-signed, platform: media_player.plex, small-pr

#13005 Update to plexapi 3.0.6
  homeassistant/components/media_player/plex.py
  homeassistant/components/sensor/plex.py
  requirements_all.txt
Labels: cla-signed, platform: media_player.plex, platform: sensor.plex, small-pr

#13007 Update netdisco to 1.3.0
  homeassistant/components/discovery.py
  requirements_all.txt
Labels: cla-signed, component: discovery, small-pr

#13024 Safe fix for #13015
  homeassistant/bootstrap.py
Labels: cla-signed, core, small-pr

#13018 Remove rounding of temperature reading
  homeassistant/components/sensor/lacrosse.py
Labels: cla-signed, platform: sensor.lacrosse, small-pr

#13030 Add support for input boolean to Google Assistant
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, component: google_assistant, core

#13027 Make Throttle async aware
  homeassistant/components/media_player/bluesound.py
  homeassistant/components/media_player/volumio.py
  homeassistant/components/sensor/fido.py
  homeassistant/components/sensor/hydroquebec.py
  homeassistant/components/sensor/luftdaten.py
  homeassistant/components/sensor/sabnzbd.py
  homeassistant/components/sensor/startca.py
  homeassistant/components/sensor/teksavvy.py
  homeassistant/components/sensor/wunderground.py
  homeassistant/util/__init__.py
  tests/util/test_init.py
Labels: cla-signed

#13020 allow ios device tracker see calls to go through
  homeassistant/components/device_tracker/__init__.py
  tests/components/device_tracker/test_init.py
Labels: cla-signed, component: device_tracker, core, small-pr

#13031 HomeKit Bugfix: names
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  tests/components/homekit/test_accessories.py
Labels: bug, cla-signed, component: homekit, small-pr

#13033 0.65.1
  homeassistant/bootstrap.py
  homeassistant/components/device_tracker/__init__.py
  homeassistant/components/google_assistant/trait.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  homeassistant/components/media_player/bluesound.py
  homeassistant/components/media_player/volumio.py
  homeassistant/components/sensor/fido.py
  homeassistant/components/sensor/hydroquebec.py
  homeassistant/components/sensor/luftdaten.py
  homeassistant/components/sensor/sabnzbd.py
  homeassistant/components/sensor/startca.py
  homeassistant/components/sensor/teksavvy.py
  homeassistant/components/sensor/wunderground.py
  homeassistant/const.py
  homeassistant/util/__init__.py
  tests/components/device_tracker/test_init.py
  tests/components/google_assistant/test_trait.py
  tests/components/homekit/test_accessories.py
  tests/util/test_init.py
Labels: cla-signed

#13040 Make lazytox script executable
  script/lazytox.py
Labels: cla-signed, small-pr

#13042 Bump pysabnzbd version
  homeassistant/components/sensor/sabnzbd.py
  requirements_all.txt
Labels: cla-signed, platform: sensor.sabnzbd, small-pr

#13037 Use request.query
  homeassistant/components/wink/__init__.py
Labels: cla-signed, component: wink, small-pr

#12996 Fix sensibo's min/max_temp properties
  homeassistant/components/climate/sensibo.py
Labels: cla-signed, platform: climate.sensibo, small-pr

#13045 Fix async lifx_set_state
  homeassistant/components/light/lifx.py
Labels: cla-signed, platform: light.lifx, small-pr

#13056 Yeelight version bumped
  homeassistant/components/light/yeelight.py
  requirements_all.txt
Labels: cla-signed, platform: light.yeelight, small-pr

#13055 python-miio version bumped
  homeassistant/components/fan/xiaomi_miio.py
  homeassistant/components/light/xiaomi_miio.py
  homeassistant/components/remote/xiaomi_miio.py
  homeassistant/components/switch/xiaomi_miio.py
  homeassistant/components/vacuum/xiaomi_miio.py
  requirements_all.txt
Labels: cla-signed, platform: fan.xiaomi_miio, platform: light.xiaomi_miio, platform: remote.xiaomi_miio, platform: switch.xiaomi_miio, platform: vacuum.xiaomi_miio, small-pr

#13026 Glances Docker Sensors
  homeassistant/components/sensor/glances.py
Labels: cla-signed, platform: sensor.glances, small-pr

#13051 Script/lint, Lazytox: Fix issue to ignore delete files
  script/lazytox.py
  script/lint
Labels: cla-signed, small-pr

#13038 Ensure we have valid config AFTER merging packages #13015
  homeassistant/bootstrap.py
  homeassistant/config.py
  homeassistant/scripts/check_config.py
Labels: cla-signed, core, small-pr

#13057 Xiaomi Aqara: Don't call async from sync
  homeassistant/components/xiaomi_aqara.py
Labels: cla-signed, component: xiaomi_aqara, small-pr

#13059 Convert decimals from SQL results
  homeassistant/components/sensor/sql.py
  tests/components/sensor/test_sql.py
Labels: cla-signed, platform: sensor.sql, small-pr

#13061 0.65.2
  homeassistant/bootstrap.py
  homeassistant/components/climate/sensibo.py
  homeassistant/components/frontend/__init__.py
  homeassistant/components/light/lifx.py
  homeassistant/components/light/yeelight.py
  homeassistant/components/sensor/sabnzbd.py
  homeassistant/components/sensor/sql.py
  homeassistant/components/wink/__init__.py
  homeassistant/components/xiaomi_aqara.py
  homeassistant/config.py
  homeassistant/const.py
  homeassistant/scripts/check_config.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/sensor/test_sql.py
Labels: cla-signed

#13069 fixed #13065
  homeassistant/components/sensor/sql.py
Labels: cla-signed, platform: sensor.sql, small-pr

#13062 Fixes KNX fire event problem
  homeassistant/components/knx.py
  requirements_all.txt
Labels: cla-signed, component: knx, small-pr

#13063 Bump iGlo Version
  homeassistant/components/light/iglo.py
  requirements_all.txt
Labels: cla-signed, platform: light.iglo, small-pr

#13041 Sensor template don't exit early on TemplateError
  homeassistant/components/sensor/template.py
  tests/components/sensor/test_template.py
Labels: cla-signed, platform: sensor.template

#13072 Better errors from unknown secrets
  homeassistant/scripts/check_config.py
  homeassistant/util/yaml.py
Labels: cla-signed, core, small-pr

#12652 Remove Z-Wave old/new entity_id attributes
  homeassistant/components/zwave/__init__.py
  homeassistant/components/zwave/const.py
  homeassistant/components/zwave/node_entity.py
  tests/components/zwave/test_init.py
  tests/components/zwave/test_node_entity.py
Labels: breaking change, cla-signed, component: zwave, small-pr

#13086 Make Sensibo climate registry_entity compliant
  homeassistant/components/climate/sensibo.py
Labels: cla-signed, platform: climate.sensibo, small-pr

#12939 Implement Hue available property
  homeassistant/components/light/hue.py
  tests/components/light/test_hue.py
Labels: cla-signed, platform: light.hue

#13088 Rename homeassistant.util.async to .async_
  docs/source/api/util.rst
  homeassistant/__main__.py
  homeassistant/components/camera/generic.py
  homeassistant/components/camera/proxy.py
  homeassistant/components/configurator.py
  homeassistant/components/device_tracker/__init__.py
  homeassistant/components/group/__init__.py
  homeassistant/components/image_processing/microsoft_face_identify.py
  homeassistant/components/image_processing/openalpr_local.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/zone.py
  homeassistant/core.py
  homeassistant/helpers/condition.py
  homeassistant/helpers/discovery.py
  homeassistant/helpers/dispatcher.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/event.py
  homeassistant/helpers/script.py
  homeassistant/helpers/service.py
  homeassistant/helpers/state.py
  homeassistant/helpers/template.py
  homeassistant/setup.py
  homeassistant/util/async_.py
  homeassistant/util/logging.py
  tests/common.py
  tests/components/binary_sensor/test_template.py
  tests/components/camera/test_init.py
  tests/components/climate/test_generic_thermostat.py
  tests/components/device_tracker/test_init.py
  tests/components/device_tracker/test_owntracks.py
  tests/components/device_tracker/test_upc_connect.py
  tests/components/emulated_hue/test_upnp.py
  tests/components/media_player/test_async_helpers.py
  tests/components/media_player/test_universal.py
  tests/components/notify/test_group.py
  tests/components/sensor/test_uptime.py
  tests/components/switch/test_rest.py
  tests/components/test_init.py
  tests/helpers/test_aiohttp_client.py
  tests/helpers/test_state.py
  tests/test_config.py
  tests/test_core.py
  tests/util/test_async.py
Labels: cla-signed

#13066 Config flow translations
  homeassistant/components/config_entry_example/.translations/en.json
  homeassistant/components/config_entry_example/__init__.py
  homeassistant/components/config_entry_example/strings.json
  homeassistant/components/hue/.translations/en.json
  homeassistant/components/hue/__init__.py
  homeassistant/components/hue/strings.json
  homeassistant/config_entries.py
  script/translations_develop
  tests/components/config/test_config_entries.py
  tests/components/test_hue.py
  tests/test_config_entries.py
Labels: cla-signed

#13058 Run asyncio event loop in debug mode during tests
  homeassistant/components/camera/arlo.py
  homeassistant/components/climate/generic_thermostat.py
  tests/components/cover/test_template.py
  tests/components/zwave/test_init.py
Labels: cla-signed, platform: camera.arlo, platform: climate.generic_thermostat, small-pr

#13078 Fix Tado doing async wrong
  homeassistant/components/device_tracker/tado.py
Labels: cla-signed, platform: device_tracker.tado, small-pr

#13079 Auto-renew session for Synology camera
  homeassistant/components/camera/synology.py
  requirements_all.txt
Labels: cla-signed, platform: camera.synology, small-pr

#13094 Revert "Cast automatically drop connection (#12635)"
  homeassistant/components/media_player/cast.py
  tests/components/media_player/test_cast.py
Labels: cla-signed, platform: media_player.cast, small-pr

#13095 Bump pyvera to 0.2.42. Improve event loop robustness.
  homeassistant/components/vera.py
  requirements_all.txt
Labels: cla-signed, component: vera, small-pr

#13096 Fix Kodi by updating jsonrpc-websocket to 0.6
  homeassistant/components/media_player/kodi.py
  requirements_all.txt
Labels: cla-signed, platform: media_player.kodi, small-pr

#13098 0.65.3
  homeassistant/components/camera/arlo.py
  homeassistant/components/camera/synology.py
  homeassistant/components/climate/generic_thermostat.py
  homeassistant/components/device_tracker/tado.py
  homeassistant/components/knx.py
  homeassistant/components/light/hue.py
  homeassistant/components/light/iglo.py
  homeassistant/components/media_player/cast.py
  homeassistant/components/media_player/kodi.py
  homeassistant/components/sensor/sql.py
  homeassistant/components/vera.py
  homeassistant/const.py
  requirements_all.txt
  tests/components/cover/test_template.py
  tests/components/light/test_hue.py
  tests/components/media_player/test_cast.py
  tests/components/zwave/test_init.py
Labels: cla-signed

#13093 Lint script tweaks
  script/lazytox.py
  script/lint
Labels: cla-signed, small-pr

#13141 asyncio.ensure_future Python 3.5
  homeassistant/components/spc.py
  homeassistant/util/async_.py
Labels: cla-signed, component: spc, core, small-pr

#13119 Upgrade aiohttp to 3.0.7
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: cla-signed, core, small-pr

#13084 fix: Add support to philips_js API version
  homeassistant/components/media_player/philips_js.py
  homeassistant/const.py
  requirements_all.txt
Labels: cla-signed, docs-missing, platform: media_player.philips_js, small-pr
