Repository home-assistant/core, pull requests merged in 2019-09, with the labels that each got.

#26330 Upgrade youtube_dl to 2019.09.01
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: media_extractor, small-pr

#26328 Fix google_maps scan interval
  homeassistant/components/google_maps/device_tracker.py
Labels: cla-signed, integration: google_maps, small-pr

#26100 Add a keypress service for AlarmDecoder
  homeassistant/components/alarmdecoder/alarm_control_panel.py
  homeassistant/components/alarmdecoder/services.yaml
Labels: cla-signed, integration: alarmdecoder

#26188 Add support for Supla switches
  homeassistant/components/supla/__init__.py
  homeassistant/components/supla/cover.py
  homeassistant/components/supla/switch.py
Labels: cla-signed, integration: supla, new-platform

#26042 Change evohome to asyncio client
  homeassistant/components/evohome/__init__.py
  homeassistant/components/evohome/climate.py
  homeassistant/components/evohome/manifest.json
  homeassistant/components/evohome/water_heater.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: evohome

#26331 Upgrade sqlalchemy to 1.3.8
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, integration: recorder, integration: sql, small-pr

#26173 Migrate Axis, deCONZ and UniFi to use config entry subclass
  homeassistant/components/axis/config_flow.py
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/unifi/config_flow.py
Labels: cla-signed, integration: axis, integration: deconz, integration: unifi, small-pr

#26332 Upgrade tibber library
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: tibber, small-pr

#26038 Inverted rflink cover
  homeassistant/components/rflink/cover.py
  tests/components/rflink/test_cover.py
Labels: cla-signed, has-tests, integration: rflink

#26335 UniFi - Simplify getting controller from config entry
  homeassistant/components/unifi/__init__.py
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/device_tracker.py
  homeassistant/components/unifi/switch.py
  tests/components/unifi/test_device_tracker.py
  tests/components/unifi/test_init.py
  tests/components/unifi/test_switch.py
Labels: cla-signed, integration: unifi, small-pr

#26174 Add BeeWi SmartClim BLE sensors
  .coveragerc
  CODEOWNERS
  homeassistant/components/beewi_smartclim/__init__.py
  homeassistant/components/beewi_smartclim/manifest.json
  homeassistant/components/beewi_smartclim/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: beewi_smartclim, new-integration

#26127 New template sensor attributes
  homeassistant/components/template/sensor.py
  tests/components/template/test_sensor.py
Labels: cla-signed, has-tests, integration: template

#26295 Add improvements of device_automation from frontend PR 3514
  homeassistant/components/automation/manifest.json
  homeassistant/components/device_automation/__init__.py
  homeassistant/components/light/strings.json
  tests/components/device_automation/test_init.py
Labels: cla-signed, core, integration: automation, integration: device_automation, integration: light, small-pr

#26298 Expose current direction properly on state machine
  homeassistant/components/demo/fan.py
  homeassistant/components/fan/__init__.py
  homeassistant/components/template/fan.py
Labels: cla-signed, core, integration: demo, integration: fan, small-pr

#26297 Add missing bluepy dependency for miflora
  homeassistant/components/miflora/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: miflora, small-pr

#26345 0.98.2
  homeassistant/components/alexa/auth.py
  homeassistant/components/alexa/capabilities.py
  homeassistant/components/alexa/config.py
  homeassistant/components/alexa/smart_home_http.py
  homeassistant/components/alexa/state_report.py
  homeassistant/components/cloud/alexa_config.py
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/demo/fan.py
  homeassistant/components/fan/__init__.py
  homeassistant/components/google_maps/device_tracker.py
  homeassistant/components/template/fan.py
  homeassistant/components/tuya/manifest.json
  homeassistant/const.py
  requirements_all.txt
  tests/components/alexa/__init__.py
  tests/components/alexa/test_capabilities.py
  tests/components/cloud/test_alexa_config.py
  tests/components/deconz/test_config_flow.py
Labels: cla-signed

#26353 USGS Earthquakes icon for geolocation entities
  CODEOWNERS
  homeassistant/components/usgs_earthquakes_feed/geo_location.py
  homeassistant/components/usgs_earthquakes_feed/manifest.json
  tests/components/usgs_earthquakes_feed/test_geo_location.py
Labels: cla-signed, has-tests, integration: usgs_earthquakes_feed, small-pr

#26347 Test with 3.6.1 in Travis
  .travis.yml
Labels: cla-signed, small-pr

#26362 Push to version 0.7.10 of denonavr
  homeassistant/components/denonavr/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: denonavr, small-pr

#26340 Bump androidtv to 0.0.26 and update tests
  homeassistant/components/androidtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/androidtv/patchers.py
  tests/components/androidtv/test_media_player.py
Labels: cla-signed, has-tests, small-pr

#26361 Update google_maps dependency and improve error message
  homeassistant/components/google_maps/device_tracker.py
  homeassistant/components/google_maps/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: google_maps, small-pr

#26327 Update zigpy_zigate to 0.2.0
  homeassistant/components/zha/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: zha, small-pr

#26368 deCONZ - fix translations for options
  homeassistant/components/deconz/.translations/en.json
  homeassistant/components/deconz/strings.json
Labels: cla-signed, integration: deconz, small-pr

#26370 Allow passing dictionaries to async_register_entity_service
  homeassistant/components/light/__init__.py
  homeassistant/components/switch/__init__.py
  homeassistant/helpers/entity_component.py
Labels: cla-signed, core, integration: light, integration: switch, small-pr

#26232 Upgrade pyhaversion to 3.1.0
  homeassistant/components/version/manifest.json
  homeassistant/components/version/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: version, small-pr

#26309 Support new climate arch for zhong_hong
  homeassistant/components/zhong_hong/climate.py
Labels: cla-signed, integration: zhong_hong, small-pr

#26376 Correct file permissions, removing executable bits
  homeassistant/components/bizkaibus/sensor.py
  homeassistant/components/cppm_tracker/device_tracker.py
  homeassistant/components/environment_canada/camera.py
  homeassistant/components/environment_canada/sensor.py
  homeassistant/components/fortios/device_tracker.py
  homeassistant/components/lcn/binary_sensor.py
  homeassistant/components/lcn/cover.py
  homeassistant/components/lcn/scene.py
  homeassistant/components/lcn/sensor.py
  homeassistant/components/lcn/services.py
  homeassistant/components/lcn/services.yaml
  homeassistant/components/lcn/switch.py
  homeassistant/components/rejseplanen/sensor.py
  homeassistant/components/repetier/__init__.py
  homeassistant/components/repetier/manifest.json
  homeassistant/components/repetier/sensor.py
  homeassistant/components/somfy_mylink/__init__.py
  homeassistant/components/somfy_mylink/cover.py
  homeassistant/components/yale_smart_alarm/alarm_control_panel.py
  homeassistant/components/zwave/lock.py
Labels: cla-signed

#26371 Fix race during initial Sonos group construction
  homeassistant/components/sonos/media_player.py
Labels: cla-signed, integration: sonos, small-pr

#26377 Use literal string interpolation in integrations A (f-strings)
  homeassistant/components/adguard/sensor.py
  homeassistant/components/airvisual/sensor.py
  homeassistant/components/aladdin_connect/cover.py
  homeassistant/components/alarmdecoder/alarm_control_panel.py
  homeassistant/components/alexa/errors.py
  homeassistant/components/alexa/handlers.py
  homeassistant/components/alexa/intent.py
  homeassistant/components/alexa/state_report.py
  homeassistant/components/alpha_vantage/sensor.py
  homeassistant/components/ambiclimate/config_flow.py
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/amcrest/camera.py
  homeassistant/components/amcrest/helpers.py
  homeassistant/components/ampio/air_quality.py
  homeassistant/components/android_ip_webcam/binary_sensor.py
  homeassistant/components/android_ip_webcam/sensor.py
  homeassistant/components/android_ip_webcam/switch.py
  homeassistant/components/androidtv/media_player.py
  homeassistant/components/apache_kafka/__init__.py
  homeassistant/components/apns/notify.py
  homeassistant/components/apple_tv/media_player.py
  homeassistant/components/aprs/device_tracker.py
  homeassistant/components/arcam_fmj/const.py
  homeassistant/components/arcam_fmj/media_player.py
  homeassistant/components/arest/binary_sensor.py
  homeassistant/components/arest/sensor.py
  homeassistant/components/arest/switch.py
  homeassistant/components/august/camera.py
  homeassistant/components/august/lock.py
  homeassistant/components/aurora/binary_sensor.py
  homeassistant/components/aurora_abb_powerone/sensor.py
  homeassistant/components/auth/mfa_setup_flow.py
  homeassistant/components/awair/sensor.py
  homeassistant/components/axis/axis_base.py
  homeassistant/components/axis/camera.py
  homeassistant/components/axis/config_flow.py
  homeassistant/components/axis/device.py
Labels: cla-signed

#25941 Remove solaredge_local duplicate code
  homeassistant/components/solaredge_local/sensor.py
Labels: cla-signed, integration: solaredge_local, small-pr

#26378 Use literal string interpolation in integrations B-D (f-strings)
  homeassistant/components/bbox/sensor.py
  homeassistant/components/blackbird/media_player.py
  homeassistant/components/blink/alarm_control_panel.py
  homeassistant/components/blink/binary_sensor.py
  homeassistant/components/blink/camera.py
  homeassistant/components/blink/sensor.py
  homeassistant/components/blinkt/light.py
  homeassistant/components/bloomsky/__init__.py
  homeassistant/components/bloomsky/binary_sensor.py
  homeassistant/components/bloomsky/sensor.py
  homeassistant/components/bluesound/media_player.py
  homeassistant/components/bluetooth_tracker/device_tracker.py
  homeassistant/components/bme280/sensor.py
  homeassistant/components/bme680/sensor.py
  homeassistant/components/bmw_connected_drive/binary_sensor.py
  homeassistant/components/bmw_connected_drive/lock.py
  homeassistant/components/bmw_connected_drive/sensor.py
  homeassistant/components/bom/camera.py
  homeassistant/components/bom/sensor.py
  homeassistant/components/broadlink/__init__.py
  homeassistant/components/broadlink/switch.py
  homeassistant/components/buienradar/sensor.py
  homeassistant/components/camera/__init__.py
  homeassistant/components/canary/sensor.py
  homeassistant/components/cisco_webex_teams/notify.py
  homeassistant/components/clicksend/notify.py
  homeassistant/components/clicksend_tts/notify.py
  homeassistant/components/cloud/http_api.py
  homeassistant/components/cmus/media_player.py
  homeassistant/components/co2signal/sensor.py
  homeassistant/components/coinbase/sensor.py
  homeassistant/components/concord232/alarm_control_panel.py
  homeassistant/components/concord232/binary_sensor.py
  homeassistant/components/crimereports/sensor.py
  homeassistant/components/cups/sensor.py
  homeassistant/components/currencylayer/sensor.py
  homeassistant/components/daikin/sensor.py
  homeassistant/components/daikin/switch.py
  homeassistant/components/darksky/sensor.py
  homeassistant/components/datadog/__init__.py
  homeassistant/components/ddwrt/device_tracker.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deluge/sensor.py
  homeassistant/components/deutsche_bahn/sensor.py
  homeassistant/components/dht/sensor.py
  homeassistant/components/digitalloggers/switch.py
  homeassistant/components/doorbird/__init__.py
  homeassistant/components/doorbird/switch.py
  homeassistant/components/downloader/__init__.py
  homeassistant/components/duke_energy/sensor.py
  homeassistant/components/dwd_weather_warnings/sensor.py
  homeassistant/components/dyson/sensor.py
Labels: cla-signed

#26379 Use literal string interpolation in integrations E-G (f-strings)
  homeassistant/components/ebox/sensor.py
  homeassistant/components/ebusd/sensor.py
  homeassistant/components/ecobee/weather.py
  homeassistant/components/efergy/sensor.py
  homeassistant/components/eight_sleep/__init__.py
  homeassistant/components/eight_sleep/binary_sensor.py
  homeassistant/components/eight_sleep/sensor.py
  homeassistant/components/elkm1/__init__.py
  homeassistant/components/elkm1/alarm_control_panel.py
  homeassistant/components/emby/media_player.py
  homeassistant/components/emoncms/sensor.py
  homeassistant/components/emoncms_history/__init__.py
  homeassistant/components/emulated_hue/hue_api.py
  homeassistant/components/entur_public_transport/sensor.py
  homeassistant/components/esphome/__init__.py
  homeassistant/components/essent/sensor.py
  homeassistant/components/everlights/light.py
  homeassistant/components/facebox/image_processing.py
  homeassistant/components/fail2ban/sensor.py
  homeassistant/components/fastdotcom/__init__.py
  homeassistant/components/feedreader/__init__.py
  homeassistant/components/fibaro/__init__.py
  homeassistant/components/fibaro/climate.py
  homeassistant/components/fido/sensor.py
  homeassistant/components/file/notify.py
  homeassistant/components/filter/sensor.py
  homeassistant/components/fints/sensor.py
  homeassistant/components/fitbit/sensor.py
  homeassistant/components/flock/notify.py
  homeassistant/components/flunearyou/sensor.py
  homeassistant/components/foobot/sensor.py
  homeassistant/components/fritzdect/switch.py
  homeassistant/components/garadget/cover.py
  homeassistant/components/geniushub/binary_sensor.py
  homeassistant/components/geniushub/sensor.py
  homeassistant/components/geo_rss_events/sensor.py
  homeassistant/components/geofency/__init__.py
  homeassistant/components/google/__init__.py
  homeassistant/components/google_assistant/error.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_wifi/sensor.py
  homeassistant/components/gpmdp/media_player.py
  homeassistant/components/gpslogger/__init__.py
  homeassistant/components/gtfs/sensor.py
  homeassistant/components/gtt/sensor.py
Labels: cla-signed

#26078 GeoNet NZ Quakes Sensor
  homeassistant/components/geonetnz_quakes/__init__.py
  homeassistant/components/geonetnz_quakes/const.py
  homeassistant/components/geonetnz_quakes/geo_location.py
  homeassistant/components/geonetnz_quakes/sensor.py
  tests/components/geonetnz_quakes/__init__.py
  tests/components/geonetnz_quakes/test_geo_location.py
  tests/components/geonetnz_quakes/test_sensor.py
Labels: cla-signed, has-tests, integration: geonetnz_quakes, new-platform

#26380 Use literal string interpolation in integrations H-J (f-strings)
  homeassistant/components/habitica/sensor.py
  homeassistant/components/hangouts/hangouts_bot.py
  homeassistant/components/hangouts/intents.py
  homeassistant/components/haveibeenpwned/sensor.py
  homeassistant/components/hddtemp/sensor.py
  homeassistant/components/hdmi_cec/__init__.py
  homeassistant/components/heos/config_flow.py
  homeassistant/components/heos/media_player.py
  homeassistant/components/hikvision/binary_sensor.py
  homeassistant/components/hitron_coda/device_tracker.py
  homeassistant/components/hive/binary_sensor.py
  homeassistant/components/hive/climate.py
  homeassistant/components/hive/light.py
  homeassistant/components/hive/sensor.py
  homeassistant/components/hive/switch.py
  homeassistant/components/hive/water_heater.py
  homeassistant/components/homeassistant/__init__.py
  homeassistant/components/homekit/type_lights.py
  homeassistant/components/homekit/type_thermostats.py
  homeassistant/components/homekit/util.py
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/const.py
  homeassistant/components/homekit_controller/storage.py
  homeassistant/components/homematic/__init__.py
  homeassistant/components/homematicip_cloud/__init__.py
  homeassistant/components/homematicip_cloud/alarm_control_panel.py
  homeassistant/components/homematicip_cloud/binary_sensor.py
  homeassistant/components/homematicip_cloud/device.py
  homeassistant/components/homematicip_cloud/light.py
  homeassistant/components/homematicip_cloud/switch.py
  homeassistant/components/homeworks/__init__.py
  homeassistant/components/honeywell/climate.py
  homeassistant/components/hp_ilo/sensor.py
  homeassistant/components/html5/notify.py
  homeassistant/components/htu21d/sensor.py
  homeassistant/components/huawei_lte/sensor.py
  homeassistant/components/huawei_router/device_tracker.py
  homeassistant/components/hue/config_flow.py
  homeassistant/components/hydroquebec/sensor.py
  homeassistant/components/ialarm/alarm_control_panel.py
  homeassistant/components/icloud/device_tracker.py
  homeassistant/components/ign_sismologia/geo_location.py
  homeassistant/components/ihc/__init__.py
  homeassistant/components/imap_email_content/sensor.py
  homeassistant/components/incomfort/climate.py
  homeassistant/components/incomfort/water_heater.py
  homeassistant/components/influxdb/__init__.py
  homeassistant/components/insteon/__init__.py
  homeassistant/components/ios/sensor.py
  homeassistant/components/iota/sensor.py
  homeassistant/components/iperf3/__init__.py
  homeassistant/components/ipma/weather.py
  homeassistant/components/iqvia/__init__.py
  homeassistant/components/iqvia/sensor.py
  homeassistant/components/isy994/__init__.py
  homeassistant/components/isy994/sensor.py
  homeassistant/components/itach/remote.py
  homeassistant/components/itunes/media_player.py
  homeassistant/components/jewish_calendar/sensor.py
Labels: cla-signed

#26381 Removes executable bit from hassfest codeowners
  script/hassfest/codeowners.py
Labels: cla-signed, small-pr

#25913 Add support Slide cover
  .coveragerc
  CODEOWNERS
  homeassistant/components/slide/__init__.py
  homeassistant/components/slide/const.py
  homeassistant/components/slide/cover.py
  homeassistant/components/slide/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: goslide, new-integration

#26387 Update OpenCV 4.1.1 / Numpy 1.17.1
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/opencv/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: iqvia, integration: opencv, integration: tensorflow, integration: trend, small-pr

#26394 Use literal string interpolation in integrations T-W (f-strings)
  homeassistant/components/tado/climate.py
  homeassistant/components/tado/sensor.py
  homeassistant/components/tapsaff/binary_sensor.py
  homeassistant/components/ted5000/sensor.py
  homeassistant/components/teksavvy/sensor.py
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/telegram_bot/webhooks.py
  homeassistant/components/tellduslive/__init__.py
  homeassistant/components/tellstick/sensor.py
  homeassistant/components/tesla/sensor.py
  homeassistant/components/thermoworks_smoke/sensor.py
  homeassistant/components/thethingsnetwork/sensor.py
  homeassistant/components/tibber/sensor.py
  homeassistant/components/time_date/sensor.py
  homeassistant/components/tplink/device_tracker.py
  homeassistant/components/traccar/__init__.py
  homeassistant/components/tradfri/light.py
  homeassistant/components/tradfri/switch.py
  homeassistant/components/trafikverket_weatherstation/sensor.py
  homeassistant/components/transmission/sensor.py
  homeassistant/components/travisci/sensor.py
  homeassistant/components/twentemilieu/sensor.py
  homeassistant/components/twilio/__init__.py
  homeassistant/components/ubus/device_tracker.py
  homeassistant/components/uk_transport/sensor.py
  homeassistant/components/unifi/device_tracker.py
  homeassistant/components/unifi/switch.py
  homeassistant/components/upc_connect/device_tracker.py
  homeassistant/components/upnp/sensor.py
  homeassistant/components/usps/camera.py
  homeassistant/components/usps/sensor.py
  homeassistant/components/vallox/__init__.py
  homeassistant/components/vallox/sensor.py
  homeassistant/components/velbus/__init__.py
  homeassistant/components/volumio/media_player.py
  homeassistant/components/volvooncall/__init__.py
  homeassistant/components/waqi/sensor.py
  homeassistant/components/watson_iot/__init__.py
  homeassistant/components/waze_travel_time/sensor.py
  homeassistant/components/wemo/__init__.py
  homeassistant/components/wink/__init__.py
  homeassistant/components/wink/binary_sensor.py
  homeassistant/components/wirelesstag/__init__.py
  homeassistant/components/wirelesstag/binary_sensor.py
  homeassistant/components/wirelesstag/switch.py
  homeassistant/components/withings/sensor.py
  homeassistant/components/worldtidesinfo/sensor.py
  homeassistant/components/worxlandroid/sensor.py
  homeassistant/components/wunderground/sensor.py
  homeassistant/components/wwlln/__init__.py
Labels: cla-signed

#26389 Use literal string interpolation in integrations K-M (f-strings)
  homeassistant/components/kankun/switch.py
  homeassistant/components/kira/__init__.py
  homeassistant/components/kodi/media_player.py
  homeassistant/components/kodi/notify.py
  homeassistant/components/konnected/__init__.py
  homeassistant/components/kwb/sensor.py
  homeassistant/components/lastfm/sensor.py
  homeassistant/components/lcn/helpers.py
  homeassistant/components/life360/config_flow.py
  homeassistant/components/life360/device_tracker.py
  homeassistant/components/lifx/light.py
  homeassistant/components/lifx_cloud/scene.py
  homeassistant/components/light/__init__.py
  homeassistant/components/linksys_smart/device_tracker.py
  homeassistant/components/linux_battery/sensor.py
  homeassistant/components/liveboxplaytv/media_player.py
  homeassistant/components/locative/__init__.py
  homeassistant/components/logbook/__init__.py
  homeassistant/components/logentries/__init__.py
  homeassistant/components/logi_circle/__init__.py
  homeassistant/components/logi_circle/config_flow.py
  homeassistant/components/logi_circle/sensor.py
  homeassistant/components/luftdaten/__init__.py
  homeassistant/components/lutron/__init__.py
  homeassistant/components/lyft/sensor.py
  homeassistant/components/magicseaweed/sensor.py
  homeassistant/components/mailgun/__init__.py
  homeassistant/components/marytts/tts.py
  homeassistant/components/metoffice/weather.py
  homeassistant/components/microsoft/tts.py
  homeassistant/components/microsoft_face/__init__.py
  homeassistant/components/microsoft_face_detect/image_processing.py
  homeassistant/components/miflora/sensor.py
  homeassistant/components/minio/__init__.py
  homeassistant/components/mitemp_bt/sensor.py
  homeassistant/components/mobile_app/binary_sensor.py
  homeassistant/components/mobile_app/entity.py
  homeassistant/components/mobile_app/sensor.py
  homeassistant/components/mobile_app/webhook.py
  homeassistant/components/mochad/light.py
  homeassistant/components/modbus/climate.py
  homeassistant/components/modbus/sensor.py
  homeassistant/components/mopar/__init__.py
  homeassistant/components/mpchc/media_player.py
  homeassistant/components/mpd/media_player.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/vacuum/schema_legacy.py
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/mysensors/notify.py
  homeassistant/components/mystrom/binary_sensor.py
Labels: cla-signed

#26395 Use literal string interpolation in integrations X-Z (f-strings)
  homeassistant/components/xiaomi/device_tracker.py
  homeassistant/components/xiaomi_aqara/__init__.py
  homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/light.py
  homeassistant/components/xiaomi_miio/remote.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/components/xiaomi_miio/switch.py
  homeassistant/components/xmpp/notify.py
  homeassistant/components/yamaha/media_player.py
  homeassistant/components/yamaha_musiccast/media_player.py
  homeassistant/components/yeelight/__init__.py
  homeassistant/components/yeelight/binary_sensor.py
  homeassistant/components/yeelight/light.py
  homeassistant/components/yeelightsunflower/light.py
  homeassistant/components/yr/sensor.py
  homeassistant/components/yweather/sensor.py
  homeassistant/components/zamg/sensor.py
  homeassistant/components/zestimate/sensor.py
  homeassistant/components/zha/api.py
  homeassistant/components/zha/core/channels/__init__.py
  homeassistant/components/zha/core/channels/closures.py
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/core/channels/homeautomation.py
  homeassistant/components/zha/core/channels/hvac.py
  homeassistant/components/zha/core/channels/security.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/core/discovery.py
  homeassistant/components/zha/core/gateway.py
  homeassistant/components/zha/entity.py
  homeassistant/components/ziggo_mediabox_xl/media_player.py
  homeassistant/components/zoneminder/__init__.py
  homeassistant/components/zoneminder/sensor.py
  homeassistant/components/zoneminder/switch.py
  homeassistant/components/zwave/__init__.py
  homeassistant/components/zwave/node_entity.py
  homeassistant/components/zwave/util.py
Labels: cla-signed

#26396 Fixes invalid JSON files and whitespace corrections in YAML files
  .devcontainer/devcontainer.json
  .vscode/tasks.json
  homeassistant/components/ihc/ihc_auto_setup.yaml
  homeassistant/components/knx/services.yaml
  homeassistant/components/lcn/services.yaml
  homeassistant/components/persistent_notification/services.yaml
  homeassistant/components/point/strings.json
  homeassistant/components/solax/manifest.json
  homeassistant/components/utility_meter/services.yaml
  homeassistant/components/zha/services.yaml
  tests/fixtures/ring_oauth.json
Labels: cla-signed, core, integration: ihc, integration: point, integration: solax, small-pr

#25837 Refactor pihole integration
  homeassistant/components/pi_hole/__init__.py
  homeassistant/components/pi_hole/const.py
  homeassistant/components/pi_hole/sensor.py
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/pi_hole/__init__.py
  tests/components/pi_hole/test_init.py
Labels: breaking change, cla-signed, has-tests, integration: pi_hole

#25799 Change xiaomi camera conf_host to template
  homeassistant/components/xiaomi/camera.py
Labels: cla-signed, integration: xiaomi, small-pr

#26018 Fix Emulated Hue AttributeError: 'NoneType' object has no attribute '…
  homeassistant/components/emulated_hue/hue_api.py
Labels: cla-signed, integration: emulated_hue, small-pr

#26409 Allow passing None as input_text config
  homeassistant/components/input_text/__init__.py
  tests/components/input_text/test_init.py
Labels: cla-signed, core, has-tests, integration: input_text, small-pr

#26406 Fix state report
  homeassistant/components/alexa/state_report.py
  tests/components/alexa/test_state_report.py
Labels: cla-signed, core, integration: alexa, small-pr

#26408 IGN Sismologia icon for geolocation entities
  homeassistant/components/ign_sismologia/geo_location.py
  tests/components/ign_sismologia/test_geo_location.py
Labels: cla-signed, has-tests, integration: ign_sismologia, small-pr

#26402 Update aioharmony to 0.1.13
  homeassistant/components/harmony/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: harmony, small-pr

#26403 Migrate legacy typehints in core to PEP-526
  homeassistant/__main__.py
  homeassistant/auth/__init__.py
  homeassistant/auth/auth_store.py
  homeassistant/auth/mfa_modules/__init__.py
  homeassistant/auth/mfa_modules/notify.py
  homeassistant/auth/mfa_modules/totp.py
  homeassistant/auth/models.py
  homeassistant/auth/permissions/entities.py
  homeassistant/auth/permissions/merge.py
  homeassistant/auth/permissions/util.py
  homeassistant/auth/providers/__init__.py
  homeassistant/auth/providers/command_line.py
  homeassistant/auth/providers/homeassistant.py
  homeassistant/auth/providers/insecure_example.py
  homeassistant/bootstrap.py
  homeassistant/components/device_tracker/legacy.py
  homeassistant/config.py
  homeassistant/config_entries.py
  homeassistant/const.py
  homeassistant/core.py
  homeassistant/data_entry_flow.py
  homeassistant/helpers/aiohttp_client.py
  homeassistant/helpers/area_registry.py
  homeassistant/helpers/check_config.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/entity_values.py
  homeassistant/helpers/intent.py
  homeassistant/helpers/restore_state.py
  homeassistant/helpers/script.py
  homeassistant/helpers/state.py
  homeassistant/helpers/storage.py
  homeassistant/helpers/sun.py
  homeassistant/helpers/translation.py
  homeassistant/loader.py
  homeassistant/scripts/benchmark/__init__.py
  homeassistant/scripts/check_config.py
  homeassistant/util/aiohttp.py
  homeassistant/util/async_.py
  homeassistant/util/dt.py
  homeassistant/util/logging.py
  homeassistant/util/ruamel_yaml.py
  homeassistant/util/unit_system.py
  homeassistant/util/yaml/dumper.py
  homeassistant/util/yaml/loader.py
Labels: cla-signed, core, integration: device_tracker

#26342 Add X10 devices as ISY994 switches
  homeassistant/components/isy994/__init__.py
Labels: cla-signed, integration: isy994, small-pr

#26076 Add config flow to linky
  .coveragerc
  CODEOWNERS
  homeassistant/components/linky/.translations/en.json
  homeassistant/components/linky/__init__.py
  homeassistant/components/linky/config_flow.py
  homeassistant/components/linky/const.py
  homeassistant/components/linky/manifest.json
  homeassistant/components/linky/sensor.py
  homeassistant/components/linky/strings.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/linky/__init__.py
  tests/components/linky/test_config_flow.py
Labels: breaking change, cla-signed, integration: linky

#26413 Bump ISY994's PyISY dependency to 1.1.2
  homeassistant/components/isy994/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: isy994, small-pr

#26400 Met, check for existing location
  homeassistant/components/met/.translations/en.json
  homeassistant/components/met/config_flow.py
  homeassistant/components/met/strings.json
  tests/components/met/test_config_flow.py
Labels: cla-signed, has-tests, integration: met, small-pr

#26398 Allow core config updated
  homeassistant/components/websocket_api/permissions.py
Labels: cla-signed, core, integration: websocket_api, small-pr

#26390 Correct file permissions in slide integration
  homeassistant/components/slide/__init__.py
Labels: cla-signed, integration: slide, small-pr

#26386 Use literal string interpolation in honeywell
  homeassistant/components/honeywell/climate.py
Labels: cla-signed, integration: honeywell, small-pr

#26385 Use literal string interpolation in geniushub
  homeassistant/components/geniushub/sensor.py
Labels: cla-signed, integration: geniushub, small-pr

#26383 Use literal string interpolation in evohome
  homeassistant/components/evohome/__init__.py
Labels: cla-signed, integration: evohome, small-pr

#26414 0.98.3
  homeassistant/components/alexa/state_report.py
  homeassistant/components/deconz/.translations/en.json
  homeassistant/components/deconz/strings.json
  homeassistant/components/harmony/manifest.json
  homeassistant/components/isy994/manifest.json
  homeassistant/components/met/.translations/en.json
  homeassistant/components/met/config_flow.py
  homeassistant/components/met/strings.json
  homeassistant/components/sonos/media_player.py
  homeassistant/components/version/manifest.json
  homeassistant/components/version/sensor.py
  homeassistant/components/websocket_api/permissions.py
  homeassistant/const.py
  requirements_all.txt
  tests/components/alexa/test_state_report.py
  tests/components/met/test_config_flow.py
Labels: cla-signed

#26416 NSW Rural Fire Service icon for geolocation entities
  CODEOWNERS
  homeassistant/components/nsw_rural_fire_service_feed/geo_location.py
  homeassistant/components/nsw_rural_fire_service_feed/manifest.json
  tests/components/nsw_rural_fire_service_feed/test_geo_location.py
Labels: cla-signed, has-tests, integration: nsw_rural_fire_service_feed, small-pr

#26417 Add prettier to vscode
  .devcontainer/devcontainer.json
Labels: cla-signed, small-pr

#26421 Updated frontend to 20190904.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, integration: frontend, small-pr

#26238 Add device to mqtt camera
  homeassistant/components/mqtt/camera.py
  tests/components/mqtt/test_camera.py
Labels: cla-signed, core, integration: mqtt, small-pr

#24275 Entity registry doesn't overwrite with None
  homeassistant/helpers/entity_registry.py
Labels: cla-signed, core, small-pr

#26428 Replaces IOError by OSError
  homeassistant/__main__.py
  homeassistant/components/bme680/sensor.py
  homeassistant/components/bmw_connected_drive/__init__.py
  homeassistant/components/egardia/__init__.py
  homeassistant/components/hangouts/hangouts_bot.py
  homeassistant/components/keyboard_remote/__init__.py
  homeassistant/components/liveboxplaytv/media_player.py
  homeassistant/components/miflora/sensor.py
  homeassistant/components/mitemp_bt/sensor.py
  homeassistant/components/pilight/__init__.py
  homeassistant/components/proxy/camera.py
  homeassistant/components/remote_rpi_gpio/__init__.py
  homeassistant/components/remote_rpi_gpio/binary_sensor.py
  homeassistant/components/remote_rpi_gpio/switch.py
  homeassistant/components/sky_hub/device_tracker.py
  homeassistant/components/supla/__init__.py
  homeassistant/components/telnet/switch.py
  homeassistant/components/temper/sensor.py
  homeassistant/config.py
  homeassistant/scripts/macos/__init__.py
Labels: cla-signed

#26197 Add atome sensor platform
  .coveragerc
  CODEOWNERS
  homeassistant/components/atome/__init__.py
  homeassistant/components/atome/manifest.json
  homeassistant/components/atome/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: atome, new-integration

#26451 Cleanup Devcontainer
  Dockerfile.dev
Labels: cla-signed, small-pr

#26313 Add device automation condition
  homeassistant/components/automation/__init__.py
  homeassistant/components/device_automation/__init__.py
  homeassistant/components/device_automation/const.py
  homeassistant/components/light/device_automation.py
  homeassistant/components/light/strings.json
  homeassistant/helpers/condition.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/script.py
  tests/components/device_automation/test_init.py
  tests/components/light/test_device_automation.py
  tests/helpers/test_condition.py
Labels: cla-signed, core, has-tests, integration: automation, integration: device_automation, integration: light

#26439 Queensland Bushfire Alert icon for geolocation entities
  homeassistant/components/qld_bushfire/geo_location.py
  tests/components/qld_bushfire/test_geo_location.py
Labels: cla-signed, has-tests, integration: qld_bushfire, small-pr

#26444 Standardize Plex server connections
  .coveragerc
  homeassistant/components/plex/const.py
  homeassistant/components/plex/media_player.py
  homeassistant/components/plex/sensor.py
  homeassistant/components/plex/server.py
Labels: breaking change, cla-signed, integration: plex

#26458 Add plex server config options to media_player platform
  homeassistant/components/plex/const.py
  homeassistant/components/plex/media_player.py
  homeassistant/components/plex/sensor.py
Labels: cla-signed, integration: plex, small-pr

#26455 Add device automation action
  homeassistant/components/device_automation/__init__.py
  homeassistant/components/device_automation/const.py
  homeassistant/components/light/device_automation.py
  homeassistant/components/light/strings.json
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/script.py
  tests/components/device_automation/test_init.py
  tests/components/light/test_device_automation.py
Labels: cla-signed, core, has-tests, integration: device_automation, integration: light

#26219 deCONZ - use entity registry disabled_by to control available entities
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/climate.py
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/cover.py
  homeassistant/components/deconz/deconz_device.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/scene.py
  homeassistant/components/deconz/sensor.py
  homeassistant/components/deconz/switch.py
  tests/components/deconz/test_binary_sensor.py
  tests/components/deconz/test_climate.py
  tests/components/deconz/test_config_flow.py
  tests/components/deconz/test_cover.py
  tests/components/deconz/test_light.py
  tests/components/deconz/test_sensor.py
  tests/components/deconz/test_switch.py
Labels: Ready for review, cla-signed, has-tests, integration: deconz

#25877 Add person to device_sun_light_trigger
  homeassistant/components/device_sun_light_trigger/__init__.py
  homeassistant/components/device_sun_light_trigger/manifest.json
  tests/components/device_sun_light_trigger/test_init.py
Labels: cla-signed, integration: device_sun_light_trigger, small-pr

#26463 0.98.4
  homeassistant/components/tuya/switch.py
  homeassistant/const.py
Labels: cla-signed, core, integration: tuya, merging-to-master, small-pr

#26452 Change darksky icon for clear night
  homeassistant/components/darksky/sensor.py
Labels: cla-signed, integration: darksky, small-pr

#26200 Jewish calendar binary sensor
  homeassistant/components/jewish_calendar/__init__.py
  homeassistant/components/jewish_calendar/binary_sensor.py
  homeassistant/components/jewish_calendar/sensor.py
  tests/components/jewish_calendar/__init__.py
  tests/components/jewish_calendar/test_binary_sensor.py
  tests/components/jewish_calendar/test_sensor.py
Labels: breaking change, cla-signed, has-tests, integration: jewish_calendar, new-platform

#26476 Bump geniushub client
  homeassistant/components/geniushub/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: geniushub, small-pr

#26449 Unify device_state_attributes handling for Homematic IP Cloud
  homeassistant/components/homematicip_cloud/binary_sensor.py
  homeassistant/components/homematicip_cloud/light.py
  homeassistant/components/homematicip_cloud/sensor.py
  homeassistant/components/homematicip_cloud/switch.py
  homeassistant/components/homematicip_cloud/weather.py
Labels: breaking change, cla-signed, integration: homematicip_cloud

#26224 Add yeelight nightligh support via separate light entity
  homeassistant/components/yeelight/__init__.py
  homeassistant/components/yeelight/light.py
Labels: cla-signed, integration: yeelight

#26255 Add set scene service calls to yeelight
  homeassistant/components/yeelight/light.py
  homeassistant/components/yeelight/services.yaml
Labels: cla-signed, integration: yeelight

#26477 Add device_info to Linky integration
  homeassistant/components/linky/sensor.py
Labels: cla-signed, integration: linky, small-pr

#26465 Update radiotherm climate attributes
  homeassistant/components/radiotherm/climate.py
Labels: breaking change, cla-signed, integration: radiotherm, small-pr

#26151 Add Viessmann ViCare Climate platform
  .coveragerc
  CODEOWNERS
  homeassistant/components/vicare/__init__.py
  homeassistant/components/vicare/climate.py
  homeassistant/components/vicare/manifest.json
  homeassistant/components/vicare/water_heater.py
  requirements_all.txt
Labels: cla-signed, integration: vicare, new-integration

#26034 Add new integration for Jandy iAqualink pool control
  .coveragerc
  CODEOWNERS
  homeassistant/components/iaqualink/.translations/en.json
  homeassistant/components/iaqualink/__init__.py
  homeassistant/components/iaqualink/climate.py
  homeassistant/components/iaqualink/config_flow.py
  homeassistant/components/iaqualink/const.py
  homeassistant/components/iaqualink/manifest.json
  homeassistant/components/iaqualink/strings.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/iaqualink/__init__.py
  tests/components/iaqualink/test_config_flow.py
Labels: cla-signed, integration: iaqualink, new-integration

#26026 Add protocol and model as an optional restriction for tellstick sensors
  homeassistant/components/tellstick/sensor.py
Labels: cla-signed, integration: tellstick, small-pr

#26364 Fix KNX light tunable white rounding error
  homeassistant/components/knx/light.py
Labels: cla-signed, integration: knx, small-pr

#26486 Bump aiowwlln to 2.0.1
  homeassistant/components/wwlln/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: wwlln, small-pr

#26485 Avoid invalid vicare temperature values
  homeassistant/components/vicare/climate.py
Labels: cla-signed, integration: vicare, small-pr

#26487 0.98.5
  homeassistant/components/frontend/manifest.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, integration: frontend, merging-to-master, small-pr

#26464 Use PEP 526 type annotations, add some type hints
  homeassistant/auth/models.py
  homeassistant/components/bbox/device_tracker.py
  homeassistant/components/bbox/sensor.py
  homeassistant/components/buienradar/camera.py
  homeassistant/components/cast/media_player.py
  homeassistant/components/device_tracker/config_entry.py
  homeassistant/components/device_tracker/legacy.py
  homeassistant/components/device_tracker/setup.py
  homeassistant/components/ebox/sensor.py
  homeassistant/components/esphome/__init__.py
  homeassistant/components/esphome/config_flow.py
  homeassistant/components/fan/__init__.py
  homeassistant/components/fido/sensor.py
  homeassistant/components/fints/sensor.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/smart_home.py
  homeassistant/components/group/light.py
  homeassistant/components/gtfs/sensor.py
  homeassistant/components/hydroquebec/sensor.py
  homeassistant/components/isy994/__init__.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/onkyo/media_player.py
  homeassistant/components/person/__init__.py
  homeassistant/components/proximity/__init__.py
  homeassistant/components/recorder/__init__.py
  homeassistant/components/startca/sensor.py
  homeassistant/components/switch/light.py
  homeassistant/components/switcher_kis/switch.py
  homeassistant/components/teksavvy/sensor.py
  homeassistant/components/webostv/media_player.py
  homeassistant/components/zha/core/store.py
  homeassistant/helpers/entity_registry.py
  homeassistant/helpers/event.py
  homeassistant/loader.py
  tests/components/switcher_kis/conftest.py
Labels: cla-signed

#25724 Restructure zwave climate
  homeassistant/components/zwave/climate.py
Labels: cla-signed, integration: zwave

#26494 Fix ZHA cluster configuration
  homeassistant/components/zha/core/channels/__init__.py
Labels: cla-signed, integration: zha, small-pr

#26497 Bump androidtv to 0.0.27
  homeassistant/components/androidtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: androidtv, small-pr

#26491 Device automations: Rename name to entity_name in translations
  homeassistant/components/light/strings.json
Labels: cla-signed, core, integration: light, small-pr

#26504 Bump ZHA dependencies.
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr

#26519 Bump geniushubclient
  homeassistant/components/geniushub/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: geniushub, small-pr

#26515 Update to async_upnp_client==0.14.11
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/components/upnp/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: dlna_dmr, integration: upnp, small-pr

#26524 Updated frontend to 20190908.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, integration: frontend, small-pr

#26071 Add vivotek camera component
  .coveragerc
  homeassistant/components/vivotek/__init__.py
  homeassistant/components/vivotek/camera.py
  homeassistant/components/vivotek/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: vivotek, new-integration

#26282 Enable SolarEdge config entries
  .coveragerc
  homeassistant/components/solaredge/.translations/en.json
  homeassistant/components/solaredge/__init__.py
  homeassistant/components/solaredge/config_flow.py
  homeassistant/components/solaredge/const.py
  homeassistant/components/solaredge/manifest.json
  homeassistant/components/solaredge/sensor.py
  homeassistant/components/solaredge/strings.json
  homeassistant/generated/config_flows.py
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/solaredge/__init__.py
  tests/components/solaredge/test_config_flow.py
Labels: breaking change, cla-signed, integration: solaredge

#26533 Use is_server for cluster reporting in ZHA
  homeassistant/components/zha/core/channels/__init__.py
  tests/components/zha/common.py
Labels: cla-signed, has-tests, integration: zha, small-pr

#26536 WIP: Remove device from device action schema
  homeassistant/components/device_automation/toggle_entity.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/script.py
  tests/components/device_automation/test_init.py
  tests/components/light/test_device_automation.py
  tests/components/switch/test_device_automation.py
Labels: cla-signed, core, has-tests, integration: device_automation, small-pr

#26505 Move iaqualink update from climate to component
  homeassistant/components/iaqualink/__init__.py
  homeassistant/components/iaqualink/climate.py
  homeassistant/components/iaqualink/const.py
Labels: cla-signed, integration: iaqualink

#26540 Do not complain about automatic generated files
  homeassistant/generated/config_flows.py
  homeassistant/generated/ssdp.py
  homeassistant/generated/zeroconf.py
  script/hassfest/config_flow.py
  script/hassfest/ssdp.py
  script/hassfest/zeroconf.py
Labels: cla-signed, small-pr

#26534 Fix Tuya Light without brightness
  homeassistant/components/tuya/light.py
Labels: cla-signed, integration: tuya, small-pr

#26538 Add Delta Counter of HmIP-SPDR to Homematic IP Cloud
  homeassistant/components/homematicip_cloud/sensor.py
Labels: cla-signed, integration: homematicip_cloud, small-pr

#26484 Add light platform to iaqualink integration
  .coveragerc
  homeassistant/components/iaqualink/__init__.py
  homeassistant/components/iaqualink/light.py
Labels: cla-signed, integration: iaqualink, new-platform

#26488 Move config and connections to Plex component
  homeassistant/components/discovery/__init__.py
  homeassistant/components/plex/__init__.py
  homeassistant/components/plex/const.py
  homeassistant/components/plex/media_player.py
  homeassistant/components/plex/sensor.py
  homeassistant/components/plex/server.py
Labels: breaking change, cla-signed, core, integration: discovery, integration: plex

#26526 Fix radiotherm local time
  homeassistant/components/radiotherm/climate.py
Labels: cla-signed, integration: radiotherm, small-pr

#26521 Add more attributes to vicare climate entity
  homeassistant/components/vicare/climate.py
Labels: cla-signed, integration: vicare, small-pr

#25635 Add growatt server integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/growatt_server/__init__.py
  homeassistant/components/growatt_server/manifest.json
  homeassistant/components/growatt_server/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: growatt_server, new-integration

#26205 Add zwave application version
  homeassistant/components/zwave/node_entity.py
  tests/components/zwave/test_node_entity.py
Labels: cla-signed, has-tests, integration: zwave, small-pr

#26543 Remove unnecessary force_refresh=True, clarify system behavior
  homeassistant/components/iaqualink/__init__.py
Labels: cla-signed, integration: iaqualink, small-pr

#26441 Add Météo France icons + device_class
  homeassistant/components/meteo_france/__init__.py
  homeassistant/components/meteo_france/const.py
  homeassistant/components/meteo_france/sensor.py
  homeassistant/components/meteo_france/weather.py
Labels: cla-signed, integration: meteo_france, small-pr

#26554 Bump geniushub-client to 0.6.13
  homeassistant/components/geniushub/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: geniushub, small-pr

#26544 Add sensor platform to iaqualink component
  .coveragerc
  homeassistant/components/iaqualink/__init__.py
  homeassistant/components/iaqualink/sensor.py
Labels: cla-signed, integration: iaqualink, new-platform

#26550 Refactor Cast
  homeassistant/components/cast/const.py
  homeassistant/components/cast/discovery.py
  homeassistant/components/cast/helpers.py
  homeassistant/components/cast/media_player.py
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/cast/test_media_player.py
Labels: cla-signed, has-tests, integration: cast

#26557 Fix events for angle reports from the SmartThings acceleration cluster in ZHA
  homeassistant/components/zha/core/channels/manufacturerspecific.py
Labels: cla-signed, integration: zha, small-pr

#26555 Add ZHA support for the Osram 4 button remote custom cluster
  homeassistant/components/zha/core/channels/manufacturerspecific.py
Labels: cla-signed, integration: zha, small-pr

#26542 Nuki less strict
  homeassistant/components/nuki/lock.py
Labels: cla-signed, integration: nuki, small-pr

#26366 deCONZ device automations
  homeassistant/components/automation/__init__.py
  homeassistant/components/deconz/.translations/en.json
  homeassistant/components/deconz/deconz_device.py
  homeassistant/components/deconz/deconz_event.py
  homeassistant/components/deconz/device_automation.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deconz/strings.json
  homeassistant/components/device_automation/exceptions.py
  tests/components/deconz/test_device_automation.py
  tests/components/deconz/test_gateway.py
Labels: Ready for review, cla-signed, has-tests, integration: deconz

#26572 Improve startup of devcontainer
  .devcontainer/devcontainer.json
  .vscode/tasks.json
  Dockerfile.dev
Labels: cla-signed, small-pr

#26573 Cleanup stale script stuff
  script/dev_docker
  script/dev_openzwave_docker
  script/lint_docker
  script/test_docker
  script/translations_upload
  script/travis_deploy
Labels: cla-signed, small-pr

#26570 Bump UPC connect / fix auth issue
  .coveragerc
  CODEOWNERS
  homeassistant/components/upc_connect/device_tracker.py
  homeassistant/components/upc_connect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/upc_connect/__init__.py
  tests/components/upc_connect/test_device_tracker.py
Labels: cla-signed, has-tests, integration: upc_connect

#26576 Bump ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr

#26578 Updated frontend to 20190911.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, integration: frontend, small-pr

#26577 Make uk_transport sensor timezone/DST aware
  homeassistant/components/uk_transport/sensor.py
Labels: cla-signed, integration: uk_transport, small-pr

#26580 Fix GTFS sensor wrong timezone
  homeassistant/components/gtfs/sensor.py
Labels: cla-signed, integration: gtfs, small-pr

#26545 Add switch platform to iaqualink integration
  .coveragerc
  homeassistant/components/iaqualink/__init__.py
  homeassistant/components/iaqualink/switch.py
Labels: cla-signed, integration: iaqualink, new-platform

#26537 Add Obihai integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/obihai/__init__.py
  homeassistant/components/obihai/manifest.json
  homeassistant/components/obihai/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: obihai, new-integration

#26575 Deprecate Python 3.6.0
  homeassistant/bootstrap.py
Labels: cla-signed, core, small-pr

#26588 Check if git is dirty before committing
  script/version_bump.py
Labels: cla-signed, small-pr

#26587 Remove support of UniFi device tracker configuration import
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/device_tracker.py
  tests/components/unifi/test_device_tracker.py
Labels: breaking change, cla-signed, has-tests, integration: unifi, small-pr

#26208 Add support for DOODS Image Processing
  .coveragerc
  homeassistant/components/doods/__init__.py
  homeassistant/components/doods/image_processing.py
  homeassistant/components/doods/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: doods, new-integration

#26594 Update PyChromecast
  homeassistant/components/cast/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: cast, small-pr

#26586 Bump zigate to 0.3.0
  homeassistant/components/zha/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: zha, small-pr

#26593 Upgrade youtube_dl to 2019.09.12.1
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: media_extractor, small-pr

#26589 Fix BMW Check Control Messages
  homeassistant/components/bmw_connected_drive/binary_sensor.py
  homeassistant/components/bmw_connected_drive/sensor.py
Labels: cla-signed, integration: bmw_connected_drive, small-pr

#26614 Refactor Bluetooth Tracker to async
  homeassistant/components/bluetooth_tracker/device_tracker.py
Labels: cla-signed, integration: bluetooth_tracker

#26592 deCONZ - create deconz_events through sensor platform
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deconz/sensor.py
  tests/components/deconz/test_deconz_event.py
  tests/components/deconz/test_gateway.py
Labels: cla-signed, has-tests, integration: deconz, small-pr

#26549 zha ZCL color loop effect
  homeassistant/components/zha/light.py
Labels: cla-signed, integration: zha

#26616 Add iaqualink binary sensor and unique_id
  .coveragerc
  homeassistant/components/iaqualink/__init__.py
  homeassistant/components/iaqualink/binary_sensor.py
  homeassistant/components/iaqualink/climate.py
  homeassistant/components/iaqualink/light.py
  homeassistant/components/iaqualink/sensor.py
  homeassistant/components/iaqualink/switch.py
Labels: cla-signed, integration: iaqualink, new-platform

#26618 Add group attribute to Homematic IP Cloud
  homeassistant/components/homematicip_cloud/binary_sensor.py
  homeassistant/components/homematicip_cloud/device.py
  homeassistant/components/homematicip_cloud/sensor.py
  homeassistant/components/homematicip_cloud/switch.py
Labels: cla-signed, integration: homematicip_cloud, small-pr

#26645 Move deCONZ services to their own file
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/services.py
Labels: Ready for review, cla-signed, integration: deconz

#26642 Add built in weather to Homematic IP Cloud
  homeassistant/components/homematicip_cloud/weather.py
Labels: cla-signed, integration: homematicip_cloud

#26591 deCONZ - battery sensor instead of battery attribute
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/climate.py
  homeassistant/components/deconz/deconz_device.py
  homeassistant/components/deconz/deconz_event.py
  homeassistant/components/deconz/sensor.py
Labels: Ready for review, cla-signed, integration: deconz, small-pr

#26648 deCONZ - Remove mechanisms to import a configuration from configuration.yaml
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/config_flow.py
  tests/components/deconz/test_config_flow.py
  tests/components/deconz/test_init.py
Labels: cla-signed, has-tests, integration: deconz, small-pr

#26462 Refactor nzbget to support future platform changes
  .coveragerc
  CODEOWNERS
  homeassistant/components/nzbget/__init__.py
  homeassistant/components/nzbget/manifest.json
  homeassistant/components/nzbget/sensor.py
  requirements_all.txt
Labels: breaking change, cla-signed, integration: nzbget

#26644 Rename MockToggleDevice to MockToggleEntity
  tests/common.py
  tests/components/flux/test_switch.py
  tests/components/generic_thermostat/test_climate.py
  tests/components/light/test_device_automation.py
  tests/components/light/test_init.py
  tests/components/scene/test_init.py
  tests/components/switch/test_device_automation.py
  tests/components/switch/test_init.py
  tests/testing_config/custom_components/test/light.py
  tests/testing_config/custom_components/test/switch.py
Labels: cla-signed, core, has-tests, small-pr
