Repository home-assistant/core, pull requests merged in 2019-04, with the labels that each got.

#22602 Add stream to the default config
  homeassistant/components/default_config/__init__.py
Labels: cla-signed, core, in progress, integration: default_config, small-pr

#22399 Add permission checking to all RainMachine services
  homeassistant/components/rainmachine/__init__.py
  tests/components/rainmachine/conftest.py
  tests/components/rainmachine/test_service_permissions.py
Labels: cla-signed, in progress, integration: rainmachine

#22583 Refactor of ADS integration and introduce ADSEntity
  homeassistant/components/ads/__init__.py
  homeassistant/components/ads/binary_sensor.py
  homeassistant/components/ads/light.py
  homeassistant/components/ads/sensor.py
  homeassistant/components/ads/switch.py
Labels: cla-signed, in progress, integration: ads

#22604 Add new mobile_app webhook command: get_zones
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/helpers.py
  homeassistant/components/mobile_app/webhook.py
  homeassistant/components/zone/config_flow.py
  tests/components/mobile_app/test_webhook.py
Labels: cla-signed, core, in progress, integration: mobile_app, integration: zone, small-pr

#22606 Fixed brightness reducing after each light change (Zengge component)
  homeassistant/components/zengge/light.py
Labels: cla-signed, in progress, integration: zengge, small-pr

#22558 Add netgear_lte connection sensors
  homeassistant/components/netgear_lte/__init__.py
  homeassistant/components/netgear_lte/sensor.py
  homeassistant/components/netgear_lte/sensor_types.py
  requirements_all.txt
Labels: cla-signed, in progress, integration: netgear_lte, small-pr

#22609 Only allow admins to enable remote connection
  homeassistant/components/cloud/__init__.py
  homeassistant/components/cloud/http_api.py
  tests/components/cloud/test_init.py
Labels: cla-signed, core, in progress, integration: cloud

#22611 Cloudhooks for webhook config flows
  homeassistant/components/dialogflow/__init__.py
  homeassistant/components/geofency/__init__.py
  homeassistant/components/gpslogger/__init__.py
  homeassistant/components/ifttt/__init__.py
  homeassistant/components/locative/__init__.py
  homeassistant/components/mailgun/__init__.py
  homeassistant/components/twilio/__init__.py
  homeassistant/helpers/config_entry_flow.py
  tests/helpers/test_config_entry_flow.py
Labels: cla-signed, core, in progress, integration: dialogflow, integration: geofency, integration: gpslogger, integration: ifttt, integration: locative, integration: mailgun, integration: twilio

#22505 Hass.io ingress
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/const.py
  homeassistant/components/hassio/http.py
  homeassistant/components/hassio/ingress.py
  tests/components/hassio/test_http.py
  tests/components/hassio/test_ingress.py
  tests/components/hassio/test_init.py
  tests/test_util/aiohttp.py
Labels: cla-signed, core, in progress, integration: hassio

#22590 Config CircleCI workflow
  .circleci/config.yml
  README.rst
  mypyrc
  script/translations_upload
  tox.ini
Labels: cla-signed, in progress

#22592 Add source selection to Heos component
  homeassistant/components/heos/__init__.py
  homeassistant/components/heos/const.py
  homeassistant/components/heos/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/heos/conftest.py
  tests/components/heos/test_init.py
  tests/components/heos/test_media_player.py
Labels: cla-signed, in progress, integration: heos

#22622 Update face_recognition to 1.2.3
  homeassistant/components/dlib_face_detect/image_processing.py
  homeassistant/components/dlib_face_identify/image_processing.py
  requirements_all.txt
Labels: cla-signed, in progress, integration: dlib_face_detect, integration: dlib_face_identify, small-pr

#22620 Make platform setup a coroutine
  homeassistant/components/daikin/climate.py
  homeassistant/components/daikin/sensor.py
  homeassistant/components/daikin/switch.py
  homeassistant/components/tellduslive/binary_sensor.py
  homeassistant/components/tellduslive/cover.py
  homeassistant/components/tellduslive/light.py
  homeassistant/components/tellduslive/sensor.py
  homeassistant/components/tellduslive/switch.py
Labels: cla-signed, in progress, integration: daikin, integration: tellduslive, small-pr

#22621 Trend binary sensor check for state unavailable
  homeassistant/components/trend/binary_sensor.py
Labels: cla-signed, in progress, integration: trend, small-pr

#22628 Disable Z-Wave auto heal by default
  homeassistant/components/zwave/const.py
Labels: cla-signed, in progress, integration: zwave, small-pr

#22629 Fix disconnect bug in Tibber library
  homeassistant/components/tibber/__init__.py
  requirements_all.txt
Labels: cla-signed, in progress, integration: tibber, small-pr

#22626 Fix xiaomi vacuum resume functionality
  homeassistant/components/xiaomi_miio/vacuum.py
Labels: cla-signed, in progress, integration: xiaomi_miio, small-pr

#22624 Fix GTFS variable type mismatch
  homeassistant/components/gtfs/sensor.py
Labels: cla-signed, in progress, integration: gtfs, small-pr

#22215 Add support for Dyson Purecool 2018 Air Purifiers models TP04 and DP04
  homeassistant/components/dyson/__init__.py
  homeassistant/components/dyson/climate.py
  homeassistant/components/dyson/fan.py
  homeassistant/components/dyson/sensor.py
  homeassistant/components/dyson/services.yaml
  homeassistant/components/dyson/vacuum.py
  homeassistant/components/fan/services.yaml
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/dyson/test_climate.py
  tests/components/dyson/test_fan.py
  tests/components/dyson/test_init.py
  tests/components/dyson/test_sensor.py
  tests/components/dyson/test_vacuum.py
Labels: cla-signed, in progress, integration: dyson

#22418 Amcrest: Add on/off support & attributes. Bump amcrest to 1.3.0
  homeassistant/components/amcrest/__init__.py
  homeassistant/components/amcrest/camera.py
  homeassistant/components/amcrest/sensor.py
  requirements_all.txt
Labels: cla-signed, in progress, integration: amcrest

#22615 Change library to georss_generic_client
  homeassistant/components/geo_rss_events/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
Labels: cla-signed, in progress, integration: geo_rss_events, small-pr

#22638 Support GET params for websocket ingress path
  homeassistant/components/hassio/ingress.py
  tests/components/hassio/test_ingress.py
Labels: cla-signed, core, has-tests, integration: hassio, small-pr

#22635 Require static-check success first for rest of workflow
  .circleci/config.yml
Labels: cla-signed, in progress, small-pr

#22487 Add trusted networks deprecating warning
  homeassistant/components/http/auth.py
Labels: cla-signed, core, in progress, integration: http, small-pr

#22649 Add codecov
  .circleci/config.yml
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, small-pr

#22600 Qwikswitch fix listen loop
  homeassistant/components/qwikswitch/__init__.py
  homeassistant/components/qwikswitch/binary_sensor.py
  homeassistant/components/qwikswitch/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/qwikswitch/test_init.py
Labels: bug, cla-signed, in progress, integration: qwikswitch, small-pr

#22642 Run PyLint under Python 3.5
  .circleci/config.yml
Labels: cla-signed, in progress, small-pr

#22655 Fix racy homekit_controller platform setup caused by #22368
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/connection.py
Labels: cla-signed, in progress, integration: homekit_controller, small-pr

#22140 Improve evohome exception handling and fix bugs
  homeassistant/components/evohome/__init__.py
  homeassistant/components/evohome/climate.py
  homeassistant/components/honeywell/climate.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/honeywell/test_climate.py
Labels: cla-signed, in progress, integration: evohome, integration: honeywell

#22647 Don't force updates on ZHA Electrical Measurement sensor.
  homeassistant/components/zha/sensor.py
Labels: cla-signed, in progress, integration: zha, small-pr

#22658 Fix pytest durations parameter
  .circleci/config.yml
  tox.ini
Labels: cla-signed, in progress, small-pr

#22637 Admin service to automatically add empty schema
  homeassistant/components/cloud/__init__.py
  homeassistant/helpers/service.py
  tests/helpers/test_service.py
Labels: cla-signed, core, in progress, integration: cloud, small-pr

#22653 Ignore code coverages for component without test
  .coveragerc
Labels: cla-signed, in progress, small-pr

#22651 Return 0 for failed Foscam streams
  homeassistant/components/foscam/camera.py
Labels: cla-signed, in progress, integration: foscam, small-pr

#22630 Add battery sensor to Homematic IP
  homeassistant/components/homematicip_cloud/binary_sensor.py
Labels: cla-signed, in progress, integration: homematicip_cloud, small-pr

#22632 Axis discovery updates host address
  homeassistant/components/axis/__init__.py
  homeassistant/components/axis/camera.py
  homeassistant/components/axis/config_flow.py
  homeassistant/components/axis/device.py
  tests/components/axis/test_config_flow.py
  tests/components/axis/test_device.py
  tests/components/axis/test_init.py
Labels: cla-signed, has-tests, in progress, integration: axis

#22597 Add missing properties and scenes support to Osram Lightify
  homeassistant/components/osramlightify/light.py
Labels: cla-signed, in progress, integration: osramlightify

#19590 Add color support to emulated hue
  homeassistant/components/emulated_hue/hue_api.py
  tests/components/emulated_hue/test_hue_api.py
Labels: cla-signed, in progress, integration: emulated_hue

#22652 Add discovery support to HEOS component
  homeassistant/components/discovery/__init__.py
  homeassistant/components/heos/config_flow.py
  requirements_all.txt
  tests/components/heos/test_config_flow.py
Labels: cla-signed, core, has-tests, in progress, integration: discovery, integration: heos, small-pr

#22656 Don't use room setpoint override in climate.opentherm_gw
  homeassistant/components/opentherm_gw/climate.py
Labels: cla-signed, in progress, integration: opentherm_gw, small-pr

#22623 Hass.io discovery flow deconz
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/strings.json
  homeassistant/components/hassio/discovery.py
  tests/components/deconz/test_config_flow.py
Labels: cla-signed, core, in progress, integration: deconz, integration: hassio

#21703 Person schema for merge_packages #21307
  homeassistant/components/person/__init__.py
  homeassistant/helpers/config_validation.py
  script/inspect_schemas.py
  tests/helpers/test_config_validation.py
Labels: cla-signed, core, in progress, integration: person, small-pr

#22634 Cast: Fix next/previous track
  homeassistant/components/cast/__init__.py
  homeassistant/components/cast/media_player.py
  requirements_all.txt
  tests/components/cast/test_media_player.py
Labels: cla-signed, in progress, integration: cast, small-pr

#22661 Fix regression from PR #22396
  homeassistant/components/cast/media_player.py
  tests/components/cast/test_media_player.py
Labels: cla-signed, in progress, integration: cast, small-pr

#22663 Person tests split from #21307
  tests/components/person/test_init.py
Labels: cla-signed, core, has-tests, in progress, small-pr

#22671 Fix trusted networks auth provider warning message
  homeassistant/components/http/auth.py
  homeassistant/components/http/view.py
Labels: cla-signed, core, in progress, integration: http, small-pr

#21938 Rebrand Cisco Spark notify to be Cisco Webex Teams
  .coveragerc
  homeassistant/components/cisco_webex_teams/__init__.py
  homeassistant/components/cisco_webex_teams/notify.py
  requirements_all.txt
Labels: breaking change, cla-signed, in progress, integration: cisco_webex_teams, new-platform, remove-platform, small-pr

#22669 Fix #22648 - Utility_meter would try to cancel a non existing task
  homeassistant/components/utility_meter/sensor.py
  tests/components/utility_meter/test_sensor.py
Labels: cla-signed, has-tests, integration: utility_meter, small-pr

#22681 Update uvloop to 0.12.2
  virtualization/Docker/Dockerfile.dev
Labels: cla-signed, in progress, small-pr

#22682 Fix ffmpeg default extra options
  homeassistant/components/amcrest/__init__.py
  homeassistant/components/arlo/camera.py
  homeassistant/components/canary/camera.py
  homeassistant/components/ffmpeg/camera.py
  homeassistant/components/onvif/camera.py
  homeassistant/components/xiaomi/camera.py
  homeassistant/components/yi/camera.py
Labels: cla-signed, core, in progress, integration: amcrest, integration: arlo, integration: canary, integration: ffmpeg, integration: onvif, integration: xiaomi, integration: yi, small-pr

#22673 Deal with cover assumed state
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, core, has-tests, in progress, integration: google_assistant, small-pr

#22580 Add mobile_app notify platform
  homeassistant/components/mobile_app/__init__.py
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/notify.py
  tests/components/mobile_app/test_notify.py
Labels: cla-signed, core, in progress, integration: mobile_app, new-platform

#22646 Shutdown ZHAGateway on hass closing.
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/gateway.py
  homeassistant/components/zha/core/helpers.py
Labels: cla-signed, in progress, integration: zha, small-pr

#22686 Fix trend binary sensor and tests
  homeassistant/components/trend/binary_sensor.py
  tests/components/trend/test_binary_sensor.py
Labels: cla-signed, has-tests, in progress, integration: trend, small-pr

#22683 Fix citybikes
  homeassistant/components/citybikes/sensor.py
Labels: cla-signed, in progress, integration: citybikes

#22674 Google Assistant: Add support for open/close binary sensors
  homeassistant/components/binary_sensor/__init__.py
  homeassistant/components/google_assistant/smart_home.py
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, core, has-tests, in progress, integration: binary_sensor, integration: google_assistant

#22662 Update light/services.yaml
  homeassistant/components/light/services.yaml
Labels: cla-signed, core, in progress, small-pr

#22687 Fix connection loss issues for Harmony
  homeassistant/components/harmony/remote.py
  requirements_all.txt
Labels: cla-signed, in progress, integration: harmony, small-pr

#22698 Remove aws_* notify platforms
  .coveragerc
  CODEOWNERS
  homeassistant/components/aws_lambda/__init__.py
  homeassistant/components/aws_lambda/notify.py
  homeassistant/components/aws_sns/__init__.py
  homeassistant/components/aws_sns/notify.py
  homeassistant/components/aws_sqs/__init__.py
  homeassistant/components/aws_sqs/notify.py
  requirements_all.txt
Labels: cla-signed, in progress, integration: aws_lambda, integration: aws_sns, integration: aws_sqs, remove-platform, small-pr

#22707 Add a .codecov.yml to control coverage statuses and enable notifications
  .codecov.yml
Labels: cla-signed, in progress, small-pr

#22540 Raise ConfigEntryNotReady for MQTT connection exception
  homeassistant/components/mqtt/__init__.py
  tests/components/mqtt/test_init.py
Labels: cla-signed, in progress

#22691 Add device_class_power to sensor
  homeassistant/components/homematicip_cloud/sensor.py
  homeassistant/components/sensor/__init__.py
  homeassistant/const.py
Labels: cla-signed, core, in progress, integration: homematicip_cloud, integration: sensor, small-pr

#22704 Remove all config deprecations invalidated in 0.91
  homeassistant/components/broadlink/sensor.py
  homeassistant/components/darksky/sensor.py
  homeassistant/components/fastdotcom/__init__.py
  homeassistant/components/fedex/sensor.py
  homeassistant/components/freedns/__init__.py
  homeassistant/components/mythicbeastsdns/__init__.py
  homeassistant/components/speedtestdotnet/__init__.py
  homeassistant/components/tellduslive/__init__.py
  homeassistant/components/tplink_lte/__init__.py
  homeassistant/components/ups/sensor.py
  homeassistant/components/volvooncall/__init__.py
  homeassistant/const.py
Labels: cla-signed, in progress

#22708 Validate manifests in CI
  .circleci/config.yml
  script/manifest/validate.py
Labels: cla-signed, in progress, small-pr

#22705 Generate codeowners based on manifests
  .circleci/config.yml
  CODEOWNERS
  script/manifest/codeowners.py
  script/manifest/manifest_helper.py
Labels: cla-signed, in progress, small-pr

#22710 Remove deprecated Insteon components
  homeassistant/components/insteon_local/__init__.py
  homeassistant/components/insteon_local/manifest.json
  homeassistant/components/insteon_plm/__init__.py
  homeassistant/components/insteon_plm/manifest.json
Labels: breaking change, cla-signed, in progress, integration: insteon_local, integration: insteon_plm, small-pr

#22713 Change URL handling for ingress
  homeassistant/components/hassio/ingress.py
  tests/components/hassio/test_ingress.py
Labels: cla-signed, core, has-tests, in progress, integration: hassio, small-pr

#22715 Allow users to set encoding of mikrotik connection
  homeassistant/components/mikrotik/device_tracker.py
Labels: cla-signed, in progress, integration: mikrotik, small-pr

#22721 Only post codecov comment if coverage changes
  .codecov.yml
Labels: cla-signed, in progress, small-pr

#22719 Add 10 additional language options to DarkSky
  homeassistant/components/darksky/sensor.py
Labels: cla-signed, in progress, integration: darksky, small-pr

#22724 Fix device class lookup for ZHA binary sensors
  homeassistant/components/zha/core/const.py
Labels: cla-signed, in progress, integration: zha, small-pr

#22728 Fix ingress routing with /
  homeassistant/components/hassio/ingress.py
  tests/components/hassio/test_ingress.py
Labels: cla-signed, core, has-tests, in progress, integration: hassio, small-pr

#22684 Add N26 component
  .coveragerc
  homeassistant/components/n26/__init__.py
  homeassistant/components/n26/const.py
  homeassistant/components/n26/manifest.json
  homeassistant/components/n26/sensor.py
  homeassistant/components/n26/switch.py
  requirements_all.txt
Labels: cla-signed, in progress, integration: n26, new-integration, new-platform

#22736 Bump aioambient to 0.2.0
  homeassistant/components/ambient_station/__init__.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, integration: ambient_station, small-pr

#22734 Fix incorrect "Unavailable" Ambient sensors
  homeassistant/components/ambient_station/__init__.py
Labels: cla-signed, in progress, integration: ambient_station, small-pr

#22737 Bump pywebpush to latest 1.9.2
  homeassistant/components/html5/notify.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: html5, small-pr

#22449 Support multiple deCONZ gateways
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/climate.py
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/cover.py
  homeassistant/components/deconz/deconz_device.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/scene.py
  homeassistant/components/deconz/sensor.py
  homeassistant/components/deconz/services.yaml
  homeassistant/components/deconz/switch.py
  tests/components/deconz/test_binary_sensor.py
  tests/components/deconz/test_climate.py
  tests/components/deconz/test_config_flow.py
  tests/components/deconz/test_cover.py
  tests/components/deconz/test_init.py
  tests/components/deconz/test_light.py
  tests/components/deconz/test_scene.py
  tests/components/deconz/test_sensor.py
  tests/components/deconz/test_switch.py
Labels: Ready for review, cla-signed, integration: deconz

#22291 Fix tado turn on off
  homeassistant/components/tado/__init__.py
  homeassistant/components/tado/climate.py
Labels: cla-signed, in progress, integration: tado, small-pr

#22738 Add device class signal strength to sensor
  homeassistant/components/sensor/__init__.py
  homeassistant/const.py
Labels: cla-signed, core, in progress, integration: sensor, small-pr

#22751 Update PR template requirements to point to the manifest
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed, in progress, small-pr

#22718 Generate requirements_* from manifests
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  script/manifest/requirements.py
Labels: cla-signed, in progress, small-pr

#22753 Add deprecation warning to embedded MQTT broker
  homeassistant/components/mqtt/__init__.py
Labels: cla-signed, core, in progress, integration: mqtt, small-pr

#22748 Fix flaky stream record test
  tests/components/stream/test_recorder.py
Labels: cla-signed, core, has-tests, in progress, small-pr

#22747 Fix stream for some cameras
  homeassistant/components/stream/worker.py
Labels: cla-signed, core, in progress, integration: stream, small-pr

#22744 Update Foscam stream for newer models
  homeassistant/components/foscam/camera.py
Labels: cla-signed, in progress, integration: foscam, small-pr

#22730 Fix chunk streaming
  homeassistant/components/hassio/http.py
  homeassistant/components/hassio/ingress.py
Labels: cla-signed, core, in progress, integration: hassio, small-pr

#22754 Fix async configuration flow in Daikin
  homeassistant/components/daikin/config_flow.py
  tests/components/daikin/test_config_flow.py
Labels: cla-signed, has-tests, in progress, integration: daikin, small-pr

#22757 Cleanup cookie handling
  homeassistant/components/hassio/ingress.py
Labels: cla-signed, core, in progress, integration: hassio, small-pr

#22756 Fix yeelight recorder warning
  homeassistant/components/yeelight/__init__.py
  homeassistant/components/yeelight/light.py
Labels: cla-signed, in progress, integration: yeelight

#22755 0.91.1
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/daikin/config_flow.py
  homeassistant/components/foscam/camera.py
  homeassistant/components/hassio/http.py
  homeassistant/components/hassio/ingress.py
  homeassistant/components/stream/worker.py
  homeassistant/components/yeelight/__init__.py
  homeassistant/components/yeelight/light.py
  homeassistant/components/zha/core/const.py
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/daikin/test_config_flow.py
  tests/components/hassio/test_ingress.py
Labels: cla-signed, core, has-tests, in progress, integration: ambient_station, integration: daikin, integration: foscam, integration: hassio, integration: stream, integration: zha, merging-to-master

#22627 Improve exception handling in ADS integration
  homeassistant/components/ads/__init__.py
Labels: cla-signed, in progress, integration: ads, small-pr

#22771 Correctly load Mopar's config
  homeassistant/components/mopar/__init__.py
Labels: cla-signed, in progress, integration: mopar, small-pr

#22158 Add google hangouts manual authentication option
  homeassistant/components/hangouts/.translations/en.json
  homeassistant/components/hangouts/__init__.py
  homeassistant/components/hangouts/config_flow.py
  homeassistant/components/hangouts/const.py
  homeassistant/components/hangouts/hangups_utils.py
  homeassistant/components/hangouts/strings.json
  tests/components/hangouts/test_config_flow.py
Labels: cla-signed, in progress, integration: hangouts

#22593 Axis - support stream
  homeassistant/components/axis/camera.py
Labels: cla-signed, in progress, integration: axis, small-pr

#22767 Update cryptography to 2.6.1 and PyJWT to 1.7.1
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: cla-signed, core, in progress, small-pr

#22774 deCONZ multiple gateways fixup
  homeassistant/components/deconz/__init__.py
  tests/components/deconz/test_init.py
Labels: cla-signed, has-tests, in progress, integration: deconz, small-pr

#22777 Fix konnected unique_id computation for switches
  homeassistant/components/konnected/switch.py
Labels: breaking change, cla-signed, in progress, integration: konnected, small-pr

#22776 ZHA Light debug logging.
  homeassistant/components/zha/light.py
Labels: cla-signed, in progress, integration: zha, small-pr

#22778 Make the custom polling for ZHA lights actually request state
  homeassistant/components/zha/light.py
Labels: cla-signed, in progress, integration: zha, small-pr

#22786 Add optional rtsp_port for Foscam
  homeassistant/components/foscam/camera.py
Labels: cla-signed, in progress, integration: foscam, small-pr

#22794 Update homeassistant-pyozw 0.1.4
  homeassistant/components/zwave/__init__.py
  homeassistant/components/zwave/manifest.json
  requirements_all.txt
Labels: cla-signed, in progress, integration: zwave, small-pr

#22196 Add OASA Telematics greek public transport sensor component
  .coveragerc
  homeassistant/components/oasa_telematics/__init__.py
  homeassistant/components/oasa_telematics/manifest.json
  homeassistant/components/oasa_telematics/sensor.py
  requirements_all.txt
Labels: cla-signed, in progress, integration: oasa_telematics, new-platform

#22552 Remove pycryptodome requirement for Android TV
  homeassistant/components/androidtv/manifest.json
  homeassistant/components/androidtv/media_player.py
  requirements_all.txt
Labels: cla-signed, in progress, integration: androidtv, small-pr

#22809 Update version of python_awair to 0.0.4
  homeassistant/components/awair/manifest.json
  homeassistant/components/awair/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, integration: awair, small-pr

#22791 Remove unused group status
  homeassistant/components/cast/media_player.py
Labels: cla-signed, in progress, integration: cast, small-pr

#22792 Raise severity of MQTT callback deprecation warning
  homeassistant/components/mqtt/__init__.py
Labels: cla-signed, core, in progress, integration: mqtt, small-pr

#22805 Bump raincloud dependency to fix broken integration: Fixes #22422
  CODEOWNERS
  homeassistant/components/raincloud/__init__.py
  homeassistant/components/raincloud/manifest.json
  requirements_all.txt
Labels: cla-signed, in progress, integration: raincloud, small-pr

#22802 Add HmIP-SMO to Homematic IP
  homeassistant/components/homematicip_cloud/binary_sensor.py
  homeassistant/components/homematicip_cloud/sensor.py
Labels: cla-signed, in progress, integration: homematicip_cloud, small-pr

#22813 Add a new mobile_app webhook command to get config
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/webhook.py
  tests/components/mobile_app/test_webhook.py
Labels: cla-signed, core, has-tests, in progress, integration: mobile_app, small-pr

#22817 Fix for optional values in the update_location webhook call
  homeassistant/components/mobile_app/webhook.py
Labels: cla-signed, core, in progress, integration: mobile_app, small-pr

#22835 Sort configuration schema of MQTT lock
  homeassistant/components/mqtt/lock.py
Labels: cla-signed, core, in progress, integration: mqtt, small-pr

#22831 Use dict[key] for required config keys and keys with default values MQTT climate
  homeassistant/components/mqtt/climate.py
Labels: cla-signed, core, in progress, integration: mqtt

#22839 Use relative imports in yeelight
  homeassistant/components/yeelight/binary_sensor.py
  homeassistant/components/yeelight/light.py
Labels: cla-signed, integration: yeelight, small-pr

#22804 Improve yeelight imports
  homeassistant/components/yeelight/__init__.py
  homeassistant/components/yeelight/light.py
Labels: cla-signed, in progress, integration: yeelight, small-pr

#22806 Improve yeelight signal handling
  homeassistant/components/yeelight/__init__.py
  homeassistant/components/yeelight/binary_sensor.py
  homeassistant/components/yeelight/light.py
Labels: cla-signed, in progress, integration: yeelight, small-pr

#22828 Use dict[key] for required config keys and keys with default values MQTT alarm
  homeassistant/components/mqtt/alarm_control_panel.py
Labels: cla-signed, core, in progress, integration: mqtt, small-pr

#22833 Use dict[key] for required config keys and keys with default values MQTT fan
  homeassistant/components/mqtt/fan.py
Labels: cla-signed, core, in progress, integration: mqtt

#22836 Use dict[key] for required config keys and keys with default values of MQTT sensor
  homeassistant/components/mqtt/sensor.py
Labels: cla-signed, core, in progress, integration: mqtt, small-pr

#22837 Use dict[key] for required config keys and keys with default values of MQTT switch
  homeassistant/components/mqtt/switch.py
Labels: cla-signed, core, in progress, integration: mqtt, small-pr

#22838 Use dict[key] for required config keys and keys with default values of MQTT vacuum
  homeassistant/components/mqtt/vacuum.py
Labels: cla-signed, core, in progress, integration: mqtt

#22829 Use dict[key] for required config keys and keys with default values MQTT binary sensor
  homeassistant/components/mqtt/binary_sensor.py
Labels: cla-signed, core, in progress, integration: mqtt, small-pr

#22830 Use dict[key] for required config keys and keys with default values MQTT camera
  homeassistant/components/mqtt/camera.py
Labels: cla-signed, core, in progress, integration: mqtt, small-pr

#22823 Fix for rate limits should be optional
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/notify.py
Labels: cla-signed, core, in progress, integration: mobile_app, small-pr

#22846 Fix glances docker container errors
  homeassistant/components/glances/sensor.py
Labels: cla-signed, in progress, integration: glances, small-pr

#22819 Coerce Record Service to int
  homeassistant/components/camera/__init__.py
Labels: cla-signed, core, in progress, integration: camera, small-pr

#22850 Fix flaky test
  tests/components/stream/test_hls.py
Labels: cla-signed, core, has-tests, in progress, small-pr

#22849 Fix yeelight possible array change during iteration
  homeassistant/components/yeelight/__init__.py
Labels: cla-signed, in progress, integration: yeelight, small-pr

#22855 Bump aioambient to 0.3.0
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/ambient_station/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, integration: ambient_station, small-pr

#22847 Make ZHA light get color and temp on init and polls
  homeassistant/components/zha/core/channels/lighting.py
  homeassistant/components/zha/light.py
Labels: cla-signed, in progress, integration: zha, small-pr

#22871 Adjust manifest codeowners script
  CODEOWNERS
  homeassistant/components/cover/manifest.json
  homeassistant/components/demo/manifest.json
  script/manifest/codeowners.py
Labels: cla-signed, core, in progress, integration: cover, integration: demo, small-pr

#22875 Added REQUIREMENTS back to Ambient
  homeassistant/components/ambient_station/__init__.py
Labels: cla-signed, in progress, integration: ambient_station, small-pr

#22864 Fix content_type handling ingress
  homeassistant/components/hassio/ingress.py
Labels: cla-signed, core, in progress, integration: hassio, small-pr

#22884 Minor sensor fixes
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/sensor.py
  homeassistant/components/mobile_app/webhook.py
  tests/components/mobile_app/test_entity.py
Labels: cla-signed, core, in progress, integration: mobile_app, small-pr

#22883 0.91.2
  homeassistant/components/camera/__init__.py
  homeassistant/components/foscam/camera.py
  homeassistant/components/hassio/ingress.py
  homeassistant/components/konnected/switch.py
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/helpers.py
  homeassistant/components/mobile_app/notify.py
  homeassistant/components/mobile_app/sensor.py
  homeassistant/components/mobile_app/webhook.py
  homeassistant/components/mopar/__init__.py
  homeassistant/components/tado/__init__.py
  homeassistant/components/tado/climate.py
  homeassistant/components/yeelight/__init__.py
  homeassistant/components/yeelight/binary_sensor.py
  homeassistant/components/yeelight/light.py
  homeassistant/components/zha/light.py
  homeassistant/components/zone/config_flow.py
  homeassistant/const.py
  tests/components/mobile_app/test_entity.py
  tests/components/mobile_app/test_webhook.py
Labels: cla-signed, in progress

#22885 Adding myself as owner to authored integrations
  CODEOWNERS
  homeassistant/components/cisco_ios/manifest.json
  homeassistant/components/cisco_mobility_express/manifest.json
  homeassistant/components/cisco_webex_teams/manifest.json
  homeassistant/components/ciscospark/manifest.json
  homeassistant/components/enigma2/manifest.json
  homeassistant/components/hikvisioncam/manifest.json
  homeassistant/components/luci/manifest.json
Labels: cla-signed, in progress, integration: cisco_ios, integration: cisco_mobility_express, integration: cisco_webex_teams, integration: ciscospark, integration: enigma2, integration: hikvisioncam, integration: luci, small-pr

#22886 Bump pypi module version for enigma2
  homeassistant/components/enigma2/manifest.json
  homeassistant/components/enigma2/media_player.py
  requirements_all.txt
Labels: cla-signed, in progress

#22866 Fix position of add_entities of binary sensor
  homeassistant/components/concord232/binary_sensor.py
Labels: cla-signed, in progress, integration: concord232, small-pr

#22785 Add zwave network key validator
  homeassistant/components/zwave/__init__.py
  tests/components/zwave/test_init.py
Labels: cla-signed, core, in progress, integration: zwave

#22867 force_update=False (not None)
  homeassistant/components/rflink/binary_sensor.py
Labels: cla-signed, in progress, integration: rflink, small-pr

#22876 Stream support for Doorbird component
  homeassistant/components/doorbird/__init__.py
  homeassistant/components/doorbird/camera.py
  homeassistant/components/doorbird/manifest.json
  requirements_all.txt
Labels: cla-signed, in progress, integration: doorbird, small-pr

#22860 Add MQTT climate two-point target temperature support
  homeassistant/components/mqtt/climate.py
  tests/components/mqtt/test_climate.py
Labels: cla-signed, core, has-tests, in progress, integration: mqtt

#22826 Update harmony manifest to match REQUIREMENTS in module
  homeassistant/components/harmony/manifest.json
  requirements_all.txt
Labels: cla-signed, in progress, integration: harmony, small-pr

#22858 Add ESPHome Cover position/tilt support
  homeassistant/components/esphome/__init__.py
  homeassistant/components/esphome/cover.py
  homeassistant/components/esphome/fan.py
  homeassistant/components/esphome/manifest.json
  homeassistant/components/esphome/switch.py
  requirements_all.txt
Labels: cla-signed, in progress, integration: esphome

#22832 Use dict[key] for required config keys and keys with default values MQTT cover
  homeassistant/components/mqtt/cover.py
Labels: cla-signed, core, in progress, integration: mqtt

#22880 Fix aiohttp ServerDisconnectedError in Daikin
  homeassistant/components/daikin/__init__.py
  homeassistant/components/daikin/config_flow.py
  homeassistant/components/daikin/manifest.json
  requirements_all.txt
Labels: cla-signed, in progress, integration: daikin, small-pr

#22906 Fix Sonos handling of unsupported favorites
  homeassistant/components/sonos/__init__.py
  homeassistant/components/sonos/manifest.json
  homeassistant/components/sonos/media_player.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, in progress, integration: sonos, small-pr

#22903 Fix HEOS discovery could result in multiple config entries
  homeassistant/components/heos/__init__.py
  homeassistant/components/heos/config_flow.py
  homeassistant/components/heos/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/heos/conftest.py
  tests/components/heos/test_config_flow.py
Labels: cla-signed, has-tests, in progress, integration: heos, small-pr

#20256 Initial Fibaro HC Climate support
  homeassistant/components/fibaro/__init__.py
  homeassistant/components/fibaro/climate.py
Labels: cla-signed, in progress, integration: fibaro, new-platform

#22911 Test fixes
  homeassistant/components/ffmpeg_motion/manifest.json
  homeassistant/components/ffmpeg_noise/manifest.json
  homeassistant/components/html5/manifest.json
  homeassistant/components/meraki/manifest.json
  homeassistant/components/microsoft_face_detect/manifest.json
  homeassistant/components/microsoft_face_identify/manifest.json
  homeassistant/components/push/manifest.json
  tests/common.py
  tests/components/demo/test_geo_location.py
  tests/components/demo/test_notify.py
  tests/components/ffmpeg/test_sensor.py
  tests/components/geofency/test_init.py
  tests/components/gpslogger/test_init.py
  tests/components/html5/test_notify.py
  tests/components/light/test_init.py
  tests/components/locative/test_init.py
  tests/components/mqtt/test_config_flow.py
  tests/components/mqtt/test_init.py
  tests/components/mqtt/test_server.py
  tests/components/tradfri/test_init.py
Labels: cla-signed, in progress

#22912 Stream Timestamp Fixes
  homeassistant/components/stream/hls.py
  homeassistant/components/stream/worker.py
Labels: cla-signed, core, in progress, integration: stream, small-pr
