Repository home-assistant/core, pull requests merged in 2019-12, with the labels that each got.

#29262 Move imports to top for simplisafe
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/config_flow.py
Labels: cla-signed, integration: simplisafe, small-pr

#29273 Move imports to top for route53
  homeassistant/components/route53/__init__.py
Labels: cla-signed, integration: route53, small-pr

#29272 Move imports to top for roomba
  homeassistant/components/roomba/vacuum.py
Labels: cla-signed, integration: roomba, small-pr

#29271 Move imports to top for rpi_rf
  homeassistant/components/rpi_rf/switch.py
Labels: cla-signed, integration: rpi_rf, small-pr

#29269 Move imports to top for rova
  homeassistant/components/rova/sensor.py
Labels: cla-signed, integration: rova, small-pr

#29268 Move imports to top for russound_rnet
  homeassistant/components/russound_rnet/media_player.py
Labels: cla-signed, integration: russound_rnet, small-pr

#29267 Move imports to top for russound_rio
  homeassistant/components/russound_rio/media_player.py
Labels: cla-signed, integration: russound_rio, small-pr

#29270 Move imports to top for rpi_gpio_pwm
  homeassistant/components/rpi_gpio_pwm/light.py
Labels: cla-signed, integration: rpi_gpio_pwm, small-pr

#29266 Move imports to top for sabnzbd
  homeassistant/components/sabnzbd/__init__.py
Labels: cla-signed, integration: sabnzbd, small-pr

#29263 Move imports to top for satel_integra
  homeassistant/components/satel_integra/__init__.py
  homeassistant/components/satel_integra/alarm_control_panel.py
  homeassistant/components/satel_integra/binary_sensor.py
  homeassistant/components/satel_integra/switch.py
Labels: cla-signed, integration: satel_integra, small-pr

#29261 Move imports to top for simplepush
  homeassistant/components/simplepush/notify.py
Labels: cla-signed, integration: simplepush, small-pr

#29260 Move imports to top for sht31
  homeassistant/components/sht31/sensor.py
Labels: cla-signed, integration: sht31, small-pr

#29259 Move imports to top for sensehat
  homeassistant/components/sensehat/light.py
  homeassistant/components/sensehat/sensor.py
Labels: cla-signed, integration: sensehat, small-pr

#29247 Move imports to top for tradfri
  homeassistant/components/tradfri/__init__.py
  homeassistant/components/tradfri/base_class.py
  homeassistant/components/tradfri/config_flow.py
  homeassistant/components/tradfri/const.py
  homeassistant/components/tradfri/cover.py
  homeassistant/components/tradfri/light.py
  homeassistant/components/tradfri/sensor.py
  homeassistant/components/tradfri/switch.py
Labels: cla-signed, integration: tradfri

#29249 Move imports to top for spider
  homeassistant/components/spider/__init__.py
Labels: cla-signed, integration: spider, small-pr

#29250 Move imports to top for sochain
  homeassistant/components/sochain/sensor.py
Labels: cla-signed, integration: sochain, small-pr

#29251 Move imports to top for smarty
  homeassistant/components/smarty/__init__.py
  homeassistant/components/smarty/binary_sensor.py
  homeassistant/components/smarty/fan.py
  homeassistant/components/smarty/sensor.py
Labels: cla-signed, integration: smarty, small-pr

#29252 Move imports to top for sisyphus
  homeassistant/components/sisyphus/__init__.py
  homeassistant/components/sisyphus/media_player.py
Labels: cla-signed, integration: sisyphus, small-pr

#29257 Move imports to top for scsgate
  homeassistant/components/scsgate/__init__.py
  homeassistant/components/scsgate/cover.py
  homeassistant/components/scsgate/light.py
  homeassistant/components/scsgate/switch.py
Labels: cla-signed, integration: scsgate, small-pr

#29156 Neato reduce API calls
  homeassistant/components/neato/__init__.py
  homeassistant/components/neato/sensor.py
  homeassistant/components/neato/switch.py
  homeassistant/components/neato/vacuum.py
Labels: by-code-owner, cla-signed, integration: neato, small-pr

#29237 Fix Espalexa being detected as Hue Bridge
  homeassistant/components/hue/config_flow.py
  tests/components/hue/test_config_flow.py
Labels: cla-signed, has-tests, integration: hue, small-pr

#29068 Add device trigger for alarm_control_panel
  homeassistant/components/alarm_control_panel/device_trigger.py
  homeassistant/components/alarm_control_panel/strings.json
  tests/components/alarm_control_panel/test_device_trigger.py
Labels: cla-signed, core, has-tests, integration: alarm_control_panel

#29213 Fix Hue linking with non ASCII chars in location
  homeassistant/components/hue/bridge.py
Labels: cla-signed, integration: hue, small-pr

#29258 Move imports to top for sense
  homeassistant/components/sense/__init__.py
  homeassistant/components/sense/binary_sensor.py
  homeassistant/components/sense/sensor.py
Labels: cla-signed, integration: sense, small-pr

#29241 Stop Plex config flow imports where more user input needed
  homeassistant/components/plex/config_flow.py
  homeassistant/components/plex/strings.json
  tests/components/plex/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: plex, small-pr

#28226 Add Huawei LTE binary sensor support, mobile connection sensor
  homeassistant/components/huawei_lte/__init__.py
  homeassistant/components/huawei_lte/binary_sensor.py
  homeassistant/components/huawei_lte/const.py
Labels: Hacktoberfest, by-code-owner, cla-signed, integration: huawei_lte, new-platform, second-opinion-wanted

#29289 Move imports to top for roku
  homeassistant/components/roku/__init__.py
  homeassistant/components/roku/media_player.py
  homeassistant/components/roku/remote.py
Labels: cla-signed, integration: roku, small-pr

#29283 Move imports to top for raincloud
  homeassistant/components/raincloud/__init__.py
Labels: cla-signed, integration: raincloud, small-pr

#29288 Move imports to top for rocketchat
  homeassistant/components/rocketchat/notify.py
Labels: cla-signed, integration: rocketchat, small-pr

#29290 Upgrade Tibber library
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: tibber, small-pr

#29287 Move imports to top for ripple
  homeassistant/components/ripple/sensor.py
Labels: cla-signed, integration: ripple, small-pr

#29286 Move imports to top for remote_rpi_gpio
  homeassistant/components/remote_rpi_gpio/__init__.py
  homeassistant/components/remote_rpi_gpio/binary_sensor.py
  homeassistant/components/remote_rpi_gpio/switch.py
Labels: cla-signed, integration: remote_rpi_gpio, small-pr

#29285 Move imports to top for recswitch
  homeassistant/components/recswitch/switch.py
Labels: cla-signed, integration: recswitch, small-pr

#29284 Move imports to top for raspyrfm
  homeassistant/components/raspyrfm/switch.py
Labels: cla-signed, integration: raspyrfm, small-pr

#27960 Add ATEN PE component for ATEN eco PDUs
  .coveragerc
  CODEOWNERS
  homeassistant/components/aten_pe/__init__.py
  homeassistant/components/aten_pe/manifest.json
  homeassistant/components/aten_pe/switch.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, integration: aten_pe, new-integration

#29294 Upgrade mypy to 0.750
  requirements_test.txt
Labels: cla-signed, dependency-bump, small-pr

#29264 Move imports to top for seventeentrack
  homeassistant/components/seventeentrack/sensor.py
  tests/components/seventeentrack/test_sensor.py
Labels: cla-signed, integration: seventeentrack, small-pr

#29281 Improve naming and attrs of hostnameless Huawei LTE device tracker entities
  homeassistant/components/huawei_lte/device_tracker.py
Labels: by-code-owner, cla-signed, integration: huawei_lte, small-pr

#29189 Limit parallel requests to Philips Hue
  homeassistant/components/hue/bridge.py
  homeassistant/components/hue/light.py
  homeassistant/components/hue/sensor_base.py
  tests/components/hue/test_light.py
  tests/components/hue/test_sensor_base.py
Labels: cla-signed, integration: hue, small-pr

#29280 Move intent registration to own integration
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/cover/__init__.py
  homeassistant/components/cover/intent.py
  homeassistant/components/intent/__init__.py
  homeassistant/components/light/__init__.py
  homeassistant/components/light/intent.py
  homeassistant/components/shopping_list/__init__.py
  homeassistant/components/shopping_list/intent.py
  tests/components/conversation/test_init.py
  tests/components/cover/test_intent.py
  tests/components/intent/test_init.py
  tests/components/light/test_init.py
  tests/components/light/test_intent.py
  tests/components/shopping_list/conftest.py
  tests/components/shopping_list/test_init.py
  tests/components/shopping_list/test_intent.py
Labels: breaking change, cla-signed, core, has-tests, integration: conversation, integration: cover, integration: intent, integration: light, integration: shopping_list

#28317 Overhaul Emulated Hue
  homeassistant/components/emulated_hue/hue_api.py
  tests/components/emulated_hue/test_hue_api.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: emulated_hue

#29302 Add name option to season sensor
  homeassistant/components/season/sensor.py
Labels: cla-signed, integration: season, small-pr

#29306 Add capability-attributes
  homeassistant/components/light/__init__.py
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
Labels: cla-signed, core, integration: light

#29276 Clear miflora sensor state on exception
  homeassistant/components/miflora/sensor.py
Labels: breaking change, cla-signed, integration: miflora, small-pr

#29177 Inline MQTT paho imports
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/config_flow.py
  homeassistant/components/mqtt/server.py
  tests/components/mqtt/test_server.py
Labels: cla-signed, core, integration: mqtt, small-pr

#29134 Update service domains for xiaomi_miio from base domains to xiaomi_miio domain
  homeassistant/components/fan/services.yaml
  homeassistant/components/light/services.yaml
  homeassistant/components/remote/services.yaml
  homeassistant/components/switch/services.yaml
  homeassistant/components/vacuum/services.yaml
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/light.py
  homeassistant/components/xiaomi_miio/remote.py
  homeassistant/components/xiaomi_miio/services.yaml
  homeassistant/components/xiaomi_miio/switch.py
  homeassistant/components/xiaomi_miio/vacuum.py
  tests/components/xiaomi_miio/test_vacuum.py
Labels: breaking change, cla-signed, core, has-tests, integration: xiaomi_miio

#29319 Add Emulated Hue code owner
  CODEOWNERS
  homeassistant/components/emulated_hue/manifest.json
Labels: cla-signed, integration: emulated_hue, small-pr

#26528 Broadlink remote
  .coveragerc
  CODEOWNERS
  homeassistant/components/broadlink/__init__.py
  homeassistant/components/broadlink/manifest.json
  homeassistant/components/broadlink/remote.py
Labels: cla-signed, integration: broadlink, new-platform

#29331 Move imports to top for python_script
  homeassistant/components/python_script/__init__.py
Labels: cla-signed, integration: python_script, small-pr

#29330 Move imports to top for postnl
  homeassistant/components/postnl/sensor.py
Labels: cla-signed, integration: postnl, small-pr

#29329 Move imports to top for prezzibenzina
  homeassistant/components/prezzibenzina/sensor.py
Labels: cla-signed, integration: prezzibenzina, small-pr

#29327 Move imports to top for quantum_gateway
  homeassistant/components/quantum_gateway/device_tracker.py
Labels: cla-signed, integration: quantum_gateway, small-pr

#29326 Move imports to top for qnap
  homeassistant/components/qnap/sensor.py
Labels: cla-signed, integration: qnap, small-pr

#29325 Move imports to top for qbittorrent
  homeassistant/components/qbittorrent/sensor.py
Labels: cla-signed, integration: qbittorrent, small-pr

#29324 Move imports to top for plum_lightpad
  homeassistant/components/plum_lightpad/__init__.py
Labels: cla-signed, integration: plum_lightpad, small-pr

#29323 Move imports to top for rachio
  homeassistant/components/rachio/__init__.py
Labels: cla-signed, integration: rachio, small-pr

#29120 Improve Alexa interface selection for binary sensors
  homeassistant/components/alexa/entities.py
  tests/components/alexa/__init__.py
  tests/components/alexa/test_smart_home.py
Labels: cla-signed, core, integration: alexa, small-pr

#29279 Add alexa check for "name" channelMetadata attribute
  homeassistant/components/alexa/handlers.py
  tests/components/alexa/test_smart_home.py
Labels: cla-signed, core, integration: alexa, small-pr

#29328 Move imports to top for qwikswitch
  homeassistant/components/qwikswitch/__init__.py
  homeassistant/components/qwikswitch/binary_sensor.py
  homeassistant/components/qwikswitch/sensor.py
Labels: cla-signed, integration: qwikswitch, small-pr

#29322 Move imports to top for radarr
  homeassistant/components/radarr/sensor.py
Labels: cla-signed, integration: radarr, small-pr

#29312 Improve WLED white value support for RGBW strips
  homeassistant/components/wled/light.py
  tests/components/wled/test_light.py
Labels: by-code-owner, cla-signed, has-tests, integration: wled

#29309 delete incorrect "mdi:brightness-3"
  homeassistant/components/moon/sensor.py
Labels: cla-signed, integration: moon, small-pr

#29178 Do not select all entities when omitting entity ID in service call
  homeassistant/components/alarm_control_panel/__init__.py
  homeassistant/components/automation/__init__.py
  homeassistant/components/climate/__init__.py
  homeassistant/components/counter/__init__.py
  homeassistant/components/cover/__init__.py
  homeassistant/components/fan/__init__.py
  homeassistant/components/group/__init__.py
  homeassistant/components/image_processing/__init__.py
  homeassistant/components/input_boolean/__init__.py
  homeassistant/components/input_datetime/__init__.py
  homeassistant/components/input_number/__init__.py
  homeassistant/components/input_select/__init__.py
  homeassistant/components/input_text/__init__.py
  homeassistant/components/lifx/light.py
  homeassistant/components/light/__init__.py
  homeassistant/components/lock/__init__.py
  homeassistant/components/media_extractor/__init__.py
  homeassistant/components/media_player/__init__.py
  homeassistant/components/remote/__init__.py
  homeassistant/components/script/__init__.py
  homeassistant/components/timer/__init__.py
  homeassistant/components/utility_meter/__init__.py
  homeassistant/components/vacuum/__init__.py
  homeassistant/components/wink/__init__.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/entity_component.py
  homeassistant/helpers/service.py
  tests/components/alarm_control_panel/common.py
  tests/components/automation/common.py
  tests/components/camera/common.py
  tests/components/climate/common.py
  tests/components/demo/test_light.py
  tests/components/fan/common.py
  tests/components/image_processing/common.py
  tests/components/light/common.py
  tests/components/lock/common.py
  tests/components/media_player/common.py
  tests/components/mqtt/test_state_vacuum.py
  tests/components/remote/common.py
  tests/components/scene/common.py
  tests/components/smartthings/test_climate.py
  tests/components/smartthings/test_cover.py
  tests/components/switch/common.py
  tests/components/vacuum/common.py
  tests/components/water_heater/common.py
  tests/helpers/test_entity_component.py
  tests/helpers/test_service.py
Labels: breaking change, cla-signed, core, has-tests, small-pr

#29006 Update heatmiserv3 integration
  CODEOWNERS
  homeassistant/components/heatmiser/climate.py
  homeassistant/components/heatmiser/manifest.json
  requirements_all.txt
Labels: breaking change, cla-signed, has-tests, integration: heatmiser, small-pr

#29158 Google assistant storage of connected agents
  homeassistant/components/cloud/client.py
  homeassistant/components/cloud/google_config.py
  homeassistant/components/cloud/http_api.py
  homeassistant/components/google_assistant/__init__.py
  homeassistant/components/google_assistant/const.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/report_state.py
  homeassistant/components/google_assistant/smart_home.py
  tests/components/cloud/test_client.py
  tests/components/cloud/test_google_config.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_helpers.py
  tests/components/google_assistant/test_http.py
  tests/components/google_assistant/test_report_state.py
  tests/components/google_assistant/test_smart_home.py
Labels: cla-signed, core, has-tests, integration: cloud, integration: google_assistant

#28501 Report unavailable entities to google
  homeassistant/components/google_assistant/helpers.py
  tests/components/google_assistant/test_smart_home.py
Labels: cla-signed, core, integration: google_assistant, small-pr

#29335 Add initial test suite for arcam_fmj integration
  tests/components/arcam_fmj/conftest.py
  tests/components/arcam_fmj/test_config_flow.py
  tests/components/arcam_fmj/test_media_player.py
Labels: cla-signed, has-tests, small-pr

#29341 Fix uvloop warning
  homeassistant/components/stream/__init__.py
Labels: cla-signed, core, integration: stream, small-pr

#29332 Move imports to top for pushetta
  homeassistant/components/pushetta/notify.py
Labels: cla-signed, integration: pushetta, small-pr

#29348 Move imports to top for pencom
  homeassistant/components/pencom/switch.py
Labels: cla-signed, integration: pencom, small-pr

#29315 Include telegram_bot message id for all messages
  homeassistant/components/telegram_bot/__init__.py
Labels: cla-signed, integration: telegram_bot, small-pr

#29346 Ignore state of climate entities in prometheus
  homeassistant/components/prometheus/__init__.py
Labels: cla-signed, integration: prometheus, small-pr

#29352 Move imports to top for owlet
  homeassistant/components/owlet/__init__.py
Labels: cla-signed, integration: owlet, small-pr

#29353 Rendering complex template objects to leave non-template values alone
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/template.py
  tests/helpers/test_config_validation.py
  tests/helpers/test_template.py
Labels: cla-signed, core, small-pr

#29372 Move imports to top for opple
  homeassistant/components/opple/light.py
Labels: cla-signed, integration: opple, small-pr

#29371 Move imports to top for orvibo
  homeassistant/components/orvibo/switch.py
Labels: cla-signed, integration: orvibo, small-pr

#29368 Move imports to top for nut
  homeassistant/components/nut/sensor.py
Labels: cla-signed, integration: nut, small-pr

#29355 Move imports to top for mycroft
  homeassistant/components/mycroft/notify.py
Labels: cla-signed, integration: mycroft, small-pr

#29375 Upgrade enturclient to 0.2.1
  homeassistant/components/entur_public_transport/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: entur_public_transport, small-pr

#29373 Remove cloud dependency from mobile_app
  homeassistant/components/mobile_app/http_api.py
  homeassistant/components/mobile_app/manifest.json
  homeassistant/components/mobile_app/webhook.py
  homeassistant/components/mobile_app/websocket_api.py
Labels: cla-signed, core, integration: mobile_app, small-pr

#29370 Move imports to top for opensensemap
  homeassistant/components/opensensemap/air_quality.py
Labels: cla-signed, integration: opensensemap, small-pr

#29356 Move imports to top for mystrom
  homeassistant/components/mystrom/light.py
  homeassistant/components/mystrom/switch.py
Labels: cla-signed, integration: mystrom, small-pr

#29361 Move imports to top for nello
  homeassistant/components/nello/lock.py
Labels: cla-signed, integration: nello, integration: nello, small-pr

#29360 Move imports to top for nederlandse_spoorwegen
  homeassistant/components/nederlandse_spoorwegen/sensor.py
Labels: cla-signed, integration: nederlandse_spoorwegen, small-pr

#29359 Move imports to top for nanoleaf
  homeassistant/components/nanoleaf/light.py
Labels: cla-signed, integration: nanoleaf, small-pr

#29358 Move imports to top for nad
  homeassistant/components/nad/media_player.py
Labels: cla-signed, integration: nad, small-pr

#29357 Move imports to top for n26
  homeassistant/components/n26/__init__.py
Labels: cla-signed, integration: n26, small-pr

#29362 Move imports to top for netdata
  homeassistant/components/netdata/sensor.py
Labels: cla-signed, integration: netdata, small-pr

#29363 Move imports to top for netio
  homeassistant/components/netio/switch.py
Labels: cla-signed, integration: netio, small-pr

#29364 Move imports to top for nmap_tracker
  homeassistant/components/nmap_tracker/device_tracker.py
Labels: cla-signed, integration: nmap_tracker, small-pr

#29365 Move imports to top for nmbs
  homeassistant/components/nmbs/sensor.py
Labels: cla-signed, integration: nmbs, small-pr

#29366 Move imports to top for noaa_tides
  homeassistant/components/noaa_tides/sensor.py
Labels: cla-signed, integration: noaa_tides, small-pr

#29367 Move imports to top for nuimo_controller
  homeassistant/components/nuimo_controller/__init__.py
Labels: cla-signed, integration: nuimo_controller, small-pr

#29369 Move imports to top for openhome
  homeassistant/components/openhome/media_player.py
Labels: cla-signed, integration: openhome, small-pr

#29381 Allow negative altitude in location updates
  homeassistant/components/mobile_app/const.py
  tests/components/mobile_app/conftest.py
  tests/components/mobile_app/test_webhook.py
Labels: cla-signed, core, has-tests, integration: mobile_app, small-pr

#29406 Move imports to top for lametric
  homeassistant/components/lametric/__init__.py
  homeassistant/components/lametric/notify.py
Labels: cla-signed, integration: lametric, small-pr

#29405 Move imports to top for lacrosse
  homeassistant/components/lacrosse/sensor.py
Labels: cla-signed, integration: lacrosse, small-pr

#29404 Move imports to top for kwb
  homeassistant/components/kwb/sensor.py
Labels: cla-signed, integration: kwb, small-pr

#29403 Move imports to top for kiwi
  homeassistant/components/kiwi/lock.py
Labels: cla-signed, integration: kiwi, small-pr

#29399 Move imports to top for iota
  homeassistant/components/iota/__init__.py
Labels: cla-signed, integration: iota, small-pr

#29383 Move imports to top for lauch_library
  homeassistant/components/launch_library/sensor.py
Labels: cla-signed, integration: launch_library, small-pr

#29384 Move imports to top for lg_netcast
  homeassistant/components/lg_netcast/media_player.py
Labels: cla-signed, integration: lg_netcast, small-pr

#29385 Move imports to top for lightwave
  homeassistant/components/lightwave/__init__.py
Labels: cla-signed, integration: lightwave, small-pr

#29386 Move imports to top for limitlessled
  homeassistant/components/limitlessled/light.py
Labels: cla-signed, integration: limitlessled, small-pr

#29387 Move imports to top for london_underground
  homeassistant/components/london_underground/sensor.py
Labels: cla-signed, integration: london_underground, small-pr

#29388 Move imports to top for luci
  homeassistant/components/luci/device_tracker.py
Labels: cla-signed, integration: luci, small-pr

#29389 Move imports to top for lutron
  homeassistant/components/lutron/__init__.py
  homeassistant/components/lutron/binary_sensor.py
Labels: cla-signed, integration: lutron, small-pr

#29390 Move imports to top for lutron_caseta
  homeassistant/components/lutron_caseta/__init__.py
  homeassistant/components/lutron_caseta/fan.py
Labels: cla-signed, integration: lutron_caseta, small-pr

#29391 Move imports to top for lyft
  homeassistant/components/lyft/sensor.py
Labels: cla-signed, integration: lyft, small-pr

#29392 Move imports to top for matrix
  homeassistant/components/matrix/__init__.py
  homeassistant/components/matrix/notify.py
Labels: cla-signed, integration: matrix, small-pr

#29393 Move imports to top for maxcube
  homeassistant/components/maxcube/__init__.py
  homeassistant/components/maxcube/climate.py
Labels: cla-signed, integration: maxcube, small-pr

#29394 Move imports to top for meteo_france
  homeassistant/components/meteo_france/__init__.py
  homeassistant/components/meteo_france/sensor.py
  homeassistant/components/meteo_france/weather.py
  homeassistant/components/meteoalarm/binary_sensor.py
Labels: cla-signed, integration: meteo_france, integration: meteoalarm, small-pr

#29395 Move imports to top for microsoft
  homeassistant/components/microsoft/tts.py
Labels: cla-signed, integration: microsoft, small-pr

#29396 Move imports to top for modem_callerid
  homeassistant/components/modem_callerid/sensor.py
Labels: cla-signed, integration: modem_callerid, small-pr

#29400 Move imports to top for keenetic_ndms2
  homeassistant/components/keenetic_ndms2/device_tracker.py
Labels: cla-signed, integration: keenetic_ndms2, small-pr

#29401 Move imports to top for irish_rail_transport
  homeassistant/components/irish_rail_transport/sensor.py
Labels: cla-signed, integration: irish_rail_transport, small-pr

#29402 Move imports to top for joaoapps_join
  homeassistant/components/joaoapps_join/__init__.py
  homeassistant/components/joaoapps_join/notify.py
Labels: cla-signed, integration: joaoapps_join, small-pr

#29407 Upgrade psutil to 5.6.7
  homeassistant/components/systemmonitor/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: systemmonitor, small-pr

#29424 Move imports to top for iglo
  homeassistant/components/iglo/light.py
Labels: cla-signed, integration: iglo, small-pr

#29423 Move imports to top for idteck_prox
  homeassistant/components/idteck_prox/__init__.py
Labels: cla-signed, integration: idteck_prox, small-pr

#29411 Move imports to top for gogogate2
  homeassistant/components/gogogate2/cover.py
Labels: cla-signed, integration: gogogate2, small-pr

#29421 Move imports to top for hydrawise
  homeassistant/components/hydrawise/__init__.py
Labels: cla-signed, integration: hydrawise, small-pr

#29425 Move imports to top for ihc
  homeassistant/components/ihc/__init__.py
Labels: cla-signed, integration: ihc, small-pr

#29422 Move imports to top for ialarm
  homeassistant/components/ialarm/alarm_control_panel.py
Labels: cla-signed, integration: ialarm, small-pr

#29412 Move imports to top for gitter
  homeassistant/components/gitter/sensor.py
Labels: cla-signed, integration: gitter, small-pr

#29418 Move imports to top for homeworks
  homeassistant/components/homeworks/__init__.py
  homeassistant/components/homeworks/light.py
Labels: cla-signed, integration: homeworks, small-pr

#29413 Move imports to top for gpmdp
  homeassistant/components/gpmdp/media_player.py
Labels: cla-signed, integration: gpmdp, small-pr

#29414 Move imports to top for greeneye_monitor
  homeassistant/components/greeneye_monitor/__init__.py
Labels: cla-signed, integration: greeneye_monitor, small-pr

#29415 Move imports to top for gstreamer
  homeassistant/components/gstreamer/media_player.py
Labels: cla-signed, integration: gstreamer, small-pr

#29416 Move imports to top for habitica
  homeassistant/components/habitica/__init__.py
Labels: cla-signed, integration: habitica, small-pr

#29417 Move imports to top for hikvision
  homeassistant/components/hikvision/binary_sensor.py
Labels: cla-signed, integration: hikvision, small-pr

#29419 Move imports to top for horizon
  homeassistant/components/horizon/media_player.py
Labels: cla-signed, integration: horizon, small-pr

#29420 Move imports to top for hunterdouglas_powerview
  homeassistant/components/hunterdouglas_powerview/scene.py
Labels: cla-signed, integration: hunterdouglas_powerview, small-pr

#29432 Move imports to top for gearbest
  homeassistant/components/gearbest/sensor.py
Labels: cla-signed, integration: gearbest, small-pr

#29431 Move imports to top for fleetgo
  homeassistant/components/fleetgo/device_tracker.py
Labels: cla-signed, integration: fleetgo, small-pr

#29429 Move imports to top for fints
  homeassistant/components/fints/sensor.py
Labels: cla-signed, integration: fints, small-pr

#29428 Move imports to top for fastdotcom
  homeassistant/components/fastdotcom/__init__.py
Labels: cla-signed, integration: fastdotcom, small-pr

#29427 Move imports to top for familyhub
  homeassistant/components/familyhub/camera.py
Labels: cla-signed, integration: familyhub, small-pr

#29426 Move imports to top for etherscan
  homeassistant/components/etherscan/sensor.py
Labels: cla-signed, integration: etherscan, small-pr

#29430 Move imports to top for fixer
  homeassistant/components/fixer/sensor.py
Labels: cla-signed, integration: fixer, small-pr

#29435 Move imports to top for danfoss_air
  homeassistant/components/danfoss_air/__init__.py
Labels: cla-signed, integration: danfoss_air, small-pr

#29461 Updated frontend to 20191204.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#29481 Move imports to top for litejet
  homeassistant/components/litejet/__init__.py
Labels: cla-signed, integration: litejet, small-pr

#29467 Move imports to top for tuya
  homeassistant/components/tuya/__init__.py
  homeassistant/components/tuya/climate.py
Labels: cla-signed, integration: tuya, small-pr

#29468 Move imports to top for zoneminder
  homeassistant/components/zoneminder/__init__.py
  homeassistant/components/zoneminder/sensor.py
  homeassistant/components/zoneminder/switch.py
Labels: cla-signed, integration: zoneminder, small-pr

#29470 Move imports to top for point
  homeassistant/components/point/__init__.py
  homeassistant/components/point/config_flow.py
Labels: cla-signed, integration: point, small-pr

#29471 Move imports to top for ps4
  homeassistant/components/ps4/__init__.py
  homeassistant/components/ps4/media_player.py
Labels: cla-signed, integration: ps4, small-pr

#29472 Move imports to top for rainmachine
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/config_flow.py
  homeassistant/components/rainmachine/switch.py
Labels: cla-signed, integration: rainmachine, small-pr

#29473 Move imports to top for random
  homeassistant/components/random/binary_sensor.py
  homeassistant/components/random/sensor.py
Labels: cla-signed, integration: random, small-pr

#29474 Move imports to top for ring
  homeassistant/components/ring/__init__.py
  homeassistant/components/ring/camera.py
  homeassistant/components/ring/light.py
  homeassistant/components/ring/sensor.py
  homeassistant/components/ring/switch.py
Labels: cla-signed, integration: ring, small-pr
