Repository home-assistant/core, pull requests merged in 2019-05, with the labels that each got.

#23283 render_with_collect method for template
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: cla-signed, core, has-tests

#23579 Upgrade youtube_dl to 2019.04.30
  homeassistant/components/media_extractor/__init__.py
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: media_extractor, small-pr

#23578 Bumpped the pyeconet version
  homeassistant/components/econet/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: econet, small-pr

#23592 Simplify Travis cache config
  .travis.yml
Labels: cla-signed, small-pr

#23593 Fix low battery threshold issue HomeKit
  homeassistant/components/homekit/accessories.py
  tests/components/homekit/test_accessories.py
Labels: bug, cla-signed, has-tests, integration: homekit, small-pr

#23565 Redesign AlarmControlPanel for Homematic IP
  homeassistant/components/homematicip_cloud/alarm_control_panel.py
  homeassistant/components/homematicip_cloud/device.py
Labels: cla-signed, integration: homematicip_cloud

#22827 Ambiclimate
  .coveragerc
  CODEOWNERS
  homeassistant/components/ambiclimate/.translations/en.json
  homeassistant/components/ambiclimate/__init__.py
  homeassistant/components/ambiclimate/climate.py
  homeassistant/components/ambiclimate/config_flow.py
  homeassistant/components/ambiclimate/const.py
  homeassistant/components/ambiclimate/manifest.json
  homeassistant/components/ambiclimate/services.yaml
  homeassistant/components/ambiclimate/strings.json
  homeassistant/config_entries.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/ambiclimate/__init__.py
  tests/components/ambiclimate/test_config_flow.py
Labels: cla-signed, core, has-tests, in progress, integration: ambiclimate, new-integration, new-platform

#23600 BREAK-FIX: Update MyQ library to fix API change causing MyQ not to function
  homeassistant/components/myq/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: myq, small-pr

#23589 Move I/O to executor thread pool
  homeassistant/components/discord/notify.py
Labels: cla-signed, integration: discord, small-pr

#23599 Update bomradarloop to v0.1.3
  homeassistant/components/bom/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: bom, small-pr

#23596 Updated Hangout Component's manifest.json file with correct version of hangups.
  homeassistant/components/hangouts/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: hangouts, small-pr

#23532 Add and improve Homekit controller pairing messages and errors
  homeassistant/components/homekit_controller/.translations/en.json
  homeassistant/components/homekit_controller/config_flow.py
  homeassistant/components/homekit_controller/strings.json
  tests/components/homekit_controller/test_config_flow.py
Labels: cla-signed, has-tests, integration: homekit_controller, small-pr

#23108 Added message to data_template at notify REST
  homeassistant/components/rest/notify.py
Labels: cla-signed, in progress, integration: rest, small-pr

#23611 Fixed unhandled exception in OpenUV data update
  homeassistant/components/openuv/__init__.py
Labels: cla-signed, integration: openuv, small-pr

#23583 Support STATE_AUTO in homekit_controller climate
  homeassistant/components/homekit_controller/climate.py
  tests/components/homekit_controller/common.py
  tests/components/homekit_controller/specific_devices/test_ecobee3.py
  tests/components/homekit_controller/test_climate.py
Labels: cla-signed, has-tests, integration: homekit_controller, small-pr

#23615 Fix unexpected error thrown if instance_domain is not set
  homeassistant/components/cloud/__init__.py
Labels: cla-signed, core, integration: cloud, integration: mobile_app, small-pr

#23616 Bump pyheos to 0.5.1
  homeassistant/components/heos/__init__.py
  homeassistant/components/heos/manifest.json
  homeassistant/components/heos/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/heos/test_init.py
  tests/components/heos/test_media_player.py
Labels: cla-signed, has-tests, integration: heos, small-pr

#23221 Add support for flow sensor metrics in RainMachine
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/binary_sensor.py
  homeassistant/components/rainmachine/const.py
  homeassistant/components/rainmachine/sensor.py
Labels: cla-signed, integration: rainmachine

#23609 Clean caldav calendar tests
  tests/components/caldav/test_calendar.py
Labels: cla-signed, has-tests, small-pr

#23588 Improve sun automation tests
  tests/components/automation/test_sun.py
Labels: cla-signed, core, has-tests

#23603 Update pyvesync_v2 version to 0.9.7
  homeassistant/components/vesync/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: vesync, small-pr

#23620 0.92.2
  homeassistant/components/alexa/smart_home.py
  homeassistant/components/auth/indieauth.py
  homeassistant/components/cast/manifest.json
  homeassistant/components/cast/media_player.py
  homeassistant/components/cloud/__init__.py
  homeassistant/components/cloud/client.py
  homeassistant/components/frontend/manifest.json
  homeassistant/components/geniushub/manifest.json
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/smart_home.py
  homeassistant/components/heos/__init__.py
  homeassistant/components/heos/manifest.json
  homeassistant/components/heos/media_player.py
  homeassistant/components/hue/sensor.py
  homeassistant/components/myq/manifest.json
  homeassistant/components/netatmo_public/sensor.py
  homeassistant/components/traccar/device_tracker.py
  homeassistant/components/upnp/sensor.py
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/alexa/test_smart_home.py
  tests/components/heos/test_init.py
  tests/components/heos/test_media_player.py
Labels: cla-signed

#23135 Prevent turning on tellduslive lights with 0 brightness
  homeassistant/components/tellduslive/light.py
Labels: cla-signed, in progress, integration: tellduslive, small-pr

#23624 Update docstrings
  homeassistant/components/panasonic_bluray/media_player.py
Labels: cla-signed, integration: panasonic_bluray, small-pr

#23623 Order imports
  homeassistant/components/opple/light.py
Labels: cla-signed, integration: opple, small-pr

#23622 Polling is default
  homeassistant/components/serial_pm/sensor.py
Labels: cla-signed, integration: serial_pm, small-pr

#23630 Updgrade Tibber library
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: tibber, small-pr

#23625 Loosen discovery config validation to avoid breaking changes
  homeassistant/components/discovery/__init__.py
Labels: cla-signed, core, integration: discovery, small-pr

#23587 Clean up redundant same-package ..package imports
  homeassistant/components/greeneye_monitor/sensor.py
  homeassistant/components/huawei_lte/device_tracker.py
  homeassistant/components/huawei_lte/notify.py
  homeassistant/components/huawei_lte/sensor.py
  homeassistant/components/tplink_lte/notify.py
Labels: cla-signed, integration: greeneye_monitor, integration: huawei_lte, integration: tplink_lte, small-pr

#23584 Upgrade pytest to 4.4.1
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr

#23586 Upgrade mypy
  homeassistant/core.py
  homeassistant/util/color.py
  homeassistant/util/location.py
  mypy.ini
  requirements_test.txt
  requirements_test_all.txt
Labels: cla-signed, core, small-pr

#23467 Allow removing Telegram reply keyboard
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/telegram_bot/services.yaml
Labels: cla-signed, integration: telegram_bot, small-pr

#23618 Convert frontend to do client-side modern JS detection
  homeassistant/components/frontend/__init__.py
  homeassistant/components/frontend/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/frontend/test_init.py
Labels: breaking change, cla-signed, core, has-tests, integration: frontend

#23627 Further patch to fix websocket api sensor
  homeassistant/components/websocket_api/http.py
Labels: cla-signed, core, integration: websocket_api, small-pr

#23489 Refactor evohome to prepare for water_heater
  CODEOWNERS
  homeassistant/components/evohome/__init__.py
  homeassistant/components/evohome/climate.py
  homeassistant/components/evohome/const.py
  homeassistant/components/evohome/manifest.json
Labels: cla-signed, integration: evohome

#23580 Extend HEOS play_media for favorites, playlists, and quick_selects
  homeassistant/components/heos/media_player.py
  tests/components/heos/conftest.py
  tests/components/heos/test_media_player.py
Labels: cla-signed, has-tests, integration: heos, new-feature

#23643 update switchbot library
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: switchbot, small-pr

#23635 Add "soc-thermal 1" as CPU Temp label to Glances
  homeassistant/components/glances/sensor.py
Labels: cla-signed, integration: glances, small-pr

#23436 deCONZ - Retry on BridgeBusy errors
  homeassistant/components/deconz/cover.py
  homeassistant/components/deconz/deconz_device.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Ready for review, cla-signed, integration: deconz, ready-for-review

#23433 Added option to select photoblack cartridge
  homeassistant/components/epsonworkforce/manifest.json
  homeassistant/components/epsonworkforce/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: epsonworkforce, small-pr

#22972 Fix bad request for some IP ONVIF camera
  homeassistant/components/onvif/camera.py
  homeassistant/components/onvif/manifest.json
  requirements_all.txt
Labels: cla-signed, in progress, integration: onvif

#23661 Bump pyteleloisirs version
  homeassistant/components/liveboxplaytv/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: liveboxplaytv, small-pr

#23671 Upgrade psutil to 5.6.2
  homeassistant/components/systemmonitor/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: systemmonitor, small-pr

#23675 Upgrade shodan to 1.13.0
  homeassistant/components/shodan/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: shodan, small-pr

#23672 Upgrade slacker to 0.13.0
  homeassistant/components/slack/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: slack, small-pr

#23676 Upgrade tapsaff to 0.2.1
  homeassistant/components/tapsaff/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: tapsaff, small-pr

#23674 Upgrade sqlalchemy to 1.3.3
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, integration: recorder, integration: sql, small-pr

#23680 Remove extraneous update call in SimpliSafe
  homeassistant/components/simplisafe/alarm_control_panel.py
Labels: cla-signed, integration: simplisafe, small-pr

#23677 Upgrade pysnmp to 4.4.9
  homeassistant/components/snmp/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: snmp, small-pr

#23679 Upgrade spotcrime to 1.0.4 (fixes #13189)
  homeassistant/components/spotcrime/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: spotcrime, small-pr

#22934 Add Bizkaibus, Biscays (Spain) bus service component
  .coveragerc
  CODEOWNERS
  homeassistant/components/bizkaibus/__init__.py
  homeassistant/components/bizkaibus/manifest.json
  homeassistant/components/bizkaibus/sensor.py
  requirements_all.txt
Labels: cla-signed, docs-missing, in progress, integration: bizkaibus, new-platform

#22968 Add HomeKit Television functionality
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_media_players.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_type_media_players.py
Labels: cla-signed, has-tests, in progress, integration: homekit, new-feature

#23608 Clean and fix google calendar tests
  homeassistant/components/google/calendar.py
  tests/components/google/conftest.py
  tests/components/google/test_calendar.py
  tests/components/google/test_init.py
Labels: cla-signed, has-tests, integration: google, small-pr

#23694 Update dependency for pyvlx.
  homeassistant/components/velux/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: velux, small-pr

#23700 Clean up mqtt device tracker tests
  tests/components/mqtt/test_device_tracker.py
Labels: cla-signed, core, has-tests, small-pr

#23695 Clean up device tracker tests
  tests/components/device_tracker/test_init.py
Labels: cla-signed, core, has-tests, small-pr

#23670 Move Sonos services to sonos domain
  homeassistant/components/media_player/services.yaml
  homeassistant/components/sonos/__init__.py
  homeassistant/components/sonos/media_player.py
  homeassistant/components/sonos/services.yaml
Labels: breaking change, cla-signed, core, integration: sonos

#23701 Move owntracks device tracker test under owntracks
  tests/components/owntracks/test_device_tracker.py
Labels: cla-signed, has-tests, small-pr

#23585 Add support for SET_AWAY_MODE and TURN_ON/OFF on Daikin Climate
  homeassistant/components/daikin/climate.py
Labels: cla-signed, integration: daikin, new-feature

#23705 Bump ZHA modules versions.
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/core/patches.py
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr

#23697 Add additional single input cluster entries - ZHA
  homeassistant/components/zha/core/registries.py
Labels: cla-signed, integration: zha, small-pr

#23666 Add media_type_app to media_player
  homeassistant/components/media_player/const.py
  homeassistant/components/ps4/manifest.json
  homeassistant/components/ps4/media_player.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, integration: media_player, integration: ps4, small-pr

#23617 Add a TCP timeout of 5 seconds to ffmpeg
  homeassistant/components/stream/__init__.py
Labels: cla-signed, core, integration: stream, small-pr

#23708 Bump pyheos to 0.5.2
  homeassistant/components/heos/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: heos, small-pr

#23667 Catch thethingsnetwork TypeError
  homeassistant/components/thethingsnetwork/sensor.py
Labels: cla-signed, integration: thethingsnetwork, small-pr

#23712 Use local constants in Daikin
  homeassistant/components/daikin/climate.py
Labels: cla-signed, integration: daikin, small-pr

#23711 Upgrade sendgrid to 6.0.5
  homeassistant/components/sendgrid/manifest.json
  homeassistant/components/sendgrid/notify.py
  requirements_all.txt
Labels: cla-signed, integration: sendgrid, small-pr

#23714 Bump zha-quirks version
  homeassistant/components/zha/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: zha, small-pr

#23641 Update IDs after firmware upgrade in HEOS
  homeassistant/components/heos/__init__.py
  homeassistant/components/heos/const.py
  homeassistant/components/heos/media_player.py
  tests/components/heos/conftest.py
  tests/components/heos/test_init.py
  tests/components/heos/test_media_player.py
Labels: cla-signed, has-tests, integration: heos

#23649 Handle icons for None sensor values gracefully of huawei_lte
  homeassistant/components/huawei_lte/sensor.py
Labels: cla-signed, integration: huawei_lte, small-pr

#23710 Use the URL provided by the Wink API for subscriptions.
  homeassistant/components/wink/__init__.py
  homeassistant/components/wink/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: wink, small-pr

#23716 Upgrade switchbot , fixes #23702
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: switchbot, small-pr

#23706 Fix SmartThings Samsung Air Conditioner Support
  homeassistant/components/smartthings/climate.py
  homeassistant/components/smartthings/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/smartthings/test_climate.py
Labels: cla-signed, has-tests, integration: smartthings

#23678 Share snmp constants across all platforms
  .coveragerc
  homeassistant/components/snmp/const.py
  homeassistant/components/snmp/device_tracker.py
  homeassistant/components/snmp/sensor.py
  homeassistant/components/snmp/switch.py
Labels: breaking change, cla-signed, integration: snmp

#22988 Add TTL support and custom headers support.
  homeassistant/components/html5/notify.py
  tests/components/html5/test_notify.py
Labels: cla-signed, in progress, integration: html5

#23663 Added new sensor meteoalarm to get weather alerts in Europe
  .coveragerc
  CODEOWNERS
  homeassistant/components/meteoalarm/__init__.py
  homeassistant/components/meteoalarm/binary_sensor.py
  homeassistant/components/meteoalarm/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: meteoalarm, new-integration, new-platform

#23733 Add abbreviation for current_temperature_template
  homeassistant/components/mqtt/discovery.py
Labels: cla-signed, core, integration: mqtt, small-pr

#23384 Add water_heater to geniushub, bump client library
  CODEOWNERS
  homeassistant/components/geniushub/__init__.py
  homeassistant/components/geniushub/climate.py
  homeassistant/components/geniushub/manifest.json
  homeassistant/components/geniushub/water_heater.py
  requirements_all.txt
Labels: cla-signed, integration: geniushub, new-platform

#23598 Add debug prints to sun
  homeassistant/components/sun/__init__.py
Labels: cla-signed, core, integration: sun, small-pr

#23729 Add HEOS sign-in/out services
  homeassistant/components/heos/__init__.py
  homeassistant/components/heos/const.py
  homeassistant/components/heos/services.py
  homeassistant/components/heos/services.yaml
  homeassistant/core.py
  tests/components/heos/conftest.py
  tests/components/heos/test_init.py
  tests/components/heos/test_services.py
  tests/test_core.py
Labels: cla-signed, core, has-tests, integration: heos, new-feature

#23713 Fix Hue sensor integration with multiple bridges.
  homeassistant/components/hue/sensor_base.py
  tests/components/hue/test_sensor_base.py
Labels: cla-signed, has-tests, integration: hue, small-pr

#22789 Fix effects on HUE integration for Osram bulbs
  homeassistant/components/hue/light.py
  tests/components/hue/test_light.py
Labels: cla-signed, in progress, integration: hue, small-pr

#23743 Upgrade aiodns to 2.0.0
  homeassistant/components/dnsip/manifest.json
  homeassistant/components/dnsip/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: dnsip, small-pr

#23740 Add abbreviation for position_topic
  homeassistant/components/mqtt/discovery.py
Labels: cla-signed, core, integration: mqtt, small-pr

#23520 Update PR template
  .circleci/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  tox.ini
Labels: cla-signed, small-pr

#23736 Add Intergas InComfort Lan2RF gateway
  .coveragerc
  CODEOWNERS
  homeassistant/components/incomfort/__init__.py
  homeassistant/components/incomfort/manifest.json
  homeassistant/components/incomfort/water_heater.py
  requirements_all.txt
Labels: cla-signed, integration: incomfort, new-integration, new-platform

#23724 Fix upnp logger name
  homeassistant/components/axis/const.py
  homeassistant/components/emulated_roku/binding.py
  homeassistant/components/hue/const.py
  homeassistant/components/rainmachine/const.py
  homeassistant/components/smhi/const.py
  homeassistant/components/unifi/const.py
  homeassistant/components/upnp/const.py
Labels: cla-signed, integration: upnp, small-pr

#23746 Add update events to registries
  .gitignore
  homeassistant/components/websocket_api/permissions.py
  homeassistant/helpers/area_registry.py
  homeassistant/helpers/device_registry.py
  homeassistant/helpers/entity_registry.py
  tests/helpers/test_area_registry.py
  tests/helpers/test_device_registry.py
  tests/helpers/test_entity_registry.py
Labels: cla-signed, core, integration: websocket_api

#23732 Add integration step to onboarding
  homeassistant/components/auth/login_flow.py
  homeassistant/components/onboarding/.translations/en.json
  homeassistant/components/onboarding/__init__.py
  homeassistant/components/onboarding/const.py
  homeassistant/components/onboarding/strings.json
  homeassistant/components/onboarding/views.py
  tests/components/auth/test_login_flow.py
  tests/components/onboarding/test_init.py
  tests/components/onboarding/test_views.py
Labels: cla-signed, core, has-tests, integration: onboarding

#23531 Merge netatmo_public sensor into the netatmo integration
  homeassistant/components/netatmo/sensor.py
  homeassistant/components/netatmo_public/__init__.py
  homeassistant/components/netatmo_public/manifest.json
  homeassistant/components/netatmo_public/sensor.py
Labels: breaking change, cla-signed, docs-missing, integration: netatmo, integration: netatmo_public, remove-platform

#23673 Upgrade numpy to 1.16.3
  homeassistant/components/iqvia/__init__.py
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/opencv/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: iqvia, integration: opencv, integration: tensorflow, integration: trend, small-pr

#23753 Upgrade Mastodon.py to 1.4.0
  homeassistant/components/mastodon/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: mastodon, small-pr

#23751 Prompt for pin only on open / unlock
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, core, has-tests, integration: google_assistant, small-pr

#23651 Upgrade defusedxml to 0.6.0
  homeassistant/components/ihc/manifest.json
  homeassistant/components/namecheapdns/manifest.json
  homeassistant/components/ohmconnect/manifest.json
  homeassistant/components/upc_connect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: ihc, integration: namecheapdns, integration: ohmconnect, integration: upc_connect, small-pr

#23482 Refactor mysensors child validation
  homeassistant/components/mysensors/const.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/mysensors/handler.py
  homeassistant/components/mysensors/helpers.py
Labels: cla-signed, integration: mysensors

#23621 Update Sesame component to use Candy House's library using the V3 API
  homeassistant/components/sesame/lock.py
  homeassistant/components/sesame/manifest.json
  requirements_all.txt
Labels: breaking change, cla-signed, integration: sesame, small-pr

#23524 Upgrade zeroconf to 0.22.0
  homeassistant/components/zeroconf/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: zeroconf, small-pr

#23685 No longer rely on requests
  homeassistant/__main__.py
  homeassistant/components/ps4/__init__.py
  homeassistant/components/ps4/config_flow.py
  homeassistant/config.py
  homeassistant/scripts/ensure_config.py
  homeassistant/util/location.py
  tests/conftest.py
  tests/test_bootstrap.py
  tests/test_config.py
  tests/util/test_location.py
Labels: cla-signed, core, integration: ps4

#23766 Bump pyatmo to v1.11
  homeassistant/components/netatmo/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: netatmo, small-pr

#23755 Add Presence Detector Indoor to Homematic IP
  homeassistant/components/homematicip_cloud/binary_sensor.py
  homeassistant/components/homematicip_cloud/sensor.py
Labels: cla-signed, integration: homematicip_cloud

#23774 Split up yaml loaders into multiple files
  homeassistant/scripts/check_config.py
  homeassistant/util/yaml/__init__.py
  homeassistant/util/yaml/const.py
  homeassistant/util/yaml/dumper.py
  homeassistant/util/yaml/loader.py
  homeassistant/util/yaml/objects.py
  mypy.ini
  tests/common.py
  tests/components/scene/test_init.py
  tests/helpers/test_entity_registry.py
  tests/util/test_yaml.py
Labels: cla-signed, core

#23765 Add config entry for IQVIA
  homeassistant/components/iqvia/.translations/en.json
  homeassistant/components/iqvia/__init__.py
  homeassistant/components/iqvia/config_flow.py
  homeassistant/components/iqvia/const.py
  homeassistant/components/iqvia/sensor.py
  homeassistant/components/iqvia/strings.json
  homeassistant/config_entries.py
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/iqvia/__init__.py
  tests/components/iqvia/test_config_flow.py
Labels: cla-signed, core, integration: iqvia

#23759 Add stepped volume to demo
  homeassistant/components/demo/media_player.py
Labels: cla-signed, core, integration: demo, small-pr

#23067 Add battery binary sensor to homematic
  homeassistant/components/homematic/__init__.py
  homeassistant/components/homematic/binary_sensor.py
Labels: cla-signed, in progress, integration: homematic

#23777 fix two times creating JWT headers in Push Notifications
  homeassistant/components/html5/notify.py
Labels: cla-signed, integration: html5, small-pr

#23763 Sort discovered entries by 'st' to ensure getting the same device
  homeassistant/components/upnp/__init__.py
Labels: cla-signed, integration: upnp, small-pr

#23787 Beta Fix: ONVIF
  homeassistant/components/onvif/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: onvif, small-pr

#23769 Zestimate: Fix for issue #23739. Added unique_id property
  homeassistant/components/zestimate/sensor.py
Labels: cla-signed, integration: zestimate, small-pr

#23786 Bumped keenetic NDMS2 client version
  homeassistant/components/keenetic_ndms2/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: keenetic_ndms2, small-pr

#23782 Add support for an external step in config flow
  homeassistant/data_entry_flow.py
  homeassistant/helpers/data_entry_flow.py
  tests/common.py
  tests/test_data_entry_flow.py
Labels: cla-signed, core

#23764 Centralize geniushub updates
  homeassistant/components/geniushub/__init__.py
  homeassistant/components/geniushub/climate.py
  homeassistant/components/geniushub/water_heater.py
Labels: cla-signed, integration: geniushub

#23790 Move tests to right folder
  tests/components/pilight/test_sensor.py
  tests/components/rfxtrx/test_cover.py
  tests/components/rfxtrx/test_light.py
  tests/components/rfxtrx/test_sensor.py
  tests/components/rfxtrx/test_switch.py
  tests/components/tradfri/test_light.py
  tests/components/tts/test_init.py
  tests/components/unifi/test_switch.py
Labels: cla-signed, has-tests, small-pr

#23791 Synchronize Sonos service calls
  homeassistant/components/sonos/__init__.py
  homeassistant/components/sonos/media_player.py
Labels: cla-signed, integration: sonos, small-pr

#23803 Do not add coordinator to the ZHA entities.
  homeassistant/components/zha/core/gateway.py
Labels: cla-signed, integration: zha, small-pr

#23807 Beta Fix: Fix onvif wsdl import
  homeassistant/components/onvif/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: onvif, small-pr

#22542 Add LCN climate platform
  homeassistant/components/lcn/__init__.py
  homeassistant/components/lcn/climate.py
  homeassistant/components/lcn/const.py
Labels: cla-signed, in progress, integration: lcn, new-platform

#23806 Bump venstarcolortouch to v0.7
  homeassistant/components/venstar/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: venstar, small-pr

#23808 Upgrade youtube_dl to 2019.05.11
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: media_extractor, small-pr

#23810 Bump pyotgw to 0.4b4
  homeassistant/components/opentherm_gw/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: opentherm_gw, small-pr

#23816 Fix patching right import
  tests/components/hue/test_config_flow.py
Labels: cla-signed, has-tests, small-pr

#23830 Add incomfort climate and bump client
  homeassistant/components/incomfort/__init__.py
  homeassistant/components/incomfort/climate.py
  homeassistant/components/incomfort/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: incomfort, new-platform

#23829 Make broadlink switch restore its state
  homeassistant/components/broadlink/switch.py
Labels: cla-signed, integration: broadlink, small-pr

#23833 Catch import error when processing config
  homeassistant/config.py
Labels: cla-signed, core, small-pr

#23815 Remove badges from README [skipci]
  README.rst
Labels: cla-signed, small-pr

#23825 HomeKit Controller: Adopt config entries for pairing with homekit accessories
  .coveragerc
  homeassistant/components/discovery/__init__.py
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/alarm_control_panel.py
  homeassistant/components/homekit_controller/binary_sensor.py
  homeassistant/components/homekit_controller/climate.py
  homeassistant/components/homekit_controller/config_flow.py
  homeassistant/components/homekit_controller/connection.py
  homeassistant/components/homekit_controller/cover.py
  homeassistant/components/homekit_controller/light.py
  homeassistant/components/homekit_controller/lock.py
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/homekit_controller/sensor.py
  homeassistant/components/homekit_controller/switch.py
  homeassistant/config_entries.py
  tests/components/homekit_controller/common.py
  tests/components/homekit_controller/specific_devices/test_ecobee3.py
  tests/components/homekit_controller/test_config_flow.py
  tests/components/homekit_controller/test_cover.py
Labels: cla-signed, core, has-tests, integration: discovery, integration: homekit_controller

#21225 Add new SmartHab light and cover platform
  .coveragerc
  CODEOWNERS
  homeassistant/components/smarthab/__init__.py
  homeassistant/components/smarthab/cover.py
  homeassistant/components/smarthab/light.py
  homeassistant/components/smarthab/manifest.json
  requirements_all.txt
Labels: cla-signed, in progress, integration: smarthab, new-platform

#23734 Daikin adaptions for AirBase units
  homeassistant/components/daikin/climate.py
  homeassistant/components/daikin/manifest.json
  homeassistant/components/daikin/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: daikin, small-pr

#23849 Fix zha timed off command
  homeassistant/components/zha/core/channels/general.py
Labels: cla-signed, integration: zha, small-pr

#23793 Fix for battery device: new_device referenced before assignment.
  homeassistant/components/homematic/__init__.py
  homeassistant/components/homematic/binary_sensor.py
Labels: cla-signed, integration: homematic, small-pr

#23842 Better handle large amounts of data being sent over WS
  homeassistant/components/camera/__init__.py
  homeassistant/components/lovelace/__init__.py
  homeassistant/components/media_player/__init__.py
  homeassistant/components/websocket_api/connection.py
  homeassistant/components/websocket_api/const.py
  homeassistant/components/websocket_api/http.py
  tests/components/websocket_api/test_connection.py
Labels: cla-signed, core, has-tests, integration: camera, integration: lovelace, integration: media_player, integration: websocket_api, small-pr

#23835 Zeroconf - replace library
  homeassistant/components/zeroconf/__init__.py
  homeassistant/components/zeroconf/manifest.json
  requirements_all.txt
  tests/components/default_config/test_init.py
Labels: cla-signed, integration: zeroconf, small-pr

#23840 WS: Improve service calling errors
  homeassistant/components/script/__init__.py
  homeassistant/components/websocket_api/commands.py
  homeassistant/exceptions.py
  tests/components/automation/test_init.py
  tests/components/script/test_init.py
  tests/components/websocket_api/test_commands.py
Labels: cla-signed, core, has-tests, integration: script, integration: websocket_api, small-pr

#23855 Bump ZHA quirks
  homeassistant/components/zha/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: zha, small-pr

#23854 Fix ZHA battery when readings produce an unknown value
  homeassistant/components/zha/device_entity.py
Labels: cla-signed, integration: zha, small-pr

#23853 Correct ZHA illumination conversion
  homeassistant/components/zha/sensor.py
  tests/components/zha/test_sensor.py
Labels: cla-signed, has-tests, integration: zha, small-pr

#23857 Fix improper usage of body attribute on web.Response.
  homeassistant/components/geofency/__init__.py
  homeassistant/components/locative/__init__.py
  homeassistant/components/mobile_app/helpers.py
Labels: cla-signed, core, integration: geofency, integration: locative, integration: mobile_app, small-pr

#23845 Allow deletion of automations and scripts
  homeassistant/components/config/__init__.py
  tests/components/config/test_automation.py
  tests/components/config/test_script.py
Labels: cla-signed, core, has-tests, integration: config

#23847 Use Cloudhooks for OwnTracks
  homeassistant/components/owntracks/__init__.py
  homeassistant/components/owntracks/config_flow.py
  tests/components/owntracks/test_config_flow.py
  tests/components/owntracks/test_init.py
Labels: cla-signed, has-tests, integration: owntracks

#23858 Fix aiohttp response serialize
  homeassistant/components/cloud/utils.py
  tests/components/cloud/test_utils.py
Labels: cla-signed, core, has-tests, integration: cloud, small-pr

#23811 Add geniushub sensor and binary_sensor
  homeassistant/components/geniushub/__init__.py
  homeassistant/components/geniushub/binary_sensor.py
  homeassistant/components/geniushub/manifest.json
  homeassistant/components/geniushub/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: geniushub, new-platform

#23832 Quiet the chatty sun.sun
  homeassistant/components/sun/__init__.py
  homeassistant/helpers/sun.py
  tests/components/sun/test_init.py
Labels: cla-signed, core, has-tests, integration: sun

#23877 Take code owner for sun.sun
  CODEOWNERS
  homeassistant/components/sun/manifest.json
Labels: cla-signed, core, integration: sun, small-pr

#23856 Fix homekit basic tv test assert when there are no messages
  tests/components/homekit/test_type_media_players.py
Labels: cla-signed, has-tests, small-pr

#23880 Fix auto discovery if the monitor condition
  homeassistant/components/netatmo/sensor.py
Labels: cla-signed, integration: netatmo, small-pr

#23862 Restructure device tracker
  homeassistant/components/bluetooth_le_tracker/device_tracker.py
  homeassistant/components/bluetooth_tracker/device_tracker.py
  homeassistant/components/device_tracker/__init__.py
  homeassistant/components/device_tracker/const.py
  homeassistant/components/device_tracker/legacy.py
  homeassistant/components/device_tracker/setup.py
  homeassistant/components/icloud/device_tracker.py
  homeassistant/components/ping/device_tracker.py
  homeassistant/config.py
  tests/components/demo/test_init.py
  tests/components/device_sun_light_trigger/test_init.py
  tests/components/device_tracker/test_init.py
  tests/components/geofency/test_init.py
  tests/components/gpslogger/test_init.py
  tests/components/locative/test_init.py
  tests/components/mqtt/test_device_tracker.py
  tests/components/mqtt_json/test_device_tracker.py
  tests/components/tplink/test_device_tracker.py
  tests/components/unifi_direct/test_device_tracker.py
  tests/conftest.py
Labels: cla-signed, core, has-tests, integration: device_tracker

#23886 Update Pynetgear to v0.6.1
  homeassistant/components/netgear/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: netgear, small-pr

#23893 Fix PS4 blocking startup
  homeassistant/components/ps4/__init__.py
Labels: cla-signed, integration: ps4, small-pr

#23895 Fix Hassio-version for Azure Pipelines
  azure-pipelines.yml
Labels: cla-signed, small-pr

#23882 Fix homekit_controller pairing for devices with a screen (#15336)
  homeassistant/components/homekit_controller/config_flow.py
  tests/components/homekit_controller/test_config_flow.py
Labels: cla-signed, has-tests, integration: homekit_controller

#23776 Enable Homematic IP cloud climate device with HeatingThermostat only
  homeassistant/components/homematicip_cloud/climate.py
Labels: cla-signed, integration: homematicip_cloud
