Repository home-assistant/core, pull requests merged in 2019-10, with the labels that each got.

#27075 Add some icons for Obihai
  homeassistant/components/obihai/sensor.py
Labels: Hacktoberfest, cla-signed, integration: obihai, small-pr

#27083 Bump version of library aio_geojson_geonetnz_quakes to v0.10
  homeassistant/components/geonetnz_quakes/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: geonetnz_quakes, small-pr

#27082 UniFi - Remove last of device tracker configuration
  homeassistant/components/unifi/device_tracker.py
  tests/components/unifi/test_device_tracker.py
Labels: Hacktoberfest, integration: unifi

#26810 Bugfix evohome
  homeassistant/components/evohome/__init__.py
  homeassistant/components/evohome/climate.py
  homeassistant/components/evohome/const.py
  homeassistant/components/evohome/water_heater.py
Labels: breaking change, cla-signed, integration: evohome

#26902 Add saj component
  .coveragerc
  CODEOWNERS
  homeassistant/components/saj/__init__.py
  homeassistant/components/saj/manifest.json
  homeassistant/components/saj/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: saj, new-integration

#26936 Plex external config flow
  homeassistant/components/plex/config_flow.py
  homeassistant/components/plex/const.py
  homeassistant/components/plex/manifest.json
  homeassistant/components/plex/server.py
  homeassistant/components/plex/strings.json
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/plex/mock_classes.py
  tests/components/plex/test_config_flow.py
Labels: cla-signed, has-tests, integration: plex

#27102 Bump attrs to 19.2.0
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: Hacktoberfest, cla-signed, core, small-pr

#27099 Update meteoalertapi to version 0.1.6
  homeassistant/components/meteoalarm/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, integration: meteoalarm, small-pr

#26900 Nzbget services
  homeassistant/components/nzbget/__init__.py
  homeassistant/components/nzbget/services.yaml
Labels: cla-signed, integration: nzbget

#27090 Delete here_travel_time dead code COORDINATE_SCHEMA
  homeassistant/components/here_travel_time/sensor.py
Labels: Hacktoberfest, integration: here_travel_time, small-pr

#27097 Add missing http dependency for Plex
  homeassistant/components/plex/manifest.json
Labels: Hacktoberfest, cla-signed, integration: plex, small-pr

#27088 Add entity registry support to ecobee integration
  homeassistant/components/ecobee/binary_sensor.py
  homeassistant/components/ecobee/climate.py
  homeassistant/components/ecobee/sensor.py
  homeassistant/components/ecobee/weather.py
Labels: Hacktoberfest, cla-signed, integration: ecobee

#25931 Update opentherm_gw.climate to match Climate 1.0
  homeassistant/components/opentherm_gw/climate.py
Labels: breaking change, cla-signed, integration: opentherm_gw, second-opinion-wanted, small-pr

#27029 Improve validation of device action config
  homeassistant/components/automation/config.py
  homeassistant/helpers/script.py
  tests/components/device_automation/test_init.py
Labels: cla-signed, core, has-tests, integration: automation, small-pr

#27108 Bump adb-shell to 0.0.3
  homeassistant/components/androidtv/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: androidtv, small-pr

#27043 Add Vera last user and low battery attributes
  homeassistant/components/vera/lock.py
  homeassistant/components/vera/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: vera, small-pr

#27101 Add neural support to amazon polly
  homeassistant/components/amazon_polly/manifest.json
  homeassistant/components/amazon_polly/tts.py
  homeassistant/components/route53/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, integration: amazon_polly, small-pr

#27120 Bump androidtv to 0.0.29
  homeassistant/components/androidtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: androidtv, small-pr

#26640 Tweak geniushub and bump client to v0.6.26
  homeassistant/components/geniushub/__init__.py
  homeassistant/components/geniushub/binary_sensor.py
  homeassistant/components/geniushub/climate.py
  homeassistant/components/geniushub/manifest.json
  homeassistant/components/geniushub/sensor.py
  homeassistant/components/geniushub/water_heater.py
  requirements_all.txt
Labels: breaking change, cla-signed, integration: geniushub

#27118 move ATTR_MODE to homeassistant.const
  homeassistant/components/flux_led/light.py
  homeassistant/components/gpsd/sensor.py
  homeassistant/components/here_travel_time/sensor.py
  homeassistant/components/homematic/__init__.py
  homeassistant/components/input_number/__init__.py
  homeassistant/components/input_text/__init__.py
  homeassistant/components/lifx/light.py
  homeassistant/components/logi_circle/__init__.py
  homeassistant/components/neato/vacuum.py
  homeassistant/components/opentherm_gw/__init__.py
  homeassistant/components/opentherm_gw/const.py
  homeassistant/components/transport_nsw/sensor.py
  homeassistant/components/wink/lock.py
  homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/switch.py
  homeassistant/components/yeelight/light.py
  homeassistant/const.py
Labels: Hacktoberfest, cla-signed

#27117 Update documentation link URL for integrations
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  README.rst
  homeassistant/components/ambiclimate/.translations/en.json
  homeassistant/components/deconz/services.yaml
  homeassistant/components/dialogflow/config_flow.py
  homeassistant/components/geofency/config_flow.py
  homeassistant/components/gpslogger/config_flow.py
  homeassistant/components/honeywell/climate.py
  homeassistant/components/ifttt/config_flow.py
  homeassistant/components/izone/__init__.py
  homeassistant/components/life360/config_flow.py
  homeassistant/components/locative/config_flow.py
  homeassistant/components/logi_circle/.translations/en.json
  homeassistant/components/mailgun/config_flow.py
  homeassistant/components/nest/.translations/en.json
  homeassistant/components/opentherm_gw/services.yaml
  homeassistant/components/owntracks/config_flow.py
  homeassistant/components/plaato/config_flow.py
  homeassistant/components/point/.translations/en.json
  homeassistant/components/ps4/.translations/en.json
  homeassistant/components/smarthab/__init__.py
  homeassistant/components/smarthab/cover.py
  homeassistant/components/smarthab/light.py
  homeassistant/components/smartthings/config_flow.py
  homeassistant/components/somfy/__init__.py
  homeassistant/components/toon/.translations/en.json
  homeassistant/components/traccar/config_flow.py
  homeassistant/components/twilio/config_flow.py
  homeassistant/components/zha/core/__init__.py
  homeassistant/components/zha/core/channels/__init__.py
  homeassistant/components/zha/core/channels/closures.py
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/core/channels/homeautomation.py
  homeassistant/components/zha/core/channels/hvac.py
  homeassistant/components/zha/core/channels/lighting.py
  homeassistant/components/zha/core/channels/lightlink.py
  homeassistant/components/zha/core/channels/manufacturerspecific.py
  homeassistant/components/zha/core/channels/measurement.py
  homeassistant/components/zha/core/channels/protocol.py
  homeassistant/components/zha/core/channels/security.py
  homeassistant/components/zha/core/channels/smartenergy.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/core/discovery.py
  homeassistant/components/zha/core/gateway.py
  homeassistant/components/zha/core/helpers.py
  homeassistant/components/zha/core/patches.py
  homeassistant/components/zha/core/registries.py
  homeassistant/config.py
  script/scaffold/templates/integration/integration/manifest.json
Labels: Hacktoberfest, cla-signed

#27115 Fix generated comment in CODEOWNERS
  CODEOWNERS
  script/hassfest/codeowners.py
Labels: Hacktoberfest, cla-signed, small-pr

#27125 Disable flaky/slow ecobee test
  tests/components/ecobee/test_config_flow.py
Labels: Hacktoberfest, cla-signed, has-tests, small-pr

#26960 UniFi - Try to handle when UniFi erroneously marks offline client as wired
  homeassistant/components/unifi/__init__.py
  homeassistant/components/unifi/const.py
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/device_tracker.py
  homeassistant/components/unifi/switch.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_device_tracker.py
  tests/components/unifi/test_switch.py
Labels: Hacktoberfest, cla-signed, integration: unifi

#26913 deCONZ - Support Symfonisk sound controller with device triggers
  homeassistant/components/deconz/.translations/en.json
  homeassistant/components/deconz/device_trigger.py
  homeassistant/components/deconz/strings.json
  tests/components/deconz/test_device_trigger.py
Labels: Hacktoberfest, cla-signed, integration: deconz, small-pr

#26658 Add support for `for` to binary_sensor, light and switch device triggers
  homeassistant/components/automation/device.py
  homeassistant/components/binary_sensor/device_trigger.py
  homeassistant/components/deconz/device_trigger.py
  homeassistant/components/device_automation/__init__.py
  homeassistant/components/device_automation/toggle_entity.py
  homeassistant/components/light/device_action.py
  homeassistant/components/light/device_trigger.py
  homeassistant/components/switch/device_action.py
  homeassistant/components/switch/device_trigger.py
  homeassistant/components/zha/device_action.py
  homeassistant/components/zha/device_trigger.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/script.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
  tests/common.py
  tests/components/binary_sensor/test_device_trigger.py
  tests/components/device_automation/test_init.py
  tests/components/light/test_device_trigger.py
  tests/components/switch/test_device_trigger.py
Labels: cla-signed, integration: device_automation, small-pr

#27134 Updated frontend to 20191002.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, integration: frontend, small-pr

#27132 Fix error on failed Plex setup
  homeassistant/components/plex/__init__.py
Labels: Hacktoberfest, cla-signed, integration: plex, small-pr

#27127 Bump up ZHA dependencies.
  homeassistant/components/zha/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, integration: zha, small-pr

#27128 Fix unavailable climate entities in Alexa StateReport
  homeassistant/components/alexa/capabilities.py
  tests/components/alexa/test_capabilities.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: alexa, small-pr

#27129 remote_rpi_gpio dependency version
  homeassistant/components/remote_rpi_gpio/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, integration: remote_rpi_gpio, small-pr

#27130 Update KNX integration to xknx 0.11.2
  homeassistant/components/knx/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, integration: knx, small-pr

#27135 Added Alexa display categories and updated FanCapabilities display category
  homeassistant/components/alexa/entities.py
  tests/components/alexa/test_smart_home.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: alexa, small-pr

#27131 Improve validation of device condition config
  homeassistant/components/automation/config.py
  homeassistant/components/binary_sensor/device_condition.py
  homeassistant/components/device_automation/__init__.py
  homeassistant/components/light/device_condition.py
  homeassistant/components/switch/device_condition.py
  homeassistant/helpers/condition.py
  homeassistant/helpers/script.py
  tests/components/device_automation/test_init.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: automation, integration: binary_sensor, integration: light, integration: switch

#27107 Fix colorTemperatureInKelvin in Alexa report when light is off
  homeassistant/components/alexa/capabilities.py
  tests/components/alexa/test_capabilities.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: alexa, small-pr

#27133 Add device trigger support to sensor entities
  homeassistant/components/automation/numeric_state.py
  homeassistant/components/binary_sensor/device_trigger.py
  homeassistant/components/device_automation/toggle_entity.py
  homeassistant/components/sensor/device_trigger.py
  homeassistant/components/sensor/strings.json
  tests/common.py
  tests/components/deconz/test_device_trigger.py
  tests/components/sensor/test_device_trigger.py
  tests/conftest.py
  tests/testing_config/custom_components/test/sensor.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: automation, integration: binary_sensor, integration: device_automation, integration: sensor

#27112 Add Google Report State
  CODEOWNERS
  homeassistant/components/alexa/manifest.json
  homeassistant/components/cloud/__init__.py
  homeassistant/components/cloud/client.py
  homeassistant/components/cloud/const.py
  homeassistant/components/cloud/google_config.py
  homeassistant/components/cloud/http_api.py
  homeassistant/components/cloud/manifest.json
  homeassistant/components/cloud/prefs.py
  homeassistant/components/google_assistant/__init__.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/manifest.json
  homeassistant/components/google_assistant/report_state.py
  homeassistant/components/google_assistant/smart_home.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cloud/test_alexa_config.py
  tests/components/cloud/test_google_config.py
  tests/components/cloud/test_http_api.py
  tests/components/cloud/test_init.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_init.py
  tests/components/google_assistant/test_report_state.py
  tests/components/google_assistant/test_smart_home.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: alexa, integration: cloud, integration: google_assistant

#27140 Add unique_id to cert_expiry
  homeassistant/components/cert_expiry/sensor.py
Labels: Hacktoberfest, cla-signed, integration: cert_expiry, small-pr

#27137 Fix update on cert_expiry startup
  homeassistant/components/cert_expiry/sensor.py
Labels: Hacktoberfest, cla-signed, integration: cert_expiry, small-pr

#27159 UniFi - Improve device tracker tests
  tests/components/unifi/test_device_tracker.py
Labels: Hacktoberfest, cla-signed, has-tests, small-pr

#27158 Add PowerLevelController for fan to alexa
  homeassistant/components/alexa/capabilities.py
  homeassistant/components/alexa/const.py
  homeassistant/components/alexa/entities.py
  homeassistant/components/alexa/handlers.py
  tests/components/alexa/test_smart_home.py
Labels: cla-signed, core, has-tests, integration: alexa

#27157 Update broadlink library
  homeassistant/components/broadlink/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: broadlink, small-pr

#27155 Adds fields to light.toggle service description
  homeassistant/components/light/services.yaml
Labels: Hacktoberfest, cla-signed, core

#27153 Add support for `for` to binary_sensor, light and switch device conditions
  homeassistant/components/binary_sensor/device_condition.py
  homeassistant/components/binary_sensor/device_trigger.py
  homeassistant/components/device_automation/__init__.py
  homeassistant/components/device_automation/toggle_entity.py
  homeassistant/components/light/device_condition.py
  homeassistant/components/light/device_trigger.py
  homeassistant/components/sensor/device_trigger.py
  homeassistant/components/switch/device_condition.py
  homeassistant/components/switch/device_trigger.py
  tests/components/binary_sensor/test_device_condition.py
  tests/components/device_automation/test_init.py
  tests/components/light/test_device_condition.py
  tests/components/switch/test_device_condition.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: binary_sensor, integration: device_automation, integration: light, integration: switch

#27152 Only generate device trigger for sensor with unit
  homeassistant/components/sensor/device_trigger.py
  tests/components/sensor/test_device_trigger.py
  tests/testing_config/custom_components/test/sensor.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: sensor

#27150 Unload cert_expiry config entries
  CODEOWNERS
  homeassistant/components/cert_expiry/__init__.py
  homeassistant/components/cert_expiry/manifest.json
Labels: Hacktoberfest, cla-signed, integration: cert_expiry, small-pr

#27168 Handle all single zone thermostats
  homeassistant/components/evohome/climate.py
  homeassistant/components/evohome/water_heater.py
Labels: cla-signed, integration: evohome, small-pr

#27063 Envisalink startup reconnect
  homeassistant/components/envisalink/__init__.py
  homeassistant/components/envisalink/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: envisalink, small-pr

#27047 Fix homekit temperaturesensor round
  homeassistant/components/homekit/type_sensors.py
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_type_thermostats.py
  tests/components/homekit/test_util.py
Labels: cla-signed, integration: homekit, small-pr

#27167 Support zone expanders in alarmdecoder
  homeassistant/components/alarmdecoder/__init__.py
  homeassistant/components/alarmdecoder/binary_sensor.py
Labels: cla-signed, integration: alarmdecoder, small-pr

#27109 Add device registry support to ecobee integration
  homeassistant/components/ecobee/binary_sensor.py
  homeassistant/components/ecobee/climate.py
  homeassistant/components/ecobee/const.py
  homeassistant/components/ecobee/sensor.py
  homeassistant/components/ecobee/weather.py
Labels: Hacktoberfest, cla-signed, integration: ecobee

#27086 WAQI add unique ID and availability
  homeassistant/components/waqi/sensor.py
Labels: Hacktoberfest, cla-signed, integration: waqi, small-pr

#26375 Add Airly integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/airly/__init__.py
  homeassistant/components/airly/air_quality.py
  homeassistant/components/airly/config_flow.py
  homeassistant/components/airly/const.py
  homeassistant/components/airly/manifest.json
  homeassistant/components/airly/strings.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/airly/__init__.py
  tests/components/airly/test_config_flow.py
  tests/fixtures/airly_no_station.json
  tests/fixtures/airly_valid_station.json
Labels: cla-signed, integration: airly, new-integration

#27194 Update connect-box to fix issue with attrs
  homeassistant/components/upc_connect/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, integration: upc_connect, small-pr

#27081 Add SecurityPanelController for alarm_control_panel to alexa
  CODEOWNERS
  homeassistant/components/alexa/capabilities.py
  homeassistant/components/alexa/entities.py
  homeassistant/components/alexa/errors.py
  homeassistant/components/alexa/handlers.py
  homeassistant/components/alexa/manifest.json
  tests/components/alexa/test_capabilities.py
  tests/components/alexa/test_smart_home.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: alexa

#27192 Add examples to lights service
  homeassistant/components/light/services.yaml
Labels: Hacktoberfest, cla-signed, core, small-pr

#27178 Improve evohome debug logging
  homeassistant/components/evohome/__init__.py
Labels: Hacktoberfest, cla-signed, integration: evohome, small-pr

#27163 Add device condition support to sensor entities
  homeassistant/components/sensor/device_condition.py
  homeassistant/components/sensor/device_trigger.py
  tests/components/sensor/test_device_condition.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: sensor

#27195 Fix validation when automation is saved from frontend
  homeassistant/components/automation/config.py
Labels: Hacktoberfest, cla-signed, core, integration: automation

#27181 Fix template fan turn_on action
  homeassistant/components/template/fan.py
Labels: Hacktoberfest, cla-signed, integration: template, small-pr

#27169 Fix tests running in hass.io image
  tests/test_requirements.py
Labels: Hacktoberfest, cla-signed, core, small-pr

#27204 Add service description to lock.open
  homeassistant/components/lock/services.yaml
Labels: cla-signed, core, small-pr

#27208 Fix ecobee binary sensor and sensor unique ids
  homeassistant/components/ecobee/binary_sensor.py
  homeassistant/components/ecobee/sensor.py
Labels: Hacktoberfest, cla-signed, integration: ecobee, small-pr

#27199 Add acceleration sensor to Homematic IP Cloud
  homeassistant/components/homematicip_cloud/binary_sensor.py
Labels: Hacktoberfest, cla-signed, integration: homematicip_cloud

#27203 Add improved scene support to the lock integration
  homeassistant/components/lock/reproduce_state.py
  tests/components/lock/test_reproduce_state.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: lock

#27202 Add improved scene support to the switch integration
  homeassistant/components/switch/reproduce_state.py
  tests/components/switch/test_reproduce_state.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: switch

#27103 Add turn_on method to ecobee climate platform
  homeassistant/components/ecobee/climate.py
Labels: Hacktoberfest, breaking change, cla-signed, integration: ecobee, small-pr

#27148 Add opentherm_gw config flow
  .coveragerc
  homeassistant/components/opentherm_gw/.translations/en.json
  homeassistant/components/opentherm_gw/.translations/nl.json
  homeassistant/components/opentherm_gw/__init__.py
  homeassistant/components/opentherm_gw/binary_sensor.py
  homeassistant/components/opentherm_gw/climate.py
  homeassistant/components/opentherm_gw/config_flow.py
  homeassistant/components/opentherm_gw/const.py
  homeassistant/components/opentherm_gw/manifest.json
  homeassistant/components/opentherm_gw/sensor.py
  homeassistant/components/opentherm_gw/strings.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/opentherm_gw/__init__.py
  tests/components/opentherm_gw/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: opentherm_gw

#27035 Add doods contains flags on areas to allow specifying overlap
  homeassistant/components/doods/image_processing.py
Labels: cla-signed, integration: doods

#27141 Guard against network errors for Dark Sky
  homeassistant/components/darksky/weather.py
  tests/components/darksky/test_weather.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: darksky, small-pr

#27217 Add guards for missing information in call stack frames
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/deprecation.py
  homeassistant/util/logging.py
  tests/helpers/test_config_validation.py
  tests/util/test_logging.py
Labels: Hacktoberfest, cla-signed, core

#27033 Add hive trv support
  homeassistant/components/hive/__init__.py
  homeassistant/components/hive/climate.py
  homeassistant/components/hive/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: hive

#27200 UniFi - Improve switch tests
  tests/components/unifi/test_device_tracker.py
  tests/components/unifi/test_switch.py
Labels: Hacktoberfest, cla-signed, has-tests, small-pr

#27226 Require Python >= 3.6.1
  homeassistant/bootstrap.py
  homeassistant/const.py
  tests/test_main.py
Labels: cla-signed, core, small-pr

#27222 Add improved scene support to the automation integration
  homeassistant/components/automation/reproduce_state.py
  tests/components/automation/test_reproduce_state.py
Labels: cla-signed, core, has-tests, integration: automation

#27216 Add missing homeassistant.set_location service documentation
  homeassistant/components/homeassistant/services.yaml
Labels: Hacktoberfest, cla-signed, core, small-pr

#27227 Add improved scene support to the fan integration
  homeassistant/components/fan/reproduce_state.py
  tests/components/fan/test_reproduce_state.py
Labels: cla-signed, core, has-tests, integration: fan

#27182 Add improved scene support to the light integration
  homeassistant/components/light/reproduce_state.py
  tests/components/light/test_reproduce_state.py
  tests/helpers/test_state.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: light

#27225 Improve error handling for influxdb integration
  homeassistant/components/influxdb/__init__.py
Labels: cla-signed, integration: influxdb, small-pr

#27224 Bump adb-shell to 0.0.4; bump androidtv to 0.0.30
  homeassistant/components/androidtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: androidtv, small-pr

#26864 Refactor Tradfri switch device
  .coveragerc
  homeassistant/components/tradfri/base_class.py
  homeassistant/components/tradfri/switch.py
Labels: cla-signed, integration: tradfri

#27089 Add initial state to Flux Switch
  homeassistant/components/flux/switch.py
  tests/components/flux/test_switch.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: flux, small-pr

#27096 Repair SolarEdge_local inverter fahrenheit temperature
  homeassistant/components/solaredge_local/sensor.py
Labels: Hacktoberfest, cla-signed, integration: solaredge_local, small-pr

#26840 Fix tahoma reversed closed status for non horizontal awnings
  homeassistant/components/tahoma/cover.py
Labels: cla-signed, integration: tahoma, small-pr

#27223 add script shortcut for activating scenes
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/script.py
  tests/helpers/test_script.py
Labels: cla-signed, core

#27231 Bump python-miio version
  homeassistant/components/xiaomi_miio/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: xiaomi_miio, small-pr

#27232 Add Xiaomi Air Humidifier CB1 (zhimi.humidifier.cb1) support
  homeassistant/components/xiaomi_miio/fan.py
Labels: cla-signed, integration: xiaomi_miio, small-pr

#27234 Add io:SomfyBasicContactIOSystemSensor to TaHoma component
  homeassistant/components/tahoma/__init__.py
  homeassistant/components/tahoma/sensor.py
Labels: cla-signed, integration: tahoma, small-pr

#27228 Add basic test support to Homematic IP Cloud
  homeassistant/components/homematicip_cloud/sensor.py
  tests/components/homematicip_cloud/conftest.py
  tests/components/homematicip_cloud/helper.py
  tests/components/homematicip_cloud/test_binary_sensors.py
  tests/components/homematicip_cloud/test_config_flow.py
  tests/components/homematicip_cloud/test_hap.py
  tests/components/homematicip_cloud/test_init.py
  tests/components/homematicip_cloud/test_lights.py
  tests/fixtures/homematicip_cloud.json
Labels: Hacktoberfest, cla-signed, has-tests, integration: homematicip_cloud, small-pr

#26579 Neato config flow
  .coveragerc
  CODEOWNERS
  homeassistant/components/neato/.translations/en.json
  homeassistant/components/neato/__init__.py
  homeassistant/components/neato/camera.py
  homeassistant/components/neato/config_flow.py
  homeassistant/components/neato/const.py
  homeassistant/components/neato/manifest.json
  homeassistant/components/neato/strings.json
  homeassistant/components/neato/switch.py
  homeassistant/components/neato/vacuum.py
  homeassistant/generated/config_flows.py
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/neato/__init__.py
  tests/components/neato/test_config_flow.py
  tests/components/neato/test_init.py
Labels: cla-signed, integration: neato

#27144 PS4 bump to renamed dependency
  homeassistant/components/ps4/__init__.py
  homeassistant/components/ps4/config_flow.py
  homeassistant/components/ps4/manifest.json
  homeassistant/components/ps4/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/ps4/test_config_flow.py
  tests/components/ps4/test_media_player.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: ps4, small-pr

#27250 Fix onvif PTZ service freeze
  homeassistant/components/onvif/camera.py
Labels: Hacktoberfest, cla-signed, integration: onvif, small-pr

#27229 UniFi - Bandwidth sensors
  homeassistant/components/unifi/.translations/en.json
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/const.py
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/sensor.py
  homeassistant/components/unifi/strings.json
  homeassistant/components/unifi/switch.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_sensor.py
  tests/components/unifi/test_switch.py
Labels: Hacktoberfest, breaking change, cla-signed, integration: unifi, new-platform

#27078 Switch on/off all lights, and wait for the result
  homeassistant/components/light/__init__.py
  homeassistant/helpers/entity.py
  tests/components/rflink/test_light.py
  tests/helpers/test_entity.py
Labels: Hacktoberfest, cla-signed, core, integration: light, small-pr

#27245 Refactor IKEA Tradfri, part 2
  homeassistant/components/tradfri/base_class.py
  homeassistant/components/tradfri/sensor.py
Labels: Hacktoberfest, breaking change, cla-signed, integration: tradfri, small-pr

#27249 Bump pybotvac and use new exceptions
  homeassistant/components/neato/.translations/en.json
  homeassistant/components/neato/__init__.py
  homeassistant/components/neato/camera.py
  homeassistant/components/neato/config_flow.py
  homeassistant/components/neato/const.py
  homeassistant/components/neato/manifest.json
  homeassistant/components/neato/strings.json
  homeassistant/components/neato/switch.py
  homeassistant/components/neato/vacuum.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/neato/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: neato

#27214 Add 'flash_length' to esphome light async_turn_off
  homeassistant/components/esphome/light.py
Labels: Hacktoberfest, cla-signed, integration: esphome, small-pr

#27215 Add missing documentation for some Hassio services
  homeassistant/components/hassio/services.yaml
Labels: Hacktoberfest, cla-signed, core

#27278 Fix Plex media_player.play_media service
  homeassistant/components/plex/media_player.py
  homeassistant/components/plex/server.py
Labels: Hacktoberfest, cla-signed, integration: plex

#27263 Validate generated device conditions
  homeassistant/components/binary_sensor/device_condition.py
  homeassistant/components/device_automation/toggle_entity.py
  homeassistant/components/light/device_condition.py
  homeassistant/components/sensor/device_condition.py
  homeassistant/components/switch/device_condition.py
Labels: Hacktoberfest, cla-signed, core, integration: binary_sensor, integration: device_automation, integration: light, integration: sensor, integration: switch, small-pr

#27260 Add attributes to neato integration
  homeassistant/components/neato/camera.py
  homeassistant/components/neato/switch.py
  homeassistant/components/neato/vacuum.py
Labels: Hacktoberfest, cla-signed, integration: neato

#27238 Add PTZ support to Foscam camera component
  .coveragerc
  CODEOWNERS
  homeassistant/components/foscam/camera.py
  homeassistant/components/foscam/const.py
  homeassistant/components/foscam/manifest.json
  homeassistant/components/foscam/services.yaml
Labels: Hacktoberfest, cla-signed, integration: foscam

#27287 Note snake_case state attribute name convention in entity docs
  homeassistant/helpers/entity.py
Labels: Hacktoberfest, cla-signed, core, small-pr

#27279 Upgrade pylint
  homeassistant/components/aftership/sensor.py
  homeassistant/components/axis/config_flow.py
  homeassistant/components/bayesian/binary_sensor.py
  homeassistant/components/bt_smarthub/device_tracker.py
  homeassistant/components/cert_expiry/helper.py
  homeassistant/components/ddwrt/device_tracker.py
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/esphome/climate.py
  homeassistant/components/esphome/config_flow.py
  homeassistant/components/esphome/cover.py
  homeassistant/components/esphome/fan.py
  homeassistant/components/esphome/light.py
  homeassistant/components/esphome/sensor.py
  homeassistant/components/esphome/switch.py
  homeassistant/components/homekit_controller/config_flow.py
  homeassistant/components/hue/config_flow.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/onkyo/media_player.py
  homeassistant/components/rmvtransport/sensor.py
  homeassistant/components/sabnzbd/sensor.py
  homeassistant/components/synology/camera.py
  homeassistant/components/tplink/device_tracker.py
  homeassistant/components/tradfri/config_flow.py
  homeassistant/components/upnp/sensor.py
  homeassistant/components/vacuum/__init__.py
  homeassistant/components/vallox/__init__.py
  homeassistant/components/wink/climate.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/fan.py
  homeassistant/components/zha/lock.py
  homeassistant/core.py
  homeassistant/helpers/config_entry_flow.py
  homeassistant/util/color.py
  homeassistant/util/dt.py
  pylintrc
  requirements_test.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed

#27282 Fix minor typo in docs/source/api/helpers.rst
  docs/source/api/helpers.rst
Labels: Hacktoberfest, cla-signed, small-pr

#27273 Fix the todoist integration
  CODEOWNERS
  homeassistant/components/todoist/calendar.py
  homeassistant/components/todoist/manifest.json
  homeassistant/components/todoist/services.yaml
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, integration: todoist

#27267 Fix fan service description typo
  homeassistant/components/fan/services.yaml
Labels: Hacktoberfest, cla-signed, core, small-pr

#27259 Refactor tradfri light
  homeassistant/components/tradfri/light.py
Labels: Hacktoberfest, cla-signed, integration: tradfri

#27286 Neato battery sensor
  .coveragerc
  homeassistant/components/neato/__init__.py
  homeassistant/components/neato/sensor.py
Labels: Hacktoberfest, cla-signed, integration: neato, new-platform

#27291 Remove Plex manual config flow step
  homeassistant/components/plex/config_flow.py
  homeassistant/components/plex/strings.json
  tests/components/plex/test_config_flow.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: plex, small-pr

#27294 Neato clean up
  homeassistant/components/neato/camera.py
  homeassistant/components/neato/switch.py
  homeassistant/components/neato/vacuum.py
Labels: Hacktoberfest, cla-signed, integration: neato

#27261 UniFi - Improve controller tests
  homeassistant/components/unifi/__init__.py
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/device_tracker.py
  homeassistant/components/unifi/sensor.py
  homeassistant/components/unifi/switch.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_device_tracker.py
  tests/components/unifi/test_init.py
  tests/components/unifi/test_sensor.py
  tests/components/unifi/test_switch.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: unifi, small-pr

#27264 Validate generated device triggers
  homeassistant/components/binary_sensor/device_trigger.py
  homeassistant/components/deconz/device_trigger.py
  homeassistant/components/device_automation/toggle_entity.py
  homeassistant/components/sensor/device_trigger.py
  homeassistant/components/zha/device_trigger.py
  script/scaffold/templates/device_trigger/integration/device_trigger.py
  script/scaffold/templates/device_trigger/tests/test_device_trigger.py
Labels: Hacktoberfest, cla-signed, core, integration: binary_sensor, integration: deconz, integration: device_automation, integration: sensor, integration: zha, small-pr

#27295 Improve speed websocket sends messages
  homeassistant/components/websocket_api/http.py
Labels: Hacktoberfest, cla-signed, core, integration: websocket_api, small-pr

#27300 Fix device condition scaffold
  script/scaffold/templates/device_condition/integration/device_condition.py
  script/scaffold/templates/device_condition/tests/test_device_condition.py
Labels: Hacktoberfest, cla-signed, small-pr

#27311 Making withings logs less noisy.
  homeassistant/components/withings/sensor.py
Labels: Hacktoberfest, by-code-owner, cla-signed, integration: withings, small-pr

#27240 Do not fail smtp notify service on connection error
  homeassistant/components/smtp/notify.py
Labels: Hacktoberfest, cla-signed, integration: smtp, small-pr

#27314 Move imports in transport_nsw component
  homeassistant/components/transport_nsw/sensor.py
Labels: Hacktoberfest, cla-signed, integration: transport_nsw, small-pr

#27313 Move imports in geo_rss_events component
  CODEOWNERS
  homeassistant/components/geo_rss_events/manifest.json
  homeassistant/components/geo_rss_events/sensor.py
  tests/components/geo_rss_events/test_sensor.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: geo_rss_events, small-pr

#27320 Move imports in feedreader component
  homeassistant/components/feedreader/__init__.py
Labels: Hacktoberfest, cla-signed, integration: feedreader, small-pr

#27323 Upgrade certifi to >=2019.9.11
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: Hacktoberfest, cla-signed, core, dependency-bump, small-pr

#27328 Align user name vs username
  homeassistant/components/transmission/strings.json
Labels: Hacktoberfest, cla-signed, integration: transmission, small-pr

#27325 Upgrade beautifulsoup4 to 4.8.1
  homeassistant/components/scrape/manifest.json
  homeassistant/components/scrape/sensor.py
  requirements_all.txt
Labels: Hacktoberfest, by-code-owner, cla-signed, integration: scrape, small-pr

#27322 Upgrade sqlalchemy to 1.3.9
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, core, dependency-bump, integration: recorder, integration: sql, small-pr

#27317 Fix Logi Circle cameras not responding to turn on/off commands
  homeassistant/components/logi_circle/camera.py
Labels: Hacktoberfest, by-code-owner, cla-signed, integration: logi_circle, small-pr

#27329 Updated frontend to 20191002.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, core, dependency-bump, integration: frontend, small-pr

#27330 Fix translations for binary_sensor triggers
  homeassistant/components/binary_sensor/device_trigger.py
  homeassistant/components/binary_sensor/strings.json
Labels: Hacktoberfest, cla-signed, core, integration: binary_sensor, small-pr

#27312 Google: Report all states on activating report state
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/report_state.py
  tests/components/google_assistant/test_report_state.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: google_assistant, small-pr

#27298 Add scene.apply service
  homeassistant/components/homeassistant/scene.py
  homeassistant/components/scene/__init__.py
  homeassistant/components/scene/services.yaml
  tests/components/homeassistant/test_scene.py
Labels: cla-signed

#27327 Improve Neato login process
  homeassistant/components/neato/__init__.py
Labels: Hacktoberfest, by-code-owner, cla-signed, integration: neato, small-pr

#27262 Validate generated device actions
  homeassistant/components/device_automation/toggle_entity.py
  homeassistant/components/zha/device_action.py
  script/scaffold/templates/device_action/tests/test_device_action.py
Labels: Hacktoberfest, cla-signed, integration: device_automation, integration: zha, small-pr

#27331 Cleanup handling of attributes for HomematicIP Cloud
  homeassistant/components/homematicip_cloud/binary_sensor.py
  homeassistant/components/homematicip_cloud/device.py
  homeassistant/components/homematicip_cloud/sensor.py
  homeassistant/components/homematicip_cloud/switch.py
  homeassistant/components/homematicip_cloud/weather.py
Labels: Hacktoberfest, by-code-owner, cla-signed, integration: homematicip_cloud

#27310 Fix connection issues with withings API by switching to a maintained codebase
  homeassistant/components/withings/common.py
  homeassistant/components/withings/config_flow.py
  homeassistant/components/withings/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/withings/common.py
  tests/components/withings/conftest.py
  tests/components/withings/test_common.py
  tests/components/withings/test_sensor.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: withings, small-pr

#27265 Include unit_of_measurement in sensor device trigger capabilities
  homeassistant/components/sensor/device_trigger.py
  tests/components/sensor/test_device_trigger.py
Labels: Hacktoberfest, cla-signed, core, integration: sensor, small-pr

#27340 UniFi - Improve config flow tests
  homeassistant/components/unifi/config_flow.py
  tests/components/deconz/test_config_flow.py
  tests/components/unifi/test_config_flow.py
  tests/components/unifi/test_init.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: unifi, small-pr

#27339 Run mypy in pre-commit
  .pre-commit-config.yaml
  azure-pipelines-ci.yml
  mypyrc
  setup.cfg
  tox.ini
Labels: Hacktoberfest, cla-signed, small-pr

#27348 Move imports in workday component
  homeassistant/components/workday/binary_sensor.py
Labels: Hacktoberfest, cla-signed, integration: workday, small-pr

#27349 Move imports in caldav component
  homeassistant/components/caldav/calendar.py
Labels: Hacktoberfest, cla-signed, integration: caldav, small-pr

#27345 Update zigpy-zigate to 0.4.1
  homeassistant/components/zha/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, dependency-bump, integration: zha, small-pr

#27211 Add documentation for logger.set_level service
  homeassistant/components/logger/services.yaml
Labels: Hacktoberfest, cla-signed, core

#27333 Support async validation of device trigger
  homeassistant/components/automation/__init__.py
  homeassistant/components/automation/config.py
  homeassistant/components/automation/device.py
  homeassistant/components/deconz/device_trigger.py
  homeassistant/components/zha/device_trigger.py
  tests/components/zha/test_device_trigger.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: automation, integration: deconz, integration: zha

#27365 deCONZ - Update discovery URL
  homeassistant/components/deconz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, dependency-bump, integration: deconz, small-pr

#27370 Updated frontend to 20191002.2
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, core, dependency-bump, integration: frontend, small-pr

#27362 Install requirements for all deps with tests
  homeassistant/components/epsonworkforce/sensor.py
  homeassistant/components/ign_sismologia/geo_location.py
  homeassistant/components/supla/__init__.py
  homeassistant/components/upnp/device.py
  homeassistant/package_constraints.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/upnp/test_init.py
  tests/components/zha/test_device_action.py
Labels: Hacktoberfest, cla-signed, core, integration: epsonworkforce, integration: ign_sismologia, integration: supla, small-pr

#27363 Migrate Neato to use top-level imports
  homeassistant/components/neato/__init__.py
  homeassistant/components/neato/camera.py
  homeassistant/components/neato/config_flow.py
  homeassistant/components/neato/const.py
  homeassistant/components/neato/sensor.py
  homeassistant/components/neato/vacuum.py
  tests/components/neato/test_config_flow.py
  tests/components/neato/test_init.py
Labels: Hacktoberfest, by-code-owner, cla-signed, has-tests, integration: neato, small-pr

#27369 Fix ecobee weather platform
  homeassistant/components/ecobee/const.py
  homeassistant/components/ecobee/weather.py
Labels: Hacktoberfest, by-code-owner, cla-signed, integration: ecobee

#27361 Move imports in vlc component
  homeassistant/components/vlc/media_player.py
Labels: Hacktoberfest, cla-signed, integration: vlc, small-pr

#27358 Move imports in season component
  homeassistant/components/season/sensor.py
Labels: Hacktoberfest, cla-signed, integration: season, small-pr

#27359 Move imports in nissan_leaf component
  homeassistant/components/nissan_leaf/__init__.py
Labels: Hacktoberfest, cla-signed, integration: nissan_leaf, small-pr

#27360 Move imports in netatmo component
  homeassistant/components/netatmo/__init__.py
  homeassistant/components/netatmo/binary_sensor.py
  homeassistant/components/netatmo/camera.py
  homeassistant/components/netatmo/climate.py
  homeassistant/components/netatmo/sensor.py
Labels: Hacktoberfest, cla-signed, integration: netatmo, small-pr
