Repository home-assistant/core, pull requests merged in 2020-11, with the labels that each got.

#42690 Optimise onewire sensor update method
  homeassistant/components/onewire/onewire_entities.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: onewire, small-pr

#42696 Bump envoy_reader version to 0.16.2
  homeassistant/components/enphase_envoy/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, dependency, dependency-bump, integration: enphase_envoy, small-pr

#42706 Run tox verbosely in Travis CI
  .travis.yml
Labels: cla-signed, small-pr

#42628 Remove classes in nx584 tests
  tests/components/nx584/test_binary_sensor.py
Labels: Hacktoberfest, cla-signed, code-quality, hacktoberfest-accepted, has-tests, integration: nx584, small-pr

#42705 Fix typo exceeded, change to exceed, in HomeKit
  homeassistant/components/homekit/__init__.py
  tests/components/homekit/test_homekit.py
Labels: cla-signed, code-quality, has-tests, integration: homekit, small-pr

#42647 Remove homekit cover precision workarounds
  homeassistant/components/homekit/type_covers.py
Labels: Hacktoberfest, by-code-owner, cla-signed, hacktoberfest-accepted, integration: homekit, small-pr

#42607 Bump pwmled to v1.6.6
  homeassistant/components/rpi_gpio_pwm/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, dependency, dependency-bump, hacktoberfest-accepted, integration: rpi_gpio_pwm, small-pr

#42679 Bump up ZHA dependencies
  homeassistant/components/zha/core/gateway.py
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zha/test_cover.py
  tests/components/zha/test_discover.py
  tests/components/zha/test_light.py
  tests/components/zha/test_switch.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, dependency, hacktoberfest-accepted, integration: zha, small-pr

#42714 Upgrade youtube_dl to version 2020.11.01.1
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: media_extractor, small-pr

#42701 Use pylutron_caseta 0.7.1
  homeassistant/components/lutron_caseta/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, cla-signed, dependency, dependency-bump, integration: lutron_caseta, small-pr

#42719 adding support for hardkernel odroid-c4
  machine/odroid-c4
Labels: cla-signed, new-integration, small-pr

#42724 0.117.2
  homeassistant/components/canary/camera.py
  homeassistant/components/cloudflare/manifest.json
  homeassistant/components/fibaro/climate.py
  homeassistant/components/geo_rss_events/manifest.json
  homeassistant/components/geo_rss_events/sensor.py
  homeassistant/components/lutron_caseta/manifest.json
  homeassistant/components/onvif/event.py
  homeassistant/components/rpi_gpio_pwm/manifest.json
  homeassistant/components/tasmota/sensor.py
  homeassistant/components/zha/core/gateway.py
  homeassistant/components/zha/manifest.json
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zha/test_cover.py
  tests/components/zha/test_discover.py
  tests/components/zha/test_light.py
  tests/components/zha/test_switch.py
Labels: cla-signed

#42726 Refactor ZHA light state restoration after a restart
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/core/channels/lighting.py
  homeassistant/components/zha/light.py
Labels: bugfix, by-code-owner, cla-signed, integration: zha

#42746 Add support for manual updating a data coordinator
  homeassistant/helpers/update_coordinator.py
  tests/helpers/test_update_coordinator.py
Labels: cla-signed, core, new-feature

#42666 Base image 2020.10.1
  CODEOWNERS
  azure-pipelines-release.yml
  build.json
  homeassistant/components/hassio/manifest.json
  script/hassfest/codeowners.py
Labels: Hacktoberfest, cla-signed, dependency, hacktoberfest-accepted, small-pr

#42738 Fix Vizio host string for zeroconf discovery
  homeassistant/components/vizio/config_flow.py
  tests/components/vizio/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: vizio, small-pr

#42539 Add verify_ssl option for connection setup to synology_dsm
  homeassistant/components/synology_dsm/__init__.py
  homeassistant/components/synology_dsm/config_flow.py
  homeassistant/components/synology_dsm/const.py
  homeassistant/components/synology_dsm/strings.json
  homeassistant/components/synology_dsm/translations/en.json
  tests/components/synology_dsm/test_config_flow.py
Labels: Hacktoberfest, cla-signed, hacktoberfest-accepted, has-tests, integration: synology_dsm, new-feature

#42734 Provide a more useful error message in evohome
  homeassistant/components/evohome/__init__.py
Labels: by-code-owner, cla-signed, code-quality, integration: evohome, small-pr

#42469 Add initial blueprint support
  CODEOWNERS
  homeassistant/components/automation/__init__.py
  homeassistant/components/automation/config.py
  homeassistant/components/automation/manifest.json
  homeassistant/components/blueprint/__init__.py
  homeassistant/components/blueprint/const.py
  homeassistant/components/blueprint/errors.py
  homeassistant/components/blueprint/importer.py
  homeassistant/components/blueprint/manifest.json
  homeassistant/components/blueprint/models.py
  homeassistant/components/blueprint/schemas.py
  homeassistant/components/blueprint/websocket_api.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/placeholder.py
  homeassistant/util/yaml/__init__.py
  homeassistant/util/yaml/dumper.py
  homeassistant/util/yaml/loader.py
  homeassistant/util/yaml/objects.py
  tests/components/automation/test_init.py
  tests/components/blueprint/__init__.py
  tests/components/blueprint/test_importer.py
  tests/components/blueprint/test_init.py
  tests/components/blueprint/test_models.py
  tests/components/blueprint/test_schemas.py
  tests/components/blueprint/test_websocket_api.py
  tests/fixtures/blueprint/community_post.json
  tests/helpers/test_placeholder.py
  tests/testing_config/blueprints/automation/in_folder/in_folder_blueprint.yaml
  tests/testing_config/blueprints/automation/test_event_service.yaml
  tests/util/test_yaml.py
Labels: Hacktoberfest, cla-signed, core, hacktoberfest-accepted, has-tests, integration: automation, integration: blueprint, new-feature, new-integration

#42747 Bump bimmer_connected to 0.7.10: fix login issues, add (PH)EV services
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: bmw_connected_drive, small-pr

#42727 Bump plexapi to 4.2.0
  homeassistant/components/plex/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: plex, small-pr

#42718 Use own CoAP lib and support for multicast updates
  CODEOWNERS
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/config_flow.py
  homeassistant/components/shelly/const.py
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/shelly/test_config_flow.py
Labels: cla-signed, integration: shelly, new-feature

#42760 Bump pyairvisual to 5.0.4
  homeassistant/components/airvisual/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: airvisual, small-pr

#42756 Drop usage of asynctests
  tests/components/onewire/__init__.py
  tests/components/onewire/test_init.py
Labels: cla-signed, code-quality, has-tests, integration: onewire, small-pr

#42770 Fix incorrect property usage for SimpliSafe
  homeassistant/components/simplisafe/alarm_control_panel.py
Labels: bugfix, by-code-owner, cla-signed, integration: simplisafe, small-pr

#42757 Upgrade pre-commit to 2.8.2
  requirements_test.txt
Labels: cla-signed, dependency, dependency-bump, small-pr

#42769 Fix existing synology_dsm config entries cannot be setup
  homeassistant/components/synology_dsm/__init__.py
Labels: bugfix, cla-signed, integration: synology_dsm, small-pr

#42774 Bump pyatmo to 4.2.0
  homeassistant/components/netatmo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: netatmo, small-pr

#42775 Fix broken 2fa authentication in synology_dsm
  homeassistant/components/synology_dsm/__init__.py
Labels: bugfix, cla-signed, integration: synology_dsm, small-pr

#42104 Add Hyperion config flow and tests
  homeassistant/components/hyperion/__init__.py
  homeassistant/components/hyperion/config_flow.py
  homeassistant/components/hyperion/const.py
  homeassistant/components/hyperion/light.py
  homeassistant/components/hyperion/manifest.json
  homeassistant/components/hyperion/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/ssdp.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/hyperion/__init__.py
  tests/components/hyperion/test_config_flow.py
  tests/components/hyperion/test_light.py
Labels: breaking-change, by-code-owner, cla-signed, hacktoberfest-accepted, has-tests, integration: hyperion, invalid

#42499 Add DPI Restriction switch to UniFi integration
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/const.py
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/manifest.json
  homeassistant/components/unifi/strings.json
  homeassistant/components/unifi/switch.py
  homeassistant/components/unifi/translations/en.json
  homeassistant/components/unifi/unifi_entity_base.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/unifi/test_config_flow.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_sensor.py
  tests/components/unifi/test_switch.py
Labels: Hacktoberfest, cla-signed, hacktoberfest-accepted, integration: unifi, new-feature

#42704 Remove unnecessary onewire variable
  homeassistant/components/onewire/onewire_entities.py
Labels: by-code-owner, cla-signed, code-quality, integration: onewire, small-pr

#42556 Add image support to nest SDM api
  homeassistant/components/ffmpeg/__init__.py
  homeassistant/components/ffmpeg/camera.py
  homeassistant/components/nest/camera_sdm.py
  homeassistant/components/nest/manifest.json
  tests/components/nest/camera_sdm_test.py
Labels: Hacktoberfest, by-code-owner, cla-signed, hacktoberfest-accepted, has-tests, integration: nest, new-feature

#42783 Fix shelly import
  homeassistant/components/shelly/config_flow.py
Labels: by-code-owner, cla-signed, code-quality, integration: shelly, small-pr

#42693 Catch unhandled exception in websocket_api
  homeassistant/components/websocket_api/http.py
Labels: Hacktoberfest, bugfix, cla-signed, core, hacktoberfest-accepted, integration: websocket_api, small-pr

#42780 Bump uEagle to 0.0.2
  homeassistant/components/rainforest_eagle/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: rainforest_eagle, small-pr

#42785 Migrate system health to use integration_platform
  homeassistant/components/lovelace/__init__.py
  homeassistant/components/lovelace/system_health.py
  homeassistant/components/system_health/__init__.py
  tests/components/lovelace/test_dashboard.py
  tests/components/lovelace/test_system_health.py
  tests/components/system_health/test_init.py
Labels: breaking-change, cla-signed, code-quality, core, has-tests, integration: lovelace, integration: system_health

#42786 Upgrade sentry-sdk to 0.19.2
  homeassistant/components/sentry/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: sentry, small-pr

#42460 Update definition of onewire device specifications
  homeassistant/components/onewire/const.py
  homeassistant/components/onewire/onewire_entities.py
  homeassistant/components/onewire/sensor.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, hacktoberfest-accepted, integration: onewire

#39839 Add support for OpenWeatherMap One Call API
  .coveragerc
  CODEOWNERS
  homeassistant/components/openweathermap/__init__.py
  homeassistant/components/openweathermap/config_flow.py
  homeassistant/components/openweathermap/const.py
  homeassistant/components/openweathermap/forecast_update_coordinator.py
  homeassistant/components/openweathermap/manifest.json
  homeassistant/components/openweathermap/sensor.py
  homeassistant/components/openweathermap/weather.py
  homeassistant/components/openweathermap/weather_update_coordinator.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/openweathermap/test_config_flow.py
Labels: breaking-change, cla-signed, has-tests, integration: openweathermap, new-feature

#42800 Filter rfxtrx replace devices in option flow on existing config entry
  homeassistant/components/rfxtrx/config_flow.py
Labels: bugfix, by-code-owner, cla-signed, integration: rfxtrx, small-pr

#42818 Fix rest sensors with resource templates
  homeassistant/components/rest/binary_sensor.py
  homeassistant/components/rest/sensor.py
  tests/components/rest/test_binary_sensor.py
  tests/components/rest/test_sensor.py
Labels: cla-signed, has-tests, integration: rest, small-pr

#42772 Force color or white mode exclusivity for Tasmota lights
  homeassistant/components/tasmota/light.py
  tests/components/tasmota/test_light.py
Labels: bugfix, by-code-owner, cla-signed, integration: tasmota, small-pr

#42788 Bump bimmer_connected to 0.7.11
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: bmw_connected_drive, small-pr

#42821 Fix evohome scheduling coroutines
  homeassistant/components/evohome/__init__.py
Labels: bugfix, cla-signed, integration: evohome, small-pr

#42611 Please set exact cryptography version cryptography==3.2
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Labels: Hacktoberfest, bugfix, cla-signed, core, hacktoberfest-accepted, small-pr

#42797 Default some entities to disabled
  homeassistant/components/onewire/onewire_entities.py
  homeassistant/components/onewire/sensor.py
  tests/components/onewire/test_entity_owserver.py
Labels: by-code-owner, cla-signed, has-tests, integration: onewire, small-pr

#42501 Fix nest subscriber by upgrading google_pubsub to newer library version
  homeassistant/components/google_pubsub/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, dependency, dependency-bump, hacktoberfest-accepted, integration: google_pubsub, small-pr

#42674 Fix broken maxcube component
  homeassistant/components/maxcube/binary_sensor.py
  homeassistant/components/maxcube/climate.py
Labels: Hacktoberfest, bugfix, cla-signed, hacktoberfest-accepted, integration: maxcube, small-pr

#42803 Cleanup dispatchers when unloading rfxtrx
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/rfxtrx/binary_sensor.py
  homeassistant/components/rfxtrx/const.py
  homeassistant/components/rfxtrx/cover.py
  homeassistant/components/rfxtrx/light.py
  homeassistant/components/rfxtrx/sensor.py
  homeassistant/components/rfxtrx/switch.py
Labels: bugfix, by-code-owner, cla-signed, integration: rfxtrx

#42824 0.117.3
  homeassistant/components/airvisual/manifest.json
  homeassistant/components/bmw_connected_drive/manifest.json
  homeassistant/components/evohome/__init__.py
  homeassistant/components/maxcube/binary_sensor.py
  homeassistant/components/maxcube/climate.py
  homeassistant/components/netatmo/manifest.json
  homeassistant/components/rest/binary_sensor.py
  homeassistant/components/rest/sensor.py
  homeassistant/components/rfxtrx/config_flow.py
  homeassistant/components/simplisafe/alarm_control_panel.py
  homeassistant/components/synology_dsm/__init__.py
  homeassistant/components/tasmota/light.py
  homeassistant/components/vizio/config_flow.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  setup.py
  tests/components/rest/test_binary_sensor.py
  tests/components/rest/test_sensor.py
  tests/components/tasmota/test_light.py
  tests/components/vizio/test_config_flow.py
Labels: cla-signed

#42833 Fix memory leak in Brother integration
  homeassistant/components/brother/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: brother, small-pr

#42657 Fix webhook when doorbird not yet setup
  homeassistant/components/doorbird/util.py
Labels: Hacktoberfest, cla-signed, hacktoberfest-accepted

#42796 Update greeclimate to 0.9.5
  homeassistant/components/gree/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: gree, small-pr

#42827 Split build release base + machine build
  azure-pipelines-release.yml
Labels: cla-signed

#42836 0.117.4
  homeassistant/components/brother/__init__.py
  homeassistant/components/gree/manifest.json
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/rfxtrx/binary_sensor.py
  homeassistant/components/rfxtrx/const.py
  homeassistant/components/rfxtrx/cover.py
  homeassistant/components/rfxtrx/light.py
  homeassistant/components/rfxtrx/sensor.py
  homeassistant/components/rfxtrx/switch.py
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, integration: brother, integration: gree, integration: rfxtrx, merging-to-master

#42815 Avoid the same task ending up multiple times in the ssdp asyncio.gather
  homeassistant/components/ssdp/__init__.py
Labels: cla-signed, integration: ssdp

#42843 Tweak Rachio integration strings
  homeassistant/components/rachio/strings.json
Labels: cla-signed, integration: rachio, small-pr

#42841 Clean up SimpliSafe binary sensor implementation
  homeassistant/components/simplisafe/binary_sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: simplisafe, small-pr

#42579 Properly unload listener for SimpliSafe config entry updates
  homeassistant/components/simplisafe/__init__.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, hacktoberfest-accepted, integration: simplisafe, small-pr

#42845 Fix missing sensor exceptions in SimpliSafe
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/binary_sensor.py
  homeassistant/components/simplisafe/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: simplisafe

#42850 Bump hatasmota to 0.0.25.1
  homeassistant/components/tasmota/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tasmota/test_common.py
  tests/components/tasmota/test_discovery.py
Labels: by-code-owner, cla-signed, dependency, has-tests, integration: tasmota, merging-to-rc, small-pr

#42846 Fix missing/incorrect SimpliSafe entities
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/binary_sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: simplisafe

#41802 Fix circular import of config_validation and template
  homeassistant/helpers/location.py
  homeassistant/helpers/template.py
Labels: Hacktoberfest, bugfix, cla-signed, core, hacktoberfest-accepted, small-pr

#42859 Revert "Fix broken maxcube component"
  homeassistant/components/maxcube/binary_sensor.py
  homeassistant/components/maxcube/climate.py
Labels: bugfix, cla-signed, integration: maxcube, small-pr

#42862 Tweak Shelly message to be clearer
  homeassistant/components/shelly/strings.json
  homeassistant/components/shelly/translations/en.json
Labels: bugfix, cla-signed, integration: shelly, small-pr

#42730 Fix evohome coroutine not allowed to be passed to HassJob
  homeassistant/components/evohome/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: evohome, small-pr

#42853 clarify range of max and min for intensity
  homeassistant/components/wled/services.yaml
Labels: bugfix, cla-signed, integration: wled, small-pr

#42858 Fix Netatmo public weather sensor bug
  homeassistant/components/netatmo/netatmo_entity_base.py
  homeassistant/components/netatmo/sensor.py
Labels: by-code-owner, cla-signed, integration: netatmo, small-pr

#42571 Add hdmi input attribute to AndroidTV
  homeassistant/components/androidtv/manifest.json
  homeassistant/components/androidtv/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/androidtv/patchers.py
  tests/components/androidtv/test_media_player.py
Labels: Hacktoberfest, cla-signed, hacktoberfest-accepted, has-tests, integration: androidtv, new-feature, small-pr

#42782 Distinguish Shutters and Awnings in Google Assistant
  homeassistant/components/google_assistant/const.py
Labels: bugfix, cla-signed, core, integration: google_assistant, small-pr

#42570 Add unique_id property to ARWN sensors
  homeassistant/components/arwn/sensor.py
Labels: Hacktoberfest, bugfix, cla-signed, hacktoberfest-accepted, integration: arwn, small-pr

#42861 Bump androidtv to 0.0.54 (fix current app for Google TV devices)
  homeassistant/components/androidtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: androidtv, small-pr

#42723 Move to Launch Library 2
  .coveragerc
  homeassistant/components/launch_library/const.py
  homeassistant/components/launch_library/manifest.json
  homeassistant/components/launch_library/sensor.py
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, integration: launch_library

#42875 Bump bimmer_connected to 0.7.12
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: bmw_connected_drive, small-pr

#42874 0.117.5
  homeassistant/components/bmw_connected_drive/manifest.json
  homeassistant/components/maxcube/binary_sensor.py
  homeassistant/components/maxcube/climate.py
  homeassistant/components/netatmo/netatmo_entity_base.py
  homeassistant/components/netatmo/sensor.py
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/binary_sensor.py
  homeassistant/components/simplisafe/sensor.py
  homeassistant/components/tasmota/manifest.json
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tasmota/test_common.py
  tests/components/tasmota/test_discovery.py
Labels: cla-signed, core, has-tests, integration: maxcube, integration: netatmo, integration: simplisafe, integration: tasmota, merging-to-master

#42176 Fix async_track_utc_time_change firing too early
  homeassistant/const.py
  homeassistant/helpers/event.py
  homeassistant/helpers/ratelimit.py
  tests/common.py
  tests/components/homekit_controller/conftest.py
  tests/helpers/test_event.py
Labels: Hacktoberfest, bugfix, cla-signed, core, hacktoberfest-accepted, small-pr

#42864 Cleanup onewire tests
  tests/components/onewire/test_entity_owserver.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: onewire, small-pr

#41893 Handle overriding of default apps for Android TV
  homeassistant/components/androidtv/media_player.py
  tests/components/androidtv/test_media_player.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, hacktoberfest-accepted, has-tests, integration: androidtv, small-pr

#42849 Tweak wording of Rachio options
  homeassistant/components/rachio/strings.json
  homeassistant/components/rachio/translations/en.json
Labels: cla-signed, integration: rachio, small-pr

#42508 Handle Shelly light domain for relay switches ( fw >=1.9 )
  .coveragerc
  homeassistant/components/shelly/light.py
  homeassistant/components/shelly/switch.py
  homeassistant/components/shelly/utils.py
Labels: Hacktoberfest, breaking-change, cla-signed, hacktoberfest-accepted, integration: shelly, new-feature, small-pr

#42895 Bump pyvlx to 0.2.18
  homeassistant/components/velux/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: velux, small-pr

#42894 Fix memory leak in websocket_api
  homeassistant/components/websocket_api/http.py
Labels: cla-signed, core, integration: websocket_api, small-pr

#42702 Add nest climate support for SDM API
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/climate.py
  homeassistant/components/nest/climate_legacy.py
  homeassistant/components/nest/climate_sdm.py
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nest/climate_sdm_test.py
Labels: by-code-owner, cla-signed, has-tests, integration: nest, new-feature

#42891 Add Spanish US voice to amazon polly
  homeassistant/components/amazon_polly/tts.py
Labels: cla-signed, integration: amazon_polly, new-feature, small-pr

#42804 Remove unneeded state restoration of the physical device in rpi_gpio_pwm integration
  CODEOWNERS
  homeassistant/components/rpi_gpio_pwm/light.py
  homeassistant/components/rpi_gpio_pwm/manifest.json
Labels: cla-signed, code-quality, integration: rpi_gpio_pwm, small-pr

#42530 Migrate RainMachine to DataUpdateCoordinator
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/binary_sensor.py
  homeassistant/components/rainmachine/const.py
  homeassistant/components/rainmachine/manifest.json
  homeassistant/components/rainmachine/sensor.py
  homeassistant/components/rainmachine/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, hacktoberfest-accepted, integration: rainmachine

#42087 Upgrade hadolint to 0.18.2
  .github/workflows/ci.yaml
Labels: Hacktoberfest, cla-signed, dependency, hacktoberfest-accepted, small-pr

#42877 Cloud: Recover when internet is not available yet
  homeassistant/components/cloud/client.py
  tests/components/cloud/test_client.py
Labels: bugfix, cla-signed, core, has-tests, integration: cloud, small-pr

#42897 Handle offline gateways in devolo Home Control
  homeassistant/components/devolo_home_control/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: devolo_home_control, small-pr

#42903 Bump pwmled to v1.6.7
  homeassistant/components/rpi_gpio_pwm/manifest.json
  requirements_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: rpi_gpio_pwm, small-pr

#42915 Fix dimming for ISY994 Z-Wave devices using percent instead of 8-bit brightness values
  homeassistant/components/isy994/const.py
  homeassistant/components/isy994/cover.py
  homeassistant/components/isy994/light.py
Labels: bugfix, by-code-owner, cla-signed, integration: isy994, small-pr

#42854 Allow ZHA coordinator binding/unbinding
  homeassistant/components/zha/api.py
  homeassistant/components/zha/core/helpers.py
Labels: bugfix, by-code-owner, cla-signed, integration: zha, small-pr

#42929 Upgrade Tibber library to 0.16.0
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: tibber, small-pr

#42820 Add Hyperion options flow and tests
  homeassistant/components/hyperion/__init__.py
  homeassistant/components/hyperion/config_flow.py
  homeassistant/components/hyperion/light.py
  homeassistant/components/hyperion/strings.json
  tests/components/hyperion/__init__.py
  tests/components/hyperion/test_config_flow.py
  tests/components/hyperion/test_light.py
Labels: by-code-owner, cla-signed, has-tests, integration: hyperion, new-feature

#42432 Change fritzbox title for better product family distinction
  homeassistant/components/fritzbox/manifest.json
Labels: Hacktoberfest, bugfix, cla-signed, dependency-bump, hacktoberfest-accepted, integration: fritzbox, small-pr

#40662 Upgrade pytest to 6.1.2
  requirements_test.txt
Labels: cla-signed, dependency, dependency-bump, small-pr

#42934 Generate random MQTT client ID
  homeassistant/components/mqtt/__init__.py
Labels: bugfix, by-code-owner, cla-signed, core, integration: mqtt, small-pr

#42919 Ensure instances of async_add_entities can be garbage collected
  homeassistant/helpers/entity_platform.py
Labels: cla-signed, core, small-pr

#42917 Ensure storage task loads are always garbage collected
  homeassistant/helpers/storage.py
Labels: cla-signed, core, small-pr

#42940 Bump aioshelly to 0.5.1
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: shelly, small-pr

#39697 Add config flow to epson and fix timeouts
  CODEOWNERS
  homeassistant/components/epson/__init__.py
  homeassistant/components/epson/config_flow.py
  homeassistant/components/epson/const.py
  homeassistant/components/epson/exceptions.py
  homeassistant/components/epson/manifest.json
  homeassistant/components/epson/media_player.py
  homeassistant/components/epson/strings.json
  homeassistant/components/epson/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/epson/__init__.py
  tests/components/epson/test_config_flow.py
Labels: breaking-change, cla-signed, has-tests, integration: epson

#42801 Change air pressure unit to hPa in OpenWeatherMap
  homeassistant/components/openweathermap/const.py
Labels: breaking-change, bugfix, cla-signed, integration: openweathermap, small-pr

#42941 Only call utcnow once during a state changed event fire
  homeassistant/core.py
  tests/test_core.py
Labels: cla-signed, core, small-pr

#42832 Add binary_sensor platform to onewire integration
  homeassistant/components/onewire/binary_sensor.py
  homeassistant/components/onewire/const.py
  homeassistant/components/onewire/onewire_entities.py
  tests/components/onewire/__init__.py
  tests/components/onewire/test_binary_sensor.py
  tests/components/onewire/test_entity_owserver.py
  tests/components/onewire/test_entity_sysbus.py
Labels: by-code-owner, cla-signed, has-tests, integration: onewire, new-feature, new-platform

#42594 Migrate Flu Near You to DataUpdateCoordinator
  homeassistant/components/flunearyou/__init__.py
  homeassistant/components/flunearyou/const.py
  homeassistant/components/flunearyou/sensor.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, hacktoberfest-accepted, integration: flunearyou

#42883 Add icons for OBiTALK status and reboot sensors
  homeassistant/components/obihai/sensor.py
Labels: cla-signed, integration: obihai, new-feature, small-pr

#42481 Use common strings in locative config flow
  homeassistant/components/locative/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, hacktoberfest-accepted, integration: locative, small-pr

#42478 Add not internet accessible to base strings for config flows
  homeassistant/components/dialogflow/strings.json
  homeassistant/components/geofency/strings.json
  homeassistant/components/gpslogger/strings.json
  homeassistant/components/ifttt/strings.json
  homeassistant/components/locative/strings.json
  homeassistant/components/mailgun/strings.json
  homeassistant/components/plaato/strings.json
  homeassistant/components/traccar/strings.json
  homeassistant/components/twilio/strings.json
  homeassistant/strings.json
Labels: Hacktoberfest, cla-signed, hacktoberfest-accepted

#42957 Bump aio_georss_gdacs to v0.4
  homeassistant/components/gdacs/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: gdacs, small-pr

#42965 Upgrade colorlog to 4.5.0
  homeassistant/scripts/check_config.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, small-pr

#42967 Disable legacy templates by default
  homeassistant/core.py
  tests/common.py
  tests/test_core.py
Labels: breaking-change, cla-signed, core, new-feature, small-pr

#42802 Bump hatasmota from 0.0.27
  homeassistant/components/tasmota/manifest.json
  homeassistant/components/tasmota/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tasmota/test_binary_sensor.py
  tests/components/tasmota/test_common.py
  tests/components/tasmota/test_device_trigger.py
  tests/components/tasmota/test_discovery.py
  tests/components/tasmota/test_mixins.py
  tests/components/tasmota/test_sensor.py
Labels: by-code-owner, cla-signed, has-tests, integration: tasmota, small-pr

#42604 Add test for register configuration for modbus switch
  tests/components/modbus/conftest.py
  tests/components/modbus/test_modbus_switch.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, code-quality, hacktoberfest-accepted, has-tests, integration: modbus, small-pr

#40108 Add support for Stretch product to Plugwise integration
  homeassistant/components/plugwise/binary_sensor.py
  homeassistant/components/plugwise/config_flow.py
  homeassistant/components/plugwise/const.py
  homeassistant/components/plugwise/gateway.py
  homeassistant/components/plugwise/sensor.py
  homeassistant/components/plugwise/strings.json
  homeassistant/components/plugwise/switch.py
  tests/components/plugwise/conftest.py
  tests/components/plugwise/test_config_flow.py
  tests/components/plugwise/test_sensor.py
  tests/components/plugwise/test_switch.py
  tests/fixtures/plugwise/stretch_v31/get_all_devices.json
  tests/fixtures/plugwise/stretch_v31/get_device_data/059e4d03c7a34d278add5c7a4a781d19.json
  tests/fixtures/plugwise/stretch_v31/get_device_data/5871317346d045bc9f6b987ef25ee638.json
  tests/fixtures/plugwise/stretch_v31/get_device_data/aac7b735042c4832ac9ff33aae4f453b.json
  tests/fixtures/plugwise/stretch_v31/get_device_data/cfe95cf3de1948c0b8955125bf754614.json
  tests/fixtures/plugwise/stretch_v31/get_device_data/d950b314e9d8499f968e6db8d82ef78c.json
  tests/fixtures/plugwise/stretch_v31/get_device_data/e1c884e7dede431dadee09506ec4f859.json
Labels: by-code-owner, cla-signed, has-tests, integration: plugwise, new-feature

#42972 Correct link to frontend repo
  homeassistant/components/frontend/__init__.py
Labels: cla-signed, code-quality, core, integration: frontend, small-pr

#41522 Add support for Broadlink SP4 series and the latest SP mini 3 devices
  homeassistant/components/broadlink/const.py
  homeassistant/components/broadlink/manifest.json
  homeassistant/components/broadlink/switch.py
  homeassistant/components/broadlink/updater.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, by-code-owner, cla-signed, hacktoberfest-accepted, integration: broadlink, new-feature

#42977 Remove debug prints from utcnow test
  tests/test_core.py
Labels: cla-signed, core, small-pr

#42962 Add onewire switches
  homeassistant/components/onewire/const.py
  homeassistant/components/onewire/onewire_entities.py
  homeassistant/components/onewire/switch.py
  tests/components/onewire/test_entity_owserver.py
  tests/components/onewire/test_switch.py
Labels: by-code-owner, cla-signed, has-tests, integration: onewire, new-feature, new-platform

#39678 Add zone_entity_id to Risco events
  homeassistant/components/risco/binary_sensor.py
  homeassistant/components/risco/const.py
  homeassistant/components/risco/sensor.py
  tests/components/risco/test_binary_sensor.py
  tests/components/risco/test_sensor.py
  tests/components/risco/util.py
Labels: by-code-owner, cla-signed, has-tests, integration: risco, new-feature, small-pr

#42973 Remove empty dependencies from manifest
  homeassistant/components/bmw_connected_drive/manifest.json
  homeassistant/components/flo/manifest.json
  homeassistant/components/flume/manifest.json
  homeassistant/components/fritzbox/manifest.json
  homeassistant/components/guardian/manifest.json
  homeassistant/components/openerz/manifest.json
  homeassistant/components/pi4ioe5v9xxxx/manifest.json
  homeassistant/components/roomba/manifest.json
  homeassistant/components/totalconnect/manifest.json
  homeassistant/components/upnp/manifest.json
  homeassistant/components/wiffi/manifest.json
Labels: cla-signed, dependency-bump

#42937 Increase update timeouts used in Shelly integration
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/const.py
Labels: bugfix, by-code-owner, cla-signed, integration: shelly

#42819 Fix Spotify scopes evaluation
  homeassistant/components/spotify/media_player.py
Labels: cla-signed, code-quality, integration: spotify, small-pr

#42562 Fix yeelight binary sensor unique ID
  homeassistant/components/yeelight/binary_sensor.py
  tests/components/yeelight/test_init.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, hacktoberfest-accepted, has-tests, integration: yeelight, small-pr

#41863 Correct logging and add test case for sharkiq
  homeassistant/components/sharkiq/update_coordinator.py
  tests/components/sharkiq/test_vacuum.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, hacktoberfest-accepted, has-tests, integration: sharkiq, small-pr

#42939 On HA restart parse last_reset as a datetime object
  homeassistant/components/utility_meter/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: utility_meter, small-pr

#42990 Adds feature to get also longitude and latitude of the triggerd entry…
  homeassistant/components/opensky/sensor.py
Labels: cla-signed, integration: opensky, small-pr

#41875 Allow options flows to be aborted
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: Hacktoberfest, bugfix, cla-signed, core, hacktoberfest-accepted

#41397 Make Jewish Calendar use DEVICE_CLASS_TIMSTAMP and remove timestamp attribute
  homeassistant/components/jewish_calendar/sensor.py
Labels: Hacktoberfest, breaking-change, cla-signed, hacktoberfest-accepted, integration: jewish_calendar, new-feature, small-pr

#42995 Upgrade sisyphus-control dependency to 3.0
  homeassistant/components/sisyphus/manifest.json
  requirements_all.txt
Labels: breaking-change, by-code-owner, cla-signed, dependency, dependency-bump, integration: sisyphus, small-pr

#40619 Use strings instead of f-strings for constants
  homeassistant/components/accuweather/const.py
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/buienradar/sensor.py
  homeassistant/components/comfoconnect/sensor.py
  homeassistant/components/darksky/sensor.py
  homeassistant/components/isy994/const.py
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/tellduslive/sensor.py
  homeassistant/components/zha/core/channels/smartenergy.py
  homeassistant/const.py
  tests/components/accuweather/test_sensor.py
  tests/components/dsmr/test_sensor.py
Labels: cla-signed

#42728 Fix Neurio Sensor by making the sensor ID required
  homeassistant/components/neurio_energy/sensor.py
Labels: breaking-change, bugfix, cla-signed, integration: neurio_energy, small-pr

#42999 Fix flaky epson CI
  tests/components/epson/test_config_flow.py
Labels: cla-signed, has-tests, integration: epson, small-pr

#42955 Update nest SDM climate simplifying support for eco mode
  homeassistant/components/nest/climate_sdm.py
  tests/components/nest/climate_sdm_test.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: nest, small-pr

#40181 Add more units to distance conversion util
  homeassistant/components/proximity/__init__.py
  homeassistant/util/distance.py
  tests/util/test_distance.py
Labels: cla-signed

#42407 Fix enigma2 off state
  homeassistant/components/enigma2/media_player.py
Labels: Hacktoberfest, cla-signed, hacktoberfest-accepted, integration: enigma2, small-pr

#43001 Replace lock bot with GitHub Action
  .github/lock.yml
  .github/workflows/lock.yml
Labels: cla-signed, small-pr

#42994 Replace stale bot with GitHub Action
  .github/stale.yml
  .github/workflows/stale.yml
Labels: cla-signed, code-quality, small-pr

#42324 Add device trigger support for device trackers
  homeassistant/components/device_tracker/device_trigger.py
  homeassistant/components/device_tracker/strings.json
  homeassistant/components/device_tracker/translations/en.json
  homeassistant/components/zone/trigger.py
  tests/components/device_tracker/test_device_trigger.py
Labels: Hacktoberfest, cla-signed, core, hacktoberfest-accepted, has-tests, integration: device_tracker, integration: zone, new-feature

#42944 Update devolo-home-control-api to 0.16.0
  homeassistant/components/devolo_home_control/__init__.py
  homeassistant/components/devolo_home_control/config_flow.py
  homeassistant/components/devolo_home_control/const.py
  homeassistant/components/devolo_home_control/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/devolo_home_control/test_config_flow.py
Labels: cla-signed

#42887 Force color or white mode exclusivity for MQTT lights
  homeassistant/components/mqtt/light/schema_basic.py
  tests/components/mqtt/test_light.py
Labels: by-code-owner, cla-signed, core, has-tests, integration: mqtt, small-pr

#42685 Remove temporary variable from supported_features
  homeassistant/components/ads/light.py
  homeassistant/components/bond/light.py
  homeassistant/components/control4/light.py
  homeassistant/components/lcn/light.py
  homeassistant/components/nest/camera_sdm.py
  homeassistant/components/spider/climate.py
  homeassistant/components/tuya/cover.py
  homeassistant/components/tuya/fan.py
  homeassistant/components/xbox/media_player.py
Labels: Hacktoberfest, cla-signed, hacktoberfest-accepted

#42421 Add ozw config flow add-on management
  homeassistant/components/hassio/__init__.py
  homeassistant/components/ozw/__init__.py
  homeassistant/components/ozw/config_flow.py
  homeassistant/components/ozw/const.py
  homeassistant/components/ozw/strings.json
  homeassistant/components/ozw/translations/en.json
  tests/components/ozw/conftest.py
  tests/components/ozw/test_config_flow.py
  tests/components/ozw/test_init.py
Labels: Hacktoberfest, by-code-owner, cla-signed, core, hacktoberfest-accepted, integration: hassio, integration: ozw

#42581 Deprecate YAML config for AirVisual (0.119 removal)
  homeassistant/components/airvisual/__init__.py
  homeassistant/components/airvisual/config_flow.py
  tests/components/airvisual/test_config_flow.py
Labels: Hacktoberfest, breaking-change, by-code-owner, cla-signed, hacktoberfest-accepted, has-tests, integration: airvisual, small-pr

#42899 Support datetime sensor in time trigger
  homeassistant/components/homeassistant/triggers/time.py
  homeassistant/helpers/config_validation.py
  tests/components/homeassistant/triggers/test_time.py
  tests/helpers/test_config_validation.py
Labels: cla-signed, core, has-tests, integration: homeassistant, new-feature

#43010 Remove iAlarm integration (ADR-0004)
  .coveragerc
  homeassistant/components/ialarm/__init__.py
  homeassistant/components/ialarm/alarm_control_panel.py
  homeassistant/components/ialarm/manifest.json
  requirements_all.txt
Labels: breaking-change, cla-signed, integration: ialarm, remove-platform, small-pr

#42419 Add data entry flow show progress step
  homeassistant/data_entry_flow.py
  tests/test_data_entry_flow.py
Labels: Hacktoberfest, cla-signed, core, hacktoberfest-accepted

#43007 Obtain zone entity id in Risco sensors through entity registry
  homeassistant/components/risco/binary_sensor.py
  homeassistant/components/risco/const.py
  homeassistant/components/risco/entity.py
  homeassistant/components/risco/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: risco, small-pr

#43011 Fix vasttrafik sensor displaying incorrect departure times
  homeassistant/components/vasttrafik/sensor.py
Labels: bugfix, cla-signed, integration: vasttrafik, small-pr

#42667 Extend WS API result when enabling an entity
  homeassistant/components/config/entity_registry.py
  homeassistant/config_entries.py
  tests/components/config/test_entity_registry.py
  tests/components/tasmota/test_sensor.py
  tests/test_config_entries.py
Labels: Hacktoberfest, cla-signed, core, hacktoberfest-accepted, integration: config, new-feature, small-pr
