Repository home-assistant/core, pull requests merged in 2020-02, with the labels that each got.

#31369 Updated wemo lights fix for #31360
  homeassistant/components/wemo/light.py
Labels: cla-signed, integration: wemo, small-pr

#30961 Fix auto_bypass in alarmdecoder
  homeassistant/components/alarmdecoder/__init__.py
  homeassistant/components/alarmdecoder/alarm_control_panel.py
Labels: cla-signed, integration: alarmdecoder, small-pr

#28712 Add totalconnect zones as binary sensors
  CODEOWNERS
  homeassistant/components/totalconnect/__init__.py
  homeassistant/components/totalconnect/alarm_control_panel.py
  homeassistant/components/totalconnect/binary_sensor.py
  homeassistant/components/totalconnect/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: totalconnect, new-platform

#31311 Add Tahoma lock support
  homeassistant/components/tahoma/__init__.py
  homeassistant/components/tahoma/lock.py
Labels: cla-signed, integration: tahoma, new-platform

#30922 Run mypy in pre-commit, through a pyenv/virtualenv enabler wrapper script
  .pre-commit-config-all.yaml
  .pre-commit-config.yaml
  azure-pipelines-ci.yml
  requirements_test_pre_commit.txt
  script/gen_requirements_all.py
  script/run-in-env.sh
  tox.ini
Labels: cla-signed, small-pr

#31362 deCONZ - Add support for new switch type
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/light.py
  tests/components/deconz/test_light.py
  tests/components/deconz/test_switch.py
Labels: cla-signed, has-tests, integration: deconz, small-pr

#31368 Remove hour delay before checking for updates
  homeassistant/components/updater/__init__.py
  homeassistant/components/updater/binary_sensor.py
  homeassistant/helpers/update_coordinator.py
  tests/components/updater/test_init.py
  tests/helpers/test_update_coordinator.py
Labels: cla-signed, core, has-tests, integration: updater

#31373 Add play, pause, previous and next track to kef
  homeassistant/components/kef/manifest.json
  homeassistant/components/kef/media_player.py
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: kef, small-pr

#31234 Update BraviaRC to use a new backend library
  homeassistant/components/braviatv/manifest.json
  homeassistant/components/braviatv/media_player.py
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: braviatv, integration: braviatv, integration: braviatv, small-pr

#31378 deCONZ - Services normalize bridge id
  homeassistant/components/deconz/services.py
  requirements_test_pre_commit.txt
Labels: cla-signed, integration: deconz, small-pr

#31381 deCONZ - Improve config flow logging
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/deconz_event.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deconz/services.py
Labels: cla-signed, integration: deconz, small-pr

#31382 UniFi - improved logging when poor switch data is involved
  homeassistant/components/unifi/switch.py
Labels: cla-signed, integration: unifi, small-pr

#31287 Add temperature and humidity to xiaomi miio air quality monitor
  homeassistant/components/xiaomi_miio/air_quality.py
Labels: cla-signed, integration: xiaomi_miio, small-pr

#31385 Revert "Bump alarmdecoder to 1.13.9"
  homeassistant/components/alarmdecoder/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: alarmdecoder, small-pr

#31390 Upgrade importlib-metadata to 1.5.0
  homeassistant/package_constraints.txt
  requirements_all.txt
  setup.py
Labels: cla-signed, core, dependency-bump, small-pr

#31375 Filter int in fan speed_list when yielding RangeController in Alexa
  homeassistant/components/alexa/capabilities.py
  tests/components/alexa/test_smart_home.py
Labels: by-code-owner, cla-signed, core, integration: alexa, small-pr

#31394 Upgrade sendgrid to 6.1.1
  homeassistant/components/sendgrid/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: sendgrid, small-pr

#31392 Upgrade holidays to 0.10.1
  homeassistant/components/workday/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: workday, small-pr

#31403 Fix magic cube awake gesture
  homeassistant/components/deconz/deconz_event.py
  tests/components/deconz/test_deconz_event.py
Labels: cla-signed, has-tests, integration: deconz, small-pr

#31391 Upgrade discord.py to 1.3.1
  homeassistant/components/discord/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: discord, small-pr

#31393 Upgrade praw to 6.5.1
  homeassistant/components/reddit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: reddit, small-pr

#31408 Add unique_id to essent sensors
  homeassistant/components/essent/sensor.py
Labels: cla-signed, integration: essent, small-pr

#31401 Catch device not found in device automations
  homeassistant/components/device_automation/__init__.py
  homeassistant/components/device_automation/exceptions.py
  tests/components/device_automation/test_init.py
Labels: cla-signed, has-tests, integration: device_automation

#31411 Upgrade numpy to 1.18.1
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/opencv/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: iqvia, integration: opencv, integration: tensorflow, integration: trend, small-pr

#31406 Update pyhomematic to 0.1.64
  homeassistant/components/homematic/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: homematic, small-pr

#31412 Fix rflink commands containing equals sign
  homeassistant/components/rflink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: rflink, small-pr

#30986 Add Salt Fiber Box device tracker
  .coveragerc
  CODEOWNERS
  homeassistant/components/salt/__init__.py
  homeassistant/components/salt/device_tracker.py
  homeassistant/components/salt/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: salt, new-integration

#31388 Upgrade alpha_vantage to 2.1.3
  homeassistant/components/alpha_vantage/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: alpha_vantage, small-pr

#28898 Search specific train in Nederlandse Spoorwegen
  homeassistant/components/nederlandse_spoorwegen/sensor.py
Labels: cla-signed, integration: nederlandse_spoorwegen, small-pr

#31023 Add SUPPORT_VOLUME_STEP for older Pioneer receivers
  homeassistant/components/pioneer/media_player.py
Labels: cla-signed, integration: pioneer, small-pr

#31410 deCONZ - Library cleanup
  homeassistant/components/deconz/deconz_device.py
  homeassistant/components/deconz/deconz_event.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/manifest.json
  homeassistant/components/deconz/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/deconz/test_binary_sensor.py
  tests/components/deconz/test_climate.py
  tests/components/deconz/test_cover.py
  tests/components/deconz/test_deconz_event.py
  tests/components/deconz/test_light.py
  tests/components/deconz/test_sensor.py
  tests/components/deconz/test_switch.py
Labels: cla-signed, has-tests, integration: deconz, small-pr

#31416 Fix device name Google Assistant when using aliases
  homeassistant/components/google_assistant/helpers.py
  tests/components/cloud/test_client.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_smart_home.py
Labels: breaking change, cla-signed, core, has-tests, integration: google_assistant, small-pr

#31418 Fix volume_set for webostv
  homeassistant/components/webostv/media_player.py
Labels: by-code-owner, cla-signed, integration: webostv, small-pr

#31413 Emulated Hue + Alexa: Fix devices not discovered and error response (#30013 & #29899)
  homeassistant/components/emulated_hue/hue_api.py
  tests/components/emulated_hue/test_hue_api.py
Labels: cla-signed, has-tests, integration: emulated_hue, small-pr

#31370 Add dump service to MQTT integration
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/services.yaml
  tests/components/mqtt/test_init.py
Labels: cla-signed, core, has-tests, integration: mqtt

#31402 Fix service annotations
  homeassistant/components/input_select/__init__.py
  homeassistant/components/media_player/__init__.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/service.py
  tests/helpers/test_service.py
Labels: cla-signed, core, integration: input_select, integration: media_player

#31324 Streamline SimpliSafe data and token management
  homeassistant/components/simplisafe/__init__.py
Labels: by-code-owner, cla-signed, integration: simplisafe

#31423 Fix usage of deprecated attr option in auth models
  homeassistant/auth/models.py
Labels: cla-signed, core, small-pr

#31417 Bump pyvizio version and add additional device info
  homeassistant/components/vizio/manifest.json
  homeassistant/components/vizio/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/vizio/conftest.py
  tests/components/vizio/const.py
  tests/components/vizio/test_media_player.py
Labels: by-code-owner, cla-signed, has-tests, integration: vizio, small-pr

#31428 Pass correct config to updater
  homeassistant/components/updater/__init__.py
Labels: cla-signed, core, integration: updater, small-pr

#31434 Add guard clause for discovery_info to tahoma platforms
  homeassistant/components/tahoma/binary_sensor.py
  homeassistant/components/tahoma/cover.py
  homeassistant/components/tahoma/scene.py
  homeassistant/components/tahoma/sensor.py
  homeassistant/components/tahoma/switch.py
Labels: cla-signed, integration: tahoma, small-pr

#30971 Update NSAPI to 3.0.2
  homeassistant/components/nederlandse_spoorwegen/manifest.json
  homeassistant/components/nederlandse_spoorwegen/sensor.py
  requirements_all.txt
Labels: breaking change, by-code-owner, cla-signed, integration: nederlandse_spoorwegen

#31435 Add color to light template
  homeassistant/components/template/light.py
  tests/components/template/test_light.py
Labels: by-code-owner, cla-signed, has-tests, integration: template

#31430 Clean up Tahoma smartlock
  homeassistant/components/tahoma/lock.py
Labels: cla-signed, integration: tahoma, new-platform

#31441 Fix issue with Notion dispatcher topic
  homeassistant/components/notion/const.py
Labels: by-code-owner, cla-signed, integration: notion, small-pr

#31440 Fix issue with IQVIA dispatcher topic
  homeassistant/components/iqvia/const.py
Labels: by-code-owner, cla-signed, integration: iqvia, small-pr

#31442 Fix issue with WWLLN dispatcher topic
  homeassistant/components/wwlln/geo_location.py
Labels: by-code-owner, cla-signed, integration: wwlln, small-pr

#31439 Fix issues with Ambient PWS dispatcher topic
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/ambient_station/const.py
Labels: by-code-owner, cla-signed, integration: ambient_station, small-pr

#31415 Add missing await to HMIPC
  homeassistant/components/homematicip_cloud/__init__.py
  homeassistant/components/homematicip_cloud/hap.py
Labels: by-code-owner, cla-signed, has-tests, integration: homematicip_cloud, small-pr

#31248 Samsung TV refinements
  homeassistant/components/samsungtv/__init__.py
  homeassistant/components/samsungtv/config_flow.py
  homeassistant/components/samsungtv/const.py
  homeassistant/components/samsungtv/manifest.json
  homeassistant/components/samsungtv/media_player.py
  homeassistant/components/samsungtv/strings.json
  homeassistant/generated/ssdp.py
  tests/components/samsungtv/test_config_flow.py
  tests/components/samsungtv/test_init.py
  tests/components/samsungtv/test_media_player.py
Labels: by-code-owner, cla-signed, integration: samsungtv, small-pr

#31379 Add timeout attribute for send files
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/telegram_bot/services.yaml
Labels: cla-signed, integration: telegram_bot, small-pr

#31344 Fix misspelled danfoss_air sensor names
  homeassistant/components/danfoss_air/sensor.py
Labels: breaking change, cla-signed, integration: danfoss_air, small-pr

#31366 Fix theme color
  homeassistant/components/frontend/__init__.py
Labels: cla-signed, core, integration: frontend, small-pr

#31444 Update StepSpeaker and Speaker interfaces in Alexa
  homeassistant/components/alexa/capabilities.py
  homeassistant/components/alexa/entities.py
  tests/components/alexa/test_smart_home.py
Labels: by-code-owner, cla-signed, core, has-tests, integration: alexa

#31397 Keep track of the derivative for unit_time
  homeassistant/components/derivative/sensor.py
  tests/components/derivative/test_sensor.py
Labels: by-code-owner, cla-signed, integration: derivative

#31450 Remove Alexa.InputController from devices without supported inputs in Alexa
  homeassistant/components/alexa/capabilities.py
  homeassistant/components/alexa/entities.py
  tests/components/alexa/test_smart_home.py
Labels: by-code-owner, cla-signed, core, has-tests, integration: alexa, small-pr

#31453 Bump pyvizio version for bug fixes
  homeassistant/components/vizio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: vizio, small-pr

#31460 Updated frontend to 20200130.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#31457 Update libpurecool upstream library to latest version
  homeassistant/components/dyson/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: dyson, small-pr

#31463 Update vizio host check to handle entries that don't have port
  homeassistant/components/vizio/config_flow.py
  homeassistant/components/vizio/strings.json
  tests/components/vizio/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: vizio, small-pr

#29927 Add config flow to Meteo-France
  .coveragerc
  CODEOWNERS
  homeassistant/components/meteo_france/.translations/en.json
  homeassistant/components/meteo_france/__init__.py
  homeassistant/components/meteo_france/config_flow.py
  homeassistant/components/meteo_france/const.py
  homeassistant/components/meteo_france/manifest.json
  homeassistant/components/meteo_france/sensor.py
  homeassistant/components/meteo_france/strings.json
  homeassistant/components/meteo_france/weather.py
  homeassistant/generated/config_flows.py
  requirements_test_all.txt
  tests/components/meteo_france/__init__.py
  tests/components/meteo_france/test_config_flow.py
Labels: breaking change, cla-signed, has-tests, integration: meteo_france

#31427 Log warning when entities referenced in service call not found
  homeassistant/components/amcrest/__init__.py
  homeassistant/components/denonavr/media_player.py
  homeassistant/components/insteon/schemas.py
  homeassistant/components/lifx/light.py
  homeassistant/components/tts/__init__.py
  homeassistant/components/webostv/media_player.py
  homeassistant/const.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/service.py
  tests/components/google_translate/test_tts.py
  tests/components/marytts/test_tts.py
  tests/components/tts/test_init.py
  tests/components/voicerss/test_tts.py
  tests/components/yandextts/test_tts.py
  tests/helpers/test_entity_component.py
  tests/helpers/test_service.py
Labels: breaking change, cla-signed, core

#31467 Fix Hue sensor coordinator reference
  homeassistant/components/hue/sensor_base.py
Labels: by-code-owner, cla-signed, integration: hue, small-pr

#31468 Fix iCloud device battery level can be None
  homeassistant/components/icloud/account.py
Labels: by-code-owner, cla-signed, integration: icloud, small-pr

#31454 Use entity.async_request_call in service helper
  homeassistant/components/rflink/cover.py
  homeassistant/components/rflink/light.py
  homeassistant/components/rflink/switch.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/service.py
  tests/helpers/test_entity_platform.py
  tests/helpers/test_service.py
Labels: cla-signed, core

#31452 Add brightness_step to light.turn_on
  homeassistant/components/light/__init__.py
  homeassistant/components/light/intent.py
  homeassistant/components/light/services.yaml
  homeassistant/components/xiaomi_miio/light.py
  tests/components/light/test_init.py
  tests/components/rflink/test_light.py
  tests/testing_config/custom_components/test/light.py
Labels: cla-signed, core, docs-missing, has-tests, integration: light

#31446 deCONZ - Revert from using disabled_by when setting options
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/climate.py
  homeassistant/components/deconz/deconz_device.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/sensor.py
Labels: cla-signed, integration: deconz, small-pr

#31480 Re-branding of Hass.io panel to Supervisor
  homeassistant/components/hassio/__init__.py
  tests/components/hassio/test_init.py
Labels: breaking change, cla-signed, core, has-tests, integration: hassio, small-pr

#31474 Automation device/entity extraction to include triggers + conditions
  homeassistant/components/automation/__init__.py
  tests/components/automation/test_init.py
  tests/components/search/test_init.py
Labels: cla-signed, core, has-tests, integration: automation

#31491 Remove tests for deprecated key
  tests/components/google_assistant/test_http.py
Labels: cla-signed, core, has-tests, small-pr

#31492 Fix Google API key test
  tests/components/google_assistant/test_init.py
Labels: cla-signed, core, has-tests, small-pr

#31494 Check for known Hue vulnerability
  homeassistant/components/hue/__init__.py
  tests/components/hue/test_init.py
Labels: by-code-owner, cla-signed, has-tests, integration: hue, small-pr

#31502 Updated frontend to 20200130.2
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#31501 Move program_mode check
  homeassistant/components/radiotherm/climate.py
Labels: cla-signed, integration: radiotherm, small-pr

#31506 Sonos services to work without admin access
  homeassistant/components/sonos/media_player.py
  tests/components/sonos/conftest.py
  tests/components/sonos/test_media_player.py
Labels: cla-signed, has-tests, integration: sonos, small-pr

#31235 Add GDACS feed integration
  CODEOWNERS
  homeassistant/components/gdacs/.translations/en.json
  homeassistant/components/gdacs/__init__.py
  homeassistant/components/gdacs/config_flow.py
  homeassistant/components/gdacs/const.py
  homeassistant/components/gdacs/geo_location.py
  homeassistant/components/gdacs/manifest.json
  homeassistant/components/gdacs/sensor.py
  homeassistant/components/gdacs/strings.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/gdacs/__init__.py
  tests/components/gdacs/conftest.py
  tests/components/gdacs/test_config_flow.py
  tests/components/gdacs/test_geo_location.py
  tests/components/gdacs/test_init.py
  tests/components/gdacs/test_sensor.py
Labels: cla-signed, has-tests, integration: gdacs, new-integration

#31519 Update link when IO in event loop
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
Labels: cla-signed, core, small-pr

#31525 Remove the liveboxplaytv integration (ADR0004)
  .coveragerc
  CODEOWNERS
  homeassistant/components/liveboxplaytv/__init__.py
  homeassistant/components/liveboxplaytv/manifest.json
  homeassistant/components/liveboxplaytv/media_player.py
  requirements_all.txt
Labels: cla-signed, integration: liveboxplaytv, remove-platform, small-pr

#31521 Fix automation sun import
  homeassistant/components/automation/__init__.py
Labels: cla-signed, core, integration: automation, small-pr

#31534 Updated the provider name to blockchain.com
  homeassistant/components/blockchain/manifest.json
  homeassistant/components/blockchain/sensor.py
Labels: cla-signed, integration: blockchain, small-pr

#31528 Changed provider name to blockchain.com for bitcoin
  homeassistant/components/bitcoin/sensor.py
Labels: cla-signed, integration: bitcoin, small-pr

#31522 Fix migrating huawei_lte entry without recipient
  homeassistant/components/huawei_lte/__init__.py
Labels: cla-signed, integration: huawei_lte, small-pr

#31538 Limit OAuth scopes for Netatmo and Home Assistant Cloud
  homeassistant/components/netatmo/config_flow.py
  tests/components/netatmo/test_config_flow.py
Labels: cla-signed, integration: netatmo, small-pr

#31526 Only normalise Garmin connect data to minutes if the value is not None
  homeassistant/components/garmin_connect/sensor.py
Labels: cla-signed, integration: garmin_connect, small-pr

#31533 Fix iCloud determine_interval: add default interval to max_interval
  homeassistant/components/icloud/account.py
Labels: by-code-owner, cla-signed, integration: icloud, small-pr

#31544 Deprecate old netatmo keys
  homeassistant/components/netatmo/__init__.py
Labels: cla-signed, integration: netatmo, small-pr

#31471 Update the update coordinator API to make it easier to use
  homeassistant/components/hue/light.py
  homeassistant/components/hue/sensor_base.py
  homeassistant/components/updater/__init__.py
  homeassistant/components/updater/binary_sensor.py
  homeassistant/helpers/debounce.py
  homeassistant/helpers/update_coordinator.py
  tests/components/hue/test_light.py
  tests/helpers/test_debounce.py
  tests/helpers/test_update_coordinator.py
Labels: by-code-owner, cla-signed, core, integration: hue

#31545 update aiopylgtv to 0.3.3
  homeassistant/components/webostv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: webostv, small-pr

#31543 Use min and m as units in Garmin Connect for consistency and correctness
  homeassistant/components/garmin_connect/const.py
Labels: breaking change, cla-signed, integration: garmin_connect, small-pr

#31547 Guard for reloading with no zone config
  homeassistant/components/zone/__init__.py
Labels: cla-signed, core, integration: zone, small-pr

#31550 0.105.2
  homeassistant/components/automation/__init__.py
  homeassistant/components/garmin_connect/const.py
  homeassistant/components/garmin_connect/sensor.py
  homeassistant/components/huawei_lte/__init__.py
  homeassistant/components/icloud/account.py
  homeassistant/components/mqtt/services.yaml
  homeassistant/components/netatmo/__init__.py
  homeassistant/components/netatmo/config_flow.py
  homeassistant/components/webostv/manifest.json
  homeassistant/components/zone/__init__.py
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/netatmo/test_config_flow.py
Labels: cla-signed

#30843 Make amcrest integration more robust
  homeassistant/components/amcrest/__init__.py
  homeassistant/components/amcrest/camera.py
  homeassistant/components/amcrest/const.py
  homeassistant/components/amcrest/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, integration: amcrest

#31555 Bump ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: zha, small-pr

#31556 Fix updates when Plex client viewing photos
  homeassistant/components/plex/sensor.py
  homeassistant/components/plex/server.py
Labels: by-code-owner, cla-signed, integration: plex, small-pr

#31565 Bump adguardhome to 0.4.1
  homeassistant/components/adguard/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: adguard, small-pr

#31580 Unregister listener for stats sensor with max_age
  homeassistant/components/statistics/sensor.py
Labels: cla-signed, integration: statistics, small-pr

#31588 Fix librouteros response error handling
  homeassistant/components/mikrotik/hub.py
Labels: by-code-owner, cla-signed, integration: mikrotik, small-pr

#31591 Bump pynws to 0.10.4: Fix strings in response values
  homeassistant/components/nws/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: nws, small-pr

#30992 Add Minecraft Server Integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/minecraft_server/__init__.py
  homeassistant/components/minecraft_server/binary_sensor.py
  homeassistant/components/minecraft_server/config_flow.py
  homeassistant/components/minecraft_server/const.py
  homeassistant/components/minecraft_server/manifest.json
  homeassistant/components/minecraft_server/sensor.py
  homeassistant/components/minecraft_server/strings.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/minecraft_server/__init__.py
  tests/components/minecraft_server/test_config_flow.py
Labels: cla-signed, has-tests, integration: minecraft_server, new-integration

#31376 Extract services from init.py for HomematicIP Cloud
  homeassistant/components/homematicip_cloud/__init__.py
  homeassistant/components/homematicip_cloud/services.py
Labels: by-code-owner, cla-signed, integration: homematicip_cloud

#31602 Fix exceptions when using newer Samsung TVs
  homeassistant/components/samsungtv/config_flow.py
  homeassistant/components/samsungtv/const.py
  tests/components/samsungtv/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: samsungtv, small-pr

#31619 Bump ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: zha, small-pr

#31509 Clean up core services
  homeassistant/components/conversation/__init__.py
  homeassistant/components/group/__init__.py
  homeassistant/components/homeassistant/__init__.py
  homeassistant/components/intent/__init__.py
  tests/components/conversation/test_init.py
  tests/components/homeassistant/test_init.py
  tests/components/intent/test_init.py
Labels: breaking change, cla-signed, core, has-tests, integration: group, integration: homeassistant, integration: intent

#31629 Bump denonavr to 0.7.12
  homeassistant/components/denonavr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: denonavr, small-pr

#31426 Actually enable alarmdecoder to see open/close state of bypassed RF zones when armed
  homeassistant/components/alarmdecoder/binary_sensor.py
Labels: cla-signed, integration: alarmdecoder, small-pr

#31329 Use slug in ping device tracker config validation
  homeassistant/components/ping/device_tracker.py
Labels: cla-signed, integration: ifttt, integration: media_extractor, integration: onewire, integration: ping, small-pr

#31626 Handle missing next train from NS
  homeassistant/components/nederlandse_spoorwegen/sensor.py
Labels: by-code-owner, cla-signed, integration: nederlandse_spoorwegen, small-pr

#31630 Fix hvac_action for mill
  homeassistant/components/mill/climate.py
Labels: cla-signed, integration: mill, small-pr

#31634 Remove stray debug from unifi integration
  homeassistant/components/unifi/controller.py
Labels: cla-signed, integration: unifi, small-pr

#30635 Add Abode water valve support
  homeassistant/components/abode/switch.py
Labels: by-code-owner, cla-signed, integration: abode, small-pr

#31608 Catch garmin_connect keyerrors with unknown entity type updates
  homeassistant/components/garmin_connect/const.py
  homeassistant/components/garmin_connect/sensor.py
Labels: by-code-owner, cla-signed, integration: garmin_connect, small-pr

#31551 Device tracker entities based on GPS should always publish updates
  homeassistant/components/device_tracker/config_entry.py
Labels: cla-signed, core, integration: device_tracker, small-pr

#31558 Resolve August integration makes too many requests and hits rate limits
  homeassistant/components/august/__init__.py
  homeassistant/components/august/binary_sensor.py
  homeassistant/components/august/camera.py
  homeassistant/components/august/lock.py
  homeassistant/components/august/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: august

#31616 Hue to retry if hub errors out
  homeassistant/components/hue/bridge.py
  homeassistant/components/hue/const.py
  homeassistant/components/hue/light.py
  homeassistant/components/hue/sensor_base.py
  tests/components/hue/test_config_flow.py
  tests/components/hue/test_light.py
  tests/components/hue/test_sensor_base.py
Labels: by-code-owner, cla-signed, has-tests, integration: hue

#31645 Bump Insteonplm
  homeassistant/components/insteon/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: insteon, small-pr

#27341 Only auth on enter_learning in response to errors for broadlink
  homeassistant/components/broadlink/__init__.py
Labels: Hacktoberfest, cla-signed, integration: broadlink, small-pr

#27984 Add unique ID to edimax switches
  homeassistant/components/edimax/manifest.json
  homeassistant/components/edimax/switch.py
  requirements_all.txt
Labels: cla-signed, integration: edimax

#31568 Guard writing automation/scene/script config
  homeassistant/components/config/__init__.py
Labels: cla-signed, core, integration: config, small-pr

#31611 Add support for spc power binary sensors
  homeassistant/components/spc/binary_sensor.py
Labels: cla-signed, integration: spc, small-pr

#31561 Add recorder vars db_max_retries and db_retry_wait
  homeassistant/components/recorder/__init__.py
  tests/components/recorder/test_init.py
Labels: cla-signed, core, integration: recorder, small-pr

#31437 Sure Petcare new features various improvements
  homeassistant/components/surepetcare/__init__.py
  homeassistant/components/surepetcare/binary_sensor.py
  homeassistant/components/surepetcare/const.py
  homeassistant/components/surepetcare/manifest.json
  homeassistant/components/surepetcare/sensor.py
  requirements_all.txt
Labels: breaking change, by-code-owner, cla-signed, integration: surepetcare

#31621 Add ZHA Texas Instruments CC device support
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/gateway.py
  homeassistant/components/zha/core/registries.py
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr

#31682 ZHA tests refactoring
  tests/components/zha/common.py
  tests/components/zha/conftest.py
  tests/components/zha/test_api.py
  tests/components/zha/test_binary_sensor.py
  tests/components/zha/test_cover.py
  tests/components/zha/test_device_action.py
  tests/components/zha/test_device_tracker.py
  tests/components/zha/test_device_trigger.py
  tests/components/zha/test_fan.py
  tests/components/zha/test_gateway.py
  tests/components/zha/test_light.py
  tests/components/zha/test_lock.py
  tests/components/zha/test_sensor.py
  tests/components/zha/test_switch.py
Labels: cla-signed, has-tests, integration: zha, small-pr

#31654 Clean up frontend services and events
  homeassistant/components/frontend/__init__.py
  homeassistant/core.py
  homeassistant/helpers/service.py
  tests/test_core.py
Labels: breaking change, cla-signed, core, integration: frontend

#31567 Add brightness light device actions
  homeassistant/components/device_automation/toggle_entity.py
  homeassistant/components/light/device_action.py
  tests/components/light/test_device_action.py
Labels: cla-signed, core, has-tests, integration: device_automation, integration: light

#31690 Fix wrong error message in netatmo integration
  homeassistant/components/netatmo/sensor.py
Labels: by-code-owner, cla-signed, integration: netatmo, small-pr

#31695 Fix Météo-France I/O while testing
  tests/components/meteo_france/conftest.py
Labels: by-code-owner, cla-signed, has-tests, integration: meteo_france, small-pr

#31664 bump velbus version + load velbus module names into device info
  homeassistant/components/velbus/__init__.py
  homeassistant/components/velbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, integration: velbus, small-pr

#31672 Vicare water_heater set_temperature fix and bump PyVicare to 0.1.7
  homeassistant/components/vicare/manifest.json
  homeassistant/components/vicare/water_heater.py
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: vicare, small-pr

#30712 Add MELCloud integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/melcloud/.translations/en.json
  homeassistant/components/melcloud/__init__.py
  homeassistant/components/melcloud/climate.py
  homeassistant/components/melcloud/config_flow.py
  homeassistant/components/melcloud/const.py
  homeassistant/components/melcloud/manifest.json
  homeassistant/components/melcloud/sensor.py
  homeassistant/components/melcloud/strings.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/melcloud/__init__.py
  tests/components/melcloud/test_config_flow.py
Labels: cla-signed, has-tests, integration: melcloud, new-integration

#27841 Dynalite Integration
  CODEOWNERS
  homeassistant/components/dynalite/__init__.py
  homeassistant/components/dynalite/bridge.py
  homeassistant/components/dynalite/config_flow.py
  homeassistant/components/dynalite/const.py
  homeassistant/components/dynalite/light.py
  homeassistant/components/dynalite/manifest.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/dynalite/__init__.py
  tests/components/dynalite/test_bridge.py
  tests/components/dynalite/test_config_flow.py
  tests/components/dynalite/test_init.py
  tests/components/dynalite/test_light.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: dynalite, new-integration

#30004 Extend Modbus binary sensor to support discrete inputs
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/binary_sensor.py
Labels: breaking change, cla-signed, integration: modbus, second-opinion-wanted

#31697 Fix Evohome checking override duration
  homeassistant/components/evohome/climate.py
Labels: cla-signed, integration: evohome, small-pr

#31686 For vizio integration, set unique ID early to prevent multiple zeroconf discovery items for the same device to appear
  homeassistant/components/vizio/config_flow.py
  tests/components/vizio/test_config_flow.py
Labels: by-code-owner, cla-signed, integration: vizio, small-pr

#31647 Use latest version of python-pushover (forked) to fix issue with diff…
  homeassistant/components/pushover/manifest.json
  homeassistant/components/pushover/notify.py
  requirements_all.txt
Labels: integration: pushover, small-pr

#28639 Add Glances sensors dynamically
  homeassistant/components/glances/const.py
  homeassistant/components/glances/sensor.py
  tests/components/glances/test_config_flow.py
Labels: by-code-owner, cla-signed, integration: glances, small-pr

#31712 0.105.3
  homeassistant/components/adguard/manifest.json
  homeassistant/components/august/__init__.py
  homeassistant/components/august/binary_sensor.py
  homeassistant/components/august/camera.py
  homeassistant/components/august/lock.py
  homeassistant/components/august/manifest.json
  homeassistant/components/garmin_connect/const.py
  homeassistant/components/garmin_connect/sensor.py
  homeassistant/components/mikrotik/hub.py
  homeassistant/components/mill/climate.py
  homeassistant/components/netatmo/sensor.py
  homeassistant/components/nws/manifest.json
  homeassistant/components/zha/manifest.json
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed

#31711 Adjust entity slow warning for custom component
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
Labels: cla-signed, core

#31717 Limit derivative test
  tests/components/derivative/test_sensor.py
Labels: cla-signed, has-tests, small-pr

#31716 Fix person reload service
  homeassistant/components/person/__init__.py
Labels: cla-signed, core, integration: person, small-pr

#31527 Add support of multiple Tado accounts
  homeassistant/components/tado/__init__.py
  homeassistant/components/tado/climate.py
  homeassistant/components/tado/const.py
  homeassistant/components/tado/sensor.py
Labels: breaking change, cla-signed, integration: tado

#31713 Disable Hue groups for new setups
  homeassistant/components/hue/__init__.py
  homeassistant/components/hue/config_flow.py
  homeassistant/components/hue/const.py
  tests/components/hue/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: hue, small-pr

#31685 Significantly reduce the number of API calls that the august integration
  homeassistant/components/august/__init__.py
  homeassistant/components/august/lock.py
Labels: cla-signed, integration: august

#31714 Entity Registry to store and restore name/icon
  homeassistant/components/config/entity_registry.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/entity_registry.py
  tests/components/config/test_entity_registry.py
  tests/helpers/test_entity_registry.py
Labels: cla-signed, core, has-tests, integration: config

#30894 Support Konnected Pro alarm panel, embrace async, leverage latest HA features/architecture
  CODEOWNERS
  homeassistant/components/konnected/.translations/en.json
  homeassistant/components/konnected/__init__.py
  homeassistant/components/konnected/binary_sensor.py
  homeassistant/components/konnected/config_flow.py
  homeassistant/components/konnected/const.py
  homeassistant/components/konnected/errors.py
  homeassistant/components/konnected/manifest.json
  homeassistant/components/konnected/panel.py
  homeassistant/components/konnected/sensor.py
  homeassistant/components/konnected/strings.json
  homeassistant/components/konnected/switch.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/ssdp.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/konnected/__init__.py
  tests/components/konnected/test_config_flow.py
  tests/components/konnected/test_init.py
  tests/components/konnected/test_panel.py
Labels: cla-signed, has-tests, integration: konnected

#31731 Fix set volume level
  homeassistant/components/frontier_silicon/media_player.py
Labels: cla-signed, integration: frontier_silicon, small-pr

#31727 Update Modbus service manifest
  homeassistant/components/modbus/services.yaml
Labels: cla-signed, small-pr

#31739 Bump pyipma version (bug fixes)
  homeassistant/components/ipma/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: ipma, small-pr

#31732 Read August door open/close events from the activity log
  homeassistant/components/august/__init__.py
  homeassistant/components/august/binary_sensor.py
  homeassistant/components/august/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: august

#31710 Improve Huawei LTE timeouting/stalling request behavior
  homeassistant/components/huawei_lte/__init__.py
  homeassistant/components/huawei_lte/const.py
  homeassistant/components/huawei_lte/notify.py
Labels: by-code-owner, cla-signed, integration: huawei_lte, small-pr
