Repository home-assistant/core, pull requests merged in 2020-10, with the labels that each got.

#40914 Bump up ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, by-code-owner, cla-signed, dependency, dependency-bump, integration: zha, small-pr

#40819 Bump simplisafe-python to 9.4.1
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: simplisafe, small-pr

#39117 Implement config and option flow for rfxtrx integration
  CODEOWNERS
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/rfxtrx/binary_sensor.py
  homeassistant/components/rfxtrx/config_flow.py
  homeassistant/components/rfxtrx/const.py
  homeassistant/components/rfxtrx/cover.py
  homeassistant/components/rfxtrx/light.py
  homeassistant/components/rfxtrx/manifest.json
  homeassistant/components/rfxtrx/strings.json
  homeassistant/components/rfxtrx/switch.py
  homeassistant/components/rfxtrx/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/rfxtrx/conftest.py
  tests/components/rfxtrx/test_binary_sensor.py
  tests/components/rfxtrx/test_config_flow.py
  tests/components/rfxtrx/test_cover.py
  tests/components/rfxtrx/test_init.py
  tests/components/rfxtrx/test_light.py
  tests/components/rfxtrx/test_sensor.py
  tests/components/rfxtrx/test_switch.py
Labels: breaking-change, cla-signed, has-tests, integration: rfxtrx, new-feature

#40920 Rewrite random unittest tests to pytest style test functions
  tests/components/random/test_binary_sensor.py
  tests/components/random/test_sensor.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: random, small-pr

#40917 Update weather tests to pytest style
  tests/components/weather/test_weather.py
Labels: Hacktoberfest, cla-signed, code-quality, core, has-tests, integration: weather, small-pr

#40811 Abort deCONZ config flow if no radio hardware is connected
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/deconz/strings.json
  homeassistant/components/deconz/translations/en.json
  tests/components/deconz/test_config_flow.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, has-tests, integration: deconz, small-pr

#40808 Improve logging to identify which deCONZ device is at fault
  homeassistant/components/deconz/device_trigger.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, integration: deconz, small-pr

#40922 Rewrite worldclock unittest tests to pytest style test functions
  tests/components/worldclock/test_sensor.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: worldclock, small-pr

#40807 Add lock support to deCONZ
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/lock.py
  tests/components/deconz/test_gateway.py
  tests/components/deconz/test_lock.py
Labels: Hacktoberfest, by-code-owner, cla-signed, has-tests, integration: deconz, new-feature, new-platform

#40815 Fix Netatmo climate error when no boiler status is set
  homeassistant/components/netatmo/climate.py
Labels: by-code-owner, cla-signed, integration: netatmo, small-pr

#40773 Accept new Plex websocket callback payloads
  homeassistant/components/plex/__init__.py
  homeassistant/components/plex/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/plex/helpers.py
Labels: by-code-owner, cla-signed, dependency, has-tests, integration: plex, new-feature

#40803 Seperate state change tracking from async_track_template_result into async_track_state_change_filtered
  homeassistant/helpers/event.py
  tests/helpers/test_event.py
Labels: cla-signed, core

#40691 Use DataUpdateCoordinator for canary
  homeassistant/components/canary/__init__.py
  homeassistant/components/canary/alarm_control_panel.py
  homeassistant/components/canary/camera.py
  homeassistant/components/canary/const.py
  homeassistant/components/canary/coordinator.py
  homeassistant/components/canary/sensor.py
  tests/components/canary/conftest.py
  tests/components/canary/test_alarm_control_panel.py
  tests/components/canary/test_sensor.py
Labels: cla-signed, integration: canary

#40937 Revert using own cast app for media
  homeassistant/components/cast/media_player.py
Labels: Hacktoberfest, bugfix, cla-signed, integration: cast, small-pr

#40934 Use direct service calls in demo climate tests instead of climate common
  tests/components/demo/test_climate.py
Labels: Hacktoberfest, cla-signed, code-quality, core, has-tests, integration: demo, small-pr

#40938 Common strings in Freebox config flow
  homeassistant/components/freebox/config_flow.py
  homeassistant/components/freebox/strings.json
  tests/components/freebox/test_config_flow.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, has-tests, integration: freebox, small-pr

#40939 Use of reference strings in meteo france config flow
  homeassistant/components/meteo_france/strings.json
Labels: Hacktoberfest, cla-signed

#40932 Add context to event trigger
  homeassistant/components/homeassistant/triggers/event.py
  tests/components/homeassistant/triggers/test_event.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: homeassistant, new-feature, small-pr

#40820 Handle Shelly channel names (if available) for emeters devices
  homeassistant/components/shelly/entity.py
Labels: bugfix, cla-signed, integration: shelly, small-pr

#40681 Add voltage, power factor and energy returned sensors to Shelly integration
  homeassistant/components/shelly/sensor.py
Labels: by-code-owner, cla-signed, integration: shelly, new-feature, small-pr

#40948 Use common strings in roomba config flow
  homeassistant/components/roomba/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: roomba, small-pr

#40946 Use of reference strings for Airly config flow
  homeassistant/components/airly/config_flow.py
  homeassistant/components/airly/strings.json
  tests/components/airly/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: airly, small-pr

#40952 Use translation references for gios config flow
  homeassistant/components/gios/strings.json
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: gios, small-pr

#40942 Use common strings in adguard config flow
  homeassistant/components/adguard/config_flow.py
  homeassistant/components/adguard/strings.json
  tests/components/adguard/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: adguard, small-pr

#40953 Use translation references for Brother config flow
  homeassistant/components/brother/strings.json
Labels: cla-signed

#40950 Test reloading webhook trigger
  tests/components/webhook/test_trigger.py
Labels: Hacktoberfest, cla-signed, code-quality, core, has-tests, integration: webhook, small-pr

#40955 Use translation references for BraviaTV config flow
  homeassistant/components/braviatv/strings.json
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: braviatv, small-pr

#40958 Use common string in TPLink config flow
  homeassistant/components/tplink/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: tplink, small-pr

#40966 Use reference strings for Nut configflow
  homeassistant/components/nut/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: nut, small-pr

#40957 Use common strings in spotify config flow
  homeassistant/components/spotify/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: spotify, small-pr

#40956 Use common strings in mqtt config flow
  homeassistant/components/mqtt/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, core, integration: mqtt, small-pr

#40964 Upgrade surepy to 0.2.6
  homeassistant/components/surepetcare/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, code-quality, dependency-bump, small-pr

#40935 Replace strings in atag component
  homeassistant/components/atag/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: atag, small-pr

#40963 Add longitude and latitude common strings
  homeassistant/components/accuweather/strings.json
  homeassistant/components/airly/strings.json
  homeassistant/components/airvisual/strings.json
  homeassistant/components/flunearyou/strings.json
  homeassistant/components/ipma/strings.json
  homeassistant/components/met/strings.json
  homeassistant/components/metoffice/strings.json
  homeassistant/components/nws/strings.json
  homeassistant/components/openuv/strings.json
  homeassistant/components/openweathermap/strings.json
  homeassistant/components/smhi/strings.json
  homeassistant/strings.json
Labels: Hacktoberfest, cla-signed

#40436 Add missing unit for signal strength
  homeassistant/components/blink/sensor.py
  homeassistant/components/canary/sensor.py
  homeassistant/components/netgear_lte/sensor_types.py
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/ring/sensor.py
  homeassistant/components/sms/sensor.py
  homeassistant/components/wirelesstag/__init__.py
  homeassistant/components/wled/const.py
  homeassistant/components/wled/sensor.py
  homeassistant/const.py
  tests/components/canary/test_sensor.py
  tests/components/huawei_lte/test_sensor.py
  tests/components/rfxtrx/test_sensor.py
  tests/components/wled/test_sensor.py
  tests/testing_config/custom_components/test/sensor.py
Labels: cla-signed, core, new-feature, small-pr

#40817 Clean up goalzero
  homeassistant/components/goalzero/__init__.py
  homeassistant/components/goalzero/binary_sensor.py
  homeassistant/components/goalzero/config_flow.py
  homeassistant/components/goalzero/strings.json
  homeassistant/components/goalzero/translations/en.json
  tests/components/goalzero/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: goalzero, small-pr

#40968 Replace IP Address in strings.json
  homeassistant/components/denonavr/strings.json
  homeassistant/components/gogogate2/strings.json
  homeassistant/components/guardian/strings.json
  homeassistant/components/powerwall/strings.json
  homeassistant/components/ps4/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: denonavr, integration: gogogate2, integration: guardian, integration: powerwall, integration: ps4, small-pr

#40980 Replace strings in hvv_departures with references
  homeassistant/components/hvv_departures/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: hvv_departures, small-pr

#40696 Add test coverage for modbus switch (coil part)
  tests/components/modbus/conftest.py
  tests/components/modbus/test_modbus_binary_sensor.py
  tests/components/modbus/test_modbus_sensor.py
  tests/components/modbus/test_modbus_switch.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: modbus, small-pr

#40986 Improve deCONZ platforms
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/climate.py
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/cover.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/scene.py
  homeassistant/components/deconz/sensor.py
  homeassistant/components/deconz/switch.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: deconz, small-pr

#39878 Minor fixes for Plex media browser
  homeassistant/components/plex/media_browser.py
Labels: by-code-owner, cla-signed, has-tests, integration: plex, new-feature, small-pr

#40996 Use reference strings in elkm1 strings.json
  homeassistant/components/elkm1/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: elkm1, small-pr

#40993 Replace references in august strings.json
  homeassistant/components/august/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: august, small-pr

#40965 Use single_instance_allowed for webhook config flows
  homeassistant/components/dialogflow/strings.json
  homeassistant/components/geofency/strings.json
  homeassistant/components/gpslogger/strings.json
  homeassistant/components/ifttt/strings.json
  homeassistant/components/islamic_prayer_times/config_flow.py
  homeassistant/components/islamic_prayer_times/strings.json
  homeassistant/components/locative/strings.json
  homeassistant/components/mailgun/strings.json
  homeassistant/components/owntracks/config_flow.py
  homeassistant/components/owntracks/strings.json
  homeassistant/components/ozw/config_flow.py
  homeassistant/components/ozw/strings.json
  homeassistant/components/plaato/strings.json
  homeassistant/components/speedtestdotnet/config_flow.py
  homeassistant/components/speedtestdotnet/strings.json
  homeassistant/components/traccar/strings.json
  homeassistant/components/twilio/strings.json
  homeassistant/helpers/config_entry_flow.py
  tests/components/islamic_prayer_times/test_config_flow.py
  tests/components/owntracks/test_config_flow.py
  tests/components/ozw/test_config_flow.py
  tests/components/speedtestdotnet/test_config_flow.py
  tests/helpers/test_config_entry_flow.py
Labels: Hacktoberfest, cla-signed

#41000 Remove unnecessary instance attribute in Plex reauth config flow
  homeassistant/components/plex/__init__.py
  homeassistant/components/plex/config_flow.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: plex, small-pr

#40667 Implement template rate_limit directive
  homeassistant/const.py
  homeassistant/core.py
  homeassistant/helpers/event.py
  homeassistant/helpers/ratelimit.py
  homeassistant/helpers/template.py
  tests/components/template/test_cover.py
  tests/components/template/test_sensor.py
  tests/helpers/test_event.py
  tests/helpers/test_ratelimit.py
  tests/helpers/test_template.py
Labels: breaking-change, cla-signed, core, has-tests

#41005 Use references in airvisual strings.json
  homeassistant/components/airvisual/config_flow.py
  homeassistant/components/airvisual/strings.json
  tests/components/airvisual/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, integration: airvisual, small-pr

#41002 Rewrite remember_the_milk tests to pytest style tests
  tests/components/remember_the_milk/const.py
  tests/components/remember_the_milk/test_init.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: remember_the_milk, small-pr

#40992 Plex websocket callback async cleanup
  homeassistant/components/plex/__init__.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, integration: plex, small-pr

#40974 Update frontend to 20201001.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, bugfix, cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#41013 Prevent template loop detection from triggering when all templates are self referencing
  homeassistant/components/template/template_entity.py
  tests/components/template/test_cover.py
  tests/components/template/test_sensor.py
Labels: Hacktoberfest, cla-signed, has-tests, integration: template, small-pr

#40987 Use references in guardian strings.json
  homeassistant/components/guardian/config_flow.py
  homeassistant/components/guardian/strings.json
  tests/components/guardian/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, integration: guardian, small-pr

#41024 Better parsing of the ZHA device profile id
  homeassistant/components/zha/core/device.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, integration: zha, small-pr

#40998 Scaffold: correct import
  script/scaffold/templates/device_trigger/integration/device_trigger.py
Labels: Hacktoberfest, cla-signed, small-pr

#41032 Improve patching for nzbget sensor tests
  tests/components/nzbget/test_sensor.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: nzbget, small-pr

#41031 Verify template sensors that reference other template sensors can reload
  tests/components/template/test_init.py
  tests/fixtures/template/ref_configuration.yaml
Labels: Hacktoberfest, cla-signed, has-tests, integration: template, small-pr

#41007 Use string references for config flow in NWS
  homeassistant/components/nws/strings.json
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: nws, small-pr

#40999 Use references in agent_dvr strings.json
  homeassistant/components/agent_dvr/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: agent_dvr, small-pr

#40994 Use reference strings in Hangout
  homeassistant/components/hangouts/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: hangouts, small-pr

#41010 Update pyhomematic to 0.1.69
  homeassistant/components/homematic/const.py
  homeassistant/components/homematic/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, by-code-owner, cla-signed, dependency, integration: homematic, small-pr

#40926 Allow processing data in CoordinatorEntity before writing state
  homeassistant/components/coolmaster/climate.py
  homeassistant/helpers/update_coordinator.py
Labels: Hacktoberfest, cla-signed, core, integration: coolmaster, new-feature, small-pr

#41038 Use reference strings in Tibber
  homeassistant/components/tibber/strings.json
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: tibber, small-pr

#41015 Clean deCONZ tests to depend less on integration code
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/climate.py
  homeassistant/components/deconz/cover.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/scene.py
  homeassistant/components/deconz/sensor.py
  homeassistant/components/deconz/switch.py
  tests/components/deconz/test_binary_sensor.py
  tests/components/deconz/test_climate.py
  tests/components/deconz/test_cover.py
  tests/components/deconz/test_deconz_event.py
  tests/components/deconz/test_light.py
  tests/components/deconz/test_lock.py
  tests/components/deconz/test_scene.py
  tests/components/deconz/test_sensor.py
  tests/components/deconz/test_switch.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, has-tests, integration: deconz, small-pr

#41039 Use reference strings in Vilfo
  homeassistant/components/vilfo/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: vilfo, small-pr

#41045 Update config string for Tibber
  homeassistant/components/tibber/strings.json
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: tibber, small-pr

#40989 Use references in forked_daapd strings.json
  homeassistant/components/forked_daapd/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: forked_daapd, small-pr

#40969 Use reference strings in Wled
  homeassistant/components/wled/config_flow.py
  homeassistant/components/wled/strings.json
  tests/components/wled/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: wled, small-pr

#40978 Bump pyvesync to 1.2.0
  homeassistant/components/vesync/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, bugfix, cla-signed, dependency, dependency-bump, integration: vesync, small-pr

#41030 Simplify template tracking and make it easier to follow
  homeassistant/helpers/event.py
Labels: Hacktoberfest, cla-signed, core

#41054 Fix the name of the translation key for Brother integration
  homeassistant/components/brother/config_flow.py
  homeassistant/components/brother/strings.json
  tests/components/brother/test_config_flow.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, has-tests, integration: brother, small-pr

#41065 Bump aioshelly to 0.3.4
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, dependency-bump, integration: shelly, small-pr

#40990 Use references in isy994 strings.json
  homeassistant/components/isy994/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: isy994, small-pr

#41070 Add full command details to exception Debug log
  homeassistant/components/zha/core/channels/base.py
Labels: Hacktoberfest, cla-signed, integration: zha, small-pr

#41058 Update denonavr to 0.9.5
  homeassistant/components/denonavr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, by-code-owner, cla-signed, dependency, dependency-bump, integration: denonavr, small-pr

#41079 Use reference strings in Griddy
  homeassistant/components/griddy/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: griddy, small-pr

#41062 Use already_configured_service in NWS strings
  homeassistant/components/nws/strings.json
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: nws, small-pr

#41083 Use core GitHub URL in contributing guidelines
  CONTRIBUTING.md
Labels: Hacktoberfest, cla-signed, code-quality, small-pr

#41072 Use reference strings in Dexcom
  homeassistant/components/dexcom/config_flow.py
  homeassistant/components/dexcom/strings.json
  tests/components/dexcom/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: dexcom, small-pr

#41063 Use reference strings in elgato
  homeassistant/components/elgato/config_flow.py
  homeassistant/components/elgato/strings.json
  tests/components/elgato/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: elgato, small-pr

#41061 Use reference strings in doorbird
  homeassistant/components/doorbird/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: doorbird, small-pr

#41059 Use reference strings in directv
  homeassistant/components/directv/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: directv, integration: directv, small-pr

#41078 Use reference strings in Glances
  homeassistant/components/glances/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: glances, small-pr

#41076 Use reference strings in Garmin Connect
  homeassistant/components/garmin_connect/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: garmin_connect, small-pr

#41075 Use reference strings in Flume
  homeassistant/components/flume/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: flume, small-pr

#41074 Use reference strings in Flick Electric
  homeassistant/components/flick_electric/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: flick_electric, small-pr

#41073 Use reference strings in Firmata
  homeassistant/components/firmata/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: firmata, small-pr

#41066 Use reference strings in Coolmaster
  homeassistant/components/coolmaster/config_flow.py
  homeassistant/components/coolmaster/strings.json
  tests/components/coolmaster/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: coolmaster, small-pr

#41049 Use reference strings in Bsblan
  homeassistant/components/bsblan/config_flow.py
  homeassistant/components/bsblan/strings.json
  tests/components/bsblan/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: bsblan, small-pr

#41047 Use reference strings in Totalconnect
  homeassistant/components/totalconnect/config_flow.py
  homeassistant/components/totalconnect/strings.json
  tests/components/totalconnect/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: totalconnect, small-pr

#41046 Use reference strings in Sense
  homeassistant/components/sense/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: sense, small-pr

#41090 Use common strings for Rachio
  homeassistant/components/rachio/strings.json
Labels: Hacktoberfest, cla-signed, integration: rachio, small-pr

#41021 Use reference strings in JuiceNet
  homeassistant/components/juicenet/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: juicenet, small-pr

#41004 Use reference strings in Abode
  homeassistant/components/abode/config_flow.py
  homeassistant/components/abode/strings.json
  tests/components/abode/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, integration: abode, small-pr

#41011 Use reference strings in Huawei LTE
  homeassistant/components/huawei_lte/config_flow.py
  homeassistant/components/huawei_lte/strings.json
  tests/components/huawei_lte/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: huawei_lte, small-pr

#41089 Use core GitHub URL in all files
  docs/source/_templates/links.html
  homeassistant/components/ecobee/binary_sensor.py
  homeassistant/components/ecobee/climate.py
  homeassistant/components/ecobee/sensor.py
  homeassistant/components/ecobee/weather.py
  homeassistant/components/edl21/sensor.py
  homeassistant/components/sun/__init__.py
  homeassistant/components/vizio/media_player.py
  homeassistant/components/xiaomi_aqara/binary_sensor.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/deprecation.py
  homeassistant/helpers/entity.py
  homeassistant/util/logging.py
  tests/auth/providers/test_homeassistant.py
  tests/components/homekit_controller/specific_devices/test_aqara_gateway.py
  tests/components/homekit_controller/specific_devices/test_ecobee3.py
  tests/components/homekit_controller/specific_devices/test_ecobee_occupancy.py
  tests/components/homekit_controller/specific_devices/test_koogeek_ls1.py
  tests/components/homekit_controller/specific_devices/test_lennox_e30.py
  tests/components/homekit_controller/specific_devices/test_simpleconnect_fan.py
  tests/helpers/test_entity.py
Labels: Hacktoberfest, cla-signed

#40918 Rewrite season sensor tests to pytest style
  homeassistant/components/season/sensor.py
  tests/components/season/test_sensor.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: season, small-pr

#41009 Use references in Neato translation strings
  homeassistant/components/neato/config_flow.py
  homeassistant/components/neato/strings.json
  tests/components/neato/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: neato, small-pr

#41109 Bump up ZHA dependency
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, by-code-owner, cla-signed, dependency, dependency-bump, integration: zha, small-pr

#41093 Fix SmartHab import flow
  homeassistant/components/smarthab/__init__.py
  homeassistant/components/smarthab/config_flow.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, integration: smarthab, small-pr

#41016 Rewrite SQL tests to pytest style
  tests/components/sql/test_sensor.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: sql, small-pr

#40797 Spread the load on the Tibber server
  homeassistant/components/tibber/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: tibber, small-pr

#41117 Upgrade flake8 to 3.8.4
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: Hacktoberfest, cla-signed, small-pr

#41122 Use reference strings in sonos
  homeassistant/components/sonos/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: sonos, small-pr

#41094 Use common strings for Harmony config flow
  homeassistant/components/harmony/config_flow.py
  homeassistant/components/harmony/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: harmony, small-pr

#41100 Use common Strings for Ambiclimate config flow
  homeassistant/components/ambiclimate/config_flow.py
  homeassistant/components/ambiclimate/strings.json
  tests/components/ambiclimate/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: ambiclimate, small-pr

#41055 Use reference strings for openweathermap
  homeassistant/components/openweathermap/config_flow.py
  homeassistant/components/openweathermap/strings.json
  tests/components/openweathermap/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, has-tests, integration: openweathermap, small-pr

#41051 Use reference strings in cert_expiry
  homeassistant/components/cert_expiry/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: cert_expiry, small-pr

#41124 Use reference strings in lifx
  homeassistant/components/lifx/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: lifx, small-pr

#41120 Remove traceback from rest_command
  homeassistant/components/rest_command/__init__.py
Labels: Hacktoberfest, bugfix, cla-signed, integration: rest_command, small-pr

#41131 Use common string in Shopping list config flow
  homeassistant/components/shopping_list/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, core, integration: shopping_list, small-pr

#41108 Update pyhomematic to 0.1.70
  homeassistant/components/homematic/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, by-code-owner, cla-signed, dependency, dependency-bump, integration: homematic, small-pr

#41104 Use common strings for Wiffi config flow
  homeassistant/components/wiffi/strings.json
Labels: Hacktoberfest, cla-signed, integration: wiffi, small-pr

#41106 Bump azure-servicebus to 0.50.3
  homeassistant/components/azure_service_bus/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, by-code-owner, cla-signed, dependency, dependency-bump, integration: azure_service_bus, small-pr

#41110 Use common strings for Mikrotik config flow
  homeassistant/components/mikrotik/config_flow.py
  homeassistant/components/mikrotik/strings.json
  tests/components/mikrotik/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: mikrotik, small-pr

#41067 Use reference strings in Wemo
  homeassistant/components/wemo/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: wemo, small-pr

#41125 Use reference strings in izone
  homeassistant/components/izone/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: izone, small-pr

#41127 Use common string in zha config flow
  homeassistant/components/zha/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: zha, small-pr

#41128 Use common strings in Tado config flow
  homeassistant/components/tado/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: tado, small-pr

#41132 Use common string in Ring config flow
  homeassistant/components/ring/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: ring, small-pr

#41103 Use common strings for Zoneminder config flow
  homeassistant/components/zoneminder/common.py
  homeassistant/components/zoneminder/strings.json
  tests/components/zoneminder/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: zoneminder, small-pr

#41087 Use common strings for Sentry config flow
  homeassistant/components/sentry/strings.json
Labels: Hacktoberfest, cla-signed, integration: sentry, small-pr

#41086 Use common strings for Google Cast config flow
  homeassistant/components/cast/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: cast, small-pr

#41137 Use common strings in Powerwall config flow
  homeassistant/components/powerwall/strings.json
Labels: Hacktoberfest, cla-signed, integration: powerwall, small-pr

#41048 Update met config string
  homeassistant/components/met/config_flow.py
  homeassistant/components/met/strings.json
  tests/components/met/test_config_flow.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: met, small-pr

#41130 Use common string in Solarlog config flow
  homeassistant/components/solarlog/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: solarlog, small-pr

#41134 Use common string in Melcloud config flow
  homeassistant/components/melcloud/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: melcloud, small-pr

#41133 Add api token to base strings for config flows
  homeassistant/components/juicenet/strings.json
  homeassistant/components/xiaomi_miio/strings.json
  homeassistant/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, core, integration: juicenet, integration: xiaomi_miio, small-pr

#40947 Add name to base strings for config flows
  homeassistant/components/broadlink/strings.json
  homeassistant/components/emulated_roku/strings.json
  homeassistant/components/glances/strings.json
  homeassistant/components/goalzero/strings.json
  homeassistant/components/ipma/strings.json
  homeassistant/components/met/strings.json
  homeassistant/components/mikrotik/strings.json
  homeassistant/components/minecraft_server/strings.json
  homeassistant/components/nzbget/strings.json
  homeassistant/components/onvif/strings.json
  homeassistant/components/opentherm_gw/strings.json
  homeassistant/components/panasonic_viera/strings.json
  homeassistant/components/pi_hole/strings.json
  homeassistant/components/ps4/strings.json
  homeassistant/components/samsungtv/strings.json
  homeassistant/components/smhi/strings.json
  homeassistant/components/syncthru/strings.json
  homeassistant/components/transmission/strings.json
  homeassistant/components/vizio/strings.json
  homeassistant/strings.json
Labels: Hacktoberfest, cla-signed

#40961 Add already_in_progress to base strings for config flows
  homeassistant/components/agent_dvr/strings.json
  homeassistant/components/arcam_fmj/strings.json
  homeassistant/components/axis/strings.json
  homeassistant/components/broadlink/strings.json
  homeassistant/components/deconz/strings.json
  homeassistant/components/denonavr/strings.json
  homeassistant/components/esphome/strings.json
  homeassistant/components/fritzbox/strings.json
  homeassistant/components/guardian/strings.json
  homeassistant/components/homekit_controller/strings.json
  homeassistant/components/huawei_lte/strings.json
  homeassistant/components/hue/strings.json
  homeassistant/components/konnected/strings.json
  homeassistant/components/onvif/strings.json
  homeassistant/components/plex/strings.json
  homeassistant/components/samsungtv/strings.json
  homeassistant/components/tradfri/strings.json
  homeassistant/components/xiaomi_aqara/strings.json
  homeassistant/components/xiaomi_miio/strings.json
  homeassistant/strings.json
Labels: Hacktoberfest, cla-signed

#40997 Replace minecraft translation strings with reference strings
  homeassistant/components/minecraft_server/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: minecraft_server, small-pr

#40944 Add ssl and verify_ssl to base strings for config flows
  homeassistant/components/adguard/strings.json
  homeassistant/components/glances/strings.json
  homeassistant/components/ipp/strings.json
  homeassistant/components/kodi/strings.json
  homeassistant/components/nzbget/strings.json
  homeassistant/components/pi_hole/strings.json
  homeassistant/components/plex/strings.json
  homeassistant/components/sonarr/strings.json
  homeassistant/components/synology_dsm/strings.json
  homeassistant/components/unifi/strings.json
  homeassistant/components/zoneminder/strings.json
  homeassistant/strings.json
Labels: Hacktoberfest, cla-signed

#41118 Reorg channel handling for Homematic IP Cloud
  homeassistant/components/homematicip_cloud/__init__.py
  homeassistant/components/homematicip_cloud/binary_sensor.py
  homeassistant/components/homematicip_cloud/generic_entity.py
  homeassistant/components/homematicip_cloud/light.py
  homeassistant/components/homematicip_cloud/sensor.py
  homeassistant/components/homematicip_cloud/switch.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, code-quality, integration: homematicip_cloud

#41142 Use already configured key in harmony and mikrotik
  homeassistant/components/harmony/config_flow.py
  homeassistant/components/harmony/strings.json
  homeassistant/components/mikrotik/config_flow.py
  homeassistant/components/mikrotik/strings.json
  tests/components/mikrotik/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, integration: harmony, integration: mikrotik, small-pr

#41153 Use common strings for home connect config flow
  homeassistant/components/home_connect/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: home_connect, small-pr

#41150 Use common strings for somfy config flow
  homeassistant/components/somfy/strings.json
Labels: Hacktoberfest, cla-signed, integration: somfy, small-pr

#41025 Change Swap free mandatory arg
  homeassistant/components/systemmonitor/sensor.py
Labels: Hacktoberfest, cla-signed, integration: systemmonitor, small-pr

#41107 Fix referenced entity extraction when service call entity contains a template
  homeassistant/helpers/script.py
  tests/helpers/test_script.py
Labels: Hacktoberfest, bugfix, cla-signed, core, small-pr

#41092 Use common Strings for Acmeda Config Flow
  homeassistant/components/acmeda/config_flow.py
  homeassistant/components/acmeda/strings.json
  tests/components/acmeda/test_config_flow.py
Labels: Hacktoberfest, cla-signed, code-quality, integration: acmeda, small-pr

#41034 Ensure lights added after group is created have the correct state
  homeassistant/components/group/__init__.py
  tests/components/group/test_init.py
Labels: Hacktoberfest, cla-signed, core, has-tests, integration: group, small-pr

#40949 Use references in config flow of devolo_home_control
  homeassistant/components/devolo_home_control/config_flow.py
  homeassistant/components/devolo_home_control/strings.json
  tests/components/devolo_home_control/test_config_flow.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, integration: devolo_home_control, small-pr

#41156 Treat optional input as optional in ZoneMinder config flow
  homeassistant/components/zoneminder/config_flow.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, integration: zoneminder, small-pr

#41155 Lutron Caseta: update for light transition and cover stop
  homeassistant/components/lutron_caseta/__init__.py
  homeassistant/components/lutron_caseta/config_flow.py
  homeassistant/components/lutron_caseta/cover.py
  homeassistant/components/lutron_caseta/fan.py
  homeassistant/components/lutron_caseta/light.py
  homeassistant/components/lutron_caseta/manifest.json
  homeassistant/components/lutron_caseta/scene.py
  homeassistant/components/lutron_caseta/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, dependency, integration: lutron_caseta

#40788 Update Kodi to no longer use protected methods
  homeassistant/components/kodi/browse_media.py
  homeassistant/components/kodi/manifest.json
  homeassistant/components/kodi/media_player.py
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, integration: kodi

#40800 Use the shared Zeroconf instance in devolo_home_control
  homeassistant/components/devolo_home_control/__init__.py
  homeassistant/components/devolo_home_control/config_flow.py
  homeassistant/components/devolo_home_control/manifest.json
Labels: by-code-owner, cla-signed, code-quality, integration: devolo_home_control, small-pr

#41111 Indentify IKEA and Phillips motion sensors correctly
  homeassistant/components/zha/binary_sensor.py
  homeassistant/components/zha/core/registries.py
  tests/components/zha/zha_devices_list.py
Labels: Hacktoberfest, cla-signed, integration: zha, new-feature, small-pr

#41185 Fix kodi.add_to_playlist
  homeassistant/components/kodi/media_player.py
Labels: Hacktoberfest, bugfix, by-code-owner, cla-signed, integration: kodi, small-pr

#41191 Fix TTS handling of non-ID3 metadata tags
  homeassistant/components/tts/__init__.py
Labels: Hacktoberfest, bugfix, cla-signed, core, integration: tts, small-pr

#41190 Update common strings in hisense_aehw4a1 config flow
  homeassistant/components/hisense_aehw4a1/strings.json
Labels: Hacktoberfest, cla-signed, code-quality, integration: hisense_aehw4a1, small-pr

#41197 Remove deprecation invalidation version from cast integration
  homeassistant/components/cast/media_player.py
Labels: Hacktoberfest, bugfix, cla-signed, integration: cast, small-pr

#40928 Bump version to 0.117.0dev0
  homeassistant/const.py
Labels: Hacktoberfest, cla-signed, core, small-pr
