Repository home-assistant/core, pull requests merged in 2020-12, with the labels that each got.

#43790 Fix MQTT birth message deadlock
  homeassistant/components/mqtt/__init__.py
Labels: by-code-owner, cla-signed, core, integration: mqtt, small-pr

#43787 Warn when referencing missing devices/areas
  homeassistant/helpers/service.py
  tests/helpers/test_service.py
Labels: cla-signed, core, new-feature

#42141 Add lock.open service to nello
  homeassistant/components/nello/lock.py
Labels: Hacktoberfest, cla-signed, code-quality, hacktoberfest-accepted, integration: nello, integration: nello, small-pr

#43775 Migrate foscam to use entity platform entity services
  homeassistant/components/foscam/camera.py
Labels: cla-signed, integration: foscam, small-pr

#43772 Use entity platform for Neato
  homeassistant/components/neato/const.py
  homeassistant/components/neato/vacuum.py
Labels: cla-signed, integration: neato, small-pr

#43792 Upgrade elgato to 1.0.0
  homeassistant/components/elgato/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: elgato, small-pr

#43796 Bump aiorecollect to 0.2.2
  homeassistant/components/recollect_waste/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: recollect_waste, small-pr

#43804 Base area IDs on initial name
  homeassistant/helpers/area_registry.py
  tests/helpers/test_area_registry.py
Labels: cla-signed, core, new-feature

#43786 Remove variables stuff from ZHA registries
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/core/channels/hvac.py
  homeassistant/components/zha/core/channels/lighting.py
  homeassistant/components/zha/core/channels/measurement.py
  homeassistant/components/zha/core/channels/security.py
  homeassistant/components/zha/core/registries.py
Labels: cla-signed, code-quality, integration: zha, small-pr

#43809 Remove Ubee Router integration (ADR-0004)
  .coveragerc
  CODEOWNERS
  homeassistant/components/ubee/__init__.py
  homeassistant/components/ubee/device_tracker.py
  homeassistant/components/ubee/manifest.json
  requirements_all.txt
Labels: breaking-change, cla-signed, integration: ubee, remove-platform, small-pr

#43811 Fix config validation tests for upcoming beta
  tests/helpers/test_config_validation.py
Labels: bugfix, cla-signed, core, small-pr

#43810 Remove invalidation version from Airvisual
  homeassistant/components/airvisual/__init__.py
Labels: bugfix, cla-signed, integration: airvisual, small-pr

#43623 Move uptime from relative time to absolute time
  homeassistant/components/uptime/sensor.py
  tests/components/uptime/test_sensor.py
Labels: breaking-change, cla-signed, code-quality, has-tests, integration: uptime, second-opinion-wanted, small-pr

#43814 Add device action to mobile app to notify
  .coveragerc
  homeassistant/components/mobile_app/__init__.py
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/device_action.py
  homeassistant/components/mobile_app/notify.py
  homeassistant/components/mobile_app/strings.json
  homeassistant/components/mobile_app/translations/en.json
  homeassistant/components/mobile_app/util.py
  homeassistant/components/notify/__init__.py
  script/scaffold/templates/device_action/integration/device_action.py
  script/scaffold/templates/device_action/tests/test_device_action.py
  script/scaffold/templates/device_condition/integration/device_condition.py
  script/scaffold/templates/device_condition/tests/test_device_condition.py
  script/scaffold/templates/device_trigger/integration/device_trigger.py
  script/scaffold/templates/device_trigger/tests/test_device_trigger.py
  tests/components/mobile_app/conftest.py
  tests/components/mobile_app/test_device_action.py
Labels: cla-signed, core, has-tests, integration: mobile_app, integration: notify, new-feature

#43820 Use !input instead of !placeholder
  .devcontainer/devcontainer.json
  homeassistant/components/automation/blueprints/motion_light.yaml
  homeassistant/components/automation/blueprints/notify_leaving_zone.yaml
  homeassistant/components/blueprint/__init__.py
  homeassistant/components/blueprint/errors.py
  homeassistant/components/blueprint/models.py
  homeassistant/util/yaml/__init__.py
  homeassistant/util/yaml/dumper.py
  homeassistant/util/yaml/input.py
  homeassistant/util/yaml/loader.py
  homeassistant/util/yaml/objects.py
  tests/components/blueprint/test_importer.py
  tests/components/blueprint/test_models.py
  tests/components/blueprint/test_websocket_api.py
  tests/fixtures/blueprint/community_post.json
  tests/fixtures/blueprint/github_gist.json
  tests/helpers/test_check_config.py
  tests/helpers/test_placeholder.py
  tests/testing_config/blueprints/automation/in_folder/in_folder_blueprint.yaml
  tests/testing_config/blueprints/automation/test_event_service.yaml
  tests/util/yaml/__init__.py
  tests/util/yaml/test_init.py
  tests/util/yaml/test_input.py
Labels: cla-signed, core, has-tests, integration: automation, integration: blueprint

#43818 Fix wrong temperature setting in LCN climate
  homeassistant/components/lcn/climate.py
Labels: bugfix, by-code-owner, cla-signed, integration: lcn, small-pr

#43781 Make simple deCONZ thermostats work
  homeassistant/components/deconz/climate.py
  tests/components/deconz/test_climate.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: deconz, small-pr

#43821 Another try to get rid of Shelly flaky test
  tests/components/shelly/conftest.py
  tests/components/shelly/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: shelly, small-pr

#43817 Add AnalogInput sensor for LUMI plugs in ZHA
  homeassistant/components/zha/sensor.py
  tests/components/zha/zha_devices_list.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: zha, small-pr

#43829 Add ozw scene_instance to scene_activated
  homeassistant/components/ozw/__init__.py
  tests/components/ozw/test_scenes.py
Labels: bugfix, cla-signed, has-tests, integration: ozw, small-pr

#43603 Support more edl21 devices and sensors
  homeassistant/components/edl21/manifest.json
  homeassistant/components/edl21/sensor.py
  requirements_all.txt
Labels: by-code-owner, cla-signed, integration: edl21, new-feature, small-pr

#43831 Update area and target selectors add sequence selector
  homeassistant/components/automation/blueprints/motion_light.yaml
  homeassistant/helpers/selector.py
  tests/helpers/test_selector.py
Labels: cla-signed, core, integration: automation, new-feature

#43779 Bump libpurecool to 0.6.4
  CODEOWNERS
  homeassistant/components/dyson/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: dyson, small-pr

#43841 Add test for is_internal_request
  tests/helpers/test_network.py
Labels: cla-signed, core

#43833 Upgrade TwitterAPI to 2.6.2.1
  homeassistant/components/twitter/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: twitter, small-pr

#43846 Correct service not found exception message
  homeassistant/exceptions.py
Labels: bugfix, cla-signed, core, small-pr

#43830 Upgrade pylast to 4.0.0
  homeassistant/components/lastfm/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: lastfm, small-pr

#43824 Bump pypck to 0.7.7
  homeassistant/components/lcn/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: lcn, small-pr

#43847 Use light turn on service
  homeassistant/components/automation/blueprints/motion_light.yaml
  tests/components/automation/test_blueprint.py
Labels: cla-signed, core, integration: automation, small-pr

#43848 Do not warn for weak referenced entities
  homeassistant/components/homeassistant/__init__.py
  tests/components/homeassistant/test_init.py
Labels: bugfix, cla-signed, core, has-tests, integration: homeassistant, small-pr

#43832 Migrate notify-leaving-zone to use mobile app device action
  homeassistant/components/automation/blueprints/notify_leaving_zone.yaml
  homeassistant/components/mobile_app/util.py
  tests/components/automation/test_blueprint.py
Labels: cla-signed, core, has-tests, integration: automation, integration: mobile_app, new-feature, small-pr

#42735 Add new number entity integration
  CODEOWNERS
  homeassistant/components/demo/__init__.py
  homeassistant/components/demo/number.py
  homeassistant/components/number/__init__.py
  homeassistant/components/number/const.py
  homeassistant/components/number/manifest.json
  homeassistant/components/number/services.yaml
  setup.cfg
  tests/components/demo/test_number.py
  tests/components/number/__init__.py
  tests/components/number/test_init.py
Labels: cla-signed, core, has-tests, integration: demo, integration: number, new-integration, second-opinion-wanted

#43853 Make "invalid password" error message clearer
  homeassistant/components/config/auth_provider_homeassistant.py
  tests/components/config/test_auth_provider_homeassistant.py
Labels: cla-signed, code-quality, core, has-tests, integration: config, small-pr

#43851 Increase timeout for snapshot upload
  homeassistant/components/hassio/http.py
Labels: cla-signed, core, integration: hassio, small-pr

#43855 Guard for when refreshing token fails
  homeassistant/components/spotify/__init__.py
Labels: bugfix, cla-signed, integration: spotify, small-pr

#43783 Cleanup unique_id on onewire integration
  homeassistant/components/onewire/binary_sensor.py
  homeassistant/components/onewire/onewire_entities.py
  homeassistant/components/onewire/sensor.py
  homeassistant/components/onewire/switch.py
Labels: by-code-owner, cla-signed, code-quality, integration: onewire, small-pr

#43858 Fix using execute on the notify_leaving_zone
  homeassistant/components/automation/blueprints/notify_leaving_zone.yaml
  tests/components/automation/test_blueprint.py
Labels: bugfix, cla-signed, core, has-tests, integration: automation, small-pr

#42320 deCONZ improve options updating entities
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/climate.py
  homeassistant/components/deconz/cover.py
  homeassistant/components/deconz/deconz_event.py
  homeassistant/components/deconz/fan.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/lock.py
  homeassistant/components/deconz/scene.py
  homeassistant/components/deconz/sensor.py
  homeassistant/components/deconz/services.py
  homeassistant/components/deconz/switch.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, hacktoberfest-accepted, integration: deconz

#43854 Deprecate the use of keyring and credstash
  homeassistant/util/yaml/loader.py
Labels: breaking-change, cla-signed, core, small-pr

#31952 Refactor Apple TV integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/apple_tv/__init__.py
  homeassistant/components/apple_tv/config_flow.py
  homeassistant/components/apple_tv/const.py
  homeassistant/components/apple_tv/manifest.json
  homeassistant/components/apple_tv/media_player.py
  homeassistant/components/apple_tv/remote.py
  homeassistant/components/apple_tv/services.yaml
  homeassistant/components/apple_tv/strings.json
  homeassistant/components/apple_tv/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/zeroconf.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/apple_tv/__init__.py
  tests/components/apple_tv/common.py
  tests/components/apple_tv/conftest.py
  tests/components/apple_tv/test_config_flow.py
Labels: breaking-change, cla-signed, has-tests, integration: apple_tv

#43722 Add preset support to deCONZ climate platform
  homeassistant/components/deconz/climate.py
  tests/components/deconz/test_climate.py
Labels: by-code-owner, cla-signed, has-tests, integration: deconz, new-feature

#43859 Bump androidtv to 0.0.56
  homeassistant/components/androidtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, small-pr

#43721 Add fan support to deCONZ climate platform
  homeassistant/components/deconz/climate.py
  homeassistant/components/deconz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/deconz/test_climate.py
Labels: by-code-owner, cla-signed, has-tests, integration: deconz, new-feature

#42332 Use Plex websocket payloads to reduce overhead
  .coveragerc
  homeassistant/components/plex/__init__.py
  homeassistant/components/plex/const.py
  homeassistant/components/plex/media_player.py
  homeassistant/components/plex/models.py
  homeassistant/components/plex/sensor.py
  homeassistant/components/plex/server.py
  tests/components/plex/conftest.py
  tests/components/plex/helpers.py
  tests/components/plex/mock_classes.py
  tests/components/plex/test_browse_media.py
  tests/components/plex/test_config_flow.py
  tests/components/plex/test_init.py
  tests/components/plex/test_media_players.py
  tests/components/plex/test_server.py
Labels: by-code-owner, cla-signed, hacktoberfest-accepted, integration: plex, invalid, new-feature

#43861 Revert blocking deconz config entry from finalizing on poor bridge id
  homeassistant/components/deconz/config_flow.py
  tests/components/deconz/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: deconz, small-pr

#43241 Allow members of allowed groups to talk to telegram_bot
  homeassistant/components/telegram_bot/__init__.py
Labels: breaking-change, bugfix, cla-signed, integration: telegram_bot, small-pr

#43220 Add support for system health to Airly integrarion
  homeassistant/components/airly/strings.json
  homeassistant/components/airly/system_health.py
  tests/components/airly/test_system_health.py
Labels: by-code-owner, cla-signed, has-tests, integration: airly, new-feature, small-pr

#43277 Add support for system health to AccuWeather integration
  homeassistant/components/accuweather/strings.json
  homeassistant/components/accuweather/system_health.py
  tests/components/accuweather/test_system_health.py
Labels: by-code-owner, cla-signed, has-tests, integration: accuweather, new-feature

#43799 Automatically select "Solid" effect in Hyperion
  homeassistant/components/hyperion/light.py
  tests/components/hyperion/test_light.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: hyperion, small-pr

#42639 Add support for MQTT Scenes
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/scene.py
  tests/components/mqtt/test_scene.py
Labels: Hacktoberfest, cla-signed, core, hacktoberfest-accepted, integration: mqtt, new-feature, new-platform

#43838 Add ozw add-on discovery and mqtt client
  homeassistant/components/hassio/__init__.py
  homeassistant/components/ozw/__init__.py
  homeassistant/components/ozw/config_flow.py
  homeassistant/components/ozw/const.py
  homeassistant/components/ozw/manifest.json
  homeassistant/components/ozw/strings.json
  homeassistant/components/ozw/translations/en.json
  homeassistant/components/ozw/websocket_api.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ozw/conftest.py
  tests/components/ozw/test_config_flow.py
  tests/components/ozw/test_init.py
Labels: by-code-owner, cla-signed, core, integration: hassio, integration: ozw

#43433 Add telegram_bot.send_voice service
  homeassistant/components/telegram/notify.py
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/telegram_bot/services.yaml
Labels: cla-signed, integration: telegram_bot, new-feature

#43862 Updated frontend to 20201202.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#42354 Improve custom datatype parsing in Modbus sensor and climate
  .coveragerc
  homeassistant/components/modbus/climate.py
  homeassistant/components/modbus/sensor.py
Labels: Hacktoberfest, by-code-owner, cla-signed, code-quality, hacktoberfest-accepted, integration: modbus, new-feature, small-pr

#43864 Improve handling of disabled devices
  homeassistant/components/config/entity_registry.py
  homeassistant/helpers/entity_registry.py
  tests/components/config/test_entity_registry.py
  tests/helpers/test_entity_registry.py
Labels: cla-signed, core, has-tests, integration: config

#43863 Implement new Google TTS API via dedicated library
  homeassistant/components/google_translate/manifest.json
  homeassistant/components/google_translate/tts.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/google_translate/test_tts.py
Labels: bugfix, cla-signed, dependency, integration: google_translate

#42753 Rewrite the kira/test_init.py unittests to pytest style test functions
  tests/components/kira/test_init.py
Labels: cla-signed, code-quality, has-tests, integration: kira, small-pr

#42372 Add Kuler Sky Bluetooth floor lamp integration
  CODEOWNERS
  homeassistant/components/kulersky/__init__.py
  homeassistant/components/kulersky/config_flow.py
  homeassistant/components/kulersky/const.py
  homeassistant/components/kulersky/light.py
  homeassistant/components/kulersky/manifest.json
  homeassistant/components/kulersky/strings.json
  homeassistant/components/kulersky/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/kulersky/__init__.py
  tests/components/kulersky/test_config_flow.py
  tests/components/kulersky/test_light.py
Labels: Hacktoberfest, cla-signed, hacktoberfest-accepted, has-tests, integration: kulersky, new-integration

#43837 Fix intesishome passing coroutine to HassJob
  homeassistant/components/intesishome/climate.py
Labels: cla-signed, integration: intesishome, small-pr

#43875 Fix Slack "invalid_blocks_format" bug
  CODEOWNERS
  homeassistant/components/slack/manifest.json
  homeassistant/components/slack/notify.py
Labels: bugfix, cla-signed, integration: slack, small-pr

#43132 Add HmIP-HDM1 and HmIPW-DRD3 to Homematic IP Cloud
  homeassistant/components/homematicip_cloud/const.py
  homeassistant/components/homematicip_cloud/cover.py
  homeassistant/components/homematicip_cloud/light.py
  tests/components/homematicip_cloud/test_cover.py
  tests/components/homematicip_cloud/test_device.py
  tests/components/homematicip_cloud/test_light.py
  tests/fixtures/homematicip_cloud.json
Labels: by-code-owner, cla-signed, has-tests, integration: homematicip_cloud, new-feature

#43005 Change config flow unique_id for devolo Home Control
  homeassistant/components/devolo_home_control/__init__.py
  homeassistant/components/devolo_home_control/config_flow.py
  homeassistant/components/devolo_home_control/const.py
  tests/components/devolo_home_control/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: devolo_home_control

#43883 Improve look up speed by inverting dictionaries
  homeassistant/components/deconz/climate.py
Labels: by-code-owner, cla-signed, code-quality, integration: deconz

#43870 Add reproduce state for Number
  homeassistant/components/number/reproduce_state.py
  tests/components/number/test_reproduce_state.py
Labels: by-code-owner, cla-signed, has-tests, integration: number, new-feature

#43899 Blueprint: descriptions + descriptive errors
  homeassistant/components/automation/blueprints/motion_light.yaml
  homeassistant/components/automation/blueprints/notify_leaving_zone.yaml
  homeassistant/components/blueprint/importer.py
Labels: cla-signed, core, integration: automation, integration: blueprint, small-pr

#43901 Kulersky cleanups
  homeassistant/components/kulersky/config_flow.py
  homeassistant/components/kulersky/light.py
  tests/components/kulersky/test_light.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: kulersky, small-pr

#43902 Add number entity value property
  homeassistant/components/demo/number.py
  homeassistant/components/number/__init__.py
  tests/components/number/test_init.py
Labels: cla-signed, core, has-tests, integration: demo, integration: number, small-pr

#43900 Unsubscribe ozw stop listener on entry unload
  homeassistant/components/ozw/__init__.py
Labels: by-code-owner, cla-signed, integration: ozw, small-pr

#43868 Bump icmplib to 2.0 for ping
  homeassistant/components/ping/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: ping, small-pr

#43907 Updated frontend to 20201203.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#43912 Bump hatasmota to 0.1.4
  homeassistant/components/tasmota/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tasmota/test_light.py
Labels: by-code-owner, cla-signed, dependency, has-tests, integration: tasmota, small-pr

#43898 Bump auroranoaa library to 0.0.2
  homeassistant/components/aurora/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: aurora, small-pr

#43892 Upgrade respx to 0.16.2
  requirements_test.txt
  tests/components/rest/test_binary_sensor.py
  tests/components/rest/test_sensor.py
Labels: cla-signed, dependency, has-tests, integration: rest, small-pr

#43917 Don't send MQTT birth message in tests
  tests/components/mqtt/test_init.py
  tests/conftest.py
Labels: by-code-owner, cla-signed, code-quality, core, has-tests, integration: mqtt, small-pr

#43938 Always send ozw network key to add-on config
  homeassistant/components/ozw/config_flow.py
Labels: by-code-owner, cla-signed, integration: ozw, small-pr

#43939 Handle stale ozw discovery flow
  homeassistant/components/ozw/config_flow.py
  tests/components/ozw/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: ozw, small-pr

#43945 Update frontend to 20201204.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#43953 Refactor ZHA core channel initialization
  homeassistant/components/zha/binary_sensor.py
  homeassistant/components/zha/core/channels/base.py
  homeassistant/components/zha/core/channels/closures.py
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/core/channels/homeautomation.py
  homeassistant/components/zha/core/channels/hvac.py
  homeassistant/components/zha/core/channels/lighting.py
  homeassistant/components/zha/core/channels/security.py
  homeassistant/components/zha/core/channels/smartenergy.py
Labels: by-code-owner, cla-signed, code-quality, integration: zha

#43910 Remove zerproc threaded upstream reconnect logic
  homeassistant/components/zerproc/light.py
  homeassistant/components/zerproc/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zerproc/test_light.py
Labels: bugfix, by-code-owner, cla-signed, code-quality, dependency, has-tests, integration: zerproc, small-pr

#43958 Make environment_canada asynchronous
  homeassistant/components/environment_canada/camera.py
  homeassistant/components/environment_canada/manifest.json
  homeassistant/components/environment_canada/sensor.py
  homeassistant/components/environment_canada/weather.py
  requirements_all.txt
Labels: breaking-change, by-code-owner, cla-signed, code-quality, dependency, integration: environment_canada

#43961 Address PR cleanup for nest device triggers
  homeassistant/components/nest/device_trigger.py
  tests/components/nest/test_device_trigger.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: nest, small-pr

#43942 Return unique id of Blink binary sensor
  homeassistant/components/blink/binary_sensor.py
Labels: cla-signed, integration: blink, small-pr

#43950 Fix device refresh service can always add devices
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deconz/services.py
  tests/components/deconz/test_binary_sensor.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: deconz, small-pr

#40665 Refactor LCN integration
  homeassistant/components/lcn/__init__.py
  homeassistant/components/lcn/binary_sensor.py
  homeassistant/components/lcn/climate.py
  homeassistant/components/lcn/cover.py
  homeassistant/components/lcn/helpers.py
  homeassistant/components/lcn/light.py
  homeassistant/components/lcn/scene.py
  homeassistant/components/lcn/schemas.py
  homeassistant/components/lcn/sensor.py
  homeassistant/components/lcn/switch.py
Labels: by-code-owner, cla-signed, code-quality, dependency, integration: lcn

#43964 0.118.5
  .github/workflows/ci.yaml
  homeassistant/components/google_translate/manifest.json
  homeassistant/components/google_translate/tts.py
  homeassistant/components/hassio/http.py
  homeassistant/components/netatmo/manifest.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  setup.py
  tests/components/google_translate/test_tts.py
Labels: cla-signed, core, has-tests, integration: google_translate, integration: hassio, integration: netatmo, merging-to-master

#43954 Fix Ecobee set humidity
  homeassistant/components/ecobee/climate.py
Labels: cla-signed

#43968 Add reverse repeatmode mapping constant to Spotify
  homeassistant/components/spotify/media_player.py
Labels: by-code-owner, cla-signed, code-quality, integration: spotify, small-pr

#43959 ZHA Add Coordinator to LightLink cluster groups
  homeassistant/components/zha/core/channels/lightlink.py
  tests/components/zha/test_channels.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: zha

#43973 Cleanup ZHA fan channel
  homeassistant/components/zha/core/channels/hvac.py
  homeassistant/components/zha/fan.py
  tests/components/zha/test_fan.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: zha, small-pr

#43952 Remove (broken) tahoma integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/tahoma/__init__.py
  homeassistant/components/tahoma/binary_sensor.py
  homeassistant/components/tahoma/cover.py
  homeassistant/components/tahoma/lock.py
  homeassistant/components/tahoma/manifest.json
  homeassistant/components/tahoma/scene.py
  homeassistant/components/tahoma/sensor.py
  homeassistant/components/tahoma/switch.py
  requirements_all.txt
  script/hassfest/coverage.py
Labels: breaking-change, cla-signed, integration: tahoma, remove-platform, small-pr

#43995 Update ring to 0.6.2
  homeassistant/components/ring/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: ring, small-pr

#42817 Add target temperature range to homekit_controller
  homeassistant/components/homekit_controller/climate.py
  tests/components/homekit_controller/specific_devices/test_ecobee3.py
  tests/components/homekit_controller/specific_devices/test_lennox_e30.py
  tests/components/homekit_controller/test_climate.py
Labels: bugfix, cla-signed, has-tests, integration: homekit_controller

#43599 Add discovery of sensors on DS2409 MicroLan
  homeassistant/components/onewire/onewirehub.py
  tests/components/onewire/test_binary_sensor.py
  tests/components/onewire/test_entity_owserver.py
  tests/components/onewire/test_sensor.py
  tests/components/onewire/test_switch.py
Labels: cla-signed, integration: onewire, new-feature

#44002 Bump voluptuous to 0.12.1
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
  tests/components/mqtt/test_climate.py
Labels: cla-signed, core, dependency, small-pr

#43996 Bump fritzconnection to 1.4.0
  homeassistant/components/fritz/manifest.json
  homeassistant/components/fritzbox_callmonitor/manifest.json
  homeassistant/components/fritzbox_netmonitor/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: fritz, integration: fritzbox_callmonitor, integration: fritzbox_netmonitor, small-pr

#43280 Add support for system health to GIOS integration
  homeassistant/components/gios/strings.json
  homeassistant/components/gios/system_health.py
  tests/components/gios/test_system_health.py
Labels: by-code-owner, cla-signed, has-tests, integration: gios, new-feature, small-pr

#43947 Allow manual configuration of ignored config entries
  homeassistant/config_entries.py
  tests/components/shelly/test_config_flow.py
  tests/test_config_entries.py
Labels: bugfix, cla-signed, core, integration: shelly, small-pr

#43986 Prevent firing Shelly input events at startup
  homeassistant/components/shelly/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: shelly, small-pr

#43992 Add UV unit to meteo_france UV sensor
  homeassistant/components/meteo_france/const.py
Labels: breaking-change, bugfix, cla-signed, integration: meteo_france, small-pr

#43557 Fix Solaredge integration in case the data is not complete
  homeassistant/components/solaredge/sensor.py
Labels: cla-signed, integration: solaredge, small-pr

#44009 Fix unit of measurement for asuswrt sensors
  homeassistant/components/asuswrt/sensor.py
Labels: bugfix, cla-signed, integration: asuswrt, small-pr

#43932 Fix LCN service calls (invoking coroutines)
  homeassistant/components/lcn/__init__.py
  homeassistant/components/lcn/services.py
Labels: bugfix, by-code-owner, cla-signed, integration: lcn

#43951 Update generic_thermostat current_temperature on startup
  homeassistant/components/generic_thermostat/climate.py
  tests/components/generic_thermostat/test_climate.py
Labels: bugfix, cla-signed, has-tests, integration: generic_thermostat, small-pr

#42327 Add discovery for MQTT device tracker
  homeassistant/components/mqtt/device_tracker/__init__.py
  homeassistant/components/mqtt/device_tracker/schema_discovery.py
  homeassistant/components/mqtt/device_tracker/schema_yaml.py
  homeassistant/components/mqtt/discovery.py
  tests/components/mqtt/test_device_tracker_discovery.py
Labels: Hacktoberfest, cla-signed, core, hacktoberfest-accepted, integration: mqtt, new-feature

#44014 Hide HomeKit devices from discovery that are known to be problematic
  homeassistant/components/homekit_controller/config_flow.py
  tests/components/homekit_controller/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: homekit_controller, small-pr

#44005 Unregister updates when a Wemo entry is removed
  homeassistant/components/wemo/binary_sensor.py
  homeassistant/components/wemo/fan.py
  homeassistant/components/wemo/light.py
  homeassistant/components/wemo/switch.py
Labels: cla-signed, integration: wemo, new-feature, small-pr

#44021 Fix ZHA switch group test
  tests/components/zha/test_switch.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: zha, small-pr

#44003 Bump pymyq to 2.0.11
  homeassistant/components/myq/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, cla-signed, dependency, dependency-bump, integration: myq, small-pr

#43944 Add pause and resume services to Rachio
  homeassistant/components/rachio/const.py
  homeassistant/components/rachio/device.py
  homeassistant/components/rachio/services.yaml
Labels: cla-signed, integration: rachio

#44030 Bump simplisafe-python to 9.6.1
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: simplisafe, small-pr

#43914 Bump dependency to add more multi channel devices to HomematicIP Cloud
  homeassistant/components/homematicip_cloud/binary_sensor.py
  homeassistant/components/homematicip_cloud/cover.py
  homeassistant/components/homematicip_cloud/generic_entity.py
  homeassistant/components/homematicip_cloud/light.py
  homeassistant/components/homematicip_cloud/manifest.json
  homeassistant/components/homematicip_cloud/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homematicip_cloud/test_binary_sensor.py
  tests/components/homematicip_cloud/test_cover.py
  tests/components/homematicip_cloud/test_device.py
  tests/components/homematicip_cloud/test_light.py
  tests/components/homematicip_cloud/test_switch.py
  tests/fixtures/homematicip_cloud.json
Labels: by-code-owner, cla-signed, code-quality, dependency, has-tests, integration: homematicip_cloud, new-feature

#44039 Update ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: zha, small-pr

#44040 Bump simplisafe-python to 9.6.2
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: simplisafe, small-pr

#44036 Add the missing ATTR_ENABLED attribute to Brother integration list of sensors
  homeassistant/components/brother/const.py
Labels: bugfix, by-code-owner, cla-signed, integration: brother, small-pr

#44001 Retry tuya setup on auth rate limiting
  homeassistant/components/tuya/__init__.py
  homeassistant/components/tuya/config_flow.py
  homeassistant/components/tuya/manifest.json
  homeassistant/components/tuya/strings.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, cla-signed, integration: tuya, small-pr

#44050 Bump ciscomobilityexpress version: 0.3.3 → 0.3.9
  homeassistant/components/cisco_mobility_express/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: cisco_mobility_express, small-pr

#44048 Fix extracting entity and device IDs from scripts
  homeassistant/helpers/script.py
  tests/components/automation/test_init.py
  tests/components/blueprint/test_websocket_api.py
  tests/helpers/test_script.py
  tests/testing_config/blueprints/automation/test_event_service.yaml
Labels: cla-signed, core, has-tests, integration: automation

#44051 Bump pyatv to 0.7.5
  homeassistant/components/apple_tv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: apple_tv, small-pr

#44019 Fix how homekit_controller enumerates Hue remote
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit_controller/specific_devices/test_hue_bridge.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: homekit_controller, small-pr

#44058 Exclude coordinator when looking up group members entity IDs
  homeassistant/components/zha/core/group.py
Labels: bugfix, by-code-owner, cla-signed, integration: zha, small-pr

#44017 Add Eufy 2k Indoor Cam (T8400) to homekit_controller ignore list
  homeassistant/components/homekit_controller/config_flow.py
Labels: bugfix, cla-signed, integration: homekit_controller, small-pr

#44034 Update pyarlo to 0.2.4
  homeassistant/components/arlo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: arlo, small-pr

#44064 Bump openwebifpy version: 3.1.1 → 3.1.6
  homeassistant/components/enigma2/manifest.json
  homeassistant/components/enigma2/media_player.py
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: enigma2, small-pr

#43877 Create httpx helper to wrap a shared httpx.AsyncClient
  homeassistant/components/pvoutput/sensor.py
  homeassistant/components/rest/binary_sensor.py
  homeassistant/components/rest/data.py
  homeassistant/components/rest/sensor.py
  homeassistant/components/scrape/sensor.py
  homeassistant/helpers/httpx_client.py
  tests/components/rest/test_sensor.py
  tests/helpers/test_httpx_client.py
Labels: cla-signed, core, integration: pvoutput, integration: rest, integration: scrape

#44062 Fix ignored Axis config entries doesn't break set up of new entries
  homeassistant/components/axis/config_flow.py
  tests/components/axis/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: axis, small-pr

#44059 Some lights only support hs, like the lidl christmas lights
  homeassistant/components/deconz/light.py
  tests/components/deconz/test_light.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: deconz, small-pr

#44096 Include Hyperion in coverage testing
  .coveragerc
Labels: cla-signed, code-quality, small-pr

#44061 Fix yeelight unavailbility
  homeassistant/components/yeelight/__init__.py
  tests/components/yeelight/__init__.py
  tests/components/yeelight/test_init.py
Labels: bugfix, by-code-owner, cla-signed, integration: yeelight, small-pr

#44069 Fix transmission torrent filtering and sorting
  homeassistant/components/transmission/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: transmission, small-pr

#44097 Bump hass-nabucasa to 0.39.0
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: cloud, small-pr

#44098 Fix importing blueprints from forums with HTML entities
  homeassistant/components/blueprint/importer.py
  tests/components/blueprint/test_importer.py
  tests/fixtures/blueprint/community_post.json
Labels: bugfix, cla-signed, has-tests, integration: blueprint, small-pr

#44104 Fix importing blueprint from community
  homeassistant/components/blueprint/importer.py
  tests/components/blueprint/test_importer.py
Labels: cla-signed, integration: blueprint, small-pr

#44105 Update frontend to 20201210.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#44089 Bump up dependencies on pyserial and pyserial-asyncio
  homeassistant/components/acer_projector/manifest.json
  homeassistant/components/serial/manifest.json
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/rfxtrx/test_config_flow.py
  tests/components/zha/test_config_flow.py
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: acer_projector, integration: serial, integration: zha, small-pr

#44108 Support more errors to better do retries in UniFi
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/unifi/test_controller.py
Labels: bugfix, by-code-owner, cla-signed, dependency, has-tests, integration: unifi, small-pr

#44110 Small cleanup of MQTT
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/camera.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/device_automation.py
  homeassistant/components/mqtt/device_tracker/schema_discovery.py
  homeassistant/components/mqtt/device_tracker/schema_yaml.py
  homeassistant/components/mqtt/device_trigger.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/light/__init__.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_json.py
  homeassistant/components/mqtt/light/schema_template.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/scene.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/subscription.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/tag.py
  homeassistant/components/mqtt/trigger.py
  homeassistant/components/mqtt/vacuum/__init__.py
  homeassistant/components/mqtt/vacuum/schema_legacy.py
  homeassistant/components/mqtt/vacuum/schema_state.py
Labels: by-code-owner, cla-signed, code-quality, core, integration: mqtt

#44087 Remove deprecated CONF_ALLOW_UNLOCK, CONF_API_KEY from Google Assistant
  homeassistant/components/google_assistant/__init__.py
  homeassistant/components/google_assistant/const.py
  homeassistant/components/google_assistant/http.py
Labels: cla-signed, code-quality, core, integration: google_assistant, small-pr

#44112 Address old review comments of Tasmota fan
  homeassistant/components/tasmota/fan.py
  tests/components/tasmota/test_fan.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: tasmota, small-pr

#44088 Add tests for the wemo component
  .coveragerc
  requirements_test_all.txt
  tests/components/wemo/__init__.py
  tests/components/wemo/conftest.py
  tests/components/wemo/test_binary_sensor.py
  tests/components/wemo/test_fan.py
  tests/components/wemo/test_light_bridge.py
  tests/components/wemo/test_light_dimmer.py
  tests/components/wemo/test_switch.py
Labels: cla-signed, code-quality, has-tests, integration: wemo, small-pr

#44012 Cache Astral object in moon integration, to use less CPU
  homeassistant/components/moon/sensor.py
Labels: bugfix, cla-signed, integration: moon, small-pr

#44114 Initialize numeric_state trigger tests
  tests/components/homeassistant/triggers/test_numeric_state.py
Labels: cla-signed, code-quality, core, has-tests, integration: homeassistant, small-pr

#44106 Fix Met.no forecast precipitation
  homeassistant/components/met/weather.py
Labels: cla-signed, integration: met, small-pr

#43774 Nuki to use entity platform
  homeassistant/components/nuki/lock.py
Labels: cla-signed, code-quality, integration: nuki

#44085 Expose spider device information
  homeassistant/components/spider/climate.py
  homeassistant/components/spider/manifest.json
  homeassistant/components/spider/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, integration: spider, small-pr

#43928 Add code_arm_required to IFTTT alarm
  homeassistant/components/ifttt/alarm_control_panel.py
Labels: cla-signed, integration: ifttt, new-feature, small-pr

#44144 Increase test coverage for nest camera
  .coveragerc
  homeassistant/components/nest/camera_sdm.py
  tests/components/nest/camera_sdm_test.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: nest, small-pr

#44143 Update strings.json to clarify the requirements for the API key
  homeassistant/components/nws/strings.json
Labels: bugfix, cla-signed, integration: nws, small-pr

#44137 Fix inability to erase SimpliSafe code
  homeassistant/components/simplisafe/config_flow.py
Labels: bugfix, by-code-owner, cla-signed, integration: simplisafe, small-pr

#44152 Log unique_id of device when ESPHome connection fails
  homeassistant/components/esphome/__init__.py
Labels: cla-signed, code-quality, integration: esphome, small-pr

#44136 Test edge cases in wemo platform code
  homeassistant/components/wemo/light.py
  tests/components/wemo/conftest.py
  tests/components/wemo/entity_test_helpers.py
  tests/components/wemo/test_binary_sensor.py
  tests/components/wemo/test_fan.py
  tests/components/wemo/test_light_bridge.py
  tests/components/wemo/test_light_dimmer.py
  tests/components/wemo/test_switch.py
Labels: bugfix, cla-signed, code-quality, has-tests, integration: wemo, small-pr
