Repository home-assistant/core, pull requests merged in 2020-07, with the labels that each got.

#35561 Create PoolSense integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/poolsense/__init__.py
  homeassistant/components/poolsense/config_flow.py
  homeassistant/components/poolsense/const.py
  homeassistant/components/poolsense/manifest.json
  homeassistant/components/poolsense/sensor.py
  homeassistant/components/poolsense/strings.json
  homeassistant/components/poolsense/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/poolsense/__init__.py
  tests/components/poolsense/test_config_flow.py
Labels: cla-signed, integration: poolsense, new-integration

#37211 Add media_stop for volumio integration
  homeassistant/components/volumio/media_player.py
Labels: bugfix, cla-signed, integration: volumio, small-pr

#37276 Clean up 'androidtv.learn_sendevent' service
  homeassistant/components/androidtv/media_player.py
Labels: by-code-owner, cla-signed, code-quality, integration: androidtv, small-pr

#37278 Revert "Update fritzconnection to 1.3.0"
  homeassistant/components/fritz/manifest.json
  homeassistant/components/fritzbox_callmonitor/manifest.json
  homeassistant/components/fritzbox_netmonitor/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: fritz, integration: fritzbox_callmonitor, integration: fritzbox_netmonitor, small-pr

#37279 Updated frontend to 20200701.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#36533 Add a service for setting the timer to tado water heaters
  homeassistant/components/tado/services.yaml
  homeassistant/components/tado/water_heater.py
Labels: cla-signed, integration: tado, new-feature

#37266 Add constant for PlatformNotReady wait time to use in tests
  homeassistant/helpers/entity_platform.py
  tests/components/influxdb/test_sensor.py
Labels: by-code-owner, cla-signed, code-quality, core, has-tests, integration: influxdb, small-pr

#33852 Add Dexcom Integration
  CODEOWNERS
  homeassistant/components/dexcom/__init__.py
  homeassistant/components/dexcom/config_flow.py
  homeassistant/components/dexcom/const.py
  homeassistant/components/dexcom/manifest.json
  homeassistant/components/dexcom/sensor.py
  homeassistant/components/dexcom/strings.json
  homeassistant/components/dexcom/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/dexcom/__init__.py
  tests/components/dexcom/test_config_flow.py
  tests/components/dexcom/test_init.py
  tests/components/dexcom/test_sensor.py
  tests/fixtures/dexcom_data.json
Labels: cla-signed, has-tests, integration: dexcom, new-integration

#37304 Bump pynws-1.2.1 for NWS
  homeassistant/components/nws/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: nws, small-pr

#37313 Limit entity platform entity service to same integration
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_entity_platform.py
Labels: bugfix, cla-signed, core, small-pr

#37337 Fix devolo sensor subscriber
  homeassistant/components/devolo_home_control/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: devolo_home_control, small-pr

#37331 Smappee dependency update
  homeassistant/components/smappee/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: smappee, small-pr

#37016 Update proxmoxve integration to correctly renew authentication
  homeassistant/components/proxmoxve/manifest.json
  requirements_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: proxmoxve, small-pr

#37268 Add Hue manual bridge config flow + options flow
  CODEOWNERS
  homeassistant/components/hue/__init__.py
  homeassistant/components/hue/bridge.py
  homeassistant/components/hue/config_flow.py
  homeassistant/components/hue/manifest.json
  homeassistant/components/hue/strings.json
  tests/components/hue/test_bridge.py
  tests/components/hue/test_config_flow.py
  tests/components/hue/test_init.py
Labels: cla-signed

#37311 Change log url in config check error notification
  homeassistant/components/hassio/__init__.py
  homeassistant/components/homeassistant/__init__.py
  homeassistant/components/safe_mode/__init__.py
Labels: bugfix, cla-signed, core, integration: homeassistant, small-pr

#37309 Fix Influx V1 test query
  homeassistant/components/influxdb/const.py
Labels: bugfix, by-code-owner, cla-signed, integration: influxdb, small-pr

#37292 Ensure logbook performs well when filtering is configured
  homeassistant/components/history/__init__.py
  homeassistant/components/logbook/__init__.py
  tests/components/logbook/test_init.py
Labels: cla-signed

#37353 Fix gogogate2 issue where non-admin users could not login
  homeassistant/components/gogogate2/config_flow.py
  homeassistant/components/gogogate2/manifest.json
  homeassistant/components/gogogate2/strings.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, integration: gogogate2, small-pr

#37359 Use entry.data.get() in forked_daapd config_flow as some entries miss…
  homeassistant/components/forked_daapd/config_flow.py
Labels: bugfix, by-code-owner, cla-signed, integration: forked_daapd, small-pr

#37346 Fix flapping flux tests
  tests/components/flux/test_switch.py
Labels: cla-signed, has-tests, integration: flux, small-pr

#37207 Add humidifier support to homekit
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/config_flow.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_humidifiers.py
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_config_flow.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_type_humidifiers.py
Labels: cla-signed, has-tests, integration: homekit, new-feature

#37363 Fix flapping gdacs tests
  tests/components/gdacs/test_geo_location.py
  tests/components/gdacs/test_sensor.py
Labels: cla-signed, has-tests, integration: gdacs, small-pr

#37339 Upgrade pre-commit to 2.6.0
  requirements_test.txt
Labels: cla-signed, dependency, dependency-bump, small-pr

#37316 Add ozw garage door barrier support
  homeassistant/components/ozw/cover.py
  homeassistant/components/ozw/discovery.py
  tests/components/ozw/conftest.py
  tests/components/ozw/test_cover.py
  tests/fixtures/ozw/cover_gdo.json
  tests/fixtures/ozw/cover_gdo_network_dump.csv
Labels: cla-signed, has-tests, integration: ozw, new-feature

#37369 Update frontend to 20200702.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#37362 Fix withings bug that grabbed oldest value instead of the newest
  homeassistant/components/withings/common.py
  tests/components/withings/test_sensor.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: withings, small-pr

#37370 Add DenonAvr missing error message
  homeassistant/components/denonavr/receiver.py
Labels: by-code-owner, cla-signed, integration: denonavr, small-pr

#37377 0.112.1
  homeassistant/components/denonavr/receiver.py
  homeassistant/components/devolo_home_control/sensor.py
  homeassistant/components/forked_daapd/config_flow.py
  homeassistant/components/frontend/manifest.json
  homeassistant/components/gogogate2/config_flow.py
  homeassistant/components/gogogate2/manifest.json
  homeassistant/components/gogogate2/strings.json
  homeassistant/components/hassio/__init__.py
  homeassistant/components/homeassistant/__init__.py
  homeassistant/components/proxmoxve/manifest.json
  homeassistant/components/safe_mode/__init__.py
  homeassistant/components/smappee/manifest.json
  homeassistant/components/withings/common.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/withings/test_sensor.py
Labels: cla-signed

#37308 Improve unifi device tracker performance
  homeassistant/components/unifi/device_tracker.py
Labels: cla-signed, integration: unifi, small-pr

#37374 Fix ozw garage door methods
  homeassistant/components/ozw/cover.py
Labels: by-code-owner, cla-signed, integration: ozw, small-pr

#37315 Modified Influx tests to mock test queries with accurate output
  tests/components/influxdb/test_sensor.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: influxdb, small-pr

#37388 Ensure entries appear when using the logbook.log service without a domain/entity_id
  homeassistant/components/logbook/__init__.py
  tests/components/logbook/test_init.py
Labels: cla-signed, core, has-tests, integration: logbook, small-pr

#37398 Bump pytile to 4.0.0
  homeassistant/components/tile/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: tile, small-pr

#37401 Remove my codeownership over things I dont use anymore
  CODEOWNERS
  homeassistant/components/amazon_polly/manifest.json
  homeassistant/components/aws/manifest.json
  homeassistant/components/braviatv/manifest.json
  homeassistant/components/fitbit/manifest.json
  homeassistant/components/foursquare/manifest.json
  homeassistant/components/gntp/manifest.json
  homeassistant/components/google_travel_time/manifest.json
  homeassistant/components/gtfs/manifest.json
  homeassistant/components/html5/manifest.json
  homeassistant/components/twilio_call/manifest.json
  homeassistant/components/twilio_sms/manifest.json
  homeassistant/components/zeroconf/manifest.json
Labels: cla-signed

#37206 Convert rfxtrx tests to pytest async tests and re-enable
  tests/components/rfxtrx/__init__.py
  tests/components/rfxtrx/conftest.py
  tests/components/rfxtrx/test_cover.py
  tests/components/rfxtrx/test_init.py
  tests/components/rfxtrx/test_light.py
  tests/components/rfxtrx/test_sensor.py
  tests/components/rfxtrx/test_switch.py
Labels: bugfix, cla-signed, code-quality, has-tests, integration: rfxtrx, small-pr

#37392 Upgrade sonarr to 0.2.3
  homeassistant/components/sonarr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, cla-signed, dependency, dependency-bump, integration: sonarr, small-pr

#37419 Add GitHub Actions for CI
  .github/workflows/ci.yaml
  requirements.txt
  requirements_all.txt
  requirements_test.txt
  script/gen_requirements_all.py
Labels: cla-signed, new-feature, small-pr

#37424 Reduce time to run zha discover tests
  tests/components/zha/common.py
  tests/components/zha/conftest.py
  tests/components/zha/test_discover.py
Labels: cla-signed, has-tests, integration: zha, small-pr

#37364 Don't print MQTT credentials to log
  homeassistant/components/mqtt/__init__.py
Labels: bugfix, by-code-owner, cla-signed, core, integration: mqtt, small-pr

#37426 Ensure async_setup is mocked in geonetnz intergration tests
  tests/components/geonetnz_quakes/test_config_flow.py
  tests/components/geonetnz_volcano/test_config_flow.py
Labels: cla-signed, has-tests, integration: geonetnz_quakes, integration: geonetnz_volcano, small-pr

#37234 Add helpers.location.coordinates
  homeassistant/helpers/location.py
  tests/helpers/test_location.py
Labels: cla-signed, core, new-feature

#37428 Replace asynctest with tests.async_mock
  tests/components/acmeda/test_config_flow.py
  tests/components/avri/test_config_flow.py
  tests/components/awair/test_config_flow.py
  tests/components/flick_electric/test_config_flow.py
  tests/components/guardian/conftest.py
  tests/components/guardian/test_config_flow.py
  tests/components/homekit/test_config_flow.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/util.py
  tests/components/juicenet/test_config_flow.py
  tests/components/panasonic_viera/test_init.py
  tests/components/squeezebox/test_config_flow.py
  tests/components/upb/test_config_flow.py
  tests/components/wiffi/test_config_flow.py
  tests/components/withings/test_common.py
  tests/components/zerproc/test_config_flow.py
  tests/components/zerproc/test_light.py
Labels: cla-signed

#37425 Prevent verisure lock from looping forever and sleeping in test
  homeassistant/components/verisure/lock.py
Labels: cla-signed, integration: verisure, small-pr

#37427 Fix undesired power toggling
  homeassistant/components/ps4/manifest.json
  homeassistant/components/ps4/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ps4/test_media_player.py
Labels: by-code-owner, cla-signed, has-tests, integration: ps4, small-pr

#37429 Fix unmocked setup in garmin_connect test
  tests/components/garmin_connect/test_config_flow.py
Labels: cla-signed, has-tests, integration: garmin_connect, small-pr

#37430 Fix unmocked setup in ipp tests
  tests/components/ipp/test_config_flow.py
Labels: cla-signed, has-tests, integration: ipp, small-pr

#37423 Stub out ecobee aux heat services
  homeassistant/components/ecobee/climate.py
Labels: bugfix, cla-signed, integration: ecobee, small-pr

#37433 Fix building of Python Wheels
  requirements_all.txt
  script/gen_requirements_all.py
Labels: bugfix, cla-signed, small-pr

#37432 Mock setup in sonarr config flow tests
  tests/components/sonarr/test_config_flow.py
Labels: cla-signed, has-tests, integration: sonarr, small-pr

#37275 Add more unit tests for plum_lightpad
  .coveragerc
  tests/components/plum_lightpad/test_init.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: plum_lightpad, small-pr

#37289 Add Plugwise zeroconf discovery
  homeassistant/components/plugwise/config_flow.py
  homeassistant/components/plugwise/manifest.json
  homeassistant/components/plugwise/strings.json
  homeassistant/generated/zeroconf.py
  tests/components/plugwise/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: plugwise, new-feature

#37434 Bump teslajsonpy to 0.9.2
  homeassistant/components/tesla/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: tesla, small-pr

#37439 Mock setup in directv config flow tests
  tests/components/directv/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: directv, integration: directv, small-pr

#37422 Bump python-miio to 0.5.2.1
  homeassistant/components/xiaomi_miio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: xiaomi_miio, small-pr

#37384 Handle index already existing on db migration with MySQLdb backend
  homeassistant/components/recorder/migration.py
Labels: cla-signed, core, integration: recorder, small-pr

#37440 Apply some suggestions from poolsense code review
  homeassistant/components/poolsense/config_flow.py
  homeassistant/components/poolsense/sensor.py
  tests/components/poolsense/test_config_flow.py
Labels: cla-signed, integration: poolsense, small-pr

#37322 Fix extremely minor typo: Cosumption -> Consumption
  homeassistant/components/solaredge/const.py
Labels: cla-signed, integration: solaredge, small-pr

#37421 Fix DarkSky spamming the log
  homeassistant/components/darksky/sensor.py
  homeassistant/components/darksky/weather.py
Labels: cla-signed, code-quality, integration: darksky, small-pr

#37394 Upgrade python-join-api to allow user to specify actions
  homeassistant/components/joaoapps_join/manifest.json
  homeassistant/components/joaoapps_join/notify.py
  requirements_all.txt
Labels: cla-signed, dependency, integration: joaoapps_join, new-feature, small-pr

#37154 Use a more detailed battery icon for Tesla cars
  homeassistant/components/tesla/__init__.py
Labels: cla-signed, integration: tesla, new-feature, small-pr

#37443 0.112.2
  homeassistant/components/logbook/__init__.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/recorder/migration.py
  homeassistant/components/tesla/manifest.json
  homeassistant/components/tile/manifest.json
  homeassistant/components/xiaomi_miio/manifest.json
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/logbook/test_init.py
Labels: cla-signed

#37450 Avoid selecting the states created column for history
  homeassistant/components/history/__init__.py
Labels: cla-signed, core, integration: history, small-pr

#37395 Ensure removed entities are not displayed in logbook
  homeassistant/components/logbook/__init__.py
  homeassistant/components/recorder/__init__.py
  homeassistant/scripts/benchmark/__init__.py
  tests/components/logbook/test_init.py
  tests/components/recorder/test_init.py
Labels: cla-signed, core, has-tests, integration: logbook, integration: recorder, small-pr

#37446 Use device class to isolate tesla battery icon
  homeassistant/components/tesla/__init__.py
Labels: cla-signed, integration: tesla, small-pr

#37455 Remove pytest-xdist from tox now that it's in requirements_test.txt
  tox.ini
Labels: bugfix, cla-signed, small-pr

#37457 Fix Plugwise zeroconf discovery formatting
  homeassistant/components/plugwise/config_flow.py
Labels: by-code-owner, cla-signed, code-quality, integration: plugwise, small-pr

#36539 Gateway subdevice support & AqaraHT + SensorHT devices
  homeassistant/components/xiaomi_miio/__init__.py
  homeassistant/components/xiaomi_miio/gateway.py
  homeassistant/components/xiaomi_miio/sensor.py
  tests/components/xiaomi_miio/test_config_flow.py
Labels: cla-signed, dependency, integration: xiaomi_miio, new-feature

#37445 Fix entity_component test flapping
  tests/helpers/test_entity_component.py
Labels: cla-signed, core, small-pr

#37471 Fix flapping geo_json_events tests
  tests/components/geo_json_events/test_geo_location.py
Labels: bugfix, cla-signed, has-tests, integration: geo_json_events, small-pr

#37473 Fix geonetnz_quakes test flapping
  tests/components/geonetnz_quakes/test_sensor.py
Labels: cla-signed, code-quality, has-tests, integration: geonetnz_quakes, small-pr

#37324 Fix sync I/O inside eventloop for AVRI
  homeassistant/components/avri/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: avri, small-pr

#37420 Support empty output of MQTT binary_sensor value_template
  homeassistant/components/mqtt/binary_sensor.py
  tests/components/mqtt/test_binary_sensor.py
Labels: by-code-owner, cla-signed, core, integration: mqtt, small-pr

#37418 Support multiple MQTT availability topics
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/abbreviations.py
  tests/components/mqtt/test_common.py
  tests/components/mqtt/test_sensor.py
Labels: by-code-owner, cla-signed, core, has-tests, integration: mqtt, new-feature

#37371 Publish birth and will messages by default
  homeassistant/components/mqtt/__init__.py
  tests/components/mqtt/test_init.py
Labels: breaking-change, by-code-owner, cla-signed, core, has-tests, integration: mqtt, new-feature

#37480 Fix flapping google_assistant tests
  tests/components/google_assistant/test_report_state.py
Labels: bugfix, cla-signed, core, has-tests, integration: google_assistant, small-pr

#37478 Fix base class for ViCare binary sensor to remove warning
  homeassistant/components/vicare/binary_sensor.py
Labels: cla-signed, code-quality, integration: vicare, small-pr

#37110 Add humidifier support to emulated_hue
  homeassistant/components/emulated_hue/hue_api.py
  tests/components/emulated_hue/test_hue_api.py
Labels: cla-signed, has-tests, integration: emulated_hue, new-feature, small-pr

#37494 GitHub Actions: Add hadolint problem matcher
  .github/workflows/ci.yaml
  .github/workflows/matchers/hadolint.json
Labels: cla-signed, code-quality, small-pr

#37487 GitHub Actions: Add codespell problem matcher
  .github/workflows/ci.yaml
  .github/workflows/matchers/codespell.json
Labels: cla-signed, code-quality, core, small-pr

#37490 GitHub Actions: Add json problem matcher
  .github/workflows/ci.yaml
  .github/workflows/matchers/check-json.json
Labels: by-code-owner, cla-signed, code-quality, integration: hue, small-pr

#37463 GitHub Actions: Add pylint problem matcher
  .github/workflows/ci.yaml
  .github/workflows/matchers/pylint.json
Labels: cla-signed, core, new-feature, small-pr

#37488 GitHub Actions: Add check executables problem matcher
  .github/workflows/ci.yaml
  .github/workflows/matchers/check-executables-have-shebangs.json
Labels: cla-signed, code-quality, core, small-pr

#37485 GitHub Actions: Add mypy problem matcher
  .github/workflows/ci.yaml
  .github/workflows/matchers/mypy.json
Labels: cla-signed, code-quality, small-pr

#37468 GitHub Actions: Add yamllint problem matcher
  .github/workflows/ci.yaml
  .github/workflows/matchers/yamllint.json
Labels: cla-signed, code-quality, integration: ads, small-pr

#37465 GitHub Actions: Add flake8 problem matcher
  .github/workflows/ci.yaml
  .github/workflows/matchers/flake8.json
Labels: cla-signed, code-quality, core, small-pr

#37461 GitHub Actions: Show diff on failure
  .github/workflows/ci.yaml
Labels: bugfix, cla-signed, small-pr

#37497 Fix flapping geonetnz_volcano test
  tests/components/geonetnz_volcano/test_sensor.py
Labels: cla-signed, has-tests, integration: geonetnz_volcano, small-pr

#37501 Upgrade flake8 to 3.8.3
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, dependency, small-pr

#37500 Use package constraints in tox lint
  tox.ini
Labels: bugfix, cla-signed, small-pr

#37502 Fix default icon for Withings sleep sensor
  homeassistant/components/withings/common.py
Labels: bugfix, cla-signed, integration: withings, small-pr

#37482 Fix braviatv authentication refresh
  homeassistant/components/braviatv/config_flow.py
  homeassistant/components/braviatv/manifest.json
  homeassistant/components/braviatv/media_player.py
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, cla-signed, dependency, integration: braviatv, small-pr

#37508 GitHub Actions: Add pytest problem matcher
  .github/workflows/ci.yaml
  .github/workflows/matchers/python.json
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: toon, small-pr

#37479 Enhance automation integration to use new features in script helper
  homeassistant/components/automation/__init__.py
  homeassistant/components/automation/config.py
  homeassistant/components/script/__init__.py
  homeassistant/const.py
  homeassistant/helpers/script.py
  tests/components/automation/test_init.py
Labels: breaking-change, cla-signed, core, has-tests, integration: automation, integration: script, new-feature

#37505 Do not count netdata cleared and undefined alarms as warnings
  homeassistant/components/netdata/sensor.py
Labels: bugfix, cla-signed, integration: netdata, small-pr

#37483 Bump env_canada to 0.1.0
  homeassistant/components/environment_canada/manifest.json
  requirements_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: environment_canada, small-pr

#37496 Prebake common history queries
  homeassistant/components/history/__init__.py
  tests/components/history/test_init.py
Labels: cla-signed, core, has-tests, integration: history

#37149 Add prometheus metric naming guidelines
  homeassistant/components/prometheus/README.md
Labels: by-code-owner, cla-signed, code-quality, integration: prometheus, small-pr

#37441 Use the main event loop for homekit
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit/test_homekit.py
Labels: by-code-owner, cla-signed, has-tests, integration: homekit, small-pr

#37405 Add denonavr solution tip for connection_error
  homeassistant/components/denonavr/strings.json
  homeassistant/components/denonavr/translations/en.json
Labels: by-code-owner, cla-signed, integration: denonavr, small-pr

#37273 Fix Datadog boolean metrics
  homeassistant/components/datadog/__init__.py
  tests/components/datadog/test_init.py
Labels: bugfix, cla-signed, has-tests, integration: datadog, small-pr

#37516 Fix flapping demo geo_location test
  tests/components/demo/test_geo_location.py
Labels: cla-signed, core, has-tests, integration: demo, small-pr

#37512 Standardise geniushub error levels
  homeassistant/components/geniushub/__init__.py
Labels: cla-signed, code-quality, integration: geniushub, small-pr

#37515 Standardise asuswrt error message level
  homeassistant/components/asuswrt/device_tracker.py
  homeassistant/components/asuswrt/sensor.py
Labels: cla-signed, code-quality, integration: asuswrt, small-pr

#37510 Convert Android TV integration to async
  homeassistant/components/androidtv/manifest.json
  homeassistant/components/androidtv/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/androidtv/patchers.py
  tests/components/androidtv/test_media_player.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: androidtv

#34387 Add config flow + async support for SmartHab integration
  .coveragerc
  homeassistant/components/smarthab/__init__.py
  homeassistant/components/smarthab/config_flow.py
  homeassistant/components/smarthab/cover.py
  homeassistant/components/smarthab/light.py
  homeassistant/components/smarthab/manifest.json
  homeassistant/components/smarthab/strings.json
  homeassistant/components/smarthab/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/smarthab/__init__.py
  tests/components/smarthab/test_config_flow.py
Labels: by-code-owner, cla-signed, integration: smarthab, new-feature

#37472 Tado climate entity timer service
  homeassistant/components/tado/climate.py
  homeassistant/components/tado/services.yaml
Labels: cla-signed, integration: tado, new-feature

#37255 Use async_track_state_change_event for automation numeric_state
  homeassistant/components/automation/numeric_state.py
Labels: cla-signed, core, integration: automation, small-pr

#37531 Fix xiaomi_miio error when no sensors present
  homeassistant/components/xiaomi_miio/sensor.py
Labels: bugfix, cla-signed, integration: xiaomi_miio, small-pr

#37530 Switch tests to use hass objects instead of direct
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/rfxtrx/binary_sensor.py
  homeassistant/components/rfxtrx/sensor.py
  tests/components/rfxtrx/__init__.py
  tests/components/rfxtrx/conftest.py
  tests/components/rfxtrx/test_binary_sensor.py
  tests/components/rfxtrx/test_cover.py
  tests/components/rfxtrx/test_init.py
  tests/components/rfxtrx/test_light.py
  tests/components/rfxtrx/test_sensor.py
  tests/components/rfxtrx/test_switch.py
Labels: cla-signed, code-quality, has-tests, integration: rfxtrx, small-pr

#37536 Fix flake8 problem matcher to handle fatals as errors
  .github/workflows/matchers/flake8.json
Labels: bugfix, cla-signed, small-pr

#37380 Transition Guardian to use a DataUpdateCoordinator
  .coveragerc
  homeassistant/components/guardian/__init__.py
  homeassistant/components/guardian/binary_sensor.py
  homeassistant/components/guardian/const.py
  homeassistant/components/guardian/sensor.py
  homeassistant/components/guardian/switch.py
  homeassistant/components/guardian/util.py
Labels: by-code-owner, cla-signed, code-quality, integration: guardian

#37271 Switch rfxtrx to dispatcher
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/rfxtrx/binary_sensor.py
  homeassistant/components/rfxtrx/const.py
  homeassistant/components/rfxtrx/cover.py
  homeassistant/components/rfxtrx/light.py
  homeassistant/components/rfxtrx/sensor.py
  homeassistant/components/rfxtrx/switch.py
  tests/components/rfxtrx/__init__.py
  tests/components/rfxtrx/conftest.py
Labels: cla-signed, code-quality, integration: rfxtrx

#37251 Cleanup async_track_state_change and augment docstring
  homeassistant/components/automation/zone.py
  homeassistant/helpers/event.py
  homeassistant/scripts/benchmark/__init__.py
  tests/helpers/test_event.py
Labels: cla-signed, core, small-pr

#37486 Add Amcrest audio_detected binary sensor
  homeassistant/components/amcrest/binary_sensor.py
Labels: by-code-owner, cla-signed, integration: amcrest, new-feature, small-pr

#37477 Add new integration for Bond hub
  CODEOWNERS
  homeassistant/components/bond/__init__.py
  homeassistant/components/bond/config_flow.py
  homeassistant/components/bond/const.py
  homeassistant/components/bond/cover.py
  homeassistant/components/bond/manifest.json
  homeassistant/components/bond/strings.json
  homeassistant/components/bond/translations/en.json
  homeassistant/components/bond/utils.py
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bond/__init__.py
  tests/components/bond/common.py
  tests/components/bond/test_config_flow.py
  tests/components/bond/test_cover.py
  tests/components/bond/test_init.py
  tests/components/bond/test_utils.py
Labels: cla-signed, has-tests, integration: bond, new-integration

#37253 Switch homekit to use async_track_state_change_event
  homeassistant/components/homekit/accessories.py
  tests/components/homekit/test_accessories.py
Labels: by-code-owner, cla-signed, integration: homekit, small-pr

#37535 Add missing manifest object to the check
  script/hassfest/config_flow.py
Labels: bugfix, cla-signed, small-pr

#37550 Add dependabot for automatic updates to GitHub Actions
  .github/dependabot.yml
Labels: cla-signed, new-feature, small-pr

#37454 Strings capitalization consistency fixes
  homeassistant/strings.json
Labels: cla-signed, code-quality, core, small-pr

#37566 Update frontend to 20200702.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#37567 Suppress spurious homekit warning about media player sources when the device is off
  homeassistant/components/homekit/type_media_players.py
Labels: by-code-owner, cla-signed, integration: homekit, small-pr

#37571 Ensure homekit tv names can be saved
  homeassistant/components/homekit/type_media_players.py
Labels: by-code-owner, cla-signed, integration: homekit, small-pr

#37579 Ignore HEOS 1, 3, 5 and 7 for DenonAvr ssdp discovery
  homeassistant/components/denonavr/config_flow.py
  tests/components/denonavr/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, integration: denonavr, small-pr

#37572 Fix Plex client controls when connected via plex.tv resource
  homeassistant/components/plex/server.py
  tests/components/plex/mock_classes.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: plex, small-pr

#37475 Fix base topic for 'topic'
  homeassistant/components/mqtt/discovery.py
Labels: bugfix, by-code-owner, cla-signed, core, integration: mqtt, small-pr

#37403 Stop Speedtest sensors update on startup if manual option is enabled
  homeassistant/components/speedtestdotnet/__init__.py
  homeassistant/components/speedtestdotnet/config_flow.py
  homeassistant/components/speedtestdotnet/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: speedtestdotnet, small-pr

#37438 Protect loop set default executor
  homeassistant/__main__.py
  homeassistant/bootstrap.py
  homeassistant/components/bsblan/config_flow.py
  homeassistant/components/plum_lightpad/config_flow.py
  homeassistant/core.py
  homeassistant/helpers/__init__.py
  homeassistant/helpers/aiohttp_client.py
  homeassistant/helpers/frame.py
  homeassistant/runner.py
  homeassistant/scripts/__init__.py
  homeassistant/scripts/auth.py
  homeassistant/scripts/benchmark/__init__.py
  homeassistant/scripts/check_config.py
  homeassistant/scripts/ensure_config.py
  tests/common.py
  tests/components/homekit/conftest.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_util.py
  tests/conftest.py
  tests/test_bootstrap.py
  tests/test_core.py
Labels: bugfix, cla-signed, core

#31637 Add optimistic mode to template switch
  homeassistant/components/template/switch.py
  tests/components/template/test_switch.py
Labels: cla-signed, integration: template, second-opinion-wanted, small-pr

#37586 0.112.3
  CODEOWNERS
  homeassistant/components/braviatv/config_flow.py
  homeassistant/components/braviatv/manifest.json
  homeassistant/components/braviatv/media_player.py
  homeassistant/components/denonavr/config_flow.py
  homeassistant/components/frontend/manifest.json
  homeassistant/components/history/__init__.py
  homeassistant/components/homekit/type_media_players.py
  homeassistant/components/logbook/__init__.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/plex/server.py
  homeassistant/components/recorder/__init__.py
  homeassistant/components/speedtestdotnet/__init__.py
  homeassistant/components/speedtestdotnet/config_flow.py
  homeassistant/components/speedtestdotnet/sensor.py
  homeassistant/components/vicare/binary_sensor.py
  homeassistant/components/withings/common.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  homeassistant/scripts/benchmark/__init__.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/denonavr/test_config_flow.py
  tests/components/logbook/test_init.py
  tests/components/plex/mock_classes.py
  tests/components/recorder/test_init.py
Labels: cla-signed

#37590 Mock setup in plex test to prevent CI failure
  tests/components/plex/test_config_flow.py
Labels: cla-signed, has-tests, integration: plex, small-pr

#37588 Ensure homekit accessory reset only affect the bridges with the accessory
  homeassistant/components/homekit/__init__.py
Labels: by-code-owner, cla-signed, integration: homekit, small-pr

#37551 Apply suggestions from bond code review
  homeassistant/components/bond/__init__.py
  homeassistant/components/bond/config_flow.py
  homeassistant/components/bond/cover.py
Labels: by-code-owner, cla-signed, code-quality, integration: bond, small-pr

#37241 Bump voluptuous-serialize 2.4.0
  homeassistant/components/demo/config_flow.py
  homeassistant/components/demo/strings.json
  homeassistant/package_constraints.txt
  requirements.txt
  requirements_all.txt
  setup.py
Labels: cla-signed, core, dependency, dependency-bump, small-pr

#37591 Fix missing Plex account mocks in tests
  tests/components/plex/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: plex, small-pr

#37594 Bump backend library for Dune HD integration
  homeassistant/components/dunehd/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: dunehd, small-pr

#37215 Update Rejseplanen rjpl to 0.3.6
  homeassistant/components/rejseplanen/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: rejseplanen, small-pr

#37559 Make devices and activities visible as harmony attributes
  homeassistant/components/harmony/__init__.py
  homeassistant/components/harmony/config_flow.py
  homeassistant/components/harmony/const.py
  homeassistant/components/harmony/remote.py
  homeassistant/components/harmony/strings.json
  homeassistant/components/harmony/translations/en.json
  homeassistant/components/harmony/util.py
  tests/components/harmony/test_config_flow.py
Labels: breaking-change, by-code-owner, cla-signed, core, integration: harmony

#37595 Fix smappee supported configurations and device class for voltage sensors
  homeassistant/components/smappee/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: smappee, small-pr

#37529 Fix DenonAvr discovery of Denon DN-500AV
  homeassistant/components/denonavr/config_flow.py
  homeassistant/components/denonavr/manifest.json
  homeassistant/generated/ssdp.py
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, integration: denonavr, small-pr

#37607 Bump aiokef to v0.2.13 which fixes the device from becoming "Unavailable"
  homeassistant/components/kef/manifest.json
  requirements_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: kef, small-pr

#37599 Upgrade debugpy to 1.0.0b12
  homeassistant/components/debugpy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: debugpy, small-pr

#37598 Upgrade coverage to 5.2
  requirements_test.txt
Labels: cla-signed, dependency, small-pr

#37597 Fix typos in Hue integration
  homeassistant/components/hue/bridge.py
  homeassistant/components/hue/strings.json
Labels: bugfix, by-code-owner, cla-signed, integration: hue, small-pr

#37336 Add current temperature as separate sensor in Toon
  homeassistant/components/toon/const.py
  homeassistant/components/toon/sensor.py
Labels: by-code-owner, cla-signed, integration: toon, new-feature, small-pr

#37587 Add host names in esphome logs
  homeassistant/components/esphome/__init__.py
Labels: cla-signed, code-quality, integration: esphome, small-pr

#37611 Remove withings use of deprecated classes
  homeassistant/components/withings/binary_sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: withings, small-pr

#37619 Fix sync/async and small improvements to forked_daapd
  homeassistant/components/forked_daapd/media_player.py
Labels: bugfix, cla-signed, integration: forked_daapd, small-pr

#37620 Remove dead code from cast
  homeassistant/components/cast/media_player.py
Labels: cla-signed, code-quality, integration: cast, small-pr

#37618 Fix acmeda syn/async cover methods
  homeassistant/components/acmeda/cover.py
Labels: bugfix, cla-signed, integration: acmeda, small-pr

#37621 Fix sync/async override in sms
  homeassistant/components/sms/notify.py
Labels: bugfix, cla-signed, integration: sms, small-pr
