Repository home-assistant/core, pull requests merged in 2020-03, with the labels that each got.

#32317 Require IFTTT to send data as dictionary
  homeassistant/components/ifttt/__init__.py
  tests/components/ifttt/test_init.py
Labels: breaking change, cla-signed, has-tests, integration: ifttt, small-pr

#32373 Bump avri api version
  homeassistant/components/avri/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: avri, small-pr

#32363 Bump pyeight to 0.1.4
  homeassistant/components/eight_sleep/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: eight_sleep, small-pr

#32347 Add sms support to pushbullet notification
  homeassistant/components/pushbullet/notify.py
Labels: cla-signed, integration: pushbullet, small-pr

#32376 Upgrade youtube_dl to version 2020.03.01
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: media_extractor, small-pr

#31407 Add optimistic mode for somfy covers that do not support position
  homeassistant/components/somfy/__init__.py
  homeassistant/components/somfy/cover.py
Labels: cla-signed, integration: somfy, small-pr

#28661 Add Tankerkoenig integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/tankerkoenig/__init__.py
  homeassistant/components/tankerkoenig/const.py
  homeassistant/components/tankerkoenig/manifest.json
  homeassistant/components/tankerkoenig/sensor.py
  requirements_all.txt
Labels: cla-signed, has-tests, integration: tankerkoenig, new-integration

#32292 Fix AlarmDecoder Integration to use Instant Mode for alarm_arm_night
  homeassistant/components/alarmdecoder/alarm_control_panel.py
Labels: breaking change, cla-signed, integration: alarmdecoder, small-pr

#32220 Add Media Stop Support to BraviaTV Mediaplayer
  homeassistant/components/braviatv/manifest.json
  homeassistant/components/braviatv/media_player.py
  requirements_all.txt
Labels: cla-signed, integration: braviatv, integration: braviatv, integration: braviatv, small-pr

#32335 Refactor dynalite integration for multi-platform
  homeassistant/components/dynalite/__init__.py
  homeassistant/components/dynalite/bridge.py
  homeassistant/components/dynalite/config_flow.py
  homeassistant/components/dynalite/const.py
  homeassistant/components/dynalite/dynalitebase.py
  homeassistant/components/dynalite/light.py
  homeassistant/components/dynalite/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/dynalite/common.py
  tests/components/dynalite/test_bridge.py
  tests/components/dynalite/test_config_flow.py
  tests/components/dynalite/test_init.py
  tests/components/dynalite/test_light.py
Labels: by-code-owner, cla-signed, has-tests, integration: dynalite

#32369 Upgrade Tibber library to 0.13.0
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
Labels: breaking change, cla-signed, dependency-bump, integration: tibber, small-pr

#32289 Add application/xml as an XML to JSON auto converted mime types for rest sensors
  homeassistant/components/rest/sensor.py
  tests/components/rest/test_sensor.py
Labels: breaking change, cla-signed, has-tests, integration: rest, small-pr

#32349 Move keypad battery implementation details into py-august
  homeassistant/components/august/entity.py
  homeassistant/components/august/manifest.json
  homeassistant/components/august/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/august/test_sensor.py
  tests/fixtures/august/get_lock.low_keypad_battery.json
Labels: by-code-owner, cla-signed, has-tests, integration: august, small-pr

#32393 Keeping adding in Github repositories after error
  homeassistant/components/github/sensor.py
Labels: cla-signed, integration: github, small-pr

#32066 Refactor Certificate Expiry Sensor
  .coveragerc
  homeassistant/components/cert_expiry/config_flow.py
  homeassistant/components/cert_expiry/const.py
  homeassistant/components/cert_expiry/errors.py
  homeassistant/components/cert_expiry/helper.py
  homeassistant/components/cert_expiry/sensor.py
  homeassistant/components/cert_expiry/strings.json
  tests/components/cert_expiry/const.py
  tests/components/cert_expiry/test_config_flow.py
  tests/components/cert_expiry/test_init.py
  tests/components/cert_expiry/test_sensors.py
Labels: breaking change, by-code-owner, cla-signed, has-tests, integration: cert_expiry

#32401 Bump ZHA Quirks to 0.0.34
  homeassistant/components/zha/core/channels/manufacturerspecific.py
  homeassistant/components/zha/manifest.json
  homeassistant/components/zha/strings.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: zha

#32413 Add coronavirus integration
  CODEOWNERS
  homeassistant/components/coronavirus/.translations/en.json
  homeassistant/components/coronavirus/__init__.py
  homeassistant/components/coronavirus/config_flow.py
  homeassistant/components/coronavirus/const.py
  homeassistant/components/coronavirus/manifest.json
  homeassistant/components/coronavirus/sensor.py
  homeassistant/components/coronavirus/strings.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/coronavirus/__init__.py
  tests/components/coronavirus/test_config_flow.py
Labels: cla-signed

#32414 0.106.3
  CODEOWNERS
  homeassistant/components/coronavirus/.translations/en.json
  homeassistant/components/coronavirus/__init__.py
  homeassistant/components/coronavirus/config_flow.py
  homeassistant/components/coronavirus/const.py
  homeassistant/components/coronavirus/manifest.json
  homeassistant/components/coronavirus/sensor.py
  homeassistant/components/coronavirus/strings.json
  homeassistant/const.py
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/coronavirus/__init__.py
  tests/components/coronavirus/test_config_flow.py
Labels: cla-signed

#31173 Add QVR Pro integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/qvr_pro/__init__.py
  homeassistant/components/qvr_pro/camera.py
  homeassistant/components/qvr_pro/const.py
  homeassistant/components/qvr_pro/manifest.json
  homeassistant/components/qvr_pro/services.yaml
  requirements_all.txt
Labels: cla-signed, integration: qvrpro, new-integration

#32417 Coronavirus updates
  homeassistant/components/coronavirus/__init__.py
  homeassistant/components/coronavirus/config_flow.py
  homeassistant/components/coronavirus/sensor.py
  homeassistant/helpers/entity_registry.py
  tests/components/coronavirus/test_init.py
Labels: cla-signed

#32410 Catch Eight Sleep API errors, don't round None type
  homeassistant/components/eight_sleep/sensor.py
Labels: cla-signed

#32423 Add unique ID to coronavirus
  homeassistant/components/coronavirus/__init__.py
  homeassistant/components/coronavirus/config_flow.py
  homeassistant/components/coronavirus/strings.json
  tests/components/coronavirus/test_config_flow.py
  tests/components/coronavirus/test_init.py
Labels: cla-signed

#32424 0.106.4
  homeassistant/components/coronavirus/__init__.py
  homeassistant/components/coronavirus/config_flow.py
  homeassistant/components/coronavirus/sensor.py
  homeassistant/components/coronavirus/strings.json
  homeassistant/components/eight_sleep/manifest.json
  homeassistant/components/eight_sleep/sensor.py
  homeassistant/components/minecraft_server/__init__.py
  homeassistant/const.py
  homeassistant/helpers/entity_registry.py
  requirements_all.txt
  tests/components/coronavirus/test_config_flow.py
  tests/components/coronavirus/test_init.py
Labels: cla-signed

#32436 Bump brother to version 0.1.8
  homeassistant/components/brother/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/fixtures/brother_printer_data.json
Labels: cla-signed

#32378 Remove SUPPORT_PLAY_MEDIA from Roku
  homeassistant/components/roku/media_player.py
Labels: cla-signed, integration: roku, small-pr

#32384 Flume Cleanups (unique id, fix missing timeout, http session, upstream update)
  homeassistant/components/flume/manifest.json
  homeassistant/components/flume/sensor.py
  requirements_all.txt
Labels: cla-signed, docs-missing, integration: flume

#32435 Properly define dependency for pvoutput integration on rest integration
  homeassistant/components/pvoutput/manifest.json
Labels: cla-signed

#32425 Fix zha device pings
  homeassistant/components/zha/core/device.py
  tests/components/zha/test_device.py
Labels: cla-signed, integration: zha

#32367 Update system log grouping
  homeassistant/components/system_log/__init__.py
  tests/components/system_log/test_init.py
Labels: cla-signed, core, has-tests, integration: system_log, small-pr

#32427 Filter out duplicate logbook states
  homeassistant/components/logbook/__init__.py
  tests/components/logbook/test_init.py
Labels: cla-signed

#32441 Remove hassfest blacklisted rest
  homeassistant/components/dwd_weather_warnings/manifest.json
  homeassistant/components/emulated_hue/manifest.json
  script/hassfest/dependencies.py
Labels: cla-signed

#32421 Numeric state trigger: validate that above is not above below
  homeassistant/components/automation/numeric_state.py
  tests/components/automation/test_numeric_state.py
Labels: cla-signed

#32449 UniFi - Fix websocket bug
  homeassistant/components/unifi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, small-pr

#32440 Fix pushover's ATTR_RETRY env variable typo
  homeassistant/components/pushover/notify.py
Labels: cla-signed

#32426 Fix too many device tracker updates in log for Tesla
  homeassistant/components/tesla/device_tracker.py
Labels: cla-signed

#32457 0.106.5
  homeassistant/components/dwd_weather_warnings/manifest.json
  homeassistant/components/emulated_hue/manifest.json
  homeassistant/components/logbook/__init__.py
  homeassistant/components/pushover/notify.py
  homeassistant/components/pvoutput/manifest.json
  homeassistant/components/tesla/device_tracker.py
  homeassistant/components/unifi/manifest.json
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/dependencies.py
  tests/components/logbook/test_init.py
Labels: cla-signed

#32460 Bump total-connect-client to 0.53
  homeassistant/components/totalconnect/manifest.json
  requirements_all.txt
Labels: cla-signed

#32462 Update roombapy to 1.4.3
  homeassistant/components/roomba/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: roomba, small-pr

#32459 Fix device tracker TrackerEntity defaults
  homeassistant/components/device_tracker/config_entry.py
  homeassistant/components/geofency/device_tracker.py
  homeassistant/components/gpslogger/device_tracker.py
  homeassistant/components/icloud/device_tracker.py
  homeassistant/components/locative/device_tracker.py
  homeassistant/components/mobile_app/device_tracker.py
  homeassistant/components/owntracks/device_tracker.py
  homeassistant/components/tesla/device_tracker.py
  homeassistant/components/traccar/device_tracker.py
  tests/components/device_tracker/test_config_entry.py
Labels: cla-signed, integration: device_tracker, integration: geofency, integration: gpslogger, integration: icloud, integration: locative, integration: mobile_app, integration: owntracks, integration: tesla, integration: traccar, integration: unifi

#32368 Add energy added attribute to Tesla charging rate sensor
  homeassistant/components/tesla/manifest.json
  homeassistant/components/tesla/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: tesla, small-pr

#32332 Add is_volume_muted property to vizio integration
  homeassistant/components/vizio/config_flow.py
  homeassistant/components/vizio/media_player.py
  tests/components/vizio/conftest.py
  tests/components/vizio/test_media_player.py
Labels: by-code-owner, cla-signed, has-tests, integration: vizio, small-pr

#32255 Add set_speed to smarty fan
  homeassistant/components/smarty/fan.py
Labels: by-code-owner, cla-signed, integration: smarty, small-pr

#32452 Update error handling in update coordinator
  homeassistant/components/coronavirus/__init__.py
  homeassistant/components/hue/light.py
  homeassistant/components/hue/sensor_base.py
  homeassistant/components/tankerkoenig/sensor.py
  homeassistant/components/updater/__init__.py
  homeassistant/helpers/update_coordinator.py
  tests/components/updater/test_init.py
  tests/helpers/test_update_coordinator.py
Labels: cla-signed

#32463 Use a requests Session for rest sensors
  homeassistant/components/rest/sensor.py
  tests/components/rest/test_sensor.py
Labels: cla-signed, has-tests, integration: rest, small-pr

#32468 Remove ZHA attribute listening channel
  homeassistant/components/zha/binary_sensor.py
  homeassistant/components/zha/core/channels/__init__.py
  homeassistant/components/zha/core/channels/base.py
  homeassistant/components/zha/core/channels/closures.py
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/core/channels/homeautomation.py
  homeassistant/components/zha/core/channels/hvac.py
  homeassistant/components/zha/core/channels/manufacturerspecific.py
  homeassistant/components/zha/core/channels/measurement.py
  homeassistant/components/zha/core/channels/security.py
  homeassistant/components/zha/core/channels/smartenergy.py
  homeassistant/components/zha/core/discovery.py
  homeassistant/components/zha/cover.py
  homeassistant/components/zha/device_tracker.py
  homeassistant/components/zha/entity.py
  homeassistant/components/zha/fan.py
  homeassistant/components/zha/light.py
  homeassistant/components/zha/lock.py
  homeassistant/components/zha/sensor.py
  homeassistant/components/zha/switch.py
  tests/components/zha/test_channels.py
Labels: by-code-owner, cla-signed, has-tests, integration: zha

#32472 Upgrade huawei-lte-api to 1.4.10
  homeassistant/components/huawei_lte/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: huawei_lte, small-pr

#32453 Fix filter sensor processing states that aren't numbers
  homeassistant/components/filter/sensor.py
  tests/components/filter/test_sensor.py
Labels: cla-signed

#32473 Deprecate camera WS API
  homeassistant/components/camera/__init__.py
Labels: cla-signed, core, integration: camera, small-pr

#32478 Upgrade Tibber library to 0.13.2
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: tibber, small-pr

#32477 Catch an extra error for Ring
  homeassistant/components/ring/__init__.py
Labels: by-code-owner, cla-signed, integration: ring, small-pr

#32470 Add const file for roku
  homeassistant/components/roku/const.py
  homeassistant/components/roku/media_player.py
Labels: cla-signed, integration: roku, small-pr

#32391 Remove 'show all controls' option for Plex
  homeassistant/components/plex/__init__.py
  homeassistant/components/plex/config_flow.py
  homeassistant/components/plex/media_player.py
  homeassistant/components/plex/server.py
  homeassistant/components/plex/strings.json
  tests/components/plex/test_config_flow.py
Labels: breaking change, by-code-owner, cla-signed, has-tests, integration: plex, small-pr

#32338 GeoNet NZ Quakes code improvements
  homeassistant/components/geonetnz_quakes/__init__.py
  homeassistant/components/geonetnz_quakes/config_flow.py
  homeassistant/components/geonetnz_quakes/geo_location.py
  homeassistant/components/geonetnz_quakes/manifest.json
  homeassistant/components/geonetnz_quakes/sensor.py
  homeassistant/components/geonetnz_quakes/strings.json
  tests/components/geonetnz_quakes/conftest.py
  tests/components/geonetnz_quakes/test_config_flow.py
  tests/components/geonetnz_quakes/test_geo_location.py
  tests/components/geonetnz_quakes/test_init.py
  tests/components/geonetnz_quakes/test_sensor.py
Labels: by-code-owner, cla-signed, has-tests, integration: geonetnz_quakes

#32296 Add abode support for CUE automations
  homeassistant/components/abode/__init__.py
  homeassistant/components/abode/alarm_control_panel.py
  homeassistant/components/abode/binary_sensor.py
  homeassistant/components/abode/camera.py
  homeassistant/components/abode/config_flow.py
  homeassistant/components/abode/const.py
  homeassistant/components/abode/cover.py
  homeassistant/components/abode/light.py
  homeassistant/components/abode/lock.py
  homeassistant/components/abode/manifest.json
  homeassistant/components/abode/sensor.py
  homeassistant/components/abode/services.yaml
  homeassistant/components/abode/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: breaking change, by-code-owner, cla-signed, integration: abode

#32123 Add more Huawei LTE sensors
  homeassistant/components/huawei_lte/__init__.py
  homeassistant/components/huawei_lte/const.py
  homeassistant/components/huawei_lte/sensor.py
Labels: by-code-owner, cla-signed, integration: huawei_lte

#32480 Add icons to Coronavirus
  homeassistant/components/coronavirus/sensor.py
Labels: cla-signed, integration: coronavirus, small-pr

#32381 Reduce log level for initial error and bump library version
  homeassistant/components/buienradar/manifest.json
  homeassistant/components/buienradar/util.py
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, integration: buienradar

#32456 ZHA: Successful pairing feedback
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/light.py
  tests/components/zha/common.py
  tests/components/zha/conftest.py
  tests/components/zha/test_discover.py
Labels: cla-signed, integration: zha

#32202 Add sighthound timestamped file
  homeassistant/components/sighthound/image_processing.py
  tests/components/sighthound/test_image_processing.py
Labels: by-code-owner, cla-signed, has-tests, integration: sighthound

#32483 ZHA Dependencies bump
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: zha, small-pr

#31420 Use SCAN_INTERVAL instead of Throttle for google travel time
  homeassistant/components/google_travel_time/sensor.py
Labels: cla-signed, integration: google_travel_time, small-pr

#30885 Make gen_requirements_all.py case insensitive for ignored packages
  script/gen_requirements_all.py
Labels: cla-signed, small-pr

#31061 Allow string values on zwave.set_node_value
  homeassistant/components/zwave/__init__.py
  homeassistant/components/zwave/services.yaml
  tests/components/zwave/test_init.py
Labels: cla-signed, has-tests, integration: zwave, small-pr

#31815 Add node_def_id for ISY994i wrapped X10 modules
  homeassistant/components/isy994/__init__.py
Labels: cla-signed, integration: isy994, small-pr

#27962 Add edl21 component for SML-based smart meters
  .coveragerc
  CODEOWNERS
  homeassistant/components/edl21/__init__.py
  homeassistant/components/edl21/manifest.json
  homeassistant/components/edl21/sensor.py
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, integration: edl21, new-integration

#28298 Add soundtouch attributes exposing multiroom zone info
  homeassistant/components/soundtouch/media_player.py
  tests/components/soundtouch/test_media_player.py
Labels: Hacktoberfest, cla-signed, integration: soundtouch

#32108 fix double tab and match events.
  homeassistant/components/deconz/device_trigger.py
Labels: breaking change, cla-signed, integration: deconz

#32042 Emoncms API now provides a Unit of Measurement
  CODEOWNERS
  homeassistant/components/emoncms/manifest.json
  homeassistant/components/emoncms/sensor.py
Labels: breaking change, cla-signed, integration: emoncms, small-pr

#31974 Add async_setup_entry/async_unload_entry for remote platform
  homeassistant/components/remote/__init__.py
Labels: cla-signed, core, integration: remote, small-pr

#32360 Add github sensor latest tag attribute
  homeassistant/components/github/sensor.py
Labels: cla-signed, integration: github, small-pr

#32194 Modernize WWLLN config flow
  homeassistant/components/wwlln/.translations/en.json
  homeassistant/components/wwlln/__init__.py
  homeassistant/components/wwlln/config_flow.py
  homeassistant/components/wwlln/const.py
  homeassistant/components/wwlln/geo_location.py
  homeassistant/components/wwlln/strings.json
  tests/components/wwlln/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: wwlln

#32487 Mock all invocations of coronavirus.get_cases
  tests/components/coronavirus/conftest.py
  tests/components/coronavirus/test_config_flow.py
  tests/components/coronavirus/test_init.py
Labels: cla-signed, has-tests, small-pr

#32489 Use unique_id in Plex config entries
  homeassistant/components/plex/__init__.py
  homeassistant/components/plex/config_flow.py
  tests/components/plex/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: plex, small-pr

#32004 UniFi - Add block network access control to config option
  homeassistant/components/unifi/.translations/en.json
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/const.py
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/strings.json
  homeassistant/components/unifi/switch.py
  tests/components/unifi/test_config_flow.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_switch.py
Labels: by-code-owner, cla-signed, has-tests, integration: unifi

#32389 Add Dynalite switch platform
  homeassistant/components/dynalite/__init__.py
  homeassistant/components/dynalite/bridge.py
  homeassistant/components/dynalite/config_flow.py
  homeassistant/components/dynalite/const.py
  homeassistant/components/dynalite/light.py
  homeassistant/components/dynalite/manifest.json
  homeassistant/components/dynalite/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/dynalite/common.py
  tests/components/dynalite/test_bridge.py
  tests/components/dynalite/test_init.py
  tests/components/dynalite/test_switch.py
Labels: by-code-owner, cla-signed, has-tests, integration: dynalite, new-platform

#32400 Get pending iCloud devices when available + request again when needs an update
  homeassistant/components/icloud/__init__.py
  homeassistant/components/icloud/account.py
  homeassistant/components/icloud/const.py
  homeassistant/components/icloud/device_tracker.py
  homeassistant/components/icloud/sensor.py
Labels: by-code-owner, cla-signed, integration: icloud

#32404 Initial support for HomeKit enabled televisions
  homeassistant/components/homekit_controller/const.py
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/homekit_controller/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit_controller/specific_devices/test_lg_tv.py
  tests/components/homekit_controller/test_media_player.py
  tests/fixtures/homekit_controller/lg_tv.json
Labels: by-code-owner, cla-signed, has-tests, integration: homekit_controller

#32485 Add Huawei LTE operator and network related sensors
  homeassistant/components/huawei_lte/__init__.py
  homeassistant/components/huawei_lte/const.py
  homeassistant/components/huawei_lte/sensor.py
Labels: cla-signed, integration: huawei_lte

#32461 Improve script validation
  homeassistant/const.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/script.py
  homeassistant/helpers/service.py
  tests/helpers/test_config_validation.py
Labels: cla-signed, core

#32471 Make it possible to fetch proxy media player album art
  homeassistant/components/media_player/__init__.py
  tests/components/media_player/test_init.py
Labels: cla-signed, core, has-tests, integration: media_player, small-pr

#32479 Require title, separate show sidebar option
  homeassistant/components/lovelace/__init__.py
  homeassistant/components/lovelace/const.py
  homeassistant/components/lovelace/dashboard.py
  tests/components/lovelace/test_dashboard.py
Labels: cla-signed, core, has-tests, integration: lovelace, small-pr

#32444 Allow teaching logbook about events
  homeassistant/components/alexa/__init__.py
  homeassistant/components/alexa/const.py
  homeassistant/components/alexa/manifest.json
  homeassistant/components/alexa/smart_home.py
  homeassistant/components/cloud/manifest.json
  homeassistant/components/logbook/__init__.py
  homeassistant/scripts/benchmark/__init__.py
  tests/components/alexa/test_init.py
  tests/components/alexa/test_intent.py
  tests/components/logbook/test_init.py
Labels: cla-signed, integration: logbook

#32510 Remove discovery and legacy config file loading for Plex
  homeassistant/components/discovery/__init__.py
  homeassistant/components/plex/config_flow.py
  homeassistant/components/plex/const.py
  homeassistant/components/plex/strings.json
  tests/components/plex/test_config_flow.py
Labels: breaking change, by-code-owner, cla-signed, core, has-tests, integration: discovery, integration: plex, small-pr

#32120 Bugfix evohome converting non-UTC timezones
  homeassistant/components/evohome/__init__.py
  homeassistant/components/evohome/climate.py
  homeassistant/components/evohome/const.py
  homeassistant/components/evohome/water_heater.py
Labels: by-code-owner, cla-signed, integration: evohome

#32512 Guard against invalid trigger and action scenarios in ZHA
  homeassistant/components/zha/device_action.py
  homeassistant/components/zha/device_trigger.py
Labels: by-code-owner, cla-signed, integration: zha, small-pr

#27303 Add OwnTracks Friends via person integration
  homeassistant/components/owntracks/__init__.py
  homeassistant/components/owntracks/messages.py
  tests/components/owntracks/test_device_tracker.py
Labels: Hacktoberfest, cla-signed, integration: owntracks

#32432 Add app support for TVs to Vizio integration
  homeassistant/components/vizio/__init__.py
  homeassistant/components/vizio/config_flow.py
  homeassistant/components/vizio/const.py
  homeassistant/components/vizio/manifest.json
  homeassistant/components/vizio/media_player.py
  homeassistant/components/vizio/strings.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/vizio/conftest.py
  tests/components/vizio/const.py
  tests/components/vizio/test_config_flow.py
  tests/components/vizio/test_media_player.py
Labels: breaking change, by-code-owner, cla-signed, has-tests

#32508 Upgrade hass-nabucasa to 0.32
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: cloud, small-pr

#32516 Send messages conforming new facebook policy
  homeassistant/components/facebook/notify.py
  tests/components/facebook/test_notify.py
Labels: cla-signed, integration: facebook, small-pr

#32521 Upgrade youtube_dl to version 2020.03.06
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: media_extractor, small-pr

#32484 Add availability to roku media player entities
  homeassistant/components/roku/media_player.py
Labels: cla-signed, integration: roku, small-pr

#30152 Add more onvif PTZ move modes
  homeassistant/components/camera/services.yaml
  homeassistant/components/onvif/camera.py
  homeassistant/components/onvif/services.yaml
Labels: breaking change, cla-signed, integration: onvif

#32526 Implement source switching for homekit_controller televisions
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/connection.py
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/homekit_controller/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit_controller/common.py
  tests/components/homekit_controller/specific_devices/test_lg_tv.py
  tests/components/homekit_controller/test_config_flow.py
  tests/components/homekit_controller/test_media_player.py
Labels: by-code-owner, cla-signed, has-tests, integration: homekit_controller

#32532 Updated frontend to 20200306.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#31918 Specify rtsp_transport for Onvif Camera
  homeassistant/components/camera/__init__.py
  homeassistant/components/onvif/camera.py
  homeassistant/components/stream/__init__.py
Labels: cla-signed, core, docs-missing, integration: camera, integration: onvif, integration: stream

#32388 Add config_flow to shopping_list
  homeassistant/components/shopping_list/.translations/en.json
  homeassistant/components/shopping_list/__init__.py
  homeassistant/components/shopping_list/config_flow.py
  homeassistant/components/shopping_list/const.py
  homeassistant/components/shopping_list/manifest.json
  homeassistant/components/shopping_list/strings.json
  homeassistant/generated/config_flows.py
  tests/components/shopping_list/conftest.py
  tests/components/shopping_list/test_config_flow.py
  tests/components/shopping_list/test_init.py
Labels: cla-signed, core, has-tests, integration: shopping_list

#32536 fix step name in strings.json for vizio
  homeassistant/components/vizio/strings.json
Labels: by-code-owner, cla-signed, integration: vizio, small-pr

#32546 Make ZHA Scene channel an eventable channel.
  homeassistant/components/zha/core/channels/general.py
  tests/components/zha/zha_devices_list.py
Labels: cla-signed, has-tests, integration: zha, small-pr

#32498 Allow multiple attribute reads in ZHA
  homeassistant/components/zha/binary_sensor.py
  homeassistant/components/zha/core/channels/__init__.py
  homeassistant/components/zha/core/channels/base.py
  homeassistant/components/zha/core/channels/closures.py
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/core/channels/homeautomation.py
  homeassistant/components/zha/core/channels/hvac.py
  homeassistant/components/zha/core/channels/lighting.py
  homeassistant/components/zha/core/channels/security.py
  homeassistant/components/zha/core/helpers.py
  homeassistant/components/zha/light.py
  homeassistant/components/zha/sensor.py
  homeassistant/components/zha/switch.py
  tests/components/zha/common.py
Labels: by-code-owner, cla-signed, has-tests, integration: zha

#32549 Fix Abode light method
  homeassistant/components/abode/light.py
Labels: by-code-owner, cla-signed, integration: abode, small-pr

#32500 Fix Yandex transport after API change
  homeassistant/components/yandex_transport/sensor.py
  tests/components/yandex_transport/test_yandex_transport_sensor.py
  tests/fixtures/yandex_transport_reply.json
Labels: cla-signed, integration: yandex_transport, small-pr

#32559 Add additional guard to ZHA device triggers
  homeassistant/components/zha/device_trigger.py
Labels: by-code-owner, cla-signed, integration: zha, small-pr

#32561 Refactor ZHA device keep alive checker
  homeassistant/components/zha/core/device.py
  tests/components/zha/test_device.py
Labels: cla-signed, has-tests, integration: zha

#32573 Bump zeroconf to 0.24.5
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: zeroconf, small-pr

#32572 Simplify logbook duplicate handling
  homeassistant/components/logbook/__init__.py
  tests/components/logbook/test_init.py
Labels: cla-signed, core, has-tests, integration: logbook, small-pr

#32554 Add Tibber retry
  homeassistant/components/tibber/__init__.py
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: tibber, small-pr

#32580 Update python-velbus to fix a missing data file
  homeassistant/components/velbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: velbus, small-pr

#32582 Bump pyicloud to 0.9.3
  homeassistant/components/icloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: icloud, small-pr

#32581 Upgrade youtube_dl to version 2020.03.08
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: media_extractor, small-pr

#32578 Bump denonavr to 0.8.0
  homeassistant/components/denonavr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: denonavr, small-pr

#32406 Add support for Ubee Router DVW32CB
  homeassistant/components/ubee/device_tracker.py
  homeassistant/components/ubee/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: ubee, small-pr

#32588 Bump rflink to 0.0.52
  homeassistant/components/rflink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: rflink, small-pr

#32569 Correct grammatical error in CUSTOM_WARNING
  homeassistant/loader.py
Labels: cla-signed, core, small-pr

#32005 Add Steam game ID and screenshot paths as attributes
  homeassistant/components/steam_online/sensor.py
Labels: cla-signed, integration: steam_online, small-pr

#32542 Add thinkingcleaner optional host param
  homeassistant/components/thinkingcleaner/sensor.py
  homeassistant/components/thinkingcleaner/switch.py
Labels: cla-signed, integration: thinkingcleaner

#32602 Fix Withings timezone test
  tests/components/withings/test_common.py
Labels: cla-signed, has-tests, small-pr

#32607 Remove AlexaPowerController from device_class garage covers in Alexa
  homeassistant/components/alexa/entities.py
  tests/components/alexa/test_smart_home.py
Labels: by-code-owner, cla-signed, core, has-tests, integration: alexa, small-pr

#30465 Add IamMeter integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/iammeter/__init__.py
  homeassistant/components/iammeter/manifest.json
  homeassistant/components/iammeter/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: iammeter, new-integration

#32570 Alexa: Support vacuums without turn_on/turn_off feature
  homeassistant/components/alexa/capabilities.py
  homeassistant/components/alexa/entities.py
  homeassistant/components/alexa/handlers.py
  tests/components/alexa/test_smart_home.py
Labels: cla-signed, core, has-tests, integration: alexa, small-pr

#32610 Improve homekit_controller compatibility with some LG TV models
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/homekit_controller/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit_controller/specific_devices/test_lg_tv.py
  tests/components/homekit_controller/test_media_player.py
Labels: by-code-owner, cla-signed, has-tests, integration: homekit_controller, small-pr

#32318 Fix TypeError Exception in AlexaSpeaker
  homeassistant/components/alexa/capabilities.py
  tests/components/alexa/test_capabilities.py
Labels: cla-signed, core, integration: alexa, small-pr

#32609 Bump up ZHA dependencies.
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zha/test_cover.py
  tests/components/zha/test_discover.py
  tests/components/zha/test_light.py
  tests/components/zha/test_switch.py
Labels: cla-signed, dependency-bump, integration: zha, small-pr

#32563 Deduplicate MQTT mixin tests
  homeassistant/components/mqtt/vacuum/schema_legacy.py
  homeassistant/components/mqtt/vacuum/schema_state.py
  tests/components/mqtt/common.py
  tests/components/mqtt/test_alarm_control_panel.py
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_climate.py
  tests/components/mqtt/test_cover.py
  tests/components/mqtt/test_fan.py
  tests/components/mqtt/test_legacy_vacuum.py
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_light_json.py
  tests/components/mqtt/test_light_template.py
  tests/components/mqtt/test_lock.py
  tests/components/mqtt/test_sensor.py
  tests/components/mqtt/test_state_vacuum.py
  tests/components/mqtt/test_switch.py
Labels: cla-signed, core, has-tests, integration: mqtt, small-pr

#32466 Add new sensors to Brother integration
  homeassistant/components/brother/const.py
  homeassistant/components/brother/sensor.py
Labels: by-code-owner, cla-signed, integration: brother

#32611 Reflect new repo name
  setup.py
Labels: cla-signed, core, small-pr

#32586 Convert august to async
  homeassistant/components/august/__init__.py
  homeassistant/components/august/activity.py
  homeassistant/components/august/camera.py
  homeassistant/components/august/config_flow.py
  homeassistant/components/august/gateway.py
  homeassistant/components/august/lock.py
  homeassistant/components/august/manifest.json
  homeassistant/components/august/subscriber.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/august/mocks.py
  tests/components/august/test_camera.py
  tests/components/august/test_config_flow.py
  tests/components/august/test_gateway.py
  tests/components/august/test_init.py
Labels: by-code-owner, cla-signed, has-tests, integration: august

#32615 Freeze config entry data
  homeassistant/components/heos/__init__.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/plex/config_flow.py
  homeassistant/components/samsungtv/config_flow.py
  homeassistant/components/smartthings/__init__.py
  homeassistant/components/smartthings/smartapp.py
  homeassistant/components/transmission/__init__.py
  homeassistant/components/upnp/__init__.py
  homeassistant/config_entries.py
  tests/components/axis/test_init.py
  tests/components/homematicip_cloud/test_device.py
  tests/components/met/test_config_flow.py
  tests/components/mikrotik/test_hub.py
  tests/components/samsungtv/test_config_flow.py
  tests/components/smartthings/test_init.py
  tests/test_config_entries.py
Labels: cla-signed, core, integration: axis, integration: heos, integration: homematicip_cloud, integration: met, integration: mikrotik, integration: mqtt, integration: plex, integration: samsungtv, integration: smartthings, integration: transmission, integration: upnp, small-pr

#32621 Validate WWLLN window size in config schema
  homeassistant/components/wwlln/.translations/en.json
  homeassistant/components/wwlln/__init__.py
  homeassistant/components/wwlln/config_flow.py
  homeassistant/components/wwlln/const.py
  homeassistant/components/wwlln/geo_location.py
  homeassistant/components/wwlln/strings.json
  tests/components/wwlln/test_config_flow.py
Labels: by-code-owner, cla-signed, integration: wwlln, small-pr

#32618 Add PollControl cluster support to ZHA
  homeassistant/components/zha/core/channels/general.py
  tests/components/zha/common.py
  tests/components/zha/test_channels.py
Labels: cla-signed, has-tests, integration: zha

#32522 Upgrade hass_nabucasa to 0.32.2
  homeassistant/components/cloud/http_api.py
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cloud/test_http_api.py
Labels: cla-signed, core, integration: cloud, small-pr

#32596 Add a commit interval setting to recorder
  homeassistant/components/recorder/__init__.py
  tests/components/history/test_init.py
  tests/components/logbook/test_init.py
  tests/components/recorder/common.py
  tests/components/recorder/test_init.py
Labels: cla-signed, core, has-tests, integration: recorder

#32564 Breakout tado zone code into a single place
  CODEOWNERS
  homeassistant/components/tado/__init__.py
  homeassistant/components/tado/climate.py
  homeassistant/components/tado/const.py
  homeassistant/components/tado/manifest.json
  homeassistant/components/tado/sensor.py
  homeassistant/components/tado/tado_adapter.py
  homeassistant/components/tado/water_heater.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tado/mocks.py
  tests/components/tado/test_tado_adapter.py
  tests/fixtures/tado/ac_issue_32294.heat_mode.json
  tests/fixtures/tado/hvac_action_heat.json
  tests/fixtures/tado/michael_heat_mode.json
  tests/fixtures/tado/smartac3.auto_mode.json
  tests/fixtures/tado/smartac3.cool_mode.json
  tests/fixtures/tado/smartac3.dry_mode.json
  tests/fixtures/tado/smartac3.fan_mode.json
  tests/fixtures/tado/smartac3.heat_mode.json
  tests/fixtures/tado/smartac3.hvac_off.json
  tests/fixtures/tado/smartac3.manual_off.json
  tests/fixtures/tado/smartac3.offline.json
  tests/fixtures/tado/smartac3.smart_mode.json
  tests/fixtures/tado/smartac3.turning_off.json
Labels: cla-signed, has-tests, integration: tado

#32624 Ensure AirVisual import config flow checks API key correctness
  homeassistant/components/airvisual/config_flow.py
  tests/components/airvisual/test_config_flow.py
Labels: cla-signed, has-tests, small-pr

#32616 Alexa: Add support for starting and cancelling timers
  homeassistant/components/alexa/capabilities.py
  homeassistant/components/alexa/entities.py
  homeassistant/components/alexa/handlers.py
  tests/components/alexa/test_smart_home.py
Labels: cla-signed, core, has-tests, integration: alexa, small-pr

#32617 Clear discovery topic for MQTT device triggers
  homeassistant/components/mqtt/device_trigger.py
  tests/components/mqtt/test_device_trigger.py
Labels: cla-signed, core, has-tests, integration: mqtt, small-pr

#32626 Sonos: Return URI as media_content_id
  homeassistant/components/sonos/media_player.py
Labels: cla-signed, integration: sonos, small-pr

#32517 Remove facebook broadcast api
  homeassistant/components/facebook/notify.py
Labels: breaking change, cla-signed, integration: facebook, small-pr

#31832 Add tests for workday sensor
  tests/components/workday/test_binary_sensor.py
Labels: cla-signed, integration: workday, small-pr

#32639 Revert "Breakout tado zone code into a single place"
  CODEOWNERS
  homeassistant/components/tado/__init__.py
  homeassistant/components/tado/climate.py
  homeassistant/components/tado/const.py
  homeassistant/components/tado/manifest.json
  homeassistant/components/tado/sensor.py
  homeassistant/components/tado/tado_adapter.py
  homeassistant/components/tado/water_heater.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tado/mocks.py
  tests/components/tado/test_tado_adapter.py
  tests/fixtures/tado/ac_issue_32294.heat_mode.json
  tests/fixtures/tado/hvac_action_heat.json
  tests/fixtures/tado/michael_heat_mode.json
  tests/fixtures/tado/smartac3.auto_mode.json
  tests/fixtures/tado/smartac3.cool_mode.json
  tests/fixtures/tado/smartac3.dry_mode.json
  tests/fixtures/tado/smartac3.fan_mode.json
  tests/fixtures/tado/smartac3.heat_mode.json
  tests/fixtures/tado/smartac3.hvac_off.json
  tests/fixtures/tado/smartac3.manual_off.json
  tests/fixtures/tado/smartac3.offline.json
  tests/fixtures/tado/smartac3.smart_mode.json
  tests/fixtures/tado/smartac3.turning_off.json
Labels: by-code-owner, cla-signed, has-tests, integration: tado

#31950 Add devices check to iCloud config flow
  homeassistant/components/icloud/.translations/en.json
  homeassistant/components/icloud/account.py
  homeassistant/components/icloud/config_flow.py
  homeassistant/components/icloud/manifest.json
  homeassistant/components/icloud/strings.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/icloud/test_config_flow.py
Labels: by-code-owner, cla-signed, dependency-bump, has-tests, integration: icloud, small-pr

#31537 Add support for newer SamsungTV models
  homeassistant/components/samsungtv/__init__.py
  homeassistant/components/samsungtv/bridge.py
  homeassistant/components/samsungtv/config_flow.py
  homeassistant/components/samsungtv/const.py
  homeassistant/components/samsungtv/manifest.json
  homeassistant/components/samsungtv/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/samsungtv/test_config_flow.py
  tests/components/samsungtv/test_init.py
  tests/components/samsungtv/test_media_player.py
Labels: breaking change, cla-signed, integration: samsungtv

#32628 Clean up homekit_controller entity setup
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, integration: homekit_controller

#32638 Use callback instead of async methods in Timer
  homeassistant/components/timer/__init__.py
Labels: cla-signed, core, integration: timer, small-pr

#32625 UniFi - Fix block functionality
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/manifest.json
  homeassistant/components/unifi/switch.py
  homeassistant/components/unifi/unifi_client.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: unifi, small-pr

#32078 Add support for MELCloud Air-to-Water devices
  .coveragerc
  homeassistant/components/melcloud/__init__.py
  homeassistant/components/melcloud/climate.py
  homeassistant/components/melcloud/const.py
  homeassistant/components/melcloud/manifest.json
  homeassistant/components/melcloud/sensor.py
  homeassistant/components/melcloud/water_heater.py
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, integration: melcloud, new-platform

#32647 Check against Switch attr not being None
  homeassistant/components/switch/__init__.py
Labels: cla-signed, core, integration: switch, small-pr

#32648 Upgrade to coronavirus 1.1.0
  homeassistant/components/coronavirus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: coronavirus, small-pr

#32650 0.106.6
  homeassistant/components/coronavirus/manifest.json
  homeassistant/components/facebook/notify.py
  homeassistant/components/icloud/__init__.py
  homeassistant/components/icloud/account.py
  homeassistant/components/icloud/const.py
  homeassistant/components/icloud/device_tracker.py
  homeassistant/components/icloud/sensor.py
  homeassistant/components/velbus/manifest.json
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/facebook/test_notify.py
Labels: cla-signed, core, has-tests, integration: coronavirus, integration: facebook, integration: icloud, integration: velbus, merging-to-master

#32634 Add options flow for AirVisual
  homeassistant/components/airvisual/.translations/en.json
  homeassistant/components/airvisual/__init__.py
  homeassistant/components/airvisual/config_flow.py
  homeassistant/components/airvisual/sensor.py
  homeassistant/components/airvisual/strings.json
  tests/components/airvisual/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: airvisual

#32591 Add griddy integration
  CODEOWNERS
  homeassistant/components/griddy/.translations/en.json
  homeassistant/components/griddy/__init__.py
  homeassistant/components/griddy/config_flow.py
  homeassistant/components/griddy/const.py
  homeassistant/components/griddy/manifest.json
  homeassistant/components/griddy/sensor.py
  homeassistant/components/griddy/strings.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/griddy/__init__.py
  tests/components/griddy/test_config_flow.py
  tests/components/griddy/test_sensor.py
  tests/fixtures/griddy/getnow.json
Labels: cla-signed, has-tests, integration: griddy, new-integration
