Repository home-assistant/core, pull requests merged in 2020-08, with the labels that each got.

#38442 Update bond-api to 0.1.8
  homeassistant/components/bond/light.py
  homeassistant/components/bond/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: bond, small-pr

#38337 Add support to climate devices in Google Assistant Fan Trait
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_google_assistant.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, core, has-tests, integration: google_assistant, new-feature

#37761 Add unique ids for "buienradar" platforms weather and camera
  homeassistant/components/buienradar/camera.py
  homeassistant/components/buienradar/sensor.py
  homeassistant/components/buienradar/util.py
  homeassistant/components/buienradar/weather.py
Labels: cla-signed, integration: buienradar, new-feature, small-pr

#38434 Improve logging when a unique id conflict is detected
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_entity_platform.py
Labels: cla-signed, core, has-tests, small-pr

#38443 0.113.3
  .github/workflows/ci.yaml
  homeassistant/components/abode/__init__.py
  homeassistant/components/abode/camera.py
  homeassistant/components/abode/manifest.json
  homeassistant/components/ads/__init__.py
  homeassistant/components/ads/manifest.json
  homeassistant/components/androidtv/manifest.json
  homeassistant/components/cast/config_flow.py
  homeassistant/components/cast/manifest.json
  homeassistant/components/google_translate/tts.py
  homeassistant/components/harmony/config_flow.py
  homeassistant/components/harmony/manifest.json
  homeassistant/components/kodi/media_player.py
  homeassistant/components/nut/config_flow.py
  homeassistant/components/plex/server.py
  homeassistant/components/rmvtransport/sensor.py
  homeassistant/components/songpal/config_flow.py
  homeassistant/components/toon/coordinator.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  setup.py
  tests/components/abode/test_camera.py
  tests/components/cast/test_init.py
  tests/components/harmony/test_config_flow.py
  tests/components/nut/test_config_flow.py
  tests/components/plex/mock_classes.py
  tests/components/rmvtransport/test_sensor.py
Labels: cla-signed

#38432 Fix queued script not updating current attribute when queuing
  homeassistant/helpers/script.py
  tests/helpers/test_script.py
Labels: bugfix, cla-signed, core

#38448 Add zeroconf discovery for bond integration
  homeassistant/components/bond/config_flow.py
  homeassistant/components/bond/const.py
  homeassistant/components/bond/manifest.json
  homeassistant/components/bond/strings.json
  homeassistant/components/bond/translations/en.json
  homeassistant/generated/zeroconf.py
  tests/components/bond/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: bond, new-feature

#38435 Increase test coverage for rfxtrx integration
  .coveragerc
  tests/components/rfxtrx/test_binary_sensor.py
  tests/components/rfxtrx/test_light.py
Labels: cla-signed, code-quality, small-pr

#38447 Add node neighbors to ozw websocket api
  homeassistant/components/ozw/websocket_api.py
  tests/components/ozw/test_websocket_api.py
Labels: cla-signed, has-tests, integration: ozw, new-feature, small-pr

#37737 Refactor Météo-France to use API instead of web scraping
  CODEOWNERS
  homeassistant/components/meteo_france/__init__.py
  homeassistant/components/meteo_france/config_flow.py
  homeassistant/components/meteo_france/const.py
  homeassistant/components/meteo_france/manifest.json
  homeassistant/components/meteo_france/sensor.py
  homeassistant/components/meteo_france/strings.json
  homeassistant/components/meteo_france/translations/en.json
  homeassistant/components/meteo_france/weather.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/meteo_france/conftest.py
  tests/components/meteo_france/test_config_flow.py
Labels: breaking-change, by-code-owner, cla-signed, has-tests, integration: meteo_france

#38011 Add optional unique_id attribute to the template platforms
  homeassistant/components/template/alarm_control_panel.py
  homeassistant/components/template/binary_sensor.py
  homeassistant/components/template/cover.py
  homeassistant/components/template/fan.py
  homeassistant/components/template/light.py
  homeassistant/components/template/lock.py
  homeassistant/components/template/sensor.py
  homeassistant/components/template/switch.py
  homeassistant/components/template/vacuum.py
  homeassistant/const.py
  tests/components/template/test_alarm_control_panel.py
  tests/components/template/test_binary_sensor.py
  tests/components/template/test_cover.py
  tests/components/template/test_fan.py
  tests/components/template/test_light.py
  tests/components/template/test_lock.py
  tests/components/template/test_sensor.py
  tests/components/template/test_switch.py
  tests/components/template/test_vacuum.py
Labels: cla-signed, core, has-tests, integration: template, new-feature

#38436 Allow automation to be turned off without stopping actions
  homeassistant/components/automation/__init__.py
  homeassistant/components/automation/services.yaml
  homeassistant/components/script/__init__.py
  tests/components/automation/test_init.py
Labels: bugfix, cla-signed, core, integration: automation, integration: script, small-pr

#38460 Optimize directv config flow tests
  tests/components/directv/test_config_flow.py
Labels: cla-signed, has-tests, integration: directv, integration: directv, small-pr

#38471 Fix Android TV ADB authorization
  homeassistant/components/androidtv/media_player.py
  tests/components/androidtv/patchers.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: androidtv, small-pr

#38461 Update pyskyqhu to 0.1.1
  homeassistant/components/sky_hub/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: sky_hub, small-pr

#38312 Add sensor platform for AccuWeather integration
  .coveragerc
  homeassistant/components/accuweather/__init__.py
  homeassistant/components/accuweather/const.py
  homeassistant/components/accuweather/sensor.py
  homeassistant/components/accuweather/strings.json
  homeassistant/components/accuweather/strings.sensor.json
Labels: by-code-owner, cla-signed, integration: accuweather, new-feature, new-platform

#37906 Add bed sensor availability for withings
  homeassistant/components/withings/common.py
  tests/components/withings/test_binary_sensor.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: withings, small-pr

#37745 Add platform tests to yeelight
  .coveragerc
  requirements_test_all.txt
  tests/components/yeelight/__init__.py
  tests/components/yeelight/test_binary_sensor.py
  tests/components/yeelight/test_light.py
Labels: cla-signed, code-quality, has-tests, integration: yeelight, small-pr

#38345 Add homematic IPWKeyBlindMulti device
  homeassistant/components/homematic/const.py
Labels: cla-error, cla-signed, integration: homematic, new-feature, small-pr

#38472 Avoid shutdown delays when emulated_hue is enabled
  homeassistant/components/emulated_hue/upnp.py
Labels: cla-signed, integration: emulated_hue, small-pr

#38374 Catch AssertionError when onkyo zone 3 detection fails
  homeassistant/components/onkyo/media_player.py
Labels: bugfix, cla-signed, integration: onkyo, small-pr

#38415 Update numato-gpio to 0.8.0
  homeassistant/components/numato/binary_sensor.py
  homeassistant/components/numato/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: numato, small-pr

#38485 Optimize ipp tests
  tests/components/ipp/__init__.py
  tests/components/ipp/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: ipp, small-pr

#38496 Ensure bond unique ids are unique across hubs
  homeassistant/components/bond/entity.py
  tests/components/bond/common.py
  tests/components/bond/test_cover.py
  tests/components/bond/test_fan.py
  tests/components/bond/test_light.py
  tests/components/bond/test_switch.py
Labels: breaking-change, by-code-owner, cla-signed, has-tests, integration: bond, small-pr

#38494 Provide a unique entity ID
  homeassistant/components/lg_soundbar/media_player.py
Labels: cla-signed, integration: lg_soundbar, new-feature, small-pr

#37190 Add config flow to HLK-SW16
  .coveragerc
  CODEOWNERS
  homeassistant/components/hlk_sw16/__init__.py
  homeassistant/components/hlk_sw16/config_flow.py
  homeassistant/components/hlk_sw16/const.py
  homeassistant/components/hlk_sw16/errors.py
  homeassistant/components/hlk_sw16/manifest.json
  homeassistant/components/hlk_sw16/strings.json
  homeassistant/components/hlk_sw16/switch.py
  homeassistant/components/hlk_sw16/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_test_all.txt
  tests/components/hlk_sw16/__init__.py
  tests/components/hlk_sw16/test_config_flow.py
Labels: breaking-change, cla-signed, integration: hlk_sw16

#38119 Fix lookup by Plex media key when playing on Sonos
  homeassistant/components/plex/__init__.py
  tests/components/plex/test_playback.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: plex, small-pr

#38500 Clean up Plex clip handling
  homeassistant/components/plex/media_player.py
  homeassistant/components/plex/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: plex, small-pr

#38439 Fix harmony activity starting initial state
  homeassistant/components/harmony/remote.py
Labels: by-code-owner, cla-signed, integration: harmony, small-pr

#38056 Bump hass-nabucasa to avoid the performance penalty loading ecdsa
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, small-pr

#38492 Fix flapping chained task logging test
  tests/test_core.py
Labels: cla-signed, core, small-pr

#38255 Fix Lutron Caseta devices loading when missing serials
  homeassistant/components/lutron_caseta/binary_sensor.py
Labels: bugfix, cla-signed, integration: lutron_caseta, small-pr

#38514 Update frontend to 20200803.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#38513 Add missing MQTT strings
  homeassistant/components/mqtt/strings.json
Labels: bugfix, by-code-owner, cla-signed, core, integration: mqtt, small-pr

#38508 Log the version reported by Bond hub upon startup to facilitate troub…
  homeassistant/components/bond/utils.py
Labels: by-code-owner, cla-signed, code-quality, integration: bond, small-pr

#38515 Fix missing .name at entity_id in service example
  homeassistant/components/camera/services.yaml
Labels: bugfix, cla-signed, core, integration: camera, small-pr

#38139 Remove deprecated Slack attachments framework
  homeassistant/components/slack/notify.py
Labels: breaking-change, by-code-owner, cla-signed, has-tests, integration: slack, small-pr

#38141 Remove YAML configuration support for IQVIA
  homeassistant/components/iqvia/__init__.py
  homeassistant/components/iqvia/config_flow.py
  homeassistant/components/iqvia/strings.json
  homeassistant/components/iqvia/translations/en.json
  tests/components/iqvia/test_config_flow.py
Labels: breaking-change, by-code-owner, cla-signed, has-tests, integration: iqvia, small-pr

#38519 Bump aioambient to 1.2.1
  homeassistant/components/ambient_station/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: ambient_station, small-pr

#38520 Fix run-in-env.sh sh options
  script/run-in-env.sh
Labels: bugfix, cla-signed, small-pr

#38469 Reduce time to reload yaml and check configuration
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: cla-signed, core, has-tests, small-pr

#38451 Cache emulated hue states attributes between get and put calls to avoid unexpected alexa errors
  homeassistant/components/emulated_hue/hue_api.py
  tests/components/emulated_hue/test_hue_api.py
Labels: bugfix, cla-signed, integration: emulated_hue, small-pr

#38347 Bump pyaehw4a1 to 0.3.9
  homeassistant/components/hisense_aehw4a1/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: hisense_aehw4a1, small-pr

#38530 Update pyhomematic to 0.1.68
  homeassistant/components/homematic/const.py
  homeassistant/components/homematic/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, integration: homematic, small-pr

#38528 Fix Fibaro component failure to load with HC3
  homeassistant/components/fibaro/__init__.py
Labels: bugfix, cla-signed, integration: fibaro, small-pr

#38046 Support dual stack IP support (IPv4 and IPv6)
  homeassistant/components/hassio/handler.py
  homeassistant/components/http/__init__.py
  homeassistant/components/http/web_runner.py
  tests/scripts/test_check_config.py
Labels: cla-signed, core, integration: http, new-feature, small-pr

#38525 Fix sensor.time intermittent startup exception
  homeassistant/components/time_date/sensor.py
Labels: bugfix, cla-signed, integration: time_date, small-pr

#38526 Update notify.py
  homeassistant/components/clickatell/notify.py
Labels: cla-signed, integration: clickatell, small-pr

#38054 Make ozw CCT use device attributes instead of hard coded values
  homeassistant/components/ozw/__init__.py
  homeassistant/components/ozw/discovery.py
  homeassistant/components/ozw/light.py
  tests/components/ozw/test_light.py
Labels: bugfix, cla-signed, code-quality, has-tests, integration: ozw, small-pr

#35571 Add Netatmo data handler
  .coveragerc
  homeassistant/components/netatmo/__init__.py
  homeassistant/components/netatmo/api.py
  homeassistant/components/netatmo/camera.py
  homeassistant/components/netatmo/climate.py
  homeassistant/components/netatmo/config_flow.py
  homeassistant/components/netatmo/const.py
  homeassistant/components/netatmo/data_handler.py
  homeassistant/components/netatmo/helper.py
  homeassistant/components/netatmo/light.py
  homeassistant/components/netatmo/manifest.json
  homeassistant/components/netatmo/netatmo_entity_base.py
  homeassistant/components/netatmo/sensor.py
  homeassistant/components/netatmo/services.yaml
  homeassistant/components/netatmo/strings.json
  homeassistant/components/netatmo/webhook.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/netatmo/test_config_flow.py
Labels: by-code-owner, cla-signed, integration: netatmo

#38445 Move system log processing out of the event loop
  homeassistant/components/system_log/__init__.py
  tests/components/system_log/test_init.py
Labels: cla-signed, core, has-tests, integration: system_log

#38302 Fix Control4 token refresh
  homeassistant/components/control4/__init__.py
  homeassistant/components/control4/light.py
Labels: by-code-owner, cla-signed, integration: control4, small-pr

#36001 Add spider config flow
  homeassistant/components/spider/__init__.py
  homeassistant/components/spider/climate.py
  homeassistant/components/spider/config_flow.py
  homeassistant/components/spider/const.py
  homeassistant/components/spider/manifest.json
  homeassistant/components/spider/strings.json
  homeassistant/components/spider/switch.py
  homeassistant/components/spider/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_test_all.txt
  tests/components/spider/__init__.py
  tests/components/spider/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: spider

#38543 Upgrade toonapi to v0.2.0
  homeassistant/components/toon/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: toon, small-pr

#38547 Update pymetno lib, and start using met api v2
  homeassistant/components/met/manifest.json
  homeassistant/components/met/weather.py
  homeassistant/components/norway_air/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, integration: met, integration: norway_air, small-pr

#37879 Add new Water Meter Sensor for Toon
  homeassistant/components/toon/const.py
  homeassistant/components/toon/models.py
  homeassistant/components/toon/sensor.py
Labels: cla-signed, integration: toon, new-feature

#38091 Fix Mikrotik encoding by setting utf8
  homeassistant/components/mikrotik/hub.py
Labels: bugfix, cla-signed, integration: mikrotik, small-pr

#37526 Allow device class to control icons for tesla
  homeassistant/components/tesla/__init__.py
Labels: cla-signed, integration: tesla, small-pr

#38230 Fix upnp error on unload_entry if device does not exist
  homeassistant/components/upnp/__init__.py
  homeassistant/components/upnp/config_flow.py
  homeassistant/components/upnp/const.py
  homeassistant/components/upnp/device.py
  homeassistant/components/upnp/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: upnp, small-pr

#38491 Add a 60s timeout to shell_command to prevent processes from building up
  homeassistant/components/shell_command/__init__.py
  tests/components/shell_command/test_init.py
Labels: breaking-change, cla-signed, core, has-tests, integration: shell_command, small-pr

#38497 Add missing timeout to command_line platforms: cover, notify, switch
  homeassistant/components/command_line/__init__.py
  homeassistant/components/command_line/binary_sensor.py
  homeassistant/components/command_line/const.py
  homeassistant/components/command_line/cover.py
  homeassistant/components/command_line/notify.py
  homeassistant/components/command_line/sensor.py
  homeassistant/components/command_line/switch.py
  tests/components/command_line/test_cover.py
  tests/components/command_line/test_notify.py
  tests/components/command_line/test_sensor.py
  tests/components/command_line/test_switch.py
Labels: breaking-change, cla-signed, has-tests, integration: command_line

#38250 Keep webostv source list when TV is off
  homeassistant/components/webostv/media_player.py
Labels: cla-signed, integration: webostv, small-pr

#38539 Use IP Address (host) provided by mDNS on Elgato Key Light
  homeassistant/components/elgato/config_flow.py
  tests/components/elgato/__init__.py
  tests/components/elgato/test_config_flow.py
  tests/components/elgato/test_init.py
Labels: bugfix, cla-signed, integration: elgato, small-pr

#38542 Update pyrainbird to 0.4.2
  homeassistant/components/rainbird/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: rainbird, small-pr

#37985 Add Xiaomi Aqara wireless and light switches (2020 model)
  homeassistant/components/xiaomi_aqara/binary_sensor.py
  homeassistant/components/xiaomi_aqara/manifest.json
  homeassistant/components/xiaomi_aqara/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: xiaomi_aqara, new-feature, small-pr

#38504 Prevent ping integration from blocking startup
  .coveragerc
  homeassistant/components/ping/binary_sensor.py
  homeassistant/components/ping/const.py
  homeassistant/components/ping/device_tracker.py
  homeassistant/util/process.py
  tests/util/test_process.py
Labels: cla-signed, integration: ping

#38503 Add device_info to GIOS integration
  homeassistant/components/gios/air_quality.py
  homeassistant/components/gios/const.py
Labels: by-code-owner, cla-signed, code-quality, integration: gios, small-pr

#38480 Add device_info property for AccuWeather integration
  homeassistant/components/accuweather/const.py
  homeassistant/components/accuweather/sensor.py
  homeassistant/components/accuweather/weather.py
Labels: by-code-owner, cla-signed, code-quality, integration: accuweather

#38479 Add device_info property and simplify generation of unique_id for Airly integration
  homeassistant/components/airly/air_quality.py
  homeassistant/components/airly/const.py
  homeassistant/components/airly/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: airly

#38556 Bump python-wiffi to 1.0.1
  homeassistant/components/wiffi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: wiffi, small-pr

#36104 OVO Energy Integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/ovo_energy/__init__.py
  homeassistant/components/ovo_energy/config_flow.py
  homeassistant/components/ovo_energy/const.py
  homeassistant/components/ovo_energy/manifest.json
  homeassistant/components/ovo_energy/sensor.py
  homeassistant/components/ovo_energy/strings.json
  homeassistant/components/ovo_energy/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ovo_energy/__init__.py
  tests/components/ovo_energy/test_config_flow.py
Labels: cla-signed, has-tests, integration: ovo_energy, new-integration

#38329 Intelligent timeout handler for setup/bootstrap
  homeassistant/bootstrap.py
  homeassistant/components/recorder/__init__.py
  homeassistant/components/recorder/const.py
  homeassistant/components/recorder/migration.py
  homeassistant/core.py
  homeassistant/helpers/entity_platform.py
  homeassistant/requirements.py
  homeassistant/setup.py
  homeassistant/util/timeout.py
  tests/components/alarm_control_panel/test_device_action.py
  tests/components/binary_sensor/test_device_condition.py
  tests/components/binary_sensor/test_device_trigger.py
  tests/components/cover/test_device_action.py
  tests/components/dsmr/test_sensor.py
  tests/components/flux/test_switch.py
  tests/components/lock/test_device_action.py
  tests/helpers/test_entity_platform.py
  tests/test_core.py
  tests/test_requirements.py
  tests/test_setup.py
  tests/util/test_timeout.py
Labels: cla-signed, core

#38557 Bump frontend to 20200805.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#38466 Add zeroconf/homekit/ssdp discovery support for custom components
  homeassistant/components/ssdp/__init__.py
  homeassistant/components/zeroconf/__init__.py
  homeassistant/loader.py
  tests/components/ssdp/test_init.py
  tests/test_loader.py
Labels: cla-signed, core, has-tests, integration: ssdp, integration: zeroconf

#38548 Allow to set default dark theme and persist frontend default themes
  homeassistant/components/frontend/__init__.py
  homeassistant/components/frontend/services.yaml
  tests/components/frontend/test_init.py
Labels: cla-signed, core, has-tests, integration: frontend, new-feature

#38474 Add a timeout for async_add_entities
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_entity_platform.py
Labels: cla-signed, core, small-pr

#37366 Add devolo light devices
  .coveragerc
  homeassistant/components/devolo_home_control/const.py
  homeassistant/components/devolo_home_control/devolo_multi_level_switch.py
  homeassistant/components/devolo_home_control/light.py
  homeassistant/components/devolo_home_control/switch.py
Labels: by-code-owner, cla-signed, integration: devolo_home_control, new-feature, new-platform

#38574 Handle non-existing translations in clean script
  script/translations/clean.py
Labels: cla-signed, small-pr

#38578 Bump androidtv to 0.0.48 and pure-python-adb to 0.3.0.dev0
  homeassistant/components/androidtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: androidtv, small-pr

#38584 Revert "Add a timeout for async_add_entities"
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_entity_platform.py
Labels: cla-signed, core, small-pr

#38568 Suppress MQTT discovery updates without changes
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/light/schema_template.py
  tests/components/mqtt/test_alarm_control_panel.py
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_camera.py
  tests/components/mqtt/test_climate.py
  tests/components/mqtt/test_common.py
  tests/components/mqtt/test_cover.py
  tests/components/mqtt/test_fan.py
  tests/components/mqtt/test_legacy_vacuum.py
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_light_json.py
  tests/components/mqtt/test_light_template.py
  tests/components/mqtt/test_lock.py
  tests/components/mqtt/test_sensor.py
  tests/components/mqtt/test_state_vacuum.py
  tests/components/mqtt/test_switch.py
Labels: bugfix, by-code-owner, cla-signed, core, has-tests, integration: mqtt, small-pr

#38565 Remove Linky integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/linky/__init__.py
  homeassistant/components/linky/config_flow.py
  homeassistant/components/linky/const.py
  homeassistant/components/linky/manifest.json
  homeassistant/components/linky/sensor.py
  homeassistant/components/linky/strings.json
  homeassistant/components/linky/translations/bg.json
  homeassistant/components/linky/translations/ca.json
  homeassistant/components/linky/translations/cs.json
  homeassistant/components/linky/translations/da.json
  homeassistant/components/linky/translations/de.json
  homeassistant/components/linky/translations/en.json
  homeassistant/components/linky/translations/es-419.json
  homeassistant/components/linky/translations/es.json
  homeassistant/components/linky/translations/fr.json
  homeassistant/components/linky/translations/hu.json
  homeassistant/components/linky/translations/it.json
  homeassistant/components/linky/translations/ko.json
  homeassistant/components/linky/translations/lb.json
  homeassistant/components/linky/translations/lv.json
  homeassistant/components/linky/translations/nl.json
  homeassistant/components/linky/translations/nn.json
  homeassistant/components/linky/translations/no.json
  homeassistant/components/linky/translations/pl.json
  homeassistant/components/linky/translations/pt-BR.json
  homeassistant/components/linky/translations/pt.json
  homeassistant/components/linky/translations/ru.json
  homeassistant/components/linky/translations/sl.json
  homeassistant/components/linky/translations/sv.json
  homeassistant/components/linky/translations/zh-Hans.json
  homeassistant/components/linky/translations/zh-Hant.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/linky/__init__.py
  tests/components/linky/conftest.py
  tests/components/linky/test_config_flow.py
Labels: breaking-change, by-code-owner, cla-signed, integration: linky, remove-platform, small-pr

#38555 Add support for Philips Hue Smart Button
  homeassistant/components/deconz/device_trigger.py
  homeassistant/components/hue/device_trigger.py
Labels: cla-signed, integration: deconz, integration: hue, new-feature, small-pr

#36597 Add devolo blinds devices
  .coveragerc
  homeassistant/components/devolo_home_control/const.py
  homeassistant/components/devolo_home_control/cover.py
  homeassistant/components/devolo_home_control/switch.py
Labels: by-code-owner, cla-signed, integration: devolo_home_control, new-feature, new-platform

#38591 Do not print warning when command line switch queries off
  homeassistant/components/command_line/__init__.py
  homeassistant/components/command_line/switch.py
Labels: bugfix, cla-signed, integration: command_line, small-pr

#38378 Support Next/Previous for InputSelector
  homeassistant/components/google_assistant/const.py
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, core, has-tests, integration: google_assistant, new-feature

#38330 Add node firmware to ozw device registry
  homeassistant/components/ozw/__init__.py
  homeassistant/components/ozw/entity.py
  homeassistant/components/ozw/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: ozw, new-feature, small-pr

#38242 Change http to auto for cast media image url
  homeassistant/components/cast/media_player.py
  tests/components/cast/test_media_player.py
Labels: bugfix, cla-signed, integration: cast, small-pr

#38599 Remove wrong update per core design on ZHA
  homeassistant/components/zha/entity.py
Labels: cla-signed, integration: zha, small-pr

#38583 Add events to Dynalite platform
  homeassistant/components/dynalite/bridge.py
  homeassistant/components/dynalite/const.py
  homeassistant/components/dynalite/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/dynalite/test_bridge.py
Labels: by-code-owner, cla-signed, has-tests, integration: dynalite

#38598 Improve the OVO Energy integration
  homeassistant/components/ovo_energy/config_flow.py
  homeassistant/components/ovo_energy/manifest.json
  homeassistant/components/ovo_energy/strings.json
  homeassistant/components/ovo_energy/translations/en.json
Labels: by-code-owner, cla-signed, code-quality, integration: ovo_energy

#38617 Expose video doorbell button state to HomeKit
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_cameras.py
  tests/components/homekit/test_type_cameras.py
Labels: cla-signed, has-tests, integration: homekit, new-feature, small-pr

#36739 Add vizio service to update a device setting
  homeassistant/components/vizio/const.py
  homeassistant/components/vizio/media_player.py
  homeassistant/components/vizio/services.yaml
  tests/components/vizio/test_media_player.py
Labels: by-code-owner, cla-signed, has-tests, integration: vizio, new-feature

#38609 Ensure homekit pairing barcode is usable on dark themes
  homeassistant/components/homekit/util.py
Labels: by-code-owner, cla-signed, integration: homekit, small-pr

#38608 Do not report google states if nothing to report
  homeassistant/components/google_assistant/report_state.py
Labels: bugfix, cla-signed, core, integration: google_assistant, small-pr

#38611 Handle unavailable input_select in Google Assistant
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/google_assistant/test_trait.py
Labels: bugfix, cla-signed, core, has-tests, integration: google_assistant

#38601 V2 timeout for async_add_entities
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_entity_platform.py
Labels: cla-signed, core

#38616 Bump OpenCV 4.3.0 and Numpy 1.19.1
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/opencv/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: iqvia, integration: opencv, integration: tensorflow, integration: trend, small-pr

#38619 Ensure doorbird does not block startup
  homeassistant/components/doorbird/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: doorbird, small-pr

#38384 Upgrade to TensorFlow 2
  azure-pipelines-wheels.yml
  homeassistant/components/tensorflow/image_processing.py
  homeassistant/components/tensorflow/manifest.json
  pylintrc
  requirements_all.txt
  script/gen_requirements_all.py
Labels: breaking-change, cla-signed, integration: tensorflow, second-opinion-wanted

#38590 Switch Netatmo integration to dispatcher for internal communication
  homeassistant/components/netatmo/camera.py
  homeassistant/components/netatmo/climate.py
  homeassistant/components/netatmo/config_flow.py
  homeassistant/components/netatmo/const.py
  homeassistant/components/netatmo/data_handler.py
  homeassistant/components/netatmo/light.py
  homeassistant/components/netatmo/webhook.py
Labels: by-code-owner, cla-signed, integration: netatmo

#38606 Bump version to 0.115.0dev0
  homeassistant/const.py
Labels: cla-signed, core, small-pr

#38637 Remove tf-models-official from wheels builder
  azure-pipelines-wheels.yml
Labels: bugfix, cla-signed, small-pr

#38646 Fix url in seventeentrack delivered notification
  homeassistant/components/seventeentrack/sensor.py
Labels: bugfix, cla-signed, integration: seventeentrack, small-pr

#38648 Remove unused async setup platform from HLK-SW16 switch
  homeassistant/components/hlk_sw16/switch.py
Labels: bugfix, by-code-owner, cla-signed, integration: hlk_sw16, small-pr

#37854 Automatically switch mpd between resume and start playing on media_play
  homeassistant/components/mpd/media_player.py
Labels: bugfix, cla-signed, integration: mpd, small-pr

#38649 Bump regenmaschine to 2.1.0
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/config_flow.py
  homeassistant/components/rainmachine/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/rainmachine/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, dependency, has-tests, integration: rainmachine, small-pr

#38650 Raise error when unsupported (old) firmware is detected
  homeassistant/components/bond/config_flow.py
  homeassistant/components/bond/strings.json
  homeassistant/components/bond/translations/en.json
  tests/components/bond/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: bond, new-feature, small-pr

#38636 Standardize Vizio update service schema
  homeassistant/components/vizio/const.py
  homeassistant/components/vizio/media_player.py
  tests/components/vizio/test_media_player.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: vizio, small-pr

#38306 Update Tesla to use DataUpdateCoordinator
  homeassistant/components/tesla/__init__.py
  homeassistant/components/tesla/binary_sensor.py
  homeassistant/components/tesla/climate.py
  homeassistant/components/tesla/device_tracker.py
  homeassistant/components/tesla/lock.py
  homeassistant/components/tesla/manifest.json
  homeassistant/components/tesla/sensor.py
  homeassistant/components/tesla/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, code-quality, integration: tesla

#38652 Bump teslajsonpy to 0.10.4
  homeassistant/components/tesla/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: tesla, small-pr

#38654 Fix AccuWeather async timeout
  homeassistant/components/accuweather/__init__.py
Labels: cla-signed, integration: accuweather, small-pr

#38656 Fix rest_command UnboundLocalError in exception handling
  homeassistant/components/rest_command/__init__.py
Labels: bugfix, cla-signed, integration: rest_command, small-pr

#38629 Bump pyupgrade to v2.7.2
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr

#38633 Bump yamllint to v1.24.2
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, dependency, small-pr

#38622 Fix xiaomi_aqara discovery
  homeassistant/components/xiaomi_aqara/config_flow.py
Labels: bugfix, cla-signed, integration: xiaomi_aqara, small-pr

#38663 Bump codespell from v1.16.0 to v1.17.1 and fix new spelling errors
  .pre-commit-config.yaml
  homeassistant/components/august/exceptions.py
  homeassistant/components/cloud/alexa_config.py
  homeassistant/components/hassio/discovery.py
  homeassistant/components/samsungtv/media_player.py
  homeassistant/components/velbus/config_flow.py
  requirements_test_pre_commit.txt
  tests/components/device_automation/test_init.py
  tests/components/heos/test_media_player.py
  tests/components/recorder/test_util.py
  tests/components/system_log/test_init.py
  tests/components/tplink/test_common.py
  tests/test_core.py
  tests/util/test_yaml.py
Labels: cla-signed, dependency, small-pr

#38664 Bump pre-commit-hooks from v2.40 to v3.2.0
  .pre-commit-config.yaml
Labels: cla-signed, small-pr

#37467 Bump env_canada to 0.2.0
  homeassistant/components/environment_canada/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: environment_canada, small-pr

#38626 Update frontend to 20200807.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#38638 Add support for reload_on_update to _abort_if_unique_id_configured
  homeassistant/components/hue/config_flow.py
  homeassistant/components/konnected/config_flow.py
  homeassistant/config_entries.py
  tests/components/axis/test_config_flow.py
  tests/components/axis/test_device.py
  tests/components/deconz/test_config_flow.py
  tests/components/deconz/test_gateway.py
  tests/components/volumio/test_config_flow.py
  tests/test_config_entries.py
Labels: cla-signed, core

#36800 Add device classes for electrical measurement
  homeassistant/components/sensor/__init__.py
  homeassistant/components/sensor/device_condition.py
  homeassistant/components/sensor/device_trigger.py
  homeassistant/components/sensor/strings.json
  homeassistant/const.py
  tests/components/sensor/test_device_trigger.py
  tests/testing_config/custom_components/test/sensor.py
Labels: cla-signed, core, integration: sensor, new-feature

#38678 Ensure shared zeroconf is passed to homekit controller devices
  homeassistant/components/homekit_controller/__init__.py
Labels: cla-signed, integration: homekit_controller, small-pr

#38575 Add support for exposing light effects via Google Assistant
  homeassistant/components/demo/light.py
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/google_assistant/test_trait.py
  tests/components/group/test_light.py
Labels: cla-signed, core, integration: google_assistant, new-feature, small-pr

#37766 Make sure groups are initialized before template sensors
  homeassistant/components/template/manifest.json
  tests/components/template/test_sensor.py
Labels: bugfix, cla-signed, has-tests, integration: template, small-pr

#38681 Fix missing data for Guardian "AP enabled" binary sensor
  homeassistant/components/guardian/binary_sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: guardian, small-pr

#38685 Upgrade pyvolumio to 0.1.1
  homeassistant/components/volumio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: volumio, small-pr

#38679 Update aiohomekit to handle homekit devices that do not send format
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: homekit_controller, small-pr, waiting-for-upstream

#38647 Support extracting entities by domain from templates
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: cla-signed, core

#38653 Improve performance of fetching the state domain
  homeassistant/core.py
Labels: cla-signed, core, small-pr

#38651 Support muting and relative-volume media_players in Google Assistant
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, core, has-tests, integration: google_assistant, new-feature

#38602 Add current request context to get_url helper
  homeassistant/components/http/__init__.py
  homeassistant/components/http/request_context.py
  homeassistant/helpers/network.py
  tests/components/http/test_request_context.py
  tests/helpers/test_network.py
Labels: bugfix, cla-signed, core, integration: http, new-feature

#38690 Bump updater timeout
  homeassistant/components/updater/__init__.py
Labels: cla-signed, core, integration: updater, small-pr

#38680 Address requested code changes in Tesla
  homeassistant/components/tesla/__init__.py
  homeassistant/components/tesla/device_tracker.py
  homeassistant/components/tesla/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: tesla, small-pr

#38621 Improve tests for AccuWeather integration
  .coveragerc
  homeassistant/components/accuweather/config_flow.py
  homeassistant/components/accuweather/manifest.json
  homeassistant/components/accuweather/sensor.py
  tests/components/accuweather/__init__.py
  tests/components/accuweather/test_init.py
  tests/components/accuweather/test_sensor.py
  tests/components/accuweather/test_weather.py
  tests/fixtures/accuweather/forecast_data.json
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: accuweather, small-pr

#38691 Bump aiopvpc to v2.0.2
  homeassistant/components/pvpc_hourly_pricing/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: pvpc_hourly_pricing, small-pr

#38665 Fix Kodi play_media media type casing
  homeassistant/components/kodi/media_player.py
Labels: bugfix, cla-signed, integration: kodi, small-pr

#38618 Add missing Short type to set_config_param
  homeassistant/components/ozw/services.py
  tests/components/ozw/test_services.py
Labels: cla-signed, code-quality, has-tests, integration: ozw, new-feature, small-pr

#38643 Make CoolMasterNet integration async
  homeassistant/components/coolmaster/__init__.py
  homeassistant/components/coolmaster/climate.py
  homeassistant/components/coolmaster/config_flow.py
  homeassistant/components/coolmaster/const.py
  homeassistant/components/coolmaster/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/coolmaster/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: coolmaster, new-feature

#38615 Add Nightscout integration
  CODEOWNERS
  homeassistant/components/nightscout/__init__.py
  homeassistant/components/nightscout/config_flow.py
  homeassistant/components/nightscout/const.py
  homeassistant/components/nightscout/manifest.json
  homeassistant/components/nightscout/sensor.py
  homeassistant/components/nightscout/strings.json
  homeassistant/components/nightscout/translations/ca.json
  homeassistant/components/nightscout/translations/de.json
  homeassistant/components/nightscout/translations/en.json
  homeassistant/components/nightscout/translations/es.json
  homeassistant/components/nightscout/translations/fr.json
  homeassistant/components/nightscout/translations/it.json
  homeassistant/components/nightscout/translations/ko.json
  homeassistant/components/nightscout/translations/lb.json
  homeassistant/components/nightscout/translations/pl.json
  homeassistant/components/nightscout/translations/pt.json
  homeassistant/components/nightscout/translations/ru.json
  homeassistant/components/nightscout/translations/sl.json
  homeassistant/components/nightscout/translations/zh-Hant.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nightscout/__init__.py
  tests/components/nightscout/test_config_flow.py
  tests/components/nightscout/test_init.py
  tests/components/nightscout/test_sensor.py
Labels: cla-signed, has-tests, integration: nightscout, new-integration

#38405 Add DataUpdateCoordinator to met integration
  homeassistant/components/met/__init__.py
  homeassistant/components/met/config_flow.py
  homeassistant/components/met/weather.py
  tests/components/met/__init__.py
  tests/components/met/test_config_flow.py
  tests/components/met/test_init.py
Labels: cla-signed, code-quality, integration: met

#38596 Use global CONF_UNIQUE_ID for hue
  homeassistant/components/hue/device_trigger.py
  homeassistant/components/hue/hue_event.py
Labels: cla-signed, code-quality, integration: hue, small-pr

#38597 Use global CONF_UNIQUE_ID for deconz
  homeassistant/components/deconz/deconz_event.py
  homeassistant/components/deconz/device_trigger.py
Labels: cla-signed, code-quality, integration: deconz, small-pr

#38677 Persist hive light brightness for color change
  homeassistant/components/hive/light.py
Labels: bugfix, cla-signed, integration: hive, small-pr

#37282 Add daikin preset modes
  homeassistant/components/daikin/climate.py
Labels: cla-signed, dependency, integration: daikin, new-feature

#38595 Use global CONF_UNIQUE_ID for mqtt
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/camera.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_json.py
  homeassistant/components/mqtt/light/schema_template.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/vacuum/schema_legacy.py
  homeassistant/components/mqtt/vacuum/schema_state.py
Labels: cla-signed, code-quality, core, integration: mqtt, small-pr

#37826 Add SolarEdge battery level and dynamic icon for storage sensor
  homeassistant/components/solaredge/const.py
  homeassistant/components/solaredge/sensor.py
Labels: cla-signed, integration: solaredge, new-feature, small-pr

#38701 Add event and device trigger that fire when devices drop from the ZHA Zigbee network
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/strings.json
  tests/components/zha/test_device_trigger.py
Labels: by-code-owner, cla-signed, integration: zha

#38605 Fix homekit_controller pairing retry when the first attempt is busy
  homeassistant/components/homekit_controller/config_flow.py
  homeassistant/components/homekit_controller/strings.json
  homeassistant/components/homekit_controller/translations/en.json
  tests/components/homekit_controller/test_config_flow.py
Labels: cla-signed, has-tests, integration: homekit_controller, small-pr

#38705 Fix async_fire_time_changed in tests/common.py
  tests/common.py
Labels: bugfix, cla-signed, core, small-pr
