Repository home-assistant/core, pull requests merged in 2021-08, with the labels that each got.

#53814 Fix file path error in nfandroidtv
  homeassistant/components/nfandroidtv/notify.py
Labels: bugfix, by-code-owner, cla-signed, integration: nfandroidtv, small-pr

#53796 Remove `led` from Xiaomi Miio humidifier features
  homeassistant/components/xiaomi_miio/const.py
Labels: bugfix, cla-signed, integration: xiaomi_miio, small-pr

#53770 Do not block setup of TP-Link when device unreachable
  homeassistant/components/tplink/__init__.py
  homeassistant/components/tplink/const.py
  tests/components/tplink/consts.py
  tests/components/tplink/test_init.py
Labels: bugfix, cla-signed, code-quality, has-tests, integration: tplink

#53797 ForecastSolar - power production now w not k w
  homeassistant/components/forecast_solar/const.py
  tests/components/forecast_solar/test_sensor.py
Labels: bugfix, cla-signed, has-tests, integration: forecast_solar, small-pr

#53841 Update frontend to 20210801.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#53759 Add energy consumption sensors to smartthings devices
  homeassistant/components/smartthings/sensor.py
  tests/components/smartthings/test_sensor.py
Labels: cla-signed, integration: smartthings, new-feature, small-pr

#53848 Fix some homekit_controller entities getting wrong (duplicate) unique id
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/number.py
  homeassistant/components/homekit_controller/sensor.py
  tests/components/homekit_controller/specific_devices/test_ecobee3.py
  tests/components/homekit_controller/specific_devices/test_koogeek_p1eu.py
  tests/components/homekit_controller/specific_devices/test_koogeek_sw2.py
  tests/components/homekit_controller/specific_devices/test_mysa_living.py
  tests/components/homekit_controller/specific_devices/test_vocolinc_flowerbud.py
  tests/fixtures/homekit_controller/mysa_living.json
Labels: breaking-change, bugfix, by-code-owner, cla-signed, has-tests, integration: homekit_controller, small-pr

#53851 Rename snapshot -> backup
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/http.py
  homeassistant/components/hassio/services.yaml
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/addon.py
  tests/components/hassio/test_http.py
  tests/components/hassio/test_init.py
  tests/components/hassio/test_websocket_api.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_init.py
Labels: breaking-change, cla-signed, core, has-tests, integration: hassio, integration: zwave_js

#53792 Bump pysma to 0.6.5
  homeassistant/components/sma/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: sma, small-pr

#53802 Add STATE_CLASS_MEASUREMENT to Tibber
  homeassistant/components/tibber/sensor.py
Labels: by-code-owner, cla-signed, integration: tibber, new-feature, small-pr

#53655 Activate mypy for Sony Songpal
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, small-pr

#53816 Convert @property to _attr_variable for hdmi_sec
  homeassistant/components/hdmi_cec/__init__.py
Labels: cla-signed, code-quality, integration: hdmi_cec, small-pr

#53760 Fix missing default reconnect interval in dsmr
  homeassistant/components/dsmr/sensor.py
Labels: bugfix, cla-signed, integration: dsmr, small-pr, smash

#53856 Allow combinations write_coil/read_coils and write_coils/read_coil for modbus switch
  homeassistant/components/modbus/__init__.py
Labels: by-code-owner, cla-signed, integration: modbus, new-feature, small-pr, smash

#53656 Fix Radiothermostat hold value updates
  homeassistant/components/radiotherm/climate.py
Labels: bugfix, by-code-owner, cla-signed, integration: radiotherm, small-pr, smash

#53765 Fix entry setup for Broadlink SP4 sensors
  homeassistant/components/broadlink/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: broadlink, small-pr

#53858 Add RPi.GPIO dependency to rpi_rf integration
  homeassistant/components/rpi_rf/manifest.json
  requirements_all.txt
Labels: bugfix, cla-signed, dependency-bump, integration: rpi_rf, small-pr

#53787 Activate mypy for Norway_air
  homeassistant/components/norway_air/air_quality.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, integration: norway_air, small-pr, smash

#53780 Bump HAP-python to 4.0.0
  homeassistant/components/homekit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit/test_accessories.py
Labels: breaking-change, by-code-owner, cla-signed, dependency-bump, integration: homekit, small-pr, smash

#49395 Improve Universal media player toggle default behavior
  homeassistant/components/universal/media_player.py
  tests/components/universal/test_media_player.py
Labels: breaking-change, bugfix, cla-signed, has-tests, integration: universal, small-pr, smash

#53703 Use homeassistant.const instead of integration const for device_info ATTR_
  homeassistant/components/aurora/__init__.py
  homeassistant/components/aurora/const.py
  homeassistant/components/bsblan/climate.py
  homeassistant/components/bsblan/const.py
  homeassistant/components/directv/const.py
  homeassistant/components/directv/entity.py
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  homeassistant/components/ipp/const.py
  homeassistant/components/ipp/entity.py
  homeassistant/components/kmtronic/const.py
  homeassistant/components/modern_forms/__init__.py
  homeassistant/components/modern_forms/const.py
  homeassistant/components/omnilogic/common.py
  homeassistant/components/omnilogic/const.py
  homeassistant/components/sonarr/const.py
  homeassistant/components/sonarr/entity.py
  homeassistant/components/yamaha_musiccast/const.py
  tests/components/homekit/test_accessories.py
Labels: cla-signed, code-quality, smash

#53863 Late review on hdmi_cec (#53763)
  homeassistant/components/hdmi_cec/switch.py
Labels: bugfix, cla-signed, integration: hdmi_cec, small-pr

#53809 Fix crash when AVM FRITZ!SmartHome devices are unreachable
  homeassistant/components/fritzbox/__init__.py
  homeassistant/components/fritzbox/binary_sensor.py
  homeassistant/components/fritzbox/climate.py
  homeassistant/components/fritzbox/sensor.py
  homeassistant/components/fritzbox/switch.py
  tests/components/fritzbox/test_binary_sensor.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: fritzbox, small-pr

#53865 Fix cloud accountlinking replacing token data
  homeassistant/components/cloud/account_link.py
Labels: bugfix, cla-signed, core, integration: cloud, small-pr

#53866 Add measurement state class to ZHA power devices
  homeassistant/components/zha/sensor.py
Labels: bugfix, cla-signed, integration: zha, small-pr

#53029 Add edl21 OBIS IDs for DZG DWS76
  homeassistant/components/edl21/sensor.py
Labels: cla-signed, integration: edl21, new-feature, small-pr, smash

#53693 Add state class measurement to all suitable sensors on Speedtest.net
  homeassistant/components/speedtestdotnet/const.py
  homeassistant/components/speedtestdotnet/sensor.py
  tests/components/speedtestdotnet/test_sensor.py
Labels: cla-signed, code-quality, has-tests, integration: speedtestdotnet, new-feature, smash

#53855 Add base energy analytics
  homeassistant/components/analytics/analytics.py
  homeassistant/components/analytics/const.py
  homeassistant/components/analytics/manifest.json
  homeassistant/components/energy/__init__.py
  tests/components/analytics/test_analytics.py
  tests/components/energy/test_websocket_api.py
Labels: by-code-owner, cla-signed, has-tests, integration: analytics, new-feature, small-pr

#53799 Fix TP-Link smart strip devices
  homeassistant/components/tplink/__init__.py
  homeassistant/components/tplink/sensor.py
  homeassistant/components/tplink/switch.py
  tests/components/tplink/consts.py
  tests/components/tplink/test_init.py
Labels: bugfix, cla-signed, has-tests, integration: tplink

#53867 Fix growat server config entry missing URL key
  homeassistant/components/growatt_server/sensor.py
Labels: bugfix, cla-signed, integration: growatt_server, small-pr

#53875 Fix issue when data is None
  homeassistant/components/energy/__init__.py
  tests/components/energy/test_websocket_api.py
Labels: bugfix, cla-signed, has-tests, integration: energy, small-pr

#53876 Bump frontend to 20210802.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#53877 Fix watts unit for homekit_controller power sensors
  homeassistant/components/homekit_controller/sensor.py
  tests/components/homekit_controller/specific_devices/test_koogeek_p1eu.py
  tests/components/homekit_controller/specific_devices/test_koogeek_sw2.py
Labels: breaking-change, bugfix, by-code-owner, cla-signed, has-tests, integration: homekit_controller, small-pr

#53854 ESPHome implement light color modes
  homeassistant/components/esphome/light.py
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, integration: esphome

#53807 Add support for MJJSQ humidifiers for Xiaomi MIIO integration
  homeassistant/components/xiaomi_miio/__init__.py
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/humidifier.py
  homeassistant/components/xiaomi_miio/select.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/components/xiaomi_miio/switch.py
Labels: cla-signed, integration: xiaomi_miio, new-feature

#53443 System Bridge v2.3.0+ - Data from WebSocket
  .coveragerc
  homeassistant/components/system_bridge/__init__.py
  homeassistant/components/system_bridge/binary_sensor.py
  homeassistant/components/system_bridge/config_flow.py
  homeassistant/components/system_bridge/coordinator.py
  homeassistant/components/system_bridge/manifest.json
  homeassistant/components/system_bridge/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/system_bridge/test_config_flow.py
Labels: by-code-owner, cla-signed, integration: system_bridge, new-feature

#53752 Add webOS Smart TV device triggers
  homeassistant/components/webostv/__init__.py
  homeassistant/components/webostv/device_trigger.py
  homeassistant/components/webostv/media_player.py
  homeassistant/components/webostv/strings.json
  homeassistant/components/webostv/translations/en.json
  tests/components/webostv/__init__.py
  tests/components/webostv/conftest.py
  tests/components/webostv/test_device_trigger.py
Labels: by-code-owner, cla-signed, has-tests, integration: webostv, new-feature

#53887 Bump aiohue to 2.6.1
  homeassistant/components/hue/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: hue, small-pr

#53888 Handle powerConsumption reports with null value
  homeassistant/components/smartthings/sensor.py
  tests/components/smartthings/test_sensor.py
Labels: bugfix, cla-signed, has-tests, integration: smartthings, small-pr

#53894 Only show a SimpliSafe code entry when one exists
  homeassistant/components/simplisafe/alarm_control_panel.py
Labels: bugfix, by-code-owner, cla-signed, integration: simplisafe, small-pr

#53897 Bump frontend to 20210803.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#53902 Add user to homeassistant system health
  homeassistant/components/homeassistant/strings.json
  homeassistant/components/homeassistant/system_health.py
  homeassistant/helpers/system_info.py
  tests/helpers/test_system_info.py
Labels: cla-signed, core, integration: homeassistant, new-feature, small-pr

#53903 Add meta container data to rootfs
  .github/workflows/builder.yml
Labels: cla-signed, small-pr

#53905 Bump aioesphomeapi to 6.0.1
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: esphome, small-pr

#53906 Bump pyroon to 0.0.38
  homeassistant/components/roon/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: roon, small-pr

#53890 Use SensorEntityDescription class for Xiaomi Miio
  homeassistant/components/xiaomi_miio/sensor.py
Labels: cla-signed, code-quality, integration: xiaomi_miio, smash

#53891 Add support for Eve Degree's air pressure sensor
  homeassistant/components/homekit_controller/const.py
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/homekit_controller/number.py
  homeassistant/components/homekit_controller/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit_controller/specific_devices/test_eve_degree.py
  tests/fixtures/homekit_controller/eve_degree.json
Labels: by-code-owner, cla-signed, dependency, has-tests, integration: homekit_controller, new-feature, small-pr

#53898 Allow esphome entities to be disabled by default
  homeassistant/components/esphome/__init__.py
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, integration: esphome, small-pr

#53907 Use `SelectEntityDescription` for Xiaomi Miio integration
  homeassistant/components/xiaomi_miio/select.py
  homeassistant/components/xiaomi_miio/strings.select.json
Labels: cla-signed, smash

#53909 Stream API requests to the supervisor
  homeassistant/components/hassio/http.py
  tests/components/hassio/test_http.py
Labels: code-quality, core, has-tests, integration: hassio

#53912 Handle scenario where SimpliSafe code is falsey
  homeassistant/components/simplisafe/alarm_control_panel.py
Labels: bugfix, by-code-owner, cla-signed, integration: simplisafe, small-pr

#53895 Check for torrents in queue before calling the api stop_torrent()
  homeassistant/components/transmission/__init__.py
Labels: bugfix, cla-signed, integration: transmission, small-pr

#53917 Handle Shelly get name on uninitialized device
  homeassistant/components/shelly/logbook.py
Labels: by-code-owner, cla-signed, integration: shelly, small-pr

#53918 Limit API usage for Uptime Robot
  homeassistant/components/uptimerobot/binary_sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: uptimerobot

#53921 Limit zwave_js meter sensor last reset
  homeassistant/components/zwave_js/sensor.py
  tests/components/zwave_js/common.py
  tests/components/zwave_js/test_sensor.py
Labels: cla-signed, has-tests, integration: zwave_js, small-pr

#53764 Add "stop watering" service to rachio
  homeassistant/components/rachio/const.py
  homeassistant/components/rachio/device.py
  homeassistant/components/rachio/services.yaml
Labels: cla-signed, integration: rachio, new-feature, small-pr, smash

#53923 Update frontend to 20210803.2
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#50071 Add target high/low temperatures to prometheus integration
  homeassistant/components/prometheus/__init__.py
  tests/components/prometheus/test_init.py
Labels: cla-signed, integration: prometheus

#53920 Enable mypy for Yamaha
  homeassistant/components/yamaha/media_player.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, integration: yamaha, small-pr

#53927 Address review comments for 53918
  homeassistant/components/uptimerobot/binary_sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: uptimerobot, small-pr

#53928 Use the github context when writing metafile
  .github/workflows/builder.yml
Labels: bugfix, cla-signed, small-pr

#52352 Validate Select option before calling entity method
  homeassistant/components/demo/select.py
  homeassistant/components/select/__init__.py
  tests/components/select/test_init.py
  tests/components/wled/test_select.py
  tests/testing_config/custom_components/test/select.py
Labels: bugfix, cla-signed, code-quality, core, integration: demo, integration: select, small-pr

#53929 Add xiaomi miio lumi.gateway.aqhm01 support
  homeassistant/components/xiaomi_miio/sensor.py
Labels: by-code-owner, cla-signed, integration: xiaomi_miio, new-feature, small-pr

#52343 Validate Number value before calling entity method
  homeassistant/components/demo/number.py
  homeassistant/components/number/__init__.py
  tests/components/demo/test_number.py
  tests/components/number/test_init.py
  tests/testing_config/custom_components/test/number.py
Labels: bugfix, cla-signed, integration: number, small-pr

#53911 Use `NumberEntityDescription` for Xiaomi Miio
  homeassistant/components/xiaomi_miio/number.py
Labels: cla-signed, code-quality, integration: xiaomi_miio

#53933 Address late review of yamaha typing
  homeassistant/components/yamaha/media_player.py
Labels: cla-signed, code-quality, integration: yamaha, small-pr

#53931 Upgrade anthemav dependency to 1.2.0
  homeassistant/components/anthemav/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: anthemav, small-pr

#53788 Fix Panasonic Viera TV going unavailable when turned off
  homeassistant/components/panasonic_viera/__init__.py
  tests/components/panasonic_viera/conftest.py
  tests/components/panasonic_viera/test_media_player.py
  tests/components/panasonic_viera/test_remote.py
Labels: bugfix, cla-signed, has-tests, integration: panasonic_viera, small-pr

#53934 Remove Xiaomi_miio number value validation
  homeassistant/components/xiaomi_miio/number.py
Labels: cla-signed, code-quality, integration: xiaomi_miio, small-pr

#53958 Activate mypy for LG webOS Smart TV
  homeassistant/components/webostv/media_player.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, integration: webostv, small-pr

#53947 Fix attr_unit_of_measurement in update of apcupsd entity
  homeassistant/components/apcupsd/sensor.py
Labels: bugfix, cla-signed, integration: apcupsd

#53980 Fix divider for Fritz sensors
  homeassistant/components/fritz/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: fritz, small-pr

#53985 Fix empty sonos_group entity attribute on startup
  homeassistant/components/sonos/speaker.py
Labels: bugfix, by-code-owner, cla-signed, integration: sonos, small-pr

#53973 Fix coordinator not defined in yale_smart_alarm
  homeassistant/components/yale_smart_alarm/alarm_control_panel.py
Labels: bugfix, by-code-owner, cla-signed, integration: yale_smart_alarm, small-pr

#53938 Add config flow to uptimerobot
  .coveragerc
  .strict-typing
  homeassistant/components/uptimerobot/__init__.py
  homeassistant/components/uptimerobot/binary_sensor.py
  homeassistant/components/uptimerobot/config_flow.py
  homeassistant/components/uptimerobot/const.py
  homeassistant/components/uptimerobot/entity.py
  homeassistant/components/uptimerobot/manifest.json
  homeassistant/components/uptimerobot/strings.json
  homeassistant/components/uptimerobot/translations/en.json
  homeassistant/generated/config_flows.py
  mypy.ini
  requirements_test_all.txt
  tests/components/uptimerobot/__init__.py
  tests/components/uptimerobot/test_config_flow.py
Labels: breaking-change, by-code-owner, cla-signed, has-tests, integration: uptimerobot

#53997 Update frontend to 20210804.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#53857 Add temporary fix to modbus to solve upstream problem
  homeassistant/components/modbus/base_platform.py
Labels: bugfix, by-code-owner, cla-signed, integration: modbus, small-pr

#54006 Add support for jammed status to SimpliSafe locks
  homeassistant/components/simplisafe/lock.py
Labels: by-code-owner, cla-signed, integration: simplisafe, new-feature, small-pr

#54012 2021.8.1
  homeassistant/components/apcupsd/sensor.py
  homeassistant/components/fritz/sensor.py
  homeassistant/components/frontend/manifest.json
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/panasonic_viera/__init__.py
  homeassistant/components/sonos/speaker.py
  homeassistant/components/yale_smart_alarm/alarm_control_panel.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/panasonic_viera/conftest.py
  tests/components/panasonic_viera/test_media_player.py
  tests/components/panasonic_viera/test_remote.py
Labels: cla-signed, core, has-tests, merging-to-master

#54020 Don't double-validate KNX select options
  homeassistant/components/knx/select.py
Labels: by-code-owner, cla-signed, code-quality, integration: knx, small-pr

#54019 Use SwitchEntityDescription instead of EntityDescription in the motionEye integration
  homeassistant/components/motioneye/switch.py
Labels: by-code-owner, cla-signed, code-quality, integration: motioneye, small-pr

#53949 Activate mypy for Reddit
  homeassistant/components/reddit/sensor.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, integration: reddit, small-pr

#53950 Activate mypy for Updater
  homeassistant/components/updater/binary_sensor.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, core, integration: updater, small-pr

#54000 Bump pylitterbot to 2021.8.0
  homeassistant/components/litterrobot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: litterrobot, small-pr

#53783 Add vscode task code coverage
  .vscode/tasks.json
Labels: cla-signed, code-quality, small-pr

#54048 Add missing device class to SAJ energy sensors
  homeassistant/components/saj/sensor.py
Labels: bugfix, cla-signed, integration: saj, small-pr

#53995 Bump pyuptimerobot to 21.8.1
  homeassistant/components/uptimerobot/__init__.py
  homeassistant/components/uptimerobot/binary_sensor.py
  homeassistant/components/uptimerobot/config_flow.py
  homeassistant/components/uptimerobot/const.py
  homeassistant/components/uptimerobot/entity.py
  homeassistant/components/uptimerobot/manifest.json
  homeassistant/components/uptimerobot/strings.json
  homeassistant/components/uptimerobot/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/uptimerobot/test_config_flow.py
Labels: by-code-owner, cla-signed, dependency, has-tests, integration: uptimerobot

#54051 Add state class support to Netatmo
  homeassistant/components/netatmo/sensor.py
Labels: cla-signed, integration: netatmo, new-feature, small-pr, smash

#51002 Add tractive integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/tractive/__init__.py
  homeassistant/components/tractive/config_flow.py
  homeassistant/components/tractive/const.py
  homeassistant/components/tractive/device_tracker.py
  homeassistant/components/tractive/manifest.json
  homeassistant/components/tractive/strings.json
  homeassistant/components/tractive/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tractive/__init__.py
  tests/components/tractive/test_config_flow.py
Labels: cla-signed, has-tests, integration: tractive, new-integration

#54041 Activate mypy for Cloudflare
  homeassistant/components/cloudflare/config_flow.py
  mypy.ini
  script/hassfest/mypy_config.py
  tests/components/cloudflare/test_config_flow.py
Labels: cla-signed, code-quality, integration: cloudflare, small-pr, smash

#54055 Add unique_id to Uptime Robot config_flow
  .coveragerc
  homeassistant/components/uptimerobot/config_flow.py
  homeassistant/components/uptimerobot/manifest.json
  homeassistant/components/uptimerobot/strings.json
  homeassistant/components/uptimerobot/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/uptimerobot/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: uptimerobot, new-feature

#53924 Bump py-nextbusnext to 0.1.5
  homeassistant/components/nextbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: nextbus, dependency, by-code-owner, dependency-bump

#54074 Add some metadata to pvoutput energy sensor
  homeassistant/components/pvoutput/sensor.py
Labels: cla-signed, small-pr, integration: pvoutput, bugfix

#53996 Add `state_class` for KNX sensors
  homeassistant/components/knx/schema.py
  homeassistant/components/knx/sensor.py
Labels: cla-signed, integration: knx, by-code-owner

#54079 Bump up ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, dependency-bump

#54068 Handle empty software version when setting up HomeKit
  homeassistant/components/homekit/accessories.py
  tests/components/homekit/test_accessories.py
Labels: cla-signed, small-pr, integration: homekit, has-tests, by-code-owner

#54087 We shouldn't add measurement without last_reset to metered entities
  homeassistant/components/pvoutput/sensor.py
Labels: cla-signed, small-pr, integration: pvoutput

#54085 Packages to support config platforms
  homeassistant/components/automation/__init__.py
  homeassistant/components/automation/config.py
  homeassistant/components/script/config.py
  homeassistant/components/template/config.py
  homeassistant/config.py
  tests/test_config.py
Labels: core, cla-signed, integration: automation, integration: script, integration: template, bugfix

#54101 Fix Shelly Energy last_reset
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/sensor.py
Labels: cla-signed, integration: shelly, by-code-owner, bugfix

#54108 Bump zeroconf to 0.33.3
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, by-code-owner, dependency-bump

#54105 Increase time before scene and script HomeKit entities are reset
  homeassistant/components/homekit/type_switches.py
  tests/components/homekit/test_type_switches.py
Labels: cla-signed, small-pr, integration: homekit, has-tests, by-code-owner

#54102 Fritz: fix unique id for Wi-Fi and total traffic calculation
  homeassistant/components/fritz/sensor.py
  homeassistant/components/fritz/switch.py
Labels: cla-signed, small-pr, integration: fritz, by-code-owner, bugfix

#54080 Run coordinator config_entry_first_refresh in rituals_perfume_genie setup
  homeassistant/components/rituals_perfume_genie/__init__.py
Labels: cla-signed, small-pr, by-code-owner, integration: rituals_perfume_genie

#54090 Test KNX sensor
  tests/components/knx/test_sensor.py
Labels: cla-signed, integration: knx, small-pr, has-tests, by-code-owner, code-quality

#53820 Test KNX binary sensor
  tests/components/knx/test_binary_sensor.py
Labels: cla-signed, integration: knx, small-pr, has-tests, by-code-owner, code-quality

#54109 Fix jinja warning
  homeassistant/helpers/template.py
Labels: core, cla-signed, small-pr, code-quality

#54117 2021.8.2
  homeassistant/components/automation/__init__.py
  homeassistant/components/automation/config.py
  homeassistant/components/fritz/sensor.py
  homeassistant/components/fritz/switch.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/type_switches.py
  homeassistant/components/litterrobot/manifest.json
  homeassistant/components/saj/sensor.py
  homeassistant/components/script/config.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/sensor.py
  homeassistant/components/template/config.py
  homeassistant/components/zeroconf/manifest.json
  homeassistant/components/zha/manifest.json
  homeassistant/config.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit/test_accessories.py
  tests/components/homekit/test_type_switches.py
  tests/test_config.py
Labels: core, cla-signed, merging-to-master, has-tests

#54114 Handle GSMError in sms
  homeassistant/components/sms/gateway.py
Labels: cla-signed, small-pr, by-code-owner, integration: sms, bugfix

#54142 Fix sensor PLATFORM_SCHEMA for ebox and enphase_envoy
  homeassistant/components/ebox/sensor.py
  homeassistant/components/enphase_envoy/sensor.py
Labels: cla-signed, small-pr, integration: enphase_envoy, bugfix

#54152 Fetch interface index from network integration instead of socket in zeroconf
  homeassistant/components/network/models.py
  homeassistant/components/network/util.py
  homeassistant/components/zeroconf/__init__.py
  tests/components/network/test_init.py
  tests/components/zeroconf/test_init.py
Labels: cla-signed, integration: zeroconf, small-pr, has-tests, by-code-owner, integration: network

#54137 Fix Squeezebox dhcp discovery
  homeassistant/components/squeezebox/browse_media.py
  homeassistant/components/squeezebox/config_flow.py
  homeassistant/components/squeezebox/media_player.py
  tests/components/squeezebox/test_config_flow.py
Labels: cla-signed, integration: squeezebox, has-tests, by-code-owner, bugfix

#54133 Ignore Coinbase vault wallets
  homeassistant/components/coinbase/config_flow.py
  homeassistant/components/coinbase/const.py
  homeassistant/components/coinbase/sensor.py
  tests/components/coinbase/common.py
  tests/components/coinbase/const.py
  tests/components/coinbase/test_config_flow.py
  tests/components/coinbase/test_init.py
Labels: cla-signed, integration: coinbase, small-pr, has-tests, by-code-owner, bugfix

#54130 Handle software version being None when setting up HomeKit accessories
  homeassistant/components/homekit/accessories.py
  tests/components/homekit/test_accessories.py
Labels: cla-signed, small-pr, integration: homekit, bugfix

#54149 Add statistics support for the PVOutput sensor
  homeassistant/components/pvoutput/sensor.py
Labels: cla-signed, integration: pvoutput, bugfix

#54115 Convert rfxtrx to using sensor descriptors
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/rfxtrx/binary_sensor.py
  homeassistant/components/rfxtrx/sensor.py
Labels: cla-signed, integration: rfxtrx, new-feature, by-code-owner, code-quality

#54165 Bump zeroconf to 0.33.4 to ensure zeroconf can startup when ipv6 is disabled
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, by-code-owner, dependency-bump

#54175 2021.8.3
  homeassistant/components/ebox/sensor.py
  homeassistant/components/enphase_envoy/sensor.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/network/models.py
  homeassistant/components/network/util.py
  homeassistant/components/sms/gateway.py
  homeassistant/components/zeroconf/__init__.py
  homeassistant/components/zeroconf/manifest.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit/test_accessories.py
  tests/components/network/test_init.py
  tests/components/zeroconf/test_init.py
Labels: core, cla-signed, merging-to-master, small-pr, has-tests

#54111 Use SensorEntityDescription for AsusWRT sensors
  homeassistant/components/asuswrt/sensor.py
Labels: cla-signed, integration: asuswrt, by-code-owner, code-quality

#54084 Add state class and last reset in kostal_plenticore
  homeassistant/components/kostal_plenticore/const.py
  homeassistant/components/kostal_plenticore/sensor.py
Labels: cla-signed, small-pr, integration: kostal_plenticore

#54188 Fix androidtv media_image_hash
  homeassistant/components/androidtv/media_player.py
Labels: cla-signed, small-pr, integration: androidtv, bugfix

#53583 Flexit component fix for updated modbus
  homeassistant/components/flexit/climate.py
  homeassistant/components/flexit/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: flexit, bugfix

#54200 Correct device class typo in rfxtrx
  homeassistant/components/rfxtrx/binary_sensor.py
Labels: cla-signed, integration: rfxtrx, small-pr, by-code-owner, bugfix

#54176 Bump ha-philipsjs to 2.7.5
  homeassistant/components/philips_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: philips_js, dependency, by-code-owner, dependency-bump

#52843 Fix Neato reauth flow when token expired
  .coveragerc
  homeassistant/components/neato/__init__.py
  homeassistant/components/neato/config_flow.py
  homeassistant/components/neato/hub.py
  homeassistant/components/neato/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: neato, small-pr, code-quality, bugfix

#54195 Fix ebusd component initialisation
  homeassistant/components/ebusd/const.py
Labels: cla-signed, small-pr, integration: ebusd, bugfix

#54227 Raise ConfigEntryNotReady for Neato API error
  homeassistant/components/neato/__init__.py
Labels: cla-signed, integration: neato, small-pr, code-quality

#54230 Change update interval from 60s to 10s for Uptime Robot
  homeassistant/components/uptimerobot/const.py
Labels: cla-signed, small-pr, integration: uptimerobot, by-code-owner, code-quality

#54229 Set entities as unavailable if last update was not successful
  homeassistant/components/uptimerobot/entity.py
Labels: cla-signed, small-pr, integration: uptimerobot, by-code-owner, code-quality

#54015 Fix update entity prior to adding
  homeassistant/components/aladdin_connect/cover.py
Labels: cla-signed, small-pr, integration: aladdin_connect, bugfix

#54202 Add missing `motor_speed` sensor for Xiaomi Miio humidifier CA1 and CB1
  homeassistant/components/xiaomi_miio/sensor.py
Labels: cla-signed, cherry-picked

#54239 Pin google-cloud-pubsub to an older version
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, bugfix

#54212 Bugfix: Bring back unique IDs for ADS covers after #52488
  homeassistant/components/ads/cover.py
Labels: cla-signed, integration: ads, small-pr, bugfix

#54203 Add parameter to delay sending of requests in modbus
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/const.py
  homeassistant/components/modbus/modbus.py
  tests/components/modbus/test_init.py
Labels: cla-signed, integration: modbus, small-pr, new-feature, has-tests, by-code-owner

#54247 Fix formatting
  homeassistant/components/aladdin_connect/cover.py
Labels: cla-signed, small-pr, integration: aladdin_connect

#54193 Solve missing automatic update of struct configuration in modbus
  homeassistant/components/modbus/validators.py
Labels: cla-signed, integration: modbus, small-pr, by-code-owner, bugfix

#54228 Handle added and removed monitors
  homeassistant/components/uptimerobot/__init__.py
Labels: cla-signed, new-feature, integration: uptimerobot, by-code-owner

#54157 OVO Energy Long-term Statistics
  homeassistant/components/ovo_energy/sensor.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: ovo_energy

#54225 Don't block motionEye setup on NoURLAvailableError
  homeassistant/components/motioneye/__init__.py
  tests/components/motioneye/test_web_hooks.py
Labels: cla-signed, integration: motioneye, has-tests, by-code-owner, bugfix

#54244 Add enumerate to builtins in python_script component
  homeassistant/components/python_script/__init__.py
  tests/components/python_script/test_init.py
Labels: cla-signed, integration: python_script, small-pr, new-feature, has-tests, bugfix

#54249 2021.8.4
  homeassistant/components/ads/cover.py
  homeassistant/components/aladdin_connect/cover.py
  homeassistant/components/androidtv/media_player.py
  homeassistant/components/ebusd/const.py
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/const.py
  homeassistant/components/modbus/modbus.py
  homeassistant/components/modbus/validators.py
  homeassistant/components/motioneye/__init__.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
  tests/components/modbus/test_init.py
  tests/components/motioneye/test_web_hooks.py
Labels: core, cla-signed, merging-to-master, has-tests

#53198 Add more Fritz sensors
  homeassistant/components/fritz/const.py
  homeassistant/components/fritz/sensor.py
Labels: cla-signed, new-feature, integration: fritz

#54256 Fix device registry lookup in uptimerobot
  homeassistant/components/uptimerobot/__init__.py
Labels: cla-signed, small-pr, integration: uptimerobot, by-code-owner, bugfix

#54259 Remove monitor checks in Uptime Robot entities
  homeassistant/components/uptimerobot/entity.py
Labels: cla-signed, small-pr, integration: uptimerobot, by-code-owner, code-quality

#53633 Strict typing for Neato
  .strict-typing
  homeassistant/components/neato/api.py
  homeassistant/components/neato/camera.py
  homeassistant/components/neato/config_flow.py
  homeassistant/components/neato/hub.py
  homeassistant/components/neato/sensor.py
  homeassistant/components/neato/switch.py
  homeassistant/components/neato/vacuum.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, integration: neato, code-quality, smash

#54264 Add missing `motor_speed` sensor for Xiaomi Miio humidifier CA1 and CB1
  homeassistant/components/xiaomi_miio/sensor.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, bugfix

#54226 Add re-authentication to Uptime Robot
  homeassistant/components/uptimerobot/__init__.py
  homeassistant/components/uptimerobot/config_flow.py
  homeassistant/components/uptimerobot/strings.json
  homeassistant/components/uptimerobot/translations/en.json
  tests/components/uptimerobot/test_config_flow.py
  tests/components/uptimerobot/test_init.py
Labels: cla-signed, new-feature, integration: uptimerobot, has-tests, by-code-owner

#54049 Fix camera state and attributes for agent_dvr
  homeassistant/components/agent_dvr/camera.py
Labels: cla-signed, small-pr, integration: agent_dvr, bugfix

#54277 Add modbus get_hub
  homeassistant/components/flexit/climate.py
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/binary_sensor.py
  homeassistant/components/modbus/climate.py
  homeassistant/components/modbus/cover.py
  homeassistant/components/modbus/fan.py
  homeassistant/components/modbus/light.py
  homeassistant/components/modbus/modbus.py
  homeassistant/components/modbus/sensor.py
  homeassistant/components/modbus/switch.py
Labels: cla-signed, integration: modbus, integration: flexit, by-code-owner, bugfix

#53919 Convert last properties in modbus to _attr_variable
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/binary_sensor.py
  homeassistant/components/modbus/climate.py
  homeassistant/components/modbus/cover.py
  homeassistant/components/modbus/fan.py
  homeassistant/components/modbus/sensor.py
Labels: cla-signed, integration: modbus, by-code-owner, code-quality

#54287 Bump google-nest-sdm to 0.3.6
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: nest, small-pr, dependency, by-code-owner, dependency-bump
