Repository home-assistant/core, pull requests merged in 2021-06, with the labels that each got.

#51315 Update `adext` dependency
  homeassistant/components/alarmdecoder/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: alarmdecoder, small-pr

#51308 Upgrade pylint to 2.8.3
  requirements_test.txt
Labels: cla-signed, dependency-bump, small-pr

#51307 KNX: move some Schema to schema.py
  homeassistant/components/knx/__init__.py
  homeassistant/components/knx/const.py
  homeassistant/components/knx/fan.py
  homeassistant/components/knx/schema.py
Labels: by-code-owner, cla-signed, code-quality, integration: knx

#51306 KNX: Support for XY-color lights
  homeassistant/components/knx/light.py
  homeassistant/components/knx/schema.py
Labels: by-code-owner, cla-signed, integration: knx, new-feature

#51255 Refactor yeelight integration to use only flows
  homeassistant/components/yeelight/__init__.py
  homeassistant/components/yeelight/config_flow.py
  homeassistant/components/yeelight/light.py
  tests/components/yeelight/__init__.py
  tests/components/yeelight/test_config_flow.py
  tests/components/yeelight/test_init.py
  tests/components/yeelight/test_light.py
Labels: cla-signed, code-quality, has-tests, integration: yeelight, small-pr

#51320 Bump aiopvpc to apply quickfix for new electricity price tariff
  homeassistant/components/pvpc_hourly_pricing/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: pvpc_hourly_pricing, small-pr

#51232 Define SwitchEntity entity attributes as class variables
  homeassistant/components/switch/__init__.py
Labels: cla-signed, code-quality, core, integration: switch, small-pr

#51207 Switch to using entity class attributes where possible in zwave_js
  homeassistant/components/zwave_js/binary_sensor.py
  homeassistant/components/zwave_js/cover.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/light.py
  homeassistant/components/zwave_js/number.py
  homeassistant/components/zwave_js/sensor.py
  homeassistant/components/zwave_js/switch.py
Labels: cla-signed, code-quality, integration: zwave_js

#51321 Fix exception after removing Shelly config entry and stopping HA
  homeassistant/components/shelly/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: shelly, small-pr

#49429 Improve config validation for key_value_schemas
  homeassistant/helpers/config_validation.py
  tests/helpers/test_config_validation.py
Labels: cla-signed, core, small-pr

#51329 Update frontend to 20210601.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#51319 Trusted networks auth provider warns if detects a requests with x-forwarded-for header while the http integration is not configured for reverse proxies
  homeassistant/auth/providers/trusted_networks.py
  homeassistant/components/http/__init__.py
  tests/auth/providers/test_trusted_networks.py
Labels: breaking-change, cla-signed, core, integration: http, new-feature

#51324 Bump aioswitcher to 1.2.3
  homeassistant/components/switcher_kis/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: switcher_kis, small-pr

#51330 Add arch to payload
  homeassistant/components/analytics/analytics.py
  homeassistant/components/analytics/const.py
  tests/components/analytics/test_analytics.py
Labels: by-code-owner, cla-signed, has-tests, integration: analytics, new-feature, small-pr

#51335 Improve time condition trace
  homeassistant/helpers/condition.py
Labels: cla-signed, core, small-pr

#51337 Fix time condition microsecond offset when using input helpers
  homeassistant/helpers/condition.py
  tests/helpers/test_condition.py
Labels: bugfix, cla-signed, core, small-pr

#51338 Fix Netatmo sensor logic
  homeassistant/components/netatmo/sensor.py
Labels: by-code-owner, cla-signed, integration: netatmo, small-pr

#51332 Always load middle to handle forwarded proxy data
  homeassistant/auth/providers/trusted_networks.py
  homeassistant/components/http/__init__.py
  homeassistant/components/http/forwarded.py
  tests/auth/providers/test_trusted_networks.py
  tests/components/http/test_auth.py
  tests/components/http/test_forwarded.py
Labels: cla-signed, core, has-tests, integration: http, small-pr

#51340 Fix Snapcast state after restoring snapshot
  homeassistant/components/snapcast/media_player.py
Labels: bugfix, cla-signed, integration: snapcast, small-pr

#51341 Bump zwave-js-server-python to 0.26.0
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: breaking-change, cla-signed, dependency-bump, integration: zwave_js, small-pr

#51339 Fix SIA event data func
  homeassistant/components/sia/utils.py
Labels: bugfix, by-code-owner, cla-signed, integration: sia, small-pr

#51345 Collection of changing entity properties to class attributes - 2
  homeassistant/components/atome/sensor.py
  homeassistant/components/braviatv/media_player.py
  homeassistant/components/flick_electric/sensor.py
  homeassistant/components/greeneye_monitor/sensor.py
  homeassistant/components/gtfs/sensor.py
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/humidifier.py
  homeassistant/components/homekit_controller/media_player.py
  homeassistant/components/homematic/binary_sensor.py
  homeassistant/components/icloud/sensor.py
  homeassistant/components/ipp/sensor.py
  homeassistant/components/islamic_prayer_times/sensor.py
  homeassistant/components/lightwave/sensor.py
  homeassistant/components/linode/binary_sensor.py
  homeassistant/components/myq/binary_sensor.py
  homeassistant/components/nextbus/sensor.py
  homeassistant/components/nuki/binary_sensor.py
  homeassistant/components/oru/sensor.py
  homeassistant/components/philips_js/media_player.py
  homeassistant/components/skybeacon/sensor.py
  homeassistant/components/smarthab/cover.py
  homeassistant/components/uk_transport/sensor.py
  homeassistant/components/unifi/sensor.py
  homeassistant/components/withings/binary_sensor.py
Labels: cla-signed, code-quality

#51351 Use entity class vars for Melcloud
  homeassistant/components/melcloud/climate.py
Labels: cla-signed, code-quality, integration: melcloud, small-pr

#51353 Handle incomplete Sonos alarm event payloads
  homeassistant/components/sonos/speaker.py
Labels: bugfix, by-code-owner, cla-signed, integration: sonos, small-pr

#51347 Merge system options into pref properties
  homeassistant/components/config/config_entries.py
  homeassistant/config_entries.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/entity_registry.py
  homeassistant/helpers/update_coordinator.py
  tests/common.py
  tests/components/bmw_connected_drive/test_config_flow.py
  tests/components/config/test_config_entries.py
  tests/components/forked_daapd/test_config_flow.py
  tests/components/forked_daapd/test_media_player.py
  tests/components/home_plus_control/conftest.py
  tests/components/homekit_controller/test_storage.py
  tests/components/homematicip_cloud/conftest.py
  tests/components/hue/conftest.py
  tests/components/hue/test_bridge.py
  tests/components/hue/test_light.py
  tests/components/huisbaasje/test_init.py
  tests/components/huisbaasje/test_sensor.py
  tests/components/hvv_departures/test_config_flow.py
  tests/components/smartthings/conftest.py
  tests/components/unifi/test_device_tracker.py
  tests/components/unifi/test_switch.py
  tests/components/zwave/test_lock.py
  tests/helpers/test_entity_platform.py
  tests/helpers/test_entity_registry.py
  tests/helpers/test_update_coordinator.py
  tests/test_config_entries.py
Labels: cla-signed, core, new-feature, small-pr

#51354 Update frontend to 20210601.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#51348 SolarEdge: Move coordinators out of sensor platform
  .coveragerc
  homeassistant/components/solaredge/coordinator.py
  homeassistant/components/solaredge/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: solaredge

#51355 Bump hangups to 0.4.14
  homeassistant/components/hangouts/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: hangouts, small-pr

#51244 Move pymodbus test fixtures to test_init
  tests/components/modbus/conftest.py
  tests/components/modbus/test_init.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: modbus, small-pr

#51357 Bump pyiqvia to 1.0.0
  homeassistant/components/iqvia/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: iqvia, small-pr

#51231 Define ToggleEntity entity attributes as class variables
  homeassistant/components/upcloud/__init__.py
  homeassistant/helpers/entity.py
Labels: cla-signed, code-quality, core, small-pr

#51356 Do not attempt to unload non loaded config entries
  homeassistant/config_entries.py
  tests/components/smartthings/test_binary_sensor.py
  tests/components/smartthings/test_cover.py
  tests/components/smartthings/test_fan.py
  tests/components/smartthings/test_light.py
  tests/components/smartthings/test_lock.py
  tests/components/smartthings/test_scene.py
  tests/components/smartthings/test_sensor.py
  tests/components/smartthings/test_switch.py
Labels: cla-signed, core, small-pr

#49843 Add binary_sensor tests for devolo Home Control
  .coveragerc
  tests/components/devolo_home_control/mocks.py
  tests/components/devolo_home_control/test_binary_sensor.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: devolo_home_control, small-pr

#51367 Fix BleBox wLightBoxS and gateBox support
  CODEOWNERS
  homeassistant/components/blebox/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, integration: blebox, small-pr

#51234 Mark state final in BinarySensorEntity
  homeassistant/components/binary_sensor/__init__.py
Labels: cla-signed, code-quality, core, integration: binary_sensor, small-pr

#51368 Fix Tibber timestamps parsing
  homeassistant/components/tibber/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: tibber, small-pr

#50808 Update ping to use asyncio function in icmplib
  homeassistant/components/ping/__init__.py
  homeassistant/components/ping/binary_sensor.py
  homeassistant/components/ping/const.py
  homeassistant/components/ping/device_tracker.py
  homeassistant/components/ping/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ping/test_init.py
Labels: cla-signed, integration: ping, small-pr

#46516 Add Hyperion camera feed
  homeassistant/components/hyperion/__init__.py
  homeassistant/components/hyperion/camera.py
  homeassistant/components/hyperion/const.py
  tests/components/hyperion/__init__.py
  tests/components/hyperion/test_camera.py
  tests/components/hyperion/test_config_flow.py
  tests/components/hyperion/test_light.py
  tests/components/hyperion/test_switch.py
Labels: by-code-owner, cla-signed, has-tests, integration: hyperion, new-feature, new-platform

#38855 Add media_player.group
  homeassistant/components/group/media_player.py
  tests/components/group/test_media_player.py
Labels: cla-signed, core, integration: group, new-integration, new-platform

#50283 Add support for fan speed percentage and preset modes to google_assistant integration
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, core, has-tests, integration: google_assistant, new-feature

#51392 Fix no value error for heatit climate entities
  homeassistant/components/zwave_js/discovery_data_template.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_climate.py
  tests/fixtures/zwave_js/climate_heatit_z_trm3_no_value_state.json
Labels: bugfix, cla-signed, has-tests, integration: zwave_js, small-pr

#51376 Handle Sonos connection issues better when polling
  homeassistant/components/sonos/entity.py
  homeassistant/components/sonos/media_player.py
Labels: bugfix, by-code-owner, cla-signed, integration: sonos, small-pr

#51372 Fix HLS idle timer in stream
  homeassistant/components/stream/core.py
  homeassistant/components/stream/hls.py
Labels: bugfix, by-code-owner, cla-signed, core, integration: stream, small-pr

#51206 Add binary sensor platform to SIA integration
  .coveragerc
  homeassistant/components/sia/alarm_control_panel.py
  homeassistant/components/sia/binary_sensor.py
  homeassistant/components/sia/const.py
  homeassistant/components/sia/sia_entity_base.py
Labels: by-code-owner, cla-signed, integration: sia, new-feature, new-platform

#51402 Fix Tibber Pulse device name and sensor update
  homeassistant/components/tibber/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: tibber, small-pr

#51406 Fix shopping list "complete all" service name
  homeassistant/components/shopping_list/services.yaml
Labels: bugfix, cla-signed, core, integration: shopping_list, small-pr

#51400 Remove is_standby from SwitchEntity
  homeassistant/components/hdmi_cec/switch.py
  homeassistant/components/switch/__init__.py
Labels: cla-signed, core, integration: hdmi_cec, integration: switch, small-pr

#50720 Add bosch shc platforms for sensor devices
  .coveragerc
  homeassistant/components/bosch_shc/__init__.py
  homeassistant/components/bosch_shc/binary_sensor.py
  homeassistant/components/bosch_shc/sensor.py
Labels: by-code-owner, cla-signed, integration: bosch_shc, new-feature, new-platform

#51416 Bumped to boschshcpy==0.2.19
  homeassistant/components/bosch_shc/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: bosch_shc, small-pr

#51382 Allow registering a callback to ssdp that matches any key value
  homeassistant/components/ssdp/__init__.py
  tests/components/ssdp/test_init.py
Labels: cla-signed, has-tests, integration: ssdp, small-pr

#51425 Bump zwave-js-server-python to 0.26.1
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, cla-signed, dependency, dependency-bump, integration: zwave_js, small-pr

#51418 Bump aiohomekit to 0.2.67 (fixes #51391)
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: homekit_controller, small-pr

#51434 Pin jinja
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Labels: cla-signed, code-quality, core, small-pr

#51442 Update frontend to 20210603.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#51375 Fix last activity consideration for AVM Fritz!Tools device tracker
  homeassistant/components/fritz/common.py
Labels: bugfix, cla-signed, integration: fritz, small-pr

#51449 2021.6.1
  homeassistant/components/fritz/common.py
  homeassistant/components/frontend/manifest.json
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/shopping_list/services.yaml
  homeassistant/components/sonos/entity.py
  homeassistant/components/sonos/media_player.py
  homeassistant/components/tibber/sensor.py
  homeassistant/components/zwave_js/discovery_data_template.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_climate.py
  tests/fixtures/zwave_js/climate_heatit_z_trm3_no_value_state.json
Labels: cla-signed, core, has-tests, merging-to-master

#51447 Bump aiohue to 2.5.1
  homeassistant/components/hue/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: hue, small-pr

#51401 Small fixes in SIA
  homeassistant/components/sia/alarm_control_panel.py
  homeassistant/components/sia/binary_sensor.py
  homeassistant/components/sia/sia_entity_base.py
Labels: bugfix, by-code-owner, cla-signed, integration: sia, small-pr

#51457 Address Hyperion camera post-merge code review
  homeassistant/components/hyperion/camera.py
Labels: by-code-owner, cla-signed, code-quality, integration: hyperion, small-pr

#51452 Update to iaqualink 0.3.90
  homeassistant/components/iaqualink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: iaqualink, small-pr

#51459 Update xknx to version 0.18.4
  homeassistant/components/knx/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: knx, small-pr

#51453 Retry isy994 setup later if isy.initialize times out
  homeassistant/components/isy994/__init__.py
Labels: by-code-owner, cla-signed, integration: isy994, small-pr

#51473 Bump aiolyric to 1.0.7
  homeassistant/components/lyric/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: lyric, small-pr

#51477 Improve logging for SamsungTV
  homeassistant/components/samsungtv/bridge.py
  homeassistant/components/samsungtv/config_flow.py
Labels: by-code-owner, cla-signed, code-quality, integration: samsungtv, small-pr

#51483 Upgrade elgato to 2.1.1
  homeassistant/components/elgato/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: elgato, small-pr

#51471 Allow unlimited scan_interval in modbus
  homeassistant/components/modbus/const.py
  homeassistant/components/modbus/validators.py
  tests/components/modbus/test_init.py
Labels: bugfix, by-code-owner, cla-signed, integration: modbus, small-pr

#51486 Protect our user agent
  homeassistant/helpers/aiohttp_client.py
  tests/helpers/test_aiohttp_client.py
Labels: bugfix, cla-signed, core, small-pr

#51439 Allow number/sensor entities in numeric state conditions/triggers
  homeassistant/helpers/config_validation.py
  tests/components/homeassistant/triggers/test_numeric_state.py
  tests/helpers/test_condition.py
Labels: cla-signed, core, has-tests, integration: homeassistant, new-feature, small-pr

#51487 Hot fix version of Apply modbus interval patch
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/const.py
Labels: bugfix, cherry-picked, cla-signed, integration: modbus, merging-to-rc, small-pr

#51488 2021.6.2
  homeassistant/components/elgato/manifest.json
  homeassistant/components/iaqualink/manifest.json
  homeassistant/components/isy994/__init__.py
  homeassistant/components/knx/manifest.json
  homeassistant/components/lyric/manifest.json
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/const.py
  homeassistant/components/samsungtv/bridge.py
  homeassistant/components/samsungtv/config_flow.py
  homeassistant/const.py
  homeassistant/helpers/aiohttp_client.py
  requirements_all.txt
  requirements_test_all.txt
  tests/helpers/test_aiohttp_client.py
Labels: cla-signed, core, integration: elgato, integration: iaqualink, integration: isy994, integration: knx, integration: lyric, integration: modbus, integration: samsungtv, merging-to-master

#51174 Bump islamic-prayer-times to 0.0.5
  homeassistant/components/islamic_prayer_times/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, small-pr

#51466 Use a single job to ping all devices in the Broadlink integration
  homeassistant/components/broadlink/heartbeat.py
Labels: bugfix, by-code-owner, cla-signed, integration: broadlink, small-pr

#51454 Remove empty tests for ping now that the code in icmplib is used
  tests/components/ping/test_init.py
Labels: cla-signed, has-tests, integration: ping, small-pr

#51436 Ensure ssdp can callback messages that do not have an ST
  homeassistant/components/ssdp/__init__.py
  tests/components/ssdp/test_init.py
Labels: cla-signed, has-tests, integration: ssdp, small-pr

#51505 Fix missing Tibber power production
  homeassistant/components/tibber/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: tibber, small-pr

#51507 Bump garminconnect_aio to 0.1.4
  homeassistant/components/garmin_connect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: garmin_connect, small-pr

#51503 Handle missing options in foreign_key for MSSQL
  homeassistant/components/recorder/migration.py
Labels: cla-signed, core, integration: recorder, small-pr

#51509 Disable gpmdp integration
  homeassistant/components/gpmdp/manifest.json
  requirements_all.txt
Labels: breaking-change, cla-signed, dependency-bump, integration: gpmdp, small-pr

#51517 Bump mcstatus to 6.0.0
  homeassistant/components/minecraft_server/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: minecraft_server, small-pr

#51518 Fix mysensors typing
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/config_flow.py
  homeassistant/components/mysensors/device.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/mysensors/helpers.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: by-code-owner, cla-signed, integration: mysensors

#51519 Bump pyialarm to 1.8.1
  homeassistant/components/ialarm/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: ialarm, small-pr

#51470 Check initial connect() worked in modbus
  homeassistant/components/modbus/modbus.py
  tests/components/modbus/test_init.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: modbus, small-pr

#51417 Add fix delay after send/request to allow RS485 adapter to switch in modbus
  homeassistant/components/modbus/modbus.py
  tests/components/modbus/test_init.py
Labels: bugfix, by-code-owner, cla-signed, integration: modbus, small-pr

#51521 Clean mysensors on_unload
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/binary_sensor.py
  homeassistant/components/mysensors/climate.py
  homeassistant/components/mysensors/cover.py
  homeassistant/components/mysensors/device_tracker.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/mysensors/helpers.py
  homeassistant/components/mysensors/light.py
  homeassistant/components/mysensors/sensor.py
  homeassistant/components/mysensors/switch.py
Labels: by-code-owner, cla-signed, integration: mysensors

#51527 Ensure host is always set with samsungtv SSDP discovery
  homeassistant/components/samsungtv/config_flow.py
Labels: cla-signed, integration: samsungtv, small-pr

#51538 Bump aiorecollect to 1.0.5
  homeassistant/components/recollect_waste/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: recollect_waste, small-pr

#51412 Add retries/retry_on_empty configuration parameters to Modbus
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/const.py
  homeassistant/components/modbus/modbus.py
Labels: bugfix, by-code-owner, cla-signed, integration: modbus, small-pr

#51411 Add color_mode white
  homeassistant/components/light/__init__.py
  homeassistant/components/light/reproduce_state.py
  tests/components/light/test_init.py
  tests/components/light/test_reproduce_state.py
Labels: cla-signed, core, has-tests, integration: light, new-feature

#51163 Add workaround for missing cleaning time in roomba
  homeassistant/components/roomba/irobot_base.py
Labels: bugfix, cla-signed, integration: roomba, small-pr

#51554 Enable new typing in roomba to fix loading
  homeassistant/components/roomba/irobot_base.py
Labels: cla-signed, integration: roomba, small-pr

#51522 Improve log message when zone missing in geolocation trigger
  homeassistant/components/geo_location/trigger.py
  tests/components/geo_location/test_trigger.py
Labels: cla-signed, core, integration: geo_location, small-pr

#51544 Add lightwave state_class and unique_id properties
  homeassistant/components/lightwave/climate.py
  homeassistant/components/lightwave/sensor.py
Labels: cla-signed, integration: lightwave, new-feature, small-pr

#51551 Update pyhomematic to 0.1.73
  homeassistant/components/homematic/const.py
  homeassistant/components/homematic/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, integration: homematic, small-pr

#51542 Fix garmin_connect config flow multiple account creation
  homeassistant/components/garmin_connect/config_flow.py
Labels: bugfix, by-code-owner, cla-signed, integration: garmin_connect, small-pr

#51556 Bump dwdwfsapi to 1.0.4
  homeassistant/components/dwd_weather_warnings/manifest.json
  requirements_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: dwd_weather_warnings, small-pr

#51565 Fix Sonos restore calls
  homeassistant/components/sonos/speaker.py
Labels: bugfix, by-code-owner, cla-signed, integration: sonos, small-pr

#51559 Increase isy setup timeout to 60s
  homeassistant/components/isy994/__init__.py
Labels: by-code-owner, cla-signed, integration: isy994, small-pr

#51558 Replace supported_features property with class attribute in deCONZ light entities
  homeassistant/components/deconz/light.py
Labels: by-code-owner, cla-signed, code-quality, integration: deconz, small-pr

#51230 Cleanup of Toon
  homeassistant/components/toon/binary_sensor.py
  homeassistant/components/toon/climate.py
  homeassistant/components/toon/const.py
  homeassistant/components/toon/models.py
  homeassistant/components/toon/sensor.py
  homeassistant/components/toon/switch.py
Labels: by-code-owner, cla-signed, cleanup, code-quality, integration: toon

#51444 Allow referencing sensor entities for before/after in time conditions
  homeassistant/helpers/condition.py
  homeassistant/helpers/config_validation.py
  tests/helpers/test_condition.py
Labels: cla-signed, core, new-feature

#51576 Add easy converting string timestamps/dates to datetime objects in templates
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: cla-signed, core, new-feature, small-pr

#51531 Clean mysensors gateway type selection
  homeassistant/components/mysensors/config_flow.py
  homeassistant/components/mysensors/gateway.py
Labels: by-code-owner, cla-signed, integration: mysensors

#51535 Type mysensors strictly
  .strict-typing
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/binary_sensor.py
  homeassistant/components/mysensors/climate.py
  homeassistant/components/mysensors/config_flow.py
  homeassistant/components/mysensors/const.py
  homeassistant/components/mysensors/cover.py
  homeassistant/components/mysensors/device.py
  homeassistant/components/mysensors/device_tracker.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/mysensors/handler.py
  homeassistant/components/mysensors/helpers.py
  homeassistant/components/mysensors/light.py
  homeassistant/components/mysensors/notify.py
  homeassistant/components/mysensors/sensor.py
  homeassistant/components/mysensors/switch.py
  mypy.ini
Labels: by-code-owner, cla-signed, integration: mysensors

#51381 Bump nad_receiver to version 0.2.0
  homeassistant/components/nad/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: nad, small-pr

#51577 Bump aio_georss_gdacs to 0.5
  homeassistant/components/gdacs/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: gdacs, small-pr

#51383 Bump meteoalertapi to 0.2.0
  homeassistant/components/meteoalarm/manifest.json
  requirements_all.txt
Labels: breaking-change, by-code-owner, cla-signed, dependency-bump, integration: meteoalarm, small-pr

#51582 Update builder to 2021.06.2
  .github/workflows/builder.yml
Labels: cla-signed, small-pr

#51586 Fully type switch entity component
  homeassistant/components/switch/__init__.py
Labels: cla-signed, code-quality, core, integration: switch, small-pr

#51491 Fix loop in tod binary sensor
  homeassistant/components/tod/binary_sensor.py
  tests/components/tod/test_binary_sensor.py
Labels: cla-signed, has-tests, integration: tod, small-pr

#51499 AsusWRT fix keyerror when firmver is missing from info
  homeassistant/components/asuswrt/router.py
Labels: bugfix, cla-signed, integration: asuswrt, small-pr

#51575 Add support for color_mode white to demo light
  homeassistant/components/demo/light.py
  tests/components/emulated_hue/test_hue_api.py
  tests/components/google_assistant/__init__.py
Labels: cla-signed, core, integration: demo, small-pr

#51588 Move remaining code out of netdisco to eliminate as SSDP dependency
  .coveragerc
  homeassistant/components/ssdp/descriptions.py
  homeassistant/components/ssdp/util.py
Labels: cla-signed, integration: ssdp

#51587 Fix deprecated value_template for MQTT light
  homeassistant/components/mqtt/light/schema_basic.py
Labels: bugfix, by-code-owner, cla-signed, core, integration: mqtt, small-pr

#51595 2021.6.3
  .github/workflows/builder.yml
  homeassistant/components/asuswrt/router.py
  homeassistant/components/broadlink/heartbeat.py
  homeassistant/components/dwd_weather_warnings/manifest.json
  homeassistant/components/garmin_connect/config_flow.py
  homeassistant/components/garmin_connect/manifest.json
  homeassistant/components/geo_location/trigger.py
  homeassistant/components/ialarm/manifest.json
  homeassistant/components/isy994/__init__.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/recollect_waste/manifest.json
  homeassistant/components/recorder/migration.py
  homeassistant/components/samsungtv/config_flow.py
  homeassistant/components/sonos/speaker.py
  homeassistant/components/tibber/sensor.py
  homeassistant/components/tod/binary_sensor.py
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/geo_location/test_trigger.py
  tests/components/tod/test_binary_sensor.py
Labels: cla-signed, core, has-tests, merging-to-master

#51557 Use supported color modes in Axis integration
  homeassistant/components/axis/light.py
Labels: by-code-owner, cla-signed, code-quality, integration: axis, small-pr

#50260 Correctly support use of Farenheit in Gree Climate component
  homeassistant/components/gree/climate.py
  homeassistant/components/gree/const.py
  homeassistant/components/gree/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/gree/test_climate.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: gree, small-pr

#51596 Bump georss_qld_bushfire_alert_client to 0.5
  homeassistant/components/qld_bushfire/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: qld_bushfire, small-pr

#51585 Fix Sonos battery sensors on S1 firmware
  homeassistant/components/sonos/speaker.py
  tests/components/sonos/test_sensor.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: sonos, small-pr

#51599 Fix kraken I/O and sleep in tests
  homeassistant/components/kraken/__init__.py
  homeassistant/components/kraken/config_flow.py
  tests/components/kraken/conftest.py
  tests/components/kraken/test_config_flow.py
Labels: cla-signed, has-tests, integration: kraken, small-pr

#51598 Handle missing section ID for Plex clips
  homeassistant/components/plex/models.py
Labels: bugfix, by-code-owner, cla-signed, integration: plex, small-pr

#49826 Fix misaligned high/low temperatures in weather card
  homeassistant/components/environment_canada/weather.py
Labels: bugfix, by-code-owner, cla-signed, integration: environment_canada, small-pr

#49723 Add Rituals number platform
  .coveragerc
  homeassistant/components/rituals_perfume_genie/__init__.py
  homeassistant/components/rituals_perfume_genie/const.py
  homeassistant/components/rituals_perfume_genie/number.py
  homeassistant/components/rituals_perfume_genie/switch.py
Labels: by-code-owner, cla-signed, integration: rituals_perfume_genie, new-feature

#51377 Detect Sonos reboots and recreate subscriptions
  homeassistant/components/sonos/__init__.py
  homeassistant/components/sonos/const.py
  homeassistant/components/sonos/speaker.py
Labels: by-code-owner, cla-signed, integration: sonos, new-feature

#51602 Bump aio_geojson_geonetnz_volcano to v0.6
  homeassistant/components/geonetnz_volcano/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: geonetnz_volcano, small-pr

#51317 Modern Forms integration initial pass - Fan
  CODEOWNERS
  homeassistant/components/modern_forms/__init__.py
  homeassistant/components/modern_forms/config_flow.py
  homeassistant/components/modern_forms/const.py
  homeassistant/components/modern_forms/fan.py
  homeassistant/components/modern_forms/manifest.json
  homeassistant/components/modern_forms/services.yaml
  homeassistant/components/modern_forms/strings.json
  homeassistant/components/modern_forms/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/zeroconf.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/modern_forms/__init__.py
  tests/components/modern_forms/test_config_flow.py
  tests/components/modern_forms/test_fan.py
  tests/components/modern_forms/test_init.py
  tests/fixtures/modern_forms/device_info.json
  tests/fixtures/modern_forms/device_info_no_light.json
  tests/fixtures/modern_forms/device_status.json
  tests/fixtures/modern_forms/device_status_no_light.json
Labels: cla-signed, has-tests, integration: modern_forms, new-integration

#51590 Remove value_template from MQTT_RW_PLATFORM_SCHEMA
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/switch.py
Labels: by-code-owner, cla-signed, code-quality, core, integration: mqtt, small-pr

#51589 Deprecate support for undocumented value_template in MQTT light
  homeassistant/components/mqtt/light/schema_basic.py
  tests/components/mqtt/test_light.py
Labels: by-code-owner, cla-signed, core, has-tests, integration: mqtt, small-pr

#51601 Small entity attribute cleanup in AirVisual
  homeassistant/components/airvisual/__init__.py
  homeassistant/components/airvisual/air_quality.py
  homeassistant/components/airvisual/sensor.py
Labels: cla-signed, code-quality, integration: airvisual, small-pr

#51616 Do not configure Shelly config entry created by custom component
  homeassistant/components/shelly/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: shelly, small-pr

#51613 Reduce ovo_energy polling rate to be less aggressive
  homeassistant/components/ovo_energy/__init__.py
Labels: bugfix, cla-signed, integration: ovo_energy, small-pr

#51619 Address late review of nsw fuel station
  homeassistant/components/nsw_fuel_station/__init__.py
  tests/components/nsw_fuel_station/test_sensor.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: nsw_fuel_station, small-pr

#51621 Fix mysensors tests typing
  tests/components/mysensors/test_config_flow.py
  tests/components/mysensors/test_gateway.py
Labels: by-code-owner, cla-signed, has-tests, integration: mysensors, small-pr

#51622 Static typing for Zodiac
  .strict-typing
  homeassistant/components/zodiac/__init__.py
  homeassistant/components/zodiac/sensor.py
  mypy.ini
Labels: cla-signed, code-quality, integration: zodiac, small-pr

#51593 Bump sqlalchemy to 1.4.17
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: recorder, integration: sql, small-pr

#51608 Add support for color_mode white to Tasmota light
  homeassistant/components/tasmota/light.py
  homeassistant/components/tasmota/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/light/common.py
  tests/components/tasmota/test_light.py
Labels: by-code-owner, cla-signed, core, has-tests, integration: light, integration: tasmota, small-pr

#51628 Use baseimage 2021.06.0 / Python 3.9 - Alpine 3.13
  build.json
Labels: breaking-change, cla-signed, small-pr

#51620 Fix Onvif get_time_zone from device
  homeassistant/components/onvif/device.py
Labels: bugfix, cla-signed, core, small-pr

#51627 Fix mysensors awesomeversion strategy usage
  homeassistant/components/mysensors/config_flow.py
  tests/components/mysensors/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: mysensors, small-pr

#51637 Update Machine support of python 3.9 / Kernel CEC
  build.json
  machine/generic-x86-64
  machine/intel-nuc
  machine/odroid-c2
  machine/odroid-c4
  machine/odroid-n2
  machine/odroid-xu
  machine/qemuarm
  machine/qemuarm-64
  machine/qemux86
  machine/qemux86-64
  machine/raspberrypi
  machine/raspberrypi2
  machine/raspberrypi3
  machine/raspberrypi3-64
  machine/raspberrypi4
  machine/raspberrypi4-64
  machine/tinker
Labels: breaking-change, cla-signed, small-pr

#51623 Bump hatasmota to 0.2.16
  homeassistant/components/tasmota/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: tasmota, small-pr

#51632 Upgrade wled to 0.5.0
  homeassistant/components/wled/light.py
  homeassistant/components/wled/manifest.json
  homeassistant/components/wled/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: wled, small-pr

#51312 Improve editing of device automations referencing non-added sensors
  homeassistant/components/sensor/device_trigger.py
  homeassistant/helpers/entity.py
  tests/components/sensor/test_device_trigger.py
Labels: bugfix, cla-signed, core, has-tests, integration: sensor

#51654 Emulate color_temp for lights which support color or white
  homeassistant/components/group/light.py
  homeassistant/components/light/__init__.py
  tests/components/deconz/test_light.py
  tests/components/light/test_init.py
Labels: cla-signed, core, integration: light, new-feature, small-pr

#51657 Increase test coverage in Brother integration
  homeassistant/components/brother/config_flow.py
Labels: by-code-owner, cla-signed, code-quality, integration: brother, small-pr

#51574 Add device trigger support for Philips Hue Wall Switch Module
  homeassistant/components/hue/device_trigger.py
Labels: cla-signed, integration: hue, new-feature, small-pr

#51659 Tweak light.valid_supported_color_modes
  homeassistant/components/light/__init__.py
  tests/components/light/test_init.py
Labels: bugfix, cla-signed, core, has-tests, integration: light, small-pr

#51645 Add Ambee integration
  .coveragerc
  .strict-typing
  CODEOWNERS
  homeassistant/components/ambee/__init__.py
  homeassistant/components/ambee/config_flow.py
  homeassistant/components/ambee/const.py
  homeassistant/components/ambee/manifest.json
  homeassistant/components/ambee/sensor.py
  homeassistant/components/ambee/strings.json
  homeassistant/components/ambee/translations/en.json
  homeassistant/generated/config_flows.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ambee/__init__.py
  tests/components/ambee/test_config_flow.py
Labels: cla-signed, has-tests, integration: ambee, new-integration

#51648 Add color mode support to WLED
  homeassistant/components/wled/light.py
  tests/components/wled/test_light.py
Labels: by-code-owner, cla-signed, has-tests, integration: wled, new-feature

#51662 Remove ASUS.gpio / not working with new GCC
  machine/tinker
Labels: cla-signed, small-pr

#51379 Convert ecobee pressure to local units
  homeassistant/components/ecobee/weather.py
Labels: bugfix, cla-signed, integration: ecobee, small-pr
