Repository home-assistant/core, pull requests merged in 2021-10, with the labels that each got.

#56847 Add long-term statistics support for Netatmo rain sensors
  homeassistant/components/netatmo/sensor.py
Labels: integration: netatmo, cla-signed, small-pr, by-code-owner, smash

#56849 Remove stale variable from keyboard_remote
  homeassistant/components/keyboard_remote/__init__.py
Labels: cla-signed, integration: keyboard_remote, small-pr, by-code-owner, code-quality

#56869 Opengarage bug fix
  homeassistant/components/opengarage/config_flow.py
  homeassistant/components/opengarage/cover.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: opengarage, by-code-owner, bugfix

#56876 Fix bmw_connected_drive check_control_message short description
  homeassistant/components/bmw_connected_drive/binary_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: bmw_connected_drive, bugfix

#56879 Bump aioesphomeapi from 9.1.0 to 9.1.2
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, by-code-owner, bugfix, dependency-bump

#56889 Rename state to value_fn - picnic sensor
  homeassistant/components/picnic/const.py
  homeassistant/components/picnic/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: picnic, smash

#56834 Deduplicate controls of UniFi services
  homeassistant/components/unifi/__init__.py
  homeassistant/components/unifi/services.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_services.py
Labels: cla-signed, small-pr, integration: unifi, has-tests, by-code-owner, code-quality

#56891 Revert fritz pref_disable_new_entities handling
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/device_tracker.py
  homeassistant/components/fritz/switch.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: fritz, by-code-owner, bugfix

#56824 Adjust state class of solarlog yield and consumption sensors
  homeassistant/components/solarlog/const.py
Labels: cla-signed, small-pr, integration: solarlog, bugfix, smash, energy

#56897 Use native unit of measurement in deCONZ sensors
  homeassistant/components/deconz/sensor.py
Labels: Hacktoberfest, cla-signed, integration: deconz, small-pr, by-code-owner, bugfix

#56885 Add kPa as a pressure unit
  homeassistant/const.py
  homeassistant/util/pressure.py
  tests/util/test_pressure.py
Labels: Hacktoberfest, core, cla-signed, new-feature

#56883 Remove some redundant code from trace
  homeassistant/components/trace/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: trace

#56901 CLIPGenericFlag should be deCONZ sensor not binary sensor
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/sensor.py
  tests/components/deconz/test_binary_sensor.py
  tests/components/deconz/test_sensor.py
Labels: Hacktoberfest, cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, bugfix

#56864 Handle missing serial extended parameters in crownstone
  homeassistant/components/crownstone/helpers.py
  tests/components/crownstone/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: crownstone

#56884 Fix bmw_connected_drive sensor battery icon
  homeassistant/components/bmw_connected_drive/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: bmw_connected_drive, bugfix, smash

#56541 Use HTTPStatus instead of HTTP_* consts in aiohttp web response statuses
  homeassistant/components/auth/__init__.py
  homeassistant/components/auth/login_flow.py
  homeassistant/components/calendar/__init__.py
  homeassistant/components/config/zwave.py
  homeassistant/components/doorbird/__init__.py
  homeassistant/components/geofency/__init__.py
  homeassistant/components/gpslogger/__init__.py
  homeassistant/components/hassio/addon_panel.py
  homeassistant/components/hassio/auth.py
  homeassistant/components/hassio/http.py
  homeassistant/components/http/view.py
  homeassistant/components/locative/__init__.py
  homeassistant/components/mailbox/__init__.py
  homeassistant/components/media_player/__init__.py
  homeassistant/components/motioneye/__init__.py
  homeassistant/components/traccar/__init__.py
  homeassistant/components/tts/__init__.py
  homeassistant/components/webhook/__init__.py
Labels: core, cla-signed, code-quality

#56154 Enable template icons for template numbers
  homeassistant/components/template/number.py
  tests/components/template/test_number.py
Labels: cla-signed, small-pr, new-feature, integration: template, has-tests

#56904 Improve deCONZ services code quality
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/services.py
  tests/components/deconz/test_services.py
Labels: Hacktoberfest, cla-signed, integration: deconz, has-tests, by-code-owner, code-quality

#56912 Fix vicare binary sensor
  homeassistant/components/vicare/binary_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: vicare, bugfix

#56903 Bump netdisco to 3.0.0
  homeassistant/components/discovery/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: discovery, small-pr, dependency, dependency-bump

#56543 Use HTTPStatus instead of HTTP_* constants in various test mocks
  tests/components/buienradar/test_camera.py
  tests/components/cloud/test_http_api.py
  tests/components/directv/__init__.py
  tests/components/rest/test_switch.py
  tests/components/smartthings/test_config_flow.py
  tests/components/smartthings/test_init.py
  tests/components/startca/test_sensor.py
  tests/components/yandextts/test_tts.py
  tests/test_util/aiohttp.py
Labels: core, cla-signed, small-pr, has-tests, code-quality, smash

#56929 Fix `Unable to serialize to JSON` error in Xiaomi Miio
  homeassistant/components/xiaomi_miio/fan.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: xiaomi_miio, by-code-owner, bugfix

#56905 Replace strings with library constants in deCONZ climate platform
  homeassistant/components/deconz/climate.py
Labels: Hacktoberfest, cla-signed, integration: deconz, by-code-owner, code-quality

#56906 Replace strings with library constants in deCONZ fan platform
  homeassistant/components/deconz/fan.py
Labels: Hacktoberfest, cla-signed, integration: deconz, by-code-owner, code-quality

#56923 Bump pynws: fix unit code bug
  homeassistant/components/nws/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: nws, dependency, by-code-owner, bugfix, dependency-bump

#56924 Bump fritzconnection to 1.7.0
  homeassistant/components/fritz/manifest.json
  homeassistant/components/fritzbox_callmonitor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: fritz, integration: fritzbox_callmonitor, dependency, by-code-owner, dependency-bump

#56907 Add SSDP discovery to Nanoleaf
  homeassistant/components/nanoleaf/config_flow.py
  homeassistant/components/nanoleaf/manifest.json
  homeassistant/generated/ssdp.py
  tests/components/nanoleaf/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: nanoleaf, has-tests, by-code-owner

#56863 Get min and max color temperature for Nanoleaf light from library
  homeassistant/components/nanoleaf/light.py
Labels: Hacktoberfest, cla-signed, small-pr, Testing required, integration: nanoleaf, by-code-owner, bugfix

#56932 Add DHCP support for TPLink KL430, KP115
  homeassistant/components/tplink/manifest.json
  homeassistant/generated/dhcp.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tplink

#56933 Upgrade watchdog to 2.1.6
  homeassistant/components/folder_watcher/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: folder_watcher, dependency, dependency-bump, smash

#56919 Address beta review comments for WattTime
  homeassistant/components/watttime/__init__.py
  homeassistant/components/watttime/config_flow.py
  homeassistant/components/watttime/manifest.json
  homeassistant/components/watttime/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: watttime

#56936 Bump PyFlume to 0.6.5 to fix compat with new JWT
  homeassistant/components/flume/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: flume, by-code-owner, dependency-bump

#56940 Update denonavr codeowner
  CODEOWNERS
  homeassistant/components/denonavr/manifest.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: denonavr

#56949 Shelly add sleep_period to log for easier debugging
  homeassistant/components/shelly/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, by-code-owner, bugfix

#56943 Use NamedTuple for iqvia rating
  homeassistant/components/iqvia/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: iqvia, code-quality, smash, project-code_style

#56921 Log when Nanoleaf is unavailable
  homeassistant/components/nanoleaf/light.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: nanoleaf, by-code-owner

#56920 Remove injected logger in Ambient PWS and OpenUV
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/openuv/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: openuv, integration: ambient_station, by-code-owner, code-quality

#56354 Flux led config flow
  .coveragerc
  .strict-typing
  CODEOWNERS
  homeassistant/components/flux_led/__init__.py
  homeassistant/components/flux_led/config_flow.py
  homeassistant/components/flux_led/const.py
  homeassistant/components/flux_led/light.py
  homeassistant/components/flux_led/manifest.json
  homeassistant/components/flux_led/services.yaml
  homeassistant/components/flux_led/strings.json
  homeassistant/components/flux_led/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/dhcp.py
  mypy.ini
  requirements_test_all.txt
  tests/components/flux_led/__init.py__
  tests/components/flux_led/__init__.py
  tests/components/flux_led/test_config_flow.py
  tests/components/flux_led/test_init.py
  tests/components/flux_led/test_light.py
Labels: breaking-change, cla-signed, new-feature, integration: flux_led

#56928 Fix Switchbot unsupported SB types
  homeassistant/components/switchbot/config_flow.py
  tests/components/switchbot/conftest.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: switchbot, by-code-owner, bugfix

#56914 Set unique id while SSDP discovery of Synology DSM
  homeassistant/components/synology_dsm/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: synology_dsm, bugfix

#56934 Update pypoint to use v5 of backend API
  homeassistant/components/point/manifest.json
  homeassistant/components/point/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, breaking-change, cla-signed, small-pr, integration: point, dependency, by-code-owner, bugfix

#56955 Add dhcp discovery for TPLink EP10
  homeassistant/components/tplink/manifest.json
  homeassistant/generated/dhcp.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tplink

#56963 Update frontend to 20211002.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, dependency-bump

#56954 Fix Tuya v2 fan percentage
  homeassistant/components/tuya/fan.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya, bugfix

#56971 Fix incorrect handling of `hass.data` in WattTime setup
  homeassistant/components/watttime/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: watttime

#56946 Remove icon if device_class is defined - homekit_controller
  homeassistant/components/homekit_controller/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: homekit_controller, code-quality, smash

#56896 Sia package update to 3.0.2
  homeassistant/components/sia/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: sia

#56909 ZHA support for additional entities on ElectricalMeasurement ZCL cluster
  homeassistant/components/zha/core/channels/homeautomation.py
  homeassistant/components/zha/core/registries.py
  homeassistant/components/zha/sensor.py
  tests/components/zha/test_channels.py
  tests/components/zha/test_sensor.py
  tests/components/zha/zha_devices_list.py
Labels: Hacktoberfest, cla-signed, integration: zha, new-feature, has-tests, by-code-owner

#56964 Fix yeelight state when controlled outside of Home Assistant
  homeassistant/components/yeelight/__init__.py
  homeassistant/components/yeelight/light.py
  tests/components/yeelight/test_init.py
  tests/components/yeelight/test_light.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: yeelight, has-tests

#56948 Add strict typing to Tractive integration
  .strict-typing
  homeassistant/components/tractive/__init__.py
  homeassistant/components/tractive/binary_sensor.py
  homeassistant/components/tractive/config_flow.py
  homeassistant/components/tractive/const.py
  homeassistant/components/tractive/device_tracker.py
  homeassistant/components/tractive/entity.py
  homeassistant/components/tractive/sensor.py
  homeassistant/components/tractive/switch.py
  mypy.ini
Labels: Hacktoberfest, cla-signed, by-code-owner, code-quality, integration: tractive

#56980 Bump aioshelly to 1.0.2
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, dependency, by-code-owner, bugfix, dependency-bump

#56984 Bump gios library to version 2.1.0
  homeassistant/components/gios/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, integration: gios, dependency-bump

#56871 Update surepetcare test
  tests/components/surepetcare/test_lock.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: surepetcare, has-tests, by-code-owner, code-quality, smash

#56950 Disable discovery for dlna_dmr until it is more selective
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/generated/ssdp.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: dlna_dmr, by-code-owner, bugfix

#56989 Bump async-upnp-client to 0.22.5
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/components/ssdp/manifest.json
  homeassistant/components/upnp/manifest.json
  homeassistant/components/yeelight/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: upnp, small-pr, Testing required, integration: yeelight, integration: dlna_dmr, integration: ssdp, dependency, by-code-owner, dependency-bump

#56986 Fix upnp invalid key in ssdp discovery_info
  homeassistant/components/upnp/config_flow.py
Labels: Hacktoberfest, cla-signed, integration: upnp, small-pr, Testing required, by-code-owner, bugfix

#56995 Update pyhomematic to 0.1.75
  homeassistant/components/homematic/const.py
  homeassistant/components/homematic/manifest.json
  homeassistant/components/homematic/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: homematic, small-pr, dependency, by-code-owner

#56887 Support connecting to ElkM1 over TLS 1.2
  homeassistant/components/elkm1/config_flow.py
  tests/components/elkm1/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: elkm1, has-tests, by-code-owner

#56999 Round tplink energy sensors to prevent insignificant updates
  homeassistant/components/tplink/sensor.py
  tests/components/tplink/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tplink, has-tests

#56952 Bump Nettigo Air Monitor library to version 1.1.0
  homeassistant/components/nam/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: nam

#57000 Use `Final` type only when needed in Tractive
  homeassistant/components/tractive/__init__.py
  homeassistant/components/tractive/binary_sensor.py
  homeassistant/components/tractive/config_flow.py
  homeassistant/components/tractive/const.py
  homeassistant/components/tractive/sensor.py
  homeassistant/components/tractive/switch.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: tractive

#56953 Minor improvements to deCONZ light platform
  homeassistant/components/deconz/light.py
Labels: Hacktoberfest, cla-signed, integration: deconz, small-pr, by-code-owner, code-quality

#57014 Bump pyatmo to v6.1.0
  homeassistant/components/netatmo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, integration: netatmo, cla-signed, small-pr, by-code-owner, dependency-bump

#57007 Bump zwave-js-server-python to 0.31.2
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, dependency-bump, integration: zwave_js

#57009 Bump yeelight to 0.7.6
  homeassistant/components/yeelight/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: yeelight, dependency-bump

#56945 Use EntityDescription - homekit_controller
  homeassistant/components/homekit_controller/number.py
  homeassistant/components/homekit_controller/sensor.py
Labels: Hacktoberfest, cla-signed, integration: homekit_controller, code-quality, smash, project-code_style

#57020 Fix broken Netatmo camera tests
  tests/components/netatmo/common.py
  tests/components/netatmo/conftest.py
  tests/components/netatmo/test_camera.py
Labels: Hacktoberfest, integration: netatmo, cla-signed, small-pr, has-tests, by-code-owner

#57023 Add DHCP support for TPLink KP400
  homeassistant/components/tplink/manifest.json
  homeassistant/generated/dhcp.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tplink

#57027 Shorten album titles when browsing artist
  homeassistant/components/plex/helpers.py
  tests/components/plex/test_browse_media.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: plex, has-tests, by-code-owner

#56996 Use pycarwings2.12 for Nissan Leaf integration
  homeassistant/components/nissan_leaf/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, integration: nissan_leaf, small-pr, dependency, by-code-owner, dependency-bump

#57016 Meteofrance fix #56975
  homeassistant/components/meteo_france/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: meteo_france, by-code-owner, bugfix

#57026 Fix tractive flaky test
  tests/components/tractive/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, code-quality, integration: tractive

#57010 Ignore utility_meter restore state if state is invalid
  homeassistant/components/utility_meter/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: utility_meter, by-code-owner, bugfix

#57003 Mark auth voluptuous schema fields as required
  homeassistant/auth/mfa_modules/insecure_example.py
  homeassistant/auth/mfa_modules/notify.py
  homeassistant/auth/mfa_modules/totp.py
  homeassistant/auth/providers/command_line.py
  homeassistant/auth/providers/homeassistant.py
  homeassistant/auth/providers/insecure_example.py
  homeassistant/auth/providers/legacy_api_password.py
  homeassistant/auth/providers/trusted_networks.py
  tests/components/auth/test_mfa_setup_flow.py
Labels: Hacktoberfest, core, cla-signed, bugfix

#56973 Fix Tuya v2 login issue
  homeassistant/components/tuya/config_flow.py
  tests/components/tuya/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya, bugfix

#57031 ESPHome use async variant for zeroconf add_listener
  homeassistant/components/esphome/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, by-code-owner, bugfix

#57036 Bump aioesphomeapi from 9.1.2 to 9.1.4
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, by-code-owner, bugfix, dependency-bump

#56991 Remove Essent integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/essent/__init__.py
  homeassistant/components/essent/manifest.json
  homeassistant/components/essent/sensor.py
  requirements_all.txt
Labels: Hacktoberfest, breaking-change, remove-platform, cla-signed, small-pr, integration: essent, by-code-owner, smash

#57038 Prevent opening of sockets in kira tests
  tests/components/kira/test_init.py
Labels: Hacktoberfest, cla-signed, integration: kira, small-pr, has-tests, code-quality, smash

#56944 Use NamedTuple for homekit valve type + service info
  homeassistant/components/homekit/type_sensors.py
  homeassistant/components/homekit/type_switches.py
Labels: Hacktoberfest, cla-signed, integration: homekit, code-quality, smash, project-code_style

#57037 Use hass_client_no_auth test fixture in additional tests
  tests/components/konnected/test_init.py
  tests/components/lyric/test_config_flow.py
  tests/components/mailgun/test_init.py
  tests/components/media_player/test_init.py
  tests/components/motioneye/test_web_hooks.py
  tests/components/mqtt/test_camera.py
Labels: Hacktoberfest, core, cla-signed, small-pr, has-tests, code-quality, smash

#56942 Use NamedTuple for darksky condition picture
  homeassistant/components/darksky/sensor.py
Labels: Hacktoberfest, cla-signed, integration: darksky, code-quality, smash, project-code_style

#57041 Upgrade coverage to 6.0
  requirements_test.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, dependency-bump, smash

#57040 Prevent opening of sockets in watttime tests
  tests/components/watttime/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, code-quality, smash, integration: watttime

#57039 Mock out network.util.async_get_source_ip in tests
  tests/components/local_ip/test_config_flow.py
  tests/components/local_ip/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: local_ip, code-quality, smash

#57046 Fix multiline lambda formatting - homekit_controller
  homeassistant/components/homekit_controller/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: homekit_controller, code-quality

#57029 Universal media player: consider unknown as inactive child state
  homeassistant/components/universal/media_player.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: universal, bugfix, smash

#56877 Evict purged states from recorder's old_state cache
  homeassistant/components/recorder/purge.py
  tests/components/recorder/test_purge.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr, bugfix

#57043 Rewrite tuya config flow
  homeassistant/components/tuya/config_flow.py
  homeassistant/components/tuya/const.py
  homeassistant/components/tuya/strings.json
  homeassistant/components/tuya/translations/en.json
  tests/components/tuya/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: tuya, has-tests, code-quality

#56941 Use NamedTuple for repetier API methods
  homeassistant/components/repetier/__init__.py
Labels: Hacktoberfest, cla-signed, integration: repetier, code-quality, smash, project-code_style

#56892 Improve sensor statistics validation
  homeassistant/components/sensor/recorder.py
  tests/components/recorder/test_websocket_api.py
  tests/components/sensor/test_recorder.py
Labels: Hacktoberfest, core, cla-signed, integration: sensor, bugfix

#57021 Add ZHA HVAC Action sensor
  homeassistant/components/zha/climate.py
  homeassistant/components/zha/core/discovery.py
  homeassistant/components/zha/core/registries.py
  homeassistant/components/zha/sensor.py
  tests/components/zha/test_climate.py
  tests/components/zha/test_registries.py
  tests/components/zha/zha_devices_list.py
Labels: Hacktoberfest, cla-signed, integration: zha, new-feature, has-tests, by-code-owner

#57057 Update esphome reconnect logic to use newer RecordUpdateListener logic
  homeassistant/components/esphome/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome

#57058 Prevent tplink from opening sockets in tests
  tests/components/tplink/conftest.py
  tests/components/tplink/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tplink, has-tests

#57059 Prevent dlna_dmr from opening sockets in tests
  tests/components/dlna_dmr/conftest.py
  tests/components/dlna_dmr/test_data.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: dlna_dmr, has-tests

#57047 Activate mypy for rpi_power
  .strict-typing
  homeassistant/components/rpi_power/__init__.py
  homeassistant/components/rpi_power/binary_sensor.py
  homeassistant/components/rpi_power/config_flow.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: rpi_power

#57065 Fix: Shelly Gen2 - filter unsupported sensors
  homeassistant/components/shelly/binary_sensor.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/sensor.py
Labels: Hacktoberfest, cla-signed, integration: shelly, by-code-owner, bugfix

#57078 Update Tuya code owners
  CODEOWNERS
  homeassistant/components/tuya/manifest.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya

#57073 Update frontend to 20211004.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, dependency-bump

#57075 Fix energy gas price validation
  homeassistant/components/energy/validate.py
  tests/components/energy/test_validate.py
Labels: Hacktoberfest, cla-signed, has-tests, bugfix, integration: energy

#57089 Bump nest 0.3.7 to prepare for WebRTC support
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: nest, small-pr, dependency, by-code-owner, dependency-bump

#57079 Deprecate Python 3.8
  homeassistant/bootstrap.py
  homeassistant/const.py
Labels: Hacktoberfest, core, breaking-change, cla-signed, small-pr

#57094 Additional places to use isinstance rather than do a string compare in deCONZ integration
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/sensor.py
Labels: Hacktoberfest, cla-signed, integration: deconz, small-pr, by-code-owner, code-quality

#57100 Prevent Tuya from accidentally logging credentials in debug mode
  homeassistant/components/tuya/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya, bugfix

#57095 Upgrade jinja2 to 3.0.2
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency, smash

#57096 Upgrade sentry-sdk to 1.4.3
  homeassistant/components/sentry/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, integration: sentry, dependency-bump, smash

#57098 Upgrade debugpy to 1.5.0
  homeassistant/components/debugpy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: debugpy, smash

#57103 Remove Python shebang line from Tuya integration files
  homeassistant/components/tuya/__init__.py
  homeassistant/components/tuya/base.py
  homeassistant/components/tuya/const.py
  homeassistant/components/tuya/switch.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya, bugfix

#57101 Prevent opening of sockets in mqtt tests
  tests/components/mqtt/test_config_flow.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, code-quality

#57099 Fix color util links to Philips Hue documentation
  homeassistant/util/color.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#57106 Bump aioesphomeapi from 9.1.4 to 9.1.5
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, dependency, by-code-owner, dependency-bump

#57102 Small code styling tweaks for Tuya
  homeassistant/components/tuya/__init__.py
  homeassistant/components/tuya/base.py
  homeassistant/components/tuya/climate.py
  homeassistant/components/tuya/light.py
  homeassistant/components/tuya/scene.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya, code-quality

#56927 Add additional properties to node_status WS cmd
  homeassistant/components/zwave_js/api.py
  tests/components/zwave_js/test_api.py
  tests/fixtures/zwave_js/multisensor_6_state.json
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, has-tests, integration: zwave_js

#57110 Bump tuya-iot-py-sdk to 0.5.0
  homeassistant/components/tuya/__init__.py
  homeassistant/components/tuya/config_flow.py
  homeassistant/components/tuya/const.py
  homeassistant/components/tuya/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tuya/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya, has-tests, dependency

#57112 Update tesla_powerwall to 0.3.11
  homeassistant/components/powerwall/binary_sensor.py
  homeassistant/components/powerwall/manifest.json
  homeassistant/components/powerwall/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, integration: powerwall, bugfix

#57125 Bump aiohue to 2.6.3
  homeassistant/components/hue/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: hue, small-pr, by-code-owner, dependency-bump

#57071 Fix Growatt login invalid auth response
  homeassistant/components/growatt_server/config_flow.py
  homeassistant/components/growatt_server/const.py
  homeassistant/components/growatt_server/sensor.py
  tests/components/growatt_server/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: growatt_server, by-code-owner, bugfix

#57143 Bump zwave-js-server-python to 0.31.3
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, dependency-bump, integration: zwave_js

#57138 Fix yeelight connection when bulb stops responding to SSDP
  homeassistant/components/yeelight/__init__.py
  tests/components/yeelight/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: yeelight, has-tests

#57137 Use current config entry standards for OpenUV
  homeassistant/components/openuv/__init__.py
  homeassistant/components/openuv/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: openuv, by-code-owner, code-quality

#55516 Block tests from opening sockets
  requirements_test.txt
  tests/components/auth/conftest.py
  tests/components/emulated_hue/test_upnp.py
  tests/components/frontend/test_init.py
  tests/components/http/conftest.py
  tests/components/image_processing/test_init.py
  tests/components/motioneye/test_camera.py
  tests/components/nest/conftest.py
  tests/conftest.py
  tests/test_test_fixtures.py
Labels: cla-signed, small-pr

#57152 Write flux_led state after turning on/off
  homeassistant/components/flux_led/light.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: flux_led

#57149 Fix SamsungTV shutdown race condition
  homeassistant/components/samsungtv/media_player.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: samsungtv, by-code-owner, bugfix

#57109 Updated amberelectic attributes to reflect unit change to $/kWh
  homeassistant/components/amberelectric/sensor.py
  tests/components/amberelectric/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, bugfix, integration: amberelectric

#57156 Guard upnp create device
  homeassistant/components/upnp/__init__.py
Labels: Hacktoberfest, cla-signed, integration: upnp, small-pr, bugfix

#57069 Update Daikin config_flow with better error handling
  homeassistant/components/daikin/config_flow.py
  homeassistant/components/daikin/strings.json
  homeassistant/components/daikin/translations/en.json
  tests/components/daikin/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: daikin, by-code-owner, code-quality, bugfix

#57164 Update frontend to 20211006.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, dependency-bump

#56974 Change iotawatt energy state class to STATE_CLASS_TOTAL
  homeassistant/components/iotawatt/sensor.py
  tests/components/iotawatt/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, energy, integration: iotawatt

#57165 Correct migration to recorder schema 18
  homeassistant/components/recorder/migration.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr

#58708 Bump aioambient to 2021.10.1
  homeassistant/components/ambient_station/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: ambient_station, dependency, by-code-owner, dependency-bump

#58705 Disable polling Sonos switches by default
  homeassistant/components/sonos/switch.py
  tests/components/sonos/test_switch.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: sonos, has-tests, by-code-owner, code-quality

#53440 Support reverse proxying of motionEye streams
  homeassistant/components/motioneye/camera.py
  homeassistant/components/motioneye/config_flow.py
  homeassistant/components/motioneye/const.py
  homeassistant/components/motioneye/strings.json
  tests/components/motioneye/test_camera.py
  tests/components/motioneye/test_config_flow.py
Labels: cla-signed, new-feature, integration: motioneye, has-tests, by-code-owner, smash

#53415 Add motionEye sensor platform
  homeassistant/components/motioneye/__init__.py
  homeassistant/components/motioneye/const.py
  homeassistant/components/motioneye/sensor.py
  tests/components/motioneye/__init__.py
  tests/components/motioneye/test_camera.py
  tests/components/motioneye/test_sensor.py
Labels: new-platform, cla-signed, new-feature, integration: motioneye, has-tests, by-code-owner

#54426 Add REST sensor/binary_sensor/switch templated headers & params
  homeassistant/components/rest/__init__.py
  homeassistant/components/rest/data.py
  homeassistant/components/rest/schema.py
  homeassistant/components/rest/switch.py
  homeassistant/components/rest/utils.py
  tests/components/rest/test_binary_sensor.py
  tests/components/rest/test_sensor.py
  tests/components/rest/test_switch.py
Labels: cla-signed, new-feature, integration: rest, has-tests, smash

#58712 KNX reload service: remove entities before disconnection
  homeassistant/components/knx/__init__.py
Labels: Hacktoberfest, cla-signed, integration: knx, small-pr, by-code-owner, bugfix

#58689 Fix round - wallbox
  homeassistant/components/wallbox/__init__.py
  tests/components/wallbox/__init__.py
  tests/components/wallbox/const.py
  tests/components/wallbox/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, bugfix, integration: wallbox, smash

#58723 Improve handling of invalid serial numbers in HomeKit Controller
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/connection.py
  tests/components/homekit_controller/specific_devices/test_ryse_smart_bridge.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: homekit_controller, has-tests, by-code-owner

#58571 Enable strict typing for greeneye_monitor
  .strict-typing
  homeassistant/components/greeneye_monitor/__init__.py
  homeassistant/components/greeneye_monitor/sensor.py
  mypy.ini
Labels: Hacktoberfest, cla-signed, integration: greeneye_monitor, by-code-owner, code-quality, smash

#58721 Fix bug with volumes in SimpliSafe set_system_properties service
  homeassistant/components/simplisafe/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: simplisafe, by-code-owner, bugfix

#58729 Fix lcn in place update of config entry data
  homeassistant/components/lcn/helpers.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: lcn, by-code-owner, bugfix

#58733 Add myself as codeowner of bluesound
  CODEOWNERS
  homeassistant/components/bluesound/manifest.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: bluesound, code-quality

#58732 Fix bluesound player internally used id
  homeassistant/components/bluesound/media_player.py
Labels: Hacktoberfest, cla-signed, integration: bluesound, bugfix

#58738 Update Mill library, add support for generation 3 heaters. #58536
  homeassistant/components/mill/climate.py
  homeassistant/components/mill/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: mill, by-code-owner

#53411 Add motionEye services
  homeassistant/components/motioneye/camera.py
  homeassistant/components/motioneye/const.py
  homeassistant/components/motioneye/services.yaml
  tests/components/motioneye/test_camera.py
Labels: cla-signed, new-feature, integration: motioneye, has-tests, by-code-owner, smash

#58704 Get Litter-Robot to 100% code coverage and minor code cleanup
  homeassistant/components/litterrobot/select.py
  homeassistant/components/litterrobot/sensor.py
  homeassistant/components/litterrobot/switch.py
  homeassistant/components/litterrobot/vacuum.py
  tests/components/litterrobot/conftest.py
  tests/components/litterrobot/test_vacuum.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: litterrobot

#57590 Add Ridwell integration
  .coveragerc
  .strict-typing
  CODEOWNERS
  homeassistant/components/ridwell/__init__.py
  homeassistant/components/ridwell/config_flow.py
  homeassistant/components/ridwell/const.py
  homeassistant/components/ridwell/manifest.json
  homeassistant/components/ridwell/sensor.py
  homeassistant/components/ridwell/strings.json
  homeassistant/components/ridwell/translations/en.json
  homeassistant/generated/config_flows.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ridwell/__init__.py
  tests/components/ridwell/test_config_flow.py
Labels: Hacktoberfest, cla-signed, new-integration, has-tests, second-opinion-wanted, integration: ridwell

#58715 Use assignment expressions 31
  homeassistant/components/enocean/sensor.py
  homeassistant/components/envisalink/__init__.py
  homeassistant/components/esphome/entry_data.py
  homeassistant/components/fastdotcom/sensor.py
  homeassistant/components/generic_hygrostat/humidifier.py
  homeassistant/components/harmony/remote.py
  homeassistant/components/integration/sensor.py
  homeassistant/components/iperf3/sensor.py
  homeassistant/components/isy994/light.py
  homeassistant/components/limitlessled/light.py
  homeassistant/components/lovelace/dashboard.py
  homeassistant/components/lovelace/resources.py
  homeassistant/components/manual/alarm_control_panel.py
  homeassistant/components/owntracks/device_tracker.py
  homeassistant/components/person/__init__.py
  homeassistant/components/pilight/base_class.py
  homeassistant/components/rest/__init__.py
  homeassistant/components/rpi_gpio_pwm/light.py
  homeassistant/components/smartthings/smartapp.py
  homeassistant/components/speedtestdotnet/sensor.py
  homeassistant/components/switchbot/switch.py
  homeassistant/components/template/switch.py
  homeassistant/components/traccar/device_tracker.py
  homeassistant/components/utility_meter/sensor.py
  homeassistant/components/websocket_api/http.py
  homeassistant/helpers/storage.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality, smash

#58716 Use assignment expressions 32
  homeassistant/components/counter/__init__.py
  homeassistant/components/elkm1/alarm_control_panel.py
  homeassistant/components/fireservicerota/sensor.py
  homeassistant/components/hassio/__init__.py
  homeassistant/components/homekit/aidmanager.py
  homeassistant/components/input_datetime/__init__.py
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/binary_sensor.py
  homeassistant/components/modbus/cover.py
  homeassistant/components/modbus/sensor.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/select.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/pvpc_hourly_pricing/sensor.py
  homeassistant/components/smart_meter_texas/sensor.py
  homeassistant/components/zha/entity.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality, smash

#58713 Use assignment expressions 29
  homeassistant/components/acer_projector/switch.py
  homeassistant/components/blueprint/importer.py
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/history/__init__.py
  homeassistant/components/input_datetime/__init__.py
  homeassistant/components/lcn/helpers.py
  homeassistant/components/litterrobot/entity.py
  homeassistant/components/minio/minio_helper.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/openuv/sensor.py
  homeassistant/components/script/__init__.py
  homeassistant/components/tts/__init__.py
  homeassistant/components/xiaomi_miio/config_flow.py
  homeassistant/helpers/entity_component.py
  homeassistant/helpers/intent.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality, smash

#58717 Use assignment expressions 33
  homeassistant/components/alexa/config.py
  homeassistant/components/august/lock.py
  homeassistant/components/automation/__init__.py
  homeassistant/components/camera/prefs.py
  homeassistant/components/cloud/prefs.py
  homeassistant/components/derivative/sensor.py
  homeassistant/components/device_tracker/legacy.py
  homeassistant/components/generic_thermostat/climate.py
  homeassistant/components/geofency/device_tracker.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/gpslogger/device_tracker.py
  homeassistant/components/group/__init__.py
  homeassistant/components/homekit_controller/storage.py
  homeassistant/components/mobile_app/__init__.py
  homeassistant/components/mobile_app/device_tracker.py
  homeassistant/components/mobile_app/entity.py
  homeassistant/components/onboarding/__init__.py
  homeassistant/components/rflink/__init__.py
  homeassistant/components/rflink/cover.py
  homeassistant/components/script/__init__.py
  homeassistant/components/unifi/__init__.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality, smash
