Repository home-assistant/core, pull requests merged in 2021-09, with the labels that each got.

#55498 Correct sum statistics when only last_reset has changed
  homeassistant/components/sensor/recorder.py
  tests/components/sensor/test_recorder.py
Labels: core, cla-signed, integration: sensor, has-tests, bugfix, smash

#55504 Added trailing slash to US growatt URL
  homeassistant/components/growatt_server/const.py
Labels: cla-signed, small-pr, integration: growatt_server, by-code-owner, bugfix

#55505 Fix BroadlinkSwitch._attr_assumed_state
  homeassistant/components/broadlink/switch.py
Labels: cla-signed, small-pr, integration: broadlink, by-code-owner, bugfix

#55508 Add missing device class for temperature sensor in Advantage Air
  homeassistant/components/advantage_air/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: advantage_air

#55497 Fix None support_color_modes TypeError
  homeassistant/components/light/__init__.py
Labels: core, cla-signed, integration: light, small-pr, bugfix

#55340 Add vacation mode to manual alarm_control_panel
  homeassistant/components/demo/alarm_control_panel.py
  homeassistant/components/manual/alarm_control_panel.py
  tests/components/manual/test_alarm_control_panel.py
Labels: core, cla-signed, integration: demo, small-pr, new-feature, integration: manual, has-tests

#55206 ESPHome light color mode use capabilities
  homeassistant/components/esphome/light.py
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: esphome, dependency, by-code-owner, smash

#54820 Add services to Renault integration
  homeassistant/components/renault/__init__.py
  homeassistant/components/renault/renault_vehicle.py
  homeassistant/components/renault/services.py
  homeassistant/components/renault/services.yaml
  tests/components/renault/test_services.py
  tests/fixtures/renault/action.set_ac_start.json
  tests/fixtures/renault/action.set_ac_stop.json
  tests/fixtures/renault/action.set_charge_schedules.json
  tests/fixtures/renault/action.set_charge_start.json
  tests/fixtures/renault/charging_settings.json
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: renault

#55515 Mock setup in spotify tests
  tests/components/spotify/test_config_flow.py
Labels: cla-signed, small-pr, integration: spotify, has-tests, code-quality

#55518 Fix moon phases
  homeassistant/components/moon/sensor.py
Labels: breaking-change, cla-signed, small-pr, integration: moon, bugfix

#54745 Add device tracker platform to Renault integration
  homeassistant/components/renault/const.py
  homeassistant/components/renault/device_tracker.py
  homeassistant/components/renault/renault_entities.py
  homeassistant/components/renault/renault_vehicle.py
  tests/components/renault/__init__.py
  tests/components/renault/const.py
  tests/components/renault/test_device_tracker.py
  tests/fixtures/renault/location.json
Labels: breaking-change, new-platform, cla-signed, new-feature, has-tests, by-code-owner, integration: renault

#55510 Tweaks for the iotawatt integration
  homeassistant/components/iotawatt/sensor.py
  tests/components/iotawatt/test_sensor.py
Labels: cla-signed, small-pr, bugfix, integration: iotawatt

#55506 Add remote server to cloud system health
  homeassistant/components/cloud/strings.json
  homeassistant/components/cloud/system_health.py
  homeassistant/components/cloud/translations/en.json
  tests/components/cloud/test_system_health.py
Labels: core, cla-signed, integration: cloud, small-pr, new-feature

#55494 Add select platform to Renault integration
  homeassistant/components/renault/const.py
  homeassistant/components/renault/select.py
  homeassistant/components/renault/sensor.py
  tests/components/renault/const.py
  tests/components/renault/test_select.py
  tests/fixtures/renault/action.set_charge_mode.json
Labels: breaking-change, cla-signed, has-tests, by-code-owner, integration: renault

#55372 Open garage, add closing and opening to state
  homeassistant/components/opengarage/cover.py
Labels: cla-signed, small-pr, new-feature, integration: opengarage, by-code-owner

#55528 OpenGarage, change to attributes
  homeassistant/components/opengarage/cover.py
Labels: cla-signed, small-pr, integration: opengarage, by-code-owner, code-quality

#55312 Bump cloud to 0.47.1
  homeassistant/components/cloud/__init__.py
  homeassistant/components/cloud/client.py
  homeassistant/components/cloud/google_config.py
  homeassistant/components/cloud/manifest.json
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/http/forwarded.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cloud/__init__.py
  tests/components/cloud/conftest.py
  tests/components/cloud/test_client.py
  tests/components/cloud/test_google_config.py
  tests/components/cloud/test_init.py
Labels: core, cla-signed, integration: cloud, integration: google_assistant, small-pr, dependency

#55521 Use respx.mock in generic camera tests
  tests/components/generic/test_camera.py
Labels: cla-signed, small-pr, integration: generic, has-tests, code-quality

#55526 Fix zeroconf mock and use it in CI group 1's tests
  tests/components/bosch_shc/test_config_flow.py
  tests/components/devolo_home_control/test_init.py
  tests/components/esphome/test_config_flow.py
  tests/components/homekit_controller/conftest.py
  tests/conftest.py
Labels: core, cla-signed, small-pr, integration: homekit_controller, integration: esphome, has-tests, integration: devolo_home_control, code-quality, integration: bosch_shc

#55465 Add additional test coverage for zwave_js meter sensors
  homeassistant/components/zwave_js/discovery_data_template.py
  tests/components/zwave_js/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: zwave_js

#55549 xiaomi_miio: bump python-miio dependency
  homeassistant/components/xiaomi_miio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: xiaomi_miio, dependency, by-code-owner, dependency-bump

#55555 Pick right coordinator device for ZHA
  homeassistant/components/zha/core/gateway.py
Labels: cla-signed, integration: zha, small-pr, by-code-owner, bugfix

#55546 Bump pyuptimerobot to 21.9.0
  homeassistant/components/uptimerobot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: uptimerobot, dependency, by-code-owner, dependency-bump

#55561 Add test fixture for unauthenticated HTTP client
  script/scaffold/templates/config_flow_oauth2/tests/test_config_flow.py
  tests/components/almond/test_config_flow.py
  tests/conftest.py
Labels: core, cla-signed, small-pr, has-tests, integration: almond, code-quality

#55578 Correct duplicate address validation in modbus
  homeassistant/components/modbus/validators.py
Labels: cla-signed, integration: modbus, small-pr, by-code-owner, bugfix

#55581 Use hass_client_no_auth test fixture in integrations a-g
  tests/components/api/test_init.py
  tests/components/august/test_camera.py
  tests/components/dialogflow/test_init.py
  tests/components/emulated_hue/test_hue_api.py
  tests/components/geofency/test_init.py
  tests/components/google_assistant/test_google_assistant.py
  tests/components/gpslogger/test_init.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#55583 Use hass_client_no_auth test fixture in integrations h-p
  tests/components/home_connect/test_config_flow.py
  tests/components/home_plus_control/test_config_flow.py
  tests/components/http/test_init.py
  tests/components/ifttt/test_init.py
  tests/components/neato/test_config_flow.py
  tests/components/netatmo/test_config_flow.py
  tests/components/onboarding/test_views.py
  tests/components/ondilo_ico/test_config_flow.py
  tests/components/owntracks/test_init.py
  tests/components/plex/test_config_flow.py
  tests/components/push/test_camera.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#55585 Use hass_client_no_auth test fixture in integrations s-x
  tests/components/smappee/test_config_flow.py
  tests/components/somfy/test_config_flow.py
  tests/components/spotify/test_config_flow.py
  tests/components/toon/test_config_flow.py
  tests/components/traccar/test_init.py
  tests/components/twilio/test_init.py
  tests/components/webhook/test_trigger.py
  tests/components/websocket_api/conftest.py
  tests/components/websocket_api/test_auth.py
  tests/components/websocket_api/test_commands.py
  tests/components/websocket_api/test_sensor.py
  tests/components/xbox/test_config_flow.py
  tests/helpers/test_config_entry_oauth2_flow.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#55591 Downgrade sqlite-libs on docker image
  Dockerfile
Labels: cla-signed, small-pr

#55593 Prevent 3rd party lib from opening sockets in broadlink tests
  tests/components/broadlink/test_device.py
  tests/components/broadlink/test_heartbeat.py
Labels: cla-signed, small-pr, integration: broadlink, has-tests, code-quality

#55587 Fix url lookup in telegram_bot webhook
  homeassistant/components/telegram_bot/webhooks.py
Labels: cla-signed, integration: telegram_bot, small-pr, bugfix

#55595 Prevent 3rd party lib from opening sockets in epson tests
  tests/components/epson/test_config_flow.py
Labels: cla-signed, small-pr, integration: epson, has-tests, code-quality

#55596 Prevent 3rd party lib from opening sockets in freedompro tests
  tests/components/freedompro/conftest.py
  tests/components/freedompro/test_config_flow.py
  tests/components/freedompro/test_light.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: freedompro

#55594 Mock sockets in the network integration tests
  tests/components/network/test_init.py
Labels: cla-signed, small-pr, has-tests, integration: network

#55592 Mock out network.util.async_get_source_ip in tests
  tests/components/emulated_roku/test_config_flow.py
  tests/components/emulated_roku/test_init.py
  tests/components/fritz/test_config_flow.py
  tests/components/homekit/test_config_flow.py
  tests/components/homekit/test_homekit.py
  tests/components/nmap_tracker/test_config_flow.py
  tests/components/ssdp/test_init.py
  tests/components/upnp/test_config_flow.py
  tests/components/upnp/test_init.py
  tests/components/yamaha_musiccast/test_config_flow.py
  tests/components/yeelight/conftest.py
  tests/conftest.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#55257 Bump pysmappee to 0.2.27
  homeassistant/components/smappee/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: smappee, small-pr, dependency, by-code-owner, dependency-bump

#55608 2021.9.1
  Dockerfile
  homeassistant/components/modbus/validators.py
  homeassistant/components/uptimerobot/manifest.json
  homeassistant/components/xiaomi_miio/manifest.json
  homeassistant/components/zha/core/gateway.py
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: modbus, merging-to-master, integration: zha, small-pr, integration: xiaomi_miio, integration: uptimerobot

#55613 Narrow zwave_js USB discovery
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/generated/usb.py
  tests/components/zwave_js/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, integration: zwave_js

#55570 Disable observer for USB on containers
  homeassistant/components/usb/__init__.py
  tests/components/usb/test_init.py
Labels: cla-signed, small-pr, integration: usb

#55635 Fix template sensor availability
  homeassistant/components/template/trigger_entity.py
  tests/components/template/test_sensor.py
Labels: cla-signed, small-pr, integration: template, has-tests, bugfix

#55636 Prevent 3rd party lib from opening sockets in broadlink tests
  tests/components/broadlink/conftest.py
  tests/components/broadlink/test_device.py
  tests/components/broadlink/test_heartbeat.py
Labels: cla-signed, small-pr, integration: broadlink, has-tests, code-quality

#55422 Minor cleanup in Waze travel times
  homeassistant/components/waze_travel_time/const.py
  homeassistant/components/waze_travel_time/sensor.py
Labels: cla-signed, integration: waze_travel_time, code-quality

#55080 Clean holiday attributes code in Jewish calendar
  homeassistant/components/jewish_calendar/sensor.py
Labels: cla-signed, small-pr, integration: jewish_calendar, code-quality

#55650 Remove wheels for alpine 3.13
  .github/workflows/wheels.yml
Labels: cla-signed, small-pr

#55654 Fix Starline sensor state AttributeError
  homeassistant/components/starline/sensor.py
Labels: cla-signed, small-pr, integration: starline, by-code-owner, bugfix

#55612 Fix CONFIG_SCHEMA validation in Speedtest.net
  homeassistant/components/speedtestdotnet/__init__.py
Labels: cla-signed, small-pr, integration: speedtestdotnet, bugfix

#54780 Add upnp sensor for IP, Status, and Uptime
  homeassistant/components/upnp/__init__.py
  homeassistant/components/upnp/binary_sensor.py
  homeassistant/components/upnp/const.py
  homeassistant/components/upnp/device.py
  homeassistant/components/upnp/sensor.py
  tests/components/upnp/mock_upnp_device.py
Labels: cla-signed, integration: upnp, new-feature, has-tests, by-code-owner

#55584 Always show state for the updater binary_sensor
  homeassistant/components/updater/binary_sensor.py
Labels: core, cla-signed, integration: updater, small-pr, bugfix

#55626 Use NamedTuple for color temperature range
  homeassistant/components/tplink/light.py
Labels: cla-signed, small-pr, integration: tplink, code-quality

#55617 Remove dead fritzbox code
  homeassistant/components/fritzbox/const.py
  homeassistant/components/fritzbox/model.py
Labels: cla-signed, integration: fritzbox, small-pr, code-quality, smash

#55639 Guard for unexpected exceptions in device automation
  homeassistant/components/device_automation/__init__.py
  tests/components/device_automation/test_init.py
Labels: cla-signed, small-pr, integration: device_automation, bugfix

#55553 Ignore missing devices when in ssdp unsee
  homeassistant/components/ssdp/__init__.py
  tests/components/ssdp/test_init.py
Labels: cla-signed, small-pr, integration: ssdp

#55666 Fix hdmi_cec switches
  homeassistant/components/hdmi_cec/switch.py
Labels: cla-signed, integration: hdmi_cec, small-pr, bugfix

#55669 Guard for doRollover failing
  homeassistant/bootstrap.py
  tests/test_bootstrap.py
Labels: core, cla-signed, small-pr

#55637 Better handle invalid trigger config
  homeassistant/components/device_automation/trigger.py
  homeassistant/components/hue/device_trigger.py
  homeassistant/scripts/check_config.py
  tests/scripts/test_check_config.py
Labels: core, cla-signed, integration: hue, small-pr, integration: device_automation, by-code-owner, bugfix

#55673 2021.9.2
  homeassistant/bootstrap.py
  homeassistant/components/device_automation/__init__.py
  homeassistant/components/device_automation/trigger.py
  homeassistant/components/hdmi_cec/switch.py
  homeassistant/components/hue/device_trigger.py
  homeassistant/components/speedtestdotnet/__init__.py
  homeassistant/components/ssdp/__init__.py
  homeassistant/components/starline/sensor.py
  homeassistant/components/template/trigger_entity.py
  homeassistant/components/usb/__init__.py
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/const.py
  homeassistant/generated/usb.py
  homeassistant/scripts/check_config.py
  tests/components/device_automation/test_init.py
  tests/components/ssdp/test_init.py
  tests/components/template/test_sensor.py
  tests/components/usb/test_init.py
  tests/components/zwave_js/test_config_flow.py
  tests/scripts/test_check_config.py
  tests/test_bootstrap.py
Labels: core, cla-signed, merging-to-master, has-tests

#55675 Use EntityDescription - freebox
  homeassistant/components/freebox/const.py
  homeassistant/components/freebox/router.py
  homeassistant/components/freebox/sensor.py
Labels: cla-signed, integration: freebox, code-quality, smash, project-code_style

#55676 Use EntityDescription - luftdaten
  homeassistant/components/luftdaten/__init__.py
  homeassistant/components/luftdaten/sensor.py
Labels: cla-signed, integration: luftdaten, code-quality, smash, project-code_style

#55678 Use EntityDescription - faa_delays
  homeassistant/components/faa_delays/binary_sensor.py
  homeassistant/components/faa_delays/const.py
Labels: cla-signed, code-quality, integration: faa_delays, smash, project-code_style

#55680 Use EntityDescription - econet
  homeassistant/components/econet/binary_sensor.py
Labels: cla-signed, integration: econet, code-quality, smash, project-code_style

#55681 Use EntityDescription - iperf3
  homeassistant/components/iperf3/__init__.py
  homeassistant/components/iperf3/sensor.py
Labels: cla-signed, integration: iperf3, code-quality, smash, project-code_style

#55679 Fix Rachio service missing with 1st generation controllers
  homeassistant/components/rachio/device.py
Labels: cla-signed, small-pr, integration: rachio

#55682 Use EntityDescription - picnic
  homeassistant/components/picnic/const.py
  homeassistant/components/picnic/sensor.py
  tests/components/picnic/test_sensor.py
Labels: cla-signed, code-quality, integration: picnic, smash, project-code_style

#55683 Use EntityDescription - discogs
  homeassistant/components/discogs/sensor.py
Labels: cla-signed, integration: discogs, code-quality, smash, project-code_style

#55684 Use EntityDescription - airnow
  homeassistant/components/airnow/sensor.py
Labels: cla-signed, code-quality, integration: airnow, smash, project-code_style

#55407 Use EntityDescription - synology_dsm
  homeassistant/components/synology_dsm/__init__.py
  homeassistant/components/synology_dsm/binary_sensor.py
  homeassistant/components/synology_dsm/camera.py
  homeassistant/components/synology_dsm/const.py
  homeassistant/components/synology_dsm/sensor.py
  homeassistant/components/synology_dsm/switch.py
Labels: cla-signed, integration: synology_dsm, code-quality, smash, project-code_style

#55688 System Bridge - Set device class for binary sensor
  homeassistant/components/system_bridge/binary_sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: system_bridge

#55220 Update template/test_binary_sensor.py to use pytest
  tests/components/template/test_binary_sensor.py
Labels: cla-signed, small-pr, integration: template, has-tests, code-quality

#55694 Use NamedTuple for api endpoint settings
  homeassistant/components/hassio/__init__.py
Labels: core, cla-signed, integration: hassio, code-quality, project-code_style

#55695 Use NamedTuple for touchline preset mode settings
  homeassistant/components/touchline/climate.py
Labels: cla-signed, small-pr, integration: touchline, code-quality, project-code_style

#55696 Use NamedTuple for light color mode mapping
  homeassistant/components/light/reproduce_state.py
Labels: core, cla-signed, integration: light, small-pr, code-quality, project-code_style

#55699 Type scaffold PLATFORMS
  script/scaffold/templates/config_flow/integration/__init__.py
Labels: cla-signed, small-pr

#55547 Add reauth to Renault config flow
  homeassistant/components/renault/__init__.py
  homeassistant/components/renault/config_flow.py
  homeassistant/components/renault/strings.json
  tests/components/renault/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: renault

#55402 Automation trigger info type hint improvements
  homeassistant/components/alarm_control_panel/device_trigger.py
  homeassistant/components/arcam_fmj/device_trigger.py
  homeassistant/components/automation/__init__.py
  homeassistant/components/climate/device_trigger.py
  homeassistant/components/cover/device_trigger.py
  homeassistant/components/device_automation/toggle_entity.py
  homeassistant/components/device_tracker/device_trigger.py
  homeassistant/components/fan/device_trigger.py
  homeassistant/components/geo_location/trigger.py
  homeassistant/components/homeassistant/triggers/event.py
  homeassistant/components/homeassistant/triggers/homeassistant.py
  homeassistant/components/homeassistant/triggers/numeric_state.py
  homeassistant/components/homeassistant/triggers/state.py
  homeassistant/components/homeassistant/triggers/time.py
  homeassistant/components/homeassistant/triggers/time_pattern.py
  homeassistant/components/homekit_controller/device_trigger.py
  homeassistant/components/humidifier/device_trigger.py
  homeassistant/components/kodi/device_trigger.py
  homeassistant/components/light/device_trigger.py
  homeassistant/components/litejet/trigger.py
  homeassistant/components/lock/device_trigger.py
  homeassistant/components/lutron_caseta/device_trigger.py
  homeassistant/components/media_player/device_trigger.py
  homeassistant/components/mqtt/device_trigger.py
  homeassistant/components/mqtt/trigger.py
  homeassistant/components/nest/device_trigger.py
  homeassistant/components/netatmo/device_trigger.py
  homeassistant/components/philips_js/device_trigger.py
  homeassistant/components/remote/device_trigger.py
  homeassistant/components/select/device_trigger.py
  homeassistant/components/shelly/device_trigger.py
  homeassistant/components/sun/trigger.py
  homeassistant/components/switch/device_trigger.py
  homeassistant/components/tag/trigger.py
  homeassistant/components/tasmota/device_trigger.py
  homeassistant/components/template/trigger.py
  homeassistant/components/vacuum/device_trigger.py
  homeassistant/components/webhook/trigger.py
  homeassistant/components/zone/trigger.py
  homeassistant/components/zwave_js/device_trigger.py
  homeassistant/components/zwave_js/trigger.py
  homeassistant/components/zwave_js/triggers/value_updated.py
  homeassistant/helpers/trigger.py
  script/scaffold/templates/device_trigger/integration/device_trigger.py
  tests/components/mqtt/test_device_trigger.py
  tests/components/tasmota/test_device_trigger.py
Labels: core, cla-signed, code-quality

#55671 Delay state update after switch is toggled for TP-Link HS210 device
  homeassistant/components/tplink/switch.py
Labels: cla-signed, small-pr, integration: tplink, bugfix

#55668 Avoid creating sockets in homekit port available tests
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/config_flow.py
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_config_flow.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_util.py
Labels: cla-signed, small-pr, integration: homekit, has-tests, by-code-owner

#55672 Drop unused ruamel
  docs/source/api/util.rst
  homeassistant/package_constraints.txt
  homeassistant/util/ruamel_yaml.py
  requirements.txt
  setup.py
  tests/util/test_ruamel_yaml.py
Labels: core, breaking-change, cla-signed, small-pr, code-quality

#55288 Update template/test_sensor.py to use pytest
  tests/components/template/test_sensor.py
Labels: cla-signed, small-pr, integration: template, has-tests, code-quality

#55706 better detect legacy eagly devices
  homeassistant/components/rainforest_eagle/data.py
Labels: cla-signed, small-pr, integration: rainforest_eagle, bugfix

#55698 Use NamedTuple for RGBColor
  homeassistant/util/color.py
Labels: core, cla-signed, code-quality, smash, project-code_style

#55708 Handle negative numbers in sensor long term statistics
  homeassistant/components/sensor/recorder.py
  tests/components/sensor/test_recorder.py
Labels: core, cla-signed, small-pr, integration: sensor, bugfix

#55469 Add bluez to the devcontainer
  Dockerfile.dev
Labels: cla-signed, small-pr, bugfix

#55713 Fix LIFX firmware version information
  homeassistant/components/lifx/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: lifx, dependency, bugfix, dependency-bump

#55697 Use NamedTuple for device_automation details
  homeassistant/components/device_automation/__init__.py
Labels: cla-signed, small-pr, integration: device_automation, code-quality, smash, project-code_style

#55714 Add caplog setup phase fixture for template
  tests/components/template/conftest.py
  tests/components/template/test_binary_sensor.py
  tests/components/template/test_sensor.py
  tests/components/template/test_vacuum.py
Labels: cla-signed, small-pr, integration: template, has-tests, code-quality

#55710 Bump motion_blinds to 0.5.5
  homeassistant/components/motion_blinds/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, dependency-bump, integration: motion_blinds

#55734 Remove deprecated device_state_attributes
  homeassistant/components/flipr/sensor.py
  homeassistant/components/gogogate2/sensor.py
  homeassistant/components/group/media_player.py
  homeassistant/components/nws/sensor.py
  homeassistant/components/plaato/const.py
  homeassistant/components/plaato/entity.py
Labels: core, cla-signed, integration: group, small-pr, integration: gogogate2, integration: nws, integration: plaato, code-quality, integration: flipr

#55588 Handle unknown preset mode in generic thermostat
  homeassistant/components/generic_thermostat/climate.py
  tests/components/generic_thermostat/test_climate.py
Labels: cla-signed, small-pr, new-feature, integration: generic_thermostat, has-tests

#55711 Handle Fritz InternalError
  homeassistant/components/fritz/sensor.py
Labels: cla-signed, small-pr, integration: fritz, by-code-owner, bugfix

#55723 Fix SamsungTV sendkey when not connected
  homeassistant/components/samsungtv/bridge.py
Labels: cla-signed, small-pr, integration: samsungtv, by-code-owner, bugfix

#55753 2021.9.3
  homeassistant/components/fritz/sensor.py
  homeassistant/components/lifx/manifest.json
  homeassistant/components/rainforest_eagle/data.py
  homeassistant/components/samsungtv/bridge.py
  homeassistant/components/sensor/recorder.py
  homeassistant/const.py
  requirements_all.txt
  tests/components/sensor/test_recorder.py
Labels: core, cla-signed, merging-to-master, integration: sensor, integration: lifx, integration: fritz, integration: samsungtv, has-tests, integration: rainforest_eagle

#55751 Tag Hue errors as format strings
  homeassistant/components/hue/device_trigger.py
Labels: cla-signed, integration: hue, small-pr, by-code-owner, bugfix

#54584 Add regex_findall filter
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: core, cla-signed, small-pr, new-feature

#54411 Protect Huawei LTE against None ltedl/ulfreq
  homeassistant/components/huawei_lte/sensor.py
Labels: cla-signed, small-pr, integration: huawei_lte, by-code-owner, bugfix

#55796 Optimize ZHA ZCL attribute reporting configuration
  homeassistant/components/zha/core/channels/base.py
  homeassistant/components/zha/core/channels/hvac.py
  homeassistant/components/zha/core/const.py
  tests/components/zha/common.py
  tests/components/zha/test_channels.py
Labels: cla-signed, integration: zha, has-tests, by-code-owner, code-quality

#55805 Update to denonavr version 0.10.9
  homeassistant/components/denonavr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: denonavr, by-code-owner, bugfix, dependency-bump

#55750 Drop logger service fields because keys are dynamic
  homeassistant/components/logger/services.yaml
Labels: core, cla-signed, integration: logger, small-pr

#55819 ZHA: Added support for ZigBee Simple Sensor device and Binary Input c…
  homeassistant/components/zha/binary_sensor.py
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/registries.py
  tests/components/zha/zha_devices_list.py
Labels: cla-signed, integration: zha, small-pr, new-feature, has-tests

#55822 Bump envoy_reader API to 0.20.0
  homeassistant/components/enphase_envoy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: enphase_envoy, dependency, by-code-owner, dependency-bump

#55691 Change fix property to _attr for tradfri
  homeassistant/components/tradfri/base_class.py
  homeassistant/components/tradfri/cover.py
  homeassistant/components/tradfri/light.py
  homeassistant/components/tradfri/sensor.py
  homeassistant/components/tradfri/switch.py
Labels: cla-signed, integration: tradfri, small-pr, by-code-owner, code-quality

#55746 Use EntityDescription - vilfo
  homeassistant/components/vilfo/const.py
  homeassistant/components/vilfo/sensor.py
Labels: cla-signed, integration: vilfo, code-quality, smash, project-code_style

#55747 Use EntityDescription - awair
  homeassistant/components/awair/const.py
  homeassistant/components/awair/sensor.py
  tests/components/awair/test_sensor.py
Labels: cla-signed, integration: awair, code-quality, smash, project-code_style

#55789 Use EntityDescription - vultr
  homeassistant/components/vultr/sensor.py
  tests/components/vultr/test_sensor.py
Labels: cla-signed, integration: vultr, code-quality, smash, project-code_style

#55792 Use EntityDescription - meteoclimatic
  homeassistant/components/meteoclimatic/const.py
  homeassistant/components/meteoclimatic/sensor.py
Labels: cla-signed, code-quality, integration: meteoclimatic, smash, project-code_style

#55788 Use EntityDescription - sabnzbd
  homeassistant/components/sabnzbd/__init__.py
  homeassistant/components/sabnzbd/sensor.py
Labels: cla-signed, integration: sabnzbd, code-quality, smash, project-code_style

#55744 Use EntityDescription - aemet
  homeassistant/components/aemet/const.py
  homeassistant/components/aemet/sensor.py
Labels: cla-signed, integration: aemet, code-quality, smash, project-code_style

#55790 Use EntityDescription - apcupsd
  homeassistant/components/apcupsd/sensor.py
Labels: cla-signed, integration: apcupsd, code-quality, smash, project-code_style

#55174 Alexa - Remove legacy speed support for fan platform
  homeassistant/components/alexa/capabilities.py
  homeassistant/components/alexa/entities.py
  homeassistant/components/alexa/handlers.py
  tests/components/alexa/test_capabilities.py
  tests/components/alexa/test_smart_home.py
  tests/components/alexa/test_state_report.py
Labels: core, breaking-change, cla-signed, integration: alexa, small-pr, has-tests

#52766 Add service descriptions for supervisor backup restore services
  homeassistant/components/hassio/services.yaml
Labels: core, cla-signed, integration: hassio, small-pr, bugfix

#55743 Use EntityDescription - poolsense
  homeassistant/components/poolsense/__init__.py
  homeassistant/components/poolsense/binary_sensor.py
  homeassistant/components/poolsense/sensor.py
Labels: cla-signed, code-quality, integration: poolsense, smash, project-code_style

#55791 Use EntityDescription - aqualogic
  homeassistant/components/aqualogic/sensor.py
Labels: cla-signed, integration: aqualogic, code-quality, smash, project-code_style

#55461 Refactor exception handling in Vallox
  homeassistant/components/vallox/__init__.py
  homeassistant/components/vallox/fan.py
  homeassistant/components/vallox/sensor.py
Labels: cla-signed, small-pr, integration: vallox, by-code-owner, code-quality

#55806 Fix incomfort min/max temperatures
  homeassistant/components/incomfort/water_heater.py
Labels: cla-signed, small-pr, integration: incomfort, by-code-owner, bugfix

#55837 Fix a lazy preset mode update for Xiaomi Miio fans
  homeassistant/components/xiaomi_miio/fan.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, by-code-owner, bugfix

#55794 Migrate emulated_hue tests from unittest to pytest
  tests/components/emulated_hue/test_upnp.py
Labels: integration: emulated_hue, cla-signed, small-pr, has-tests, code-quality

#55660 Shutdown the container on abnormal signals
  rootfs/etc/services.d/home-assistant/finish
Labels: cla-signed, small-pr, bugfix

#55839 Fix typo in in rfxtrx Barometer sensor
  homeassistant/components/rfxtrx/sensor.py
Labels: cla-signed, integration: rfxtrx, small-pr

#55773 Fix xiaomi miio Air Quality Monitor initialization
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/sensor.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, by-code-owner, bugfix

#55828 Replace zigpy-cc with zigpy-znp
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/gateway.py
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zha/test_config_flow.py
  tests/components/zha/test_init.py
Labels: cla-signed, integration: zha, small-pr, has-tests, bugfix

#55774 Add motion_blinds VerticalBlind and cleanup
  homeassistant/components/motion_blinds/__init__.py
  homeassistant/components/motion_blinds/cover.py
  homeassistant/components/motion_blinds/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: motion_blinds

#55103 Re-add state_class total to sensor
  homeassistant/components/sensor/__init__.py
  homeassistant/components/sensor/recorder.py
  tests/components/energy/test_sensor.py
  tests/components/sensor/test_init.py
  tests/components/sensor/test_recorder.py
Labels: core, integration: recorder, cla-signed, integration: history, integration: sensor, has-tests

#55647 Make scapy imports in DHCP local
  homeassistant/components/dhcp/__init__.py
  tests/components/dhcp/test_init.py
Labels: cla-signed, small-pr, integration: dhcp

#53368 Replace util.get_local_ip in favor of components.network.async_get_source_ip() - part 2
  homeassistant/components/emulated_hue/__init__.py
  homeassistant/components/emulated_hue/manifest.json
  tests/components/emulated_hue/test_hue_api.py
  tests/components/emulated_hue/test_init.py
Labels: breaking-change, integration: emulated_hue, cla-signed, small-pr, has-tests, code-quality

#55820 Upgrade pymazda to 0.2.1
  homeassistant/components/mazda/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: mazda

#55730 Fix switch name attribute for thinkingcleaner
  homeassistant/components/thinkingcleaner/switch.py
Labels: cla-signed, small-pr, integration: thinkingcleaner, bugfix

#55859 Fix exception during rediscovery of ignored zha config entries
  homeassistant/components/zha/config_flow.py
  tests/components/zha/test_config_flow.py
Labels: cla-signed, integration: zha, small-pr, has-tests

#55767 Allow same address different register types in modbus
  homeassistant/components/modbus/validators.py
Labels: cla-signed, integration: modbus, small-pr, by-code-owner, bugfix

#55858 Fix target humidity step for Xiaomi MJJSQ humidifiers
  homeassistant/components/xiaomi_miio/humidifier.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, by-code-owner, bugfix

#55842 Surepetcare, bug fix
  homeassistant/components/surepetcare/__init__.py
  tests/components/surepetcare/conftest.py
  tests/components/surepetcare/test_sensor.py
Labels: cla-signed, small-pr, integration: surepetcare, has-tests, by-code-owner, bugfix

#55831 Bump zwave-js-server-python to 0.30.0
  homeassistant/components/zwave_js/cover.py
  homeassistant/components/zwave_js/discovery_data_template.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/components/zwave_js/sensor.py
  homeassistant/components/zwave_js/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zwave_js/test_api.py
Labels: cla-signed, small-pr, has-tests, integration: zwave_js

#55761 Fix logbook entity_matches_only query mode
  homeassistant/components/logbook/__init__.py
  tests/components/logbook/test_init.py
Labels: core, cla-signed, integration: logbook, small-pr, has-tests, bugfix

#55766 Allow same IP if ports are different on modbus
  homeassistant/components/modbus/validators.py
Labels: cla-signed, integration: modbus, small-pr, by-code-owner, bugfix

#55869 Integration Sensor unit of measurement overwrite
  homeassistant/components/integration/sensor.py
Labels: cla-signed, small-pr, integration: integration, by-code-owner, bugfix

#55855 Use `async_update_entry` in ZHA config unit test instead of modifying `data`
  homeassistant/components/zha/__init__.py
  tests/components/zha/test_config_flow.py
Labels: cla-signed, integration: zha, small-pr, has-tests, code-quality

#55872 Set state class to total for Integration sensors
  homeassistant/components/integration/sensor.py
  tests/components/integration/test_sensor.py
Labels: cla-signed, small-pr, integration: integration, has-tests, bugfix

#55844 Refactor ZHA tests
  homeassistant/components/zha/core/device.py
  tests/components/zha/common.py
  tests/components/zha/conftest.py
  tests/components/zha/test_alarm_control_panel.py
  tests/components/zha/test_api.py
  tests/components/zha/test_binary_sensor.py
  tests/components/zha/test_channels.py
  tests/components/zha/test_climate.py
  tests/components/zha/test_cover.py
  tests/components/zha/test_device.py
  tests/components/zha/test_device_action.py
  tests/components/zha/test_device_tracker.py
  tests/components/zha/test_device_trigger.py
  tests/components/zha/test_discover.py
  tests/components/zha/test_fan.py
  tests/components/zha/test_gateway.py
  tests/components/zha/test_light.py
  tests/components/zha/test_lock.py
  tests/components/zha/test_number.py
  tests/components/zha/test_sensor.py
  tests/components/zha/test_switch.py
  tests/components/zha/zha_devices_list.py
Labels: cla-signed, integration: zha, small-pr, has-tests, by-code-owner

#55870 2021.9.4
  homeassistant/components/incomfort/water_heater.py
  homeassistant/components/integration/sensor.py
  homeassistant/components/logbook/__init__.py
  homeassistant/components/mazda/manifest.json
  homeassistant/components/modbus/validators.py
  homeassistant/components/rfxtrx/sensor.py
  homeassistant/components/surepetcare/__init__.py
  homeassistant/components/thinkingcleaner/switch.py
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/humidifier.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zwave_js/cover.py
  homeassistant/components/zwave_js/discovery_data_template.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/components/zwave_js/sensor.py
  homeassistant/components/zwave_js/switch.py
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/logbook/test_init.py
  tests/components/surepetcare/conftest.py
  tests/components/surepetcare/test_sensor.py
  tests/components/zha/test_config_flow.py
  tests/components/zwave_js/test_api.py
Labels: core, cla-signed, merging-to-master, has-tests

#55823 Bump hass-nabucasa 49
  homeassistant/components/cloud/http_api.py
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cloud/conftest.py
  tests/components/cloud/test_http_api.py
Labels: core, cla-signed, integration: cloud, small-pr, dependency, dependency-bump

#55266 Fix assignment of amcrest camera model
  homeassistant/components/amcrest/camera.py
Labels: cla-signed, integration: amcrest, small-pr, by-code-owner, bugfix

#55875 Integration Sensor Initial State
  homeassistant/components/integration/sensor.py
  tests/components/integration/test_sensor.py
Labels: cla-signed, small-pr, integration: integration, has-tests, by-code-owner, bugfix

#55877 Set state class to total for net utility_meter sensors
  homeassistant/components/utility_meter/sensor.py
  tests/components/utility_meter/test_sensor.py
Labels: cla-signed, small-pr, integration: utility_meter, has-tests, bugfix

#54298 Rewrite re-auth mechanism in Synology DSM integration
  homeassistant/components/synology_dsm/__init__.py
  homeassistant/components/synology_dsm/config_flow.py
  homeassistant/components/synology_dsm/strings.json
  homeassistant/components/synology_dsm/translations/en.json
  tests/components/synology_dsm/test_config_flow.py
Labels: cla-signed, has-tests, integration: synology_dsm, code-quality, bugfix

#53525 Add Flipr binary sensor
  homeassistant/components/flipr/__init__.py
  homeassistant/components/flipr/binary_sensor.py
  homeassistant/components/flipr/sensor.py
  tests/components/flipr/test_sensors.py
Labels: new-platform, cla-signed, new-feature, almost-done, has-tests, by-code-owner, integration: flipr, smash, project-code_style

#53510 Tuya v2 integration New Update
  .coveragerc
  CODEOWNERS
  homeassistant/components/tuya/__init__.py
  homeassistant/components/tuya/base.py
  homeassistant/components/tuya/config_flow.py
  homeassistant/components/tuya/const.py
  homeassistant/components/tuya/manifest.json
  homeassistant/components/tuya/strings.json
  homeassistant/components/tuya/switch.py
  homeassistant/components/tuya/translations/en.json
  homeassistant/components/tuya/translations/zh-Hans.json
  homeassistant/generated/dhcp.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tuya/test_config_flow.py
Labels: cla-signed, integration: tuya, new-integration, has-tests, dependency

#55889 Fix available property for Xiaomi Miio fan platform
  homeassistant/components/xiaomi_miio/fan.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, by-code-owner, bugfix

#55304 Try to avoid rate limiting in honeywell
  homeassistant/components/honeywell/__init__.py
  homeassistant/components/honeywell/climate.py
  tests/components/honeywell/test_init.py
Labels: cla-signed, small-pr, integration: honeywell, by-code-owner, bugfix

#55887 Add date device class
  homeassistant/components/sensor/__init__.py
  homeassistant/const.py
Labels: core, cla-signed, small-pr, new-feature

#55895 Address comment in integration Riemann sum PR #55875
  homeassistant/components/integration/sensor.py
  tests/components/integration/test_sensor.py
Labels: cla-signed, small-pr, integration: integration, by-code-owner

#55904 Fix upnp add_entities
  homeassistant/components/upnp/const.py
  homeassistant/components/upnp/sensor.py
Labels: cla-signed, integration: upnp, bugfix

#55908 Allow multiple template.select platform entries
  homeassistant/components/template/select.py
  tests/components/template/test_select.py
Labels: cla-signed, small-pr, integration: template, has-tests, bugfix
