Repository home-assistant/core, pull requests merged in 2021-02, with the labels that each got.

#45804 Change via_hub to via_device
  homeassistant/components/roon/media_player.py
  homeassistant/components/somfy/__init__.py
Labels: bugfix, cla-signed, integration: roon, integration: somfy, small-pr

#45799 Bump pyatv to 0.7.6
  homeassistant/components/apple_tv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: apple_tv, small-pr

#45811 Remove misleading "for" from custom integration warning message
  homeassistant/loader.py
  tests/test_loader.py
Labels: bugfix, cla-signed, core, small-pr

#45810 Add zwave_js binary sensors property name for Notification CC
  homeassistant/components/zwave_js/binary_sensor.py
  tests/components/zwave_js/common.py
Labels: bugfix, cla-signed, has-tests, integration: zwave_js, small-pr

#43984 Add izone control zone
  homeassistant/components/izone/climate.py
Labels: cla-signed, integration: izone, new-feature

#45812 Fix missing async for lutron_caseta timeout
  homeassistant/components/lutron_caseta/__init__.py
  homeassistant/components/lutron_caseta/config_flow.py
Labels: by-code-owner, cla-signed, integration: lutron_caseta, small-pr

#45813 Bump zwave-js-server-python to 0.15.0
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: zwave_js, small-pr

#45807 Fix shutdown deadlock with run_callback_threadsafe
  homeassistant/core.py
  homeassistant/util/async_.py
  tests/test_core.py
  tests/util/test_async.py
Labels: cla-signed, core

#45805 Add stop_cover service for zwave_js
  homeassistant/components/zwave_js/cover.py
  tests/components/zwave_js/test_cover.py
Labels: bugfix, cla-signed, has-tests, integration: zwave_js, small-pr

#45821 Bump awesomeversion from 21.1.6 to 21.2.0
  requirements_test.txt
  script/hassfest/manifest.py
Labels: cla-signed, dependency, small-pr

#45600 Remove Nuimo integration
  .coveragerc
  homeassistant/components/nuimo_controller/__init__.py
  homeassistant/components/nuimo_controller/manifest.json
  homeassistant/components/nuimo_controller/services.yaml
  requirements_all.txt
  script/gen_requirements_all.py
Labels: breaking-change, cla-signed, integration: nuimo_controller, small-pr

#44161 Increase test coverage for stream worker
  tests/components/stream/test_worker.py
Labels: cla-signed, code-quality, core, has-tests, integration: stream, small-pr

#45794 Code quality improvements to UniFi integration
  homeassistant/components/unifi/__init__.py
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/const.py
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/device_tracker.py
  homeassistant/components/unifi/sensor.py
  homeassistant/components/unifi/switch.py
  tests/components/unifi/test_config_flow.py
  tests/components/unifi/test_controller.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: unifi

#34760 Add support for Keg and Airlock to Plaato using polling API
  .coveragerc
  homeassistant/components/plaato/__init__.py
  homeassistant/components/plaato/binary_sensor.py
  homeassistant/components/plaato/config_flow.py
  homeassistant/components/plaato/const.py
  homeassistant/components/plaato/entity.py
  homeassistant/components/plaato/manifest.json
  homeassistant/components/plaato/sensor.py
  homeassistant/components/plaato/strings.json
  homeassistant/components/plaato/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/plaato/__init__.py
  tests/components/plaato/test_config_flow.py
Labels: by-code-owner, cla-signed, integration: plaato, new-feature

#45500 Correct synology_dsm CPU sensor's naming and measurement unit
  homeassistant/components/synology_dsm/const.py
  homeassistant/components/synology_dsm/sensor.py
Labels: breaking-change, cla-signed

#45832 Bump brother library to version 0.2.0
  homeassistant/components/brother/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: brother, small-pr

#45809 Search all endpoints for value in zwave_js
  homeassistant/components/zwave_js/climate.py
  homeassistant/components/zwave_js/entity.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_climate.py
  tests/fixtures/zwave_js/climate_radio_thermostat_ct100_plus_different_endpoints_state.json
Labels: bugfix, cla-signed, has-tests, integration: zwave_js, small-pr

#44116 Add ability to configure AirVisual with city/state/country in UI
  homeassistant/components/airvisual/__init__.py
  homeassistant/components/airvisual/config_flow.py
  homeassistant/components/airvisual/const.py
  homeassistant/components/airvisual/sensor.py
  homeassistant/components/airvisual/strings.json
  homeassistant/components/airvisual/translations/en.json
  tests/components/airvisual/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: airvisual, new-feature

#45270 Allow Influxdb CA path in verify_ssl
  homeassistant/components/influxdb/__init__.py
  homeassistant/components/influxdb/const.py
  homeassistant/components/influxdb/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/influxdb/test_init.py
Labels: bugfix, cla-signed, integration: influxdb, small-pr

#45814 Add value notification events to zwave_js integration
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/const.py
  homeassistant/components/zwave_js/entity.py
  tests/components/zwave_js/test_events.py
Labels: cla-signed, integration: zwave_js, new-feature

#45840 Upgrade colorlog to 4.7.2
  homeassistant/scripts/check_config.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, small-pr

#45842 Upgrade TwitterAPI to 2.6.5
  homeassistant/components/twitter/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: twitter, small-pr

#45819 Lyric Code Improvements
  homeassistant/components/lyric/__init__.py
  homeassistant/components/lyric/climate.py
  tests/components/lyric/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: lyric, small-pr

#45791 Add sensors to Lyric integration
  .coveragerc
  homeassistant/components/lyric/__init__.py
  homeassistant/components/lyric/sensor.py
Labels: by-code-owner, cla-signed, integration: lyric, new-feature, new-platform

#45845 Upgrade sqlalchemy to 1.3.23
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: recorder, integration: sql, small-pr

#45855 Fix environment_canada high/low temperature display in weather card
  homeassistant/components/environment_canada/weather.py
Labels: bugfix, by-code-owner, cla-signed, integration: environment_canada, small-pr

#45522 Improve MQTT JSON light to allow non-ambiguous states
  homeassistant/components/mqtt/light/schema_json.py
  tests/components/mqtt/test_light_json.py
Labels: bugfix, by-code-owner, cla-signed, core, has-tests, integration: mqtt

#45827 Add notification events to zwave_js integration
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/const.py
  tests/components/zwave_js/test_events.py
Labels: cla-signed, integration: zwave_js, new-feature, small-pr

#45857 Add current humidity to zwave_js climate platform
  homeassistant/components/zwave_js/climate.py
  tests/components/zwave_js/test_climate.py
Labels: cla-signed, has-tests, integration: zwave_js, new-feature, small-pr

#45834 Fix sensor discovery for zwave_js integration
  homeassistant/components/zwave_js/binary_sensor.py
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/sensor.py
  tests/components/zwave_js/common.py
  tests/components/zwave_js/test_sensor.py
Labels: bugfix, cla-signed, integration: zwave_js

#45829 Add Insteon entities in event loop
  homeassistant/components/insteon/binary_sensor.py
  homeassistant/components/insteon/climate.py
  homeassistant/components/insteon/cover.py
  homeassistant/components/insteon/fan.py
  homeassistant/components/insteon/light.py
  homeassistant/components/insteon/switch.py
Labels: bugfix, by-code-owner, cla-signed, integration: insteon

#45861 Update zwave_js discovery schema for light platform
  homeassistant/components/zwave_js/discovery.py
Labels: bugfix, cla-signed, integration: zwave_js, small-pr

#45853 Remove zwave_js devices that the controller is no longer connected to on initialization
  homeassistant/components/zwave_js/__init__.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_init.py
Labels: bugfix, cla-signed, has-tests, integration: zwave_js, small-pr

#45433 Ensure homekit never picks a port that another config entry uses
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/config_flow.py
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_config_flow.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_util.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: homekit

#45806 Update alexa/const.py to reflect docs
  homeassistant/components/alexa/const.py
Labels: bugfix, cla-signed, core, integration: alexa, small-pr

#45835 Add fan speed percentage support to google assistant
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: cla-signed, core, has-tests, integration: google_assistant, small-pr

#45849 Enable Osramlightify again
  homeassistant/components/osramlightify/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: osramlightify, small-pr

#45843 Upgrade jinja2 to >=2.11.3
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Labels: cla-signed, core, dependency, small-pr

#45839 Upgrade pytz to >=2021.1
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Labels: cla-signed, core, dependency, small-pr

#45864 Fix zwave_js device remove test
  tests/components/zwave_js/test_init.py
Labels: cla-signed, has-tests, integration: zwave_js, small-pr

#45848 Upgrade watchdog to 1.0.2
  homeassistant/components/folder_watcher/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: folder_watcher, small-pr

#45847 Upgrade emoji to 1.2.0
  homeassistant/components/mobile_app/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: mobile_app, small-pr

#45863 Fix zwave_js sensor device class attribute error
  homeassistant/components/zwave_js/sensor.py
Labels: cla-signed, integration: zwave_js, small-pr

#45867 Guard for missing value
  homeassistant/components/zwave_js/entity.py
Labels: bugfix, cla-signed, integration: zwave_js, small-pr

#45872 Use new zwave_js client
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_init.py
Labels: cla-signed, has-tests, integration: zwave_js

#45874 Update frontend to 20210127.7
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#45837 Bump Freebox to 0.0.9
  CODEOWNERS
  homeassistant/components/freebox/config_flow.py
  homeassistant/components/freebox/manifest.json
  homeassistant/components/freebox/router.py
  homeassistant/components/freebox/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/freebox/test_config_flow.py
Labels: by-code-owner, cla-signed, dependency, integration: freebox, small-pr

#45878 Bump plexapi to 3.4.1
  homeassistant/components/plex/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: plex, small-pr

#45889 Update docker base image 2021.02.0
  build.json
Labels: bugfix, cla-signed, dependency, small-pr

#45896 Mark Z-Wave as deprecated
  homeassistant/components/zwave/manifest.json
  homeassistant/components/zwave/strings.json
Labels: cla-signed, integration: zwave, new-feature, small-pr

#45895 Upgrade Z-Wave JS Python to 0.17.0
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/api.py
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zwave_js/conftest.py
Labels: cla-signed, dependency, has-tests, integration: zwave_js, small-pr

#45884 Remove v4 multilevel transitional currentValue workaround in zwave_js
  homeassistant/components/zwave_js/light.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_light.py
  tests/fixtures/zwave_js/eaton_rf9640_dimmer_state.json
Labels: bugfix, cla-signed, integration: zwave_js, small-pr

#45897 Update discovery scheme for Meter CC in zwave_js integration
  homeassistant/components/zwave_js/discovery.py
Labels: cla-signed, integration: zwave_js, small-pr

#45890 Add support for climate setpoint thermostats to zwave_js
  homeassistant/components/zwave_js/climate.py
  homeassistant/components/zwave_js/discovery.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_climate.py
  tests/fixtures/zwave_js/climate_danfoss_lc_13_state.json
  tests/fixtures/zwave_js/climate_heatit_z_trm3_state.json
Labels: cla-signed, has-tests, integration: zwave_js, small-pr

#45901 Add integration name to the deprecation warnings
  homeassistant/helpers/deprecation.py
Labels: cla-signed, code-quality, core, small-pr

#45785 Add transitiontime to hue scene service
  homeassistant/components/hue/bridge.py
  homeassistant/components/hue/const.py
  tests/components/hue/test_bridge.py
Labels: cla-signed, integration: hue, new-feature, small-pr

#45406 Add support for Shelly battery operated devices
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/binary_sensor.py
  homeassistant/components/shelly/config_flow.py
  homeassistant/components/shelly/const.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/manifest.json
  homeassistant/components/shelly/sensor.py
  homeassistant/components/shelly/utils.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/shelly/conftest.py
  tests/components/shelly/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: shelly, new-feature

#45610 Homeconnect remote states
  homeassistant/components/home_connect/api.py
  homeassistant/components/home_connect/binary_sensor.py
  homeassistant/components/home_connect/const.py
  homeassistant/components/home_connect/sensor.py
Labels: cla-signed, integration: home_connect, new-feature

#42044 Fix duplicate lg_soundbar entities and disable polling
  homeassistant/components/lg_soundbar/media_player.py
Labels: Hacktoberfest, breaking-change, bugfix, cla-signed, hacktoberfest-accepted, integration: lg_soundbar, small-pr

#45768 Add Mazda Connected Services integration
  CODEOWNERS
  homeassistant/components/mazda/__init__.py
  homeassistant/components/mazda/config_flow.py
  homeassistant/components/mazda/const.py
  homeassistant/components/mazda/manifest.json
  homeassistant/components/mazda/sensor.py
  homeassistant/components/mazda/strings.json
  homeassistant/components/mazda/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/mazda/__init__.py
  tests/components/mazda/test_config_flow.py
  tests/components/mazda/test_init.py
  tests/components/mazda/test_sensor.py
  tests/fixtures/mazda/get_vehicle_status.json
  tests/fixtures/mazda/get_vehicles.json
Labels: cla-signed, has-tests, integration: mazda, new-integration

#45912 2021.2.0 (tag)
  homeassistant/const.py
Labels: cla-signed, core, merging-to-master, small-pr

#45818 Add Support for iCloud 2FA
  CODEOWNERS
  homeassistant/components/icloud/account.py
  homeassistant/components/icloud/config_flow.py
  homeassistant/components/icloud/const.py
  homeassistant/components/icloud/manifest.json
  homeassistant/components/icloud/strings.json
  homeassistant/components/icloud/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/icloud/test_config_flow.py
Labels: bugfix, cla-signed, dependency, has-tests, integration: icloud

#44840 Add WS API method to refresh the ZHA network topology for use in the visualization page
  homeassistant/components/zha/api.py
Labels: by-code-owner, cla-signed, integration: zha, new-feature, small-pr

#45907 Use core constants for command_line auth provider
  homeassistant/auth/providers/command_line.py
Labels: cla-signed, code-quality, core, small-pr

#45928 Fix typo in Roomba strings
  homeassistant/components/roomba/strings.json
Labels: cla-signed, code-quality, integration: roomba, small-pr

#45913 Consistent spelling of IT abbreviations / protocol / format names
  homeassistant/components/ambiclimate/strings.json
  homeassistant/components/cast/services.yaml
  homeassistant/components/color_extractor/services.yaml
  homeassistant/components/deconz/services.yaml
  homeassistant/components/denonavr/services.yaml
  homeassistant/components/frontend/services.yaml
  homeassistant/components/goalzero/strings.json
  homeassistant/components/habitica/services.yaml
  homeassistant/components/homekit/services.yaml
  homeassistant/components/konnected/strings.json
  homeassistant/components/lovelace/services.yaml
  homeassistant/components/lutron_caseta/strings.json
  homeassistant/components/media_extractor/services.yaml
  homeassistant/components/mqtt/services.yaml
  homeassistant/components/soma/strings.json
  homeassistant/components/spotify/strings.json
  homeassistant/components/traccar/strings.json
  homeassistant/components/vera/strings.json
  homeassistant/components/xiaomi_aqara/strings.json
  homeassistant/strings.json
Labels: cla-signed

#45844 Enable emulated_hue setting XY color and transition time by client
  homeassistant/components/emulated_hue/hue_api.py
  tests/components/emulated_hue/test_hue_api.py
Labels: cla-signed, integration: emulated_hue, new-feature

#45369 Convert ozw climate values to correct units
  homeassistant/components/ozw/climate.py
  tests/components/ozw/test_climate.py
Labels: bugfix, cla-signed, integration: ozw

#45899 Fix onvif ConnectionResetError
  homeassistant/components/onvif/device.py
Labels: cla-signed, integration: onvif, small-pr

#45919 Add warning to custom integrations without version
  homeassistant/loader.py
  homeassistant/package_constraints.txt
  requirements.txt
  requirements_test.txt
  script/bootstrap
  script/hassfest/manifest.py
  setup.py
  tests/hassfest/test_version.py
  tests/test_loader.py
Labels: breaking-change, cla-signed, core, has-tests

#45968 Use bootstrap in devcontainer
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  script/bootstrap
Labels: cla-signed, small-pr

#45930 Fix exception in Shelly sleeping device that switches to polling
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/entity.py
Labels: bugfix, by-code-owner, cla-signed, integration: shelly, small-pr

#45161 Allow manual configuration of ignored singleton config entries
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: cla-signed, core

#45973 Update yarnpkg GPG key
  Dockerfile.dev
Labels: bugfix, cla-signed, small-pr

#45935 Use core constants for alert
  homeassistant/components/alert/__init__.py
Labels: cla-signed, code-quality, integration: alert, small-pr

#45937 Use core constants for alexa
  homeassistant/components/alexa/__init__.py
  homeassistant/components/alexa/const.py
  homeassistant/components/alexa/flash_briefings.py
Labels: cla-signed, code-quality, core, integration: alexa, small-pr

#45938 Use core constants for amazon polly
  homeassistant/components/amazon_polly/tts.py
Labels: cla-signed, code-quality, integration: amazon_polly, small-pr

#45976 Throw error in hassfest when integration is missing version
  script/hassfest/manifest.py
  tests/hassfest/test_version.py
Labels: cla-signed, core, small-pr

#45964 Fix entities device_info property in Harmony integration
  homeassistant/components/harmony/remote.py
  homeassistant/components/harmony/switch.py
  tests/components/harmony/conftest.py
  tests/components/harmony/test_config_flow.py
Labels: bugfix, cla-signed, has-tests, integration: harmony, small-pr

#45908 Don't log missing mpd artwork inappropriately
  homeassistant/components/mpd/manifest.json
  homeassistant/components/mpd/media_player.py
  requirements_all.txt
Labels: bugfix, cla-signed, dependency, integration: mpd, small-pr

#45988 Bump zwave-js-server-python to 0.17.1
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: zwave_js, small-pr

#45993 Bump awesomeversion from 21.2.0 to 21.2.2
  homeassistant/loader.py
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Labels: cla-signed, core, dependency, small-pr

#45987 Fix Local Media in Media Browser
  homeassistant/components/media_source/local_source.py
  tests/components/media_source/test_local_source.py
Labels: bugfix, cla-signed, integration: media_source, small-pr

#46010 Bump zwave-js-server-python to 0.17.2
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: zwave_js, small-pr

#46013 Upgrade holidays to 0.10.5.2
  homeassistant/components/workday/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: workday, small-pr

#46015 Use core constants for asuswrt
  homeassistant/components/asuswrt/__init__.py
Labels: cla-signed, code-quality, integration: asuswrt, small-pr

#46017 Use core constants for aws
  homeassistant/components/aws/__init__.py
  homeassistant/components/aws/const.py
  homeassistant/components/aws/notify.py
Labels: cla-signed, code-quality, integration: aws, small-pr

#46018 Disable promisc mode in scapy for dhcp
  homeassistant/components/dhcp/__init__.py
Labels: by-code-owner, cla-signed, integration: dhcp, small-pr

#46019 Upgrade slixmpp to 1.7.0
  homeassistant/components/xmpp/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: xmpp, small-pr

#46012 Upgrade praw to 7.1.2
  homeassistant/components/reddit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: reddit, small-pr

#46006 Do not listen for dhcp packets if the filter cannot be setup
  homeassistant/components/dhcp/__init__.py
  tests/components/dhcp/test_init.py
Labels: by-code-owner, cla-signed, has-tests, integration: dhcp, small-pr

#45990 Prevent fritzbox callmonitor phonebook_id 0 from being ignored
  homeassistant/components/fritzbox_callmonitor/base.py
Labels: bugfix, cla-signed, integration: fritzbox_callmonitor, small-pr

#45926 Fix homekit options not being prefilled
  homeassistant/components/homekit/config_flow.py
  tests/components/homekit/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: homekit, small-pr

#46016 Use core constants for automation
  homeassistant/components/automation/__init__.py
  homeassistant/components/automation/config.py
  homeassistant/components/automation/const.py
Labels: cla-signed, code-quality, core, integration: automation, small-pr

#46027 Use core constants for delijn
  homeassistant/components/delijn/sensor.py
Labels: cla-signed, code-quality, integration: delijn, small-pr

#46038 Revert aioshelly
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cherry-picked, cla-signed, dependency, dependency-bump, integration: shelly, small-pr

#46028 User core constants for deutsche_bahn
  homeassistant/components/deutsche_bahn/sensor.py
Labels: cla-signed, code-quality, integration: deutsche_bahn, small-pr

#45965 Fix zwave_js cover control for Up/Down and Open/Close
  homeassistant/components/zwave_js/cover.py
  tests/components/zwave_js/test_cover.py
Labels: bugfix, cla-signed, integration: zwave_js, small-pr

#45999 Standardize AirVisual helper method in config flow
  homeassistant/components/airvisual/config_flow.py
Labels: by-code-owner, cla-signed, code-quality, integration: airvisual

#46023 2021.2.1
  CODEOWNERS
  homeassistant/components/dhcp/__init__.py
  homeassistant/components/fritzbox_callmonitor/base.py
  homeassistant/components/harmony/remote.py
  homeassistant/components/harmony/switch.py
  homeassistant/components/icloud/account.py
  homeassistant/components/icloud/config_flow.py
  homeassistant/components/icloud/const.py
  homeassistant/components/icloud/manifest.json
  homeassistant/components/icloud/strings.json
  homeassistant/components/icloud/translations/en.json
  homeassistant/components/media_source/local_source.py
  homeassistant/components/mpd/manifest.json
  homeassistant/components/mpd/media_player.py
  homeassistant/components/ozw/climate.py
  homeassistant/components/shelly/manifest.json
  homeassistant/components/workday/manifest.json
  homeassistant/components/zwave_js/manifest.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  setup.py
  tests/components/dhcp/test_init.py
  tests/components/harmony/conftest.py
  tests/components/harmony/test_config_flow.py
  tests/components/icloud/test_config_flow.py
  tests/components/media_source/test_local_source.py
  tests/components/ozw/test_climate.py
Labels: cla-signed

#46043 Use core constants for doods
  homeassistant/components/doods/image_processing.py
Labels: cla-signed, code-quality, integration: doods, small-pr

#45985 Centralize some Airly constants
  homeassistant/components/airly/__init__.py
  homeassistant/components/airly/air_quality.py
  homeassistant/components/airly/const.py
  homeassistant/components/airly/sensor.py
Labels: cla-signed, code-quality, integration: airly, small-pr

#46001 Force Vera refresh after starting subscription
  homeassistant/components/vera/binary_sensor.py
  homeassistant/components/vera/climate.py
  homeassistant/components/vera/cover.py
  homeassistant/components/vera/light.py
  homeassistant/components/vera/lock.py
  homeassistant/components/vera/scene.py
  homeassistant/components/vera/sensor.py
  homeassistant/components/vera/switch.py
  tests/components/vera/test_init.py
Labels: bugfix, cla-signed, integration: vera, small-pr

#46042 Use core constants for bmw_connected_drive
  homeassistant/components/bmw_connected_drive/__init__.py
  homeassistant/components/bmw_connected_drive/config_flow.py
  homeassistant/components/bmw_connected_drive/const.py
  tests/components/bmw_connected_drive/test_config_flow.py
Labels: cla-signed, code-quality, has-tests, integration: bmw_connected_drive, small-pr

#46041 Use core constants for bluetooth_tracker
  homeassistant/components/bluetooth_tracker/device_tracker.py
Labels: cla-signed, code-quality, integration: bluetooth_tracker, small-pr

#45991 Fix demo number entity
  homeassistant/components/demo/number.py
Labels: bugfix, cla-signed, core, integration: demo, small-pr

#45871 Improve UniFi tests
  tests/components/unifi/test_config_flow.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_device_tracker.py
  tests/components/unifi/test_init.py
  tests/components/unifi/test_sensor.py
  tests/components/unifi/test_switch.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: unifi, small-pr

#46024 Address Plaato post merge review
  homeassistant/components/plaato/binary_sensor.py
  homeassistant/components/plaato/config_flow.py
  homeassistant/components/plaato/const.py
  homeassistant/components/plaato/entity.py
  homeassistant/components/plaato/sensor.py
  tests/components/plaato/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: plaato, small-pr

#46062 Fix deprecated method isAlive()
  homeassistant/components/zwave/light.py
Labels: bugfix, cla-signed, integration: zwave, small-pr

#45737 Add unique id to UniFi config entries using the unique id of the site it is controlling
  homeassistant/components/unifi/__init__.py
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/controller.py
  tests/components/unifi/test_config_flow.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_init.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: unifi

#45421 MySensors config flow
  .coveragerc
  CODEOWNERS
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/binary_sensor.py
  homeassistant/components/mysensors/climate.py
  homeassistant/components/mysensors/config_flow.py
  homeassistant/components/mysensors/const.py
  homeassistant/components/mysensors/cover.py
  homeassistant/components/mysensors/device.py
  homeassistant/components/mysensors/device_tracker.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/mysensors/handler.py
  homeassistant/components/mysensors/helpers.py
  homeassistant/components/mysensors/light.py
  homeassistant/components/mysensors/manifest.json
  homeassistant/components/mysensors/sensor.py
  homeassistant/components/mysensors/strings.json
  homeassistant/components/mysensors/switch.py
  homeassistant/components/mysensors/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/mysensors/__init__.py
  tests/components/mysensors/test_config_flow.py
  tests/components/mysensors/test_gateway.py
  tests/components/mysensors/test_init.py
Labels: breaking-change, cla-signed, has-tests, integration: mysensors

#45975 Fix foscam to work again with non-admin accounts and make RTSP port configurable again
  homeassistant/components/foscam/__init__.py
  homeassistant/components/foscam/camera.py
  homeassistant/components/foscam/config_flow.py
  homeassistant/components/foscam/const.py
  homeassistant/components/foscam/strings.json
  homeassistant/components/foscam/translations/en.json
  tests/components/foscam/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: foscam

#46063 Improve deCONZ logbook to be more robust in different situations
  homeassistant/components/deconz/logbook.py
  tests/components/deconz/test_logbook.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: deconz

#46077 Activate manual ZHA config flow when no comports detected
  homeassistant/components/zha/config_flow.py
  tests/components/zha/test_config_flow.py
Labels: cla-signed, has-tests, integration: zha, new-feature, small-pr

#46072 Fix zwave_js Notification CC sensors and binary sensors
  homeassistant/components/zwave_js/binary_sensor.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/sensor.py
Labels: bugfix, cla-signed, integration: zwave_js, small-pr

#43148 Add sensor platform for Aurora integration
  .coveragerc
  homeassistant/components/aurora/__init__.py
  homeassistant/components/aurora/binary_sensor.py
  homeassistant/components/aurora/config_flow.py
  homeassistant/components/aurora/const.py
  homeassistant/components/aurora/sensor.py
  tests/components/aurora/test_config_flow.py
Labels: by-code-owner, cla-signed, integration: aurora, new-feature, new-platform

#46055 Fix race in script wait for trigger step
  homeassistant/helpers/script.py
Labels: bugfix, cla-signed, core, small-pr

#46075 Bump aioharmony from 0.2.6 to 0.2.7
  homeassistant/components/harmony/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: harmony, small-pr

#46083 Use better names for zwave_js platforms that are self describing
  homeassistant/components/zwave_js/binary_sensor.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/sensor.py
  tests/components/zwave_js/common.py
  tests/components/zwave_js/test_climate.py
  tests/components/zwave_js/test_cover.py
  tests/components/zwave_js/test_fan.py
  tests/components/zwave_js/test_light.py
  tests/components/zwave_js/test_lock.py
Labels: cla-signed, code-quality, integration: zwave_js, small-pr

#46102 Exclude disabled entities from async_entries_for_device - fixup rfxtrx
  homeassistant/components/rfxtrx/config_flow.py
Labels: bugfix, cla-signed, integration: rfxtrx, small-pr

#45951 Fix backwards compatiblity with fan update to new model
  homeassistant/components/demo/fan.py
  homeassistant/components/fan/__init__.py
  tests/components/demo/test_fan.py
Labels: cla-signed, core, integration: fan, small-pr

#46078 Use async_update_entry rather than updating config_entry.data directly in Axis
  homeassistant/components/axis/__init__.py
  tests/components/axis/test_init.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: axis, small-pr

#44873 Don't defer formatting of log messages
  homeassistant/util/logging.py
Labels: cla-signed, core, integration: logger, small-pr

#46081 Handle missing value in all platforms of zwave_js
  homeassistant/components/zwave_js/climate.py
  homeassistant/components/zwave_js/cover.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/fan.py
  homeassistant/components/zwave_js/lock.py
  homeassistant/components/zwave_js/switch.py
Labels: bugfix, cla-signed, integration: zwave_js

#46061 Fix downloader path validation on subdir
  homeassistant/components/downloader/__init__.py
Labels: bugfix, cla-signed, integration: downloader, small-pr

#46093 Convert old deCONZ groups unique ids
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/light.py
  tests/components/deconz/test_gateway.py
  tests/components/deconz/test_init.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: deconz

#45828 Add new features to Apple TV media player
  homeassistant/components/apple_tv/__init__.py
  homeassistant/components/apple_tv/media_player.py
Labels: by-code-owner, cla-signed, integration: apple_tv, new-feature

#45759 Simplify UniFi entry configuration data
  homeassistant/components/unifi/__init__.py
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/controller.py
  tests/components/unifi/test_config_flow.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_init.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: unifi

#46128 xknx 0.16.3
  homeassistant/components/knx/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: knx, small-pr

#46136 Use core constants for envisalink
  homeassistant/components/envisalink/__init__.py
  homeassistant/components/envisalink/alarm_control_panel.py
Labels: cla-signed, code-quality, integration: envisalink, small-pr

#46137 Use core constants for ffmpeg_motion
  homeassistant/components/ffmpeg_motion/binary_sensor.py
Labels: cla-signed, code-quality, integration: ffmpeg_motion, small-pr

#46092 Use core constants for emulated_hue
  homeassistant/components/emulated_hue/__init__.py
  homeassistant/components/emulated_hue/upnp.py
Labels: cla-signed, code-quality, integration: emulated_hue, small-pr

#46163 Revert "Convert ozw climate values to correct units"
  homeassistant/components/ozw/climate.py
  tests/components/ozw/test_climate.py
Labels: bugfix, cla-signed, has-tests, integration: ozw, small-pr

#46188 Remove unused config_flows imports
  homeassistant/components/aws/__init__.py
  homeassistant/components/daikin/__init__.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/tellduslive/__init__.py
  homeassistant/components/tradfri/__init__.py
  homeassistant/components/zwave/__init__.py
Labels: cla-signed, code-quality, core, integration: aws, integration: daikin, integration: mqtt, integration: tellduslive, integration: tradfri, integration: zwave, small-pr

#46173 Use core constants for fixer
  homeassistant/components/fixer/sensor.py
Labels: cla-signed, code-quality, integration: fixer, small-pr

#46171 Use core constants for file integration
  homeassistant/components/file/sensor.py
Labels: cla-signed, code-quality, integration: file, small-pr

#46073 Upgrade praw to 7.1.3
  homeassistant/components/reddit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: reddit, small-pr

#45430 Add media_player device triggers
  homeassistant/components/media_player/device_trigger.py
  homeassistant/components/media_player/strings.json
  tests/components/arcam_fmj/test_device_trigger.py
  tests/components/homekit_controller/specific_devices/test_lg_tv.py
  tests/components/kodi/test_device_trigger.py
  tests/components/media_player/test_device_trigger.py
Labels: cla-signed, core, has-tests, integration: media_player, new-feature

#46169 Increase skybell scan time to reduce timeouts
  homeassistant/components/skybell/binary_sensor.py
Labels: bugfix, cla-signed, integration: skybell, small-pr

#46090 Use core constants for efergy
  homeassistant/components/efergy/sensor.py
Labels: cla-signed, code-quality, integration: efergy, small-pr

#46176 Fix dyson service name in services.yaml
  homeassistant/components/dyson/services.yaml
Labels: bugfix, cla-signed, integration: dyson, small-pr

#45923 Raise ConditionError for numeric_state errors
  homeassistant/components/automation/__init__.py
  homeassistant/components/bayesian/binary_sensor.py
  homeassistant/components/homeassistant/triggers/numeric_state.py
  homeassistant/exceptions.py
  homeassistant/helpers/condition.py
  homeassistant/helpers/script.py
  tests/components/automation/test_init.py
  tests/components/homeassistant/triggers/test_numeric_state.py
  tests/helpers/test_condition.py
  tests/helpers/test_script.py
Labels: cla-signed, core, integration: automation, integration: bayesian, integration: homeassistant, new-feature

#45614 Support templating MQTT triggers
  homeassistant/components/automation/__init__.py
  homeassistant/components/automation/config.py
  homeassistant/components/automation/const.py
  homeassistant/components/mqtt/device_trigger.py
  homeassistant/components/mqtt/trigger.py
  homeassistant/components/mqtt/util.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/script_variables.py
  homeassistant/helpers/template.py
  homeassistant/helpers/trigger.py
  tests/components/automation/test_init.py
  tests/components/mqtt/test_trigger.py
Labels: by-code-owner, cla-signed, core, integration: automation, integration: mqtt, new-feature

#46177 Bump python-verisure to version 1.7.2
  homeassistant/components/verisure/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: verisure, small-pr

#45152 Remove unneeded from_state from device triggers
  homeassistant/components/alarm_control_panel/device_trigger.py
  homeassistant/components/binary_sensor/device_trigger.py
  homeassistant/components/fan/device_trigger.py
  homeassistant/components/lock/device_trigger.py
  homeassistant/components/vacuum/device_trigger.py
  script/scaffold/templates/device_trigger/integration/device_trigger.py
  tests/components/alarm_control_panel/test_device_trigger.py
Labels: cla-signed

#46178 Enable KNX auto_reconnect for auto-discovered connections
  homeassistant/components/knx/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: knx, small-pr

#46201 Use core constants for flux
  homeassistant/components/flux/switch.py
Labels: cla-signed, code-quality, integration: flux, small-pr

#46203 Use core constants for frontend component
  homeassistant/components/frontend/__init__.py
Labels: cla-signed, code-quality, core, integration: frontend, small-pr

#46204 Use core constants for google_assistant
  homeassistant/components/google_assistant/__init__.py
  homeassistant/components/google_assistant/trait.py
Labels: cla-signed, code-quality, core, integration: google_assistant, small-pr

#46110 Fix Google translate TTS by bumping gTTS from 2.2.1 to 2.2.2
  homeassistant/components/google_translate/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, cla-signed, dependency, dependency-bump, integration: google_translate, small-pr
