Repository home-assistant/core, pull requests merged in 2021-01, with the labels that each got.

#44698 Upgrade sqlalchemy to 1.3.22
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: recorder, integration: sql, small-pr

#44457 Add device info to Météo-France
  homeassistant/components/meteo_france/const.py
  homeassistant/components/meteo_france/sensor.py
  homeassistant/components/meteo_france/weather.py
Labels: cla-signed, has-tests, integration: meteo_france, new-feature

#44689 Add Chinese (Hong Kong) to Google Cloud TTS
  homeassistant/components/google_cloud/tts.py
Labels: cla-signed, integration: google_cloud, small-pr

#44458 Use the async_call context in result of call_service
  homeassistant/components/websocket_api/commands.py
Labels: bugfix, cla-signed, core, integration: websocket_api, small-pr

#44693 Upgrade slixmpp to 1.6.0
  homeassistant/components/xmpp/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: xmpp, small-pr

#44706 Upgrade pyowm to 3.1.1
  homeassistant/components/openweathermap/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: openweathermap, small-pr

#44723 Fix rest notify GET without params configured
  homeassistant/components/rest/notify.py
Labels: cla-signed, integration: rest, small-pr

#44722 Do not restore unavailable state for august locks
  homeassistant/components/august/activity.py
  homeassistant/components/august/sensor.py
  tests/components/august/test_lock.py
  tests/components/august/test_sensor.py
Labels: by-code-owner, cla-signed, integration: august, small-pr

#41373 Add Python 3.9 to CI
  .github/workflows/ci.yaml
Labels: cla-signed, new-feature, small-pr

#44717 Fix script wait templates with now/utcnow
  homeassistant/helpers/event.py
  homeassistant/helpers/script.py
  tests/helpers/test_event.py
  tests/helpers/test_script.py
Labels: cla-signed, core

#44701 Updated certifi to >=2020.12.5
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Labels: cla-signed, core, small-pr

#44718 Increase test coverage for Nest SDM integration
  .coveragerc
  tests/components/nest/test_events.py
  tests/components/nest/test_init_sdm.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: nest, small-pr

#44388 Suppress vizio logging API call failures to prevent no-op logs
  homeassistant/components/vizio/media_player.py
  tests/components/vizio/test_config_flow.py
  tests/components/vizio/test_media_player.py
Labels: bugfix, by-code-owner, cla-signed, integration: vizio, small-pr

#43805 Drop Python 3.7 support
  .github/workflows/ci.yaml
  azure-pipelines-ci.yml
  homeassistant/components/arcam_fmj/__init__.py
  homeassistant/components/system_log/__init__.py
  homeassistant/const.py
  homeassistant/util/logging.py
Labels: breaking-change, cla-signed, core, small-pr

#44705 Upgrade alpha-vantage to 2.3.1
  homeassistant/components/alpha_vantage/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: alpha_vantage, small-pr

#44703 Upgrade volkszaehler to 0.2.1
  homeassistant/components/volkszaehler/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: volkszaehler, small-pr

#43207 Add turn_on and turn_off to gree climate component
  homeassistant/components/gree/climate.py
  tests/components/gree/test_climate.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: gree, small-pr

#44731 Fix Gree climate turn on/off
  homeassistant/components/gree/climate.py
Labels: bugfix, cla-signed, integration: gree, small-pr

#44710 Fix AccuWeather condition mapping
  homeassistant/components/accuweather/const.py
Labels: bugfix, cla-signed, integration: accuweather, small-pr

#44569 Correct Dyson climate fan auto mode
  homeassistant/components/dyson/climate.py
  tests/components/dyson/test_climate.py
Labels: bugfix, cla-signed, integration: dyson, small-pr

#44732 Update pyhomematic to 0.1.71
  homeassistant/components/homematic/const.py
  homeassistant/components/homematic/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, integration: homematic, small-pr

#44738 Upgrade sentry-sdk to 0.19.5
  homeassistant/components/sentry/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: sentry, small-pr

#44737 Upgrade debugpy to 1.2.1
  homeassistant/components/debugpy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: debugpy, small-pr

#44740 Upgrade pre-commit to 2.9.3
  requirements_test.txt
Labels: cla-signed, dependency, dependency-bump, small-pr

#44735 Bump H11 library to support non RFC line endings
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: bugfix, cla-signed, dependency, dependency-bump, small-pr

#44724 Fix templates for rest notify
  homeassistant/components/rest/notify.py
Labels: cla-signed, integration: rest, small-pr

#44742 Bump locationsharinglib to 4.1.5
  homeassistant/components/google_maps/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency-bump, integration: google_maps, small-pr

#44672 Catch Shelly zeroconf types with uppercase too
  homeassistant/components/shelly/config_flow.py
  tests/components/shelly/test_config_flow.py
Labels: by-code-owner, cla-signed, integration: shelly, small-pr

#44748 Remove deprecated PTVSD integration
  .coveragerc
  CODEOWNERS
  homeassistant/bootstrap.py
  homeassistant/components/ptvsd/__init__.py
  homeassistant/components/ptvsd/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ptvsd/__init__py
  tests/components/ptvsd/test_ptvsd.py
Labels: breaking-change, cla-signed, core, has-tests, integration: ptvsd, small-pr

#44673 Guard unbound var for DSMR
  homeassistant/components/dsmr/sensor.py
Labels: bugfix, cla-signed, integration: dsmr, small-pr

#44686 Resolve nest pub/sub subscriber token refresh issues
  .coveragerc
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/api.py
  tests/components/nest/common.py
  tests/components/nest/test_api.py
  tests/components/nest/test_init_sdm.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: nest, small-pr

#43948 Add Asuswrt config flow
  .coveragerc
  homeassistant/components/asuswrt/__init__.py
  homeassistant/components/asuswrt/config_flow.py
  homeassistant/components/asuswrt/const.py
  homeassistant/components/asuswrt/device_tracker.py
  homeassistant/components/asuswrt/manifest.json
  homeassistant/components/asuswrt/router.py
  homeassistant/components/asuswrt/sensor.py
  homeassistant/components/asuswrt/strings.json
  homeassistant/components/asuswrt/translations/en.json
  homeassistant/generated/config_flows.py
  tests/components/asuswrt/test_config_flow.py
  tests/components/asuswrt/test_device_tracker.py
  tests/components/asuswrt/test_sensor.py
Labels: cla-signed, has-tests, integration: asuswrt, new-feature

#44556 Update surepy to v0.4.0
  homeassistant/components/surepetcare/__init__.py
  homeassistant/components/surepetcare/binary_sensor.py
  homeassistant/components/surepetcare/manifest.json
  homeassistant/components/surepetcare/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/surepetcare/conftest.py
  tests/components/surepetcare/test_binary_sensor.py
Labels: cla-signed, dependency, has-tests, integration: surepetcare

#44761 Update docker base image 2021.01.0
  build.json
Labels: cla-signed, dependency, small-pr

#44576 Add tado zone binary sensors
  homeassistant/components/tado/binary_sensor.py
  homeassistant/components/tado/entity.py
  homeassistant/components/tado/sensor.py
  tests/components/tado/test_binary_sensor.py
  tests/components/tado/test_sensor.py
Labels: breaking-change, cla-signed, integration: tado

#44266 Support google assistant stopping for assumed state covers
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: bugfix, cla-signed, core, has-tests, integration: google_assistant, small-pr

#44750 Fix Soma integration reload
  homeassistant/components/soma/__init__.py
Labels: bugfix, cla-signed, integration: soma, small-pr

#44309 Add RFXtrx Rfy venetian blinds tilt control
  homeassistant/components/rfxtrx/config_flow.py
  homeassistant/components/rfxtrx/const.py
  homeassistant/components/rfxtrx/cover.py
  homeassistant/components/rfxtrx/manifest.json
  homeassistant/components/rfxtrx/strings.json
  homeassistant/components/rfxtrx/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/rfxtrx/test_config_flow.py
  tests/components/rfxtrx/test_cover.py
Labels: cla-signed, has-tests, integration: rfxtrx

#44557 Add service to lock/unlock Sure Petcare pet flaps
  homeassistant/components/surepetcare/__init__.py
  homeassistant/components/surepetcare/const.py
  homeassistant/components/surepetcare/services.yaml
Labels: cla-signed, has-tests, integration: surepetcare, new-feature

#44507 Reconnect mochad light on on/off command
  homeassistant/components/mochad/light.py
Labels: cla-signed, integration: mochad

#44749 Update xknx to 0.16.0
  homeassistant/components/knx/__init__.py
  homeassistant/components/knx/factory.py
  homeassistant/components/knx/manifest.json
  homeassistant/components/knx/schema.py
  requirements_all.txt
Labels: breaking-change, by-code-owner, cla-signed, dependency, integration: knx, new-feature

#44759 Add AsusWrt Scanner Entity
  .coveragerc
  homeassistant/components/asuswrt/__init__.py
  homeassistant/components/asuswrt/device_tracker.py
  homeassistant/components/asuswrt/router.py
  homeassistant/components/asuswrt/sensor.py
  tests/components/asuswrt/test_sensor.py
Labels: breaking-change, cla-signed, has-tests, integration: asuswrt

#44770 Bump PyTado to 0.10.0
  homeassistant/components/tado/__init__.py
  homeassistant/components/tado/binary_sensor.py
  homeassistant/components/tado/entity.py
  homeassistant/components/tado/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tado/util.py
  tests/fixtures/tado/device_wr1.json
Labels: cla-signed, code-quality, integration: tado, small-pr

#44802 Fix knx.send service not accepting floats
  homeassistant/components/knx/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: knx, small-pr

#44791 Update to denonavr version 0.9.10
  homeassistant/components/denonavr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: denonavr, small-pr

#44800 Bumo pyroon version to 0.0.30
  homeassistant/components/roon/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: roon, small-pr

#44757 Add index to old_state_id column for postgres and older databases
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/models.py
Labels: cla-signed, core, integration: recorder, small-pr

#44768 Bump pyobihai
  homeassistant/components/obihai/manifest.json
  requirements_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: obihai, small-pr

#44743 Drop remaining Python < 3.8 support
  .pre-commit-config.yaml
  .readthedocs.yml
  azure-pipelines-release.yml
  azure-pipelines-translation.yml
  homeassistant/bootstrap.py
  homeassistant/core.py
  homeassistant/package_constraints.txt
  homeassistant/runner.py
  homeassistant/util/package.py
  homeassistant/util/thread.py
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
  tests/components/plex/mock_classes.py
  tests/components/webostv/test_media_player.py
  tox.ini
Labels: cla-signed, code-quality, core, has-tests, integration: plex, integration: webostv, small-pr

#44730 Fix race when handling MQTT discovery messages
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/camera.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/device_automation.py
  homeassistant/components/mqtt/device_tracker/schema_discovery.py
  homeassistant/components/mqtt/device_trigger.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/light/__init__.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/scene.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/tag.py
  homeassistant/components/mqtt/vacuum/__init__.py
  tests/components/mqtt/test_discovery.py
Labels: bugfix, by-code-owner, cla-signed, core, has-tests, integration: mqtt

#44769 Fix bug with blink auth flow
  homeassistant/components/blink/config_flow.py
Labels: bugfix, cla-signed, integration: blink, small-pr

#44766 Change WHITELIST to ALLOWLIST for websockets
  homeassistant/components/websocket_api/commands.py
  homeassistant/components/websocket_api/permissions.py
Labels: cla-signed, code-quality, core, integration: websocket_api, small-pr

#43644 Add more debug details to running timeouts
  homeassistant/bootstrap.py
  homeassistant/util/timeout.py
  tests/util/test_timeout.py
Labels: cla-signed, core

#44692 Change rest sensors update interval for Shelly Motion
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/const.py
Labels: bugfix, by-code-owner, cla-signed, integration: shelly, small-pr

#44790 Cleanup timeouts values for Shelly
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/config_flow.py
  homeassistant/components/shelly/const.py
  tests/components/shelly/test_config_flow.py
Labels: bugfix, cla-signed, code-quality, integration: shelly, small-pr

#44814 Add myself to code owners for Shelly
  CODEOWNERS
  homeassistant/components/shelly/manifest.json
Labels: cla-signed, code-quality, integration: shelly, small-pr

#44788 Try to fix flaky Risco test
  homeassistant/components/risco/__init__.py
  homeassistant/components/risco/sensor.py
  tests/components/risco/test_alarm_control_panel.py
  tests/components/risco/test_sensor.py
  tests/components/risco/util.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: risco, small-pr

#44407 Add device entry id to events
  homeassistant/components/rfxtrx/__init__.py
  tests/components/rfxtrx/test_init.py
Labels: by-code-owner, cla-signed, has-tests, integration: rfxtrx, new-feature, small-pr

#44203 Fix Fan support in nest climate by adding HVAC_MODE_FAN_ONLY support
  homeassistant/components/nest/climate_sdm.py
  tests/components/nest/climate_sdm_test.py
  tests/components/nest/conftest.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: nest, small-pr

#44728 Add Ondilo ico integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/ondilo_ico/__init__.py
  homeassistant/components/ondilo_ico/api.py
  homeassistant/components/ondilo_ico/config_flow.py
  homeassistant/components/ondilo_ico/const.py
  homeassistant/components/ondilo_ico/manifest.json
  homeassistant/components/ondilo_ico/oauth_impl.py
  homeassistant/components/ondilo_ico/sensor.py
  homeassistant/components/ondilo_ico/strings.json
  homeassistant/components/ondilo_ico/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ondilo_ico/__init__.py
  tests/components/ondilo_ico/test_config_flow.py
Labels: cla-signed, has-tests, integration: ondilo_ico, new-integration

#44796 Adjust system info for lovelace with multiple dashboards
  homeassistant/components/lovelace/const.py
  homeassistant/components/lovelace/system_health.py
Labels: bugfix, cla-signed, core, integration: lovelace

#44824 Updated Ondilo translation files to remove title
  homeassistant/components/ondilo_ico/strings.json
  homeassistant/components/ondilo_ico/translations/en.json
Labels: by-code-owner, cla-signed, code-quality, integration: ondilo_ico, small-pr

#44139 Move RainMachine services to entity services
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/services.yaml
  homeassistant/components/rainmachine/switch.py
Labels: breaking-change, by-code-owner, cla-signed, integration: rainmachine

#44828 Fix zeroconf outgoing dns compression corruption for large packets
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, core, dependency-bump, integration: zeroconf, small-pr

#44020 Add logbook and device trigger platforms to Shelly
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/const.py
  homeassistant/components/shelly/device_trigger.py
  homeassistant/components/shelly/logbook.py
  homeassistant/components/shelly/strings.json
  homeassistant/components/shelly/translations/en.json
  homeassistant/components/shelly/utils.py
  tests/components/shelly/conftest.py
  tests/components/shelly/test_device_trigger.py
  tests/components/shelly/test_logbook.py
Labels: by-code-owner, cla-signed, integration: shelly, new-feature

#44288 Add nearest method to get data for Airly integration
  homeassistant/components/airly/__init__.py
  homeassistant/components/airly/air_quality.py
  homeassistant/components/airly/config_flow.py
  homeassistant/components/airly/const.py
  homeassistant/components/airly/sensor.py
  tests/components/airly/__init__.py
  tests/components/airly/test_config_flow.py
  tests/components/airly/test_init.py
Labels: by-code-owner, cla-signed, has-tests, integration: airly, new-feature

#42331 Generate switches for harmony activities automatically
  .coveragerc
  CODEOWNERS
  homeassistant/components/harmony/__init__.py
  homeassistant/components/harmony/connection_state.py
  homeassistant/components/harmony/const.py
  homeassistant/components/harmony/data.py
  homeassistant/components/harmony/manifest.json
  homeassistant/components/harmony/remote.py
  homeassistant/components/harmony/subscriber.py
  homeassistant/components/harmony/switch.py
  tests/components/harmony/conftest.py
  tests/components/harmony/const.py
  tests/components/harmony/test_activity_changes.py
  tests/components/harmony/test_commands.py
  tests/components/harmony/test_config_flow.py
  tests/components/harmony/test_connection_changes.py
  tests/components/harmony/test_subscriber.py
Labels: Hacktoberfest, cla-signed, code-quality, hacktoberfest-accepted, has-tests, integration: harmony, new-feature, new-platform

#44815 Bump caldav version to 0.7.1
  homeassistant/components/caldav/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: caldav, small-pr

#44406 Complete device and entity registry type hints
  homeassistant/helpers/device_registry.py
  homeassistant/helpers/entity_registry.py
Labels: cla-signed, core

#44829 Implement color mode for ZHA light polling to fix color_temp and color_x/y states
  homeassistant/components/zha/light.py
Labels: bugfix, cla-signed, integration: zha, small-pr

#44755 Propose an integration quality for nest SDM integration
  homeassistant/components/nest/manifest.json
Labels: by-code-owner, cla-signed, dependency-bump, integration: nest, small-pr

#44834 Bump pypck to 0.7.8
  homeassistant/components/lcn/__init__.py
  homeassistant/components/lcn/binary_sensor.py
  homeassistant/components/lcn/climate.py
  homeassistant/components/lcn/cover.py
  homeassistant/components/lcn/light.py
  homeassistant/components/lcn/manifest.json
  homeassistant/components/lcn/sensor.py
  homeassistant/components/lcn/switch.py
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, integration: lcn

#41585 Add support for reordering Shopping List Items via Drag and Drop
  homeassistant/components/shopping_list/__init__.py
  tests/components/shopping_list/test_init.py
Labels: Hacktoberfest, cla-signed, core, hacktoberfest-accepted, has-tests, integration: shopping_list

#44563 Add Vicare set mode service
  homeassistant/components/vicare/climate.py
  homeassistant/components/vicare/services.yaml
Labels: cla-signed

#44655 Better general/fallback error message and traceback for unknown config errors
  homeassistant/config.py
  homeassistant/helpers/check_config.py
Labels: cla-signed, code-quality, core, small-pr

#44847 Bump openwebifpy version: 3.1.6 → 3.2.7
  homeassistant/components/enigma2/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, integration: enigma2, small-pr

#44839 Make Alexa custom ID unique
  homeassistant/components/alexa/config.py
  homeassistant/components/alexa/entities.py
  homeassistant/components/alexa/smart_home_http.py
  homeassistant/components/cloud/alexa_config.py
  homeassistant/components/cloud/client.py
  homeassistant/components/cloud/google_config.py
  homeassistant/components/cloud/http_api.py
  tests/components/alexa/__init__.py
  tests/components/alexa/test_entities.py
  tests/components/cloud/test_alexa_config.py
Labels: bugfix, cla-signed, core, has-tests, integration: alexa, integration: cloud

#44842 Patch Shelly test setting up entry
  tests/components/shelly/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: shelly, small-pr

#44756 Fix opentherm_gw firmware version in device registry
  homeassistant/components/opentherm_gw/__init__.py
  tests/components/opentherm_gw/test_init.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: opentherm_gw, small-pr

#44854 Fix Canary doing I/O in event loop
  homeassistant/components/canary/camera.py
Labels: cla-signed, integration: canary, small-pr

#44845 Avoid Ps4 doing I/O during tests
  tests/components/ps4/conftest.py
  tests/components/ps4/test_media_player.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: ps4, integration: shelly, small-pr

#44861 Update frontend to 20201229.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#44739 Add MQTT Number
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/number.py
  tests/components/mqtt/test_number.py
Labels: cla-signed, core, integration: mqtt, new-feature, small-pr

#44484 Support dynamic Google Cast groups
  homeassistant/components/cast/discovery.py
  homeassistant/components/cast/helpers.py
  homeassistant/components/cast/manifest.json
  homeassistant/components/cast/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cast/test_media_player.py
Labels: by-code-owner, cla-signed, has-tests, integration: cast, new-feature

#44837 Address late review of ondilo_ico
  homeassistant/components/ondilo_ico/api.py
  homeassistant/components/ondilo_ico/manifest.json
  homeassistant/components/ondilo_ico/sensor.py
  tests/components/ondilo_ico/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: ondilo_ico, small-pr

#44870 Improve MQTT number test coverage
  tests/components/mqtt/test_number.py
Labels: by-code-owner, cla-signed, code-quality, core, has-tests, integration: mqtt, small-pr

#44866 Bump python-ecobee-api to 0.2.8
  homeassistant/components/ecobee/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, cla-signed, dependency, dependency-bump, integration: ecobee, small-pr

#44871 Bump pychromecast to 7.7.2
  homeassistant/components/cast/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: cast, small-pr

#44863 Fix Plex media summary attribute
  homeassistant/components/plex/media_player.py
Labels: bugfix, by-code-owner, cla-signed, integration: plex, small-pr

#44638 Generate nest images thumbnails from events
  homeassistant/components/nest/camera_sdm.py
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nest/camera_sdm_test.py
  tests/components/nest/climate_sdm_test.py
  tests/components/nest/conftest.py
Labels: by-code-owner, cla-signed, dependency, has-tests, integration: nest, new-feature

#44884 Revert "Bump pypck to 0.7.8"
  homeassistant/components/lcn/__init__.py
  homeassistant/components/lcn/binary_sensor.py
  homeassistant/components/lcn/climate.py
  homeassistant/components/lcn/cover.py
  homeassistant/components/lcn/light.py
  homeassistant/components/lcn/manifest.json
  homeassistant/components/lcn/sensor.py
  homeassistant/components/lcn/switch.py
  requirements_all.txt
Labels: cla-signed, integration: lcn, small-pr

#44872 Fix notion bridge id update device registry identifier usage
  homeassistant/components/notion/__init__.py
Labels: bugfix, cla-signed, integration: notion, small-pr

#44885 Revert "Revert "Bump pypck to 0.7.8""
  homeassistant/components/lcn/__init__.py
  homeassistant/components/lcn/binary_sensor.py
  homeassistant/components/lcn/climate.py
  homeassistant/components/lcn/cover.py
  homeassistant/components/lcn/light.py
  homeassistant/components/lcn/manifest.json
  homeassistant/components/lcn/sensor.py
  homeassistant/components/lcn/switch.py
  requirements_all.txt
Labels: cla-signed, integration: lcn

#44891 Run zwave_js scaffold
  .coveragerc
  CODEOWNERS
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/const.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/components/zwave_js/strings.json
  homeassistant/components/zwave_js/translations/en.json
  homeassistant/generated/config_flows.py
  script/hassfest/coverage.py
  tests/components/zwave_js/__init__.py
  tests/components/zwave_js/test_config_flow.py
Labels: cla-signed, has-tests, integration: zwave_js, new-integration

#44888 Bump pydaikin version to 2.4.1
  homeassistant/components/daikin/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, cla-signed, dependency, dependency-bump, integration: daikin, small-pr

#44904 Add zwave_js basic connection to zwave server
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/const.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/components/zwave_js/strings.json
  homeassistant/components/zwave_js/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zwave_js

#44897 Make DeviceRegistry.async_get_device connections arg optional
  homeassistant/components/acmeda/base.py
  homeassistant/components/acmeda/helpers.py
  homeassistant/components/broadlink/device.py
  homeassistant/components/heos/__init__.py
  homeassistant/components/hue/helpers.py
  homeassistant/components/insteon/utils.py
  homeassistant/components/kodi/media_player.py
  homeassistant/components/nest/__init__.py
  homeassistant/components/notion/__init__.py
  homeassistant/components/ozw/__init__.py
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/zwave/__init__.py
  homeassistant/components/zwave/node_entity.py
  homeassistant/helpers/device_registry.py
  tests/components/august/test_binary_sensor.py
  tests/components/august/test_lock.py
  tests/components/bond/test_init.py
  tests/components/broadlink/test_device.py
  tests/components/broadlink/test_remote.py
  tests/components/broadlink/test_sensors.py
  tests/components/canary/test_sensor.py
  tests/components/gogogate2/test_cover.py
  tests/components/heos/test_media_player.py
  tests/components/homekit/test_homekit.py
  tests/components/hue/test_device_trigger.py
  tests/components/mqtt/test_common.py
  tests/components/mqtt/test_device_tracker_discovery.py
  tests/components/mqtt/test_device_trigger.py
  tests/components/mqtt/test_discovery.py
  tests/components/mqtt/test_init.py
  tests/components/mqtt/test_sensor.py
  tests/components/mqtt/test_tag.py
  tests/components/nest/test_device_trigger.py
  tests/components/onewire/test_entity_owserver.py
  tests/components/onewire/test_entity_sysbus.py
  tests/components/opentherm_gw/test_init.py
  tests/components/powerwall/test_sensor.py
  tests/components/ps4/test_media_player.py
  tests/components/rfxtrx/test_init.py
  tests/components/risco/test_alarm_control_panel.py
  tests/components/risco/test_binary_sensor.py
  tests/components/sharkiq/test_vacuum.py
  tests/components/smartthings/test_binary_sensor.py
  tests/components/smartthings/test_climate.py
  tests/components/smartthings/test_cover.py
  tests/components/smartthings/test_fan.py
  tests/components/smartthings/test_light.py
  tests/components/smartthings/test_lock.py
  tests/components/smartthings/test_sensor.py
  tests/components/smartthings/test_switch.py
  tests/components/songpal/test_media_player.py
  tests/components/sonos/test_media_player.py
  tests/components/twinkly/test_twinkly.py
  tests/components/zha/test_device_action.py
  tests/components/zha/test_device_trigger.py
  tests/helpers/test_device_registry.py
  tests/helpers/test_entity_platform.py
Labels: cla-signed

#44879 Homekit has two types
  homeassistant/components/zeroconf/__init__.py
  tests/components/zeroconf/test_init.py
Labels: cla-signed, has-tests, integration: zeroconf, new-feature, small-pr

#44044 Rewrite Plex tests to use mocked payloads
  .coveragerc
  homeassistant/components/plex/server.py
  tests/components/plex/conftest.py
  tests/components/plex/const.py
  tests/components/plex/mock_classes.py
  tests/components/plex/test_browse_media.py
  tests/components/plex/test_config_flow.py
  tests/components/plex/test_init.py
  tests/components/plex/test_media_players.py
  tests/components/plex/test_playback.py
  tests/components/plex/test_server.py
  tests/components/plex/test_services.py
  tests/fixtures/plex/album.xml
  tests/fixtures/plex/artist_albums.xml
  tests/fixtures/plex/children_20.xml
  tests/fixtures/plex/children_200.xml
  tests/fixtures/plex/children_30.xml
  tests/fixtures/plex/children_300.xml
  tests/fixtures/plex/empty_library.xml
  tests/fixtures/plex/empty_payload.xml
  tests/fixtures/plex/grandchildren_300.xml
  tests/fixtures/plex/library.xml
  tests/fixtures/plex/library_movies_all.xml
  tests/fixtures/plex/library_movies_sort.xml
  tests/fixtures/plex/library_music_all.xml
  tests/fixtures/plex/library_music_sort.xml
  tests/fixtures/plex/library_sections.xml
  tests/fixtures/plex/library_tvshows_all.xml
  tests/fixtures/plex/library_tvshows_sort.xml
  tests/fixtures/plex/media_1.xml
  tests/fixtures/plex/media_100.xml
  tests/fixtures/plex/media_200.xml
  tests/fixtures/plex/media_30.xml
  tests/fixtures/plex/player_plexweb_resources.xml
  tests/fixtures/plex/playlist_500.xml
  tests/fixtures/plex/playlists.xml
  tests/fixtures/plex/playqueue_created.xml
  tests/fixtures/plex/plex_server_accounts.xml
  tests/fixtures/plex/plex_server_base.xml
  tests/fixtures/plex/plex_server_clients.xml
  tests/fixtures/plex/plextv_account.xml
  tests/fixtures/plex/plextv_resources_base.xml
  tests/fixtures/plex/security_token.xml
  tests/fixtures/plex/session_base.xml
  tests/fixtures/plex/session_photo.xml
  tests/fixtures/plex/session_plexweb.xml
  tests/fixtures/plex/show_seasons.xml
  tests/fixtures/plex/sonos_resources.xml
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: plex, small-pr

#44919 Improve device registry type hints
  homeassistant/helpers/device_registry.py
Labels: cla-signed, code-quality, core, small-pr

#44924 Update nexia to 0.9.5
  CODEOWNERS
  homeassistant/components/nexia/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, integration: nexia, small-pr

#40520 Implement support for additional ecobee hold modes
  homeassistant/components/ecobee/climate.py
  tests/components/ecobee/test_climate.py
Labels: breaking-change, cla-signed, has-tests, integration: ecobee, small-pr

#44416 Use parent_id to find cause of logbook events with new contexts
  homeassistant/components/logbook/__init__.py
  tests/components/logbook/test_init.py
Labels: bugfix, cla-signed, core, has-tests, integration: logbook

#44943 Use zwave js server version check instead of fetching full state
  .coveragerc
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/components/zwave_js/strings.json
  homeassistant/components/zwave_js/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zwave_js/test_config_flow.py
Labels: cla-signed, has-tests, integration: zwave_js, small-pr

#44926 Fix KNX cover state return open when unknown
  homeassistant/components/knx/cover.py
Labels: bugfix, by-code-owner, cla-signed, integration: knx, small-pr

#44941 Upgrade discord.py to 1.6.0
  homeassistant/components/discord/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: discord, small-pr

#44942 Upgrade youtube_dl to 2021.01.03
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: media_extractor, small-pr

#44938 Fix wait_template incorrectly matching falsey values
  homeassistant/helpers/script.py
  tests/helpers/test_script.py
Labels: cla-signed, core

#44874 Fix media renderers without volume control
  homeassistant/components/dlna_dmr/media_player.py
Labels: cla-signed, integration: dlna_dmr, small-pr

#44927 Add zwave_js entity discovery basics and sensor platform
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/const.py
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/sensor.py
  homeassistant/components/zwave_js/strings.json
  homeassistant/components/zwave_js/translations/en.json
  script/hassfest/coverage.py
Labels: cla-signed, integration: zwave_js, new-platform

#44921 Prefix versions in system health
  homeassistant/components/hassio/system_health.py
  homeassistant/components/hassio/translations/en.json
  homeassistant/components/homeassistant/system_health.py
  tests/components/hassio/test_system_health.py
Labels: cla-signed, core, integration: hassio, integration: homeassistant, small-pr

#44187 Add torrent id to Transmission events
  homeassistant/components/transmission/__init__.py
  homeassistant/components/transmission/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: transmission, small-pr

#44940 Disambiguate Supervisor HTTPUnauthorized on user/password validation
  homeassistant/components/hassio/auth.py
  tests/components/hassio/test_auth.py
Labels: bugfix, cla-signed, core, integration: hassio, small-pr

#44957 Fix Netatmo climate boost for valves
  homeassistant/components/netatmo/climate.py
Labels: by-code-owner, cla-signed, integration: netatmo, small-pr

#44960 Complete zwave_js typing
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/sensor.py
  setup.cfg
Labels: cla-signed, integration: zwave_js

#44955 Complete zwave_js config flow test coverage
  .coveragerc
  tests/components/zwave_js/test_config_flow.py
Labels: cla-signed, has-tests, integration: zwave_js, small-pr

#44883 Add MQTT Number (non optimistic)
  homeassistant/components/mqtt/number.py
  tests/components/mqtt/test_number.py
Labels: cla-signed, code-quality, core, has-tests, integration: mqtt, new-feature

#44967 Remove script/test
  script/test
Labels: cla-signed, code-quality, small-pr

#44964 Helpers type hint improvements
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/script.py
  homeassistant/helpers/template.py
Labels: cla-signed, code-quality, core

#44968 Correct zwave_js sensor device class
  homeassistant/components/zwave_js/sensor.py
Labels: cla-signed, integration: zwave_js, small-pr

#44966 Fix zwave_js KeyError on entry setup timeout
  homeassistant/components/zwave_js/__init__.py
Labels: cla-signed, integration: zwave_js, small-pr

#44838 Move MQTT entity helpers to separate file
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/camera.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/device_automation.py
  homeassistant/components/mqtt/device_tracker/schema_discovery.py
  homeassistant/components/mqtt/device_trigger.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/light/__init__.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_json.py
  homeassistant/components/mqtt/light/schema_template.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/scene.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/tag.py
  homeassistant/components/mqtt/vacuum/__init__.py
  homeassistant/components/mqtt/vacuum/schema_legacy.py
  homeassistant/components/mqtt/vacuum/schema_state.py
  tests/components/mqtt/test_init.py
Labels: by-code-owner, cla-signed, code-quality, core, has-tests, integration: mqtt

#44950 Fix parameters when toggling light
  homeassistant/components/light/__init__.py
  tests/components/light/test_init.py
Labels: bugfix, cla-signed, core, has-tests, integration: light, small-pr

#44975 Bump zwave-js-server-python to 0.5.0
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: zwave_js, small-pr

#44970 Deduplicate MQTT entity discovery code
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/camera.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/device_automation.py
  homeassistant/components/mqtt/device_tracker/schema_discovery.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/light/__init__.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/scene.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/tag.py
  homeassistant/components/mqtt/vacuum/__init__.py
Labels: by-code-owner, cla-signed, code-quality, core, integration: mqtt

#44965 Add pressure forecast to HA weather entity model
  homeassistant/components/weather/__init__.py
Labels: cla-signed, core, integration: weather, new-feature, small-pr

#39081 Add zwave to ozw migration
  homeassistant/components/ozw/__init__.py
  homeassistant/components/ozw/config_flow.py
  homeassistant/components/ozw/const.py
  homeassistant/components/ozw/manifest.json
  homeassistant/components/ozw/migration.py
  homeassistant/components/ozw/websocket_api.py
  homeassistant/components/zwave/__init__.py
  homeassistant/components/zwave/manifest.json
  homeassistant/components/zwave/websocket_api.py
  tests/components/ozw/conftest.py
  tests/components/ozw/test_config_flow.py
  tests/components/ozw/test_migration.py
  tests/components/zwave/test_websocket_api.py
  tests/fixtures/ozw/migration_fixture.csv
Labels: by-code-owner, cla-signed, has-tests, integration: ozw, integration: zwave

#44961 Bump pymyq to 2.0.13
  homeassistant/components/myq/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, cla-signed, dependency, dependency-bump, integration: myq, small-pr

#44982 2021.1.1
  homeassistant/components/hassio/auth.py
  homeassistant/components/knx/cover.py
  homeassistant/components/light/__init__.py
  homeassistant/components/myq/manifest.json
  homeassistant/const.py
  homeassistant/helpers/script.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/hassio/test_auth.py
  tests/components/light/test_init.py
  tests/helpers/test_script.py
Labels: cla-signed, core, has-tests, integration: hassio, integration: knx, integration: light, integration: myq, merging-to-master

#44971 Add MQTT base entity
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/camera.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/device_tracker/schema_discovery.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_json.py
  homeassistant/components/mqtt/light/schema_template.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/vacuum/schema_legacy.py
  homeassistant/components/mqtt/vacuum/schema_state.py
Labels: by-code-owner, cla-signed, code-quality, core, integration: mqtt

#44989 Upgrade requests to 2.25.1
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Labels: cla-signed, core, dependency, small-pr

#44994 Remove stale callback signal from zwave_js
  homeassistant/components/zwave_js/entity.py
Labels: cla-signed, integration: zwave_js, small-pr

#44998 Bump nest library to improve client error handling
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: nest, small-pr

#44974 Add light platform to zwave_js integration
  homeassistant/components/zwave_js/const.py
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/light.py
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zwave_js, new-feature, new-platform

#44622 Add stop support to openzwave (mqtt) cover
  homeassistant/components/ozw/cover.py
  tests/components/ozw/test_cover.py
Labels: cla-signed, has-tests, integration: ozw, small-pr

#45006 Improve unifi performance with many devices
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/device_tracker.py
  tests/components/unifi/test_device_tracker.py
Labels: cla-signed, has-tests, integration: unifi

#44983 Add zwave_js test foundation
  .pre-commit-config.yaml
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_sensor.py
  tests/fixtures/zwave_js/controller_state.json
  tests/fixtures/zwave_js/multisensor_6_state.json
Labels: cla-signed, has-tests, integration: zwave_js, small-pr

#44977 Add config flow for somfy_mylink
  .coveragerc
  CODEOWNERS
  homeassistant/components/somfy_mylink/__init__.py
  homeassistant/components/somfy_mylink/config_flow.py
  homeassistant/components/somfy_mylink/const.py
  homeassistant/components/somfy_mylink/cover.py
  homeassistant/components/somfy_mylink/manifest.json
  homeassistant/components/somfy_mylink/strings.json
  homeassistant/components/somfy_mylink/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_test_all.txt
  tests/components/somfy_mylink/__init__.py
  tests/components/somfy_mylink/test_config_flow.py
Labels: cla-signed, has-tests, integration: somfy_mylink

#44999 Warn users when their HomeKit configuration is like to be unstable
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/strings.json
  homeassistant/components/homekit/translations/en.json
  tests/components/homekit/test_homekit.py
Labels: by-code-owner, cla-signed, integration: homekit

#45021 Minor cleanup Z-Wave JS
  .coveragerc
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/entity.py
Labels: cla-signed, integration: zwave_js

#45022 Include current version in updater log output
  homeassistant/components/updater/__init__.py
Labels: cla-signed, code-quality, core, integration: updater, small-pr

#45023 Update zwave_js device_info
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/entity.py
Labels: bugfix, cla-signed, integration: zwave_js, small-pr

#44937 Use the camera UUID as the entity unique id
  homeassistant/components/uvc/camera.py
  tests/components/uvc/test_camera.py
Labels: bugfix, cla-signed, integration: uvc, small-pr

#45020 Add zwave_js integration
  .coveragerc
  .pre-commit-config.yaml
  CODEOWNERS
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/const.py
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/light.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/components/zwave_js/sensor.py
  homeassistant/components/zwave_js/strings.json
  homeassistant/components/zwave_js/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  setup.cfg
  tests/components/zwave_js/__init__.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_config_flow.py
  tests/components/zwave_js/test_sensor.py
  tests/fixtures/zwave_js/controller_state.json
  tests/fixtures/zwave_js/multisensor_6_state.json
Labels: cla-signed, has-tests, integration: zwave_js, new-integration

#45033 Shutdown asyncio http server within 10 seconds
  homeassistant/components/http/web_runner.py
Labels: cla-signed, core, integration: http, small-pr

#45029 Increase timeout to avoid killing the core during shutdown
  Dockerfile
Labels: cla-signed, code-quality, small-pr

#45044 Remove empty schema
  homeassistant/components/flo/__init__.py
  homeassistant/components/intent/__init__.py
  homeassistant/components/kulersky/__init__.py
  homeassistant/components/lirc/__init__.py
  homeassistant/components/onvif/__init__.py
  homeassistant/components/ozw/__init__.py
  homeassistant/components/plugwise/gateway.py
  homeassistant/components/stream/__init__.py
  script/scaffold/templates/config_flow/integration/__init__.py
  script/scaffold/templates/config_flow_discovery/integration/__init__.py
Labels: cla-signed

#45028 Remove safe mode from HomeKit
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/config_flow.py
  homeassistant/components/homekit/strings.json
  homeassistant/components/homekit/translations/en.json
  tests/components/homekit/test_config_flow.py
  tests/components/homekit/test_homekit.py
Labels: by-code-owner, cla-signed, has-tests, integration: homekit, small-pr

#45045 Bump zwave-js-server-python to 0.7.0
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: zwave_js, small-pr

#45025 Repair flaky and broken stream tests in test_hls.py, and turn back on
  homeassistant/components/stream/core.py
  homeassistant/components/stream/hls.py
  homeassistant/components/stream/worker.py
  tests/components/stream/test_hls.py
Labels: cla-signed, core, has-tests, integration: stream, small-pr
