Repository home-assistant/core, pull requests merged in 2021-11, with the labels that each got.

#58378 Mobile app to update entity registry on re-register sensors
  homeassistant/components/mobile_app/binary_sensor.py
  homeassistant/components/mobile_app/sensor.py
  homeassistant/components/mobile_app/webhook.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/entity_registry.py
  tests/components/mobile_app/test_webhook.py
Labels: Hacktoberfest, core, cla-signed, integration: mobile_app, has-tests, bugfix, hacktoberfest-accepted

#58840 Add `configuration_url` to GIOS integration
  homeassistant/components/gios/const.py
  homeassistant/components/gios/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, by-code-owner, integration: gios, hacktoberfest-accepted, smash

#58822 Improve part metadata in stream
  homeassistant/components/stream/worker.py
  tests/components/stream/test_worker.py
Labels: Hacktoberfest, core, cla-signed, integration: stream, has-tests, by-code-owner, bugfix, hacktoberfest-accepted

#58854 Migrate attribution attribute for Zestimate
  homeassistant/components/zestimate/sensor.py
Labels: cla-signed, small-pr, integration: zestimate, code-quality

#58855 Upgrade coverage to 6.1.1
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#58764 Add device_class for GEM power and voltage sensors
  homeassistant/components/greeneye_monitor/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: greeneye_monitor, code-quality, hacktoberfest-accepted

#58870 Upgrade black to 21.10b0
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr, dependency, smash

#58871 Use attr and entity descriptions for Twente Milieu sensors
  homeassistant/components/twentemilieu/sensor.py
Labels: cla-signed, integration: twentemilieu, by-code-owner, code-quality

#58839 Move WLED sensors to entity descriptions
  homeassistant/components/wled/const.py
  homeassistant/components/wled/sensor.py
  tests/components/wled/test_sensor.py
Labels: Hacktoberfest, cla-signed, has-tests, by-code-owner, integration: wled, code-quality, hacktoberfest-accepted

#58858 Perform some AirVisual code cleanup
  homeassistant/components/airvisual/__init__.py
  homeassistant/components/airvisual/config_flow.py
Labels: cla-signed, small-pr, integration: airvisual, by-code-owner, code-quality, smash

#58869 Perform some WattTime code cleanup
  homeassistant/components/watttime/__init__.py
  homeassistant/components/watttime/const.py
  homeassistant/components/watttime/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, smash, integration: watttime

#58868 Perform some Tile code cleanup
  homeassistant/components/tile/__init__.py
  homeassistant/components/tile/device_tracker.py
Labels: cla-signed, small-pr, integration: tile, by-code-owner, code-quality, smash

#58867 Perform some SimpliSafe code cleanup
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/alarm_control_panel.py
  homeassistant/components/simplisafe/binary_sensor.py
  homeassistant/components/simplisafe/const.py
  homeassistant/components/simplisafe/lock.py
  homeassistant/components/simplisafe/sensor.py
Labels: cla-signed, small-pr, integration: simplisafe, by-code-owner, code-quality, smash

#58881 Set internal quality_scale for the hassio integration
  homeassistant/components/hassio/manifest.json
Labels: core, cla-signed, integration: hassio, small-pr, code-quality, dependency-bump

#58850 Simplify requests in the Broadlink integration
  homeassistant/components/broadlink/entity.py
  homeassistant/components/broadlink/light.py
  homeassistant/components/broadlink/remote.py
  homeassistant/components/broadlink/switch.py
Labels: Hacktoberfest, cla-signed, integration: broadlink, by-code-owner, code-quality, hacktoberfest-accepted

#58736 Fix OpenWeatherMap options not being initialized the first time
  homeassistant/components/openweathermap/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: openweathermap, bugfix, hacktoberfest-accepted

#58826 Add ROCKROBO_S4_MAX to supported xiaomi vacuums
  homeassistant/components/xiaomi_miio/const.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: xiaomi_miio, hacktoberfest-accepted

#58784 Use _attr_ shorthand in greeneye_monitor sensors
  homeassistant/components/greeneye_monitor/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: greeneye_monitor, by-code-owner, code-quality, hacktoberfest-accepted, smash

#58802 Add type annotations to OpenWeatherMap
  homeassistant/components/openweathermap/__init__.py
  homeassistant/components/openweathermap/sensor.py
  homeassistant/components/openweathermap/weather.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: openweathermap, code-quality, hacktoberfest-accepted

#58010 Check for uncaught service not found exceptions
  tests/components/alert/test_init.py
  tests/components/blueprint/conftest.py
  tests/components/config/test_automation.py
  tests/components/config/test_customize.py
  tests/components/config/test_scene.py
  tests/components/config/test_script.py
  tests/components/homekit/test_type_fans.py
  tests/conftest.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality, hacktoberfest-accepted

#58885 Use entity_registry async_get for AsusWrt
  homeassistant/components/asuswrt/router.py
Labels: cla-signed, small-pr, integration: asuswrt, by-code-owner, code-quality

#58891 Update xknx to 0.18.12
  homeassistant/components/knx/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: knx, small-pr, new-feature, by-code-owner, dependency-bump, smash

#58875 Fix renamed solaredge sensor keys
  homeassistant/components/solaredge/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: solaredge, hacktoberfest-accepted

#58880 Handle `None` values in Xiaomi Miio integration
  homeassistant/components/xiaomi_miio/binary_sensor.py
  homeassistant/components/xiaomi_miio/device.py
  homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/humidifier.py
  homeassistant/components/xiaomi_miio/number.py
  homeassistant/components/xiaomi_miio/select.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/components/xiaomi_miio/switch.py
Labels: cla-signed, integration: xiaomi_miio, by-code-owner, bugfix

#58894 Fix find_next_time_expression_time
  homeassistant/util/dt.py
  tests/helpers/test_event.py
  tests/util/test_dt.py
Labels: core, cla-signed, bugfix

#58903 Use async_track_utc_time_change to schedule short term statistics
  homeassistant/components/recorder/__init__.py
  homeassistant/helpers/event.py
Labels: core, integration: recorder, cla-signed, small-pr, code-quality

#57521 Add classes for new Homematic devicetypes/devices (HmIP-SMI, HmIP-DRSI1)
  homeassistant/components/homematic/binary_sensor.py
  homeassistant/components/homematic/const.py
Labels: Hacktoberfest, cla-signed, integration: homematic, small-pr, dependency, hacktoberfest-accepted

#58804 Add type annotations for MET
  homeassistant/components/met/__init__.py
  homeassistant/components/met/weather.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: met, code-quality, hacktoberfest-accepted

#58914 Fix recursive limit in find_next_time_expression_time
  homeassistant/util/dt.py
  tests/helpers/test_event.py
Labels: core, cla-signed

#58908 Bump pyinsteon to 1.0.13
  homeassistant/components/insteon/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: insteon, by-code-owner, bugfix, dependency-bump, smash

#58911 Add `configuration_url` to Airly integration
  homeassistant/components/airly/const.py
  homeassistant/components/airly/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: airly, by-code-owner

#58901 Add ROCKROBO_S6_PURE to supported vacuums for xiaomi_miio
  homeassistant/components/xiaomi_miio/const.py
Labels: cla-signed, small-pr, integration: xiaomi_miio

#58807 Split wallbox sensor type and number type
  homeassistant/components/wallbox/__init__.py
  homeassistant/components/wallbox/const.py
  homeassistant/components/wallbox/number.py
  homeassistant/components/wallbox/sensor.py
  tests/components/wallbox/__init__.py
Labels: Hacktoberfest, cla-signed, has-tests, by-code-owner, code-quality, hacktoberfest-accepted, integration: wallbox

#58924 Address late review of motionEye services
  homeassistant/components/motioneye/camera.py
  tests/components/motioneye/test_camera.py
Labels: cla-signed, small-pr, integration: motioneye, has-tests, by-code-owner, code-quality, smash

#58937 Add libav.mpegts to stream logging filter
  homeassistant/components/stream/__init__.py
Labels: core, cla-signed, small-pr, integration: stream, by-code-owner, bugfix

#58947 Revert "Add offset support to time trigger"
  homeassistant/components/homeassistant/triggers/time.py
  tests/components/homeassistant/triggers/test_time.py
Labels: core, cla-signed, small-pr, integration: homeassistant, has-tests

#58883 Add home/not_home icons to Asuswrt trackers
  homeassistant/components/asuswrt/device_tracker.py
Labels: cla-signed, small-pr, integration: asuswrt

#58934 Add command_template to mqtt select platform
  homeassistant/components/mqtt/select.py
  tests/components/mqtt/test_select.py
Labels: core, cla-signed, integration: mqtt, small-pr, new-feature, has-tests

#58931 Add device_class to MQTT switch
  homeassistant/components/mqtt/switch.py
  tests/components/mqtt/test_switch.py
Labels: core, cla-signed, integration: mqtt, small-pr, new-feature, has-tests

#58939 Use freezegun in DST tests
  requirements_test.txt
  tests/common.py
  tests/conftest.py
  tests/helpers/test_event.py
Labels: core, cla-signed, code-quality

#58754 Fix incorrect entity category in Advantage Air
  homeassistant/components/advantage_air/binary_sensor.py
  homeassistant/components/advantage_air/sensor.py
Labels: cla-signed, small-pr, bugfix, integration: advantage_air

#58949 Add command_template to MQTT number platform
  homeassistant/components/mqtt/number.py
  tests/components/mqtt/test_number.py
Labels: core, cla-signed, integration: mqtt, small-pr, new-feature, has-tests

#58944 Add support for TP-Link KL400L5
  homeassistant/components/tplink/manifest.json
  homeassistant/generated/dhcp.py
Labels: cla-signed, small-pr, new-feature, integration: tplink

#58835 Use zeroconf attributes (A-D)
  homeassistant/components/apple_tv/config_flow.py
  homeassistant/components/axis/config_flow.py
  homeassistant/components/bond/config_flow.py
  homeassistant/components/bosch_shc/config_flow.py
  homeassistant/components/brother/config_flow.py
  homeassistant/components/cast/config_flow.py
  homeassistant/components/daikin/config_flow.py
  homeassistant/components/devolo_home_control/config_flow.py
  homeassistant/components/devolo_home_network/config_flow.py
  homeassistant/components/doorbird/config_flow.py
  homeassistant/components/zeroconf/__init__.py
Labels: Hacktoberfest, cla-signed, code-quality, hacktoberfest-accepted, smash

#58836 Use zeroconf HaServiceInfo in tests (A-D)
  tests/components/apple_tv/test_config_flow.py
  tests/components/axis/test_config_flow.py
  tests/components/bond/test_config_flow.py
  tests/components/bosch_shc/test_config_flow.py
  tests/components/brother/test_config_flow.py
  tests/components/daikin/test_config_flow.py
  tests/components/devolo_home_control/const.py
  tests/components/devolo_home_network/const.py
  tests/components/doorbird/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: apple_tv, small-pr, has-tests, code-quality, hacktoberfest-accepted, smash

#58341 Fix color temp selection when brightness changed in Tuya light
  homeassistant/components/tuya/light.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya, bugfix, hacktoberfest-accepted

#58951 Extend Tuya Dimmer (tgq) support
  homeassistant/components/tuya/light.py
  homeassistant/components/tuya/select.py
Labels: cla-signed, small-pr, integration: tuya, by-code-owner

#58954 Add device configuration URL to Solar-Log
  homeassistant/components/solarlog/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: solarlog, by-code-owner

#58952 Add support for IoT Switches (tdq) in Tuya
  homeassistant/components/tuya/select.py
  homeassistant/components/tuya/switch.py
Labels: cla-signed, new-feature, integration: tuya, by-code-owner

#58887 Aurora abb defer unique_id assignment during yaml import
  homeassistant/components/aurora_abb_powerone/__init__.py
  homeassistant/components/aurora_abb_powerone/aurora_device.py
  homeassistant/components/aurora_abb_powerone/config_flow.py
  tests/components/aurora_abb_powerone/test_config_flow.py
  tests/components/aurora_abb_powerone/test_init.py
  tests/components/aurora_abb_powerone/test_sensor.py
Labels: cla-signed, small-pr, integration: aurora_abb_powerone, by-code-owner, bugfix

#58959 Add missing ZMW currency
  homeassistant/helpers/config_validation.py
Labels: core, cla-signed, small-pr, code-quality

#58925 Address late review of motionEye media browser
  homeassistant/components/motioneye/media_source.py
  tests/components/motioneye/test_media_source.py
Labels: cla-signed, small-pr, integration: motioneye, has-tests, by-code-owner, code-quality, smash

#58962 Fix broken ViCare burner & compressor sensors
  homeassistant/components/vicare/binary_sensor.py
  homeassistant/components/vicare/sensor.py
Labels: cla-signed, small-pr, integration: vicare, by-code-owner

#58298 Fix/Restore unique id of derived sent-sensors in UPNP/IGD
  homeassistant/components/upnp/sensor.py
Labels: Hacktoberfest, cla-signed, integration: upnp, small-pr, bugfix, hacktoberfest-accepted

#58988 Update frontend to 20211103.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency-bump

#58980 Fix battery_is_charging sensor on system bridge
  homeassistant/components/system_bridge/binary_sensor.py
Labels: cla-signed, small-pr, bugfix, integration: system_bridge

#58977 Bump pyMill to 0.7.4
  homeassistant/components/mill/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: mill, by-code-owner, merging-to-rc, bugfix, dependency-bump

#58995 Fix timedelta-based sensors for xiaomi_miio
  homeassistant/components/xiaomi_miio/device.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, by-code-owner, bugfix

#58504 Aurora abb improvements
  homeassistant/components/aurora_abb_powerone/__init__.py
  homeassistant/components/aurora_abb_powerone/aurora_device.py
  homeassistant/components/aurora_abb_powerone/config_flow.py
  homeassistant/components/aurora_abb_powerone/sensor.py
  homeassistant/components/aurora_abb_powerone/strings.json
  tests/components/aurora_abb_powerone/test_config_flow.py
  tests/components/aurora_abb_powerone/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: aurora_abb_powerone, by-code-owner, code-quality, hacktoberfest-accepted

#59008 Bump aiopvpc to 2.2.1
  homeassistant/components/pvpc_hourly_pricing/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: pvpc_hourly_pricing, bugfix, dependency-bump

#58801 Add state class to wallbox component
  homeassistant/components/wallbox/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, by-code-owner, hacktoberfest-accepted, integration: wallbox, smash

#59048 Correct migration to recorder schema 22
  homeassistant/components/recorder/migration.py
Labels: core, integration: recorder, cla-signed, small-pr, bugfix

#59051 Increase time to authorize OctoPrint
  homeassistant/components/octoprint/config_flow.py
Labels: cla-signed, integration: octoprint, small-pr, bugfix

#59043 Constrain urllib3 to >=1.26.5
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, dependency, dependency-bump

#58975 Swap sharkiq vacuum is_docked with is_charging
  homeassistant/components/sharkiq/vacuum.py
Labels: cla-signed, small-pr, bugfix, integration: sharkiq

#59047 Upgrade yamllint to 1.26.3
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr, dependency, smash

#59046 Upgrade isort to 5.10.0
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr, dependency

#59040 Bump velbus-aio to 2021.11.0
  homeassistant/components/velbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: velbus, small-pr, dependency, by-code-owner, dependency-bump, smash

#59018 Accept all roborock vacuum models for xiaomi_miio
  homeassistant/components/xiaomi_miio/const.py
  tests/components/xiaomi_miio/test_config_flow.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, has-tests, by-code-owner

#58483 Refactor velbus light code to make it more clear and readable
  homeassistant/components/velbus/light.py
Labels: Hacktoberfest, cla-signed, integration: velbus, by-code-owner, hacktoberfest-accepted, smash

#59066 Remove use_time sensor from mjjsq humidifers
  homeassistant/components/xiaomi_miio/sensor.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, by-code-owner

#59020 Fix Nut resources option migration
  homeassistant/components/nut/__init__.py
Labels: cla-signed, small-pr, integration: nut, by-code-owner, bugfix

#59041 Add typing info to velbus (part 1)
  homeassistant/components/velbus/binary_sensor.py
  homeassistant/components/velbus/climate.py
  homeassistant/components/velbus/cover.py
  homeassistant/components/velbus/switch.py
Labels: cla-signed, integration: velbus, by-code-owner, code-quality

#59049 Upgrade restrictedpython to 5.2a1.dev0
  homeassistant/components/python_script/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: python_script, small-pr, dependency, dependency-bump

#59071 Use entity category and state class in devolo Home Network
  homeassistant/components/devolo_home_network/sensor.py
  tests/components/devolo_home_network/test_sensor.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, integration: devolo_home_network

#59073 Change minimum supported SQLite version to 3.31.0
  homeassistant/components/recorder/util.py
  tests/components/recorder/test_util.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, bugfix

#58989 Add recorder status WS API
  homeassistant/components/recorder/__init__.py
  homeassistant/components/recorder/const.py
  homeassistant/components/recorder/websocket_api.py
  tests/components/recorder/common.py
  tests/components/recorder/test_migrate.py
  tests/components/recorder/test_websocket_api.py
Labels: core, integration: recorder, cla-signed, new-feature

#57642 Add Button entity component platform
  .strict-typing
  CODEOWNERS
  homeassistant/components/button/__init__.py
  homeassistant/components/button/const.py
  homeassistant/components/button/device_action.py
  homeassistant/components/button/device_trigger.py
  homeassistant/components/button/manifest.json
  homeassistant/components/button/services.yaml
  homeassistant/components/button/strings.json
  homeassistant/components/button/translations/en.json
  homeassistant/components/demo/__init__.py
  homeassistant/components/demo/button.py
  mypy.ini
  script/hassfest/manifest.py
  tests/components/button/__init__.py
  tests/components/button/test_device_action.py
  tests/components/button/test_device_trigger.py
  tests/components/button/test_init.py
  tests/components/demo/test_button.py
  tests/testing_config/custom_components/test/button.py
Labels: Hacktoberfest, core, cla-signed, integration: demo, new-feature, new-integration, has-tests, hacktoberfest-accepted, integration: button

#58990 Fix mop attribute for unified mop and water box in Xiaomi Miio
  homeassistant/components/xiaomi_miio/binary_sensor.py
  homeassistant/components/xiaomi_miio/const.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, bugfix

#59076 Correct rescheduling of ExternalStatisticsTask
  homeassistant/components/recorder/__init__.py
Labels: core, integration: recorder, cla-signed, small-pr, bugfix

#59095 Minor tweak of cv.deprecated + cv.removed
  homeassistant/helpers/config_validation.py
  tests/helpers/test_config_validation.py
Labels: core, cla-signed, small-pr, code-quality

#59054 Upgrade mitemp_bt to 0.0.5
  homeassistant/components/mitemp_bt/manifest.json
  requirements_all.txt
Labels: core, cla-signed, small-pr, integration: mitemp_bt, dependency, smash

#59074 Use entity_category in litterrobot
  homeassistant/components/litterrobot/entity.py
  homeassistant/components/litterrobot/select.py
  homeassistant/components/litterrobot/switch.py
  tests/components/litterrobot/test_select.py
  tests/components/litterrobot/test_switch.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, integration: litterrobot

#58912 Add tests for KNX light
  tests/components/knx/conftest.py
  tests/components/knx/test_light.py
Labels: cla-signed, integration: knx, small-pr, has-tests, by-code-owner, code-quality

#58900 Add tests for KNX scene
  tests/components/knx/test_scene.py
Labels: cla-signed, integration: knx, small-pr, has-tests, by-code-owner, code-quality

#58898 Add tests for KNX weather entity
  tests/components/knx/test_weather.py
Labels: cla-signed, integration: knx, small-pr, has-tests, by-code-owner, code-quality

#59033 Revamp nest authentication config flows and remove need for redirect urls
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/config_flow.py
  homeassistant/components/nest/const.py
  homeassistant/components/nest/strings.json
  homeassistant/components/nest/translations/en.json
  tests/components/nest/test_config_flow_sdm.py
Labels: core, cla-signed, integration: nest, has-tests, by-code-owner

#59121 Bump flux_led to 0.24.14
  homeassistant/components/flux_led/__init__.py
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: flux_led

#59029 Environment Canada config_flow fix
  homeassistant/components/environment_canada/config_flow.py
  tests/components/environment_canada/test_config_flow.py
Labels: cla-signed, small-pr, integration: environment_canada, by-code-owner, bugfix

#59091 Remove unused KeywordStyleAdapter
  homeassistant/helpers/logging.py
Labels: core, cla-signed, small-pr, code-quality

#59075 Improve recorder migration tests
  tests/components/recorder/common.py
  tests/components/recorder/models_schema_0.py
  tests/components/recorder/models_schema_16.py
  tests/components/recorder/models_schema_18.py
  tests/components/recorder/models_schema_22.py
  tests/components/recorder/test_migrate.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, code-quality

#59129 2021.11.1
  homeassistant/components/environment_canada/config_flow.py
  homeassistant/components/flux_led/__init__.py
  homeassistant/components/flux_led/manifest.json
  homeassistant/components/nut/__init__.py
  homeassistant/components/octoprint/config_flow.py
  homeassistant/components/pvpc_hourly_pricing/manifest.json
  homeassistant/components/recorder/__init__.py
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/util.py
  homeassistant/components/sharkiq/vacuum.py
  homeassistant/components/velbus/manifest.json
  homeassistant/components/xiaomi_miio/binary_sensor.py
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/device.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/environment_canada/test_config_flow.py
  tests/components/recorder/test_util.py
  tests/components/xiaomi_miio/test_config_flow.py
Labels: core, cla-signed, merging-to-master, has-tests

#58961 Use zeroconf attributes in enphase-envoy
  homeassistant/components/enphase_envoy/config_flow.py
  tests/components/enphase_envoy/test_config_flow.py
Labels: cla-signed, small-pr, integration: enphase_envoy, has-tests, code-quality, smash

#59087 Move recorder.async_migration_in_progress
  homeassistant/components/hassio/__init__.py
  homeassistant/components/homeassistant/__init__.py
  homeassistant/components/recorder/__init__.py
  homeassistant/components/recorder/util.py
  homeassistant/components/recorder/websocket_api.py
  homeassistant/helpers/recorder.py
  tests/components/recorder/test_migrate.py
  tests/components/recorder/test_websocket_api.py
  tests/helpers/test_recorder.py
Labels: core, integration: recorder, cla-signed, integration: hassio, small-pr, integration: homeassistant, has-tests, code-quality

#59143 Adjust recorder tests according to #59087
  tests/components/recorder/test_migrate.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, code-quality

#59133 Bump zeroconf to 0.36.12
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, by-code-owner, dependency-bump

#58831 Add binary_sensor to venstar to track alerts
  .coveragerc
  homeassistant/components/venstar/__init__.py
  homeassistant/components/venstar/binary_sensor.py
  tests/components/venstar/test_init.py
Labels: Hacktoberfest, new-platform, cla-signed, new-feature, integration: venstar, has-tests, by-code-owner, hacktoberfest-accepted, smash

#59147 Bump pyhaversion from 21.10.0 to 21.11.1
  homeassistant/components/version/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: version, dependency, by-code-owner, dependency-bump

#59104 Use entity category in devolo Home Control
  homeassistant/components/devolo_home_control/binary_sensor.py
  homeassistant/components/devolo_home_control/sensor.py
  tests/components/devolo_home_control/mocks.py
  tests/components/devolo_home_control/test_binary_sensor.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: devolo_home_control

#59154 Type vlc_telnet strictly
  .strict-typing
  homeassistant/components/vlc_telnet/media_player.py
  mypy.ini
Labels: cla-signed, small-pr, by-code-owner, integration: vlc_telnet

#59151 Address venstar review comments
  homeassistant/components/venstar/__init__.py
  homeassistant/components/venstar/binary_sensor.py
Labels: cla-signed, small-pr, integration: venstar, code-quality

#59157 Add zwave_js select entity category
  homeassistant/components/zwave_js/select.py
  tests/components/zwave_js/test_select.py
Labels: breaking-change, cla-signed, small-pr, has-tests, integration: zwave_js

#59161 Bump aioguardian to 2021.11.0
  homeassistant/components/guardian/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: guardian, dependency-bump

#59159 Bump flux_led to 0.24.15
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: flux_led, dependency-bump

#59171 Add configuration URL to Spider
  homeassistant/components/spider/climate.py
  homeassistant/components/spider/switch.py
Labels: cla-signed, small-pr, new-feature, integration: spider, by-code-owner

#57269 Tests for the Fronius integration
  requirements_test_all.txt
  tests/components/fronius/__init__.py
  tests/components/fronius/const.py
  tests/components/fronius/test_sensor.py
  tests/fixtures/fronius/symo/GetAPIVersion.json
  tests/fixtures/fronius/symo/GetInverterInfo.json
  tests/fixtures/fronius/symo/GetInverterRealtimeDate_Device_1_day.json
  tests/fixtures/fronius/symo/GetInverterRealtimeDate_Device_1_night.json
  tests/fixtures/fronius/symo/GetLoggerInfo.json
  tests/fixtures/fronius/symo/GetMeterRealtimeData_Device_0.json
  tests/fixtures/fronius/symo/GetMeterRealtimeData_System.json
  tests/fixtures/fronius/symo/GetPowerFlowRealtimeData_day.json
  tests/fixtures/fronius/symo/GetPowerFlowRealtimeData_night.json
  tests/fixtures/fronius/symo/GetStorageRealtimeData_System.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: fronius, has-tests, code-quality, hacktoberfest-accepted

#59180 Change ReCollect Waste device class to date
  homeassistant/components/recollect_waste/sensor.py
Labels: cla-signed, small-pr, integration: recollect_waste, by-code-owner, bugfix

#59187 Fix regression after merging fixtures with old path
  tests/components/fronius/fixtures/symo/GetAPIVersion.json
  tests/components/fronius/fixtures/symo/GetInverterInfo.json
  tests/components/fronius/fixtures/symo/GetInverterRealtimeDate_Device_1_day.json
  tests/components/fronius/fixtures/symo/GetInverterRealtimeDate_Device_1_night.json
  tests/components/fronius/fixtures/symo/GetLoggerInfo.json
  tests/components/fronius/fixtures/symo/GetMeterRealtimeData_Device_0.json
  tests/components/fronius/fixtures/symo/GetMeterRealtimeData_System.json
  tests/components/fronius/fixtures/symo/GetPowerFlowRealtimeData_day.json
  tests/components/fronius/fixtures/symo/GetPowerFlowRealtimeData_night.json
  tests/components/fronius/fixtures/symo/GetStorageRealtimeData_System.json
  tests/components/fronius/test_sensor.py
Labels: cla-signed, small-pr, integration: fronius, has-tests, code-quality, smash

#59135 Adjust frag_duration setting in stream
  homeassistant/components/stream/worker.py
Labels: core, cla-signed, small-pr, integration: stream, by-code-owner, bugfix

#59219 Bump pyefergy to 0.1.4
  homeassistant/components/efergy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: efergy, dependency, by-code-owner, dependency-bump

#59209 Bump aioshelly to 1.0.4
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: shelly, dependency, dependency-bump

#59228 Bump aiolyric to v1.0.8
  homeassistant/components/lyric/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: lyric, small-pr, dependency, by-code-owner, dependency-bump

#59229 Bump systembridge to v2.2.1
  homeassistant/components/system_bridge/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: system_bridge

#59211 Bump flux_led to 0.24.17
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: flux_led, dependency-bump

#59210 Bump RMVtransport to v0.3.3
  homeassistant/components/rmvtransport/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: rmvtransport, by-code-owner, dependency-bump

#59165 Reduce code duplication in gogogate2
  homeassistant/components/gogogate2/common.py
  homeassistant/components/gogogate2/cover.py
  homeassistant/components/gogogate2/sensor.py
Labels: cla-signed, integration: gogogate2, by-code-owner

#59195 Use constant CONF_SLEEP_PERIOD instead of string "sleep_period" in Shelly integration
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/binary_sensor.py
  homeassistant/components/shelly/config_flow.py
  homeassistant/components/shelly/const.py
  homeassistant/components/shelly/sensor.py
Labels: cla-signed, small-pr, integration: shelly, code-quality

#59188 Upgrade numpy to 1.21.4
  homeassistant/components/compensation/manifest.json
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/opencv/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: opencv, small-pr, integration: tensorflow, integration: trend, integration: iqvia, dependency, integration: compensation, smash

#59217 Fix tradfri group reachable access
  homeassistant/components/tradfri/base_class.py
Labels: cla-signed, integration: tradfri, small-pr, by-code-owner, bugfix

#59238 Fix typing in devolo Home Network
  homeassistant/components/devolo_home_network/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: devolo_home_network

#58857 Address post-merge Ridwell code review
  homeassistant/components/ridwell/__init__.py
  homeassistant/components/ridwell/config_flow.py
  homeassistant/components/ridwell/sensor.py
  homeassistant/components/ridwell/strings.json
  homeassistant/components/ridwell/translations/en.json
  tests/components/ridwell/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, code-quality, hacktoberfest-accepted, integration: ridwell

#57621 Add decoded telegram payload to knx_event service
  homeassistant/components/knx/__init__.py
  homeassistant/components/knx/schema.py
  homeassistant/components/knx/services.yaml
  tests/components/knx/test_events.py
  tests/components/knx/test_services.py
Labels: Hacktoberfest, breaking-change, cla-signed, integration: knx, has-tests, by-code-owner, hacktoberfest-accepted

#59240 Add RDW Vehicle information integration
  .strict-typing
  CODEOWNERS
  homeassistant/components/rdw/__init__.py
  homeassistant/components/rdw/config_flow.py
  homeassistant/components/rdw/const.py
  homeassistant/components/rdw/manifest.json
  homeassistant/components/rdw/sensor.py
  homeassistant/components/rdw/strings.json
  homeassistant/components/rdw/translations/en.json
  homeassistant/generated/config_flows.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/rdw/__init__.py
  tests/components/rdw/conftest.py
  tests/components/rdw/fixtures/11ZKZ3.json
  tests/components/rdw/test_config_flow.py
  tests/components/rdw/test_init.py
  tests/components/rdw/test_sensor.py
Labels: cla-signed, new-integration, has-tests, integration: rdw

#59241 Remove deprecated usages of HomeAssistantType
  homeassistant/components/netgear/__init__.py
  homeassistant/components/netgear/device_tracker.py
  homeassistant/components/netgear/router.py
  homeassistant/components/netgear/sensor.py
  homeassistant/components/rfxtrx/helpers.py
Labels: cla-signed, integration: rfxtrx, small-pr, integration: netgear, code-quality, smash

#59177 Guard against missing data in ReCollect Waste
  homeassistant/components/recollect_waste/sensor.py
Labels: cla-signed, small-pr, integration: recollect_waste, by-code-owner, bugfix, smash

#57777 Rewrite signal_messenger unittest to pytest
  tests/components/signal_messenger/conftest.py
  tests/components/signal_messenger/test_notify.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: signal_messenger, code-quality, hacktoberfest-accepted

#59267 Bump pyEmby to 1.8
  homeassistant/components/emby/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: emby, dependency, by-code-owner, dependency-bump

#59281 Fix wrong condition check for Fritz cleanup
  homeassistant/components/fritz/common.py
Labels: cla-signed, small-pr, integration: fritz, by-code-owner, bugfix

#59286 Fix typing issues - wallbox.number
  homeassistant/components/wallbox/number.py
Labels: cla-signed, small-pr, code-quality, integration: wallbox, smash

#59293 Fix udp ports
  homeassistant/components/yamaha_musiccast/__init__.py
  homeassistant/components/yamaha_musiccast/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: yamaha_musiccast, dependency, by-code-owner, bugfix

#59284 Upgrade async-upnp-client to 0.22.12
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/components/ssdp/manifest.json
  homeassistant/components/upnp/manifest.json
  homeassistant/components/yeelight/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: upnp, small-pr, integration: yeelight, integration: dlna_dmr, integration: ssdp, dependency, dependency-bump, smash

#58922 Add support for matching the zeroconf model property
  homeassistant/components/zeroconf/__init__.py
  script/hassfest/manifest.py
  tests/components/zeroconf/test_init.py
Labels: cla-signed, integration: zeroconf, small-pr, has-tests, by-code-owner, smash

#59264 ZHA Add Battery sensor unconditionally
  homeassistant/components/zha/sensor.py
Labels: cla-signed, integration: zha, small-pr, by-code-owner, bugfix

#58656 Add config flow to KNX integration
  .coveragerc
  homeassistant/components/knx/__init__.py
  homeassistant/components/knx/binary_sensor.py
  homeassistant/components/knx/climate.py
  homeassistant/components/knx/config_flow.py
  homeassistant/components/knx/const.py
  homeassistant/components/knx/cover.py
  homeassistant/components/knx/fan.py
  homeassistant/components/knx/light.py
  homeassistant/components/knx/manifest.json
  homeassistant/components/knx/notify.py
  homeassistant/components/knx/number.py
  homeassistant/components/knx/scene.py
  homeassistant/components/knx/select.py
  homeassistant/components/knx/sensor.py
  homeassistant/components/knx/services.yaml
  homeassistant/components/knx/strings.json
  homeassistant/components/knx/switch.py
  homeassistant/components/knx/translations/en.json
  homeassistant/components/knx/weather.py
  homeassistant/generated/config_flows.py
  tests/components/knx/conftest.py
  tests/components/knx/test_config_flow.py
Labels: Hacktoberfest, breaking-change, cla-signed, integration: knx, new-feature, by-code-owner, hacktoberfest-accepted

#59305 Remove illuminance from Xiaomi zhimi.airfresh.va2 sensors
  homeassistant/components/xiaomi_miio/sensor.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, by-code-owner, bugfix

#59315 Revert "Use DeviceInfo in shelly (#58520)"
  homeassistant/components/shelly/entity.py
Labels: cla-signed, small-pr, integration: shelly, by-code-owner, bugfix

#58818 Bump total_connect_client to 2021.11.2
  homeassistant/components/totalconnect/__init__.py
  homeassistant/components/totalconnect/config_flow.py
  homeassistant/components/totalconnect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/totalconnect/common.py
  tests/components/totalconnect/test_config_flow.py
  tests/components/totalconnect/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: totalconnect, has-tests, dependency, by-code-owner, hacktoberfest-accepted

#59175 Guard against flaky SimpliSafe API calls
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/alarm_control_panel.py
Labels: cla-signed, small-pr, integration: simplisafe, by-code-owner, bugfix

#59304 Clean up transmission empty containers evaluation
  homeassistant/components/transmission/__init__.py
Labels: cla-signed, small-pr, integration: transmission

#59314 Bump up ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, dependency-bump

#59325 Improve support for flux_led pixel/RBM controllers
  homeassistant/components/flux_led/light.py
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/flux_led/__init__.py
  tests/components/flux_led/conftest.py
  tests/components/flux_led/test_light.py
Labels: cla-signed, small-pr, integration: flux_led, has-tests

#52816 Change zone HVAC mode in Advantage Air
  homeassistant/components/advantage_air/climate.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: advantage_air, smash

#57396 Add long-term statistics support for homematic sensors
  homeassistant/components/homematic/entity.py
  homeassistant/components/homematic/sensor.py
Labels: Hacktoberfest, cla-signed, integration: homematic, new-feature, hacktoberfest-accepted

#58728 Add MQTT object_id option
  homeassistant/components/device_tracker/__init__.py
  homeassistant/components/device_tracker/const.py
  homeassistant/components/humidifier/__init__.py
  homeassistant/components/mqtt/abbreviations.py
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/camera.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/device_tracker/schema_discovery.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/humidifier.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_json.py
  homeassistant/components/mqtt/light/schema_template.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/scene.py
  homeassistant/components/mqtt/select.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/vacuum/schema_legacy.py
  homeassistant/components/mqtt/vacuum/schema_state.py
  homeassistant/components/vacuum/__init__.py
  tests/components/mqtt/test_discovery.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, new-feature, has-tests, integration: humidifier, hacktoberfest-accepted

#54527 Allow overriding ensure_ascii in the "to_json" template filter
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: core, cla-signed, small-pr, bugfix

#59200 Correct name of end apc sensor in APCUPSD
  homeassistant/components/apcupsd/sensor.py
Labels: cla-signed, integration: apcupsd, small-pr, bugfix, smash

#58622 Use DeviceInfo in velbus
  homeassistant/components/velbus/__init__.py
  tests/components/velbus/conftest.py
  tests/components/velbus/const.py
  tests/components/velbus/test_config_flow.py
  tests/components/velbus/test_init.py
Labels: Hacktoberfest, cla-signed, integration: velbus, small-pr, code-quality, hacktoberfest-accepted

#58720 Add Evil Genius Labs integration
  .strict-typing
  CODEOWNERS
  homeassistant/components/evil_genius_labs/__init__.py
  homeassistant/components/evil_genius_labs/config_flow.py
  homeassistant/components/evil_genius_labs/const.py
  homeassistant/components/evil_genius_labs/light.py
  homeassistant/components/evil_genius_labs/manifest.json
  homeassistant/components/evil_genius_labs/strings.json
  homeassistant/components/evil_genius_labs/translations/en.json
  homeassistant/components/evil_genius_labs/util.py
  homeassistant/generated/config_flows.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/evil_genius_labs/__init__.py
  tests/components/evil_genius_labs/conftest.py
  tests/components/evil_genius_labs/fixtures/data.json
  tests/components/evil_genius_labs/fixtures/info.json
  tests/components/evil_genius_labs/test_config_flow.py
  tests/components/evil_genius_labs/test_init.py
  tests/components/evil_genius_labs/test_light.py
Labels: Hacktoberfest, cla-signed, new-integration, has-tests, hacktoberfest-accepted, integration: evil_genius_labs

#59320 System Bridge - Add configuration URL
  homeassistant/components/system_bridge/__init__.py
  homeassistant/components/system_bridge/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, new-feature, dependency, by-code-owner, integration: system_bridge

#59339 Bump paho-mqtt to 1.6.1
  homeassistant/components/mqtt/manifest.json
  homeassistant/components/shiftr/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: mqtt, integration: shiftr, small-pr, by-code-owner, dependency-bump
