Repository home-assistant/core, pull requests merged in 2021-03, with the labels that each got.

#47151 Handle stream failures in recorder
  homeassistant/components/stream/recorder.py
  tests/components/stream/test_recorder.py
Labels: bugfix, cla-signed, core, has-tests, integration: stream, small-pr

#47187 Enforce typing in bond
  homeassistant/components/bond/__init__.py
  homeassistant/components/bond/config_flow.py
  homeassistant/components/bond/cover.py
  homeassistant/components/bond/entity.py
  homeassistant/components/bond/fan.py
  homeassistant/components/bond/light.py
  homeassistant/components/bond/switch.py
  homeassistant/components/bond/utils.py
  setup.cfg
Labels: cla-signed, integration: bond

#47206 Bump simplisafe-python to 9.6.7
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: simplisafe, small-pr

#47209 Increment the homekit config version when restarting
  homeassistant/components/homekit/__init__.py
  tests/components/homekit/test_homekit.py
Labels: by-code-owner, cla-signed, has-tests, integration: homekit, small-pr

#47213 Bump HAP-python to 3.3.2 to fix unavailable condition on restart
  homeassistant/components/homekit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: homekit, small-pr

#47205 Update pylint
  homeassistant/auth/providers/trusted_networks.py
  homeassistant/components/alexa/intent.py
  homeassistant/components/apple_tv/config_flow.py
  homeassistant/components/isy994/binary_sensor.py
  homeassistant/components/isy994/helpers.py
  homeassistant/components/knx/const.py
  homeassistant/components/slack/notify.py
  homeassistant/components/stream/__init__.py
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/universal/media_player.py
  homeassistant/components/vicare/__init__.py
  homeassistant/components/withings/common.py
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/core/channels/hvac.py
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/cover.py
  homeassistant/components/zhong_hong/climate.py
  homeassistant/core.py
  homeassistant/helpers/typing.py
  requirements_test.txt
Labels: cla-signed

#47214 Fix generic-x86-64 build
  machine/generic-x86-64
Labels: bugfix, cla-signed, small-pr

#46342 Add hassio addon_update service and hassio config entry with addon and OS devices and entities
  .coveragerc
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/binary_sensor.py
  homeassistant/components/hassio/config_flow.py
  homeassistant/components/hassio/const.py
  homeassistant/components/hassio/entity.py
  homeassistant/components/hassio/sensor.py
  homeassistant/components/hassio/services.yaml
  tests/components/hassio/test_config_flow.py
  tests/components/hassio/test_init.py
Labels: cla-signed, core, has-tests, integration: hassio, new-feature, new-platform

#46696 Improve CI workflow
  .github/workflows/ci.yaml
Labels: cla-signed

#47211 Revert const replacement in fritzbox_callmonitor
  homeassistant/components/fritzbox_callmonitor/config_flow.py
  homeassistant/components/fritzbox_callmonitor/const.py
  tests/components/fritzbox_callmonitor/test_config_flow.py
Labels: cla-signed, has-tests, integration: fritzbox_callmonitor, small-pr

#47218 Remove griddy integration
  CODEOWNERS
  homeassistant/components/griddy/__init__.py
  homeassistant/components/griddy/config_flow.py
  homeassistant/components/griddy/const.py
  homeassistant/components/griddy/manifest.json
  homeassistant/components/griddy/sensor.py
  homeassistant/components/griddy/strings.json
  homeassistant/components/griddy/translations/ca.json
  homeassistant/components/griddy/translations/cs.json
  homeassistant/components/griddy/translations/de.json
  homeassistant/components/griddy/translations/en.json
  homeassistant/components/griddy/translations/es-419.json
  homeassistant/components/griddy/translations/es.json
  homeassistant/components/griddy/translations/et.json
  homeassistant/components/griddy/translations/fr.json
  homeassistant/components/griddy/translations/it.json
  homeassistant/components/griddy/translations/ko.json
  homeassistant/components/griddy/translations/lb.json
  homeassistant/components/griddy/translations/nl.json
  homeassistant/components/griddy/translations/no.json
  homeassistant/components/griddy/translations/pl.json
  homeassistant/components/griddy/translations/pt-BR.json
  homeassistant/components/griddy/translations/pt.json
  homeassistant/components/griddy/translations/ru.json
  homeassistant/components/griddy/translations/sl.json
  homeassistant/components/griddy/translations/sv.json
  homeassistant/components/griddy/translations/tr.json
  homeassistant/components/griddy/translations/uk.json
  homeassistant/components/griddy/translations/zh-Hant.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/griddy/__init__.py
  tests/components/griddy/test_config_flow.py
  tests/components/griddy/test_sensor.py
Labels: by-code-owner, cla-signed, integration: griddy, remove-platform, small-pr

#47203 Fix number of reported issues by github integration
  homeassistant/components/github/sensor.py
Labels: bugfix, cla-signed, integration: github, small-pr

#46908 KNX services send and event_register accept multiple group addresses
  homeassistant/components/knx/__init__.py
  homeassistant/components/knx/services.yaml
Labels: by-code-owner, cla-signed, integration: knx, new-feature

#46874 Deprecate knx config_file
  homeassistant/components/knx/__init__.py
Labels: breaking-change, by-code-owner, cla-signed, integration: knx, small-pr

#47210 Fix race when disabling config entries
  homeassistant/config_entries.py
Labels: bugfix, cla-signed, core, small-pr

#47222 Fix Xiaomi Miio flow unique_id for non discovery flows
  homeassistant/components/xiaomi_miio/config_flow.py
Labels: bugfix, by-code-owner, cla-signed, integration: xiaomi_miio, small-pr

#47221 Restore pylint concurrency
  pyproject.toml
Labels: cla-signed, code-quality, small-pr

#47189 Parameterize SmartTub tests
  homeassistant/components/smarttub/light.py
  tests/components/smarttub/test_light.py
  tests/components/smarttub/test_sensor.py
  tests/components/smarttub/test_switch.py
Labels: by-code-owner, cla-signed, has-tests, integration: smarttub, small-pr

#47227 Upgrade coverage to 5.5
  requirements_test.txt
Labels: cla-signed, dependency, dependency-bump, small-pr

#47228 Upgrade spotipy to 2.17.1
  homeassistant/components/spotify/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: spotify, small-pr

#47169 Bump mcstatus to 5.1.1
  homeassistant/components/minecraft_server/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: minecraft_server, small-pr

#46682 Overhaul command_line tests
  homeassistant/components/command_line/cover.py
  homeassistant/components/command_line/sensor.py
  homeassistant/components/command_line/switch.py
  tests/components/command_line/test_binary_sensor.py
  tests/components/command_line/test_cover.py
  tests/components/command_line/test_notify.py
  tests/components/command_line/test_sensor.py
  tests/components/command_line/test_switch.py
Labels: cla-signed, code-quality, has-tests, integration: command_line, small-pr

#47224 Fix Shelly Polling
  homeassistant/components/shelly/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: shelly, small-pr

#45765 Minor Hyperion mypy cleanups
  homeassistant/components/hyperion/__init__.py
  homeassistant/components/hyperion/light.py
  homeassistant/components/hyperion/switch.py
Labels: by-code-owner, cla-signed, code-quality, integration: hyperion, small-pr

#47229 Address late hassio review
  homeassistant/components/hassio/__init__.py
  tests/components/hassio/test_init.py
Labels: cla-signed, code-quality, core, has-tests, integration: hassio, small-pr

#46611 Swap octoprint to use an external library
  homeassistant/components/octoprint/__init__.py
  homeassistant/components/octoprint/binary_sensor.py
  homeassistant/components/octoprint/manifest.json
  homeassistant/components/octoprint/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/octoprint/__init__.py
  tests/components/octoprint/test_binary_sensor.py
  tests/components/octoprint/test_sensor.py
Labels: cla-signed, code-quality, has-tests, integration: octoprint

#47196 KNX address constant
  homeassistant/components/knx/__init__.py
  homeassistant/components/knx/const.py
  homeassistant/components/knx/expose.py
  homeassistant/components/knx/factory.py
  homeassistant/components/knx/schema.py
Labels: by-code-owner, cla-signed, code-quality, integration: knx

#47236 Pass variables to initial evaluation of template trigger
  homeassistant/components/template/trigger.py
  tests/components/template/test_trigger.py
Labels: bugfix, cla-signed, has-tests, integration: template, small-pr

#47232 Add support for a list of known hosts to Google Cast
  homeassistant/components/cast/config_flow.py
  homeassistant/components/cast/const.py
  homeassistant/components/cast/discovery.py
  homeassistant/components/cast/manifest.json
  homeassistant/components/cast/media_player.py
  homeassistant/components/cast/strings.json
  homeassistant/components/cast/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cast/conftest.py
  tests/components/cast/test_init.py
  tests/components/cast/test_media_player.py
Labels: by-code-owner, cla-signed, has-tests, integration: cast

#47244 Fix lutron caseta fan handling of speed off
  homeassistant/components/lutron_caseta/fan.py
Labels: by-code-owner, cla-signed, integration: lutron_caseta, small-pr

#47249 Add remote control support to philips_js
  homeassistant/components/philips_js/__init__.py
  homeassistant/components/philips_js/remote.py
Labels: by-code-owner, cla-signed, integration: philips_js, new-feature, new-platform

#47250 Add suggested area for zwave_js devices
  homeassistant/components/zwave_js/__init__.py
  tests/components/zwave_js/common.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_init.py
  tests/components/zwave_js/test_light.py
  tests/fixtures/zwave_js/eaton_rf9640_dimmer_state.json
Labels: cla-signed, has-tests, integration: zwave_js, new-feature, small-pr

#47252 Update frontend to 20210301.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#47241 Bump simplisafe-python to 9.6.8
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: simplisafe, small-pr

#47254 Revert "Fix the updater schema (#47128)"
  homeassistant/components/updater/__init__.py
Labels: cla-signed, core, integration: updater, small-pr

#47217 Fix duplicate template handling in Persistent Notifications
  homeassistant/components/persistent_notification/__init__.py
Labels: bugfix, cla-signed, core, integration: persistent_notification, small-pr

#47212 Fix harmony failing to switch activities when a switch is in progress
  homeassistant/components/harmony/data.py
  homeassistant/components/harmony/subscriber.py
Labels: by-code-owner, cla-signed, integration: harmony

#47157 Remove rounding from The Things Network
  homeassistant/components/thethingsnetwork/sensor.py
Labels: bugfix, cla-signed, integration: thethingsnetwork, small-pr

#47145 Add battery sensor for gogogate2 wireless door sensor
  homeassistant/components/gogogate2/__init__.py
  homeassistant/components/gogogate2/common.py
  homeassistant/components/gogogate2/cover.py
  homeassistant/components/gogogate2/sensor.py
  tests/components/gogogate2/test_sensor.py
Labels: cla-signed, has-tests, integration: gogogate2, new-feature, new-platform

#47259 Fix typing on fan percentage
  homeassistant/components/comfoconnect/fan.py
  homeassistant/components/demo/fan.py
  homeassistant/components/esphome/fan.py
  homeassistant/components/insteon/fan.py
  homeassistant/components/isy994/fan.py
  homeassistant/components/lutron_caseta/fan.py
  homeassistant/components/smartthings/fan.py
  homeassistant/components/wemo/fan.py
  homeassistant/components/wilight/fan.py
Labels: cla-signed

#46948 Clean up constants
  homeassistant/components/google_assistant/trait.py
  homeassistant/components/humidifier/const.py
  homeassistant/components/humidifier/device_action.py
  homeassistant/components/humidifier/device_condition.py
  homeassistant/components/humidifier/intent.py
  homeassistant/components/humidifier/reproduce_state.py
  homeassistant/components/input_select/__init__.py
  homeassistant/components/ipp/const.py
  homeassistant/components/ipp/sensor.py
  homeassistant/components/melcloud/sensor.py
  homeassistant/components/mobile_app/__init__.py
  homeassistant/components/mobile_app/config_flow.py
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/device_tracker.py
  homeassistant/components/mobile_app/helpers.py
  homeassistant/components/mobile_app/http_api.py
  homeassistant/components/mobile_app/webhook.py
  homeassistant/components/netatmo/const.py
  homeassistant/components/ombi/__init__.py
  homeassistant/components/ombi/const.py
  homeassistant/components/prometheus/__init__.py
  homeassistant/components/pushsafer/notify.py
  homeassistant/components/remote/__init__.py
  homeassistant/components/sesame/lock.py
  tests/components/demo/test_humidifier.py
  tests/components/google_assistant/test_google_assistant.py
  tests/components/google_assistant/test_trait.py
  tests/components/humidifier/test_device_condition.py
  tests/components/humidifier/test_device_trigger.py
  tests/components/humidifier/test_intent.py
  tests/components/humidifier/test_reproduce_state.py
Labels: cla-signed

#46998 Add init test to Freebox
  .coveragerc
  homeassistant/components/freebox/__init__.py
  homeassistant/components/freebox/const.py
  homeassistant/components/freebox/router.py
  tests/components/freebox/conftest.py
  tests/components/freebox/const.py
  tests/components/freebox/test_config_flow.py
  tests/components/freebox/test_init.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, help-wanted, integration: freebox, small-pr

#45727 Add services for izone airflow min/max
  homeassistant/components/izone/climate.py
  homeassistant/components/izone/manifest.json
  homeassistant/components/izone/services.yaml
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: izone, new-feature

#47257 Fix Alexa doorbells
  homeassistant/components/alexa/state_report.py
  tests/components/alexa/test_state_report.py
Labels: bugfix, cla-signed, core, has-tests, integration: alexa, small-pr

#47052 Add force_update to tasmota sensors
  homeassistant/components/tasmota/sensor.py
  tests/components/tasmota/test_binary_sensor.py
  tests/components/tasmota/test_sensor.py
Labels: bugfix, cla-signed, integration: tasmota, small-pr

#47278 Update frontend to 20210302.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#47273 Bump simplisafe-python to 9.6.9
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: simplisafe, small-pr

#47282 Update ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: zha, small-pr

#47279 Upgrade isort to 5.7.0
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, dependency, small-pr

#46689 Add disk sensor to Freebox
  homeassistant/components/freebox/const.py
  homeassistant/components/freebox/router.py
  homeassistant/components/freebox/sensor.py
Labels: by-code-owner, cla-signed, integration: freebox, new-feature

#47201 Limit log spam by ConfigEntryNotReady
  homeassistant/config_entries.py
Labels: cla-signed, code-quality, core, small-pr

#47034 Clean up secret loading
  homeassistant/bootstrap.py
  homeassistant/components/lovelace/dashboard.py
  homeassistant/config.py
  homeassistant/helpers/check_config.py
  homeassistant/scripts/check_config.py
  homeassistant/util/yaml/__init__.py
  homeassistant/util/yaml/loader.py
  tests/util/yaml/test_init.py
Labels: cla-signed, code-quality, core

#47223 Upgrade pillow to 8.1.1
  homeassistant/components/doods/manifest.json
  homeassistant/components/image/manifest.json
  homeassistant/components/proxy/manifest.json
  homeassistant/components/qrcode/manifest.json
  homeassistant/components/seven_segments/manifest.json
  homeassistant/components/sighthound/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: doods, integration: image, integration: proxy, integration: qrcode, integration: seven_segments, integration: sighthound, integration: tensorflow, small-pr

#47275 Fix issue when setting boost preset for a turned off Netatmo thermostat
  homeassistant/components/netatmo/climate.py
Labels: by-code-owner, cla-signed, integration: netatmo, small-pr

#47258 Add raw values to zwave_js value notification event
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/const.py
  tests/components/zwave_js/test_events.py
Labels: cla-signed, has-tests, integration: zwave_js, new-feature, small-pr

#47286 Convert climacell forecast timestamp to isoformat so that UI shows the right times
  homeassistant/components/climacell/weather.py
Labels: bugfix, by-code-owner, cla-signed, integration: climacell, small-pr

#47289 Bump zwave-js-server-python to 0.20.1
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: zwave_js, small-pr

#47251 Add zwave_js add-on manager
  homeassistant/components/hassio/__init__.py
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/addon.py
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/const.py
  homeassistant/components/zwave_js/strings.json
  homeassistant/components/zwave_js/translations/en.json
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_config_flow.py
  tests/components/zwave_js/test_init.py
Labels: cla-signed, core, integration: hassio, integration: zwave_js

#47238 KNX remove custom deprecation warnings
  homeassistant/components/knx/__init__.py
Labels: by-code-owner, cla-signed, integration: knx, small-pr

#47292 Correct climacell device info
  homeassistant/components/climacell/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: climacell, small-pr

#47237 Add activity properties to remote entity model
  homeassistant/components/harmony/const.py
  homeassistant/components/harmony/remote.py
  homeassistant/components/remote/__init__.py
Labels: by-code-owner, cla-signed, core, integration: harmony, integration: remote

#47294 Bump python-smarttub to 0.0.19
  homeassistant/components/smarttub/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, has-tests, integration: smarttub, small-pr

#47113 Remove name from keenetic-ndms2 strings
  homeassistant/components/keenetic_ndms2/strings.json
  homeassistant/components/keenetic_ndms2/translations/en.json
Labels: cla-signed, code-quality, integration: keenetic_ndms2, small-pr

#47302 Correct gogogate2 battery sensor attributes
  homeassistant/components/gogogate2/cover.py
  homeassistant/components/gogogate2/sensor.py
  tests/components/gogogate2/test_cover.py
  tests/components/gogogate2/test_sensor.py
Labels: bugfix, cla-signed, has-tests, integration: gogogate2, small-pr

#47305 Update izone services.yaml and remove entity_id from schema.
  homeassistant/components/izone/climate.py
  homeassistant/components/izone/services.yaml
Labels: bugfix, cla-signed, code-quality, integration: izone

#47310 Update frontend to 20210302.3
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#47308 Fix Supervisor platform coordinator data lookup
  homeassistant/components/hassio/binary_sensor.py
  homeassistant/components/hassio/sensor.py
Labels: cla-signed, core, integration: hassio, small-pr

#47247 Philips JS correct post review comments
  .coveragerc
  homeassistant/components/philips_js/__init__.py
  homeassistant/components/philips_js/config_flow.py
  homeassistant/components/philips_js/media_player.py
Labels: by-code-owner, cla-signed, code-quality, integration: philips_js, small-pr

#47301 Improve behaviour when disabling or enabling config entries
  homeassistant/config_entries.py
  homeassistant/const.py
  homeassistant/helpers/device_registry.py
  homeassistant/helpers/entity_registry.py
  tests/helpers/test_entity_registry.py
Labels: bugfix, cla-signed, core

#47317 Simplify switch light
  homeassistant/components/switch/light.py
Labels: cla-signed, code-quality, core, integration: switch, small-pr

#47324 Fix grammar in pi_hole logs
  homeassistant/components/pi_hole/__init__.py
Labels: cla-signed, code-quality, integration: pi_hole, small-pr

#47314 Add LZW36 device schema to zwave_js discovery
  homeassistant/components/zwave_js/discovery.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_discovery.py
  tests/fixtures/zwave_js/inovelli_lzw36_state.json
Labels: bugfix, cla-signed, integration: zwave_js, small-pr

#46755 Initial automation tracing
  homeassistant/components/automation/__init__.py
  homeassistant/components/automation/config.py
  homeassistant/components/config/automation.py
  homeassistant/components/script/__init__.py
  homeassistant/helpers/condition.py
  homeassistant/helpers/script.py
  homeassistant/helpers/trace.py
  tests/components/config/test_automation.py
  tests/helpers/test_condition.py
  tests/helpers/test_script.py
Labels: cla-signed, core, integration: automation, integration: config, integration: script

#47350 Fix secrets in files included via include_dir_list
  homeassistant/util/yaml/loader.py
Labels: bugfix, cla-signed, core, small-pr

#47359 Catch ConditionError in generic_thermostat climate
  homeassistant/components/generic_thermostat/climate.py
Labels: bugfix, cla-signed, integration: generic_thermostat, small-pr

#47345 Fix Xiaomi Miio setup of switch entity for lumi.acpartner.v3
  homeassistant/components/xiaomi_miio/__init__.py
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/switch.py
Labels: bugfix, by-code-owner, cla-signed, integration: xiaomi_miio, small-pr

#47396 Map silent as a preset mode for fan backcompat
  homeassistant/components/fan/__init__.py
Labels: cla-signed, core, integration: fan, small-pr

#47392 Revert "Speed-up wemo discovery (#46821)"
  homeassistant/components/wemo/__init__.py
  tests/components/wemo/test_init.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: wemo, small-pr

#47378 Don't raise on known non-matching states in numeric state condition
  homeassistant/helpers/condition.py
  tests/components/homeassistant/triggers/test_numeric_state.py
  tests/helpers/test_condition.py
Labels: bugfix, cla-signed, core, small-pr

#47383 Update frontend to 20210302.4
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#47364 Fix zwave_js manual reconfiguration of add-on managed entry
  homeassistant/components/zwave_js/config_flow.py
  tests/components/zwave_js/test_config_flow.py
Labels: cla-signed, has-tests, integration: zwave_js, small-pr

#47380 Fix access of missing zwave_js climate unit value
  homeassistant/components/zwave_js/climate.py
  tests/components/zwave_js/common.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_climate.py
  tests/fixtures/zwave_js/srt321_hrt4_zw_state.json
Labels: cla-signed, has-tests, integration: zwave_js, small-pr

#47398 Fix measurement unit (Closes: #47390)
  homeassistant/components/xiaomi_miio/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: xiaomi_miio, small-pr

#47406 Don't convert Climacell forecast temperatures to celsius because platform does it automatically
  homeassistant/components/climacell/weather.py
Labels: bugfix, by-code-owner, cla-signed, integration: climacell, small-pr

#47405 Fix AirVisual exception when config entry contains old integration type
  homeassistant/components/airvisual/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: airvisual, small-pr

#47402 Fix Climacell timezone issue with daily forecasts
  homeassistant/components/climacell/weather.py
Labels: bugfix, by-code-owner, cla-signed, integration: climacell, small-pr

#47412 Fix older Roborock models
  homeassistant/components/xiaomi_miio/const.py
Labels: cla-signed, integration: xiaomi_miio, small-pr

#47384 Update Solax library to 0.2.6
  homeassistant/components/solax/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: solax, small-pr

#47356 Make zwave_js add-on manager more flexible
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/addon.py
  homeassistant/components/zwave_js/config_flow.py
  tests/components/zwave_js/test_config_flow.py
Labels: cla-signed, has-tests, integration: zwave_js

#47414 Fix type hint in xbox media browser function
  homeassistant/components/xbox/browse_media.py
Labels: cla-signed, integration: xbox, small-pr

#47413 Fix typo in docs link for forked_daapd
  homeassistant/components/forked_daapd/manifest.json
Labels: bugfix, cla-signed, dependency-bump, integration: forked_daapd, small-pr

#47395 Fix RFLink TCP KeepAlive error log
  homeassistant/components/rflink/__init__.py
Labels: bugfix, cla-signed, integration: rflink, small-pr

#47408 Bump zwave-js-server-python to 0.21.0
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/climate.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/helpers.py
  homeassistant/components/zwave_js/light.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/components/zwave_js/migrate.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zwave_js/test_api.py
  tests/components/zwave_js/test_climate.py
  tests/components/zwave_js/test_init.py
  tests/fixtures/zwave_js/climate_danfoss_lc_13_state.json
  tests/fixtures/zwave_js/climate_heatit_z_trm3_state.json
Labels: bugfix, cla-signed, dependency, has-tests, integration: zwave_js, small-pr

#47424 Only create snapshot if add-on update will be done
  homeassistant/components/zwave_js/addon.py
  tests/components/zwave_js/test_init.py
Labels: cla-signed, has-tests, integration: zwave_js, small-pr

#47422 2021.3.1
  homeassistant/components/airvisual/__init__.py
  homeassistant/components/climacell/weather.py
  homeassistant/components/fan/__init__.py
  homeassistant/components/frontend/manifest.json
  homeassistant/components/generic_thermostat/climate.py
  homeassistant/components/rflink/__init__.py
  homeassistant/components/wemo/__init__.py
  homeassistant/components/xiaomi_miio/__init__.py
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/components/xiaomi_miio/switch.py
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/addon.py
  homeassistant/components/zwave_js/climate.py
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/helpers.py
  homeassistant/components/zwave_js/light.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/components/zwave_js/migrate.py
  homeassistant/const.py
  homeassistant/helpers/condition.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homeassistant/triggers/test_numeric_state.py
  tests/components/wemo/test_init.py
  tests/components/zwave_js/common.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_api.py
  tests/components/zwave_js/test_climate.py
  tests/components/zwave_js/test_config_flow.py
  tests/components/zwave_js/test_init.py
  tests/fixtures/zwave_js/climate_danfoss_lc_13_state.json
  tests/fixtures/zwave_js/climate_heatit_z_trm3_state.json
  tests/fixtures/zwave_js/srt321_hrt4_zw_state.json
  tests/helpers/test_condition.py
Labels: cla-signed

#47451 Spellcheck on Synology component
  homeassistant/components/synology_dsm/const.py
Labels: bugfix, cla-signed, integration: synology_dsm, small-pr

#47431 Add allenporter to stream codeowners
  CODEOWNERS
  homeassistant/components/stream/manifest.json
Labels: by-code-owner, cla-signed, core, integration: stream, small-pr

#47456 Limit log spam by ESPHome
  homeassistant/components/esphome/__init__.py
Labels: cla-signed, code-quality, integration: esphome, small-pr

#47464 Bump zwave-js-server-python to 0.21.1
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: zwave_js, small-pr

#47462 Update frontend to 20210302.5
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, dependency-bump, integration: frontend, small-pr

#47458 Bump version with fix for v1
  homeassistant/components/philips_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: philips_js, small-pr

#47454 Fix Hue scene overriding Hue default transition times
  homeassistant/components/hue/bridge.py
  homeassistant/components/hue/const.py
  tests/components/hue/test_bridge.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: hue, small-pr

#47323 Clean up constants
  homeassistant/components/automation/__init__.py
  homeassistant/components/script/__init__.py
  homeassistant/components/seventeentrack/sensor.py
  homeassistant/components/shopping_list/__init__.py
  homeassistant/components/slack/notify.py
  homeassistant/components/spaceapi/__init__.py
  homeassistant/components/upb/__init__.py
  homeassistant/components/upb/const.py
  homeassistant/components/upcloud/__init__.py
  homeassistant/components/vilfo/const.py
  homeassistant/components/vilfo/sensor.py
  homeassistant/components/webostv/__init__.py
  homeassistant/components/webostv/const.py
  homeassistant/components/xiaomi_aqara/__init__.py
  homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/components/xiaomi_miio/switch.py
  homeassistant/components/zha/api.py
  homeassistant/components/zha/core/channels/base.py
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/entity.py
  homeassistant/components/zwave/__init__.py
  homeassistant/components/zwave/const.py
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/const.py
  homeassistant/helpers/script.py
  tests/components/webostv/test_media_player.py
  tests/components/zha/test_api.py
  tests/components/zwave/test_init.py
Labels: cla-signed

#47401 Prevent Zerproc leaving open unnecessary connections
  homeassistant/components/zerproc/__init__.py
  homeassistant/components/zerproc/light.py
  homeassistant/components/zerproc/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zerproc/test_light.py
Labels: bugfix, by-code-owner, cla-signed, dependency, has-tests, integration: zerproc, small-pr

#47463 Use conn_made callback in MySensors
  homeassistant/components/mysensors/const.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/mysensors/handler.py
Labels: bugfix, by-code-owner, cla-signed, integration: mysensors, small-pr

#47446 Update pyotgw to 1.1b1
  homeassistant/components/opentherm_gw/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: opentherm_gw, small-pr

#47470 Deprecate HomeKit auto start
  homeassistant/components/homekit/__init__.py
Labels: breaking-change, cla-signed, integration: homekit, small-pr

#47469 Update zwave_js.refresh_value service description
  homeassistant/components/zwave_js/services.yaml
Labels: bugfix, cla-signed, integration: zwave_js, small-pr

#47403 Convert kulersky to use new async backend
  homeassistant/components/kulersky/config_flow.py
  homeassistant/components/kulersky/light.py
  homeassistant/components/kulersky/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/kulersky/test_config_flow.py
  tests/components/kulersky/test_light.py
Labels: by-code-owner, cla-signed, code-quality, dependency, has-tests, integration: kulersky

#46347 Increase test coverage of UniFi integration
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/controller.py
  tests/components/unifi/conftest.py
  tests/components/unifi/test_config_flow.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_device_tracker.py
  tests/components/unifi/test_init.py
  tests/components/unifi/test_sensor.py
  tests/components/unifi/test_switch.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: unifi, small-pr

#47452 Fix issue at Netatmo startup
  homeassistant/components/netatmo/camera.py
  homeassistant/components/netatmo/climate.py
  homeassistant/components/netatmo/data_handler.py
  homeassistant/components/netatmo/light.py
  homeassistant/components/netatmo/sensor.py
Labels: by-code-owner, cla-signed, integration: netatmo

#47471 Typing tweak to the Elgato integration
  homeassistant/components/elgato/config_flow.py
  homeassistant/components/elgato/light.py
Labels: by-code-owner, cla-signed, code-quality, integration: elgato, small-pr

#47148 Improve restoring UniFi POE entity state
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/switch.py
  tests/components/unifi/test_switch.py
Labels: bugfix, by-code-owner, cla-signed, integration: unifi, small-pr

#47479 Update ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: zha, small-pr

#46606 Move AsusWrt sensors update logic in router module
  homeassistant/components/asuswrt/__init__.py
  homeassistant/components/asuswrt/config_flow.py
  homeassistant/components/asuswrt/const.py
  homeassistant/components/asuswrt/router.py
  homeassistant/components/asuswrt/sensor.py
  tests/components/asuswrt/test_sensor.py
Labels: cla-signed, code-quality, has-tests, integration: asuswrt

#47483 Bump amcrest package version to 1.7.1
  homeassistant/components/amcrest/manifest.json
  requirements_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: amcrest, small-pr

#47480 Complete typing on TwenteMilieu integration
  homeassistant/components/twentemilieu/__init__.py
  homeassistant/components/twentemilieu/config_flow.py
  homeassistant/components/twentemilieu/sensor.py
  tests/components/twentemilieu/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: twentemilieu

#47467 Raise error instead of crashing when template passed to call service target
  homeassistant/components/websocket_api/commands.py
  tests/components/websocket_api/test_commands.py
Labels: bugfix, cla-signed, core, has-tests, integration: websocket_api, small-pr

#47482 Complete typing on Verisure integration
  homeassistant/components/verisure/__init__.py
  homeassistant/components/verisure/alarm_control_panel.py
  homeassistant/components/verisure/binary_sensor.py
  homeassistant/components/verisure/camera.py
  homeassistant/components/verisure/lock.py
  homeassistant/components/verisure/sensor.py
  homeassistant/components/verisure/switch.py
Labels: by-code-owner, cla-signed, code-quality, integration: verisure

#47490 2021.3.2
  homeassistant/components/amcrest/manifest.json
  homeassistant/components/frontend/manifest.json
  homeassistant/components/hue/bridge.py
  homeassistant/components/hue/const.py
  homeassistant/components/mysensors/const.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/mysensors/handler.py
  homeassistant/components/netatmo/camera.py
  homeassistant/components/netatmo/climate.py
  homeassistant/components/netatmo/data_handler.py
  homeassistant/components/netatmo/light.py
  homeassistant/components/netatmo/sensor.py
  homeassistant/components/opentherm_gw/manifest.json
  homeassistant/components/philips_js/manifest.json
  homeassistant/components/websocket_api/commands.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/components/zwave_js/services.yaml
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/hue/test_bridge.py
  tests/components/websocket_api/test_commands.py
Labels: cla-signed

#47498 Fix Sonos polling mode
  homeassistant/components/sonos/media_player.py
Labels: bugfix, cla-signed, integration: sonos, small-pr

#47285 Add OPENING & CLOSING state to MySensors cover
  homeassistant/components/mysensors/cover.py
  homeassistant/components/mysensors/device.py
Labels: cla-signed, integration: mysensors, new-feature

#47501 Upgrade upcloud-api to 1.0.1
  homeassistant/components/upcloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: upcloud, small-pr

#47373 Merge action and condition traces
  homeassistant/components/automation/__init__.py
  homeassistant/helpers/condition.py
  homeassistant/helpers/script.py
  homeassistant/helpers/trace.py
  tests/helpers/test_condition.py
  tests/helpers/test_script.py
Labels: cla-signed, code-quality, core, integration: automation

#47441 Disable audio stream when ADTS AAC detected
  homeassistant/components/stream/worker.py
  tests/components/stream/test_worker.py
Labels: bugfix, by-code-owner, cla-signed, core, integration: stream, small-pr

#47060 Adjust litterrobot tests and code to match guidelines
  homeassistant/components/litterrobot/config_flow.py
  homeassistant/components/litterrobot/hub.py
  homeassistant/components/litterrobot/manifest.json
  homeassistant/components/litterrobot/sensor.py
  homeassistant/components/litterrobot/switch.py
  homeassistant/components/litterrobot/vacuum.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/litterrobot/conftest.py
  tests/components/litterrobot/test_config_flow.py
  tests/components/litterrobot/test_init.py
  tests/components/litterrobot/test_sensor.py
  tests/components/litterrobot/test_switch.py
  tests/components/litterrobot/test_vacuum.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: litterrobot, small-pr

#47517 Fix mysensors notify platform
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/device_tracker.py
  homeassistant/components/mysensors/helpers.py
  homeassistant/components/mysensors/notify.py
Labels: by-code-owner, cla-signed, integration: mysensors

#47530 Bump pymysensors to 0.21.0
  homeassistant/components/mysensors/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: mysensors, small-pr

#47477 Complete typing on AdGuard Home integration
  homeassistant/components/adguard/__init__.py
  homeassistant/components/adguard/config_flow.py
  homeassistant/components/adguard/sensor.py
  homeassistant/components/adguard/switch.py
  tests/components/adguard/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: adguard

#47536 Fix mysensors device tracker
  homeassistant/components/mysensors/__init__.py
Labels: by-code-owner, cla-signed, integration: mysensors, small-pr

#47284 Add precipitation probability forecast to owm
  homeassistant/components/openweathermap/const.py
  homeassistant/components/openweathermap/weather_update_coordinator.py
Labels: cla-signed, integration: openweathermap, new-feature, small-pr

#47487 Add device classes for CO and CO2 measurements
  homeassistant/components/sensor/__init__.py
  homeassistant/components/sensor/device_condition.py
  homeassistant/components/sensor/device_trigger.py
  homeassistant/components/sensor/strings.json
  homeassistant/const.py
  tests/components/sensor/test_device_trigger.py
  tests/testing_config/custom_components/test/sensor.py
Labels: cla-signed, core, has-tests, integration: sensor, new-feature

#47476 Bump HAP-python to 3.4.0
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit/test_homekit.py
Labels: by-code-owner, cla-signed, integration: homekit, small-pr

#47491 Change default homekit ports to 21063 and 21064
  homeassistant/components/homekit/const.py
Labels: by-code-owner, cla-signed, integration: homekit, small-pr

#47547 Increase ESPHome log level on first connection failure
  homeassistant/components/esphome/__init__.py
Labels: cla-signed, code-quality, integration: esphome, small-pr

#47526 Improve common structure in UniFi device tracker tests
  tests/components/unifi/test_device_tracker.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: unifi, small-pr

#47555 Correctly close lacrosse on homeassistant stop
  homeassistant/components/lacrosse/sensor.py
Labels: bugfix, cla-signed, integration: lacrosse, small-pr

#47534 Clean up Lutron Caseta
  homeassistant/components/lutron_caseta/__init__.py
  homeassistant/components/lutron_caseta/binary_sensor.py
  homeassistant/components/lutron_caseta/config_flow.py
  homeassistant/components/lutron_caseta/const.py
  homeassistant/components/lutron_caseta/cover.py
  homeassistant/components/lutron_caseta/fan.py
  homeassistant/components/lutron_caseta/light.py
  homeassistant/components/lutron_caseta/scene.py
  homeassistant/components/lutron_caseta/switch.py
Labels: cla-signed, code-quality, integration: lutron_caseta, small-pr

#47537 Clean up kmtronic
  homeassistant/components/kmtronic/__init__.py
  homeassistant/components/kmtronic/config_flow.py
  homeassistant/components/kmtronic/const.py
Labels: cla-signed, code-quality, integration: kmtronic, small-pr

#47541 Fix mysensors unload clean up
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/gateway.py
  homeassistant/components/mysensors/helpers.py
Labels: by-code-owner, cla-signed, integration: mysensors

#47565 Correct weather entities forecast time
  homeassistant/components/aemet/weather_update_coordinator.py
  homeassistant/components/openweathermap/weather_update_coordinator.py
  tests/components/aemet/test_sensor.py
  tests/components/aemet/test_weather.py
Labels: cla-signed

#46879 Round miles in myChevy sensors
  homeassistant/components/mychevy/sensor.py
Labels: bugfix, cla-signed, integration: mychevy, small-pr

#47542 Remove @newAM from hdmi_cec codeowners
  CODEOWNERS
  homeassistant/components/hdmi_cec/manifest.json
Labels: by-code-owner, cla-signed, integration: hdmi_cec, small-pr

#47592 Update frontend to 20210302.6
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency, integration: frontend, small-pr

#47582 Add fallback zwave_js entity name using node ID
  homeassistant/components/zwave_js/entity.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_init.py
  tests/fixtures/zwave_js/null_name_check_state.json
Labels: bugfix, cla-signed, integration: zwave_js, small-pr

#47589 Update rokuecp to 0.8.1
  homeassistant/components/roku/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: roku, small-pr

#47616 Upgrade elgato to 2.0.1
  homeassistant/components/elgato/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: elgato, small-pr

#47618 Upgrade pre-commit to 2.11.0
  requirements_test.txt
Labels: cla-signed, dependency, dependency-bump, small-pr

#47074 Add support for Flo leak detector pucks
  homeassistant/components/flo/binary_sensor.py
  homeassistant/components/flo/device.py
  homeassistant/components/flo/sensor.py
  homeassistant/components/flo/switch.py
  tests/components/flo/conftest.py
  tests/components/flo/test_binary_sensor.py
  tests/components/flo/test_device.py
  tests/components/flo/test_init.py
  tests/components/flo/test_sensor.py
  tests/components/flo/test_services.py
  tests/components/flo/test_switch.py
  tests/fixtures/flo/device_info_response_detector.json
  tests/fixtures/flo/location_info_base_response.json
  tests/fixtures/flo/user_info_expand_locations_response.json
Labels: cla-signed, integration: flo, new-feature

#47520 Allow 10mV precision for ZHA battery sensor entities
  homeassistant/components/zha/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: zha, small-pr
