Repository home-assistant/core, pull requests merged in 2021-07, with the labels that each got.

#52378 Remove redundant property definitions in IQVIA
  homeassistant/components/iqvia/__init__.py
  homeassistant/components/iqvia/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: iqvia, small-pr

#52364 Bump bt_proximity library
  homeassistant/components/bluetooth_tracker/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: bluetooth_tracker, small-pr

#52022 Add screenlogic reconnect
  homeassistant/components/screenlogic/__init__.py
Labels: bugfix, cla-signed, integration: screenlogic

#52380 Fix missing default latitude/longitude/elevation in OpenUV config flow
  homeassistant/components/openuv/config_flow.py
Labels: bugfix, by-code-owner, cla-signed, integration: openuv, small-pr

#52377 Remove redundant property definitions in Flu Near You
  homeassistant/components/flunearyou/__init__.py
  homeassistant/components/flunearyou/sensor.py
Labels: cla-signed

#49665 Add motion detection support to motionEye
  homeassistant/components/motioneye/__init__.py
  homeassistant/components/motioneye/config_flow.py
  homeassistant/components/motioneye/const.py
  homeassistant/components/motioneye/manifest.json
  homeassistant/components/motioneye/strings.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/motioneye/__init__.py
  tests/components/motioneye/test_camera.py
  tests/components/motioneye/test_config_flow.py
  tests/components/motioneye/test_web_hooks.py
Labels: by-code-owner, cla-signed, has-tests, integration: motioneye, new-feature

#52367 Remove redundant property definitions in Notion
  homeassistant/components/notion/__init__.py
  homeassistant/components/notion/binary_sensor.py
  homeassistant/components/notion/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: notion

#52345 Bump pyfritzhome to 6.2.0
  homeassistant/components/fritzbox/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: fritzbox, small-pr

#52390 Demo: Explicitly return None when no extra state attribute set
  homeassistant/components/demo/remote.py
Labels: cla-signed

#52232 Add support for Formaldehyde and VOC level sensors
  homeassistant/components/zha/core/channels/measurement.py
  homeassistant/components/zha/core/registries.py
  homeassistant/components/zha/sensor.py
Labels: by-code-owner, cla-signed, integration: zha, new-feature

#52383 Allow combining value_template and position_template for template cover
  homeassistant/components/template/cover.py
  tests/components/template/test_cover.py
Labels: cla-signed, has-tests, integration: template, small-pr

#52393 Fix sensor statistics collection with empty states
  homeassistant/components/sensor/recorder.py
Labels: bugfix, cla-signed, core, integration: sensor, small-pr

#45980 Vacation Mode on Alarm Panels
  homeassistant/components/alarm_control_panel/__init__.py
  homeassistant/components/alarm_control_panel/const.py
  homeassistant/components/alarm_control_panel/device_action.py
  homeassistant/components/alarm_control_panel/device_condition.py
  homeassistant/components/alarm_control_panel/device_trigger.py
  homeassistant/components/alarm_control_panel/group.py
  homeassistant/components/alarm_control_panel/reproduce_state.py
  homeassistant/components/alarm_control_panel/services.yaml
  homeassistant/components/alarm_control_panel/strings.json
  homeassistant/const.py
  tests/components/alarm_control_panel/test_device_action.py
  tests/components/alarm_control_panel/test_device_condition.py
  tests/components/alarm_control_panel/test_device_trigger.py
  tests/components/alarm_control_panel/test_reproduce_state.py
  tests/components/device_automation/test_init.py
  tests/testing_config/custom_components/test/alarm_control_panel.py
Labels: cla-signed, core, integration: alarm_control_panel, new-feature

#52392 Fix MQTT cover optimistic mode
  homeassistant/components/mqtt/cover.py
  tests/components/mqtt/test_cover.py
Labels: bugfix, by-code-owner, cla-signed, core, integration: mqtt

#52374 Bump up ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zha/common.py
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: zha, small-pr

#52398 Use attributes instead of properties for uptime
  homeassistant/components/uptime/sensor.py
Labels: cla-signed, code-quality, integration: uptime, small-pr

#52401 Bump pysma to 0.6.1
  homeassistant/components/sma/__init__.py
  homeassistant/components/sma/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, integration: sma, small-pr

#52405 Upgrade wled to 0.7.1
  homeassistant/components/wled/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: wled, small-pr

#52408 Bump eight sleep dependency to fix bug
  homeassistant/components/eight_sleep/__init__.py
  homeassistant/components/eight_sleep/binary_sensor.py
  homeassistant/components/eight_sleep/manifest.json
  requirements_all.txt
Labels: bugfix, cla-signed, dependency, integration: eight_sleep, small-pr

#52361 Remove redundant property definitions in Guardian
  homeassistant/components/guardian/__init__.py
  homeassistant/components/guardian/binary_sensor.py
  homeassistant/components/guardian/sensor.py
  homeassistant/components/guardian/switch.py
Labels: by-code-owner, cla-signed, code-quality, integration: guardian

#52379 Remove redundant property definitions in OpenUV
  homeassistant/components/openuv/__init__.py
  homeassistant/components/openuv/binary_sensor.py
  homeassistant/components/openuv/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: openuv

#52386 Improve sensor statistics tests
  homeassistant/components/recorder/statistics.py
  homeassistant/components/sensor/recorder.py
  tests/components/sensor/test_recorder.py
Labels: cla-signed, code-quality, core, has-tests, integration: recorder, integration: sensor, small-pr

#52403 Clean up netatmo sensor data processing
  homeassistant/components/netatmo/sensor.py
Labels: by-code-owner, cla-signed, integration: netatmo

#52404 Add update listener to Coinbase
  homeassistant/components/coinbase/__init__.py
  homeassistant/components/coinbase/sensor.py
  tests/components/coinbase/const.py
  tests/components/coinbase/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, code-quality, has-tests, integration: coinbase

#52369 Add rainbird set_rain_delay service
  homeassistant/components/rainbird/services.yaml
  homeassistant/components/rainbird/switch.py
Labels: cla-signed, integration: rainbird, new-feature

#52395 Remove boilerplate code in favour of attributes in Netatmo integration
  homeassistant/components/netatmo/camera.py
  homeassistant/components/netatmo/climate.py
  homeassistant/components/netatmo/const.py
  homeassistant/components/netatmo/light.py
  homeassistant/components/netatmo/netatmo_entity_base.py
  homeassistant/components/netatmo/sensor.py
Labels: by-code-owner, cla-signed, integration: netatmo

#52388 Reject trusted network access from proxies
  homeassistant/auth/providers/trusted_networks.py
  homeassistant/components/http/forwarded.py
  tests/auth/providers/test_trusted_networks.py
  tests/components/http/test_forwarded.py
Labels: cla-signed, core, has-tests, integration: http

#52417 Drop statistic_id and source columns from statistics table
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/models.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/sensor/recorder.py
Labels: cla-signed, core, integration: recorder, integration: sensor, new-feature

#52422 Upgrade aioimaplib to 0.9.0
  homeassistant/components/imap/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: imap, small-pr

#52430 Fix typo in forecast_solar strings
  homeassistant/components/forecast_solar/strings.json
Labels: bugfix, cla-signed, integration: forecast_solar, small-pr

#52433 Avoid duplicated database queries when fetching statistics
  homeassistant/components/recorder/statistics.py
  tests/components/recorder/test_statistics.py
Labels: bugfix, cla-signed, core, has-tests, integration: recorder, small-pr

#52436 Correct recorder table arguments
  homeassistant/components/recorder/models.py
Labels: bugfix, cla-signed, core, integration: recorder, small-pr

#52435 Enable basic type checking for Tasmota
  homeassistant/components/tasmota/device_trigger.py
  homeassistant/components/tasmota/discovery.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: by-code-owner, cla-signed, code-quality, integration: tasmota, small-pr

#52409 Import track_new_devices and scan_interval from yaml for nmap_tracker
  homeassistant/components/nmap_tracker/__init__.py
  homeassistant/components/nmap_tracker/config_flow.py
  homeassistant/components/nmap_tracker/const.py
  homeassistant/components/nmap_tracker/device_tracker.py
  homeassistant/components/nmap_tracker/strings.json
  homeassistant/components/nmap_tracker/translations/en.json
  tests/components/nmap_tracker/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: nmap_tracker

#49835 Add sensor platform to goalzero
  .coveragerc
  homeassistant/components/goalzero/__init__.py
  homeassistant/components/goalzero/binary_sensor.py
  homeassistant/components/goalzero/config_flow.py
  homeassistant/components/goalzero/const.py
  homeassistant/components/goalzero/sensor.py
Labels: by-code-owner, cla-signed, integration: goalzero, new-feature, new-platform

#52424 Demo: remove deprecated switch entity properties
  homeassistant/components/demo/sensor.py
  homeassistant/components/demo/switch.py
  tests/components/demo/test_switch.py
  tests/components/emulated_kasa/test_init.py
Labels: breaking-change, cla-signed, core, has-tests, integration: demo, small-pr

#52368 Remove redundant property definitions in ReCollect Waste
  homeassistant/components/recollect_waste/__init__.py
  homeassistant/components/recollect_waste/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: recollect_waste, small-pr

#52396 Add static typing to devolo_home_control
  .strict-typing
  homeassistant/components/devolo_home_control/__init__.py
  homeassistant/components/devolo_home_control/binary_sensor.py
  homeassistant/components/devolo_home_control/climate.py
  homeassistant/components/devolo_home_control/config_flow.py
  homeassistant/components/devolo_home_control/cover.py
  homeassistant/components/devolo_home_control/devolo_device.py
  homeassistant/components/devolo_home_control/devolo_multi_level_switch.py
  homeassistant/components/devolo_home_control/light.py
  homeassistant/components/devolo_home_control/sensor.py
  homeassistant/components/devolo_home_control/subscriber.py
  homeassistant/components/devolo_home_control/switch.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: by-code-owner, cla-signed, code-quality, integration: devolo_home_control

#52443 Fix Fritz call deflection list
  homeassistant/components/fritz/switch.py
Labels: bugfix, by-code-owner, cla-signed, integration: fritz, small-pr

#52449 Fix Statistics recorder migration order
  homeassistant/components/recorder/migration.py
Labels: bugfix, cla-signed, core, integration: recorder, small-pr

#52407 Abort existing reauth flow on entry removal
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: bugfix, cla-signed, core

#52445 Replace custom listener with helper in ReCollect Waste
  homeassistant/components/recollect_waste/__init__.py
Labels: by-code-owner, cla-signed, code-quality, integration: recollect_waste, small-pr

#52264 Merge fritzbox_netmonitor integration into fritz
  .coveragerc
  homeassistant/components/fritz/sensor.py
  homeassistant/components/fritzbox_netmonitor/__init__.py
  homeassistant/components/fritzbox_netmonitor/manifest.json
  homeassistant/components/fritzbox_netmonitor/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: breaking-change, by-code-owner, cla-signed, integration: fritz, integration: fritzbox_netmonitor, new-feature, remove-platform

#52438 Improve typing in Sony Bravia TV integration
  .strict-typing
  homeassistant/components/braviatv/__init__.py
  homeassistant/components/braviatv/config_flow.py
  homeassistant/components/braviatv/const.py
  homeassistant/components/braviatv/media_player.py
  homeassistant/components/braviatv/remote.py
  mypy.ini
Labels: by-code-owner, cla-signed, code-quality, integration: braviatv

#52472 Bump aiohomekit to 0.4.1
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: homekit_controller, small-pr

#52470 Enable basic type checking for climate
  homeassistant/components/climate/__init__.py
  homeassistant/components/climate/device_condition.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, core, integration: climate, small-pr

#52467 Enable basic type checking for gogogate2
  homeassistant/components/gogogate2/__init__.py
  homeassistant/components/gogogate2/common.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, integration: gogogate2, small-pr

#52468 Enable basic type checking for trace
  homeassistant/helpers/trace.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, core, small-pr

#52457 Replace custom listener with helper in SimpliSafe
  homeassistant/components/simplisafe/__init__.py
Labels: by-code-owner, cla-signed, code-quality, integration: simplisafe, small-pr

#52458 Remove redundant property definitions in SimpliSafe
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/alarm_control_panel.py
  homeassistant/components/simplisafe/binary_sensor.py
  homeassistant/components/simplisafe/lock.py
  homeassistant/components/simplisafe/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: simplisafe

#52456 Remove redundant property definitions in RainMachine
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/binary_sensor.py
  homeassistant/components/rainmachine/sensor.py
  homeassistant/components/rainmachine/switch.py
Labels: by-code-owner, cla-signed, code-quality, integration: rainmachine

#52448 Remove redundant property definitions in Tile
  homeassistant/components/tile/__init__.py
  homeassistant/components/tile/device_tracker.py
Labels: by-code-owner, cla-signed, code-quality, integration: tile, small-pr

#52476 Enable basic type checking for script
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, small-pr

#52459 Deprecate YAML config for Ambient PWS
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/ambient_station/config_flow.py
  tests/components/ambient_station/test_config_flow.py
Labels: breaking-change, by-code-owner, cla-signed, has-tests, integration: ambient_station, small-pr

#48017 Mark entities for dead zwave_js nodes as unavailable
  homeassistant/components/zwave_js/entity.py
  tests/components/zwave_js/common.py
  tests/components/zwave_js/test_lock.py
Labels: breaking-change, bugfix, cla-signed, integration: zwave_js, small-pr

#52497 Update devolo-home-control-api to 0.17.4
  homeassistant/components/devolo_home_control/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: devolo_home_control, small-pr

#52492 Add basic typing to ezviz camera platform
  homeassistant/components/ezviz/camera.py
  homeassistant/components/ezviz/const.py
Labels: by-code-owner, cla-signed, code-quality, integration: ezviz

#52508 Bump HAP-python to 3.5.1
  homeassistant/components/homekit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: homekit, small-pr

#52502 Use entity class attributes for airnow
  homeassistant/components/airnow/sensor.py
Labels: cla-signed, code-quality, integration: airnow, small-pr

#52489 Remove empty hosts and excludes from nmap configuration
  homeassistant/components/nmap_tracker/__init__.py
Labels: by-code-owner, cla-signed, integration: nmap_tracker, small-pr

#52295 Migrate `air_quality` platform to sensor for GIOS integration
  homeassistant/components/gios/__init__.py
  homeassistant/components/gios/air_quality.py
  homeassistant/components/gios/const.py
  homeassistant/components/gios/model.py
  homeassistant/components/gios/sensor.py
  tests/components/gios/test_air_quality.py
  tests/components/gios/test_init.py
  tests/components/gios/test_sensor.py
Labels: breaking-change, by-code-owner, cla-signed, has-tests, integration: gios, new-platform, remove-platform

#52349 Migrate AirVisual `air_quality` platform to `sensor` platform
  .coveragerc
  homeassistant/components/airvisual/__init__.py
  homeassistant/components/airvisual/air_quality.py
  homeassistant/components/airvisual/sensor.py
Labels: breaking-change, by-code-owner, cla-signed, integration: airvisual, remove-platform

#52521 Use entity class attributes for ambiclimate
  homeassistant/components/ambiclimate/__init__.py
  homeassistant/components/ambiclimate/climate.py
  homeassistant/components/ambiclimate/config_flow.py
Labels: cla-signed, code-quality, integration: ambiclimate, small-pr

#52499 Use entity class attributes for aemet
  homeassistant/components/aemet/sensor.py
  homeassistant/components/aemet/weather.py
Labels: cla-signed, code-quality, integration: aemet, small-pr

#52527 Bump gios library to version 1.0.2
  homeassistant/components/gios/air_quality.py
  homeassistant/components/gios/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cherry-picked, cla-signed, dependency, integration: gios, merging-to-rc, small-pr

#52520 Use entity class attributes for alpha_vantage
  homeassistant/components/alpha_vantage/sensor.py
Labels: cla-signed, code-quality, integration: alpha_vantage, small-pr

#52518 Use entity class attributes for alert
  homeassistant/components/alert/__init__.py
Labels: cla-signed, code-quality, integration: alert, small-pr

#52478 Enable basic typing for roku
  homeassistant/components/roku/__init__.py
  homeassistant/components/roku/config_flow.py
  homeassistant/components/roku/const.py
  homeassistant/components/roku/coordinator.py
  homeassistant/components/roku/entity.py
  homeassistant/components/roku/media_player.py
  homeassistant/components/roku/remote.py
  mypy.ini
  script/hassfest/mypy_config.py
  tests/components/roku/test_media_player.py
  tests/components/roku/test_remote.py
Labels: by-code-owner, cla-signed, integration: roku, small-pr

#52427 Use entity class attributes for abode
  homeassistant/components/abode/__init__.py
  homeassistant/components/abode/alarm_control_panel.py
  homeassistant/components/abode/sensor.py
  homeassistant/components/abode/switch.py
Labels: cla-signed, code-quality, integration: abode

#52463 Enable basic type checking for mqtt
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/debug_info.py
  homeassistant/components/mqtt/device_trigger.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/models.py
  homeassistant/components/mqtt/sensor.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: by-code-owner, cla-signed, code-quality, core, integration: mqtt

#52500 Use entity class attributes for aftership
  homeassistant/components/aftership/sensor.py
Labels: cla-signed, code-quality, integration: aftership, small-pr

#52483 Fix CI failing due to Shell Command exception
  homeassistant/components/shell_command/__init__.py
Labels: bugfix, cla-signed, core, integration: shell_command, small-pr

#52452 Rename goalzero sensor
  homeassistant/components/goalzero/const.py
Labels: by-code-owner, cla-signed, code-quality, integration: goalzero, small-pr

#52434 Enable basic type checking for Google cast
  homeassistant/components/cast/helpers.py
  homeassistant/components/cast/home_assistant_cast.py
  homeassistant/components/cast/media_player.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: by-code-owner, cla-signed, code-quality, integration: cast, small-pr

#52464 Enable basic type checking for the homeassistant component
  homeassistant/components/homeassistant/scene.py
  homeassistant/components/homeassistant/triggers/numeric_state.py
  homeassistant/components/homeassistant/triggers/state.py
  homeassistant/components/homeassistant/triggers/time.py
  homeassistant/helpers/event.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, core, integration: homeassistant, small-pr

#52431 Use entity class attributes for accuweather
  homeassistant/components/accuweather/sensor.py
  homeassistant/components/accuweather/weather.py
Labels: cla-signed, code-quality, integration: accuweather, small-pr

#52484 Revert "Force SimpliSafe to reauthenticate with a password (#51528)"
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/config_flow.py
  homeassistant/components/simplisafe/strings.json
  homeassistant/components/simplisafe/translations/en.json
  tests/components/simplisafe/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: simplisafe

#52475 Add type annotations and shorten sensor names on ezviz sensor platforms
  homeassistant/components/ezviz/binary_sensor.py
  homeassistant/components/ezviz/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: ezviz, small-pr

#52505 Fix MODBUS connection type rtuovertcp does not connect
  homeassistant/components/modbus/modbus.py
Labels: bugfix, by-code-owner, cla-signed, integration: modbus, small-pr

#52540 Fully type Tag component
  .strict-typing
  homeassistant/components/tag/__init__.py
  homeassistant/components/tag/trigger.py
  mypy.ini
Labels: cla-signed, code-quality, integration: tag, small-pr

#52488 Use entity class attributes for ads
  homeassistant/components/ads/__init__.py
  homeassistant/components/ads/binary_sensor.py
  homeassistant/components/ads/cover.py
  homeassistant/components/ads/light.py
  homeassistant/components/ads/sensor.py
  homeassistant/components/ads/switch.py
Labels: cla-signed, code-quality, integration: ads, small-pr

#52541 Remove problematic/redundant db migration happening schema 15
  homeassistant/components/recorder/migration.py
Labels: bugfix, cla-signed, core, integration: recorder, small-pr

#52453 Fix Statistics recorder migration path by dropping in pairs
  homeassistant/components/recorder/migration.py
Labels: bugfix, cla-signed, core, integration: recorder, small-pr

#52547 Bump zeroconf to 0.32.1
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, core, dependency-bump, integration: zeroconf, small-pr

#52545 Update list of supported Coinbase wallet currencies
  homeassistant/components/coinbase/const.py
Labels: bugfix, by-code-owner, cla-signed, integration: coinbase

#52555 Bump up ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: zha, small-pr

#52560 Bump aiohomekit to 0.4.2
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: homekit_controller, small-pr

#52553 Bump pysma version to 0.6.2
  homeassistant/components/sma/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: sma, small-pr

#52554 Update the ip/port in the homekit_controller config entry when it changes
  homeassistant/components/homekit_controller/config_flow.py
  tests/components/homekit_controller/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: homekit_controller, small-pr

#52564 Disable flaky shell_command test
  tests/components/shell_command/test_init.py
Labels: bugfix, cla-signed, core, has-tests, integration: shell_command, small-pr

#52568 Bump pyeight version to 0.1.9
  homeassistant/components/eight_sleep/manifest.json
  requirements_all.txt
Labels: bugfix, cla-signed, dependency-bump, integration: eight_sleep, small-pr

#52516 Use entity class attributes for aladdin_connect
  homeassistant/components/aladdin_connect/cover.py
Labels: cla-signed, code-quality, integration: aladdin_connect, small-pr

#52563 Fix unavailable entity capable of triggering non-numerical warning in Threshold sensor
  homeassistant/components/threshold/binary_sensor.py
  tests/components/threshold/test_binary_sensor.py
Labels: bugfix, cla-signed, has-tests, integration: threshold, small-pr

#52509 Add type hints to LCN
  .strict-typing
  homeassistant/components/lcn/__init__.py
  homeassistant/components/lcn/binary_sensor.py
  homeassistant/components/lcn/climate.py
  homeassistant/components/lcn/config_flow.py
  homeassistant/components/lcn/cover.py
  homeassistant/components/lcn/helpers.py
  homeassistant/components/lcn/light.py
  homeassistant/components/lcn/scene.py
  homeassistant/components/lcn/sensor.py
  homeassistant/components/lcn/services.py
  homeassistant/components/lcn/switch.py
  mypy.ini
Labels: by-code-owner, cla-signed, code-quality, integration: lcn

#52577 Update frontend to 20210706.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#52576 Bump gios library to version 1.0.2
  homeassistant/components/gios/manifest.json
  homeassistant/components/gios/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/gios/__init__.py
  tests/components/gios/test_sensor.py
Labels: bugfix, by-code-owner, cla-signed, dependency, has-tests, integration: gios, small-pr

#52580 Wheels v2021.07.0
  .github/workflows/wheels.yml
Labels: cla-signed, dependency, small-pr

#52581 Minor improvements of util.percentage typing
  homeassistant/util/percentage.py
Labels: cla-signed, code-quality, core, small-pr

#52583 Improve config entry title for GIOS integration
  homeassistant/components/gios/config_flow.py
  tests/components/gios/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: gios, small-pr

#52578 Minor improvements of MQTT typing
  homeassistant/components/axis/device.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/models.py
  homeassistant/components/mqtt/subscription.py
  homeassistant/components/mysensors/gateway.py
  tests/common.py
  tests/components/tasmota/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, core, integration: mqtt, integration: mysensors

#52506 Add type annotations to ezviz init and coordinator
  homeassistant/components/ezviz/__init__.py
  homeassistant/components/ezviz/coordinator.py
Labels: by-code-owner, cla-signed, code-quality, integration: ezviz, small-pr

#50668 Enable strict typing for Fritz
  .strict-typing
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/device_tracker.py
  homeassistant/components/fritz/sensor.py
  homeassistant/components/fritz/switch.py
  mypy.ini
Labels: by-code-owner, cla-signed, code-quality, integration: fritz

#52588 Fix Fritz Wi-Fi 6 networks with same name as other Wi-Fi
  homeassistant/components/fritz/switch.py
Labels: bugfix, by-code-owner, cla-signed, integration: fritz, small-pr

#52539 Fix update of Xiaomi Miio vacuum taking too long
  homeassistant/components/xiaomi_miio/vacuum.py
Labels: bugfix, cla-signed, integration: xiaomi_miio, small-pr

#52517 Clean up alarmdecoder
  homeassistant/components/alarmdecoder/__init__.py
  homeassistant/components/alarmdecoder/alarm_control_panel.py
  homeassistant/components/alarmdecoder/binary_sensor.py
  homeassistant/components/alarmdecoder/sensor.py
  tests/components/alarmdecoder/test_config_flow.py
Labels: cla-signed, code-quality, has-tests, integration: alarmdecoder

#52444 Don't raise when setting HVAC mode without a mode ZwaveValue
  homeassistant/components/zwave_js/climate.py
  tests/components/zwave_js/test_climate.py
Labels: bugfix, cla-signed, integration: zwave_js, small-pr

#52591 Bump hatasmota to 0.2.20
  homeassistant/components/tasmota/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: tasmota, small-pr

#52584 Make use of entry id rather than unique id when storing deconz entry in hass.data
  homeassistant/components/deconz/__init__.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deconz/services.py
  tests/components/deconz/test_init.py
  tests/components/deconz/test_services.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: deconz, small-pr

#52592 Add home-assistant/core as codeowner for the template integration
  CODEOWNERS
  homeassistant/components/template/manifest.json
Labels: cla-signed, integration: template, small-pr

#52585 Use HA location name as `name` in GIOS integration
  homeassistant/components/gios/config_flow.py
Labels: by-code-owner, cla-signed, code-quality, integration: gios, small-pr

#52586 Upgrade numpy to 1.21.0
  homeassistant/components/compensation/manifest.json
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/opencv/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: compensation, integration: iqvia, integration: opencv, integration: tensorflow, integration: trend, small-pr

#52471 Enable basic type checking for fan
  homeassistant/components/fan/__init__.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, core, integration: fan, small-pr

#52567 Fresh attempt at SimpliSafe auto-relogin
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/config_flow.py
  homeassistant/components/simplisafe/manifest.json
  homeassistant/components/simplisafe/strings.json
  homeassistant/components/simplisafe/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/simplisafe/test_config_flow.py
Labels: by-code-owner, cla-signed, dependency, has-tests, integration: simplisafe, small-pr

#52573 Revert nmap_tracker to 2021.6 version
  .coveragerc
  CODEOWNERS
  homeassistant/components/nmap_tracker/__init__.py
  homeassistant/components/nmap_tracker/config_flow.py
  homeassistant/components/nmap_tracker/device_tracker.py
  homeassistant/components/nmap_tracker/manifest.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nmap_tracker/__init__.py
  tests/components/nmap_tracker/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: nmap_tracker

#52513 Fix Sensibo timeout exceptions
  homeassistant/components/sensibo/climate.py
Labels: bugfix, cla-signed, integration: sensibo

#51572 Update Somfy to reduce calls to /site entrypoint
  homeassistant/components/somfy/__init__.py
  homeassistant/components/somfy/climate.py
  homeassistant/components/somfy/const.py
  homeassistant/components/somfy/coordinator.py
  homeassistant/components/somfy/cover.py
  homeassistant/components/somfy/entity.py
  homeassistant/components/somfy/manifest.json
  homeassistant/components/somfy/sensor.py
  homeassistant/components/somfy/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/somfy/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, integration: somfy

#52597 Remove unnecessary async_setup method for Guardian
  homeassistant/components/guardian/__init__.py
Labels: by-code-owner, cla-signed, code-quality, integration: guardian, small-pr

#52596 Add type annotations to Ambient PWS
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/ambient_station/binary_sensor.py
  homeassistant/components/ambient_station/config_flow.py
  homeassistant/components/ambient_station/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: ambient_station

#52605 Python 3.9.6 / Base image 2021.07.0
  build.json
Labels: cla-signed, dependency, small-pr

#52611 Bump up ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: zha, small-pr

#52613 Fix deadlock at shutdown with python 3.9
  homeassistant/runner.py
  homeassistant/util/executor.py
  tests/util/test_executor.py
Labels: cla-signed, core, small-pr

#52621 Fix broadlink creating duplicate unique IDs
  homeassistant/components/broadlink/switch.py
Labels: bugfix, cla-signed, integration: broadlink, small-pr

#52604 Fix mysensors rgb light
  homeassistant/components/mysensors/light.py
Labels: bugfix, cla-signed, integration: mysensors, small-pr

#52624 Update frontend to 20210707.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#52630 Bump opencv to 4.5.2.54
  homeassistant/components/opencv/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: opencv, small-pr

#52631 Fix service registration typo in Nuki integration
  homeassistant/components/nuki/lock.py
Labels: bugfix, cla-signed, integration: nuki, small-pr

#52650 Handle KeyError when accessing device information
  homeassistant/components/ecovacs/__init__.py
Labels: bugfix, cla-signed, integration: ecovacs, small-pr

#52648 Fix Fritz default consider home value
  homeassistant/components/fritz/common.py
Labels: bugfix, by-code-owner, cla-signed, integration: fritz, small-pr

#52663 Fix Waze Travel Time tests
  tests/components/waze_travel_time/conftest.py
Labels: bugfix, cla-signed, has-tests, integration: waze_travel_time, small-pr

#52462 Refactor decompression timestamp validation logic in stream component
  homeassistant/components/stream/worker.py
Labels: by-code-owner, cla-signed, code-quality, core, integration: stream

#52598 Add missing type annotations to Guardian
  homeassistant/components/guardian/__init__.py
  homeassistant/components/guardian/config_flow.py
Labels: by-code-owner, cla-signed, code-quality, integration: guardian, small-pr

#52599 Add missing type annotations to Notion
  homeassistant/components/notion/__init__.py
  homeassistant/components/notion/binary_sensor.py
  homeassistant/components/notion/config_flow.py
  homeassistant/components/notion/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: notion, small-pr

#52600 Add missing type annotations to ReCollect Waste
  homeassistant/components/recollect_waste/__init__.py
  homeassistant/components/recollect_waste/config_flow.py
  homeassistant/components/recollect_waste/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: recollect_waste, small-pr

#52684 Bump simplisafe-python to 11.0.1
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: simplisafe, small-pr

#52594 Use entity class attributes for anel_pwrctrl
  homeassistant/components/anel_pwrctrl/switch.py
Labels: cla-signed, code-quality, integration: anel_pwrctrl, small-pr

#52701 pyWeMo version bump (0.6.5)
  homeassistant/components/wemo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: wemo, small-pr

#52652 Warn if `interface_addr` remains in Sonos configuration
  homeassistant/components/sonos/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: sonos, small-pr

#52696 Use entity class attributes for avion
  homeassistant/components/avion/light.py
Labels: cla-signed, code-quality, integration: avion, small-pr

#52682 Move recorder.py import to runtime
  homeassistant/components/stream/__init__.py
Labels: bugfix, by-code-owner, cla-signed, core, integration: stream, small-pr

#52692 Use entity class attributes for aurora_abb_power
  homeassistant/components/aurora_abb_powerone/sensor.py
Labels: cla-signed, code-quality, integration: aurora_abb_powerone, small-pr

#52705 Use class properties in netatmo
  homeassistant/components/netatmo/camera.py
  homeassistant/components/netatmo/light.py
  homeassistant/components/netatmo/sensor.py
Labels: by-code-owner, cla-signed, integration: netatmo, small-pr

#52687 Use entity class attributes for Aten pe
  homeassistant/components/aten_pe/switch.py
Labels: cla-signed, code-quality, integration: aten_pe, small-pr

#52672 Use iso-formatted times in MetOffice weather forecast
  homeassistant/components/metoffice/weather.py
  tests/components/metoffice/const.py
  tests/components/metoffice/test_sensor.py
  tests/components/metoffice/test_weather.py
Labels: bugfix, cla-signed, has-tests, integration: metoffice, small-pr

#52669 Ensure Forecast.Solar returns an iso formatted timestamp
  homeassistant/components/forecast_solar/sensor.py
  tests/components/forecast_solar/test_sensor.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: forecast_solar, small-pr

#52712 Hint for str type instead of explicitly casting to str
  homeassistant/components/lcn/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: lcn, small-pr

#52676 Fix precipitation calculation for hourly forecast
  homeassistant/components/openweathermap/weather_update_coordinator.py
Labels: bugfix, cla-signed, integration: openweathermap, small-pr

#52602 Use entity class attributes for anthemav
  homeassistant/components/anthemav/media_player.py
Labels: cla-signed, code-quality, integration: anthemav, small-pr

#52662 Use entity class attributes for apcupsd
  homeassistant/components/apcupsd/binary_sensor.py
  homeassistant/components/apcupsd/sensor.py
Labels: cla-signed, code-quality, integration: apcupsd, small-pr

#52660 Ignore unused keys from Sonos device properties callback
  homeassistant/components/sonos/speaker.py
  tests/components/sonos/test_sensor.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: sonos, small-pr

#52719 Add check for _client existence in modbus
  .coveragerc
  homeassistant/components/modbus/modbus.py
Labels: bugfix, by-code-owner, cla-signed, integration: modbus, small-pr
