Repository home-assistant/core, pull requests merged in 2021-05, with the labels that each got.

#49936 Repair elgato types
  homeassistant/components/elgato/light.py
Labels: cla-signed, code-quality, integration: elgato, small-pr

#49888 Clean up connection classes in integrations A-C
  homeassistant/components/abode/config_flow.py
  homeassistant/components/accuweather/config_flow.py
  homeassistant/components/acmeda/config_flow.py
  homeassistant/components/advantage_air/config_flow.py
  homeassistant/components/aemet/config_flow.py
  homeassistant/components/airly/config_flow.py
  homeassistant/components/airnow/config_flow.py
  homeassistant/components/airvisual/config_flow.py
  homeassistant/components/alarmdecoder/config_flow.py
  homeassistant/components/almond/config_flow.py
  homeassistant/components/ambiclimate/config_flow.py
  homeassistant/components/ambient_station/config_flow.py
  homeassistant/components/apple_tv/config_flow.py
  homeassistant/components/arcam_fmj/config_flow.py
  homeassistant/components/asuswrt/config_flow.py
  homeassistant/components/atag/config_flow.py
  homeassistant/components/august/config_flow.py
  homeassistant/components/aurora/config_flow.py
  homeassistant/components/awair/config_flow.py
  homeassistant/components/aws/config_flow.py
  homeassistant/components/axis/config_flow.py
  homeassistant/components/azure_devops/config_flow.py
  homeassistant/components/blebox/config_flow.py
  homeassistant/components/blink/config_flow.py
  homeassistant/components/bmw_connected_drive/config_flow.py
  homeassistant/components/bond/config_flow.py
  homeassistant/components/braviatv/config_flow.py
  homeassistant/components/broadlink/config_flow.py
  homeassistant/components/brother/config_flow.py
  homeassistant/components/bsblan/config_flow.py
  homeassistant/components/canary/config_flow.py
  homeassistant/components/cast/config_flow.py
  homeassistant/components/cert_expiry/config_flow.py
  homeassistant/components/climacell/config_flow.py
  homeassistant/components/cloudflare/config_flow.py
  homeassistant/components/control4/config_flow.py
  homeassistant/components/coolmaster/config_flow.py
  homeassistant/components/coronavirus/config_flow.py
Labels: cla-signed

#49890 Clean up connection classes in integrations D-G
  homeassistant/components/daikin/config_flow.py
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/denonavr/config_flow.py
  homeassistant/components/devolo_home_control/config_flow.py
  homeassistant/components/dexcom/config_flow.py
  homeassistant/components/directv/config_flow.py
  homeassistant/components/doorbird/config_flow.py
  homeassistant/components/dsmr/config_flow.py
  homeassistant/components/dunehd/config_flow.py
  homeassistant/components/dynalite/config_flow.py
  homeassistant/components/eafm/config_flow.py
  homeassistant/components/ecobee/config_flow.py
  homeassistant/components/econet/config_flow.py
  homeassistant/components/elgato/config_flow.py
  homeassistant/components/elkm1/config_flow.py
  homeassistant/components/emonitor/config_flow.py
  homeassistant/components/emulated_roku/config_flow.py
  homeassistant/components/enocean/config_flow.py
  homeassistant/components/enphase_envoy/config_flow.py
  homeassistant/components/epson/config_flow.py
  homeassistant/components/esphome/config_flow.py
  homeassistant/components/ezviz/config_flow.py
  homeassistant/components/faa_delays/config_flow.py
  homeassistant/components/fireservicerota/config_flow.py
  homeassistant/components/firmata/config_flow.py
  homeassistant/components/flick_electric/config_flow.py
  homeassistant/components/flo/config_flow.py
  homeassistant/components/flume/config_flow.py
  homeassistant/components/flunearyou/config_flow.py
  homeassistant/components/forked_daapd/config_flow.py
  homeassistant/components/foscam/config_flow.py
  homeassistant/components/freebox/config_flow.py
  homeassistant/components/fritz/config_flow.py
  homeassistant/components/fritzbox/config_flow.py
  homeassistant/components/fritzbox_callmonitor/config_flow.py
  homeassistant/components/garmin_connect/config_flow.py
  homeassistant/components/gdacs/config_flow.py
  homeassistant/components/geonetnz_quakes/config_flow.py
  homeassistant/components/geonetnz_volcano/config_flow.py
  homeassistant/components/gios/config_flow.py
  homeassistant/components/glances/config_flow.py
  homeassistant/components/goalzero/config_flow.py
  homeassistant/components/gogogate2/config_flow.py
  homeassistant/components/google_travel_time/config_flow.py
  homeassistant/components/guardian/config_flow.py
Labels: cla-signed

#49891 Clean up connection classes in integrations H-L
  homeassistant/components/habitica/config_flow.py
  homeassistant/components/hangouts/config_flow.py
  homeassistant/components/harmony/config_flow.py
  homeassistant/components/hassio/config_flow.py
  homeassistant/components/heos/config_flow.py
  homeassistant/components/hive/config_flow.py
  homeassistant/components/hlk_sw16/config_flow.py
  homeassistant/components/home_connect/config_flow.py
  homeassistant/components/home_plus_control/config_flow.py
  homeassistant/components/homekit/config_flow.py
  homeassistant/components/homekit_controller/config_flow.py
  homeassistant/components/homematicip_cloud/config_flow.py
  homeassistant/components/huawei_lte/config_flow.py
  homeassistant/components/hue/config_flow.py
  homeassistant/components/huisbaasje/config_flow.py
  homeassistant/components/hunterdouglas_powerview/config_flow.py
  homeassistant/components/hvv_departures/config_flow.py
  homeassistant/components/hyperion/config_flow.py
  homeassistant/components/ialarm/config_flow.py
  homeassistant/components/iaqualink/config_flow.py
  homeassistant/components/icloud/config_flow.py
  homeassistant/components/ipma/config_flow.py
  homeassistant/components/ipp/config_flow.py
  homeassistant/components/iqvia/config_flow.py
  homeassistant/components/islamic_prayer_times/config_flow.py
  homeassistant/components/isy994/config_flow.py
  homeassistant/components/juicenet/config_flow.py
  homeassistant/components/keenetic_ndms2/config_flow.py
  homeassistant/components/kmtronic/config_flow.py
  homeassistant/components/kodi/config_flow.py
  homeassistant/components/konnected/config_flow.py
  homeassistant/components/kostal_plenticore/config_flow.py
  homeassistant/components/lcn/config_flow.py
  homeassistant/components/life360/config_flow.py
  homeassistant/components/litterrobot/config_flow.py
  homeassistant/components/local_ip/config_flow.py
  homeassistant/components/logi_circle/config_flow.py
  homeassistant/components/luftdaten/config_flow.py
  homeassistant/components/lutron_caseta/config_flow.py
  homeassistant/components/lyric/config_flow.py
Labels: cla-signed

#49892 Clean up connection classes in integrations M-O
  homeassistant/components/mazda/config_flow.py
  homeassistant/components/melcloud/config_flow.py
  homeassistant/components/met/config_flow.py
  homeassistant/components/met_eireann/config_flow.py
  homeassistant/components/meteo_france/config_flow.py
  homeassistant/components/metoffice/config_flow.py
  homeassistant/components/mikrotik/config_flow.py
  homeassistant/components/mill/config_flow.py
  homeassistant/components/minecraft_server/config_flow.py
  homeassistant/components/mobile_app/config_flow.py
  homeassistant/components/monoprice/config_flow.py
  homeassistant/components/motion_blinds/config_flow.py
  homeassistant/components/motioneye/config_flow.py
  homeassistant/components/mqtt/config_flow.py
  homeassistant/components/mullvad/config_flow.py
  homeassistant/components/mutesync/config_flow.py
  homeassistant/components/myq/config_flow.py
  homeassistant/components/neato/config_flow.py
  homeassistant/components/nest/config_flow.py
  homeassistant/components/netatmo/config_flow.py
  homeassistant/components/nexia/config_flow.py
  homeassistant/components/nightscout/config_flow.py
  homeassistant/components/notion/config_flow.py
  homeassistant/components/nuheat/config_flow.py
  homeassistant/components/nut/config_flow.py
  homeassistant/components/nws/config_flow.py
  homeassistant/components/nzbget/config_flow.py
  homeassistant/components/omnilogic/config_flow.py
  homeassistant/components/ondilo_ico/config_flow.py
  homeassistant/components/onewire/config_flow.py
  homeassistant/components/onvif/config_flow.py
  homeassistant/components/opentherm_gw/config_flow.py
  homeassistant/components/openuv/config_flow.py
  homeassistant/components/openweathermap/config_flow.py
  homeassistant/components/ovo_energy/config_flow.py
  homeassistant/components/ozw/config_flow.py
Labels: cla-signed

#49894 Clean up connection classes in integrations T-Z
  homeassistant/components/tado/config_flow.py
  homeassistant/components/tasmota/config_flow.py
  homeassistant/components/tellduslive/config_flow.py
  homeassistant/components/tesla/config_flow.py
  homeassistant/components/tibber/config_flow.py
  homeassistant/components/tile/config_flow.py
  homeassistant/components/toon/config_flow.py
  homeassistant/components/transmission/config_flow.py
  homeassistant/components/tuya/config_flow.py
  homeassistant/components/twentemilieu/config_flow.py
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/upb/config_flow.py
  homeassistant/components/upcloud/config_flow.py
  homeassistant/components/upnp/config_flow.py
  homeassistant/components/velbus/config_flow.py
  homeassistant/components/vesync/config_flow.py
  homeassistant/components/vilfo/config_flow.py
  homeassistant/components/vizio/config_flow.py
  homeassistant/components/volumio/config_flow.py
  homeassistant/components/waze_travel_time/config_flow.py
  homeassistant/components/wiffi/config_flow.py
  homeassistant/components/wilight/config_flow.py
  homeassistant/components/withings/config_flow.py
  homeassistant/components/wled/config_flow.py
  homeassistant/components/wolflink/config_flow.py
  homeassistant/components/xbox/config_flow.py
  homeassistant/components/xiaomi_aqara/config_flow.py
  homeassistant/components/xiaomi_miio/config_flow.py
  homeassistant/components/yeelight/config_flow.py
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zwave/config_flow.py
  homeassistant/components/zwave_js/config_flow.py
Labels: cla-signed

#49893 Clean up connection classes in integrations P-S
  homeassistant/components/panasonic_viera/config_flow.py
  homeassistant/components/philips_js/config_flow.py
  homeassistant/components/pi_hole/config_flow.py
  homeassistant/components/picnic/config_flow.py
  homeassistant/components/plaato/config_flow.py
  homeassistant/components/plex/config_flow.py
  homeassistant/components/plugwise/config_flow.py
  homeassistant/components/point/config_flow.py
  homeassistant/components/poolsense/config_flow.py
  homeassistant/components/powerwall/config_flow.py
  homeassistant/components/profiler/config_flow.py
  homeassistant/components/progettihwsw/config_flow.py
  homeassistant/components/ps4/config_flow.py
  homeassistant/components/pvpc_hourly_pricing/config_flow.py
  homeassistant/components/rachio/config_flow.py
  homeassistant/components/rainmachine/config_flow.py
  homeassistant/components/recollect_waste/config_flow.py
  homeassistant/components/rfxtrx/config_flow.py
  homeassistant/components/ring/config_flow.py
  homeassistant/components/risco/config_flow.py
  homeassistant/components/rituals_perfume_genie/config_flow.py
  homeassistant/components/roku/config_flow.py
  homeassistant/components/roomba/config_flow.py
  homeassistant/components/roon/config_flow.py
  homeassistant/components/ruckus_unleashed/config_flow.py
  homeassistant/components/samsungtv/config_flow.py
  homeassistant/components/screenlogic/config_flow.py
  homeassistant/components/sense/config_flow.py
  homeassistant/components/sentry/config_flow.py
  homeassistant/components/sharkiq/config_flow.py
  homeassistant/components/shelly/config_flow.py
  homeassistant/components/shopping_list/config_flow.py
  homeassistant/components/simplisafe/config_flow.py
  homeassistant/components/sma/config_flow.py
  homeassistant/components/smappee/config_flow.py
  homeassistant/components/smart_meter_texas/config_flow.py
  homeassistant/components/smarthab/config_flow.py
  homeassistant/components/smartthings/config_flow.py
  homeassistant/components/smarttub/config_flow.py
  homeassistant/components/smhi/config_flow.py
  homeassistant/components/sms/config_flow.py
  homeassistant/components/solaredge/config_flow.py
  homeassistant/components/solarlog/config_flow.py
  homeassistant/components/soma/config_flow.py
  homeassistant/components/somfy/config_flow.py
  homeassistant/components/somfy_mylink/config_flow.py
  homeassistant/components/sonarr/config_flow.py
  homeassistant/components/songpal/config_flow.py
  homeassistant/components/speedtestdotnet/config_flow.py
  homeassistant/components/spider/config_flow.py
  homeassistant/components/spotify/config_flow.py
  homeassistant/components/squeezebox/config_flow.py
  homeassistant/components/srp_energy/config_flow.py
  homeassistant/components/starline/config_flow.py
  homeassistant/components/subaru/config_flow.py
  homeassistant/components/syncthru/config_flow.py
  homeassistant/components/synology_dsm/config_flow.py
Labels: cla-signed

#49940 Remove unused imports in fritz, nest, and somfy to fix CI
  homeassistant/components/fritz/config_flow.py
  homeassistant/components/nest/config_flow.py
  homeassistant/components/somfy/config_flow.py
Labels: cla-signed, integration: fritz, integration: nest, small-pr

#49927 Update LG Netcast to use new backend library
  CODEOWNERS
  homeassistant/components/lg_netcast/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: lg_netcast, small-pr

#49951 Fix light services descriptions
  homeassistant/components/light/services.yaml
Labels: bugfix, cla-signed, core, integration: light, small-pr

#49949 Please mypy (axis).
  homeassistant/components/axis/config_flow.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, integration: axis, small-pr

#49948 Shelly light color mode bugfix
  homeassistant/components/shelly/light.py
Labels: bugfix, by-code-owner, cla-signed, integration: shelly, small-pr

#49946 Fix ihc typing
  homeassistant/components/ihc/light.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, integration: ihc, small-pr

#49959 Bump up ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: zha, small-pr

#49935 Remove YAML support from sense
  homeassistant/components/sense/__init__.py
  homeassistant/components/sense/config_flow.py
  homeassistant/components/sense/const.py
  tests/components/sense/test_config_flow.py
Labels: breaking-change, cla-signed, integration: sense, small-pr

#49962 Bump simplisafe-python to 9.6.10
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: simplisafe, small-pr

#49910 Catch non payload modbus messages
  homeassistant/components/modbus/modbus.py
Labels: bugfix, by-code-owner, cla-signed, integration: modbus, small-pr

#49844 Remove ServiceCallType alias from codebase
  homeassistant/components/homematicip_cloud/services.py
  homeassistant/components/input_boolean/__init__.py
  homeassistant/components/input_datetime/__init__.py
  homeassistant/components/input_number/__init__.py
  homeassistant/components/input_select/__init__.py
  homeassistant/components/input_text/__init__.py
  homeassistant/components/lovelace/__init__.py
  homeassistant/components/switcher_kis/switch.py
  homeassistant/components/timer/__init__.py
  homeassistant/helpers/typing.py
Labels: cla-signed

#49964 Bump pysonos to 0.0.44 to fix client session race
  homeassistant/components/sonos/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency-bump, integration: sonos, small-pr

#49924 Improve device registry internal typing
  homeassistant/helpers/device_registry.py
Labels: cla-signed, code-quality, core

#49968 Fix KeyError in IQVIA
  homeassistant/components/iqvia/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: iqvia, small-pr

#49939 Bump Tesla dependency teslajsonpy to 0.18.3
  homeassistant/components/tesla/__init__.py
  homeassistant/components/tesla/config_flow.py
  homeassistant/components/tesla/const.py
  homeassistant/components/tesla/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tesla/test_config_flow.py
Labels: bugfix, by-code-owner, cla-signed, dependency-bump, integration: tesla, small-pr, waiting-for-upstream

#49969 Handle different entity_id formats
  homeassistant/components/recorder/__init__.py
  tests/components/recorder/test_init.py
Labels: bugfix, cla-signed, core, has-tests, integration: recorder, small-pr

#49918 Enable homeassistant.update_entity service for all modbus platforms
  homeassistant/components/modbus/binary_sensor.py
  homeassistant/components/modbus/climate.py
  homeassistant/components/modbus/cover.py
  homeassistant/components/modbus/sensor.py
  homeassistant/components/modbus/switch.py
  tests/components/modbus/conftest.py
  tests/components/modbus/test_modbus_binary_sensor.py
  tests/components/modbus/test_modbus_climate.py
  tests/components/modbus/test_modbus_cover.py
  tests/components/modbus/test_modbus_sensor.py
  tests/components/modbus/test_modbus_switch.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: modbus, small-pr

#48556 Improves UX of Utility Meter services
  homeassistant/components/utility_meter/services.yaml
Labels: by-code-owner, cla-signed, code-quality, integration: utility_meter

#49973 Add zeroconf discovery to rachio
  homeassistant/components/rachio/manifest.json
  homeassistant/generated/zeroconf.py
Labels: by-code-owner, cla-signed, integration: rachio, small-pr

#49975 Upgrade elgato to 2.1.0
  homeassistant/components/elgato/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: elgato, small-pr

#49995 Upgrade yeelight to 0.6.2
  homeassistant/components/yeelight/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: yeelight, small-pr

#49992 Add dhcp discovery to tado
  homeassistant/components/tado/manifest.json
  homeassistant/generated/dhcp.py
Labels: by-code-owner, cla-signed, integration: tado, small-pr

#49872 Abstract Rituals API data processing to PyPI
  homeassistant/components/rituals_perfume_genie/__init__.py
  homeassistant/components/rituals_perfume_genie/binary_sensor.py
  homeassistant/components/rituals_perfume_genie/const.py
  homeassistant/components/rituals_perfume_genie/entity.py
  homeassistant/components/rituals_perfume_genie/manifest.json
  homeassistant/components/rituals_perfume_genie/sensor.py
  homeassistant/components/rituals_perfume_genie/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, code-quality, integration: rituals_perfume_genie, small-pr

#49999 Check exception causes for matching strings during recorder migration
  homeassistant/components/recorder/migration.py
  tests/components/recorder/test_migrate.py
Labels: cla-signed, core, has-tests, integration: recorder, small-pr

#49994 Fix Shelly external sensors invalid 999 value
  homeassistant/components/shelly/sensor.py
Labels: bugfix, by-code-owner, cla-signed, integration: shelly, small-pr

#49952 Correct the selector for frontend.set_theme service
  homeassistant/components/frontend/services.yaml
  script/hassfest/services.py
Labels: bugfix, cla-signed, core, integration: frontend, small-pr

#50003 Make hassfest service validation faster
  script/hassfest/services.py
Labels: cla-signed, code-quality, small-pr

#49998 Add reauth support to myq
  .coveragerc
  homeassistant/components/myq/__init__.py
  homeassistant/components/myq/binary_sensor.py
  homeassistant/components/myq/config_flow.py
  homeassistant/components/myq/cover.py
  homeassistant/components/myq/strings.json
  homeassistant/components/myq/translations/en.json
  tests/components/myq/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: myq

#49980 Fix saving a scene
  homeassistant/components/config/scene.py
  tests/components/config/test_scene.py
Labels: bugfix, cla-signed, core, integration: config, small-pr

#50000 Defer writing http config until after startup has calmed down
  homeassistant/components/http/__init__.py
  tests/components/http/test_init.py
Labels: cla-signed, core, has-tests, integration: http, small-pr

#49966 Fix Shelly battery operated devices value rounding
  homeassistant/components/shelly/entity.py
Labels: bugfix, by-code-owner, cla-signed, integration: shelly, small-pr

#49987 Update smhi package to 1.0.15
  homeassistant/components/smhi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: smhi, small-pr

#49982 Upgrade maxcube-api dependency to 0.4.3
  homeassistant/components/maxcube/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: maxcube, small-pr

#50004 Fix types for shell command
  homeassistant/components/shell_command/__init__.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, core, integration: shell_command, small-pr

#49967 Fix KNX light unique_id
  homeassistant/components/knx/light.py
Labels: bugfix, by-code-owner, cla-signed, integration: knx

#49883 Add color modes to KNX light
  homeassistant/components/knx/light.py
Labels: by-code-owner, cla-signed, code-quality, integration: knx

#49961 Add unique_id to TotalConnect alarm_control_panel
  homeassistant/components/totalconnect/alarm_control_panel.py
  tests/components/totalconnect/common.py
  tests/components/totalconnect/test_alarm_control_panel.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: totalconnect, small-pr

#49993 Add dhcp discovery to hunterdouglas_powerview
  homeassistant/components/hunterdouglas_powerview/config_flow.py
  homeassistant/components/hunterdouglas_powerview/manifest.json
  homeassistant/generated/dhcp.py
  tests/components/hunterdouglas_powerview/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: hunterdouglas_powerview

#49047 Title and internal descriptions updates for Fritzbox
  homeassistant/components/fritzbox/__init__.py
  homeassistant/components/fritzbox/binary_sensor.py
  homeassistant/components/fritzbox/climate.py
  homeassistant/components/fritzbox/config_flow.py
  homeassistant/components/fritzbox/const.py
  homeassistant/components/fritzbox/sensor.py
  homeassistant/components/fritzbox/strings.json
  homeassistant/components/fritzbox/switch.py
Labels: cla-signed, code-quality, integration: fritzbox, small-pr

#50015 Add typing to async_register_entity_service
  homeassistant/components/zwave_js/lock.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/entity_platform.py
Labels: cla-signed, code-quality, core, integration: zwave_js, small-pr

#50017 Handle Timeout exceptions in system_health
  homeassistant/components/system_health/__init__.py
  tests/components/system_health/test_init.py
Labels: bugfix, cla-signed, core, has-tests, integration: system_health, small-pr

#50019 Fix Blink entity service schema
  homeassistant/components/blink/camera.py
Labels: cla-signed, code-quality, integration: blink, small-pr

#49989 Improve type annotations in Brother integration
  homeassistant/components/brother/const.py
  homeassistant/components/brother/model.py
  homeassistant/components/brother/sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: brother

#50014 Add small async_get_current_platform helper method
  homeassistant/components/wled/light.py
  homeassistant/helpers/entity_platform.py
Labels: by-code-owner, cla-signed, code-quality, core, integration: wled, small-pr

#50026 Mitigate NMBS key errors
  homeassistant/components/nmbs/sensor.py
Labels: cla-signed, integration: nmbs, small-pr

#49990 Add Identify service to Elgato integration
  homeassistant/components/elgato/const.py
  homeassistant/components/elgato/light.py
  homeassistant/components/elgato/services.yaml
  tests/components/elgato/test_light.py
Labels: by-code-owner, cla-signed, has-tests, integration: elgato, new-feature

#50036 Update frontend to 20210503.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#50020 Fix ELKM1 entity service schema
  homeassistant/components/elkm1/alarm_control_panel.py
Labels: bugfix, cla-signed, integration: elkm1, small-pr

#50027 Fix Nexia entity service schema
  homeassistant/components/nexia/climate.py
Labels: bugfix, cla-signed, integration: nexia, small-pr

#50025 Fix Harmony entity service schema
  homeassistant/components/harmony/remote.py
Labels: bugfix, cla-signed, integration: harmony, small-pr

#50024 Fix Genius Hub entity service schema
  homeassistant/components/geniushub/switch.py
Labels: bugfix, cla-signed, integration: geniushub, small-pr

#50013 Restore dictionary constants in Elgato device info
  homeassistant/components/elgato/const.py
  homeassistant/components/elgato/light.py
  homeassistant/const.py
Labels: by-code-owner, cla-signed, code-quality, core, integration: elgato, small-pr

#50030 Create separate entries for each component in mypy.ini
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, code-quality, small-pr

#50031 Bump pysmappee to 0.2.25
  homeassistant/components/smappee/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, dependency-bump, integration: smappee, small-pr

#49991 Add reauth support to flume
  homeassistant/components/flume/__init__.py
  homeassistant/components/flume/config_flow.py
  homeassistant/components/flume/strings.json
  homeassistant/components/flume/translations/en.json
  tests/components/flume/test_config_flow.py
Labels: by-code-owner, cla-signed, has-tests, integration: flume

#50029 Upgrade Tibber library, new grid prices for Glitre Energi
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: tibber, small-pr

#49938 Fix modbus typing
  homeassistant/components/modbus/binary_sensor.py
  homeassistant/components/modbus/climate.py
  homeassistant/components/modbus/sensor.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: modbus, small-pr

#49699 Create Fritz device and connectivity sensor
  .coveragerc
  homeassistant/components/fritz/__init__.py
  homeassistant/components/fritz/binary_sensor.py
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/config_flow.py
  homeassistant/components/fritz/const.py
  homeassistant/components/fritz/device_tracker.py
  tests/components/fritz/__init__.py
Labels: by-code-owner, cla-signed, integration: fritz, new-feature, new-platform

#49738 Enable mypy for motionEye (aye aye!)
  homeassistant/components/motioneye/__init__.py
  homeassistant/components/motioneye/camera.py
  homeassistant/components/motioneye/config_flow.py
  mypy.ini
  script/hassfest/mypy_config.py
  tests/common.py
  tests/components/motioneye/test_camera.py
  tests/components/motioneye/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: motioneye, small-pr

#48114 Add SyncThru binary sensors
  .coveragerc
  homeassistant/components/syncthru/__init__.py
  homeassistant/components/syncthru/binary_sensor.py
  homeassistant/components/syncthru/manifest.json
  homeassistant/components/syncthru/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, integration: syncthru, small-pr

#50051 Handle missing transport_state on media update in sonos
  homeassistant/components/sonos/media_player.py
Labels: cla-signed, integration: sonos, small-pr

#50053 Use last_step marker on UniFi options flow
  homeassistant/components/unifi/config_flow.py
  tests/components/unifi/test_config_flow.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: unifi, small-pr

#37796 Add configuration flow for Buienradar integration
  CODEOWNERS
  homeassistant/components/buienradar/__init__.py
  homeassistant/components/buienradar/camera.py
  homeassistant/components/buienradar/config_flow.py
  homeassistant/components/buienradar/const.py
  homeassistant/components/buienradar/manifest.json
  homeassistant/components/buienradar/sensor.py
  homeassistant/components/buienradar/strings.json
  homeassistant/components/buienradar/translations/en.json
  homeassistant/components/buienradar/weather.py
  homeassistant/generated/config_flows.py
  tests/components/buienradar/test_camera.py
  tests/components/buienradar/test_config_flow.py
  tests/components/buienradar/test_init.py
  tests/components/buienradar/test_sensor.py
  tests/components/buienradar/test_weather.py
Labels: breaking-change, cla-signed, has-tests, integration: buienradar, new-feature

#49947 Fix and enable type checks in Rituals Perfume Genie
  homeassistant/components/rituals_perfume_genie/__init__.py
  homeassistant/components/rituals_perfume_genie/binary_sensor.py
  homeassistant/components/rituals_perfume_genie/entity.py
  homeassistant/components/rituals_perfume_genie/sensor.py
  homeassistant/components/rituals_perfume_genie/switch.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: by-code-owner, cla-signed, code-quality, integration: rituals_perfume_genie

#49955 Use AddEntitiesCallback type, pt.4
  homeassistant/components/here_travel_time/sensor.py
  homeassistant/components/knx/binary_sensor.py
  homeassistant/components/knx/climate.py
  homeassistant/components/knx/cover.py
  homeassistant/components/knx/fan.py
  homeassistant/components/knx/light.py
  homeassistant/components/knx/scene.py
  homeassistant/components/knx/sensor.py
  homeassistant/components/knx/switch.py
  homeassistant/components/knx/weather.py
  homeassistant/components/sma/sensor.py
  homeassistant/components/switch/light.py
  homeassistant/components/switcher_kis/switch.py
  homeassistant/components/systemmonitor/sensor.py
Labels: cla-signed, code-quality, core, integration: here_travel_time, integration: knx, integration: sma, integration: switch, integration: switcher_kis, integration: systemmonitor

#50064 Catch Shelly set state exceptions when device is inaccessible
  homeassistant/components/shelly/cover.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/light.py
  homeassistant/components/shelly/switch.py
Labels: by-code-owner, cla-signed, integration: shelly

#50081 Clean up stale config schema from deCONZ
  homeassistant/components/deconz/__init__.py
Labels: cla-signed, code-quality, integration: deconz, small-pr

#49895 Finalize clean up connection classes
  homeassistant/config_entries.py
  homeassistant/helpers/config_entry_oauth2_flow.py
  script/scaffold/templates/config_flow/integration/config_flow.py
  script/scaffold/templates/config_flow_oauth2/integration/config_flow.py
Labels: cla-signed, code-quality, core, small-pr

#50077 Upgrade pytest to 6.2.4
  requirements_test.txt
Labels: cla-signed, dependency, dependency-bump, small-pr

#50082 Remove YAML configuration from DoorBird
  homeassistant/components/doorbird/__init__.py
  homeassistant/components/doorbird/config_flow.py
  tests/components/doorbird/test_config_flow.py
Labels: breaking-change, cla-signed, has-tests, integration: doorbird, small-pr

#50086 Bump zigpy-znp from 0.4.0 to 0.5.1
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, integration: zha, small-pr

#50072 Deprecate speedtest.net YAML config
  homeassistant/components/speedtestdotnet/__init__.py
Labels: breaking-change, cla-signed, integration: speedtestdotnet, small-pr

#50083 Remove stale config schema from ESPHome integration
  homeassistant/components/esphome/__init__.py
Labels: cla-signed, code-quality, integration: esphome, small-pr

#50047 Guard logbook assuming entity ID is a string
  homeassistant/components/logbook/__init__.py
Labels: bugfix, cla-signed, core, integration: logbook, small-pr

#50080 Remove YAML configuration from Daikin
  homeassistant/components/daikin/__init__.py
  homeassistant/components/daikin/config_flow.py
  tests/components/daikin/test_config_flow.py
Labels: breaking-change, cla-signed, has-tests, integration: daikin, small-pr

#50069 Remove deprecated LIFX Legacy integration
  .coveragerc
  homeassistant/components/lifx_legacy/__init__.py
  homeassistant/components/lifx_legacy/light.py
  homeassistant/components/lifx_legacy/manifest.json
  requirements_all.txt
Labels: breaking-change, cla-signed, integration: lifx_legacy, remove-platform, small-pr

#50075 Deprecate Abode YAML configuration
  homeassistant/components/abode/__init__.py
Labels: breaking-change, cla-signed, integration: abode, small-pr

#50087 Fix updating owner user/auth
  homeassistant/components/config/auth.py
Labels: bugfix, cla-signed, core, integration: config, small-pr

#49953 Use AddEntitiesCallback type, pt.3
  homeassistant/components/canary/alarm_control_panel.py
  homeassistant/components/canary/camera.py
  homeassistant/components/canary/sensor.py
  homeassistant/components/dynalite/cover.py
  homeassistant/components/dynalite/dynalitebase.py
  homeassistant/components/dynalite/light.py
  homeassistant/components/dynalite/switch.py
  homeassistant/components/elgato/light.py
  homeassistant/components/hyperion/light.py
  homeassistant/components/hyperion/switch.py
  homeassistant/components/litterrobot/sensor.py
  homeassistant/components/litterrobot/switch.py
  homeassistant/components/litterrobot/vacuum.py
  homeassistant/components/rituals_perfume_genie/binary_sensor.py
  homeassistant/components/rituals_perfume_genie/sensor.py
  homeassistant/components/rituals_perfume_genie/switch.py
  homeassistant/components/sma/sensor.py
  homeassistant/components/twentemilieu/sensor.py
  homeassistant/components/vera/binary_sensor.py
  homeassistant/components/vera/climate.py
  homeassistant/components/vera/cover.py
  homeassistant/components/vera/light.py
  homeassistant/components/vera/lock.py
  homeassistant/components/vera/scene.py
  homeassistant/components/vera/sensor.py
  homeassistant/components/vera/switch.py
  homeassistant/components/verisure/alarm_control_panel.py
  homeassistant/components/verisure/binary_sensor.py
  homeassistant/components/verisure/camera.py
  homeassistant/components/verisure/lock.py
  homeassistant/components/verisure/sensor.py
  homeassistant/components/verisure/switch.py
  homeassistant/components/vizio/media_player.py
  homeassistant/components/waze_travel_time/sensor.py
Labels: cla-signed

#50054 Fix KNX climate unque_id
  homeassistant/components/knx/climate.py
Labels: bugfix, by-code-owner, cla-signed, integration: knx, small-pr

#50093 Update frontend to 20210504.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: frontend, small-pr

#49809 Cleanup modbus binary_sensor signature
  homeassistant/components/modbus/binary_sensor.py
Labels: by-code-owner, cla-signed, code-quality, integration: modbus, small-pr

#50060 Upgrade yamllint to 1.26.1
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, dependency, small-pr

#50079 Clean up deprecation message & config schema from Cloudflare
  homeassistant/components/cloudflare/__init__.py
  tests/components/cloudflare/__init__.py
  tests/components/cloudflare/test_config_flow.py
Labels: cla-signed, code-quality, has-tests, integration: cloudflare, small-pr

#50096 Bump motioneye-client to v0.3.6 .
  homeassistant/components/motioneye/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: motioneye, small-pr

#49334 Clean up pylint comments
  homeassistant/components/notify/__init__.py
  homeassistant/data_entry_flow.py
  homeassistant/helpers/entity.py
Labels: cla-signed, code-quality, core, integration: notify, small-pr

#50101 Improve buienradar tests
  tests/components/buienradar/test_init.py
  tests/components/buienradar/test_sensor.py
  tests/components/buienradar/test_weather.py
Labels: by-code-owner, cla-signed, code-quality, has-tests, integration: buienradar, small-pr

#50102 Upgrade black to 21.5b0
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, dependency, small-pr

#50103 Upgrade luftdaten to 0.6.5
  homeassistant/components/luftdaten/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: luftdaten, small-pr

#50058 Fix fitbit RuntimeError: I/O must be done in the executor
  homeassistant/components/fitbit/sensor.py
Labels: bugfix, cla-signed, integration: fitbit, small-pr

#50059 Upgrade pyupgrade to v2.14.0
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, dependency, small-pr

#50076 Remove YAML configuration from Verisure
  homeassistant/components/verisure/__init__.py
  homeassistant/components/verisure/config_flow.py
  homeassistant/components/verisure/const.py
  tests/components/verisure/test_config_flow.py
Labels: breaking-change, by-code-owner, cla-signed, has-tests, integration: verisure, small-pr

#50085 Deprecate Glances YAML configuration
  homeassistant/components/glances/__init__.py
Labels: breaking-change, cla-signed, integration: glances, small-pr

#50104 Deprecate Denon HEOS YAML configuration
  homeassistant/components/heos/__init__.py
Labels: breaking-change, cla-signed, integration: heos, small-pr

#50084 Deprecate Freebox YAML configuration
  homeassistant/components/freebox/__init__.py
Labels: breaking-change, cla-signed, integration: freebox, small-pr

#49599 Add color_mode support to tasmota light
  homeassistant/components/tasmota/light.py
  tests/components/tasmota/test_light.py
Labels: breaking-change, by-code-owner, cla-signed, has-tests, integration: tasmota

#50114 Allign error handling for restart for hassio with core
  homeassistant/components/hassio/__init__.py
  homeassistant/components/homeassistant/__init__.py
Labels: cla-signed, core, integration: hassio, small-pr

#50113 Remove surepetcare usage of deprecated config options
  homeassistant/components/surepetcare/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: surepetcare, small-pr

#50120 Fix Tasmota color scaling and RGBW lights
  homeassistant/components/tasmota/light.py
  tests/components/tasmota/test_light.py
Labels: by-code-owner, cla-signed, has-tests, integration: tasmota, small-pr

#50121 Drop OWFS support in onewire
  homeassistant/components/onewire/config_flow.py
  homeassistant/components/onewire/const.py
  homeassistant/components/onewire/sensor.py
Labels: breaking-change, by-code-owner, cla-signed, integration: onewire, small-pr

#48156 System Bridge Integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/system_bridge/__init__.py
  homeassistant/components/system_bridge/binary_sensor.py
  homeassistant/components/system_bridge/config_flow.py
  homeassistant/components/system_bridge/const.py
  homeassistant/components/system_bridge/manifest.json
  homeassistant/components/system_bridge/sensor.py
  homeassistant/components/system_bridge/services.yaml
  homeassistant/components/system_bridge/strings.json
  homeassistant/components/system_bridge/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/zeroconf.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/system_bridge/__init__.py
  tests/components/system_bridge/test_config_flow.py
Labels: cla-signed, has-tests, integration: system_bridge, new-integration

#49988 Add support for Elgato Light Strip
  homeassistant/components/elgato/__init__.py
  homeassistant/components/elgato/config_flow.py
  homeassistant/components/elgato/const.py
  homeassistant/components/elgato/light.py
  homeassistant/components/elgato/manifest.json
  homeassistant/components/elgato/strings.json
  homeassistant/components/elgato/translations/en.json
  tests/components/elgato/__init__.py
  tests/components/elgato/test_light.py
  tests/fixtures/elgato/settings-color.json
  tests/fixtures/elgato/settings.json
  tests/fixtures/elgato/state-color.json
Labels: by-code-owner, cla-signed, has-tests, integration: elgato, new-feature

#50129 Bump python-miio dependency
  homeassistant/components/xiaomi_miio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: xiaomi_miio, small-pr

#50138 Bump sqlalchemy to 1.4.13
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: recorder, small-pr

#50130 Bump zeroconf to 0.30.0 to fix thread safety race
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, core, dependency-bump, integration: zeroconf, small-pr

#50119 Adjust GRPC wheel build
  azure-pipelines-wheels.yml
Labels: cla-signed, small-pr

#50088 Fix group remove selector
  homeassistant/components/group/services.yaml
Labels: cla-signed, code-quality, core, integration: group, small-pr

#50018 Improve translation strings for MQTT config and option flows
  homeassistant/components/mqtt/config_flow.py
  homeassistant/components/mqtt/strings.json
  homeassistant/components/mqtt/translations/en.json
Labels: by-code-owner, cla-signed, core, integration: mqtt, small-pr

#45575 Use shared httpx client in gogogate2
  CODEOWNERS
  homeassistant/components/gogogate2/common.py
  homeassistant/components/gogogate2/config_flow.py
  homeassistant/components/gogogate2/cover.py
  homeassistant/components/gogogate2/manifest.json
  homeassistant/components/gogogate2/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/gogogate2/test_config_flow.py
  tests/components/gogogate2/test_cover.py
  tests/components/gogogate2/test_init.py
  tests/components/gogogate2/test_sensor.py
Labels: cla-signed, integration: gogogate2, small-pr

#50062 Strictly type Twente Milieu integration
  homeassistant/components/twentemilieu/sensor.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: by-code-owner, cla-signed, code-quality, integration: twentemilieu, small-pr

#50078 Deprecate Canary YAML configuration
  homeassistant/components/canary/__init__.py
Labels: breaking-change, cla-signed, integration: canary, small-pr

#49912 Allow passing options in config flow entry creation
  homeassistant/config_entries.py
  homeassistant/data_entry_flow.py
  tests/components/config/test_config_entries.py
  tests/components/philips_js/test_config_flow.py
  tests/components/ps4/test_init.py
  tests/components/subaru/test_config_flow.py
  tests/test_config_entries.py
Labels: cla-signed, core, new-feature

#50154 Fix zwave_js websocket api KeyError on unloaded entry
  homeassistant/components/websocket_api/const.py
  homeassistant/components/zwave_js/api.py
  tests/components/zwave_js/test_api.py
Labels: cla-signed, has-tests, integration: zwave_js, small-pr

#49970 Add rainmachine discovery
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/config_flow.py
  homeassistant/components/rainmachine/const.py
  homeassistant/components/rainmachine/manifest.json
  homeassistant/components/rainmachine/strings.json
  homeassistant/components/rainmachine/translations/en.json
  homeassistant/generated/zeroconf.py
  tests/components/rainmachine/test_config_flow.py
Labels: cla-signed, has-tests, integration: rainmachine

#50183 Bump PyRMVtransport to 0.2.3
  homeassistant/components/rmvtransport/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, dependency-bump, integration: rmvtransport, small-pr

#50195 Upgrade TwitterAPI to 2.7.3
  homeassistant/components/twitter/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: twitter, small-pr

#50202 Ensure tesla setup is retried on timeout
  homeassistant/components/tesla/__init__.py
Labels: cla-signed, integration: tesla, small-pr

#50188 Move not loaded websocket constant to zwave_js
  homeassistant/components/websocket_api/const.py
  homeassistant/components/zwave_js/api.py
  tests/components/zwave_js/test_api.py
Labels: cla-signed

#50211 Allow SimpliSafe startup to retry on failure
  homeassistant/components/simplisafe/__init__.py
Labels: bugfix, by-code-owner, cla-signed, integration: simplisafe, small-pr

#49984 Denonavr bugfixes
  homeassistant/components/denonavr/__init__.py
  homeassistant/components/denonavr/manifest.json
  homeassistant/components/denonavr/media_player.py
  homeassistant/components/denonavr/receiver.py
  requirements_all.txt
  requirements_test_all.txt
Labels: bugfix, by-code-owner, cla-signed, dependency, integration: denonavr, small-pr

#50212 Bump netdisco to 2.8.3 for compat with latest zeroconf
  homeassistant/components/discovery/manifest.json
  homeassistant/components/ssdp/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, core, dependency-bump, integration: discovery, integration: ssdp, small-pr

#50200 Add value map for Climacell V3 pollen sensors
  homeassistant/components/climacell/const.py
  homeassistant/components/climacell/manifest.json
  homeassistant/components/climacell/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/climacell/test_sensor.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: climacell, small-pr

#50201 Upgrade discord.py to 1.7.2
  homeassistant/components/discord/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: discord, small-pr

#50197 Upgrade praw to 7.2.0
  homeassistant/components/reddit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: reddit, small-pr

#50192 Upgrade slixmpp to 1.7.1
  homeassistant/components/xmpp/manifest.json
  requirements_all.txt
Labels: by-code-owner, cla-signed, dependency, dependency-bump, integration: xmpp, small-pr

#49747 Only initialize Nuki configurations
  homeassistant/components/nuki/__init__.py
Labels: bugfix, cla-signed, integration: nuki, small-pr

#50194 Upgrade sendgrid to 6.7.0
  homeassistant/components/sendgrid/manifest.json
  requirements_all.txt
Labels: cla-signed, dependency, dependency-bump, integration: sendgrid, small-pr

#50165 Add color_mode support to group light
  homeassistant/components/group/light.py
  tests/components/group/test_light.py
  tests/components/light/test_init.py
  tests/testing_config/custom_components/test/light.py
Labels: bugfix, cla-signed, core, has-tests, integration: group

#42048 Add optimistic closing/opening to gogogate2
  homeassistant/components/gogogate2/cover.py
  tests/components/gogogate2/test_cover.py
Labels: cla-signed, has-tests, integration: gogogate2

#50145 Bump `gios` library
  homeassistant/components/gios/__init__.py
  homeassistant/components/gios/air_quality.py
  homeassistant/components/gios/config_flow.py
  homeassistant/components/gios/const.py
  homeassistant/components/gios/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/gios/__init__.py
  tests/fixtures/gios/sensors.json
Labels: by-code-owner, cla-signed, dependency, has-tests, integration: gios

#50122 Ignore empty output from MQTT fan's value template
  homeassistant/components/mqtt/fan.py
  tests/components/mqtt/test_fan.py
Labels: bugfix, cla-signed, code-quality, core, has-tests, integration: mqtt, small-pr

#48410 Fix mysensors default persistence file on import
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/config_flow.py
  tests/components/mysensors/test_config_flow.py
  tests/components/mysensors/test_init.py
Labels: by-code-owner, cla-signed, has-tests, integration: mysensors, small-pr

#50161 Fix unique_id issue on onewire config entries
  homeassistant/components/onewire/__init__.py
  homeassistant/components/onewire/binary_sensor.py
  homeassistant/components/onewire/sensor.py
  homeassistant/components/onewire/switch.py
  tests/components/onewire/test_init.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: onewire, small-pr

#50217 Bump aiohue to 2.3.0
  homeassistant/components/hue/binary_sensor.py
  homeassistant/components/hue/bridge.py
  homeassistant/components/hue/manifest.json
  homeassistant/components/hue/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, integration: hue

#50235 Better support for alarm panels in ZHA
  homeassistant/components/zha/api.py
  homeassistant/components/zha/core/helpers.py
  homeassistant/components/zha/core/registries.py
Labels: bugfix, by-code-owner, cla-signed, integration: zha, small-pr

#50098 Fix RM pro temperature sensor
  homeassistant/components/broadlink/sensor.py
  homeassistant/components/broadlink/updater.py
  tests/components/broadlink/test_device.py
  tests/components/broadlink/test_sensors.py
Labels: bugfix, by-code-owner, cla-signed, has-tests, integration: broadlink, small-pr

#50238 Fix Netatmo climate
  homeassistant/components/netatmo/climate.py
Labels: by-code-owner, cla-signed, integration: netatmo, small-pr

#50213 Remove simplisafe websocket
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/alarm_control_panel.py
  homeassistant/components/simplisafe/lock.py
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: by-code-owner, cla-signed, code-quality, integration: simplisafe, small-pr

#50151 Deprecate onewire YAML configuration
  homeassistant/components/onewire/sensor.py
Labels: breaking-change, by-code-owner, cla-signed, has-tests, integration: onewire, small-pr

#49099 Add Nettigo Air Monitor integration
  .strict-typing
  CODEOWNERS
  homeassistant/components/nam/__init__.py
  homeassistant/components/nam/air_quality.py
  homeassistant/components/nam/config_flow.py
  homeassistant/components/nam/const.py
  homeassistant/components/nam/manifest.json
  homeassistant/components/nam/model.py
  homeassistant/components/nam/sensor.py
  homeassistant/components/nam/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/zeroconf.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nam/__init__.py
  tests/components/nam/test_air_quality.py
  tests/components/nam/test_config_flow.py
  tests/components/nam/test_init.py
  tests/components/nam/test_sensor.py
Labels: cla-signed, has-tests, integration: nettigo, new-integration

#50055 Add Fritz sensors
  .coveragerc
  homeassistant/components/fritz/const.py
  homeassistant/components/fritz/sensor.py
Labels: by-code-owner, cla-signed, integration: fritz, new-feature, new-platform

#49898 Improve type annotations for Airly integration
  .strict-typing
  homeassistant/components/airly/__init__.py
  homeassistant/components/airly/air_quality.py
  homeassistant/components/airly/config_flow.py
  homeassistant/components/airly/const.py
  homeassistant/components/airly/model.py
  homeassistant/components/airly/sensor.py
  homeassistant/components/airly/system_health.py
  mypy.ini
  script/hassfest/mypy_config.py
  tests/components/airly/test_init.py
Labels: by-code-owner, cla-signed, code-quality, integration: airly

#50251 Fix light turn_on color conversion
  homeassistant/components/light/__init__.py
Labels: bugfix, cla-signed, core, integration: light, small-pr
