Repository home-assistant/core, pull requests merged in 2022-01, with the labels that each got.

#63165 Add entity categories for Kostal Plenticore integration
  homeassistant/components/kostal_plenticore/select.py
  homeassistant/components/kostal_plenticore/sensor.py
  homeassistant/components/kostal_plenticore/switch.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: kostal_plenticore

#63166 Mill use walrus operator
  homeassistant/components/mill/climate.py
  homeassistant/components/mill/sensor.py
Labels: cla-signed, small-pr, integration: mill, by-code-owner, code-quality

#63179 Move constants to const file for generic (camera)
  homeassistant/components/generic/camera.py
  homeassistant/components/generic/const.py
Labels: cla-signed, small-pr, integration: generic, code-quality

#63183 Simplify camera webrtc provider entity state management
  homeassistant/components/camera/__init__.py
Labels: core, breaking-change, integration: camera, cla-signed, small-pr, new-feature, new-integration, dependency, code-quality, bugfix

#63167 Improve wiffi config flow handling
  homeassistant/components/wiffi/config_flow.py
Labels: cla-signed, small-pr, by-code-owner, integration: wiffi, code-quality

#63099 Add new buttons for Shelly Gas
  homeassistant/components/shelly/button.py
  homeassistant/components/shelly/const.py
Labels: cla-signed, new-feature, integration: shelly, by-code-owner

#59660 Add `rtsptowebrtc` integration
  .strict-typing
  CODEOWNERS
  homeassistant/components/rtsp_to_webrtc/__init__.py
  homeassistant/components/rtsp_to_webrtc/config_flow.py
  homeassistant/components/rtsp_to_webrtc/manifest.json
  homeassistant/components/rtsp_to_webrtc/strings.json
  homeassistant/components/rtsp_to_webrtc/translations/en.json
  homeassistant/generated/config_flows.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/rtsp_to_webrtc/__init__.py
  tests/components/rtsp_to_webrtc/test_config_flow.py
  tests/components/rtsp_to_webrtc/test_init.py
Labels: cla-signed, new-integration, has-tests, integration: webrtc

#62712 Refactor enum zwave js tests
  tests/components/zwave_js/test_binary_sensor.py
  tests/components/zwave_js/test_cover.py
  tests/components/zwave_js/test_select.py
  tests/components/zwave_js/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: zwave_js

#63177 Add UniFi Protect switch platform
  homeassistant/components/unifiprotect/const.py
  homeassistant/components/unifiprotect/entity.py
  homeassistant/components/unifiprotect/models.py
  homeassistant/components/unifiprotect/switch.py
  homeassistant/components/unifiprotect/utils.py
  tests/components/unifiprotect/conftest.py
  tests/components/unifiprotect/test_button.py
  tests/components/unifiprotect/test_camera.py
  tests/components/unifiprotect/test_light.py
  tests/components/unifiprotect/test_media_player.py
  tests/components/unifiprotect/test_switch.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, integration: unifiprotect

#63186 Add init type hints [f-g]
  homeassistant/components/fibaro/__init__.py
  homeassistant/components/folder_watcher/__init__.py
  homeassistant/components/forked_daapd/__init__.py
  homeassistant/components/foscam/__init__.py
  homeassistant/components/freebox/__init__.py
  homeassistant/components/freedns/__init__.py
  homeassistant/components/fritzbox_callmonitor/__init__.py
  homeassistant/components/gc100/__init__.py
  homeassistant/components/gdacs/__init__.py
  homeassistant/components/generic_hygrostat/__init__.py
  homeassistant/components/geo_location/__init__.py
  homeassistant/components/geofency/__init__.py
  homeassistant/components/geonetnz_quakes/__init__.py
  homeassistant/components/geonetnz_volcano/__init__.py
  homeassistant/components/glances/__init__.py
  homeassistant/components/goalfeed/__init__.py
  homeassistant/components/google/__init__.py
  homeassistant/components/google_domains/__init__.py
  homeassistant/components/gpslogger/__init__.py
  homeassistant/components/graphite/__init__.py
  homeassistant/components/growatt_server/__init__.py
Labels: core, cla-signed, code-quality

#63190 Add init type hints [n-o]
  homeassistant/components/namecheapdns/__init__.py
  homeassistant/components/ness_alarm/__init__.py
  homeassistant/components/netgear_lte/__init__.py
  homeassistant/components/nextcloud/__init__.py
  homeassistant/components/notify_events/__init__.py
  homeassistant/components/nsw_fuel_station/__init__.py
  homeassistant/components/nuki/__init__.py
  homeassistant/components/numato/__init__.py
  homeassistant/components/octoprint/__init__.py
  homeassistant/components/ombi/__init__.py
  homeassistant/components/onboarding/__init__.py
  homeassistant/components/opentherm_gw/__init__.py
  homeassistant/components/opnsense/__init__.py
  homeassistant/components/orangepi_gpio/__init__.py
  homeassistant/components/ovo_energy/__init__.py
  homeassistant/components/owntracks/__init__.py
Labels: core, cla-signed, code-quality

#63170 Upgrade flake8-noqa to 1.2.1
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr, dependency, smash

#63194 Add init type hints [t-u]
  homeassistant/components/tankerkoenig/__init__.py
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/tellduslive/__init__.py
  homeassistant/components/tellstick/__init__.py
  homeassistant/components/template/__init__.py
  homeassistant/components/thethingsnetwork/__init__.py
  homeassistant/components/thingspeak/__init__.py
  homeassistant/components/toon/__init__.py
  homeassistant/components/totalconnect/__init__.py
  homeassistant/components/tplink_lte/__init__.py
  homeassistant/components/traccar/__init__.py
  homeassistant/components/trace/__init__.py
  homeassistant/components/transmission/__init__.py
  homeassistant/components/twilio/__init__.py
  homeassistant/components/upb/__init__.py
  homeassistant/components/updater/__init__.py
Labels: core, cla-signed, code-quality

#63184 Add default Fronius logger model for v0 API
  homeassistant/components/fronius/__init__.py
Labels: cla-signed, small-pr, integration: fronius, bugfix

#63105 Drop use of HomeAssistantType in elmax
  homeassistant/components/elmax/__init__.py
  homeassistant/components/elmax/common.py
  homeassistant/components/elmax/switch.py
Labels: cla-signed, small-pr, code-quality, integration: elmax

#63110 Fix management of Fritz repeaters
  homeassistant/components/fritz/binary_sensor.py
  homeassistant/components/fritz/sensor.py
  homeassistant/components/fritz/switch.py
Labels: cla-signed, integration: fritz, by-code-owner, bugfix

#61967 Use DeviceClass Enum in alarmdecoder schema
  homeassistant/components/alarmdecoder/config_flow.py
Labels: cla-signed, integration: alarmdecoder, small-pr, code-quality

#63171 Run `gen_requirements_all` script on changes to `setup.py`
  .pre-commit-config.yaml
Labels: cla-signed, small-pr, code-quality, smash

#63101 Add init type hints [d]
  homeassistant/components/daikin/__init__.py
  homeassistant/components/danfoss_air/__init__.py
  homeassistant/components/datadog/__init__.py
  homeassistant/components/default_config/__init__.py
  homeassistant/components/demo/__init__.py
  homeassistant/components/device_automation/__init__.py
  homeassistant/components/device_sun_light_trigger/__init__.py
  homeassistant/components/dialogflow/__init__.py
  homeassistant/components/digital_ocean/__init__.py
  homeassistant/components/discovery/__init__.py
  homeassistant/components/dominos/__init__.py
  homeassistant/components/dovado/__init__.py
  homeassistant/components/downloader/__init__.py
  homeassistant/components/duckdns/__init__.py
  homeassistant/components/dweet/__init__.py
Labels: core, cla-signed, code-quality

#63195 Add init type hints [v-z]
  homeassistant/components/vacuum/__init__.py
  homeassistant/components/velux/__init__.py
  homeassistant/components/venstar/__init__.py
  homeassistant/components/versasense/__init__.py
  homeassistant/components/vesync/__init__.py
  homeassistant/components/vicare/__init__.py
  homeassistant/components/volvooncall/__init__.py
  homeassistant/components/vultr/__init__.py
  homeassistant/components/w800rf32/__init__.py
  homeassistant/components/water_heater/__init__.py
  homeassistant/components/watson_iot/__init__.py
  homeassistant/components/weather/__init__.py
  homeassistant/components/webostv/__init__.py
  homeassistant/components/wirelesstag/__init__.py
  homeassistant/components/xbee/__init__.py
  homeassistant/components/xiaomi_aqara/__init__.py
  homeassistant/components/xs1/__init__.py
  homeassistant/components/zerproc/__init__.py
  homeassistant/components/zha/__init__.py
  homeassistant/components/zoneminder/__init__.py
  homeassistant/components/zwave/__init__.py
Labels: core, cla-signed, code-quality

#63189 Add init type hints [m]
  homeassistant/components/mailgun/__init__.py
  homeassistant/components/map/__init__.py
  homeassistant/components/matrix/__init__.py
  homeassistant/components/maxcube/__init__.py
  homeassistant/components/media_extractor/__init__.py
  homeassistant/components/melcloud/__init__.py
  homeassistant/components/melissa/__init__.py
  homeassistant/components/met_eireann/__init__.py
  homeassistant/components/mikrotik/__init__.py
  homeassistant/components/mill/__init__.py
  homeassistant/components/minio/__init__.py
  homeassistant/components/mobile_app/__init__.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt_eventstream/__init__.py
  homeassistant/components/mullvad/__init__.py
  homeassistant/components/my/__init__.py
  homeassistant/components/mycroft/__init__.py
  homeassistant/components/mythicbeastsdns/__init__.py
Labels: core, cla-signed, code-quality

#63193 Add init type hints [s]
  homeassistant/components/scene/__init__.py
  homeassistant/components/scsgate/__init__.py
  homeassistant/components/sharkiq/__init__.py
  homeassistant/components/shiftr/__init__.py
  homeassistant/components/sky_hub/__init__.py
  homeassistant/components/skybell/__init__.py
  homeassistant/components/sleepiq/__init__.py
  homeassistant/components/slide/__init__.py
  homeassistant/components/smarttub/__init__.py
  homeassistant/components/smarty/__init__.py
  homeassistant/components/sms/__init__.py
  homeassistant/components/snips/__init__.py
  homeassistant/components/solarlog/__init__.py
  homeassistant/components/soma/__init__.py
  homeassistant/components/somfy/__init__.py
  homeassistant/components/songpal/__init__.py
  homeassistant/components/spc/__init__.py
  homeassistant/components/spider/__init__.py
  homeassistant/components/splunk/__init__.py
  homeassistant/components/squeezebox/__init__.py
  homeassistant/components/statsd/__init__.py
  homeassistant/components/stiebel_eltron/__init__.py
  homeassistant/components/streamlabswater/__init__.py
  homeassistant/components/subaru/__init__.py
  homeassistant/components/sun/__init__.py
  homeassistant/components/supla/__init__.py
  homeassistant/components/system_log/__init__.py
Labels: core, cla-signed, code-quality

#63187 Add init type hints [h-j]
  homeassistant/components/hisense_aehw4a1/__init__.py
  homeassistant/components/hive/__init__.py
  homeassistant/components/hlk_sw16/__init__.py
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homematic/__init__.py
  homeassistant/components/honeywell/__init__.py
  homeassistant/components/hydrawise/__init__.py
  homeassistant/components/icloud/__init__.py
  homeassistant/components/ifttt/__init__.py
  homeassistant/components/image_processing/__init__.py
  homeassistant/components/incomfort/__init__.py
  homeassistant/components/influxdb/__init__.py
  homeassistant/components/insteon/__init__.py
  homeassistant/components/intent_script/__init__.py
  homeassistant/components/iperf3/__init__.py
  homeassistant/components/ipma/__init__.py
  homeassistant/components/islamic_prayer_times/__init__.py
  homeassistant/components/izone/__init__.py
  homeassistant/components/joaoapps_join/__init__.py
Labels: core, cla-signed, code-quality

#63154 Bump flux_led to 0.27.28 to fix missing white channel on SK6812RGBW strips
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: flux_led, dependency, bugfix, dependency-bump

#63188 Add init type hints [k-l]
  homeassistant/components/kaiterra/__init__.py
  homeassistant/components/keba/__init__.py
  homeassistant/components/keyboard/__init__.py
  homeassistant/components/kira/__init__.py
  homeassistant/components/lametric/__init__.py
  homeassistant/components/lifx/__init__.py
  homeassistant/components/light/__init__.py
  homeassistant/components/lightwave/__init__.py
  homeassistant/components/linode/__init__.py
  homeassistant/components/lirc/__init__.py
  homeassistant/components/litejet/__init__.py
  homeassistant/components/locative/__init__.py
  homeassistant/components/logentries/__init__.py
  homeassistant/components/logger/__init__.py
  homeassistant/components/logi_circle/__init__.py
  homeassistant/components/lupusec/__init__.py
  homeassistant/components/lutron_caseta/__init__.py
Labels: core, cla-signed, code-quality

#63191 Add init type hints [p-q]
  homeassistant/components/panasonic_viera/__init__.py
  homeassistant/components/panel_custom/__init__.py
  homeassistant/components/panel_iframe/__init__.py
  homeassistant/components/pilight/__init__.py
  homeassistant/components/ping/__init__.py
  homeassistant/components/plant/__init__.py
  homeassistant/components/point/__init__.py
  homeassistant/components/prometheus/__init__.py
  homeassistant/components/python_script/__init__.py
  homeassistant/components/qvr_pro/__init__.py
Labels: core, cla-signed, code-quality

#63192 Add init type hints [r]
  homeassistant/components/rachio/__init__.py
  homeassistant/components/rainbird/__init__.py
  homeassistant/components/raincloud/__init__.py
  homeassistant/components/raspihats/__init__.py
  homeassistant/components/remember_the_milk/__init__.py
  homeassistant/components/remote_rpi_gpio/__init__.py
  homeassistant/components/repetier/__init__.py
  homeassistant/components/rest_command/__init__.py
  homeassistant/components/rflink/__init__.py
  homeassistant/components/ring/__init__.py
  homeassistant/components/roomba/__init__.py
  homeassistant/components/roon/__init__.py
  homeassistant/components/route53/__init__.py
  homeassistant/components/rpi_camera/__init__.py
  homeassistant/components/rpi_gpio/__init__.py
  homeassistant/components/rpi_pfio/__init__.py
  homeassistant/components/rss_feed_template/__init__.py
Labels: core, cla-signed, code-quality

#63123 Bump dsmr-parser dependency to 0.31
  homeassistant/components/dsmr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: dsmr, has-tests, dependency

#63100 Add init type hints [b-c]
  homeassistant/components/bbb_gpio/__init__.py
  homeassistant/components/blink/__init__.py
  homeassistant/components/bloomsky/__init__.py
  homeassistant/components/blueprint/__init__.py
  homeassistant/components/bme280/__init__.py
  homeassistant/components/calendar/__init__.py
  homeassistant/components/cert_expiry/__init__.py
  homeassistant/components/circuit/__init__.py
  homeassistant/components/cloud/__init__.py
  homeassistant/components/color_extractor/__init__.py
  homeassistant/components/comfoconnect/__init__.py
  homeassistant/components/config/__init__.py
  homeassistant/components/conversation/__init__.py
  homeassistant/components/coolmaster/__init__.py
  homeassistant/components/cover/__init__.py
Labels: core, cla-signed, code-quality

#63106 Fix incorrect parameter name/hint in mqtt climate
  homeassistant/components/mqtt/climate.py
Labels: core, cla-signed, integration: mqtt, small-pr, code-quality, bugfix

#63206 Revert nest reloading due to lock up
  homeassistant/components/nest/__init__.py
  tests/components/nest/test_events.py
Labels: cla-signed, integration: nest, small-pr, has-tests, by-code-owner, bugfix

#61094 Drop deprecated CONF_NAMES from onewire
  homeassistant/components/onewire/const.py
  homeassistant/components/onewire/sensor.py
  tests/components/onewire/conftest.py
  tests/components/onewire/const.py
Labels: cla-signed, small-pr, integration: onewire, has-tests, by-code-owner, code-quality, smash

#63094 Add type hint to reload_config in homeassistant scene
  homeassistant/components/homeassistant/scene.py
Labels: core, cla-signed, small-pr, integration: homeassistant, code-quality

#63020 Ensure service calls are typed in todoist
  homeassistant/components/todoist/calendar.py
Labels: cla-signed, small-pr, integration: todoist, code-quality

#63017 Make ATTR_ENTITY_ID required in local_file service call
  homeassistant/components/local_file/camera.py
Labels: cla-signed, small-pr, integration: local_file, code-quality

#62879 Add basic type hints to broadlink
  homeassistant/components/broadlink/__init__.py
  homeassistant/components/broadlink/light.py
  homeassistant/components/broadlink/remote.py
  homeassistant/components/broadlink/sensor.py
  homeassistant/components/broadlink/switch.py
Labels: cla-signed, integration: broadlink, code-quality

#63082 Introduce const file in Nissan Leaf
  homeassistant/components/nissan_leaf/__init__.py
  homeassistant/components/nissan_leaf/binary_sensor.py
  homeassistant/components/nissan_leaf/const.py
  homeassistant/components/nissan_leaf/sensor.py
  homeassistant/components/nissan_leaf/switch.py
Labels: cla-signed, integration: nissan_leaf, by-code-owner, code-quality

#63225 Use more narrow exception catching in `nest`
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/camera_sdm.py
  homeassistant/components/nest/climate_sdm.py
  homeassistant/components/nest/config_flow.py
  homeassistant/components/nest/sensor_sdm.py
  tests/components/nest/test_config_flow_sdm.py
  tests/components/nest/test_init_sdm.py
Labels: cla-signed, integration: nest, small-pr, has-tests, by-code-owner, code-quality

#63224 Bump google-nest-sdm to 1.3.0
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: nest, small-pr, by-code-owner, dependency-bump

#63203 Add Oncue by Kohler integration
  .strict-typing
  CODEOWNERS
  homeassistant/components/oncue/__init__.py
  homeassistant/components/oncue/config_flow.py
  homeassistant/components/oncue/const.py
  homeassistant/components/oncue/manifest.json
  homeassistant/components/oncue/sensor.py
  homeassistant/components/oncue/strings.json
  homeassistant/components/oncue/translations/en.json
  homeassistant/generated/config_flows.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/oncue/__init__.py
  tests/components/oncue/test_config_flow.py
  tests/components/oncue/test_init.py
  tests/components/oncue/test_sensor.py
Labels: cla-signed, new-integration, has-tests, integration: oncue

#63018 Ensure service calls are typed in remember-the-milk
  homeassistant/components/remember_the_milk/__init__.py
Labels: cla-signed, integration: remember_the_milk, small-pr, code-quality

#61643 Fix Tuya vacuum display battery level
  homeassistant/components/tuya/vacuum.py
Labels: cla-signed, small-pr, integration: tuya, bugfix

#63220 Add UniFi Protect number platform
  homeassistant/components/unifiprotect/const.py
  homeassistant/components/unifiprotect/number.py
  tests/components/unifiprotect/conftest.py
  tests/components/unifiprotect/test_number.py
  tests/components/unifiprotect/test_switch.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: unifiprotect

#63016 Add missing schema to dominos order service
  homeassistant/components/dominos/__init__.py
Labels: cla-signed, integration: dominos, small-pr, code-quality

#63231 Add entity_category to oncue sensors
  homeassistant/components/oncue/sensor.py
Labels: cla-signed, by-code-owner, integration: oncue

#63232 Add support for oncue connectivity binary sensor
  homeassistant/components/oncue/__init__.py
  homeassistant/components/oncue/binary_sensor.py
  homeassistant/components/oncue/entity.py
  homeassistant/components/oncue/sensor.py
  tests/components/oncue/test_binary_sensor.py
  tests/components/oncue/test_sensor.py
Labels: new-platform, cla-signed, has-tests, by-code-owner, integration: oncue

#63228 Use shorthand attributes in Tuya camera platform
  homeassistant/components/tuya/camera.py
Labels: cla-signed, small-pr, integration: tuya, by-code-owner, code-quality

#63058 Simplify nest reauth config flow
  homeassistant/components/nest/config_flow.py
  tests/components/nest/test_config_flow_sdm.py
Labels: cla-signed, integration: nest, small-pr, has-tests, by-code-owner, code-quality

#63111 Fix systemmonitor CPU temp for Armbian on PineA64
  homeassistant/components/systemmonitor/sensor.py
Labels: cla-signed, small-pr, integration: systemmonitor, bugfix

#63234 Update rokuecp to 0.9.0
  homeassistant/components/roku/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: roku, by-code-owner, dependency-bump

#62217 Add link into statistics unit mismatch warning
  homeassistant/components/sensor/recorder.py
Labels: core, cla-signed, small-pr, integration: sensor, bugfix

#63236 Refactor static attributes to class attrs for UniFi Protect
  homeassistant/components/unifiprotect/button.py
  homeassistant/components/unifiprotect/light.py
  homeassistant/components/unifiprotect/number.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: unifiprotect

#63197 Improve tests for generic camera
  homeassistant/components/generic/camera.py
  tests/components/generic/conftest.py
  tests/components/generic/test_camera.py
Labels: cla-signed, small-pr, integration: generic, has-tests, code-quality

#63237 Run `hassfest` on changes to `.strict-typing`
  .pre-commit-config.yaml
Labels: cla-signed, small-pr, code-quality

#63248 Fix oncue string for already_configured
  homeassistant/components/oncue/strings.json
  homeassistant/components/oncue/translations/en.json
Labels: cla-signed, small-pr, by-code-owner, integration: oncue

#63249 Add hardware version to Roku device info
  homeassistant/components/roku/entity.py
  tests/components/roku/test_media_player.py
Labels: cla-signed, small-pr, integration: roku, by-code-owner

#63238 Add binary_sensor platform to roku
  homeassistant/components/roku/__init__.py
  homeassistant/components/roku/binary_sensor.py
  homeassistant/components/roku/entity.py
  tests/components/roku/fixtures/rokutv-device-info.xml
  tests/components/roku/test_binary_sensor.py
Labels: new-platform, cla-signed, integration: roku, by-code-owner

#62875 Add basic type hints to mqtt
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/button.py
  homeassistant/components/mqtt/camera.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/humidifier.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/scene.py
  homeassistant/components/mqtt/select.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/switch.py
Labels: core, cla-signed, integration: mqtt, code-quality

#62739 Add mqtt encoding support for publishing
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/button.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/humidifier.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_json.py
  homeassistant/components/mqtt/light/schema_template.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/scene.py
  homeassistant/components/mqtt/select.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/vacuum/schema_legacy.py
  homeassistant/components/mqtt/vacuum/schema_state.py
  tests/components/mqtt/test_alarm_control_panel.py
  tests/components/mqtt/test_button.py
  tests/components/mqtt/test_climate.py
  tests/components/mqtt/test_common.py
  tests/components/mqtt/test_cover.py
  tests/components/mqtt/test_fan.py
  tests/components/mqtt/test_humidifier.py
  tests/components/mqtt/test_legacy_vacuum.py
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_light_json.py
  tests/components/mqtt/test_light_template.py
  tests/components/mqtt/test_lock.py
  tests/components/mqtt/test_number.py
  tests/components/mqtt/test_select.py
  tests/components/mqtt/test_state_vacuum.py
  tests/components/mqtt/test_switch.py
Labels: core, cla-signed, integration: mqtt, new-feature, has-tests

#62748 Add type hints to google_assistant
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
Labels: core, cla-signed, integration: google_assistant, small-pr, code-quality

#61908 Add button platform to template integration
  homeassistant/components/template/button.py
  homeassistant/components/template/config.py
  homeassistant/components/template/const.py
  tests/components/template/test_button.py
Labels: cla-signed, new-feature, integration: template, has-tests

#63265 Improve test coverage of template button
  tests/components/template/test_button.py
Labels: cla-signed, small-pr, integration: template, has-tests, code-quality

#63269 Add binary_sensor setup type hints [h-n]
  homeassistant/components/hive/binary_sensor.py
  homeassistant/components/home_connect/binary_sensor.py
  homeassistant/components/hvv_departures/binary_sensor.py
  homeassistant/components/hydrawise/binary_sensor.py
  homeassistant/components/ihc/binary_sensor.py
  homeassistant/components/incomfort/binary_sensor.py
  homeassistant/components/insteon/binary_sensor.py
  homeassistant/components/keba/binary_sensor.py
  homeassistant/components/konnected/binary_sensor.py
  homeassistant/components/lupusec/binary_sensor.py
  homeassistant/components/lutron/binary_sensor.py
  homeassistant/components/lutron_caseta/binary_sensor.py
  homeassistant/components/mcp23017/binary_sensor.py
  homeassistant/components/meteoalarm/binary_sensor.py
  homeassistant/components/mobile_app/binary_sensor.py
  homeassistant/components/mullvad/binary_sensor.py
  homeassistant/components/mutesync/binary_sensor.py
  homeassistant/components/myq/binary_sensor.py
  homeassistant/components/ness_alarm/binary_sensor.py
  homeassistant/components/nexia/binary_sensor.py
  homeassistant/components/nextcloud/binary_sensor.py
  homeassistant/components/nuki/binary_sensor.py
  homeassistant/components/numato/binary_sensor.py
Labels: core, cla-signed, code-quality

#63270 Add binary_sensor setup type hints [o-r]
  homeassistant/components/onvif/binary_sensor.py
  homeassistant/components/opengarage/binary_sensor.py
  homeassistant/components/orangepi_gpio/binary_sensor.py
  homeassistant/components/ozw/binary_sensor.py
  homeassistant/components/pcal9535a/binary_sensor.py
  homeassistant/components/pi4ioe5v9xxxx/binary_sensor.py
  homeassistant/components/pilight/binary_sensor.py
  homeassistant/components/plaato/binary_sensor.py
  homeassistant/components/plugwise/binary_sensor.py
  homeassistant/components/point/binary_sensor.py
  homeassistant/components/poolsense/binary_sensor.py
  homeassistant/components/powerwall/binary_sensor.py
  homeassistant/components/progettihwsw/binary_sensor.py
  homeassistant/components/proxmoxve/binary_sensor.py
  homeassistant/components/qwikswitch/binary_sensor.py
  homeassistant/components/rachio/binary_sensor.py
  homeassistant/components/rainbird/binary_sensor.py
  homeassistant/components/random/binary_sensor.py
  homeassistant/components/remote_rpi_gpio/binary_sensor.py
  homeassistant/components/rest/binary_sensor.py
  homeassistant/components/rflink/binary_sensor.py
  homeassistant/components/ring/binary_sensor.py
  homeassistant/components/risco/binary_sensor.py
  homeassistant/components/roomba/binary_sensor.py
Labels: cla-signed, code-quality

#58596 Add unique_id configuration variable to command_line integration
  homeassistant/components/command_line/binary_sensor.py
  homeassistant/components/command_line/cover.py
  homeassistant/components/command_line/sensor.py
  homeassistant/components/command_line/switch.py
  tests/components/command_line/test_binary_sensor.py
  tests/components/command_line/test_cover.py
  tests/components/command_line/test_sensor.py
  tests/components/command_line/test_switch.py
Labels: Hacktoberfest, cla-signed, new-feature, integration: command_line, has-tests, hacktoberfest-accepted, smash

#63274 Fix relative import issue in device_automation
  homeassistant/components/device_automation/entity.py
Labels: cla-signed, small-pr, integration: device_automation, bugfix

#63262 Bump flux_led to 0.27.32 to fix incorrect strip order on A2 devices
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: flux_led, dependency, bugfix, dependency-bump

#63253 Prevent doorbird integration from overloading the device on startup
  homeassistant/components/doorbird/__init__.py
Labels: cla-signed, integration: doorbird, small-pr, by-code-owner

#63263 Add air_quality setup type hints
  homeassistant/components/blebox/air_quality.py
  homeassistant/components/demo/air_quality.py
  homeassistant/components/kaiterra/air_quality.py
  homeassistant/components/nilu/air_quality.py
  homeassistant/components/norway_air/air_quality.py
  homeassistant/components/opensensemap/air_quality.py
Labels: core, cla-signed, integration: demo, integration: norway_air, integration: opensensemap, integration: kaiterra, integration: nilu, integration: blebox, code-quality

#63261 Add init type hints [misc]
  homeassistant/components/almond/__init__.py
  homeassistant/components/aws/__init__.py
  homeassistant/components/configurator/__init__.py
  homeassistant/components/hangouts/__init__.py
  homeassistant/components/life360/__init__.py
  homeassistant/components/logbook/__init__.py
  homeassistant/components/ps4/__init__.py
  homeassistant/components/shopping_list/__init__.py
  homeassistant/components/tibber/__init__.py
  homeassistant/components/zabbix/__init__.py
Labels: core, cla-signed, code-quality

#63254 Update to pyoctoprintapi 1.7
  homeassistant/components/octoprint/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: octoprint, small-pr, dependency, by-code-owner, dependency-bump

#63280 Bump caldav version to 0.8.2
  homeassistant/components/caldav/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: caldav, dependency, dependency-bump

#63279 Add climate setup type hints [m-z]
  homeassistant/components/maxcube/climate.py
  homeassistant/components/melissa/climate.py
  homeassistant/components/mill/climate.py
  homeassistant/components/nexia/climate.py
  homeassistant/components/nuheat/climate.py
  homeassistant/components/opentherm_gw/climate.py
  homeassistant/components/ozw/climate.py
  homeassistant/components/plugwise/climate.py
  homeassistant/components/proliphix/climate.py
  homeassistant/components/radiotherm/climate.py
  homeassistant/components/schluter/climate.py
  homeassistant/components/screenlogic/climate.py
  homeassistant/components/smartthings/climate.py
  homeassistant/components/smarttub/climate.py
  homeassistant/components/somfy/climate.py
  homeassistant/components/spider/climate.py
  homeassistant/components/stiebel_eltron/climate.py
  homeassistant/components/tfiac/climate.py
  homeassistant/components/touchline/climate.py
  homeassistant/components/venstar/climate.py
  homeassistant/components/vicare/climate.py
  homeassistant/components/whirlpool/climate.py
  homeassistant/components/xs1/climate.py
  homeassistant/components/zhong_hong/climate.py
  homeassistant/components/zwave/climate.py
Labels: cla-signed, code-quality

#63268 Add binary_sensor setup type hints [a-f]
  homeassistant/components/android_ip_webcam/binary_sensor.py
  homeassistant/components/apcupsd/binary_sensor.py
  homeassistant/components/aurora/binary_sensor.py
  homeassistant/components/axis/binary_sensor.py
  homeassistant/components/bayesian/binary_sensor.py
  homeassistant/components/bbb_gpio/binary_sensor.py
  homeassistant/components/blink/binary_sensor.py
  homeassistant/components/bloomsky/binary_sensor.py
  homeassistant/components/cloud/binary_sensor.py
  homeassistant/components/danfoss_air/binary_sensor.py
  homeassistant/components/demo/binary_sensor.py
  homeassistant/components/ecobee/binary_sensor.py
  homeassistant/components/econet/binary_sensor.py
  homeassistant/components/egardia/binary_sensor.py
  homeassistant/components/enocean/binary_sensor.py
  homeassistant/components/faa_delays/binary_sensor.py
  homeassistant/components/ffmpeg_motion/binary_sensor.py
  homeassistant/components/ffmpeg_noise/binary_sensor.py
  homeassistant/components/fibaro/binary_sensor.py
  homeassistant/components/flic/binary_sensor.py
  homeassistant/components/flipr/binary_sensor.py
  homeassistant/components/flo/binary_sensor.py
  homeassistant/components/freedompro/binary_sensor.py
Labels: core, cla-signed, code-quality

#63271 Add binary_sensor setup type hints [s-z]
  homeassistant/components/satel_integra/binary_sensor.py
  homeassistant/components/screenlogic/binary_sensor.py
  homeassistant/components/sense/binary_sensor.py
  homeassistant/components/sleepiq/binary_sensor.py
  homeassistant/components/smartthings/binary_sensor.py
  homeassistant/components/smarty/binary_sensor.py
  homeassistant/components/spc/binary_sensor.py
  homeassistant/components/starline/binary_sensor.py
  homeassistant/components/streamlabswater/binary_sensor.py
  homeassistant/components/syncthru/binary_sensor.py
  homeassistant/components/tapsaff/binary_sensor.py
  homeassistant/components/tellduslive/binary_sensor.py
  homeassistant/components/template/binary_sensor.py
  homeassistant/components/tesla_wall_connector/binary_sensor.py
  homeassistant/components/threshold/binary_sensor.py
  homeassistant/components/tod/binary_sensor.py
  homeassistant/components/totalconnect/binary_sensor.py
  homeassistant/components/trend/binary_sensor.py
  homeassistant/components/updater/binary_sensor.py
  homeassistant/components/venstar/binary_sensor.py
  homeassistant/components/vicare/binary_sensor.py
  homeassistant/components/volvooncall/binary_sensor.py
  homeassistant/components/vultr/binary_sensor.py
  homeassistant/components/w800rf32/binary_sensor.py
  homeassistant/components/wiffi/binary_sensor.py
  homeassistant/components/xbee/binary_sensor.py
  homeassistant/components/xiaomi_aqara/binary_sensor.py
  homeassistant/components/zwave/binary_sensor.py
Labels: core, cla-signed, code-quality

#63272 Add calendar setup type hints
  homeassistant/components/caldav/calendar.py
  homeassistant/components/demo/calendar.py
  homeassistant/components/google/calendar.py
  homeassistant/components/todoist/calendar.py
Labels: core, cla-signed, integration: google, integration: demo, integration: caldav, integration: todoist, code-quality

#63242 Add strict typing to `core.py` (4) - Misc
  homeassistant/core.py
Labels: core, cla-signed, small-pr, code-quality

#63277 Add camera setup type hints
  homeassistant/components/arlo/camera.py
  homeassistant/components/august/camera.py
  homeassistant/components/axis/camera.py
  homeassistant/components/blink/camera.py
  homeassistant/components/bloomsky/camera.py
  homeassistant/components/demo/camera.py
  homeassistant/components/doorbird/camera.py
  homeassistant/components/environment_canada/camera.py
  homeassistant/components/familyhub/camera.py
  homeassistant/components/foscam/camera.py
  homeassistant/components/generic/camera.py
  homeassistant/components/local_file/camera.py
  homeassistant/components/logi_circle/camera.py
  homeassistant/components/mjpeg/camera.py
  homeassistant/components/onvif/camera.py
  homeassistant/components/proxy/camera.py
  homeassistant/components/push/camera.py
  homeassistant/components/qvr_pro/camera.py
  homeassistant/components/ring/camera.py
  homeassistant/components/rpi_camera/camera.py
  homeassistant/components/vivotek/camera.py
  homeassistant/components/xeoma/camera.py
  homeassistant/components/xiaomi/camera.py
  homeassistant/components/yi/camera.py
  homeassistant/components/zoneminder/camera.py
Labels: core, cla-signed, code-quality

#63278 Add climate setup type hints [a-l]
  homeassistant/components/ambiclimate/climate.py
  homeassistant/components/atag/climate.py
  homeassistant/components/balboa/climate.py
  homeassistant/components/blebox/climate.py
  homeassistant/components/coolmaster/climate.py
  homeassistant/components/daikin/climate.py
  homeassistant/components/demo/climate.py
  homeassistant/components/ecobee/climate.py
  homeassistant/components/econet/climate.py
  homeassistant/components/ephember/climate.py
  homeassistant/components/eq3btsmart/climate.py
  homeassistant/components/fibaro/climate.py
  homeassistant/components/freedompro/climate.py
  homeassistant/components/generic_thermostat/climate.py
  homeassistant/components/gree/climate.py
  homeassistant/components/heatmiser/climate.py
  homeassistant/components/hisense_aehw4a1/climate.py
  homeassistant/components/hive/climate.py
  homeassistant/components/homematic/climate.py
  homeassistant/components/incomfort/climate.py
  homeassistant/components/insteon/climate.py
  homeassistant/components/intesishome/climate.py
  homeassistant/components/lightwave/climate.py
Labels: core, cla-signed, code-quality

#63283 Address late review comments for version integration
  homeassistant/components/version/config_flow.py
  homeassistant/components/version/coordinator.py
  homeassistant/components/version/sensor.py
  tests/components/version/common.py
  tests/components/version/test_config_flow.py
  tests/components/version/test_sensor.py
Labels: cla-signed, small-pr, integration: version, has-tests, by-code-owner, code-quality

#63282 Bump async-upnp-client==0.23.3
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/components/ssdp/manifest.json
  homeassistant/components/upnp/manifest.json
  homeassistant/components/yeelight/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: upnp, small-pr, integration: yeelight, integration: dlna_dmr, integration: ssdp, dependency, by-code-owner, dependency-bump

#63076 Downgrade OctoPrint printer disconnected errors
  homeassistant/components/octoprint/__init__.py
  homeassistant/components/octoprint/sensor.py
  tests/components/octoprint/test_sensor.py
Labels: cla-signed, integration: octoprint, small-pr, code-quality

#54586 Add eq3btsmart presets on, off, auto and manual mode
  homeassistant/components/eq3btsmart/climate.py
  homeassistant/components/eq3btsmart/const.py
Labels: cla-signed, small-pr, new-feature, integration: eq3btsmart, smash

#63291 Add light setup type hints [a-i]
  homeassistant/components/avea/light.py
  homeassistant/components/axis/light.py
  homeassistant/components/blebox/light.py
  homeassistant/components/blinksticklight/light.py
  homeassistant/components/decora/light.py
  homeassistant/components/enocean/light.py
  homeassistant/components/eufy/light.py
  homeassistant/components/everlights/light.py
  homeassistant/components/fibaro/light.py
  homeassistant/components/freedompro/light.py
  homeassistant/components/futurenow/light.py
  homeassistant/components/hive/light.py
  homeassistant/components/home_connect/light.py
  homeassistant/components/homematic/light.py
  homeassistant/components/homeworks/light.py
  homeassistant/components/iglo/light.py
  homeassistant/components/ihc/light.py
  homeassistant/components/insteon/light.py
Labels: core, cla-signed, code-quality

#61937 Add mqtt entity attributes command templates
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/humidifier.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/select.py
  tests/components/mqtt/test_init.py
Labels: core, cla-signed, integration: mqtt, small-pr, new-feature, has-tests

#63287 Add fan setup type hints
  homeassistant/components/comfoconnect/fan.py
  homeassistant/components/demo/fan.py
  homeassistant/components/freedompro/fan.py
  homeassistant/components/insteon/fan.py
  homeassistant/components/lutron_caseta/fan.py
  homeassistant/components/ozw/fan.py
  homeassistant/components/smartthings/fan.py
  homeassistant/components/smarty/fan.py
  homeassistant/components/template/fan.py
  homeassistant/components/vesync/fan.py
  homeassistant/components/zwave/fan.py
Labels: core, cla-signed, code-quality

#63292 Add light setup type hints [l-r]
  homeassistant/components/lightwave/light.py
  homeassistant/components/litejet/light.py
  homeassistant/components/lutron/light.py
  homeassistant/components/lutron_caseta/light.py
  homeassistant/components/lw12wifi/light.py
  homeassistant/components/myq/light.py
  homeassistant/components/mystrom/light.py
  homeassistant/components/niko_home_control/light.py
  homeassistant/components/opple/light.py
  homeassistant/components/osramlightify/light.py
  homeassistant/components/ozw/light.py
  homeassistant/components/qwikswitch/light.py
  homeassistant/components/rflink/light.py
  homeassistant/components/ring/light.py
  homeassistant/components/rpi_gpio_pwm/light.py
Labels: cla-signed, code-quality

#63285 Add cover setup type hints
  homeassistant/components/blebox/cover.py
  homeassistant/components/bosch_shc/cover.py
  homeassistant/components/fibaro/cover.py
  homeassistant/components/freedompro/cover.py
  homeassistant/components/hunterdouglas_powerview/cover.py
  homeassistant/components/insteon/cover.py
  homeassistant/components/lutron_caseta/cover.py
  homeassistant/components/motion_blinds/cover.py
  homeassistant/components/myq/cover.py
  homeassistant/components/opengarage/cover.py
  homeassistant/components/ozw/cover.py
  homeassistant/components/rflink/cover.py
  homeassistant/components/scsgate/cover.py
  homeassistant/components/slide/cover.py
  homeassistant/components/smarthab/cover.py
  homeassistant/components/smartthings/cover.py
  homeassistant/components/soma/cover.py
  homeassistant/components/somfy/cover.py
  homeassistant/components/somfy_mylink/cover.py
  homeassistant/components/tellduslive/cover.py
  homeassistant/components/tellstick/cover.py
  homeassistant/components/velux/cover.py
  homeassistant/components/xiaomi_aqara/cover.py
  homeassistant/components/zwave/cover.py
Labels: core, cla-signed, code-quality

#63080 Fix MQTT cover not using tilt_command_template
  homeassistant/components/mqtt/cover.py
  tests/components/mqtt/test_cover.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, bugfix

#62950 Fix mqtt reloading and rework tests
  homeassistant/components/mqtt/__init__.py
  tests/components/mqtt/fixtures/configuration.yaml
  tests/components/mqtt/test_alarm_control_panel.py
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_button.py
  tests/components/mqtt/test_camera.py
  tests/components/mqtt/test_climate.py
  tests/components/mqtt/test_common.py
  tests/components/mqtt/test_cover.py
  tests/components/mqtt/test_fan.py
  tests/components/mqtt/test_humidifier.py
  tests/components/mqtt/test_legacy_vacuum.py
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_light_json.py
  tests/components/mqtt/test_light_template.py
  tests/components/mqtt/test_lock.py
  tests/components/mqtt/test_number.py
  tests/components/mqtt/test_scene.py
  tests/components/mqtt/test_select.py
  tests/components/mqtt/test_sensor.py
  tests/components/mqtt/test_state_vacuum.py
  tests/components/mqtt/test_switch.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, bugfix

#63290 Add image_processing setup type hints
  homeassistant/components/dlib_face_detect/image_processing.py
  homeassistant/components/dlib_face_identify/image_processing.py
  homeassistant/components/doods/image_processing.py
  homeassistant/components/facebox/image_processing.py
  homeassistant/components/microsoft_face_detect/image_processing.py
  homeassistant/components/microsoft_face_identify/image_processing.py
  homeassistant/components/openalpr_cloud/image_processing.py
  homeassistant/components/openalpr_local/image_processing.py
  homeassistant/components/opencv/image_processing.py
  homeassistant/components/qrcode/image_processing.py
  homeassistant/components/seven_segments/image_processing.py
  homeassistant/components/sighthound/image_processing.py
  homeassistant/components/tensorflow/image_processing.py
Labels: core, cla-signed, code-quality

#63289 Add humidifier setup type hints
  homeassistant/components/ecobee/humidifier.py
  homeassistant/components/generic_hygrostat/humidifier.py
Labels: core, cla-signed, integration: ecobee, integration: demo, integration: generic_hygrostat, code-quality

#63286 Add device_tracker setup type hints
  homeassistant/components/mazda/device_tracker.py
  homeassistant/components/mobile_app/device_tracker.py
  homeassistant/components/starline/device_tracker.py
Labels: core, cla-signed, small-pr, integration: mobile_app, integration: starline, code-quality, integration: mazda

#63293 Add light setup type hints [s-z]
  homeassistant/components/screenlogic/light.py
  homeassistant/components/scsgate/light.py
  homeassistant/components/sensehat/light.py
  homeassistant/components/smarthab/light.py
  homeassistant/components/smartthings/light.py
  homeassistant/components/smarttub/light.py
  homeassistant/components/tellduslive/light.py
  homeassistant/components/tellstick/light.py
  homeassistant/components/tikteck/light.py
  homeassistant/components/unifiled/light.py
  homeassistant/components/upb/light.py
  homeassistant/components/velux/light.py
  homeassistant/components/vesync/light.py
  homeassistant/components/x10/light.py
  homeassistant/components/xbee/light.py
  homeassistant/components/xiaomi_aqara/light.py
  homeassistant/components/zengge/light.py
  homeassistant/components/zwave/light.py
Labels: cla-signed, code-quality

#63296 Add lock setup type hints
  homeassistant/components/august/lock.py
  homeassistant/components/fibaro/lock.py
  homeassistant/components/freedompro/lock.py
  homeassistant/components/homematic/lock.py
  homeassistant/components/keba/lock.py
  homeassistant/components/kiwi/lock.py
  homeassistant/components/mazda/lock.py
  homeassistant/components/nuki/lock.py
  homeassistant/components/ozw/lock.py
  homeassistant/components/sesame/lock.py
  homeassistant/components/smartthings/lock.py
  homeassistant/components/starline/lock.py
  homeassistant/components/volvooncall/lock.py
  homeassistant/components/xiaomi_aqara/lock.py
  homeassistant/components/zwave/lock.py
Labels: cla-signed, code-quality

#63297 Add media_player setup type hints [a-l]
  homeassistant/components/anthemav/media_player.py
  homeassistant/components/apple_tv/media_player.py
  homeassistant/components/blackbird/media_player.py
  homeassistant/components/bluesound/media_player.py
  homeassistant/components/channels/media_player.py
  homeassistant/components/clementine/media_player.py
  homeassistant/components/cmus/media_player.py
  homeassistant/components/denon/media_player.py
  homeassistant/components/enigma2/media_player.py
  homeassistant/components/epson/media_player.py
  homeassistant/components/forked_daapd/media_player.py
  homeassistant/components/gstreamer/media_player.py
  homeassistant/components/harman_kardon_avr/media_player.py
  homeassistant/components/horizon/media_player.py
  homeassistant/components/itunes/media_player.py
  homeassistant/components/kef/media_player.py
  homeassistant/components/kodi/media_player.py
  homeassistant/components/lg_soundbar/media_player.py
Labels: cla-signed, code-quality

#62105 Mqtt rework on value templates
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/device_tracker/schema_discovery.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/humidifier.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_template.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/select.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/tag.py
  homeassistant/components/mqtt/vacuum/schema_legacy.py
  tests/components/mqtt/test_init.py
Labels: core, cla-signed, integration: mqtt, has-tests, code-quality

#62263 Add MQTT encoding parameter for all subscribed topics
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/humidifier.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_json.py
  homeassistant/components/mqtt/light/schema_template.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/select.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/vacuum/schema_legacy.py
  homeassistant/components/mqtt/vacuum/schema_state.py
  tests/components/mqtt/test_alarm_control_panel.py
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_climate.py
  tests/components/mqtt/test_common.py
  tests/components/mqtt/test_cover.py
  tests/components/mqtt/test_fan.py
  tests/components/mqtt/test_humidifier.py
  tests/components/mqtt/test_legacy_vacuum.py
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_light_json.py
  tests/components/mqtt/test_light_template.py
  tests/components/mqtt/test_lock.py
  tests/components/mqtt/test_number.py
  tests/components/mqtt/test_select.py
  tests/components/mqtt/test_sensor.py
  tests/components/mqtt/test_state_vacuum.py
  tests/components/mqtt/test_switch.py
Labels: core, cla-signed, integration: mqtt, new-feature

#63298 Add media_player setup type hints [m-x]
  homeassistant/components/mediaroom/media_player.py
  homeassistant/components/monoprice/media_player.py
  homeassistant/components/mpchc/media_player.py
  homeassistant/components/mpd/media_player.py
  homeassistant/components/nad/media_player.py
  homeassistant/components/panasonic_bluray/media_player.py
  homeassistant/components/panasonic_viera/media_player.py
  homeassistant/components/pioneer/media_player.py
  homeassistant/components/pjlink/media_player.py
  homeassistant/components/ps4/media_player.py
  homeassistant/components/roku/media_player.py
  homeassistant/components/roon/media_player.py
  homeassistant/components/russound_rio/media_player.py
  homeassistant/components/soundtouch/media_player.py
  homeassistant/components/ue_smart_radio/media_player.py
  homeassistant/components/universal/media_player.py
  homeassistant/components/vlc/media_player.py
  homeassistant/components/volumio/media_player.py
  homeassistant/components/webostv/media_player.py
  homeassistant/components/xbox/media_player.py
  homeassistant/components/xiaomi_tv/media_player.py
Labels: cla-signed, code-quality

#63288 Add geo_location setup type hints
  homeassistant/components/demo/geo_location.py
  homeassistant/components/gdacs/geo_location.py
  homeassistant/components/geo_json_events/geo_location.py
  homeassistant/components/geonetnz_quakes/geo_location.py
  homeassistant/components/ign_sismologia/geo_location.py
  homeassistant/components/qld_bushfire/geo_location.py
  homeassistant/components/usgs_earthquakes_feed/geo_location.py
Labels: core, cla-signed, integration: demo, integration: ign_sismologia, integration: qld_bushfire, integration: geo_json_events, integration: usgs_earthquakes_feed, integration: geonetnz_quakes, integration: gdacs, code-quality

#63300 Add setup type hints to select, vacuum and water_heater
  homeassistant/components/atag/water_heater.py
  homeassistant/components/econet/water_heater.py
  homeassistant/components/ecovacs/vacuum.py
  homeassistant/components/harmony/select.py
  homeassistant/components/hive/water_heater.py
  homeassistant/components/incomfort/water_heater.py
  homeassistant/components/sharkiq/vacuum.py
  homeassistant/components/vicare/water_heater.py
Labels: cla-signed, integration: hive, integration: ecovacs, integration: harmony, integration: econet, integration: incomfort, integration: vicare, integration: atag, code-quality, integration: sharkiq

#63301 Add weather setup type hints
  homeassistant/components/aemet/weather.py
  homeassistant/components/darksky/weather.py
  homeassistant/components/ecobee/weather.py
  homeassistant/components/environment_canada/weather.py
  homeassistant/components/ipma/weather.py
  homeassistant/components/met_eireann/weather.py
Labels: cla-signed, integration: ecobee, integration: environment_canada, integration: ipma, integration: darksky, integration: aemet, code-quality, integration: met_eireann

#63302 Add switch setup type hints [a-f]
  homeassistant/components/android_ip_webcam/switch.py
  homeassistant/components/aqualogic/switch.py
  homeassistant/components/arduino/switch.py
  homeassistant/components/aten_pe/switch.py
  homeassistant/components/axis/switch.py
  homeassistant/components/bbb_gpio/switch.py
  homeassistant/components/blebox/switch.py
  homeassistant/components/danfoss_air/switch.py
  homeassistant/components/deluge/switch.py
  homeassistant/components/dlink/switch.py
  homeassistant/components/doorbird/switch.py
  homeassistant/components/ecoal_boiler/switch.py
  homeassistant/components/edimax/switch.py
  homeassistant/components/elv/switch.py
  homeassistant/components/enocean/switch.py
  homeassistant/components/eufy/switch.py
  homeassistant/components/fibaro/switch.py
  homeassistant/components/flo/switch.py
  homeassistant/components/flux/switch.py
  homeassistant/components/freedompro/switch.py
Labels: cla-signed, code-quality

#63305 Add switch setup type hints [s-z]
  homeassistant/components/satel_integra/switch.py
  homeassistant/components/screenlogic/switch.py
  homeassistant/components/scsgate/switch.py
  homeassistant/components/smappee/switch.py
  homeassistant/components/smartthings/switch.py
  homeassistant/components/smarttub/switch.py
  homeassistant/components/snmp/switch.py
  homeassistant/components/somfy/switch.py
  homeassistant/components/spider/switch.py
  homeassistant/components/starline/switch.py
  homeassistant/components/switchmate/switch.py
  homeassistant/components/tellduslive/switch.py
  homeassistant/components/tellstick/switch.py
  homeassistant/components/telnet/switch.py
  homeassistant/components/thinkingcleaner/switch.py
  homeassistant/components/transmission/switch.py
  homeassistant/components/volvooncall/switch.py
  homeassistant/components/xbee/switch.py
  homeassistant/components/xiaomi_aqara/switch.py
  homeassistant/components/xs1/switch.py
  homeassistant/components/zoneminder/switch.py
  homeassistant/components/zwave/switch.py
Labels: cla-signed, code-quality

#63322 Skip raw encoding test for cover
  tests/components/mqtt/test_cover.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests

#63284 Fix typo in CPU Speed translation key
  homeassistant/components/cpuspeed/strings.json
  homeassistant/components/cpuspeed/translations/en.json
Labels: cla-signed, small-pr, integration: cpuspeed, by-code-owner, bugfix, smash

#62682 Reject MQTT light discovery using unsupported value_template
  homeassistant/components/mqtt/light/schema_basic.py
  tests/components/mqtt/test_light.py
Labels: core, breaking-change, cla-signed, integration: mqtt, small-pr

#63299 Add setup type hints to number, remote and scene
  homeassistant/components/apple_tv/remote.py
  homeassistant/components/fibaro/scene.py
  homeassistant/components/hunterdouglas_powerview/scene.py
  homeassistant/components/litejet/scene.py
  homeassistant/components/lutron/scene.py
  homeassistant/components/lutron_caseta/scene.py
  homeassistant/components/nexia/scene.py
  homeassistant/components/panasonic_viera/remote.py
  homeassistant/components/philips_js/remote.py
  homeassistant/components/screenlogic/number.py
  homeassistant/components/smartthings/scene.py
  homeassistant/components/upb/scene.py
  homeassistant/components/velux/scene.py
  homeassistant/components/xbox/remote.py
Labels: cla-signed, code-quality

#62681 Cleanup handling of unsupported config keys in MQTT fan
  homeassistant/components/mqtt/fan.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner

#63308 Add sensor setup type hints [w-z]
  homeassistant/components/waterfurnace/sensor.py
  homeassistant/components/wiffi/sensor.py
  homeassistant/components/worldtidesinfo/sensor.py
  homeassistant/components/worxlandroid/sensor.py
  homeassistant/components/xbox/sensor.py
  homeassistant/components/xbox_live/sensor.py
  homeassistant/components/xiaomi_aqara/sensor.py
  homeassistant/components/xs1/sensor.py
  homeassistant/components/yandex_transport/sensor.py
  homeassistant/components/zestimate/sensor.py
  homeassistant/components/zwave/sensor.py
Labels: cla-signed, code-quality

#63310 Add sensor setup type hints [s]
  homeassistant/components/sabnzbd/sensor.py
  homeassistant/components/saj/sensor.py
  homeassistant/components/screenlogic/sensor.py
  homeassistant/components/sense/sensor.py
  homeassistant/components/sensehat/sensor.py
  homeassistant/components/serial/sensor.py
  homeassistant/components/serial_pm/sensor.py
  homeassistant/components/seventeentrack/sensor.py
  homeassistant/components/sht31/sensor.py
  homeassistant/components/simulated/sensor.py
  homeassistant/components/skybeacon/sensor.py
  homeassistant/components/sleepiq/sensor.py
  homeassistant/components/smappee/sensor.py
  homeassistant/components/smart_meter_texas/sensor.py
  homeassistant/components/smartthings/sensor.py
  homeassistant/components/smarty/sensor.py
  homeassistant/components/sms/sensor.py
  homeassistant/components/solaredge_local/sensor.py
  homeassistant/components/solarlog/sensor.py
  homeassistant/components/solax/sensor.py
  homeassistant/components/soma/sensor.py
  homeassistant/components/somfy/sensor.py
  homeassistant/components/srp_energy/sensor.py
  homeassistant/components/starline/sensor.py
  homeassistant/components/starlingbank/sensor.py
  homeassistant/components/startca/sensor.py
  homeassistant/components/streamlabswater/sensor.py
  homeassistant/components/subaru/sensor.py
  homeassistant/components/suez_water/sensor.py
  homeassistant/components/swiss_public_transport/sensor.py
  homeassistant/components/syncthing/sensor.py
Labels: cla-signed, code-quality

#63312 Add sensor setup type hints [r]
  homeassistant/components/radarr/sensor.py
  homeassistant/components/rainbird/sensor.py
  homeassistant/components/random/sensor.py
  homeassistant/components/reddit/sensor.py
  homeassistant/components/rejseplanen/sensor.py
  homeassistant/components/rest/sensor.py
  homeassistant/components/rflink/sensor.py
  homeassistant/components/ring/sensor.py
  homeassistant/components/ripple/sensor.py
  homeassistant/components/risco/sensor.py
  homeassistant/components/roomba/sensor.py
  homeassistant/components/rova/sensor.py
  homeassistant/components/rtorrent/sensor.py
Labels: cla-signed, code-quality

#63314 Add sensor setup type hints [m-n]
  homeassistant/components/melcloud/sensor.py
  homeassistant/components/miflora/sensor.py
  homeassistant/components/mill/sensor.py
  homeassistant/components/min_max/sensor.py
  homeassistant/components/mitemp_bt/sensor.py
  homeassistant/components/mobile_app/sensor.py
  homeassistant/components/mold_indicator/sensor.py
  homeassistant/components/moon/sensor.py
  homeassistant/components/motion_blinds/sensor.py
  homeassistant/components/mqtt_room/sensor.py
  homeassistant/components/neurio_energy/sensor.py
  homeassistant/components/nextbus/sensor.py
  homeassistant/components/nextcloud/sensor.py
  homeassistant/components/noaa_tides/sensor.py
  homeassistant/components/nsw_fuel_station/sensor.py
  homeassistant/components/numato/sensor.py
  homeassistant/components/nut/sensor.py
  homeassistant/components/nws/sensor.py
Labels: core, cla-signed, code-quality

#63313 Add sensor setup type hints [o-q]
  homeassistant/components/oasa_telematics/sensor.py
  homeassistant/components/obihai/sensor.py
  homeassistant/components/ohmconnect/sensor.py
  homeassistant/components/ombi/sensor.py
  homeassistant/components/omnilogic/sensor.py
  homeassistant/components/ondilo_ico/sensor.py
  homeassistant/components/onvif/sensor.py
  homeassistant/components/openerz/sensor.py
  homeassistant/components/openevse/sensor.py
  homeassistant/components/opengarage/sensor.py
  homeassistant/components/openhardwaremonitor/sensor.py
  homeassistant/components/opensky/sensor.py
  homeassistant/components/oru/sensor.py
  homeassistant/components/ozw/sensor.py
  homeassistant/components/pilight/sensor.py
  homeassistant/components/plaato/sensor.py
  homeassistant/components/plugwise/sensor.py
  homeassistant/components/point/sensor.py
  homeassistant/components/poolsense/sensor.py
  homeassistant/components/qbittorrent/sensor.py
  homeassistant/components/qwikswitch/sensor.py
Labels: cla-signed, code-quality

#63315 Add sensor setup type hints [i-l]
  homeassistant/components/iammeter/sensor.py
  homeassistant/components/ihc/sensor.py
  homeassistant/components/imap/sensor.py
  homeassistant/components/incomfort/sensor.py
  homeassistant/components/influxdb/sensor.py
  homeassistant/components/ios/sensor.py
  homeassistant/components/iotawatt/sensor.py
  homeassistant/components/irish_rail_transport/sensor.py
  homeassistant/components/islamic_prayer_times/sensor.py
  homeassistant/components/juicenet/sensor.py
  homeassistant/components/kaiterra/sensor.py
  homeassistant/components/keba/sensor.py
  homeassistant/components/kira/sensor.py
  homeassistant/components/konnected/sensor.py
  homeassistant/components/launch_library/sensor.py
  homeassistant/components/lightwave/sensor.py
Labels: core, cla-signed, code-quality

#63316 Add sensor setup type hints [g-h]
  homeassistant/components/gdacs/sensor.py
  homeassistant/components/geo_rss_events/sensor.py
  homeassistant/components/geonetnz_quakes/sensor.py
  homeassistant/components/geonetnz_volcano/sensor.py
  homeassistant/components/github/sensor.py
  homeassistant/components/gitlab_ci/sensor.py
  homeassistant/components/gitter/sensor.py
  homeassistant/components/glances/sensor.py
  homeassistant/components/google_wifi/sensor.py
  homeassistant/components/growatt_server/sensor.py
  homeassistant/components/habitica/sensor.py
  homeassistant/components/hddtemp/sensor.py
  homeassistant/components/hive/sensor.py
  homeassistant/components/home_connect/sensor.py
  homeassistant/components/homematic/sensor.py
  homeassistant/components/hunterdouglas_powerview/sensor.py
  homeassistant/components/hvv_departures/sensor.py
  homeassistant/components/hydrawise/sensor.py
Labels: cla-signed, code-quality

#63318 Add sensor setup type hints [c-d]
  homeassistant/components/cert_expiry/sensor.py
  homeassistant/components/citybikes/sensor.py
  homeassistant/components/co2signal/sensor.py
  homeassistant/components/comed_hourly_pricing/sensor.py
  homeassistant/components/comfoconnect/sensor.py
  homeassistant/components/compensation/sensor.py
  homeassistant/components/coronavirus/sensor.py
  homeassistant/components/daikin/sensor.py
  homeassistant/components/danfoss_air/sensor.py
  homeassistant/components/delijn/sensor.py
  homeassistant/components/deluge/sensor.py
  homeassistant/components/derivative/sensor.py
  homeassistant/components/deutsche_bahn/sensor.py
  homeassistant/components/discogs/sensor.py
  homeassistant/components/dovado/sensor.py
  homeassistant/components/dsmr_reader/sensor.py
  homeassistant/components/dte_energy_bridge/sensor.py
  homeassistant/components/dublin_bus_transport/sensor.py
  homeassistant/components/dwd_weather_warnings/sensor.py
  homeassistant/components/dweet/sensor.py
Labels: cla-signed, code-quality

#63319 Add sensor setup type hints [a-b]
  homeassistant/components/aemet/sensor.py
  homeassistant/components/airnow/sensor.py
  homeassistant/components/android_ip_webcam/sensor.py
  homeassistant/components/apcupsd/sensor.py
  homeassistant/components/aqualogic/sensor.py
  homeassistant/components/arduino/sensor.py
  homeassistant/components/arlo/sensor.py
  homeassistant/components/atag/sensor.py
  homeassistant/components/atome/sensor.py
  homeassistant/components/aurora/sensor.py
  homeassistant/components/aurora_abb_powerone/sensor.py
  homeassistant/components/awair/sensor.py
  homeassistant/components/beewi_smartclim/sensor.py
  homeassistant/components/bitcoin/sensor.py
  homeassistant/components/bizkaibus/sensor.py
  homeassistant/components/blebox/sensor.py
  homeassistant/components/blink/sensor.py
  homeassistant/components/bloomsky/sensor.py
  homeassistant/components/bme280/sensor.py
  homeassistant/components/bme680/sensor.py
  homeassistant/components/bmp280/sensor.py
  homeassistant/components/brottsplatskartan/sensor.py
Labels: cla-signed, code-quality

#63317 Add sensor setup type hints [e-f]
  homeassistant/components/eafm/sensor.py
  homeassistant/components/ebox/sensor.py
  homeassistant/components/ecoal_boiler/sensor.py
  homeassistant/components/ecobee/sensor.py
  homeassistant/components/econet/sensor.py
  homeassistant/components/emonitor/sensor.py
  homeassistant/components/enocean/sensor.py
  homeassistant/components/enphase_envoy/sensor.py
  homeassistant/components/environment_canada/sensor.py
  homeassistant/components/epsonworkforce/sensor.py
  homeassistant/components/etherscan/sensor.py
  homeassistant/components/fibaro/sensor.py
  homeassistant/components/fido/sensor.py
  homeassistant/components/filter/sensor.py
  homeassistant/components/fixer/sensor.py
  homeassistant/components/flipr/sensor.py
  homeassistant/components/flo/sensor.py
  homeassistant/components/flume/sensor.py
  homeassistant/components/foobot/sensor.py
  homeassistant/components/freedompro/sensor.py
  homeassistant/components/fritzbox_callmonitor/sensor.py
Labels: cla-signed, code-quality

#63309 Add sensor setup type hints [t-v]
  homeassistant/components/tankerkoenig/sensor.py
  homeassistant/components/tellduslive/sensor.py
  homeassistant/components/tellstick/sensor.py
  homeassistant/components/temper/sensor.py
  homeassistant/components/tesla_wall_connector/sensor.py
  homeassistant/components/thermoworks_smoke/sensor.py
  homeassistant/components/thinkingcleaner/sensor.py
  homeassistant/components/time_date/sensor.py
  homeassistant/components/tof/sensor.py
  homeassistant/components/trafikverket_train/sensor.py
  homeassistant/components/transmission/sensor.py
  homeassistant/components/transport_nsw/sensor.py
  homeassistant/components/twitch/sensor.py
  homeassistant/components/uscis/sensor.py
  homeassistant/components/venstar/sensor.py
  homeassistant/components/viaggiatreno/sensor.py
  homeassistant/components/vicare/sensor.py
  homeassistant/components/vilfo/sensor.py
  homeassistant/components/volkszaehler/sensor.py
  homeassistant/components/volvooncall/sensor.py
Labels: cla-signed, code-quality

#62736 Add basic type hints to acmeda
  homeassistant/components/acmeda/cover.py
  homeassistant/components/acmeda/helpers.py
  homeassistant/components/acmeda/sensor.py
Labels: cla-signed, small-pr, integration: acmeda, code-quality

#63303 Add switch setup type hints [g-m]
  homeassistant/components/gree/switch.py
  homeassistant/components/harmony/switch.py
  homeassistant/components/hive/switch.py
  homeassistant/components/hlk_sw16/switch.py
  homeassistant/components/home_connect/switch.py
  homeassistant/components/home_plus_control/switch.py
  homeassistant/components/homematic/switch.py
  homeassistant/components/hydrawise/switch.py
  homeassistant/components/ihc/switch.py
  homeassistant/components/insteon/switch.py
  homeassistant/components/juicenet/switch.py
  homeassistant/components/kankun/switch.py
  homeassistant/components/kmtronic/switch.py
  homeassistant/components/konnected/switch.py
  homeassistant/components/lightwave/switch.py
  homeassistant/components/litejet/switch.py
  homeassistant/components/lupusec/switch.py
  homeassistant/components/lutron/switch.py
  homeassistant/components/lutron_caseta/switch.py
  homeassistant/components/mystrom/switch.py
Labels: cla-signed, code-quality

#63304 Add switch setup type hints [n-r]
  homeassistant/components/numato/switch.py
  homeassistant/components/omnilogic/switch.py
  homeassistant/components/orvibo/switch.py
  homeassistant/components/ozw/switch.py
  homeassistant/components/pcal9535a/switch.py
  homeassistant/components/pencom/switch.py
  homeassistant/components/plugwise/switch.py
  homeassistant/components/progettihwsw/switch.py
  homeassistant/components/qwikswitch/switch.py
  homeassistant/components/rachio/switch.py
  homeassistant/components/rainbird/switch.py
  homeassistant/components/raspyrfm/switch.py
  homeassistant/components/recswitch/switch.py
  homeassistant/components/remote_rpi_gpio/switch.py
  homeassistant/components/rflink/switch.py
  homeassistant/components/ring/switch.py
Labels: cla-signed, code-quality

#63327 Sisyphus: Fix bad super call
  homeassistant/components/sisyphus/media_player.py
Labels: cla-signed, small-pr, integration: sisyphus, bugfix

#63208 Allow mobile app registrations only supporting websocket push
  CODEOWNERS
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/http_api.py
  homeassistant/components/mobile_app/manifest.json
  homeassistant/components/mobile_app/notify.py
  homeassistant/components/mobile_app/util.py
  homeassistant/components/mobile_app/webhook.py
  tests/common.py
  tests/components/mobile_app/test_notify.py
Labels: core, cla-signed, new-feature, integration: mobile_app, smash

#61472 Weather units: climacell (1.3/4)
  homeassistant/components/climacell/weather.py
  tests/components/climacell/test_weather.py
Labels: cla-signed, small-pr, code-quality, integration: climacell

#63337 Add UniFi Protect select platform
  homeassistant/components/unifiprotect/const.py
  homeassistant/components/unifiprotect/data.py
  homeassistant/components/unifiprotect/entity.py
  homeassistant/components/unifiprotect/select.py
  homeassistant/components/unifiprotect/services.yaml
  tests/components/unifiprotect/conftest.py
  tests/components/unifiprotect/sample_data/sample_liveview.json
  tests/components/unifiprotect/sample_data/sample_viewport.json
  tests/components/unifiprotect/test_camera.py
  tests/components/unifiprotect/test_light.py
  tests/components/unifiprotect/test_media_player.py
  tests/components/unifiprotect/test_number.py
  tests/components/unifiprotect/test_select.py
  tests/components/unifiprotect/test_switch.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: unifiprotect

#63358 Address late review of #63238
  homeassistant/components/roku/binary_sensor.py
Labels: cla-signed, small-pr, integration: roku, by-code-owner

#60327 Use built-in Jinja min and max filters in templates
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: core, cla-signed, new-feature

#62629 Add SensorDeviceClass to statistics component, improve structures
  homeassistant/components/statistics/sensor.py
  tests/components/statistics/test_sensor.py
Labels: cla-signed, new-feature, integration: statistics, has-tests, by-code-owner, code-quality

#63365 Remove invalid return values in setup methods [r-z]
  homeassistant/components/russound_rnet/media_player.py
  homeassistant/components/schluter/__init__.py
  homeassistant/components/shodan/sensor.py
  homeassistant/components/sigfox/sensor.py
  homeassistant/components/sony_projector/switch.py
  homeassistant/components/squeezebox/media_player.py
  homeassistant/components/ted5000/sensor.py
  homeassistant/components/travisci/sensor.py
  homeassistant/components/uvc/camera.py
  homeassistant/components/vesync/switch.py
  homeassistant/components/yeelightsunflower/light.py
  homeassistant/components/zamg/sensor.py
  homeassistant/components/zamg/weather.py
  homeassistant/components/zoneminder/binary_sensor.py
Labels: cla-signed, code-quality

#63362 Remove invalid return values in setup methods [a-h]
  homeassistant/components/arest/binary_sensor.py
  homeassistant/components/arest/sensor.py
  homeassistant/components/arwn/sensor.py
  homeassistant/components/bbox/sensor.py
  homeassistant/components/bh1750/sensor.py
  homeassistant/components/blockchain/sensor.py
  homeassistant/components/concord232/binary_sensor.py
  homeassistant/components/currencylayer/sensor.py
  homeassistant/components/decora_wifi/light.py
  homeassistant/components/dht/sensor.py
  homeassistant/components/digital_ocean/binary_sensor.py
  homeassistant/components/digital_ocean/switch.py
  homeassistant/components/eliqonline/sensor.py
  homeassistant/components/emoncms/sensor.py
  homeassistant/components/envirophat/sensor.py
  homeassistant/components/frontier_silicon/media_player.py
  homeassistant/components/geofency/device_tracker.py
  homeassistant/components/gpsd/sensor.py
  homeassistant/components/hikvisioncam/switch.py
  homeassistant/components/history_stats/sensor.py
  homeassistant/components/htu21d/sensor.py
Labels: cla-signed, code-quality

#63363 Remove invalid return values in setup methods [i-p]
  homeassistant/components/imap_email_content/sensor.py
  homeassistant/components/kira/remote.py
  homeassistant/components/kwb/sensor.py
  homeassistant/components/lifx/light.py
  homeassistant/components/lifx_cloud/scene.py
  homeassistant/components/linux_battery/sensor.py
  homeassistant/components/locative/device_tracker.py
  homeassistant/components/lutron/cover.py
  homeassistant/components/mfi/sensor.py
  homeassistant/components/mfi/switch.py
  homeassistant/components/mhz19/sensor.py
  homeassistant/components/mystrom/binary_sensor.py
  homeassistant/components/oem/climate.py
  homeassistant/components/openexchangerates/sensor.py
  homeassistant/components/openhome/media_player.py
  homeassistant/components/otp/sensor.py
  homeassistant/components/owntracks/device_tracker.py
  homeassistant/components/pandora/media_player.py
  homeassistant/components/piglow/light.py
  homeassistant/components/pocketcasts/sensor.py
  homeassistant/components/pushbullet/sensor.py
Labels: cla-signed, code-quality

#63359 Bump rtsp_to_webrtc to 0.4.0
  homeassistant/components/rtsp_to_webrtc/__init__.py
  homeassistant/components/rtsp_to_webrtc/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/rtsp_to_webrtc/test_init.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: rtsp_to_webrtc

#63074 Only rely on device status when adding Tuya entities
  homeassistant/components/tuya/button.py
  homeassistant/components/tuya/cover.py
  homeassistant/components/tuya/light.py
  homeassistant/components/tuya/number.py
  homeassistant/components/tuya/select.py
  homeassistant/components/tuya/sensor.py
  homeassistant/components/tuya/siren.py
  homeassistant/components/tuya/switch.py
Labels: cla-signed, small-pr, integration: tuya, by-code-owner, bugfix, smash

#62543 Remove deprecated yaml config from waze_travel_time
  homeassistant/components/waze_travel_time/config_flow.py
  homeassistant/components/waze_travel_time/sensor.py
  tests/components/waze_travel_time/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, integration: waze_travel_time, has-tests, smash

#62718 Add select entities to ZHA
  homeassistant/components/zha/core/channels/base.py
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/discovery.py
  homeassistant/components/zha/select.py
  homeassistant/components/zha/siren.py
  tests/components/zha/test_device_action.py
  tests/components/zha/test_select.py
  tests/components/zha/test_siren.py
  tests/components/zha/zha_devices_list.py
Labels: cla-signed, integration: zha, new-feature, by-code-owner, smash

#62477 Update no_ip URL
  homeassistant/components/no_ip/__init__.py
Labels: cla-signed, integration: no_ip, small-pr, by-code-owner, bugfix, smash

#61646 Allow password-less login to jellyfin
  homeassistant/components/jellyfin/config_flow.py
Labels: cla-signed, small-pr, bugfix, integration: jellyfin, smash

#61526 Add configuration_url for ONVIF
  homeassistant/components/onvif/base.py
Labels: cla-signed, small-pr, new-feature, integration: onvif, smash

#63349 Add MAC to WLED device
  homeassistant/components/wled/models.py
Labels: cla-signed, small-pr, integration: wled, smash

#62868 Simplify device registry update
  homeassistant/helpers/device_registry.py
Labels: core, cla-signed, small-pr, code-quality

#63373 Make review link exclude PRs with failing tests
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed, small-pr, code-quality

#63311 Fix `ensure_list` typing
  homeassistant/helpers/config_validation.py
Labels: core, cla-signed, small-pr, code-quality, smash

#63348 Bump micloud to 0.5
  homeassistant/components/xiaomi_miio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: xiaomi_miio, dependency, by-code-owner, bugfix, dependency-bump, smash

#63346 Remove some unused TypeVars
  homeassistant/components/energy/sensor.py
  homeassistant/util/__init__.py
Labels: core, cla-signed, small-pr, code-quality, integration: energy, smash

#63011 Add device to Wallbox integration
  homeassistant/components/wallbox/__init__.py
  homeassistant/components/wallbox/const.py
  homeassistant/components/wallbox/number.py
  homeassistant/components/wallbox/sensor.py
  tests/components/wallbox/__init__.py
Labels: cla-signed, new-feature, has-tests, integration: wallbox

#61359 Add support for Pet Feeder (cwwsq) in Tuya
  homeassistant/components/tuya/binary_sensor.py
  homeassistant/components/tuya/const.py
  homeassistant/components/tuya/number.py
  homeassistant/components/tuya/sensor.py
  homeassistant/components/tuya/switch.py
Labels: cla-signed, small-pr, new-feature, integration: tuya, smash

#62417 Add philips.light.hbulb support
  homeassistant/components/xiaomi_miio/const.py
Labels: cla-signed, small-pr, new-feature, integration: xiaomi_miio, by-code-owner, smash

#62472 Remove deprecated yaml config from sma
  homeassistant/components/sma/__init__.py
  homeassistant/components/sma/config_flow.py
  homeassistant/components/sma/const.py
  homeassistant/components/sma/sensor.py
  tests/components/sma/__init__.py
  tests/components/sma/conftest.py
  tests/components/sma/test_config_flow.py
  tests/components/sma/test_sensor.py
Labels: breaking-change, cla-signed, small-pr, integration: sma, has-tests, smash
