Repository home-assistant/core, pull requests merged in 2022-08, with the labels that each got.

#76001 Add missing sensors for Shelly Plus H&T
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/sensor.py
  homeassistant/components/shelly/utils.py
Labels: cla-signed, new-feature, integration: shelly, by-code-owner

#76004 Add strict typing to openexchangerates
  .strict-typing
  homeassistant/components/openexchangerates/sensor.py
  mypy.ini
Labels: cla-signed, small-pr, code-quality, integration: openexchangerates

#75913 Add function/property name to pylint message
  pylint/plugins/hass_enforce_type_hints.py
  tests/pylint/test_enforce_type_hints.py
Labels: core, cla-signed, small-pr, code-quality

#76016 Support MWh for gas consumption sensors
  homeassistant/components/energy/validate.py
Labels: cla-signed, small-pr, bugfix, integration: energy

#76029 Remove aiohttp close from aladdin connect config_flow
  homeassistant/components/aladdin_connect/config_flow.py
Labels: cla-signed, small-pr, integration: aladdin_connect, by-code-owner, bugfix

#75380 Convert fjäråskupan to built in bluetooth
  homeassistant/components/fjaraskupan/__init__.py
  homeassistant/components/fjaraskupan/config_flow.py
  homeassistant/components/fjaraskupan/manifest.json
  homeassistant/generated/bluetooth.py
  tests/components/fjaraskupan/__init__.py
  tests/components/fjaraskupan/conftest.py
  tests/components/fjaraskupan/test_config_flow.py
Labels: cla-signed, by-code-owner, code-quality, integration: fjaraskupan

#75695 Enable air quality sensor for Core300s
  homeassistant/components/vesync/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: vesync

#75674 Add unique id for todoist calendar entity
  homeassistant/components/todoist/calendar.py
  tests/components/todoist/test_calendar.py
Labels: cla-signed, small-pr, new-feature, integration: todoist, by-code-owner

#74508 Fix invalid enocean unique_id
  homeassistant/components/enocean/switch.py
  tests/components/enocean/test_switch.py
Labels: cla-signed, integration: enocean, small-pr, bugfix

#76036 Enhance logging for ZHA device trigger validation
  homeassistant/components/zha/core/gateway.py
  homeassistant/components/zha/core/helpers.py
  homeassistant/components/zha/device_trigger.py
Labels: cla-signed, integration: zha, small-pr, by-code-owner, code-quality

#75984 Guard imports for type hinting in Bluetooth
  homeassistant/components/bluetooth/__init__.py
  homeassistant/components/bluetooth/config_flow.py
  homeassistant/components/bluetooth/match.py
  homeassistant/components/bluetooth/models.py
  homeassistant/components/bluetooth/passive_update_coordinator.py
  homeassistant/components/bluetooth/passive_update_processor.py
Labels: cla-signed, code-quality, integration: bluetooth

#76035 Fix capitalization of Sonos "Status light" entity name
  homeassistant/components/sonos/switch.py
Labels: cla-signed, small-pr, integration: sonos, bugfix

#76015 Implement generic in Deconz base device
  homeassistant/components/deconz/alarm_control_panel.py
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/climate.py
  homeassistant/components/deconz/cover.py
  homeassistant/components/deconz/deconz_device.py
  homeassistant/components/deconz/fan.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/lock.py
  homeassistant/components/deconz/number.py
  homeassistant/components/deconz/sensor.py
  homeassistant/components/deconz/siren.py
  homeassistant/components/deconz/switch.py
Labels: cla-signed, integration: deconz, code-quality

#76030 Replace object with enum for pylint sentinel
  pylint/plugins/hass_enforce_type_hints.py
Labels: cla-signed, small-pr, code-quality

#76028 Add reauth flow to xiaomi_ble, fixes problem adding LYWSD03MMC
  homeassistant/components/xiaomi_ble/config_flow.py
  homeassistant/components/xiaomi_ble/manifest.json
  homeassistant/components/xiaomi_ble/sensor.py
  homeassistant/components/xiaomi_ble/strings.json
  homeassistant/components/xiaomi_ble/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/xiaomi_ble/test_config_flow.py
Labels: cla-signed, has-tests, by-code-owner, bugfix, integration: xiaomi_ble

#74157 Improve UI in pylint plugin
  pylint/plugins/hass_enforce_type_hints.py
  tests/pylint/test_enforce_type_hints.py
Labels: cla-signed, small-pr, code-quality, smash

#75974 Add repair issues for nest app auth removal and yaml deprecation
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/manifest.json
  homeassistant/components/nest/strings.json
  homeassistant/components/nest/translations/en.json
Labels: cla-signed, integration: nest, new-feature, by-code-owner

#76056 Add support for SwitchBot Plug Mini
  CODEOWNERS
  homeassistant/components/switchbot/__init__.py
  homeassistant/components/switchbot/const.py
  homeassistant/components/switchbot/manifest.json
  homeassistant/components/switchbot/sensor.py
  homeassistant/components/switchbot/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, new-feature, integration: switchbot

#76057 Fix govee H5074 data
  homeassistant/components/govee_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, dependency-bump, integration: govee_ble

#76052 Bump bluetooth-adapters to 0.1.3
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, by-code-owner, dependency-bump, integration: bluetooth

#76050 Lower bluetooth startup timeout to 9s to avoid warning
  homeassistant/components/bluetooth/__init__.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: bluetooth

#76037 Support multiple trigger instances for a single webhook
  homeassistant/components/webhook/trigger.py
  tests/components/mobile_app/test_webhook.py
  tests/components/webhook/test_trigger.py
Labels: core, cla-signed, integration: webhook

#76046 Bump AIOAladdinConnect to 0.1.37
  homeassistant/components/aladdin_connect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: aladdin_connect, dependency, by-code-owner, bugfix, dependency-bump

#76011 Update featured integrations image
  README.rst
  docs/screenshot-components.png
  docs/screenshot-integrations.png
Labels: cla-signed, small-pr, bugfix

#76070 Small title adjustment to the Home Assistant Alerts integration
  homeassistant/components/homeassistant_alerts/manifest.json
Labels: cla-signed, small-pr, bugfix, dependency-bump, integration: homeassistant_alerts

#76066 Use attributes in limitlessled light
  homeassistant/components/limitlessled/light.py
Labels: cla-signed, integration: limitlessled, code-quality

#76059 Add support for switchbot motion sensors
  homeassistant/components/switchbot/__init__.py
  homeassistant/components/switchbot/const.py
Labels: cla-signed, small-pr, new-feature, integration: switchbot, by-code-owner

#76071 Use `SourceType.ROUTER` in Tractive integration
  homeassistant/components/tractive/device_tracker.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: tractive

#76073 Remove Somfy from Overkiz title in manifest
  homeassistant/components/overkiz/manifest.json
Labels: cla-signed, small-pr, bugfix, dependency-bump, integration: overkiz

#76076 Fix typo in new xiaomi_ble string
  homeassistant/components/xiaomi_ble/strings.json
  homeassistant/components/xiaomi_ble/translations/en.json
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: xiaomi_ble

#76072 Handle missing attributes in meater objects
  homeassistant/components/meater/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: meater

#76017 Add Open Exchange Rates coordinator
  .coveragerc
  CODEOWNERS
  homeassistant/components/openexchangerates/const.py
  homeassistant/components/openexchangerates/coordinator.py
  homeassistant/components/openexchangerates/manifest.json
  homeassistant/components/openexchangerates/sensor.py
  requirements_all.txt
Labels: breaking-change, cla-signed, new-feature, integration: openexchangerates

#76082 Bump AIOAladdinConnect to 0.1.39
  homeassistant/components/aladdin_connect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: aladdin_connect, dependency, by-code-owner, bugfix, dependency-bump

#75999 Improve type hints in blinksticklight lights
  homeassistant/components/blinksticklight/light.py
Labels: cla-signed, small-pr, integration: blinksticklight, code-quality

#76084 Ensure ZHA devices load before validating device triggers
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/device_trigger.py
Labels: cla-signed, integration: zha, small-pr, by-code-owner, bugfix

#76077 Add optional context parameter to async_start_reauth
  homeassistant/components/xiaomi_ble/sensor.py
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: core, cla-signed, small-pr, by-code-owner, code-quality, integration: xiaomi_ble

#76083 Refresh homeassistant_alerts when hass has started
  homeassistant/components/homeassistant_alerts/__init__.py
Labels: cla-signed, small-pr, bugfix, integration: homeassistant_alerts

#76063 Fix capitalization in mitemp_bt strings
  homeassistant/components/mitemp_bt/strings.json
  homeassistant/components/mitemp_bt/translations/en.json
Labels: cla-signed, small-pr, integration: mitemp_bt, bugfix

#76091 Bump pyatv to 0.10.3
  homeassistant/components/apple_tv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: apple_tv, small-pr, dependency-bump

#76097 Only stat the .dockerenv file once
  homeassistant/util/package.py
Labels: core, cla-signed, small-pr, bugfix

#76095 Fix serialization of Xiaomi BLE reauth flow
  homeassistant/components/xiaomi_ble/config_flow.py
  homeassistant/components/xiaomi_ble/sensor.py
  homeassistant/config_entries.py
  tests/components/xiaomi_ble/test_config_flow.py
  tests/test_config_entries.py
Labels: core, cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: xiaomi_ble

#76099 Fix Xiaomi BLE UI string issues
  homeassistant/components/xiaomi_ble/config_flow.py
  homeassistant/components/xiaomi_ble/strings.json
  homeassistant/components/xiaomi_ble/translations/en.json
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: xiaomi_ble

#76096 Handle additional bluetooth start exceptions
  homeassistant/components/bluetooth/__init__.py
  tests/components/bluetooth/test_init.py
Labels: cla-signed, small-pr, by-code-owner, integration: bluetooth

#76103 Bump pySwitchbot to 0.17.3 to fix hang at startup
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, by-code-owner, dependency-bump

#76102 Bump aiohomekit to 1.2.3 to fix hang at startup
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, dependency-bump

#76114 Fix deconz group log warning
  homeassistant/components/deconz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: deconz, small-pr, by-code-owner, bugfix, dependency-bump

#75998 Improve type hints in vesync lights
  homeassistant/components/vesync/__init__.py
  homeassistant/components/vesync/common.py
  homeassistant/components/vesync/light.py
Labels: cla-signed, small-pr, integration: vesync, code-quality

#75909 Improve type hints in azure devops config flow
  homeassistant/components/azure_devops/config_flow.py
Labels: cla-signed, small-pr, integration: azure_devops, code-quality

#76092 Bump `azure-servicebus` to support py3.10
  homeassistant/components/azure_service_bus/manifest.json
  homeassistant/components/azure_service_bus/notify.py
  requirements_all.txt
Labels: cla-signed, small-pr, by-code-owner, integration: azure_service_bus

#76098 Bump pyTibber to 0.24.0
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: tibber, dependency, dependency-bump

#76136 Bump bleak to 0.15.1
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, by-code-owner, dependency-bump, integration: bluetooth

#76047 Use attributes in decora light
  homeassistant/components/decora/light.py
Labels: cla-signed, small-pr, integration: decora, code-quality

#76051 Move RainMachine utils to the correct location
  homeassistant/components/rainmachine/const.py
  homeassistant/components/rainmachine/sensor.py
  homeassistant/components/rainmachine/switch.py
  homeassistant/components/rainmachine/util.py
Labels: cla-signed, small-pr, integration: rainmachine, by-code-owner, code-quality, smash

#76025 Improve type hints in hive lights
  homeassistant/components/hive/__init__.py
  homeassistant/components/hive/light.py
Labels: cla-signed, integration: hive, small-pr, code-quality

#76155 New binary sensors for Ukraine Alarm
  homeassistant/components/ukraine_alarm/binary_sensor.py
  homeassistant/components/ukraine_alarm/const.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: ukraine_alarm

#76044 Fix zwave_js addon info
  homeassistant/components/hassio/__init__.py
  homeassistant/components/zwave_js/addon.py
  tests/components/hassio/test_init.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_config_flow.py
  tests/components/zwave_js/test_init.py
Labels: core, cla-signed, integration: hassio, small-pr, has-tests, integration: zwave_js

#76120 Add homekit_controller thread node capabilties diagnostic sensor
  homeassistant/components/homekit_controller/const.py
  homeassistant/components/homekit_controller/sensor.py
  homeassistant/components/homekit_controller/strings.sensor.json
  homeassistant/components/homekit_controller/translations/sensor.en.json
  tests/components/homekit_controller/specific_devices/test_nanoleaf_strip_nl55.py
  tests/components/homekit_controller/test_sensor.py
Labels: cla-signed, integration: homekit_controller, new-feature, has-tests, by-code-owner

#76168 Fix prettier on HomeKit Controller
  homeassistant/components/homekit_controller/strings.sensor.json
Labels: cla-signed, small-pr, integration: homekit_controller, bugfix

#75460 Modify RainMachine to store a single dataclass in `hass.data`
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/binary_sensor.py
  homeassistant/components/rainmachine/const.py
  homeassistant/components/rainmachine/diagnostics.py
  homeassistant/components/rainmachine/model.py
  homeassistant/components/rainmachine/sensor.py
  homeassistant/components/rainmachine/switch.py
Labels: cla-signed, integration: rainmachine, by-code-owner, code-quality, smash

#75994 Use attributes in zengge light
  homeassistant/components/zengge/light.py
Labels: cla-signed, small-pr, integration: zengge, code-quality

#76172 Remove attribution from extra state attributes
  homeassistant/components/aemet/sensor.py
  homeassistant/components/agent_dvr/camera.py
  homeassistant/components/airly/sensor.py
  homeassistant/components/airnow/sensor.py
  homeassistant/components/alpha_vantage/sensor.py
  homeassistant/components/aurora/__init__.py
  homeassistant/components/co2signal/sensor.py
  homeassistant/components/worldtidesinfo/sensor.py
  homeassistant/components/wsdot/sensor.py
  homeassistant/components/zamg/sensor.py
Labels: cla-signed, small-pr, code-quality, smash

#76148 Allow climate operation mode fan_only as custom mode in Alexa
  homeassistant/components/alexa/const.py
  tests/components/alexa/test_capabilities.py
  tests/components/alexa/test_smart_home.py
Labels: core, cla-signed, integration: alexa, small-pr, has-tests, bugfix

#75995 Use attributes in yeelightsunflower light
  homeassistant/components/yeelightsunflower/light.py
Labels: cla-signed, small-pr, integration: yeelightsunflower, code-quality

#76122 Fix some homekit_controller pylint warnings and (local only) test failures
  homeassistant/components/homekit_controller/config_flow.py
  homeassistant/components/homekit_controller/light.py
  tests/components/homekit_controller/test_sensor.py
Labels: cla-signed, small-pr, integration: homekit_controller, has-tests, by-code-owner, code-quality

#76209 Add a Thread network status sensor to homekit_controller
  homeassistant/components/homekit_controller/sensor.py
  homeassistant/components/homekit_controller/strings.sensor.json
  homeassistant/components/homekit_controller/translations/sensor.en.json
  tests/components/homekit_controller/specific_devices/test_nanoleaf_strip_nl55.py
  tests/components/homekit_controller/test_sensor.py
Labels: cla-signed, integration: homekit_controller, new-feature, has-tests, by-code-owner

#76207 Bump NextDNS library
  homeassistant/components/nextdns/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nextdns/test_diagnostics.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, dependency-bump, integration: nextdns

#75947 Improve type hints in zha light
  homeassistant/components/zha/light.py
Labels: cla-signed, integration: zha, small-pr, code-quality

#76219 Fix spelling of OpenWrt in luci integration manifest
  homeassistant/components/luci/manifest.json
Labels: cla-signed, small-pr, integration: luci, bugfix, dependency-bump, smash

#76197 Fix nullable ip_address in mikrotik
  homeassistant/components/mikrotik/device_tracker.py
  homeassistant/components/mikrotik/hub.py
Labels: cla-signed, small-pr, integration: mikrotik, by-code-owner, bugfix

#76176 Fix race in bluetooth async_process_advertisements
  homeassistant/components/bluetooth/__init__.py
  tests/components/bluetooth/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: bluetooth

#76217 Bump AIOAladdin Connect to 0.1.41
  homeassistant/components/aladdin_connect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: aladdin_connect, dependency, by-code-owner, bugfix, dependency-bump

#76192 Update sentry-sdk to 1.9.0
  homeassistant/components/sentry/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, integration: sentry, dependency-bump, smash

#76216 added Hanetz Hachama
  homeassistant/components/jewish_calendar/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: jewish_calendar

#76233 Enable strict typing for HomeKit Controller config flow module
  .strict-typing
  homeassistant/components/homekit_controller/manifest.json
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, code-quality

#76161 Remove icon attribute if device class is set
  homeassistant/components/integration/sensor.py
Labels: cla-signed, small-pr, integration: integration, by-code-owner, bugfix

#76232 More explicitly call out special cases with SimpliSafe authorization code
  homeassistant/components/simplisafe/config_flow.py
  homeassistant/components/simplisafe/strings.json
  homeassistant/components/simplisafe/translations/en.json
  tests/components/simplisafe/test_config_flow.py
Labels: cla-signed, small-pr, integration: simplisafe, has-tests, by-code-owner, bugfix

#76173 Fix flux_led ignored entries not being respected
  homeassistant/components/flux_led/config_flow.py
  tests/components/flux_led/test_config_flow.py
Labels: cla-signed, small-pr, integration: flux_led, has-tests, by-code-owner, bugfix

#75885 Refactor volvooncall to (mostly) use DataUpdateCoordinator
  homeassistant/components/volvooncall/__init__.py
  homeassistant/components/volvooncall/binary_sensor.py
  homeassistant/components/volvooncall/device_tracker.py
  homeassistant/components/volvooncall/lock.py
  homeassistant/components/volvooncall/sensor.py
  homeassistant/components/volvooncall/switch.py
Labels: cla-signed, integration: volvooncall, code-quality, deprecation

#76177 Add repair item to remove no-longer-functioning Flu Near You integration
  .coveragerc
  homeassistant/components/flunearyou/__init__.py
  homeassistant/components/flunearyou/manifest.json
  homeassistant/components/flunearyou/repairs.py
  homeassistant/components/flunearyou/strings.json
  homeassistant/components/flunearyou/translations/en.json
Labels: cla-signed, integration: flunearyou, by-code-owner, deprecation

#76188 Fix arm away in Risco
  homeassistant/components/risco/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, dependency-bump, integration: risco

#76191 Add entity category to Wiz number entities
  homeassistant/components/wiz/number.py
Labels: cla-signed, small-pr, bugfix, smash, integration: wiz

#76228 Add device_tracker checks to pylint plugin
  pylint/plugins/hass_enforce_type_hints.py
Labels: cla-signed, small-pr, code-quality

#76175 Remove YAML configuration from Simplepush
  homeassistant/components/simplepush/config_flow.py
  homeassistant/components/simplepush/notify.py
  homeassistant/components/simplepush/strings.json
  homeassistant/components/simplepush/translations/en.json
  tests/components/simplepush/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, integration: simplepush, has-tests, smash

#75227 Add reboot button to RainMachine
  .coveragerc
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/button.py
  homeassistant/components/rainmachine/manifest.json
  homeassistant/components/rainmachine/util.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, new-feature, integration: rainmachine, by-code-owner, smash

#76231 Fix Life360 recovery from server errors
  homeassistant/components/life360/coordinator.py
  homeassistant/components/life360/device_tracker.py
Labels: cla-signed, small-pr, integration: life360, by-code-owner, bugfix

#76153 Remove @decompil3d as maintainer on volvooncall
  CODEOWNERS
  homeassistant/components/volvooncall/manifest.json
Labels: cla-signed, integration: volvooncall, small-pr, by-code-owner, code-quality, dependency-bump, smash

#76171 Update orjson to 3.7.11
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency, smash

#71310 Add ability to specify user(s) when sending DMs using the Twitter integration
  homeassistant/components/twitter/notify.py
Labels: cla-signed, small-pr, new-feature, integration: twitter

#76019 Use attributes in unifiled light
  homeassistant/components/unifiled/light.py
Labels: cla-signed, small-pr, integration: unifiled, code-quality

#76022 Use attributes in tikteck light
  homeassistant/components/tikteck/light.py
Labels: cla-signed, small-pr, integration: tikteck, code-quality

#76245 2022.8.1
  .coveragerc
  .strict-typing
  homeassistant/components/aladdin_connect/manifest.json
  homeassistant/components/alexa/const.py
  homeassistant/components/bluetooth/__init__.py
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/flunearyou/__init__.py
  homeassistant/components/flunearyou/manifest.json
  homeassistant/components/flunearyou/repairs.py
  homeassistant/components/flunearyou/strings.json
  homeassistant/components/flunearyou/translations/en.json
  homeassistant/components/flux_led/config_flow.py
  homeassistant/components/hassio/__init__.py
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/config_flow.py
  homeassistant/components/homekit_controller/light.py
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/homekit_controller/storage.py
  homeassistant/components/integration/sensor.py
  homeassistant/components/life360/coordinator.py
  homeassistant/components/life360/device_tracker.py
  homeassistant/components/luci/manifest.json
  homeassistant/components/mikrotik/device_tracker.py
  homeassistant/components/mikrotik/hub.py
  homeassistant/components/nextdns/manifest.json
  homeassistant/components/risco/manifest.json
  homeassistant/components/rpi_power/binary_sensor.py
  homeassistant/components/simplisafe/config_flow.py
  homeassistant/components/simplisafe/strings.json
  homeassistant/components/simplisafe/translations/en.json
  homeassistant/components/zwave_js/addon.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  mypy.ini
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
  tests/components/alexa/test_capabilities.py
  tests/components/alexa/test_smart_home.py
  tests/components/bluetooth/test_init.py
  tests/components/flux_led/test_config_flow.py
  tests/components/hassio/test_init.py
  tests/components/homekit_controller/test_config_flow.py
  tests/components/homekit_controller/test_sensor.py
  tests/components/nextdns/test_diagnostics.py
  tests/components/simplisafe/test_config_flow.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/test_config_flow.py
  tests/components/zwave_js/test_init.py
Labels: core, cla-signed, merging-to-master

#76254 Run black on twitter to fix CI
  homeassistant/components/twitter/notify.py
Labels: cla-signed, small-pr, integration: twitter

#76257 Update pyupgrade to v2.37.3
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr, dependency, smash

#76211 Support creating persistent repairs issues
  homeassistant/components/repairs/issue_handler.py
  homeassistant/components/repairs/issue_registry.py
  homeassistant/components/repairs/websocket_api.py
  tests/components/repairs/test_init.py
  tests/components/repairs/test_issue_registry.py
  tests/components/repairs/test_websocket_api.py
Labels: core, cla-signed, new-feature, has-tests

#76286 Deprecate the Deutsche Bahn
  homeassistant/components/deutsche_bahn/manifest.json
  homeassistant/components/deutsche_bahn/sensor.py
  homeassistant/components/deutsche_bahn/strings.json
  homeassistant/components/deutsche_bahn/translations/en.json
Labels: cla-signed, integration: deutsche_bahn, deprecation

#76275 Bump ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, dependency-bump

#76287 Bump pydeconz to v102
  homeassistant/components/deconz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: deconz, small-pr, dependency, by-code-owner, bugfix, dependency-bump

#76031 Use attributes in litejet light
  homeassistant/components/litejet/light.py
Labels: cla-signed, integration: litejet, code-quality

#76224 Allow creating fixable repairs issues without flows
  homeassistant/components/demo/__init__.py
  homeassistant/components/demo/repairs.py
  homeassistant/components/demo/strings.json
  homeassistant/components/demo/translations/en.json
  homeassistant/components/repairs/__init__.py
  homeassistant/components/repairs/issue_handler.py
  tests/components/demo/test_init.py
  tests/components/repairs/test_websocket_api.py
Labels: core, cla-signed, integration: demo, integration: repairs

#76293 Remove deprecated `send_if_off` option for MQTT climate
  homeassistant/components/mqtt/climate.py
  tests/components/mqtt/test_climate.py
Labels: core, breaking-change, cla-signed, integration: mqtt, small-pr, has-tests

#76005 Add bluetooth API to allow rediscovery of address
  homeassistant/components/bluetooth/__init__.py
  homeassistant/components/bluetooth/match.py
  homeassistant/components/fjaraskupan/__init__.py
  tests/components/bluetooth/test_init.py
Labels: cla-signed, small-pr, new-feature, has-tests, bugfix, smash, integration: bluetooth

#76305 Fix ZHA light color temp support
  homeassistant/components/zha/core/channels/lighting.py
Labels: cla-signed, integration: zha, small-pr, by-code-owner, bugfix

#75981 Use stored philips_js system data on start
  homeassistant/components/philips_js/__init__.py
Labels: cla-signed, small-pr, integration: philips_js, by-code-owner, bugfix

#76250 Revert "Disable Spotify Media Player entity by default (#69372)"
  homeassistant/components/spotify/media_player.py
Labels: cla-signed, small-pr, new-feature, integration: spotify, by-code-owner

#76323 Some minor deCONZ clean up
  homeassistant/components/deconz/alarm_control_panel.py
  homeassistant/components/deconz/binary_sensor.py
  homeassistant/components/deconz/diagnostics.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/deconz/manifest.json
  homeassistant/components/deconz/number.py
  homeassistant/components/deconz/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/deconz/conftest.py
  tests/components/deconz/test_diagnostics.py
  tests/components/deconz/test_gateway.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, dependency, by-code-owner, code-quality

#76330 Bump aiobafi6 to 0.7.2 to unblock #76328
  homeassistant/components/baf/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: baf

#76339 Bump yalexs to 1.2.1
  homeassistant/components/august/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: august, small-pr, dependency, by-code-owner, dependency-bump

#76322 Bump pySwitchbot to 0.18.4
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, by-code-owner, dependency-bump

#76333 Move HKC entity classes into entity.py
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/alarm_control_panel.py
  homeassistant/components/homekit_controller/binary_sensor.py
  homeassistant/components/homekit_controller/button.py
  homeassistant/components/homekit_controller/camera.py
  homeassistant/components/homekit_controller/climate.py
  homeassistant/components/homekit_controller/cover.py
  homeassistant/components/homekit_controller/entity.py
  homeassistant/components/homekit_controller/fan.py
  homeassistant/components/homekit_controller/humidifier.py
  homeassistant/components/homekit_controller/light.py
  homeassistant/components/homekit_controller/lock.py
  homeassistant/components/homekit_controller/media_player.py
  homeassistant/components/homekit_controller/number.py
  homeassistant/components/homekit_controller/select.py
  homeassistant/components/homekit_controller/sensor.py
  homeassistant/components/homekit_controller/switch.py
Labels: cla-signed, integration: homekit_controller, by-code-owner

#75812 Update gree to use the network component to set discovery interfaces
  homeassistant/components/gree/__init__.py
  homeassistant/components/gree/config_flow.py
  homeassistant/components/gree/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/gree/common.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: gree

#75122 Improve mysensors config flow
  homeassistant/components/mysensors/config_flow.py
  homeassistant/components/mysensors/const.py
  homeassistant/components/mysensors/strings.json
  homeassistant/components/mysensors/translations/en.json
  tests/components/mysensors/test_config_flow.py
Labels: cla-signed, integration: mysensors, has-tests, by-code-owner, code-quality, smash

#76356 Bump aioopenexchangerates to 0.4.0
  homeassistant/components/openexchangerates/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, by-code-owner, dependency-bump, integration: openexchangerates

#76367 Update aiolifx to version 0.8.2
  homeassistant/components/lifx/__init__.py
  homeassistant/components/lifx/config_flow.py
  homeassistant/components/lifx/coordinator.py
  homeassistant/components/lifx/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, Testing required, integration: lifx, dependency, by-code-owner

#75568 Add identify and restart button entities to the LIFX integration
  homeassistant/components/lifx/__init__.py
  homeassistant/components/lifx/button.py
  homeassistant/components/lifx/const.py
  homeassistant/components/lifx/coordinator.py
  homeassistant/components/lifx/entity.py
  homeassistant/components/lifx/light.py
  tests/components/lifx/__init__.py
  tests/components/lifx/test_button.py
Labels: cla-signed, new-feature, integration: lifx, by-code-owner

#62873 Add switch to wilight
  homeassistant/components/wilight/__init__.py
  homeassistant/components/wilight/config_flow.py
  homeassistant/components/wilight/fan.py
  homeassistant/components/wilight/light.py
  homeassistant/components/wilight/manifest.json
  homeassistant/components/wilight/parent_device.py
  homeassistant/components/wilight/services.yaml
  homeassistant/components/wilight/support.py
  homeassistant/components/wilight/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/wilight/__init__.py
  tests/components/wilight/test_switch.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, integration: wilight

#76264 Fix default sensor names in NextDNS integration
  homeassistant/components/nextdns/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: nextdns

#76371 Postpone broadlink platform switch until config entry is ready
  homeassistant/components/broadlink/switch.py
Labels: cla-signed, small-pr, integration: broadlink, bugfix

#76249 Ensure bluetooth recovers if Dbus gets restarted
  homeassistant/components/bluetooth/__init__.py
  tests/components/bluetooth/test_init.py
Labels: cla-signed, has-tests, by-code-owner, bugfix, integration: bluetooth

#76385 Add zwave_js usb port selection
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zwave_js/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, integration: zwave_js

#76376 Fix opentherm_gw startup failure handling
  homeassistant/components/opentherm_gw/__init__.py
Labels: cla-signed, small-pr, integration: opentherm_gw, by-code-owner, bugfix

#76328 Bump zeroconf to 0.39.0
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, dependency, by-code-owner, dependency-bump

#76365 Add ecobee Smart Premium thermostat
  homeassistant/components/ecobee/const.py
Labels: cla-signed, integration: ecobee, small-pr, new-feature

#76398 2022.8.2
  homeassistant/components/baf/manifest.json
  homeassistant/components/bluetooth/__init__.py
  homeassistant/components/broadlink/switch.py
  homeassistant/components/deconz/manifest.json
  homeassistant/components/gree/__init__.py
  homeassistant/components/gree/config_flow.py
  homeassistant/components/gree/manifest.json
  homeassistant/components/nextdns/sensor.py
  homeassistant/components/philips_js/__init__.py
  homeassistant/components/switchbot/manifest.json
  homeassistant/components/zha/core/channels/lighting.py
  homeassistant/components/zha/manifest.json
  homeassistant/const.py
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bluetooth/test_init.py
  tests/components/gree/common.py
Labels: core, cla-signed, merging-to-master, has-tests

#76393 Bump plexapi to 4.12.1
  homeassistant/components/plex/manifest.json
  homeassistant/components/plex/server.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: plex, dependency, by-code-owner

#76391 Remove Z-Wave JS trigger uart USB id
  homeassistant/components/zwave_js/manifest.json
  homeassistant/generated/usb.py
Labels: cla-signed, small-pr, bugfix, integration: zwave_js

#76389 Enable the LIFX diagnostic buttons by default
  homeassistant/components/lifx/button.py
  tests/components/lifx/test_button.py
Labels: cla-signed, small-pr, new-feature, integration: lifx, has-tests, by-code-owner

#76404 Update aioairzone to v0.4.8
  homeassistant/components/airzone/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: airzone

#76409 Add more controller-related RainMachine diagnostics
  homeassistant/components/rainmachine/diagnostics.py
  tests/components/rainmachine/conftest.py
  tests/components/rainmachine/fixtures/api_versions_data.json
  tests/components/rainmachine/fixtures/diagnostics_current_data.json
  tests/components/rainmachine/test_diagnostics.py
Labels: cla-signed, integration: rainmachine, has-tests, by-code-owner, code-quality

#76412 Fix bug where RainMachine entity states don't populate on startup
  homeassistant/components/rainmachine/__init__.py
Labels: cla-signed, small-pr, integration: rainmachine, by-code-owner, bugfix

#76373 Silence Yeelight Discovery Log Errors
  homeassistant/components/yeelight/config_flow.py
Labels: cla-signed, small-pr, integration: yeelight, by-code-owner, bugfix

#76416 Switch a few recent merges to use FlowResultType
  tests/components/homekit_controller/test_config_flow.py
  tests/components/lacrosse_view/test_config_flow.py
  tests/components/lifx/test_config_flow.py
  tests/components/simplisafe/test_config_flow.py
Labels: cla-signed, small-pr, integration: homekit_controller, integration: simplisafe, integration: lifx, has-tests, by-code-owner, code-quality, integration: lacrosse_view

#76414 Fix Govee 5185 Meat Thermometers with older firmware not being discovered
  homeassistant/components/govee_ble/manifest.json
  homeassistant/generated/bluetooth.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: govee_ble

#76405 Automatically enable common RainMachine restriction entities
  homeassistant/components/rainmachine/binary_sensor.py
Labels: cla-signed, small-pr, integration: rainmachine, by-code-owner, bugfix

#76417 Fix bug potential in RainMachine switches by simplifying architecture
  homeassistant/components/rainmachine/switch.py
Labels: cla-signed, integration: rainmachine, by-code-owner, bugfix

#76395 Add debug logging for unknown Notion errors
  homeassistant/components/notion/__init__.py
Labels: cla-signed, small-pr, integration: notion, by-code-owner, bugfix

#76100 Add update entity to RainMachine
  .coveragerc
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/const.py
  homeassistant/components/rainmachine/diagnostics.py
  homeassistant/components/rainmachine/update.py
  tests/components/rainmachine/conftest.py
  tests/components/rainmachine/fixtures/machine_firmware_update_status_data.json
  tests/components/rainmachine/test_diagnostics.py
Labels: cla-signed, new-feature, integration: rainmachine, by-code-owner

#76390 Add openexchangerates config flow
  .coveragerc
  CODEOWNERS
  homeassistant/components/openexchangerates/__init__.py
  homeassistant/components/openexchangerates/config_flow.py
  homeassistant/components/openexchangerates/const.py
  homeassistant/components/openexchangerates/coordinator.py
  homeassistant/components/openexchangerates/manifest.json
  homeassistant/components/openexchangerates/sensor.py
  homeassistant/components/openexchangerates/strings.json
  homeassistant/components/openexchangerates/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_test_all.txt
  tests/components/openexchangerates/__init__.py
  tests/components/openexchangerates/conftest.py
  tests/components/openexchangerates/test_config_flow.py
Labels: breaking-change, cla-signed, new-feature, has-tests, by-code-owner, integration: openexchangerates, config-flow, deprecation

#76426 Fix Shelly H&T sensors rounding
  homeassistant/components/shelly/sensor.py
Labels: cla-signed, small-pr, integration: shelly, by-code-owner, bugfix, smash

#56039 Add Escea fireplace integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/escea/__init__.py
  homeassistant/components/escea/climate.py
  homeassistant/components/escea/config_flow.py
  homeassistant/components/escea/const.py
  homeassistant/components/escea/discovery.py
  homeassistant/components/escea/manifest.json
  homeassistant/components/escea/strings.json
  homeassistant/components/escea/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/zeroconf.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/escea/__init__.py
  tests/components/escea/test_config_flow.py
Labels: cla-signed, new-integration, integration: escea

#75094 Add tests for the HDMI-CEC integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/hdmi_cec/__init__.py
  homeassistant/components/hdmi_cec/manifest.json
  requirements_test_all.txt
  tests/components/hdmi_cec/__init__.py
  tests/components/hdmi_cec/conftest.py
  tests/components/hdmi_cec/test_init.py
  tests/components/hdmi_cec/test_media_player.py
  tests/components/hdmi_cec/test_switch.py
Labels: cla-signed, integration: hdmi_cec, small-pr, has-tests, code-quality

#76449 Improve type hints in zwave_js select entity
  homeassistant/components/zwave_js/select.py
Labels: cla-signed, small-pr, code-quality, integration: zwave_js

#76446 Improve select type hints
  homeassistant/components/advantage_air/select.py
  homeassistant/components/xiaomi_miio/select.py
  homeassistant/components/yamaha_musiccast/select.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, integration: yamaha_musiccast, code-quality, integration: advantage_air

#76300 Bump NextDNS backend library
  homeassistant/components/nextdns/diagnostics.py
  homeassistant/components/nextdns/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nextdns/__init__.py
  tests/components/nextdns/fixtures/settings.json
  tests/components/nextdns/test_diagnostics.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, smash, integration: nextdns

#75801 Defer preload stream start on startup
  homeassistant/components/camera/__init__.py
  tests/components/camera/test_init.py
Labels: core, integration: camera, cla-signed, small-pr, has-tests, bugfix

#76465 Bump version of pyunifiprotect to 4.0.12
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: unifiprotect

#76444 Update sentry-sdk to 1.9.2
  homeassistant/components/sentry/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, integration: sentry, dependency-bump, smash

#76441 Update apprise to 1.0.0
  homeassistant/components/apprise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: apprise, dependency, dependency-bump, smash

#73244 Add UniFi Protect media source
  homeassistant/components/unifiprotect/config_flow.py
  homeassistant/components/unifiprotect/const.py
  homeassistant/components/unifiprotect/data.py
  homeassistant/components/unifiprotect/media_source.py
  homeassistant/components/unifiprotect/strings.json
  homeassistant/components/unifiprotect/translations/en.json
  homeassistant/components/unifiprotect/views.py
  tests/components/unifiprotect/test_config_flow.py
  tests/components/unifiprotect/test_media_source.py
  tests/components/unifiprotect/test_views.py
Labels: cla-signed, new-feature, by-code-owner, integration: unifiprotect, noteworthy

#76366 Add ecobee CO2, VOC, and AQI sensors
  homeassistant/components/ecobee/sensor.py
Labels: cla-signed, integration: ecobee, new-feature

#76483 Bump `regenmaschine` to 2022.08.0
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: rainmachine, dependency, by-code-owner
