Repository home-assistant/core, pull requests merged in 2022-10, with the labels that each got.

#79378 Fix _attr_name issue in Yale Smart Alarm
  homeassistant/components/yale_smart_alarm/alarm_control_panel.py
  homeassistant/components/yale_smart_alarm/lock.py
Labels: cla-signed, small-pr, integration: yale_smart_alarm, by-code-owner, bugfix

#79406 Fix unifiprotect test failing CI
  tests/components/unifiprotect/test_media_source.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, bugfix, integration: unifiprotect

#79402 Do not use AQI device class for CAQI sensor in Airly integration
  homeassistant/components/airly/sensor.py
  tests/components/airly/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: airly, by-code-owner, bugfix

#79386 Improve robustness of linking homekit yaml to config entries
  homeassistant/components/homekit/__init__.py
  tests/components/homekit/test_homekit.py
Labels: cla-signed, integration: homekit, has-tests, by-code-owner, bugfix

#79399 Bump aioswitcher to 3.0.2
  homeassistant/components/switcher_kis/manifest.json
  homeassistant/components/switcher_kis/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/switcher_kis/conftest.py
  tests/components/switcher_kis/test_services.py
  tests/components/switcher_kis/test_switch.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: switcher_kis, has-tests, dependency, by-code-owner

#79393 Bump aiolifx to 0.8.6
  homeassistant/components/lifx/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: lifx, dependency, by-code-owner, dependency-bump

#79352 Log config_flow errors for waze_travel_time
  homeassistant/components/waze_travel_time/helpers.py
  tests/components/waze_travel_time/test_config_flow.py
Labels: cla-signed, small-pr, new-feature, integration: waze_travel_time, has-tests, by-code-owner

#79417 Ignore an '' value_template result for MQTT sensor
  homeassistant/components/mqtt/sensor.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, small-pr, bugfix

#78596 Add Switcher Breeze support
  homeassistant/components/switcher_kis/__init__.py
  homeassistant/components/switcher_kis/climate.py
  tests/components/switcher_kis/conftest.py
  tests/components/switcher_kis/consts.py
  tests/components/switcher_kis/test_climate.py
Labels: new-platform, cla-signed, new-feature, integration: switcher_kis, has-tests, by-code-owner

#79394 Fix onvif snapshot fallback
  homeassistant/components/onvif/camera.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: onvif, bugfix

#79416 Fix low speed cover in Overkiz integration
  homeassistant/components/overkiz/cover_entities/vertical_cover.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: overkiz

#79419 Bump aioswitcher to 3.0.3
  homeassistant/components/switcher_kis/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: switcher_kis, dependency, by-code-owner, dependency-bump

#79370 Remove state_unit_of_measurement from metadata DB table
  homeassistant/components/demo/__init__.py
  homeassistant/components/recorder/db_schema.py
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/models.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/recorder/websocket_api.py
  homeassistant/components/sensor/recorder.py
  homeassistant/components/tibber/sensor.py
  tests/components/demo/test_init.py
  tests/components/energy/test_websocket_api.py
  tests/components/recorder/db_schema_29.py
  tests/components/recorder/test_migrate.py
  tests/components/recorder/test_statistics.py
  tests/components/recorder/test_websocket_api.py
  tests/components/sensor/test_recorder.py
Labels: core, integration: recorder, cla-signed, integration: demo, small-pr, integration: sensor, integration: tibber, has-tests, integration: energy

#79426 vicare: Add additional temperature sensors
  homeassistant/components/vicare/sensor.py
Labels: Hacktoberfest, cla-signed, integration: vicare, by-code-owner

#79425 vicare: Don't create unsupportedd button entites
  homeassistant/components/vicare/__init__.py
  homeassistant/components/vicare/button.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: vicare, by-code-owner

#66996 Update sensors for Subaru integration
  homeassistant/components/subaru/config_flow.py
  homeassistant/components/subaru/const.py
  homeassistant/components/subaru/entity.py
  homeassistant/components/subaru/manifest.json
  homeassistant/components/subaru/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/subaru/api_responses.py
  tests/components/subaru/conftest.py
  tests/components/subaru/test_sensor.py
Labels: cla-signed, has-tests, by-code-owner, code-quality, integration: subaru

#79423 Bump aiowebostv to 0.2.1
  homeassistant/components/webostv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: webostv, dependency, by-code-owner, bugfix, dependency-bump

#79408 Sort motioneye media items in media browser
  homeassistant/components/motioneye/media_source.py
  tests/components/motioneye/test_media_source.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: motioneye, has-tests, bugfix

#79428 Fix mqtt reconnect fail when token expired
  homeassistant/components/yolink/__init__.py
  homeassistant/components/yolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: yolink

#79274 Powerview bump aiopvapi to 2.0.2
  homeassistant/components/hunterdouglas_powerview/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: hunterdouglas_powerview, by-code-owner, bugfix, dependency-bump

#79339 Enable delete device support for iBeacon
  homeassistant/components/ibeacon/__init__.py
  homeassistant/components/ibeacon/coordinator.py
  tests/components/ibeacon/test_init.py
Labels: cla-signed, small-pr, by-code-owner, integration: ibeacon

#78889 Address Google Sheets PR feedback
  homeassistant/components/google_sheets/__init__.py
  homeassistant/components/google_sheets/config_flow.py
  homeassistant/components/google_sheets/strings.json
  tests/components/google_sheets/test_config_flow.py
  tests/components/google_sheets/test_init.py
Labels: cla-signed, has-tests, integration: google_sheets

#79389 Ensure bluetooth disconnect callback fires if esphome config entry is reloaded
  homeassistant/components/esphome/bluetooth/client.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, bugfix

#79435 Fix checking of upgrade API availability during setup of Synology DSM integration
  homeassistant/components/synology_dsm/common.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, integration: synology_dsm, bugfix

#79440 Bump dbus-fast to 1.18.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, by-code-owner, dependency-bump, integration: bluetooth

#79443 Bump ibeacon-ble to 0.7.3
  homeassistant/components/ibeacon/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: ibeacon

#79437 Fix Netatmo scope issue with HA cloud
  homeassistant/components/netatmo/__init__.py
  homeassistant/components/netatmo/config_flow.py
  tests/components/netatmo/test_camera.py
  tests/components/netatmo/test_climate.py
  tests/components/netatmo/test_cover.py
  tests/components/netatmo/test_init.py
  tests/components/netatmo/test_light.py
  tests/components/netatmo/test_select.py
  tests/components/netatmo/test_sensor.py
  tests/components/netatmo/test_switch.py
Labels: Hacktoberfest, integration: netatmo, cla-signed, small-pr, by-code-owner

#79442 Bump bluetooth-adapters to 0.5.3
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth

#79445 Update nest climate to avoid duplicate set mode commands
  homeassistant/components/nest/climate_sdm.py
  tests/components/nest/test_climate_sdm.py
Labels: Hacktoberfest, cla-signed, integration: nest, small-pr, has-tests, by-code-owner, bugfix

#74454 Add reauthenticaion to `mikrotik`
  homeassistant/components/mikrotik/__init__.py
  homeassistant/components/mikrotik/config_flow.py
  homeassistant/components/mikrotik/hub.py
  homeassistant/components/mikrotik/strings.json
  homeassistant/components/mikrotik/translations/en.json
  tests/components/mikrotik/test_config_flow.py
Labels: cla-signed, new-feature, integration: mikrotik, has-tests, by-code-owner

#75787 Improve vallox tests and code quality
  homeassistant/components/vallox/binary_sensor.py
  homeassistant/components/vallox/fan.py
  tests/components/vallox/test_binary_sensor.py
Labels: cla-signed, small-pr, has-tests, integration: vallox, smash

#79444 Refactor LIFX multizone devices to use extended messages
  homeassistant/components/lifx/coordinator.py
  homeassistant/components/lifx/light.py
  tests/components/lifx/__init__.py
  tests/components/lifx/test_light.py
Labels: Hacktoberfest, cla-signed, integration: lifx, has-tests, by-code-owner, code-quality

#76354 Fix nina warning state
  homeassistant/components/nina/__init__.py
  homeassistant/components/nina/binary_sensor.py
  tests/components/nina/fixtures/sample_warning_details.json
  tests/components/nina/fixtures/sample_warnings.json
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, smash, integration: nina

#79315 Use explicit return value in azure_event_hub
  homeassistant/components/azure_event_hub/client.py
Labels: cla-signed, small-pr, integration: azure_event_hub, code-quality, smash

#79449 Bump pyoctoprintapi to version 1.9
  homeassistant/components/octoprint/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: octoprint, small-pr, dependency, by-code-owner, dependency-bump

#79450 Remove dead code code in calendar
  homeassistant/components/calendar/__init__.py
Labels: Hacktoberfest, core, cla-signed, integration: calendar, small-pr, code-quality

#77213 Support reauth for octoprint
  homeassistant/components/octoprint/__init__.py
  homeassistant/components/octoprint/config_flow.py
  homeassistant/components/octoprint/strings.json
  homeassistant/components/octoprint/translations/en.json
  tests/components/octoprint/test_config_flow.py
Labels: cla-signed, integration: octoprint, new-feature, by-code-owner

#79472 Remove unnecessary config entity from ZHA
  homeassistant/components/zha/core/channels/manufacturerspecific.py
  homeassistant/components/zha/number.py
Labels: Hacktoberfest, cla-signed, integration: zha, small-pr, by-code-owner

#79467 Address late review of nina
  homeassistant/components/nina/__init__.py
  homeassistant/components/nina/binary_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: nina

#79465 Bump dbus-fast to 1.20.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth

#79456 Skip parsing Flume sensors without location
  homeassistant/components/flume/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: flume, bugfix

#79475 Fix empty default ZHA configuration
  homeassistant/components/zha/api.py
  homeassistant/components/zha/core/const.py
Labels: Hacktoberfest, cla-signed, integration: zha, small-pr, bugfix

#79462 Add EVOLVEO Heat M30v2 TRV
  homeassistant/components/zha/climate.py
Labels: Hacktoberfest, cla-signed, integration: zha, small-pr, bugfix

#79487 Fix missing string message in UniFi
  homeassistant/components/unifi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: unifi, by-code-owner, code-quality, dependency-bump

#79491 Update frontend to 20221002.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, dependency-bump

#79405 Add reauth flow to BraviaTV integration
  homeassistant/components/braviatv/config_flow.py
  homeassistant/components/braviatv/coordinator.py
  homeassistant/components/braviatv/strings.json
  tests/components/braviatv/test_config_flow.py
Labels: Hacktoberfest, cla-signed, new-feature, integration: braviatv, has-tests, by-code-owner

#79504 Improve zwave_js service error
  homeassistant/components/zwave_js/services.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: zwave_js

#79509 Remove deprecated update binary sensor from Synology DSM
  homeassistant/components/synology_dsm/binary_sensor.py
Labels: Hacktoberfest, breaking-change, cla-signed, small-pr, by-code-owner, integration: synology_dsm

#79514 Bump bluetooth dependencies
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth

#79474 Fix LaCrosse View not updating
  homeassistant/components/lacrosse_view/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: lacrosse_view

#79508 Set Synology DSM update entity to unavailable in case no data from api gathered
  homeassistant/components/synology_dsm/update.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, integration: synology_dsm, bugfix

#79229 Fix overkiz entity name
  homeassistant/components/overkiz/entity.py
Labels: cla-signed, small-pr, bugfix, integration: overkiz

#79516 Update Nest string
  homeassistant/components/nest/strings.json
Labels: Hacktoberfest, cla-signed, integration: nest, small-pr

#77499 Add optional default value to average template function/filter
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: core, cla-signed, small-pr, new-feature

#79521 Align temperature conversion with other converters
  homeassistant/components/alexa/handlers.py
  homeassistant/util/temperature.py
  homeassistant/util/unit_conversion.py
  tests/util/test_unit_conversion.py
Labels: Hacktoberfest, core, cla-signed, integration: alexa, code-quality

#79485 Address late comment to deCONZ climate
  homeassistant/components/deconz/climate.py
Labels: Hacktoberfest, cla-signed, integration: deconz, small-pr, by-code-owner, code-quality

#79458 Address late review of ViCare
  homeassistant/components/vicare/button.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: vicare, by-code-owner

#79523 Add comment in recorder about dropping column
  homeassistant/components/recorder/migration.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr, code-quality

#79471 Bumb velbusaio to 2022.10.1
  homeassistant/components/velbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: velbus, small-pr, by-code-owner, dependency-bump

#79537 Bump velbusaio to 2022.10.2
  homeassistant/components/velbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: velbus, small-pr, dependency, by-code-owner, bugfix, dependency-bump

#75044 Improve device_automation trigger validation
  homeassistant/components/device_automation/action.py
  homeassistant/components/device_automation/condition.py
  homeassistant/components/device_automation/trigger.py
  homeassistant/components/rfxtrx/device_action.py
  tests/components/device_automation/test_init.py
  tests/components/webostv/test_device_trigger.py
Labels: cla-signed, small-pr, integration: device_automation, bugfix, smash

#74472 Rework devolo Home Network tests
  tests/components/devolo_home_network/__init__.py
  tests/components/devolo_home_network/conftest.py
  tests/components/devolo_home_network/mock.py
  tests/components/devolo_home_network/test_binary_sensor.py
  tests/components/devolo_home_network/test_config_flow.py
  tests/components/devolo_home_network/test_device_tracker.py
  tests/components/devolo_home_network/test_init.py
  tests/components/devolo_home_network/test_sensor.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: devolo_home_network, smash

#75656 Allow setting set_percentage and set_preset_mode of template fan without turning on
  homeassistant/components/template/fan.py
  tests/components/template/test_fan.py
Labels: breaking-change, cla-signed, integration: template, has-tests, smash

#79520 Reduce coverage gaps for zwave_js
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/diagnostics.py
  homeassistant/components/zwave_js/helpers.py
  tests/components/zwave_js/common.py
  tests/components/zwave_js/test_addon.py
  tests/components/zwave_js/test_binary_sensor.py
  tests/components/zwave_js/test_climate.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: zwave_js

#78385 Add climate platform to switchbee integration
  .coveragerc
  homeassistant/components/switchbee/__init__.py
  homeassistant/components/switchbee/climate.py
  homeassistant/components/switchbee/entity.py
Labels: new-platform, cla-signed, small-pr, by-code-owner, integration: switchbee

#79320 Don't normalize units of long term statistics
  homeassistant/components/recorder/statistics.py
  homeassistant/components/sensor/recorder.py
  tests/components/recorder/test_websocket_api.py
  tests/components/sensor/test_recorder.py
Labels: core, integration: recorder, cla-signed, integration: sensor, has-tests

#79551 Update frontend to 20221003.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, dependency-bump

#79353 Use device_class duration for NUT sensors
  homeassistant/components/nut/const.py
Labels: cla-signed, small-pr, new-feature, integration: nut

#79560 Update mypy to 0.982
  requirements_test.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, dependency-bump, smash

#79497 Add clickatell to strict typing
  .strict-typing
  homeassistant/components/clickatell/notify.py
  mypy.ini
Labels: Hacktoberfest, cla-signed, small-pr, integration: clickatell, code-quality

#79562 Netatmo bump pyatmo to 7.1.0
  homeassistant/components/netatmo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, integration: netatmo, cla-signed, small-pr, by-code-owner, dependency-bump, smash

#79565 Bump ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: zha, small-pr, dependency, by-code-owner, dependency-bump

#72574 Add option to set a stun server for RTSPtoWebRTC
  homeassistant/components/rtsp_to_webrtc/__init__.py
  homeassistant/components/rtsp_to_webrtc/config_flow.py
  homeassistant/components/rtsp_to_webrtc/strings.json
  homeassistant/components/rtsp_to_webrtc/translations/en.json
  tests/components/rtsp_to_webrtc/conftest.py
  tests/components/rtsp_to_webrtc/test_config_flow.py
  tests/components/rtsp_to_webrtc/test_init.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: rtsp_to_webrtc, awaiting-frontend

#79556 Fix preserving long term statistics when entity_id is changed
  homeassistant/components/recorder/statistics.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr

#79561 Remove repairs issue per PR review request
  homeassistant/components/litterrobot/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: litterrobot

#79557 Simplify long term statistics by always supporting unit conversion
  homeassistant/components/sensor/recorder.py
  tests/components/sensor/test_recorder.py
Labels: Hacktoberfest, core, cla-signed, integration: sensor, has-tests

#79570 Bump dbus-fast to 1.23.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth

#79278 Add new Islamic prayer times calculation method
  homeassistant/components/islamic_prayer_times/const.py
Labels: cla-signed, small-pr, new-feature, integration: islamic_prayer_times

#79584 Fix typo in .strict-typing
  .strict-typing
Labels: Hacktoberfest, cla-signed, small-pr, code-quality

#79586 Use constant in fitbit messages
  homeassistant/components/fitbit/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: fitbit, code-quality

#79587 Add unique ID to fitbit
  homeassistant/components/fitbit/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: fitbit, code-quality

#79592 Fix Thermostat not showing up in SwitchBee integration
  homeassistant/components/switchbee/coordinator.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, integration: switchbee

#79582 Add docstring to US volume constants
  homeassistant/const.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#79579 Collect all brands
  homeassistant/brands/amazon.json
  homeassistant/brands/apple.json
  homeassistant/brands/aruba.json
  homeassistant/brands/asterisk.json
  homeassistant/brands/august.json
  homeassistant/brands/cisco.json
  homeassistant/brands/clicksend.json
  homeassistant/brands/devolo.json
  homeassistant/brands/dlna.json
  homeassistant/brands/elgato.json
  homeassistant/brands/emoncms.json
  homeassistant/brands/epson.json
  homeassistant/brands/eq3.json
  homeassistant/brands/ffmpeg.json
  homeassistant/brands/geonet.json
  homeassistant/brands/globalcache.json
  homeassistant/brands/hikvision.json
  homeassistant/brands/homematic.json
  homeassistant/brands/honeywell.json
  homeassistant/brands/ibm.json
  homeassistant/brands/lg.json
  homeassistant/brands/logitech.json
  homeassistant/brands/lutron.json
  homeassistant/brands/melnor.json
  homeassistant/brands/microsoft.json
  homeassistant/brands/mqtt.json
  homeassistant/brands/netgear.json
  homeassistant/brands/openwrt.json
  homeassistant/brands/panasonic.json
  homeassistant/brands/philips.json
  homeassistant/brands/qnap.json
  homeassistant/brands/raspberry.json
  homeassistant/brands/russound.json
  homeassistant/brands/samsung.json
  homeassistant/brands/solaredge.json
  homeassistant/brands/sony.json
  homeassistant/brands/synology.json
  homeassistant/brands/telegram.json
  homeassistant/brands/telldus.json
  homeassistant/brands/tesla.json
  homeassistant/brands/trafikverket.json
  homeassistant/brands/twilio.json
  homeassistant/brands/vlc.json
  homeassistant/brands/xiaomi.json
  homeassistant/brands/yale.json
  homeassistant/brands/yandex.json
  homeassistant/brands/yeelight.json
  homeassistant/generated/integrations.json
Labels: Hacktoberfest, core, cla-signed, new-feature

#79342 Bump zwave_js lib to 0.43.0 and fix multi-file firmware updates
  homeassistant/components/zwave_js/api.py
  homeassistant/components/zwave_js/manifest.json
  homeassistant/components/zwave_js/update.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zwave_js/test_api.py
  tests/components/zwave_js/test_update.py
Labels: cla-signed, waiting-for-upstream, has-tests, bugfix, dependency-bump, integration: zwave_js

#79589 Run hassfest in pre-commit when brands changed
  .pre-commit-config.yaml
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, smash

#79602 Update frontend to 20221004.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, dependency-bump

#79609 Handle state is None in InfluxDB
  homeassistant/components/influxdb/__init__.py
  tests/components/influxdb/test_init.py
Labels: Hacktoberfest, cla-signed, integration: influxdb, small-pr, has-tests, by-code-owner, bugfix

#79616 Shelly - move coordinators to coordinator.py
  .coveragerc
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/coordinator.py
Labels: Hacktoberfest, cla-signed, integration: shelly, by-code-owner, code-quality

#79623 Bump ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, dependency-bump

#79585 Use VOLUME device_class in flume
  homeassistant/components/flume/const.py
  homeassistant/components/flume/sensor.py
Labels: Hacktoberfest, cla-signed, integration: flume, code-quality

#79617 Bump UniFi dependency to v37
  homeassistant/components/unifi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: unifi, dependency, by-code-owner, dependency-bump

#79611 Supervisor update entity auto update from api
  homeassistant/components/hassio/update.py
  tests/components/hassio/test_binary_sensor.py
  tests/components/hassio/test_init.py
  tests/components/hassio/test_sensor.py
  tests/components/hassio/test_update.py
Labels: Hacktoberfest, core, cla-signed, integration: hassio, small-pr, has-tests, bugfix

#79634 Allow picking multiple entity targets for zwave_js.refresh_value service
  homeassistant/components/zwave_js/services.yaml
Labels: Hacktoberfest, cla-signed, small-pr, bugfix, integration: zwave_js

#79563 Netatmo add supported brands
  homeassistant/components/netatmo/manifest.json
  homeassistant/generated/supported_brands.py
Labels: Hacktoberfest, integration: netatmo, cla-signed, small-pr, by-code-owner

#79595 Add supported brands for switchbee
  homeassistant/components/switchbee/manifest.json
  homeassistant/generated/supported_brands.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, integration: switchbee

#79637 Fix search throwing on templated services
  homeassistant/const.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/script.py
  homeassistant/helpers/service.py
  tests/components/search/test_init.py
Labels: Hacktoberfest, core, cla-signed, small-pr, has-tests, integration: search, bugfix

#79631 Remove superfluous strings from Lidarr
  homeassistant/components/lidarr/strings.json
  homeassistant/components/lidarr/translations/en.json
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: lidarr

#79618 Use HA `uuid` as `client_id` in BraviaTV
  homeassistant/components/braviatv/__init__.py
  homeassistant/components/braviatv/config_flow.py
  homeassistant/components/braviatv/const.py
  homeassistant/components/braviatv/coordinator.py
  tests/components/braviatv/test_config_flow.py
Labels: Hacktoberfest, cla-signed, new-feature, integration: braviatv, has-tests, by-code-owner

#79606 Refactor Shelly tests - do not access hass.data
  tests/components/shelly/__init__.py
  tests/components/shelly/conftest.py
  tests/components/shelly/test_button.py
  tests/components/shelly/test_cover.py
  tests/components/shelly/test_device_trigger.py
  tests/components/shelly/test_diagnostics.py
  tests/components/shelly/test_logbook.py
  tests/components/shelly/test_switch.py
  tests/components/shelly/test_update.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, has-tests, by-code-owner, code-quality

#79577 Add at_started helper
  homeassistant/helpers/start.py
  tests/helpers/test_start.py
Labels: Hacktoberfest, core, cla-signed

#79641 Enhanced switchbee device naming
  homeassistant/components/switchbee/entity.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, integration: switchbee

#79628 Refactor Shelly wrapper to coordinator
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/button.py
  homeassistant/components/shelly/climate.py
  homeassistant/components/shelly/coordinator.py
  homeassistant/components/shelly/cover.py
  homeassistant/components/shelly/device_trigger.py
  homeassistant/components/shelly/diagnostics.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/light.py
  homeassistant/components/shelly/logbook.py
  homeassistant/components/shelly/number.py
  homeassistant/components/shelly/sensor.py
  homeassistant/components/shelly/switch.py
  homeassistant/components/shelly/update.py
Labels: Hacktoberfest, cla-signed, integration: shelly, has-tests, by-code-owner, code-quality

#79630 Change Lidarr device name to entry title
  homeassistant/components/lidarr/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: lidarr

#79649 Normalize to kWh when handling WS energy/fossil_energy_consumption
  homeassistant/components/energy/websocket_api.py
  tests/components/energy/test_websocket_api.py
Labels: Hacktoberfest, cla-signed, small-pr, bugfix, integration: energy

#79653 Velbus split of entity in its own file
  .coveragerc
  homeassistant/components/velbus/__init__.py
  homeassistant/components/velbus/binary_sensor.py
  homeassistant/components/velbus/button.py
  homeassistant/components/velbus/climate.py
  homeassistant/components/velbus/cover.py
  homeassistant/components/velbus/entity.py
  homeassistant/components/velbus/light.py
  homeassistant/components/velbus/sensor.py
  homeassistant/components/velbus/switch.py
Labels: Hacktoberfest, cla-signed, integration: velbus, by-code-owner

#79656 Update frontend to 20221005.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, dependency-bump

#79544 Add clicksend to strict typing
  .strict-typing
  homeassistant/components/clicksend/notify.py
  mypy.ini
Labels: Hacktoberfest, cla-signed, small-pr, integration: clicksend

#79680 Fix bluetooth diagnostics on macos
  homeassistant/components/bluetooth/manager.py
  homeassistant/components/bluetooth/models.py
  tests/components/bluetooth/test_diagnostics.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: bluetooth

#79676 Fix Switcher breeze fan mode and swing control
  homeassistant/components/switcher_kis/climate.py
  tests/components/switcher_kis/test_climate.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: switcher_kis, has-tests, by-code-owner, bugfix

#79684 Bump dbus-fast to 1.26.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, by-code-owner, dependency-bump, integration: bluetooth

#79591 Use Kelvin as the preferred color temperature unit
  homeassistant/components/homekit/type_lights.py
  homeassistant/components/light/__init__.py
  homeassistant/util/color.py
  tests/components/homekit_controller/specific_devices/test_nanoleaf_strip_nl55.py
  tests/components/light/test_init.py
  tests/components/yeelight/test_light.py
  tests/util/test_color.py
Labels: Hacktoberfest, core, cla-signed, integration: light, has-tests, WTH

#79362 Improve precision in pressure conversion
  homeassistant/util/unit_conversion.py
  tests/util/test_pressure.py
  tests/util/test_unit_conversion.py
Labels: core, cla-signed, code-quality

#79705 Bump btsmarthub_devicelist to 0.2.3
  CODEOWNERS
  homeassistant/components/bt_smarthub/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, integration: bt_smarthub

#79687 Bump pyipp to 0.12.0
  homeassistant/components/ipp/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, integration: ipp, dependency-bump

#79745 Update frontend to 20221006.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, dependency-bump

#79725 Correct how unit used for statistics is determined
  homeassistant/components/sensor/recorder.py
  tests/components/sensor/test_recorder.py
Labels: Hacktoberfest, core, cla-signed, small-pr, integration: sensor, bugfix

#79663 ZHA radio migration: reset the old adapter
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zha/strings.json
  homeassistant/components/zha/translations/en.json
  tests/components/zha/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: zha, new-feature, has-tests, by-code-owner

#79666 Update ultraheat api to 0.5.0
  homeassistant/components/landisgyr_heat_meter/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: landisgyr_heat_meter

#79751 2022.10.1
  CODEOWNERS
  homeassistant/components/bluetooth/manager.py
  homeassistant/components/bluetooth/models.py
  homeassistant/components/bt_smarthub/manifest.json
  homeassistant/components/frontend/manifest.json
  homeassistant/components/sensor/recorder.py
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zha/strings.json
  homeassistant/components/zha/translations/en.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bluetooth/test_diagnostics.py
  tests/components/sensor/test_recorder.py
  tests/components/zha/test_config_flow.py
Labels: Hacktoberfest, core, cla-signed, merging-to-master, integration: zha, integration: frontend, integration: sensor, has-tests, integration: bt_smarthub, integration: bluetooth

#79750 Tweak comment in LightEntity
  homeassistant/components/light/__init__.py
Labels: Hacktoberfest, core, cla-signed, integration: light, small-pr, code-quality

#79749 Only validate sensors in sensor.recorder.validate_statistics
  homeassistant/components/sensor/recorder.py
  tests/components/sensor/test_recorder.py
Labels: Hacktoberfest, core, cla-signed, small-pr, integration: sensor, has-tests, bugfix

#79713 Adapt homekit to color temperatures in K
  homeassistant/components/homekit/type_lights.py
  tests/components/homekit/test_type_lights.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: homekit, has-tests

#79597 Add translations to Plugwise regulation mode
  homeassistant/components/plugwise/select.py
  homeassistant/components/plugwise/strings.select.json
  homeassistant/components/plugwise/translations/en.json
  homeassistant/components/plugwise/translations/select.en.json
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: plugwise, by-code-owner

#71269 Add visual image preview during generic camera config flow
  homeassistant/components/generic/config_flow.py
  homeassistant/components/generic/const.py
  homeassistant/components/generic/manifest.json
  homeassistant/components/generic/strings.json
  homeassistant/components/generic/translations/en.json
  tests/components/generic/conftest.py
  tests/components/generic/test_camera.py
  tests/components/generic/test_config_flow.py
Labels: cla-signed, new-feature, integration: generic, has-tests, by-code-owner

#79752 Fix broken URLs in KNX service descriptions
  homeassistant/components/knx/services.yaml
Labels: Hacktoberfest, cla-signed, integration: knx, small-pr, bugfix

#79765 Uninstall pre-installed tools from devcontainer
  .devcontainer/devcontainer.json
  Dockerfile.dev
Labels: Hacktoberfest, cla-signed, small-pr, code-quality

#79762 Bump aioesphomeapi to 11.1.1
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, dependency, by-code-owner, dependency-bump

#79761 Bump pydaikin version
  homeassistant/components/daikin/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: daikin, dependency, by-code-owner, bugfix, dependency-bump

#79756 Show all valid heatpump selections
  homeassistant/components/nibe_heatpump/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: nibe_heatpump

#77327 Add Flume binary sensors
  .coveragerc
  homeassistant/components/flume/binary_sensor.py
  homeassistant/components/flume/const.py
  homeassistant/components/flume/coordinator.py
  homeassistant/components/flume/entity.py
  homeassistant/components/flume/sensor.py
  homeassistant/components/flume/util.py
Labels: cla-signed, integration: flume, by-code-owner

#79769 Fix Bluetooth failover when esphome device unexpectedly disconnects
  homeassistant/components/esphome/bluetooth/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, code-quality

#79776 Fix state updating for crossfade switch on Sonos
  homeassistant/components/sonos/speaker.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: sonos, by-code-owner, bugfix

#79757 Add diagnostics to LaMetric
  homeassistant/components/lametric/diagnostics.py
  tests/components/lametric/test_diagnostics.py
Labels: Hacktoberfest, cla-signed, integration: lametric, small-pr, new-feature, has-tests, by-code-owner

#79748 Add LaMetric number tests
  .coveragerc
  tests/components/lametric/test_number.py
Labels: Hacktoberfest, cla-signed, integration: lametric, small-pr, has-tests, by-code-owner, code-quality, smash

#79747 Convert kira tests to pytest
  tests/components/kira/test_remote.py
  tests/components/kira/test_sensor.py
Labels: Hacktoberfest, cla-signed, integration: kira, small-pr, has-tests, code-quality

#79369 De-duplicate MQTT config_flow code
  homeassistant/components/mqtt/client.py
  homeassistant/components/mqtt/config_flow.py
  homeassistant/components/mqtt/const.py
  tests/components/mqtt/test_config_flow.py
Labels: core, cla-signed, integration: mqtt, has-tests, code-quality

#78005 Add Huawei LTE reauth flow
  homeassistant/components/huawei_lte/__init__.py
  homeassistant/components/huawei_lte/config_flow.py
  homeassistant/components/huawei_lte/manifest.json
  homeassistant/components/huawei_lte/strings.json
  homeassistant/components/huawei_lte/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/huawei_lte/test_config_flow.py
Labels: cla-signed, new-feature, integration: huawei_lte, has-tests, by-code-owner

#79758 Add support for Xiaomi Purifier 4 Lite
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/number.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/components/xiaomi_miio/switch.py
Labels: Hacktoberfest, cla-signed, new-feature, integration: xiaomi_miio

#79778 Revert "Improve device_automation trigger validation"
  homeassistant/components/device_automation/action.py
  homeassistant/components/device_automation/condition.py
  homeassistant/components/device_automation/trigger.py
  homeassistant/components/rfxtrx/device_action.py
  tests/components/device_automation/test_init.py
  tests/components/webostv/test_device_trigger.py
Labels: cla-signed, integration: rfxtrx, small-pr, integration: webostv, has-tests, integration: device_automation

#79477 Add Roborock S7 MaxV for xiaomi_miio
  homeassistant/components/xiaomi_miio/const.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: xiaomi_miio, by-code-owner, code-quality

#79759 Add switch platform to LaMetric
  homeassistant/components/lametric/const.py
  homeassistant/components/lametric/switch.py
  tests/components/lametric/test_switch.py
Labels: Hacktoberfest, new-platform, cla-signed, integration: lametric, new-feature, has-tests, by-code-owner

#79772 Add @bachya as a LaMetric codeowner
  CODEOWNERS
  homeassistant/components/lametric/manifest.json
Labels: Hacktoberfest, cla-signed, small-pr, code-quality

#78793 Add xiaomi miio airpurifier 4 led brightness
  homeassistant/components/xiaomi_miio/select.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, bugfix

#79800 Add strict typing to Skybell
  .strict-typing
  homeassistant/components/skybell/sensor.py
  mypy.ini
Labels: Hacktoberfest, cla-signed, integration: skybell, small-pr, by-code-owner, code-quality

#79819 IntelliFire Fan - Bug fix on off funciton
  homeassistant/components/intellifire/fan.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: intellifire

#79802 Add strict typing to Sonarr
  .strict-typing
  homeassistant/components/sonarr/entity.py
  homeassistant/components/sonarr/sensor.py
  mypy.ini
Labels: Hacktoberfest, cla-signed, small-pr, integration: sonarr, code-quality

#79242 Add strict typing for radarr
  .strict-typing
  homeassistant/components/radarr/__init__.py
  homeassistant/components/radarr/binary_sensor.py
  homeassistant/components/radarr/coordinator.py
  homeassistant/components/radarr/sensor.py
  mypy.ini
Labels: cla-signed, integration: radarr, code-quality, smash

#79241 Add strict typing for lidarr
  .strict-typing
  homeassistant/components/lidarr/__init__.py
  homeassistant/components/lidarr/coordinator.py
  homeassistant/components/lidarr/sensor.py
  mypy.ini
Labels: cla-signed, code-quality, smash, integration: lidarr

#79822 Add strict typing for WLED
  .strict-typing
  homeassistant/components/wled/number.py
  homeassistant/package_constraints.txt
  mypy.ini
  script/gen_requirements_all.py
Labels: Hacktoberfest, core, cla-signed, small-pr, integration: wled, code-quality
