Repository home-assistant/core, pull requests merged in 2022-03, with the labels that each got.

#67401 Reduce magic in Sonos error handling fixture
  homeassistant/components/sonos/helpers.py
Labels: cla-signed, small-pr, integration: sonos, by-code-owner, bugfix, smash

#67406 Bump zeroconf to 0.38.4
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, by-code-owner, dependency-bump

#67361 Strict typing for dhcp
  .strict-typing
  homeassistant/components/dhcp/__init__.py
  homeassistant/loader.py
  mypy.ini
Labels: cla-signed, by-code-owner, integration: dhcp

#67412 Add diagnostics support to bond
  homeassistant/components/bond/diagnostics.py
  tests/components/bond/common.py
  tests/components/bond/test_diagnostics.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: bond

#67411 Add Signal Strength sensor to WiZ
  homeassistant/components/wiz/__init__.py
  homeassistant/components/wiz/sensor.py
  tests/components/wiz/__init__.py
  tests/components/wiz/test_sensor.py
Labels: new-platform, cla-signed, has-tests, integration: wiz

#67297 Set precision to tenths in Sensibo
  homeassistant/components/sensibo/climate.py
Labels: cla-signed, small-pr, integration: sensibo, by-code-owner, bugfix

#67404 Update ephem to 4.1.2
  homeassistant/components/season/__init__.py
  homeassistant/components/season/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: season, dependency, smash

#67395 Update coverage to 6.3.2
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump, smash

#66746 Update google-cloud-texttospeech to 2.10.0
  homeassistant/components/google_cloud/manifest.json
  homeassistant/components/google_cloud/tts.py
  homeassistant/components/google_pubsub/__init__.py
  requirements_all.txt
  script/pip_check
  tests/components/google_pubsub/test_init.py
Labels: cla-signed, small-pr, integration: google_cloud, dependency, smash

#67427 Enable strict typing for backup integration
  .strict-typing
  homeassistant/components/backup/websocket.py
  mypy.ini
Labels: cla-signed, small-pr, code-quality, integration: backup

#67421 Bump hatasmota to 0.4.0
  homeassistant/components/tasmota/__init__.py
  homeassistant/components/tasmota/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tasmota/test_common.py
  tests/components/tasmota/test_device_trigger.py
  tests/components/tasmota/test_discovery.py
  tests/components/tasmota/test_init.py
  tests/components/tasmota/test_sensor.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: tasmota

#67033 Add additional switch for dmaker.airfresh.a1/t2017 to xiaomi_miio
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/switch.py
Labels: cla-signed, new-feature, integration: xiaomi_miio, smash

#67040 Add "Auxiliary Heat Status" binary_sensor for dmaker.airfresh.a1/t2017 to xiaomi_miio
  homeassistant/components/xiaomi_miio/binary_sensor.py
Labels: cla-signed, small-pr, new-feature, integration: xiaomi_miio

#67431 Remove class attributes for backup manager
  homeassistant/components/backup/manager.py
  tests/components/backup/test_manager.py
  tests/components/backup/test_websocket.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: backup

#67418 CONF_SLAVE do not have default 0 in a validator
  homeassistant/components/modbus/validators.py
Labels: cla-signed, integration: modbus, small-pr, by-code-owner, bugfix

#67435 Bump python-songpal to 0.14.1
  homeassistant/components/songpal/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: songpal, dependency, by-code-owner, dependency-bump, smash

#67374 Cleanup search for mac in samsungtv
  homeassistant/components/samsungtv/__init__.py
Labels: cla-signed, small-pr, integration: samsungtv, by-code-owner, code-quality

#67424 Cleanup samsungtv bridge
  homeassistant/components/samsungtv/bridge.py
Labels: cla-signed, small-pr, integration: samsungtv, by-code-owner, code-quality

#67438 Bump httpx and httpcore
  homeassistant/package_constraints.txt
  requirements.txt
  script/gen_requirements_all.py
  setup.cfg
Labels: core, cla-signed, small-pr, dependency, smash

#67417 Avoid creating wiring select for Magic Home if its not supported
  homeassistant/components/flux_led/select.py
  tests/components/flux_led/test_select.py
Labels: cla-signed, small-pr, integration: flux_led, has-tests, by-code-owner, bugfix

#67439 Fix returned value from backup/info WS command
  homeassistant/components/backup/manager.py
  homeassistant/components/backup/websocket.py
  tests/components/backup/test_websocket.py
Labels: cla-signed, small-pr, has-tests, bugfix, smash, integration: backup

#67448 Pip `setup-python` to 3.0.0
  .github/workflows/builder.yml
  .github/workflows/ci.yaml
  .github/workflows/translations.yaml
Labels: cla-signed, small-pr, code-quality

#67432 Correct selector for remote integration line 50
  homeassistant/components/remote/services.yaml
Labels: core, cla-signed, integration: remote, small-pr

#67409 Restore children media class
  homeassistant/components/dlna_dms/dms.py
  homeassistant/components/media_player/browse_media.py
  tests/components/cast/test_media_player.py
  tests/components/dlna_dmr/test_media_player.py
  tests/components/motioneye/test_media_source.py
Labels: core, integration: media_player, cla-signed, small-pr, integration: cast, integration: dlna_dmr, integration: motioneye, has-tests, integration: dlna_dms

#67300 Partially revert powerwall abs change from #67245
  homeassistant/components/powerwall/sensor.py
Labels: cla-signed, small-pr, by-code-owner, integration: powerwall

#67457 Bump frontend to 20220301.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency, dependency-bump

#67453 Fix CO2Signal having unknown data
  homeassistant/components/co2signal/sensor.py
Labels: cla-signed, small-pr, integration: co2signal, bugfix

#67458 Add missing temperature sensor for Shelly Motion2
  homeassistant/components/shelly/sensor.py
Labels: cla-signed, small-pr, integration: shelly, by-code-owner, bugfix

#67407 Add support for detecting hostname based addresses as internal
  homeassistant/helpers/network.py
  tests/components/roku/test_media_player.py
  tests/helpers/test_network.py
Labels: core, cla-signed

#67090 Prefer internal docker URL for VLC telnet when possible
  homeassistant/components/media_player/browse_media.py
  homeassistant/components/vlc_telnet/media_player.py
  homeassistant/helpers/network.py
  tests/components/media_player/test_browse_media.py
  tests/helpers/test_network.py
Labels: core, integration: media_player, cla-signed, new-feature, has-tests, integration: vlc_telnet

#67331 Rework mysensors test fixtures
  tests/components/mysensors/conftest.py
  tests/components/mysensors/test_init.py
  tests/components/mysensors/test_sensor.py
Labels: cla-signed, integration: mysensors, small-pr, has-tests, by-code-owner, code-quality, smash

#67459 Update Pyoctoprint to 1.8
  homeassistant/components/octoprint/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: octoprint, small-pr, dependency, by-code-owner, dependency-bump

#67477 Address late review of flipr
  homeassistant/components/flipr/__init__.py
  tests/components/flipr/test_binary_sensor.py
  tests/components/flipr/test_sensor.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: flipr

#67476 Bump aioshelly to 1.0.11
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: shelly, dependency, by-code-owner, bugfix, dependency-bump

#67480 Split meta image creation
  .github/workflows/builder.yml
Labels: cla-signed, small-pr

#67470 Bump to aiohomekit 0.7.15
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, bugfix, dependency-bump

#67065 Add buttons for dmaker.airfresh.a1/t2017 to xiaomi_miio
  .coveragerc
  homeassistant/components/xiaomi_miio/__init__.py
  homeassistant/components/xiaomi_miio/button.py
Labels: cla-signed, new-feature, integration: xiaomi_miio

#67474 Remove Ecobee homekit vendor extensions that just don't work
  homeassistant/components/homekit_controller/number.py
  tests/components/homekit_controller/specific_devices/test_ecobee3.py
Labels: breaking-change, cla-signed, small-pr, integration: homekit_controller, has-tests, by-code-owner

#67468 Improve binary sensor group when member is unknown or unavailable
  homeassistant/components/group/binary_sensor.py
  tests/components/group/test_binary_sensor.py
Labels: core, breaking-change, cla-signed, integration: group, small-pr, has-tests

#67475 Sort DMS results using only criteria supported by the device
  homeassistant/components/dlna_dms/dms.py
  tests/components/dlna_dms/test_dms_device_source.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: dlna_dms

#67484 Set fail-fast to false for meta container
  .github/workflows/builder.yml
Labels: cla-signed, small-pr, bugfix

#67471 Mqtt fix issue with displaying non UTF-8 payload
  homeassistant/components/mqtt/__init__.py
  tests/components/mqtt/test_init.py
Labels: core, cla-signed, integration: mqtt, small-pr, bugfix

#67472 Handle exception in modbus slave sensor
  homeassistant/components/modbus/sensor.py
  tests/components/modbus/test_sensor.py
Labels: cla-signed, integration: modbus, small-pr, has-tests, by-code-owner, bugfix

#67483 Bump samsungtvws to v2.1.0
  homeassistant/components/samsungtv/bridge.py
  homeassistant/components/samsungtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: samsungtv, dependency, by-code-owner

#67127 Implement async websocket in samsungtv
  homeassistant/components/samsungtv/__init__.py
  homeassistant/components/samsungtv/bridge.py
  tests/components/samsungtv/conftest.py
  tests/components/samsungtv/test_config_flow.py
  tests/components/samsungtv/test_init.py
  tests/components/samsungtv/test_media_player.py
Labels: cla-signed, integration: samsungtv, has-tests, by-code-owner, code-quality

#66692 Adjust error handling scope in samsungtv
  homeassistant/components/samsungtv/bridge.py
Labels: cla-signed, integration: samsungtv, by-code-owner, code-quality

#67506 Bump pysensibo to v1.0.8
  homeassistant/components/sensibo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: sensibo, dependency, by-code-owner, dependency-bump

#67446 Implement reauth for Sensibo
  homeassistant/components/sensibo/config_flow.py
  homeassistant/components/sensibo/coordinator.py
  homeassistant/components/sensibo/strings.json
  homeassistant/components/sensibo/translations/en.json
  tests/components/sensibo/test_config_flow.py
Labels: cla-signed, new-feature, integration: sensibo, has-tests, by-code-owner

#67498 Bump soco to 0.26.4
  homeassistant/components/sonos/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: sonos, dependency, by-code-owner, dependency-bump

#67489 Fix nightly manifest
  .github/workflows/builder.yml
Labels: cla-signed, small-pr, bugfix

#67466 Enable strict typing for usb
  .strict-typing
  homeassistant/components/usb/__init__.py
  mypy.ini
  tests/components/usb/test_init.py
Labels: cla-signed, small-pr, by-code-owner, integration: usb

#67390 Allow reload of modbus
  homeassistant/components/modbus/modbus.py
  homeassistant/components/modbus/services.yaml
Labels: cla-signed, integration: modbus, small-pr, new-feature, by-code-owner

#67557 Update nest media source to make device play most recent event
  homeassistant/components/nest/media_source.py
  tests/components/nest/test_media_source.py
Labels: cla-signed, integration: nest, small-pr, new-feature, has-tests, by-code-owner

#66552 Add update integration
  .core_files.yaml
  .strict-typing
  CODEOWNERS
  homeassistant/components/default_config/manifest.json
  homeassistant/components/update/__init__.py
  homeassistant/components/update/manifest.json
  homeassistant/components/update/strings.json
  homeassistant/components/update/translations/en.json
  mypy.ini
  tests/components/update/__init__.py
  tests/components/update/test_init.py
Labels: core, cla-signed, docs-missing, new-integration, has-tests, integration: update

#67541 Fix Samsung TV state when the device is turned off
  homeassistant/components/samsungtv/bridge.py
  tests/components/samsungtv/test_media_player.py
Labels: cla-signed, small-pr, integration: samsungtv, has-tests, by-code-owner, bugfix

#67529 Cleanup mac fixtures in samsungtv tests
  tests/components/samsungtv/conftest.py
  tests/components/samsungtv/const.py
  tests/components/samsungtv/test_config_flow.py
  tests/components/samsungtv/test_diagnostics.py
  tests/components/samsungtv/test_init.py
  tests/components/samsungtv/test_media_player.py
Labels: cla-signed, small-pr, integration: samsungtv, has-tests, by-code-owner, code-quality, smash

#64315 Add config flow for selecting precision of DS18B20 devices
  homeassistant/components/onewire/__init__.py
  homeassistant/components/onewire/config_flow.py
  homeassistant/components/onewire/const.py
  homeassistant/components/onewire/sensor.py
  homeassistant/components/onewire/strings.json
  homeassistant/components/onewire/translations/en.json
  tests/components/onewire/conftest.py
  tests/components/onewire/const.py
  tests/components/onewire/test_diagnostics.py
  tests/components/onewire/test_options_flow.py
Labels: cla-signed, new-feature, integration: onewire

#67363 Add light entity to SleepIQ
  homeassistant/components/sleepiq/__init__.py
  homeassistant/components/sleepiq/binary_sensor.py
  homeassistant/components/sleepiq/coordinator.py
  homeassistant/components/sleepiq/entity.py
  homeassistant/components/sleepiq/light.py
  homeassistant/components/sleepiq/sensor.py
  homeassistant/components/sleepiq/switch.py
  tests/components/sleepiq/conftest.py
  tests/components/sleepiq/test_config_flow.py
  tests/components/sleepiq/test_light.py
Labels: new-platform, cla-signed, integration: sleepiq, new-feature, has-tests, by-code-owner

#67574 Add pressure sensor for SleepIQ
  homeassistant/components/sleepiq/const.py
  homeassistant/components/sleepiq/sensor.py
  tests/components/sleepiq/conftest.py
  tests/components/sleepiq/test_sensor.py
Labels: cla-signed, integration: sleepiq, small-pr, new-feature, has-tests, by-code-owner

#67556 Fix MQTT config flow with advanced parameters
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/config_flow.py
  homeassistant/components/mqtt/const.py
  tests/components/mqtt/test_config_flow.py
Labels: core, cla-signed, integration: mqtt, has-tests, bugfix

#67515 Use cached_property instead of stacked property + cache
  homeassistant/components/dlna_dms/dms.py
Labels: cla-signed, small-pr, code-quality, smash, integration: dlna_dms

#67559 Highlight in logs it is a custom component when setup fails
  homeassistant/setup.py
  tests/test_setup.py
Labels: core, cla-signed

#67585 Add guards for HomeKit version/names that break apple watches
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_accessories.py
  tests/components/homekit/test_type_sensors.py
  tests/components/homekit/test_util.py
Labels: cla-signed, integration: homekit, has-tests, by-code-owner

#67582 Fix data type for growatt lastdataupdate (#67511)
  homeassistant/components/growatt_server/sensor.py
Labels: cla-signed, small-pr, integration: growatt_server, by-code-owner, bugfix

#67444 Add config flow to Moon
  .strict-typing
  CODEOWNERS
  homeassistant/components/moon/__init__.py
  homeassistant/components/moon/config_flow.py
  homeassistant/components/moon/const.py
  homeassistant/components/moon/manifest.json
  homeassistant/components/moon/sensor.py
  homeassistant/components/moon/strings.json
  homeassistant/components/moon/translations/en.json
  homeassistant/generated/config_flows.py
  mypy.ini
  tests/components/moon/conftest.py
  tests/components/moon/test_config_flow.py
  tests/components/moon/test_init.py
  tests/components/moon/test_sensor.py
Labels: cla-signed, new-feature, integration: moon, has-tests

#67552 Bump httplib2 to 0.20.4
  homeassistant/components/google/manifest.json
  homeassistant/components/remember_the_milk/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: google, integration: remember_the_milk, small-pr, by-code-owner, bugfix, dependency-bump

#67546 Restore state of template binary sensor with on or off delay
  homeassistant/components/template/binary_sensor.py
  tests/components/template/test_binary_sensor.py
Labels: breaking-change, cla-signed, small-pr, new-feature, integration: template, has-tests

#67512 Check if UPnP is enabled on Fritz device
  homeassistant/components/fritz/__init__.py
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/config_flow.py
  homeassistant/components/fritz/const.py
  homeassistant/components/fritz/strings.json
  homeassistant/components/fritz/translations/en.json
Labels: cla-signed, small-pr, integration: fritz, by-code-owner, bugfix

#67588 2022.3.1
  homeassistant/components/fritz/__init__.py
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/config_flow.py
  homeassistant/components/fritz/const.py
  homeassistant/components/fritz/strings.json
  homeassistant/components/fritz/translations/en.json
  homeassistant/components/growatt_server/sensor.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/util.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/config_flow.py
  homeassistant/components/mqtt/const.py
  homeassistant/components/obihai/manifest.json
  homeassistant/components/sonos/manifest.json
  homeassistant/const.py
  homeassistant/setup.py
  requirements_all.txt
  requirements_test_all.txt
  setup.cfg
  tests/components/homekit/test_accessories.py
  tests/components/homekit/test_type_sensors.py
  tests/components/homekit/test_util.py
  tests/components/mqtt/test_config_flow.py
  tests/test_setup.py
Labels: core, cla-signed, integration: mqtt, merging-to-master, integration: homekit, integration: sonos, integration: fritz, has-tests, integration: growatt_server, integration: obihai

#67590 Remove use of deprecated xiaomi_miio classes
  homeassistant/components/xiaomi_miio/__init__.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, by-code-owner, bugfix

#67414 Suppress roku power off timeout errors
  homeassistant/components/roku/__init__.py
  homeassistant/components/roku/helpers.py
  homeassistant/components/roku/manifest.json
  homeassistant/components/roku/media_player.py
  homeassistant/components/roku/remote.py
  homeassistant/components/roku/select.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/roku/test_media_player.py
Labels: cla-signed, small-pr, integration: roku, dependency, by-code-owner, bugfix

#67600 Fix flaky google calendar test
  tests/components/google/test_init.py
Labels: cla-signed, integration: google, small-pr, has-tests, by-code-owner, code-quality

#67441 Improve google calendar test quality and share setup
  tests/components/google/conftest.py
  tests/components/google/test_calendar.py
  tests/components/google/test_init.py
Labels: cla-signed, integration: google, small-pr, has-tests, by-code-owner, code-quality, smash

#67587 Log stack trace if exception without message
  homeassistant/components/websocket_api/connection.py
  tests/components/websocket_api/test_connection.py
Labels: core, cla-signed, integration: websocket_api, small-pr, has-tests, bugfix

#67603 Rename async_resolve_entity_ids to async_validate_entity_ids
  homeassistant/components/homeassistant/triggers/numeric_state.py
  homeassistant/components/homeassistant/triggers/state.py
  homeassistant/components/zone/trigger.py
  homeassistant/helpers/condition.py
  homeassistant/helpers/entity_registry.py
  homeassistant/helpers/service.py
  tests/helpers/test_entity_registry.py
Labels: core, cla-signed, small-pr, integration: zone, integration: homeassistant

#67601 Downgrade Renault warning
  homeassistant/components/renault/renault_vehicle.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: renault

#67609 MQTT Improve warning override deprecated settings
  homeassistant/components/mqtt/__init__.py
  tests/components/mqtt/test_init.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, code-quality

#67568 Add media source support to panasonic_viera
  homeassistant/components/panasonic_viera/media_player.py
Labels: cla-signed, small-pr, new-feature, integration: panasonic_viera

#67634 Add mysensors notify tests
  .coveragerc
  tests/components/mysensors/conftest.py
  tests/components/mysensors/fixtures/text_node_state.json
  tests/components/mysensors/test_notify.py
Labels: cla-signed, integration: mysensors, small-pr, has-tests, by-code-owner, code-quality

#67563 Add media source support to bluesound
  homeassistant/components/bluesound/media_player.py
Labels: cla-signed, small-pr, new-feature, integration: bluesound

#67561 Allow squeezebox to play media sources
  homeassistant/components/squeezebox/browse_media.py
  homeassistant/components/squeezebox/media_player.py
Labels: cla-signed, new-feature, integration: squeezebox

#67565 Add media source support to mpd
  homeassistant/components/mpd/media_player.py
Labels: cla-signed, small-pr, new-feature, integration: mpd

#67564 Add media browser support to forked_daapd
  homeassistant/components/forked_daapd/const.py
  homeassistant/components/forked_daapd/media_player.py
Labels: cla-signed, small-pr, new-feature, integration: forked_daapd

#67640 Improve logging for Fritz switches creation
  homeassistant/components/fritz/const.py
  homeassistant/components/fritz/switch.py
Labels: cla-signed, small-pr, integration: fritz, by-code-owner, code-quality

#67639 End JSON files updated by scaffold script with a newline
  script/scaffold/model.py
Labels: cla-signed, small-pr, bugfix

#67562 Add media source support to HeOS
  homeassistant/components/heos/media_player.py
Labels: cla-signed, small-pr, new-feature, integration: heos

#67637 Adjust data entry flow to have an option data_schema
  homeassistant/components/adguard/config_flow.py
  homeassistant/components/almond/config_flow.py
  homeassistant/components/lyric/config_flow.py
  homeassistant/components/moon/config_flow.py
  homeassistant/components/neato/config_flow.py
  homeassistant/components/nest/config_flow.py
  homeassistant/components/netatmo/config_flow.py
  homeassistant/components/powerwall/config_flow.py
  homeassistant/components/profiler/config_flow.py
  homeassistant/components/rtsp_to_webrtc/config_flow.py
  homeassistant/components/sonarr/config_flow.py
  homeassistant/components/spotify/config_flow.py
  homeassistant/components/velbus/config_flow.py
  homeassistant/components/vizio/config_flow.py
  homeassistant/components/vlc_telnet/config_flow.py
  homeassistant/components/wiz/config_flow.py
  homeassistant/components/xiaomi_miio/config_flow.py
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zwave_js/config_flow.py
  homeassistant/data_entry_flow.py
  tests/components/config/test_config_entries.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#67614 Fix sql false warning
  homeassistant/components/sql/sensor.py
  tests/components/sql/test_sensor.py
Labels: cla-signed, small-pr, integration: sql, bugfix

#67447 Add config flow for switch.light
  homeassistant/components/switch/__init__.py
  homeassistant/components/switch/config_flow.py
  homeassistant/components/switch/const.py
  homeassistant/components/switch/light.py
  homeassistant/components/switch/manifest.json
  homeassistant/components/switch/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/helpers/entity_registry.py
  homeassistant/helpers/helper_config_entry_flow.py
  tests/components/switch/test_config_flow.py
  tests/components/switch/test_light.py
Labels: core, cla-signed, integration: switch, has-tests

#67655 Bump pydroid-ipcam to 1.3.1
  homeassistant/components/android_ip_webcam/__init__.py
  homeassistant/components/android_ip_webcam/manifest.json
  requirements_all.txt
Labels: integration: android_ip_webcam, cla-signed, small-pr, dependency

#67648 Fix Fan template loosing percentage/preset
  homeassistant/components/template/fan.py
Labels: cla-signed, small-pr, integration: template, bugfix

#67322 Add missing Ambient PWS sensors
  homeassistant/components/ambient_station/binary_sensor.py
  homeassistant/components/ambient_station/sensor.py
Labels: cla-signed, new-feature, integration: ambient_station, by-code-owner

#67549 Add message for unsupported models in samsungtv
  homeassistant/components/samsungtv/__init__.py
  homeassistant/components/samsungtv/bridge.py
  tests/components/samsungtv/test_diagnostics.py
  tests/components/samsungtv/test_init.py
Labels: cla-signed, small-pr, integration: samsungtv, by-code-owner, code-quality, smash

#67659 Bump sleepiq library version
  homeassistant/components/sleepiq/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: sleepiq, small-pr, dependency, by-code-owner, dependency-bump

#67653 Fix reload of media player groups
  homeassistant/components/group/__init__.py
Labels: core, cla-signed, integration: group, small-pr, bugfix

#67602 Handle elkm1 login case with username and insecure login
  homeassistant/components/elkm1/__init__.py
  homeassistant/components/elkm1/config_flow.py
Labels: cla-signed, small-pr, integration: elkm1, by-code-owner, bugfix

#67623 Allign logic for Fritz sensors and binary_sensors
  homeassistant/components/fritz/binary_sensor.py
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/sensor.py
Labels: cla-signed, integration: fritz, by-code-owner, code-quality, bugfix

#67384 Add unique_id to Fritz diagnostics
  homeassistant/components/fritz/diagnostics.py
  tests/components/fritz/test_diagnostics.py
Labels: cla-signed, small-pr, integration: fritz, by-code-owner, code-quality

#67616 Refactor run app in SamsungTV
  homeassistant/components/samsungtv/bridge.py
  homeassistant/components/samsungtv/media_player.py
  tests/components/samsungtv/test_media_player.py
Labels: cla-signed, small-pr, integration: samsungtv, has-tests, by-code-owner, code-quality

#67664 Refactor android_ip_webcam
  homeassistant/components/android_ip_webcam/__init__.py
  homeassistant/components/android_ip_webcam/camera.py
Labels: new-platform, integration: android_ip_webcam, cla-signed

#67495 Add Hyperion device configuration URL
  homeassistant/components/hyperion/camera.py
  homeassistant/components/hyperion/light.py
  homeassistant/components/hyperion/manifest.json
  homeassistant/components/hyperion/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, new-feature, integration: hyperion

#67669 Upgrade bandit to 1.7.4
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr, dependency

#67696 Add base entity for Sensibo
  .coveragerc
  homeassistant/components/sensibo/climate.py
  homeassistant/components/sensibo/entity.py
  homeassistant/components/sensibo/number.py
Labels: cla-signed, integration: sensibo, by-code-owner, code-quality

#67693 Return None for fields not reported in Sensibo
  homeassistant/components/sensibo/climate.py
  homeassistant/components/sensibo/coordinator.py
  homeassistant/components/sensibo/number.py
Labels: cla-signed, small-pr, integration: sensibo, by-code-owner, bugfix

#65841 Add firmness number entity to SleepIQ
  homeassistant/components/sleepiq/__init__.py
  homeassistant/components/sleepiq/const.py
  homeassistant/components/sleepiq/number.py
  tests/components/sleepiq/test_number.py
Labels: breaking-change, cla-signed, integration: sleepiq, new-feature, has-tests, smash

#66949 Implement measurement sensor for Sensibo
  homeassistant/components/sensibo/coordinator.py
Labels: breaking-change, cla-signed, small-pr, new-feature, integration: sensibo, by-code-owner

#67692 Quicker update on hvac mode change in Sensibo
  homeassistant/components/sensibo/climate.py
Labels: cla-signed, small-pr, integration: sensibo, by-code-owner, bugfix

#67701 Code cleanup yale_smart_alarm
  homeassistant/components/yale_smart_alarm/__init__.py
  homeassistant/components/yale_smart_alarm/alarm_control_panel.py
  homeassistant/components/yale_smart_alarm/config_flow.py
  homeassistant/components/yale_smart_alarm/const.py
  homeassistant/components/yale_smart_alarm/coordinator.py
  homeassistant/components/yale_smart_alarm/lock.py
Labels: cla-signed, integration: yale_smart_alarm, by-code-owner, code-quality

#67712 Ensure elkm1 can be manually configured when discovered instance is not used
  homeassistant/components/elkm1/config_flow.py
  tests/components/elkm1/test_config_flow.py
Labels: cla-signed, small-pr, integration: elkm1, has-tests, by-code-owner, bugfix

#67716 Add missing disconnect in elkm1 config flow validation
  homeassistant/components/elkm1/config_flow.py
Labels: cla-signed, small-pr, integration: elkm1, by-code-owner, bugfix

#67721 Update aiolifx dependency to resolve log flood
  homeassistant/components/lifx/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: lifx, bugfix, dependency-bump

#67675 Remove rfxtrx signal repetition
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/rfxtrx/config_flow.py
  homeassistant/components/rfxtrx/const.py
  homeassistant/components/rfxtrx/cover.py
  homeassistant/components/rfxtrx/light.py
  homeassistant/components/rfxtrx/siren.py
  homeassistant/components/rfxtrx/strings.json
  homeassistant/components/rfxtrx/switch.py
  tests/components/rfxtrx/test_config_flow.py
  tests/components/rfxtrx/test_cover.py
  tests/components/rfxtrx/test_device_action.py
  tests/components/rfxtrx/test_device_trigger.py
  tests/components/rfxtrx/test_light.py
  tests/components/rfxtrx/test_siren.py
  tests/components/rfxtrx/test_switch.py
Labels: breaking-change, cla-signed, integration: rfxtrx, small-pr, new-feature, has-tests, by-code-owner

#67724 Bump google-cloud-pubsub to 2.10.0
  homeassistant/components/google_pubsub/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: google_pubsub, dependency, dependency-bump

#67723 Bump google-nest-sdm to 1.8.0
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: nest, small-pr, dependency, by-code-owner, dependency-bump

#67740 Fix regression with homekit_controller + Aqara motion/vibration sensors
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, bugfix, dependency-bump

#67730 2022.3.2
  homeassistant/components/android_ip_webcam/__init__.py
  homeassistant/components/android_ip_webcam/manifest.json
  homeassistant/components/elkm1/__init__.py
  homeassistant/components/elkm1/config_flow.py
  homeassistant/components/fritz/binary_sensor.py
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/const.py
  homeassistant/components/fritz/diagnostics.py
  homeassistant/components/fritz/sensor.py
  homeassistant/components/fritz/switch.py
  homeassistant/components/group/__init__.py
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/lifx/manifest.json
  homeassistant/components/renault/renault_vehicle.py
  homeassistant/components/rfxtrx/manifest.json
  homeassistant/components/roku/__init__.py
  homeassistant/components/roku/helpers.py
  homeassistant/components/roku/manifest.json
  homeassistant/components/roku/media_player.py
  homeassistant/components/roku/remote.py
  homeassistant/components/roku/select.py
  homeassistant/components/sql/sensor.py
  homeassistant/components/template/fan.py
  homeassistant/components/xiaomi_miio/__init__.py
  homeassistant/const.py
  requirements_all.txt
  requirements_test_all.txt
  setup.cfg
  tests/components/elkm1/test_config_flow.py
  tests/components/fritz/test_diagnostics.py
  tests/components/roku/test_media_player.py
  tests/components/sql/test_sensor.py
Labels: core, cla-signed, merging-to-master, has-tests

#67699 Add problem sensor to yale_smart_alarm
  homeassistant/components/yale_smart_alarm/alarm_control_panel.py
  homeassistant/components/yale_smart_alarm/binary_sensor.py
  homeassistant/components/yale_smart_alarm/coordinator.py
  homeassistant/components/yale_smart_alarm/entity.py
Labels: cla-signed, new-feature, integration: yale_smart_alarm, by-code-owner

#67763 Bump greeclimate to 1.1.0
  homeassistant/components/gree/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: gree

#67769 Fix scaffold
  script/scaffold/model.py
Labels: cla-signed, small-pr, bugfix

#67772 Simplify google calendar new calendar tracking
  homeassistant/components/google/__init__.py
Labels: cla-signed, integration: google, small-pr, by-code-owner

#67684 Fix timezone for growatt lastdataupdate
  homeassistant/components/growatt_server/sensor.py
Labels: cla-signed, small-pr, integration: growatt_server, by-code-owner, bugfix

#67760 Bump async-upnp-client to 0.26.0
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/components/dlna_dms/manifest.json
  homeassistant/components/ssdp/manifest.json
  homeassistant/components/upnp/manifest.json
  homeassistant/components/yeelight/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: upnp, small-pr, integration: yeelight, integration: dlna_dmr, integration: ssdp, dependency, dependency-bump, integration: dlna_dms

#67793 Update whoami URL
  homeassistant/util/location.py
  tests/util/test_location.py
Labels: core, cla-signed, small-pr

#67771 Bump samsungtvws to 2.2.0
  homeassistant/components/samsungtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: samsungtv, dependency, by-code-owner, dependency-bump

#67775 Add strict typing to adguard
  .strict-typing
  homeassistant/components/adguard/config_flow.py
  homeassistant/components/adguard/switch.py
  mypy.ini
Labels: cla-signed, small-pr, integration: adguard, code-quality

#67660 Add config flow for cover, fan, light and media_player groups
  homeassistant/components/group/__init__.py
  homeassistant/components/group/config_flow.py
  homeassistant/components/group/cover.py
  homeassistant/components/group/fan.py
  homeassistant/components/group/light.py
  homeassistant/components/group/manifest.json
  homeassistant/components/group/media_player.py
  homeassistant/components/group/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/helpers/helper_config_entry_flow.py
  tests/components/group/test_config_flow.py
Labels: core, cla-signed, integration: group, new-feature, has-tests

#67661 Fix false positive MQTT climate deprecation warnings for defaults
  homeassistant/components/mqtt/climate.py
  tests/components/mqtt/test_climate.py
Labels: core, cla-signed, integration: mqtt, small-pr, bugfix

#67777 Fix Fritz internet access switch when using old discovery method
  homeassistant/components/fritz/common.py
Labels: cla-signed, small-pr, integration: fritz, by-code-owner, bugfix, smash

#67812 Update frontend to 20220301.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency-bump

#67778 Fix profile name update for Shelly Valve
  homeassistant/components/shelly/climate.py
Labels: cla-signed, small-pr, integration: shelly, by-code-owner, bugfix, smash

#67790 Handle fan_modes being set to None in homekit
  homeassistant/components/homekit/type_thermostats.py
  tests/components/homekit/test_type_thermostats.py
Labels: cla-signed, small-pr, integration: homekit, has-tests, by-code-owner, smash

#67799 Catch Elgato connection errors
  homeassistant/components/elgato/__init__.py
Labels: cla-signed, small-pr, by-code-owner, integration: elgato, bugfix

#67737 Fix temperature stepping in Sensibo
  homeassistant/components/sensibo/coordinator.py
Labels: cla-signed, small-pr, integration: sensibo, by-code-owner, bugfix, smash

#67413 Add config flow to Season
  CODEOWNERS
  homeassistant/components/season/__init__.py
  homeassistant/components/season/config_flow.py
  homeassistant/components/season/const.py
  homeassistant/components/season/manifest.json
  homeassistant/components/season/sensor.py
  homeassistant/components/season/strings.json
  homeassistant/components/season/translations/en.json
  homeassistant/components/season/translations/sensor.en.json
  homeassistant/generated/config_flows.py
  tests/components/season/conftest.py
  tests/components/season/test_config_flow.py
  tests/components/season/test_init.py
  tests/components/season/test_sensor.py
Labels: cla-signed, new-feature, integration: season, has-tests

#67800 Update PyTurboJPEG to 1.6.6
  homeassistant/components/camera/manifest.json
  homeassistant/components/stream/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: core, integration: camera, cla-signed, small-pr, integration: stream, dependency, dependency-bump, smash

#67764 Modify diagnostics for Sensibo
  homeassistant/components/sensibo/climate.py
  homeassistant/components/sensibo/coordinator.py
  homeassistant/components/sensibo/diagnostics.py
  homeassistant/components/sensibo/entity.py
  homeassistant/components/sensibo/number.py
Labels: cla-signed, small-pr, integration: sensibo, by-code-owner, bugfix

#67821 Bump samsungtvws to 2.3.0
  homeassistant/components/samsungtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: samsungtv, dependency, by-code-owner, dependency-bump

#67809 Adjust websocket bridge logging in SamsungTV
  homeassistant/components/samsungtv/bridge.py
  tests/components/samsungtv/test_media_player.py
Labels: cla-signed, small-pr, integration: samsungtv, by-code-owner, code-quality

#67711 Add Kaleidescape integration
  .strict-typing
  CODEOWNERS
  homeassistant/components/kaleidescape/__init__.py
  homeassistant/components/kaleidescape/config_flow.py
  homeassistant/components/kaleidescape/const.py
  homeassistant/components/kaleidescape/entity.py
  homeassistant/components/kaleidescape/manifest.json
  homeassistant/components/kaleidescape/media_player.py
  homeassistant/components/kaleidescape/strings.json
  homeassistant/components/kaleidescape/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/ssdp.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/kaleidescape/__init__.py
  tests/components/kaleidescape/conftest.py
  tests/components/kaleidescape/test_config_flow.py
  tests/components/kaleidescape/test_init.py
  tests/components/kaleidescape/test_media_player.py
Labels: cla-signed, new-integration, has-tests, smash, integration: kaleidescape

#67824 Bump python-miio version to 0.5.11
  homeassistant/components/xiaomi_miio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: xiaomi_miio, dependency, by-code-owner, dependency-bump

#67641 Revert "Add update integration (#66552)"
  .core_files.yaml
  .strict-typing
  CODEOWNERS
  homeassistant/components/default_config/manifest.json
  homeassistant/components/update/__init__.py
  homeassistant/components/update/manifest.json
  homeassistant/components/update/strings.json
  homeassistant/components/update/translations/ca.json
  homeassistant/components/update/translations/de.json
  homeassistant/components/update/translations/el.json
  homeassistant/components/update/translations/en.json
  homeassistant/components/update/translations/it.json
  homeassistant/components/update/translations/pt-BR.json
  mypy.ini
  tests/components/update/__init__.py
  tests/components/update/test_init.py
Labels: core, cla-signed, small-pr, integration: default_config, has-tests, integration: update

#67834 Remove unused import code from powerview
  homeassistant/components/hunterdouglas_powerview/scene.py
Labels: cla-signed, small-pr, integration: hunterdouglas_powerview, by-code-owner

#67750 Prevent polling from recreating an entity after removal
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
  tests/helpers/test_entity_platform.py
Labels: core, cla-signed, small-pr, smash

#67836 Prevent scene from restoring unavailable states
  homeassistant/components/scene/__init__.py
  tests/components/scene/test_init.py
Labels: core, cla-signed, integration: scene, small-pr, has-tests

#67572 Add media source support to Yamaha MusicCast
  homeassistant/components/yamaha_musiccast/media_player.py
Labels: cla-signed, new-feature, integration: yamaha_musiccast

#67838 2022.3.3
  homeassistant/components/elgato/__init__.py
  homeassistant/components/fritz/common.py
  homeassistant/components/frontend/manifest.json
  homeassistant/components/growatt_server/sensor.py
  homeassistant/components/homekit/type_thermostats.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/scene/__init__.py
  homeassistant/components/sensibo/coordinator.py
  homeassistant/components/shelly/climate.py
  homeassistant/components/xiaomi_miio/manifest.json
  homeassistant/const.py
  homeassistant/helpers/entity.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  setup.cfg
  tests/components/homekit/test_type_thermostats.py
  tests/components/mqtt/test_climate.py
  tests/components/scene/test_init.py
  tests/helpers/test_entity.py
  tests/helpers/test_entity_platform.py
Labels: core, cla-signed, merging-to-master, has-tests

#67761 Modify diagnostics for yale_smart_alarm
  homeassistant/components/yale_smart_alarm/diagnostics.py
Labels: cla-signed, small-pr, integration: yale_smart_alarm, by-code-owner, bugfix, smash

#65403 Fix todoist parsing due dates for calendar events
  CODEOWNERS
  homeassistant/components/todoist/calendar.py
  homeassistant/components/todoist/types.py
  requirements_test_all.txt
  tests/components/todoist/__init__.py
  tests/components/todoist/test_calendar.py
Labels: cla-signed

#67762 Move key sequences to bridge in SamsungTV
  homeassistant/components/samsungtv/bridge.py
  homeassistant/components/samsungtv/media_player.py
  tests/components/samsungtv/test_media_player.py
Labels: cla-signed, integration: samsungtv, has-tests, by-code-owner, code-quality, smash

#66253 Enable basic type checking in upnp
  homeassistant/components/upnp/__init__.py
  homeassistant/components/upnp/binary_sensor.py
  homeassistant/components/upnp/config_flow.py
  homeassistant/components/upnp/device.py
  homeassistant/components/upnp/sensor.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, integration: upnp, code-quality
