Repository home-assistant/core, pull requests merged in 2022-11, with the labels that each got.

#81326 Improve esphome bluetooth error reporting
  homeassistant/components/esphome/bluetooth/client.py
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, dependency, Quality Scale: No score

#81320 Fix Yale Access Bluetooth not being available again after being unavailable
  homeassistant/components/yalexs_ble/__init__.py
  homeassistant/components/yalexs_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: yalexs_ble, Quality Scale: No score

#81205 Only try initializing Hue motion LED on endpoint 2 with ZHA
  homeassistant/components/zha/core/channels/general.py
Labels: Hacktoberfest, cla-signed, integration: zha, small-pr, bugfix, hacktoberfest-accepted, Quality Scale: No score

#81330 Bump python-bsblan to version 0.5.7
  homeassistant/components/bsblan/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, integration: bsblan, dependency-bump, Quality Scale: No score

#80842 Always use Celsius in Shelly integration
  homeassistant/components/shelly/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, by-code-owner, bugfix, hacktoberfest-accepted, Quality Scale: No score

#81339 Bump gcal_sync to 2.2.2 and fix recurring event bug
  homeassistant/components/google/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: google, small-pr, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#81323 Add task id attribute to fireservicerota sensor
  homeassistant/components/fireservicerota/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, by-code-owner, integration: fireservicerota, Quality Scale: No score

#81345 Fix power/energy mixup in Youless
  homeassistant/components/youless/sensor.py
Labels: cla-signed, small-pr, integration: youless, bugfix, Quality Scale: No score

#81343 Update Pillow to 9.3.0
  homeassistant/components/doods/manifest.json
  homeassistant/components/generic/manifest.json
  homeassistant/components/image/manifest.json
  homeassistant/components/proxy/manifest.json
  homeassistant/components/qrcode/manifest.json
  homeassistant/components/seven_segments/manifest.json
  homeassistant/components/sighthound/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, dependency-bump

#81342 Bump aioshelly to 4.1.2
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: shelly, dependency, by-code-owner, bugfix, dependency-bump, Quality Scale: No score

#81311 Tuya configuration for `tuya_manufacturer` cluster
  homeassistant/components/zha/core/channels/manufacturerspecific.py
  homeassistant/components/zha/core/registries.py
  homeassistant/components/zha/select.py
Labels: Hacktoberfest, cla-signed, integration: zha, new-feature, Quality Scale: No score

#81351 Fix individual LED range for ZHA device action
  homeassistant/components/zha/device_action.py
Labels: cla-signed, integration: zha, small-pr, by-code-owner, bugfix, Quality Scale: No score

#81278 Add ability to set device class on knx sensor
  homeassistant/components/knx/schema.py
  homeassistant/components/knx/sensor.py
Labels: Hacktoberfest, cla-signed, integration: knx, small-pr, new-feature, hacktoberfest-accepted, Quality Scale: platinum, code-owner-approved

#81348 Lower log level for non-JSON payload in MQTT update
  homeassistant/components/mqtt/update.py
Labels: core, cla-signed, integration: mqtt, small-pr, bugfix, Quality Scale: No score

#81347 Revert "Do not write state if payload is `''`" for MQTT sensor
  homeassistant/components/mqtt/sensor.py
  tests/components/mqtt/test_sensor.py
Labels: core, cla-signed, integration: mqtt, small-pr, bugfix, Quality Scale: No score

#81358 Bump aiohomekit to 2.2.11
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#81357 Immediately prefer advertisements from alternate sources when a scanner goes away
  homeassistant/components/bluetooth/manager.py
  tests/components/bluetooth/test_manager.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: bluetooth, Quality Scale: internal

#81356 Adjust time to remove stale connectable devices from the esphome ble to closer match bluez
  homeassistant/components/esphome/bluetooth/scanner.py
Labels: cla-signed, small-pr, integration: esphome, bugfix, Quality Scale: No score

#81341 Cherry-pick translation updates for Supervisor
  homeassistant/components/hassio/translations/ca.json
  homeassistant/components/hassio/translations/en.json
  homeassistant/components/hassio/translations/es.json
  homeassistant/components/hassio/translations/et.json
  homeassistant/components/hassio/translations/hu.json
  homeassistant/components/hassio/translations/pt-BR.json
  homeassistant/components/hassio/translations/ru.json
Labels: core, cla-signed, integration: hassio, cherry-picked, merging-to-rc, bugfix, Quality Scale: internal

#81363 Bump zigpy-zigate to 0.10.3
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#81360 Improve error logging of WebSocket API
  homeassistant/components/websocket_api/connection.py
  tests/components/websocket_api/test_connection.py
Labels: core, cla-signed, integration: websocket_api, small-pr, has-tests, code-quality, Quality Scale: internal

#81361 Fix unload race in unifiprotect tests
  tests/components/unifiprotect/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: unifiprotect, Quality Scale: platinum

#81370 Bump bleak-retry-connector to 2.8.2
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#81378 Enable strict typing for NextDNS
  .strict-typing
  mypy.ini
Labels: cla-signed, small-pr, code-quality

#81372 Bump aiohomekit to 2.2.12
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#81386 Bump dbus-fast to 1.61.1
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#81387 Improve supervisor repairs
  homeassistant/components/hassio/repairs.py
  homeassistant/components/hassio/strings.json
  homeassistant/components/hassio/translations/en.json
  tests/components/hassio/test_repairs.py
Labels: core, cla-signed, integration: hassio, has-tests, bugfix, Quality Scale: internal

#81405 Update frontend to 20221102.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency-bump, Quality Scale: internal

#81379 Add unit conversion for energy costs
  homeassistant/components/energy/sensor.py
  tests/components/energy/test_sensor.py
Labels: cla-signed, has-tests, bugfix, integration: energy, Quality Scale: internal

#81399 Use attr in mqtt number
  homeassistant/components/mqtt/number.py
Labels: core, cla-signed, integration: mqtt, small-pr, code-quality, Quality Scale: No score

#81400 Use attr in mqtt humidifier
  homeassistant/components/mqtt/humidifier.py
Labels: core, cla-signed, integration: mqtt, small-pr, code-quality, Quality Scale: No score

#81403 Use attr in mqtt binary sensor and switch
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/switch.py
Labels: core, cla-signed, integration: mqtt, small-pr, code-quality, Quality Scale: No score

#81407 Update adax library to 0.1.5
  homeassistant/components/adax/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: adax, Quality Scale: No score

#81362 Ensure we do not actually create a BleakScanner in the usage test
  tests/components/bluetooth/test_usage.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: bluetooth, Quality Scale: internal

#81395 Update spotipy to 2.21.0
  homeassistant/components/spotify/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: spotify, dependency, by-code-owner, dependency-bump, Quality Scale: silver

#74240 Add config flow to `pushbullet`
  .coveragerc
  CODEOWNERS
  homeassistant/components/pushbullet/__init__.py
  homeassistant/components/pushbullet/api.py
  homeassistant/components/pushbullet/config_flow.py
  homeassistant/components/pushbullet/const.py
  homeassistant/components/pushbullet/manifest.json
  homeassistant/components/pushbullet/notify.py
  homeassistant/components/pushbullet/sensor.py
  homeassistant/components/pushbullet/strings.json
  homeassistant/components/pushbullet/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  tests/components/pushbullet/__init__.py
  tests/components/pushbullet/conftest.py
  tests/components/pushbullet/fixtures/channels.json
  tests/components/pushbullet/fixtures/chats.json
  tests/components/pushbullet/fixtures/user_info.json
  tests/components/pushbullet/test_config_flow.py
  tests/components/pushbullet/test_init.py
  tests/components/pushbullet/test_notify.py
Labels: cla-signed, new-feature, integration: pushbullet, has-tests, code-quality, config-flow, deprecation

#81259 Fix late review comments for Scrape
  homeassistant/components/scrape/__init__.py
  homeassistant/components/scrape/sensor.py
  tests/components/scrape/test_init.py
  tests/components/scrape/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: scrape, has-tests, by-code-owner, bugfix, Quality Scale: No score

#78553 Rework Z-Wave.Me to group entities of one physical devices
  homeassistant/components/zwave_me/__init__.py
  homeassistant/components/zwave_me/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zwave_me/test_remove_stale_devices.py
Labels: cla-signed, small-pr, new-feature, dependency, integration: zwave_me

#81412 Fix Renault charging power sensor
  homeassistant/components/renault/sensor.py
  tests/components/renault/const.py
Labels: breaking-change, cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: renault, Quality Scale: No score

#81419 Cleanup schema validation in scrape sensor
  homeassistant/components/scrape/sensor.py
Labels: cla-signed, small-pr, integration: scrape, by-code-owner, code-quality, Quality Scale: No score

#81402 Use attr in mqtt sensor
  homeassistant/components/mqtt/sensor.py
Labels: core, cla-signed, integration: mqtt, small-pr, code-quality, Quality Scale: No score

#81422 Update frontend to 20221102.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency-bump, Quality Scale: internal

#80523 Improve MQTT type hints part 1
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/button.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, code-quality, hacktoberfest-accepted, Quality Scale: No score

#80529 Improve MQTT type hints part 2
  homeassistant/components/mqtt/camera.py
  homeassistant/components/mqtt/cover.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, code-quality, hacktoberfest-accepted, Quality Scale: No score

#81425 Replace deprecated unit constants in fibaro sensor
  homeassistant/components/fibaro/sensor.py
Labels: cla-signed, small-pr, integration: fibaro, by-code-owner, code-quality, Quality Scale: No score

#81428 Update pysnooz to 0.8.3
  homeassistant/components/snooz/config_flow.py
  homeassistant/components/snooz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/snooz/test_init.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, code-quality, integration: snooz, Quality Scale: No score

#81427 Use 'kWh' as unit for 'IEC_ENERGY_COUNTER'
  homeassistant/components/homematic/sensor.py
Labels: cla-signed, integration: homematic, small-pr, bugfix, Quality Scale: No score

#81441 Skip flume devices with location missing
  homeassistant/components/flume/util.py
Labels: cla-signed, small-pr, integration: flume, by-code-owner, bugfix, Quality Scale: No score

#81451 Add integration_type to gdacs
  homeassistant/components/gdacs/manifest.json
  homeassistant/generated/integrations.json
Labels: cla-signed, small-pr, by-code-owner, integration: gdacs, Quality Scale: platinum

#81440 Fix eight sleep client creation
  homeassistant/components/eight_sleep/__init__.py
Labels: cla-signed, integration: eight_sleep, small-pr, by-code-owner, bugfix, Quality Scale: No score

#72748 Use DataUpdateCoordinator for glances
  .coveragerc
  homeassistant/components/glances/__init__.py
  homeassistant/components/glances/config_flow.py
  homeassistant/components/glances/const.py
  homeassistant/components/glances/coordinator.py
  homeassistant/components/glances/sensor.py
  homeassistant/components/glances/strings.json
  homeassistant/components/glances/translations/en.json
  tests/components/glances/__init__.py
  tests/components/glances/conftest.py
  tests/components/glances/test_config_flow.py
  tests/components/glances/test_init.py
Labels: breaking-change, cla-signed, integration: glances, by-code-owner, code-quality

#81406 Use _attr_ in MQTT climate
  homeassistant/components/mqtt/climate.py
Labels: core, cla-signed, integration: mqtt, code-quality, Quality Scale: No score

#81453 Fix SSDP failure to start on missing URLs
  homeassistant/components/ssdp/__init__.py
Labels: cla-signed, small-pr, integration: ssdp, bugfix, Quality Scale: internal

#81454 Bump aiohomekit to 2.2.14
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, bugfix, dependency-bump, Quality Scale: No score

#81455 Update cryptography to 38.0.3
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#75733 Add HmIP-WGC to homematicip_cloud integration
  homeassistant/components/homematicip_cloud/button.py
  homeassistant/components/homematicip_cloud/const.py
  tests/components/homematicip_cloud/test_button.py
  tests/components/homematicip_cloud/test_device.py
  tests/fixtures/homematicip_cloud.json
Labels: cla-signed, integration: homematicip_cloud, new-feature, has-tests

#81462 Bump dbus-fast 1.64.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#81426 Update energyflip-client dependency to 0.2.2
  homeassistant/components/huisbaasje/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, dependency-bump, integration: huisbaasje, Quality Scale: No score

#80542 Improve MQTT type hints part 3
  homeassistant/components/mqtt/debug_info.py
  homeassistant/components/mqtt/device_automation.py
  homeassistant/components/mqtt/device_trigger.py
  homeassistant/components/mqtt/fan.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, code-quality, hacktoberfest-accepted, Quality Scale: No score

#81473 Fix HomeKit thermostat to take priority over fans
  homeassistant/components/homekit/type_thermostats.py
Labels: cla-signed, small-pr, integration: homekit, by-code-owner, bugfix, Quality Scale: No score

#81479 Bump AIOAladdinConnect to 0.1.47
  homeassistant/components/aladdin_connect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: aladdin_connect, dependency, by-code-owner, bugfix, dependency-bump, Quality Scale: No score

#81488 2022.11.1
  homeassistant/components/aladdin_connect/manifest.json
  homeassistant/components/eight_sleep/__init__.py
  homeassistant/components/flume/util.py
  homeassistant/components/homekit/type_thermostats.py
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/huisbaasje/manifest.json
  homeassistant/components/snooz/config_flow.py
  homeassistant/components/snooz/manifest.json
  homeassistant/components/ssdp/__init__.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/snooz/test_init.py
Labels: core, cla-signed, merging-to-master, small-pr, has-tests

#81491 Bump oralb-ble to 0.10.1
  homeassistant/components/oralb/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, dependency-bump, Quality Scale: No score, integration: oralb

#76999 Add air-Q integration (air quality sensors)
  .coveragerc
  CODEOWNERS
  homeassistant/components/airq/__init__.py
  homeassistant/components/airq/config_flow.py
  homeassistant/components/airq/const.py
  homeassistant/components/airq/manifest.json
  homeassistant/components/airq/sensor.py
  homeassistant/components/airq/strings.json
  homeassistant/components/airq/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/airq/__init__.py
  tests/components/airq/test_config_flow.py
Labels: cla-signed, new-integration, has-tests, integration: airq

#81252 Fix errant reference to "Solar.Forecast" in "Forecast.Solar" config options
  homeassistant/components/forecast_solar/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, bugfix, hacktoberfest-accepted, integration: forecast_solar, Quality Scale: platinum, code-owner-approved

#81517 Bump dbus-fast to 1.67.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#78659 Add Overkiz AtlanticPassAPCHeatingAndCoolingZone
  homeassistant/components/overkiz/climate_entities/__init__.py
  homeassistant/components/overkiz/climate_entities/atlantic_pass_apc_heating_and_cooling_zone.py
  homeassistant/components/overkiz/const.py
  homeassistant/components/overkiz/entity.py
Labels: cla-signed, new-feature, integration: overkiz

#78665 Add Overkiz AtlanticPassAPCDHW
  .coveragerc
  homeassistant/components/overkiz/const.py
  homeassistant/components/overkiz/water_heater.py
  homeassistant/components/overkiz/water_heater_entities/__init__.py
  homeassistant/components/overkiz/water_heater_entities/atlantic_pass_apc_dhw.py
Labels: cla-signed, new-feature, new-integration, integration: overkiz, smash

#81537 Bump oralb-ble to 0.10.2
  homeassistant/components/oralb/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, Quality Scale: No score, integration: oralb

#81218 Add Tuya Backlight mode configuration
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/select.py
Labels: Hacktoberfest, cla-signed, integration: zha, small-pr, new-feature, hacktoberfest-accepted, Quality Scale: No score

#81541 Bump dbus-fast to 1.71.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#81564 Fix Shelly Plus HT missing battery entity
  homeassistant/components/shelly/sensor.py
  homeassistant/components/shelly/utils.py
Labels: cla-signed, small-pr, integration: shelly, by-code-owner, bugfix, Quality Scale: No score

#81591 Use enums instead of deprecated constants
  homeassistant/components/eight_sleep/sensor.py
  homeassistant/components/tomorrowio/sensor.py
  homeassistant/components/tomorrowio/weather.py
  homeassistant/components/zwave_js/climate.py
  homeassistant/components/zwave_js/discovery_data_template.py
Labels: cla-signed, integration: eight_sleep, by-code-owner, code-quality, integration: zwave_js, integration: tomorrowio, Quality Scale: No score

#81576 Bump bluetooth-adapters to 0.7.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#81548 Add integration_type to geonetnz_quakes
  homeassistant/components/geonetnz_quakes/manifest.json
  homeassistant/generated/integrations.json
Labels: cla-signed, small-pr, integration: geonetnz_quakes, by-code-owner, Quality Scale: platinum

#81604 Fix invalid min and max color temp in bad ZHA light devices
  homeassistant/components/zha/core/channels/lighting.py
  tests/components/zha/test_light.py
Labels: cla-signed, integration: zha, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#81474 Bump nexia to 2.0.6
  homeassistant/components/nexia/entity.py
  homeassistant/components/nexia/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: nexia, by-code-owner, Quality Scale: No score

#81528 Add additional coverage for adding multiple elkm1 instances
  tests/components/elkm1/test_config_flow.py
Labels: cla-signed, small-pr, integration: elkm1, has-tests, by-code-owner, code-quality, Quality Scale: No score

#81572 Bump pylitterbot to 2022.11.0
  homeassistant/components/litterrobot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: litterrobot, Quality Scale: No score

#81556 Bump pyairvisual to 2022.11.1
  homeassistant/components/airvisual/__init__.py
  homeassistant/components/airvisual/config_flow.py
  homeassistant/components/airvisual/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/airvisual/test_config_flow.py
Labels: cla-signed, small-pr, integration: airvisual, by-code-owner, bugfix, dependency-bump, Quality Scale: No score

#81629 Fix situation where deCONZ sensor platform setup would fail
  homeassistant/components/deconz/sensor.py
Labels: cla-signed, integration: deconz, small-pr, by-code-owner, bugfix, Quality Scale: platinum

#81612 Bump plugwise to v0.25.7
  homeassistant/components/plugwise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: plugwise, dependency, by-code-owner, bugfix, dependency-bump, Quality Scale: No score

#81463 Align esphome ble client notify behavior to match BlueZ
  homeassistant/components/esphome/bluetooth/client.py
Labels: cla-signed, small-pr, integration: esphome, bugfix, Quality Scale: No score

#81621 Bump aiohomekit to 2.2.16
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#81515 Fix lifx.set_state so it works with kelvin and color_temp_kelvin and color names
  homeassistant/components/lifx/util.py
  tests/components/lifx/test_light.py
Labels: cla-signed, small-pr, integration: lifx, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#81611 Fix repeating SSDP errors by checking address scope_ids and proper hostname
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/components/dlna_dms/manifest.json
  homeassistant/components/samsungtv/manifest.json
  homeassistant/components/ssdp/manifest.json
  homeassistant/components/upnp/manifest.json
  homeassistant/components/yeelight/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: upnp, small-pr, integration: yeelight, integration: dlna_dmr, integration: samsungtv, integration: ssdp, dependency, by-code-owner, dependency-bump, integration: dlna_dms, Quality Scale: No score, Quality Scale: internal, Quality Scale: platinum

#81562 Bump gcal_sync to 4.0.0
  homeassistant/components/google/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/google/test_config_flow.py
  tests/components/google/test_init.py
Labels: cla-signed, integration: google, small-pr, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#81636 Bump pyatmo to 7.4.0
  homeassistant/components/netatmo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: integration: netatmo, cla-signed, small-pr, by-code-owner, dependency-bump, Quality Scale: No score

#81622 Bump oralb-ble to 0.13.0
  homeassistant/components/oralb/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, Quality Scale: No score, integration: oralb

#81603 Bump PyXiaomiGateway to 0.14.3
  homeassistant/components/xiaomi_aqara/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, bugfix, dependency-bump

#81570 Fix watermeter issue for old P1 Monitor versions
  homeassistant/components/p1_monitor/__init__.py
  homeassistant/components/p1_monitor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: p1_monitor, Quality Scale: platinum

#81574 Bump dbus-fast to 1.72.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#81658 Add repair warning about UniFi Protect Early Access
  homeassistant/components/unifiprotect/__init__.py
  homeassistant/components/unifiprotect/strings.json
  homeassistant/components/unifiprotect/translations/en.json
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: unifiprotect, Quality Scale: platinum

#81657 Bump aiohomekit to 2.2.17
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#81630 Add missing h2 dep to iaqualink
  homeassistant/components/iaqualink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: iaqualink, dependency-bump, Quality Scale: No score

#81673 Fix missing RainMachine restrictions switches
  homeassistant/components/rainmachine/switch.py
Labels: cla-signed, small-pr, integration: rainmachine, by-code-owner, bugfix, Quality Scale: No score

#81602 Always use Celsius in Shelly integration, part 2
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/sensor.py
  homeassistant/components/shelly/utils.py
Labels: cla-signed, small-pr, integration: shelly, by-code-owner, bugfix, Quality Scale: No score

#81644 Fix Bravia TV options flow when device is off
  homeassistant/components/braviatv/config_flow.py
  homeassistant/components/braviatv/strings.json
  homeassistant/components/braviatv/translations/en.json
Labels: cla-signed, small-pr, integration: braviatv, by-code-owner, bugfix, Quality Scale: No score

#81676 Bump aioesphomeapi to 11.4.3
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, dependency-bump, Quality Scale: No score

#81675 Bump bleak-retry-connector to 2.8.3
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#81693 Bump aiohomekit to 2.2.18
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#81689 Restore negative values for shelly power factors
  homeassistant/components/shelly/sensor.py
Labels: cla-signed, small-pr, integration: shelly, by-code-owner, bugfix, Quality Scale: No score

#81688 Bump bleak to 0.19.2
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#81635 Fix nuheat temporary hold time
  CODEOWNERS
  homeassistant/components/nuheat/climate.py
  homeassistant/components/nuheat/const.py
  homeassistant/components/nuheat/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nuheat/test_climate.py
Labels: cla-signed, integration: nuheat, small-pr, dependency, dependency-bump, Quality Scale: No score

#80971 Improve MQTT type hints part 4
  homeassistant/components/mqtt/humidifier.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/number.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, hacktoberfest-accepted, Quality Scale: No score

#81607 Add integration_type to geonetnz_volcano
  homeassistant/components/geonetnz_volcano/manifest.json
  homeassistant/generated/integrations.json
Labels: cla-signed, small-pr, integration: geonetnz_volcano, by-code-owner, Quality Scale: No score

#81682 Upgrade prettier to v2.7.1
  .pre-commit-config.yaml
Labels: cla-signed, small-pr, dependency

#81308 Add type hints to template helper
  homeassistant/helpers/template.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#81352 Accept input register in Modbus binary sensor
  homeassistant/components/modbus/__init__.py
  tests/components/modbus/test_binary_sensor.py
Labels: cla-signed, integration: modbus, small-pr, new-feature, Quality Scale: gold

#81695 Fix flapping logbook tests
  tests/components/logbook/test_websocket_api.py
Labels: core, cla-signed, integration: logbook, small-pr, has-tests, bugfix, Quality Scale: internal

#81690 Fix use of deprecated device.rssi in bluetooth scanner
  homeassistant/components/bluetooth/scanner.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: bluetooth, Quality Scale: internal

#81627 Fix creating multiple ElkM1 systems with TLS 1.2
  homeassistant/components/elkm1/__init__.py
  homeassistant/components/elkm1/config_flow.py
  tests/components/elkm1/test_config_flow.py
Labels: cla-signed, small-pr, integration: elkm1, has-tests, by-code-owner, bugfix, Quality Scale: No score

#81694 Bump aiopyarr to 22.11.0
  homeassistant/components/lidarr/manifest.json
  homeassistant/components/radarr/manifest.json
  homeassistant/components/sonarr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: sonarr, integration: radarr, dependency, by-code-owner, dependency-bump, integration: lidarr, Quality Scale: No score, Quality Scale: silver

#81587 Bump ZHA quirks and associated changes
  homeassistant/components/zha/core/channels/manufacturerspecific.py
  homeassistant/components/zha/device_action.py
  homeassistant/components/zha/manifest.json
  homeassistant/components/zha/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zha/test_device_action.py
Labels: cla-signed, integration: zha, has-tests, dependency, by-code-owner, Quality Scale: No score

#81553 Adjust payload sentinel in mqtt
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/models.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/vacuum/schema_legacy.py
Labels: core, cla-signed, integration: mqtt, code-quality, Quality Scale: No score

#81306 Modernize rest switch tests
  tests/components/rest/test_switch.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: rest, has-tests, code-quality, Quality Scale: No score

#81307 Add type hints to rest switch
  homeassistant/components/rest/switch.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: rest, code-quality, Quality Scale: No score

#76863 Add livisi integration
  CODEOWNERS
  homeassistant/components/livisi/__init__.py
  homeassistant/components/livisi/config_flow.py
  homeassistant/components/livisi/const.py
  homeassistant/components/livisi/coordinator.py
  homeassistant/components/livisi/manifest.json
  homeassistant/components/livisi/strings.json
  homeassistant/components/livisi/switch.py
  homeassistant/components/livisi/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/livisi/__init__.py
  tests/components/livisi/test_config_flow.py
Labels: cla-signed, new-integration, has-tests, integration: livisi

#81520 Add TI router transmit power config entity to ZHA
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/number.py
Labels: cla-signed, integration: zha, small-pr, new-feature, Quality Scale: No score

#79566 Add Brandt, Hexaom, SIMU & Ubiwizz as virtuals integrations of Overkiz
  homeassistant/components/brandt/__init__.py
  homeassistant/components/brandt/manifest.json
  homeassistant/components/hexaom/__init__.py
  homeassistant/components/hexaom/manifest.json
  homeassistant/components/simu/__init__.py
  homeassistant/components/simu/manifest.json
  homeassistant/components/ubiwizz/__init__.py
  homeassistant/components/ubiwizz/manifest.json
  homeassistant/generated/integrations.json
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, dependency-bump, hacktoberfest-accepted, integration: overkiz

#81725 Pass explict time in logbook tests
  tests/components/logbook/test_init.py
Labels: core, cla-signed, integration: logbook, small-pr, has-tests, bugfix, Quality Scale: internal

#81514 Validate matcher field case in `usb.async_is_plugged_in`
  homeassistant/components/usb/__init__.py
  tests/components/usb/test_init.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: usb, Quality Scale: internal

#81522 Enable SkyConnect config flow and use correct case in USB matching
  homeassistant/components/homeassistant_sky_connect/__init__.py
  homeassistant/components/homeassistant_sky_connect/manifest.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/usb.py
  tests/components/homeassistant_sky_connect/test_init.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: homeassistant_sky_connect, Quality Scale: No score

#81616 Align MQTT config entry setup strings with option flow
  homeassistant/components/mqtt/strings.json
  homeassistant/components/mqtt/translations/en.json
Labels: core, cla-signed, integration: mqtt, small-pr, bugfix, Quality Scale: No score

#81732 Bump pyunifiprotect to 4.4.1
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: unifiprotect, Quality Scale: platinum

#81714 Use location info helper for IP in Cloudflare DNS
  homeassistant/components/cloudflare/__init__.py
  tests/components/cloudflare/test_init.py
Labels: breaking-change, cla-signed, integration: cloudflare, small-pr, has-tests, by-code-owner, Quality Scale: No score

#81499 Add integration_type for some integrations
  homeassistant/components/deluge/manifest.json
  homeassistant/components/discord/manifest.json
  homeassistant/components/efergy/manifest.json
  homeassistant/components/goalzero/manifest.json
  homeassistant/components/google_sheets/manifest.json
  homeassistant/components/lidarr/manifest.json
  homeassistant/components/litterrobot/manifest.json
  homeassistant/components/modem_callerid/manifest.json
  homeassistant/components/nfandroidtv/manifest.json
  homeassistant/components/radarr/manifest.json
  homeassistant/components/skybell/manifest.json
  homeassistant/components/steam_online/manifest.json
  homeassistant/components/tautulli/manifest.json
  homeassistant/generated/integrations.json
Labels: cla-signed, small-pr, new-feature

#81589 Add measurement state class to eight_sleep sensors
  homeassistant/components/eight_sleep/sensor.py
Labels: cla-signed, integration: eight_sleep, small-pr, new-feature, by-code-owner, Quality Scale: No score

#81620 Ignore unspecified addresses from zeroconf
  homeassistant/components/zeroconf/__init__.py
  tests/components/zeroconf/test_init.py
Labels: cla-signed, integration: zeroconf, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: internal

#72790 Add Overkiz AtlanticElectricalHeaterWithAdjustableTemperatureSetpoint
  homeassistant/components/overkiz/climate_entities/__init__.py
  homeassistant/components/overkiz/climate_entities/atlantic_electrical_heater_with_adjustable_temperature_setpoint.py
  homeassistant/components/overkiz/const.py
Labels: cla-signed, new-feature, by-code-owner, integration: overkiz

#81753 Fix check for duplicate config entry reauth when context is passed or augmented
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: core, cla-signed, small-pr, bugfix

#81727 Remove JonGilmore from lutron codeowners
  CODEOWNERS
  homeassistant/components/lutron/manifest.json
Labels: integration: lutron, cla-signed, small-pr, by-code-owner, dependency-bump, Quality Scale: No score

#81717 Create repairs issue if an outdated currency code is configured
  .pre-commit-config.yaml
  homeassistant/components/homeassistant/strings.json
  homeassistant/config.py
  homeassistant/generated/currencies.py
  homeassistant/helpers/config_validation.py
  script/currencies.py
  tests/helpers/test_config_validation.py
  tests/test_config.py
Labels: core, cla-signed, integration: homeassistant, Quality Scale: internal

#81680 UniFi switch entity description
  homeassistant/components/unifi/diagnostics.py
  homeassistant/components/unifi/switch.py
  tests/components/unifi/test_diagnostics.py
Labels: cla-signed, integration: unifi, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#81749 Remove old UniFi POE client implementation
  homeassistant/components/unifi/__init__.py
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/const.py
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/switch.py
  tests/components/unifi/test_config_flow.py
  tests/components/unifi/test_switch.py
Labels: breaking-change, cla-signed, small-pr, integration: unifi, has-tests, by-code-owner, Quality Scale: platinum

#81396 Improve type hints for MQTT climate
  homeassistant/components/mqtt/climate.py
Labels: core, cla-signed, integration: mqtt, code-quality, Quality Scale: No score

#81495 Add type hints for MQTT tag
  homeassistant/components/mqtt/tag.py
Labels: core, cla-signed, integration: mqtt, small-pr, code-quality, Quality Scale: No score

#81465 Use `_attr_` for MQTT light
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_json.py
  homeassistant/components/mqtt/light/schema_template.py
Labels: core, cla-signed, integration: mqtt, code-quality, Quality Scale: No score

#81298 Fix coordinator TypeVar definition
  homeassistant/helpers/update_coordinator.py
Labels: Hacktoberfest, core, cla-signed, small-pr, bugfix

#80557 Support for direct modbus connection to nibe pumps
  homeassistant/components/nibe_heatpump/__init__.py
  homeassistant/components/nibe_heatpump/config_flow.py
  homeassistant/components/nibe_heatpump/const.py
  homeassistant/components/nibe_heatpump/manifest.json
  homeassistant/components/nibe_heatpump/number.py
  homeassistant/components/nibe_heatpump/select.py
  homeassistant/components/nibe_heatpump/strings.json
  homeassistant/components/nibe_heatpump/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nibe_heatpump/test_config_flow.py
Labels: Hacktoberfest, cla-signed, new-feature, has-tests, dependency, by-code-owner, hacktoberfest-accepted, integration: nibe_heatpump, Quality Scale: No score

#81573 Fix HomeKit reset accessory procedure
  homeassistant/components/homekit/__init__.py
Labels: cla-signed, small-pr, integration: homekit, by-code-owner, bugfix, Quality Scale: No score

#81586 Ensure HomeKit temperature controls appear before fan controls on thermostat accessories
  homeassistant/components/homekit/type_thermostats.py
Labels: cla-signed, small-pr, integration: homekit, by-code-owner, Quality Scale: No score

#81613 Fix homekit bridge iid allocations
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/diagnostics.py
  homeassistant/components/homekit/iidmanager.py
  tests/components/homekit/conftest.py
  tests/components/homekit/fixtures/iids_v1
  tests/components/homekit/fixtures/iids_v1_with_underscore
  tests/components/homekit/fixtures/iids_v2
  tests/components/homekit/fixtures/iids_v2_with_underscore
  tests/components/homekit/test_accessories.py
  tests/components/homekit/test_diagnostics.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_iidmanager.py
Labels: cla-signed, integration: homekit, by-code-owner, bugfix, Quality Scale: No score

#81723 Adjust REST schema validation
  homeassistant/components/rest/schema.py
  tests/components/rest/test_init.py
Labels: cla-signed, small-pr, integration: rest, has-tests, bugfix, Quality Scale: No score

#81757 Use more efficient async_progress_by_handler call in async_start_reauth
  homeassistant/config_entries.py
Labels: core, cla-signed, small-pr, code-quality

#81761 Partially revert google local sync for search cases
  homeassistant/components/google/calendar.py
Labels: cla-signed, integration: google, by-code-owner, bugfix, Quality Scale: No score

#81776 Bump pycfdns from 1.2.2 to 2.0.0
  homeassistant/components/cloudflare/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: cloudflare, small-pr, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#80979 Improve MQTT type hints part 5
  homeassistant/components/mqtt/scene.py
  homeassistant/components/mqtt/select.py
  homeassistant/components/mqtt/sensor.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, code-quality, hacktoberfest-accepted, Quality Scale: No score

#81001 Improve MQTT type hints part 6
  homeassistant/components/mqtt/siren.py
  homeassistant/components/mqtt/switch.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, code-quality, hacktoberfest-accepted, Quality Scale: No score

#81784 Fix rest import
  tests/components/rest/test_init.py
Labels: cla-signed, cherry-picked, small-pr, integration: rest, has-tests, merging-to-rc, bugfix, Quality Scale: No score
