Repository home-assistant/core, pull requests merged in 2022-09, with the labels that each got.

#77631 Bump melnor-bluetooth to 0.0.15
  homeassistant/components/melnor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, dependency-bump, integration: melnor

#75026 Required config_flow values for here_travel_time
  homeassistant/components/here_travel_time/config_flow.py
  homeassistant/components/here_travel_time/const.py
Labels: cla-signed, integration: here_travel_time, by-code-owner, bugfix, smash

#77288 Suppress 404 in Bravia TV
  homeassistant/components/braviatv/coordinator.py
Labels: cla-signed, small-pr, integration: braviatv, by-code-owner, bugfix, smash

#77629 Bump bleak to 0.16.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth

#77635 2022.10.0.dev0
  homeassistant/const.py
  pyproject.toml
Labels: core, cla-signed, small-pr

#77647 Adjust notify type hints in mysensors
  homeassistant/components/mysensors/notify.py
Labels: cla-signed, integration: mysensors, small-pr, code-quality

#77651 Required option_flow values for here_travel_time
  homeassistant/components/here_travel_time/config_flow.py
Labels: cla-signed, integration: here_travel_time, by-code-owner, bugfix

#77644 Bump ci env HA_SHORT_VERSION
  .github/workflows/ci.yaml
Labels: cla-signed, small-pr

#77595 Fix basic browse_media support in forked-daapd
  homeassistant/components/forked_daapd/const.py
  homeassistant/components/forked_daapd/media_player.py
Labels: cla-signed, by-code-owner, integration: forked_daapd, bugfix, smash

#77636 Fix timezone edge cases for Unifi Protect media source
  homeassistant/components/unifiprotect/media_source.py
  tests/components/unifiprotect/test_media_source.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: unifiprotect

#77624 Add and remove Snapcast client/group callbacks properly
  homeassistant/components/snapcast/media_player.py
Labels: cla-signed, small-pr, integration: snapcast, second-opinion-wanted, bugfix, smash

#77666 Add device class moisture
  homeassistant/components/sensor/__init__.py
  homeassistant/components/sensor/device_condition.py
  homeassistant/components/sensor/device_trigger.py
  homeassistant/components/sensor/strings.json
  tests/components/sensor/test_device_condition.py
  tests/components/sensor/test_device_trigger.py
  tests/testing_config/custom_components/test/sensor.py
Labels: core, cla-signed, small-pr, new-feature, integration: sensor, has-tests

#77668 Include entity registry id in entity registry WS API
  homeassistant/components/config/entity_registry.py
  tests/components/config/test_entity_registry.py
Labels: core, cla-signed, integration: config, small-pr, has-tests

#77670 Fix async_all_discovered_devices(False) to return connectable and unconnectable devices
  homeassistant/components/bluetooth/manager.py
Labels: cla-signed, small-pr, bugfix, integration: bluetooth

#77619 Increase sleep in Risco setup
  homeassistant/components/risco/__init__.py
  homeassistant/components/risco/config_flow.py
  homeassistant/components/risco/const.py
  homeassistant/components/risco/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/risco/test_alarm_control_panel.py
  tests/components/risco/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: risco

#77605 Code quality improvements for litterrobot integration
  homeassistant/components/litterrobot/button.py
  homeassistant/components/litterrobot/entity.py
  homeassistant/components/litterrobot/select.py
  homeassistant/components/litterrobot/sensor.py
  homeassistant/components/litterrobot/switch.py
  homeassistant/components/litterrobot/vacuum.py
  tests/components/litterrobot/test_vacuum.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: litterrobot

#77665 Fix demo external energy statistics
  homeassistant/components/demo/__init__.py
  tests/components/demo/test_init.py
Labels: core, cla-signed, integration: demo, small-pr, has-tests, bugfix

#77677 Ensure unique id is set for esphome when setup via user flow
  homeassistant/components/esphome/__init__.py
  homeassistant/components/esphome/config_flow.py
  tests/components/esphome/test_config_flow.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, bugfix

#77673 Bump pySwitchbot to 0.18.22
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, dependency, by-code-owner, dependency-bump

#77679 Pin Pandas 1.4.3
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr

#77676 Migrate ZHA lighting to use newer zigpy ZCL request syntax
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/light.py
  tests/components/zha/test_discover.py
  tests/components/zha/test_light.py
Labels: cla-signed, integration: zha, has-tests, by-code-owner, code-quality

#77674 Cleanup IPMA code
  homeassistant/components/ipma/config_flow.py
  tests/components/ipma/test_config_flow.py
Labels: cla-signed, small-pr, integration: ipma, has-tests, by-code-owner, code-quality

#77535 Add binary sensor platform to LIFX integration
  homeassistant/components/lifx/__init__.py
  homeassistant/components/lifx/binary_sensor.py
  homeassistant/components/lifx/const.py
  homeassistant/components/lifx/coordinator.py
  homeassistant/components/lifx/light.py
  tests/components/lifx/__init__.py
  tests/components/lifx/test_binary_sensor.py
Labels: new-platform, cla-signed, new-feature, integration: lifx, has-tests, by-code-owner, smash

#77672 bump pynetgear to 0.10.8
  homeassistant/components/netgear/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: netgear, dependency, by-code-owner, bugfix, dependency-bump

#77683 Bump bluetooth-adapters to 0.3.3
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth

#77621 Move up setup of service to make it more robust when running multiple instances of deCONZ
  homeassistant/components/deconz/__init__.py
Labels: cla-signed, integration: deconz, small-pr, by-code-owner, bugfix

#77660 Time range should be treated as open ended
  homeassistant/components/schedule/__init__.py
  tests/components/schedule/test_init.py
Labels: cla-signed, small-pr, integration: schedule, has-tests, bugfix

#77696 Tweak schedule test
  tests/components/schedule/test_init.py
Labels: cla-signed, small-pr, integration: schedule, has-tests, code-quality

#77659 Improve some device registry tests
  homeassistant/components/config/device_registry.py
  homeassistant/helpers/device_registry.py
  tests/components/config/test_device_registry.py
  tests/helpers/test_device_registry.py
Labels: core, cla-signed, code-quality

#77700 Remove area_id from entity_registry.async_get_or_create
  homeassistant/helpers/entity_registry.py
  tests/components/cloud/test_google_config.py
  tests/components/google_assistant/test_smart_home.py
  tests/helpers/test_entity_registry.py
  tests/helpers/test_template.py
Labels: core, cla-signed, small-pr

#77711 Rename the binary sensor to better reflect its purpose
  homeassistant/components/lifx/binary_sensor.py
Labels: cla-signed, small-pr, integration: lifx, by-code-owner, code-quality

#77719 Change zwave_js firmware update service API key
  homeassistant/components/zwave_js/const.py
Labels: cla-signed, small-pr, bugfix, integration: zwave_js

#76089 Fix reload of MQTT config entries
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/client.py
  homeassistant/components/mqtt/const.py
  homeassistant/components/mqtt/mixins.py
  tests/components/mqtt/test_device_trigger.py
Labels: core, cla-signed, integration: mqtt, small-pr, bugfix

#77716 Remove unnecessary use of dunder methods from entity registry
  homeassistant/helpers/entity_registry.py
Labels: core, cla-signed, small-pr, code-quality

#77705 Bump bluetooth-adapters to 3.3.4
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, by-code-owner, dependency-bump, integration: bluetooth

#77682 Adjust litterrobot platform loading/unloading
  homeassistant/components/litterrobot/__init__.py
  tests/components/litterrobot/conftest.py
  tests/components/litterrobot/test_vacuum.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: litterrobot, smash

#77714 Remove useless device_registry test
  tests/helpers/test_device_registry.py
Labels: core, cla-signed, small-pr, code-quality

#76714 Register xiaomi_miio unload callbacks later in setup
  homeassistant/components/xiaomi_miio/__init__.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, by-code-owner, bugfix

#77734 Bump frontend to 20220902.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency, dependency-bump

#50913 Add Nobø Ecohub integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/nobo_hub/__init__.py
  homeassistant/components/nobo_hub/climate.py
  homeassistant/components/nobo_hub/config_flow.py
  homeassistant/components/nobo_hub/const.py
  homeassistant/components/nobo_hub/manifest.json
  homeassistant/components/nobo_hub/strings.json
  homeassistant/components/nobo_hub/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nobo_hub/__init__.py
  tests/components/nobo_hub/test_config_flow.py
Labels: cla-signed, new-integration, has-tests, integration: nobo_hub

#77218 Convert platform in iss integration
  .coveragerc
  homeassistant/components/iss/__init__.py
  homeassistant/components/iss/config_flow.py
  homeassistant/components/iss/sensor.py
  tests/components/iss/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, integration: iss, by-code-owner, bugfix, smash

#77715 Simplify device registry
  homeassistant/helpers/device_registry.py
  tests/common.py
Labels: core, cla-signed

#77703 Add mixin class CollectionEntity for the collection helper
  homeassistant/components/counter/__init__.py
  homeassistant/components/input_boolean/__init__.py
  homeassistant/components/input_button/__init__.py
  homeassistant/components/input_datetime/__init__.py
  homeassistant/components/input_number/__init__.py
  homeassistant/components/input_select/__init__.py
  homeassistant/components/input_text/__init__.py
  homeassistant/components/person/__init__.py
  homeassistant/components/schedule/__init__.py
  homeassistant/components/timer/__init__.py
  homeassistant/components/zone/__init__.py
  homeassistant/helpers/collection.py
  tests/components/timer/test_init.py
  tests/helpers/test_collection.py
Labels: core, cla-signed, code-quality

#77750 Use hass.config_entries.async_setup in mqtt test
  tests/components/mqtt/test_device_trigger.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, code-quality

#77753 Fix upgrade api disabling during setup of Synology DSM
  homeassistant/components/synology_dsm/common.py
Labels: cla-signed, small-pr, by-code-owner, integration: synology_dsm, bugfix

#76688 Enhance operating time sensor in Overkiz integration
  homeassistant/components/overkiz/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: overkiz

#77763 Handle dead nodes in zwave_js update entity
  homeassistant/components/zwave_js/update.py
  tests/components/zwave_js/test_update.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: zwave_js

#77626 Fix setting and reading percentage for MIOT based fans
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/fan.py
Labels: cla-signed, integration: xiaomi_miio

#77732 Refactor zwave_js event handling
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/const.py
Labels: cla-signed, integration: zwave_js

#77762 Increase default august timeout
  homeassistant/components/august/const.py
Labels: cla-signed, integration: august, small-pr, by-code-owner, bugfix

#77778 Address late review in Overkiz (add duration device class)
  homeassistant/components/overkiz/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: overkiz

#76694 Add goToAlias button (my position) to Overkiz integration
  homeassistant/components/overkiz/button.py
Labels: cla-signed, new-feature, by-code-owner, integration: overkiz

#74015 Add support for AtlanticHeatRecoveryVentilation to Overkiz integration
  homeassistant/components/overkiz/climate_entities/__init__.py
  homeassistant/components/overkiz/climate_entities/atlantic_heat_recovery_ventilation.py
  homeassistant/components/overkiz/const.py
Labels: cla-signed, new-feature, by-code-owner, integration: overkiz

#77758 Add BlueMaestro integration
  CODEOWNERS
  homeassistant/components/bluemaestro/__init__.py
  homeassistant/components/bluemaestro/config_flow.py
  homeassistant/components/bluemaestro/const.py
  homeassistant/components/bluemaestro/device.py
  homeassistant/components/bluemaestro/manifest.json
  homeassistant/components/bluemaestro/sensor.py
  homeassistant/components/bluemaestro/strings.json
  homeassistant/components/bluemaestro/translations/en.json
  homeassistant/generated/bluetooth.py
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bluemaestro/__init__.py
  tests/components/bluemaestro/conftest.py
  tests/components/bluemaestro/test_config_flow.py
  tests/components/bluemaestro/test_sensor.py
Labels: cla-signed, new-integration, has-tests, integration: bluemaestro

#77773 Tweak unique id formatting for Melnor Bluetooth switches
  homeassistant/components/melnor/switch.py
Labels: cla-signed, small-pr, by-code-owner, integration: melnor

#76690 Add Boost/Away mode duration to Overkiz integration
  homeassistant/components/overkiz/number.py
Labels: cla-signed, new-feature, by-code-owner, integration: overkiz

#77766 Update smarttub to 0.0.33
  homeassistant/components/smarttub/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: smarttub

#77770 Fix lifx service call interference
  homeassistant/components/lifx/coordinator.py
  homeassistant/components/lifx/light.py
  tests/components/lifx/conftest.py
  tests/components/lifx/test_button.py
  tests/components/lifx/test_light.py
Labels: cla-signed, small-pr, integration: lifx, by-code-owner, bugfix

#77787 Bump flux_led to 0.28.32
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: flux_led, dependency, by-code-owner, dependency-bump

#77790 Bump pysensibo to 1.0.19
  homeassistant/components/sensibo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: sensibo, dependency, by-code-owner, dependency-bump

#77576 Expose battery and rssi sensors in Melnor Bluetooth integration
  homeassistant/components/melnor/__init__.py
  homeassistant/components/melnor/models.py
  homeassistant/components/melnor/sensor.py
  homeassistant/components/melnor/switch.py
  tests/components/melnor/__init__.py
  tests/components/melnor/conftest.py
  tests/components/melnor/test_config_flow.py
  tests/components/melnor/test_sensor.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, smash, integration: melnor

#77788 Bump led-ble to 0.6.0
  homeassistant/components/led_ble/manifest.json
  homeassistant/generated/bluetooth.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: led_ble

#77768 Replace archived sucks by py-sucks and bump to 0.9.8 for Ecovacs integration
  CODEOWNERS
  homeassistant/components/ecovacs/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: ecovacs, dependency, dependency-bump

#73592 Mill 3. gen add support for PRECISION_HALVES
  homeassistant/components/mill/climate.py
Labels: cla-signed, small-pr, new-feature, integration: mill, smash

#74437 Sensibo clean code
  homeassistant/components/sensibo/__init__.py
  homeassistant/components/sensibo/binary_sensor.py
  homeassistant/components/sensibo/button.py
  homeassistant/components/sensibo/climate.py
  homeassistant/components/sensibo/config_flow.py
  homeassistant/components/sensibo/coordinator.py
  homeassistant/components/sensibo/diagnostics.py
  homeassistant/components/sensibo/entity.py
  homeassistant/components/sensibo/number.py
  homeassistant/components/sensibo/select.py
  homeassistant/components/sensibo/sensor.py
  homeassistant/components/sensibo/strings.json
  homeassistant/components/sensibo/switch.py
  homeassistant/components/sensibo/translations/en.json
  homeassistant/components/sensibo/util.py
  tests/components/sensibo/test_button.py
  tests/components/sensibo/test_climate.py
  tests/components/sensibo/test_entity.py
  tests/components/sensibo/test_switch.py
Labels: cla-signed, integration: sensibo, has-tests, by-code-owner, code-quality

#77797 Bump yale_smart_alarm_client to 0.3.9
  homeassistant/components/yale_smart_alarm/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: yale_smart_alarm, dependency, by-code-owner, dependency-bump

#77653 Improve type hints in kodi media player
  homeassistant/components/kodi/media_player.py
Labels: cla-signed, small-pr, integration: kodi, code-quality

#77648 Improve type hints in file and huawei_lte notify
  homeassistant/components/file/notify.py
  homeassistant/components/huawei_lte/notify.py
Labels: cla-signed, small-pr, integration: huawei_lte, integration: file, code-quality, smash

#77657 Improve type hints in lastfm sensor
  homeassistant/components/lastfm/sensor.py
Labels: cla-signed, small-pr, integration: lastfm, code-quality

#77546 Add set_hev_cycle_state service to LIFX integration
  homeassistant/components/lifx/coordinator.py
  homeassistant/components/lifx/light.py
  homeassistant/components/lifx/services.yaml
  tests/components/lifx/__init__.py
  tests/components/lifx/test_light.py
Labels: cla-signed, new-feature, integration: lifx, by-code-owner

#77808 Prefilter noisy apple devices from bluetooth
  homeassistant/components/bluetooth/manager.py
  tests/components/bluetooth/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: bluetooth

#77803 Add support for subscribing to config entry changes
  homeassistant/components/config/config_entries.py
  homeassistant/config_entries.py
  tests/components/config/test_config_entries.py
Labels: core, cla-signed, integration: config, new-feature

#77652 Improve type hints in kulersky light
  homeassistant/components/kulersky/light.py
Labels: cla-signed, small-pr, code-quality, integration: kulersky

#77809 Remove CalendarEventDevice which was deprecated in 2022.5
  homeassistant/components/calendar/__init__.py
  homeassistant/components/demo/calendar.py
  tests/components/calendar/test_init.py
Labels: core, breaking-change, cla-signed, integration: calendar, integration: demo, small-pr, has-tests

#77812 Fix isy994 calling sync api in async context
  homeassistant/components/isy994/entity.py
Labels: cla-signed, integration: isy994, small-pr, by-code-owner, bugfix

#77817 Adjust type hint in mediaroom
  homeassistant/components/mediaroom/media_player.py
Labels: cla-signed, small-pr, integration: mediaroom, code-quality

#77818 Adjust type hint in meteoalarm
  homeassistant/components/meteoalarm/binary_sensor.py
Labels: cla-signed, small-pr, integration: meteoalarm, code-quality

#77751 Bump fritzconnection from 1.8.0 to 1.10.1
  homeassistant/components/fritz/manifest.json
  homeassistant/components/fritzbox_callmonitor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: fritz, integration: fritzbox_callmonitor, dependency, by-code-owner, dependency-bump

#77816 Improve entity type hints [m]
  homeassistant/components/magicseaweed/sensor.py
  homeassistant/components/maxcube/binary_sensor.py
  homeassistant/components/maxcube/climate.py
  homeassistant/components/mazda/switch.py
  homeassistant/components/meater/sensor.py
  homeassistant/components/mediaroom/media_player.py
  homeassistant/components/melcloud/climate.py
  homeassistant/components/melcloud/sensor.py
  homeassistant/components/melcloud/water_heater.py
  homeassistant/components/melissa/climate.py
  homeassistant/components/mfi/sensor.py
  homeassistant/components/mfi/switch.py
  homeassistant/components/mill/climate.py
  homeassistant/components/min_max/sensor.py
  homeassistant/components/mobile_app/device_tracker.py
  homeassistant/components/moehlenhoff_alpha2/climate.py
  homeassistant/components/mold_indicator/sensor.py
  homeassistant/components/monoprice/media_player.py
  homeassistant/components/motion_blinds/sensor.py
  homeassistant/components/mpd/media_player.py
  homeassistant/components/mqtt/scene.py
  homeassistant/components/mqtt_room/sensor.py
  homeassistant/components/mvglive/sensor.py
  homeassistant/components/mystrom/switch.py
Labels: core, cla-signed, code-quality

#77740 Remove auto lowercasing from async_track_entity_registry_updated_event
  homeassistant/helpers/event.py
Labels: core, cla-signed, small-pr, code-quality

#77821 Fix device info for zwave_js device entities
  homeassistant/components/zwave_js/button.py
  homeassistant/components/zwave_js/helpers.py
  homeassistant/components/zwave_js/sensor.py
  homeassistant/components/zwave_js/update.py
Labels: cla-signed, small-pr, bugfix, integration: zwave_js

#77807 Rename BThome to BTHome
  homeassistant/components/bthome/__init__.py
  homeassistant/components/bthome/config_flow.py
  homeassistant/components/bthome/const.py
  homeassistant/components/bthome/device.py
  homeassistant/components/bthome/manifest.json
  homeassistant/components/bthome/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bthome/__init__.py
  tests/components/bthome/test_config_flow.py
  tests/components/bthome/test_sensor.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: bthome

#77824 Improve entity type hints [n]
  homeassistant/components/nad/media_player.py
  homeassistant/components/nederlandse_spoorwegen/sensor.py
  homeassistant/components/ness_alarm/binary_sensor.py
  homeassistant/components/netdata/sensor.py
  homeassistant/components/netgear/switch.py
  homeassistant/components/netio/switch.py
  homeassistant/components/neurio_energy/sensor.py
  homeassistant/components/nexia/climate.py
  homeassistant/components/nextbus/sensor.py
  homeassistant/components/nextcloud/binary_sensor.py
  homeassistant/components/nextcloud/sensor.py
  homeassistant/components/nina/config_flow.py
  homeassistant/components/nmbs/sensor.py
  homeassistant/components/noaa_tides/sensor.py
  homeassistant/components/nuheat/climate.py
  homeassistant/components/nuki/binary_sensor.py
  homeassistant/components/numato/binary_sensor.py
  homeassistant/components/numato/sensor.py
  homeassistant/components/numato/switch.py
  homeassistant/components/nws/sensor.py
  homeassistant/components/nws/weather.py
  homeassistant/components/nzbget/switch.py
Labels: cla-signed, code-quality

#74300 Add reauth flow to fibaro
  homeassistant/components/fibaro/__init__.py
  homeassistant/components/fibaro/config_flow.py
  homeassistant/components/fibaro/strings.json
  tests/components/fibaro/test_config_flow.py
Labels: cla-signed, new-feature, integration: fibaro, has-tests, by-code-owner, smash

#77837 Add remoteAdminPasswordEnd to redacted keys in fully_kiosk diagnostics
  homeassistant/components/fully_kiosk/diagnostics.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: fully_kiosk

#77832 Bump pybravia to 0.2.1
  homeassistant/components/braviatv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: braviatv, dependency, by-code-owner, dependency-bump

#77840 Add the hardware integration to default_config
  homeassistant/components/default_config/manifest.json
  homeassistant/package_constraints.txt
Labels: core, cla-signed, small-pr, integration: default_config, bugfix, dependency-bump

#77838 Address late review on kulersky light
  homeassistant/components/kulersky/light.py
Labels: cla-signed, small-pr, code-quality, integration: kulersky

#77839 Less verbose error logs for bleak connection errors in ActiveBluetoothProcessorCoordinator
  homeassistant/components/bluetooth/active_update_coordinator.py
  tests/components/bluetooth/test_active_update_coordinator.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: bluetooth

#77845 Bump led-ble to 0.7.0
  homeassistant/components/led_ble/manifest.json
  homeassistant/generated/bluetooth.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: led_ble

#77849 Bump govee-ble to 0.17.2
  homeassistant/components/govee_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/govee_ble/__init__.py
  tests/components/govee_ble/test_config_flow.py
  tests/components/govee_ble/test_sensor.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: govee_ble

#68072 Make Sonos typing more complete
  homeassistant/components/sonos/__init__.py
  homeassistant/components/sonos/binary_sensor.py
  homeassistant/components/sonos/diagnostics.py
  homeassistant/components/sonos/household_coordinator.py
  homeassistant/components/sonos/media.py
  homeassistant/components/sonos/media_browser.py
  homeassistant/components/sonos/media_player.py
  homeassistant/components/sonos/number.py
  homeassistant/components/sonos/sensor.py
  homeassistant/components/sonos/speaker.py
  homeassistant/components/sonos/statistics.py
  homeassistant/components/sonos/switch.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, integration: sonos, code-quality, smash

#77854 Update frontend to 20220905.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency-bump

#77855 Fix history stats device class when type is not time
  homeassistant/components/history_stats/sensor.py
  tests/components/history_stats/test_sensor.py
Labels: cla-signed, small-pr, integration: history_stats, has-tests, bugfix

#77814 Remove google calendar configuration.yaml deprecated in 2022.6
  homeassistant/components/google/__init__.py
  homeassistant/components/google/strings.json
  tests/components/google/conftest.py
  tests/components/google/test_config_flow.py
  tests/components/google/test_init.py
Labels: breaking-change, cla-signed, integration: google, small-pr, has-tests, by-code-owner

#77777 Allow empty db in SQL options flow
  homeassistant/components/sql/config_flow.py
  tests/components/sql/test_config_flow.py
Labels: cla-signed, small-pr, integration: sql, by-code-owner, bugfix

#77825 Use attributes in nightscout
  homeassistant/components/nightscout/sensor.py
Labels: cla-signed, small-pr, code-quality, integration: nightscout

#77862 Pin astroid to fix pylint
  requirements_test.txt
Labels: cla-signed, small-pr, dependency-bump, smash

#77842 Move Melnor Bluetooth switches to sub-services off the main device
  .coveragerc
  homeassistant/components/melnor/models.py
  homeassistant/components/melnor/sensor.py
  homeassistant/components/melnor/switch.py
  tests/components/melnor/conftest.py
  tests/components/melnor/test_switch.py
Labels: cla-signed, has-tests, by-code-owner, code-quality, integration: melnor

#77822 Use fragmented mp4 in stream recorder
  homeassistant/components/stream/recorder.py
Labels: core, cla-signed, small-pr, new-feature, integration: stream, by-code-owner

#77439 Add orientation transforms to stream
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/const.py
  homeassistant/components/camera/prefs.py
  homeassistant/components/stream/__init__.py
  homeassistant/components/stream/core.py
  homeassistant/components/stream/fmp4utils.py
  homeassistant/components/stream/hls.py
  homeassistant/components/stream/recorder.py
  tests/components/camera/common.py
  tests/components/camera/test_init.py
  tests/components/stream/common.py
  tests/components/stream/test_hls.py
  tests/components/stream/test_recorder.py
  tests/components/stream/test_worker.py
Labels: core, cla-signed, new-feature, integration: stream, has-tests, by-code-owner

#77875 Improve entity type hints [q]
  homeassistant/components/qbittorrent/sensor.py
  homeassistant/components/qnap/sensor.py
Labels: cla-signed, small-pr, integration: qnap, integration: qbittorrent, code-quality

#77874 Improve entity type hints [r]
  homeassistant/components/rachio/binary_sensor.py
  homeassistant/components/rachio/switch.py
  homeassistant/components/raincloud/binary_sensor.py
  homeassistant/components/raincloud/sensor.py
  homeassistant/components/raincloud/switch.py
  homeassistant/components/random/binary_sensor.py
  homeassistant/components/random/sensor.py
  homeassistant/components/recswitch/switch.py
  homeassistant/components/reddit/sensor.py
  homeassistant/components/rejseplanen/sensor.py
  homeassistant/components/remote_rpi_gpio/binary_sensor.py
  homeassistant/components/remote_rpi_gpio/switch.py
  homeassistant/components/rest/switch.py
  homeassistant/components/rflink/binary_sensor.py
  homeassistant/components/rflink/sensor.py
  homeassistant/components/rfxtrx/binary_sensor.py
  homeassistant/components/rfxtrx/sensor.py
  homeassistant/components/rfxtrx/switch.py
  homeassistant/components/ring/binary_sensor.py
  homeassistant/components/ring/camera.py
  homeassistant/components/ring/sensor.py
  homeassistant/components/ring/switch.py
  homeassistant/components/ripple/sensor.py
  homeassistant/components/rmvtransport/sensor.py
  homeassistant/components/roon/media_player.py
  homeassistant/components/rova/sensor.py
  homeassistant/components/russound_rio/media_player.py
  homeassistant/components/russound_rnet/media_player.py
Labels: cla-signed, code-quality

#77871 Improve entity type hints [p]
  homeassistant/components/panasonic_bluray/media_player.py
  homeassistant/components/panasonic_viera/media_player.py
  homeassistant/components/panasonic_viera/remote.py
  homeassistant/components/pandora/media_player.py
  homeassistant/components/pencom/switch.py
  homeassistant/components/philips_js/media_player.py
  homeassistant/components/philips_js/remote.py
  homeassistant/components/ping/binary_sensor.py
  homeassistant/components/pioneer/media_player.py
  homeassistant/components/pjlink/media_player.py
  homeassistant/components/plex/media_player.py
  homeassistant/components/plex/sensor.py
  homeassistant/components/pocketcasts/sensor.py
  homeassistant/components/point/binary_sensor.py
  homeassistant/components/progettihwsw/switch.py
  homeassistant/components/proliphix/climate.py
  homeassistant/components/proxmoxve/binary_sensor.py
  homeassistant/components/ps4/media_player.py
  homeassistant/components/pulseaudio_loopback/switch.py
  homeassistant/components/push/camera.py
  homeassistant/components/pushbullet/sensor.py
  homeassistant/components/pyload/sensor.py
Labels: cla-signed, code-quality

#77867 Bump pybravia to 0.2.2
  homeassistant/components/braviatv/coordinator.py
  homeassistant/components/braviatv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: braviatv, by-code-owner

#77860 Add RSSI to the bluetooth debug log
  homeassistant/components/bluetooth/manager.py
Labels: cla-signed, small-pr, by-code-owner, integration: bluetooth

#77863 Bump thermopro-ble to 0.4.3
  homeassistant/components/thermopro/manifest.json
  homeassistant/generated/bluetooth.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: thermopro

#77841 Add has_entity_name for kraken
  homeassistant/components/kraken/const.py
  homeassistant/components/kraken/sensor.py
Labels: cla-signed, small-pr, by-code-owner, integration: kraken, code-quality

#77833 Improve type hint in onvif
  homeassistant/components/onvif/camera.py
  homeassistant/components/onvif/device.py
Labels: cla-signed, small-pr, integration: onvif, code-quality

#77829 Improve type hint in opensky
  homeassistant/components/opensky/sensor.py
Labels: cla-signed, small-pr, integration: opensky, code-quality

#77826 Improve entity type hints [o]
  homeassistant/components/oasa_telematics/sensor.py
  homeassistant/components/obihai/sensor.py
  homeassistant/components/oem/climate.py
  homeassistant/components/ohmconnect/sensor.py
  homeassistant/components/ombi/sensor.py
  homeassistant/components/onkyo/media_player.py
  homeassistant/components/onvif/binary_sensor.py
  homeassistant/components/onvif/sensor.py
  homeassistant/components/openerz/sensor.py
  homeassistant/components/openevse/sensor.py
  homeassistant/components/openhardwaremonitor/sensor.py
  homeassistant/components/openhome/media_player.py
  homeassistant/components/opentherm_gw/binary_sensor.py
  homeassistant/components/opentherm_gw/climate.py
  homeassistant/components/opentherm_gw/sensor.py
  homeassistant/components/opple/light.py
  homeassistant/components/oru/sensor.py
  homeassistant/components/orvibo/switch.py
  homeassistant/components/otp/sensor.py
  homeassistant/components/owntracks/device_tracker.py
Labels: cla-signed, code-quality

#77387 Refactor MQTT tests to use modern platform schema part 1
  tests/components/mqtt/test_alarm_control_panel.py
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_button.py
  tests/components/mqtt/test_camera.py
  tests/components/mqtt/test_climate.py
  tests/components/mqtt/test_cover.py
  tests/components/mqtt/test_device_tracker.py
  tests/components/mqtt/test_device_tracker_discovery.py
  tests/components/mqtt/test_fan.py
  tests/components/mqtt/test_humidifier.py
  tests/components/mqtt/test_init.py
  tests/components/mqtt/test_legacy_vacuum.py
Labels: core, cla-signed, integration: mqtt, has-tests, code-quality

#77525 Refactor MQTT tests to use modern platform schema part 2
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_light_json.py
  tests/components/mqtt/test_light_template.py
  tests/components/mqtt/test_lock.py
  tests/components/mqtt/test_number.py
  tests/components/mqtt/test_scene.py
  tests/components/mqtt/test_select.py
  tests/components/mqtt/test_sensor.py
  tests/components/mqtt/test_siren.py
  tests/components/mqtt/test_state_vacuum.py
  tests/components/mqtt/test_switch.py
Labels: core, cla-signed, integration: mqtt, has-tests, code-quality

#77823 Adjust Renault default scan interval
  homeassistant/components/renault/const.py
Labels: cla-signed, small-pr, bugfix, integration: renault

#77140 Add state class total increasing to Tasmota energy today sensor
  homeassistant/components/tasmota/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: tasmota

#77643 Add notify get_service to pylint checks
  pylint/plugins/hass_enforce_type_hints.py
Labels: cla-signed, small-pr, code-quality

#77663 Add BaseNotificationService to pylint checks
  pylint/plugins/hass_enforce_type_hints.py
Labels: cla-signed, small-pr, code-quality

#77880 Cleanup camera after late PR review
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/prefs.py
Labels: core, integration: camera, cla-signed, small-pr, code-quality

#77881 Improve entity type hints [s] (part 1/2)
  homeassistant/components/sabnzbd/sensor.py
  homeassistant/components/satel_integra/binary_sensor.py
  homeassistant/components/satel_integra/switch.py
  homeassistant/components/schluter/climate.py
  homeassistant/components/screenlogic/climate.py
  homeassistant/components/scsgate/switch.py
  homeassistant/components/sense/binary_sensor.py
  homeassistant/components/sense/sensor.py
  homeassistant/components/serial/sensor.py
  homeassistant/components/serial_pm/sensor.py
  homeassistant/components/seventeentrack/sensor.py
  homeassistant/components/sigfox/sensor.py
  homeassistant/components/simulated/sensor.py
  homeassistant/components/sisyphus/media_player.py
  homeassistant/components/slimproto/media_player.py
  homeassistant/components/smappee/binary_sensor.py
  homeassistant/components/smappee/sensor.py
  homeassistant/components/smappee/switch.py
  homeassistant/components/smartthings/climate.py
  homeassistant/components/smartthings/switch.py
  homeassistant/components/smarttub/climate.py
  homeassistant/components/smarttub/switch.py
  homeassistant/components/snapcast/media_player.py
  homeassistant/components/snmp/sensor.py
  homeassistant/components/snmp/switch.py
Labels: cla-signed, code-quality

#77883 Improve entity type hints [t]
  homeassistant/components/tado/binary_sensor.py
  homeassistant/components/tado/climate.py
  homeassistant/components/tado/sensor.py
  homeassistant/components/tado/water_heater.py
  homeassistant/components/tank_utility/sensor.py
  homeassistant/components/tapsaff/binary_sensor.py
  homeassistant/components/ted5000/sensor.py
  homeassistant/components/tellduslive/switch.py
  homeassistant/components/tellstick/sensor.py
  homeassistant/components/telnet/switch.py
  homeassistant/components/temper/sensor.py
  homeassistant/components/tfiac/climate.py
  homeassistant/components/thermoworks_smoke/sensor.py
  homeassistant/components/thethingsnetwork/sensor.py
  homeassistant/components/thinkingcleaner/sensor.py
  homeassistant/components/thinkingcleaner/switch.py
  homeassistant/components/tibber/sensor.py
  homeassistant/components/tmb/sensor.py
  homeassistant/components/tod/binary_sensor.py
  homeassistant/components/todoist/calendar.py
  homeassistant/components/toon/climate.py
  homeassistant/components/totalconnect/binary_sensor.py
  homeassistant/components/touchline/climate.py
  homeassistant/components/traccar/device_tracker.py
  homeassistant/components/transmission/sensor.py
  homeassistant/components/transmission/switch.py
  homeassistant/components/transport_nsw/sensor.py
  homeassistant/components/travisci/sensor.py
  homeassistant/components/trend/binary_sensor.py
Labels: cla-signed, code-quality

#77885 Improve entity type hints [v]
  homeassistant/components/vasttrafik/sensor.py
  homeassistant/components/venstar/climate.py
  homeassistant/components/vera/climate.py
  homeassistant/components/verisure/switch.py
  homeassistant/components/versasense/sensor.py
  homeassistant/components/versasense/switch.py
  homeassistant/components/vesync/switch.py
  homeassistant/components/viaggiatreno/sensor.py
  homeassistant/components/vicare/climate.py
  homeassistant/components/vicare/water_heater.py
  homeassistant/components/vilfo/sensor.py
  homeassistant/components/vivotek/camera.py
  homeassistant/components/vlc/media_player.py
  homeassistant/components/volkszaehler/sensor.py
  homeassistant/components/volumio/media_player.py
  homeassistant/components/volvooncall/switch.py
  homeassistant/components/vulcan/calendar.py
  homeassistant/components/vultr/binary_sensor.py
  homeassistant/components/vultr/sensor.py
  homeassistant/components/vultr/switch.py
Labels: cla-signed, code-quality

#77886 Improve entity type hints [w]
  homeassistant/components/w800rf32/binary_sensor.py
  homeassistant/components/wake_on_lan/switch.py
  homeassistant/components/waqi/sensor.py
  homeassistant/components/waterfurnace/sensor.py
  homeassistant/components/waze_travel_time/sensor.py
  homeassistant/components/wirelesstag/binary_sensor.py
  homeassistant/components/wirelesstag/sensor.py
  homeassistant/components/wirelesstag/switch.py
  homeassistant/components/worldtidesinfo/sensor.py
  homeassistant/components/worxlandroid/sensor.py
  homeassistant/components/ws66i/media_player.py
  homeassistant/components/wsdot/sensor.py
Labels: cla-signed, small-pr, code-quality

#77887 Improve entity type hints [x]
  homeassistant/components/xbox/media_player.py
  homeassistant/components/xbox_live/sensor.py
  homeassistant/components/xiaomi_aqara/binary_sensor.py
  homeassistant/components/xiaomi_aqara/switch.py
  homeassistant/components/xiaomi_miio/light.py
  homeassistant/components/xiaomi_miio/remote.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/components/xiaomi_miio/switch.py
  homeassistant/components/xiaomi_miio/vacuum.py
  homeassistant/components/xiaomi_tv/media_player.py
  homeassistant/components/xs1/climate.py
  homeassistant/components/xs1/switch.py
Labels: cla-signed, integration: xiaomi_aqara, integration: xs1, integration: xiaomi_miio, integration: xiaomi_tv, integration: xbox_live, code-quality, integration: xbox

#77888 Improve entity type hints [y]
  homeassistant/components/yamaha/media_player.py
  homeassistant/components/yamaha_musiccast/media_player.py
  homeassistant/components/yeelight/binary_sensor.py
  homeassistant/components/yolink/climate.py
Labels: cla-signed, integration: yeelight, integration: yamaha_musiccast, integration: yamaha, code-quality, integration: yolink

#77890 Improve entity type hints [z]
  homeassistant/components/zabbix/sensor.py
  homeassistant/components/zamg/sensor.py
  homeassistant/components/zamg/weather.py
  homeassistant/components/zha/binary_sensor.py
  homeassistant/components/zha/climate.py
  homeassistant/components/zha/device_tracker.py
  homeassistant/components/zha/fan.py
  homeassistant/components/zha/light.py
  homeassistant/components/zhong_hong/climate.py
  homeassistant/components/ziggo_mediabox_xl/media_player.py
  homeassistant/components/zoneminder/binary_sensor.py
  homeassistant/components/zoneminder/camera.py
  homeassistant/components/zoneminder/sensor.py
  homeassistant/components/zoneminder/switch.py
  homeassistant/components/zwave_me/climate.py
Labels: integration: zabbix, cla-signed, integration: zoneminder, integration: zha, integration: ziggo_mediabox_xl, integration: zhong_hong, integration: zamg, code-quality, integration: zwave_me

#77898 Bump bluetooth-auto-recovery to 0.3.1
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, by-code-owner, dependency-bump, integration: bluetooth

#75657 Use identifiers host and serial number to match device
  homeassistant/components/upnp/__init__.py
  homeassistant/components/upnp/config_flow.py
  homeassistant/components/upnp/const.py
  homeassistant/components/upnp/device.py
  tests/components/upnp/conftest.py
  tests/components/upnp/test_config_flow.py
Labels: cla-signed, integration: upnp, has-tests, by-code-owner, bugfix

#77802 Handle exception on projector being unavailable
  homeassistant/components/epson/manifest.json
  homeassistant/components/epson/media_player.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: epson, bugfix

#77879 Add comment to life360 device tracker
  homeassistant/components/life360/device_tracker.py
Labels: cla-signed, small-pr, integration: life360, code-quality

#77899 Use _attr_force_update in tellstick
  homeassistant/components/tellstick/switch.py
Labels: cla-signed, integration: tellstick, small-pr, code-quality

#77901 Use attributes in rflink binary sensor
  homeassistant/components/rflink/binary_sensor.py
Labels: cla-signed, integration: rflink, small-pr, code-quality, smash

#77872 Introduce new StrEnums in media player
  homeassistant/components/media_player/__init__.py
  homeassistant/components/media_player/browse_media.py
  homeassistant/components/media_player/const.py
  pylint/plugins/hass_enforce_type_hints.py
Labels: core, integration: media_player, cla-signed, second-opinion-wanted, code-quality, deprecation

#77910 Update frontend to 20220906.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency-bump

#77588 Use attributes in hvv_departures
  homeassistant/components/hvv_departures/sensor.py
Labels: cla-signed, small-pr, integration: hvv_departures, code-quality

#77656 Improve type hints in lw12wifi light
  homeassistant/components/lw12wifi/light.py
Labels: cla-signed, small-pr, integration: lw12wifi, code-quality

#77916 Revert "Add ability to ignore devices for UniFi Protect"
  homeassistant/components/unifiprotect/__init__.py
  homeassistant/components/unifiprotect/config_flow.py
  homeassistant/components/unifiprotect/const.py
  homeassistant/components/unifiprotect/data.py
  homeassistant/components/unifiprotect/services.py
  homeassistant/components/unifiprotect/strings.json
  homeassistant/components/unifiprotect/translations/en.json
  homeassistant/components/unifiprotect/utils.py
  tests/components/unifiprotect/conftest.py
  tests/components/unifiprotect/test_config_flow.py
  tests/components/unifiprotect/test_init.py
  tests/components/unifiprotect/utils.py
Labels: cla-signed, has-tests, integration: unifiprotect

#77894 Add protocol type for legacy notify platforms
  homeassistant/components/notify/__init__.py
  homeassistant/components/notify/legacy.py
Labels: core, cla-signed, integration: notify, small-pr, code-quality

#77897 Drop unused property from zha
  homeassistant/components/zha/entity.py
Labels: cla-signed, integration: zha, small-pr, code-quality, smash

#77900 Use _attr_force_update in tasmota
  homeassistant/components/tasmota/binary_sensor.py
  homeassistant/components/tasmota/light.py
  homeassistant/components/tasmota/sensor.py
Labels: cla-signed, small-pr, code-quality, integration: tasmota, smash

#77581 Add sensors for Tuya "tdq" category switches
  homeassistant/components/tuya/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: tuya

#77609 Bump btsmarthub_devicelist to 0.2.2
  homeassistant/components/bt_smarthub/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, dependency, integration: bt_smarthub, dependency-bump

#77927 Bump aiohomekit to 1.5.2
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump

#77934 Small tweaks to improve performance of bluetooth matching
  homeassistant/components/bluetooth/match.py
Labels: cla-signed, by-code-owner, code-quality, integration: bluetooth

#77794 Fix shopping_list service calls not notifying event bus
  homeassistant/components/shopping_list/__init__.py
  homeassistant/components/shopping_list/const.py
  homeassistant/components/shopping_list/intent.py
  homeassistant/components/websocket_api/permissions.py
  tests/components/shopping_list/test_init.py
Labels: core, cla-signed, integration: shopping_list, small-pr, has-tests, bugfix

#77932 Mill gen 3 cloud, support precision halves for gen 3 heaters
  homeassistant/components/mill/climate.py
  homeassistant/components/mill/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, new-feature, integration: mill, dependency

#77915 Bump zwave-js-server-python to 0.41.1
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zwave_js/fixtures/climate_adc_t3000_state.json
Labels: cla-signed, small-pr, dependency, dependency-bump, integration: zwave_js

#77903 Use attributes in rest base entity
  homeassistant/components/rest/entity.py
Labels: cla-signed, small-pr, integration: rest, code-quality

#77606 Adjust pylint checks for notify get_service
  pylint/plugins/hass_enforce_type_hints.py
  tests/pylint/test_enforce_type_hints.py
Labels: cla-signed, small-pr, code-quality

#77931 Bump led-ble to 0.7.1
  homeassistant/components/led_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: led_ble

#77919 Bump pyTibber to 0.25.2
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: tibber, dependency, by-code-owner, dependency-bump
