Repository home-assistant/core, pull requests merged in 2022-06, with the labels that each got.

#72787 Improve cast HLS detection
  homeassistant/components/cast/helpers.py
  tests/components/cast/test_helpers.py
Labels: cla-signed, small-pr, integration: cast, has-tests, by-code-owner, bugfix

#72800 Support add/next/play/replace enqueue options in Sonos
  homeassistant/components/sonos/media_player.py
Labels: cla-signed, small-pr, new-feature, integration: sonos, by-code-owner

#72794 Fix #72749
  homeassistant/components/utility_meter/sensor.py
Labels: cla-signed, small-pr, integration: utility_meter, by-code-owner, bugfix

#72801 Cleanup handling of new enqueue & announce features in Sonos
  homeassistant/components/sonos/media_player.py
Labels: cla-signed, small-pr, new-feature, integration: sonos, by-code-owner

#72785 Use device_id for zwave_js/replace_failed_node command
  homeassistant/components/zwave_js/api.py
  tests/components/zwave_js/test_api.py
Labels: cla-signed, small-pr, new-feature, has-tests, integration: zwave_js

#72769 Use Mapping for async_step_reauth in motioneye
  homeassistant/components/motioneye/config_flow.py
  tests/components/motioneye/test_config_flow.py
Labels: cla-signed, small-pr, integration: motioneye, has-tests, code-quality

#72799 Add package constraint for pydantic
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, bugfix, dependency-bump

#72757 Add new method to pylint type-hint plugin
  pylint/plugins/hass_enforce_type_hints.py
Labels: cla-signed, small-pr, code-quality, smash

#72777 Fix conftest for pylint plugin
  tests/pylint/conftest.py
Labels: core, cla-signed, small-pr

#72808 Add test for mikrotik device tracker with numerical device name
  tests/components/mikrotik/__init__.py
  tests/components/mikrotik/test_device_tracker.py
Labels: cla-signed, small-pr, integration: mikrotik, has-tests, code-quality

#72812 Use Mapping for async_step_reauth in discord
  homeassistant/components/discord/config_flow.py
  tests/components/discord/test_config_flow.py
Labels: cla-signed, small-pr, integration: discord, has-tests, code-quality

#72809 Bump sqlalchemy to 1.4.37
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, integration: recorder, cla-signed, small-pr, integration: sql, dependency, dependency-bump

#72815 Fix purge of legacy database events that are not state changed
  homeassistant/components/recorder/queries.py
  tests/components/recorder/test_purge.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, bugfix

#72805 Don't trigger entity sync when Google Assistant gets disabled
  homeassistant/components/cloud/google_config.py
Labels: core, cla-signed, integration: cloud, small-pr, bugfix

#72814 Add Motionblinds WoodShutter support
  homeassistant/components/motion_blinds/cover.py
  homeassistant/components/motion_blinds/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, by-code-owner, bugfix, integration: motion_blinds

#72835 Improve pylint disable rule in zha
  homeassistant/components/zha/core/channels/manufacturerspecific.py
Labels: cla-signed, integration: zha, small-pr, code-quality

#72832 Remove deprecated YAML for `transmission`
  homeassistant/components/transmission/__init__.py
  homeassistant/components/transmission/config_flow.py
  tests/components/transmission/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, integration: transmission, has-tests, by-code-owner, code-quality

#72826 Add Particulate Matter 2.5 of ZCL concentration clusters to ZHA component
  homeassistant/components/zha/core/channels/measurement.py
  homeassistant/components/zha/sensor.py
Labels: cla-signed, integration: zha, small-pr, new-feature

#72855 Update frontend to 20220601.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency-bump

#72821 Add mypy checks to pylint plugins
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Labels: cla-signed, small-pr, code-quality

#72869 Fix logbook not setting up with an recorder filter that has empty fields
  homeassistant/components/recorder/filters.py
  tests/components/logbook/test_init.py
  tests/components/recorder/test_filters.py
Labels: core, integration: recorder, cla-signed, integration: logbook, small-pr, has-tests, bugfix

#72854 Remove announce workaround for Sonos
  homeassistant/components/sonos/media_player.py
Labels: cla-signed, small-pr, integration: sonos, by-code-owner, bugfix

#72866 Ensure recorder shuts down when its startup future is canceled out from under it
  homeassistant/components/recorder/core.py
  tests/components/recorder/test_init.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, bugfix

#72841 Adjust astroid import in pylint plugin
  pylint/plugins/hass_constructor.py
  pylint/plugins/hass_enforce_type_hints.py
  pylint/plugins/hass_imports.py
  pylint/plugins/hass_logger.py
Labels: cla-signed, small-pr, code-quality

#72147 Allow non-async functions in device automation
  homeassistant/components/device_automation/__init__.py
Labels: cla-signed, integration: device_automation, code-quality

#72890 Attempt to fix flaky tomorrowio test
  tests/components/tomorrowio/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: tomorrowio

#72906 Fix bare except
  homeassistant/components/feedreader/__init__.py
  homeassistant/components/qnap/sensor.py
  tests/components/emulated_hue/test_upnp.py
  tests/components/system_log/test_init.py
Labels: core, integration: emulated_hue, cla-signed, integration: system_log, integration: feedreader, small-pr, integration: qnap, has-tests, bugfix, smash

#72833 Fix test_hass_stop in devolo Home Network
  tests/components/devolo_home_network/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: devolo_home_network

#72893 Fix migration of MySQL data when InnoDB is not being used
  homeassistant/components/recorder/migration.py
Labels: core, integration: recorder, cla-signed, small-pr, bugfix

#72870 Bump aiopyarr to 2022.6.0
  homeassistant/components/sonarr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: sonarr, dependency, dependency-bump

#72764 Use Mapping for async_step_reauth (f-o)
  homeassistant/components/fritz/config_flow.py
  homeassistant/components/fritzbox/config_flow.py
  homeassistant/components/hyperion/config_flow.py
  homeassistant/components/isy994/config_flow.py
  homeassistant/components/laundrify/config_flow.py
  homeassistant/components/meater/config_flow.py
  homeassistant/components/nam/config_flow.py
  homeassistant/components/nanoleaf/config_flow.py
  homeassistant/components/notion/config_flow.py
  homeassistant/components/overkiz/config_flow.py
Labels: cla-signed, small-pr, code-quality

#72373 Update MQTT tests to use the config entry setup
  tests/components/manual_mqtt/test_alarm_control_panel.py
  tests/components/mqtt/test_alarm_control_panel.py
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_button.py
  tests/components/mqtt/test_camera.py
  tests/components/mqtt/test_climate.py
  tests/components/mqtt/test_common.py
  tests/components/mqtt/test_config_flow.py
  tests/components/mqtt/test_cover.py
  tests/components/mqtt/test_device_tracker.py
  tests/components/mqtt/test_device_tracker_discovery.py
  tests/components/mqtt/test_device_trigger.py
  tests/components/mqtt/test_diagnostics.py
  tests/components/mqtt/test_discovery.py
  tests/components/mqtt/test_fan.py
  tests/components/mqtt/test_humidifier.py
  tests/components/mqtt/test_init.py
  tests/components/mqtt/test_legacy_vacuum.py
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_light_json.py
  tests/components/mqtt/test_light_template.py
  tests/components/mqtt/test_lock.py
  tests/components/mqtt/test_number.py
  tests/components/mqtt/test_scene.py
  tests/components/mqtt/test_select.py
  tests/components/mqtt/test_sensor.py
  tests/components/mqtt/test_siren.py
  tests/components/mqtt/test_state_vacuum.py
  tests/components/mqtt/test_subscription.py
  tests/components/mqtt/test_switch.py
  tests/components/mqtt/test_tag.py
  tests/components/mqtt/test_trigger.py
  tests/components/mqtt_json/test_device_tracker.py
  tests/components/mqtt_room/test_sensor.py
  tests/components/tasmota/test_discovery.py
  tests/conftest.py
Labels: core, cla-signed, integration: mqtt, has-tests, code-quality

#72917 Remove dead code from template fan
  homeassistant/components/template/fan.py
Labels: cla-signed, small-pr, integration: template, code-quality

#72903 Bump yolink-api to 0.0.6
  homeassistant/components/yolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/yolink/test_config_flow.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, dependency-bump, integration: yolink

#72742 Add support for async_remove_config_entry_device to unifiprotect
  homeassistant/components/unifiprotect/__init__.py
  homeassistant/components/unifiprotect/data.py
  homeassistant/components/unifiprotect/entity.py
  homeassistant/components/unifiprotect/services.py
  homeassistant/components/unifiprotect/utils.py
  tests/components/unifiprotect/test_init.py
Labels: cla-signed, by-code-owner, integration: unifiprotect

#72877 Bump ZHA dependency zigpy from 0.45.1 to 0.46.0
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, dependency-bump

#72880 Only present history_stats state as unknown if the time is in the future
  homeassistant/components/history_stats/data.py
  tests/components/history_stats/test_sensor.py
Labels: cla-signed, small-pr, integration: history_stats, has-tests, bugfix

#72921 Fix logging & exit code reporting to S6 on HA shutdown
  rootfs/etc/services.d/home-assistant/finish
Labels: cla-signed, small-pr, bugfix

#72901 Fix reload of MQTT yaml config
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/button.py
  homeassistant/components/mqtt/camera.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/humidifier.py
  homeassistant/components/mqtt/light/__init__.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/scene.py
  homeassistant/components/mqtt/select.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/siren.py
  homeassistant/components/mqtt/switch.py
  homeassistant/components/mqtt/vacuum/__init__.py
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_common.py
  tests/components/mqtt/test_sensor.py
Labels: core, cla-signed, integration: mqtt, by-code-owner

#72898 Fix performance of logbook entity and devices queries with large MySQL databases
  homeassistant/components/logbook/queries/common.py
  homeassistant/components/logbook/queries/devices.py
  homeassistant/components/logbook/queries/entities.py
  homeassistant/components/logbook/queries/entities_and_devices.py
  homeassistant/components/recorder/models.py
Labels: core, cla-signed, integration: logbook, bugfix

#72929 Fix Hive authentication
  homeassistant/components/hive/__init__.py
  homeassistant/components/hive/config_flow.py
  homeassistant/components/hive/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/hive/test_config_flow.py
Labels: cla-signed, integration: hive, small-pr, dependency, by-code-owner, bugfix

#72940 Only sync when HA is started up as we already sync at startup
  homeassistant/components/cloud/google_config.py
Labels: core, cla-signed, integration: cloud, small-pr, bugfix

#72948 Only create auto comfort entities for BAF devices that support them
  homeassistant/components/baf/climate.py
  homeassistant/components/baf/manifest.json
  homeassistant/components/baf/number.py
  homeassistant/components/baf/sensor.py
  homeassistant/components/baf/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, by-code-owner, bugfix, integration: baf

#72936 Fix misalignments between sql based filtering with the entityfilter based filtering
  homeassistant/components/recorder/filters.py
  homeassistant/components/recorder/history.py
  tests/components/history/test_init.py
  tests/components/logbook/test_init.py
  tests/components/recorder/test_filters_with_entityfilter.py
Labels: core, integration: recorder, cla-signed, has-tests

#72878 Cleanup nest config flow tests to use common setup fixtures
  tests/components/nest/common.py
  tests/components/nest/conftest.py
  tests/components/nest/test_config_flow_sdm.py
Labels: cla-signed, integration: nest, small-pr, has-tests, by-code-owner, code-quality

#72909 Revert "Allow non-async functions in device automation (#72147)"
  homeassistant/components/device_automation/__init__.py
  homeassistant/components/device_automation/action.py
  homeassistant/components/device_automation/condition.py
  homeassistant/components/device_automation/trigger.py
Labels: cla-signed, small-pr, integration: device_automation, code-quality

#72897 Bump aiolifx to 0.8.1
  homeassistant/components/lifx/light.py
  homeassistant/components/lifx/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: lifx, dependency, by-code-owner

#72950 Remove unused code from logbook
  homeassistant/components/logbook/processor.py
Labels: core, cla-signed, integration: logbook, small-pr, code-quality

#72702 Keep track of a context for each listener
  homeassistant/components/bmw_connected_drive/button.py
  homeassistant/components/bmw_connected_drive/coordinator.py
  homeassistant/components/modern_forms/__init__.py
  homeassistant/components/moehlenhoff_alpha2/__init__.py
  homeassistant/components/philips_js/__init__.py
  homeassistant/components/system_bridge/coordinator.py
  homeassistant/components/toon/coordinator.py
  homeassistant/components/toon/helpers.py
  homeassistant/components/wemo/wemo_device.py
  homeassistant/components/wled/coordinator.py
  homeassistant/components/wled/helpers.py
  homeassistant/components/yamaha_musiccast/media_player.py
  homeassistant/helpers/update_coordinator.py
  tests/helpers/test_update_coordinator.py
Labels: core, cla-signed, small-pr, new-feature

#72965 Bump pynetgear to 0.10.4
  homeassistant/components/netgear/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: netgear, dependency, by-code-owner, bugfix, dependency-bump

#72960 Allow `log` template function to return specified `default` on math domain error
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: core, cla-signed, small-pr, bugfix

#72218 Fix ended session when there isn't any response from the user
  homeassistant/components/alexa/intent.py
  homeassistant/components/intent_script/__init__.py
  tests/components/alexa/test_intent.py
  tests/components/intent_script/test_init.py
Labels: core, cla-signed, integration: alexa, integration: intent_script, small-pr, has-tests, bugfix, smash

#72438 MotionBlinds use device_name helper
  homeassistant/components/motion_blinds/cover.py
  homeassistant/components/motion_blinds/gateway.py
  homeassistant/components/motion_blinds/sensor.py
  tests/components/motion_blinds/test_gateway.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: motion_blinds, smash

#72953 Remove unused constant from auth
  homeassistant/components/auth/__init__.py
Labels: core, cla-signed, small-pr, integration: auth, code-quality

#72990 Check ISY994 climate for unknown humidity value on Z-Wave Thermostat
  homeassistant/components/isy994/climate.py
Labels: cla-signed, integration: isy994, small-pr, by-code-owner

#72992 Sensibo Set temperature improvement
  homeassistant/components/sensibo/climate.py
  tests/components/sensibo/fixtures/data.json
  tests/components/sensibo/test_climate.py
Labels: cla-signed, small-pr, integration: sensibo, has-tests, by-code-owner, code-quality

#70476 Config flow for scrape integration
  CODEOWNERS
  homeassistant/components/scrape/__init__.py
  homeassistant/components/scrape/config_flow.py
  homeassistant/components/scrape/const.py
  homeassistant/components/scrape/manifest.json
  homeassistant/components/scrape/sensor.py
  homeassistant/components/scrape/strings.json
  homeassistant/components/scrape/translations/en.json
  homeassistant/generated/config_flows.py
  tests/components/scrape/__init__.py
  tests/components/scrape/test_config_flow.py
  tests/components/scrape/test_init.py
  tests/components/scrape/test_sensor.py
Labels: breaking-change, cla-signed, new-feature, integration: scrape, has-tests, smash, config-flow

#72973 Bump bimmer_connected to 0.9.4
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: bmw_connected_drive, dependency, by-code-owner, bugfix, dependency-bump

#72947 Fix statistics_during_period being incorrectly cached
  homeassistant/components/recorder/statistics.py
  tests/components/history/test_init.py
Labels: core, cla-signed, integration: history, small-pr, has-tests

#72792 Add ViCare additional temperature sensors
  homeassistant/components/vicare/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: vicare

#73001 Provide Sonos media position if duration not available
  homeassistant/components/sonos/media.py
Labels: cla-signed, small-pr, integration: sonos, by-code-owner, bugfix

#72994 Fix google calendar bug where expired tokens are not refreshed
  homeassistant/components/google/api.py
  tests/components/google/conftest.py
  tests/components/google/test_config_flow.py
Labels: cla-signed, integration: google, small-pr, has-tests, by-code-owner, bugfix

#73008 Bump greeclimate to 1.2.0
  homeassistant/components/gree/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: gree

#73010 Remove google scan_for_calendars service and simplify platform setup
  homeassistant/components/google/__init__.py
  homeassistant/components/google/calendar.py
  homeassistant/components/google/const.py
  homeassistant/components/google/services.yaml
  tests/components/google/test_init.py
Labels: breaking-change, cla-signed, integration: google, has-tests, by-code-owner

#73009 Bump pypck to 0.7.15
  homeassistant/components/lcn/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: lcn, dependency, by-code-owner, dependency-bump

#72996 Minor fixes Trafikverket Train
  homeassistant/components/trafikverket_train/__init__.py
  homeassistant/components/trafikverket_train/sensor.py
  tests/components/trafikverket_train/test_config_flow.py
Labels: cla-signed, has-tests, integration: trafikverket_train, by-code-owner, code-quality

#72926 Add yolink vibration sensor
  homeassistant/components/yolink/binary_sensor.py
  homeassistant/components/yolink/const.py
  homeassistant/components/yolink/sensor.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: yolink

#73040 Fix history stats not comparing all times in UTC
  homeassistant/components/history_stats/data.py
Labels: cla-signed, small-pr, integration: history_stats, bugfix

#73011 Fix missing historical context data in logbook for MySQL and PostgreSQL
  homeassistant/components/recorder/filters.py
Labels: core, integration: recorder, cla-signed, small-pr, bugfix

#73041 2022.6.2
  homeassistant/components/bmw_connected_drive/manifest.json
  homeassistant/components/fjaraskupan/__init__.py
  homeassistant/components/fjaraskupan/config_flow.py
  homeassistant/components/google/api.py
  homeassistant/components/history_stats/data.py
  homeassistant/components/isy994/climate.py
  homeassistant/components/lcn/manifest.json
  homeassistant/components/netgear/manifest.json
  homeassistant/components/recorder/filters.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/sonos/media.py
  homeassistant/const.py
  homeassistant/helpers/template.py
  requirements_all.txt
  requirements_test_all.txt
  setup.cfg
  tests/components/google/conftest.py
  tests/components/google/test_config_flow.py
  tests/components/history/test_init.py
  tests/helpers/test_template.py
Labels: core, cla-signed, merging-to-master, has-tests

#73005 Add a test for a complex entity filter
  tests/helpers/test_entityfilter.py
Labels: core, cla-signed, code-quality

#72398 Refactor goalzero
  homeassistant/components/goalzero/__init__.py
  homeassistant/components/goalzero/binary_sensor.py
  homeassistant/components/goalzero/const.py
  homeassistant/components/goalzero/coordinator.py
  homeassistant/components/goalzero/entity.py
  homeassistant/components/goalzero/sensor.py
  homeassistant/components/goalzero/switch.py
Labels: cla-signed, by-code-owner, code-quality, integration: goalzero

#73048 Bump aiolookup to 0.1.1
  homeassistant/components/lookin/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: lookin

#70887 Add config flow to skybell
  .coveragerc
  CODEOWNERS
  homeassistant/components/skybell/__init__.py
  homeassistant/components/skybell/binary_sensor.py
  homeassistant/components/skybell/camera.py
  homeassistant/components/skybell/config_flow.py
  homeassistant/components/skybell/const.py
  homeassistant/components/skybell/coordinator.py
  homeassistant/components/skybell/entity.py
  homeassistant/components/skybell/light.py
  homeassistant/components/skybell/manifest.json
  homeassistant/components/skybell/sensor.py
  homeassistant/components/skybell/strings.json
  homeassistant/components/skybell/switch.py
  homeassistant/components/skybell/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/skybell/__init__.py
  tests/components/skybell/test_config_flow.py
Labels: cla-signed, integration: skybell, new-feature, has-tests, config-flow

#72918 Add Hunter Douglas Powerview Diagnostics
  .coveragerc
  homeassistant/components/hunterdouglas_powerview/__init__.py
  homeassistant/components/hunterdouglas_powerview/diagnostics.py
  homeassistant/components/hunterdouglas_powerview/shade_data.py
Labels: cla-signed, new-feature, integration: hunterdouglas_powerview, by-code-owner

#73059 Use constant in powerview diagnostics
  homeassistant/components/hunterdouglas_powerview/diagnostics.py
Labels: cla-signed, small-pr, integration: hunterdouglas_powerview, by-code-owner, code-quality

#73029 Bump pysensibo to 1.0.16
  homeassistant/components/sensibo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: sensibo, dependency, by-code-owner, dependency-bump

#73004 Additional cleanups for emulated_hue
  homeassistant/components/emulated_hue/config.py
  homeassistant/components/emulated_hue/hue_api.py
Labels: integration: emulated_hue, cla-signed

#73056 Bump regenmaschine to 2022.06.0
  homeassistant/components/rainmachine/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: rainmachine, dependency, by-code-owner, dependency-bump

#73054 Bump simplisafe-python to 2022.06.0
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: simplisafe, dependency, by-code-owner, dependency-bump

#73070 Remove myself from fixer codeowners
  CODEOWNERS
  homeassistant/components/fixer/manifest.json
Labels: cla-signed, small-pr, integration: fixer, by-code-owner

#73073 Bump aioskybell to 22.6.0
  homeassistant/components/skybell/binary_sensor.py
  homeassistant/components/skybell/entity.py
  homeassistant/components/skybell/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: skybell, small-pr, dependency, by-code-owner, dependency-bump

#73089 Move Skybell attributes to their own sensors
  homeassistant/components/skybell/binary_sensor.py
  homeassistant/components/skybell/entity.py
  homeassistant/components/skybell/sensor.py
Labels: breaking-change, cla-signed, integration: skybell, by-code-owner

#73090 Add do not ring switch to Skybell
  homeassistant/components/skybell/switch.py
Labels: cla-signed, integration: skybell, small-pr, new-feature, by-code-owner

#73092 Bump pysensibo to 1.0.17
  homeassistant/components/sensibo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: sensibo, dependency, by-code-owner, dependency-bump

#73098 Speed up camera tokens
  homeassistant/components/camera/__init__.py
Labels: core, integration: camera, cla-signed, small-pr

#72874 Add config flow to radiotherm
  .coveragerc
  CODEOWNERS
  homeassistant/components/radiotherm/__init__.py
  homeassistant/components/radiotherm/climate.py
  homeassistant/components/radiotherm/config_flow.py
  homeassistant/components/radiotherm/const.py
  homeassistant/components/radiotherm/coordinator.py
  homeassistant/components/radiotherm/data.py
  homeassistant/components/radiotherm/manifest.json
  homeassistant/components/radiotherm/strings.json
  homeassistant/components/radiotherm/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/dhcp.py
  requirements_test_all.txt
  tests/components/radiotherm/__init__.py
  tests/components/radiotherm/test_config_flow.py
Labels: breaking-change, cla-signed, new-feature, integration: radiotherm, has-tests, config-flow

#72978 Bump wallbox to 0.4.9
  homeassistant/components/wallbox/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/wallbox/__init__.py
  tests/components/wallbox/test_config_flow.py
  tests/components/wallbox/test_init.py
  tests/components/wallbox/test_lock.py
  tests/components/wallbox/test_number.py
  tests/components/wallbox/test_switch.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, dependency-bump, integration: wallbox

#73055 Fix unhandled exception when RainMachine coordinator data doesn't exist
  homeassistant/components/rainmachine/binary_sensor.py
  homeassistant/components/rainmachine/sensor.py
Labels: cla-signed, small-pr, integration: rainmachine, by-code-owner, bugfix

#72974 Throttle multiple requests to the velux gateway
  homeassistant/components/velux/cover.py
  homeassistant/components/velux/light.py
  homeassistant/components/velux/scene.py
Labels: cla-signed, integration: velux, bugfix

#73096 Fix elk attributes not being json serializable
  homeassistant/components/elkm1/__init__.py
Labels: cla-signed, small-pr, integration: elkm1, by-code-owner, bugfix

#73103 Remove available property from Kodi
  homeassistant/components/kodi/media_player.py
Labels: cla-signed, small-pr, integration: kodi, bugfix

#73069 Add Yolink lock support
  .coveragerc
  homeassistant/components/yolink/__init__.py
  homeassistant/components/yolink/binary_sensor.py
  homeassistant/components/yolink/const.py
  homeassistant/components/yolink/entity.py
  homeassistant/components/yolink/lock.py
  homeassistant/components/yolink/sensor.py
  homeassistant/components/yolink/siren.py
  homeassistant/components/yolink/switch.py
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: yolink

#73102 Tomorrowio utc fix
  homeassistant/components/tomorrowio/weather.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: tomorrowio

#73042 Reduce branching in generated lambda_stmts
  homeassistant/components/recorder/history.py
  homeassistant/components/recorder/statistics.py
  tests/components/recorder/test_statistics.py
Labels: core, integration: recorder, cla-signed, has-tests, bugfix

#73046 Send an empty logbook response when all requested entity_ids are filtered away
  homeassistant/components/logbook/websocket_api.py
  tests/components/logbook/test_websocket_api.py
Labels: core, cla-signed, integration: logbook, has-tests, by-code-owner, bugfix

#73032 Add binary sensors for Pure devices Boost Config
  homeassistant/components/sensibo/binary_sensor.py
  homeassistant/components/sensibo/sensor.py
  homeassistant/components/sensibo/strings.sensor.json
  homeassistant/components/sensibo/translations/sensor.en.json
  tests/components/sensibo/test_binary_sensor.py
  tests/components/sensibo/test_sensor.py
Labels: cla-signed, new-feature, integration: sensibo, has-tests, by-code-owner

#73063 Fix incompatiblity with live logbook and google_assistant
  homeassistant/components/logbook/const.py
  homeassistant/components/logbook/helpers.py
  homeassistant/components/logbook/processor.py
  homeassistant/components/logbook/websocket_api.py
  tests/components/logbook/common.py
  tests/components/logbook/test_websocket_api.py
Labels: core, cla-signed, integration: logbook, has-tests, by-code-owner, bugfix

#73101 Mark counter domain as continuous to exclude it from logbook
  homeassistant/components/logbook/const.py
  homeassistant/components/logbook/helpers.py
  homeassistant/components/logbook/queries/common.py
  homeassistant/components/recorder/filters.py
  tests/components/logbook/test_init.py
  tests/components/logbook/test_websocket_api.py
Labels: core, cla-signed, integration: logbook, small-pr, has-tests, by-code-owner

#72986 Fix fibaro cover detection
  homeassistant/components/fibaro/cover.py
Labels: cla-signed, small-pr, integration: fibaro, by-code-owner, bugfix

#73121 Bump holidays to 0.14.2
  homeassistant/components/workday/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: workday, dependency, dependency-bump

#73086 Jellyfin: Add support for movie collections
  homeassistant/components/jellyfin/const.py
  homeassistant/components/jellyfin/manifest.json
  homeassistant/components/jellyfin/media_source.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, new-feature, by-code-owner, integration: jellyfin

#73119 Update pylint to 2.14.0
  homeassistant/components/hassio/http.py
  homeassistant/components/hassio/websocket_api.py
  homeassistant/components/sentry/__init__.py
  homeassistant/helpers/update_coordinator.py
  pylint/plugins/hass_constructor.py
  pylint/plugins/hass_enforce_type_hints.py
  pylint/plugins/hass_imports.py
  pylint/plugins/hass_logger.py
  pyproject.toml
  requirements_test.txt
Labels: core, cla-signed, integration: hassio, small-pr, dependency, integration: sentry, smash

#73143 Point iAlarm XR at PyPI fork
  homeassistant/components/ialarm_xr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, dependency-bump, integration: ialarm_xr

#73139 Fix state_changes_during_period history query when no entities are passed
  homeassistant/components/recorder/history.py
  tests/components/recorder/test_history.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, bugfix

#73135 Bump async-upnp-client==0.31.1
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/components/dlna_dms/manifest.json
  homeassistant/components/samsungtv/manifest.json
  homeassistant/components/ssdp/manifest.json
  homeassistant/components/upnp/manifest.json
  homeassistant/components/yeelight/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: upnp, small-pr, integration: yeelight, integration: dlna_dmr, integration: samsungtv, integration: ssdp, dependency, by-code-owner, dependency-bump, integration: dlna_dms

#73133 Fix errors when unjoining multiple Sonos devices simultaneously
  homeassistant/components/sonos/media_player.py
Labels: cla-signed, small-pr, integration: sonos, by-code-owner, bugfix

#73149 Fix KeyError from ESPHome media players on startup
  homeassistant/components/esphome/media_player.py
Labels: cla-signed, small-pr, integration: esphome, by-code-owner, bugfix

#73151 Bump pyeight to 0.3.0
  homeassistant/components/eight_sleep/__init__.py
  homeassistant/components/eight_sleep/binary_sensor.py
  homeassistant/components/eight_sleep/manifest.json
  homeassistant/components/eight_sleep/sensor.py
  requirements_all.txt
Labels: cla-signed, integration: eight_sleep, small-pr, dependency, by-code-owner

#73083 Remove iAlarm XR integration
  .coveragerc
  .strict-typing
  CODEOWNERS
  homeassistant/components/ialarm_xr/__init__.py
  homeassistant/components/ialarm_xr/alarm_control_panel.py
  homeassistant/components/ialarm_xr/config_flow.py
  homeassistant/components/ialarm_xr/const.py
  homeassistant/components/ialarm_xr/manifest.json
  homeassistant/components/ialarm_xr/strings.json
  homeassistant/components/ialarm_xr/translations/bg.json
  homeassistant/components/ialarm_xr/translations/ca.json
  homeassistant/components/ialarm_xr/translations/de.json
  homeassistant/components/ialarm_xr/translations/el.json
  homeassistant/components/ialarm_xr/translations/en.json
  homeassistant/components/ialarm_xr/translations/es.json
  homeassistant/components/ialarm_xr/translations/et.json
  homeassistant/components/ialarm_xr/translations/fr.json
  homeassistant/components/ialarm_xr/translations/he.json
  homeassistant/components/ialarm_xr/translations/hu.json
  homeassistant/components/ialarm_xr/translations/id.json
  homeassistant/components/ialarm_xr/translations/it.json
  homeassistant/components/ialarm_xr/translations/ja.json
  homeassistant/components/ialarm_xr/translations/nl.json
  homeassistant/components/ialarm_xr/translations/no.json
  homeassistant/components/ialarm_xr/translations/pl.json
  homeassistant/components/ialarm_xr/translations/pt-BR.json
  homeassistant/components/ialarm_xr/translations/tr.json
  homeassistant/components/ialarm_xr/translations/zh-Hant.json
  homeassistant/components/ialarm_xr/utils.py
  homeassistant/generated/config_flows.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ialarm_xr/__init__.py
  tests/components/ialarm_xr/test_config_flow.py
  tests/components/ialarm_xr/test_init.py
Labels: breaking-change, remove-platform, cla-signed, small-pr, has-tests, by-code-owner, integration: ialarm_xr

#73145 Fix setup race when config entry is in a setup retry state
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: core, cla-signed, small-pr

#73144 Update pylint to 2.14.1
  homeassistant/components/broadlink/config_flow.py
  requirements_test.txt
Labels: cla-signed, small-pr, integration: broadlink, dependency, smash

#72409 Adjust config-flow type hints in vera
  homeassistant/components/vera/config_flow.py
Labels: cla-signed, integration: vera, code-quality, smash

#72503 Adjust config-flow type hints in xiaomi_miio
  homeassistant/components/xiaomi_miio/config_flow.py
Labels: cla-signed, integration: xiaomi_miio, code-quality, smash

#72977 Separate recorder database schema from other classes
  homeassistant/components/logbook/queries/all.py
  homeassistant/components/logbook/queries/common.py
  homeassistant/components/logbook/queries/devices.py
  homeassistant/components/logbook/queries/entities.py
  homeassistant/components/logbook/queries/entities_and_devices.py
  homeassistant/components/recorder/core.py
  homeassistant/components/recorder/db_schema.py
  homeassistant/components/recorder/filters.py
  homeassistant/components/recorder/history.py
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/models.py
  homeassistant/components/recorder/purge.py
  homeassistant/components/recorder/queries.py
  homeassistant/components/recorder/repack.py
  homeassistant/components/recorder/run_history.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/recorder/util.py
  tests/components/automation/test_recorder.py
  tests/components/camera/test_recorder.py
  tests/components/climate/test_recorder.py
  tests/components/fan/test_recorder.py
  tests/components/group/test_recorder.py
  tests/components/humidifier/test_recorder.py
  tests/components/input_boolean/test_recorder.py
  tests/components/input_button/test_recorder.py
  tests/components/input_datetime/test_recorder.py
  tests/components/input_number/test_recorder.py
  tests/components/input_select/test_recorder.py
  tests/components/input_text/test_recorder.py
  tests/components/light/test_recorder.py
  tests/components/media_player/test_recorder.py
  tests/components/number/test_recorder.py
  tests/components/recorder/common.py
  tests/components/recorder/db_schema_0.py
  tests/components/recorder/db_schema_16.py
  tests/components/recorder/db_schema_18.py
  tests/components/recorder/db_schema_22.py
  tests/components/recorder/db_schema_23.py
  tests/components/recorder/db_schema_23_with_newer_columns.py
  tests/components/recorder/db_schema_28.py
  tests/components/recorder/test_filters_with_entityfilter.py
  tests/components/recorder/test_history.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_migrate.py
  tests/components/recorder/test_models.py
  tests/components/recorder/test_purge.py
  tests/components/recorder/test_run_history.py
  tests/components/recorder/test_statistics.py
  tests/components/recorder/test_statistics_v23_migration.py
  tests/components/recorder/test_util.py
  tests/components/script/test_recorder.py
  tests/components/select/test_recorder.py
  tests/components/sensor/test_recorder.py
  tests/components/siren/test_recorder.py
  tests/components/sun/test_recorder.py
  tests/components/update/test_recorder.py
  tests/components/vacuum/test_recorder.py
  tests/components/water_heater/test_recorder.py
  tests/components/weather/test_recorder.py
Labels: core, integration: recorder, cla-signed, has-tests, code-quality

#73111 Add yolink valve controller support
  homeassistant/components/yolink/const.py
  homeassistant/components/yolink/sensor.py
  homeassistant/components/yolink/switch.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: yolink

#73169 Add missing `state_class` to min_max sensors
  homeassistant/components/min_max/sensor.py
  tests/components/min_max/test_sensor.py
Labels: cla-signed, small-pr, new-feature, integration: min_max, has-tests

#73107 Make Stream.stop() async
  homeassistant/components/camera/__init__.py
  homeassistant/components/nest/camera_sdm.py
  homeassistant/components/stream/__init__.py
  homeassistant/components/stream/core.py
  homeassistant/components/stream/hls.py
  tests/components/camera/test_init.py
  tests/components/nest/test_camera_sdm.py
  tests/components/stream/test_hls.py
  tests/components/stream/test_ll_hls.py
  tests/components/stream/test_recorder.py
  tests/components/stream/test_worker.py
Labels: core, cla-signed, small-pr, integration: stream, by-code-owner

#73077 Add logbook describe event support to ZHA
  homeassistant/components/zha/core/channels/__init__.py
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/device_trigger.py
  homeassistant/components/zha/logbook.py
  tests/components/zha/test_channels.py
  tests/components/zha/test_cover.py
  tests/components/zha/test_logbook.py
Labels: cla-signed, integration: zha, new-feature, has-tests, by-code-owner

#72771 Bump `nam` backend library
  homeassistant/components/nam/__init__.py
  homeassistant/components/nam/config_flow.py
  homeassistant/components/nam/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nam/test_config_flow.py
  tests/components/nam/test_init.py
Labels: cla-signed, has-tests, dependency, by-code-owner, integration: nam

#73175 Use class attribute instead of property in min_max integration
  homeassistant/components/min_max/sensor.py
Labels: cla-signed, small-pr, integration: min_max, code-quality

#73167 Add missing `state_class` to xiaomi_aqara sensors
  homeassistant/components/xiaomi_aqara/sensor.py
Labels: cla-signed, integration: xiaomi_aqara, small-pr, new-feature

#73168 Bump version of pyunifiprotect to 3.9.0
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/unifiprotect/test_binary_sensor.py
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, dependency-bump, integration: unifiprotect

#73180 Address late comment on Goalzero refactor
  homeassistant/components/goalzero/entity.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: goalzero

#73186 Bump pywemo to 0.9.1
  homeassistant/components/wemo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: wemo, small-pr, by-code-owner, bugfix, dependency-bump

#73141 Use default None for voltage property of FritzDevice in Fritz!Smarthome
  homeassistant/components/fritzbox/sensor.py
Labels: cla-signed, integration: fritzbox, small-pr, by-code-owner, bugfix

#73183 Fix creating unique IDs for WiFi switches in Fritz!Tools
  homeassistant/components/fritz/switch.py
  tests/components/fritz/conftest.py
  tests/components/fritz/const.py
  tests/components/fritz/test_button.py
  tests/components/fritz/test_config_flow.py
  tests/components/fritz/test_diagnostics.py
  tests/components/fritz/test_init.py
  tests/components/fritz/test_sensor.py
  tests/components/fritz/test_switch.py
  tests/components/fritz/test_update.py
Labels: cla-signed, small-pr, integration: fritz, has-tests, by-code-owner, code-quality, bugfix

#73179 Fix bugs with RainMachine zone run time sensors
  homeassistant/components/rainmachine/sensor.py
Labels: cla-signed, small-pr, integration: rainmachine, by-code-owner, bugfix

#73104 Make radiotherm hold mode a switch
  .coveragerc
  homeassistant/components/radiotherm/__init__.py
  homeassistant/components/radiotherm/climate.py
  homeassistant/components/radiotherm/config_flow.py
  homeassistant/components/radiotherm/const.py
  homeassistant/components/radiotherm/coordinator.py
  homeassistant/components/radiotherm/entity.py
  homeassistant/components/radiotherm/switch.py
  homeassistant/components/radiotherm/util.py
  tests/components/radiotherm/test_config_flow.py
Labels: breaking-change, new-platform, cla-signed, integration: radiotherm, has-tests, by-code-owner

#73193 2022.6.4
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/components/dlna_dms/manifest.json
  homeassistant/components/esphome/media_player.py
  homeassistant/components/fritz/switch.py
  homeassistant/components/fritzbox/sensor.py
  homeassistant/components/logbook/queries/__init__.py
  homeassistant/components/logbook/queries/all.py
  homeassistant/components/logbook/queries/devices.py
  homeassistant/components/logbook/queries/entities.py
  homeassistant/components/logbook/queries/entities_and_devices.py
  homeassistant/components/rainmachine/sensor.py
  homeassistant/components/recorder/history.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/recorder/util.py
  homeassistant/components/samsungtv/manifest.json
  homeassistant/components/sonos/media_player.py
  homeassistant/components/ssdp/manifest.json
  homeassistant/components/upnp/manifest.json
  homeassistant/components/wemo/manifest.json
  homeassistant/components/yeelight/manifest.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  setup.cfg
  tests/components/fritz/conftest.py
  tests/components/fritz/const.py
  tests/components/fritz/test_button.py
  tests/components/fritz/test_config_flow.py
  tests/components/fritz/test_diagnostics.py
  tests/components/fritz/test_init.py
  tests/components/fritz/test_sensor.py
  tests/components/fritz/test_switch.py
  tests/components/fritz/test_update.py
  tests/components/recorder/test_util.py
Labels: core, cla-signed, merging-to-master, has-tests

#72955 Add FlowResultType enum to data entry flow
  homeassistant/auth/__init__.py
  homeassistant/components/almond/config_flow.py
  homeassistant/components/auth/login_flow.py
  homeassistant/components/auth/mfa_setup_flow.py
  homeassistant/components/config/config_entries.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/config_entries.py
  homeassistant/data_entry_flow.py
  homeassistant/helpers/data_entry_flow.py
  homeassistant/helpers/schema_config_entry_flow.py
  pylint/plugins/hass_imports.py
Labels: core, breaking-change, cla-signed, integration: mqtt, integration: config, integration: auth, integration: almond, code-quality

#73173 Bump yolink-api to 0.0.8
  homeassistant/components/yolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, dependency-bump, integration: yolink

#73209 Add yolink CoSmoke Sensor and Switch
  homeassistant/components/yolink/binary_sensor.py
  homeassistant/components/yolink/const.py
  homeassistant/components/yolink/sensor.py
  homeassistant/components/yolink/switch.py
Labels: cla-signed, new-feature, by-code-owner, integration: yolink

#72753 Refactor template entity to allow reuse
  homeassistant/components/rest/entity.py
  homeassistant/components/rest/schema.py
  homeassistant/components/rest/sensor.py
  homeassistant/components/template/alarm_control_panel.py
  homeassistant/components/template/binary_sensor.py
  homeassistant/components/template/button.py
  homeassistant/components/template/cover.py
  homeassistant/components/template/fan.py
  homeassistant/components/template/light.py
  homeassistant/components/template/lock.py
  homeassistant/components/template/number.py
  homeassistant/components/template/select.py
  homeassistant/components/template/sensor.py
  homeassistant/components/template/switch.py
  homeassistant/components/template/template_entity.py
  homeassistant/components/template/vacuum.py
  homeassistant/components/template/weather.py
  homeassistant/helpers/template_entity.py
  tests/components/rest/test_sensor.py
Labels: core, cla-signed, new-feature, integration: template, integration: snmp

#73014 Add application credentials description strings
  homeassistant/components/application_credentials/__init__.py
  homeassistant/components/google/application_credentials.py
  homeassistant/components/google/strings.json
  homeassistant/components/google/translations/en.json
  script/hassfest/translations.py
  tests/components/application_credentials/test_init.py
Labels: cla-signed, integration: google, new-feature, has-tests, by-code-owner, integration: application_credentials

#73034 Fix VeSync device to match pyvesync type
  homeassistant/components/vesync/sensor.py
Labels: cla-signed, small-pr, integration: vesync, bugfix

#73218 Update apprise to 0.9.9
  homeassistant/components/apprise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: apprise, dependency, dependency-bump, smash

#73208 Fix Feedreader Atom feeds using `updated` date
  homeassistant/components/feedreader/__init__.py
  tests/components/feedreader/test_init.py
  tests/fixtures/feedreader5.xml
Labels: cla-signed, integration: feedreader, small-pr

#73222 Remove deprecated temperature conversion of non sensors
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
Labels: core, breaking-change, cla-signed, small-pr

#73241 Cleanup some code in SensorEntity
  homeassistant/components/sensor/__init__.py
Labels: core, cla-signed, small-pr, integration: sensor, code-quality

#73195 Add UniFi Protect chime button/camera switch
  homeassistant/components/unifiprotect/button.py
  homeassistant/components/unifiprotect/camera.py
  homeassistant/components/unifiprotect/switch.py
  tests/components/unifiprotect/test_camera.py
  tests/components/unifiprotect/test_switch.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: unifiprotect

#73250 Bump regenmaschine to 2022.06.1
  homeassistant/components/rainmachine/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: rainmachine, dependency, by-code-owner, dependency-bump

#73252 Bumps version of pyunifiprotect to 3.9.1
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: unifiprotect

#73197 Overhaul UniFi Protect NVR Disk sensors
  homeassistant/components/unifiprotect/binary_sensor.py
  tests/components/unifiprotect/fixtures/sample_nvr.json
  tests/components/unifiprotect/test_binary_sensor.py
Labels: breaking-change, cla-signed, has-tests, by-code-owner, integration: unifiprotect

#73061 Add powerview advanced features
  .coveragerc
  homeassistant/components/hunterdouglas_powerview/__init__.py
  homeassistant/components/hunterdouglas_powerview/button.py
  homeassistant/components/hunterdouglas_powerview/cover.py
  homeassistant/components/hunterdouglas_powerview/entity.py
Labels: cla-signed, new-feature, integration: hunterdouglas_powerview, by-code-owner

#73227 Remove deprecated yaml and code cleanup for `nfandroidtv`
  homeassistant/components/nfandroidtv/__init__.py
  homeassistant/components/nfandroidtv/config_flow.py
  homeassistant/components/nfandroidtv/const.py
  homeassistant/components/nfandroidtv/notify.py
  tests/components/nfandroidtv/test_config_flow.py
Labels: breaking-change, cla-signed, integration: nfandroidtv, has-tests

#72570 Add Vesync voltage sensor, and yearly, weekly, montly energy sensors
  homeassistant/components/vesync/common.py
  homeassistant/components/vesync/sensor.py
  homeassistant/components/vesync/switch.py
Labels: breaking-change, cla-signed, new-feature, integration: vesync

#73261 Bump velbus-aio version to 2022.6.1
  homeassistant/components/velbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: velbus, small-pr, dependency, by-code-owner, dependency-bump, smash

#73274 Improve Netgear logging
  homeassistant/components/netgear/sensor.py
Labels: cla-signed, small-pr, integration: netgear, by-code-owner, code-quality

#72473 Deprecate google calendar add_event service, replaced with entity service
  homeassistant/components/google/__init__.py
  homeassistant/components/google/calendar.py
  homeassistant/components/google/const.py
  homeassistant/components/google/services.yaml
  tests/components/google/test_init.py
Labels: breaking-change, cla-signed, integration: google, has-tests, by-code-owner
