Repository home-assistant/core, pull requests merged in 2022-12, with the labels that each got.

#83017 Bump aioesphomeapi to 12.2.1
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency-bump, Quality Scale: No score

#78952 Add nibe heat pump climate entities
  .coveragerc
  homeassistant/components/nibe_heatpump/__init__.py
  homeassistant/components/nibe_heatpump/climate.py
  homeassistant/components/nibe_heatpump/const.py
  homeassistant/components/nibe_heatpump/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: nibe_heatpump

#83031 Fix incorrect mapping of sensitive mode on oralb 4000 series
  homeassistant/components/oralb/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, Quality Scale: No score, integration: oralb

#82987 Bump hass-nabucasa from 0.56.0 to 0.59.0
  homeassistant/components/cloud/__init__.py
  homeassistant/components/cloud/const.py
  homeassistant/components/cloud/manifest.json
  homeassistant/components/cloud/system_health.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cloud/test_alexa_config.py
  tests/components/cloud/test_http_api.py
  tests/components/cloud/test_init.py
  tests/components/cloud/test_system_health.py
Labels: core, cla-signed, integration: cloud, has-tests, dependency, Quality Scale: No score

#83037 Fix getting updated thread IP at startup in homekit_controller
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, bugfix, dependency-bump, Quality Scale: No score

#82701 Add `translation_key` property to entites
  homeassistant/components/accuweather/sensor.py
  homeassistant/components/accuweather/strings.json
  homeassistant/components/accuweather/strings.sensor.json
  homeassistant/components/accuweather/translations/en.json
  homeassistant/components/config/entity_registry.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/entity_registry.py
  script/hassfest/translations.py
  tests/common.py
  tests/components/accuweather/test_sensor.py
  tests/components/config/test_entity_registry.py
  tests/helpers/test_entity.py
  tests/helpers/test_entity_platform.py
  tests/helpers/test_entity_registry.py
Labels: core, integration: recorder, cla-signed, new-feature, integration: accuweather, Quality Scale: internal, Quality Scale: platinum

#83029 Bump python-fullykiosk to 0.0.12
  homeassistant/components/fully_kiosk/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, dependency-bump, integration: fully_kiosk, Quality Scale: No score

#83030 Bump sense_api to 0.11.0 and add refresh token support
  homeassistant/components/emulated_kasa/manifest.json
  homeassistant/components/sense/__init__.py
  homeassistant/components/sense/config_flow.py
  homeassistant/components/sense/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/sense/test_config_flow.py
Labels: cla-signed, small-pr, integration: sense, dependency, by-code-owner, integration: emulated_kasa, Quality Scale: No score, Quality Scale: internal

#81768 Add dialect support to google_translate
  homeassistant/components/google_translate/const.py
  homeassistant/components/google_translate/tts.py
  tests/components/google_translate/test_tts.py
Labels: cla-signed, small-pr, new-feature, integration: google_translate, Quality Scale: No score

#83042 Update debugpy to 1.6.4
  homeassistant/components/debugpy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: debugpy, smash, Quality Scale: internal

#83003 Use matter refactored server/client library
  CODEOWNERS
  homeassistant/components/matter/__init__.py
  homeassistant/components/matter/adapter.py
  homeassistant/components/matter/api.py
  homeassistant/components/matter/config_flow.py
  homeassistant/components/matter/device_platform.py
  homeassistant/components/matter/entity.py
  homeassistant/components/matter/light.py
  homeassistant/components/matter/manifest.json
  homeassistant/components/matter/services.yaml
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/matter/common.py
  tests/components/matter/conftest.py
  tests/components/matter/test_adapter.py
  tests/components/matter/test_api.py
  tests/components/matter/test_config_flow.py
  tests/components/matter/test_init.py
  tests/components/matter/test_light.py
Labels: cla-signed, integration: matter

#83066 Remove home id from Tibber diagnostics
  homeassistant/components/tibber/diagnostics.py
  tests/components/tibber/test_diagnostics.py
Labels: cla-signed, small-pr, integration: tibber, has-tests, by-code-owner, bugfix, Quality Scale: silver

#83052 Fix hassfest serializer injecting commas in empty lists
  script/hassfest/serializer.py
Labels: cla-signed, small-pr, bugfix

#83067 Tibber, fix date parsing
  homeassistant/components/tibber/sensor.py
Labels: cla-signed, small-pr, integration: tibber, by-code-owner, bugfix, Quality Scale: silver

#83064 Add matter integration BETA
  .coveragerc
  .strict-typing
  CODEOWNERS
  homeassistant/components/matter/__init__.py
  homeassistant/components/matter/adapter.py
  homeassistant/components/matter/addon.py
  homeassistant/components/matter/api.py
  homeassistant/components/matter/config_flow.py
  homeassistant/components/matter/const.py
  homeassistant/components/matter/device_platform.py
  homeassistant/components/matter/entity.py
  homeassistant/components/matter/light.py
  homeassistant/components/matter/manifest.json
  homeassistant/components/matter/services.yaml
  homeassistant/components/matter/strings.json
  homeassistant/components/matter/translations/en.json
  homeassistant/components/matter/util.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/matter/__init__.py
  tests/components/matter/common.py
  tests/components/matter/conftest.py
  tests/components/matter/fixtures/nodes/fake-bridge-two-light.json
  tests/components/matter/fixtures/nodes/lighting-example-app.json
  tests/components/matter/test_adapter.py
  tests/components/matter/test_api.py
  tests/components/matter/test_config_flow.py
  tests/components/matter/test_init.py
  tests/components/matter/test_light.py
Labels: cla-signed, new-integration, has-tests, integration: matter

#83034 Add create and delete for Google Calendar events
  homeassistant/components/google/calendar.py
  tests/components/google/conftest.py
  tests/components/google/test_calendar.py
  tests/components/google/test_config_flow.py
  tests/components/google/test_init.py
Labels: cla-signed, integration: google, new-feature, has-tests, by-code-owner, Quality Scale: No score

#83062 Update frontend to 20221201.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency-bump, Quality Scale: internal

#83074 Defer xiaomi ble polling until after startup
  homeassistant/components/xiaomi_ble/__init__.py
Labels: cla-signed, small-pr, integration: xiaomi_ble, Quality Scale: No score

#83032 Assorted fixes for UniFi Protect
  homeassistant/components/unifiprotect/binary_sensor.py
  homeassistant/components/unifiprotect/const.py
  homeassistant/components/unifiprotect/entity.py
  homeassistant/components/unifiprotect/sensor.py
  homeassistant/components/unifiprotect/strings.sensor.json
  homeassistant/components/unifiprotect/translations/sensor.en.json
  tests/components/unifiprotect/test_sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: unifiprotect, Quality Scale: platinum

#83077 Fix prettier [ci]
  homeassistant/components/unifiprotect/strings.sensor.json
Labels: cla-signed, small-pr, code-quality, integration: unifiprotect, ci-full-run, Quality Scale: platinum, code-owner-approved

#83093 Bump zwave-js-server-python to 0.43.1
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, bugfix, dependency-bump, integration: zwave_js, Quality Scale: No score

#83091 Fix wrong ble device being logged
  homeassistant/components/bluetooth/wrappers.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: bluetooth, Quality Scale: internal

#83095 Bump bleak-retry-connector to 2.8.7
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#83094 Bump aiohomekit to 2.3.4
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#82489 Add enum device_class and state options property to sensor entities
  homeassistant/components/demo/sensor.py
  homeassistant/components/demo/strings.json
  homeassistant/components/demo/translations/en.json
  homeassistant/components/sensor/__init__.py
  homeassistant/components/sensor/recorder.py
  tests/components/number/test_init.py
  tests/components/sensor/test_init.py
  tests/components/sensor/test_recorder.py
  tests/testing_config/custom_components/test/sensor.py
Labels: core, cla-signed, integration: demo, new-feature, integration: sensor, has-tests, Quality Scale: internal

#83090 Bump pyunifiprotect to 4.5.2
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, dependency-bump, integration: unifiprotect, Quality Scale: platinum

#83086 Fix glob patterns for partial CI runs
  .github/workflows/ci.yaml
Labels: cla-signed, small-pr

#83104 Fix twinkly effects
  homeassistant/components/twinkly/light.py
Labels: cla-signed, small-pr, integration: twinkly, bugfix, Quality Scale: No score

#83103 Add type annotations to some hassio API
  homeassistant/components/analytics/analytics.py
  homeassistant/components/hardkernel/__init__.py
  homeassistant/components/hardkernel/hardware.py
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/system_health.py
  homeassistant/components/raspberry_pi/__init__.py
  homeassistant/components/raspberry_pi/hardware.py
Labels: core, cla-signed, integration: hassio, small-pr, code-quality, Quality Scale: internal

#83105 Migrate Tuya translations
  homeassistant/components/tuya/const.py
  homeassistant/components/tuya/select.py
  homeassistant/components/tuya/sensor.py
  homeassistant/components/tuya/strings.json
  homeassistant/components/tuya/strings.select.json
  homeassistant/components/tuya/strings.sensor.json
  homeassistant/components/tuya/translations/en.json
Labels: cla-signed, integration: tuya, by-code-owner, code-quality, Quality Scale: No score

#83053 Enable strict typing of diagnostics
  .strict-typing
  homeassistant/components/diagnostics/__init__.py
  mypy.ini
Labels: cla-signed, integration: diagnostics, Quality Scale: internal

#71307 Review AsusWRT sensors tests
  tests/components/asuswrt/test_config_flow.py
  tests/components/asuswrt/test_sensor.py
Labels: cla-signed, small-pr, integration: asuswrt, has-tests, by-code-owner, code-quality, smash

#82966 Fix small coding style in recent overkiz code
  homeassistant/components/overkiz/water_heater_entities/domestic_hot_water_production.py
  homeassistant/components/overkiz/water_heater_entities/hitachi_dhw.py
Labels: cla-signed, small-pr, code-quality, integration: overkiz, Quality Scale: No score

#82992 Add support for item removal to shopping list
  homeassistant/components/shopping_list/__init__.py
  homeassistant/components/shopping_list/const.py
  homeassistant/components/shopping_list/services.yaml
  tests/components/shopping_list/test_init.py
Labels: core, cla-signed, integration: shopping_list, new-feature, has-tests, Quality Scale: internal

#83119 Enable strict typing of analytics
  .strict-typing
  homeassistant/components/analytics/__init__.py
  homeassistant/components/analytics/analytics.py
  mypy.ini
  tests/components/analytics/test_analytics.py
Labels: cla-signed, has-tests, code-quality, integration: analytics, Quality Scale: internal

#83109 Use enum sensor device class in HomeKit Controller
  homeassistant/components/homekit_controller/sensor.py
  homeassistant/components/homekit_controller/strings.json
  homeassistant/components/homekit_controller/strings.sensor.json
  homeassistant/components/homekit_controller/translations/en.json
  tests/components/homekit_controller/specific_devices/test_nanoleaf_strip_nl55.py
Labels: cla-signed, integration: homekit_controller, new-feature, Quality Scale: No score

#83073 Update aiobafi6 to 0.7.3
  homeassistant/components/baf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
Labels: cla-signed, small-pr, by-code-owner, dependency-bump, integration: baf, Quality Scale: No score

#83116 Simplify diagnostics.DownloadDiagnosticsView
  homeassistant/components/diagnostics/__init__.py
Labels: cla-signed, small-pr, code-quality, integration: diagnostics, Quality Scale: internal

#83123 Enable strict typing of raspberry_pi
  .strict-typing
  mypy.ini
Labels: cla-signed, small-pr

#83122 Enable strict typing of hardkernel
  .strict-typing
  mypy.ini
Labels: cla-signed, small-pr, code-quality

#83121 Enable strict typing of homeassistant hardware integrations
  .strict-typing
  homeassistant/components/homeassistant_hardware/silabs_multiprotocol_addon.py
  homeassistant/components/homeassistant_sky_connect/__init__.py
  homeassistant/components/homeassistant_yellow/__init__.py
  mypy.ini
Labels: cla-signed, small-pr, code-quality, integration: homeassistant_yellow, integration: homeassistant_sky_connect, Quality Scale: No score, integration: homeassistant_hardware

#83071 Bump lupupy to 0.2.1
  homeassistant/components/lupusec/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: lupusec, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#83143 Address review comments for shopping list websockets
  homeassistant/components/shopping_list/__init__.py
  tests/components/shopping_list/test_init.py
Labels: core, cla-signed, integration: shopping_list, has-tests, code-quality, Quality Scale: internal

#83131 Use UnitOfTemperature in climate entities [m-s]
  homeassistant/components/maxcube/climate.py
  homeassistant/components/melcloud/climate.py
  homeassistant/components/melissa/climate.py
  homeassistant/components/mill/climate.py
  homeassistant/components/modbus/climate.py
  homeassistant/components/moehlenhoff_alpha2/climate.py
  homeassistant/components/mysensors/climate.py
  homeassistant/components/netatmo/climate.py
  homeassistant/components/nexia/climate.py
  homeassistant/components/nobo_hub/climate.py
  homeassistant/components/nuheat/climate.py
  homeassistant/components/oem/climate.py
  homeassistant/components/opentherm_gw/climate.py
  homeassistant/components/plugwise/climate.py
  homeassistant/components/proliphix/climate.py
  homeassistant/components/radiotherm/climate.py
  homeassistant/components/schluter/climate.py
  homeassistant/components/screenlogic/climate.py
  homeassistant/components/sensibo/climate.py
  homeassistant/components/senz/climate.py
  homeassistant/components/shelly/climate.py
  homeassistant/components/smartthings/climate.py
  homeassistant/components/smarttub/climate.py
  homeassistant/components/spider/climate.py
  homeassistant/components/stiebel_eltron/climate.py
  homeassistant/components/switchbee/climate.py
  homeassistant/components/switcher_kis/climate.py
Labels: cla-signed, code-quality

#83124 Update pycomfoconnect to 0.5.1
  homeassistant/components/comfoconnect/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
Labels: cla-signed, integration: comfoconnect, small-pr, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#83158 Fix logging the wrong bluetooth adapter while connecting and out of slots
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/bluetooth/wrappers.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: bluetooth, Quality Scale: internal

#83166 Fix race setting up homekit controller triggers
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/device_trigger.py
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, bugfix, Quality Scale: No score

#83106 Fix esphome ble client leaking notify on disconnect
  homeassistant/components/esphome/bluetooth/client.py
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, bugfix, Quality Scale: No score

#83155 Bump bluetooth-auto-recovery to 0.5.4
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: bluetooth, Quality Scale: internal

#83164 Fix reauth with esphome when adding noise encryption
  homeassistant/components/esphome/config_flow.py
  tests/components/esphome/test_config_flow.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, bugfix, Quality Scale: No score

#83089 Return empty data when OpenUV API call fails
  homeassistant/components/openuv/coordinator.py
Labels: cla-signed, small-pr, integration: openuv, by-code-owner, bugfix, Quality Scale: No score

#82556 Fix html5 Firefox Notifications
  homeassistant/components/html5/notify.py
  tests/components/html5/test_notify.py
Labels: cla-signed, small-pr, integration: html5, has-tests, bugfix, Quality Scale: No score

#83168 Bump aiohomekit to 2.3.5
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#83170 Bump pySwitchbot to 0.20.7
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, by-code-owner, bugfix, dependency-bump, Quality Scale: No score

#83107 Use enum sensor device class in PrusaLink
  homeassistant/components/prusalink/sensor.py
  homeassistant/components/prusalink/strings.json
  homeassistant/components/prusalink/strings.sensor.json
  homeassistant/components/prusalink/translations/en.json
  tests/components/prusalink/test_sensor.py
Labels: cla-signed, small-pr, new-feature, has-tests, integration: prusalink, Quality Scale: No score

#83108 Use enum sensor device class in Moon
  homeassistant/components/moon/sensor.py
  homeassistant/components/moon/strings.json
  homeassistant/components/moon/strings.sensor.json
  homeassistant/components/moon/translations/en.json
  tests/components/moon/test_sensor.py
Labels: cla-signed, new-feature, integration: moon, has-tests, by-code-owner, Quality Scale: internal

#83175 Update pyTibber to 0.26.3
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: tibber, dependency, by-code-owner, bugfix, dependency-bump, Quality Scale: silver

#82872 KNX Config/OptionsFlow: Test connection to manually configured tunnel
  homeassistant/components/knx/config_flow.py
  homeassistant/components/knx/strings.json
  tests/components/knx/test_config_flow.py
Labels: cla-signed, integration: knx, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#83180 Add CLOSED as an expected type
  homeassistant/components/websocket_api/http.py
Labels: core, cla-signed, integration: websocket_api, small-pr, Quality Scale: internal

#83157 Raise UpdateFailed when here_travel_time cannot find_location
  homeassistant/components/here_travel_time/coordinator.py
  homeassistant/components/here_travel_time/sensor.py
  tests/components/here_travel_time/test_sensor.py
Labels: cla-signed, small-pr, has-tests, integration: here_travel_time, by-code-owner, bugfix, Quality Scale: No score

#83145 Support older twinkly devices without effects
  homeassistant/components/twinkly/const.py
  homeassistant/components/twinkly/light.py
  tests/components/twinkly/__init__.py
  tests/components/twinkly/test_light.py
Labels: cla-signed, integration: twinkly, has-tests, bugfix, Quality Scale: No score

#81096 Add integration_type to AVM FRITZ!SmartHome
  homeassistant/components/fritzbox/manifest.json
Labels: Hacktoberfest, cla-signed, integration: fritzbox, small-pr, by-code-owner, code-quality, hacktoberfest-accepted, Quality Scale: No score

#83192 Fix missing services with esp32 proxies
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/bluetooth/wrappers.py
  homeassistant/components/esphome/bluetooth/client.py
  homeassistant/components/esphome/entry_data.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bluetooth/__init__.py
  tests/components/bluetooth/test_models.py
Labels: core, cla-signed, small-pr, integration: esphome, has-tests, dependency, by-code-owner, bugfix, integration: bluetooth, Quality Scale: No score, Quality Scale: internal

#83193 Bump ical to 4.1.2 to fix emoji in local calendar
  homeassistant/components/local_calendar/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, dependency-bump, integration: local_calendar, Quality Scale: No score

#83200 Fix SimpliSafe service calls that require a device selector
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/services.yaml
Labels: cla-signed, small-pr, integration: simplisafe, by-code-owner, bugfix, Quality Scale: No score

#83197 Bump pySwitchbot to 0.20.8
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, by-code-owner, dependency-bump, Quality Scale: No score

#83196 Bump aiohomekit to 2.3.6
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#83199 Bump yalexs-ble to 1.10.2
  homeassistant/components/august/manifest.json
  homeassistant/components/yalexs_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: yalexs_ble, Quality Scale: No score

#83026 Bump elkm1 lib to 2.2.1
  homeassistant/components/elkm1/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: elkm1, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#83190 Update aiolyric to 1.0.9
  homeassistant/components/lyric/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: lyric, small-pr, dependency, by-code-owner, bugfix, dependency-bump, Quality Scale: silver

#83203 Fix OpenUV coverage
  .coveragerc
Labels: cla-signed, small-pr, code-quality

#83205 Switch Twinkly to awesomeversion
  homeassistant/components/twinkly/light.py
Labels: cla-signed, small-pr, integration: twinkly, code-quality, Quality Scale: No score

#83216 Bump yalexs-ble to 1.10.3
  homeassistant/components/august/manifest.json
  homeassistant/components/yalexs_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: august, small-pr, dependency, by-code-owner, bugfix, dependency-bump, integration: yalexs_ble, Quality Scale: No score

#83185 Bump nibe to 1.5.0
  homeassistant/components/nibe_heatpump/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, dependency-bump, integration: nibe_heatpump, Quality Scale: No score

#83130 Use unit enums in demo
  homeassistant/components/demo/__init__.py
  homeassistant/components/demo/climate.py
  homeassistant/components/demo/geo_location.py
  homeassistant/components/demo/number.py
  homeassistant/components/demo/sensor.py
  homeassistant/components/demo/water_heater.py
Labels: core, cla-signed, integration: demo, code-quality, Quality Scale: internal

#83125 Use UnitOfTemperature in climate entities [a-f]
  homeassistant/components/adax/climate.py
  homeassistant/components/advantage_air/climate.py
  homeassistant/components/airtouch4/climate.py
  homeassistant/components/ambiclimate/climate.py
  homeassistant/components/baf/climate.py
  homeassistant/components/balboa/climate.py
  homeassistant/components/blebox/climate.py
  homeassistant/components/coolmaster/climate.py
  homeassistant/components/daikin/climate.py
  homeassistant/components/deconz/climate.py
  homeassistant/components/ecobee/climate.py
  homeassistant/components/ephember/climate.py
  homeassistant/components/eq3btsmart/climate.py
  homeassistant/components/escea/climate.py
  homeassistant/components/esphome/climate.py
  homeassistant/components/evohome/climate.py
  homeassistant/components/fibaro/climate.py
  homeassistant/components/flexit/climate.py
  homeassistant/components/freedompro/climate.py
  homeassistant/components/fritzbox/climate.py
Labels: cla-signed, code-quality

#83195 Add the QoS in the MQTT debug log
  homeassistant/components/mqtt/client.py
  tests/components/mqtt/test_init.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: gold

#83206 Restore HomeKit Controller BLE GSN at startup
  homeassistant/components/homekit_controller/button.py
  homeassistant/components/homekit_controller/config_flow.py
  homeassistant/components/homekit_controller/connection.py
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/homekit_controller/number.py
  homeassistant/components/homekit_controller/storage.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, bugfix, Quality Scale: No score

#83229 Remove deprecated GCM API from html5
  homeassistant/components/html5/notify.py
  tests/components/html5/test_notify.py
Labels: cla-signed, small-pr, integration: html5, has-tests, code-quality, Quality Scale: No score

#83208 Address late KNX flow tests review
  tests/components/knx/test_config_flow.py
Labels: cla-signed, integration: knx, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#83215 Update async-upnp-client to 0.32.3
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/components/dlna_dms/manifest.json
  homeassistant/components/samsungtv/manifest.json
  homeassistant/components/ssdp/manifest.json
  homeassistant/components/upnp/manifest.json
  homeassistant/components/yeelight/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: upnp, small-pr, integration: yeelight, integration: dlna_dmr, integration: samsungtv, integration: ssdp, dependency, by-code-owner, dependency-bump, integration: dlna_dms, Quality Scale: No score, Quality Scale: internal, Quality Scale: platinum

#83243 Bump pySwitchbot to 0.22.0
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#83238 Fix missing title placeholders in Synology DSM reauth flow
  homeassistant/components/synology_dsm/config_flow.py
  tests/components/synology_dsm/test_config_flow.py
Labels: cla-signed, small-pr, integration: synology_dsm, bugfix, Quality Scale: No score

#83244 Bump ical to 4.2.0
  homeassistant/components/local_calendar/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: local_calendar, Quality Scale: No score

#83211 Raise an exception when an esp proxy gets empty services during connection so callers know to retry
  homeassistant/components/esphome/bluetooth/client.py
Labels: cla-signed, small-pr, integration: esphome, bugfix, Quality Scale: No score

#83218 Handle numeric versions in mqtt update
  homeassistant/components/mqtt/update.py
  tests/components/mqtt/test_update.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, bugfix, Quality Scale: gold

#83230 Tweak black config
  .pre-commit-config.yaml
  pyproject.toml
Labels: cla-signed, small-pr, code-quality

#83245 Bump gcal_sync to 4.0.4
  homeassistant/components/google/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: google, small-pr, dependency, by-code-owner, dependency-bump, integration: local_calendar, Quality Scale: No score

#75708 Add IPv6 sensor to fritz component
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/sensor.py
  tests/components/fritz/const.py
  tests/components/fritz/test_sensor.py
Labels: cla-signed, small-pr, new-feature, integration: fritz, has-tests

#83223 Bump aioesphomeapi to 13.0.1
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, dependency-bump, Quality Scale: No score

#83246 Avoid regex overhead in processing esphome bluetooth advertisements
  homeassistant/components/esphome/bluetooth/scanner.py
Labels: cla-signed, small-pr, integration: esphome, code-quality, Quality Scale: No score

#83257 Fix mobile_app returning cloud URL when not subscribed
  homeassistant/components/mobile_app/http_api.py
  homeassistant/components/mobile_app/webhook.py
Labels: core, cla-signed, small-pr, integration: mobile_app, bugfix, Quality Scale: internal

#83259 Populate suggested_area using the LIFX group name for each device
  homeassistant/components/lifx/config_flow.py
  homeassistant/components/lifx/coordinator.py
  homeassistant/components/lifx/entity.py
  homeassistant/components/lifx/strings.json
  homeassistant/components/lifx/translations/en.json
  tests/components/lifx/__init__.py
  tests/components/lifx/test_config_flow.py
Labels: cla-signed, small-pr, new-feature, integration: lifx, has-tests, by-code-owner, Quality Scale: platinum

#83270 Update UniFi Protect ring entity to use event entity
  homeassistant/components/unifiprotect/binary_sensor.py
  homeassistant/components/unifiprotect/sensor.py
  tests/components/unifiprotect/test_binary_sensor.py
  tests/components/unifiprotect/test_sensor.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: unifiprotect, Quality Scale: platinum

#83120 Enable strict typing of hardware
  .strict-typing
  homeassistant/components/hardware/hardware.py
  homeassistant/components/hardware/websocket_api.py
  mypy.ini
Labels: cla-signed, small-pr, code-quality, integration: hardware, Quality Scale: internal

#83258 Code style improvements [alexa]
  homeassistant/components/alexa/capabilities.py
Labels: core, cla-signed, integration: alexa, small-pr, code-quality, Quality Scale: No score

#83129 Use UnitOfTemperature in climate entities [t-z]
  homeassistant/components/tado/climate.py
  homeassistant/components/tfiac/climate.py
  homeassistant/components/tolo/climate.py
  homeassistant/components/toon/climate.py
  homeassistant/components/touchline/climate.py
  homeassistant/components/tuya/climate.py
  homeassistant/components/velbus/climate.py
  homeassistant/components/venstar/climate.py
  homeassistant/components/vera/climate.py
  homeassistant/components/vicare/climate.py
  homeassistant/components/whirlpool/climate.py
  homeassistant/components/yolink/climate.py
  homeassistant/components/zha/climate.py
  homeassistant/components/zhong_hong/climate.py
Labels: cla-signed, code-quality

#83111 Use enum sensor device class in UptimeRobot
  homeassistant/components/uptimerobot/sensor.py
  homeassistant/components/uptimerobot/strings.json
  homeassistant/components/uptimerobot/strings.sensor.json
  homeassistant/components/uptimerobot/translations/en.json
  tests/components/uptimerobot/test_sensor.py
Labels: cla-signed, new-feature, integration: uptimerobot, has-tests, Quality Scale: platinum, code-owner-approved

#83213 Bump subarulink to v0.7.0
  homeassistant/components/subaru/manifest.json
  homeassistant/components/subaru/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/subaru/api_responses.py
  tests/components/subaru/fixtures/diagnostics_config_entry.json
  tests/components/subaru/fixtures/diagnostics_device.json
Labels: breaking-change, cla-signed, small-pr, has-tests, dependency, by-code-owner, bugfix, integration: subaru, Quality Scale: No score

#82740 Failback to v4 resolver for AAAA records in DNSIP integration
  homeassistant/components/dnsip/config_flow.py
  homeassistant/components/dnsip/const.py
Labels: cla-signed, small-pr, integration: dnsip, by-code-owner, bugfix, Quality Scale: No score

#83132 Use UnitOfTemperature in water_heater entities
  homeassistant/components/atag/water_heater.py
  homeassistant/components/evohome/water_heater.py
  homeassistant/components/hive/water_heater.py
  homeassistant/components/incomfort/water_heater.py
  homeassistant/components/melcloud/water_heater.py
  homeassistant/components/tado/water_heater.py
  homeassistant/components/vicare/water_heater.py
Labels: cla-signed, integration: tado, integration: hive, small-pr, integration: evohome, integration: melcloud, integration: incomfort, integration: vicare, integration: atag, code-quality, Quality Scale: No score

#83286 Migrate Plugwise translations
  homeassistant/components/plugwise/select.py
  homeassistant/components/plugwise/strings.json
  homeassistant/components/plugwise/strings.select.json
  homeassistant/components/plugwise/translations/en.json
Labels: cla-signed, integration: plugwise, by-code-owner, code-quality, Quality Scale: No score

#83167 Bump package for Garage Amsterdam
  homeassistant/components/garages_amsterdam/__init__.py
  homeassistant/components/garages_amsterdam/config_flow.py
  homeassistant/components/garages_amsterdam/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/garages_amsterdam/conftest.py
  tests/components/garages_amsterdam/test_config_flow.py
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: garages_amsterdam, Quality Scale: No score

#83293 Use enum sensor device class in Tomorrow.io
  homeassistant/components/tomorrowio/sensor.py
  homeassistant/components/tomorrowio/strings.json
  homeassistant/components/tomorrowio/strings.sensor.json
  homeassistant/components/tomorrowio/translations/en.json
Labels: cla-signed, new-feature, integration: tomorrowio, Quality Scale: No score

#83304 Migrate HomeKit Controller translations
  homeassistant/components/homekit_controller/const.py
  homeassistant/components/homekit_controller/select.py
  homeassistant/components/homekit_controller/strings.json
  homeassistant/components/homekit_controller/strings.select.json
  homeassistant/components/homekit_controller/translations/en.json
Labels: cla-signed, small-pr, integration: homekit_controller, code-quality, Quality Scale: No score

#83296 Migrate WLED translations
  homeassistant/components/wled/const.py
  homeassistant/components/wled/select.py
  homeassistant/components/wled/strings.json
  homeassistant/components/wled/strings.select.json
  homeassistant/components/wled/translations/en.json
Labels: cla-signed, small-pr, by-code-owner, integration: wled, code-quality, Quality Scale: platinum

#83303 Use new device class in homematic
  homeassistant/components/homematic/sensor.py
Labels: cla-signed, integration: homematic, small-pr, new-feature, Quality Scale: No score

#83298 Migrate LaMetric translations
  homeassistant/components/lametric/select.py
  homeassistant/components/lametric/strings.json
  homeassistant/components/lametric/strings.select.json
  homeassistant/components/lametric/translations/en.json
Labels: cla-signed, integration: lametric, small-pr, by-code-owner, code-quality, Quality Scale: platinum

#83300 Migrate Xiaomi Miio translations
  homeassistant/components/xiaomi_miio/select.py
  homeassistant/components/xiaomi_miio/strings.json
  homeassistant/components/xiaomi_miio/strings.select.json
  homeassistant/components/xiaomi_miio/translations/en.json
Labels: cla-signed, integration: xiaomi_miio, code-quality, Quality Scale: No score

#83305 Migrate MusicCast translations
  homeassistant/components/yamaha_musiccast/const.py
  homeassistant/components/yamaha_musiccast/select.py
  homeassistant/components/yamaha_musiccast/strings.json
  homeassistant/components/yamaha_musiccast/strings.select.json
  homeassistant/components/yamaha_musiccast/translations/en.json
Labels: cla-signed, integration: yamaha_musiccast, code-quality, Quality Scale: No score

#83306 Migrate TOLO Sauna translations
  homeassistant/components/tolo/select.py
  homeassistant/components/tolo/strings.json
  homeassistant/components/tolo/strings.select.json
  homeassistant/components/tolo/translations/en.json
Labels: cla-signed, small-pr, code-quality, integration: tolo, Quality Scale: No score

#83308 Migrate Logitech Harmony Hub translations
  homeassistant/components/harmony/select.py
  homeassistant/components/harmony/strings.json
  homeassistant/components/harmony/strings.select.json
  homeassistant/components/harmony/translations/en.json
  tests/components/harmony/test_select.py
Labels: cla-signed, small-pr, integration: harmony, has-tests, code-quality, Quality Scale: No score

#83294 Migrate Demo translations
  homeassistant/components/demo/select.py
  homeassistant/components/demo/strings.json
  homeassistant/components/demo/strings.select.json
  homeassistant/components/demo/translations/en.json
Labels: core, cla-signed, integration: demo, small-pr, code-quality, Quality Scale: internal

#83311 Update pylint to 2.15.8
  homeassistant/components/cloud/__init__.py
  requirements_test.txt
Labels: core, cla-signed, integration: cloud, small-pr, dependency, Quality Scale: No score

#83228 Refactor support for integrations to drop custom unit conversion
  homeassistant/components/sensor/__init__.py
  tests/components/sensor/test_init.py
Labels: core, cla-signed, integration: sensor, has-tests, code-quality, Quality Scale: internal

#83321 Migrate Tractive translations
  homeassistant/components/tractive/sensor.py
  homeassistant/components/tractive/strings.json
  homeassistant/components/tractive/strings.sensor.json
  homeassistant/components/tractive/translations/en.json
Labels: cla-signed, small-pr, code-quality, integration: tractive, Quality Scale: No score

#83333 Fix Tuya number native value raw return
  homeassistant/components/tuya/number.py
Labels: cla-signed, small-pr, integration: tuya, bugfix, Quality Scale: No score

#83292 Use UnitOfVolume in unit conversion
  homeassistant/util/unit_conversion.py
Labels: core, cla-signed, small-pr, code-quality

#83327 Use new device class in meteoclimatic
  homeassistant/components/meteoclimatic/const.py
  homeassistant/components/meteoclimatic/sensor.py
Labels: cla-signed, new-feature, integration: meteoclimatic, Quality Scale: No score

#83297 Use new device class in environment canada
  homeassistant/components/environment_canada/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: environment_canada, Quality Scale: No score

#83295 Use attributes in homematicip_cloud
  homeassistant/components/homematicip_cloud/sensor.py
Labels: cla-signed, integration: homematicip_cloud, new-feature, code-quality, Quality Scale: platinum

#83269 Update litterrobot integration to support long-term statistics
  homeassistant/components/litterrobot/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: litterrobot, Quality Scale: No score

#83316 Use enum sensor device class in AirVisual
  homeassistant/components/airvisual/sensor.py
  homeassistant/components/airvisual/strings.json
  homeassistant/components/airvisual/strings.sensor.json
  homeassistant/components/airvisual/translations/en.json
Labels: cla-signed, new-feature, integration: airvisual, Quality Scale: No score

#83324 Migrate Overkiz select translations
  homeassistant/components/overkiz/entity.py
  homeassistant/components/overkiz/select.py
  homeassistant/components/overkiz/strings.json
  homeassistant/components/overkiz/strings.select.json
  homeassistant/components/overkiz/translations/en.json
Labels: cla-signed, code-quality, integration: overkiz, Quality Scale: No score

#83325 Use new device class in meteo_france
  homeassistant/components/meteo_france/const.py
  homeassistant/components/meteo_france/sensor.py
Labels: cla-signed, new-feature, integration: meteo_france, Quality Scale: No score

#83341 Bump aiohomekit to 2.4.1
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#83289 Introduce UnitOfFrequency enum
  homeassistant/const.py
Labels: core, cla-signed, small-pr, new-feature, deprecation

#83334 Clean up Zodiac
  homeassistant/components/zodiac/sensor.py
  homeassistant/components/zodiac/strings.json
  homeassistant/components/zodiac/strings.sensor.json
  homeassistant/components/zodiac/translations/en.json
  tests/components/zodiac/test_sensor.py
Labels: cla-signed, has-tests, integration: zodiac, Quality Scale: silver

#83338 Migrate UniFi Protect translations
  homeassistant/components/unifiprotect/sensor.py
  homeassistant/components/unifiprotect/strings.json
  homeassistant/components/unifiprotect/strings.sensor.json
  homeassistant/components/unifiprotect/translations/en.json
Labels: cla-signed, small-pr, code-quality, integration: unifiprotect, Quality Scale: platinum, code-owner-approved

#83345 Update plugwise to v0.25.14, improve number detection
  homeassistant/components/plugwise/manifest.json
  homeassistant/components/plugwise/number.py
  homeassistant/components/plugwise/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/plugwise/fixtures/anna_heatpump_heating/all_data.json
  tests/components/plugwise/fixtures/m_anna_heatpump_cooling/all_data.json
  tests/components/plugwise/test_sensor.py
Labels: cla-signed, small-pr, new-feature, has-tests, integration: plugwise, dependency, by-code-owner, bugfix, Quality Scale: No score

#83322 Use new device class in ambient_station
  homeassistant/components/ambient_station/sensor.py
Labels: cla-signed, new-feature, integration: ambient_station, Quality Scale: No score

#83287 Introduce unit enums for electric current and potential
  homeassistant/const.py
Labels: core, cla-signed, small-pr, new-feature, deprecation

#83291 Introduce unit enums for information and data rate
  homeassistant/const.py
Labels: core, cla-signed, new-feature, deprecation

#83349 Update frontend to 20221205.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency-bump, Quality Scale: internal

#83344 Validate state class and unit of measurement for non-numeric sensors
  homeassistant/components/sensor/__init__.py
  tests/components/rest/test_sensor.py
  tests/components/sensor/test_init.py
Labels: core, cla-signed, small-pr, integration: sensor, has-tests, code-quality, Quality Scale: internal

#83329 Remove unused device class from Kostal Plenticore select
  homeassistant/components/kostal_plenticore/select.py
Labels: cla-signed, small-pr, integration: kostal_plenticore, code-quality, Quality Scale: No score

#83027 Adjust error message and add callback in nibe heatpump climate
  homeassistant/components/nibe_heatpump/climate.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: nibe_heatpump, Quality Scale: No score

#83323 Migrate Wolf SmartSet Service translations
  homeassistant/components/wolflink/sensor.py
  homeassistant/components/wolflink/strings.json
  homeassistant/components/wolflink/strings.sensor.json
  homeassistant/components/wolflink/translations/en.json
Labels: cla-signed, integration: wolflink, code-quality, Quality Scale: No score

#83342 Use enum sensor device class in Overkiz
  homeassistant/components/overkiz/entity.py
  homeassistant/components/overkiz/sensor.py
  homeassistant/components/overkiz/strings.json
  homeassistant/components/overkiz/strings.sensor.json
  homeassistant/components/overkiz/translations/en.json
Labels: cla-signed, new-feature, integration: overkiz, Quality Scale: No score

#83351 Fix repairing datetime precision for PostgreSQL
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/statistics.py
  tests/components/recorder/test_statistics.py
Labels: core, integration: recorder, cla-signed, has-tests, bugfix, Quality Scale: internal

#83281 Fix bluetooth device connection failure when device is seen by dbus but not bleak
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/bluetooth/scanner.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, by-code-owner, bugfix, integration: bluetooth, Quality Scale: internal

#83350 Bump ZHA dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, dependency-bump, Quality Scale: No score

#83310 Migrate Sensibo translations
  homeassistant/components/sensibo/sensor.py
  homeassistant/components/sensibo/strings.json
  homeassistant/components/sensibo/strings.sensor.json
  homeassistant/components/sensibo/translations/en.json
Labels: cla-signed, integration: sensibo, code-quality, Quality Scale: platinum, code-owner-approved

#83363 Use new device class in buienradar
  homeassistant/components/buienradar/sensor.py
Labels: cla-signed, new-feature, integration: buienradar, Quality Scale: No score

#83371 Use new enums in rflink
  homeassistant/components/rflink/sensor.py
Labels: cla-signed, integration: rflink, small-pr, code-quality, Quality Scale: No score

#83241 Add QoS parameter to MQTT websocket_subscribe
  homeassistant/components/mqtt/__init__.py
  tests/components/mqtt/test_init.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, Quality Scale: gold

#83379 Use tuple in test parametrization
  tests/components/sensor/test_init.py
Labels: core, cla-signed, small-pr, integration: sensor, has-tests, bugfix, Quality Scale: internal

#83368 Use new device class in rfxtrx
  homeassistant/components/rfxtrx/sensor.py
Labels: cla-signed, integration: rfxtrx, small-pr, new-feature, Quality Scale: No score

#83364 Use new device class in ecowitt
  homeassistant/components/ecowitt/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: ecowitt, Quality Scale: No score

#83366 Use new device class in metoffice
  homeassistant/components/metoffice/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: metoffice, Quality Scale: No score
