Repository home-assistant/core, pull requests merged in 2022-07, with the labels that each got.

#74183 Add light tests for devolo_home_control
  .coveragerc
  tests/components/devolo_home_control/mocks.py
  tests/components/devolo_home_control/test_light.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: devolo_home_control, code-quality

#74273 Fix key collision between platforms in esphome state updates
  homeassistant/components/esphome/__init__.py
  homeassistant/components/esphome/entry_data.py
Labels: cla-signed, integration: esphome, bugfix

#72967 Add config flow for Bose SoundTouch
  CODEOWNERS
  homeassistant/components/discovery/__init__.py
  homeassistant/components/soundtouch/__init__.py
  homeassistant/components/soundtouch/config_flow.py
  homeassistant/components/soundtouch/const.py
  homeassistant/components/soundtouch/manifest.json
  homeassistant/components/soundtouch/media_player.py
  homeassistant/components/soundtouch/services.yaml
  homeassistant/components/soundtouch/strings.json
  homeassistant/components/soundtouch/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/zeroconf.py
  tests/components/soundtouch/conftest.py
  tests/components/soundtouch/test_config_flow.py
  tests/components/soundtouch/test_media_player.py
Labels: core, cla-signed, integration: discovery, new-feature, integration: soundtouch, has-tests, code-quality, config-flow

#74282 Improve typing for device_automation
  homeassistant/components/device_automation/__init__.py
Labels: cla-signed, small-pr, integration: device_automation, code-quality

#74284 Bump quantum_gateway to v0.0.8.
  homeassistant/components/quantum_gateway/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, dependency, integration: quantum_gateway, dependency-bump

#74285 Add scan interval to scrape sensor
  homeassistant/components/scrape/sensor.py
Labels: breaking-change, cla-signed, small-pr, integration: scrape

#74288 Improve qnap_qsw firmware coordinator failures
  homeassistant/components/qnap_qsw/__init__.py
  homeassistant/components/qnap_qsw/coordinator.py
  tests/components/qnap_qsw/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: qnap_qsw

#74291 Fix QNAP QSW DHCP discover bugs
  homeassistant/components/qnap_qsw/config_flow.py
  homeassistant/components/qnap_qsw/strings.json
  homeassistant/components/qnap_qsw/translations/en.json
  tests/components/qnap_qsw/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: qnap_qsw

#74217 Lutron caseta ra3keypads
  homeassistant/components/lutron_caseta/__init__.py
  homeassistant/components/lutron_caseta/device_trigger.py
  tests/components/lutron_caseta/test_device_trigger.py
Labels: cla-signed, integration: lutron_caseta, new-feature, Testing required

#74294 Improve type hints in template
  homeassistant/components/template/binary_sensor.py
  homeassistant/components/template/light.py
  homeassistant/components/template/sensor.py
  homeassistant/components/template/switch.py
  homeassistant/components/template/vacuum.py
Labels: cla-signed, integration: template, code-quality, smash

#74305 Revert scrape changes to 2022.6.6
  CODEOWNERS
  homeassistant/components/scrape/__init__.py
  homeassistant/components/scrape/manifest.json
  homeassistant/components/scrape/sensor.py
  homeassistant/generated/config_flows.py
  tests/components/scrape/__init__.py
  tests/components/scrape/test_config_flow.py
  tests/components/scrape/test_init.py
  tests/components/scrape/test_sensor.py
Labels: cla-signed, integration: scrape

#74306 Guard creating areas in onboarding
  homeassistant/components/onboarding/views.py
  tests/components/onboarding/test_views.py
Labels: core, cla-signed, small-pr, integration: onboarding, has-tests, bugfix

#74324 Hive add entity categories to entities
  homeassistant/components/hive/sensor.py
  homeassistant/components/hive/switch.py
Labels: cla-signed, integration: hive, small-pr, new-feature, by-code-owner

#74319 Report error code in log when command fails
  homeassistant/components/command_line/__init__.py
  homeassistant/components/command_line/cover.py
  homeassistant/components/command_line/notify.py
  tests/components/command_line/test_binary_sensor.py
  tests/components/command_line/test_cover.py
  tests/components/command_line/test_notify.py
  tests/components/command_line/test_sensor.py
  tests/components/command_line/test_switch.py
Labels: cla-signed, small-pr, new-feature, integration: command_line, has-tests

#74308 Address HomeConnect late review
  homeassistant/components/home_connect/__init__.py
  homeassistant/components/home_connect/api.py
  homeassistant/components/home_connect/entity.py
Labels: cla-signed, small-pr, code-quality, integration: home_connect

#74327 Add nightly frontend to nightly builds
  .github/workflows/builder.yml
  Dockerfile
Labels: cla-signed, small-pr, new-feature

#74295 Improve type hints in mqtt
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/humidifier.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/number.py
  homeassistant/components/mqtt/select.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/siren.py
  homeassistant/components/mqtt/switch.py
Labels: core, cla-signed, integration: mqtt, code-quality, smash

#74329 Fix CI failure due to integrations leaving dirty known_devices.yaml
  tests/components/demo/test_init.py
  tests/components/device_tracker/test_init.py
Labels: core, cla-signed, integration: device_tracker, integration: demo, small-pr, has-tests, bugfix, ci-full-run

#74333 Remove duplicated QNAP QSW format_mac call in config_flow
  homeassistant/components/qnap_qsw/config_flow.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: qnap_qsw

#74317 Support climate reproduce state fan_mode
  homeassistant/components/climate/reproduce_state.py
  tests/components/climate/test_reproduce_state.py
Labels: core, integration: climate, cla-signed, small-pr, has-tests, bugfix, smash

#74318 Add configuration directory to system health
  homeassistant/components/homeassistant/strings.json
  homeassistant/components/homeassistant/system_health.py
  homeassistant/components/homeassistant/translations/en.json
Labels: core, cla-signed, small-pr, new-feature, integration: homeassistant, smash

#74312 Migrate metoffice to native_*
  homeassistant/components/metoffice/weather.py
  tests/components/metoffice/test_weather.py
Labels: cla-signed, small-pr, new-feature, integration: metoffice, has-tests, smash

#74314 Remove visibility from metoffice weather
  homeassistant/components/metoffice/weather.py
  tests/components/metoffice/test_weather.py
Labels: breaking-change, cla-signed, small-pr, integration: metoffice, has-tests, smash

#74341 Onvif: bump onvif-zeep-async to 1.2.1
  homeassistant/components/onvif/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, bugfix, dependency-bump

#74328 Expose temperature and humidity sensors from AC
  homeassistant/components/smartthings/climate.py
Labels: cla-signed, small-pr, new-feature, integration: smartthings

#74353 Cleanup Google Calendar unused test fixtures
  tests/components/google/test_calendar.py
Labels: cla-signed, integration: google, small-pr, has-tests, by-code-owner, code-quality

#74298 Address Blebox uniapi review sidenotes
  CODEOWNERS
  homeassistant/components/blebox/const.py
  homeassistant/components/blebox/cover.py
  homeassistant/components/blebox/light.py
  homeassistant/components/blebox/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/blebox/test_light.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: blebox, code-quality, bugfix

#74150 Add NextDNS integration
  CODEOWNERS
  homeassistant/components/nextdns/__init__.py
  homeassistant/components/nextdns/config_flow.py
  homeassistant/components/nextdns/const.py
  homeassistant/components/nextdns/manifest.json
  homeassistant/components/nextdns/sensor.py
  homeassistant/components/nextdns/strings.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nextdns/__init__.py
  tests/components/nextdns/test_config_flow.py
  tests/components/nextdns/test_init.py
  tests/components/nextdns/test_sensor.py
Labels: cla-signed, new-integration, has-tests, integration: nextdns

#74363 Fix typo in nightly build
  .github/workflows/builder.yml
Labels: cla-signed, small-pr, bugfix

#74364 Add tomli as nightly build dependency
  .github/workflows/builder.yml
Labels: cla-signed, small-pr, bugfix

#74201 Dont substitute user/pass for relative stream urls on generic camera
  homeassistant/components/generic/camera.py
  homeassistant/components/generic/config_flow.py
  homeassistant/components/generic/strings.json
  homeassistant/components/generic/translations/en.json
  tests/components/generic/test_config_flow.py
Labels: cla-signed, small-pr, integration: generic, by-code-owner, bugfix

#74359 Append name char value from the service to HomeKit Controller Entities
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/button.py
  homeassistant/components/homekit_controller/number.py
  homeassistant/components/homekit_controller/sensor.py
  homeassistant/components/homekit_controller/switch.py
  homeassistant/components/homekit_controller/utils.py
  tests/components/homekit_controller/fixtures/mss425f.json
  tests/components/homekit_controller/fixtures/mss565.json
  tests/components/homekit_controller/specific_devices/test_aqara_gateway.py
  tests/components/homekit_controller/specific_devices/test_aqara_switch.py
  tests/components/homekit_controller/specific_devices/test_arlo_baby.py
  tests/components/homekit_controller/specific_devices/test_connectsense.py
  tests/components/homekit_controller/specific_devices/test_koogeek_ls1.py
  tests/components/homekit_controller/specific_devices/test_koogeek_p1eu.py
  tests/components/homekit_controller/specific_devices/test_koogeek_sw2.py
  tests/components/homekit_controller/specific_devices/test_mss425f.py
  tests/components/homekit_controller/specific_devices/test_mss565.py
  tests/components/homekit_controller/specific_devices/test_mysa_living.py
  tests/components/homekit_controller/specific_devices/test_ryse_smart_bridge.py
  tests/components/homekit_controller/specific_devices/test_simpleconnect_fan.py
  tests/components/homekit_controller/specific_devices/test_velux_gateway.py
  tests/components/homekit_controller/specific_devices/test_vocolinc_flowerbud.py
  tests/components/homekit_controller/specific_devices/test_vocolinc_vp3.py
  tests/components/homekit_controller/test_diagnostics.py
  tests/components/homekit_controller/test_init.py
  tests/components/homekit_controller/test_light.py
Labels: cla-signed, small-pr, integration: homekit_controller, new-feature, has-tests, by-code-owner

#74337 Fix esphome state mapping
  homeassistant/components/esphome/__init__.py
  homeassistant/components/esphome/entry_data.py
Labels: cla-signed, small-pr, integration: esphome

#74297 Migrate Meteo_france to native_*
  homeassistant/components/meteo_france/weather.py
Labels: cla-signed, small-pr, integration: meteo_france, code-quality

#74335 Fix unique id issue for OpenWeatherMap
  homeassistant/components/openweathermap/const.py
Labels: cla-signed, small-pr, integration: openweathermap, bugfix

#74370 Small naming improvements and basic tests for ecobee 501s
  homeassistant/components/homekit_controller/__init__.py
  tests/components/homekit_controller/fixtures/ecobee_501.json
  tests/components/homekit_controller/specific_devices/test_ecobee_501.py
  tests/components/homekit_controller/specific_devices/test_hue_bridge.py
Labels: cla-signed, small-pr, integration: homekit_controller, has-tests, by-code-owner

#74369 Guard invalid data sensor significant change
  homeassistant/components/sensor/significant_change.py
  tests/components/sensor/test_significant_change.py
Labels: core, cla-signed, small-pr, integration: sensor, has-tests, bugfix

#74378 Inline building entity registry dict
  homeassistant/components/config/entity_registry.py
Labels: core, cla-signed, integration: config, small-pr, code-quality

#74386 Migrate knx weather to native_*
  homeassistant/components/knx/weather.py
Labels: cla-signed, integration: knx, small-pr, smash

#74315 Allowing for TOON cost sensors to work with Energy
  homeassistant/components/toon/sensor.py
Labels: cla-signed, integration: toon, small-pr, bugfix

#74393 Bump aioimaplib to 1.0.0
  homeassistant/components/imap/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: imap, dependency, bugfix, dependency-bump, smash

#74371 Update Pillow to 9.2.0
  homeassistant/components/doods/manifest.json
  homeassistant/components/generic/manifest.json
  homeassistant/components/image/manifest.json
  homeassistant/components/proxy/manifest.json
  homeassistant/components/qrcode/manifest.json
  homeassistant/components/seven_segments/manifest.json
  homeassistant/components/sighthound/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, dependency-bump, smash

#74392 Migrate meteoclimatic weather to native_*
  homeassistant/components/meteoclimatic/weather.py
Labels: cla-signed, small-pr, integration: meteoclimatic, smash

#74037 Migrate aemet to native_*
  homeassistant/components/aemet/__init__.py
  homeassistant/components/aemet/const.py
  homeassistant/components/aemet/sensor.py
  homeassistant/components/aemet/weather.py
  homeassistant/components/aemet/weather_update_coordinator.py
  tests/components/aemet/test_init.py
Labels: cla-signed, integration: aemet

#74404 Cleanup known_devices.yaml in device_tracker tests
  tests/components/device_tracker/test_init.py
Labels: core, cla-signed, integration: device_tracker, small-pr, has-tests, bugfix, ci-full-run

#74391 Migrate met_eireann weather to native_*
  homeassistant/components/met_eireann/const.py
  homeassistant/components/met_eireann/weather.py
Labels: cla-signed, small-pr, integration: met_eireann, smash

#74360 Support unload for multiple adguard entries
  homeassistant/components/adguard/__init__.py
Labels: cla-signed, small-pr, integration: adguard, bugfix

#74374 Make dispatcher setup lazy
  homeassistant/helpers/dispatcher.py
  tests/components/cast/test_media_player.py
Labels: core, cla-signed, small-pr, code-quality, reliable-startup

#74390 Remove explicit use of mock_zeroconf in devolo Home Network
  tests/components/devolo_home_network/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: devolo_home_network, smash

#74407 Migrate accuweather weather to native_*
  homeassistant/components/accuweather/weather.py
Labels: cla-signed, integration: accuweather

#74387 Migrate ipma weather to native_*
  homeassistant/components/ipma/weather.py
Labels: cla-signed, small-pr, integration: ipma, smash

#74377 Use the orjson equivalent default encoder when save_json is passed the default encoder
  homeassistant/util/json.py
  tests/util/test_json.py
Labels: core, cla-signed, small-pr, has-tests

#74389 Add instance attributes to GeolocationEvent
  homeassistant/components/geo_location/__init__.py
  tests/components/geo_location/test_init.py
Labels: core, cla-signed, small-pr, integration: geo_location, code-quality

#74415 Remove system_health from mypy ignore list
  homeassistant/components/system_health/__init__.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: core, cla-signed, small-pr, integration: system_health, code-quality

#74411 Remove gree from mypy ignore list
  homeassistant/components/gree/climate.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, small-pr, code-quality, integration: gree, smash

#74409 Correct climacell weather migration to native_*
  homeassistant/components/climacell/weather.py
Labels: cla-signed, small-pr, bugfix, integration: climacell

#74338 Typehints and cleanup for metoffice
  .strict-typing
  CODEOWNERS
  homeassistant/components/metoffice/config_flow.py
  homeassistant/components/metoffice/const.py
  homeassistant/components/metoffice/data.py
  homeassistant/components/metoffice/helpers.py
  homeassistant/components/metoffice/manifest.json
  homeassistant/components/metoffice/sensor.py
  homeassistant/components/metoffice/weather.py
  mypy.ini
Labels: cla-signed, integration: metoffice, code-quality

#74425 Remove harmony from mypy ignore list
  homeassistant/components/harmony/config_flow.py
  homeassistant/components/harmony/data.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, small-pr, integration: harmony, code-quality, smash

#74424 Bump pyunifiprotect to 4.0.9
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: unifiprotect

#74408 Add more type hints to demo
  homeassistant/components/demo/geo_location.py
  homeassistant/components/demo/humidifier.py
  homeassistant/components/demo/image_processing.py
  homeassistant/components/demo/switch.py
  homeassistant/components/demo/vacuum.py
  homeassistant/components/demo/weather.py
Labels: core, cla-signed, integration: demo, code-quality

#74427 Remove lutron_caseta from mypy ignore list
  homeassistant/components/lutron_caseta/__init__.py
  homeassistant/components/lutron_caseta/cover.py
  homeassistant/components/lutron_caseta/device_trigger.py
  homeassistant/components/lutron_caseta/models.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, integration: lutron_caseta, small-pr, code-quality

#74403 Use instance attributes in usgs_earthquakes_feed
  homeassistant/components/usgs_earthquakes_feed/geo_location.py
Labels: cla-signed, integration: usgs_earthquakes_feed, code-quality

#74311 Replace pylint-strict-informational with `fail-on=I`
  pyproject.toml
  requirements_test.txt
Labels: cla-signed, small-pr, code-quality, smash

#74410 Remove melcloud from mypy ignore list
  homeassistant/components/melcloud/__init__.py
  homeassistant/components/melcloud/climate.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, small-pr, integration: melcloud, code-quality, smash

#74296 Add type hints and code cleanup for mikrotik
  .coveragerc
  homeassistant/components/mikrotik/__init__.py
  homeassistant/components/mikrotik/config_flow.py
  homeassistant/components/mikrotik/const.py
  homeassistant/components/mikrotik/device_tracker.py
  homeassistant/components/mikrotik/hub.py
  tests/components/mikrotik/__init__.py
  tests/components/mikrotik/test_device_tracker.py
  tests/components/mikrotik/test_hub.py
  tests/components/mikrotik/test_init.py
Labels: cla-signed, integration: mikrotik, has-tests, by-code-owner, code-quality

#74429 Remove asserts from lutron_caseta async_attach_trigger
  homeassistant/components/lutron_caseta/device_trigger.py
Labels: cla-signed, integration: lutron_caseta, small-pr, by-code-owner

#74432 Fix multi_match to match with the IKEA airpurifier channel
  homeassistant/components/zha/number.py
  homeassistant/components/zha/sensor.py
Labels: cla-signed, integration: zha, small-pr, bugfix

#74344 Fix unreachable DenonAVR reporting as available when polling fails
  homeassistant/components/denonavr/media_player.py
Labels: cla-signed, small-pr, integration: denonavr, bugfix

#74286 Add GeolocationEvent checks to pylint plugin
  pylint/plugins/hass_enforce_type_hints.py
Labels: core, cla-signed, small-pr, integration: geo_location, code-quality

#74455 Re-introduce default scan interval in Scrape sensor
  homeassistant/components/scrape/sensor.py
Labels: cla-signed, small-pr, integration: scrape, bugfix

#74440 Improve fans in homekit_controller
  homeassistant/components/homekit_controller/climate.py
  homeassistant/components/homekit_controller/fan.py
  homeassistant/components/homekit_controller/number.py
  tests/components/homekit_controller/fixtures/haa_fan.json
  tests/components/homekit_controller/specific_devices/test_ecobee_501.py
  tests/components/homekit_controller/specific_devices/test_haa_fan.py
  tests/components/homekit_controller/test_climate.py
  tests/components/homekit_controller/test_fan.py
  tests/components/homekit_controller/test_number.py
Labels: breaking-change, cla-signed, integration: homekit_controller, by-code-owner

#74460 Bump deCONZ dependency to v96
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: deconz, small-pr, by-code-owner, code-quality

#74464 Avoid loading mqtt for type checking
  homeassistant/helpers/config_entry_flow.py
Labels: core, cla-signed, small-pr

#74467 Bump Frontend to 20220705.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency-bump

#74463 Bump aiohomekit to 0.7.19
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, bugfix, dependency-bump

#74466 Bump Sensibo dependency
  homeassistant/components/sensibo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: sensibo, dependency, by-code-owner, dependency-bump, smash

#74451 Remove lyric from mypy ignore list
  homeassistant/components/lyric/climate.py
  homeassistant/components/lyric/config_flow.py
  homeassistant/components/lyric/sensor.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, integration: lyric, small-pr, code-quality, smash

#74471 Revert "Migrate aemet to native_*"
  homeassistant/components/aemet/__init__.py
  homeassistant/components/aemet/const.py
  homeassistant/components/aemet/sensor.py
  homeassistant/components/aemet/weather.py
  homeassistant/components/aemet/weather_update_coordinator.py
  tests/components/aemet/test_init.py
Labels: cla-signed, integration: aemet, has-tests

#74368 Add NextDNS system health
  homeassistant/components/nextdns/strings.json
  homeassistant/components/nextdns/system_health.py
  tests/components/nextdns/test_system_health.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: nextdns

#74365 Address late comment for NextDNS
  homeassistant/components/nextdns/__init__.py
  homeassistant/components/nextdns/sensor.py
Labels: cla-signed, by-code-owner, bugfix, smash, integration: nextdns

#74367 Add NextDNS diagnostics platform
  homeassistant/components/nextdns/diagnostics.py
  tests/components/nextdns/test_diagnostics.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: nextdns

#74488 Fix apple tv not coming online if connected before entity created
  homeassistant/components/apple_tv/__init__.py
Labels: cla-signed, integration: apple_tv, small-pr, bugfix

#74441 Offer HKC local push control option when there are multiple zeroconf homekit matches
  homeassistant/components/zeroconf/__init__.py
  tests/components/zeroconf/test_init.py
Labels: cla-signed, integration: zeroconf, small-pr, new-feature, has-tests, by-code-owner

#74483 Cache the response from config/device_registry/list
  homeassistant/components/config/device_registry.py
  tests/components/config/test_device_registry.py
Labels: core, cla-signed, integration: config, has-tests

#74479 Fix SIGN_QUERY_PARAM in check in auth_middleware
  homeassistant/components/http/auth.py
Labels: core, cla-signed, integration: http, small-pr, bugfix

#74443 Cache the response from config/entity_registry/list
  homeassistant/components/config/entity_registry.py
  tests/components/config/test_entity_registry.py
Labels: core, cla-signed, integration: config, has-tests

#74489 Bump aiohomekit to 0.7.20
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, dependency-bump

#74490 Use FlowResultType in devolo Home Control tests
  tests/components/devolo_home_control/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: devolo_home_control, code-quality, smash

#74496 Use FlowResultType in Axis test_config_flow
  tests/components/axis/test_config_flow.py
Labels: cla-signed, integration: axis, small-pr, has-tests, by-code-owner, code-quality, smash

#74456 Remove unifi from mypy ignore list
  homeassistant/components/unifi/__init__.py
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/unifi/device_tracker.py
  homeassistant/components/unifi/diagnostics.py
  homeassistant/components/unifi/unifi_client.py
  homeassistant/components/unifi/unifi_entity_base.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, small-pr, integration: unifi, code-quality, smash

#74447 Remove input_datetime from mypy ignore list
  homeassistant/components/input_datetime/__init__.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: core, cla-signed, integration: input_datetime, small-pr, code-quality, smash

#74503 Address NextDNS late review
  homeassistant/components/nextdns/sensor.py
  homeassistant/components/nextdns/system_health.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: nextdns

#74494 Migrate aemet weather to native_*
  homeassistant/components/aemet/const.py
  homeassistant/components/aemet/sensor.py
  homeassistant/components/aemet/weather.py
  homeassistant/components/aemet/weather_update_coordinator.py
Labels: cla-signed, integration: aemet

#74511 Add new alias for valid Celcius temperature units in Tuya
  homeassistant/components/tuya/const.py
Labels: cla-signed, small-pr, integration: tuya, bugfix

#74513 Fix openweathermap forecast sensors
  homeassistant/components/openweathermap/const.py
  homeassistant/components/openweathermap/weather.py
  homeassistant/components/openweathermap/weather_update_coordinator.py
Labels: cla-signed, integration: openweathermap, bugfix

#74516 Update homematicip to 1.0.3
  homeassistant/components/homematicip_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homematicip_cloud, dependency, dependency-bump

#74474 Resolve and caches paths for CachingStaticResource in the executor
  homeassistant/components/http/static.py
  homeassistant/components/recorder/manifest.json
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/frontend/test_init.py
Labels: core, cla-signed, integration: http, code-quality, bugfix

#74448 Remove home_plus_control from mypy ignore list
  homeassistant/components/home_plus_control/__init__.py
  homeassistant/components/home_plus_control/api.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, small-pr, code-quality, integration: home_plus_control, smash

#74535 Use pydeconz interface controls for cover platform
  homeassistant/components/deconz/cover.py
  tests/components/deconz/test_cover.py
Labels: cla-signed, integration: deconz, has-tests, by-code-owner, code-quality

#74526 Add oui for tplink es20m
  homeassistant/components/tplink/manifest.json
  homeassistant/generated/dhcp.py
Labels: cla-signed, small-pr, integration: tplink

#74543 Bump satel_integra to 0.3.7 to fix compat with python 3.10
  homeassistant/components/satel_integra/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: satel_integra, dependency, dependency-bump

#74545 fjaraskupan: Make sure we stop bleak on home assistant stop
  homeassistant/components/fjaraskupan/__init__.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: fjaraskupan

#74578 Fix openweathermap hourly forecast
  homeassistant/components/openweathermap/weather.py
Labels: cla-signed, small-pr, integration: openweathermap, bugfix

#74517 Use generics in NextDNS
  homeassistant/components/nextdns/__init__.py
  homeassistant/components/nextdns/sensor.py
Labels: cla-signed, code-quality, smash, integration: nextdns

#74561 Bump pyenvisalink version to 4.6
  homeassistant/components/envisalink/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: envisalink, small-pr, dependency, by-code-owner, bugfix, dependency-bump

#74559 Bump aioskybell to 22.7.0
  homeassistant/components/skybell/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: skybell, small-pr, dependency, by-code-owner, dependency-bump

#74549 Minimize Sonos `media_player.unjoin` timeout
  homeassistant/components/sonos/media_player.py
Labels: cla-signed, small-pr, integration: sonos, by-code-owner, bugfix

#74518 Add three decimal places of sub-second resolution to root logger timestamps
  homeassistant/bootstrap.py
Labels: core, breaking-change, cla-signed, small-pr, new-feature

#74482 Switch linear search to a dict lookup for ip bans
  homeassistant/components/http/ban.py
  tests/components/conftest.py
  tests/components/http/test_ban.py
Labels: core, cla-signed, integration: http, small-pr, has-tests, code-quality

#74581 Update orjson to 3.7.7
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, smash

#74587 Remove google_assistant from mypy ignore list
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/report_state.py
  homeassistant/components/google_assistant/trait.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: core, cla-signed, integration: google_assistant, small-pr, code-quality, smash

#74583 Add deprecation to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed, small-pr, new-feature

#74580 Remove denonavr from mypy ignore list
  homeassistant/components/denonavr/config_flow.py
  homeassistant/components/denonavr/media_player.py
  homeassistant/components/denonavr/receiver.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, integration: denonavr, code-quality, smash

#74476 Remove legacy Sonos grouping services
  homeassistant/components/sonos/media_player.py
  homeassistant/components/sonos/services.yaml
  tests/components/sonos/test_media_player.py
  tests/components/sonos/test_services.py
Labels: breaking-change, cla-signed, small-pr, integration: sonos, has-tests, by-code-owner, smash

#74598 Fix mix of aiohttp and requests in Bloomsky
  homeassistant/components/bloomsky/__init__.py
Labels: cla-signed, small-pr, integration: bloomsky, bugfix, smash

#74596 Use FlowResultType enum in Tuya tests
  tests/components/tuya/test_config_flow.py
Labels: cla-signed, small-pr, integration: tuya, has-tests, by-code-owner, code-quality, smash

#74594 Use FlowResultType enum in WLED tests
  tests/components/wled/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: wled, code-quality

#74603 Remove hassio from mypy ignore list
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/auth.py
  homeassistant/components/hassio/binary_sensor.py
  homeassistant/components/hassio/ingress.py
  homeassistant/components/hassio/sensor.py
  homeassistant/components/hassio/system_health.py
  homeassistant/components/hassio/websocket_api.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: core, cla-signed, integration: hassio, small-pr, code-quality, smash

#66419 Add SetSystemDateandTime Button
  homeassistant/components/onvif/button.py
  homeassistant/components/onvif/device.py
  tests/components/onvif/test_button.py
Labels: cla-signed, integration: onvif

#74628 Fix mix of aiohttp and requests in ZAMG
  homeassistant/components/zamg/sensor.py
Labels: cla-signed, small-pr, integration: zamg, bugfix

#74514 Switch dispatcher to use async_run_hass_job
  homeassistant/components/hassio/websocket_api.py
  homeassistant/components/home_plus_control/__init__.py
  homeassistant/helpers/dispatcher.py
  tests/components/unifi/test_controller.py
Labels: core, cla-signed, small-pr

#74649 Fix exception in doorbird logbook during startup
  homeassistant/components/doorbird/logbook.py
Labels: cla-signed, integration: doorbird, small-pr, by-code-owner, bugfix

#74637 Update debugpy to 1.6.1
  homeassistant/components/debugpy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, integration: debugpy, smash

#74613 Remove meteo_france from mypy ignore list
  homeassistant/components/meteo_france/const.py
  homeassistant/components/meteo_france/sensor.py
  homeassistant/components/meteo_france/weather.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, small-pr, integration: meteo_france, code-quality, smash

#74612 Remove influxdb from mypy ignore list
  homeassistant/components/influxdb/__init__.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, integration: influxdb, small-pr, code-quality, smash

#74640 Fix smart energy polling for Tuya plugs
  homeassistant/components/zha/sensor.py
Labels: cla-signed, integration: zha, small-pr, bugfix

#74615 Ikea Starkvind support all models
  homeassistant/components/zha/binary_sensor.py
  homeassistant/components/zha/number.py
  homeassistant/components/zha/sensor.py
Labels: cla-signed, integration: zha, bugfix

#74648 Bump number of test groups from 6 -> 10
  .github/workflows/ci.yaml
Labels: cla-signed, small-pr

#74659 Remove philips_js from mypy ignore list
  homeassistant/components/philips_js/__init__.py
  homeassistant/components/philips_js/config_flow.py
  homeassistant/components/philips_js/device_trigger.py
  homeassistant/components/philips_js/light.py
  homeassistant/components/philips_js/media_player.py
  mypy.ini
  script/hassfest/mypy_config.py
Labels: cla-signed, small-pr, integration: philips_js, code-quality, smash

#74671 Standardize EntityDescription in DSMR
  homeassistant/components/dsmr/const.py
  homeassistant/components/dsmr/models.py
  homeassistant/components/dsmr/sensor.py
Labels: cla-signed, integration: dsmr, code-quality, smash

#74660 Fix climacell/tomorrowio config flow test failure
  homeassistant/components/climacell/weather.py
Labels: cla-signed, small-pr, integration: climacell

#74677 Update kaiterra-async-client to 1.0.0
  homeassistant/components/kaiterra/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: kaiterra, dependency, by-code-owner, dependency-bump

#74243 Resolution center MVP
  .strict-typing
  CODEOWNERS
  homeassistant/components/resolution_center/__init__.py
  homeassistant/components/resolution_center/const.py
  homeassistant/components/resolution_center/issue_handler.py
  homeassistant/components/resolution_center/issue_registry.py
  homeassistant/components/resolution_center/manifest.json
  homeassistant/components/resolution_center/models.py
  homeassistant/components/resolution_center/websocket_api.py
  mypy.ini
  script/hassfest/manifest.py
  tests/components/resolution_center/__init__.py
  tests/components/resolution_center/test_init.py
  tests/components/resolution_center/test_issue_registry.py
  tests/components/resolution_center/test_websocket_api.py
Labels: cla-signed, new-integration, has-tests, integration: resolution_center

#74686 Add google calendar service proper exception handling
  homeassistant/components/google/__init__.py
  homeassistant/components/google/calendar.py
  tests/components/google/conftest.py
  tests/components/google/test_init.py
Labels: cla-signed, integration: google, has-tests, by-code-owner, code-quality

#74663 Update lxml to 4.9.1
  homeassistant/components/scrape/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: scrape, dependency, dependency-bump, smash

#74689 2022.7.1
  homeassistant/components/apache_kafka/__init__.py
  homeassistant/components/apache_kafka/manifest.json
  homeassistant/components/bloomsky/__init__.py
  homeassistant/components/cast/helpers.py
  homeassistant/components/cast/media_player.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/manifest.json
  homeassistant/components/doorbird/logbook.py
  homeassistant/components/elkm1/manifest.json
  homeassistant/components/envisalink/manifest.json
  homeassistant/components/fjaraskupan/__init__.py
  homeassistant/components/frontend/manifest.json
  homeassistant/components/kaiterra/manifest.json
  homeassistant/components/openweathermap/weather.py
  homeassistant/components/satel_integra/manifest.json
  homeassistant/components/skybell/manifest.json
  homeassistant/components/sonos/media_player.py
  homeassistant/components/zamg/sensor.py
  homeassistant/components/zha/binary_sensor.py
  homeassistant/components/zha/number.py
  homeassistant/components/zha/sensor.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cast/test_media_player.py
Labels: core, cla-signed, merging-to-master, has-tests

#74604 Remove deprecated Spotify YAML configuration
  homeassistant/components/spotify/__init__.py
  tests/components/spotify/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, integration: spotify, has-tests, smash

#74611 Bump NextDNS backend library
  homeassistant/components/nextdns/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nextdns/test_diagnostics.py
  tests/components/nextdns/test_sensor.py
Labels: cla-signed, small-pr, dependency, by-code-owner, dependency-bump, smash, integration: nextdns

#74684 Add ssh-rsa as acceptable an host key algorithm
  homeassistant/components/unifi_direct/device_tracker.py
Labels: cla-signed, small-pr, integration: unifi_direct, bugfix

#74706 Always run pip_check in CI
  .github/workflows/ci.yaml
Labels: cla-signed, small-pr, new-feature

#74710 Bump deconz dependency to fix #74523
  homeassistant/components/deconz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/deconz/test_sensor.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, bugfix

#74692 Update debugpy to 1.6.2
  homeassistant/components/debugpy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, dependency-bump, integration: debugpy, smash

#74641 Add missing strings for here_travel_time
  homeassistant/components/here_travel_time/strings.json
  homeassistant/components/here_travel_time/translations/en.json
Labels: cla-signed, small-pr, integration: here_travel_time, by-code-owner, bugfix

#74705 Cleanup generic in NextDNS
  homeassistant/components/nextdns/sensor.py
Labels: cla-signed, small-pr, code-quality, smash, integration: nextdns

#74687 Fix ZHA group not setting the correct color mode
  homeassistant/components/zha/light.py
Labels: cla-signed, integration: zha, small-pr, bugfix

#74734 Attempt to fix flaky test by waiting for setup to complete
  tests/components/system_log/test_init.py
Labels: core, cla-signed, integration: system_log, small-pr, has-tests, ci-full-run

#71035 Add huawei_lte wifi guest network switch
  homeassistant/components/huawei_lte/__init__.py
  homeassistant/components/huawei_lte/const.py
  homeassistant/components/huawei_lte/switch.py
  tests/components/huawei_lte/test_switches.py
Labels: cla-signed, new-feature, integration: huawei_lte, has-tests, dependency

#74758 Bump atomicwrites
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, bugfix

#74680 Bump regenmaschine to 2022.07.0
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/config_flow.py
  homeassistant/components/rainmachine/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: rainmachine, by-code-owner, dependency-bump

#74718 Fix error with HDD temperature report in Freebox integration
  homeassistant/components/freebox/router.py
  homeassistant/components/freebox/sensor.py
  tests/components/freebox/const.py
Labels: cla-signed, small-pr, integration: freebox, bugfix
