Repository home-assistant/core, pull requests merged in 2023-03, with the labels that each got.

#88933 Update intent sentences package
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/helpers/test_intent.py
Labels: core, cla-signed, integration: conversation, small-pr, dependency, by-code-owner, bugfix, Quality Scale: internal

#88939 Use ulid-transform for constructing ulids
  homeassistant/core.py
  homeassistant/package_constraints.txt
  homeassistant/util/ulid.py
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr

#88914 Store source entity in switch_as_x entity options
  homeassistant/components/switch_as_x/entity.py
  tests/components/switch_as_x/test_init.py
Labels: cla-signed, small-pr, has-tests, integration: switch_as_x, Quality Scale: internal

#88765 Introduce a UUID configuration option for API token
  homeassistant/components/entur_public_transport/sensor.py
Labels: cla-signed, small-pr, integration: entur_public_transport, bugfix, Quality Scale: No score

#88878 Adjust issue_registry imports
  homeassistant/components/bayesian/repairs.py
  homeassistant/components/obihai/sensor.py
  tests/components/repairs/test_websocket_api.py
  tests/helpers/test_issue_registry.py
Labels: core, cla-signed, small-pr, integration: bayesian, has-tests, integration: obihai, code-quality, integration: repairs, Quality Scale: No score, Quality Scale: internal

#88879 Adjust registry access in conversation
  homeassistant/components/conversation/default_agent.py
  tests/components/conversation/test_default_agent.py
  tests/components/conversation/test_init.py
Labels: core, cla-signed, integration: conversation, small-pr, has-tests, code-quality, Quality Scale: internal

#88880 Adjust registry access in tests root
  tests/common.py
Labels: core, cla-signed, small-pr, code-quality

#88884 Adjust registry access in scripts
  homeassistant/scripts/check_config.py
Labels: core, cla-signed, small-pr, code-quality

#88883 Adjust registry access in Google Assistant
  homeassistant/components/google_assistant/helpers.py
Labels: core, cla-signed, integration: google_assistant, small-pr, code-quality, Quality Scale: No score

#88882 Adjust registry access in openai_conversation
  homeassistant/components/openai_conversation/__init__.py
  tests/components/openai_conversation/test_init.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: openai_conversation

#88873 Adjust AddEntitiesCallback import (part 2)
  homeassistant/components/eight_sleep/sensor.py
  homeassistant/components/ezviz/camera.py
  homeassistant/components/hue/scene.py
  homeassistant/components/keymitt_ble/switch.py
  homeassistant/components/unifiprotect/select.py
  homeassistant/components/zha/lock.py
Labels: cla-signed, integration: zha, integration: eight_sleep, integration: hue, integration: ezviz, code-quality, integration: unifiprotect, integration: keymitt_ble, Quality Scale: No score, Quality Scale: platinum

#88929 Update Tado services.yaml defaults
  homeassistant/components/tado/services.yaml
Labels: cla-signed, integration: tado, small-pr, bugfix, Quality Scale: No score

#86350 Add diagnostics to VeSync
  .coveragerc
  homeassistant/components/vesync/diagnostics.py
  tests/components/vesync/common.py
  tests/components/vesync/conftest.py
  tests/components/vesync/fixtures/vesync_api_call__device_details__single_fan.json
  tests/components/vesync/fixtures/vesync_api_call__device_details__single_humidifier.json
  tests/components/vesync/fixtures/vesync_api_call__devices__no_devices.json
  tests/components/vesync/fixtures/vesync_api_call__devices__single_fan.json
  tests/components/vesync/fixtures/vesync_api_call__devices__single_humidifier.json
  tests/components/vesync/fixtures/vesync_api_call__login.json
  tests/components/vesync/snapshots/test_diagnostics.ambr
  tests/components/vesync/test_diagnostics.py
  tests/components/vesync/test_init.py
Labels: cla-signed, new-feature, integration: vesync, Quality Scale: No score

#88342 Add ZWaveDiscoverySchema for Merten 507801
  homeassistant/components/zwave_js/discovery.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/fixtures/cover_merten_507801_state.json
  tests/components/zwave_js/test_discovery.py
Labels: cla-signed, small-pr, new-feature, integration: zwave_js, Quality Scale: No score

#88611 Use json_loads_object in arwn
  homeassistant/components/arwn/sensor.py
Labels: cla-signed, small-pr, integration: arwn, code-quality, Quality Scale: No score

#88585 Use load_json_object in fitbit
  homeassistant/components/fitbit/sensor.py
Labels: cla-signed, small-pr, integration: fitbit, code-quality, Quality Scale: No score

#88944 Adjust entity registry access in core platforms
  homeassistant/auth/permissions/models.py
  homeassistant/components/alarm_control_panel/device_action.py
  homeassistant/components/alarm_control_panel/device_condition.py
  homeassistant/components/alarm_control_panel/device_trigger.py
  homeassistant/components/button/device_action.py
  homeassistant/components/button/device_trigger.py
  homeassistant/components/climate/device_action.py
  homeassistant/components/climate/device_condition.py
  homeassistant/components/climate/device_trigger.py
  homeassistant/components/config/automation.py
  homeassistant/components/config/scene.py
  homeassistant/components/cover/device_action.py
  homeassistant/components/cover/device_condition.py
  homeassistant/components/cover/device_trigger.py
  homeassistant/components/device_tracker/device_condition.py
  homeassistant/components/device_tracker/device_trigger.py
  homeassistant/components/fan/device_condition.py
  homeassistant/components/humidifier/device_action.py
  homeassistant/components/humidifier/device_condition.py
  homeassistant/components/humidifier/device_trigger.py
  homeassistant/components/lock/device_action.py
  homeassistant/components/lock/device_condition.py
  homeassistant/components/lock/device_trigger.py
  homeassistant/components/media_player/device_condition.py
  homeassistant/components/media_player/device_trigger.py
  homeassistant/components/number/device_action.py
  homeassistant/components/person/__init__.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/search/__init__.py
  homeassistant/components/select/device_action.py
  homeassistant/components/select/device_condition.py
  homeassistant/components/select/device_trigger.py
  homeassistant/components/text/device_action.py
  homeassistant/components/vacuum/device_action.py
  homeassistant/components/vacuum/device_condition.py
  homeassistant/components/vacuum/device_trigger.py
  homeassistant/components/water_heater/device_action.py
Labels: core, cla-signed, code-quality

#88946 Adjust entity registry access in integrations (1)
  homeassistant/components/rachio/entity.py
  homeassistant/components/rainmachine/util.py
  homeassistant/components/ruckus_unleashed/__init__.py
  homeassistant/components/ruckus_unleashed/device_tracker.py
  homeassistant/components/sleepiq/entity.py
  homeassistant/components/sonos/speaker.py
  homeassistant/components/switcher_kis/__init__.py
  homeassistant/components/switcher_kis/button.py
  homeassistant/components/switcher_kis/climate.py
  homeassistant/components/switcher_kis/cover.py
  homeassistant/components/switcher_kis/sensor.py
  homeassistant/components/switcher_kis/switch.py
  homeassistant/components/tplink_omada/entity.py
  homeassistant/components/traccar/device_tracker.py
  homeassistant/components/tradfri/sensor.py
  homeassistant/components/upnp/__init__.py
  homeassistant/components/velbus/__init__.py
  homeassistant/components/wiffi/__init__.py
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/device_action.py
  homeassistant/components/zwave_js/device_trigger.py
  homeassistant/components/zwave_me/__init__.py
Labels: cla-signed, code-quality

#88947 Adjust entity registry access in integrations (2)
  homeassistant/components/iotawatt/sensor.py
  homeassistant/components/ipma/weather.py
  homeassistant/components/keenetic_ndms2/__init__.py
  homeassistant/components/keenetic_ndms2/device_tracker.py
  homeassistant/components/kodi/device_trigger.py
  homeassistant/components/kodi/media_player.py
  homeassistant/components/kraken/sensor.py
  homeassistant/components/mazda/__init__.py
  homeassistant/components/metoffice/__init__.py
  homeassistant/components/mikrotik/device_tracker.py
  homeassistant/components/nam/__init__.py
  homeassistant/components/nam/sensor.py
  homeassistant/components/netatmo/device_trigger.py
  homeassistant/components/nobo_hub/__init__.py
  homeassistant/components/nuki/__init__.py
  homeassistant/components/owntracks/device_tracker.py
  homeassistant/components/plex/__init__.py
  homeassistant/components/point/__init__.py
  homeassistant/components/ps4/__init__.py
  homeassistant/components/ps4/media_player.py
Labels: cla-signed, code-quality

#88948 Adjust entity registry access in integrations (3)
  homeassistant/components/amcrest/camera.py
  homeassistant/components/arcam_fmj/device_trigger.py
  homeassistant/components/coinbase/__init__.py
  homeassistant/components/coronavirus/__init__.py
  homeassistant/components/devolo_home_network/device_tracker.py
  homeassistant/components/dlna_dmr/config_flow.py
  homeassistant/components/dlna_dmr/media_player.py
  homeassistant/components/enocean/switch.py
  homeassistant/components/geofency/device_tracker.py
  homeassistant/components/glances/sensor.py
  homeassistant/components/gpslogger/device_tracker.py
  homeassistant/components/guardian/util.py
  homeassistant/components/harmony/__init__.py
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/config_flow.py
  homeassistant/components/homekit/type_triggers.py
  homeassistant/components/huawei_lte/__init__.py
  homeassistant/components/huawei_lte/device_tracker.py
  homeassistant/components/hue/config_flow.py
  homeassistant/components/hue/v2/device.py
  homeassistant/components/hue/v2/hue_event.py
Labels: cla-signed, code-quality

#88952 Revert "Add `state_class = MEASUREMENT` to Derivative sensor (#88408)"
  homeassistant/components/derivative/sensor.py
  tests/components/derivative/test_sensor.py
Labels: cla-signed, small-pr, has-tests, integration: derivative, Quality Scale: No score

#88949 Fix lingering reload task in notion reauth
  tests/components/notion/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, integration: notion, Quality Scale: No score

#88950 Adjust entity registry access in tests (1)
  tests/components/aladdin_connect/test_sensor.py
  tests/components/broadlink/test_config_flow.py
  tests/components/coinbase/test_init.py
  tests/components/command_line/test_binary_sensor.py
  tests/components/command_line/test_cover.py
  tests/components/command_line/test_sensor.py
  tests/components/command_line/test_switch.py
  tests/components/devolo_home_control/test_binary_sensor.py
  tests/components/devolo_home_control/test_sensor.py
  tests/components/devolo_home_network/test_binary_sensor.py
  tests/components/devolo_home_network/test_device_tracker.py
  tests/components/devolo_home_network/test_sensor.py
  tests/components/devolo_home_network/test_switch.py
  tests/components/dlna_dmr/test_init.py
  tests/components/flipr/test_binary_sensor.py
  tests/components/flipr/test_sensor.py
  tests/components/generic/test_config_flow.py
  tests/components/harmony/test_switch.py
  tests/components/hassio/test_binary_sensor.py
  tests/components/hassio/test_sensor.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#88951 Add missing mock in notion tests
  tests/components/notion/conftest.py
  tests/components/notion/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, integration: notion, bugfix, Quality Scale: No score

#88953 Fix lingering task in timeout test
  tests/util/test_timeout.py
Labels: core, cla-signed, small-pr, bugfix

#88957 Fix lingering task in entity_platform test
  tests/helpers/test_entity_platform.py
Labels: core, cla-signed, small-pr

#88906 Don't create new venv if script/setup is run from within a venv
  script/setup
Labels: cla-signed, small-pr

#88312 Add number + sensor device class volume storage
  homeassistant/components/number/const.py
  homeassistant/components/sensor/const.py
  homeassistant/components/sensor/device_condition.py
  homeassistant/components/sensor/device_trigger.py
  tests/components/sensor/test_device_condition.py
  tests/components/sensor/test_device_trigger.py
Labels: core, cla-signed, small-pr, integration: sensor, integration: number, Quality Scale: internal

#88958 Bump nuheat to 1.0.1
  homeassistant/components/nuheat/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: nuheat, small-pr, Quality Scale: No score

#87531 Fix geniushub heating hvac action
  homeassistant/components/geniushub/climate.py
Labels: cla-signed, small-pr, integration: geniushub, bugfix, Quality Scale: No score

#85921 Fix Google Assistant temperature attribute
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: core, cla-signed, integration: google_assistant, small-pr, bugfix, Quality Scale: No score

#80490 Add dynamic unit of measurement support for Overkiz sensor
  homeassistant/components/overkiz/const.py
  homeassistant/components/overkiz/sensor.py
Labels: Hacktoberfest, cla-signed, by-code-owner, bugfix, hacktoberfest-accepted, integration: overkiz, Quality Scale: No score

#88967 Use UnitOfVolumeFlowRate in huisbaasje and plugwise
  homeassistant/components/huisbaasje/const.py
  homeassistant/components/huisbaasje/sensor.py
  homeassistant/components/plugwise/sensor.py
  tests/components/huisbaasje/test_sensor.py
Labels: cla-signed, small-pr, integration: plugwise, code-quality, integration: huisbaasje, Quality Scale: No score

#88923 Add missing mock in esphome tests
  tests/components/esphome/test_config_flow.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, bugfix, Quality Scale: No score

#88919 Motion Blinds DHCP restrict
  homeassistant/components/motion_blinds/config_flow.py
  homeassistant/components/motion_blinds/strings.json
  tests/components/motion_blinds/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: motion_blinds, Quality Scale: No score

#88956 Bump requests to 2.28.2
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: cla-signed, small-pr

#88970 Bump Aiosomecomfort to 0.0.11
  homeassistant/components/honeywell/climate.py
  homeassistant/components/honeywell/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: honeywell, dependency, by-code-owner, bugfix, Quality Scale: No score

#88593 Disable gc in-between energy sensor tests
  tests/components/energy/test_sensor.py
Labels: cla-signed, small-pr, has-tests, integration: energy, Quality Scale: internal

#88960 Adjust entity registry access in tests (2)
  tests/components/google_assistant/test_smart_home.py
  tests/components/hue/test_logbook.py
  tests/components/knx/test_climate.py
  tests/components/kostal_plenticore/test_select.py
  tests/components/landisgyr_heat_meter/test_sensor.py
  tests/components/litterrobot/test_select.py
  tests/components/litterrobot/test_switch.py
  tests/components/logbook/test_init.py
  tests/components/logbook/test_websocket_api.py
  tests/components/melnor/test_sensor.py
  tests/components/powerwall/test_switch.py
  tests/components/prometheus/test_init.py
  tests/components/qnap_qsw/test_binary_sensor.py
  tests/components/rituals_perfume_genie/test_binary_sensor.py
  tests/components/rituals_perfume_genie/test_number.py
  tests/components/rituals_perfume_genie/test_select.py
  tests/components/rituals_perfume_genie/test_sensor.py
  tests/components/rituals_perfume_genie/test_switch.py
  tests/components/snooz/test_fan.py
  tests/components/todoist/test_calendar.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#88863 Add `current` sensor for Shelly RPC devices
  homeassistant/components/shelly/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: shelly, by-code-owner, Quality Scale: platinum

#88853 Obihai config flow fixes
  .coveragerc
  homeassistant/components/obihai/config_flow.py
  homeassistant/components/obihai/sensor.py
  homeassistant/components/obihai/strings.json
  tests/components/obihai/test_config_flow.py
Labels: cla-signed, small-pr, integration: obihai, code-quality, bugfix, Quality Scale: No score

#88973 Drop codeowner from threshold integration
  CODEOWNERS
  homeassistant/components/threshold/manifest.json
Labels: cla-signed, small-pr, integration: threshold, Quality Scale: internal

#88972 Improve threshold binary sensor tests
  tests/components/threshold/test_binary_sensor.py
Labels: cla-signed, small-pr, integration: threshold, has-tests, Quality Scale: internal

#88959 Adjust entity registry access in homekit tests
  tests/components/homekit/conftest.py
  tests/components/homekit/test_aidmanager.py
  tests/components/homekit/test_config_flow.py
  tests/components/homekit/test_diagnostics.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_init.py
  tests/components/homekit/test_type_triggers.py
Labels: cla-signed, small-pr, integration: homekit, has-tests, code-quality, Quality Scale: No score

#88976 Add Home Assistant with space as brand
  homeassistant/components/thread/discovery.py
Labels: cla-signed, small-pr, new-feature, Quality Scale: No score, integration: thread

#88975 Update frontend to 20230301.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#88977 Yaml use dict
  homeassistant/util/yaml/dumper.py
  homeassistant/util/yaml/loader.py
  homeassistant/util/yaml/objects.py
  tests/components/blueprint/snapshots/test_importer.ambr
Labels: core, cla-signed, small-pr, has-tests, integration: blueprint, Quality Scale: internal

#88875 Enable RUFF ICN001 for registries
  pyproject.toml
  script/scaffold/templates/device_action/integration/device_action.py
  script/scaffold/templates/device_condition/integration/device_condition.py
  script/scaffold/templates/device_trigger/integration/device_trigger.py
Labels: core, cla-signed, small-pr, code-quality

#88674 Clean up unused and deprecated TLS version setting on MQTT client
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/config_integration.py
  homeassistant/components/mqtt/const.py
  tests/components/mqtt/test_diagnostics.py
  tests/components/mqtt/test_discovery.py
Labels: core, breaking-change, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, Quality Scale: gold

#88982 Bump ulid-transform to 0.4.0
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#87655 Add config flow to EDL21
  .coveragerc
  homeassistant/components/edl21/__init__.py
  homeassistant/components/edl21/config_flow.py
  homeassistant/components/edl21/const.py
  homeassistant/components/edl21/manifest.json
  homeassistant/components/edl21/sensor.py
  homeassistant/components/edl21/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_test_all.txt
  tests/components/edl21/__init__.py
  tests/components/edl21/conftest.py
  tests/components/edl21/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, integration: edl21, config-flow, Quality Scale: No score

#88579 Refactor WLED binary sensor test
  tests/components/wled/snapshots/test_binary_sensor.ambr
  tests/components/wled/test_binary_sensor.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: wled, code-quality, Quality Scale: platinum

#88992 Bump py-dormakaba-dkey to 1.0.4
  homeassistant/components/dormakaba_dkey/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, Quality Scale: No score, integration: dormakaba_dkey

#89026 Fix flaky energy tests
  tests/components/energy/test_sensor.py
Labels: cla-signed, small-pr, has-tests, integration: energy, Quality Scale: internal

#88684 Add Turn On and Turn Off for Advantage Air climate platform
  homeassistant/components/advantage_air/climate.py
  tests/components/advantage_air/test_climate.py
Labels: cla-signed, has-tests, by-code-owner, bugfix, integration: advantage_air, Quality Scale: platinum

#89017 Nuki: show actual device model in device registry
  homeassistant/components/nuki/__init__.py
  homeassistant/components/nuki/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: nuki, dependency, Quality Scale: No score

#89042 Update frontend to 20230302.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#86940 Update pyTibber to 0.27.0
  homeassistant/components/tibber/__init__.py
  homeassistant/components/tibber/config_flow.py
  homeassistant/components/tibber/manifest.json
  homeassistant/components/tibber/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: breaking-change, cla-signed, small-pr, integration: tibber, dependency, dependency-bump, Quality Scale: silver

#89029 Fix KNX Keyfile upload
  homeassistant/components/knx/config_flow.py
  tests/components/knx/test_config_flow.py
Labels: cla-signed, integration: knx, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#89035 Re-enable Ruff D411
  homeassistant/components/esphome/bluetooth/client.py
  pyproject.toml
Labels: cla-signed, small-pr, integration: esphome, code-quality, Quality Scale: No score

#89019 Fix lingering task in debounce tests
  tests/helpers/test_debounce.py
Labels: core, cla-signed, small-pr, bugfix

#89052 Fix check on non numeric custom sensor device classes
  homeassistant/components/sensor/__init__.py
  tests/components/sensor/test_init.py
Labels: core, cla-signed, small-pr, integration: sensor, bugfix, Quality Scale: internal

#89059 2023.3.1
  homeassistant/components/dormakaba_dkey/manifest.json
  homeassistant/components/frontend/manifest.json
  homeassistant/components/knx/config_flow.py
  homeassistant/components/nuheat/manifest.json
  homeassistant/components/sensor/__init__.py
  homeassistant/components/tibber/__init__.py
  homeassistant/components/tibber/config_flow.py
  homeassistant/components/tibber/manifest.json
  homeassistant/components/tibber/sensor.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/knx/test_config_flow.py
  tests/components/sensor/test_init.py
Labels: core, cla-signed, merging-to-master, integration: knx, integration: frontend, integration: sensor, integration: tibber, has-tests, Quality Scale: No score, Quality Scale: internal, Quality Scale: silver, Quality Scale: platinum, integration: dormakaba_dkey

#87653 Add matching on quirk_classes to zha
  homeassistant/components/zha/core/channels/__init__.py
  homeassistant/components/zha/core/discovery.py
  homeassistant/components/zha/core/registries.py
  tests/components/zha/test_registries.py
Labels: cla-signed, integration: zha, new-feature, Quality Scale: No score

#89065 Cache transient templates compiles provided via api
  homeassistant/components/api/__init__.py
  homeassistant/components/mobile_app/webhook.py
  homeassistant/components/websocket_api/commands.py
  tests/components/api/test_init.py
Labels: core, cla-signed, integration: websocket_api, integration: api, small-pr, integration: mobile_app, code-quality, Quality Scale: internal

#89071 Remove unused constant
  homeassistant/components/zwave_js/api.py
Labels: cla-signed, small-pr, code-quality, integration: zwave_js, Quality Scale: No score

#88849 Add Obihai reboot button
  .coveragerc
  homeassistant/components/obihai/button.py
  homeassistant/components/obihai/connectivity.py
  homeassistant/components/obihai/const.py
  homeassistant/components/obihai/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: obihai, Quality Scale: No score

#89078 Adjust xiaomi_ble tests
  tests/components/xiaomi_ble/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: xiaomi_ble, Quality Scale: No score

#89043 Move Cycle command from cover to button
  homeassistant/components/overkiz/button.py
  homeassistant/components/overkiz/cover_entities/generic_cover.py
Labels: breaking-change, cla-signed, small-pr, by-code-owner, integration: overkiz, Quality Scale: No score

#89080 Adjust docstring on hassfest generated files
  homeassistant/generated/application_credentials.py
  homeassistant/generated/bluetooth.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/countries.py
  homeassistant/generated/currencies.py
  homeassistant/generated/dhcp.py
  homeassistant/generated/languages.py
  homeassistant/generated/mqtt.py
  homeassistant/generated/ssdp.py
  homeassistant/generated/usb.py
  homeassistant/generated/zeroconf.py
  script/hassfest/serializer.py
Labels: cla-signed, small-pr, code-quality

#89079 Set Protocol inheritance on EnergyPlatform
  homeassistant/components/energy/types.py
Labels: cla-signed, small-pr, code-quality, integration: energy, Quality Scale: internal

#89093 Enable ruff D404
  pyproject.toml
Labels: cla-signed, small-pr, code-quality

#87389 Add missing Edl21 sensor 1-0:0.0.0*255
  homeassistant/components/edl21/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: edl21, Quality Scale: No score

#88666 Updating Intellifire Naming scheme
  homeassistant/components/intellifire/binary_sensor.py
  homeassistant/components/intellifire/coordinator.py
  homeassistant/components/intellifire/entity.py
  homeassistant/components/intellifire/fan.py
  homeassistant/components/intellifire/light.py
  homeassistant/components/intellifire/number.py
  homeassistant/components/intellifire/sensor.py
  homeassistant/components/intellifire/switch.py
Labels: cla-signed, small-pr, by-code-owner, integration: intellifire, Quality Scale: No score

#89085 Refactor Livisi Switch and Climate to inherit from a common base class
  .coveragerc
  homeassistant/components/livisi/climate.py
  homeassistant/components/livisi/entity.py
  homeassistant/components/livisi/switch.py
Labels: cla-signed, by-code-owner, code-quality, integration: livisi, Quality Scale: No score

#89110 Revert Intellifire breaking change from #88666
  homeassistant/components/intellifire/number.py
Labels: cla-signed, small-pr, integration: intellifire, Quality Scale: No score

#89073 Handle InnoDB deadlocks during migration
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/recorder/util.py
  tests/components/recorder/test_migrate.py
  tests/components/recorder/test_purge.py
  tests/components/recorder/test_statistics.py
Labels: core, integration: recorder, cla-signed, bugfix, Quality Scale: internal, database: mariadb, database: mysql

#89028 Add day to event end to correct TwenteMilieu event timespan
  homeassistant/components/twentemilieu/calendar.py
  tests/components/twentemilieu/snapshots/test_calendar.ambr
Labels: breaking-change, cla-signed, small-pr, has-tests, integration: twentemilieu, Quality Scale: platinum

#88580 Refactor WLED button tests
  tests/components/wled/snapshots/test_button.ambr
  tests/components/wled/test_button.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: wled, code-quality, Quality Scale: platinum

#89120 Bump pyfibaro version to 0.6.9
  homeassistant/components/fibaro/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: fibaro, dependency, by-code-owner, bugfix, Quality Scale: No score

#88581 Refactor WLED diagnostic tests
  tests/components/wled/snapshots/test_diagnostics.ambr
  tests/components/wled/test_diagnostics.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: wled, code-quality, Quality Scale: platinum

#89162 Bump subarulink to 0.7.5
  homeassistant/components/subaru/__init__.py
  homeassistant/components/subaru/const.py
  homeassistant/components/subaru/manifest.json
  homeassistant/components/subaru/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/subaru/api_responses.py
  tests/components/subaru/conftest.py
  tests/components/subaru/fixtures/diagnostics_config_entry.json
  tests/components/subaru/fixtures/diagnostics_device.json
  tests/components/subaru/test_init.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: subaru, Quality Scale: No score

#89153 Clean up import/migration repair in LaMetric
  homeassistant/components/lametric/__init__.py
  homeassistant/components/lametric/strings.json
  tests/components/lametric/test_init.py
Labels: cla-signed, integration: lametric, small-pr, has-tests, by-code-owner, code-quality, smash, Quality Scale: platinum

#89160 Bump pyvizio to 0.1.60
  homeassistant/components/vizio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: vizio, dependency, by-code-owner, smash, Quality Scale: platinum

#89100 Bump `brother` and `pysnmplib` backend libraries
  homeassistant/components/brother/manifest.json
  homeassistant/components/snmp/manifest.json
  homeassistant/components/snmp/sensor.py
  homeassistant/components/snmp/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/snmp/test_sensor.py
Labels: cla-signed, small-pr, integration: snmp, has-tests, dependency, by-code-owner, integration: brother, smash, Quality Scale: No score, Quality Scale: platinum

#89174 Bump aiodiscover to 1.4.14
  homeassistant/components/dhcp/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: dhcp, smash, Quality Scale: internal

#89171 Pass a helpful name when creating common asyncio tasks in core
  homeassistant/bootstrap.py
  homeassistant/components/homeassistant/triggers/homeassistant.py
  homeassistant/components/homeassistant/triggers/numeric_state.py
  homeassistant/components/homeassistant/triggers/state.py
  homeassistant/components/homeassistant/triggers/time.py
  homeassistant/components/homeassistant/triggers/time_pattern.py
  homeassistant/config_entries.py
  homeassistant/core.py
  homeassistant/helpers/debounce.py
  homeassistant/helpers/discovery.py
  homeassistant/helpers/discovery_flow.py
  homeassistant/helpers/dispatcher.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/entity_component.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/event.py
  homeassistant/helpers/restore_state.py
  homeassistant/helpers/storage.py
  homeassistant/helpers/trigger.py
  homeassistant/helpers/update_coordinator.py
  homeassistant/setup.py
  tests/common.py
  tests/test_core.py
Labels: core, cla-signed, integration: homeassistant, smash, Quality Scale: internal

#89117 Bump youless api version to v1.0.1
  homeassistant/components/youless/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: youless, dependency, by-code-owner, smash, Quality Scale: No score

#89163 Bump overkiz dependency to 1.7.7
  homeassistant/components/overkiz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: overkiz, smash, Quality Scale: No score

#88687 Add Reolink button platform
  .coveragerc
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/button.py
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: reolink, noteworthy, Quality Scale: No score

#89145 Bump reolink-aio to 0.5.3
  homeassistant/components/reolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: reolink, smash, Quality Scale: No score

#89124 Bump pyroon to 0.1.4
  homeassistant/components/roon/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: roon, smash, Quality Scale: No score

#89126 Revert "Replace Fitbit weight SensorStateClass measurement with total"
  homeassistant/components/fitbit/const.py
Labels: cla-signed, small-pr, integration: fitbit, smash, Quality Scale: No score

#89140 Add support for Livisi PSSO, ISS and ISS2 switch devices
  homeassistant/components/livisi/const.py
  homeassistant/components/livisi/switch.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, smash, integration: livisi, Quality Scale: No score

#89033 Unpin pandas for Python 3.11
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, dependency

#89008 Update link to opencv in image_process log message
  homeassistant/components/opencv/image_processing.py
Labels: cla-signed, integration: opencv, small-pr, smash, Quality Scale: No score

#86798 Check type key of zone exists in geniushub
  homeassistant/components/geniushub/climate.py
  homeassistant/components/geniushub/switch.py
  homeassistant/components/geniushub/water_heater.py
Labels: cla-signed, small-pr, integration: geniushub, bugfix, smash, Quality Scale: No score

#87671 Add support for Spotify podcasts
  homeassistant/components/spotify/media_player.py
Labels: cla-signed, new-feature, integration: spotify, Quality Scale: silver

#89168 Detect newly connected clients in jellyfin
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/coordinator.py
  homeassistant/components/jellyfin/media_player.py
  tests/components/jellyfin/fixtures/sessions-new-client.json
  tests/components/jellyfin/test_media_player.py
Labels: cla-signed, by-code-owner, bugfix, integration: jellyfin, smash, Quality Scale: No score

#88851 Add repeat to roon media player
  homeassistant/components/roon/media_player.py
Labels: cla-signed, small-pr, new-feature, dependency, by-code-owner, integration: roon, Quality Scale: No score

#89161 Remove deprecated Moon YAML configuration
  homeassistant/components/moon/config_flow.py
  homeassistant/components/moon/sensor.py
  tests/components/moon/test_config_flow.py
  tests/components/moon/test_init.py
Labels: breaking-change, cla-signed, small-pr, integration: moon, has-tests, by-code-owner, smash, Quality Scale: internal

#89036 Raise ValueError on date parsing of MQTT sensor with invalid date format
  homeassistant/components/mqtt/sensor.py
  tests/components/mqtt/test_sensor.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, bugfix, smash, Quality Scale: gold

#89166 Remove deprecated Season YAML configuration
  homeassistant/components/season/config_flow.py
  homeassistant/components/season/sensor.py
  tests/components/season/test_config_flow.py
  tests/components/season/test_init.py
Labels: breaking-change, cla-signed, small-pr, integration: season, has-tests, by-code-owner, smash, Quality Scale: internal

#85418 Add device_class and state_class to sql
  homeassistant/components/sql/__init__.py
  homeassistant/components/sql/sensor.py
  tests/components/sql/__init__.py
  tests/components/sql/test_sensor.py
Labels: cla-signed, small-pr, new-feature, integration: sql, has-tests, by-code-owner, smash, Quality Scale: No score

#80838 Hive add ability to delete device
  homeassistant/components/hive/__init__.py
Labels: Hacktoberfest, cla-signed, integration: hive, small-pr, new-feature, by-code-owner, hacktoberfest-accepted, smash, Quality Scale: No score

#87943 Reolink add switch platform
  .coveragerc
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/switch.py
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#88217 Add Reolink siren platform
  .coveragerc
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/siren.py
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#88578 Use title case for Transmission status sensor (#88578
  homeassistant/components/transmission/const.py
  homeassistant/components/transmission/sensor.py
  homeassistant/components/transmission/strings.json
Labels: cla-signed, small-pr, integration: transmission, bugfix, smash, Quality Scale: No score

#89189 Fix Tuya Python 3.11 compatibility issue
  homeassistant/components/tuya/light.py
Labels: cla-signed, small-pr, integration: tuya, by-code-owner, bugfix, smash, Quality Scale: No score

#89192 Bump bthome to 2.8.0
  homeassistant/components/bthome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, smash, integration: bthome, Quality Scale: No score

#87946 Reolink add select platform
  .coveragerc
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/select.py
  homeassistant/components/reolink/strings.json
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#89197 Refactor WLED switch tests
  tests/components/wled/snapshots/test_switch.ambr
  tests/components/wled/test_switch.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: wled, code-quality, Quality Scale: platinum

#89196 Update coverage to 7.2.1
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump, smash

#89193 Update sentry-sdk to 1.16.0
  homeassistant/components/sentry/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: sentry, smash, Quality Scale: No score

#89190 Update watchdog to 2.3.1
  homeassistant/components/folder_watcher/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: folder_watcher, dependency, smash, Quality Scale: internal

#89179 Update pytest to 7.2.2
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump, smash

#88582 Refactor WLED number tests
  tests/components/wled/snapshots/test_number.ambr
  tests/components/wled/test_number.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: wled, code-quality, smash, Quality Scale: platinum

#89201 Fix lingering tasks in KNX tests
  tests/components/knx/README.md
  tests/components/knx/test_climate.py
  tests/components/knx/test_cover.py
Labels: cla-signed, integration: knx, small-pr, has-tests, by-code-owner, code-quality, smash, Quality Scale: platinum

#89088 Test coverage for Tibber config flow
  homeassistant/components/tibber/config_flow.py
  tests/components/tibber/test_config_flow.py
Labels: cla-signed, small-pr, integration: tibber, has-tests, code-quality, smash, Quality Scale: silver

#89130 Fix host IP and scheme entry issues in TP-Link Omada
  homeassistant/components/tplink_omada/config_flow.py
  tests/components/tplink_omada/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: tplink_omada, smash, Quality Scale: No score

#89070 Add device info to edl21
  homeassistant/components/edl21/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: edl21, smash, Quality Scale: No score

#89217 Revert "Add device info to edl21"
  homeassistant/components/edl21/sensor.py
Labels: cla-signed, small-pr, integration: edl21, Quality Scale: No score

#89212 Split reauth tests in plex
  tests/components/plex/conftest.py
  tests/components/plex/test_config_flow.py
  tests/components/plex/test_init.py
Labels: cla-signed, small-pr, integration: plex, has-tests, bugfix, Quality Scale: No score

#76049 Refresh homeassistant_alerts when components are loaded
  homeassistant/components/homeassistant_alerts/__init__.py
  tests/components/homeassistant_alerts/test_init.py
Labels: cla-signed, small-pr, has-tests, bugfix, smash, integration: homeassistant_alerts

#79715 Sync tado zones after updating climate preset
  homeassistant/components/tado/__init__.py
Labels: Hacktoberfest, cla-signed, integration: tado, small-pr, bugfix, hacktoberfest-accepted, smash

#88484 Move mock_setup_entry to conftest
  script/scaffold/templates/config_flow/tests/conftest.py
  script/scaffold/templates/config_flow/tests/test_config_flow.py
  script/scaffold/templates/config_flow_helper/tests/conftest.py
  script/scaffold/templates/config_flow_helper/tests/test_config_flow.py
  tests/components/nibe_heatpump/conftest.py
  tests/components/nibe_heatpump/test_config_flow.py
  tests/components/onewire/conftest.py
  tests/components/onewire/test_config_flow.py
  tests/components/philips_js/conftest.py
  tests/components/philips_js/test_config_flow.py
  tests/components/renault/conftest.py
  tests/components/renault/test_config_flow.py
  tests/components/samsungtv/conftest.py
  tests/components/samsungtv/test_config_flow.py
  tests/components/sfr_box/conftest.py
  tests/components/sfr_box/test_config_flow.py
  tests/components/sleepiq/conftest.py
  tests/components/sleepiq/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality

#89226 Use mock_setup_entry fixture in melnor
  tests/components/melnor/conftest.py
  tests/components/melnor/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: melnor, Quality Scale: No score

#87932 Reolink add new number entities
  homeassistant/components/reolink/number.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#89227 Update frontend to 20230306.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#88619 Add Reolink light platform
  .coveragerc
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/light.py
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#89231 Fix conditional check
  homeassistant/components/konnected/__init__.py
Labels: cla-signed, small-pr, integration: konnected, code-quality, Quality Scale: No score

#89091 Catch exceptions and add logging when writing states on MQTT entities
  homeassistant/components/mqtt/client.py
  homeassistant/components/mqtt/models.py
  tests/components/mqtt/test_init.py
  tests/components/mqtt/test_text.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, code-quality, smash, Quality Scale: gold

#89236 Add type hints to ps4 media player
  homeassistant/components/ps4/media_player.py
Labels: cla-signed, integration: ps4, code-quality, Quality Scale: No score

#88762 Allow loading UniFi entities on config options change
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/entity.py
  tests/components/unifi/test_device_tracker.py
  tests/components/unifi/test_sensor.py
Labels: cla-signed, small-pr, integration: unifi, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#89234 Add comment about Reolink Floodlight turn on brightness
  homeassistant/components/reolink/number.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: reolink, Quality Scale: No score

#89211 Bump ruff to 0.0.253
  .pre-commit-config.yaml
  homeassistant/components/ps4/media_player.py
  homeassistant/components/zha/core/gateway.py
  requirements_test_pre_commit.txt
  tests/test_runner.py
Labels: cla-signed, small-pr, dependency

#89238 Reolink extend DHCP discovery
  homeassistant/components/reolink/manifest.json
  homeassistant/generated/dhcp.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: reolink, Quality Scale: No score

#89240 Update pylint to 2.16.4
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#89044 Bump `gios` library to version 3.1.0
  homeassistant/components/gios/__init__.py
  homeassistant/components/gios/config_flow.py
  homeassistant/components/gios/manifest.json
  homeassistant/components/gios/sensor.py
  homeassistant/components/gios/strings.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/gios/fixtures/diagnostics_data.json
  tests/components/gios/fixtures/indexes.json
  tests/components/gios/test_sensor.py
Labels: breaking-change, cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: gios, smash, Quality Scale: platinum

#89210 Bump aioesphomeapi to 13.4.2
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, Quality Scale: No score

#88786 Improve reolink generic typing
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/binary_sensor.py
  homeassistant/components/reolink/button.py
  homeassistant/components/reolink/camera.py
  homeassistant/components/reolink/entity.py
  homeassistant/components/reolink/light.py
  homeassistant/components/reolink/number.py
  homeassistant/components/reolink/select.py
  homeassistant/components/reolink/siren.py
  homeassistant/components/reolink/switch.py
  homeassistant/components/reolink/update.py
Labels: cla-signed, small-pr, code-quality, integration: reolink, smash, Quality Scale: No score

#89259 Bump python-snapcast to 2.3.2
  CODEOWNERS
  homeassistant/components/snapcast/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: snapcast, dependency, Quality Scale: No score

#89262 Bump aioesphomeapi to 13.5.0
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, Quality Scale: No score

#88603 Add support for bluetooth pairing in esphome
  homeassistant/components/esphome/bluetooth/client.py
Labels: cla-signed, small-pr, integration: esphome, noteworthy, Quality Scale: No score

#89253 Bump sqlalchemy to 2.0.5post1
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, integration: recorder, cla-signed, small-pr, integration: sql, dependency, Quality Scale: No score, Quality Scale: internal

#89254 Make sql subqueries threadsafe
  homeassistant/components/recorder/history.py
  homeassistant/components/recorder/statistics.py
  tests/components/recorder/test_statistics.py
Labels: core, integration: recorder, cla-signed, Quality Scale: internal

#80741 Add HomeKit Door accessory type
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_covers.py
  tests/components/homekit/test_get_accessories.py
  tests/components/homekit/test_type_covers.py
Labels: Hacktoberfest, cla-signed, integration: homekit, new-feature, hacktoberfest-accepted, Quality Scale: No score

#79732 Update systembridgeconnector to 3.4.8
  homeassistant/components/system_bridge/manifest.json
  homeassistant/components/system_bridge/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, dependency, by-code-owner, bugfix, hacktoberfest-accepted, integration: system_bridge

#88905 Fail CI on lingering tasks
  tests/components/github/test_diagnostics.py
  tests/components/github/test_init.py
  tests/components/github/test_sensor.py
  tests/components/insteon/test_api_aldb.py
  tests/components/insteon/test_api_device.py
  tests/components/insteon/test_api_scenes.py
  tests/components/knx/test_climate.py
  tests/components/knx/test_cover.py
  tests/components/lcn/test_events.py
  tests/components/matter/test_adapter.py
  tests/components/matter/test_api.py
  tests/components/matter/test_binary_sensor.py
  tests/components/matter/test_diagnostics.py
  tests/components/matter/test_helpers.py
  tests/components/matter/test_init.py
  tests/components/matter/test_light.py
  tests/components/matter/test_sensor.py
  tests/components/matter/test_switch.py
  tests/components/nest/test_api.py
  tests/components/opentherm_gw/test_init.py
  tests/components/plex/test_config_flow.py
  tests/components/snooz/test_fan.py
  tests/components/snooz/test_init.py
  tests/conftest.py
Labels: core, cla-signed, small-pr, code-quality, smash

#89279 Cleanup expected_lingering_tasks in knx
  tests/components/knx/test_climate.py
  tests/components/knx/test_cover.py
Labels: cla-signed, integration: knx, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved
