Repository home-assistant/core, pull requests merged in 2023-05, with the labels that each got.

#92311 Cleanup code from nest yaml migration and OOB auth deprecation
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/config_flow.py
  homeassistant/components/nest/strings.json
  tests/components/nest/common.py
  tests/components/nest/conftest.py
  tests/components/nest/test_api.py
  tests/components/nest/test_config_flow_sdm.py
  tests/components/nest/test_init_sdm.py
Labels: breaking-change, cla-signed, integration: nest, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#92315 Bump sqlalchemy to 2.0.12
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, integration: recorder, cla-signed, small-pr, integration: sql, dependency, Quality Scale: No score, Quality Scale: internal

#92313 Retry onvif setup when it is unexpectedly cancelled
  homeassistant/components/onvif/__init__.py
Labels: cla-signed, small-pr, integration: onvif, bugfix, Quality Scale: No score

#92312 Reduce size of migration transactions to accommodate slow/busy systems
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/statistics.py
Labels: core, integration: recorder, cla-signed, small-pr, bugfix, Quality Scale: internal

#92206 Bump anova version
  homeassistant/components/anova/__init__.py
  homeassistant/components/anova/coordinator.py
  homeassistant/components/anova/manifest.json
  homeassistant/components/anova/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/anova/__init__.py
Labels: cla-signed, has-tests, dependency, by-code-owner, Quality Scale: No score, integration: anova

#92324 Fix db_url issue in SQL
  homeassistant/components/sql/__init__.py
  homeassistant/components/sql/config_flow.py
  homeassistant/components/sql/sensor.py
  homeassistant/components/sql/util.py
  tests/components/sql/test_config_flow.py
Labels: cla-signed, integration: sql, by-code-owner, bugfix, Quality Scale: No score

#92326 Add voip configuration url
  homeassistant/components/voip/devices.py
Labels: cla-signed, small-pr, by-code-owner, Quality Scale: internal, integration: voip

#92330 Don't poll ZHA electrical measurement sensors unnecessarily
  homeassistant/components/zha/sensor.py
  tests/components/zha/test_sensor.py
  tests/components/zha/zha_devices_list.py
Labels: cla-signed, integration: zha, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#92333 Avoid starting ONVIF PullPoint if the camera reports its unsupported
  homeassistant/components/onvif/device.py
  homeassistant/components/onvif/event.py
  homeassistant/components/onvif/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: onvif, bugfix, Quality Scale: No score

#92327 Improve fritz generic typing
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/switch.py
Labels: cla-signed, small-pr, integration: fritz, code-quality, Quality Scale: No score

#92210 Allow configuring SIP port in VoIP
  homeassistant/components/voip/__init__.py
  homeassistant/components/voip/config_flow.py
  homeassistant/components/voip/const.py
  homeassistant/components/voip/strings.json
  homeassistant/components/voip/voip.py
  tests/components/voip/conftest.py
  tests/components/voip/test_config_flow.py
  tests/components/voip/test_sip.py
  tests/components/voip/test_voip.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: internal, integration: voip

#92334 Bump voip-utils to 0.0.6
  homeassistant/components/voip/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: internal, integration: voip

#92342 Migrate unique IDs of Rituals Perfume Genie
  homeassistant/components/rituals_perfume_genie/__init__.py
  homeassistant/components/rituals_perfume_genie/binary_sensor.py
  homeassistant/components/rituals_perfume_genie/entity.py
  homeassistant/components/rituals_perfume_genie/number.py
  homeassistant/components/rituals_perfume_genie/select.py
  homeassistant/components/rituals_perfume_genie/sensor.py
  homeassistant/components/rituals_perfume_genie/switch.py
  tests/components/rituals_perfume_genie/test_binary_sensor.py
  tests/components/rituals_perfume_genie/test_init.py
  tests/components/rituals_perfume_genie/test_number.py
  tests/components/rituals_perfume_genie/test_select.py
  tests/components/rituals_perfume_genie/test_sensor.py
  tests/components/rituals_perfume_genie/test_switch.py
Labels: cla-signed, has-tests, by-code-owner, code-quality, integration: rituals_perfume_genie, Quality Scale: silver

#92339 Update frontend to 20230501.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#92343 Add date and time platforms to core files
  .core_files.yaml
Labels: cla-signed, small-pr, code-quality

#92344 Bump ulid-transform to 0.7.2
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency, bugfix

#92354 Start onvif events later
  homeassistant/components/onvif/device.py
Labels: cla-signed, small-pr, integration: onvif, bugfix, Quality Scale: No score

#92353 Clean up zwave_js.cover
  homeassistant/components/zwave_js/cover.py
  homeassistant/components/zwave_js/discovery.py
Labels: cla-signed, bugfix, integration: zwave_js, Quality Scale: No score

#92350 Add support for visitor detections to onvif
  homeassistant/components/onvif/parsers.py
Labels: cla-signed, small-pr, new-feature, integration: onvif, Quality Scale: No score

#90556 Increase default timeout in sense
  homeassistant/components/sense/const.py
Labels: cla-signed, small-pr, integration: sense, bugfix, Quality Scale: No score

#92363 Allow exposing entities not in the entity registry to assistants
  homeassistant/components/alexa/config.py
  homeassistant/components/alexa/handlers.py
  homeassistant/components/alexa/messages.py
  homeassistant/components/alexa/smart_home.py
  homeassistant/components/alexa/smart_home_http.py
  homeassistant/components/alexa/state_report.py
  homeassistant/components/cloud/alexa_config.py
  homeassistant/components/cloud/google_config.py
  homeassistant/components/conversation/__init__.py
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/report_state.py
  homeassistant/components/google_assistant/smart_home.py
  homeassistant/components/homeassistant/__init__.py
  homeassistant/components/homeassistant/exposed_entities.py
  homeassistant/components/switch_as_x/__init__.py
  homeassistant/components/switch_as_x/entity.py
  tests/components/alexa/test_smart_home.py
  tests/components/camera/test_init.py
  tests/components/cast/test_media_player.py
  tests/components/climate/test_recorder.py
  tests/components/cloud/test_alexa_config.py
  tests/components/cloud/test_client.py
  tests/components/cloud/test_google_config.py
  tests/components/color_extractor/test_service.py
  tests/components/conversation/__init__.py
  tests/components/conversation/test_default_agent.py
  tests/components/conversation/test_init.py
  tests/components/demo/conftest.py
  tests/components/emulated_kasa/test_init.py
  tests/components/fan/test_recorder.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_diagnostics.py
  tests/components/google_assistant/test_helpers.py
  tests/components/google_assistant/test_http.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/group/conftest.py
  tests/components/group/test_recorder.py
  tests/components/homeassistant/test_exposed_entities.py
  tests/components/homekit/test_config_flow.py
  tests/components/homekit/test_diagnostics.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_init.py
  tests/components/homekit/test_type_triggers.py
  tests/components/light/test_recorder.py
  tests/components/number/test_recorder.py
  tests/components/select/test_recorder.py
  tests/components/switch/test_light.py
  tests/components/switch_as_x/conftest.py
  tests/components/switch_as_x/test_init.py
  tests/components/text/test_recorder.py
Labels: core, cla-signed, integration: conversation, integration: alexa, integration: cloud, integration: google_assistant, integration: homeassistant, has-tests, integration: switch_as_x, Quality Scale: No score, Quality Scale: internal

#92372 Bump voip-utils to 0.0.7
  homeassistant/components/voip/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: internal, integration: voip

#92373 Update frontend to 20230502.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#92382 Fix deserialize bug + add test coverage
  homeassistant/components/homeassistant/exposed_entities.py
  tests/components/homeassistant/snapshots/test_exposed_entities.ambr
  tests/components/homeassistant/test_exposed_entities.py
Labels: core, cla-signed, small-pr, integration: homeassistant, has-tests, Quality Scale: internal

#92378 Bump pybravia to 0.3.3
  homeassistant/components/braviatv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: braviatv, dependency, by-code-owner, smash, Quality Scale: No score

#92389 Improve exposed entities tests
  tests/components/homeassistant/test_exposed_entities.py
Labels: core, cla-signed, small-pr, integration: homeassistant, has-tests, Quality Scale: internal

#92396 Don't use storage collection helper in ExposedEntities
  homeassistant/components/alexa/config.py
  homeassistant/components/alexa/handlers.py
  homeassistant/components/alexa/messages.py
  homeassistant/components/alexa/smart_home.py
  homeassistant/components/alexa/smart_home_http.py
  homeassistant/components/alexa/state_report.py
  homeassistant/components/cloud/alexa_config.py
  homeassistant/components/cloud/google_config.py
  homeassistant/components/conversation/__init__.py
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/report_state.py
  homeassistant/components/google_assistant/smart_home.py
  homeassistant/components/homeassistant/__init__.py
  homeassistant/components/homeassistant/exposed_entities.py
  homeassistant/components/switch_as_x/__init__.py
  homeassistant/components/switch_as_x/entity.py
  tests/components/alexa/test_smart_home.py
  tests/components/cloud/test_alexa_config.py
  tests/components/cloud/test_client.py
  tests/components/cloud/test_google_config.py
  tests/components/conversation/__init__.py
  tests/components/conversation/test_default_agent.py
  tests/components/conversation/test_init.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_helpers.py
  tests/components/google_assistant/test_http.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/homeassistant/test_exposed_entities.py
  tests/components/switch_as_x/test_init.py
Labels: core, cla-signed, integration: conversation, integration: alexa, integration: cloud, integration: google_assistant, integration: homeassistant, has-tests, integration: switch_as_x, Quality Scale: No score, Quality Scale: internal

#92387 Add ZHA binding for window coverings
  homeassistant/components/zha/core/cluster_handlers/closures.py
Labels: cla-signed, cla-error, integration: zha, small-pr, new-feature, Quality Scale: No score

#92400 Bump ZHA quirks
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score

#92398 Allow exposing any entity to the default conversation agent
  homeassistant/components/conversation/const.py
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/homeassistant/exposed_entities.py
  homeassistant/helpers/entity_registry.py
  tests/components/air_quality/test_air_quality.py
  tests/components/alexa/test_smart_home.py
  tests/components/automation/test_init.py
  tests/components/calendar/conftest.py
  tests/components/calendar/test_recorder.py
  tests/components/camera/conftest.py
  tests/components/camera/test_recorder.py
  tests/components/conversation/test_default_agent.py
  tests/components/conversation/test_init.py
  tests/components/device_tracker/test_init.py
  tests/components/facebox/test_image_processing.py
  tests/components/google_assistant_sdk/test_init.py
  tests/components/homekit/test_type_cameras.py
  tests/components/image_processing/test_init.py
  tests/components/media_player/test_init.py
  tests/components/media_player/test_recorder.py
  tests/components/microsoft_face/test_init.py
  tests/components/microsoft_face_detect/test_image_processing.py
  tests/components/microsoft_face_identify/test_image_processing.py
  tests/components/openalpr_cloud/test_image_processing.py
  tests/components/rtsp_to_webrtc/test_init.py
  tests/components/sensor/test_recorder.py
  tests/components/sighthound/test_image_processing.py
  tests/components/tts/test_notify.py
  tests/components/universal/test_media_player.py
  tests/components/weather/test_recorder.py
Labels: core, cla-signed, integration: conversation, has-tests, Quality Scale: internal

#92402 Update frontend to 20230503.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#92405 Handle webhook URL rejection in onvif
  homeassistant/components/onvif/event.py
Labels: cla-signed, small-pr, integration: onvif, bugfix, Quality Scale: No score

#92403 Allow setting google disable 2fa flag on any entity
  homeassistant/components/cloud/google_config.py
  homeassistant/components/cloud/http_api.py
  homeassistant/components/homeassistant/exposed_entities.py
  tests/components/cloud/test_alexa_config.py
  tests/components/cloud/test_client.py
  tests/components/cloud/test_google_config.py
  tests/components/cloud/test_http_api.py
  tests/components/conversation/__init__.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/homeassistant/test_exposed_entities.py
Labels: core, cla-signed, integration: conversation, integration: cloud, integration: google_assistant, integration: homeassistant, has-tests, Quality Scale: No score, Quality Scale: internal

#92406 Include all entities in cloud lists
  homeassistant/components/cloud/http_api.py
  tests/components/cloud/test_http_api.py
Labels: core, cla-signed, integration: cloud, small-pr, has-tests, Quality Scale: No score

#92408 Use exposed_entities API in cloud tests
  tests/components/cloud/test_alexa_config.py
  tests/components/cloud/test_google_config.py
  tests/components/cloud/test_http_api.py
Labels: core, cla-signed, integration: cloud, small-pr, has-tests, Quality Scale: No score

#92409 Update cloud WS API for getting entity
  homeassistant/components/cloud/alexa_config.py
  homeassistant/components/cloud/http_api.py
  tests/components/cloud/test_http_api.py
Labels: core, cla-signed, integration: cloud, small-pr, has-tests, Quality Scale: No score

#92410 Update frontend to 20230503.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#92415 Skip unexposed entities in intent handlers
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/intent/__init__.py
  homeassistant/helpers/intent.py
  tests/components/conversation/test_default_agent.py
Labels: core, cla-signed, integration: conversation, integration: intent, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: internal

#92413 Migrate cloud settings for all Alexa entities
  homeassistant/components/cloud/alexa_config.py
  tests/components/cloud/test_alexa_config.py
Labels: core, cla-signed, integration: cloud, small-pr, has-tests, Quality Scale: No score

#92421 Pass OPUS payload ID through VoIP
  homeassistant/components/voip/voip.py
  tests/components/voip/test_voip.py
Labels: cla-signed, has-tests, by-code-owner, bugfix, Quality Scale: internal, integration: voip

#92478 Drop tmpdir from media_source tests
  tests/components/media_source/test_local_source.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: media_source, smash, Quality Scale: internal

#92477 Add type hints to tests
  tests/components/blebox/test_cover.py
  tests/components/devolo_home_control/test_switch.py
  tests/components/ezviz/test_config_flow.py
  tests/components/glances/test_sensor.py
  tests/components/lidarr/test_sensor.py
  tests/components/rapt_ble/test_sensor.py
  tests/components/rituals_perfume_genie/test_init.py
  tests/components/sonos/test_repairs.py
  tests/components/voip/test_devices.py
  tests/components/webhook/test_init.py
  tests/components/webhook/test_trigger.py
  tests/helpers/test_template.py
Labels: core, cla-signed, small-pr, has-tests, code-quality, smash

#92473 Fix lingering timer in kostal_plenticore
  homeassistant/components/kostal_plenticore/helper.py
  homeassistant/components/kostal_plenticore/number.py
  homeassistant/components/kostal_plenticore/select.py
  homeassistant/components/kostal_plenticore/sensor.py
  homeassistant/components/kostal_plenticore/switch.py
Labels: cla-signed, small-pr, integration: kostal_plenticore, bugfix, Quality Scale: No score

#92471 Fix lingering timer in kira tests
  tests/components/kira/test_init.py
Labels: cla-signed, integration: kira, small-pr, has-tests, bugfix, smash, Quality Scale: No score

#92470 Fix lingering timer in jewish_calendar
  homeassistant/components/jewish_calendar/binary_sensor.py
Labels: cla-signed, small-pr, integration: jewish_calendar, bugfix, Quality Scale: No score

#92447 Fix onvif setup when time set service is not functional
  homeassistant/components/onvif/device.py
Labels: cla-signed, integration: onvif, bugfix, Quality Scale: No score

#92444 Bump zeroconf to 0.62.0
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, dependency, by-code-owner, Quality Scale: internal

#92462 Fix lingering timer in sabnzbd
  homeassistant/components/sabnzbd/__init__.py
  tests/components/sabnzbd/conftest.py
  tests/components/sabnzbd/test_config_flow.py
Labels: cla-signed, small-pr, integration: sabnzbd, has-tests, bugfix, Quality Scale: No score

#92451 Bump `aionotion` to 2023.05.0
  homeassistant/components/notion/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: notion, by-code-owner, bugfix, Quality Scale: No score

#92460 Fix lingering timer in rflink
  homeassistant/components/rflink/__init__.py
Labels: cla-signed, integration: rflink, small-pr, bugfix, Quality Scale: No score

#92435 Bump dbus-fast to 1.86.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#92482 Move naming of entities in Rituals Perfume Genie
  homeassistant/components/rituals_perfume_genie/binary_sensor.py
  homeassistant/components/rituals_perfume_genie/entity.py
  homeassistant/components/rituals_perfume_genie/number.py
  homeassistant/components/rituals_perfume_genie/select.py
  homeassistant/components/rituals_perfume_genie/sensor.py
  homeassistant/components/rituals_perfume_genie/switch.py
Labels: cla-signed, small-pr, code-quality, integration: rituals_perfume_genie, smash

#92465 Adjust type hints in CloudClient
  homeassistant/components/cloud/client.py
Labels: core, cla-signed, integration: cloud, small-pr, Quality Scale: No score

#92461 Fix lingering timer in rfxtrx
  homeassistant/components/rfxtrx/siren.py
Labels: cla-signed, integration: rfxtrx, small-pr, bugfix, Quality Scale: No score

#92450 Fix onvif cameras with invalid encodings in device info
  homeassistant/components/onvif/device.py
Labels: cla-signed, small-pr, integration: onvif, bugfix, Quality Scale: No score

#92485 Add entity descriptions to binary sensors of Rituals Perfume Genie
  homeassistant/components/rituals_perfume_genie/binary_sensor.py
Labels: cla-signed, by-code-owner, code-quality, integration: rituals_perfume_genie, Quality Scale: silver

#92476 Fix lingering timer in lifx
  homeassistant/components/lifx/light.py
Labels: cla-signed, small-pr, integration: lifx, bugfix, Quality Scale: platinum, code-owner-approved

#92487 Fix lifx light strips when color zones are not initially populated
  homeassistant/components/lifx/coordinator.py
  homeassistant/components/lifx/light.py
  tests/components/lifx/test_light.py
Labels: cla-signed, small-pr, integration: lifx, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#92495 Bump bluetooth-auto-recovery 1.1.2
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#92508 Update frontend to 20230503.2
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#92501 Fix scene service examples
  homeassistant/components/scene/services.yaml
Labels: core, cla-signed, integration: scene, small-pr, bugfix, Quality Scale: internal

#92115 Small improvement of assist_pipeline test coverage
  homeassistant/components/assist_pipeline/pipeline.py
  tests/components/assist_pipeline/test_init.py
  tests/components/assist_pipeline/test_websocket.py
Labels: cla-signed, small-pr, has-tests, Quality Scale: internal, integration: assist_pipeline

#92514 Fix lingering timer in demo geo_location
  homeassistant/components/demo/geo_location.py
Labels: core, cla-signed, integration: demo, small-pr, bugfix, Quality Scale: internal

#92516 Fix lingering timer in duckdns
  homeassistant/components/duckdns/__init__.py
Labels: cla-signed, integration: duckdns, small-pr, bugfix, Quality Scale: No score

#92518 Fix blocking I/O in the event loop when starting ONVIF
  homeassistant/components/onvif/button.py
  homeassistant/components/onvif/config_flow.py
  homeassistant/components/onvif/device.py
  homeassistant/components/onvif/event.py
  homeassistant/components/onvif/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/onvif/__init__.py
  tests/components/onvif/test_button.py
Labels: cla-signed, small-pr, integration: onvif, has-tests, dependency, bugfix, Quality Scale: No score

#92498 Fix lingering timer in cloud
  homeassistant/components/cloud/client.py
  homeassistant/components/google_assistant/report_state.py
Labels: core, cla-signed, integration: cloud, small-pr, bugfix, Quality Scale: No score

#92486 Add entity descriptions to numbers of Rituals Perfume Genie
  homeassistant/components/rituals_perfume_genie/number.py
  tests/components/rituals_perfume_genie/test_number.py
Labels: cla-signed, has-tests, by-code-owner, code-quality, integration: rituals_perfume_genie, Quality Scale: silver

#92531 Add entity descriptions to switch of Rituals Perfume Genie
  homeassistant/components/rituals_perfume_genie/switch.py
Labels: cla-signed, by-code-owner, code-quality, integration: rituals_perfume_genie, Quality Scale: silver

#92524 Wait for mqtt client to become available
  homeassistant/components/arwn/sensor.py
  homeassistant/components/mqtt_eventstream/__init__.py
  homeassistant/components/mqtt_statestream/__init__.py
  tests/components/mqtt_eventstream/test_init.py
Labels: cla-signed, integration: mqtt_eventstream, integration: mqtt_statestream, small-pr, integration: arwn, has-tests, bugfix, Quality Scale: No score

#92175 Refactor multipan options flow
  homeassistant/components/homeassistant_hardware/silabs_multiprotocol_addon.py
Labels: cla-signed, Quality Scale: No score, integration: homeassistant_hardware

#92522 Add entity descriptions to selects of Rituals Perfume Genie
  homeassistant/components/rituals_perfume_genie/select.py
Labels: cla-signed, by-code-owner, code-quality, integration: rituals_perfume_genie, Quality Scale: silver

#92427 Add support for setting NumberMode using NumberEntityDescription
  homeassistant/components/baf/number.py
  homeassistant/components/bmw_connected_drive/number.py
  homeassistant/components/number/__init__.py
  homeassistant/components/shelly/number.py
Labels: core, breaking-change, cla-signed, small-pr, new-feature, second-opinion-wanted, integration: number, Quality Scale: internal

#92545 Refactor of unique ID and entity description handling in Rituals Perfume Genie
  homeassistant/components/rituals_perfume_genie/binary_sensor.py
  homeassistant/components/rituals_perfume_genie/entity.py
  homeassistant/components/rituals_perfume_genie/number.py
  homeassistant/components/rituals_perfume_genie/select.py
  homeassistant/components/rituals_perfume_genie/sensor.py
  homeassistant/components/rituals_perfume_genie/switch.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: rituals_perfume_genie, smash, Quality Scale: silver

#92543 Handle invalid ZHA cluster handlers
  homeassistant/components/zha/core/endpoint.py
  tests/components/zha/test_cluster_handlers.py
Labels: cla-signed, integration: zha, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#92537 Bump aioesphomeapi to 13.7.3 to fix disconnecting while handshake is in progress
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, Quality Scale: No score

#92560 Bump elkm1-lib to 2.2.2
  homeassistant/components/elkm1/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: elkm1, dependency, by-code-owner, Quality Scale: No score

#92553 Allow duplicate state updates when force_update is set on an esphome sensor
  homeassistant/components/esphome/entry_data.py
Labels: cla-signed, small-pr, integration: esphome, bugfix, Quality Scale: No score

#92520 Improve cloud migration
  homeassistant/components/alexa/config.py
  homeassistant/components/cloud/alexa_config.py
  homeassistant/components/cloud/google_config.py
Labels: core, cla-signed, integration: cloud, small-pr, Quality Scale: No score

#91548 Fix transmission error handling
  homeassistant/components/transmission/__init__.py
  tests/components/transmission/test_config_flow.py
  tests/components/transmission/test_init.py
Labels: cla-signed, small-pr, integration: transmission, has-tests, bugfix, smash, Quality Scale: No score

#92464 Fix KeyError in rest
  homeassistant/components/rest/binary_sensor.py
  homeassistant/components/rest/data.py
  homeassistant/components/rest/sensor.py
Labels: cla-signed, small-pr, integration: rest, by-code-owner, bugfix, Quality Scale: No score

#92469 Fix for SIA Code not being handled well
  homeassistant/components/sia/alarm_control_panel.py
  homeassistant/components/sia/binary_sensor.py
Labels: cla-signed, by-code-owner, bugfix, integration: sia, Quality Scale: No score

#92554 Use selectors in Trafikverket Train
  homeassistant/components/trafikverket_train/config_flow.py
  homeassistant/components/trafikverket_train/strings.json
Labels: cla-signed, integration: trafikverket_train, by-code-owner, code-quality, smash, Quality Scale: No score

#92579 Fix lingering timer in hdmi_cec
  homeassistant/components/hdmi_cec/__init__.py
Labels: cla-signed, integration: hdmi_cec, small-pr, bugfix, Quality Scale: No score

#92564 Re-run expose entities migration if first time failed
  homeassistant/components/cloud/alexa_config.py
  homeassistant/components/cloud/google_config.py
  homeassistant/components/cloud/prefs.py
  tests/components/cloud/test_alexa_config.py
  tests/components/cloud/test_google_config.py
Labels: core, cla-signed, integration: cloud, small-pr, has-tests, Quality Scale: No score

#92572 Fix lingering timer in freedns
  homeassistant/components/freedns/__init__.py
Labels: cla-signed, small-pr, integration: freedns, bugfix, Quality Scale: No score

#92585 Bump hatasmota to 0.6.5
  homeassistant/components/tasmota/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tasmota/test_sensor.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: tasmota, Quality Scale: No score

#90768 Migrate rest switch to httpx
  homeassistant/components/rest/switch.py
  tests/components/rest/test_switch.py
Labels: cla-signed, small-pr, integration: rest, has-tests, code-quality, Quality Scale: No score

#92557 Fix switchbot binary sensor translation key
  homeassistant/components/switchbot/binary_sensor.py
Labels: cla-signed, small-pr, integration: switchbot, bugfix, Quality Scale: No score

#92611 Add ability to shutdown a coordinator on STOP
  homeassistant/helpers/update_coordinator.py
  tests/helpers/test_update_coordinator.py
Labels: core, cla-signed, new-feature

#92601 Remove deprecated service for rainbird
  homeassistant/components/rainbird/__init__.py
  homeassistant/components/rainbird/strings.json
  tests/components/rainbird/test_init.py
Labels: breaking-change, cla-signed, integration: rainbird, small-pr, has-tests, Quality Scale: No score

#92599 Remove yaml import rainbird
  homeassistant/components/rainbird/__init__.py
  homeassistant/components/rainbird/config_flow.py
  homeassistant/components/rainbird/const.py
  homeassistant/components/rainbird/strings.json
  tests/components/rainbird/test_init.py
  tests/components/rainbird/test_switch.py
Labels: breaking-change, cla-signed, integration: rainbird, small-pr, has-tests, Quality Scale: No score

#92325 Improve and enforce type hints for imap
  .strict-typing
  homeassistant/components/imap/coordinator.py
  mypy.ini
Labels: cla-signed, small-pr, integration: imap, by-code-owner, code-quality, Quality Scale: No score

#92551 Improve reliability of ONVIF subscription renewals
  homeassistant/components/onvif/event.py
  homeassistant/components/onvif/manifest.json
  homeassistant/components/onvif/util.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: onvif, dependency, bugfix, Quality Scale: No score

#92593 Lower scan interval for OpenSky
  homeassistant/components/opensky/sensor.py
Labels: cla-signed, small-pr, integration: opensky, bugfix, Quality Scale: No score

#92617 Update frontend to 20230503.3
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#92629 Fix duplicate ONVIF sensors
  homeassistant/components/onvif/parsers.py
Labels: cla-signed, small-pr, integration: onvif, bugfix, Quality Scale: No score

#84748 Add JVC Projector integration
  .strict-typing
  CODEOWNERS
  homeassistant/components/jvc_projector/__init__.py
  homeassistant/components/jvc_projector/config_flow.py
  homeassistant/components/jvc_projector/const.py
  homeassistant/components/jvc_projector/coordinator.py
  homeassistant/components/jvc_projector/entity.py
  homeassistant/components/jvc_projector/manifest.json
  homeassistant/components/jvc_projector/remote.py
  homeassistant/components/jvc_projector/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/jvc_projector/__init__.py
  tests/components/jvc_projector/conftest.py
  tests/components/jvc_projector/test_config_flow.py
  tests/components/jvc_projector/test_coordinator.py
  tests/components/jvc_projector/test_init.py
  tests/components/jvc_projector/test_remote.py
Labels: core, cla-signed, new-integration, has-tests, integration: jvc_projector

#92602 Remove issue from skybell
  homeassistant/components/skybell/__init__.py
  homeassistant/components/skybell/strings.json
Labels: cla-signed, integration: skybell, small-pr, code-quality, Quality Scale: No score

#92592 Remove issue from steam_online
  homeassistant/components/steam_online/__init__.py
  homeassistant/components/steam_online/strings.json
Labels: cla-signed, small-pr, integration: steam_online, code-quality, Quality Scale: No score

#92425 Bump pytrafikverket to 0.3.1
  homeassistant/components/trafikverket_ferry/config_flow.py
  homeassistant/components/trafikverket_ferry/coordinator.py
  homeassistant/components/trafikverket_ferry/manifest.json
  homeassistant/components/trafikverket_train/__init__.py
  homeassistant/components/trafikverket_train/config_flow.py
  homeassistant/components/trafikverket_train/manifest.json
  homeassistant/components/trafikverket_train/sensor.py
  homeassistant/components/trafikverket_weatherstation/config_flow.py
  homeassistant/components/trafikverket_weatherstation/coordinator.py
  homeassistant/components/trafikverket_weatherstation/manifest.json
  homeassistant/components/trafikverket_weatherstation/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/trafikverket_ferry/test_config_flow.py
  tests/components/trafikverket_ferry/test_coordinator.py
  tests/components/trafikverket_train/test_config_flow.py
  tests/components/trafikverket_weatherstation/test_config_flow.py
Labels: cla-signed, small-pr, integration: trafikverket_weatherstation, integration: trafikverket_train, dependency, by-code-owner, smash, integration: trafikverket_ferry, Quality Scale: No score

#92502 Roborock continue on failed mqtt disconnect
  homeassistant/components/roborock/__init__.py
  tests/components/roborock/mock_data.py
  tests/components/roborock/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: roborock

#92488 Address connection error wording in Honeywell
  homeassistant/components/honeywell/__init__.py
Labels: cla-signed, small-pr, integration: honeywell, by-code-owner, bugfix, Quality Scale: No score

#92399 Dont reload integration on auth error in Aladdin Connect
  homeassistant/components/aladdin_connect/cover.py
Labels: cla-signed, small-pr, integration: aladdin_connect, by-code-owner, bugfix, Quality Scale: No score

#92610 2023.5.2
  homeassistant/components/alexa/config.py
  homeassistant/components/cloud/alexa_config.py
  homeassistant/components/cloud/google_config.py
  homeassistant/components/cloud/prefs.py
  homeassistant/components/elkm1/manifest.json
  homeassistant/components/esphome/entry_data.py
  homeassistant/components/esphome/manifest.json
  homeassistant/components/frontend/manifest.json
  homeassistant/components/hassio/__init__.py
  homeassistant/components/netatmo/sensor.py
  homeassistant/components/onvif/button.py
  homeassistant/components/onvif/config_flow.py
  homeassistant/components/onvif/device.py
  homeassistant/components/onvif/event.py
  homeassistant/components/onvif/manifest.json
  homeassistant/components/onvif/parsers.py
  homeassistant/components/onvif/util.py
  homeassistant/components/opensky/sensor.py
  homeassistant/components/scene/services.yaml
  homeassistant/components/sia/alarm_control_panel.py
  homeassistant/components/sia/binary_sensor.py
  homeassistant/components/tasmota/manifest.json
  homeassistant/components/transmission/__init__.py
  homeassistant/components/zha/core/endpoint.py
  homeassistant/const.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cloud/test_alexa_config.py
  tests/components/cloud/test_google_config.py
  tests/components/onvif/__init__.py
  tests/components/onvif/test_button.py
  tests/components/tasmota/test_sensor.py
  tests/components/transmission/test_config_flow.py
  tests/components/transmission/test_init.py
  tests/components/zha/test_cluster_handlers.py
Labels: core, cla-signed, merging-to-master, has-tests

#86069 Add diagnostics to devolo Home Control
  homeassistant/components/devolo_home_control/diagnostics.py
  tests/components/devolo_home_control/mocks.py
  tests/components/devolo_home_control/test_diagnostics.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: devolo_home_control, Quality Scale: silver

#92366 Cleanup Insteon to use Platform vs DOMAIN constants
  homeassistant/components/insteon/__init__.py
  homeassistant/components/insteon/binary_sensor.py
  homeassistant/components/insteon/climate.py
  homeassistant/components/insteon/const.py
  homeassistant/components/insteon/cover.py
  homeassistant/components/insteon/fan.py
  homeassistant/components/insteon/ipdb.py
  homeassistant/components/insteon/light.py
  homeassistant/components/insteon/lock.py
  homeassistant/components/insteon/switch.py
  homeassistant/components/insteon/utils.py
Labels: cla-signed, integration: insteon, by-code-owner, Quality Scale: No score

#80126 Assemble platforms upfront in devolo Home Network
  homeassistant/components/devolo_home_network/__init__.py
  homeassistant/components/devolo_home_network/binary_sensor.py
  homeassistant/components/devolo_home_network/const.py
  homeassistant/components/devolo_home_network/device_tracker.py
  tests/components/devolo_home_network/conftest.py
  tests/components/devolo_home_network/test_init.py
Labels: Hacktoberfest, cla-signed, has-tests, by-code-owner, code-quality, hacktoberfest-accepted, integration: devolo_home_network

#92649 Fix devolo home lint errors from ruff
  tests/components/devolo_home_network/conftest.py
  tests/components/devolo_home_network/test_init.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: devolo_home_network, Quality Scale: platinum

#90274 Improve internet/API error handling for BMW
  homeassistant/components/bmw_connected_drive/config_flow.py
  homeassistant/components/bmw_connected_drive/coordinator.py
  tests/components/bmw_connected_drive/test_config_flow.py
Labels: cla-signed, small-pr, integration: bmw_connected_drive, has-tests, by-code-owner, code-quality, Quality Scale: No score

#92648 Bump bimmer_connected to 0.13.3
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: bmw_connected_drive, dependency, by-code-owner, bugfix, Quality Scale: No score

#91096 Remove deprecated Vallox YAML configuration
  homeassistant/components/vallox/__init__.py
  homeassistant/components/vallox/config_flow.py
  tests/components/vallox/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, has-tests, integration: vallox, by-code-owner, smash, Quality Scale: No score

#79099 Add nibe heat pump water heater entities
  .coveragerc
  homeassistant/components/nibe_heatpump/__init__.py
  homeassistant/components/nibe_heatpump/const.py
  homeassistant/components/nibe_heatpump/water_heater.py
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: nibe_heatpump

#92628 Add charging target sensor
  homeassistant/components/bmw_connected_drive/sensor.py
Labels: cla-signed, small-pr, integration: bmw_connected_drive, Quality Scale: No score

#91677 Add media_player platform to Android TV Remote
  CODEOWNERS
  homeassistant/components/androidtv_remote/__init__.py
  homeassistant/components/androidtv_remote/entity.py
  homeassistant/components/androidtv_remote/manifest.json
  homeassistant/components/androidtv_remote/media_player.py
  homeassistant/components/androidtv_remote/remote.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/androidtv_remote/conftest.py
  tests/components/androidtv_remote/test_media_player.py
  tests/components/androidtv_remote/test_remote.py
Labels: new-platform, cla-signed, new-feature, has-tests, Quality Scale: platinum, code-owner-approved, integration: androidtv_remote

#92681 Fix parallel_updates being acquired too late for entity executor jobs
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
Labels: core, cla-signed, bugfix

#92595 Remove issue from pushover
  homeassistant/components/pushover/notify.py
  homeassistant/components/pushover/strings.json
  tests/components/pushover/test_init.py
Labels: cla-signed, small-pr, integration: pushover, has-tests, code-quality, Quality Scale: No score

#92686 Bump anova_wifi to 0.10.0 to add better debug
  homeassistant/components/anova/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: anova

#92684 Bump pysensibo to 1.0.28
  homeassistant/components/sensibo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: sensibo, dependency, by-code-owner, Quality Scale: platinum

#92697 Bump `aionotion` to 2023.05.1
  homeassistant/components/notion/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: notion, by-code-owner, bugfix, Quality Scale: No score

#92703 Update pylint to 2.17.4
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#92590 Remove dlink yaml import
  homeassistant/components/dlink/config_flow.py
  homeassistant/components/dlink/switch.py
  homeassistant/components/lyric/strings.json
  tests/components/dlink/test_config_flow.py
  tests/components/dlink/test_switch.py
Labels: breaking-change, cla-signed, small-pr, integration: dlink, has-tests, Quality Scale: No score

#92690 Fix onvif reauth when device returns a http 401/403 error
  homeassistant/components/onvif/__init__.py
  homeassistant/components/onvif/config_flow.py
  homeassistant/components/onvif/strings.json
  tests/components/onvif/test_config_flow.py
Labels: cla-signed, small-pr, integration: onvif, bugfix, Quality Scale: No score

#92702 Bump pyoverkiz to 1.7.8
  homeassistant/components/overkiz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: overkiz, Quality Scale: No score

#92704 Change IO_OUTLET_ENGINE sensor from Liter to Cubic Meters Per Hour in Overkiz
  homeassistant/components/overkiz/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: overkiz, Quality Scale: No score

#92642 Update onvif error checking to use explict None check
  homeassistant/components/onvif/util.py
Labels: cla-signed, small-pr, integration: onvif, bugfix, Quality Scale: No score

#92163 Minor cleanup config flow Workday
  homeassistant/components/workday/config_flow.py
Labels: cla-signed, small-pr, integration: workday, by-code-owner, code-quality, smash, Quality Scale: internal

#92575 Fix lingering timer in generic_hygrostat
  homeassistant/components/generic_hygrostat/humidifier.py
Labels: cla-signed, small-pr, integration: generic_hygrostat, bugfix, Quality Scale: internal

#92641 Improve reliablity of recorder purge test
  tests/components/recorder/test_purge.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, bugfix, Quality Scale: internal

#92512 Reduce overhead to check bluetooth logging
  homeassistant/components/bluetooth/manager.py
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/logger/__init__.py
  tests/components/bluetooth/test_manager.py
  tests/components/bluetooth/test_scanner.py
Labels: core, cla-signed, integration: logger, small-pr, has-tests, by-code-owner, code-quality, integration: bluetooth, Quality Scale: internal

#92332 Clean config flow for SQL
  .strict-typing
  homeassistant/components/sql/config_flow.py
  mypy.ini
  tests/components/sql/__init__.py
  tests/components/sql/test_config_flow.py
Labels: cla-signed, small-pr, integration: sql, has-tests, by-code-owner, code-quality, smash, Quality Scale: No score

#92698 Fix radio_id can be unavailable
  homeassistant/components/frontier_silicon/config_flow.py
  tests/components/frontier_silicon/test_config_flow.py
Labels: cla-signed, small-pr, integration: frontier_silicon, has-tests, by-code-owner, bugfix, Quality Scale: No score

#91040 Add config flow to dwd_weather_warnings
  CODEOWNERS
  homeassistant/components/dwd_weather_warnings/__init__.py
  homeassistant/components/dwd_weather_warnings/config_flow.py
  homeassistant/components/dwd_weather_warnings/const.py
  homeassistant/components/dwd_weather_warnings/manifest.json
  homeassistant/components/dwd_weather_warnings/sensor.py
  homeassistant/components/dwd_weather_warnings/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_test_all.txt
  tests/components/dwd_weather_warnings/__init__.py
  tests/components/dwd_weather_warnings/conftest.py
  tests/components/dwd_weather_warnings/test_config_flow.py
  tests/components/dwd_weather_warnings/test_init.py
Labels: cla-signed, has-tests, integration: dwd_weather_warnings, by-code-owner, config-flow, deprecation, Quality Scale: No score

#73152 Add diagnostic sensors for TotalConnect
  .coveragerc
  homeassistant/components/totalconnect/binary_sensor.py
  tests/components/totalconnect/common.py
  tests/components/totalconnect/test_binary_sensor.py
Labels: breaking-change, cla-signed, new-feature, integration: totalconnect, by-code-owner, smash

#92688 Add AC current limit and Pre entry climatization
  homeassistant/components/bmw_connected_drive/binary_sensor.py
  homeassistant/components/bmw_connected_drive/sensor.py
Labels: cla-signed, small-pr, integration: bmw_connected_drive, new-feature, by-code-owner, Quality Scale: No score

#85834 Add button platform to devolo Home Network
  homeassistant/components/devolo_home_network/__init__.py
  homeassistant/components/devolo_home_network/binary_sensor.py
  homeassistant/components/devolo_home_network/button.py
  homeassistant/components/devolo_home_network/const.py
  homeassistant/components/devolo_home_network/entity.py
  homeassistant/components/devolo_home_network/sensor.py
  homeassistant/components/devolo_home_network/strings.json
  homeassistant/components/devolo_home_network/switch.py
  tests/components/devolo_home_network/const.py
  tests/components/devolo_home_network/mock.py
  tests/components/devolo_home_network/test_button.py
  tests/components/devolo_home_network/test_init.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, integration: devolo_home_network, Quality Scale: platinum

#92736 Bump aiowebostv to 0.3.3 to fix Python 3.11 support
  homeassistant/components/webostv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: webostv, dependency, by-code-owner, bugfix, Quality Scale: platinum

#92737 Update deprecated functions in SIA
  homeassistant/components/sia/__init__.py
  homeassistant/components/sia/hub.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: sia, Quality Scale: No score

#92735 Fix regression in Skybell
  homeassistant/components/skybell/__init__.py
Labels: cla-signed, integration: skybell, small-pr, by-code-owner, bugfix, Quality Scale: No score

#92739 Cleanup after removing D-Link yaml
  homeassistant/components/dlink/entity.py
  tests/components/dlink/conftest.py
Labels: cla-signed, small-pr, integration: dlink, has-tests, by-code-owner, code-quality, Quality Scale: No score

#92740 Bump nibe to 2.2.0
  homeassistant/components/nibe_heatpump/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: nibe_heatpump, Quality Scale: No score

#92745 Fix regression in rainbird
  homeassistant/components/rainbird/__init__.py
Labels: cla-signed, integration: rainbird, small-pr, bugfix, Quality Scale: No score

#92748 Fix zwave_js services example data
  homeassistant/components/zwave_js/services.yaml
Labels: cla-signed, small-pr, bugfix, integration: zwave_js, Quality Scale: No score

#92744 Increase timeout to 30 seconds for Mazda integration
  homeassistant/components/mazda/__init__.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: mazda, Quality Scale: platinum

#92759 Bump asyncsleepiq to 1.3.5
  homeassistant/components/sleepiq/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: sleepiq, small-pr, dependency, by-code-owner, Quality Scale: No score

#92763 Add debug logs for EDL21
  homeassistant/components/edl21/sensor.py
Labels: cla-signed, small-pr, integration: edl21, code-quality, Quality Scale: No score

#92761 Bump pytrafikverket to 0.3.3
  homeassistant/components/trafikverket_ferry/manifest.json
  homeassistant/components/trafikverket_train/manifest.json
  homeassistant/components/trafikverket_weatherstation/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: trafikverket_weatherstation, integration: trafikverket_train, dependency, by-code-owner, smash, integration: trafikverket_ferry, Quality Scale: No score

#91506 Manual trigger entity and refactor command_line switch
  homeassistant/components/command_line/switch.py
  homeassistant/helpers/template_entity.py
  tests/components/command_line/test_switch.py
  tests/components/template/test_manual_trigger_entity.py
Labels: cla-signed, new-feature, integration: template, Quality Scale: internal

#92484 Bump hass-nabucasa to 0.67.1
  homeassistant/components/cloud/manifest.json
  homeassistant/components/http/auth.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: cloud, small-pr, Quality Scale: No score

#92780 Update aioairzone to v0.5.3
  homeassistant/components/airzone/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: airzone, Quality Scale: No score

#92741 Bump aioesphomeapi to 3.7.4 to fix proxied BLE connections not retrying right away on error
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, Quality Scale: No score
