Repository home-assistant/core, pull requests merged in 2023-06, with the labels that each got.

#93881 Add binary sensor platform to Dremel 3D Printer
  homeassistant/components/dremel_3d_printer/__init__.py
  homeassistant/components/dremel_3d_printer/binary_sensor.py
  tests/components/dremel_3d_printer/test_binary_sensor.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, integration: dremel_3d_printer, Quality Scale: No score

#93877 Increase Zigbee command retries
  homeassistant/components/zha/core/cluster_handlers/__init__.py
  tests/components/zha/test_alarm_control_panel.py
  tests/components/zha/test_device_action.py
  tests/components/zha/test_discover.py
  tests/components/zha/test_light.py
  tests/components/zha/test_switch.py
Labels: cla-signed, integration: zha, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#93871 Update aioairzone-cloud to v0.1.7
  homeassistant/components/airzone_cloud/entity.py
  homeassistant/components/airzone_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/airzone_cloud/util.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, Quality Scale: No score, integration: airzone_cloud

#89096 Always update Filter sensors attr on new_state
  homeassistant/components/filter/sensor.py
Labels: cla-signed, small-pr, integration: filter, by-code-owner, bugfix, Quality Scale: internal

#91034 Delay filter integration until after HA has started
  homeassistant/components/filter/sensor.py
Labels: cla-signed, small-pr, integration: filter, by-code-owner, Quality Scale: internal

#93884 Bump frontend to 20230601.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#92818 Restructure Insteon start-up
  homeassistant/components/insteon/binary_sensor.py
  homeassistant/components/insteon/climate.py
  homeassistant/components/insteon/cover.py
  homeassistant/components/insteon/fan.py
  homeassistant/components/insteon/ipdb.py
  homeassistant/components/insteon/light.py
  homeassistant/components/insteon/lock.py
  homeassistant/components/insteon/switch.py
  homeassistant/components/insteon/utils.py
Labels: cla-signed, integration: insteon, by-code-owner, Quality Scale: No score

#93854 Add CONFIG_SCHEMA to broadlink
  homeassistant/components/broadlink/__init__.py
  homeassistant/components/homeassistant/strings.json
  homeassistant/helpers/config_validation.py
  tests/helpers/test_config_validation.py
Labels: core, cla-signed, integration: broadlink, Quality Scale: No score

#93903 Remove async_setup from zerproc
  homeassistant/components/zerproc/__init__.py
  tests/components/zerproc/test_config_flow.py
Labels: cla-signed, small-pr, integration: zerproc, Quality Scale: No score

#93902 Remove async_setup from ring
  homeassistant/components/ring/__init__.py
  tests/components/ring/test_config_flow.py
  tests/components/ring/test_init.py
Labels: cla-signed, integration: ring, small-pr, Quality Scale: No score

#93901 Remove setup from remote_rpi_gpio
  homeassistant/components/remote_rpi_gpio/__init__.py
Labels: cla-signed, small-pr, integration: remote_rpi_gpio, Quality Scale: No score

#93899 Add config entry only config schema to integrations a-r
  homeassistant/components/discord/__init__.py
  homeassistant/components/flux_led/__init__.py
  homeassistant/components/google_assistant_sdk/__init__.py
  homeassistant/components/google_mail/__init__.py
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/mjpeg/__init__.py
  homeassistant/components/plex/__init__.py
  homeassistant/components/ps4/__init__.py
  homeassistant/components/pushbullet/__init__.py
  homeassistant/components/pushover/__init__.py
Labels: cla-signed

#93668 Add video id to youtube sensor state attributes
  homeassistant/components/youtube/sensor.py
  tests/components/youtube/test_sensor.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: youtube

#93900 Add empty config schema to mobile_app
  homeassistant/components/mobile_app/__init__.py
Labels: core, cla-signed, small-pr, integration: mobile_app, integration: ping, integration: nsw_fuel_station, Quality Scale: No score, Quality Scale: internal

#93892 Remove async_setup from econet
  homeassistant/components/econet/__init__.py
  tests/components/econet/test_config_flow.py
Labels: cla-signed, small-pr, integration: econet, Quality Scale: No score

#93893 Remove async_setup from gpslogger
  homeassistant/components/gpslogger/__init__.py
Labels: cla-signed, small-pr, integration: gpslogger, Quality Scale: No score

#93894 Remove async_setup from hyperion
  homeassistant/components/hyperion/__init__.py
  tests/components/hyperion/test_config_flow.py
Labels: cla-signed, small-pr, integration: hyperion, Quality Scale: platinum

#92904 Add `silabs_multiprotocol` platform
  homeassistant/components/homeassistant_hardware/silabs_multiprotocol_addon.py
  homeassistant/components/homeassistant_hardware/strings.json
  homeassistant/components/homeassistant_sky_connect/strings.json
  homeassistant/components/homeassistant_yellow/strings.json
  homeassistant/components/otbr/silabs_multiprotocol.py
  homeassistant/components/otbr/util.py
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zha/silabs_multiprotocol.py
  tests/components/homeassistant_hardware/conftest.py
  tests/components/homeassistant_hardware/test_silabs_multiprotocol_addon.py
  tests/components/homeassistant_sky_connect/conftest.py
  tests/components/homeassistant_yellow/conftest.py
  tests/components/otbr/conftest.py
  tests/components/otbr/test_config_flow.py
  tests/components/otbr/test_init.py
  tests/components/otbr/test_silabs_multiprotocol.py
  tests/components/otbr/test_util.py
  tests/components/otbr/test_websocket_api.py
  tests/components/zha/test_silabs_multiprotocol.py
Labels: cla-signed, integration: zha, has-tests, integration: homeassistant_yellow, integration: homeassistant_sky_connect, Quality Scale: No score, integration: homeassistant_hardware, integration: thread, integration: otbr

#93710 Add Ezviz light entity
  .coveragerc
  homeassistant/components/ezviz/__init__.py
  homeassistant/components/ezviz/light.py
  homeassistant/components/ezviz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: ezviz, Quality Scale: No score

#93908 Rename `cv.no_yaml_config_schema` to `cv.config_entry_only_config_schema`
  homeassistant/components/broadlink/__init__.py
  homeassistant/components/discord/__init__.py
  homeassistant/components/flux_led/__init__.py
  homeassistant/components/google_assistant_sdk/__init__.py
  homeassistant/components/google_mail/__init__.py
  homeassistant/components/homeassistant/strings.json
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/mjpeg/__init__.py
  homeassistant/components/plex/__init__.py
  homeassistant/components/ps4/__init__.py
  homeassistant/components/pushbullet/__init__.py
  homeassistant/components/pushover/__init__.py
  homeassistant/helpers/config_validation.py
  homeassistant/setup.py
  tests/helpers/test_config_validation.py
Labels: core, cla-signed, small-pr

#93912 Remove async_setup from traccar
  homeassistant/components/traccar/__init__.py
Labels: cla-signed, small-pr, integration: traccar, Quality Scale: No score

#93917 Fix typo in cloud
  homeassistant/components/cloud/prefs.py
Labels: core, cla-signed, integration: cloud, small-pr, Quality Scale: No score

#93571 Raise exception instead of hide in logs on zha write
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/websocket_api.py
Labels: cla-signed, integration: zha, small-pr, bugfix, Quality Scale: No score

#93916 Bump python-opensky
  homeassistant/components/opensky/manifest.json
  homeassistant/components/opensky/sensor.py
  requirements_all.txt
Labels: cla-signed, small-pr, integration: opensky, dependency, by-code-owner, Quality Scale: No score

#93483 Fix LaMetric Config Flow for SKY
  homeassistant/components/lametric/config_flow.py
  tests/components/lametric/conftest.py
  tests/components/lametric/fixtures/device_sa5.json
  tests/components/lametric/test_config_flow.py
Labels: cla-signed, integration: lametric, small-pr, bugfix, Quality Scale: platinum, code-owner-approved

#93928 Fix onvif cameras that use basic auth with no password
  homeassistant/components/onvif/__init__.py
Labels: cla-signed, small-pr, integration: onvif, bugfix, Quality Scale: No score

#93930 Bump python-onvif-zeep to 3.1.9
  homeassistant/components/onvif/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: onvif, dependency, bugfix, Quality Scale: No score

#93024 Add humidity sensor to deconz component
  homeassistant/components/deconz/manifest.json
  homeassistant/components/deconz/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/deconz/test_sensor.py
Labels: cla-signed, integration: deconz, small-pr, new-feature, dependency, Quality Scale: platinum, code-owner-approved

#93931 Bump pyunifiprotect to 4.9.1
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: unifiprotect, Quality Scale: platinum

#93926 Adding new supported language code to Google translate
  homeassistant/components/google_translate/const.py
Labels: cla-signed, small-pr, integration: google_translate, Quality Scale: No score

#93920 Fix typing_extensions to match metadata
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr

#93934 Include port info in the ZHA websocket settings response
  homeassistant/components/zha/websocket_api.py
  tests/components/zha/test_websocket_api.py
Labels: cla-signed, integration: zha, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: No score

#84149 Add save clips to Blink services
  homeassistant/components/blink/__init__.py
  homeassistant/components/blink/alarm_control_panel.py
  homeassistant/components/blink/binary_sensor.py
  homeassistant/components/blink/const.py
  homeassistant/components/blink/sensor.py
  homeassistant/components/blink/services.yaml
Labels: cla-signed, integration: blink, new-feature, Quality Scale: No score

#93895 Remove async_setup from locative
  homeassistant/components/locative/__init__.py
Labels: cla-signed, small-pr, integration: locative, Quality Scale: No score

#93937 Update netdata to 1.1.0, set longer timeout
  homeassistant/components/netdata/manifest.json
  homeassistant/components/netdata/sensor.py
  requirements_all.txt
Labels: cla-signed, small-pr, integration: netdata, dependency, bugfix, Quality Scale: No score

#93942 Fix august aiohttp session being closed out from under it
  homeassistant/components/august/__init__.py
  homeassistant/components/august/config_flow.py
  homeassistant/components/august/gateway.py
  tests/components/august/test_gateway.py
Labels: cla-signed, integration: august, by-code-owner, bugfix, Quality Scale: No score

#93943 Bump aiohomekit to 2.6.4
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, Quality Scale: No score

#93572 Fix states not being translated in voice assistants
  homeassistant/components/conversation/default_agent.py
Labels: core, cla-signed, integration: conversation, small-pr, bugfix, Quality Scale: internal

#93886 Update pyipp to 0.13.0
  homeassistant/components/ipp/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: ipp, bugfix, Quality Scale: platinum

#93952 Remove insteon import flow
  homeassistant/components/insteon/__init__.py
  homeassistant/components/insteon/config_flow.py
  homeassistant/components/insteon/schemas.py
  tests/components/insteon/const.py
  tests/components/insteon/test_config_flow.py
  tests/components/insteon/test_init.py
Labels: cla-signed, small-pr, integration: insteon, Quality Scale: No score

#93953 Add empty config schema to mailbox
  homeassistant/components/mailbox/__init__.py
Labels: core, cla-signed, integration: mailbox, small-pr, Quality Scale: internal

#93951 Add CONFIG_SCHEMA to imap_email_content
  homeassistant/components/imap_email_content/__init__.py
Labels: cla-signed, small-pr, integration: imap_email_content, Quality Scale: No score

#93954 Add empty config schema to stt
  homeassistant/components/stt/__init__.py
Labels: core, cla-signed, small-pr, integration: stt, Quality Scale: internal

#93946 Make Z-Wave device IBT4ZWAVE discoverable as a cover
  homeassistant/components/zwave_js/cover.py
  homeassistant/components/zwave_js/discovery.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/fixtures/cover_nice_ibt4zwave_state.json
  tests/components/zwave_js/test_cover.py
Labels: cla-signed, small-pr, new-feature, has-tests, integration: zwave_js, Quality Scale: platinum

#93947 Improve logic for zwave_js.lock.is_locked attr
  homeassistant/components/zwave_js/lock.py
Labels: cla-signed, small-pr, new-feature, integration: zwave_js, Quality Scale: platinum

#93674 Make Riemann sum sensors restore last valid state
  homeassistant/components/integration/sensor.py
  tests/components/integration/test_sensor.py
Labels: cla-signed, integration: integration, has-tests, by-code-owner, Quality Scale: internal

#93971 Fritz: cleanup unused variables
  homeassistant/components/fritz/device_tracker.py
Labels: cla-signed, small-pr, integration: fritz, by-code-owner, code-quality, Quality Scale: No score

#93979 Catch Google Sheets api error
  homeassistant/components/google_sheets/__init__.py
  tests/components/google_sheets/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: google_sheets, Quality Scale: No score

#93983 Fix broken URL in Z-Wave JS
  homeassistant/components/zwave_js/discovery.py
Labels: cla-signed, small-pr, bugfix, integration: zwave_js, Quality Scale: platinum

#93752 Add scan interval to Command Line
  homeassistant/components/command_line/__init__.py
  homeassistant/components/command_line/binary_sensor.py
  homeassistant/components/command_line/const.py
  homeassistant/components/command_line/cover.py
  homeassistant/components/command_line/sensor.py
  homeassistant/components/command_line/switch.py
  tests/components/command_line/test_binary_sensor.py
  tests/components/command_line/test_cover.py
  tests/components/command_line/test_sensor.py
  tests/components/command_line/test_switch.py
Labels: cla-signed, new-feature, integration: command_line, by-code-owner, Quality Scale: No score

#93998 Fix error in tibber while fetching latest statistics
  homeassistant/components/tibber/sensor.py
Labels: cla-signed, small-pr, integration: tibber, bugfix, Quality Scale: silver

#93990 Keep track what devices support Assist features
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/assist_pipeline/select.py
  homeassistant/components/assist_pipeline/websocket_api.py
  tests/components/assist_pipeline/conftest.py
  tests/components/assist_pipeline/test_select.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: internal, integration: assist_pipeline

#93404 Add reload support to intent_script
  homeassistant/components/intent_script/__init__.py
  homeassistant/components/intent_script/services.yaml
  homeassistant/helpers/intent.py
  tests/components/intent_script/fixtures/configuration.yaml
  tests/components/intent_script/fixtures/configuration_no_entry.yaml
  tests/components/intent_script/test_init.py
  tests/helpers/test_intent.py
Labels: core, cla-signed, integration: intent_script, new-feature, has-tests, code-quality, Quality Scale: internal

#94000 Refactor Command Line binary sensor to use ManualTriggerEntity
  homeassistant/components/command_line/binary_sensor.py
Labels: cla-signed, small-pr, integration: command_line, by-code-owner, code-quality, Quality Scale: No score

#93997 Refactor Command Line cover to use ManualTriggerEntity
  homeassistant/components/command_line/cover.py
Labels: cla-signed, small-pr, integration: command_line, by-code-owner, code-quality, Quality Scale: No score

#94008 Show the sensor state using the coordinatordata instead of initial data
  homeassistant/components/youtube/entity.py
  homeassistant/components/youtube/sensor.py
  tests/components/youtube/__init__.py
  tests/components/youtube/fixtures/get_channel_2.json
  tests/components/youtube/fixtures/get_playlist_items_2.json
  tests/components/youtube/test_sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: youtube

#94026 Android TV Remote: Abort zeroconf if mac address is missing
  homeassistant/components/androidtv_remote/config_flow.py
  tests/components/androidtv_remote/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum, integration: androidtv_remote

#94033 Drop codeowner for Imap
  CODEOWNERS
  homeassistant/components/imap/manifest.json
Labels: cla-signed, small-pr, integration: imap, by-code-owner, Quality Scale: No score

#94040 Remove update_before_add from binary_sensor in Command Line
  homeassistant/components/command_line/binary_sensor.py
Labels: cla-signed, small-pr, integration: command_line, by-code-owner, code-quality, Quality Scale: No score

#93999 Refactor Command Line sensor to use ManualTriggerEntity
  homeassistant/components/command_line/sensor.py
Labels: cla-signed, small-pr, integration: command_line, by-code-owner, code-quality, Quality Scale: No score

#94043 Fix zwave_js.update entity restore logic
  homeassistant/components/zwave_js/update.py
  tests/components/zwave_js/test_update.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: zwave_js, Quality Scale: platinum

#94049 Drop codeowner for gogogate2
  CODEOWNERS
  homeassistant/components/gogogate2/manifest.json
Labels: cla-signed, small-pr, integration: gogogate2, by-code-owner, Quality Scale: No score

#94035 Bump Roborock to 0.21.0
  homeassistant/components/roborock/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: roborock

#94041 Update pynuki to 1.6.2
  homeassistant/components/nuki/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: nuki, dependency, by-code-owner, Quality Scale: No score

#94011 Bump xiaomi-ble to 0.17.2
  homeassistant/components/xiaomi_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/xiaomi_ble/test_binary_sensor.py
  tests/components/xiaomi_ble/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: xiaomi_ble, Quality Scale: No score

#93531 Don't inherit SensorEntity/NumberEntity and RestoreEntity in Shelly integration
  homeassistant/components/shelly/binary_sensor.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/number.py
  homeassistant/components/shelly/sensor.py
  homeassistant/components/shelly/update.py
  tests/components/shelly/test_number.py
  tests/components/shelly/test_sensor.py
Labels: cla-signed, integration: shelly, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#93615 Add media stop to LG Netcast TV
  homeassistant/components/lg_netcast/media_player.py
Labels: cla-signed, small-pr, new-feature, integration: lg_netcast, by-code-owner, Quality Scale: No score

#94034 Remove miniaudio pin now that upstream package has been fixed
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr

#93882 Add camera platform to Dremel
  homeassistant/components/dremel_3d_printer/__init__.py
  homeassistant/components/dremel_3d_printer/camera.py
  homeassistant/components/dremel_3d_printer/const.py
  tests/components/dremel_3d_printer/test_init.py
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: dremel_3d_printer, Quality Scale: No score

#94050 Update pyipp to 0.14.0
  homeassistant/components/ipp/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: ipp, Quality Scale: platinum

#94052 Bump zeroconf to 0.64.0
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, by-code-owner, Quality Scale: internal

#93548 Remove qbittorrent YAML configuration
  homeassistant/components/qbittorrent/config_flow.py
  homeassistant/components/qbittorrent/sensor.py
  homeassistant/components/qbittorrent/strings.json
  tests/components/qbittorrent/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, integration: qbittorrent, has-tests, Quality Scale: No score

#93547 Remove snapcast YAML configuration
  homeassistant/components/snapcast/config_flow.py
  homeassistant/components/snapcast/media_player.py
  homeassistant/components/snapcast/strings.json
  tests/components/snapcast/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, integration: snapcast, has-tests, Quality Scale: No score

#94053 Fix wheel builds on armhf and armv7
  .github/workflows/wheels.yml
Labels: cla-signed, small-pr

#94077 Bump intents to 2023.6.5
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: conversation, small-pr, dependency, by-code-owner, Quality Scale: internal

#94083 Update frontend to 20230605.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#94069 Don't add Roborock switches if it is not supported
  homeassistant/components/roborock/switch.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: roborock

#94085 Fix reload service in Command Line
  homeassistant/components/command_line/__init__.py
Labels: cla-signed, small-pr, integration: command_line, by-code-owner, bugfix, Quality Scale: No score

#94084 Use shorthand attributes in NextBus
  homeassistant/components/nextbus/sensor.py
Labels: cla-signed, small-pr, integration: nextbus, by-code-owner, code-quality, Quality Scale: No score

#94094 Remove Xbox YAML configuration
  homeassistant/components/xbox/__init__.py
  homeassistant/components/xbox/strings.json
  tests/components/xbox/test_config_flow.py
Labels: breaking-change, cla-signed, integration: lyric, small-pr, has-tests, integration: xbox, Quality Scale: No score, Quality Scale: silver

#94100 Update aioairzone to v0.6.3 and fix issue with latest firmware update
  homeassistant/components/airzone/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/airzone/test_climate.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, bugfix, integration: airzone, Quality Scale: No score

#94088 Add missing translation keys for Roborock mop intensity
  homeassistant/components/roborock/strings.json
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: roborock

#94091 Remove left-over issue from platform YAML in Radarr
  homeassistant/components/radarr/sensor.py
  homeassistant/components/radarr/strings.json
Labels: cla-signed, small-pr, integration: radarr, code-quality, Quality Scale: No score

#94090 Remove platform YAML for Bose SoundTouch
  homeassistant/components/soundtouch/config_flow.py
  homeassistant/components/soundtouch/media_player.py
  homeassistant/components/soundtouch/strings.json
Labels: breaking-change, cla-signed, small-pr, integration: soundtouch, Quality Scale: No score

#94098 fix: Bump melnor-bluetooth to fix deadlock
  homeassistant/components/melnor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: melnor, Quality Scale: No score

#94093 Bump aiounifi to v48 - Fix fail to initialise due to board_rev not exist
  homeassistant/components/unifi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: unifi, by-code-owner, bugfix, Quality Scale: platinum

#74719 Add config flow to mystrom
  CODEOWNERS
  homeassistant/components/mystrom/__init__.py
  homeassistant/components/mystrom/config_flow.py
  homeassistant/components/mystrom/const.py
  homeassistant/components/mystrom/light.py
  homeassistant/components/mystrom/manifest.json
  homeassistant/components/mystrom/models.py
  homeassistant/components/mystrom/strings.json
  homeassistant/components/mystrom/switch.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_test_all.txt
  tests/components/mystrom/__init__.py
  tests/components/mystrom/conftest.py
  tests/components/mystrom/test_config_flow.py
  tests/components/mystrom/test_init.py
Labels: cla-signed, new-feature, integration: mystrom, has-tests, config-flow, deprecation

#94104 Remove leftover issue warning in SimpliSafe
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/simplisafe/strings.json
Labels: cla-signed, small-pr, integration: simplisafe, code-quality, Quality Scale: No score

#94106 Remove Slack YAML configuration
  homeassistant/components/slack/__init__.py
  homeassistant/components/slack/config_flow.py
  homeassistant/components/slack/notify.py
  tests/components/slack/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, integration: slack, Quality Scale: No score

#94078 Freeze time on `timer` tests that assert on remaining time
  tests/components/timer/test_init.py
Labels: core, cla-signed, integration: timer, small-pr, has-tests, code-quality, Quality Scale: internal

#94123 Revert "Increase Zigbee command retries (#93877)"
  homeassistant/components/zha/core/cluster_handlers/__init__.py
  tests/components/zha/test_alarm_control_panel.py
  tests/components/zha/test_device_action.py
  tests/components/zha/test_discover.py
  tests/components/zha/test_light.py
  tests/components/zha/test_switch.py
Labels: cla-signed, integration: zha, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#54280 Add new integration Discovergy
  .coveragerc
  CODEOWNERS
  homeassistant/components/discovergy/__init__.py
  homeassistant/components/discovergy/config_flow.py
  homeassistant/components/discovergy/const.py
  homeassistant/components/discovergy/diagnostics.py
  homeassistant/components/discovergy/manifest.json
  homeassistant/components/discovergy/sensor.py
  homeassistant/components/discovergy/strings.json
  homeassistant/components/discovergy/system_health.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/discovergy/__init__.py
  tests/components/discovergy/conftest.py
  tests/components/discovergy/test_config_flow.py
  tests/components/discovergy/test_diagnostics.py
  tests/components/discovergy/test_system_health.py
Labels: cla-signed, new-integration, has-tests, smash, integration: discovergy

#94130 Correct zha device classes for voc and pm25
  homeassistant/components/zha/sensor.py
Labels: cla-signed, integration: zha, small-pr, bugfix, Quality Scale: No score

#94131 Improve discovergy generic typing
  homeassistant/components/discovergy/__init__.py
  homeassistant/components/discovergy/diagnostics.py
  homeassistant/components/discovergy/sensor.py
Labels: cla-signed, small-pr, code-quality, integration: discovergy, Quality Scale: No score

#94119 Update frontend to 20230606.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#94129 Remove goalfeed integration
  .coveragerc
  homeassistant/components/goalfeed/__init__.py
  homeassistant/components/goalfeed/manifest.json
  homeassistant/generated/integrations.json
  requirements_all.txt
Labels: breaking-change, cla-signed, integration: goalfeed, small-pr, noteworthy, Quality Scale: No score

#94133 Fix multiple smart detects firing at once for UniFi Protect
  homeassistant/components/unifiprotect/binary_sensor.py
  homeassistant/components/unifiprotect/data.py
  homeassistant/components/unifiprotect/manifest.json
  homeassistant/components/unifiprotect/models.py
  homeassistant/components/unifiprotect/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/unifiprotect/test_sensor.py
Labels: cla-signed, has-tests, by-code-owner, bugfix, integration: unifiprotect, Quality Scale: platinum

#94122 Remove `mark_read` service from persistent_notification
  homeassistant/components/persistent_notification/__init__.py
  homeassistant/components/persistent_notification/services.yaml
  tests/components/persistent_notification/test_init.py
Labels: core, breaking-change, cla-signed, integration: persistent_notification, small-pr, has-tests, Quality Scale: internal

#94117 Fix typo in Picnic strings
  homeassistant/components/picnic/strings.json
Labels: cla-signed, small-pr, bugfix, integration: picnic, Quality Scale: No score

#94112 Verify persistant notifications can be dismissed by the id they are created with
  tests/components/persistent_notification/test_init.py
Labels: core, cla-signed, integration: persistent_notification, small-pr, has-tests, Quality Scale: internal

#94111 Bump python-roborock to 23.4
  homeassistant/components/roborock/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: roborock

#94103 Remove left-over issue Simplepush
  homeassistant/components/simplepush/notify.py
  homeassistant/components/simplepush/strings.json
Labels: cla-signed, small-pr, integration: simplepush, code-quality, Quality Scale: No score

#94105 Remove leftover issue in nVent RAYCHEM SENZ
  homeassistant/components/senz/__init__.py
  homeassistant/components/senz/strings.json
Labels: cla-signed, small-pr, code-quality, integration: senz, Quality Scale: No score

#94092 Remove left-over issue in Honeywell Lyric
  homeassistant/components/lyric/__init__.py
Labels: cla-signed, integration: lyric, small-pr, code-quality, Quality Scale: silver

#94136 Bump waqiasync to 1.1.0
  homeassistant/components/waqi/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: waqi, Quality Scale: No score

#94099 Add diagnostics to Roborock
  homeassistant/components/roborock/diagnostics.py
  homeassistant/components/roborock/models.py
  tests/components/roborock/conftest.py
  tests/components/roborock/mock_data.py
  tests/components/roborock/snapshots/test_diagnostics.ambr
  tests/components/roborock/test_diagnostics.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: roborock

#94144 Bump ruuvitag-ble to 0.1.2
  homeassistant/components/ruuvitag_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: ruuvitag_ble

#94148 Fix migration of Google Assistant cloud settings
  homeassistant/components/cloud/google_config.py
Labels: core, cla-signed, integration: cloud, small-pr, bugfix, Quality Scale: No score

#94141 Bump unifiprotect to 4.10.1
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: unifiprotect, Quality Scale: platinum

#94150 Update frontend to 20230607.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#94151 Add debug logs to cloud migration
  homeassistant/components/cloud/alexa_config.py
  homeassistant/components/cloud/google_config.py
Labels: core, cla-signed, integration: cloud, small-pr, Quality Scale: No score

#94153 Disable google assistant local control of climate entities
  homeassistant/components/google_assistant/const.py
Labels: core, cla-signed, integration: google_assistant, small-pr, Quality Scale: No score

#94159 Bump melnor-bluetooth to fix a timezone issue
  homeassistant/components/melnor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: melnor, Quality Scale: No score

#93995 Change Ezviz detection sensitivity to update per entity
  homeassistant/components/ezviz/entity.py
  homeassistant/components/ezviz/manifest.json
  homeassistant/components/ezviz/number.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, by-code-owner, integration: ezviz, code-quality, Quality Scale: No score

#94157 Fix OTBR reset
  homeassistant/components/otbr/manifest.json
  homeassistant/components/otbr/util.py
  homeassistant/components/otbr/websocket_api.py
  homeassistant/components/thread/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/otbr/test_websocket_api.py
Labels: cla-signed, small-pr, has-tests, Quality Scale: No score, integration: thread, integration: otbr

#94168 Fix Abode unit of measurement
  homeassistant/components/abode/sensor.py
  tests/components/abode/test_sensor.py
Labels: cla-signed, integration: abode, small-pr, has-tests, bugfix, Quality Scale: No score

#94138 Add support for ESPHome raw bluetooth advertisements
  homeassistant/components/esphome/__init__.py
  homeassistant/components/esphome/bluetooth/__init__.py
  homeassistant/components/esphome/bluetooth/client.py
  homeassistant/components/esphome/bluetooth/scanner.py
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/esphome/conftest.py
Labels: cla-signed, small-pr, integration: esphome, Quality Scale: No score

#94178 Update pydantic to 1.10.9
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#94143 Sync Climate min/max temp with Google Assistant
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Labels: core, cla-signed, integration: google_assistant, small-pr, has-tests, bugfix, Quality Scale: No score

#94217 Set httpx log level to warning
  homeassistant/bootstrap.py
Labels: core, cla-signed, small-pr, bugfix

#94208 Require pydantic 1.10.8 or higher
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, dependency, dependency-bump

#94203 Fix ambiclimate for Python 3.11
  homeassistant/components/ambiclimate/climate.py
Labels: cla-signed, small-pr, integration: ambiclimate, bugfix, Quality Scale: No score

#94230 Fix imap crash on email without subject
  homeassistant/components/imap/coordinator.py
  tests/components/imap/const.py
  tests/components/imap/test_init.py
Labels: cla-signed, small-pr, integration: imap, has-tests, by-code-owner, bugfix, Quality Scale: No score

#94224 Bump python-opensky to 0.0.9
  homeassistant/components/opensky/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: opensky, dependency, by-code-owner, Quality Scale: No score

#94234 Solve wrong return code from modbus.
  homeassistant/components/flexit/climate.py
Labels: cla-signed, small-pr, integration: flexit, Quality Scale: No score

#94176 Bump pyoverkiz to 1.8.0
  homeassistant/components/overkiz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: overkiz, Quality Scale: No score

#94245 Bump aiohomekit to 2.6.5 (fixes python 3.11 regression)
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, bugfix, Quality Scale: No score

#94255 Retrieve friends in an async manner in Lastfm
  homeassistant/components/lastfm/config_flow.py
Labels: cla-signed, small-pr, integration: lastfm, by-code-owner, bugfix, Quality Scale: No score

#94162 Bump pymodbus to 3.3.1
  homeassistant/components/modbus/binary_sensor.py
  homeassistant/components/modbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/modbus/test_init.py
Labels: cla-signed, integration: modbus, small-pr, has-tests, dependency, by-code-owner, Quality Scale: gold

#94227 Bump pulsectl to 23.5.2
  homeassistant/components/pulseaudio_loopback/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: pulseaudio_loopback, bugfix, Quality Scale: No score

#94256 Update frontend to 20230608.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#94235 Catch exception when user has no lastfm friends
  homeassistant/components/lastfm/config_flow.py
  tests/components/lastfm/__init__.py
Labels: cla-signed, small-pr, integration: lastfm, has-tests, by-code-owner, bugfix, Quality Scale: No score

#94263 Bump unifiprotect to 4.10.2
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: unifiprotect, Quality Scale: platinum

#94271 Fix repair issue about no yaml for config entries
  homeassistant/helpers/config_validation.py
  homeassistant/setup.py
Labels: core, cla-signed, small-pr, bugfix

#94266 Use stable USB device path in USB discovery
  homeassistant/components/insteon/config_flow.py
  homeassistant/components/usb/__init__.py
  tests/components/usb/test_init.py
Labels: cla-signed, small-pr, integration: insteon, has-tests, integration: usb, Quality Scale: No score, Quality Scale: internal

#94277 Fix Insteon startup for users with X10 devices
  homeassistant/components/insteon/utils.py
Labels: cla-signed, small-pr, integration: insteon, by-code-owner, bugfix, Quality Scale: No score

#94278 Drop call to usb.get_serial_by_id from zha config flow
  homeassistant/components/zha/config_flow.py
Labels: cla-signed, integration: zha, small-pr, Quality Scale: No score

#94276 Drop call to usb.get_serial_by_id from velbus config flow
  homeassistant/components/velbus/config_flow.py
Labels: cla-signed, integration: velbus, small-pr, Quality Scale: No score

#94288 2023.6.1
  homeassistant/bootstrap.py
  homeassistant/components/abode/sensor.py
  homeassistant/components/airzone_cloud/manifest.json
  homeassistant/components/ambiclimate/climate.py
  homeassistant/components/flexit/climate.py
  homeassistant/components/frontend/manifest.json
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/imap/coordinator.py
  homeassistant/components/input_select/__init__.py
  homeassistant/components/insteon/binary_sensor.py
  homeassistant/components/insteon/climate.py
  homeassistant/components/insteon/cover.py
  homeassistant/components/insteon/fan.py
  homeassistant/components/insteon/ipdb.py
  homeassistant/components/insteon/light.py
  homeassistant/components/insteon/lock.py
  homeassistant/components/insteon/switch.py
  homeassistant/components/insteon/utils.py
  homeassistant/components/lastfm/config_flow.py
  homeassistant/components/logger/__init__.py
  homeassistant/components/logger/helpers.py
  homeassistant/components/media_source/local_source.py
  homeassistant/components/melnor/manifest.json
  homeassistant/components/opensky/manifest.json
  homeassistant/components/opensky/sensor.py
  homeassistant/components/otbr/manifest.json
  homeassistant/components/otbr/util.py
  homeassistant/components/otbr/websocket_api.py
  homeassistant/components/overkiz/manifest.json
  homeassistant/components/pulseaudio_loopback/manifest.json
  homeassistant/components/thread/manifest.json
  homeassistant/components/unifiprotect/manifest.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  homeassistant/setup.py
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/abode/test_sensor.py
  tests/components/imap/const.py
  tests/components/imap/test_init.py
  tests/components/input_select/test_init.py
  tests/components/input_select/test_reproduce_state.py
  tests/components/lastfm/__init__.py
  tests/components/media_source/test_init.py
  tests/components/otbr/test_websocket_api.py
  tests/components/roku/test_media_player.py
Labels: core, cla-signed, merging-to-master

#94290 Upgrade ruff to 0.0.272
  .pre-commit-config.yaml
  homeassistant/components/esphome/bluetooth/client.py
  pyproject.toml
  requirements_test_pre_commit.txt
Labels: core, cla-signed, small-pr, has-tests, dependency

#93200 Replace bandit with ruff
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  homeassistant/components/command_line/notify.py
  homeassistant/components/command_line/utils.py
  homeassistant/components/gtfs/sensor.py
  homeassistant/components/influxdb/sensor.py
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/recorder/util.py
  homeassistant/components/yi/camera.py
  pyproject.toml
  requirements_test_pre_commit.txt
  tests/bandit.yaml
  tests/components/command_line/test_cover.py
  tests/components/command_line/test_sensor.py
  tests/util/test_process.py
Labels: core, integration: recorder, cla-signed, integration: influxdb, small-pr, integration: gtfs, integration: command_line, integration: yi, has-tests, code-quality, Quality Scale: No score, Quality Scale: internal

#87081 Use addon name as title in otbr hassio flow
  homeassistant/components/otbr/config_flow.py
  tests/components/otbr/test_config_flow.py
Labels: cla-signed, small-pr, Quality Scale: No score, integration: otbr

#91167 Request steam online friends from batches
  homeassistant/components/steam_online/config_flow.py
  tests/components/steam_online/__init__.py
  tests/components/steam_online/test_config_flow.py
Labels: cla-signed, small-pr, integration: steam_online, has-tests, bugfix, Quality Scale: No score

#94302 Replace isort with ruff
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  homeassistant/auth/providers/command_line.py
  homeassistant/auth/providers/homeassistant.py
  homeassistant/auth/providers/insecure_example.py
  homeassistant/auth/providers/legacy_api_password.py
  homeassistant/auth/providers/trusted_networks.py
  homeassistant/components/ads/sensor.py
  homeassistant/components/color_extractor/__init__.py
  homeassistant/components/generic/config_flow.py
  homeassistant/components/google_assistant/__init__.py
  homeassistant/components/huawei_lte/config_flow.py
  homeassistant/components/image_upload/__init__.py
  homeassistant/components/logger/__init__.py
  homeassistant/components/mqtt/subscription.py
  homeassistant/components/progettihwsw/__init__.py
  homeassistant/components/progettihwsw/binary_sensor.py
  homeassistant/components/progettihwsw/switch.py
  homeassistant/components/recorder/table_managers/event_data.py
  homeassistant/components/recorder/table_managers/event_types.py
  homeassistant/components/recorder/table_managers/state_attributes.py
  homeassistant/components/recorder/table_managers/states_meta.py
  homeassistant/components/remote_rpi_gpio/binary_sensor.py
  homeassistant/components/remote_rpi_gpio/switch.py
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/rfxtrx/config_flow.py
  homeassistant/components/tellduslive/cover.py
  homeassistant/components/tensorflow/image_processing.py
  homeassistant/components/w800rf32/__init__.py
  homeassistant/components/w800rf32/binary_sensor.py
  homeassistant/components/zha/core/cluster_handlers/closures.py
  homeassistant/components/zha/core/cluster_handlers/general.py
  homeassistant/components/zha/core/cluster_handlers/homeautomation.py
  homeassistant/components/zha/core/cluster_handlers/hvac.py
  homeassistant/components/zha/core/cluster_handlers/lighting.py
  homeassistant/components/zha/core/cluster_handlers/lightlink.py
  homeassistant/components/zha/core/cluster_handlers/manufacturerspecific.py
  homeassistant/components/zha/core/cluster_handlers/measurement.py
  homeassistant/components/zha/core/cluster_handlers/protocol.py
  homeassistant/components/zha/core/cluster_handlers/security.py
  homeassistant/components/zha/core/cluster_handlers/smartenergy.py
  homeassistant/components/zha/core/discovery.py
  pylint/ruff.toml
  pyproject.toml
  requirements_test_pre_commit.txt
  script/ruff.toml
  script/scaffold/templates/config_flow_oauth2/tests/test_config_flow.py
  script/scaffold/templates/device_action/tests/test_device_action.py
  script/scaffold/templates/device_condition/tests/test_device_condition.py
  script/scaffold/templates/device_trigger/tests/test_device_trigger.py
  tests/components/rfxtrx/test_device_action.py
  tests/components/vicare/conftest.py
  tests/components/vicare/test_config_flow.py
  tests/components/waze_travel_time/conftest.py
  tests/components/waze_travel_time/test_sensor.py
  tests/ruff.toml
Labels: core, cla-signed, small-pr, code-quality

#94281 Bump Python-Roborock to 23.6 for crash fix
  homeassistant/components/roborock/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/roborock/mock_data.py
  tests/components/roborock/snapshots/test_diagnostics.ambr
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: roborock

#94282 Update URL in readme
  README.rst
Labels: cla-signed, small-pr

#94310 Upgrade sisyphus-control to 3.1.3
  homeassistant/components/sisyphus/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: sisyphus, dependency, by-code-owner, Quality Scale: No score

#94279 Drop call to usb.get_serial_by_id from zwave_js config flow
  homeassistant/components/zwave_js/config_flow.py
Labels: cla-signed, small-pr, integration: zwave_js, Quality Scale: platinum

#94262 Add comments about removing deprecated code from sky_connect config flow
  homeassistant/components/homeassistant_sky_connect/__init__.py
  homeassistant/components/homeassistant_sky_connect/config_flow.py
Labels: cla-signed, small-pr, has-tests, integration: homeassistant_sky_connect, Quality Scale: No score

#88321 Tweak typing of Entity.platform
  homeassistant/components/rflink/__init__.py
  homeassistant/components/update/__init__.py
  homeassistant/helpers/entity.py
  tests/components/update/test_init.py
Labels: core, cla-signed, small-pr, code-quality
