Repository home-assistant/core, pull requests merged in 2023-07, with the labels that each got.

#95583 Fix missing EntityDescription names in Overkiz
  homeassistant/components/overkiz/entity.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: overkiz, Quality Scale: No score

#95649 Add bmw connected drive region-specific scan interval
  homeassistant/components/bmw_connected_drive/const.py
  homeassistant/components/bmw_connected_drive/coordinator.py
Labels: cla-signed, small-pr, integration: bmw_connected_drive, by-code-owner, bugfix, Quality Scale: No score

#95644 Met: use correct device info keys
  homeassistant/components/met/weather.py
Labels: cla-signed, small-pr, integration: met, Quality Scale: No score

#95645 Rainbird: use correct device info keys
  homeassistant/components/rainbird/coordinator.py
  homeassistant/components/rainbird/switch.py
Labels: cla-signed, integration: rainbird, small-pr, Quality Scale: No score

#95646 VeSync: use correct device info keys
  homeassistant/components/vesync/common.py
Labels: cla-signed, small-pr, integration: vesync, Quality Scale: No score

#95647 Tesla Wall Connector: use correct device info keys
  homeassistant/components/tesla_wall_connector/__init__.py
Labels: cla-signed, small-pr, integration: tesla_wall_connector, Quality Scale: No score

#95603 Update ruff pre-commit repo
  .pre-commit-config.yaml
Labels: cla-signed, small-pr

#95658 Use `async_on_remove` for KNX entities removal
  homeassistant/components/knx/knx_entity.py
  homeassistant/components/knx/sensor.py
  tests/components/knx/test_interface_device.py
Labels: cla-signed, integration: knx, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#84152 Add Bridge module to AsusWRT
  homeassistant/components/asuswrt/bridge.py
  homeassistant/components/asuswrt/config_flow.py
  homeassistant/components/asuswrt/const.py
  homeassistant/components/asuswrt/router.py
  homeassistant/components/asuswrt/sensor.py
  tests/components/asuswrt/test_config_flow.py
  tests/components/asuswrt/test_sensor.py
Labels: cla-signed, integration: asuswrt, has-tests, by-code-owner, code-quality, smash, Quality Scale: No score

#95681 Fix implicit device name for SimpliSafe locks
  homeassistant/components/simplisafe/lock.py
Labels: cla-signed, small-pr, integration: simplisafe, by-code-owner, bugfix, Quality Scale: No score

#95577 Update log message when referenced entity not found
  homeassistant/helpers/service.py
  tests/helpers/test_service.py
Labels: core, cla-signed, small-pr

#95655 Upgrade pymazda to 0.3.9
  homeassistant/components/mazda/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: mazda, Quality Scale: platinum

#95707 Fix Shelly button `unique_id` migration
  homeassistant/components/shelly/button.py
Labels: cla-signed, small-pr, integration: shelly, by-code-owner, bugfix, Quality Scale: platinum

#95678 Handle missing or incorrect device name and unique id for ESPHome during manual add
  homeassistant/components/esphome/config_flow.py
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/esphome/test_config_flow.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, by-code-owner, Quality Scale: No score

#95683 Met Eireann: fix device info
  homeassistant/components/met_eireann/weather.py
Labels: cla-signed, small-pr, bugfix, integration: met_eireann, Quality Scale: No score

#95712 Fix songpal test_setup_failed test
  tests/components/songpal/test_media_player.py
Labels: cla-signed, small-pr, integration: songpal, has-tests, bugfix, Quality Scale: gold

#95675 Add action attribute to generic hygrostat
  homeassistant/components/generic_hygrostat/humidifier.py
  tests/components/generic_hygrostat/test_humidifier.py
Labels: cla-signed, small-pr, new-feature, integration: generic_hygrostat, has-tests, by-code-owner, Quality Scale: internal

#95716 Bump python-kasa to 0.5.2
  homeassistant/components/tplink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: tplink, dependency, Quality Scale: platinum, code-owner-approved

#95714 Bump zeroconf to 0.70.0
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, dependency, by-code-owner, Quality Scale: internal

#95688 Remove obsolete entity name from Lametric
  homeassistant/components/lametric/sensor.py
Labels: cla-signed, integration: lametric, small-pr, code-quality, Quality Scale: platinum, code-owner-approved

#95687 Use device info object in LaCrosse View
  homeassistant/components/lacrosse_view/sensor.py
Labels: cla-signed, small-pr, code-quality, integration: lacrosse_view, Quality Scale: No score

#95693 Small improvements to websocket api performance
  homeassistant/components/websocket_api/commands.py
  homeassistant/components/websocket_api/connection.py
  homeassistant/components/websocket_api/http.py
Labels: core, cla-signed, integration: websocket_api, Quality Scale: internal

#95625 Add entity translations to kaleidescape
  homeassistant/components/kaleidescape/entity.py
  homeassistant/components/kaleidescape/media_player.py
  homeassistant/components/kaleidescape/remote.py
  homeassistant/components/kaleidescape/sensor.py
  homeassistant/components/kaleidescape/strings.json
  tests/components/kaleidescape/test_sensor.py
Labels: cla-signed, has-tests, code-quality, integration: kaleidescape, Quality Scale: No score

#95643 Add mold risk sensor to Notion
  homeassistant/components/notion/const.py
  homeassistant/components/notion/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: notion, by-code-owner, Quality Scale: No score

#95731 Use a normal tuple for the EventBus jobs
  homeassistant/core.py
Labels: core, cla-signed, small-pr, code-quality

#95742 Use device class naming for Nest
  homeassistant/components/nest/sensor_sdm.py
  homeassistant/components/nest/strings.json
Labels: cla-signed, integration: nest, small-pr, code-quality, Quality Scale: platinum

#90489 Add Opower integration for getting electricity/gas usage and cost for many utilities
  .coveragerc
  CODEOWNERS
  homeassistant/components/opower/__init__.py
  homeassistant/components/opower/config_flow.py
  homeassistant/components/opower/const.py
  homeassistant/components/opower/coordinator.py
  homeassistant/components/opower/manifest.json
  homeassistant/components/opower/sensor.py
  homeassistant/components/opower/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/opower/__init__.py
  tests/components/opower/conftest.py
  tests/components/opower/test_config_flow.py
Labels: cla-signed, new-integration, has-tests, integration: opower

#95740 Remove NAM translations handled by device class
  homeassistant/components/nam/button.py
  homeassistant/components/nam/sensor.py
  homeassistant/components/nam/strings.json
Labels: cla-signed, small-pr, code-quality, integration: nam, Quality Scale: platinum

#95737 Add entity translations to minecraft server
  homeassistant/components/minecraft_server/__init__.py
  homeassistant/components/minecraft_server/binary_sensor.py
  homeassistant/components/minecraft_server/sensor.py
  homeassistant/components/minecraft_server/strings.json
Labels: cla-signed, integration: minecraft_server, code-quality, Quality Scale: silver

#95734 Add entity translations to melnor
  homeassistant/components/melnor/number.py
  homeassistant/components/melnor/sensor.py
  homeassistant/components/melnor/strings.json
  homeassistant/components/melnor/switch.py
  homeassistant/components/melnor/time.py
Labels: cla-signed, code-quality, integration: melnor, Quality Scale: No score

#95733 Use DeviceInfo object for Meater
  homeassistant/components/meater/sensor.py
Labels: cla-signed, small-pr, code-quality, integration: meater, Quality Scale: No score

#95727 Add entity translations for lifx
  homeassistant/components/lifx/binary_sensor.py
  homeassistant/components/lifx/button.py
  homeassistant/components/lifx/entity.py
  homeassistant/components/lifx/light.py
  homeassistant/components/lifx/select.py
  homeassistant/components/lifx/sensor.py
  homeassistant/components/lifx/strings.json
Labels: cla-signed, small-pr, integration: lifx, code-quality, Quality Scale: platinum

#95725 Quality improvement on LOQED integration
  homeassistant/components/loqed/config_flow.py
  homeassistant/components/loqed/const.py
  homeassistant/components/loqed/coordinator.py
  homeassistant/components/loqed/entity.py
  homeassistant/components/loqed/lock.py
  homeassistant/components/loqed/strings.json
  homeassistant/components/loqed/translations/en.json
  tests/components/loqed/test_init.py
  tests/components/loqed/test_lock.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: loqed, Quality Scale: No score

#95691 Avoid regex for negative zero check in sensor
  homeassistant/components/sensor/__init__.py
  tests/components/sensor/test_init.py
  tests/helpers/test_template.py
Labels: core, cla-signed, small-pr, integration: sensor, code-quality, Quality Scale: internal

#95686 Add entity translations to LaCrosse View
  homeassistant/components/lacrosse_view/sensor.py
  homeassistant/components/lacrosse_view/strings.json
Labels: cla-signed, code-quality, integration: lacrosse_view, Quality Scale: No score

#95732 Add entity translations for Meater
  homeassistant/components/meater/sensor.py
  homeassistant/components/meater/strings.json
Labels: cla-signed, code-quality, integration: meater, Quality Scale: No score

#95599 Delete the local calendar store when removing the config entry
  homeassistant/components/local_calendar/__init__.py
  tests/components/local_calendar/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: local_calendar, Quality Scale: No score

#95542 Clean up solarlog const file
  homeassistant/components/solarlog/const.py
  homeassistant/components/solarlog/sensor.py
Labels: cla-signed, integration: solarlog, code-quality, Quality Scale: No score

#95636 Fix source device when source entity is changed for Utility Meter
  homeassistant/components/utility_meter/__init__.py
  tests/components/utility_meter/test_config_flow.py
Labels: cla-signed, small-pr, integration: utility_meter, has-tests, bugfix, Quality Scale: internal

#95743 Handle invalid utf-8 from the ESPHome dashboard
  homeassistant/components/esphome/config_flow.py
  tests/components/esphome/test_config_flow.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, by-code-owner, bugfix, Quality Scale: No score

#95721 Speed up routing URLs
  homeassistant/components/http/__init__.py
Labels: core, cla-signed, integration: http, Quality Scale: internal

#95660 Bump bimmer_connected to 0.13.8
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: bmw_connected_drive, dependency, by-code-owner, Quality Scale: No score

#95745 Small zwave_js code cleanup
  homeassistant/components/zwave_js/__init__.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: zwave_js, Quality Scale: platinum

#95434 Add Matter Climate support
  homeassistant/components/matter/climate.py
  homeassistant/components/matter/discovery.py
  homeassistant/components/matter/switch.py
  tests/components/matter/fixtures/nodes/thermostat.json
  tests/components/matter/test_climate.py
Labels: new-platform, cla-signed, new-feature, integration: matter, Quality Scale: No score

#95753 Use DeviceInfo object for Nobo hub
  homeassistant/components/nobo_hub/climate.py
  homeassistant/components/nobo_hub/sensor.py
Labels: cla-signed, small-pr, code-quality, integration: nobo_hub, Quality Scale: No score

#95756 Use device class naming for Nuki
  homeassistant/components/nuki/sensor.py
  homeassistant/components/nuki/strings.json
Labels: cla-signed, small-pr, integration: nuki, code-quality, Quality Scale: No score

#95757 Use device info object for Nuki
  homeassistant/components/nuki/__init__.py
Labels: cla-signed, small-pr, integration: nuki, code-quality, Quality Scale: No score

#95764 Use device info object for Discovergy
  homeassistant/components/discovergy/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: discovergy, Quality Scale: No score

#95754 Bump aioslimproto to 2.3.2
  homeassistant/components/slimproto/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: slimproto, Quality Scale: No score

#95763 Address Opower review comments
  homeassistant/components/opower/sensor.py
  homeassistant/components/opower/strings.json
  tests/components/opower/conftest.py
  tests/components/opower/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score, integration: opower

#95775 Fix translation growatt inverter temperature
  homeassistant/components/growatt_server/strings.json
Labels: cla-signed, small-pr, integration: growatt_server, bugfix, smash, Quality Scale: No score

#95780 Fix implicit use of device name in TwenteMilieu
  homeassistant/components/twentemilieu/calendar.py
Labels: cla-signed, small-pr, integration: twentemilieu, by-code-owner, bugfix, Quality Scale: platinum

#95781 Fix implicit use of device name in Verisure
  homeassistant/components/verisure/alarm_control_panel.py
  homeassistant/components/verisure/switch.py
Labels: cla-signed, integration: verisure, small-pr, by-code-owner, bugfix, Quality Scale: No score

#95758 Improve opower generic typing
  homeassistant/components/opower/coordinator.py
  homeassistant/components/opower/sensor.py
Labels: cla-signed, small-pr, code-quality, smash, Quality Scale: No score, integration: opower

#95784 Fix Growatt translation key
  homeassistant/components/growatt_server/sensor_types/inverter.py
Labels: cla-signed, small-pr, integration: growatt_server, bugfix, Quality Scale: No score

#95790 Remove unsupported services from tuya vacuum
  homeassistant/components/tuya/vacuum.py
Labels: cla-signed, small-pr, integration: tuya, Quality Scale: No score

#95786 Fix flaky websocket_api test
  tests/components/websocket_api/test_commands.py
Labels: core, cla-signed, integration: websocket_api, small-pr, has-tests, by-code-owner, Quality Scale: internal

#95795 Update frontend to 20230703.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#95792 Bump aioesphomeapi to 15.1.2
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: No score

#95785 Use the converter factory in sensor.recorder._normalize_states
  homeassistant/components/sensor/recorder.py
Labels: core, cla-signed, small-pr, integration: sensor, code-quality, Quality Scale: internal

#95783 Fix execute device actions with WS execute_script
  homeassistant/components/websocket_api/commands.py
  tests/components/websocket_api/test_commands.py
Labels: core, cla-signed, integration: websocket_api, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: internal

#95782 Tune httpx keep alives for polling integrations
  homeassistant/helpers/httpx_client.py
Labels: core, cla-signed, small-pr

#95798 Remove the weak ref for tracking update listeners
  homeassistant/config_entries.py
Labels: core, cla-signed, small-pr

#95797 Ensure that calendar output values are json types
  homeassistant/components/calendar/__init__.py
  tests/components/calendar/conftest.py
  tests/components/calendar/test_init.py
  tests/components/calendar/test_trigger.py
Labels: core, cla-signed, integration: calendar, small-pr, has-tests, bugfix, Quality Scale: internal

#95778 Fix datetime parameter validation for list events
  homeassistant/components/calendar/__init__.py
  homeassistant/components/demo/calendar.py
Labels: core, cla-signed, integration: calendar, integration: demo, small-pr, bugfix, Quality Scale: internal

#95810 Add entity translations for Open UV
  homeassistant/components/openuv/binary_sensor.py
  homeassistant/components/openuv/sensor.py
  homeassistant/components/openuv/strings.json
Labels: cla-signed, integration: openuv, code-quality, Quality Scale: No score

#95813 Bump aiounifi to v49
  homeassistant/components/unifi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: unifi, dependency, by-code-owner, bugfix, Quality Scale: platinum

#95811 Add entity translations for P1 Monitor
  homeassistant/components/p1_monitor/sensor.py
  homeassistant/components/p1_monitor/strings.json
  tests/components/p1_monitor/test_sensor.py
Labels: cla-signed, has-tests, code-quality, integration: p1_monitor, Quality Scale: platinum, code-owner-approved

#95770 Fix siren.toggle service schema
  homeassistant/components/siren/__init__.py
Labels: core, cla-signed, small-pr, by-code-owner, integration: siren, Quality Scale: internal

#95825 Fix ring siren test
  tests/components/ring/test_siren.py
Labels: cla-signed, integration: ring, small-pr, has-tests, Quality Scale: No score

#95828 Update roomba vacuum supported features
  homeassistant/components/roomba/irobot_base.py
Labels: cla-signed, integration: roomba, small-pr, Quality Scale: No score

#95829 Update sharkiq vacuum supported features
  homeassistant/components/sharkiq/vacuum.py
  tests/components/sharkiq/test_vacuum.py
Labels: cla-signed, small-pr, integration: sharkiq, Quality Scale: No score

#95838 Disable proximity no platform log
  homeassistant/components/proximity/__init__.py
Labels: cla-signed, integration: proximity, small-pr, bugfix, Quality Scale: internal

#95832 Update tuya vacuum supported features
  homeassistant/components/tuya/vacuum.py
Labels: cla-signed, small-pr, integration: tuya, Quality Scale: No score

#95839 Disable legacy device tracker no platform log
  homeassistant/components/device_tracker/legacy.py
Labels: core, cla-signed, integration: device_tracker, small-pr, by-code-owner, bugfix, Quality Scale: internal

#95827 Reolink fix missing title_placeholders
  homeassistant/components/reolink/config_flow.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: reolink, Quality Scale: No score

#95779 Use common translations for `On`, `Off`, `Open` and `Closed`
  homeassistant/components/climate/strings.json
  homeassistant/components/demo/strings.json
  homeassistant/components/humidifier/strings.json
  homeassistant/components/media_player/strings.json
  homeassistant/components/mqtt/strings.json
  homeassistant/components/overkiz/strings.json
  homeassistant/components/reolink/strings.json
  homeassistant/components/roborock/strings.json
  homeassistant/components/sensibo/strings.json
  homeassistant/components/tuya/strings.json
  homeassistant/components/xiaomi_miio/strings.json
  homeassistant/components/yamaha_musiccast/strings.json
Labels: core, cla-signed, small-pr, code-quality

#95830 Update mqtt vacuum supported features
  homeassistant/components/mqtt/vacuum/schema_state.py
  tests/components/mqtt/test_state_vacuum.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner, Quality Scale: gold

#95843 Revert "Remove airplay filter now that apple tv supports airplay 2"
  homeassistant/components/apple_tv/manifest.json
  homeassistant/generated/zeroconf.py
Labels: cla-signed, integration: apple_tv, small-pr, Quality Scale: No score

#95845 Revert "Remove unsupported services from tuya vacuum"
  homeassistant/components/tuya/vacuum.py
Labels: cla-signed, small-pr, integration: tuya, Quality Scale: No score

#95794 Set Matter battery sensors as diagnostic
  homeassistant/components/matter/binary_sensor.py
  homeassistant/components/matter/sensor.py
  tests/components/matter/conftest.py
  tests/components/matter/fixtures/nodes/contact-sensor.json
  tests/components/matter/fixtures/nodes/eve-contact-sensor.json
  tests/components/matter/test_binary_sensor.py
  tests/components/matter/test_door_lock.py
  tests/components/matter/test_sensor.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, integration: matter, Quality Scale: No score

#95858 Remove unsupported services and fields from fan/services.yaml
  homeassistant/components/fan/services.yaml
Labels: core, integration: fan, cla-signed, small-pr, by-code-owner, Quality Scale: internal

#95867 Fix reload in cert_expiry
  homeassistant/components/cert_expiry/__init__.py
Labels: cla-signed, small-pr, integration: cert_expiry, bugfix, Quality Scale: No score

#95606 Add Airzone Cloud Zone running binary sensor
  homeassistant/components/airzone_cloud/binary_sensor.py
  tests/components/airzone_cloud/test_binary_sensor.py
  tests/components/airzone_cloud/util.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: airzone_cloud

#95804 Fix timezones used in list events
  homeassistant/components/calendar/__init__.py
  homeassistant/components/demo/calendar.py
  tests/components/calendar/test_init.py
Labels: core, cla-signed, integration: calendar, integration: demo, small-pr, bugfix, Quality Scale: internal

#95878 Bump pydelijn to 1.1.0
  homeassistant/components/delijn/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: delijn, dependency, by-code-owner, Quality Scale: No score

#95805 Make local calendar integration title translatable
  homeassistant/components/local_calendar/strings.json
  homeassistant/generated/integrations.json
  script/hassfest/translations.py
Labels: cla-signed, small-pr, code-quality, smash, integration: local_calendar, Quality Scale: No score

#95871 Fix ESPHome alarm_control_panel when state is missing
  homeassistant/components/esphome/alarm_control_panel.py
  tests/components/esphome/test_alarm_control_panel.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, by-code-owner, Quality Scale: No score

#95877 Use slots in TraceElement
  homeassistant/helpers/trace.py
Labels: core, cla-signed, small-pr, code-quality

#95874 Bump zamg to 0.2.4
  homeassistant/components/zamg/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: zamg, dependency, by-code-owner, Quality Scale: No score

#95875 Bump protobuf to 4.23.3
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr

#95873 Small cleanups to service calls
  homeassistant/core.py
Labels: core, cla-signed, smash

#95890 Update frontend to 20230705.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#95789 Adjust services and properties supported by roborock vacuum
  homeassistant/components/roborock/strings.json
  homeassistant/components/roborock/vacuum.py
  tests/components/roborock/test_vacuum.py
Labels: cla-signed, small-pr, smash, deprecation, Quality Scale: No score, integration: roborock

#95849 Add slots to the StateMachine class
  homeassistant/components/recorder/core.py
  homeassistant/core.py
  tests/components/recorder/test_init.py
  tests/helpers/test_restore_state.py
  tests/helpers/test_template.py
Labels: core, cla-signed, small-pr, smash

#95656 Bump pydaikin 2.10.5
  .coveragerc
  homeassistant/components/daikin/__init__.py
  homeassistant/components/daikin/manifest.json
  homeassistant/components/daikin/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/daikin/test_init.py
Labels: cla-signed, integration: daikin, dependency, smash, Quality Scale: platinum, code-owner-approved

#95822 Fix ESPHome camera not accepting the same exact image bytes
  .coveragerc
  homeassistant/components/esphome/entry_data.py
  tests/components/esphome/test_camera.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, by-code-owner, code-quality, bugfix, smash, Quality Scale: No score

#95847 Clarify GPS coordinates for device_tracker.see
  homeassistant/components/device_tracker/services.yaml
Labels: core, cla-signed, integration: device_tracker, small-pr, bugfix, Quality Scale: internal

#95242 Add raid array degraded state binary sensor to freebox sensors
  homeassistant/components/freebox/binary_sensor.py
  homeassistant/components/freebox/const.py
  homeassistant/components/freebox/router.py
  tests/components/freebox/conftest.py
  tests/components/freebox/const.py
  tests/components/freebox/test_binary_sensor.py
Labels: cla-signed, new-feature, integration: freebox, has-tests, Quality Scale: No score

#95857 Add slots to the service registry
  homeassistant/core.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/group/test_light.py
  tests/components/vesync/test_init.py
  tests/components/zha/conftest.py
Labels: core, cla-signed, small-pr, smash

#95898 Warn when changing multipan channel if there are not 2 known users
  homeassistant/components/homeassistant_hardware/silabs_multiprotocol_addon.py
  homeassistant/components/homeassistant_hardware/strings.json
  homeassistant/components/homeassistant_sky_connect/strings.json
  homeassistant/components/homeassistant_yellow/strings.json
  tests/components/homeassistant_hardware/test_silabs_multiprotocol_addon.py
Labels: cla-signed, has-tests, by-code-owner, integration: homeassistant_yellow, integration: homeassistant_sky_connect, Quality Scale: No score, integration: homeassistant_hardware

#95910 Address late review of freebox tests
  tests/components/freebox/test_binary_sensor.py
Labels: cla-signed, small-pr, integration: freebox, has-tests, code-quality, Quality Scale: No score

#95913 Update frontend to 20230705.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#95856 Add slots to core EventBus
  homeassistant/core.py
  tests/components/datadog/test_init.py
  tests/components/ffmpeg/test_init.py
  tests/components/google_pubsub/test_init.py
  tests/components/influxdb/test_init.py
  tests/components/logentries/test_init.py
  tests/components/prometheus/test_init.py
  tests/components/statsd/test_init.py
Labels: core, cla-signed, small-pr, smash

#95634 Deprecate Dry and Fan preset modes in favor of HVAC modes
  homeassistant/components/zwave_js/climate.py
  tests/components/zwave_js/common.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/fixtures/climate_airzone_aidoo_control_hvac_unit_state.json
  tests/components/zwave_js/test_climate.py
Labels: cla-signed, small-pr, has-tests, integration: zwave_js, deprecation, Quality Scale: platinum, code-owner-approved

#95919 Correct spelling roborock strings
  homeassistant/components/roborock/strings.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: roborock

#95916 Make SwitchBot no_devices_found message more helpful
  homeassistant/components/switchbot/strings.json
Labels: cla-signed, small-pr, integration: switchbot, by-code-owner, code-quality, Quality Scale: No score

#95920 Migrate from deprecated VacuumEntity to StateVacuumEntity in Ecovacs
  homeassistant/components/ecovacs/vacuum.py
Labels: breaking-change, cla-signed, integration: ecovacs, by-code-owner, Quality Scale: No score

#95969 Add missing qnap translation
  homeassistant/components/qnap/strings.json
Labels: cla-signed, small-pr, integration: qnap, Quality Scale: No score

#95853 Add filters to calendar/services.yaml
  homeassistant/components/calendar/services.yaml
Labels: core, cla-signed, integration: calendar, small-pr, by-code-owner, smash, Quality Scale: internal

#95986 Explicitly use device name as entity name for Xiaomi fan and humidifier
  homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/humidifier.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, code-quality, Quality Scale: No score

#95949 Fix matter exception NoneType in set_brightness for optional min/max level values
  homeassistant/components/matter/light.py
Labels: cla-signed, small-pr, bugfix, integration: matter, Quality Scale: No score

#95987 Mention automatic issue assignment in issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed, small-pr, code-quality

#95944 Add explicit device naming for Tuya sensors
  homeassistant/components/tuya/sensor.py
Labels: cla-signed, small-pr, integration: tuya, bugfix, Quality Scale: No score

#95947 Fix entity name for Flick Electric
  homeassistant/components/flick_electric/sensor.py
Labels: cla-signed, small-pr, bugfix, integration: flick_electric, Quality Scale: No score

#95985 Set correct `response` value in service description when `async_set_service_schema` is used
  homeassistant/helpers/service.py
  tests/helpers/test_service.py
Labels: core, cla-signed, integration: script, small-pr, bugfix, Quality Scale: internal

#96000 Fix state of slimproto players
  homeassistant/components/slimproto/media_player.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: slimproto, Quality Scale: No score

#95991 Make script services always respond when asked
  homeassistant/components/script/__init__.py
  tests/components/script/test_init.py
Labels: core, cla-signed, integration: script, small-pr, has-tests, bugfix, Quality Scale: internal

#95911 Handle integrations with empty services or failing to load during service description enumeration
  homeassistant/helpers/service.py
  tests/helpers/test_service.py
Labels: core, cla-signed, bugfix

#95958 Fix grouping feature for MusicCast
  homeassistant/components/yamaha_musiccast/media_player.py
Labels: cla-signed, small-pr, integration: yamaha_musiccast, by-code-owner, bugfix, Quality Scale: No score

#95917 Migrate bracketed IP addresses in ZHA config entry
  homeassistant/components/zha/__init__.py
  tests/components/zha/test_init.py
Labels: cla-signed, integration: zha, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#96012 Disable test case for entity name
  tests/helpers/test_entity.py
Labels: core, cla-signed, small-pr, merging-to-rc

#96006 2023.7.1
  homeassistant/components/flick_electric/sensor.py
  homeassistant/components/frontend/manifest.json
  homeassistant/components/matter/light.py
  homeassistant/components/nuki/lock.py
  homeassistant/components/qnap/strings.json
  homeassistant/components/rainbird/manifest.json
  homeassistant/components/script/__init__.py
  homeassistant/components/slimproto/media_player.py
  homeassistant/components/switchbot/strings.json
  homeassistant/components/tuya/sensor.py
  homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/humidifier.py
  homeassistant/components/yamaha_musiccast/media_player.py
  homeassistant/components/zha/__init__.py
  homeassistant/const.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/service.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
  tests/components/script/test_init.py
  tests/components/zha/test_init.py
  tests/helpers/test_entity.py
  tests/helpers/test_service.py
Labels: core, cla-signed, merging-to-master, has-tests

#95723 Add more device info for SmartThings devices
  homeassistant/components/smartthings/__init__.py
  tests/components/smartthings/test_binary_sensor.py
  tests/components/smartthings/test_climate.py
  tests/components/smartthings/test_cover.py
  tests/components/smartthings/test_fan.py
  tests/components/smartthings/test_light.py
  tests/components/smartthings/test_lock.py
  tests/components/smartthings/test_sensor.py
  tests/components/smartthings/test_switch.py
Labels: cla-signed, small-pr, integration: smartthings, code-quality, Quality Scale: No score

#95943 Add entity translations to Pushbullet
  homeassistant/components/pushbullet/sensor.py
  homeassistant/components/pushbullet/strings.json
Labels: cla-signed, integration: pushbullet, code-quality, Quality Scale: No score

#95935 Add entity translations for PureEnergie
  homeassistant/components/pure_energie/sensor.py
  homeassistant/components/pure_energie/strings.json
  tests/components/pure_energie/test_sensor.py
Labels: cla-signed, small-pr, code-quality, integration: pure_energie, Quality Scale: platinum, code-owner-approved

#96011 Use explicit device naming for Switchbot
  homeassistant/components/switchbot/cover.py
Labels: cla-signed, small-pr, integration: switchbot, bugfix, Quality Scale: No score

#95575 Add humidity to NWS forecast
  homeassistant/components/nws/manifest.json
  homeassistant/components/nws/weather.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nws/const.py
  tests/components/nws/test_weather.py
Labels: cla-signed, small-pr, new-feature, integration: nws, Quality Scale: platinum, code-owner-approved

#95942 Add entity translations to Purpleair
  homeassistant/components/purpleair/sensor.py
  homeassistant/components/purpleair/strings.json
Labels: cla-signed, code-quality, Quality Scale: No score, integration: purpleair

#96030 Add entity translations to Rainbird
  homeassistant/components/rainbird/binary_sensor.py
  homeassistant/components/rainbird/number.py
  homeassistant/components/rainbird/sensor.py
  homeassistant/components/rainbird/strings.json
  homeassistant/components/rainbird/switch.py
  tests/components/rainbird/test_binary_sensor.py
  tests/components/rainbird/test_sensor.py
Labels: cla-signed, integration: rainbird, small-pr, code-quality, Quality Scale: No score

#95726 Add sensors to LOQED integration for battery percentage and BLE stength
  .coveragerc
  homeassistant/components/loqed/__init__.py
  homeassistant/components/loqed/sensor.py
  homeassistant/components/loqed/strings.json
  tests/components/loqed/conftest.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, integration: loqed, Quality Scale: No score

#96048 Remove copy/pasted references to GMail in YouTube integration tests
  tests/components/youtube/conftest.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: youtube

#96041 Add entity translations to RFXTRX
  homeassistant/components/rfxtrx/sensor.py
  homeassistant/components/rfxtrx/strings.json
Labels: cla-signed, integration: rfxtrx, code-quality, Quality Scale: No score

#96058 Revert zwave_js change to THERMOSTAT_MODE_SETPOINT_MAP
  homeassistant/components/zwave_js/climate.py
Labels: cla-signed, small-pr, integration: zwave_js, Quality Scale: platinum

#96038 Use device class naming in Renault
  homeassistant/components/renault/binary_sensor.py
  homeassistant/components/renault/sensor.py
  homeassistant/components/renault/strings.json
  tests/components/renault/const.py
  tests/components/renault/snapshots/test_binary_sensor.ambr
  tests/components/renault/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, has-tests, code-quality, integration: renault, Quality Scale: platinum, code-owner-approved

#95927 Move platform_integration_no_support issue to the homeassistant integration
  homeassistant/components/alarm_control_panel/strings.json
  homeassistant/components/binary_sensor/strings.json
  homeassistant/components/button/strings.json
  homeassistant/components/calendar/strings.json
  homeassistant/components/camera/strings.json
  homeassistant/components/climate/strings.json
  homeassistant/components/cover/strings.json
  homeassistant/components/date/strings.json
  homeassistant/components/device_tracker/strings.json
  homeassistant/components/fan/strings.json
  homeassistant/components/homeassistant/strings.json
  homeassistant/components/humidifier/strings.json
  homeassistant/components/light/strings.json
  homeassistant/components/lock/strings.json
  homeassistant/components/media_player/strings.json
  homeassistant/components/number/strings.json
  homeassistant/components/remote/strings.json
  homeassistant/components/select/strings.json
  homeassistant/components/sensor/strings.json
  homeassistant/components/siren/strings.json
  homeassistant/components/switch/strings.json
  homeassistant/components/text/strings.json
  homeassistant/components/time/strings.json
  homeassistant/components/update/strings.json
  homeassistant/components/vacuum/strings.json
  homeassistant/components/water_heater/strings.json
  homeassistant/components/weather/strings.json
  homeassistant/helpers/entity_platform.py
  homeassistant/strings.json
  tests/helpers/test_entity_platform.py
Labels: core, cla-signed, small-pr

#96035 Add RDW codeowner
  CODEOWNERS
  homeassistant/components/rdw/manifest.json
Labels: cla-signed, small-pr, new-feature, integration: rdw, Quality Scale: platinum, code-owner-approved

#96021 Remove openhome from discovery component
  homeassistant/components/discovery/__init__.py
Labels: core, cla-signed, integration: discovery, small-pr, bugfix, Quality Scale: internal

#96062 Add device class back to Purpleair
  homeassistant/components/purpleair/sensor.py
Labels: cla-signed, small-pr, bugfix, smash, Quality Scale: No score, integration: purpleair

#96074 Fix missing name in TP-Link service descriptions
  homeassistant/components/tplink/services.yaml
Labels: cla-signed, small-pr, integration: tplink, bugfix, smash, Quality Scale: platinum, code-owner-approved

#96081 Fix implicit use of device name in Slimproto
  homeassistant/components/slimproto/media_player.py
Labels: cla-signed, small-pr, bugfix, integration: slimproto, Quality Scale: No score

#96037 Add entity translations to Recollect waste
  homeassistant/components/recollect_waste/sensor.py
  homeassistant/components/recollect_waste/strings.json
Labels: cla-signed, small-pr, integration: recollect_waste, code-quality, smash, Quality Scale: No score

#96077 Fix missing name in FluxLED service descriptions
  homeassistant/components/flux_led/services.yaml
Labels: smash

#96004 Get MyStrom device state before checking support
  homeassistant/components/mystrom/__init__.py
  tests/components/mystrom/__init__.py
  tests/components/mystrom/test_init.py
Labels: cla-signed, small-pr, integration: mystrom, bugfix, Quality Scale: No score

#96042 UPB explicit device name
  homeassistant/components/upb/light.py
  homeassistant/components/upb/scene.py
Labels: cla-signed, small-pr, integration: upb, bugfix, smash, Quality Scale: No score

#95799 Remove deprecated Pihole binary sensors
  homeassistant/components/pi_hole/binary_sensor.py
Labels: cla-signed, small-pr, integration: pi_hole, code-quality, smash, deprecation, Quality Scale: No score

#96089 Update sentry-sdk to 1.27.1
  homeassistant/components/sentry/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: sentry, smash, Quality Scale: No score

#95976 Remove unreferenced issues
  homeassistant/components/android_ip_webcam/strings.json
  homeassistant/components/apcupsd/strings.json
  homeassistant/components/dlink/strings.json
  homeassistant/components/unifiprotect/strings.json
  homeassistant/components/zamg/strings.json
Labels: integration: android_ip_webcam, cla-signed, integration: apcupsd, small-pr, integration: dlink, integration: zamg, smash, integration: unifiprotect, Quality Scale: No score, Quality Scale: platinum

#95819 Bump aioesphomeapi to 15.1.3
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, by-code-owner, smash, Quality Scale: No score

#96033 Add entity translations to Rainmachine
  homeassistant/components/rainmachine/binary_sensor.py
  homeassistant/components/rainmachine/button.py
  homeassistant/components/rainmachine/select.py
  homeassistant/components/rainmachine/sensor.py
  homeassistant/components/rainmachine/strings.json
  homeassistant/components/rainmachine/switch.py
  homeassistant/components/rainmachine/update.py
Labels: cla-signed, integration: rainmachine, code-quality, smash, Quality Scale: No score
