Repository home-assistant/core, pull requests merged in 2023-08, with the labels that each got.

#97548 Bump opower to 0.0.18
  homeassistant/components/opower/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score, integration: opower

#97545 Bump HAP-python to 4.7.1
  homeassistant/components/homekit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit, dependency, by-code-owner, Quality Scale: No score

#97495 Offer work- a-round for MQTT entity names that start with the device name
  homeassistant/components/mqtt/client.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/models.py
  homeassistant/components/mqtt/strings.json
  tests/components/mqtt/test_mixins.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, Quality Scale: gold

#97344 Send language to Wyoming STT
  homeassistant/components/wyoming/stt.py
  tests/components/wyoming/conftest.py
  tests/components/wyoming/snapshots/test_stt.ambr
  tests/components/wyoming/test_stt.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: wyoming

#97555 Fix Starlink ping drop rate reporting
  homeassistant/components/starlink/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: starlink, Quality Scale: silver

#97557 Fixes London Air parsing error
  homeassistant/components/london_air/sensor.py
  tests/fixtures/london_air.json
Labels: cla-signed, small-pr, integration: london_air, bugfix, Quality Scale: No score

#97561 Update frontend to 20230801.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#97564 Bump pyduotecno to 2023.8.0 (beta fix)
  homeassistant/components/duotecno/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: duotecno

#97580 Fix UniFi image platform failing to setup on read-only account
  homeassistant/components/unifi/image.py
Labels: cla-signed, small-pr, integration: unifi, by-code-owner, bugfix, Quality Scale: platinum

#97567 Unignore today's collection for Rova
  homeassistant/components/rova/sensor.py
Labels: cla-signed, small-pr, integration: rova, bugfix, Quality Scale: No score

#97588 Bump zha-quirks to 0.0.102
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, Quality Scale: No score

#97590 Ensure we have an valid configuration URL in NetGear
  homeassistant/components/netgear/__init__.py
Labels: cla-signed, small-pr, integration: netgear, bugfix, Quality Scale: No score

#97589 Ensure load the device registry if it contains invalid configuration URLs
  homeassistant/helpers/device_registry.py
  tests/helpers/test_device_registry.py
Labels: core, cla-signed, bugfix

#97597 Fix Starlink Roaming name being blank
  homeassistant/components/starlink/strings.json
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: starlink, Quality Scale: silver

#97594 Bump zeroconf to 0.72.0
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, dependency, by-code-owner, Quality Scale: internal

#97583 Bump pyDuotecno to 2023.8.1
  homeassistant/components/duotecno/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: duotecno

#97343 Do not set hass data before first coordinator refresh
  homeassistant/components/devolo_home_network/__init__.py
  homeassistant/components/dexcom/__init__.py
  homeassistant/components/fritz/__init__.py
  homeassistant/components/hassio/__init__.py
  homeassistant/components/juicenet/__init__.py
  homeassistant/components/landisgyr_heat_meter/__init__.py
  homeassistant/components/loqed/__init__.py
  homeassistant/components/mill/__init__.py
  homeassistant/components/nextcloud/__init__.py
  homeassistant/components/nextdns/__init__.py
  homeassistant/components/pi_hole/__init__.py
  homeassistant/components/syncthru/__init__.py
  homeassistant/components/volvooncall/__init__.py
Labels: core, cla-signed, integration: volvooncall, integration: hassio, integration: juicenet, integration: syncthru, integration: fritz, integration: mill, integration: pi_hole, by-code-owner, integration: nextcloud, integration: dexcom, code-quality, integration: devolo_home_network, integration: loqed, integration: landisgyr_heat_meter, integration: nextdns, Quality Scale: No score, Quality Scale: internal, Quality Scale: platinum

#97602 Fix duotecno's name to be sync with the docs
  homeassistant/components/duotecno/manifest.json
  homeassistant/generated/integrations.json
Labels: cla-signed, small-pr, Quality Scale: No score, integration: duotecno

#97475 use write_registers also for target temp
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/climate.py
  homeassistant/components/modbus/const.py
  tests/components/modbus/test_climate.py
Labels: cla-signed, integration: modbus, small-pr, has-tests, Quality Scale: gold

#97614 Update frontend to 20230802.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#97621 Fix aiohttp code DeprecationWarnings
  homeassistant/components/bond/fan.py
  homeassistant/components/bond/light.py
  homeassistant/components/bond/switch.py
  homeassistant/components/netatmo/__init__.py
  tests/components/bond/common.py
  tests/components/netatmo/test_init.py
Labels: integration: netatmo, cla-signed, small-pr, has-tests, code-quality, integration: bond, Quality Scale: No score, Quality Scale: platinum

#97622 Fix async_timeout DeprecationWarnings
  homeassistant/components/media_player/__init__.py
  homeassistant/components/upb/config_flow.py
  homeassistant/components/webostv/media_player.py
Labels: core, integration: media_player, cla-signed, small-pr, integration: webostv, code-quality, integration: upb, Quality Scale: No score, Quality Scale: internal, Quality Scale: platinum

#97625 Fix httpx DeprecationWarning
  homeassistant/components/rest/switch.py
Labels: cla-signed, small-pr, integration: rest, code-quality, Quality Scale: No score

#97626 Replace deprecated aiohttp_unused_port fixture
  tests/components/http/test_init.py
  tests/components/image_processing/test_init.py
Labels: core, cla-signed, integration: image_processing, integration: http, small-pr, has-tests, code-quality, Quality Scale: internal

#97627 Fix pylint DeprecationWarnings
  tests/pylint/test_enforce_type_hints.py
Labels: core, cla-signed, small-pr, code-quality

#97639 Add device naming to Yeelight
  homeassistant/components/yeelight/light.py
Labels: cla-signed, small-pr, integration: yeelight, bugfix, Quality Scale: platinum, code-owner-approved

#97636 Bump intents to 2023.8.2
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/conversation/snapshots/test_init.ambr
Labels: core, cla-signed, integration: conversation, small-pr, has-tests, dependency, by-code-owner, Quality Scale: internal

#97620 Fix abode DeprecationWarnings
  homeassistant/components/abode/__init__.py
  homeassistant/components/abode/alarm_control_panel.py
  homeassistant/components/abode/sensor.py
Labels: cla-signed, integration: abode, small-pr, code-quality, Quality Scale: No score

#97623 Fix ssl DeprecationWarnings
  homeassistant/components/webostv/media_player.py
  homeassistant/util/ssl.py
Labels: core, cla-signed, small-pr, integration: webostv, code-quality, Quality Scale: platinum

#97624 Fix deluge DeprecationWarning
  homeassistant/components/deluge/config_flow.py
Labels: cla-signed, small-pr, integration: deluge, code-quality, Quality Scale: No score

#97647 Revert "Add device naming to Yeelight"
  homeassistant/components/yeelight/light.py
Labels: cla-signed, small-pr, integration: yeelight, Quality Scale: platinum, code-owner-approved

#97628 Replace deprecated pkg_resources with importlib.metadata
  homeassistant/requirements.py
  homeassistant/util/package.py
  tests/util/test_package.py
Labels: core, cla-signed, small-pr, code-quality

#97515 Add hour of free power select to Electric Kiwi
  .coveragerc
  homeassistant/components/electric_kiwi/__init__.py
  homeassistant/components/electric_kiwi/select.py
  homeassistant/components/electric_kiwi/strings.json
Labels: new-platform, cla-signed, by-code-owner, smash, Quality Scale: No score, integration: electric_kiwi

#97644 Fix typo in tplink OUI
  homeassistant/components/tplink/manifest.json
  homeassistant/generated/dhcp.py
Labels: cla-signed, small-pr, integration: tplink, bugfix, Quality Scale: platinum, code-owner-approved

#97658 Fix tplink child plug state reporting
  homeassistant/components/tplink/switch.py
  tests/components/tplink/__init__.py
  tests/components/tplink/test_switch.py
Labels: cla-signed, small-pr, integration: tplink, has-tests, bugfix, Quality Scale: platinum, code-owner-approved

#95605 Use mirror to run `black` with pre-commit
  .pre-commit-config.yaml
Labels: cla-signed, small-pr, smash

#97670 Bump pyatv to 0.13.3
  homeassistant/components/apple_tv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: apple_tv, small-pr, dependency, Quality Scale: No score

#97612 Bump pymodbus v3.4.1.
  homeassistant/components/modbus/manifest.json
  homeassistant/components/modbus/modbus.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: modbus, small-pr, dependency, by-code-owner, Quality Scale: gold

#97663 Fix date and timestamp device class in Command Line Sensor
  homeassistant/components/command_line/sensor.py
  tests/components/command_line/test_sensor.py
Labels: cla-signed, small-pr, integration: command_line, has-tests, by-code-owner, bugfix, Quality Scale: No score

#97657 Enable the `PRESET_MODE` `FanEntityFeature` for VeSync air purifiers
  homeassistant/components/vesync/fan.py
  tests/components/vesync/snapshots/test_diagnostics.ambr
  tests/components/vesync/snapshots/test_fan.ambr
Labels: cla-signed, small-pr, integration: vesync, has-tests, bugfix, Quality Scale: No score

#97668 Bump zeroconf to 0.72.3
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, dependency, by-code-owner, Quality Scale: internal

#97706 Bump opower to 0.0.19
  homeassistant/components/opower/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: opower

#97708 Fix detection of client wan-access rule in AVM Fritz!Box Tools
  homeassistant/components/fritz/common.py
Labels: cla-signed, small-pr, integration: fritz, by-code-owner, bugfix, Quality Scale: No score

#97683 Fix color mode attribute for both official and non official Hue lights
  homeassistant/components/hue/v2/light.py
Labels: cla-signed, integration: hue, small-pr, by-code-owner, bugfix, Quality Scale: platinum

#97684 Fix UniFi image platform not loading when passphrase is missing from WLAN
  homeassistant/components/unifi/image.py
  homeassistant/components/unifi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: unifi, by-code-owner, bugfix, Quality Scale: platinum

#97368 Refactored deprecated UNITS
  tests/components/homekit_controller/specific_devices/test_arlo_baby.py
  tests/components/homekit_controller/specific_devices/test_ecobee3.py
  tests/components/homekit_controller/specific_devices/test_eve_degree.py
  tests/components/homekit_controller/specific_devices/test_mysa_living.py
  tests/components/homekit_controller/specific_devices/test_velux_gateway.py
  tests/helpers/test_temperature.py
  tests/helpers/test_template.py
  tests/util/test_distance.py
  tests/util/test_temperature.py
Labels: core, cla-signed, integration: homekit_controller, has-tests, Quality Scale: No score

#97703 Fix NWS twice_daily forecast day/night detection
  homeassistant/components/nws/const.py
  homeassistant/components/nws/weather.py
Labels: cla-signed, small-pr, integration: nws, bugfix, Quality Scale: platinum

#97687 Bump python-opensky to 0.2.0
  homeassistant/components/opensky/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: opensky, dependency, by-code-owner, Quality Scale: No score

#97539 Fix ZHA `turn_on` issues with `transition=0`, improve tests
  homeassistant/components/zha/light.py
  tests/components/zha/test_light.py
Labels: cla-signed, integration: zha, small-pr, has-tests, bugfix, Quality Scale: No score

#97611 Bump Cryptography to 41.0.3 for a second security fix
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#97680 Allow to sort options in select selector
  homeassistant/helpers/selector.py
  tests/components/knx/test_device_trigger.py
  tests/helpers/test_selector.py
Labels: core, cla-signed, small-pr, new-feature

#97716 address code comments / tidy ups
  homeassistant/components/electric_kiwi/select.py
  homeassistant/components/electric_kiwi/sensor.py
Labels: cla-signed, small-pr, by-code-owner, Quality Scale: No score, integration: electric_kiwi

#97720 Fix unloading KNX integration without sensors
  homeassistant/components/knx/__init__.py
Labels: cla-signed, integration: knx, small-pr, by-code-owner, bugfix, Quality Scale: platinum

#97722 Bump zigpy to 0.56.4
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, Quality Scale: No score

#97732 Fix yalex_ble test RuntimeWarning
  tests/components/yalexs_ble/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: yalexs_ble, Quality Scale: No score

#97713 Fix hassfest check for schema
  script/hassfest/config_schema.py
Labels: cla-signed, small-pr, bugfix

#97733 Fix zha test RuntimeWarnings
  tests/components/zha/test_config_flow.py
  tests/components/zha/test_gateway.py
Labels: cla-signed, integration: zha, small-pr, has-tests, code-quality, Quality Scale: No score

#97739 Fix airvisual RuntimeWarning
  homeassistant/components/airvisual/config_flow.py
Labels: cla-signed, small-pr, integration: airvisual, code-quality, Quality Scale: No score

#97745 Bump zeroconf to 0.74.0
  homeassistant/components/thread/discovery.py
  homeassistant/components/zeroconf/__init__.py
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: zeroconf, small-pr, dependency, by-code-owner, Quality Scale: internal

#97646 Add OUI to tplink diagnostics
  homeassistant/components/tplink/diagnostics.py
  tests/components/tplink/test_diagnostics.py
Labels: cla-signed, small-pr, new-feature, integration: tplink, has-tests, Quality Scale: platinum

#97702 Add ability to remove Litter-Robot if no longer provided by integration
  homeassistant/components/litterrobot/__init__.py
  tests/components/litterrobot/common.py
  tests/components/litterrobot/test_init.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, integration: litterrobot, smash, Quality Scale: No score

#97617 Waqi State unknown if value is string
  homeassistant/components/waqi/sensor.py
Labels: cla-signed, small-pr, integration: waqi, bugfix, Quality Scale: No score

#97734 Fix mqtt test DeprecationWarnings
  tests/components/mqtt/test_config_flow.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, code-quality, Quality Scale: gold

#97696 Fix freebox enumerate raid disks
  homeassistant/components/freebox/router.py
Labels: cla-signed, small-pr, integration: freebox, bugfix, Quality Scale: No score

#97715 Add battery sensor to Roborock
  homeassistant/components/roborock/sensor.py
  tests/components/roborock/test_sensor.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: roborock

#97752 Bump opower to 0.0.20
  homeassistant/components/opower/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score, integration: opower

#97729 Fix keymitt_ble RuntimeWarning
  homeassistant/components/keymitt_ble/config_flow.py
  tests/components/keymitt_ble/__init__.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: keymitt_ble, Quality Scale: No score

#97731 Fix command_line tests RuntimeWarnings
  tests/components/command_line/test_binary_sensor.py
  tests/components/command_line/test_sensor.py
Labels: cla-signed, small-pr, integration: command_line, has-tests, code-quality, Quality Scale: No score

#97730 Fix core test RuntimeWarnings
  tests/test_core.py
Labels: core, cla-signed, small-pr, code-quality

#97728 Fix jinja2 DeprecationWarnings
  tests/helpers/test_event.py
  tests/helpers/test_template.py
Labels: core, cla-signed, small-pr, code-quality

#97690 Fix Kostal_Plenticore SELECT entities using device_info correctly
  homeassistant/components/kostal_plenticore/select.py
Labels: cla-signed, small-pr, integration: kostal_plenticore, bugfix, Quality Scale: No score

#97737 Fix http test DeprecationWarnings
  tests/components/http/test_security_filter.py
Labels: core, cla-signed, integration: http, small-pr, has-tests, code-quality, Quality Scale: internal

#97738 Fix recorder DeprecationWarnings
  tests/components/recorder/db_schema_16.py
  tests/components/recorder/db_schema_18.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_pool.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, code-quality, Quality Scale: internal

#97759 Bump pyduotecno to 2023.8.3
  homeassistant/components/duotecno/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: duotecno

#97750 Avoid calling the http access logging when logging is disabled in emulated_hue
  homeassistant/components/emulated_hue/__init__.py
Labels: integration: emulated_hue, cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: internal

#97472 Add overkiz battery sensor level medium
  homeassistant/components/overkiz/sensor.py
  homeassistant/components/overkiz/strings.json
Labels: cla-signed, small-pr, bugfix, integration: overkiz, Quality Scale: No score

#97740 Fix mailbox PytestCollectionWarning
  tests/components/mailbox/test_init.py
Labels: core, cla-signed, integration: mailbox, small-pr, has-tests, code-quality, smash, Quality Scale: internal

#97699 Remove unused translation key from OpenSky
  homeassistant/components/opensky/strings.json
Labels: cla-signed, small-pr, integration: opensky, by-code-owner, code-quality, smash, Quality Scale: No score

#97254 Break long strings in Axis integration
  homeassistant/components/axis/camera.py
Labels: cla-signed, integration: axis, small-pr, by-code-owner, code-quality, Quality Scale: platinum

#97767 Fix WAQI being zero
  homeassistant/components/waqi/sensor.py
Labels: cla-signed, small-pr, integration: waqi, bugfix, Quality Scale: No score

#97764 Add has entity name to Solarlog
  homeassistant/components/solarlog/sensor.py
Labels: cla-signed, small-pr, integration: solarlog, bugfix, Quality Scale: No score

#97701 Fix allow_name_translation logic
  script/hassfest/translations.py
Labels: cla-signed, small-pr, bugfix

#97257 Raise PlatformNotReady on initial OwnTone connection failure
  homeassistant/components/forked_daapd/__init__.py
  homeassistant/components/forked_daapd/media_player.py
  tests/components/forked_daapd/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: forked_daapd, bugfix, Quality Scale: No score

#93632 Handle Alert exception on notification failure
  homeassistant/components/alert/__init__.py
  tests/components/alert/test_init.py
Labels: cla-signed, integration: alert, small-pr, has-tests, bugfix, Quality Scale: internal

#97772 2023.8.1
  homeassistant/components/apple_tv/manifest.json
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/command_line/sensor.py
  homeassistant/components/conversation/manifest.json
  homeassistant/components/duotecno/manifest.json
  homeassistant/components/emulated_hue/__init__.py
  homeassistant/components/forked_daapd/__init__.py
  homeassistant/components/forked_daapd/media_player.py
  homeassistant/components/freebox/router.py
  homeassistant/components/fritz/common.py
  homeassistant/components/hue/v2/light.py
  homeassistant/components/keymitt_ble/config_flow.py
  homeassistant/components/knx/__init__.py
  homeassistant/components/kostal_plenticore/select.py
  homeassistant/components/nws/const.py
  homeassistant/components/nws/weather.py
  homeassistant/components/opower/manifest.json
  homeassistant/components/overkiz/sensor.py
  homeassistant/components/overkiz/strings.json
  homeassistant/components/roborock/manifest.json
  homeassistant/components/solarlog/sensor.py
  homeassistant/components/thread/discovery.py
  homeassistant/components/tplink/manifest.json
  homeassistant/components/tplink/switch.py
  homeassistant/components/unifi/image.py
  homeassistant/components/unifi/manifest.json
  homeassistant/components/vesync/fan.py
  homeassistant/components/waqi/sensor.py
  homeassistant/components/zeroconf/__init__.py
  homeassistant/components/zeroconf/manifest.json
  homeassistant/components/zha/light.py
  homeassistant/components/zha/manifest.json
  homeassistant/const.py
  homeassistant/generated/dhcp.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/translations.py
  tests/components/command_line/test_sensor.py
  tests/components/conversation/snapshots/test_init.ambr
  tests/components/forked_daapd/test_config_flow.py
  tests/components/keymitt_ble/__init__.py
  tests/components/tplink/__init__.py
  tests/components/tplink/test_switch.py
  tests/components/vesync/snapshots/test_diagnostics.ambr
  tests/components/vesync/snapshots/test_fan.ambr
  tests/components/zha/test_light.py
Labels: core, cla-signed, merging-to-master

#97763 Fix metoffice visibility range sensor device class
  homeassistant/components/metoffice/sensor.py
Labels: cla-signed, small-pr, integration: metoffice, by-code-owner, bugfix, Quality Scale: No score

#97785 Improve counting of UniFi WLAN Clients sensor
  homeassistant/components/unifi/sensor.py
  tests/components/unifi/test_sensor.py
Labels: cla-signed, small-pr, integration: unifi, has-tests, by-code-owner, Quality Scale: platinum

#97788 Add is_admin check to check configuration API
  homeassistant/components/config/core.py
  tests/components/config/test_core.py
  tests/conftest.py
Labels: core, cla-signed, integration: config, small-pr, has-tests, bugfix, Quality Scale: internal

#97790 Update strings.json to correct grammer.
  homeassistant/components/mqtt/strings.json
Labels: core, cla-signed, integration: mqtt, small-pr, bugfix, Quality Scale: gold

#97793 Fix typo in telegram_bot translations
  homeassistant/components/telegram_bot/strings.json
Labels: cla-signed, integration: telegram_bot, small-pr, code-quality, smash, Quality Scale: No score

#97799 Fix Flexit mypy error in pymodbus
  homeassistant/components/flexit/climate.py
Labels: cla-signed, small-pr, integration: flexit, Quality Scale: No score

#97820 Bump aiohomekit to 2.6.13
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, Quality Scale: No score

#97766 Don't assume that `battery_level` value is always present in Tractive `hw_info`
  homeassistant/components/tractive/device_tracker.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: tractive, Quality Scale: No score

#79492 Add device tracker to Subaru integration
  homeassistant/components/subaru/const.py
  homeassistant/components/subaru/device_tracker.py
  tests/components/subaru/test_device_tracker.py
Labels: Hacktoberfest, new-platform, cla-signed, new-feature, by-code-owner, integration: subaru, hacktoberfest-accepted

#97845 Fix Command Line template error when data is None
  homeassistant/components/command_line/sensor.py
  tests/components/command_line/test_sensor.py
Labels: cla-signed, small-pr, integration: command_line, has-tests, by-code-owner, bugfix, Quality Scale: No score

#97673 Fix Melcloud import issue
  homeassistant/components/melcloud/__init__.py
  homeassistant/components/melcloud/config_flow.py
  homeassistant/components/melcloud/strings.json
  tests/components/melcloud/test_config_flow.py
Labels: cla-signed, integration: melcloud, has-tests, bugfix, smash, Quality Scale: No score

#97582 Add lightplatform to Duotecno
  .coveragerc
  homeassistant/components/duotecno/__init__.py
  homeassistant/components/duotecno/light.py
Labels: new-platform, cla-signed, new-feature, by-code-owner, smash, Quality Scale: No score, integration: duotecno

#97855 Add missing translation key to Gardena Bluetooth
  homeassistant/components/gardena_bluetooth/strings.json
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: gardena_bluetooth

#97853 Bump pysensibo to 1.0.33
  homeassistant/components/sensibo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/sensibo/fixtures/data.json
  tests/components/sensibo/test_climate.py
Labels: cla-signed, small-pr, integration: sensibo, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#97843 Fix Samsung syncthru device info
  homeassistant/components/syncthru/__init__.py
Labels: cla-signed, small-pr, integration: syncthru, bugfix, Quality Scale: No score

#97824 Update starlink-grpc-tools to 1.1.2
  homeassistant/components/starlink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: starlink, Quality Scale: silver

#97825 Add untested Starlink components to .coveragerc
  .coveragerc
Labels: cla-signed, small-pr, code-quality

#97848 Bump Omada API version to fix #96193
  homeassistant/components/tplink_omada/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: tplink_omada, Quality Scale: No score

#97642 Add restart device to UniFi button platform
  homeassistant/components/unifi/button.py
  homeassistant/components/unifi/const.py
  tests/components/unifi/test_button.py
  tests/components/unifi/test_controller.py
Labels: new-platform, cla-signed, new-feature, integration: unifi, has-tests, by-code-owner, Quality Scale: platinum

#97860 Bump bimmer_connected to 0.13.9, fix notify
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: bmw_connected_drive, by-code-owner, bugfix, Quality Scale: No score

#97570 Improve code quality of CalDav
  homeassistant/components/caldav/calendar.py
Labels: cla-signed, small-pr, integration: caldav, code-quality, Quality Scale: No score

#97618 Refactor alexa modules to avoid circular deps
  homeassistant/components/alexa/__init__.py
  homeassistant/components/alexa/handlers.py
  homeassistant/components/alexa/messages.py
  homeassistant/components/alexa/smart_home.py
  homeassistant/components/alexa/smart_home_http.py
  homeassistant/components/alexa/state_report.py
  tests/components/alexa/test_common.py
  tests/components/alexa/test_smart_home.py
  tests/components/alexa/test_smart_home_http.py
Labels: core, cla-signed, integration: alexa, has-tests, by-code-owner, code-quality, Quality Scale: No score

#79409 Implement Elmax cover platform
  .coveragerc
  homeassistant/components/elmax/common.py
  homeassistant/components/elmax/const.py
  homeassistant/components/elmax/cover.py
Labels: Hacktoberfest, new-platform, cla-signed, new-feature, by-code-owner, hacktoberfest-accepted, integration: elmax

#97821 Bump bluetooth-data-tools to 1.7.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/esphome/manifest.json
  homeassistant/components/ld2410_ble/manifest.json
  homeassistant/components/led_ble/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, integration: esphome, dependency, by-code-owner, integration: bluetooth, integration: led_ble, Quality Scale: No score, Quality Scale: internal, integration: ld2410_ble

#97864 BMW: Remove deprecated refresh from cloud button
  homeassistant/components/bmw_connected_drive/button.py
  homeassistant/components/bmw_connected_drive/strings.json
  tests/components/bmw_connected_drive/snapshots/test_button.ambr
  tests/components/bmw_connected_drive/test_button.py
Labels: breaking-change, cla-signed, small-pr, integration: bmw_connected_drive, has-tests, by-code-owner, Quality Scale: No score

#97649 Add yeelight class to fix superclass issue
  homeassistant/components/yeelight/light.py
Labels: cla-signed, small-pr, integration: yeelight, bugfix, Quality Scale: platinum

#97497 Use new Mill api
  homeassistant/components/mill/climate.py
  homeassistant/components/mill/manifest.json
  homeassistant/components/mill/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: breaking-change, cla-signed, small-pr, integration: mill, dependency, by-code-owner, bugfix, Quality Scale: No score

#97391 Change discovergy integration type
  homeassistant/components/discovergy/manifest.json
  homeassistant/generated/integrations.json
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: discovergy, Quality Scale: No score

#97318 Migrate to SensorEntityDescriptions for Trafikverket Train
  homeassistant/components/trafikverket_train/__init__.py
  homeassistant/components/trafikverket_train/sensor.py
  homeassistant/components/trafikverket_train/strings.json
Labels: cla-signed, integration: trafikverket_train, by-code-owner, code-quality, smash, Quality Scale: No score

#97276 Add support for toothbrushes to xiaomi-ble
  homeassistant/components/xiaomi_ble/binary_sensor.py
  homeassistant/components/xiaomi_ble/manifest.json
  homeassistant/components/xiaomi_ble/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/xiaomi_ble/test_sensor.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, integration: xiaomi_ble, Quality Scale: No score

#97866 Use constants for translation keys and rename latency time to latency
  homeassistant/components/minecraft_server/__init__.py
  homeassistant/components/minecraft_server/binary_sensor.py
  homeassistant/components/minecraft_server/config_flow.py
  homeassistant/components/minecraft_server/const.py
  homeassistant/components/minecraft_server/sensor.py
Labels: cla-signed, by-code-owner, integration: minecraft_server, code-quality, Quality Scale: silver

#97444 Remove long overdue deprecated service boost_heating from Hive
  homeassistant/components/hive/climate.py
  homeassistant/components/hive/services.yaml
  homeassistant/components/hive/strings.json
Labels: breaking-change, cla-signed, integration: hive, small-pr, Quality Scale: No score

#97869 Do not fire homekit_controller events from IP polling
  homeassistant/components/homekit_controller/device_trigger.py
  tests/components/homekit_controller/test_device_trigger.py
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, bugfix, Quality Scale: No score

#97874 Use PRECISION_TENTHS for Mill local integration
  homeassistant/components/mill/climate.py
Labels: cla-signed, small-pr, new-feature, integration: mill, Quality Scale: No score

#97862 Refactor enphase_envoy to use pyenphase library
  .coveragerc
  homeassistant/components/enphase_envoy/__init__.py
  homeassistant/components/enphase_envoy/config_flow.py
  homeassistant/components/enphase_envoy/const.py
  homeassistant/components/enphase_envoy/coordinator.py
  homeassistant/components/enphase_envoy/diagnostics.py
  homeassistant/components/enphase_envoy/manifest.json
  homeassistant/components/enphase_envoy/sensor.py
  homeassistant/components/enphase_envoy/strings.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/enphase_envoy/conftest.py
  tests/components/enphase_envoy/fixtures/__init__.py
  tests/components/enphase_envoy/fixtures/data.json
  tests/components/enphase_envoy/fixtures/inverters_production.json
  tests/components/enphase_envoy/test_config_flow.py
  tests/components/enphase_envoy/test_diagnostics.py
Labels: cla-signed, integration: enphase_envoy, Quality Scale: No score

#97876 Add entity translations for Enphase Envoy
  homeassistant/components/enphase_envoy/sensor.py
  homeassistant/components/enphase_envoy/strings.json
Labels: cla-signed, new-feature, integration: enphase_envoy, Quality Scale: No score

#97875 Bump pyschlage to 2023.8.0
  homeassistant/components/schlage/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: schlage

#97872 Cache envoy auth tokens to ensure integration works if cloud is offline
  homeassistant/components/enphase_envoy/__init__.py
  homeassistant/components/enphase_envoy/config_flow.py
  homeassistant/components/enphase_envoy/const.py
  homeassistant/components/enphase_envoy/coordinator.py
  homeassistant/components/enphase_envoy/diagnostics.py
  homeassistant/components/enphase_envoy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/enphase_envoy/conftest.py
  tests/components/enphase_envoy/test_diagnostics.py
Labels: cla-signed, integration: enphase_envoy, has-tests, dependency, code-quality, Quality Scale: No score

#97884 Fix handling HomeKit events when the char is in error state
  homeassistant/components/homekit_controller/device_trigger.py
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, bugfix, Quality Scale: No score

#97879 Schlage: Set the battery sensor state_class to measurement
  homeassistant/components/schlage/sensor.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, Quality Scale: No score, integration: schlage

#90800 Handle explicit Modbus NaN values
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/const.py
  homeassistant/components/modbus/validators.py
  tests/components/modbus/test_init.py
  tests/components/modbus/test_sensor.py
Labels: cla-signed, integration: modbus, small-pr, new-feature, has-tests, Quality Scale: gold

#93832 Replace Float 'nan' with None for modbus floats
  homeassistant/components/modbus/base_platform.py
Labels: cla-signed, integration: modbus, small-pr, bugfix, Quality Scale: gold

#71432 Trafikverket Train sensor and attributes to new sensors
  homeassistant/components/trafikverket_train/sensor.py
  homeassistant/components/trafikverket_train/strings.json
Labels: breaking-change, cla-signed, integration: trafikverket_train, by-code-owner, code-quality

#97917 Fix Trafikverket Train departure state
  homeassistant/components/trafikverket_train/sensor.py
Labels: cla-signed, small-pr, integration: trafikverket_train, by-code-owner, bugfix, Quality Scale: No score

#97919 Fix Trafivkerket Train coordinator exceptions
  homeassistant/components/trafikverket_train/coordinator.py
Labels: cla-signed, small-pr, integration: trafikverket_train, by-code-owner, bugfix, Quality Scale: No score

#97584 Velbus code cleanup
  homeassistant/components/velbus/binary_sensor.py
  homeassistant/components/velbus/button.py
  homeassistant/components/velbus/climate.py
  homeassistant/components/velbus/cover.py
  homeassistant/components/velbus/entity.py
  homeassistant/components/velbus/light.py
  homeassistant/components/velbus/select.py
  homeassistant/components/velbus/switch.py
Labels: cla-signed, integration: velbus, by-code-owner, code-quality, Quality Scale: No score

#97863 Complete test coverage for OpenSky
  .coveragerc
  tests/components/opensky/conftest.py
  tests/components/opensky/fixtures/states.json
  tests/components/opensky/fixtures/states_1.json
  tests/components/opensky/snapshots/test_sensor.ambr
  tests/components/opensky/test_sensor.py
Labels: cla-signed, small-pr, integration: opensky, has-tests, by-code-owner, code-quality, Quality Scale: No score

#97921 Bump pytrafikverket to 0.3.4
  homeassistant/components/trafikverket_ferry/manifest.json
  homeassistant/components/trafikverket_train/manifest.json
  homeassistant/components/trafikverket_weatherstation/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: trafikverket_weatherstation, integration: trafikverket_train, dependency, by-code-owner, integration: trafikverket_ferry, Quality Scale: No score

#97880 Proactively refresh the enphase envoy token to handle cloud service downtime
  homeassistant/components/enphase_envoy/coordinator.py
  homeassistant/components/enphase_envoy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: enphase_envoy, code-quality, Quality Scale: No score

#97923 Bump pytrafikverket to 0.3.5
  homeassistant/components/trafikverket_ferry/manifest.json
  homeassistant/components/trafikverket_train/manifest.json
  homeassistant/components/trafikverket_weatherstation/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: trafikverket_weatherstation, integration: trafikverket_train, dependency, by-code-owner, integration: trafikverket_ferry, Quality Scale: No score

#97926 Bump pyenphase to 0.11.0
  homeassistant/components/enphase_envoy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: enphase_envoy, dependency, Quality Scale: No score

#97927 Bump pyschlage to 2023.8.1
  homeassistant/components/schlage/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score, integration: schlage

#97907 Bump python-roborock to 0.32.2
  homeassistant/components/roborock/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/roborock/conftest.py
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: roborock

#97930 Update orjson to 3.9.3
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#97877 Avoid polling event characteristic in homekit_controller
  homeassistant/components/homekit_controller/entity.py
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, Quality Scale: No score

#97932 Bump pyatv to 0.13.4
  homeassistant/components/apple_tv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: apple_tv, small-pr, dependency, Quality Scale: No score

#97933 Bump yeelight to v0.7.13
  homeassistant/components/yeelight/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: yeelight, by-code-owner, bugfix, Quality Scale: platinum

#97938 Remove DWD code owner
  CODEOWNERS
  homeassistant/components/dwd_weather_warnings/manifest.json
Labels: cla-signed, small-pr, integration: dwd_weather_warnings, code-quality, Quality Scale: No score

#97935 Freeze time for whirlpool test to avoid fail
  tests/components/whirlpool/test_sensor.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: whirlpool, Quality Scale: No score

#97942 Add model/part number data enphase_envoy
  homeassistant/components/enphase_envoy/manifest.json
  homeassistant/components/enphase_envoy/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: enphase_envoy, Quality Scale: No score

#97801 Ensure webhooks take HA cloud into account
  homeassistant/components/webhook/__init__.py
  tests/components/webhook/test_init.py
  tests/components/webhook/test_trigger.py
Labels: core, cla-signed, small-pr, integration: webhook, has-tests, bugfix, Quality Scale: internal

#97784 Add default headers to webserver responses
  homeassistant/components/http/__init__.py
  homeassistant/components/http/headers.py
  tests/components/http/test_headers.py
  tests/scripts/test_check_config.py
Labels: core, breaking-change, cla-signed, integration: http, new-feature, has-tests, Quality Scale: internal

#97883 Reduce overhead to start a config entry flow by optimizing fetching the handler
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: core, cla-signed, small-pr, code-quality

#97462 Restore passive bluetooth entity data at startup
  homeassistant/components/bluetooth/__init__.py
  homeassistant/components/bluetooth/passive_update_processor.py
  tests/components/bluetooth/test_passive_update_processor.py
Labels: cla-signed, small-pr, by-code-owner, integration: bluetooth, Quality Scale: internal

#97950 Fix weather entities with update_before_add
  homeassistant/components/weather/__init__.py
Labels: core, cla-signed, integration: weather, small-pr, bugfix, Quality Scale: internal
