Repository home-assistant/core, pull requests merged in 2023-02, with the labels that each got.

#87051 Ensure humidity is still exported to HomeKit when it is read-only
  homeassistant/components/homekit/type_thermostats.py
  tests/components/homekit/test_type_thermostats.py
Labels: cla-signed, small-pr, integration: homekit, has-tests, by-code-owner, bugfix, Quality Scale: No score

#87058 Trigger update of ESPHome update entity when static info updates
  homeassistant/components/esphome/__init__.py
  homeassistant/components/esphome/entry_data.py
  homeassistant/components/esphome/update.py
  tests/components/esphome/test_update.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, bugfix, Quality Scale: No score

#87059 Guard what version we can install ESPHome updates with
  homeassistant/components/esphome/dashboard.py
  homeassistant/components/esphome/update.py
  tests/components/esphome/test_dashboard.py
  tests/components/esphome/test_update.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, bugfix, Quality Scale: No score

#87072 Improve typing in unifi services
  homeassistant/components/unifi/services.py
Labels: cla-signed, small-pr, integration: unifi, code-quality, Quality Scale: platinum, code-owner-approved

#87075 Improve typing in philips_js coordinator
  homeassistant/components/philips_js/__init__.py
Labels: cla-signed, small-pr, integration: philips_js, code-quality, Quality Scale: No score

#87078 Improve typing in plex services
  homeassistant/components/plex/services.py
Labels: cla-signed, small-pr, integration: plex, code-quality, Quality Scale: No score

#87077 Type fixes for alexa entities
  homeassistant/components/alexa/entities.py
Labels: core, cla-signed, integration: alexa, bugfix, Quality Scale: No score

#87082 Add enum util
  homeassistant/components/sensor/__init__.py
  homeassistant/util/enum.py
  tests/util/test_enum.py
Labels: core, cla-signed, code-quality

#87086 Bump AIOAladdinConnect to 0.1.55
  homeassistant/components/aladdin_connect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: aladdin_connect, by-code-owner, bugfix, Quality Scale: No score

#87071 Improve typing in nest legacy platforms
  homeassistant/components/nest/legacy/binary_sensor.py
  homeassistant/components/nest/legacy/camera.py
  homeassistant/components/nest/legacy/climate.py
  homeassistant/components/nest/legacy/sensor.py
Labels: cla-signed, integration: nest, small-pr, code-quality, Quality Scale: platinum, code-owner-approved

#79434 Proper handling of authentication errors in AVM Fritz!Tools
  homeassistant/components/fritz/__init__.py
  homeassistant/components/fritz/config_flow.py
  homeassistant/components/fritz/const.py
  homeassistant/components/fritz/manifest.json
  homeassistant/components/fritzbox_callmonitor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/fritz/test_config_flow.py
  tests/components/fritz/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: fritz, integration: fritzbox_callmonitor, has-tests, dependency, by-code-owner, bugfix, hacktoberfest-accepted, smash

#87088 Improve Z-Wave.Me integration description
  homeassistant/components/zwave_me/config_flow.py
  homeassistant/components/zwave_me/strings.json
Labels: cla-signed, small-pr, by-code-owner, integration: zwave_me, Quality Scale: No score

#87096 Fix Assist skipping entities that are hidden or have entity category
  homeassistant/components/conversation/default_agent.py
  tests/components/conversation/test_default_agent.py
Labels: core, cla-signed, integration: conversation, small-pr, has-tests, bugfix, Quality Scale: internal

#87098 Update pyTibber to 0.26.12
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: tibber, dependency, by-code-owner, bugfix, Quality Scale: silver

#87099 Update frontend to 20230201.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#87090 Reduce chance of queue overflow during schema migration
  homeassistant/components/recorder/const.py
  tests/components/recorder/test_websocket_api.py
Labels: core, integration: recorder, cla-signed, small-pr, code-quality, Quality Scale: internal

#87013 Add numeric_state_expected property to Sensor class
  homeassistant/components/sensor/__init__.py
  homeassistant/components/sensor/const.py
  tests/components/sensor/test_init.py
Labels: core, cla-signed, new-feature, integration: sensor, Quality Scale: internal

#87118 Bump reolink_aio to 0.3.1
  homeassistant/components/reolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: reolink, Quality Scale: No score

#87106 Fix a few cartesian products in recorder tests
  tests/components/recorder/test_filters_with_entityfilter.py
  tests/components/recorder/test_init.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, code-quality, Quality Scale: internal

#87137 Add missing converters to recorder statistics
  homeassistant/components/recorder/statistics.py
Labels: core, integration: recorder, cla-signed, small-pr, bugfix, Quality Scale: internal

#87136 Add unit conversion to Power sensors
  homeassistant/components/sensor/const.py
  tests/components/sensor/test_websocket_api.py
Labels: core, cla-signed, small-pr, new-feature, integration: sensor, Quality Scale: internal

#87138 Ensure sensor and recorder converters align
  tests/components/recorder/test_statistics.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, code-quality, Quality Scale: internal

#87141 Add missing supported features to Z-Wave.Me siren
  homeassistant/components/zwave_me/siren.py
Labels: cla-signed, small-pr, by-code-owner, integration: zwave_me, Quality Scale: No score

#87135 Fix invalid state class in renault
  homeassistant/components/renault/sensor.py
  tests/components/renault/const.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: renault, Quality Scale: platinum

#87121 Bump reolink-aio to 0.3.2
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/host.py
  homeassistant/components/reolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, code-quality, integration: reolink, Quality Scale: No score

#87145 Update zwave-me-ws version to 0.3.1
  homeassistant/components/zwave_me/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, integration: zwave_me, Quality Scale: No score

#87085 Use try_parse_enum in integrations
  homeassistant/components/abode/binary_sensor.py
  homeassistant/components/dynalite/cover.py
  homeassistant/components/esphome/binary_sensor.py
  homeassistant/components/esphome/button.py
  homeassistant/components/esphome/cover.py
  homeassistant/components/esphome/number.py
  homeassistant/components/esphome/sensor.py
  homeassistant/components/esphome/switch.py
  homeassistant/components/knx/sensor.py
  homeassistant/components/onvif/binary_sensor.py
  homeassistant/components/onvif/sensor.py
Labels: cla-signed, integration: knx, integration: abode, integration: esphome, integration: onvif, integration: dynalite, smash, Quality Scale: No score, Quality Scale: platinum

#87083 Update pylint to 2.16.0
  homeassistant/components/fritz/common.py
  homeassistant/components/gogogate2/common.py
  homeassistant/components/greeneye_monitor/sensor.py
  homeassistant/components/here_travel_time/coordinator.py
  homeassistant/components/icloud/__init__.py
  homeassistant/components/icloud/account.py
  homeassistant/components/insteon/light.py
  homeassistant/components/litejet/trigger.py
  homeassistant/components/philips_js/light.py
  homeassistant/components/starline/config_flow.py
  homeassistant/components/twitch/sensor.py
  homeassistant/components/xiaomi_miio/light.py
  homeassistant/helpers/config_entry_oauth2_flow.py
  pyproject.toml
  requirements_test.txt
Labels: core, cla-signed, dependency, code-quality

#87070 Add author metadata for blueprints
  homeassistant/components/automation/blueprints/motion_light.yaml
  homeassistant/components/automation/blueprints/notify_leaving_zone.yaml
  homeassistant/components/blueprint/const.py
  homeassistant/components/blueprint/schemas.py
  homeassistant/components/script/blueprints/confirmable_notification.yaml
Labels: core, cla-signed, integration: automation, integration: script, small-pr, new-feature, integration: blueprint, Quality Scale: internal

#87105 Prevent overly large attributes from being stored in the database
  homeassistant/components/recorder/db_schema.py
  tests/components/recorder/test_init.py
Labels: core, breaking-change, integration: recorder, cla-signed, small-pr, Quality Scale: internal

#87185 Cleanup coordinator in motion blinds
  homeassistant/components/motion_blinds/__init__.py
Labels: cla-signed, small-pr, code-quality, integration: motion_blinds, smash, Quality Scale: No score

#87111 Address late review on readability sensor code
  homeassistant/components/sensor/__init__.py
Labels: core, cla-signed, small-pr, integration: sensor, code-quality, Quality Scale: internal

#87102 Support ISY994 Z-Wave motorized blinds as cover
  homeassistant/components/isy994/const.py
Labels: cla-signed, integration: isy994, small-pr, by-code-owner, bugfix, Quality Scale: No score

#87206 Adjust IoT Class of Reolink to local push
  homeassistant/components/reolink/manifest.json
  homeassistant/generated/integrations.json
Labels: cla-signed, small-pr, bugfix, integration: reolink, Quality Scale: No score

#87202 Fix statistics graphs not loading with data_rate, electric_current, voltage, information, and unitless units
  homeassistant/components/recorder/websocket_api.py
Labels: core, integration: recorder, cla-signed, small-pr, bugfix, Quality Scale: internal

#87205 Use template selector for prompt template in OpenAI
  homeassistant/components/openai_conversation/__init__.py
  homeassistant/components/openai_conversation/config_flow.py
  tests/components/openai_conversation/test_init.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: openai_conversation

#87147 Reolink unsubscribe webhook when first refresh fails
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/host.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: reolink, Quality Scale: No score

#87211 Bump py-synologydsm-api to 2.1.1
  homeassistant/components/synology_dsm/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: synology_dsm, bugfix, Quality Scale: No score

#87208 Update frontend to 20230202.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, Quality Scale: internal

#87184 Improve type hints in onvif
  homeassistant/components/onvif/config_flow.py
  homeassistant/components/onvif/device.py
Labels: cla-signed, small-pr, integration: onvif, code-quality, Quality Scale: No score

#87172 Improve type hints in template
  homeassistant/components/template/binary_sensor.py
  homeassistant/components/template/sensor.py
Labels: cla-signed, small-pr, integration: template, code-quality, smash, Quality Scale: internal

#87197 Add ability to generate development translations for all integrations
  script/translations/develop.py
Labels: cla-signed, small-pr, new-feature

#86131 Add modbus min/max values
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/const.py
  tests/components/modbus/test_sensor.py
Labels: cla-signed, integration: modbus, new-feature, Quality Scale: gold

#86954 Adjust hass_client type hint in integration tests
  tests/components/application_credentials/test_init.py
  tests/components/backup/test_http.py
  tests/components/brother/test_diagnostics.py
  tests/components/bsblan/test_diagnostics.py
  tests/components/cloud/test_repairs.py
  tests/components/coinbase/test_diagnostics.py
  tests/components/cpuspeed/test_diagnostics.py
  tests/components/devolo_home_network/test_diagnostics.py
  tests/components/elgato/test_diagnostics.py
  tests/components/energyzero/test_diagnostics.py
  tests/components/esphome/test_diagnostics.py
  tests/components/forecast_solar/test_diagnostics.py
  tests/components/fritz/test_diagnostics.py
  tests/components/fritz/test_update.py
  tests/components/fritzbox/test_diagnostics.py
  tests/components/fully_kiosk/test_diagnostics.py
  tests/components/geocaching/test_config_flow.py
  tests/components/github/test_diagnostics.py
  tests/components/google_assistant/test_diagnostics.py
  tests/components/hassio/test_diagnostics.py
  tests/components/homekit_controller/test_diagnostics.py
  tests/components/homewizard/test_diagnostics.py
  tests/components/jellyfin/test_diagnostics.py
  tests/components/knx/test_diagnostic.py
  tests/components/kostal_plenticore/test_diagnostics.py
  tests/components/lametric/test_config_flow.py
  tests/components/lametric/test_diagnostics.py
  tests/components/local_calendar/test_calendar.py
  tests/components/luftdaten/test_diagnostics.py
  tests/components/matter/test_diagnostics.py
  tests/components/motioneye/test_web_hooks.py
  tests/components/nextdns/test_diagnostics.py
  tests/components/p1_monitor/test_diagnostics.py
  tests/components/plugwise/test_diagnostics.py
  tests/components/pure_energie/test_diagnostics.py
  tests/components/pvoutput/test_diagnostics.py
  tests/components/qnap_qsw/test_diagnostics.py
  tests/components/rdw/test_diagnostics.py
  tests/components/repairs/test_websocket_api.py
  tests/components/roku/test_diagnostics.py
  tests/components/samsungtv/test_diagnostics.py
  tests/components/sensibo/test_diagnostics.py
  tests/components/shelly/test_diagnostics.py
  tests/components/switcher_kis/test_diagnostics.py
  tests/components/tailscale/test_diagnostics.py
  tests/components/tplink/test_diagnostics.py
  tests/components/tradfri/test_diagnostics.py
  tests/components/twentemilieu/test_diagnostics.py
  tests/components/unifiprotect/test_views.py
  tests/components/uptimerobot/test_diagnostics.py
  tests/components/version/test_diagnostics.py
  tests/components/webostv/test_diagnostics.py
  tests/components/whois/test_diagnostics.py
  tests/components/wled/test_diagnostics.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#87069 Improve typing in ihc util
  homeassistant/components/ihc/util.py
Labels: cla-signed, integration: ihc, small-pr, code-quality, smash, Quality Scale: No score

#87073 Improve typing in ping binary sensor
  homeassistant/components/ping/binary_sensor.py
Labels: cla-signed, small-pr, integration: ping, code-quality, smash, Quality Scale: internal

#87074 Improve typing in plaato
  homeassistant/components/plaato/__init__.py
Labels: cla-signed, small-pr, integration: plaato, code-quality, smash, Quality Scale: No score

#87076 Improve typing in script integration
  homeassistant/components/script/__init__.py
Labels: core, cla-signed, integration: script, small-pr, code-quality, smash, Quality Scale: internal

#87167 Improve type hints in Xiaomi Miio
  homeassistant/components/xiaomi_miio/__init__.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, code-quality, smash, Quality Scale: No score

#87169 Improve type hints in whirlpool
  homeassistant/components/whirlpool/climate.py
Labels: cla-signed, small-pr, code-quality, integration: whirlpool, smash, Quality Scale: No score

#87171 Improve type hints in transmission
  homeassistant/components/transmission/__init__.py
Labels: cla-signed, small-pr, integration: transmission, code-quality, smash, Quality Scale: No score

#87183 Improve type hints in saj
  homeassistant/components/saj/sensor.py
Labels: cla-signed, small-pr, integration: saj, code-quality, Quality Scale: No score

#87213 Fix disabled condition within an automation action
  homeassistant/helpers/script.py
  tests/helpers/test_script.py
Labels: core, breaking-change, cla-signed, bugfix

#87203 Bump AIOSomecomfort to 0.0.6
  homeassistant/components/honeywell/__init__.py
  homeassistant/components/honeywell/climate.py
  homeassistant/components/honeywell/config_flow.py
  homeassistant/components/honeywell/manifest.json
  homeassistant/components/honeywell/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/honeywell/conftest.py
  tests/components/honeywell/test_config_flow.py
  tests/components/honeywell/test_init.py
  tests/components/honeywell/test_sensor.py
Labels: cla-signed, small-pr, integration: honeywell, by-code-owner, bugfix, Quality Scale: No score

#87224 Reolink simplify
  homeassistant/components/reolink/__init__.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: reolink, Quality Scale: No score

#87221 2023.2.1
  homeassistant/components/frontend/manifest.json
  homeassistant/components/honeywell/__init__.py
  homeassistant/components/honeywell/climate.py
  homeassistant/components/honeywell/config_flow.py
  homeassistant/components/honeywell/manifest.json
  homeassistant/components/honeywell/sensor.py
  homeassistant/components/isy994/const.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/recorder/websocket_api.py
  homeassistant/components/renault/sensor.py
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/host.py
  homeassistant/components/reolink/manifest.json
  homeassistant/components/synology_dsm/manifest.json
  homeassistant/components/zwave_me/siren.py
  homeassistant/const.py
  homeassistant/helpers/script.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
  tests/components/honeywell/conftest.py
  tests/components/honeywell/test_config_flow.py
  tests/components/honeywell/test_init.py
  tests/components/honeywell/test_sensor.py
  tests/components/renault/const.py
  tests/helpers/test_script.py
Labels: core, cla-signed, merging-to-master, has-tests

#87161 Fix an extra quote typo in the percentage util
  homeassistant/util/percentage.py
Labels: core, cla-signed, small-pr, code-quality, bugfix

#87229 Fix call values in Aussie Broadband
  homeassistant/components/aussie_broadband/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: aussie_broadband, Quality Scale: No score

#87089 Reduce required permissions for fritzbox_callmonitor
  homeassistant/components/fritzbox_callmonitor/config_flow.py
  homeassistant/components/fritzbox_callmonitor/const.py
  tests/components/fritzbox_callmonitor/test_config_flow.py
Labels: cla-signed, small-pr, integration: fritzbox_callmonitor, has-tests, by-code-owner, code-quality, Quality Scale: No score

#87240 Handle failed Sonos subscriptions better
  homeassistant/components/sonos/__init__.py
Labels: cla-signed, small-pr, integration: sonos, by-code-owner, bugfix, Quality Scale: No score

#87247 Filesize timestamp remove state class
  homeassistant/components/filesize/sensor.py
Labels: cla-signed, small-pr, integration: filesize, by-code-owner, bugfix, Quality Scale: No score

#87066 Use SensorStateClass enum in sensor
  homeassistant/components/sensor/recorder.py
Labels: core, cla-signed, small-pr, integration: sensor, code-quality, Quality Scale: internal

#87250 Fix schema typing on async_register_entity_service
  homeassistant/helpers/entity_component.py
Labels: core, cla-signed, small-pr, code-quality

#87254 Fix `can not` typo
  homeassistant/components/axis/device.py
  homeassistant/components/buienradar/camera.py
  homeassistant/components/cert_expiry/strings.json
  homeassistant/components/cloud/repairs.py
  homeassistant/components/deconz/gateway.py
  homeassistant/components/fjaraskupan/__init__.py
  homeassistant/components/geniushub/__init__.py
  homeassistant/components/hue/v2/group.py
  homeassistant/components/hue/v2/light.py
  homeassistant/components/influxdb/__init__.py
  homeassistant/components/modbus/validators.py
  homeassistant/components/mqtt/util.py
  homeassistant/components/onvif/base.py
  homeassistant/components/raspyrfm/switch.py
  homeassistant/components/recorder/core.py
  homeassistant/components/sensor/recorder.py
  homeassistant/components/soundtouch/media_player.py
  homeassistant/components/watson_iot/__init__.py
  homeassistant/components/wiz/strings.json
  homeassistant/components/zabbix/__init__.py
  homeassistant/exceptions.py
  homeassistant/helpers/config_validation.py
  tests/components/buienradar/test_camera.py
  tests/components/kraken/test_config_flow.py
  tests/components/modbus/test_sensor.py
  tests/components/sensor/test_recorder.py
  tests/util/test_json.py
Labels: core, cla-signed, small-pr, has-tests, bugfix, smash

#87287 Add type hints to configurator request_config
  homeassistant/components/configurator/__init__.py
  homeassistant/components/remember_the_milk/__init__.py
Labels: core, cla-signed, integration: configurator, integration: remember_the_milk, code-quality, Quality Scale: No score, Quality Scale: internal

#87280 Fix volume state class in renault
  homeassistant/components/renault/sensor.py
  tests/components/renault/const.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: renault, Quality Scale: platinum

#87281 Bump sfrbox-api to 0.0.6
  homeassistant/components/sfr_box/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: sfr_box

#87154 Ignore TAI8570 errors in onewire
  homeassistant/components/onewire/sensor.py
  tests/components/onewire/__init__.py
  tests/components/onewire/test_sensor.py
Labels: cla-signed, small-pr, integration: onewire, has-tests, by-code-owner, bugfix, Quality Scale: gold

#87255 Sync input_select & select
  homeassistant/components/input_select/__init__.py
  homeassistant/components/select/__init__.py
  homeassistant/components/select/const.py
  homeassistant/components/select/device_action.py
  homeassistant/components/select/services.yaml
  homeassistant/components/select/strings.json
  tests/components/select/test_device_action.py
  tests/components/select/test_init.py
  tests/components/zha/test_device_action.py
Labels: core, cla-signed, integration: input_select, has-tests, integration: select, Quality Scale: internal

#87187 Add thread dataset store
  homeassistant/components/otbr/__init__.py
  homeassistant/components/otbr/manifest.json
  homeassistant/components/thread/__init__.py
  homeassistant/components/thread/dataset_store.py
  homeassistant/components/thread/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/otbr/__init__.py
  tests/components/otbr/conftest.py
  tests/components/otbr/test_init.py
  tests/components/thread/test_dataset_store.py
Labels: cla-signed, has-tests, Quality Scale: No score, integration: thread, integration: otbr

#87269 Improve type hints in homematicip_cloud
  homeassistant/components/homematicip_cloud/config_flow.py
  homeassistant/components/homematicip_cloud/hap.py
Labels: cla-signed, small-pr, integration: homematicip_cloud, code-quality, Quality Scale: silver

#87298 Fix incorrect description in sensor group config flow
  homeassistant/components/group/strings.json
  homeassistant/components/group/translations/en.json
Labels: core, cla-signed, integration: group, small-pr, bugfix, Quality Scale: internal

#87270 Improve type hints in duckdns
  homeassistant/components/duckdns/__init__.py
Labels: cla-signed, integration: duckdns, small-pr, code-quality, Quality Scale: No score

#87279 Add configurator to strict typing
  .strict-typing
  homeassistant/components/configurator/__init__.py
  mypy.ini
  tests/components/configurator/test_init.py
Labels: core, cla-signed, integration: configurator, small-pr, has-tests, code-quality, Quality Scale: internal

#87256 Add icons for prusalink sensors and buttons
  homeassistant/components/prusalink/button.py
  homeassistant/components/prusalink/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: prusalink, Quality Scale: No score

#87266 Improve type hints in evohome
  homeassistant/components/evohome/__init__.py
Labels: cla-signed, small-pr, integration: evohome, code-quality, Quality Scale: No score

#87301 Re-enabled Ruff E713
  homeassistant/components/ecobee/climate.py
  homeassistant/components/point/binary_sensor.py
  homeassistant/components/zwave_js/sensor.py
  pyproject.toml
Labels: cla-signed, integration: ecobee, small-pr, integration: point, code-quality, integration: zwave_js, Quality Scale: No score, Quality Scale: gold

#83851 Optionally update sensor units when unit system is changed
  homeassistant/components/config/core.py
  homeassistant/components/sensor/__init__.py
  homeassistant/helpers/entity_registry.py
  tests/components/config/test_core.py
  tests/components/sensor/test_init.py
Labels: core, cla-signed, integration: config, new-feature, integration: sensor, has-tests, awaiting-frontend, Quality Scale: internal

#87302 Re-enable Ruff D418
  homeassistant/util/logging.py
  pyproject.toml
Labels: core, cla-signed, small-pr, code-quality

#87304 Don't override icon in sensor group when device class is set
  homeassistant/components/group/sensor.py
  tests/components/group/test_sensor.py
Labels: core, cla-signed, integration: group, small-pr, has-tests, bugfix, Quality Scale: internal

#87273 Improve type hints in google assistant
  homeassistant/components/google_assistant/smart_home.py
Labels: core, cla-signed, integration: google_assistant, code-quality, Quality Scale: No score

#87308 Fix UoM and device_class in Trafikverket Weather
  homeassistant/components/trafikverket_weatherstation/sensor.py
Labels: breaking-change, cla-signed, small-pr, integration: trafikverket_weatherstation, by-code-owner, bugfix, Quality Scale: No score

#87267 Improve type hints in edl21
  homeassistant/components/edl21/sensor.py
Labels: cla-signed, small-pr, integration: edl21, code-quality, Quality Scale: No score

#87264 Improve type hints in melcloud
  homeassistant/components/melcloud/__init__.py
Labels: cla-signed, small-pr, integration: melcloud, code-quality, Quality Scale: No score

#87258 Fix geniushub type hint
  homeassistant/components/geniushub/__init__.py
Labels: cla-signed, small-pr, integration: geniushub, bugfix, Quality Scale: No score

#87263 Improve type hints in cloud
  homeassistant/components/cloud/google_config.py
Labels: core, cla-signed, integration: cloud, small-pr, code-quality, Quality Scale: No score

#87307 Add thread WS API
  homeassistant/components/thread/__init__.py
  homeassistant/components/thread/websocket_api.py
  tests/components/thread/__init__.py
  tests/components/thread/test_dataset_store.py
  tests/components/thread/test_websocket_api.py
Labels: cla-signed, has-tests, Quality Scale: No score, integration: thread

#87324 Bump py-synologydsm-api to 2.1.2
  homeassistant/components/synology_dsm/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: synology_dsm, bugfix, Quality Scale: No score

#87260 Fix missing property in bosch_shc
  homeassistant/components/bosch_shc/entity.py
Labels: cla-signed, small-pr, bugfix, integration: bosch_shc, Quality Scale: No score

#87319 Fixed parser for zeversolar hardware version M10
  homeassistant/components/zeversolar/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: zeversolar, dependency, by-code-owner, Quality Scale: No score

#86740 Bump UPB integration library to 0.5.3
  homeassistant/components/upb/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, integration: upb, dependency-bump, Quality Scale: No score

#87065 Add type hints for MQTT common helper and fixtures
  tests/common.py
  tests/conftest.py
Labels: core, cla-signed, integration: mqtt, by-code-owner, code-quality, Quality Scale: gold

#87217 Reolink add number platform
  .coveragerc
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/number.py
Labels: new-platform, cla-signed, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#86266 Add easyEnergy integration
  CODEOWNERS
  homeassistant/components/easyenergy/__init__.py
  homeassistant/components/easyenergy/config_flow.py
  homeassistant/components/easyenergy/const.py
  homeassistant/components/easyenergy/coordinator.py
  homeassistant/components/easyenergy/diagnostics.py
  homeassistant/components/easyenergy/manifest.json
  homeassistant/components/easyenergy/sensor.py
  homeassistant/components/easyenergy/strings.json
  homeassistant/components/easyenergy/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/easyenergy/__init__.py
  tests/components/easyenergy/conftest.py
  tests/components/easyenergy/fixtures/today_energy.json
  tests/components/easyenergy/fixtures/today_gas.json
  tests/components/easyenergy/test_config_flow.py
  tests/components/easyenergy/test_diagnostics.py
  tests/components/easyenergy/test_init.py
  tests/components/easyenergy/test_sensor.py
Labels: cla-signed, new-integration, has-tests, integration: easyenergy

#87289 Download/Update translations on build
  .github/workflows/builder.yml
Labels: cla-signed, small-pr, new-feature

#87323 Fix code format issue in Yale Smart Alarm
  homeassistant/components/yale_smart_alarm/lock.py
Labels: cla-signed, small-pr, integration: yale_smart_alarm, by-code-owner, bugfix, Quality Scale: No score

#87175 Bump azure-eventhub to 5.11.1
  homeassistant/components/azure_event_hub/client.py
  homeassistant/components/azure_event_hub/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: azure_event_hub, dependency, by-code-owner, Quality Scale: No score

#87331 Update pip constraint to 23.1
  .github/workflows/ci.yaml
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#87333 Add WS commands thread/list_datasets, thread/get_dataset_tlv
  homeassistant/components/thread/dataset_store.py
  homeassistant/components/thread/websocket_api.py
  tests/components/thread/test_dataset_store.py
  tests/components/thread/test_websocket_api.py
Labels: cla-signed, has-tests, Quality Scale: No score, integration: thread

#87336 Rename zwave_js ws API command
  homeassistant/components/zwave_js/api.py
  tests/components/zwave_js/test_api.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: zwave_js, Quality Scale: No score

#87328 Update coverage to 7.1.0
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#87305 Update whois to 0.9.27
  homeassistant/components/whois/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: whois, dependency, by-code-owner, Quality Scale: No score

#86476 Add Shelly Pro 3EM energy sensors
  homeassistant/components/shelly/sensor.py
  homeassistant/components/shelly/utils.py
Labels: cla-signed, new-feature, integration: shelly, by-code-owner, bugfix, Quality Scale: platinum

#87342 Late review on added type hint MQTT fixture
  tests/conftest.py
Labels: core, cla-signed, small-pr, bugfix

#87318 Fix Bravia TV refreshing zero volume level
  homeassistant/components/braviatv/coordinator.py
Labels: cla-signed, small-pr, integration: braviatv, by-code-owner, bugfix, Quality Scale: No score

#87344 Collection of code styling tweaks
  homeassistant/components/acmeda/base.py
  homeassistant/components/advantage_air/__init__.py
  homeassistant/components/growatt_server/sensor.py
  homeassistant/components/image_upload/__init__.py
  homeassistant/components/minecraft_server/config_flow.py
  homeassistant/components/mqtt/climate.py
  homeassistant/components/nest/__init__.py
  homeassistant/components/octoprint/__init__.py
  homeassistant/components/omnilogic/switch.py
  homeassistant/components/oncue/entity.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/light.py
  homeassistant/components/stream/worker.py
  homeassistant/components/subaru/sensor.py
  homeassistant/components/switchbee/light.py
  homeassistant/components/tankerkoenig/sensor.py
  homeassistant/components/tibber/sensor.py
  homeassistant/components/toon/models.py
  homeassistant/components/twinkly/light.py
  homeassistant/components/unifiprotect/select.py
  homeassistant/components/unifiprotect/sensor.py
  homeassistant/components/upnp/config_flow.py
  homeassistant/components/vesync/light.py
  homeassistant/components/vizio/media_player.py
  homeassistant/components/wallbox/number.py
  homeassistant/components/withings/common.py
  homeassistant/components/xbox/base_sensor.py
  homeassistant/components/xiaomi_ble/config_flow.py
  homeassistant/components/xiaomi_miio/__init__.py
  homeassistant/components/yamaha_musiccast/media_player.py
  homeassistant/components/yolink/coordinator.py
  homeassistant/components/zamg/config_flow.py
  homeassistant/components/zamg/const.py
  homeassistant/components/zamg/sensor.py
  homeassistant/components/zamg/weather.py
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/core/channels/security.py
  homeassistant/components/zha/core/discovery.py
  homeassistant/components/zha/core/gateway.py
  homeassistant/components/zha/core/registries.py
  homeassistant/components/zha/light.py
  homeassistant/components/zwave_js/api.py
  homeassistant/components/zwave_js/climate.py
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/light.py
  homeassistant/components/zwave_js/migrate.py
  homeassistant/components/zwave_js/services.py
  homeassistant/components/zwave_js/switch.py
  homeassistant/components/zwave_js/update.py
  homeassistant/components/zwave_me/config_flow.py
  homeassistant/components/zwave_me/cover.py
  homeassistant/helpers/config_entry_oauth2_flow.py
Labels: core, cla-signed, code-quality

#87345 Remove use of Number DEVICE_CLASSES_SCHEMA from MQTT
  homeassistant/components/mqtt/number.py
Labels: core, cla-signed, integration: mqtt, small-pr, code-quality, Quality Scale: gold

#87337 Add support for multiple conversation agents
  homeassistant/components/conversation/__init__.py
  homeassistant/components/conversation/services.yaml
  tests/components/conversation/__init__.py
  tests/components/conversation/conftest.py
  tests/components/conversation/test_init.py
Labels: core, cla-signed, integration: conversation, new-feature, has-tests, Quality Scale: internal

#87339 Tiny cleanup in Number base entity
  homeassistant/components/number/__init__.py
  homeassistant/components/number/const.py
Labels: core, cla-signed, code-quality, integration: number, Quality Scale: internal

#87361 Update pylutron-caseta to 0.18.1
  homeassistant/components/lutron_caseta/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: lutron_caseta, small-pr, bugfix, Quality Scale: No score

#87309 Bump zwave-js-server-python to 0.45.1
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, integration: zwave_js, Quality Scale: No score

#87294 Extend state class sensor warnings with expected values
  homeassistant/components/sensor/__init__.py
  homeassistant/components/sensor/const.py
  tests/components/sensor/test_init.py
Labels: core, cla-signed, small-pr, new-feature, integration: sensor, has-tests, Quality Scale: internal

#87355 Bump oralb-ble to 0.17.2
  homeassistant/components/oralb/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: oralb

#87378 Store preferred dataset separately in thread dataset store
  homeassistant/components/thread/dataset_store.py
  homeassistant/components/thread/websocket_api.py
  tests/components/thread/test_dataset_store.py
Labels: cla-signed, small-pr, has-tests, Quality Scale: No score, integration: thread

#87379 Fix exception when trying to poll a HomeKit device over Thread with no active encryption context
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, bugfix, Quality Scale: No score

#87371 Fix typing issue in easyEnergy
  homeassistant/components/easyenergy/coordinator.py
Labels: cla-signed, small-pr, code-quality, Quality Scale: platinum, code-owner-approved, integration: easyenergy

#87383 Fix accidentally introduced breaking change in number entity
  homeassistant/components/number/__init__.py
Labels: core, cla-signed, small-pr, bugfix, integration: number, Quality Scale: internal

#87381 Collection of code styling tweaks
  homeassistant/components/google/calendar.py
  homeassistant/components/heos/__init__.py
  homeassistant/components/homekit_controller/config_flow.py
  homeassistant/components/hunterdouglas_powerview/cover.py
  homeassistant/components/insteon/__init__.py
  homeassistant/components/isy994/binary_sensor.py
  homeassistant/components/isy994/switch.py
  homeassistant/components/izone/climate.py
  homeassistant/components/knx/__init__.py
  homeassistant/components/kraken/utils.py
  homeassistant/components/landisgyr_heat_meter/config_flow.py
  homeassistant/components/lutron_caseta/__init__.py
  homeassistant/components/lutron_caseta/button.py
  homeassistant/components/lyric/climate.py
  homeassistant/components/mazda/button.py
  homeassistant/components/mazda/sensor.py
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/mysensors/const.py
  homeassistant/components/mysensors/device.py
  homeassistant/components/neato/api.py
  homeassistant/components/nederlandse_spoorwegen/sensor.py
  homeassistant/components/nest/camera_sdm.py
  homeassistant/components/nest/config_flow.py
  homeassistant/components/onkyo/media_player.py
  homeassistant/components/overkiz/entity.py
  homeassistant/components/overkiz/sensor.py
  homeassistant/components/pandora/media_player.py
  homeassistant/components/pilight/light.py
  homeassistant/components/plugwise/climate.py
  homeassistant/components/plugwise/gateway.py
  homeassistant/components/powerwall/__init__.py
  homeassistant/components/powerwall/config_flow.py
  homeassistant/components/proxmoxve/__init__.py
  homeassistant/components/ps4/const.py
  homeassistant/components/qnap_qsw/binary_sensor.py
  homeassistant/components/qnap_qsw/sensor.py
  homeassistant/components/recorder/migration.py
  homeassistant/components/samsungtv/bridge.py
  homeassistant/components/script/__init__.py
  homeassistant/components/sia/sia_entity_base.py
  homeassistant/components/simplisafe/alarm_control_panel.py
  homeassistant/components/slimproto/media_player.py
  homeassistant/components/smarttub/config_flow.py
  homeassistant/components/sonos/media.py
  homeassistant/components/sonos/media_player.py
  homeassistant/components/sonos/speaker.py
  homeassistant/components/soundtouch/media_player.py
  homeassistant/components/stream/core.py
  homeassistant/components/tasmota/device_trigger.py
  homeassistant/components/tasmota/light.py
  homeassistant/components/tasmota/mixins.py
  homeassistant/components/tasmota/sensor.py
Labels: cla-signed, code-quality

#87068 Ensure hass is typed
  homeassistant/components/energyzero/coordinator.py
  homeassistant/components/google_maps/device_tracker.py
  homeassistant/components/gree/bridge.py
  homeassistant/components/harmony/data.py
  homeassistant/components/hassio/http.py
  homeassistant/components/homeassistant/scene.py
  homeassistant/components/mobile_app/util.py
  homeassistant/components/pilight/__init__.py
  pylint/plugins/hass_enforce_type_hints.py
Labels: cla-signed, small-pr, code-quality

#87384 Fix Ruuvi Gateway data being ignored when system is not using UTC time
  homeassistant/components/ruuvi_gateway/bluetooth.py
  homeassistant/components/ruuvi_gateway/const.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: ruuvi_gateway

#87386 Update Ruff to 0.0.241
  .pre-commit-config.yaml
  pyproject.toml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr, dependency

#87330 Move sensor rounding to frontend
  homeassistant/components/accuweather/sensor.py
  homeassistant/components/airly/sensor.py
  homeassistant/components/sensor/__init__.py
  tests/components/accuweather/test_sensor.py
  tests/components/airly/test_init.py
  tests/components/airly/test_sensor.py
  tests/components/sensor/test_init.py
  tests/testing_config/custom_components/test/sensor.py
Labels: core, cla-signed, integration: sensor, has-tests, integration: airly, integration: accuweather, Quality Scale: internal, Quality Scale: platinum

#87257 Ensure recorder api aligns with sensor converters
  tests/components/recorder/test_websocket_api.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, code-quality, Quality Scale: internal

#87420 Disable mopeka accelerometer sensors by default
  homeassistant/components/mopeka/sensor.py
  tests/components/mopeka/test_sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: mopeka

#87414 Ignore invalid zeroconf names from devices with broken firmwares
  homeassistant/components/zeroconf/__init__.py
  tests/components/zeroconf/test_init.py
Labels: cla-signed, integration: zeroconf, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: internal

#86040 Add repeat options to tplink sequence effect service
  homeassistant/components/tplink/light.py
  homeassistant/components/tplink/services.yaml
Labels: cla-signed, small-pr, new-feature, integration: tplink, Quality Scale: platinum, code-owner-approved

#87162 Refactor onewire options flow
  homeassistant/components/onewire/config_flow.py
  tests/components/onewire/test_options_flow.py
Labels: cla-signed, integration: onewire, has-tests, by-code-owner, code-quality, Quality Scale: gold

#87235 Simplify zwave_js code
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/device_action.py
  homeassistant/components/zwave_js/device_condition.py
  homeassistant/components/zwave_js/device_trigger.py
Labels: cla-signed, small-pr, code-quality, integration: zwave_js, Quality Scale: No score

#87428 Add Z-Wave.Me cover stop command
  homeassistant/components/zwave_me/cover.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: zwave_me, Quality Scale: No score

#87427 Bump aiohomekit to 2.4.6
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, Quality Scale: No score

#87397 Fix state class in Enphase Envoy
  homeassistant/components/enphase_envoy/const.py
Labels: cla-signed, small-pr, integration: enphase_envoy, bugfix, Quality Scale: No score

#87421 Add missing mopeka translations
  homeassistant/components/mopeka/translations/af.json
  homeassistant/components/mopeka/translations/bg.json
  homeassistant/components/mopeka/translations/ca.json
  homeassistant/components/mopeka/translations/de.json
  homeassistant/components/mopeka/translations/el.json
  homeassistant/components/mopeka/translations/en.json
  homeassistant/components/mopeka/translations/es.json
  homeassistant/components/mopeka/translations/et.json
  homeassistant/components/mopeka/translations/fr.json
  homeassistant/components/mopeka/translations/hu.json
  homeassistant/components/mopeka/translations/id.json
  homeassistant/components/mopeka/translations/it.json
  homeassistant/components/mopeka/translations/lv.json
  homeassistant/components/mopeka/translations/nl.json
  homeassistant/components/mopeka/translations/no.json
  homeassistant/components/mopeka/translations/pl.json
  homeassistant/components/mopeka/translations/pt-BR.json
  homeassistant/components/mopeka/translations/ru.json
  homeassistant/components/mopeka/translations/sk.json
  homeassistant/components/mopeka/translations/zh-Hant.json
Labels: cla-signed, cherry-picked, by-code-owner, merging-to-rc, Quality Scale: No score, integration: mopeka

#87377 Use official unit of measure for Lux in wiffi component
  homeassistant/components/wiffi/sensor.py
Labels: cla-signed, small-pr, by-code-owner, integration: wiffi, bugfix, Quality Scale: No score

#87441 Add log for successful update in no ip
  homeassistant/components/no_ip/__init__.py
Labels: cla-signed, integration: no_ip, small-pr, Quality Scale: No score

#87456 Add missing name field to emulated_hue config
  homeassistant/components/emulated_hue/hue_api.py
  tests/components/emulated_hue/test_hue_api.py
Labels: integration: emulated_hue, cla-signed, small-pr, bugfix, Quality Scale: internal

#87117 Refactor async_call_later to improve performance and reduce conversion loss
  homeassistant/helpers/event.py
  tests/components/rfxtrx/conftest.py
  tests/components/tomorrowio/test_sensor.py
  tests/components/tomorrowio/test_weather.py
  tests/helpers/test_entity_component.py
  tests/helpers/test_event.py
Labels: core, cla-signed, code-quality

#87214 Use pybalboa 1.0.0
  .coveragerc
  CODEOWNERS
  homeassistant/components/balboa/__init__.py
  homeassistant/components/balboa/binary_sensor.py
  homeassistant/components/balboa/climate.py
  homeassistant/components/balboa/config_flow.py
  homeassistant/components/balboa/const.py
  homeassistant/components/balboa/entity.py
  homeassistant/components/balboa/manifest.json
  homeassistant/components/balboa/strings.json
  homeassistant/components/balboa/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/balboa/__init__.py
  tests/components/balboa/conftest.py
  tests/components/balboa/test_binary_sensor.py
  tests/components/balboa/test_climate.py
  tests/components/balboa/test_config_flow.py
  tests/components/balboa/test_init.py
Labels: cla-signed, has-tests, dependency, integration: balboa, code-quality, Quality Scale: No score

#87479 Update elgato to 4.0.1
  homeassistant/components/elgato/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/elgato/test_diagnostics.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: elgato, Quality Scale: platinum

#87484 Disable uptime sensor by default in Unifi
  homeassistant/components/unifi/sensor.py
  tests/components/unifi/test_sensor.py
Labels: cla-signed, small-pr, integration: unifi, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#87471 Bump py-synologydsm-api to 2.1.4
  homeassistant/components/synology_dsm/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: synology_dsm, bugfix, Quality Scale: No score

#87236 Add RF region property to zwave_js/network_status cmd
  homeassistant/components/zwave_js/api.py
Labels: cla-signed, small-pr, new-feature, integration: zwave_js, Quality Scale: No score

#86816 Refactor tradfri switch tests
  tests/components/tradfri/common.py
  tests/components/tradfri/conftest.py
  tests/components/tradfri/fixtures/outlet.json
  tests/components/tradfri/test_switch.py
Labels: cla-signed, integration: tradfri, small-pr, has-tests, code-quality, Quality Scale: No score

#87490 Coordinator refactor in Elgato
  homeassistant/components/elgato/__init__.py
  homeassistant/components/elgato/button.py
  homeassistant/components/elgato/coordinator.py
  homeassistant/components/elgato/diagnostics.py
  homeassistant/components/elgato/entity.py
  homeassistant/components/elgato/light.py
  tests/components/elgato/conftest.py
Labels: cla-signed, has-tests, by-code-owner, integration: elgato, code-quality, Quality Scale: platinum

#86916 Fix emulated hue SO_REUSEPORT when creating the upnp socket for proper sharing
  homeassistant/components/emulated_hue/upnp.py
Labels: integration: emulated_hue, cla-signed, small-pr, bugfix, Quality Scale: internal

#87409 Speed up purge time with newer MariaDB versions
  homeassistant/components/recorder/core.py
  homeassistant/components/recorder/models.py
  homeassistant/components/recorder/purge.py
  homeassistant/components/recorder/queries.py
  homeassistant/components/recorder/system_health/__init__.py
  homeassistant/components/recorder/util.py
  tests/components/recorder/test_util.py
Labels: core, integration: recorder, cla-signed, has-tests, Quality Scale: internal, database: mariadb

#87496 Bump xiaomi-ble to 0.16.1
  homeassistant/components/xiaomi_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: xiaomi_ble, Quality Scale: No score

#87506 Bump bimmer_connected to 0.12.1
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: bmw_connected_drive, dependency, by-code-owner, Quality Scale: No score

#87502 Update xknx to 2.4.0 - Support KNX Data Secure
  homeassistant/components/knx/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: knx, small-pr, dependency, by-code-owner, Quality Scale: platinum

#87282 Adjust matter test exception argument
  tests/components/matter/test_init.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: matter, Quality Scale: No score

#87492 Fix recorder run history during schema migration and startup
  homeassistant/components/recorder/run_history.py
  tests/components/recorder/test_run_history.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, bugfix, Quality Scale: internal
