Repository home-assistant/core, pull requests merged in 2023-10, with the labels that each got.

#101162 Bump zwave-js-server-python to 0.52.1
  homeassistant/components/zwave_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: zwave_js, Quality Scale: platinum

#101180 Update Mill library to 0.11.6
  homeassistant/components/mill/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: mill, dependency, by-code-owner, bugfix, Quality Scale: No score

#101169 Update denonavr to `0.11.4`
  homeassistant/components/denonavr/manifest.json
  homeassistant/components/denonavr/media_player.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: denonavr, dependency, by-code-owner, Quality Scale: No score

#100743 Report unavailability for yolink sensor and binary_sensor
  homeassistant/components/yolink/binary_sensor.py
  homeassistant/components/yolink/const.py
  homeassistant/components/yolink/coordinator.py
  homeassistant/components/yolink/sensor.py
Labels: cla-signed, small-pr, bugfix, integration: yolink, Quality Scale: No score

#101197 Update home-assistant/wheels to 2023.10.1
  .github/workflows/wheels.yml
Labels: Hacktoberfest, cla-signed, small-pr, dependency

#101176 Clear calendar alarms after scheduling and add debug loggging
  homeassistant/components/calendar/__init__.py
Labels: Hacktoberfest, core, cla-signed, integration: calendar, small-pr, code-quality, bugfix, Quality Scale: internal

#101200 Remove deprecated volume conversion functions
  docs/source/api/util.rst
  homeassistant/util/volume.py
  tests/util/test_unit_conversion.py
  tests/util/test_volume.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#101183 Treat strings starting with https but not htt as soundtouch media URLs
  homeassistant/components/soundtouch/media_player.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: soundtouch, bugfix, Quality Scale: No score

#101199 Remove deprecated distance conversion functions
  docs/source/api/util.rst
  homeassistant/util/distance.py
  tests/util/test_distance.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#101198 Fix binary sensor test in command_line
  tests/components/command_line/test_binary_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: command_line, has-tests, by-code-owner, bugfix, Quality Scale: No score

#101181 Catch HTML case insensitively in "no HTML" config validation
  homeassistant/components/owntracks/strings.json
  homeassistant/helpers/config_validation.py
  tests/helpers/test_config_validation.py
Labels: Hacktoberfest, core, cla-signed, small-pr, integration: owntracks, bugfix, Quality Scale: No score

#99262 Terminology: Rename Multi-PAN to Multiprotocol to be consistent
  homeassistant/components/homeassistant_hardware/silabs_multiprotocol_addon.py
  homeassistant/components/homeassistant_sky_connect/__init__.py
  homeassistant/components/homeassistant_sky_connect/config_flow.py
  homeassistant/components/homeassistant_yellow/__init__.py
  homeassistant/components/homeassistant_yellow/config_flow.py
  tests/components/homeassistant_hardware/test_silabs_multiprotocol_addon.py
  tests/components/homeassistant_sky_connect/test_init.py
  tests/components/homeassistant_yellow/test_init.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: homeassistant_yellow, integration: homeassistant_sky_connect, Quality Scale: No score

#101168 Fix rainbird entity unique ids
  homeassistant/components/rainbird/binary_sensor.py
  homeassistant/components/rainbird/calendar.py
  homeassistant/components/rainbird/coordinator.py
  homeassistant/components/rainbird/number.py
  homeassistant/components/rainbird/sensor.py
  homeassistant/components/rainbird/switch.py
  tests/components/rainbird/conftest.py
  tests/components/rainbird/test_binary_sensor.py
  tests/components/rainbird/test_calendar.py
  tests/components/rainbird/test_config_flow.py
  tests/components/rainbird/test_number.py
  tests/components/rainbird/test_sensor.py
  tests/components/rainbird/test_switch.py
Labels: cla-signed, integration: rainbird, has-tests, by-code-owner, bugfix, Quality Scale: No score

#101208 Use freezer.tick in devolo_home_network image tests
  tests/components/devolo_home_network/test_image.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: devolo_home_network, Quality Scale: platinum

#101206 Correct JSONDecodeError in co2signal
  homeassistant/components/co2signal/coordinator.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: co2signal, bugfix, Quality Scale: No score

#101205 Add config entry name to Withings webhook name
  homeassistant/components/withings/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: withings, by-code-owner, bugfix, Quality Scale: No score

#101195 icon for commandline sensors
  homeassistant/components/command_line/__init__.py
  homeassistant/components/command_line/binary_sensor.py
  tests/components/command_line/test_binary_sensor.py
  tests/components/command_line/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: command_line, has-tests, Quality Scale: No score

#101213 Bump zeroconf to 0.115.1
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: zeroconf, small-pr, dependency, by-code-owner, Quality Scale: internal

#101214 Bump aioesphomeapi to 17.0.1
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: No score

#101221 Fix withings webhook name
  homeassistant/components/withings/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: withings, by-code-owner, bugfix, Quality Scale: No score

#101192 Add RestoreEntity to Comelit cover
  homeassistant/components/comelit/cover.py
Labels: Hacktoberfest, cla-signed, by-code-owner, bugfix, Quality Scale: No score, integration: comelit

#101150 Add weatherkit sensor platform
  homeassistant/components/weatherkit/__init__.py
  homeassistant/components/weatherkit/const.py
  homeassistant/components/weatherkit/entity.py
  homeassistant/components/weatherkit/sensor.py
  homeassistant/components/weatherkit/strings.json
  homeassistant/components/weatherkit/weather.py
  tests/components/weatherkit/fixtures/weather_response.json
  tests/components/weatherkit/test_sensor.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: weatherkit

#101203 Migrate WAQI to has entity name
  homeassistant/components/waqi/sensor.py
  tests/components/waqi/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: waqi, has-tests, by-code-owner, Quality Scale: No score

#101178 Add reauth support in fitbit
  homeassistant/components/fitbit/__init__.py
  homeassistant/components/fitbit/config_flow.py
  homeassistant/components/fitbit/strings.json
  tests/components/fitbit/test_config_flow.py
  tests/components/fitbit/test_init.py
Labels: Hacktoberfest, cla-signed, new-feature, integration: fitbit, has-tests, by-code-owner, Quality Scale: No score

#101231 Bump pytrafikverket to 0.3.7
  homeassistant/components/trafikverket_camera/manifest.json
  homeassistant/components/trafikverket_ferry/manifest.json
  homeassistant/components/trafikverket_train/manifest.json
  homeassistant/components/trafikverket_weatherstation/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: trafikverket_weatherstation, integration: trafikverket_train, dependency, by-code-owner, integration: trafikverket_ferry, integration: trafikverket_camera, Quality Scale: No score

#101233 Remove imap_email_content integration
  .coveragerc
  homeassistant/components/imap/config_flow.py
  homeassistant/components/imap_email_content/__init__.py
  homeassistant/components/imap_email_content/const.py
  homeassistant/components/imap_email_content/manifest.json
  homeassistant/components/imap_email_content/repairs.py
  homeassistant/components/imap_email_content/sensor.py
  homeassistant/components/imap_email_content/strings.json
  homeassistant/generated/integrations.json
  tests/components/imap/test_config_flow.py
  tests/components/imap_email_content/__init__.py
  tests/components/imap_email_content/test_repairs.py
  tests/components/imap_email_content/test_sensor.py
Labels: Hacktoberfest, breaking-change, remove-platform, cla-signed, small-pr, integration: imap, integration: imap_email_content, has-tests, by-code-owner, cleanup, Quality Scale: No score

#101225 Remove platform YAML from Snapcast
  homeassistant/components/snapcast/config_flow.py
  homeassistant/components/snapcast/media_player.py
  tests/components/snapcast/test_config_flow.py
Labels: Hacktoberfest, breaking-change, cla-signed, small-pr, integration: snapcast, has-tests, code-quality, Quality Scale: No score

#101224 Remove platform YAML qBittorrent
  homeassistant/components/qbittorrent/config_flow.py
  homeassistant/components/qbittorrent/sensor.py
  tests/components/qbittorrent/test_config_flow.py
Labels: Hacktoberfest, breaking-change, cla-signed, small-pr, integration: qbittorrent, has-tests, code-quality, Quality Scale: No score

#101223 Remove YAML import from Workday
  homeassistant/components/workday/binary_sensor.py
  homeassistant/components/workday/config_flow.py
  homeassistant/components/workday/strings.json
  tests/components/workday/test_binary_sensor.py
  tests/components/workday/test_config_flow.py
Labels: Hacktoberfest, breaking-change, cla-signed, small-pr, integration: workday, has-tests, by-code-owner, code-quality, Quality Scale: internal

#101228 Fix most sphinx documentation warnings
  docs/source/api/data_entry_flow.rst
  docs/source/api/helpers.rst
  docs/source/conf.py
  homeassistant/helpers/config_entry_oauth2_flow.py
  homeassistant/helpers/json.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#101241 ESPHome: fix voice assistant default audio settings
  homeassistant/components/esphome/voice_assistant.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, by-code-owner, bugfix, Quality Scale: No score

#100602 Use data update coordinator in NextBus to reduce api calls
  homeassistant/components/nextbus/__init__.py
  homeassistant/components/nextbus/coordinator.py
  homeassistant/components/nextbus/manifest.json
  homeassistant/components/nextbus/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nextbus/test_sensor.py
Labels: cla-signed, integration: nextbus, has-tests, dependency, by-code-owner, code-quality, Quality Scale: No score

#101222 Remove YAML import from Brottsplatskartan
  homeassistant/components/brottsplatskartan/config_flow.py
  homeassistant/components/brottsplatskartan/sensor.py
  tests/components/brottsplatskartan/test_config_flow.py
Labels: Hacktoberfest, breaking-change, cla-signed, small-pr, integration: brottsplatskartan, by-code-owner, code-quality, Quality Scale: No score

#100996 Use async_at_started in Netatmo
  homeassistant/components/netatmo/__init__.py
Labels: integration: netatmo, cla-signed, small-pr, code-quality, Quality Scale: No score

#100869 Add secret_token support to telegram_bot component
  homeassistant/components/telegram_bot/webhooks.py
  tests/components/telegram_bot/conftest.py
  tests/components/telegram_bot/test_telegram_bot.py
Labels: cla-signed, integration: telegram_bot, small-pr, new-feature, Quality Scale: No score

#101256 Add missing device class to sensor.DEVICE_CLASS_UNITS
  homeassistant/components/sensor/const.py
  tests/components/number/test_init.py
  tests/components/sensor/test_init.py
Labels: Hacktoberfest, core, cla-signed, small-pr, integration: sensor, has-tests, by-code-owner, integration: number, Quality Scale: internal

#101255 Downgrade pylitterbot to 2023.4.5
  homeassistant/components/litterrobot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, bugfix, integration: litterrobot, Quality Scale: No score

#101249 Use class attrs and shorthand attrs for Shelly
  homeassistant/components/shelly/climate.py
  homeassistant/components/shelly/cover.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/event.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, by-code-owner, code-quality, Quality Scale: platinum

#101259 Bump aiowaqi to 2.0.0
  homeassistant/components/waqi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: waqi, by-code-owner, bugfix, Quality Scale: No score

#101252 Fix flaky lru_cache test
  tests/helpers/test_entity_values.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality, smash

#101254 Add extra validation in private_ble_device config flow
  homeassistant/components/private_ble_device/config_flow.py
  tests/components/private_ble_device/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: private_ble_device

#101251 Fix color temperature setting in broadlink light
  homeassistant/components/broadlink/light.py
Labels: cla-signed, small-pr, integration: broadlink, Quality Scale: No score

#97229 Fix loop in progress config flow
  homeassistant/data_entry_flow.py
  tests/test_data_entry_flow.py
Labels: core, cla-signed, small-pr, bugfix

#101263 Add documentation URL for the Home Assistant Green
  homeassistant/components/homeassistant_green/hardware.py
  tests/components/homeassistant_green/test_hardware.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, bugfix, Quality Scale: No score, integration: homeassistant_green

#101215 Remove invalid doc about multi origin/dest in google_travel_time
  homeassistant/components/google_travel_time/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: google_travel_time, by-code-owner, bugfix, Quality Scale: No score

#101211 Split get users into chunks of 100 for Twitch sensors
  homeassistant/components/twitch/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: twitch, bugfix, Quality Scale: No score

#101270 Fix stale docstring in intent_script
  homeassistant/components/intent_script/__init__.py
Labels: Hacktoberfest, cla-signed, integration: intent_script, small-pr, Quality Scale: internal

#101268 Fix typo in config.py
  homeassistant/config.py
Labels: Hacktoberfest, core, cla-signed, small-pr

#101179 Modernize fitbit sensors
  homeassistant/components/fitbit/sensor.py
  tests/components/fitbit/snapshots/test_sensor.ambr
Labels: Hacktoberfest, cla-signed, integration: fitbit, has-tests, by-code-owner, Quality Scale: No score

#101266 Bump python-myq to 3.1.11
  homeassistant/components/myq/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: myq, dependency, by-code-owner, Quality Scale: No score

#101273 Add support for Levoit Vital 100S Purifier
  homeassistant/components/vesync/const.py
  homeassistant/components/vesync/fan.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: vesync, Quality Scale: No score

#101281 Revert "Use shorthand attributes in Telldus live"
  homeassistant/components/tellduslive/sensor.py
Labels: Hacktoberfest, cla-signed, integration: tellduslive, small-pr, bugfix, Quality Scale: gold

#101147 Bump python-roborock to 0.34.6
  homeassistant/components/roborock/manifest.json
  homeassistant/components/roborock/strings.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/roborock/test_switch.py
  tests/components/roborock/test_time.py
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: roborock

#101282 Update pylint to 3.0.0
  pylint/plugins/hass_enforce_super_call.py
  pylint/plugins/hass_enforce_type_hints.py
  pylint/plugins/hass_imports.py
  pylint/plugins/hass_inheritance.py
  pylint/plugins/hass_logger.py
  requirements_test.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency

#101285 Bump pylitterbot to 2023.4.9
  homeassistant/components/litterrobot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, integration: litterrobot, Quality Scale: No score

#101277 Bump intents to 2023.10.2
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: conversation, small-pr, dependency, by-code-owner, Quality Scale: internal

#101290 Update ruff to v0.0.292
  .pre-commit-config.yaml
  homeassistant/components/unifi/controller.py
  pyproject.toml
  requirements_test_pre_commit.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: unifi, dependency, Quality Scale: platinum, code-owner-approved

#101294 Update frontend to 20231002.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#101297 Update Lokalise CLI to v2.6.8
  script/translations/const.py
Labels: Hacktoberfest, cla-signed, small-pr, dependency

#99900 Remove duplicated device before daikin migration
  homeassistant/components/daikin/__init__.py
  tests/components/daikin/test_init.py
Labels: cla-signed, small-pr, integration: daikin, has-tests, bugfix, Quality Scale: platinum, code-owner-approved

#101314 Revert PR #99077 for Aussie Broadband
  homeassistant/components/aussie_broadband/__init__.py
  tests/components/aussie_broadband/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: aussie_broadband, Quality Scale: No score

#101317 Bump pyW800rf32 to 0.4
  homeassistant/components/w800rf32/manifest.json
  requirements_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: w800rf32, dependency, bugfix, Quality Scale: No score

#95936 Add tea time effect to Yeelight
  homeassistant/components/yeelight/light.py
Labels: cla-signed, small-pr, new-feature, integration: yeelight, Quality Scale: platinum

#100499 Add Energyzero get_prices service
  homeassistant/components/energyzero/__init__.py
  homeassistant/components/energyzero/const.py
  homeassistant/components/energyzero/services.yaml
  homeassistant/components/energyzero/strings.json
  tests/components/energyzero/conftest.py
  tests/components/energyzero/snapshots/test_services.ambr
  tests/components/energyzero/test_services.py
Labels: cla-signed, new-feature, has-tests, Quality Scale: platinum, code-owner-approved, integration: energyzero

#101315 Fix reference error in Aussie Broadband
  homeassistant/components/aussie_broadband/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: aussie_broadband, Quality Scale: No score

#101295 Shelly - remove unused device update info call
  homeassistant/components/shelly/coordinator.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, by-code-owner, code-quality, Quality Scale: platinum

#101322 Refactor frame.get_integration_frame
  homeassistant/helpers/deprecation.py
  homeassistant/helpers/frame.py
  tests/conftest.py
  tests/helpers/test_deprecation.py
  tests/helpers/test_frame.py
Labels: Hacktoberfest, core, cla-signed

#101319 Update coverage to 7.3.2
  requirements_test.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, dependency-bump

#101327 Increase pipeline timeout to 5 minutes
  homeassistant/components/assist_pipeline/websocket_api.py
  tests/components/assist_pipeline/snapshots/test_websocket.ambr
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: internal, integration: assist_pipeline

#101335 Improve test coverage of deprecation helper
  tests/helpers/test_deprecation.py
Labels: Hacktoberfest, core, cla-signed

#101337 Make co2signal state attribute translatable
  homeassistant/components/co2signal/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: co2signal, by-code-owner, code-quality, Quality Scale: No score

#101339 Use `entity_registry_enabled_by_default` fixture in the NextDNS tests
  tests/components/nextdns/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: nextdns, Quality Scale: platinum

#101341 Pipeline runs are only equal with same id
  homeassistant/components/assist_pipeline/pipeline.py
  tests/components/assist_pipeline/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: internal, integration: assist_pipeline

#101351 Fix manual stopping of the voice assistant pipeline
  homeassistant/components/esphome/manager.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, by-code-owner, bugfix, Quality Scale: No score

#101352 Allow esphome device to disable vad on stream
  homeassistant/components/esphome/voice_assistant.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, by-code-owner, Quality Scale: No score

#101182 Remove some unnecessary uses of regular expressions
  homeassistant/components/ifttt/alarm_control_panel.py
  homeassistant/components/manual/alarm_control_panel.py
  homeassistant/components/manual_mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/helpers/config_validation.py
  script/lint_and_test.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, small-pr, integration: ifttt, integration: manual, integration: manual_mqtt, code-quality, Quality Scale: No score, Quality Scale: internal, Quality Scale: gold

#101332 Revert "Add Energyzero get_prices service (#100499)"
  homeassistant/components/energyzero/__init__.py
  homeassistant/components/energyzero/const.py
  homeassistant/components/energyzero/services.yaml
  homeassistant/components/energyzero/strings.json
  tests/components/energyzero/conftest.py
  tests/components/energyzero/snapshots/test_services.ambr
  tests/components/energyzero/test_services.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, Quality Scale: platinum, code-owner-approved, integration: energyzero

#101350 Remove deprecated speed conversion functions
  homeassistant/util/speed.py
  tests/util/test_speed.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#101347 Remove deprecated pressure conversion functions
  docs/source/api/util.rst
  homeassistant/util/pressure.py
  tests/util/test_pressure.py
Labels: Hacktoberfest, core, cla-signed, small-pr

#101204 Remove deprecated temperature conversion functions
  docs/source/api/util.rst
  homeassistant/util/temperature.py
  tests/util/test_temperature.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#101366 Increase update interval of update platform in devolo_home_network
  homeassistant/components/devolo_home_network/__init__.py
  homeassistant/components/devolo_home_network/const.py
  tests/components/devolo_home_network/test_update.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: devolo_home_network, Quality Scale: platinum

#101321 Check that dock error status is not None for Roborock
  homeassistant/components/roborock/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: roborock

#101368 Update Pillow to 10.0.1
  homeassistant/components/doods/manifest.json
  homeassistant/components/generic/manifest.json
  homeassistant/components/image_upload/manifest.json
  homeassistant/components/matrix/manifest.json
  homeassistant/components/proxy/manifest.json
  homeassistant/components/qrcode/manifest.json
  homeassistant/components/seven_segments/manifest.json
  homeassistant/components/sighthound/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency

#101316 Fix temperature when myZone is in use for Advantage air
  homeassistant/components/advantage_air/climate.py
  homeassistant/components/advantage_air/entity.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, integration: advantage_air, Quality Scale: platinum

#101362 Notify users when zwave device gets reset
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/helpers.py
  tests/components/zwave_js/test_init.py
Labels: Hacktoberfest, cla-signed, new-feature, has-tests, by-code-owner, integration: zwave_js, Quality Scale: platinum, zwave-certification

#101338 Update `DeviceInfo.sw_version` value for Shelly Gen2 sleeping devices
  homeassistant/components/shelly/coordinator.py
  homeassistant/components/shelly/utils.py
  tests/components/shelly/test_coordinator.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: shelly, has-tests, by-code-owner, Quality Scale: platinum

#101336 Add loader.async_suggest_report_issue and loader.async_get_issue_tracker
  homeassistant/helpers/entity.py
  homeassistant/loader.py
  tests/components/sensor/test_init.py
  tests/helpers/test_entity.py
  tests/test_loader.py
Labels: Hacktoberfest, core, cla-signed

#101379 Use `entity_registry_enabled_by_default` fixture in Kraken tests
  tests/components/kraken/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: kraken, code-quality, Quality Scale: No score

#101397 Fix Withings translations
  homeassistant/components/withings/sensor.py
  homeassistant/components/withings/strings.json
  tests/components/withings/snapshots/test_sensor.ambr
Labels: Hacktoberfest, cla-signed, small-pr, integration: withings, has-tests, by-code-owner, bugfix, Quality Scale: No score

#101403 Fix translation keys in Hue
  homeassistant/components/hue/strings.json
Labels: Hacktoberfest, cla-signed, integration: hue, small-pr, bugfix, Quality Scale: platinum, code-owner-approved

#101399 Raise vol.Invalid for invalid mqtt device_tracker config
  homeassistant/components/mqtt/device_tracker.py
  tests/components/mqtt/test_discovery.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: gold

#101387 Minor improvement of frame helper
  homeassistant/helpers/frame.py
  tests/helpers/test_frame.py
  tests/testing_config/custom_components/test_integration_frame/__init__.py
  tests/testing_config/custom_components/test_integration_frame/manifest.json
Labels: Hacktoberfest, core, cla-signed

#101381 Bump plexapi to 4.15.4
  homeassistant/components/plex/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: plex, dependency, by-code-owner, Quality Scale: No score

#101406 Bump dbus-fast to 2.11.1
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#101173 Handle invalid scale for zwave_js multilevel/meter sensors
  homeassistant/components/zwave_js/discovery_data_template.py
  tests/components/zwave_js/test_sensor.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: zwave_js, Quality Scale: platinum, zwave-certification

#101435 Bump env_canada to v0.5.37
  homeassistant/components/environment_canada/manifest.json
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: environment_canada, by-code-owner, bugfix, Quality Scale: No score

#101363 Bump pyyardian to 1.1.1
  homeassistant/components/yardian/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: yardian

#101416 Add translation for Tamper binary sensor
  homeassistant/components/binary_sensor/strings.json
Labels: Hacktoberfest, core, cla-signed, integration: binary_sensor, small-pr, bugfix, Quality Scale: internal

#101457 Fix call to API in airnow option flow tests
  tests/components/airnow/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: airnow, Quality Scale: No score

#101458 Fix airnow test fixture
  tests/components/airnow/conftest.py
  tests/components/airnow/test_diagnostics.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: airnow, Quality Scale: No score

#101480 Update frontend to 20231005.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#101482 Bump zeroconf to 0.115.2
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: zeroconf, small-pr, dependency, by-code-owner, Quality Scale: internal

#101472 Fix typo -> "Kay" to "Key" in Minio
  homeassistant/components/minio/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: minio, Quality Scale: No score

#101392 Correct checks for deprecated forecast in weather
  homeassistant/components/weather/__init__.py
  homeassistant/components/weather/strings.json
  tests/components/weather/test_init.py
  tests/testing_config/custom_components/test/weather.py
Labels: Hacktoberfest, core, cla-signed, integration: weather, has-tests, by-code-owner, Quality Scale: internal

#101390 Use loader.async_suggest_report_issue in stt
  homeassistant/components/stt/__init__.py
Labels: Hacktoberfest, core, cla-signed, small-pr, by-code-owner, integration: stt, Quality Scale: internal

#101454 Add Python copyright and Python license to backports package
  homeassistant/backports/LICENSE.Python
  homeassistant/backports/README
  homeassistant/backports/functools.py
Labels: Hacktoberfest, core, cla-signed

#101389 Use loader.async_suggest_report_issue in sensor
  homeassistant/components/sensor/recorder.py
  tests/components/sensor/test_recorder.py
Labels: Hacktoberfest, core, cla-signed, small-pr, integration: sensor, by-code-owner, Quality Scale: internal

#101442 Use snapshot in devolo_home_network update tests
  tests/components/devolo_home_network/snapshots/test_update.ambr
  tests/components/devolo_home_network/test_update.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: devolo_home_network, Quality Scale: platinum

#101372 Update homeassistant color
  homeassistant/util/color.py
Labels: Hacktoberfest, core, cla-signed, small-pr, bugfix

#101391 Use loader.async_suggest_report_issue in vacuum
  homeassistant/components/vacuum/__init__.py
  homeassistant/components/vacuum/strings.json
  tests/components/vacuum/test_init.py
Labels: Hacktoberfest, core, cla-signed, integration: vacuum, small-pr, has-tests, by-code-owner, Quality Scale: internal

#101481 Update pyfibaro dependency to 0.7.5
  homeassistant/components/fibaro/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: fibaro, dependency, by-code-owner, Quality Scale: No score

#101487 bump pywaze to 0.5.1 sets timeout to 60s
  homeassistant/components/waze_travel_time/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: waze_travel_time, dependency, by-code-owner, bugfix, Quality Scale: No score

#101491 Fix key error in config flow when duplicate stop names exist
  homeassistant/components/nextbus/config_flow.py
  tests/components/nextbus/conftest.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: nextbus, has-tests, by-code-owner, bugfix, Quality Scale: No score

#101483 Remove logging of retrying config entry warning
  homeassistant/config_entries.py
  tests/components/nest/test_init.py
  tests/components/yeelight/test_init.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#101463 Fix Trafikverket Camera if no location data
  homeassistant/components/trafikverket_camera/config_flow.py
  tests/components/trafikverket_camera/conftest.py
  tests/components/trafikverket_camera/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: trafikverket_camera, Quality Scale: No score

#101493 Update nibe library to 2.4.0
  homeassistant/components/nibe_heatpump/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, integration: nibe_heatpump, Quality Scale: No score

#101304 Update fitbit error handling
  homeassistant/components/fitbit/__init__.py
  homeassistant/components/fitbit/api.py
  homeassistant/components/fitbit/application_credentials.py
  homeassistant/components/fitbit/config_flow.py
  homeassistant/components/fitbit/exceptions.py
  homeassistant/components/fitbit/sensor.py
  tests/components/fitbit/test_config_flow.py
  tests/components/fitbit/test_sensor.py
Labels: Hacktoberfest, cla-signed, integration: fitbit, has-tests, by-code-owner, Quality Scale: No score

#101464 Increase max bind vars based on database version
  homeassistant/components/recorder/const.py
  homeassistant/components/recorder/core.py
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/models/database.py
  homeassistant/components/recorder/purge.py
  homeassistant/components/recorder/queries.py
  homeassistant/components/recorder/table_managers/event_data.py
  homeassistant/components/recorder/table_managers/event_types.py
  homeassistant/components/recorder/table_managers/state_attributes.py
  homeassistant/components/recorder/table_managers/states_meta.py
  homeassistant/components/recorder/util.py
  tests/components/recorder/test_purge.py
  tests/components/recorder/test_purge_v32_schema.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, has-tests, Quality Scale: internal, database: sqlite3, database: mariadb, database: postgresql, database: mysql

#101485 Change OpenWeatherMap unit_of_measurement from mm to mm/h
  homeassistant/components/openweathermap/sensor.py
Labels: Hacktoberfest, breaking-change, cla-signed, small-pr, integration: openweathermap, Quality Scale: No score

#101500 Correct device_class test for mqtt button
  tests/components/mqtt/test_button.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: gold

#101462 SMA add missing entity descriptions
  homeassistant/components/sma/sensor.py
  tests/components/sma/test_sensor.py
Labels: Hacktoberfest, cla-signed, integration: sma, has-tests, by-code-owner, bugfix, Quality Scale: No score

#101496 Add codeowner for Aranet
  CODEOWNERS
  homeassistant/components/aranet/manifest.json
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, Quality Scale: No score, integration: aranet

#101512 Fix for rainbird unique id
  homeassistant/components/rainbird/calendar.py
  homeassistant/components/rainbird/number.py
  homeassistant/components/rainbird/sensor.py
  homeassistant/components/rainbird/switch.py
  tests/components/rainbird/test_switch.py
Labels: Hacktoberfest, cla-signed, integration: rainbird, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#101490 Fix caching of latest short term stats after insertion of external stats
  homeassistant/components/recorder/statistics.py
  tests/components/recorder/test_websocket_api.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr, has-tests, bugfix, Quality Scale: internal

#101417 Add wake word cooldown to avoid duplicate wake-ups
  homeassistant/components/assist_pipeline/__init__.py
  homeassistant/components/assist_pipeline/const.py
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/assist_pipeline/websocket_api.py
  tests/components/assist_pipeline/snapshots/test_init.ambr
  tests/components/assist_pipeline/snapshots/test_websocket.ambr
  tests/components/assist_pipeline/test_init.py
  tests/components/assist_pipeline/test_websocket.py
Labels: Hacktoberfest, cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: internal, integration: assist_pipeline

#101510 Fix bug in calendar state where alarms due to alarms not scheduled
  homeassistant/components/calendar/__init__.py
Labels: Hacktoberfest, core, cla-signed, integration: calendar, small-pr, bugfix, Quality Scale: internal

#101418 Adjust WeatherFlow wind sensors to appropriately match native unit and library field
  homeassistant/components/weatherflow/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: weatherflow, Quality Scale: No score

#101393 Use loader.async_suggest_report_issue in deprecation helper
  homeassistant/helpers/deprecation.py
  tests/helpers/test_deprecation.py
Labels: core, cla-signed

#101287 Update grpcio to 1.59.0
  .github/workflows/wheels.yml
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency

#101494 Add type hints in FibaroController
  homeassistant/components/fibaro/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: fibaro, by-code-owner, code-quality, Quality Scale: No score

#101412 Add raw sensor to BTHome
  homeassistant/components/bthome/manifest.json
  homeassistant/components/bthome/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bthome/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, has-tests, by-code-owner, integration: bthome, Quality Scale: No score

#101495 Add support for Aranet2 devices
  homeassistant/components/aranet/manifest.json
  homeassistant/components/aranet/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/aranet/__init__.py
  tests/components/aranet/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, has-tests, dependency, by-code-owner, Quality Scale: No score, integration: aranet

#101257 Add WS command sensor/numeric_device_classes
  homeassistant/components/sensor/websocket_api.py
  tests/components/sensor/test_websocket_api.py
Labels: Hacktoberfest, core, cla-signed, small-pr, integration: sensor, has-tests, by-code-owner, Quality Scale: internal

#101377 Add missing return type in Advantage Air
  homeassistant/components/advantage_air/climate.py
  homeassistant/components/advantage_air/entity.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: advantage_air, Quality Scale: platinum

#101524 Use config flow in color extractor tests
  tests/components/color_extractor/conftest.py
  tests/components/color_extractor/fixtures/color_extractor_file.txt
  tests/components/color_extractor/fixtures/color_extractor_url.txt
  tests/components/color_extractor/test_init.py
  tests/components/color_extractor/test_service.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, code-quality, integration: color_extractor, Quality Scale: No score

#101382 Avoid updating hassio addon data when there are no entities consuming it
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/const.py
  homeassistant/components/hassio/entity.py
  tests/components/hassio/test_sensor.py
Labels: Hacktoberfest, core, cla-signed, integration: hassio, Quality Scale: internal

#101364 Use string conversion over isinstance in mqtt message handling if possible
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/device_tracker.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, small-pr, by-code-owner, code-quality, Quality Scale: gold

#101139 Using the MarkdownV2 parser with the Telegram bot
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/telegram_bot/services.yaml
Labels: cla-signed, integration: telegram_bot, small-pr, bugfix, smash, Quality Scale: No score

#101527 Delete existing Withings cloudhook
  homeassistant/components/withings/__init__.py
  tests/components/withings/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: withings, by-code-owner, bugfix, Quality Scale: No score

#101185 Call pytest as python3 -m pytest
  .vscode/tasks.json
  script/lint_and_test.py
  script/scaffold/__main__.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality

#101514 Limit waze_travel_time to 0.5call/s over all entries
  homeassistant/components/waze_travel_time/__init__.py
  homeassistant/components/waze_travel_time/const.py
  homeassistant/components/waze_travel_time/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: waze_travel_time, by-code-owner, bugfix, smash, Quality Scale: No score

#101229 Allow remove devices in Scrape
  homeassistant/components/scrape/__init__.py
  tests/components/scrape/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: scrape, has-tests, by-code-owner, code-quality, bugfix, Quality Scale: No score

#101528 Remove unnecessary defaults from Netatmo sensor
  homeassistant/components/netatmo/sensor.py
Labels: Hacktoberfest, integration: netatmo, cla-signed, small-pr, code-quality, Quality Scale: No score

#101513 React on changed firmware version in devolo_home_network
  homeassistant/components/devolo_home_network/__init__.py
  tests/components/devolo_home_network/mock.py
  tests/components/devolo_home_network/test_update.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, has-tests, by-code-owner, integration: devolo_home_network, Quality Scale: platinum

#94998 Add override decorators to sensor
  homeassistant/components/sensor/__init__.py
Labels: core, cla-signed, small-pr, integration: sensor, Quality Scale: internal

#96751 Migrate Samsung TV to has entity name
  homeassistant/components/samsungtv/entity.py
  homeassistant/components/samsungtv/media_player.py
  homeassistant/components/samsungtv/remote.py
  tests/components/samsungtv/snapshots/test_init.ambr
Labels: cla-signed, small-pr, new-feature, integration: samsungtv, Quality Scale: No score

#95310 Add entity translations to Goalzero
  homeassistant/components/goalzero/binary_sensor.py
  homeassistant/components/goalzero/sensor.py
  homeassistant/components/goalzero/strings.json
  homeassistant/components/goalzero/switch.py
  tests/components/goalzero/test_sensor.py
Labels: cla-signed, new-feature, by-code-owner, integration: goalzero, Quality Scale: silver

#101529 Modbus, wrong length when reading strings
  homeassistant/components/modbus/validators.py
Labels: Hacktoberfest, cla-signed, integration: modbus, small-pr, by-code-owner, bugfix, Quality Scale: gold

#101530 Correct doc strings for Hassio component
  homeassistant/components/hassio/update.py
Labels: Hacktoberfest, core, cla-signed, integration: hassio, small-pr, code-quality, Quality Scale: internal

#97667 Fix GDACS import issue creation
  homeassistant/components/gdacs/__init__.py
  homeassistant/components/gdacs/config_flow.py
  tests/components/gdacs/test_config_flow.py
Labels: cla-signed, has-tests, integration: gdacs, bugfix, Quality Scale: platinum
