Repository home-assistant/core, pull requests merged in 2024-03, with the labels that each got.

#111898 Limit executor imports to a single thread
  homeassistant/core.py
  homeassistant/loader.py
  tests/components/zwave_js/test_update.py
  tests/test_core.py
Labels: core, cla-signed, small-pr

#111875 Fix circular imports in core integrations
  homeassistant/components/http/__init__.py
  homeassistant/components/http/auth.py
  homeassistant/components/http/ban.py
  homeassistant/components/http/const.py
  homeassistant/components/http/request_context.py
  homeassistant/components/http/view.py
  homeassistant/components/websocket_api/connection.py
  homeassistant/helpers/http.py
  tests/test_circular_imports.py
Labels: core, cla-signed, small-pr

#111903 Change `hass.components` removal version in log to 2024.9
  homeassistant/loader.py
Labels: core, cla-signed, small-pr, bugfix

#111892 Fix unsupported device type in deCONZ integration
  homeassistant/components/deconz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: deconz, small-pr, dependency, by-code-owner, bugfix, Quality Scale: platinum

#111912 Remove unused variable in stats _sorted_statistics_to_dict
  homeassistant/components/recorder/statistics.py
Labels: core, integration: recorder, cla-signed, small-pr, code-quality, Quality Scale: internal

#111289 Add person tracking for UniFi Protect
  homeassistant/components/unifiprotect/binary_sensor.py
  homeassistant/components/unifiprotect/switch.py
  tests/components/unifiprotect/test_switch.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, integration: unifiprotect, Quality Scale: platinum

#111867 Move HassSetPosition to homeassistant domain
  homeassistant/components/cover/intent.py
  homeassistant/components/intent/__init__.py
  homeassistant/components/valve/intent.py
  homeassistant/helpers/intent.py
  tests/components/conversation/test_default_agent_intents.py
  tests/components/cover/test_intent.py
  tests/components/intent/test_init.py
  tests/components/valve/test_intent.py
Labels: core, cla-signed, integration: cover, integration: conversation, integration: intent, has-tests, by-code-owner, bugfix, Quality Scale: internal, integration: valve

#111391 Add Vallox filter replacement date
  homeassistant/components/vallox/__init__.py
  homeassistant/components/vallox/date.py
  homeassistant/components/vallox/strings.json
  tests/components/vallox/conftest.py
  tests/components/vallox/test_date.py
Labels: new-platform, cla-signed, new-feature, has-tests, integration: vallox, by-code-owner, Quality Scale: No score

#111853 Add icon translations to Kodi
  homeassistant/components/kodi/icons.json
Labels: cla-signed, small-pr, new-feature, integration: kodi, Quality Scale: No score

#111514 Add icon translations to Enocean
  homeassistant/components/enocean/icons.json
  homeassistant/components/enocean/sensor.py
Labels: cla-signed, integration: enocean, small-pr, new-feature, Quality Scale: No score

#111532 Add icon translations to EZVIZ
  homeassistant/components/ezviz/button.py
  homeassistant/components/ezviz/icons.json
  homeassistant/components/ezviz/number.py
  homeassistant/components/ezviz/select.py
Labels: cla-signed, new-feature, integration: ezviz, Quality Scale: No score

#111540 Add icon translations to Flipr
  homeassistant/components/flipr/icons.json
  homeassistant/components/flipr/sensor.py
  tests/components/flipr/test_sensor.py
Labels: cla-signed, small-pr, new-feature, integration: flipr, Quality Scale: No score

#111545 Add icon translations to Flux LED
  homeassistant/components/flux_led/button.py
  homeassistant/components/flux_led/icons.json
  homeassistant/components/flux_led/number.py
  homeassistant/components/flux_led/select.py
  homeassistant/components/flux_led/sensor.py
  homeassistant/components/flux_led/switch.py
Labels: cla-signed, new-feature, integration: flux_led, Quality Scale: No score

#111810 Add icon translations to Hydrawise
  homeassistant/components/hydrawise/icons.json
  homeassistant/components/hydrawise/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: hydrawise, Quality Scale: No score

#108794 Add reconfigure step to config flow
  homeassistant/components/config/config_entries.py
  homeassistant/config_entries.py
  homeassistant/helpers/data_entry_flow.py
  tests/components/config/test_config_entries.py
  tests/test_config_entries.py
Labels: core, cla-signed, integration: config, new-feature, Quality Scale: internal

#111904 Add icon translations to Medcom BLE
  homeassistant/components/medcom_ble/icons.json
  homeassistant/components/medcom_ble/sensor.py
Labels: cla-signed, small-pr, new-feature, Quality Scale: No score, integration: medcom_ble

#111851 Add icon translations to Keymitt BLE
  homeassistant/components/keymitt_ble/icons.json
Labels: cla-signed, small-pr, new-feature, integration: keymitt_ble, Quality Scale: No score

#111842 Add icon translations to IFTTT
  homeassistant/components/ifttt/icons.json
Labels: cla-signed, small-pr, new-feature, integration: ifttt, Quality Scale: No score

#111813 Add icon translations to Idasen desk
  homeassistant/components/idasen_desk/button.py
  homeassistant/components/idasen_desk/cover.py
  homeassistant/components/idasen_desk/icons.json
  homeassistant/components/idasen_desk/sensor.py
  homeassistant/components/idasen_desk/strings.json
Labels: cla-signed, new-feature, Quality Scale: silver, integration: idasen_desk

#111896 Add icon translations to Lidarr
  homeassistant/components/lidarr/icons.json
  homeassistant/components/lidarr/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: lidarr, Quality Scale: No score

#111895 Add icon translations to LCN
  homeassistant/components/lcn/icons.json
Labels: cla-signed, small-pr, new-feature, integration: lcn, Quality Scale: No score

#111932 Remove config flow specifics from FlowResult
  homeassistant/config_entries.py
  homeassistant/data_entry_flow.py
  pylint/plugins/hass_enforce_type_hints.py
  tests/pylint/test_enforce_type_hints.py
Labels: core, cla-signed, small-pr

#111897 Add icon translations to LifX
  homeassistant/components/lifx/icons.json
Labels: cla-signed, small-pr, new-feature, integration: lifx, Quality Scale: No score

#111908 Add icon translations to min max
  homeassistant/components/min_max/icons.json
Labels: cla-signed, small-pr, new-feature, integration: min_max, Quality Scale: internal

#111928 Add icon translations to Minecraft Server
  homeassistant/components/minecraft_server/binary_sensor.py
  homeassistant/components/minecraft_server/icons.json
  homeassistant/components/minecraft_server/sensor.py
  tests/components/minecraft_server/snapshots/test_binary_sensor.ambr
  tests/components/minecraft_server/snapshots/test_sensor.ambr
Labels: cla-signed, new-feature, integration: minecraft_server, Quality Scale: gold

#111907 Add icon translations to Mill
  homeassistant/components/mill/icons.json
Labels: cla-signed, small-pr, new-feature, integration: mill, Quality Scale: No score

#111258 Update mypy to a custom version
  homeassistant/core.py
  requirements_test.txt
Labels: core, cla-signed, small-pr, dependency

#111900 Add icon translations to Local IP
  homeassistant/components/local_ip/icons.json
  homeassistant/components/local_ip/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: local_ip, Quality Scale: No score

#111902 Add icon translations to Lyric
  homeassistant/components/lyric/icons.json
  homeassistant/components/lyric/sensor.py
Labels: cla-signed, integration: lyric, small-pr, new-feature, Quality Scale: silver

#102884 Fix utility meter reset without tarrifs
  homeassistant/components/utility_meter/sensor.py
  tests/components/utility_meter/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: utility_meter, has-tests, bugfix, Quality Scale: internal

#111940 Fix LingeringTask after test completion in enphase_envoy
  tests/components/enphase_envoy/test_config_flow.py
Labels: cla-signed, small-pr, integration: enphase_envoy, has-tests, by-code-owner, code-quality, Quality Scale: No score

#111965 Fix loader test warning
  tests/test_loader.py
Labels: core, cla-signed, small-pr, code-quality

#111961 Update frontend to 20240301.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#111945 Add icon translations to MQTT
  homeassistant/components/mqtt/icons.json
Labels: core, cla-signed, integration: mqtt, small-pr, new-feature, Quality Scale: gold

#111947 Add icon translations to Neato
  homeassistant/components/neato/icons.json
  homeassistant/components/neato/vacuum.py
Labels: cla-signed, integration: neato, small-pr, new-feature, Quality Scale: No score

#111946 Add icon translations to Nanoleaf
  homeassistant/components/nanoleaf/icons.json
  homeassistant/components/nanoleaf/light.py
Labels: cla-signed, small-pr, new-feature, integration: nanoleaf, Quality Scale: No score

#111935 Add icon translations to Motion blinds
  homeassistant/components/motion_blinds/icons.json
Labels: cla-signed, small-pr, new-feature, integration: motion_blinds, Quality Scale: No score

#111929 Add icon translations to Modem callerID
  homeassistant/components/modem_callerid/button.py
  homeassistant/components/modem_callerid/const.py
  homeassistant/components/modem_callerid/icons.json
  homeassistant/components/modem_callerid/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: modem_callerid, Quality Scale: No score

#111905 Use default icon for Melcloud
  homeassistant/components/melcloud/icons.json
  homeassistant/components/melcloud/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: melcloud, Quality Scale: No score

#111973 Fix generic HassJob typing
  homeassistant/helpers/service.py
Labels: core, cla-signed, small-pr, code-quality

#111976 Fix util create_eager_task typing
  homeassistant/util/async_.py
Labels: core, cla-signed, small-pr, code-quality

#111969 Update reporting for media_source.async_resolve_media
  homeassistant/components/media_source/__init__.py
  tests/components/jellyfin/test_media_source.py
  tests/components/media_source/test_init.py
  tests/components/reolink/test_media_source.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: media_source, Quality Scale: internal

#111930 Bump pyOverkiz to 1.13.8
  homeassistant/components/overkiz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: overkiz, Quality Scale: No score

#111984 Add icon translations to Notion
  homeassistant/components/notion/icons.json
  homeassistant/components/notion/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: notion, Quality Scale: No score

#112002 Bump Zigpy to 0.63.3
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, Quality Scale: No score

#111933 Add icon translations to Modern Forms
  homeassistant/components/modern_forms/__init__.py
  homeassistant/components/modern_forms/binary_sensor.py
  homeassistant/components/modern_forms/icons.json
  homeassistant/components/modern_forms/light.py
  homeassistant/components/modern_forms/sensor.py
  homeassistant/components/modern_forms/switch.py
  tests/components/modern_forms/test_binary_sensor.py
  tests/components/modern_forms/test_sensor.py
  tests/components/modern_forms/test_switch.py
Labels: cla-signed, new-feature, integration: modern_forms, Quality Scale: No score

#111982 Add icon translations to Nextcloud
  homeassistant/components/nextcloud/icons.json
  homeassistant/components/nextcloud/sensor.py
Labels: cla-signed, new-feature, integration: nextcloud, Quality Scale: No score

#111985 Add icon translations to NZBGet
  homeassistant/components/nzbget/icons.json
Labels: cla-signed, small-pr, new-feature, integration: nzbget, Quality Scale: No score

#111974 Add icon translations to Netgear LTE
  homeassistant/components/netgear_lte/icons.json
  homeassistant/components/netgear_lte/sensor.py
  tests/components/netgear_lte/snapshots/test_sensor.ambr
Labels: cla-signed, new-feature, integration: netgear_lte, has-tests, Quality Scale: No score

#111989 Add icon translations to Omnilogic
  homeassistant/components/omnilogic/icons.json
Labels: cla-signed, small-pr, new-feature, integration: omnilogic, Quality Scale: No score

#111990 Add icon translations to Ondilo ico
  homeassistant/components/ondilo_ico/icons.json
  homeassistant/components/ondilo_ico/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: ondilo_ico, Quality Scale: No score

#111988 Add icon translations to Octoprint
  homeassistant/components/octoprint/icons.json
Labels: cla-signed, integration: octoprint, small-pr, new-feature, Quality Scale: No score

#111994 Add icon translations to Opensky
  homeassistant/components/opensky/icons.json
  homeassistant/components/opensky/sensor.py
  tests/components/opensky/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, new-feature, integration: opensky, by-code-owner, Quality Scale: No score

#111993 Add icon translations to Openhome
  homeassistant/components/openhome/icons.json
Labels: cla-signed, small-pr, new-feature, integration: openhome, Quality Scale: No score

#111992 Add icon translations to OpenAI Conversation
  homeassistant/components/openai_conversation/icons.json
Labels: cla-signed, small-pr, new-feature, Quality Scale: No score, integration: openai_conversation

#111997 Add icon translations to ovo energy
  homeassistant/components/ovo_energy/icons.json
  homeassistant/components/ovo_energy/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: ovo_energy, Quality Scale: No score

#112006 Fix minor language issues in strings.json
  homeassistant/components/random/strings.json
  homeassistant/components/template/strings.json
Labels: cla-signed, small-pr, integration: template, integration: random, code-quality, Quality Scale: internal

#112001 Reduce ESPHome reconnect time
  homeassistant/components/esphome/manager.py
Labels: cla-signed, small-pr, integration: esphome, by-code-owner, code-quality, Quality Scale: No score

#112007 Reduce samsungtv startup time
  homeassistant/components/samsungtv/media_player.py
Labels: cla-signed, small-pr, integration: samsungtv, code-quality, Quality Scale: No score

#111927 Convert command_line to use asyncio for subprocesses
  homeassistant/components/command_line/binary_sensor.py
  homeassistant/components/command_line/cover.py
  homeassistant/components/command_line/sensor.py
  homeassistant/components/command_line/switch.py
  homeassistant/components/command_line/utils.py
  tests/components/command_line/__init__.py
  tests/components/command_line/test_binary_sensor.py
  tests/components/command_line/test_cover.py
  tests/components/command_line/test_sensor.py
  tests/components/command_line/test_switch.py
Labels: cla-signed, integration: command_line, Quality Scale: No score

#111964 Apply better names to a couple of dicts in Axis config flow
  homeassistant/components/axis/config_flow.py
Labels: cla-signed, integration: axis, small-pr, by-code-owner, code-quality, Quality Scale: platinum

#111983 Add icon translations to Nmap tracker
  homeassistant/components/nmap_tracker/device_tracker.py
  homeassistant/components/nmap_tracker/icons.json
Labels: cla-signed, small-pr, new-feature, integration: nmap_tracker, Quality Scale: No score

#111995 Add icon translations to Opentherm gw
  homeassistant/components/opentherm_gw/icons.json
Labels: cla-signed, small-pr, new-feature, integration: opentherm_gw, Quality Scale: No score

#111991 Add entity and icon translations to Onvif
  homeassistant/components/onvif/icons.json
  homeassistant/components/onvif/strings.json
  homeassistant/components/onvif/switch.py
Labels: cla-signed, new-feature, integration: onvif, Quality Scale: No score

#111972 Add icon translations to Netgear
  homeassistant/components/netgear/icons.json
  homeassistant/components/netgear/sensor.py
  homeassistant/components/netgear/switch.py
Labels: cla-signed, new-feature, integration: netgear, Quality Scale: No score

#112037 Fix config schema for velux
  homeassistant/components/velux/__init__.py
Labels: cla-signed, integration: velux, small-pr, Quality Scale: No score

#111878 Remove deprecated `hass.components.hassio` usage
  homeassistant/helpers/network.py
  homeassistant/helpers/system_info.py
  tests/components/hassio/test_init.py
  tests/helpers/test_network.py
Labels: core, cla-signed, integration: hassio, has-tests, code-quality, Quality Scale: internal

#112044 Streamline naming in the Axis integration
  homeassistant/components/axis/__init__.py
  homeassistant/components/axis/binary_sensor.py
  homeassistant/components/axis/camera.py
  homeassistant/components/axis/config_flow.py
  homeassistant/components/axis/diagnostics.py
  homeassistant/components/axis/entity.py
  homeassistant/components/axis/hub/__init__.py
  homeassistant/components/axis/hub/api.py
  homeassistant/components/axis/hub/hub.py
  homeassistant/components/axis/light.py
  homeassistant/components/axis/switch.py
  tests/components/axis/test_config_flow.py
  tests/components/axis/test_device.py
  tests/components/axis/test_init.py
Labels: cla-signed, integration: axis, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#112035 Use description key instead of name for Tibber RT unique ID
  homeassistant/components/tibber/sensor.py
Labels: cla-signed, small-pr, integration: tibber, bugfix, Quality Scale: silver

#112034 Update aioairzone-cloud to v0.4.5
  homeassistant/components/airzone_cloud/__init__.py
  homeassistant/components/airzone_cloud/config_flow.py
  homeassistant/components/airzone_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/airzone_cloud/test_coordinator.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, Quality Scale: No score, integration: airzone_cloud

#112040 Bump weatherflow4py to v0.1.12
  homeassistant/components/weatherflow_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score, integration: weatherflow_cloud

#112029 Simplify load_executor check in loader
  homeassistant/loader.py
Labels: core, cla-signed, small-pr, code-quality

#112058 Import co2signal in the executor to avoid blocking the event loop
  homeassistant/components/co2signal/manifest.json
Labels: cla-signed, small-pr, integration: co2signal, code-quality, Quality Scale: No score

#112053 Import ambient_station in the executor to avoid blocking the event loop
  homeassistant/components/ambient_station/manifest.json
Labels: cla-signed, small-pr, integration: ambient_station, code-quality, Quality Scale: No score

#112056 Bump unifi-discovery to 1.1.8
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: unifiprotect, Quality Scale: platinum

#112032 Refactor file_upload to avoid janus dep
  homeassistant/components/file_upload/__init__.py
  homeassistant/components/file_upload/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/file_upload/test_init.py
  tests/test_requirements.py
Labels: core, cla-signed, small-pr, code-quality, integration: file_upload, Quality Scale: internal

#112052 Import anonymize_data in unifiprotect init to avoid it being imported in the event loop
  homeassistant/components/unifiprotect/__init__.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: unifiprotect, Quality Scale: platinum

#112062 Add device class for permobil record distance sensor
  homeassistant/components/permobil/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: permobil

#112060 Bump bthome-ble to 3.6.0
  homeassistant/components/bthome/config_flow.py
  homeassistant/components/bthome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, bugfix, integration: bthome, Quality Scale: No score

#112064 Only load camera prefs once
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/prefs.py
Labels: core, integration: camera, cla-signed, small-pr, bugfix, Quality Scale: internal

#112065 Import snmp in the executor to avoid blocking the event loop
  homeassistant/components/snmp/manifest.json
Labels: cla-signed, small-pr, integration: snmp, code-quality, Quality Scale: No score

#112068 Fix setup failure due to temporary DNS issue in Minecraft Server
  homeassistant/components/minecraft_server/__init__.py
  tests/components/minecraft_server/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: minecraft_server, bugfix, Quality Scale: gold

#112031 Pre-import more frontend deps to avoid importing when the event loop is running
  homeassistant/bootstrap.py
  tests/test_bootstrap.py
Labels: core, cla-signed, small-pr

#112071 Switch config to use async_get_component/async_get_platform
  homeassistant/config.py
  tests/test_config.py
Labels: core, cla-signed, small-pr, code-quality

#112077 Import switchbot in the executor to avoid blocking the event loop
  homeassistant/components/switchbot/manifest.json
Labels: cla-signed, small-pr, integration: switchbot, code-quality, Quality Scale: No score

#112085 Avoid expensive inspect calls in config validators
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/frame.py
  tests/helpers/test_config_validation.py
  tests/helpers/test_frame.py
  tests/testing_config/custom_components/test_integration_frame/__init__.py
Labels: core, cla-signed, bugfix

#112089 Import smtp in the executor to avoid blocking the loop
  homeassistant/components/smtp/manifest.json
Labels: cla-signed, small-pr, integration: smtp, code-quality, Quality Scale: No score

#112087 Import integrations using sense-energy in the executor to avoid loop blocking
  homeassistant/components/emulated_kasa/manifest.json
  homeassistant/components/sense/manifest.json
Labels: cla-signed, small-pr, integration: sense, code-quality, integration: emulated_kasa, Quality Scale: No score, Quality Scale: internal

#112086 Import baf in the executor to avoid blocking the event loop
  homeassistant/components/baf/manifest.json
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: baf, Quality Scale: No score

#112084 Fix executor being overloaded in caldav
  homeassistant/components/caldav/api.py
Labels: cla-signed, small-pr, integration: caldav, code-quality, Quality Scale: No score

#112082 Fix bootstrap being fetched three times during unifiprotect startup
  homeassistant/components/unifiprotect/__init__.py
  homeassistant/components/unifiprotect/migrate.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: unifiprotect, Quality Scale: platinum

#112081 Import caldav in the executor to avoid blocking the event loop
  homeassistant/components/caldav/manifest.json
Labels: cla-signed, small-pr, integration: caldav, code-quality, Quality Scale: No score

#112080 Import yeelight in the executor to avoid blocking the event loop
  homeassistant/components/yeelight/manifest.json
Labels: cla-signed, small-pr, integration: yeelight, code-quality, Quality Scale: platinum

#112079 Ensure all homekit_controller controllers are imported in advance
  homeassistant/components/homekit_controller/__init__.py
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, code-quality, Quality Scale: No score

#112070 Import template in the executor to avoid blocking the event loop
  homeassistant/components/template/manifest.json
Labels: cla-signed, small-pr, integration: template, code-quality, Quality Scale: internal

#112078 Import stream in the executor to avoid blocking the event loop
  homeassistant/components/stream/__init__.py
  homeassistant/components/stream/manifest.json
Labels: core, cla-signed, small-pr, integration: stream, code-quality, Quality Scale: internal

#112066 Bump pydrawise to 2024.3.0
  homeassistant/components/hydrawise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: hydrawise, dependency, by-code-owner, Quality Scale: No score

#112028 Avoid trying to import platforms that do not exist
  homeassistant/config.py
  homeassistant/helpers/integration_platform.py
  homeassistant/loader.py
  tests/test_loader.py
  tests/testing_config/custom_components/test_integration_platform/__init__.py
  tests/testing_config/custom_components/test_integration_platform/config_flow.py
  tests/testing_config/custom_components/test_integration_platform/const.py
  tests/testing_config/custom_components/test_integration_platform/group.py
  tests/testing_config/custom_components/test_integration_platform/manifest.json
Labels: core, cla-signed

#112010 Preload platform integrations to better group executor usage
  homeassistant/bootstrap.py
  homeassistant/config.py
  tests/test_config.py
Labels: core, cla-signed, small-pr

#112004 Move Ping binary sensor attributes to sensor entities
  homeassistant/components/ping/__init__.py
  homeassistant/components/ping/binary_sensor.py
  homeassistant/components/ping/coordinator.py
  homeassistant/components/ping/entity.py
  homeassistant/components/ping/helpers.py
  homeassistant/components/ping/sensor.py
  homeassistant/components/ping/strings.json
  tests/components/ping/conftest.py
  tests/components/ping/snapshots/test_binary_sensor.ambr
  tests/components/ping/snapshots/test_sensor.ambr
  tests/components/ping/test_sensor.py
Labels: new-platform, cla-signed, new-feature, integration: ping, has-tests, by-code-owner, deprecation, Quality Scale: internal

#111709 Add YoLInk YS7905-UC Support
  homeassistant/components/yolink/manifest.json
  homeassistant/components/yolink/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, new-feature, dependency, by-code-owner, integration: yolink, Quality Scale: No score

#112102 Fix flakey airzone_cloud tests by avoiding creation of the websocket
  tests/components/airzone_cloud/conftest.py
  tests/components/airzone_cloud/test_coordinator.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score, integration: airzone_cloud

#111981 Add icon translations to Nextbus
  homeassistant/components/nextbus/icons.json
  homeassistant/components/nextbus/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: nextbus, Quality Scale: No score

#111980 Add icon translations to Nexia
  homeassistant/components/nexia/icons.json
  homeassistant/components/nexia/number.py
  homeassistant/components/nexia/scene.py
  homeassistant/components/nexia/switch.py
  tests/components/nexia/test_scene.py
Labels: cla-signed, small-pr, new-feature, integration: nexia, Quality Scale: No score

#111816 Add tests for number of devices created in myuplink
  tests/components/myuplink/conftest.py
  tests/components/myuplink/fixtures/device-2dev.json
  tests/components/myuplink/fixtures/systems-2dev.json
  tests/components/myuplink/snapshots/test_diagnostics.ambr
  tests/components/myuplink/test_init.py
  tests/components/myuplink/test_number.py
  tests/components/myuplink/test_switch.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score, integration: myuplink

#112107 Load wyoming in the executor to avoid blocking the event loop
  homeassistant/components/wyoming/manifest.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: wyoming

#111526 Add event platform to rfxtrx
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/rfxtrx/event.py
  homeassistant/components/rfxtrx/strings.json
  tests/components/rfxtrx/snapshots/test_event.ambr
  tests/components/rfxtrx/test_event.py
Labels: new-platform, cla-signed, integration: rfxtrx, new-feature, has-tests, by-code-owner, Quality Scale: No score

#112117 Bump Zigpy to 0.63.4
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score

#112103 Add comment to integration platform helper about blocking I/O
  homeassistant/helpers/integration_platform.py
Labels: core, cla-signed, small-pr, code-quality

#112123 Address late review for Ping
  homeassistant/components/ping/binary_sensor.py
  homeassistant/components/ping/entity.py
  homeassistant/components/ping/sensor.py
Labels: cla-signed, small-pr, integration: ping, by-code-owner, code-quality, Quality Scale: internal

#112111 Import steamist in the executor to avoid blocking the loop
  homeassistant/components/steamist/manifest.json
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: steamist, Quality Scale: No score

#112055 Move all System Monitor updates into single Data Update Coordinator
  homeassistant/components/systemmonitor/__init__.py
  homeassistant/components/systemmonitor/binary_sensor.py
  homeassistant/components/systemmonitor/const.py
  homeassistant/components/systemmonitor/coordinator.py
  homeassistant/components/systemmonitor/diagnostics.py
  homeassistant/components/systemmonitor/sensor.py
  tests/components/systemmonitor/snapshots/test_diagnostics.ambr
  tests/components/systemmonitor/test_sensor.py
Labels: cla-signed, integration: systemmonitor, has-tests, by-code-owner, code-quality, Quality Scale: No score

#112125 Ignore failing gas stations in Tankerkoening
  homeassistant/components/tankerkoenig/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, integration: tankerkoenig, bugfix, Quality Scale: No score

#112122 Add the ability to resume cleaning on start button
  homeassistant/components/roborock/vacuum.py
  tests/components/roborock/test_vacuum.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: roborock

#112120 Clean up setup and teardown of Axis integration
  homeassistant/components/axis/__init__.py
  homeassistant/components/axis/const.py
  homeassistant/components/axis/hub/hub.py
  tests/components/axis/conftest.py
  tests/components/axis/snapshots/test_diagnostics.ambr
  tests/components/axis/test_config_flow.py
  tests/components/axis/test_device.py
Labels: cla-signed, integration: axis, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#112109 Exclude tankerkoenig attributes from recording
  homeassistant/components/tankerkoenig/sensor.py
Labels: cla-signed, small-pr, by-code-owner, integration: tankerkoenig, code-quality, Quality Scale: No score

#112124 Bump reolink-aio to 0.8.9
  homeassistant/components/reolink/manifest.json
  homeassistant/components/reolink/strings.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: reolink, Quality Scale: No score

#112096 Avoid calling async_get_component twice for each component being setup
  homeassistant/config.py
  homeassistant/setup.py
  tests/common.py
Labels: core, cla-signed, small-pr, code-quality

#112097 Import screenlogic in the executor to avoid blocking the loop
  homeassistant/components/screenlogic/manifest.json
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: screenlogic, Quality Scale: No score

#112099 Avoid compiling entity service schema when passed defaults
  homeassistant/helpers/config_validation.py
Labels: core, cla-signed, small-pr, code-quality

#112126 Add package detection to Reolink
  homeassistant/components/reolink/binary_sensor.py
  homeassistant/components/reolink/number.py
  homeassistant/components/reolink/strings.json
Labels: cla-signed, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#112104 Try to preload the config platform when loading a component
  homeassistant/config.py
  homeassistant/loader.py
  tests/test_loader.py
Labels: core, cla-signed, small-pr, code-quality

#112135 Fix flakey tplink test
  tests/components/tplink/test_config_flow.py
Labels: cla-signed, small-pr, integration: tplink, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#111906 Add icon translations to Melnor
  homeassistant/components/melnor/icons.json
  homeassistant/components/melnor/number.py
  homeassistant/components/melnor/switch.py
  tests/components/melnor/test_number.py
  tests/components/melnor/test_switch.py
Labels: cla-signed, small-pr, new-feature, integration: melnor, Quality Scale: No score

#112057 Ensure setup loads top level component before platforms
  homeassistant/setup.py
  tests/test_setup.py
Labels: core, cla-signed, small-pr, code-quality

#112129 Add Reolink PTZ patrol start/stop
  homeassistant/components/reolink/strings.json
  homeassistant/components/reolink/switch.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#112143 Fix async_prepare_setup_platform test
  tests/test_setup.py
Labels: core, cla-signed, small-pr

#112140 Fix ZHA groups page
  homeassistant/components/zha/core/group.py
  tests/components/zha/test_switch.py
Labels: cla-signed, integration: zha, small-pr, by-code-owner, bugfix, Quality Scale: No score

#112146 Limit rainbird aiohttp client session to a single connection
  homeassistant/components/rainbird/__init__.py
  homeassistant/components/rainbird/config_flow.py
  homeassistant/components/rainbird/coordinator.py
  tests/components/rainbird/conftest.py
Labels: cla-signed, integration: rainbird, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#112128 Fix places not changed to hub in Axis tests
  tests/components/axis/test_hub.py
Labels: cla-signed, integration: axis, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#112147 Split up hassio coordinator and data into new file to allow preload
  homeassistant/components/hassio/__init__.py
  homeassistant/components/hassio/binary_sensor.py
  homeassistant/components/hassio/config_flow.py
  homeassistant/components/hassio/const.py
  homeassistant/components/hassio/data.py
  homeassistant/components/hassio/entity.py
  homeassistant/components/hassio/sensor.py
  homeassistant/components/hassio/update.py
  tests/components/hassio/test_update.py
Labels: core, cla-signed, integration: hassio, has-tests, by-code-owner, Quality Scale: internal

#112145 Preload config flow if it exists when loading a component
  homeassistant/loader.py
  tests/test_loader.py
Labels: core, cla-signed, small-pr, code-quality

#112144 Migrate condition/state/trigger helper to use async_get_platform
  homeassistant/helpers/condition.py
  homeassistant/helpers/state.py
  homeassistant/helpers/trigger.py
  tests/helpers/test_trigger.py
Labels: core, cla-signed, small-pr, code-quality

#112149 Use MockConfigEntry in hue tests
  tests/components/hue/test_bridge.py
Labels: cla-signed, integration: hue, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#112153 Fix async_get_component loading in the executor when the module is already loaded
  homeassistant/loader.py
  tests/test_loader.py
Labels: core, cla-signed, small-pr, bugfix

#112156 Add types throughout the prometheus tests
  tests/components/prometheus/test_init.py
Labels: cla-signed, integration: prometheus, small-pr, has-tests, code-quality, Quality Scale: No score

#112151 Run more of hassio setup in in tasks
  homeassistant/components/hassio/__init__.py
Labels: core, cla-signed, integration: hassio, small-pr, by-code-owner, code-quality, Quality Scale: internal

#112136 Streamline UniFi entity descriptions
  homeassistant/components/unifi/button.py
  homeassistant/components/unifi/device_tracker.py
  homeassistant/components/unifi/entity.py
  homeassistant/components/unifi/image.py
  homeassistant/components/unifi/sensor.py
  homeassistant/components/unifi/switch.py
  homeassistant/components/unifi/update.py
Labels: cla-signed, integration: unifi, by-code-owner, code-quality, Quality Scale: platinum

#112155 Avoid multiple executor jobs with concurrent calls to async_get_component
  homeassistant/loader.py
  tests/test_loader.py
Labels: core, cla-signed, code-quality

#112106 Ignore unsupported devices (room sensors, floor heating) in ViCare integration
  homeassistant/components/vicare/__init__.py
  homeassistant/components/vicare/const.py
Labels: cla-signed, small-pr, integration: vicare, by-code-owner, bugfix, Quality Scale: No score

#112141 Group loading of platforms in the import executor
  homeassistant/config_entries.py
  homeassistant/loader.py
  tests/test_loader.py
  tests/testing_config/custom_components/test_package_loaded_executor/button.py
  tests/testing_config/custom_components/test_package_loaded_executor/light.py
  tests/testing_config/custom_components/test_package_loaded_executor/switch.py
Labels: core, cla-signed

#110492 Improve mqtt value template error logging
  homeassistant/components/mqtt/event.py
  homeassistant/components/mqtt/image.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/models.py
  homeassistant/components/mqtt/tag.py
  tests/components/mqtt/test_init.py
Labels: core, cla-signed, integration: mqtt, has-tests, by-code-owner, code-quality, smash, Quality Scale: gold

#112131 Import recorder and common recorder platforms before asyncio starts
  homeassistant/bootstrap.py
  pyproject.toml
  requirements.txt
  tests/test_bootstrap.py
Labels: core, cla-signed, small-pr, code-quality

#112148 Group platform loads in homekit_controller to minimize executor use
  homeassistant/components/homekit_controller/connection.py
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, code-quality, Quality Scale: No score

#112121 Avoid using coordinator in config flow of APCUPSD
  homeassistant/components/apcupsd/binary_sensor.py
  homeassistant/components/apcupsd/config_flow.py
  homeassistant/components/apcupsd/const.py
  homeassistant/components/apcupsd/coordinator.py
  homeassistant/components/apcupsd/sensor.py
Labels: cla-signed, integration: apcupsd, by-code-owner, code-quality, smash, Quality Scale: silver

#112152 Add rainbird request debouncer and immediately update entity switch state
  homeassistant/components/rainbird/coordinator.py
  homeassistant/components/rainbird/switch.py
Labels: cla-signed, integration: rainbird, small-pr, by-code-owner, bugfix, Quality Scale: No score

#111128 Handle exception in ViCare integration
  homeassistant/components/vicare/climate.py
Labels: cla-signed, small-pr, integration: vicare, by-code-owner, bugfix, Quality Scale: No score

#107957 Update System Bridge to support version 4.x.x and above
  homeassistant/components/system_bridge/__init__.py
  homeassistant/components/system_bridge/config_flow.py
  homeassistant/components/system_bridge/const.py
  homeassistant/components/system_bridge/coordinator.py
  homeassistant/components/system_bridge/manifest.json
  homeassistant/components/system_bridge/media_player.py
  homeassistant/components/system_bridge/media_source.py
  homeassistant/components/system_bridge/notify.py
  homeassistant/components/system_bridge/sensor.py
  homeassistant/components/system_bridge/strings.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/system_bridge/test_config_flow.py
Labels: cla-signed, dependency, by-code-owner, integration: system_bridge, Quality Scale: silver

#94392 Add local API support to elmax
  homeassistant/components/elmax/__init__.py
  homeassistant/components/elmax/alarm_control_panel.py
  homeassistant/components/elmax/binary_sensor.py
  homeassistant/components/elmax/common.py
  homeassistant/components/elmax/config_flow.py
  homeassistant/components/elmax/const.py
  homeassistant/components/elmax/cover.py
  homeassistant/components/elmax/manifest.json
  homeassistant/components/elmax/strings.json
  homeassistant/components/elmax/switch.py
  homeassistant/generated/zeroconf.py
  tests/components/elmax/__init__.py
  tests/components/elmax/conftest.py
  tests/components/elmax/fixtures/cloud/get_panel.json
  tests/components/elmax/fixtures/cloud/list_devices.json
  tests/components/elmax/fixtures/cloud/login.json
  tests/components/elmax/fixtures/direct/cert.pem
  tests/components/elmax/fixtures/direct/discovery_panel.json
  tests/components/elmax/fixtures/direct/login.json
  tests/components/elmax/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: elmax, Quality Scale: No score

#112172 Remove unused test helper mock_area_registry
  tests/common.py
Labels: core, cla-signed, small-pr
