Repository home-assistant/core, pull requests merged in 2024-10, with the labels that each got.

#127166 Store arcam_fmj flow data in flow handler attributes
  homeassistant/components/arcam_fmj/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: arcam_fmj, code-quality, Quality Scale: No score

#127170 Store esphome flow data in flow handler attributes
  homeassistant/components/esphome/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, code-quality, Quality Scale: platinum

#127171 Store ezviz flow data in flow handler attributes
  homeassistant/components/ezviz/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: ezviz, code-quality, Quality Scale: No score

#127169 Store devolo_home_network flow data in flow handler attributes
  homeassistant/components/devolo_home_network/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: devolo_home_network, Quality Scale: platinum, code-owner-approved

#127180 Store toon flow data in flow handler attributes
  homeassistant/components/toon/config_flow.py
  tests/components/toon/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: toon, small-pr, has-tests, code-quality, Quality Scale: No score

#127178 Store smappee flow data in flow handler attributes
  homeassistant/components/smappee/config_flow.py
Labels: Hacktoberfest, cla-signed, integration: smappee, small-pr, code-quality, Quality Scale: No score

#127173 Store huawei_lte flow data in flow handler attributes
  homeassistant/components/huawei_lte/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: huawei_lte, code-quality, Quality Scale: No score

#127163 Use ConfigFlow.has_matching_flow to deduplicate lifx flows
  homeassistant/components/lifx/config_flow.py
  tests/components/lifx/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: lifx, has-tests, code-quality, Quality Scale: No score

#127161 Adjust type hints in alarmdecoder config_flow
  homeassistant/components/alarmdecoder/config_flow.py
Labels: Hacktoberfest, cla-signed, integration: alarmdecoder, small-pr, code-quality, Quality Scale: No score

#127160 Adjust type hints in aosmith config_flow
  homeassistant/components/aosmith/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: No score, integration: aosmith

#127168 Change ViCare dependency back to original one
  homeassistant/components/vicare/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: vicare, dependency, by-code-owner, Quality Scale: No score

#127126 Roborock fix "selected map" when first map in list is selected
  homeassistant/components/roborock/select.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: roborock

#127016 Add a working location google calendar entity
  homeassistant/components/google/calendar.py
  homeassistant/components/google/strings.json
  tests/components/google/conftest.py
  tests/components/google/test_calendar.py
Labels: cla-signed, integration: google, new-feature, has-tests, by-code-owner, Quality Scale: No score

#127153 Allows unload when unsupported devices vesync
  homeassistant/components/vesync/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: vesync, by-code-owner, bugfix, Quality Scale: No score

#127154 Add test helper for starting reconfiguration flow
  tests/common.py
  tests/components/axis/test_config_flow.py
  tests/test_config_entries.py
Labels: Hacktoberfest, core, cla-signed, integration: axis, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#127183 Update assist_satellite connection test sound
  homeassistant/components/assist_satellite/connection_test.mp3
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: internal, integration: assist_satellite

#127182 Remove unused custom flow context key 'name' from wyoming
  homeassistant/components/wyoming/config_flow.py
  tests/components/wyoming/snapshots/test_config_flow.ambr
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: wyoming

#127186 Adjust type hints in ezviz config_flow
  homeassistant/components/ezviz/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: ezviz, code-quality, Quality Scale: No score

#127188 Avoid mutating title_placeholders in devolo_home_network
  homeassistant/components/devolo_home_network/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: devolo_home_network, Quality Scale: platinum, code-owner-approved

#127189 Ensure dlna_dmr config flow title_placeholders items are [str, str]
  homeassistant/components/dlna_dmr/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: dlna_dmr, code-quality, Quality Scale: No score

#127185 Adjust type hints in devialet config_flow
  homeassistant/components/devialet/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: No score, integration: devialet

#127215 Use reconfigure_confirm in solarlog config flow
  homeassistant/components/solarlog/config_flow.py
  homeassistant/components/solarlog/strings.json
  tests/components/solarlog/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: solarlog, code-quality, Quality Scale: No score

#127216 Fix reconfigure_confirm logic in madvr config flow
  homeassistant/components/madvr/config_flow.py
  homeassistant/components/madvr/strings.json
  tests/components/madvr/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: madvr

#127214 Use reconfigure_confirm in vallox config flow
  homeassistant/components/vallox/config_flow.py
  homeassistant/components/vallox/strings.json
  tests/components/vallox/conftest.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: vallox, code-quality, Quality Scale: No score

#127210 Avoid mutating title_placeholders in synology_dsm
  homeassistant/components/synology_dsm/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: synology_dsm, code-quality, Quality Scale: No score

#127212 Add missing None-check in roomba config flow
  homeassistant/components/roomba/config_flow.py
  tests/components/roomba/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: roomba, small-pr, has-tests, code-quality, Quality Scale: No score

#127211 Remove unused title_placeholders from plugwise
  homeassistant/components/plugwise/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: plugwise, code-quality, Quality Scale: No score

#127209 Avoid mutating title_placeholders in reolink
  homeassistant/components/reolink/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: reolink, Quality Scale: No score

#127208 Ensure tesla_wall_connector config flow title_placeholders items are [str, str]
  homeassistant/components/tesla_wall_connector/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: tesla_wall_connector, Quality Scale: No score

#127207 Ensure soundtouch config flow title_placeholders items are [str, str]
  homeassistant/components/soundtouch/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: soundtouch, code-quality, Quality Scale: No score

#127206 Ensure radiotherm config flow title_placeholders items are [str, str]
  homeassistant/components/radiotherm/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: radiotherm, code-quality, Quality Scale: No score

#127205 Ensure powerwall config flow title_placeholders items are [str, str]
  homeassistant/components/powerwall/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: powerwall, code-quality, Quality Scale: No score

#127204 Ensure ovo_energy config flow title_placeholders items are [str, str]
  homeassistant/components/ovo_energy/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: ovo_energy, Quality Scale: No score

#127194 Ensure ezviz config flow title_placeholders items are [str, str]
  homeassistant/components/ezviz/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: ezviz, code-quality, Quality Scale: No score

#127220 Use reconfigure_confirm in google_travel_time config flow
  homeassistant/components/google_travel_time/config_flow.py
  homeassistant/components/google_travel_time/strings.json
  tests/components/google_travel_time/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: google_travel_time, has-tests, code-quality, Quality Scale: No score

#127213 Fix Z-Wave rediscovery
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/const.py
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/triggers/value_updated.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/fixtures/siren_neo_coolcam_nas-ab01z_state.json
  tests/components/zwave_js/test_discovery.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: zwave_js, Quality Scale: platinum

#127202 Ensure octoprint config flow title_placeholders items are [str, str]
  homeassistant/components/octoprint/config_flow.py
Labels: Hacktoberfest, cla-signed, integration: octoprint, small-pr, code-quality, Quality Scale: No score

#126965 Update prometheus-client to 0.21.0
  homeassistant/components/prometheus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: prometheus, small-pr, dependency, Quality Scale: No score

#127221 Use reconfigure_confirm in enphase_envoy config flow
  homeassistant/components/enphase_envoy/config_flow.py
  homeassistant/components/enphase_envoy/strings.json
  tests/components/enphase_envoy/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: enphase_envoy, has-tests, code-quality, Quality Scale: No score

#127218 Use reconfigure_confirm in homeworks config flow
  homeassistant/components/homeworks/config_flow.py
  homeassistant/components/homeworks/strings.json
  tests/components/homeworks/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: homeworks, has-tests, code-quality, Quality Scale: No score

#127225 Simplify reconfigure step in axis config flow
  homeassistant/components/axis/config_flow.py
Labels: Hacktoberfest, cla-signed, integration: axis, small-pr, code-quality, Quality Scale: platinum, code-owner-approved

#127159 Remove custom flow deduplication logic from guardian
  homeassistant/components/guardian/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: guardian, Quality Scale: No score

#127203 Ensure overkiz config flow title_placeholders items are [str, str]
  homeassistant/components/overkiz/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: overkiz, Quality Scale: No score

#125231 Add sensor platform to LG ThinQ integration
  homeassistant/components/lg_thinq/__init__.py
  homeassistant/components/lg_thinq/icons.json
  homeassistant/components/lg_thinq/sensor.py
  homeassistant/components/lg_thinq/strings.json
Labels: new-platform, cla-signed, new-feature, by-code-owner, Quality Scale: No score, integration: lg_thinq

#126241 Add climate platform to LG ThinQ integration
  homeassistant/components/lg_thinq/__init__.py
  homeassistant/components/lg_thinq/climate.py
  homeassistant/components/lg_thinq/strings.json
Labels: new-platform, cla-signed, new-feature, integration: lg_thinq

#125051 Skip unnecessary checks for entities with unique_id
  homeassistant/helpers/entity_platform.py
Labels: core, cla-signed, code-quality

#124543 Fix Tailwind cover exception when door is already in the requested state
  homeassistant/components/tailwind/cover.py
  tests/components/tailwind/test_cover.py
Labels: cla-signed, small-pr, has-tests, bugfix, Quality Scale: platinum, code-owner-approved, integration: tailwind

#127238 Improve / clean up Plugwise config_flow code
  homeassistant/components/plugwise/config_flow.py
  tests/components/plugwise/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: plugwise, by-code-owner, code-quality, Quality Scale: No score

#127176 Store openhome flow data in flow handler attributes
  homeassistant/components/openhome/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: openhome, code-quality, Quality Scale: No score

#127193 Ensure enphase_envoy config flow title_placeholders items are [str, str]
  homeassistant/components/enphase_envoy/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: enphase_envoy, code-quality, Quality Scale: No score

#127231 Update log error message for Samsung TV
  homeassistant/components/samsungtv/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: samsungtv, by-code-owner, code-quality, Quality Scale: No score

#127222 Use reconfigure_confirm in bryant_evolution config flow
  homeassistant/components/bryant_evolution/config_flow.py
  homeassistant/components/bryant_evolution/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: No score, integration: bryant_evolution

#127226 Don't create statistics issues when sensor is unavailable or unknown
  homeassistant/components/sensor/recorder.py
  tests/components/sensor/test_recorder.py
Labels: Hacktoberfest, core, cla-signed, small-pr, integration: sensor, has-tests, by-code-owner, bugfix, Quality Scale: internal

#127224 Improve type hints in config_flow reconfigure step
  homeassistant/components/brother/config_flow.py
  homeassistant/components/feedreader/config_flow.py
  homeassistant/components/fritz/config_flow.py
  homeassistant/components/fritzbox/config_flow.py
  homeassistant/components/here_travel_time/config_flow.py
  homeassistant/components/holiday/config_flow.py
  homeassistant/components/jewish_calendar/config_flow.py
  homeassistant/components/mealie/config_flow.py
  homeassistant/components/melcloud/config_flow.py
  homeassistant/components/nam/config_flow.py
  homeassistant/components/shelly/config_flow.py
  homeassistant/components/smhi/config_flow.py
  homeassistant/components/tado/config_flow.py
  homeassistant/components/waze_travel_time/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality

#127234 Run unsubscribe callbacks when Assist satellite entity is removed from HA
  homeassistant/components/esphome/assist_satellite.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, bugfix, Quality Scale: platinum

#127256 Revert "Support Z-Wave JS dimming lights using color intensity (#122639)"
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/light.py
  tests/components/zwave_js/test_light.py
Labels: Hacktoberfest, cla-signed, has-tests, by-code-owner, bugfix, integration: zwave_js, Quality Scale: platinum

#127165 Use ConfigFlow.has_matching_flow to deduplicate yeelight flows
  homeassistant/components/yeelight/config_flow.py
  tests/components/yeelight/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: yeelight, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#127197 Ensure frontier_silicon config flow title_placeholders items are [str, str]
  homeassistant/components/frontier_silicon/config_flow.py
  tests/components/frontier_silicon/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: frontier_silicon, code-quality, Quality Scale: No score

#127254 Remove codefences from issue titles
  homeassistant/components/calendar/strings.json
  homeassistant/components/cloud/strings.json
  homeassistant/components/habitica/strings.json
  homeassistant/components/homeassistant/strings.json
  homeassistant/components/modbus/strings.json
  homeassistant/components/notify/strings.json
  homeassistant/components/ring/strings.json
  homeassistant/components/technove/strings.json
  homeassistant/components/tplink/strings.json
  homeassistant/components/weather/strings.json
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#123289 Fix Tibber get_prices when called with aware datetime
  homeassistant/components/tibber/services.py
  tests/components/tibber/test_services.py
Labels: cla-signed, small-pr, integration: tibber, has-tests, bugfix, Quality Scale: silver

#127179 Make recorder WS command recorder/update_statistics_metadata wait
  homeassistant/components/recorder/core.py
  homeassistant/components/recorder/tasks.py
  homeassistant/components/recorder/websocket_api.py
  tests/components/recorder/test_websocket_api.py
Labels: new-feature

#127191 Use start_reconfigure_flow in config flow tests
  tests/components/brother/test_config_flow.py
  tests/components/bryant_evolution/test_config_flow.py
  tests/components/enphase_envoy/test_config_flow.py
  tests/components/feedreader/test_config_flow.py
  tests/components/fritz/test_config_flow.py
  tests/components/fritzbox/test_config_flow.py
  tests/components/fronius/test_config_flow.py
  tests/components/google_travel_time/test_config_flow.py
  tests/components/here_travel_time/test_config_flow.py
  tests/components/holiday/test_config_flow.py
  tests/components/homeworks/test_config_flow.py
  tests/components/jewish_calendar/test_config_flow.py
  tests/components/lamarzocco/test_config_flow.py
  tests/components/lcn/test_config_flow.py
  tests/components/madvr/test_config_flow.py
  tests/components/mealie/test_config_flow.py
  tests/components/melcloud/test_config_flow.py
  tests/components/nam/test_config_flow.py
  tests/components/pyload/test_config_flow.py
  tests/components/reolink/test_config_flow.py
  tests/components/shelly/test_config_flow.py
  tests/components/smhi/test_config_flow.py
  tests/components/solarlog/test_config_flow.py
  tests/components/tado/test_config_flow.py
  tests/components/tedee/test_config_flow.py
  tests/components/vallox/conftest.py
  tests/components/waze_travel_time/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, code-quality

#127264 Update frontend to 20241002.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#127120 Make recorder WS command recorder/clear_statistics wait
  homeassistant/components/recorder/core.py
  homeassistant/components/recorder/tasks.py
  homeassistant/components/recorder/websocket_api.py
  tests/components/recorder/test_websocket_api.py
Labels: core, integration: recorder, cla-signed, small-pr, new-feature, by-code-owner, Quality Scale: internal

#127271 Bump python-homeassistant-analytics to 0.8.0
  homeassistant/components/analytics_insights/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, Quality Scale: No score, integration: analytics_insights

#127115 Add config_flow helper to get reauth/reconfigure config entry
  homeassistant/components/aussie_broadband/config_flow.py
  homeassistant/components/bryant_evolution/config_flow.py
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: core, cla-signed, small-pr, code-quality, integration: aussie_broadband, Quality Scale: No score, integration: bryant_evolution

#127181 Update mypy-dev to 1.12.0a5
  homeassistant/components/deconz/entity.py
  homeassistant/components/vlc_telnet/media_player.py
  mypy.ini
  requirements_test.txt
  script/hassfest/mypy_config.py
Labels: Hacktoberfest, cla-signed, integration: deconz, small-pr, dependency, integration: vlc_telnet, smash, Quality Scale: No score, Quality Scale: platinum

#127201 Ensure motionblinds_ble config flow title_placeholders items are [str, str]
  homeassistant/components/motionblinds_ble/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: No score, integration: motionblinds_ble

#127200 Ensure lookin config flow title_placeholders items are [str, str]
  homeassistant/components/lookin/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: lookin, Quality Scale: No score

#127283 Use _get_reauth/reconfigure_entry in fritz
  homeassistant/components/fritz/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: fritz, code-quality, Quality Scale: No score

#127278 Remove the Google Domains integration
  homeassistant/brands/google.json
  homeassistant/components/google_domains/__init__.py
  homeassistant/components/google_domains/manifest.json
  homeassistant/generated/integrations.json
  tests/components/google_domains/__init__.py
  tests/components/google_domains/test_init.py
Labels: Hacktoberfest, core, breaking-change, cla-signed, integration: google_domains, small-pr, has-tests, Quality Scale: No score

#127292 Update frontend to 20241002.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, dependency, by-code-owner, Quality Scale: internal

#127288 Ensure directv config flow title_placeholders items are [str, str]
  homeassistant/components/directv/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: directv, code-quality, Quality Scale: silver

#127290 Ensure songpal config flow title_placeholders items are [str, str]
  homeassistant/components/songpal/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: songpal, code-quality, Quality Scale: gold

#127289 Ensure keenetic_ndms2 config flow title_placeholders items are [str, str]
  homeassistant/components/keenetic_ndms2/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: keenetic_ndms2, code-quality, Quality Scale: No score

#127287 Ensure braviatv config flow title_placeholders items are [str, str]
  homeassistant/components/braviatv/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: braviatv, code-quality, Quality Scale: No score

#127281 Use _get_reauth/reconfigure_entry in enphase_envoy
  homeassistant/components/enphase_envoy/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: enphase_envoy, code-quality, Quality Scale: No score

#127285 Use _get_reconfigure_entry in google_travel_time
  homeassistant/components/google_travel_time/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: google_travel_time, code-quality, Quality Scale: No score

#127284 Use _get_reauth/reconfigure_entry in fritzbox
  homeassistant/components/fritzbox/config_flow.py
Labels: Hacktoberfest, cla-signed, integration: fritzbox, small-pr, code-quality, Quality Scale: gold

#127249 Add electrolyzer data to Aseko Pool Live
  homeassistant/components/aseko_pool_live/icons.json
  homeassistant/components/aseko_pool_live/sensor.py
  homeassistant/components/aseko_pool_live/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, bugfix, integration: aseko_pool_live, Quality Scale: No score

#127276 Adjust type hints in konnected config_flow
  homeassistant/components/konnected/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: konnected, code-quality, Quality Scale: No score

#127270 Adjust type hints in goalzero config_flow
  homeassistant/components/goalzero/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: goalzero, Quality Scale: silver

#127296 Use _get_reconfigure_entry in homeworks
  homeassistant/components/homeworks/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: homeworks, code-quality, Quality Scale: No score

#127297 Use _get_reconfigure_entry in jewish_calendar
  homeassistant/components/jewish_calendar/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: jewish_calendar, code-quality, Quality Scale: silver

#127295 Use _get_reconfigure_entry in holiday
  homeassistant/components/holiday/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: No score, integration: holiday

#127294 Use _get_reconfigure_entry in here_travel_time
  homeassistant/components/here_travel_time/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: here_travel_time, code-quality, Quality Scale: No score

#127298 Use _get_reauth/reconfigure_entry in lamarzocco
  homeassistant/components/lamarzocco/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: No score, integration: lamarzocco

#127301 Use _get_reauth/reconfigure_entry in mealie
  homeassistant/components/mealie/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: No score, integration: mealie

#127300 Use _get_reconfigure_entry in madvr
  homeassistant/components/madvr/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: No score, integration: madvr

#127299 Use _get_reconfigure_entry in lcn
  homeassistant/components/lcn/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: lcn, code-quality, Quality Scale: No score

#127309 Use _get_reconfigure_entry in smhi
  homeassistant/components/smhi/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: smhi, code-quality, Quality Scale: No score

#127311 Use _get_reconfigure_entry in tado
  homeassistant/components/tado/config_flow.py
Labels: Hacktoberfest, cla-signed, integration: tado, small-pr, code-quality, Quality Scale: No score

#127313 Use _get_reconfigure_entry in vallox
  homeassistant/components/vallox/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: vallox, code-quality, Quality Scale: No score

#127316 Use _get_reauth_entry in trafikverket_weatherstation
  homeassistant/components/trafikverket_weatherstation/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: trafikverket_weatherstation, code-quality, Quality Scale: No score

#127306 Bump swiss-public-transport requirement python-opendata-transport to 0.5.0
  homeassistant/components/swiss_public_transport/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: swiss_public_transport, dependency, by-code-owner, Quality Scale: No score

#127321 Use _get_reauth_entry in azure_devops config flow
  homeassistant/components/azure_devops/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: azure_devops, code-quality, Quality Scale: No score

#127319 Use _get_reauth_entry in aseko_pool_live
  homeassistant/components/aseko_pool_live/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: aseko_pool_live, Quality Scale: No score

#127312 Use _get_reauth/reconfigure_entry in tedee
  homeassistant/components/tedee/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: platinum, code-owner-approved, integration: tedee

#127308 Use _get_reauth/reconfigure_entry in shelly
  homeassistant/components/shelly/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, code-quality, Quality Scale: platinum, code-owner-approved

#127320 Adjust reauth checks in august
  homeassistant/components/august/config_flow.py
Labels: Hacktoberfest, cla-signed, integration: august, small-pr, code-quality, Quality Scale: No score

#127303 Use _get_reauth/reconfigure_entry in nam
  homeassistant/components/nam/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: nam, Quality Scale: platinum, code-owner-approved

#127248 Add sensor for total installations and integrations to Analytics Insights
  homeassistant/components/analytics_insights/coordinator.py
  homeassistant/components/analytics_insights/icons.json
  homeassistant/components/analytics_insights/sensor.py
  homeassistant/components/analytics_insights/strings.json
  tests/components/analytics_insights/snapshots/test_sensor.ambr
  tests/components/analytics_insights/test_sensor.py
Labels: Hacktoberfest, cla-signed, new-feature, has-tests, Quality Scale: No score, integration: analytics_insights

#119203 Add protocol upload / download sensors to Deluge
  homeassistant/components/deluge/const.py
  homeassistant/components/deluge/coordinator.py
  homeassistant/components/deluge/sensor.py
  homeassistant/components/deluge/strings.json
  tests/components/deluge/__init__.py
  tests/components/deluge/test_sensor.py
Labels: breaking-change, cla-signed, new-feature, integration: deluge, has-tests, smash, Quality Scale: No score

#127331 Update frontend to 20241002.2
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: frontend, small-pr, dependency, by-code-owner, Quality Scale: internal

#127333 Bump pychromecast to 14.0.2
  homeassistant/components/cast/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: cast, dependency, by-code-owner, Quality Scale: No score

#127338 Bump intents to 2024.10.2
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/docker/Dockerfile
Labels: Hacktoberfest, core, cla-signed, integration: conversation, small-pr, dependency, by-code-owner, Quality Scale: internal

#127340 Fix device id support for alarm control panel template
  homeassistant/components/template/alarm_control_panel.py
  tests/components/template/test_alarm_control_panel.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: template, has-tests, bugfix, Quality Scale: internal

#127324 Use _get_reauth_entry in brunt config flow
  homeassistant/components/brunt/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: brunt, code-quality, Quality Scale: No score

#127323 Use _get_reauth_entry in bthome config flow
  homeassistant/components/bthome/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: bthome, Quality Scale: No score

#127328 Use _get_reauth_entry in blue_current config flow
  homeassistant/components/blue_current/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: No score, integration: blue_current

#127310 Use _get_reauth/reconfigure_entry in solarlog
  homeassistant/components/solarlog/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: solarlog, code-quality, Quality Scale: No score

#127314 Use _get_reconfigure_entry in waze_travel_time
  homeassistant/components/waze_travel_time/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: waze_travel_time, code-quality, Quality Scale: No score

#127302 Use _get_reauth/reconfigure_entry in melcloud
  homeassistant/components/melcloud/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: melcloud, code-quality, Quality Scale: No score

#127198 Ensure homekit_controller config flow title_placeholders items are [str, str]
  homeassistant/components/homekit_controller/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: homekit_controller, code-quality, Quality Scale: No score

#127164 Use ConfigFlow.has_matching_flow to deduplicate tplink flows
  homeassistant/components/tplink/config_flow.py
  tests/components/tplink/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tplink, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#127006 Handle the correct exception type when subscribing to the router service returns an error in the upnp component
  homeassistant/components/upnp/device.py
  tests/components/upnp/test_init.py
Labels: cla-signed, integration: upnp, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#127140 Add reconfigure step to trafikverket weather
  homeassistant/components/trafikverket_weatherstation/config_flow.py
  homeassistant/components/trafikverket_weatherstation/strings.json
  tests/components/trafikverket_weatherstation/test_config_flow.py
Labels: cla-signed, new-feature, integration: trafikverket_weatherstation, has-tests, by-code-owner, Quality Scale: No score

#127022 Add turn on and off function to lg_soundbar
  homeassistant/components/lg_soundbar/media_player.py
Labels: cla-signed, small-pr, new-feature, integration: lg_soundbar, Quality Scale: No score

#127253 Store instance name in Thread router discovery
  homeassistant/components/thread/discovery.py
  tests/components/thread/test_discovery.py
  tests/components/thread/test_websocket_api.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, has-tests, Quality Scale: No score, integration: thread

#127279 Use _get_reconfigure_entry in brother
  homeassistant/components/brother/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: brother, code-quality, Quality Scale: platinum, code-owner-approved

#127354 Make numeric device classes a constant
  homeassistant/components/sensor/websocket_api.py
Labels: Hacktoberfest, core, cla-signed, small-pr, integration: sensor, code-quality, Quality Scale: internal

#127332 Add line numbers to swiss-public-transport
  homeassistant/components/swiss_public_transport/coordinator.py
  homeassistant/components/swiss_public_transport/icons.json
  homeassistant/components/swiss_public_transport/sensor.py
  homeassistant/components/swiss_public_transport/strings.json
  tests/components/swiss_public_transport/fixtures/connections.json
  tests/components/swiss_public_transport/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: swiss_public_transport, Quality Scale: No score

#127355 Add reconfigure flow to trafikverket_camera
  homeassistant/components/trafikverket_camera/config_flow.py
  homeassistant/components/trafikverket_camera/strings.json
  tests/components/trafikverket_camera/test_config_flow.py
Labels: Hacktoberfest, cla-signed, new-feature, has-tests, by-code-owner, integration: trafikverket_camera, Quality Scale: No score

#127381 Store awair flow data in flow handler attributes
  homeassistant/components/awair/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: awair, code-quality, Quality Scale: No score

#127382 Improve generic camera preview tests
  tests/components/generic/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: generic, has-tests, code-quality, Quality Scale: No score

#124410 Add go2rtc and extend camera integration for better WebRTC support
  CODEOWNERS
  Dockerfile
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/const.py
  homeassistant/components/camera/diagnostics.py
  homeassistant/components/camera/helper.py
  homeassistant/components/camera/webrtc.py
  homeassistant/components/go2rtc/__init__.py
  homeassistant/components/go2rtc/config_flow.py
  homeassistant/components/go2rtc/const.py
  homeassistant/components/go2rtc/manifest.json
  homeassistant/components/go2rtc/server.py
  homeassistant/components/go2rtc/strings.json
  homeassistant/components/nest/camera.py
  homeassistant/components/rtsp_to_webrtc/__init__.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  script/hassfest/docker.py
  tests/components/axis/test_camera.py
  tests/components/camera/common.py
  tests/components/camera/conftest.py
  tests/components/camera/test_init.py
  tests/components/camera/test_webrtc.py
  tests/components/go2rtc/__init__.py
  tests/components/go2rtc/conftest.py
  tests/components/go2rtc/test_config_flow.py
  tests/components/go2rtc/test_init.py
  tests/components/go2rtc/test_server.py
  tests/components/rtsp_to_webrtc/test_init.py
Labels: core, integration: camera, cla-signed, new-integration, integration: rtsp_to_webrtc, Quality Scale: No score, Quality Scale: internal

#127386 Use _get_reauth_entry in comelit config flow
  homeassistant/components/comelit/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: silver, integration: comelit

#127342 Remove unused translation keys from Tami4
  homeassistant/components/tami4/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: tami4, Quality Scale: No score

#127393 Correct reconfigure flows to get data from config entry
  homeassistant/components/axis/config_flow.py
  homeassistant/components/here_travel_time/config_flow.py
  homeassistant/components/shelly/config_flow.py
Labels: Hacktoberfest, cla-signed, integration: axis, small-pr, integration: shelly, integration: here_travel_time, bugfix, Quality Scale: No score, Quality Scale: platinum

#127326 Use _get_reauth_entry in braviatv config flow
  homeassistant/components/braviatv/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: braviatv, code-quality, Quality Scale: No score

#127304 Use _get_reauth/reconfigure_entry in pyload
  homeassistant/components/pyload/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: pyload, code-quality, Quality Scale: platinum

#127327 Use _get_reauth_entry in bmw_connected_drive config flow
  homeassistant/components/bmw_connected_drive/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: bmw_connected_drive, code-quality, Quality Scale: platinum

#127329 Align config flow reconfigure step test helper with frontend
  tests/common.py
  tests/components/fritz/test_config_flow.py
  tests/test_config_entries.py
Labels: Hacktoberfest, core, cla-signed, small-pr, bugfix

#127162 Adjust type hints in androidtv_remote config_flow
  homeassistant/components/androidtv_remote/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: platinum, integration: androidtv_remote

#127345 Add MOES Matter Light 1.0 to the blocklist for Matter transitions
  homeassistant/components/matter/light.py
Labels: Hacktoberfest, cla-signed, small-pr, bugfix, integration: matter, Quality Scale: No score

#127406 Add missing number platform to init of Tesla Fleet
  homeassistant/components/tesla_fleet/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: gold, integration: tesla_fleet

#127392 Use _get_reauth_entry in dormakaba_dkey config flow
  homeassistant/components/dormakaba_dkey/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, Quality Scale: No score, integration: dormakaba_dkey

#127391 Use _get_reauth_entry in doorbird config flow
  homeassistant/components/doorbird/config_flow.py
Labels: Hacktoberfest, cla-signed, integration: doorbird, small-pr, code-quality, Quality Scale: No score

#127390 Use _get_reauth_entry in discovergy config flow
  homeassistant/components/discovergy/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: discovergy, Quality Scale: No score

#127387 Use _get_reauth_entry in devolo_home_control config flow
  homeassistant/components/devolo_home_control/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: devolo_home_control, code-quality, Quality Scale: gold

#127405 Store generic camera flow data in flow handler attributes
  homeassistant/components/generic/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: generic, code-quality, Quality Scale: No score

#127384 Use _get_reauth_entry in caldav config flow
  homeassistant/components/caldav/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: caldav, code-quality, Quality Scale: No score

#127376 Bump pysmlight 0.1.2
  homeassistant/components/smlight/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: smlight

#127344 Bump elkm1_lib to 2.2.10
  homeassistant/components/elkm1/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: elkm1, dependency, by-code-owner, code-quality, Quality Scale: No score

#127341 Use async_update_reload_and_abort in Trafikverket Weather reauth flow
  homeassistant/components/trafikverket_weatherstation/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: trafikverket_weatherstation, by-code-owner, code-quality, Quality Scale: No score

#127252 Set default Matter fabric label
  homeassistant/components/matter/__init__.py
  homeassistant/components/matter/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/matter/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: matter, Quality Scale: No score

#127351 Bump python-ecobee-api to 0.2.20
  homeassistant/components/ecobee/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: ecobee, small-pr, dependency, Quality Scale: No score

#127412 Block Alexa Media Player v4.13.3
  homeassistant/loader.py
Labels: Hacktoberfest, core, cla-signed, small-pr, bugfix

#127389 Use _get_reauth_entry in devolo_home_network config flow
  homeassistant/components/devolo_home_network/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: devolo_home_network, Quality Scale: platinum, code-owner-approved

#127430 Use async_update_reload_and_abort in airvisual_pro
  homeassistant/components/airvisual_pro/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, integration: airvisual_pro, Quality Scale: No score
