Repository home-assistant/core, pull requests merged in 2024-05, with the labels that each got.

#116489 Bump opower to 0.4.4
  homeassistant/components/opower/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: opower

#116309 Use websocket client to test device removal in Unifi
  tests/components/unifi/test_init.py
Labels: cla-signed, small-pr, integration: unifi, has-tests, Quality Scale: platinum, code-owner-approved

#116496 Remove unused argument from DWD coordinator
  homeassistant/components/dwd_weather_warnings/__init__.py
  homeassistant/components/dwd_weather_warnings/coordinator.py
Labels: cla-signed, small-pr, integration: dwd_weather_warnings, code-quality, Quality Scale: No score

#116108 Some fixes for the Matter light discovery schema
  homeassistant/components/matter/light.py
  homeassistant/components/matter/switch.py
  tests/components/matter/fixtures/nodes/onoff-light-with-levelcontrol-present.json
  tests/components/matter/test_light.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: matter, Quality Scale: No score

#116487 Fix roborock image crashes
  homeassistant/components/roborock/coordinator.py
  homeassistant/components/roborock/image.py
  tests/components/roborock/conftest.py
  tests/components/roborock/test_image.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: roborock

#116503 Update frontend to 20240501.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#116468 Add IMGW-PIB integration
  .strict-typing
  CODEOWNERS
  homeassistant/components/imgw_pib/__init__.py
  homeassistant/components/imgw_pib/config_flow.py
  homeassistant/components/imgw_pib/const.py
  homeassistant/components/imgw_pib/coordinator.py
  homeassistant/components/imgw_pib/icons.json
  homeassistant/components/imgw_pib/manifest.json
  homeassistant/components/imgw_pib/sensor.py
  homeassistant/components/imgw_pib/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/imgw_pib/__init__.py
  tests/components/imgw_pib/conftest.py
  tests/components/imgw_pib/snapshots/test_sensor.ambr
  tests/components/imgw_pib/test_config_flow.py
  tests/components/imgw_pib/test_init.py
  tests/components/imgw_pib/test_sensor.py
Labels: cla-signed, new-integration, has-tests, integration: imgw_pib

#116516 Fix blocking I/O to import modules in mysensors
  homeassistant/components/mysensors/gateway.py
Labels: cla-signed, integration: mysensors, small-pr, Quality Scale: No score, blocking I/O in event loop

#116514 Bump python matter server library to 5.10.0
  homeassistant/components/matter/entity.py
  homeassistant/components/matter/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: matter

#116419 Workday only update once a day
  homeassistant/components/workday/binary_sensor.py
  tests/components/workday/test_binary_sensor.py
Labels: cla-signed, integration: workday, has-tests, by-code-owner, code-quality, Quality Scale: internal

#116525 Fix stop event cleanup when reloading MQTT
  homeassistant/components/mqtt/client.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner, bugfix, Quality Scale: platinum

#116510 Store GIOS runtime data in entry
  homeassistant/components/gios/__init__.py
  homeassistant/components/gios/diagnostics.py
  homeassistant/components/gios/sensor.py
Labels: cla-signed, small-pr, by-code-owner, integration: gios, code-quality, Quality Scale: platinum

#116522 Simplify MQTT mid handling
  homeassistant/components/mqtt/client.py
Labels: core, cla-signed, integration: mqtt, by-code-owner, code-quality, Quality Scale: platinum

#116517 Reduce timestamp function call overhead in core states
  homeassistant/core.py
Labels: core, cla-signed, small-pr, code-quality

#116524 Add blocklist for known Matter devices with faulty transitions
  homeassistant/components/matter/light.py
Labels: cla-signed, by-code-owner, bugfix, integration: matter, Quality Scale: No score

#116523 Store runtime data inside the config entry in AVM Fritz!Smarthome
  homeassistant/components/fritzbox/__init__.py
  homeassistant/components/fritzbox/binary_sensor.py
  homeassistant/components/fritzbox/button.py
  homeassistant/components/fritzbox/climate.py
  homeassistant/components/fritzbox/common.py
  homeassistant/components/fritzbox/const.py
  homeassistant/components/fritzbox/coordinator.py
  homeassistant/components/fritzbox/cover.py
  homeassistant/components/fritzbox/diagnostics.py
  homeassistant/components/fritzbox/light.py
  homeassistant/components/fritzbox/sensor.py
  homeassistant/components/fritzbox/switch.py
  tests/components/fritzbox/conftest.py
  tests/components/fritzbox/test_init.py
Labels: cla-signed, integration: fritzbox, by-code-owner, code-quality, Quality Scale: gold

#116551 Add diagnostics platform to IMGW-PIB integration
  homeassistant/components/imgw_pib/diagnostics.py
  tests/components/imgw_pib/snapshots/test_diagnostics.ambr
  tests/components/imgw_pib/test_diagnostics.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: imgw_pib

#116548 Use runtime data in Yale Smart Alarm
  homeassistant/components/yale_smart_alarm/__init__.py
  homeassistant/components/yale_smart_alarm/alarm_control_panel.py
  homeassistant/components/yale_smart_alarm/binary_sensor.py
  homeassistant/components/yale_smart_alarm/button.py
  homeassistant/components/yale_smart_alarm/const.py
  homeassistant/components/yale_smart_alarm/diagnostics.py
  homeassistant/components/yale_smart_alarm/lock.py
Labels: cla-signed, small-pr, integration: yale_smart_alarm, by-code-owner, code-quality, Quality Scale: No score

#116550 Fix MQTT discovery cooldown too short with large setup
  homeassistant/components/mqtt/client.py
  homeassistant/components/mqtt/discovery.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner, bugfix, Quality Scale: platinum

#116553 Use runtime data for FritzBox Call Monitor
  homeassistant/components/fritzbox_callmonitor/__init__.py
  homeassistant/components/fritzbox_callmonitor/const.py
  homeassistant/components/fritzbox_callmonitor/sensor.py
Labels: cla-signed, integration: fritzbox_callmonitor, by-code-owner, code-quality, Quality Scale: No score

#116532 Store runtime data inside the config entry in Tankerkoenig
  homeassistant/components/tankerkoenig/__init__.py
  homeassistant/components/tankerkoenig/binary_sensor.py
  homeassistant/components/tankerkoenig/coordinator.py
  homeassistant/components/tankerkoenig/diagnostics.py
  homeassistant/components/tankerkoenig/sensor.py
Labels: cla-signed, small-pr, by-code-owner, integration: tankerkoenig, code-quality, Quality Scale: platinum

#116533 Store runtime data inside the config entry in Proximity
  homeassistant/components/proximity/__init__.py
  homeassistant/components/proximity/coordinator.py
  homeassistant/components/proximity/diagnostics.py
  homeassistant/components/proximity/sensor.py
Labels: cla-signed, integration: proximity, small-pr, by-code-owner, code-quality, Quality Scale: internal

#116534 Store runtime data inside the config entry in PegelOnline
  homeassistant/components/pegel_online/__init__.py
  homeassistant/components/pegel_online/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: pegel_online

#116554 Use config entry runtime data in Trafikverket Weather
  homeassistant/components/trafikverket_weatherstation/__init__.py
  homeassistant/components/trafikverket_weatherstation/coordinator.py
  homeassistant/components/trafikverket_weatherstation/sensor.py
Labels: cla-signed, small-pr, integration: trafikverket_weatherstation, by-code-owner, code-quality, Quality Scale: No score

#116552 Use config entry runtime data in Trafikverket Camera
  homeassistant/components/trafikverket_camera/__init__.py
  homeassistant/components/trafikverket_camera/binary_sensor.py
  homeassistant/components/trafikverket_camera/camera.py
  homeassistant/components/trafikverket_camera/coordinator.py
  homeassistant/components/trafikverket_camera/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: trafikverket_camera, Quality Scale: No score

#116556 Use config entry runtime data in Trafikverket Train
  homeassistant/components/trafikverket_train/__init__.py
  homeassistant/components/trafikverket_train/coordinator.py
  homeassistant/components/trafikverket_train/sensor.py
Labels: cla-signed, small-pr, integration: trafikverket_train, by-code-owner, code-quality, Quality Scale: No score

#116441 Store runtime data in entry in Analytics Insights
  homeassistant/components/analytics_insights/__init__.py
  homeassistant/components/analytics_insights/coordinator.py
  homeassistant/components/analytics_insights/sensor.py
  tests/components/analytics_insights/conftest.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: analytics_insights

#116531 Remove duplicate mid handling in MQTT
  homeassistant/components/mqtt/client.py
  tests/components/mqtt/test_init.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#116558 Bump upb_lib to 0.5.6
  homeassistant/components/upb/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: upb, Quality Scale: No score, blocking I/O in event loop

#116560 Improve tankerkoenig generic coordinator typing
  homeassistant/components/tankerkoenig/coordinator.py
  homeassistant/components/tankerkoenig/sensor.py
Labels: cla-signed, small-pr, integration: tankerkoenig, code-quality, smash

#116561 Improve airly generic coordinator typing
  homeassistant/components/airly/coordinator.py
Labels: cla-signed, small-pr, integration: airly, code-quality, smash, Quality Scale: platinum, code-owner-approved

#116527 Bump opentherm_gw to 2.2.0
  homeassistant/components/opentherm_gw/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: opentherm_gw, dependency, Quality Scale: No score, blocking I/O in event loop

#116563 Improve asuswrt decorator typing
  homeassistant/components/asuswrt/bridge.py
Labels: cla-signed, small-pr, integration: asuswrt, code-quality, smash, Quality Scale: No score

#116562 Improve fitbit generic coordinator typing
  homeassistant/components/fitbit/coordinator.py
Labels: cla-signed, small-pr, integration: fitbit, code-quality, smash, Quality Scale: No score

#116570 Bump sanix to 1.0.6
  homeassistant/components/sanix/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: sanix

#116579 Fix Airthings BLE model names
  homeassistant/components/airthings_ble/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: airthings_ble, Quality Scale: No score

#116539 Add a lock to homekit_controller platform loads
  homeassistant/components/homekit_controller/connection.py
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, Quality Scale: No score

#116564 Bump elkm1_lib to 2.2.7
  homeassistant/components/elkm1/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: elkm1, dependency, by-code-owner, Quality Scale: No score, blocking I/O in event loop

#116449 Bump pydrawise to 2024.4.1
  homeassistant/components/hydrawise/binary_sensor.py
  homeassistant/components/hydrawise/manifest.json
  homeassistant/components/hydrawise/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: hydrawise, dependency, by-code-owner, Quality Scale: No score

#116536 Address late review for Husqvarna Automower
  homeassistant/components/husqvarna_automower/number.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: husqvarna_automower

#116211 Add shutter tilt support for Shelly Wave Shutter QNSH-001P10
  homeassistant/components/zwave_js/discovery.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/fixtures/shelly_europe_ltd_qnsh_001p10_state.json
  tests/components/zwave_js/test_discovery.py
Labels: cla-signed, new-feature, integration: zwave_js, Quality Scale: platinum, code-owner-approved

#116600 Fix inheritance order for KNX notify
  homeassistant/components/knx/notify.py
Labels: cla-signed, integration: knx, small-pr, by-code-owner, code-quality, Quality Scale: platinum

#116606 Use runtime_data for acmeda
  homeassistant/components/acmeda/__init__.py
  homeassistant/components/acmeda/cover.py
  homeassistant/components/acmeda/helpers.py
  homeassistant/components/acmeda/sensor.py
Labels: cla-signed, small-pr, integration: acmeda, code-quality, Quality Scale: No score

#116607 Use runtime_data for airvisual_pro
  homeassistant/components/airvisual_pro/__init__.py
  homeassistant/components/airvisual_pro/diagnostics.py
  homeassistant/components/airvisual_pro/sensor.py
  tests/components/airvisual_pro/conftest.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: airvisual_pro, Quality Scale: No score

#116608 Use runtime_data for ambient_station
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/ambient_station/binary_sensor.py
  homeassistant/components/ambient_station/diagnostics.py
  homeassistant/components/ambient_station/sensor.py
  tests/components/ambient_station/test_diagnostics.py
Labels: cla-signed, small-pr, integration: ambient_station, has-tests, code-quality, Quality Scale: No score

#116604 Use entry.runtime_data in Fronius
  homeassistant/components/fronius/__init__.py
  homeassistant/components/fronius/coordinator.py
  homeassistant/components/fronius/sensor.py
Labels: cla-signed, small-pr, integration: fronius, by-code-owner, code-quality, Quality Scale: platinum

#116612 Use runtime_data for co2signal
  homeassistant/components/co2signal/__init__.py
  homeassistant/components/co2signal/diagnostics.py
  homeassistant/components/co2signal/sensor.py
Labels: cla-signed, small-pr, integration: co2signal, code-quality, Quality Scale: No score

#116611 Use runtime_data for bond
  homeassistant/components/bond/__init__.py
  homeassistant/components/bond/button.py
  homeassistant/components/bond/cover.py
  homeassistant/components/bond/diagnostics.py
  homeassistant/components/bond/fan.py
  homeassistant/components/bond/light.py
  homeassistant/components/bond/switch.py
  tests/components/bond/test_init.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: bond, Quality Scale: platinum, code-owner-approved

#116610 Use runtime_data for august
  homeassistant/components/august/__init__.py
  homeassistant/components/august/binary_sensor.py
  homeassistant/components/august/button.py
  homeassistant/components/august/camera.py
  homeassistant/components/august/diagnostics.py
  homeassistant/components/august/lock.py
  homeassistant/components/august/sensor.py
Labels: cla-signed, integration: august, code-quality, Quality Scale: No score

#116596 Improve coordinator in Ondilo ico
  .coveragerc
  homeassistant/components/ondilo_ico/__init__.py
  homeassistant/components/ondilo_ico/coordinator.py
  homeassistant/components/ondilo_ico/sensor.py
Labels: cla-signed, code-quality, integration: ondilo_ico, Quality Scale: No score

#116627 Add constraint for tuf
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr

#116624 Add `binary_sensor` platform to IMGW-PIB integration
  homeassistant/components/imgw_pib/__init__.py
  homeassistant/components/imgw_pib/binary_sensor.py
  homeassistant/components/imgw_pib/entity.py
  homeassistant/components/imgw_pib/icons.json
  homeassistant/components/imgw_pib/sensor.py
  homeassistant/components/imgw_pib/strings.json
  tests/components/imgw_pib/snapshots/test_binary_sensor.ambr
  tests/components/imgw_pib/test_binary_sensor.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: imgw_pib

#116616 Bump Airthings BLE to 0.8.0
  homeassistant/components/airthings_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: airthings_ble, Quality Scale: No score

#116623 Use runtime_data for airthings_ble
  homeassistant/components/airthings_ble/__init__.py
  homeassistant/components/airthings_ble/sensor.py
Labels: cla-signed, small-pr, code-quality, smash, integration: airthings_ble, Quality Scale: No score

#116621 Bump pywaze to 1.0.1
  homeassistant/components/waze_travel_time/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: waze_travel_time, dependency, by-code-owner, bugfix, Quality Scale: No score

#116625 Use runtime_data for airtouch5
  homeassistant/components/airtouch5/__init__.py
  homeassistant/components/airtouch5/climate.py
Labels: cla-signed, small-pr, code-quality, smash, Quality Scale: No score, integration: airtouch5

#116618 Use runtime_data for aftership
  homeassistant/components/aftership/__init__.py
  homeassistant/components/aftership/sensor.py
Labels: cla-signed, small-pr, integration: aftership, code-quality, smash, Quality Scale: No score

#116639 Bump aiounifi to v77
  homeassistant/components/unifi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: unifi, dependency, by-code-owner, bugfix, Quality Scale: platinum

#116633 Cleanup removed MQTT broker settings
  homeassistant/components/mqtt/__init__.py
  tests/components/mqtt/test_config_flow.py
  tests/components/mqtt/test_diagnostics.py
  tests/components/mqtt/test_discovery.py
  tests/components/mqtt/test_init.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#116620 Use runtime_data for airq
  homeassistant/components/airq/__init__.py
  homeassistant/components/airq/sensor.py
Labels: cla-signed, small-pr, code-quality, smash, integration: airq, Quality Scale: No score

#116622 Use runtime_data for airthings
  homeassistant/components/airthings/__init__.py
  homeassistant/components/airthings/sensor.py
Labels: cla-signed, small-pr, code-quality, smash, integration: airthings, Quality Scale: No score

#116318 Refactor group state logic
  homeassistant/components/group/entity.py
  homeassistant/components/group/registry.py
  tests/components/group/test_init.py
Labels: core, cla-signed, has-tests

#115948 Add vesync Vital 100S UK & EU Model mappings
  homeassistant/components/vesync/const.py
Labels: cla-signed, small-pr, integration: vesync, Quality Scale: No score

#116653 Cleanup unused class attr for MQTT config flow
  homeassistant/components/mqtt/config_flow.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner, code-quality, Quality Scale: platinum

#116654 Improve docstring on roborock image entity method
  homeassistant/components/roborock/image.py
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: roborock

#116636 Replace pyserial-asyncio with pyserial-asyncio-fast in serial
  homeassistant/components/serial/manifest.json
  homeassistant/components/serial/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: serial, dependency, Quality Scale: No score, blocking event loop

#116658 Fix flaky hassio test
  tests/components/hassio/test_init.py
Labels: core, cla-signed, integration: hassio, small-pr, has-tests, Quality Scale: internal

#116657 Cleanup MQTT sensor last_reset_topic config parameter a year after removal
  homeassistant/components/mqtt/abbreviations.py
  homeassistant/components/mqtt/sensor.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner, code-quality, Quality Scale: platinum

#116661 Bump habluetooth to 2.8.1
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#116662 Bump env_canada lib to 0.6.2
  homeassistant/components/environment_canada/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: environment_canada, dependency, by-code-owner, Quality Scale: No score, blocking event loop

#115969 Add ecobee ventilator 20 min timer
  homeassistant/components/ecobee/const.py
  homeassistant/components/ecobee/manifest.json
  homeassistant/components/ecobee/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ecobee/__init__.py
  tests/components/ecobee/fixtures/ecobee-data.json
  tests/components/ecobee/test_switch.py
Labels: new-platform, cla-signed, integration: ecobee, new-feature, has-tests, Quality Scale: No score

#116660 Bump ZHA dependency bellows to 0.38.4
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, Quality Scale: No score

#116629 Migrate bluetooth to use the singleton helper
  homeassistant/components/bluetooth/__init__.py
  homeassistant/components/bluetooth/api.py
  homeassistant/components/bluetooth/config_flow.py
  homeassistant/components/bluetooth/models.py
  tests/components/bluetooth/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: bluetooth, Quality Scale: internal

#116395 Clean up small changes from OpenAI conversation entity change
  homeassistant/components/openai_conversation/__init__.py
  homeassistant/components/openai_conversation/const.py
  homeassistant/components/openai_conversation/conversation.py
Labels: cla-signed, small-pr, Quality Scale: No score, integration: openai_conversation

#116447 Convert history tests to use async API
  tests/components/history/conftest.py
  tests/components/history/test_init.py
  tests/components/history/test_init_db_schema_30.py
  tests/components/history/test_websocket_api.py
  tests/components/history/test_websocket_api_schema_32.py
  tests/components/recorder/test_init.py
  tests/conftest.py
Labels: core, cla-signed, integration: history, small-pr, has-tests, by-code-owner, Quality Scale: internal

#116638 Drop pyserial-asyncio from zha
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, Quality Scale: No score, blocking event loop

#116426 Add title feature to notify entity platform
  homeassistant/components/demo/notify.py
  homeassistant/components/ecobee/notify.py
  homeassistant/components/kitchen_sink/notify.py
  homeassistant/components/knx/notify.py
  homeassistant/components/mqtt/notify.py
  homeassistant/components/notify/__init__.py
  homeassistant/components/notify/services.yaml
  homeassistant/components/notify/strings.json
  homeassistant/helpers/selector.py
  tests/components/demo/test_notify.py
  tests/components/notify/test_init.py
Labels: core, cla-signed, integration: notify, integration: demo, new-feature, has-tests, Quality Scale: internal, integration: kitchen_sink

#116630 Bump `imgw_pib` to version 1.0.1
  homeassistant/components/imgw_pib/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: imgw_pib

#116663 Bump habluetooth to 3.0.1
  homeassistant/components/bluetooth/manager.py
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/airthings_ble/__init__.py
  tests/components/aranet/__init__.py
  tests/components/bluetooth/__init__.py
  tests/components/bluetooth/test_diagnostics.py
  tests/components/bluetooth/test_passive_update_processor.py
  tests/components/bluetooth_le_tracker/test_device_tracker.py
  tests/components/bthome/__init__.py
  tests/components/dormakaba_dkey/__init__.py
  tests/components/eq3btsmart/conftest.py
  tests/components/fjaraskupan/__init__.py
  tests/components/ibeacon/test_device_tracker.py
  tests/components/idasen_desk/__init__.py
  tests/components/improv_ble/__init__.py
  tests/components/keymitt_ble/__init__.py
  tests/components/ld2410_ble/__init__.py
  tests/components/led_ble/__init__.py
  tests/components/medcom_ble/__init__.py
  tests/components/melnor/conftest.py
  tests/components/motionblinds_ble/test_config_flow.py
  tests/components/oralb/__init__.py
  tests/components/private_ble_device/__init__.py
  tests/components/switchbot/__init__.py
  tests/components/xiaomi_ble/__init__.py
  tests/components/yalexs_ble/__init__.py
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#116673 Block dreame_vacuum versions older than 1.0.4
  homeassistant/loader.py
Labels: core, cla-signed, small-pr

#115857 Fix nws forecast coordinators and remove legacy forecast handling
  homeassistant/components/nws/__init__.py
  homeassistant/components/nws/manifest.json
  homeassistant/components/nws/sensor.py
  homeassistant/components/nws/weather.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nws/conftest.py
  tests/components/nws/test_weather.py
Labels: cla-signed, small-pr, has-tests, integration: nws, by-code-owner, bugfix, Quality Scale: platinum

#116689 Fix fyta test timezone handling
  tests/components/fyta/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, smash, Quality Scale: No score, code-owner-approved, integration: fyta

#116651 Bump govee-light-local library and fix wrong information for Govee lights
  homeassistant/components/govee_light_local/light.py
  homeassistant/components/govee_light_local/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: govee_light_local

#116686 Move NAM Data Update Coordinator to the coordinator module
  homeassistant/components/nam/__init__.py
  homeassistant/components/nam/button.py
  homeassistant/components/nam/coordinator.py
  homeassistant/components/nam/diagnostics.py
  homeassistant/components/nam/sensor.py
Labels: cla-signed, by-code-owner, code-quality, integration: nam, Quality Scale: platinum

#116569 Fix Matter startup when Matter bridge is present
  homeassistant/components/matter/light.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: matter, Quality Scale: No score

#116688 Fix fyta test warning
  tests/components/fyta/conftest.py
Labels: cla-signed, small-pr, has-tests, code-quality, smash, Quality Scale: No score, code-owner-approved, integration: fyta

#116687 Fix snapcast test warning
  tests/components/snapcast/conftest.py
Labels: cla-signed, small-pr, integration: snapcast, has-tests, code-quality, smash, Quality Scale: No score

#116682 Add test for HA stop to devolo Home Control
  tests/components/devolo_home_control/mocks.py
  tests/components/devolo_home_control/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, integration: devolo_home_control, code-quality, Quality Scale: gold

#116691 Use `runtime_data` to store NextDNS data
  homeassistant/components/nextdns/__init__.py
  homeassistant/components/nextdns/binary_sensor.py
  homeassistant/components/nextdns/button.py
  homeassistant/components/nextdns/diagnostics.py
  homeassistant/components/nextdns/sensor.py
  homeassistant/components/nextdns/switch.py
Labels: cla-signed, by-code-owner, code-quality, integration: nextdns, Quality Scale: platinum

#116672 Use ConfigEntry runtime_data in devolo Home Control
  homeassistant/components/devolo_home_control/__init__.py
  homeassistant/components/devolo_home_control/binary_sensor.py
  homeassistant/components/devolo_home_control/climate.py
  homeassistant/components/devolo_home_control/cover.py
  homeassistant/components/devolo_home_control/diagnostics.py
  homeassistant/components/devolo_home_control/light.py
  homeassistant/components/devolo_home_control/sensor.py
  homeassistant/components/devolo_home_control/siren.py
  homeassistant/components/devolo_home_control/switch.py
  tests/components/devolo_home_control/test_init.py
Labels: cla-signed, by-code-owner, integration: devolo_home_control, code-quality, Quality Scale: gold

#116697 EntityDescription doesn't need to be generic for NextDNS binary sensor and switch platforms
  homeassistant/components/nextdns/binary_sensor.py
  homeassistant/components/nextdns/switch.py
Labels: cla-signed, by-code-owner, code-quality, integration: nextdns, Quality Scale: platinum

#116373 Convert sensor recorder tests to use async API
  tests/components/sensor/test_recorder.py
Labels: core, cla-signed, small-pr, integration: sensor, has-tests, by-code-owner, Quality Scale: internal

#116448 Convert recorder entity registry tests to use async API
  tests/components/recorder/common.py
  tests/components/recorder/test_entity_registry.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#116699 Bump `nettigo-air-monitor` to version 3.0.1
  homeassistant/components/nam/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: nam, Quality Scale: platinum

#116714 Cleanup OpenAI and Ollama conversation entities
  homeassistant/components/ollama/conversation.py
  homeassistant/components/openai_conversation/conversation.py
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: openai_conversation, integration: ollama

#116696 2024.5.1
  .coveragerc
  homeassistant/components/airthings_ble/manifest.json
  homeassistant/components/airthings_ble/sensor.py
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/broadlink/remote.py
  homeassistant/components/elkm1/manifest.json
  homeassistant/components/environment_canada/manifest.json
  homeassistant/components/govee_light_local/light.py
  homeassistant/components/govee_light_local/manifest.json
  homeassistant/components/homekit_controller/connection.py
  homeassistant/components/knx/notify.py
  homeassistant/components/matter/light.py
  homeassistant/components/mqtt/client.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/nws/__init__.py
  homeassistant/components/nws/manifest.json
  homeassistant/components/nws/sensor.py
  homeassistant/components/nws/weather.py
  homeassistant/components/ondilo_ico/__init__.py
  homeassistant/components/ondilo_ico/coordinator.py
  homeassistant/components/ondilo_ico/sensor.py
  homeassistant/components/opentherm_gw/manifest.json
  homeassistant/components/sanix/manifest.json
  homeassistant/components/unifi/manifest.json
  homeassistant/components/upb/manifest.json
  homeassistant/components/waze_travel_time/manifest.json
  homeassistant/components/zha/manifest.json
  homeassistant/const.py
  homeassistant/loader.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  tests/components/fyta/test_config_flow.py
  tests/components/nws/conftest.py
  tests/components/nws/test_weather.py
Labels: core, cla-signed, merging-to-master

#116729 Replace get_hub with runtime_data in Axis integration
  homeassistant/components/axis/__init__.py
  homeassistant/components/axis/binary_sensor.py
  homeassistant/components/axis/camera.py
  homeassistant/components/axis/config_flow.py
  homeassistant/components/axis/diagnostics.py
  homeassistant/components/axis/hub/hub.py
  homeassistant/components/axis/light.py
  homeassistant/components/axis/switch.py
  tests/components/axis/test_hub.py
Labels: cla-signed, integration: axis, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#116721 Fix Bosch-SHC switch state
  homeassistant/components/bosch_shc/switch.py
Labels: cla-signed, small-pr, bugfix, integration: bosch_shc, Quality Scale: No score

#116659 Fix active state mapping in wolflink
  homeassistant/components/wolflink/const.py
Labels: cla-signed, small-pr, by-code-owner, integration: wolflink, bugfix, Quality Scale: No score

#116747 Fix UpdateCoordinator types in CoordinatorWeatherEntity constructor
  homeassistant/components/weather/__init__.py
Labels: core, cla-signed, integration: weather, small-pr, code-quality, Quality Scale: internal

#116749 Bump ruff to 0.4.3
  .pre-commit-config.yaml
  homeassistant/components/auth/__init__.py
  pyproject.toml
  requirements_test_pre_commit.txt
  tests/components/auth/test_init.py
Labels: core, cla-signed, small-pr, integration: auth, dependency, Quality Scale: internal

#116764 Store runtime data inside the config entry in DWD
  homeassistant/components/dwd_weather_warnings/__init__.py
  homeassistant/components/dwd_weather_warnings/coordinator.py
  homeassistant/components/dwd_weather_warnings/sensor.py
  tests/components/dwd_weather_warnings/test_init.py
Labels: cla-signed, small-pr, has-tests, integration: dwd_weather_warnings, code-quality, Quality Scale: No score

#116763 Store runtime data inside the config entry in Shelly
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/binary_sensor.py
  homeassistant/components/shelly/button.py
  homeassistant/components/shelly/climate.py
  homeassistant/components/shelly/const.py
  homeassistant/components/shelly/coordinator.py
  homeassistant/components/shelly/cover.py
  homeassistant/components/shelly/diagnostics.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/event.py
  homeassistant/components/shelly/light.py
  homeassistant/components/shelly/number.py
  homeassistant/components/shelly/sensor.py
  homeassistant/components/shelly/switch.py
  homeassistant/components/shelly/update.py
  homeassistant/components/shelly/valve.py
Labels: cla-signed, integration: shelly, code-quality, Quality Scale: platinum, code-owner-approved

#116760 Improve CoordinatorWeatherEntity generic typing
  homeassistant/components/accuweather/weather.py
  homeassistant/components/metoffice/weather.py
  homeassistant/components/nws/weather.py
  homeassistant/components/weather/__init__.py
Labels: core, cla-signed, integration: weather, small-pr, integration: metoffice, integration: nws, code-quality, integration: accuweather, Quality Scale: No score, Quality Scale: internal, Quality Scale: platinum

#116726 Update unique_id to string in Honeywell
  homeassistant/components/honeywell/climate.py
  tests/components/honeywell/test_climate.py
Labels: cla-signed, small-pr, integration: honeywell, by-code-owner, bugfix, Quality Scale: No score

#116778 Store BraviaTV data in `config_entry.runtime_data`
  homeassistant/components/braviatv/__init__.py
  homeassistant/components/braviatv/button.py
  homeassistant/components/braviatv/diagnostics.py
  homeassistant/components/braviatv/media_player.py
  homeassistant/components/braviatv/remote.py
Labels: cla-signed, small-pr, integration: braviatv, by-code-owner, code-quality, Quality Scale: No score

#116772 Move Brother DataUpdateCoordinator to the coordinator module
  homeassistant/components/brother/__init__.py
  homeassistant/components/brother/const.py
  homeassistant/components/brother/coordinator.py
  homeassistant/components/brother/diagnostics.py
  homeassistant/components/brother/sensor.py
Labels: cla-signed, by-code-owner, integration: brother, code-quality, Quality Scale: platinum

#116785 Bump bluetooth-adapters to 0.19.2
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#116720 Bump aiohttp-isal to 0.3.1
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#116728 Remove suggested UoM from Opower
  homeassistant/components/opower/sensor.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: opower

#116767 Store runtime data inside the config entry in Met.no
  homeassistant/components/met/__init__.py
  homeassistant/components/met/weather.py
Labels: cla-signed, small-pr, integration: met, code-quality, Quality Scale: No score

#116790 Store runtime data inside the config entry in Nextcloud
  homeassistant/components/nextcloud/__init__.py
  homeassistant/components/nextcloud/binary_sensor.py
  homeassistant/components/nextcloud/entity.py
  homeassistant/components/nextcloud/sensor.py
  homeassistant/components/nextcloud/update.py
Labels: cla-signed, small-pr, by-code-owner, integration: nextcloud, code-quality, Quality Scale: No score

#116787 Store runtime data inside the config entry in SamsungTV
  homeassistant/components/samsungtv/__init__.py
  homeassistant/components/samsungtv/device_trigger.py
  homeassistant/components/samsungtv/diagnostics.py
  homeassistant/components/samsungtv/helpers.py
  homeassistant/components/samsungtv/media_player.py
  homeassistant/components/samsungtv/remote.py
Labels: cla-signed, integration: samsungtv, code-quality, Quality Scale: No score

#116795 fix UnboundLocalError on modified_statistic_ids in compile_statistics
  homeassistant/components/recorder/statistics.py
Labels: core, integration: recorder, cla-signed, small-pr, bugfix, Quality Scale: internal

#116704 Add workaround for data entry flow show progress
  homeassistant/data_entry_flow.py
Labels: core, cla-signed, small-pr

#116797 Fix IMAP config entry setup
  homeassistant/components/imap/config_flow.py
Labels: cla-signed, small-pr, integration: imap, by-code-owner, bugfix, Quality Scale: No score

#116788 Store runtime data inside the config entry in OpenWeatherMap
  homeassistant/components/openweathermap/__init__.py
  homeassistant/components/openweathermap/const.py
  homeassistant/components/openweathermap/sensor.py
  homeassistant/components/openweathermap/weather.py
Labels: cla-signed, integration: openweathermap, code-quality, Quality Scale: No score

#116803 Store runtime data inside the config entry in VLC telnet
  homeassistant/components/vlc_telnet/__init__.py
  homeassistant/components/vlc_telnet/media_player.py
Labels: cla-signed, code-quality, integration: vlc_telnet, Quality Scale: No score

#116802 Store runtime data inside the config entry in Speedtest.net
  homeassistant/components/speedtestdotnet/__init__.py
  homeassistant/components/speedtestdotnet/config_flow.py
  homeassistant/components/speedtestdotnet/sensor.py
  tests/components/speedtestdotnet/test_config_flow.py
  tests/components/speedtestdotnet/test_init.py
  tests/components/speedtestdotnet/test_sensor.py
Labels: cla-signed, small-pr, integration: speedtestdotnet, has-tests, code-quality, Quality Scale: No score

#116806 Store runtime data inside the config entry in Pi-Hole
  homeassistant/components/pi_hole/__init__.py
  homeassistant/components/pi_hole/binary_sensor.py
  homeassistant/components/pi_hole/const.py
  homeassistant/components/pi_hole/diagnostics.py
  homeassistant/components/pi_hole/sensor.py
  homeassistant/components/pi_hole/switch.py
  homeassistant/components/pi_hole/update.py
  tests/components/pi_hole/test_init.py
Labels: cla-signed, integration: pi_hole, has-tests, code-quality, Quality Scale: No score

#116771 Store runtime data inside the config entry in NUT
  homeassistant/components/nut/__init__.py
  homeassistant/components/nut/const.py
  homeassistant/components/nut/device_action.py
  homeassistant/components/nut/diagnostics.py
  homeassistant/components/nut/sensor.py
  tests/components/nut/test_device_action.py
Labels: cla-signed, integration: nut, code-quality, Quality Scale: No score

#116808 Store runtime data inside the config entry in Sun
  homeassistant/components/sun/__init__.py
  homeassistant/components/sun/entity.py
  homeassistant/components/sun/sensor.py
Labels: core, cla-signed, integration: sun, small-pr, code-quality, Quality Scale: internal

#116711 Improve logging of _TrackPointUTCTime objects
  homeassistant/helpers/event.py
  tests/helpers/test_event.py
  tests/ignore_uncaught_exceptions.py
Labels: core, cla-signed

#116818 Store runtime data inside the config entry in Local ToDo
  homeassistant/components/local_todo/__init__.py
  homeassistant/components/local_todo/todo.py
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: local_todo

#116819 Store runtime data inside the config entry in Certificate Expiry
  homeassistant/components/cert_expiry/__init__.py
  homeassistant/components/cert_expiry/sensor.py
Labels: cla-signed, small-pr, integration: cert_expiry, code-quality, Quality Scale: No score

#116820 Store runtime data inside the config entry in Bring
  homeassistant/components/bring/__init__.py
  homeassistant/components/bring/todo.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: bring

#116816 Store runtime data inside the config entry in System Monitor
  homeassistant/components/systemmonitor/__init__.py
  homeassistant/components/systemmonitor/binary_sensor.py
  homeassistant/components/systemmonitor/const.py
  homeassistant/components/systemmonitor/diagnostics.py
  homeassistant/components/systemmonitor/sensor.py
  homeassistant/components/systemmonitor/util.py
Labels: cla-signed, integration: systemmonitor, code-quality, Quality Scale: No score

#116813 Hide conversation agents that are exposed as agent entities
  homeassistant/components/conversation/http.py
Labels: core, cla-signed, integration: conversation, small-pr, bugfix, Quality Scale: internal

#116824 Store runtime data inside the config entry in Android TV Remote
  homeassistant/components/androidtv_remote/__init__.py
  homeassistant/components/androidtv_remote/diagnostics.py
  homeassistant/components/androidtv_remote/media_player.py
  homeassistant/components/androidtv_remote/remote.py
Labels: cla-signed, small-pr, code-quality, Quality Scale: platinum, code-owner-approved, integration: androidtv_remote

#116796 Ensure all synology_dsm coordinators handle expired sessions
  homeassistant/components/synology_dsm/__init__.py
  homeassistant/components/synology_dsm/common.py
  homeassistant/components/synology_dsm/coordinator.py
Labels: cla-signed, integration: synology_dsm, Quality Scale: No score

#116703 Migrate properties to instance variables in NAM coordinator
  homeassistant/components/nam/__init__.py
  homeassistant/components/nam/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: nam, Quality Scale: platinum

#116368 Move Totalconnect coordinator to separate module
  homeassistant/components/totalconnect/__init__.py
  homeassistant/components/totalconnect/alarm_control_panel.py
  homeassistant/components/totalconnect/binary_sensor.py
  homeassistant/components/totalconnect/button.py
  homeassistant/components/totalconnect/coordinator.py
  homeassistant/components/totalconnect/entity.py
  tests/components/totalconnect/test_alarm_control_panel.py
Labels: cla-signed, integration: totalconnect, code-quality, smash, Quality Scale: No score

#116848 Correct stale docstring on mqtt config flow method
  homeassistant/components/mqtt/config_flow.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner, code-quality, Quality Scale: platinum

#107078 Use parametrize in drop connect sensor tests
  tests/components/drop_connect/common.py
  tests/components/drop_connect/snapshots/test_sensor.ambr
  tests/components/drop_connect/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: drop_connect

#116836 Increase default timeout to 30 seconds in Synology DSM
  homeassistant/components/synology_dsm/common.py
  homeassistant/components/synology_dsm/config_flow.py
  homeassistant/components/synology_dsm/const.py
Labels: cla-signed, small-pr, by-code-owner, integration: synology_dsm, bugfix, Quality Scale: No score

#116839 Avoid duplicate data fetch during Synologs DSM setup
  homeassistant/components/synology_dsm/__init__.py
Labels: cla-signed, small-pr, by-code-owner, integration: synology_dsm, bugfix, Quality Scale: No score

#116851 Increase test coverage for Total Connect
  tests/components/totalconnect/test_alarm_control_panel.py
Labels: cla-signed, small-pr, integration: totalconnect, has-tests, code-quality, Quality Scale: No score

#116827 Bump tcc to 2024.5
  homeassistant/components/totalconnect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: totalconnect, by-code-owner, Quality Scale: No score

#116829 Fix non-thread-safe state write in lutron event
  homeassistant/components/lutron/event.py
Labels: integration: lutron, cla-signed, small-pr, bugfix, Quality Scale: No score, non-thread-safe operation

#116775 Add Sensor descriptions for Bosch SHC
  homeassistant/components/bosch_shc/sensor.py
Labels: cla-signed, code-quality, integration: bosch_shc, Quality Scale: No score

#116844 Bump androidtvremote2 to v0.0.15
  homeassistant/components/androidtv_remote/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: platinum, integration: androidtv_remote

#116427 Add update coordinator for Habitica integration
  .coveragerc
  homeassistant/components/habitica/__init__.py
  homeassistant/components/habitica/coordinator.py
  homeassistant/components/habitica/sensor.py
  homeassistant/components/habitica/strings.json
  tests/components/habitica/test_init.py
Labels: cla-signed, integration: habitica, has-tests, by-code-owner, code-quality, Quality Scale: No score

#116815 Remove timeout option and set timeout static to 30 seconds in Synology DSM
  homeassistant/components/synology_dsm/__init__.py
  homeassistant/components/synology_dsm/common.py
  homeassistant/components/synology_dsm/config_flow.py
  tests/components/synology_dsm/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, has-tests, by-code-owner, integration: synology_dsm, Quality Scale: No score

#116874 fix radarr coordinator updates
  homeassistant/components/radarr/coordinator.py
Labels: cla-signed, small-pr, integration: radarr, by-code-owner, bugfix, Quality Scale: No score

#116886 Improve recorder and worker thread matching in RecorderPool
  homeassistant/components/recorder/core.py
  homeassistant/components/recorder/executor.py
  homeassistant/components/recorder/pool.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_pool.py
Labels: core, integration: recorder, cla-signed, has-tests, code-quality, Quality Scale: internal

#116879 Replace utcnow().timestamp() with time.time() in auth_store
  homeassistant/auth/auth_store.py
Labels: core, cla-signed, small-pr, code-quality

#116877 Refactor entity_platform polling to avoid double time fetch
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_entity_component.py
  tests/helpers/test_entity_platform.py
Labels: core, cla-signed, small-pr, code-quality

#116867 Turn on thread safety checks in async_dispatcher_send
  homeassistant/bootstrap.py
  homeassistant/config_entries.py
  homeassistant/helpers/discovery.py
  homeassistant/helpers/dispatcher.py
  homeassistant/helpers/script.py
  tests/helpers/test_dispatcher.py
Labels: core, cla-signed, code-quality

#116857 Keep august offline key up to date when it changes
  homeassistant/components/august/__init__.py
  tests/components/august/fixtures/get_lock.online_with_keys.json
Labels: cla-signed, integration: august, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#116805 Fix airthings-ble data drop outs when Bluetooth connection is flakey
  homeassistant/components/airthings_ble/__init__.py
  homeassistant/components/airthings_ble/const.py
  homeassistant/components/airthings_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: airthings_ble, Quality Scale: No score
