Repository home-assistant/core, pull requests merged in 2024-11, with the labels that each got.

#129576 Fix flaky camera test
  tests/components/camera/test_init.py
Labels: Hacktoberfest, core, integration: camera, cla-signed, small-pr, has-tests, code-quality, Quality Scale: internal

#129617 Bump python-bsblan to 1.0.0
  homeassistant/components/bsblan/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: bsblan, Quality Scale: No score

#129319 Ensure entry_id is set on reauth/reconfigure flows
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: Hacktoberfest, core, cla-signed, small-pr, deprecation

#129466 Add boost switch to Smarty
  homeassistant/components/smarty/__init__.py
  homeassistant/components/smarty/strings.json
  homeassistant/components/smarty/switch.py
  tests/components/smarty/conftest.py
  tests/components/smarty/snapshots/test_switch.ambr
  tests/components/smarty/test_switch.py
Labels: Hacktoberfest, new-platform, cla-signed, new-feature, integration: smarty, Quality Scale: No score

#129562 Add OptionsFlow helpers to get the current config entry
  homeassistant/components/airnow/config_flow.py
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: Hacktoberfest, core, cla-signed, small-pr, new-feature, integration: airnow, deprecation, Quality Scale: No score

#129628 Remove unnecessary asyncio EventLoopPolicy init_watcher backport
  homeassistant/runner.py
Labels: core, cla-signed, small-pr, code-quality

#128365 Add handler to restore a backup file with the backup integration
  homeassistant/__main__.py
  homeassistant/backup_restore.py
  homeassistant/components/backup/const.py
  homeassistant/components/backup/manager.py
  homeassistant/components/backup/websocket.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  tests/components/backup/snapshots/test_websocket.ambr
  tests/components/backup/test_manager.py
  tests/components/backup/test_websocket.py
  tests/test_backup_restore.py
  tests/test_main.py
Labels: Hacktoberfest, core, cla-signed, new-feature, integration: backup, Quality Scale: internal

#129627 Bump webrtc-models to 0.2.0
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#129569 Fix Geniushub setup
  homeassistant/components/geniushub/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: geniushub, bugfix, Quality Scale: No score

#129639 Bump spotifyaio to 0.8.2
  homeassistant/components/spotify/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: spotify, dependency, by-code-owner, Quality Scale: silver

#129643 Bump aioesphomeapi to 27.0.1
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: platinum

#129640 Bump aiohomekit to 3.2.6
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, Quality Scale: No score

#129669 Bump ruff to 0.7.2
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
  script/hassfest/docker/Dockerfile
Labels: cla-signed, small-pr, dependency

#129657 Bump sensorpush-ble to 1.7.1
  homeassistant/components/sensorpush/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: sensorpush, Quality Scale: No score

#129684 Bump autarco lib to v3.1.0
  homeassistant/components/autarco/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: autarco

#129688 Refactor av.open calls to support type annotations
  homeassistant/components/stream/recorder.py
  homeassistant/components/stream/worker.py
Labels: core, cla-signed, integration: stream, code-quality, Quality Scale: internal

#129689 Replace AVError with FFmpegError
  homeassistant/components/stream/worker.py
Labels: core, cla-signed, small-pr, integration: stream, code-quality, Quality Scale: internal

#129625 Update mypy-dev to 1.14.0a2
  homeassistant/components/energy/data.py
  homeassistant/components/image_processing/__init__.py
  mypy.ini
  requirements_test.txt
  script/hassfest/mypy_config.py
Labels: core, cla-signed, integration: image_processing, small-pr, dependency, integration: energy, smash, Quality Scale: internal

#129691 Minor stream typing improvements
  homeassistant/components/stream/const.py
  homeassistant/components/stream/core.py
  homeassistant/components/stream/recorder.py
  homeassistant/components/stream/worker.py
Labels: core, cla-signed, small-pr, integration: stream, code-quality, Quality Scale: internal

#129591 Revert "Create a script service schema based on fields"
  homeassistant/components/script/__init__.py
  tests/components/script/test_init.py
Labels: Hacktoberfest, core, cla-signed, integration: script, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: internal

#129695 Additional stream typing improvements
  homeassistant/components/stream/core.py
  homeassistant/components/stream/recorder.py
  homeassistant/components/stream/worker.py
Labels: core, cla-signed, small-pr, integration: stream, code-quality, Quality Scale: internal

#129645 Disable cleanup_closed on python 3.12.7+ and 3.13.1+
  homeassistant/helpers/aiohttp_client.py
Labels: core, cla-signed, small-pr, code-quality

#129709 Bump DoorBirdPy to 3.0.8
  homeassistant/components/doorbird/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: doorbird, small-pr, dependency, by-code-owner, Quality Scale: No score

#129675 Add DHCP discovery to lamarzocco
  homeassistant/components/lamarzocco/config_flow.py
  homeassistant/components/lamarzocco/manifest.json
  homeassistant/generated/dhcp.py
  tests/components/lamarzocco/conftest.py
  tests/components/lamarzocco/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: lamarzocco

#129725 Correct length of the serials in lamarzocco tests
  tests/components/lamarzocco/__init__.py
  tests/components/lamarzocco/conftest.py
  tests/components/lamarzocco/snapshots/test_binary_sensor.ambr
  tests/components/lamarzocco/snapshots/test_button.ambr
  tests/components/lamarzocco/snapshots/test_calendar.ambr
  tests/components/lamarzocco/snapshots/test_number.ambr
  tests/components/lamarzocco/snapshots/test_select.ambr
  tests/components/lamarzocco/snapshots/test_sensor.ambr
  tests/components/lamarzocco/snapshots/test_switch.ambr
  tests/components/lamarzocco/snapshots/test_update.ambr
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score, integration: lamarzocco

#129735 Fix advantage_air CI failure
  tests/components/advantage_air/test_binary_sensor.py
  tests/components/advantage_air/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: advantage_air, Quality Scale: platinum, code-owner-approved

#129702 Bump bring-api to 0.9.1
  homeassistant/components/bring/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, smash, Quality Scale: No score, integration: bring

#129715 Bump HAP-python to 4.9.2
  homeassistant/components/homekit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit, dependency, by-code-owner, Quality Scale: No score

#129736 Small cleanup mold_indicator
  homeassistant/components/mold_indicator/sensor.py
Labels: cla-signed, small-pr, integration: mold_indicator, code-quality, Quality Scale: internal

#129718 Add OptionsFlow helper for a mutable copy of the config entry options
  homeassistant/components/mqtt/config_flow.py
  homeassistant/components/onvif/config_flow.py
  homeassistant/components/webostv/config_flow.py
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: core, cla-signed, integration: mqtt, new-feature, integration: webostv, integration: onvif, deprecation, Quality Scale: No score, Quality Scale: platinum

#129713 Add missing translation string to lamarzocco
  homeassistant/components/lamarzocco/strings.json
  tests/components/lamarzocco/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: lamarzocco

#129531 Improve code quality in yale_smart_alarm options flow
  homeassistant/components/yale_smart_alarm/config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: yale_smart_alarm, by-code-owner, code-quality, Quality Scale: No score

#129670 Add state class to precipitation_intensity in Aemet
  homeassistant/components/aemet/sensor.py
Labels: cla-signed, small-pr, integration: aemet, bugfix, Quality Scale: No score

#129724 Add Measurement StateClass to HomematicIP Cloud Wind and Rain Sensor
  homeassistant/components/homematicip_cloud/sensor.py
  tests/components/homematicip_cloud/test_sensor.py
Labels: cla-signed, small-pr, integration: homematicip_cloud, has-tests, by-code-owner, bugfix, Quality Scale: silver

#129729 Bump spotifyaio to 0.8.3
  homeassistant/components/spotify/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: spotify, by-code-owner, bugfix, Quality Scale: silver

#129752 Cleanup unnecessary OptionsFlowWithConfigEntry (part 1)
  homeassistant/components/analytics_insights/config_flow.py
  homeassistant/components/axis/config_flow.py
  homeassistant/components/bmw_connected_drive/config_flow.py
  homeassistant/components/dnsip/config_flow.py
  homeassistant/components/emoncms/config_flow.py
  homeassistant/components/enphase_envoy/config_flow.py
  homeassistant/components/feedreader/config_flow.py
  homeassistant/components/file/config_flow.py
  homeassistant/components/fritz/config_flow.py
  homeassistant/components/google_cloud/config_flow.py
  homeassistant/components/imap/config_flow.py
  homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jewish_calendar/config_flow.py
  homeassistant/components/kitchen_sink/config_flow.py
  homeassistant/components/lamarzocco/config_flow.py
  homeassistant/components/lastfm/config_flow.py
  homeassistant/components/met/config_flow.py
  homeassistant/components/onewire/config_flow.py
  homeassistant/components/opensky/config_flow.py
  homeassistant/components/pvpc_hourly_pricing/config_flow.py
  homeassistant/components/roborock/config_flow.py
  homeassistant/components/roku/config_flow.py
  homeassistant/components/roomba/config_flow.py
  homeassistant/components/sql/config_flow.py
  homeassistant/components/trafikverket_train/config_flow.py
  homeassistant/components/upnp/config_flow.py
  homeassistant/components/vodafone_station/config_flow.py
  homeassistant/components/wled/config_flow.py
  homeassistant/components/workday/config_flow.py
  homeassistant/components/youtube/config_flow.py
Labels: cla-signed, code-quality

#129755 Add HassRespond intent
  homeassistant/components/intent/__init__.py
  homeassistant/helpers/intent.py
  homeassistant/helpers/llm.py
Labels: core, cla-signed, integration: intent, small-pr, new-feature, by-code-owner, Quality Scale: internal

#129758 Fix flaky tests in advantage_air
  tests/components/advantage_air/test_binary_sensor.py
  tests/components/advantage_air/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: advantage_air, Quality Scale: platinum, code-owner-approved

#124168 Show NUT device serial number if provided in Device Info
  homeassistant/components/nut/__init__.py
  homeassistant/components/nut/sensor.py
  tests/components/nut/test_init.py
Labels: cla-signed, small-pr, new-feature, integration: nut, Quality Scale: No score

#129356 Only set ESPHome configuration url to addon if there is an existing configuration for the device
  homeassistant/components/esphome/manager.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, by-code-owner, bugfix, Quality Scale: platinum

#129683 Bump python-linkplay to 0.0.17
  homeassistant/components/linkplay/manifest.json
  homeassistant/components/linkplay/media_player.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: linkplay

#129668 Bump plugwise to v1.5.0
  homeassistant/components/plugwise/config_flow.py
  homeassistant/components/plugwise/coordinator.py
  homeassistant/components/plugwise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: plugwise, dependency, by-code-owner, Quality Scale: No score

#129711 Fix nest streams broken due to CameraCapabilities change
  homeassistant/components/nest/camera.py
  tests/components/nest/test_camera.py
  tests/components/nest/test_media_source.py
Labels: cla-signed, integration: nest, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#129769 Bump thinqconnect to 1.0.0
  homeassistant/components/lg_thinq/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: lg_thinq

#129701 Change alexa arm handler to allow switching arm states unless in armed_away mode
  homeassistant/components/alexa/handlers.py
  tests/components/alexa/test_smart_home.py
Labels: core, cla-signed, integration: alexa, small-pr, has-tests, bugfix, Quality Scale: No score

#129659 Bump Airthings BLE to 0.9.2
  homeassistant/components/airthings_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: airthings_ble, Quality Scale: No score

#129784 Use new helper properties in rfxtrx options flow
  homeassistant/components/rfxtrx/config_flow.py
Labels: cla-signed, integration: rfxtrx, small-pr, code-quality, Quality Scale: No score

#129790 Use new helper properties in yalexs_ble options flow
  homeassistant/components/yalexs_ble/config_flow.py
Labels: cla-signed, small-pr, code-quality, integration: yalexs_ble, Quality Scale: No score

#129789 Use new helper properties in watttime options flow
  homeassistant/components/watttime/config_flow.py
Labels: cla-signed, small-pr, code-quality, integration: watttime, Quality Scale: No score

#129788 Use new helper properties in verisure options flow
  homeassistant/components/verisure/config_flow.py
Labels: cla-signed, integration: verisure, small-pr, code-quality, Quality Scale: No score

#129787 Use new helper properties in tomorrowio options flow
  homeassistant/components/tomorrowio/config_flow.py
Labels: cla-signed, small-pr, code-quality, integration: tomorrowio, Quality Scale: No score

#129785 Use new helper properties in steam_online options flow
  homeassistant/components/steam_online/config_flow.py
Labels: cla-signed, small-pr, integration: steam_online, code-quality, Quality Scale: No score

#129783 Use new helper properties in recollect_waste options flow
  homeassistant/components/recollect_waste/config_flow.py
Labels: cla-signed, small-pr, integration: recollect_waste, code-quality, Quality Scale: No score

#129782 Use new helper properties in plaato options flow
  homeassistant/components/plaato/config_flow.py
Labels: cla-signed, small-pr, integration: plaato, code-quality, Quality Scale: No score

#129780 Use new helper properties in motioneye options flow
  homeassistant/components/motioneye/config_flow.py
Labels: cla-signed, small-pr, integration: motioneye, code-quality, Quality Scale: No score

#129776 Use new helper properties in flux_led options flow
  homeassistant/components/flux_led/config_flow.py
Labels: cla-signed, small-pr, integration: flux_led, code-quality, Quality Scale: No score

#129775 Use new helper properties in dsmr options flow
  homeassistant/components/dsmr/config_flow.py
Labels: cla-signed, small-pr, integration: dsmr, code-quality, Quality Scale: No score

#129774 Use new helper properties in crownstone options flow
  homeassistant/components/crownstone/config_flow.py
Labels: cla-signed, small-pr, code-quality, integration: crownstone, Quality Scale: No score

#129542 Small code quality improvement/cleanup in random
  homeassistant/components/random/binary_sensor.py
  homeassistant/components/random/config_flow.py
  homeassistant/components/random/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: random, code-quality, Quality Scale: internal

#129242 Add coordinator to suez_water
  homeassistant/components/suez_water/__init__.py
  homeassistant/components/suez_water/const.py
  homeassistant/components/suez_water/coordinator.py
  homeassistant/components/suez_water/sensor.py
  tests/components/suez_water/__init__.py
  tests/components/suez_water/conftest.py
  tests/components/suez_water/snapshots/test_sensor.ambr
  tests/components/suez_water/test_config_flow.py
  tests/components/suez_water/test_init.py
  tests/components/suez_water/test_sensor.py
Labels: Hacktoberfest, cla-signed, new-feature, integration: suez_water, by-code-owner, Quality Scale: No score

#129797 Fix stringification of discovered hassio uuid
  homeassistant/components/hassio/discovery.py
  tests/components/hassio/test_discovery.py
Labels: core, cla-signed, integration: hassio, small-pr, has-tests, bugfix, Quality Scale: internal

#129799 Improve error handling in Spotify
  homeassistant/components/spotify/coordinator.py
Labels: cla-signed, small-pr, integration: spotify, by-code-owner, bugfix, Quality Scale: silver

#129792 Use JSON as format for .HA_RESTORE
  homeassistant/backup_restore.py
  homeassistant/components/backup/manager.py
  tests/components/backup/test_manager.py
  tests/test_backup_restore.py
Labels: core, cla-signed, small-pr, has-tests, code-quality, integration: backup, Quality Scale: internal

#129497 Add watchdog to monitor and respawn go2rtc server
  homeassistant/components/go2rtc/__init__.py
  homeassistant/components/go2rtc/const.py
  homeassistant/components/go2rtc/server.py
  tests/components/go2rtc/conftest.py
  tests/components/go2rtc/test_server.py
Labels: Hacktoberfest, cla-signed, by-code-owner, bugfix, Quality Scale: No score, integration: go2rtc

#129804 Update go2rtc stream if stream_source is not matching
  homeassistant/components/go2rtc/__init__.py
  tests/components/go2rtc/conftest.py
  tests/components/go2rtc/test_init.py
Labels: cla-signed, small-pr, has-tests, bugfix, Quality Scale: No score, integration: go2rtc

#129805 Fix aborting flows for single config entry integrations
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: core, cla-signed, small-pr, bugfix

#129773 Remove deprecated property setters in option flows
  homeassistant/components/anthropic/config_flow.py
  homeassistant/components/cast/config_flow.py
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/demo/config_flow.py
  homeassistant/components/generic/config_flow.py
  homeassistant/components/google_generative_ai_conversation/config_flow.py
  homeassistant/components/here_travel_time/config_flow.py
  homeassistant/components/hive/config_flow.py
  homeassistant/components/homekit/config_flow.py
  homeassistant/components/hvv_departures/config_flow.py
  homeassistant/components/iss/config_flow.py
  homeassistant/components/keenetic_ndms2/config_flow.py
  homeassistant/components/knx/config_flow.py
  homeassistant/components/nina/config_flow.py
  homeassistant/components/nmap_tracker/config_flow.py
  homeassistant/components/ollama/config_flow.py
  homeassistant/components/openai_conversation/config_flow.py
  homeassistant/components/plex/config_flow.py
  homeassistant/components/purpleair/config_flow.py
  homeassistant/components/risco/config_flow.py
  homeassistant/components/sia/config_flow.py
  homeassistant/components/somfy_mylink/config_flow.py
  homeassistant/components/speedtestdotnet/config_flow.py
  homeassistant/components/tankerkoenig/config_flow.py
  homeassistant/components/unifi/config_flow.py
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zwave_js/config_flow.py
Labels: core, cla-signed, code-quality

#129457 Bump lcn-frontend to 0.2.1
  homeassistant/components/lcn/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: lcn, dependency, by-code-owner, Quality Scale: No score

#129699 Switch back to av 13.1.0
  homeassistant/components/generic/manifest.json
  homeassistant/components/stream/core.py
  homeassistant/components/stream/manifest.json
  homeassistant/components/stream/recorder.py
  homeassistant/components/stream/worker.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, Testing required, integration: stream, integration: generic, dependency, Quality Scale: No score, Quality Scale: internal

#129607 Update Spotify state after mutation
  homeassistant/components/spotify/media_player.py
  tests/components/spotify/conftest.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: spotify, by-code-owner, bugfix, Quality Scale: silver

#129635 Bump python-bsblan to 1.2.1
  homeassistant/components/bsblan/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bsblan/snapshots/test_diagnostics.ambr
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: bsblan, Quality Scale: No score

#129712 Small cleanups to the websocket command phase
  homeassistant/components/websocket_api/http.py
Labels: core, cla-signed, integration: websocket_api, small-pr, code-quality, Quality Scale: internal

#129807 Fix create flow logic for single config entry integrations
  homeassistant/config_entries.py
  tests/components/mqtt/test_config_flow.py
  tests/test_config_entries.py
Labels: core, cla-signed, small-pr, bugfix

#129791 Use new helper properties in yeelight options flow
  homeassistant/components/yeelight/config_flow.py
Labels: cla-signed, small-pr, integration: yeelight, code-quality, Quality Scale: platinum, code-owner-approved

#129726 Bump monzopy to 1.4.2
  homeassistant/components/monzo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: monzo, dependency, by-code-owner, Quality Scale: No score

#129743 Bump ayla-iot-unofficial to 1.4.3
  homeassistant/components/fujitsu_fglair/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: fujitsu_fglair

#129595 Update codeowners of Fritz integration
  CODEOWNERS
  homeassistant/components/fritz/manifest.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: fritz, by-code-owner, code-quality, Quality Scale: No score

#129803 Fix incorrect description placeholders in azure event hub
  homeassistant/components/azure_event_hub/config_flow.py
Labels: cla-signed, small-pr, integration: azure_event_hub, bugfix, Quality Scale: No score

#129541 Stop recording of non-changing attributes in threshold
  homeassistant/components/threshold/binary_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: threshold, code-quality, Quality Scale: internal

#129812 Fix ESPHome dashboard check
  homeassistant/components/esphome/manager.py
Labels: cla-signed, small-pr, integration: esphome, bugfix, Quality Scale: platinum

#129823 Fix translations in honeywell
  homeassistant/components/honeywell/strings.json
  tests/components/honeywell/test_config_flow.py
Labels: cla-signed, small-pr, integration: honeywell, has-tests, bugfix, Quality Scale: No score

#129822 Fix missing translation in jewish_calendar
  homeassistant/components/jewish_calendar/strings.json
  tests/components/jewish_calendar/test_config_flow.py
Labels: cla-signed, small-pr, integration: jewish_calendar, has-tests, bugfix, Quality Scale: silver

#129824 Fix translations in homeworks
  homeassistant/components/homeworks/strings.json
  tests/components/homeworks/test_config_flow.py
Labels: cla-signed, small-pr, integration: homeworks, has-tests, bugfix, Quality Scale: No score

#129770 Suggest area for NUT based on device location
  homeassistant/components/nut/__init__.py
  tests/components/nut/test_init.py
Labels: cla-signed, small-pr, new-feature, integration: nut, has-tests, code-quality, Quality Scale: No score

#129820 Use translated errors in Russound RIO
  homeassistant/components/russound_rio/__init__.py
  homeassistant/components/russound_rio/entity.py
  homeassistant/components/russound_rio/strings.json
Labels: cla-signed, small-pr, integration: russound_rio, by-code-owner, code-quality, Quality Scale: silver

#129817 Bump python-kasa to 0.7.7
  homeassistant/components/tplink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: tplink, dependency, by-code-owner, bugfix, Quality Scale: platinum

#129819 Remove all ice_servers on native sync WebRTC cameras
  homeassistant/components/camera/__init__.py
  tests/components/camera/conftest.py
  tests/components/camera/test_init.py
  tests/components/camera/test_webrtc.py
Labels: core, integration: camera, cla-signed, small-pr, has-tests, bugfix, Quality Scale: internal

#129821 Update charset-normalizer to 3.4.0
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, dependency

#129778 Use new helper properties in konnected options flow
  homeassistant/components/konnected/config_flow.py
Labels: cla-signed, small-pr, integration: konnected, code-quality, Quality Scale: No score

#129777 Use new helper properties in hyperion options flow
  homeassistant/components/hyperion/config_flow.py
Labels: cla-signed, small-pr, integration: hyperion, code-quality, Quality Scale: platinum

#129756 Cleanup deprecated OptionsFlowWithConfigEntry (part 3)
  homeassistant/config_entries.py
  homeassistant/helpers/schema_config_entry_flow.py
Labels: core, cla-signed, small-pr, code-quality

#129311 Reapply "Fix unused snapshots not triggering failure in CI"
  .github/workflows/ci.yaml
  tests/conftest.py
  tests/syrupy.py
Labels: Hacktoberfest, core, cla-signed, code-quality, smash

#129450 Use coordinator async_setup in vizio
  homeassistant/components/vizio/coordinator.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: vizio, code-quality, Quality Scale: platinum

#129424 Set config_entry explicitly in caldav coordinator
  homeassistant/components/caldav/calendar.py
  homeassistant/components/caldav/coordinator.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: caldav, code-quality, Quality Scale: No score

#129421 Set config_entry explicitly in todoist coordinator
  homeassistant/components/todoist/__init__.py
  homeassistant/components/todoist/calendar.py
  homeassistant/components/todoist/coordinator.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: todoist, code-quality, smash, Quality Scale: No score

#127785 Add basic testing framework to LG ThinQ
  tests/components/lg_thinq/__init__.py
  tests/components/lg_thinq/conftest.py
  tests/components/lg_thinq/fixtures/air_conditioner/device.json
  tests/components/lg_thinq/fixtures/air_conditioner/profile.json
  tests/components/lg_thinq/fixtures/air_conditioner/status.json
  tests/components/lg_thinq/snapshots/test_climate.ambr
  tests/components/lg_thinq/snapshots/test_event.ambr
  tests/components/lg_thinq/snapshots/test_number.ambr
  tests/components/lg_thinq/snapshots/test_sensor.ambr
  tests/components/lg_thinq/test_climate.py
  tests/components/lg_thinq/test_config_flow.py
  tests/components/lg_thinq/test_event.py
  tests/components/lg_thinq/test_init.py
  tests/components/lg_thinq/test_number.py
  tests/components/lg_thinq/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, has-tests, smash, integration: lg_thinq

#128097 Pass the config entry explicitly in aemet coordinator
  homeassistant/components/aemet/__init__.py
  homeassistant/components/aemet/coordinator.py
  homeassistant/components/aemet/diagnostics.py
  homeassistant/components/aemet/sensor.py
  homeassistant/components/aemet/weather.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: aemet, code-quality, smash, Quality Scale: No score

#129831 Fix translations in landisgyr
  homeassistant/components/landisgyr_heat_meter/strings.json
  tests/components/landisgyr_heat_meter/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: landisgyr_heat_meter, Quality Scale: No score

#129829 Update frontend to 20241104.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency, by-code-owner, Quality Scale: internal

#129834 Fix translations in hydrawise
  homeassistant/components/hydrawise/strings.json
  tests/components/hydrawise/test_config_flow.py
Labels: cla-signed, small-pr, integration: hydrawise, has-tests, bugfix, Quality Scale: No score

#129833 Fix translation in ovo energy
  homeassistant/components/ovo_energy/strings.json
  tests/components/ovo_energy/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: ovo_energy, Quality Scale: No score

#129850 Fix unifiprotect supported features being set too late
  homeassistant/components/unifiprotect/camera.py
  tests/components/unifiprotect/test_camera.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: unifiprotect, Quality Scale: No score

#129851 Bump uiprotect to 6.4.0
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, integration: unifiprotect, Quality Scale: No score

#129852 Disable SRTP for unifiprotect RTSPS stream
  homeassistant/components/unifiprotect/camera.py
  tests/components/unifiprotect/test_camera.py
Labels: cla-signed, small-pr, bugfix, integration: unifiprotect, Quality Scale: No score

#129841 Bump reolink-aio to 0.10.3
  homeassistant/components/reolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: reolink, Quality Scale: No score

#129716 Fix source mapping in Onkyo
  homeassistant/components/onkyo/media_player.py
Labels: cla-signed, integration: onkyo, by-code-owner, bugfix, Quality Scale: No score

#129856 Update snapshot for lg thinq
  tests/components/lg_thinq/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, has-tests, bugfix, smash, Quality Scale: No score, integration: lg_thinq

#129869 Drop use of initialize_options in onkyo
  homeassistant/components/onkyo/config_flow.py
Labels: cla-signed, small-pr, integration: onkyo, code-quality, Quality Scale: No score

#129854 Drop use of initialize_options in androidtv
  homeassistant/components/androidtv/config_flow.py
Labels: cla-signed, small-pr, integration: androidtv, code-quality, Quality Scale: No score

#129873 Bump hass-nabucasa from 0.83.0 to 0.84.0
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: cloud, small-pr, dependency, by-code-owner, Quality Scale: No score

#129875 Remove dead code in translation checks
  tests/components/conftest.py
Labels: cla-signed, small-pr, code-quality

#129871 Fix flaky tests in device_sun_light_trigger
  tests/components/device_sun_light_trigger/test_init.py
Labels: cla-signed, integration: device_sun_light_trigger, small-pr, has-tests, bugfix, Quality Scale: internal

#129846 Bump pyfibaro to 0.8.0
  homeassistant/components/fibaro/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: fibaro, dependency, smash, Quality Scale: No score

#129855 Drop use of initialize_options in androidtv_remote
  homeassistant/components/androidtv_remote/config_flow.py
Labels: cla-signed, small-pr, code-quality, Quality Scale: platinum, integration: androidtv_remote

#129536 Add reconfigure flow to yale_smart_alarm
  homeassistant/components/yale_smart_alarm/config_flow.py
  homeassistant/components/yale_smart_alarm/strings.json
  tests/components/yale_smart_alarm/test_config_flow.py
Labels: Hacktoberfest, cla-signed, new-feature, integration: yale_smart_alarm, has-tests, by-code-owner, Quality Scale: No score

#129810 Validate go2rtc server version
  homeassistant/components/go2rtc/__init__.py
  homeassistant/components/go2rtc/server.py
  tests/components/go2rtc/conftest.py
  tests/components/go2rtc/test_init.py
  tests/components/go2rtc/test_server.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: go2rtc

#129649 Add child lock for tplink thermostats
  homeassistant/components/tplink/icons.json
  homeassistant/components/tplink/strings.json
  homeassistant/components/tplink/switch.py
  tests/components/tplink/fixtures/features.json
  tests/components/tplink/snapshots/test_switch.ambr
Labels: cla-signed, small-pr, new-feature, integration: tplink, has-tests, by-code-owner, Quality Scale: platinum

#129843 Bump pynecil to 0.2.1
  homeassistant/components/iron_os/coordinator.py
  homeassistant/components/iron_os/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: iron_os

#129801 Adding new on values for Tuya Presence Detection Sensor
  homeassistant/components/tuya/binary_sensor.py
Labels: cla-signed, small-pr, new-feature, integration: tuya, Quality Scale: No score

#129847 Add repair for add-on boot fail
  homeassistant/components/hassio/const.py
  homeassistant/components/hassio/issues.py
  homeassistant/components/hassio/repairs.py
  homeassistant/components/hassio/strings.json
  tests/components/hassio/test_repairs.py
Labels: core, cla-signed, integration: hassio, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: internal

#124189 Add device model ID if provided by NUT
  homeassistant/components/nut/__init__.py
Labels: cla-signed, small-pr, new-feature, integration: nut, Quality Scale: No score

#129870 Drop initialize_options helper from OptionsFlow
  homeassistant/config_entries.py
  homeassistant/helpers/schema_config_entry_flow.py
  tests/helpers/test_schema_config_entry_flow.py
Labels: core, cla-signed, small-pr, code-quality

#129881 Append a 1 to all go2rtc ports to avoid port conflicts
  homeassistant/components/go2rtc/__init__.py
  homeassistant/components/go2rtc/const.py
  homeassistant/components/go2rtc/server.py
  tests/components/go2rtc/test_server.py
Labels: cla-signed, small-pr, has-tests, bugfix, Quality Scale: No score, integration: go2rtc

#129842 Bump python-tado to 0.17.7
  homeassistant/components/tado/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tado/fixtures/home.json
  tests/components/tado/util.py
Labels: cla-signed, small-pr, dependency, dependency-bump

#129837 Add Reolink PTZ tilt position sensor
  homeassistant/components/reolink/icons.json
  homeassistant/components/reolink/sensor.py
  homeassistant/components/reolink/strings.json
  tests/components/reolink/snapshots/test_diagnostics.ambr
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#129882 Log go2rtc output with warning level on error
  homeassistant/components/go2rtc/server.py
  tests/components/go2rtc/test_server.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score, integration: go2rtc

#129838 Bump bimmer_connected to 0.16.4
  homeassistant/components/bmw_connected_drive/config_flow.py
  homeassistant/components/bmw_connected_drive/coordinator.py
  homeassistant/components/bmw_connected_drive/manifest.json
  homeassistant/components/bmw_connected_drive/strings.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bmw_connected_drive/test_config_flow.py
  tests/components/bmw_connected_drive/test_coordinator.py
Labels: cla-signed, integration: bmw_connected_drive, has-tests, dependency, by-code-owner, Quality Scale: platinum

#129808 Skip adding providers if the camera has native WebRTC
  homeassistant/components/camera/__init__.py
  tests/components/camera/common.py
  tests/components/camera/conftest.py
  tests/components/camera/test_init.py
  tests/components/camera/test_webrtc.py
Labels: core, integration: camera, cla-signed, small-pr, bugfix, Quality Scale: internal

#129859 Fix missing translation string in emoncms
  homeassistant/components/emoncms/config_flow.py
  homeassistant/components/emoncms/strings.json
  tests/components/emoncms/test_config_flow.py
Labels: cla-signed, small-pr, integration: emoncms, has-tests, by-code-owner, code-quality, Quality Scale: No score

#129848 Use different VAD thresholds for before and during voice command
  homeassistant/components/assist_pipeline/audio_enhancer.py
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/assist_pipeline/vad.py
  tests/components/assist_pipeline/test_vad.py
Labels: cla-signed, has-tests, by-code-owner, bugfix, Quality Scale: internal, integration: assist_pipeline

#129878 Removed stale translation and improved `set_setting` translation at Home Connect
  homeassistant/components/home_connect/strings.json
  tests/components/home_connect/test_number.py
  tests/components/home_connect/test_time.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: home_connect, Quality Scale: No score

#129886 Use default package for yt-dlp
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: media_extractor, small-pr, by-code-owner, bugfix, Quality Scale: internal

#129894 Map go2rtc log levels to Python log levels
  homeassistant/components/go2rtc/server.py
  tests/components/go2rtc/test_server.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score, integration: go2rtc

#129898 Remove timers from LG ThinQ
  homeassistant/components/lg_thinq/sensor.py
  tests/components/lg_thinq/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, has-tests, bugfix, Quality Scale: No score, integration: lg_thinq

#129901 Change Ollama default to llama3.2
  homeassistant/components/ollama/const.py
Labels: cla-signed, bugfix, Quality Scale: No score, integration: ollama

#129902 Improve improv BLE error handling
  homeassistant/components/improv_ble/config_flow.py
  tests/components/improv_ble/__init__.py
  tests/components/improv_ble/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: improv_ble

#129840 Prevent update entity becoming unavailable on device disconnect in IronOS
  homeassistant/components/iron_os/update.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: iron_os

#129895 Remove usage of options property in OptionsFlow (part 1)
  homeassistant/components/analytics_insights/config_flow.py
  homeassistant/components/androidtv/config_flow.py
  homeassistant/components/elevenlabs/config_flow.py
  homeassistant/components/feedreader/config_flow.py
  homeassistant/components/fritz/config_flow.py
  homeassistant/components/lamarzocco/config_flow.py
  homeassistant/components/opensky/config_flow.py
  homeassistant/components/pvpc_hourly_pricing/config_flow.py
  homeassistant/components/roku/config_flow.py
  homeassistant/components/roomba/config_flow.py
  homeassistant/components/sql/config_flow.py
  homeassistant/components/trafikverket_train/config_flow.py
  homeassistant/components/upnp/config_flow.py
  homeassistant/components/vodafone_station/config_flow.py
  homeassistant/components/wled/config_flow.py
  homeassistant/components/workday/config_flow.py
  homeassistant/components/youtube/config_flow.py
Labels: cla-signed, code-quality

#129897 Remove usage of options property in OptionsFlow (part 2)
  homeassistant/components/axis/config_flow.py
  homeassistant/components/deconz/config_flow.py
  homeassistant/components/iss/config_flow.py
  homeassistant/components/kitchen_sink/config_flow.py
Labels: cla-signed, integration: axis, integration: deconz, small-pr, integration: iss, code-quality, Quality Scale: No score, Quality Scale: internal, Quality Scale: platinum, integration: kitchen_sink

#128267 Set friendly name of utility meter select entity when configured through YAML
  homeassistant/components/utility_meter/select.py
  tests/components/utility_meter/test_select.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: utility_meter, has-tests, by-code-owner, bugfix, Quality Scale: internal

#128407 Add signing support to Tesla Fleet
  homeassistant/components/tesla_fleet/__init__.py
  homeassistant/components/tesla_fleet/button.py
  homeassistant/components/tesla_fleet/climate.py
  homeassistant/components/tesla_fleet/cover.py
  homeassistant/components/tesla_fleet/entity.py
  homeassistant/components/tesla_fleet/media_player.py
  homeassistant/components/tesla_fleet/strings.json
  tests/components/tesla_fleet/conftest.py
  tests/components/tesla_fleet/snapshots/test_media_player.ambr
  tests/components/tesla_fleet/test_button.py
  tests/components/tesla_fleet/test_init.py
  tests/components/tesla_fleet/test_switch.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: gold, integration: tesla_fleet

#129906 Update frontend to 20241105.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#129909 Bump holidays to 0.60
  homeassistant/components/holiday/manifest.json
  homeassistant/components/workday/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: workday, dependency, by-code-owner, Quality Scale: No score, Quality Scale: internal, integration: holiday

#129911 Bump huawei-lte-api to 1.10.0
  homeassistant/components/huawei_lte/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: huawei_lte, dependency, by-code-owner, Quality Scale: No score

#129899 Bump spotifyaio to 0.8.4
  homeassistant/components/spotify/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: spotify, dependency, by-code-owner, bugfix, Quality Scale: silver

#129912 Disable uv cache
  Dockerfile
  script/hassfest/docker.py
Labels: cla-signed, small-pr

#129830 Bump intents and add HassRespond test
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/docker/Dockerfile
  tests/components/conversation/test_default_agent.py
  tests/components/intent/test_init.py
Labels: core, cla-signed, integration: conversation, small-pr, has-tests, dependency, by-code-owner, Quality Scale: internal

#129653 Update pylutron to 0.2.16
  homeassistant/components/lutron/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: integration: lutron, cla-signed, small-pr, dependency, Quality Scale: No score

#129914 Bump reolink_aio to 0.10.4
  homeassistant/components/reolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: reolink, Quality Scale: No score

#129921 Ensure all template names are strings
  homeassistant/components/template/template_entity.py
  tests/components/template/test_sensor.py
Labels: cla-signed, small-pr, integration: template, has-tests, bugfix, Quality Scale: internal
