Repository home-assistant/core, pull requests merged in 2024-09, with the labels that each got.

#125002 Use constant for default medium type in Mopeka
  homeassistant/components/mopeka/__init__.py
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: mopeka

#125007 Update aioairzone-cloud to v0.6.4
  homeassistant/components/airzone_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/airzone_cloud/snapshots/test_diagnostics.ambr
  tests/components/airzone_cloud/util.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, Quality Scale: No score, integration: airzone_cloud

#124948 Bump solarlog_cli to 0.2.2
  .strict-typing
  homeassistant/components/solarlog/config_flow.py
  homeassistant/components/solarlog/coordinator.py
  homeassistant/components/solarlog/manifest.json
  homeassistant/components/solarlog/sensor.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/solarlog/__init__.py
  tests/components/solarlog/conftest.py
  tests/components/solarlog/fixtures/solarlog_data.json
  tests/components/solarlog/snapshots/test_sensor.ambr
  tests/components/solarlog/test_config_flow.py
Labels: cla-signed, has-tests, integration: solarlog, dependency, by-code-owner, Quality Scale: No score, Quality Scale: platinum, integration: roborock, integration: fyta

#121091 Bump Intellifire to 4.1.9
  homeassistant/components/intellifire/__init__.py
  homeassistant/components/intellifire/binary_sensor.py
  homeassistant/components/intellifire/climate.py
  homeassistant/components/intellifire/config_flow.py
  homeassistant/components/intellifire/const.py
  homeassistant/components/intellifire/coordinator.py
  homeassistant/components/intellifire/entity.py
  homeassistant/components/intellifire/fan.py
  homeassistant/components/intellifire/light.py
  homeassistant/components/intellifire/manifest.json
  homeassistant/components/intellifire/sensor.py
  homeassistant/components/intellifire/strings.json
  homeassistant/components/intellifire/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/intellifire/__init__.py
  tests/components/intellifire/conftest.py
  tests/components/intellifire/fixtures/local_poll.json
  tests/components/intellifire/fixtures/user_data_1.json
  tests/components/intellifire/fixtures/user_data_3.json
  tests/components/intellifire/snapshots/test_binary_sensor.ambr
  tests/components/intellifire/snapshots/test_climate.ambr
  tests/components/intellifire/snapshots/test_sensor.ambr
  tests/components/intellifire/test_binary_sensor.py
  tests/components/intellifire/test_climate.py
  tests/components/intellifire/test_config_flow.py
  tests/components/intellifire/test_init.py
  tests/components/intellifire/test_sensor.py
Labels: cla-signed, has-tests, by-code-owner, integration: intellifire, Quality Scale: No score

#124869 Split opentherm_gw entities between different devices
  homeassistant/components/opentherm_gw/__init__.py
  homeassistant/components/opentherm_gw/binary_sensor.py
  homeassistant/components/opentherm_gw/climate.py
  homeassistant/components/opentherm_gw/config_flow.py
  homeassistant/components/opentherm_gw/const.py
  homeassistant/components/opentherm_gw/entity.py
  homeassistant/components/opentherm_gw/sensor.py
  homeassistant/components/opentherm_gw/strings.json
  tests/components/opentherm_gw/test_init.py
Labels: breaking-change, cla-signed, integration: opentherm_gw, has-tests, by-code-owner, Quality Scale: No score

#125015 Fix BMW client blocking on load_default_certs
  homeassistant/components/bmw_connected_drive/coordinator.py
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: bmw_connected_drive, by-code-owner, bugfix, Quality Scale: platinum, blocking event loop

#125014 Fix telegram_bot blocking on load_default_certs
  homeassistant/components/telegram_bot/__init__.py
Labels: cla-signed, integration: telegram_bot, small-pr, bugfix, Quality Scale: No score, blocking event loop

#125024 Migrate opentherm_gw climate entity unique_id
  homeassistant/components/opentherm_gw/__init__.py
  homeassistant/components/opentherm_gw/climate.py
  tests/components/opentherm_gw/test_init.py
Labels: cla-signed, small-pr, integration: opentherm_gw, has-tests, by-code-owner, code-quality, Quality Scale: No score

#125012 Fix ollama blocking on load_default_certs
  homeassistant/components/ollama/__init__.py
  homeassistant/components/ollama/config_flow.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: ollama

#125017 Bump aiomealie to 0.9.1
  homeassistant/components/mealie/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score, integration: mealie

#125021 Bump aio-georss-gdacs to 0.10
  homeassistant/components/gdacs/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: gdacs, Quality Scale: platinum

#124854 Extend hjjcy device category in Tuya integration
  homeassistant/components/tuya/const.py
  homeassistant/components/tuya/icons.json
  homeassistant/components/tuya/sensor.py
  homeassistant/components/tuya/strings.json
Labels: cla-signed, small-pr, new-feature, integration: tuya, Quality Scale: No score

#125025 Bump python-telegram-bot to 21.5
  homeassistant/components/telegram_bot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: telegram_bot, small-pr, dependency, Quality Scale: No score

#122415 Fix Tado fan speed for AC
  homeassistant/components/tado/climate.py
  homeassistant/components/tado/const.py
Labels: cla-signed, integration: tado, bugfix, Quality Scale: No score

#125030 Update aioairzone-cloud to v0.6.5
  homeassistant/components/airzone_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: airzone_cloud

#125029 Add ConductivityConverter in websocket_api.py
  homeassistant/components/recorder/websocket_api.py
Labels: core, integration: recorder, cla-signed, small-pr, bugfix, Quality Scale: internal

#125032 Add diagnostics platform to modern forms
  homeassistant/components/modern_forms/diagnostics.py
  tests/components/modern_forms/snapshots/test_diagnostics.ambr
  tests/components/modern_forms/test_diagnostics.py
Labels: cla-signed, new-feature, has-tests, integration: modern_forms, Quality Scale: No score

#125035 Bump yarl to 1.9.7
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#125036 Bump aioshelly to 11.4.2
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: shelly, dependency, by-code-owner, bugfix, Quality Scale: platinum

#125042 Clarify comment in google photos upload service
  homeassistant/components/google_photos/services.py
Labels: cla-signed, small-pr, by-code-owner, Quality Scale: No score, integration: google_photos

#114204 New template merge_response
  homeassistant/helpers/template.py
  tests/helpers/snapshots/test_template.ambr
  tests/helpers/test_template.py
Labels: core, cla-signed, new-feature

#125060 Fix motionblinds_ble tests
  tests/components/motionblinds_ble/test_entity.py
Labels: cla-signed, small-pr, has-tests, Quality Scale: No score, integration: motionblinds_ble

#125061 Bump androidtvremote2 to 0.1.2 to fix blocking event loop when loading ssl certificate chain
  homeassistant/components/androidtv_remote/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: platinum, integration: androidtv_remote

#125064 Improve renault tests
  tests/components/renault/snapshots/test_services.ambr
  tests/components/renault/test_services.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: renault, Quality Scale: platinum

#125065 Bump fyta_cli to 0.6.6
  homeassistant/components/fyta/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: platinum, integration: fyta

#125058 Bump habluetooth to 3.4.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#124657 Update Matter light transition blocklist to include YNDX LightStrip
  homeassistant/components/matter/light.py
Labels: cla-signed, small-pr, bugfix, integration: matter, Quality Scale: No score

#125068 Add strict typing in Google Cloud
  .strict-typing
  homeassistant/components/google_cloud/helpers.py
  homeassistant/components/google_cloud/tts.py
  mypy.ini
Labels: cla-signed, integration: google_cloud, code-quality, Quality Scale: No score

#121502 Setup Google Cloud from the UI
  CODEOWNERS
  homeassistant/components/google_cloud/__init__.py
  homeassistant/components/google_cloud/config_flow.py
  homeassistant/components/google_cloud/const.py
  homeassistant/components/google_cloud/helpers.py
  homeassistant/components/google_cloud/manifest.json
  homeassistant/components/google_cloud/strings.json
  homeassistant/components/google_cloud/tts.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_test_all.txt
  tests/components/google_cloud/__init__.py
  tests/components/google_cloud/conftest.py
  tests/components/google_cloud/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, integration: google_cloud, config-flow, Quality Scale: No score

#125067 Remove unused event from recorder
  homeassistant/components/recorder/core.py
Labels: core, integration: recorder, cla-signed, small-pr, by-code-owner, Quality Scale: internal

#125057 Don't raise when registering entity service with invalid schema
  homeassistant/helpers/service.py
  tests/helpers/test_entity_component.py
  tests/helpers/test_entity_platform.py
Labels: core, cla-signed

#125052 Do not LG thinq retry entry setup, when a single coordinator failed
  homeassistant/components/lg_thinq/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, Quality Scale: No score, integration: lg_thinq

#125079 Remove lying comment from service.async_register_entity_service
  homeassistant/helpers/service.py
Labels: core, cla-signed, small-pr

#125096 Call async_write_ha_state after ring update
  homeassistant/components/ring/camera.py
  homeassistant/components/ring/light.py
  homeassistant/components/ring/switch.py
Labels: cla-signed, integration: ring, small-pr, by-code-owner, code-quality, Quality Scale: silver

#125090 Correct start version in recorder schema migration tests
  tests/components/recorder/db_schema_30.py
  tests/components/recorder/test_v32_migration.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#125094 Remove roundig in Solarlog and add suggested_display_precision
  homeassistant/components/solarlog/sensor.py
  tests/components/solarlog/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, has-tests, integration: solarlog, by-code-owner, code-quality, Quality Scale: No score

#125093 Update frontend to 20240902.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#125072 Add diagnostics to solarlog
  homeassistant/components/solarlog/diagnostics.py
  tests/components/solarlog/snapshots/test_diagnostics.ambr
  tests/components/solarlog/test_diagnostics.py
Labels: cla-signed, small-pr, new-feature, has-tests, integration: solarlog, by-code-owner, Quality Scale: No score

#125083 Cleanup removed options for mqtt climate
  homeassistant/components/mqtt/abbreviations.py
  homeassistant/components/mqtt/climate.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner, code-quality, Quality Scale: platinum

#125041 Add separate entities for temperature, humidity and pressure in AccuWeather integration
  homeassistant/components/accuweather/sensor.py
  tests/components/accuweather/snapshots/test_sensor.ambr
  tests/components/accuweather/test_sensor.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: accuweather, Quality Scale: platinum

#125100 Add test of statistics timestamp migration
  tests/components/recorder/test_migration_from_schema_32.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#125055 Bump aiolifx to 1.0.9 and remove unused HomeKit model prefixes
  homeassistant/components/lifx/manifest.json
  homeassistant/generated/zeroconf.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: lifx, dependency, by-code-owner, Quality Scale: No score

#125050 Fix area registry indexing when there is a name collision
  homeassistant/helpers/area_registry.py
  tests/helpers/test_area_registry.py
Labels: core, cla-signed, small-pr, bugfix

#124327 Handle telegram polling errors
  homeassistant/components/telegram_bot/polling.py
  tests/components/telegram_bot/test_telegram_bot.py
Labels: cla-signed, integration: telegram_bot, small-pr, has-tests, bugfix, Quality Scale: No score

#125010 Fix blocking calls for OpenAI conversation
  homeassistant/components/openai_conversation/__init__.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: openai_conversation, blocking event loop

#125103 Add coverage for late unifiprotect person detection events
  tests/components/unifiprotect/test_binary_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: unifiprotect, Quality Scale: No score

#125091 Test string timestamps are wiped after migration to schema version 32
  tests/components/recorder/test_v32_migration.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#125102 Bump yalexs to 8.6.0
  homeassistant/components/august/manifest.json
  homeassistant/components/yale/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: august, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: yale

#125013 Add Airzone Cloud Aidoo HVAC indoor/outdoor sensors
  homeassistant/components/airzone_cloud/sensor.py
  homeassistant/components/airzone_cloud/strings.json
  tests/components/airzone_cloud/test_sensor.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: airzone_cloud

#125106 Bump flipr api to 1.6.1
  homeassistant/components/flipr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: flipr, Quality Scale: No score

#125099 Replace _host_in_configuration_exists with async_abort_entries_match in solarlog
  homeassistant/components/solarlog/config_flow.py
  tests/components/solarlog/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, integration: solarlog, by-code-owner, code-quality, Quality Scale: No score

#125104 Remove `is_on` function from `homeassistant.components`
  homeassistant/components/__init__.py
  tests/components/homeassistant/test_init.py
Labels: breaking-change, cla-signed, small-pr, ci-full-run

#125076 Remove recorder PostSchemaMigrationTask
  homeassistant/components/recorder/core.py
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/tasks.py
Labels: core, integration: recorder, cla-signed, small-pr, by-code-owner, Quality Scale: internal

#125054 Add binary_sensor platform to LG Thinq
  homeassistant/components/lg_thinq/__init__.py
  homeassistant/components/lg_thinq/binary_sensor.py
  homeassistant/components/lg_thinq/icons.json
  homeassistant/components/lg_thinq/manifest.json
  homeassistant/components/lg_thinq/strings.json
Labels: new-platform, cla-signed, new-feature, by-code-owner, Quality Scale: No score, integration: lg_thinq

#125127 Convert ring integration to use entry.runtime_data
  homeassistant/components/ring/__init__.py
  homeassistant/components/ring/binary_sensor.py
  homeassistant/components/ring/button.py
  homeassistant/components/ring/camera.py
  homeassistant/components/ring/diagnostics.py
  homeassistant/components/ring/light.py
  homeassistant/components/ring/sensor.py
  homeassistant/components/ring/siren.py
  homeassistant/components/ring/switch.py
  tests/components/ring/test_init.py
Labels: cla-signed, integration: ring, has-tests, by-code-owner, code-quality, Quality Scale: silver

#125115 Fix Onkyo action select_hdmi_output
  homeassistant/components/onkyo/media_player.py
Labels: cla-signed, integration: onkyo, by-code-owner, bugfix, Quality Scale: No score

#125125 Correct device serial for ViCare integration
  homeassistant/components/vicare/binary_sensor.py
  homeassistant/components/vicare/button.py
  homeassistant/components/vicare/climate.py
  homeassistant/components/vicare/entity.py
  homeassistant/components/vicare/fan.py
  homeassistant/components/vicare/number.py
  homeassistant/components/vicare/sensor.py
  homeassistant/components/vicare/water_heater.py
  tests/components/vicare/fixtures/Vitodens300W.json
  tests/components/vicare/snapshots/test_diagnostics.ambr
Labels: cla-signed, integration: vicare, by-code-owner, bugfix, Quality Scale: No score

#124307 Add Linkplay mTLS/HTTPS and improve logging
  homeassistant/components/linkplay/__init__.py
  homeassistant/components/linkplay/config_flow.py
  homeassistant/components/linkplay/const.py
  homeassistant/components/linkplay/manifest.json
  homeassistant/components/linkplay/media_player.py
  homeassistant/components/linkplay/utils.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/linkplay/conftest.py
  tests/components/linkplay/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, Quality Scale: No score, integration: linkplay

#125040 Add dependency on google-photos-library-api: Change the Google Photos client library to a new external package
  homeassistant/components/google_photos/__init__.py
  homeassistant/components/google_photos/api.py
  homeassistant/components/google_photos/config_flow.py
  homeassistant/components/google_photos/exceptions.py
  homeassistant/components/google_photos/manifest.json
  homeassistant/components/google_photos/media_source.py
  homeassistant/components/google_photos/services.py
  homeassistant/components/google_photos/strings.json
  homeassistant/components/google_photos/types.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/google_photos/conftest.py
  tests/components/google_photos/fixtures/api_not_enabled_response.json
  tests/components/google_photos/fixtures/list_albums.json
  tests/components/google_photos/fixtures/not_dict.json
  tests/components/google_photos/test_config_flow.py
  tests/components/google_photos/test_media_source.py
  tests/components/google_photos/test_services.py
Labels: cla-signed, has-tests, by-code-owner, Quality Scale: No score, integration: google_photos

#125049 Bump py-madvr2 to 1.6.32
  homeassistant/components/madvr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, Quality Scale: No score, integration: madvr

#125119 Pass hass clientsession to ring config flow
  homeassistant/components/ring/config_flow.py
Labels: cla-signed, integration: ring, small-pr, by-code-owner, bugfix, Quality Scale: silver

#125131 Bump hadolint to 2.12.0 and use matrix for all Dockerfiles
  .github/workflows/ci.yaml
Labels: cla-signed, small-pr, dependency, code-quality

#125114 Fix unhandled exception with missing IQVIA data
  homeassistant/components/iqvia/sensor.py
Labels: cla-signed, small-pr, integration: iqvia, by-code-owner, bugfix, Quality Scale: No score

#125113 Bump PySwitchbot to 0.48.2
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, dependency, Quality Scale: No score

#125142 Log deprecation warning when `template.Template` is created without `hass`
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Labels: core, cla-signed, small-pr

#125141 Log deprecation warning when `cv.template` is called from wrong thread
  homeassistant/helpers/config_validation.py
Labels: core, cla-signed, small-pr

#123169 Add climate platform to Tesla Fleet
  homeassistant/components/tesla_fleet/__init__.py
  homeassistant/components/tesla_fleet/climate.py
  homeassistant/components/tesla_fleet/const.py
  homeassistant/components/tesla_fleet/entity.py
  homeassistant/components/tesla_fleet/helpers.py
  homeassistant/components/tesla_fleet/icons.json
  homeassistant/components/tesla_fleet/models.py
  homeassistant/components/tesla_fleet/strings.json
  tests/components/tesla_fleet/conftest.py
  tests/components/tesla_fleet/snapshots/test_climate.ambr
  tests/components/tesla_fleet/test_climate.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, smash, Quality Scale: No score, integration: tesla_fleet

#125133 Improve hassfest docker image
  script/hassfest/docker.py
  script/hassfest/docker/Dockerfile
  script/hassfest/docker/Dockerfile.dockerignore
Labels: cla-signed, small-pr, code-quality

#125120 Abort ring config_flow if account is already configured
  homeassistant/components/ring/config_flow.py
  homeassistant/components/ring/strings.json
  tests/components/ring/test_config_flow.py
Labels: cla-signed, integration: ring, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: silver

#120854 Add Google Cloud Speech-to-Text (STT)
  homeassistant/components/google_cloud/__init__.py
  homeassistant/components/google_cloud/config_flow.py
  homeassistant/components/google_cloud/const.py
  homeassistant/components/google_cloud/manifest.json
  homeassistant/components/google_cloud/strings.json
  homeassistant/components/google_cloud/stt.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/google_cloud/test_config_flow.py
Labels: new-platform, cla-signed, integration: google_cloud, config-flow, Quality Scale: No score

#125140 Fix energy sensor for ThirdReality Matter powerplug
  homeassistant/components/matter/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: matter, Quality Scale: No score

#124190 Add Onkyo Receiver class to improve typing
  homeassistant/components/onkyo/media_player.py
  homeassistant/components/onkyo/receiver.py
Labels: cla-signed, integration: onkyo, by-code-owner, code-quality, Quality Scale: No score

#125122 Speed up hassio send_command url check
  homeassistant/components/hassio/handler.py
  tests/components/hassio/test_handler.py
Labels: core, cla-signed, integration: hassio, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: internal

#125081 Add explaining comments in cv.template tests
  tests/helpers/test_config_validation.py
Labels: core, cla-signed, small-pr

#120226 Support setting Amazon Polly engine in service call
  homeassistant/components/amazon_polly/tts.py
Labels: cla-signed, small-pr, new-feature, integration: amazon_polly, by-code-owner, smash, Quality Scale: No score

#121630 Extended epson projector integration to include serial connections
  homeassistant/components/epson/__init__.py
  homeassistant/components/epson/config_flow.py
  homeassistant/components/epson/const.py
  homeassistant/components/epson/strings.json
  tests/components/epson/test_config_flow.py
  tests/components/epson/test_init.py
  tests/components/epson/test_media_player.py
Labels: cla-signed, new-feature, integration: epson, has-tests, Quality Scale: No score

#125138 Clean up Z-wave error log when raising in service handlers
  homeassistant/components/zwave_js/entity.py
  homeassistant/components/zwave_js/sensor.py
  tests/components/zwave_js/test_sensor.py
  tests/components/zwave_js/test_switch.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: zwave_js, Quality Scale: platinum

#123729 End deprecation setting attributes directly on config entry
  homeassistant/config_entries.py
  tests/components/androidtv_remote/test_media_player.py
  tests/components/androidtv_remote/test_remote.py
  tests/components/ollama/test_conversation.py
  tests/test_config_entries.py
Labels: core, breaking-change, cla-signed, small-pr

#125046 Remove opentherm_gw options migration
  homeassistant/components/opentherm_gw/__init__.py
  tests/components/opentherm_gw/test_config_flow.py
Labels: cla-signed, small-pr, integration: opentherm_gw, has-tests, by-code-owner, Quality Scale: No score

#121918 Fix updating insteon modem configuration while disconnected
  homeassistant/components/insteon/api/config.py
Labels: cla-signed, small-pr, integration: insteon, bugfix, Quality Scale: No score

#125037 Use SnapshotAssertion in more AVM Fritz!Box Tools tests
  tests/components/fritz/snapshots/test_button.ambr
  tests/components/fritz/snapshots/test_diagnostics.ambr
  tests/components/fritz/snapshots/test_sensor.ambr
  tests/components/fritz/snapshots/test_switch.ambr
  tests/components/fritz/snapshots/test_update.ambr
  tests/components/fritz/test_button.py
  tests/components/fritz/test_diagnostics.py
  tests/components/fritz/test_sensor.py
  tests/components/fritz/test_switch.py
  tests/components/fritz/test_update.py
Labels: cla-signed, small-pr, integration: fritz, has-tests, by-code-owner, code-quality, Quality Scale: No score

#124597 Increase timeout for fetching buienradar weather data
  homeassistant/components/buienradar/const.py
  homeassistant/components/buienradar/util.py
  homeassistant/components/buienradar/weather.py
Labels: cla-signed, small-pr, integration: buienradar, by-code-owner, bugfix, Quality Scale: No score

#125062 Make optional arguments to frame.report kwarg only
  homeassistant/components/media_source/__init__.py
  homeassistant/helpers/frame.py
Labels: core, cla-signed, small-pr, integration: media_source, Quality Scale: internal

#125118 Improve some comments in recorder tests
  tests/components/recorder/db_schema_32.py
  tests/components/recorder/test_v32_migration.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#125153 Bump aiomealie to 0.9.2
  homeassistant/components/mealie/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score, integration: mealie

#124337 Add sensors for AsusWRT using http(s) library
  homeassistant/components/asuswrt/bridge.py
  homeassistant/components/asuswrt/const.py
  homeassistant/components/asuswrt/icons.json
  homeassistant/components/asuswrt/sensor.py
  homeassistant/components/asuswrt/strings.json
  tests/components/asuswrt/conftest.py
  tests/components/asuswrt/test_sensor.py
Labels: cla-signed, new-feature, integration: asuswrt, has-tests, by-code-owner, Quality Scale: No score

#123144 Add support for total YouTube views
  homeassistant/components/youtube/const.py
  homeassistant/components/youtube/coordinator.py
  homeassistant/components/youtube/sensor.py
  homeassistant/components/youtube/strings.json
  tests/components/youtube/snapshots/test_diagnostics.ambr
  tests/components/youtube/snapshots/test_sensor.ambr
  tests/components/youtube/test_sensor.py
Labels: cla-signed, small-pr, new-feature, has-tests, Quality Scale: No score, integration: youtube

#125152 Update opentherm_gw tests to avoid patching internals
  tests/components/opentherm_gw/conftest.py
  tests/components/opentherm_gw/test_config_flow.py
  tests/components/opentherm_gw/test_init.py
Labels: cla-signed, small-pr, integration: opentherm_gw, has-tests, by-code-owner, code-quality, Quality Scale: No score

#121786 Enhance error handling when changing a timer's duration
  homeassistant/components/timer/__init__.py
Labels: core, cla-signed, integration: timer, small-pr, bugfix, Quality Scale: internal

#125166 Fix type errors in squeezebox
  homeassistant/components/squeezebox/media_player.py
Labels: cla-signed, small-pr, integration: squeezebox, by-code-owner, bugfix, Quality Scale: No score

#125160 Update frontend to 20240903.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#124992 Expose UV Index in Met.no
  homeassistant/components/met/const.py
  homeassistant/components/met/weather.py
  tests/components/met/conftest.py
  tests/components/met/test_weather.py
Labels: cla-signed, small-pr, new-feature, integration: norway_air, integration: met, has-tests, dependency, Quality Scale: No score

#125172 Update opentherm_gw tests to prepare for new platforms
  tests/components/opentherm_gw/conftest.py
  tests/components/opentherm_gw/test_init.py
Labels: cla-signed, small-pr, integration: opentherm_gw, has-tests, by-code-owner, code-quality, Quality Scale: No score

#125175 Update gardena_bluetooth dependency to 1.4.3
  homeassistant/components/gardena_bluetooth/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score, integration: gardena_bluetooth

#125179 Add include-hidden-files to upload env_file artifact
  .github/workflows/wheels.yml
Labels: cla-signed, small-pr

#125126 Refactor recorder EventIDPostMigration data migrator
  homeassistant/components/recorder/migration.py
  tests/components/recorder/test_v32_migration.py
Labels: core, integration: recorder, cla-signed, has-tests, by-code-owner, Quality Scale: internal

#125101 Add re-auth flow to NextDNS integration
  homeassistant/components/nextdns/__init__.py
  homeassistant/components/nextdns/config_flow.py
  homeassistant/components/nextdns/coordinator.py
  homeassistant/components/nextdns/strings.json
  tests/components/nextdns/test_config_flow.py
  tests/components/nextdns/test_coordinator.py
  tests/components/nextdns/test_init.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: nextdns, Quality Scale: platinum

#125182 Bump python-holidays to 0.56
  homeassistant/components/holiday/manifest.json
  homeassistant/components/workday/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: workday, dependency, by-code-owner, Quality Scale: No score, Quality Scale: internal, integration: holiday

#124521 Add 100% coverage of Reolink update platform
  homeassistant/components/reolink/update.py
  tests/components/reolink/conftest.py
  tests/components/reolink/test_update.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: reolink, Quality Scale: No score

#125164 Improve recorder tests to check indices are removed
  tests/components/recorder/test_migration_from_schema_32.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#125184 Add myself as codeowner for BTHome
  CODEOWNERS
  homeassistant/components/bthome/manifest.json
Labels: cla-signed, small-pr, integration: bthome, Quality Scale: No score

#124751 Bump xiaomi-ble to 0.31.1 to add support for human presence sensor XMOSB01XS
  homeassistant/components/xiaomi_ble/binary_sensor.py
  homeassistant/components/xiaomi_ble/manifest.json
  homeassistant/components/xiaomi_ble/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/xiaomi_ble/test_sensor.py
Labels: cla-signed, small-pr, new-feature, has-tests, integration: xiaomi_ble, Quality Scale: No score

#120281 Get zwave_js statistics data from model
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/migrate.py
  homeassistant/components/zwave_js/sensor.py
  tests/components/zwave_js/test_sensor.py
Labels: cla-signed, by-code-owner, code-quality, integration: zwave_js, Quality Scale: platinum

#125195 Fix missing patch in nextdns tests
  tests/components/nextdns/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, integration: nextdns, Quality Scale: platinum, code-owner-approved

#125136 Move recorder EntityIDPostMigrationTask to migration
  homeassistant/components/recorder/core.py
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/tasks.py
  tests/components/recorder/test_migration_from_schema_32.py
  tests/components/recorder/test_v32_migration.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#125168 Teach recorder data migrator base class to remove index
  homeassistant/components/recorder/migration.py
  tests/components/recorder/test_v32_migration.py
Labels: core, integration: recorder, cla-signed, has-tests, by-code-owner, Quality Scale: internal

#125196 Update knx-frontend to 2024.9.4.64538
  homeassistant/components/knx/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: knx, small-pr, dependency, by-code-owner, Quality Scale: platinum

#125206 Update frontend to 20240904.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#125193 Bump yarl to 1.9.8
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#125207 Bump deebot-client to 8.4.0
  homeassistant/components/ecovacs/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: ecovacs, dependency, by-code-owner, Quality Scale: No score

#121899 Add Motionblinds Bluetooth diagnostics
  homeassistant/components/motionblinds_ble/diagnostics.py
  tests/components/motionblinds_ble/conftest.py
  tests/components/motionblinds_ble/snapshots/test_diagnostics.ambr
  tests/components/motionblinds_ble/test_diagnostics.py
Labels: cla-signed, new-feature, by-code-owner, Quality Scale: No score, integration: motionblinds_ble

#124380 Add 100% coverage of Reolink button platform
  homeassistant/components/reolink/button.py
  tests/components/reolink/conftest.py
  tests/components/reolink/test_binary_sensor.py
  tests/components/reolink/test_button.py
  tests/components/reolink/test_config_flow.py
  tests/components/reolink/test_init.py
  tests/components/reolink/test_media_source.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: reolink, Quality Scale: No score

#125209 Add new number component for setting the wallbox ICP current
  homeassistant/components/wallbox/const.py
  homeassistant/components/wallbox/coordinator.py
  homeassistant/components/wallbox/number.py
  homeassistant/components/wallbox/sensor.py
  homeassistant/components/wallbox/strings.json
  tests/components/wallbox/__init__.py
  tests/components/wallbox/const.py
  tests/components/wallbox/test_number.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: wallbox, Quality Scale: No score

#125188 Bump aioesphomeapi to 25.3.2
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: platinum

#124326 Allow Switchbot users to force nightlatch
  homeassistant/components/switchbot/config_flow.py
  homeassistant/components/switchbot/const.py
  homeassistant/components/switchbot/lock.py
  homeassistant/components/switchbot/strings.json
  tests/components/switchbot/test_config_flow.py
Labels: cla-signed, small-pr, integration: switchbot, bugfix, Quality Scale: No score

#125220 Fix enum lookup
  homeassistant/components/google_cloud/tts.py
Labels: cla-signed, small-pr, integration: google_cloud, bugfix, Quality Scale: No score

#125218 Update modified_at datetime on storage collection changes
  homeassistant/helpers/collection.py
  tests/helpers/test_collection.py
Labels: core, cla-signed, bugfix

#125225 Update Anthropic default model to Haiku
  homeassistant/components/anthropic/const.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, Quality Scale: No score, integration: anthropic

#121488 Add Iskra integration
  CODEOWNERS
  homeassistant/components/iskra/__init__.py
  homeassistant/components/iskra/config_flow.py
  homeassistant/components/iskra/const.py
  homeassistant/components/iskra/coordinator.py
  homeassistant/components/iskra/entity.py
  homeassistant/components/iskra/manifest.json
  homeassistant/components/iskra/sensor.py
  homeassistant/components/iskra/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/iskra/__init__.py
  tests/components/iskra/conftest.py
  tests/components/iskra/const.py
  tests/components/iskra/test_config_flow.py
Labels: cla-signed, new-integration, integration: iskra

#125155 Bump thinqconnect to 0.9.6
  homeassistant/components/lg_thinq/__init__.py
  homeassistant/components/lg_thinq/binary_sensor.py
  homeassistant/components/lg_thinq/const.py
  homeassistant/components/lg_thinq/coordinator.py
  homeassistant/components/lg_thinq/entity.py
  homeassistant/components/lg_thinq/icons.json
  homeassistant/components/lg_thinq/manifest.json
  homeassistant/components/lg_thinq/strings.json
  homeassistant/components/lg_thinq/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, by-code-owner, Quality Scale: No score, integration: lg_thinq

#125227 Fix Path.__enter__ DeprecationWarning in tests
  tests/components/google_cloud/conftest.py
Labels: cla-signed, small-pr, has-tests, integration: google_cloud, code-quality, Quality Scale: No score

#125232 Bump intents to 2024.9.4
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/docker/Dockerfile
Labels: core, cla-signed, integration: conversation, small-pr, dependency, by-code-owner, Quality Scale: internal

#125183 Fix BTHome validate triggers for device with multiple buttons
  homeassistant/components/bthome/device_trigger.py
  tests/components/bthome/test_device_trigger.py
Labels: cla-signed, has-tests, bugfix, integration: bthome, Quality Scale: No score

#124148 Reenable Smarty integration
  homeassistant/components/smarty/__init__.py
  homeassistant/components/smarty/binary_sensor.py
  homeassistant/components/smarty/fan.py
  homeassistant/components/smarty/manifest.json
  homeassistant/components/smarty/sensor.py
  requirements_all.txt
Labels: cla-signed, small-pr, integration: smarty, dependency, Quality Scale: No score

#125197 Remove ExternalDevice migration in HomeWizard
  homeassistant/components/homewizard/sensor.py
  tests/components/homewizard/snapshots/test_sensor.ambr
  tests/components/homewizard/test_sensor.py
Labels: breaking-change, cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: homewizard, Quality Scale: platinum

#125202 Improve config flow type hints in starline
  homeassistant/components/starline/config_flow.py
Labels: cla-signed, integration: starline, code-quality, smash, Quality Scale: No score

#125198 Improve config flow type hints (q-s)
  homeassistant/components/rachio/config_flow.py
  homeassistant/components/radiotherm/config_flow.py
  homeassistant/components/reolink/config_flow.py
  homeassistant/components/roon/config_flow.py
  homeassistant/components/sense/config_flow.py
  homeassistant/components/smappee/config_flow.py
  homeassistant/components/smartthings/config_flow.py
  homeassistant/components/smarttub/config_flow.py
  homeassistant/components/soma/config_flow.py
  homeassistant/components/somfy_mylink/config_flow.py
  homeassistant/components/songpal/config_flow.py
  homeassistant/components/soundtouch/config_flow.py
  homeassistant/components/syncthru/config_flow.py
Labels: cla-signed, code-quality

#124483 Fix device identifier in ViCare integration
  homeassistant/components/vicare/__init__.py
  homeassistant/components/vicare/climate.py
  homeassistant/components/vicare/entity.py
  tests/components/vicare/fixtures/ViAir300F.json
  tests/components/vicare/fixtures/Vitodens300W.json
  tests/components/vicare/snapshots/test_binary_sensor.ambr
  tests/components/vicare/snapshots/test_button.ambr
  tests/components/vicare/snapshots/test_climate.ambr
  tests/components/vicare/snapshots/test_diagnostics.ambr
  tests/components/vicare/snapshots/test_fan.ambr
  tests/components/vicare/snapshots/test_number.ambr
  tests/components/vicare/snapshots/test_sensor.ambr
  tests/components/vicare/snapshots/test_water_heater.ambr
  tests/components/vicare/test_init.py
Labels: cla-signed, has-tests, integration: vicare, by-code-owner, code-quality, bugfix, Quality Scale: No score

#124970 Add Button platform for Smlight integration
  homeassistant/components/smlight/__init__.py
  homeassistant/components/smlight/button.py
  homeassistant/components/smlight/strings.json
  tests/components/smlight/conftest.py
  tests/components/smlight/test_button.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: smlight

#124617 Add Onkyo to strict typing
  .strict-typing
  homeassistant/components/onkyo/media_player.py
  mypy.ini
Labels: cla-signed, integration: onkyo, by-code-owner, code-quality, Quality Scale: No score

#125185 Add button platform to opentherm_gw
  homeassistant/components/opentherm_gw/__init__.py
  homeassistant/components/opentherm_gw/button.py
  tests/components/opentherm_gw/test_button.py
Labels: new-platform, cla-signed, new-feature, integration: opentherm_gw, has-tests, by-code-owner, Quality Scale: No score

#125235 Add support for sample bytes in preferred TTS format
  homeassistant/components/assist_pipeline/__init__.py
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/tts/__init__.py
  tests/components/assist_pipeline/test_init.py
Labels: core, cla-signed, integration: tts, new-feature, has-tests, by-code-owner, Quality Scale: internal, integration: assist_pipeline

#124578 Add Sonos tests and update error handling for unknown media
  homeassistant/components/sonos/media_player.py
  homeassistant/components/sonos/strings.json
  tests/components/sonos/test_media_player.py
Labels: cla-signed, small-pr, integration: sonos, has-tests, by-code-owner, Quality Scale: No score

#125208 Revert "Disable IPv6 in the opower integration to fix AEP utilities"
  homeassistant/components/opower/config_flow.py
  homeassistant/components/opower/coordinator.py
Labels: cla-signed, small-pr, Quality Scale: No score, integration: opower

#125248 Remove deprecated aux_heat from honeywell
  homeassistant/components/honeywell/climate.py
  homeassistant/components/honeywell/strings.json
  tests/components/honeywell/snapshots/test_climate.ambr
  tests/components/honeywell/test_climate.py
Labels: breaking-change, cla-signed, small-pr, integration: honeywell, has-tests, Quality Scale: No score

#124506 Add Custom Drink Entities Tami4 Edge
  homeassistant/components/tami4/button.py
  homeassistant/components/tami4/icons.json
  homeassistant/components/tami4/strings.json
Labels: cla-signed, new-feature, integration: tami4, Quality Scale: No score

#124473 Add debug logging in get_cost_reads in opower
  homeassistant/components/opower/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: opower

#124408 Add uptime sensors for Smlight
  homeassistant/components/smlight/const.py
  homeassistant/components/smlight/sensor.py
  homeassistant/components/smlight/strings.json
  tests/components/smlight/snapshots/test_sensor.ambr
  tests/components/smlight/test_sensor.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: smlight

#124294 Add hysteresis entity for heat pumps via ViCare
  homeassistant/components/vicare/manifest.json
  homeassistant/components/vicare/number.py
  homeassistant/components/vicare/strings.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, new-feature, integration: vicare, by-code-owner, Quality Scale: No score

#125255 Fix blocking call in yale_smart_alarm
  homeassistant/components/yale_smart_alarm/coordinator.py
Labels: cla-signed, small-pr, integration: yale_smart_alarm, by-code-owner, bugfix, Quality Scale: No score

#125256 Don't show input panel if default code provided in envisalink
  homeassistant/components/envisalink/alarm_control_panel.py
Labels: cla-signed, integration: envisalink, small-pr, bugfix, Quality Scale: No score

#123493 Add service to 17track to archive package
  homeassistant/components/seventeentrack/__init__.py
  homeassistant/components/seventeentrack/const.py
  homeassistant/components/seventeentrack/icons.json
  homeassistant/components/seventeentrack/services.py
  homeassistant/components/seventeentrack/services.yaml
  homeassistant/components/seventeentrack/strings.json
  tests/components/seventeentrack/conftest.py
  tests/components/seventeentrack/test_services.py
Labels: cla-signed, new-feature, integration: seventeentrack, has-tests, by-code-owner, Quality Scale: No score

#125109 Add madvr diagnostics
  homeassistant/components/madvr/diagnostics.py
  tests/components/madvr/conftest.py
  tests/components/madvr/snapshots/test_diagnostics.ambr
  tests/components/madvr/test_diagnostics.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: No score, integration: madvr

#125259 Address BTHome review comment
  homeassistant/components/bthome/device_trigger.py
Labels: cla-signed, by-code-owner, code-quality, integration: bthome, Quality Scale: No score

#125271 Squeezebox remove deprecated sync and unsync services
  homeassistant/components/squeezebox/media_player.py
Labels: breaking-change, cla-signed, small-pr, integration: squeezebox, by-code-owner, Quality Scale: No score

#125263 Increase AquaCell timeout and handle timeout exception properly
  homeassistant/components/aquacell/config_flow.py
  homeassistant/components/aquacell/coordinator.py
  tests/components/aquacell/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: aquacell

#125270 Fix yarl binary wheel builds for armv7l and armhf
  .github/workflows/wheels.yml
Labels: cla-signed, small-pr

#125264 Bump yarl to 1.9.9
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#125228 Use TypeVar defaults for Generator
  tests/components/fujitsu_fglair/conftest.py
  tests/components/google_photos/conftest.py
  tests/components/google_photos/test_config_flow.py
  tests/components/intellifire/conftest.py
  tests/components/smlight/conftest.py
  tests/components/yale/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: intellifire, Quality Scale: No score, integration: smlight, integration: yale, integration: fujitsu_fglair, integration: google_photos

#125268 Switch hassio to use with_path where possible
  homeassistant/components/hassio/handler.py
Labels: core, cla-signed, integration: hassio, small-pr, by-code-owner, Quality Scale: internal
