Repository home-assistant/core, pull requests merged in 2024-08, with the labels that each got.

#122987 Update doorbird error notification to be a repair flow
  homeassistant/components/doorbird/__init__.py
  homeassistant/components/doorbird/manifest.json
  homeassistant/components/doorbird/repairs.py
  homeassistant/components/doorbird/strings.json
  tests/components/doorbird/test_repairs.py
Labels: cla-signed, integration: doorbird, has-tests, by-code-owner, Quality Scale: No score

#122989 Fix yolink protocol changed
  homeassistant/components/yolink/valve.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: yolink, Quality Scale: No score

#122928 Fix implicit-return in squeezebox
  homeassistant/components/squeezebox/config_flow.py
  homeassistant/components/squeezebox/media_player.py
Labels: cla-signed, small-pr, integration: squeezebox, code-quality, Quality Scale: No score

#122996 Rename variable in async tests
  tests/util/test_async.py
Labels: core, cla-signed, small-pr, code-quality

#123005 Bump aioymaps to 1.2.5
  homeassistant/components/yandex_transport/manifest.json
  homeassistant/components/yandex_transport/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: yandex_transport, dependency, by-code-owner, bugfix, Quality Scale: No score

#123009 Update audit licenses run conditions [ci]
  .core_files.yaml
  .github/workflows/ci.yaml
Labels: cla-signed, small-pr

#123012 Bump yolink api to 0.4.6
  homeassistant/components/yolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: yolink, Quality Scale: No score

#123006 Make the Android timer notification high priority
  homeassistant/components/mobile_app/timers.py
  tests/components/mobile_app/test_timers.py
Labels: core, cla-signed, small-pr, integration: mobile_app, has-tests, Quality Scale: internal

#123004 Fix implicit-return in python_script
  homeassistant/components/python_script/__init__.py
Labels: cla-signed, integration: python_script, small-pr, code-quality, Quality Scale: internal

#122986 Restrict nws.get_forecasts_extra selector to nws weather entities
  homeassistant/components/nws/services.yaml
Labels: cla-signed, small-pr, integration: nws, bugfix, Quality Scale: platinum, code-owner-approved

#122995 Rename variable in landisgyr_heat_meter tests
  tests/components/landisgyr_heat_meter/test_init.py
Labels: cla-signed, small-pr, has-tests, code-quality, smash, integration: landisgyr_heat_meter, Quality Scale: No score

#122994 Rename variable in knx tests
  tests/components/knx/test_config_flow.py
Labels: cla-signed, integration: knx, small-pr, has-tests, code-quality, smash, Quality Scale: platinum, code-owner-approved

#117508 Velux use node id as fallback for unique id
  homeassistant/components/velux/__init__.py
  homeassistant/components/velux/cover.py
  homeassistant/components/velux/light.py
Labels: cla-signed, integration: velux, small-pr, by-code-owner, bugfix, smash, Quality Scale: No score

#122953 Enable pytest-fixture-param-without-value (PT019) rule in ruff
  pyproject.toml
Labels: cla-signed, small-pr, code-quality, smash

#122990 Fix handling of directory type playlists in Plex
  homeassistant/components/plex/media_browser.py
Labels: cla-signed, small-pr, integration: plex, bugfix, Quality Scale: No score

#123033 Fix doorbird models are missing the schedule API
  homeassistant/components/doorbird/device.py
  tests/components/doorbird/__init__.py
  tests/components/doorbird/conftest.py
  tests/components/doorbird/test_init.py
Labels: cla-signed, integration: doorbird, small-pr, by-code-owner, Quality Scale: No score

#123024 Standardize assist pipelines on 10ms chunk size
  homeassistant/components/assist_pipeline/__init__.py
  homeassistant/components/assist_pipeline/audio_enhancer.py
  homeassistant/components/assist_pipeline/const.py
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/voip/voip.py
  tests/components/assist_pipeline/conftest.py
  tests/components/assist_pipeline/snapshots/test_websocket.ambr
  tests/components/assist_pipeline/test_init.py
  tests/components/assist_pipeline/test_websocket.py
Labels: cla-signed, has-tests, by-code-owner, bugfix, Quality Scale: internal, integration: voip, integration: assist_pipeline

#122526 Anthropic Claude conversation integration
  CODEOWNERS
  homeassistant/components/anthropic/__init__.py
  homeassistant/components/anthropic/config_flow.py
  homeassistant/components/anthropic/const.py
  homeassistant/components/anthropic/conversation.py
  homeassistant/components/anthropic/manifest.json
  homeassistant/components/anthropic/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/anthropic/__init__.py
  tests/components/anthropic/conftest.py
  tests/components/anthropic/snapshots/test_conversation.ambr
  tests/components/anthropic/test_config_flow.py
  tests/components/anthropic/test_conversation.py
  tests/components/anthropic/test_init.py
Labels: cla-signed, new-integration, has-tests, integration: anthropic

#122380 Add aliases to script llm tool description
  homeassistant/helpers/llm.py
  tests/helpers/test_llm.py
Labels: core, cla-signed, new-feature, smash

#123044 Use freezer in KNX tests
  tests/components/knx/test_binary_sensor.py
  tests/components/knx/test_button.py
  tests/components/knx/test_expose.py
  tests/components/knx/test_interface_device.py
  tests/components/knx/test_light.py
Labels: cla-signed, integration: knx, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#123043 Mitigate breaking change for KNX climate schema
  homeassistant/components/knx/schema.py
  homeassistant/components/knx/validation.py
Labels: cla-signed, integration: knx, by-code-owner, bugfix, Quality Scale: platinum

#123060 Correct squeezebox service
  homeassistant/components/squeezebox/media_player.py
Labels: cla-signed, small-pr, integration: squeezebox, Quality Scale: No score

#123054 Correct type annotation for `EntityPlatform.async_register_entity_service`
  homeassistant/helpers/entity_platform.py
Labels: core, cla-signed, small-pr

#123047 OpenAI make supported features reflect the config entry options
  homeassistant/components/openai_conversation/conversation.py
  tests/components/openai_conversation/test_conversation.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: No score, integration: openai_conversation

#123052 Update generator typing
  tests/components/bluesound/conftest.py
  tests/components/bryant_evolution/conftest.py
  tests/components/bryant_evolution/test_climate.py
  tests/components/elevenlabs/conftest.py
  tests/components/iotty/conftest.py
  tests/components/iron_os/conftest.py
  tests/components/iron_os/test_number.py
  tests/components/iron_os/test_sensor.py
Labels: cla-signed, small-pr, code-quality, smash

#123059 Add device class
  homeassistant/components/google_travel_time/sensor.py
Labels: cla-signed, small-pr, integration: google_travel_time, bugfix, Quality Scale: No score

#123027 Make ZHA load quirks earlier
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zha/test_repairs.py
Labels: cla-signed, integration: zha, small-pr, by-code-owner, bugfix, Quality Scale: No score

#123021 Replace pylint broad-exception-raised rule with ruff
  homeassistant/components/fritz/coordinator.py
  homeassistant/components/starline/config_flow.py
  pyproject.toml
  script/scaffold/templates/config_flow_helper/tests/test_config_flow.py
  tests/components/bluetooth/test_passive_update_processor.py
  tests/components/notify/test_legacy.py
  tests/components/profiler/test_init.py
  tests/components/roon/test_config_flow.py
  tests/components/stt/test_legacy.py
  tests/components/system_health/test_init.py
  tests/components/system_log/test_init.py
  tests/components/tts/test_init.py
  tests/components/tts/test_legacy.py
  tests/helpers/test_dispatcher.py
  tests/test_config_entries.py
  tests/test_core.py
  tests/test_runner.py
  tests/test_setup.py
  tests/util/test_logging.py
Labels: core, cla-signed, small-pr, has-tests, code-quality, smash

#123049 Ollama implement CONTROL supported feature
  homeassistant/components/ollama/conversation.py
  tests/components/ollama/test_conversation.py
Labels: cla-signed, small-pr, has-tests, Quality Scale: No score, integration: ollama

#123038 Address post-merge reviews for KNX integration
  homeassistant/components/knx/__init__.py
  homeassistant/components/knx/binary_sensor.py
  homeassistant/components/knx/button.py
  homeassistant/components/knx/climate.py
  homeassistant/components/knx/cover.py
  homeassistant/components/knx/date.py
  homeassistant/components/knx/datetime.py
  homeassistant/components/knx/fan.py
  homeassistant/components/knx/knx_entity.py
  homeassistant/components/knx/light.py
  homeassistant/components/knx/notify.py
  homeassistant/components/knx/number.py
  homeassistant/components/knx/project.py
  homeassistant/components/knx/scene.py
  homeassistant/components/knx/select.py
  homeassistant/components/knx/sensor.py
  homeassistant/components/knx/storage/config_store.py
  homeassistant/components/knx/switch.py
  homeassistant/components/knx/text.py
  homeassistant/components/knx/time.py
  homeassistant/components/knx/weather.py
Labels: cla-signed, integration: knx, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#123062 LinkPlay: Bump python-linkplay to 0.0.6
  homeassistant/components/linkplay/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: linkplay

#123063 Add additional items to REPEAT_MAP in LinkPlay
  homeassistant/components/linkplay/media_player.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: linkplay

#123066 Do not raise repair issue about missing integration in safe mode
  homeassistant/setup.py
  tests/test_setup.py
Labels: core, cla-signed, small-pr, bugfix

#123056 Add LinkPlay models
  homeassistant/components/linkplay/utils.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: linkplay

#122539 Use text/multiple selector for input_select.set_options
  homeassistant/components/input_select/services.yaml
Labels: core, cla-signed, integration: input_select, small-pr, bugfix, Quality Scale: internal

#115902 Lyric: Properly tie room accessories to the data coordinator
  homeassistant/components/lyric/__init__.py
  homeassistant/components/lyric/sensor.py
Labels: cla-signed, integration: lyric, small-pr, bugfix, Quality Scale: silver

#123050 Ensure claude supported feature reflect latest config entry options
  homeassistant/components/anthropic/conversation.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: anthropic

#123019 Enable collections-named-tuple (PYI024) rule in ruff
  homeassistant/components/ads/__init__.py
  homeassistant/components/asuswrt/bridge.py
  homeassistant/components/bbox/device_tracker.py
  homeassistant/components/bt_smarthub/device_tracker.py
  homeassistant/components/epic_games_store/calendar.py
  homeassistant/components/fints/sensor.py
  homeassistant/components/hitron_coda/device_tracker.py
  homeassistant/components/modbus/modbus.py
  homeassistant/components/modbus/validators.py
  homeassistant/components/ness_alarm/__init__.py
  homeassistant/components/netio/switch.py
  homeassistant/components/tellstick/sensor.py
  homeassistant/scripts/benchmark/__init__.py
  pyproject.toml
  script/lint_and_test.py
  tests/components/hardware/test_websocket_api.py
  tests/components/jewish_calendar/__init__.py
  tests/components/logbook/test_init.py
  tests/components/russound_rio/const.py
  tests/components/tplink/__init__.py
Labels: cla-signed, small-pr, code-quality

#122945 Fix implicit-return in macos script
  homeassistant/scripts/macos/__init__.py
Labels: core, cla-signed, small-pr, code-quality

#123002 Fix implicit-return in google_assistant
  homeassistant/components/google_assistant/trait.py
Labels: core, cla-signed, integration: google_assistant, small-pr, code-quality, Quality Scale: No score

#122339 Fix translation key for power exchange sensor in ViCare
  homeassistant/components/vicare/strings.json
Labels: cla-signed, small-pr, integration: vicare, by-code-owner, bugfix, Quality Scale: No score

#122824 Yolink device model adaptation
  homeassistant/components/yolink/const.py
  homeassistant/components/yolink/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: yolink, Quality Scale: No score

#123022 Fix and improve tedee lock states
  homeassistant/components/tedee/lock.py
  tests/components/tedee/test_lock.py
Labels: cla-signed, small-pr, has-tests, bugfix, Quality Scale: platinum, code-owner-approved, integration: tedee

#123065 Improve Bang olufsen media_player dispatcher formatting
  homeassistant/components/bang_olufsen/media_player.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: bang_olufsen

#122895 Improve type hints in google_assistant
  homeassistant/components/google_assistant/trait.py
Labels: core, cla-signed, integration: google_assistant, code-quality, smash, Quality Scale: No score

#123073 Bump ruff to 0.5.6
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr, dependency

#123081 Ignore Shelly IPv6 address in zeroconf
  homeassistant/components/shelly/config_flow.py
  homeassistant/components/shelly/strings.json
  tests/components/shelly/test_config_flow.py
Labels: cla-signed, small-pr, integration: shelly, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#123069 Change enum type to string for Google Generative AI Conversation
  homeassistant/components/google_generative_ai_conversation/conversation.py
  tests/components/google_generative_ai_conversation/test_conversation.py
Labels: cla-signed, small-pr, has-tests, bugfix, Quality Scale: platinum, code-owner-approved, integration: google_generative_ai_conversation

#123046 Add CONTROL supported feature to Google conversation when API access
  homeassistant/components/google_generative_ai_conversation/conversation.py
  tests/components/google_generative_ai_conversation/snapshots/test_conversation.ambr
  tests/components/google_generative_ai_conversation/test_conversation.py
Labels: cla-signed, small-pr, has-tests, Quality Scale: platinum, code-owner-approved, integration: google_generative_ai_conversation

#115671 Add support for Todoist sections
  homeassistant/components/todoist/calendar.py
  homeassistant/components/todoist/const.py
  homeassistant/components/todoist/coordinator.py
  homeassistant/components/todoist/services.yaml
  homeassistant/components/todoist/strings.json
  tests/components/todoist/conftest.py
  tests/components/todoist/test_calendar.py
Labels: cla-signed, new-feature, integration: todoist, has-tests, smash, Quality Scale: No score

#122510 Test storage save and load for evohome
  CODEOWNERS
  requirements_test_all.txt
  tests/components/evohome/__init__.py
  tests/components/evohome/conftest.py
  tests/components/evohome/const.py
  tests/components/evohome/fixtures/schedule_dhw.json
  tests/components/evohome/fixtures/schedule_zone.json
  tests/components/evohome/fixtures/status_2738909.json
  tests/components/evohome/fixtures/user_account.json
  tests/components/evohome/fixtures/user_locations.json
  tests/components/evohome/test_storage.py
Labels: cla-signed, integration: evohome, has-tests, by-code-owner, code-quality, Quality Scale: No score

#123098 Remove unneeded cast in logbook rest api
  homeassistant/components/logbook/rest_api.py
Labels: core, cla-signed, integration: logbook, small-pr, code-quality, Quality Scale: internal

#123097 Remove unused variables in logbook LazyEventPartialState
  homeassistant/components/logbook/models.py
Labels: core, cla-signed, integration: logbook, small-pr, code-quality, Quality Scale: internal

#123096 Remove unreachable suppress in logbook
  homeassistant/components/logbook/processor.py
Labels: core, cla-signed, integration: logbook, small-pr, code-quality, Quality Scale: internal

#123108 Use slugify to create id for UniFi WAN latency
  homeassistant/components/unifi/sensor.py
Labels: cla-signed, small-pr, integration: unifi, bugfix, Quality Scale: platinum, code-owner-approved

#123103 Bump pyenphase to 1.22.0
  homeassistant/components/enphase_envoy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: enphase_envoy, dependency, by-code-owner, Quality Scale: No score

#123101 Fix wrong DeviceInfo in bluesound integration
  homeassistant/components/bluesound/media_player.py
Labels: cla-signed, small-pr, integration: bluesound, by-code-owner, bugfix, Quality Scale: No score

#123124 Unpack non-performant any expressions in config flow discovery path
  homeassistant/config_entries.py
Labels: core, cla-signed, small-pr, code-quality

#123131 Restore old service worker URL
  homeassistant/components/frontend/__init__.py
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, bugfix, Quality Scale: internal

#123141 Recorder system info: fix capitalization
  homeassistant/components/recorder/strings.json
Labels: core, integration: recorder, cla-signed, small-pr, code-quality, Quality Scale: internal

#116873 Handle command_line missing discovery_info
  homeassistant/components/command_line/switch.py
Labels: cla-signed, small-pr, integration: command_line, bugfix, Quality Scale: No score

#123152 Support `DeviceInfo.model_id` in MQTT integration
  homeassistant/components/mqtt/abbreviations.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/schemas.py
  homeassistant/const.py
  tests/components/mqtt/test_common.py
Labels: core, cla-signed, integration: mqtt, small-pr, new-feature, has-tests, Quality Scale: platinum, code-owner-approved

#123139 Use coordinator setup method in filesize
  homeassistant/components/filesize/coordinator.py
Labels: cla-signed, small-pr, integration: filesize, by-code-owner, code-quality, Quality Scale: No score

#123095 Remove unneeded formatter argument from logbook websocket_api
  homeassistant/components/logbook/websocket_api.py
Labels: core, cla-signed, integration: logbook, small-pr, code-quality, Quality Scale: internal

#123070 Improve alignment of live logbook and historical logbook models
  homeassistant/components/logbook/models.py
  homeassistant/components/logbook/processor.py
  homeassistant/scripts/benchmark/__init__.py
  tests/components/logbook/common.py
  tests/components/logbook/test_init.py
  tests/components/logbook/test_models.py
Labels: core, cla-signed, integration: logbook, has-tests, Quality Scale: internal

#123126 Speed up logbook timestamp processing
  homeassistant/components/logbook/processor.py
  tests/components/logbook/common.py
Labels: core, cla-signed, integration: logbook, small-pr, has-tests, code-quality, Quality Scale: internal

#123127 Optimize logbook row matching
  homeassistant/components/logbook/processor.py
Labels: core, cla-signed, integration: logbook, small-pr, Quality Scale: internal

#123159 Bump aiohttp to 3.10.1
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#123079 Catch exception in coordinator setup of IronOS integration
  homeassistant/components/iron_os/coordinator.py
  tests/components/iron_os/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: iron_os

#123162 Fix class attribute condition in Tesla Fleet
  homeassistant/components/tesla_fleet/__init__.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: tesla_fleet

#123163 Add Govee H612B to the Matter transition blocklist
  homeassistant/components/matter/light.py
Labels: cla-signed, small-pr, bugfix, integration: matter, Quality Scale: No score

#123149 dsmr: migrate hourly_gas_meter_reading to mbus device
  homeassistant/components/dsmr/sensor.py
  tests/components/dsmr/test_mbus_migration.py
Labels: cla-signed, small-pr, integration: dsmr, bugfix, Quality Scale: No score

#123045 Add apsystems diagnostic binary sensors
  homeassistant/components/apsystems/__init__.py
  homeassistant/components/apsystems/binary_sensor.py
  homeassistant/components/apsystems/coordinator.py
  homeassistant/components/apsystems/sensor.py
  homeassistant/components/apsystems/strings.json
  tests/components/apsystems/conftest.py
  tests/components/apsystems/snapshots/test_binary_sensor.ambr
  tests/components/apsystems/test_binary_sensor.py
Labels: new-platform, cla-signed, new-feature, has-tests, Quality Scale: No score, integration: apsystems

#123173 Add spaces for readability in licenses.py
  script/licenses.py
Labels: cla-signed, small-pr, code-quality

#121030 Update greeclimate to 2.0.0
  homeassistant/components/gree/const.py
  homeassistant/components/gree/coordinator.py
  homeassistant/components/gree/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/gree/test_bridge.py
  tests/components/gree/test_climate.py
Labels: cla-signed, has-tests, by-code-owner, bugfix, integration: gree, Quality Scale: No score

#123125 Bump ZHA lib to 0.0.27
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score

#120974 Clean up useless logging handler setting
  homeassistant/bootstrap.py
Labels: core, cla-signed, small-pr, code-quality, smash

#123122 Todoist service validation error consistency
  homeassistant/components/todoist/calendar.py
  homeassistant/components/todoist/strings.json
  tests/components/todoist/test_calendar.py
Labels: cla-signed, small-pr, integration: todoist, code-quality, Quality Scale: No score

#123157 Improve performance of logbook processor humanify
  homeassistant/components/logbook/processor.py
Labels: core, cla-signed, integration: logbook, code-quality, Quality Scale: internal

#123128 Use KNX UI entity platform controller class
  homeassistant/components/knx/binary_sensor.py
  homeassistant/components/knx/button.py
  homeassistant/components/knx/climate.py
  homeassistant/components/knx/cover.py
  homeassistant/components/knx/date.py
  homeassistant/components/knx/datetime.py
  homeassistant/components/knx/fan.py
  homeassistant/components/knx/knx_entity.py
  homeassistant/components/knx/light.py
  homeassistant/components/knx/notify.py
  homeassistant/components/knx/number.py
  homeassistant/components/knx/scene.py
  homeassistant/components/knx/select.py
  homeassistant/components/knx/sensor.py
  homeassistant/components/knx/storage/config_store.py
  homeassistant/components/knx/switch.py
  homeassistant/components/knx/text.py
  homeassistant/components/knx/time.py
  homeassistant/components/knx/weather.py
Labels: cla-signed, integration: knx, by-code-owner, code-quality, Quality Scale: platinum

#123182 Add Matter Leedarson RGBTW Bulb to the transition blocklist
  homeassistant/components/matter/light.py
Labels: cla-signed, small-pr, code-quality, integration: matter, Quality Scale: No score

#123180 Remove deprecated asterisk_cdr integration
  .strict-typing
  homeassistant/brands/asterisk.json
  homeassistant/components/asterisk_cdr/__init__.py
  homeassistant/components/asterisk_cdr/mailbox.py
  homeassistant/components/asterisk_cdr/manifest.json
  homeassistant/generated/integrations.json
  mypy.ini
Labels: core, breaking-change, remove-platform, cla-signed, small-pr, integration: asterisk_cdr, Quality Scale: No score

#123187 Fix MPD issue creation
  homeassistant/components/mpd/media_player.py
Labels: cla-signed, small-pr, integration: mpd, bugfix, Quality Scale: No score

#123174 Remove deprecated asterisk_mbox integration
  .strict-typing
  homeassistant/components/asterisk_mbox/__init__.py
  homeassistant/components/asterisk_mbox/mailbox.py
  homeassistant/components/asterisk_mbox/manifest.json
  homeassistant/components/asterisk_mbox/strings.json
  homeassistant/generated/integrations.json
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  script/licenses.py
  tests/components/asterisk_mbox/__init__.py
  tests/components/asterisk_mbox/const.py
  tests/components/asterisk_mbox/test_init.py
Labels: breaking-change, remove-platform, cla-signed, integration: asterisk_mbox, small-pr, Quality Scale: No score

#123158 Remove deprecated proximity entity
  homeassistant/components/proximity/__init__.py
  homeassistant/components/proximity/helpers.py
  homeassistant/components/proximity/strings.json
  tests/components/proximity/test_init.py
Labels: breaking-change, cla-signed, integration: proximity, small-pr, has-tests, by-code-owner, Quality Scale: internal

#123190 Fix state icon for closed valve entities
  homeassistant/components/valve/icons.json
Labels: cla-signed, small-pr, Quality Scale: internal, integration: valve

#123197 Remove unnecessary config schema definitions
  homeassistant/components/airvisual/__init__.py
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/android_ip_webcam/__init__.py
  homeassistant/components/apcupsd/__init__.py
  homeassistant/components/arcam_fmj/__init__.py
  homeassistant/components/bmw_connected_drive/__init__.py
  homeassistant/components/cast/__init__.py
  homeassistant/components/cloudflare/__init__.py
  homeassistant/components/coinbase/__init__.py
  homeassistant/components/daikin/__init__.py
  homeassistant/components/directv/__init__.py
  homeassistant/components/glances/__init__.py
  homeassistant/components/hunterdouglas_powerview/__init__.py
  homeassistant/components/icloud/__init__.py
  homeassistant/components/islamic_prayer_times/__init__.py
  homeassistant/components/local_ip/__init__.py
  homeassistant/components/luftdaten/__init__.py
  homeassistant/components/mikrotik/__init__.py
  homeassistant/components/mysensors/__init__.py
  homeassistant/components/nexia/__init__.py
  homeassistant/components/nextcloud/__init__.py
  homeassistant/components/notion/__init__.py
  homeassistant/components/nuheat/__init__.py
  homeassistant/components/nzbget/__init__.py
  homeassistant/components/pi_hole/__init__.py
  homeassistant/components/powerwall/__init__.py
  homeassistant/components/pvpc_hourly_pricing/__init__.py
  homeassistant/components/rachio/__init__.py
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/roku/__init__.py
  homeassistant/components/samsungtv/__init__.py
  homeassistant/components/sentry/__init__.py
  homeassistant/components/simplisafe/__init__.py
  homeassistant/components/solaredge/__init__.py
  homeassistant/components/somfy_mylink/__init__.py
  homeassistant/components/synology_dsm/__init__.py
  homeassistant/components/tankerkoenig/__init__.py
  homeassistant/components/totalconnect/__init__.py
  homeassistant/components/tradfri/__init__.py
  homeassistant/components/upnp/__init__.py
  homeassistant/components/verisure/__init__.py
  homeassistant/components/vesync/__init__.py
  tests/components/ambient_station/test_config_flow.py
  tests/components/islamic_prayer_times/test_config_flow.py
  tests/components/islamic_prayer_times/test_init.py
  tests/components/local_ip/test_init.py
  tests/components/nextcloud/test_config_flow.py
  tests/components/sentry/conftest.py
Labels: cla-signed, small-pr, code-quality

#123196 Update frontend to 20240805.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#123198 Change zha diagnostic to snapshot
  tests/components/zha/snapshots/test_diagnostics.ambr
  tests/components/zha/test_diagnostics.py
Labels: cla-signed, integration: zha, small-pr, has-tests, code-quality, Quality Scale: No score

#123200 Mark tag to be an entity component
  homeassistant/components/tag/__init__.py
  homeassistant/components/tag/icons.json
  homeassistant/components/tag/manifest.json
  homeassistant/components/tag/strings.json
  homeassistant/generated/integrations.json
Labels: cla-signed, small-pr, bugfix, integration: tag, Quality Scale: internal

#123204 Mark webhook as a system integration type
  homeassistant/components/webhook/manifest.json
  homeassistant/generated/integrations.json
Labels: core, cla-signed, small-pr, integration: webhook, bugfix, Quality Scale: internal

#123202 Mark assist_pipeline as a system integration type
  homeassistant/components/assist_pipeline/manifest.json
  homeassistant/generated/integrations.json
Labels: cla-signed, small-pr, bugfix, Quality Scale: internal, integration: assist_pipeline

#123209 Bump PyJWT to 2.9.0
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#123210 Update greeclimate to 2.1.0
  homeassistant/components/gree/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: gree, Quality Scale: No score

#123183 Show project version as `sw_version` in ESPHome
  homeassistant/components/esphome/manager.py
  tests/components/esphome/test_manager.py
Labels: cla-signed, small-pr, integration: esphome, by-code-owner, Quality Scale: platinum

#123161 Add support for ESPHome update entities to be checked on demand
  homeassistant/components/esphome/manifest.json
  homeassistant/components/esphome/update.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/esphome/test_update.py
Labels: cla-signed, small-pr, integration: esphome, by-code-owner, Quality Scale: platinum

#123218 Bump solarlog_cli to v0.1.6
  homeassistant/components/solarlog/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: solarlog, dependency, by-code-owner, Quality Scale: No score

#123191 Fix growatt server tlx battery api key
  homeassistant/components/growatt_server/sensor_types/tlx.py
Labels: cla-signed, small-pr, integration: growatt_server, Quality Scale: No score

#123226 Update knx-frontend to 2024.8.6.85349
  homeassistant/components/knx/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: knx, small-pr, dependency, by-code-owner, Quality Scale: platinum

#123094 Add unit tests for SNMP integer Switches
  homeassistant/components/snmp/switch.py
  tests/components/snmp/test_switch.py
Labels: cla-signed, small-pr, integration: snmp, has-tests, code-quality, Quality Scale: No score

#123229 Bump yt-dlp to 2023.08.06
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: media_extractor, small-pr, dependency, by-code-owner, Quality Scale: internal

#122985 Fix yamaha legacy receivers
  homeassistant/components/yamaha/media_player.py
  tests/components/yamaha/test_media_player.py
Labels: cla-signed, small-pr, integration: yamaha, bugfix, Quality Scale: No score

#123230 Update frontend to 20240806.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency, Quality Scale: internal

#123232 Mark Alexa integration as system type
  homeassistant/components/alexa/manifest.json
  homeassistant/generated/integrations.json
Labels: core, cla-signed, integration: alexa, small-pr, by-code-owner, bugfix, Quality Scale: No score

#123233 Mark Google Assistant integration as system type
  homeassistant/components/google_assistant/manifest.json
  homeassistant/generated/integrations.json
Labels: core, cla-signed, integration: google_assistant, small-pr, by-code-owner, bugfix, Quality Scale: No score

#123237 Bump uvcclient to 0.12.1
  homeassistant/components/uvc/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: uvc, dependency, Quality Scale: No score

#123243 Remove myself from DSMR codeowners
  CODEOWNERS
  homeassistant/components/dsmr/manifest.json
Labels: cla-signed, small-pr, integration: dsmr, by-code-owner, code-quality, Quality Scale: No score

#123240 Detect blocking ssl context creation in the event loop
  homeassistant/block_async_io.py
  tests/test_block_async_io.py
Labels: core, cla-signed, code-quality, blocking event loop

#123241 Mark FFmpeg integration as system type
  homeassistant/components/ffmpeg/manifest.json
  homeassistant/generated/integrations.json
Labels: core, integration: ffmpeg, cla-signed, small-pr, bugfix, Quality Scale: No score

#123249 Bump deebot-client to 8.3.0
  homeassistant/components/ecovacs/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: ecovacs, dependency, by-code-owner, Quality Scale: No score

#123166 Adapt static resource handler to aiohttp 3.10
  homeassistant/components/http/static.py
  tests/components/http/test_static.py
Labels: core, cla-signed, integration: http, small-pr, bugfix, Quality Scale: internal

#123156 Fix Tami4 device name is None
  homeassistant/components/tami4/config_flow.py
  tests/components/tami4/conftest.py
  tests/components/tami4/test_config_flow.py
Labels: cla-signed, small-pr, bugfix, integration: tami4, Quality Scale: No score

#123250 Bump mficlient to 0.5.0
  homeassistant/components/mfi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  script/licenses.py
Labels: cla-signed, small-pr, integration: mfi, dependency, Quality Scale: No score

#123252 Update frontend to 20240806.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency, Quality Scale: internal

#123263 Bump reolink-aio to 0.9.7
  homeassistant/components/reolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/reolink/test_select.py
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: reolink, Quality Scale: No score

#123259 Bump ZHA to 0.0.28
  homeassistant/components/zha/manifest.json
  homeassistant/components/zha/radio_manager.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score

#123261 Update knx-frontend to 2024.8.6.211307
  homeassistant/components/knx/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: knx, small-pr, dependency, by-code-owner, Quality Scale: platinum

#123267 Allow non-admins to subscribe to newer registry update events
  homeassistant/auth/permissions/events.py
Labels: core, cla-signed, small-pr, bugfix

#123238 remove unneeded type attributes on WebsocketNotification
  homeassistant/components/bang_olufsen/const.py
Labels: cla-signed, small-pr, code-quality, bugfix, Quality Scale: No score, integration: bang_olufsen

#123275 Fix Google Cloud TTS not respecting config values
  homeassistant/components/google_cloud/helpers.py
Labels: cla-signed, small-pr, integration: google_cloud, bugfix, Quality Scale: No score

#123269 Update ESPHome voice assistant pipeline log warning
  homeassistant/components/esphome/manager.py
  tests/components/esphome/test_manager.py
Labels: cla-signed, small-pr, integration: esphome, by-code-owner, bugfix, Quality Scale: platinum

#123256 Tado change repair issue
  homeassistant/components/tado/strings.json
Labels: cla-signed, integration: tado, small-pr, by-code-owner, Quality Scale: No score

#123279 Reload conversation entries on update
  homeassistant/components/ollama/conversation.py
  homeassistant/components/openai_conversation/conversation.py
  tests/components/ollama/conftest.py
  tests/components/ollama/test_conversation.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: openai_conversation, integration: ollama

#123281 Fix typo on one of islamic_prayer_times calculation_method option
  homeassistant/components/islamic_prayer_times/strings.json
Labels: cla-signed, small-pr, integration: islamic_prayer_times, Quality Scale: No score

#123280 Reload config entry for anthropic on update
  homeassistant/components/anthropic/conversation.py
  tests/components/anthropic/conftest.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: anthropic

#123271 Add missing application credential to Tesla Fleet
  homeassistant/components/tesla_fleet/__init__.py
  homeassistant/components/tesla_fleet/application_credentials.py
  homeassistant/components/tesla_fleet/config_flow.py
  homeassistant/components/tesla_fleet/const.py
  tests/components/tesla_fleet/__init__.py
  tests/components/tesla_fleet/conftest.py
  tests/components/tesla_fleet/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: tesla_fleet

#123283 Update wled to 0.20.1
  homeassistant/components/wled/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, integration: wled, Quality Scale: platinum

#123286 Revert "Upgrade pycoolmasternet-async to 0.2.0"
  homeassistant/components/coolmaster/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: coolmaster, bugfix, Quality Scale: No score

#123294 Drop Matter Microwave Oven Mode select entity
  homeassistant/components/matter/select.py
  tests/components/matter/test_select.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: matter, Quality Scale: No score

#123295 Bump intents to 2024.8.7
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: conversation, small-pr, dependency, by-code-owner, Quality Scale: internal

#123319 Bump aiorussound to 2.2.2
  homeassistant/components/russound_rio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: russound_rio, dependency, by-code-owner, Quality Scale: No score

#123313 Fix doorbird with externally added events
  homeassistant/components/doorbird/device.py
  tests/components/doorbird/fixtures/favorites.json
  tests/components/doorbird/test_button.py
Labels: cla-signed, integration: doorbird, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#123287 Refactor spc tests
  homeassistant/components/spc/__init__.py
  tests/components/spc/conftest.py
  tests/components/spc/test_alarm_control_panel.py
  tests/components/spc/test_init.py
Labels: cla-signed, integration: spc, small-pr, has-tests, code-quality, Quality Scale: No score

#122915 Fix implicit-return in konnected
  homeassistant/components/konnected/switch.py
  tests/components/konnected/test_panel.py
Labels: cla-signed, small-pr, integration: konnected, code-quality, smash, Quality Scale: No score

#123349 Remove unneeded logs from Yamaha
  homeassistant/components/yamaha/media_player.py
Labels: smash

#122943 Fix implicit-return in yeelight
  homeassistant/components/yeelight/scanner.py
Labels: cla-signed, small-pr, integration: yeelight, code-quality, smash, Quality Scale: platinum

#115031 Enable Ruff RET501
  pyproject.toml
Labels: core, cla-signed, code-quality

#116345 Add support for v3 Coinbase API
  homeassistant/components/coinbase/__init__.py
  homeassistant/components/coinbase/config_flow.py
  homeassistant/components/coinbase/const.py
  homeassistant/components/coinbase/manifest.json
  homeassistant/components/coinbase/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/coinbase/common.py
  tests/components/coinbase/const.py
  tests/components/coinbase/snapshots/test_diagnostics.ambr
  tests/components/coinbase/test_config_flow.py
Labels: cla-signed, integration: coinbase, has-tests, dependency, by-code-owner, bugfix, smash, Quality Scale: No score

#122922 Fix implicit-return in homematic
  homeassistant/components/homematic/__init__.py
  homeassistant/components/homematic/climate.py
Labels: cla-signed, integration: homematic, small-pr, code-quality, Quality Scale: No score

#123377 Revert "Fix blocking I/O while validating config schema"
  homeassistant/config.py
Labels: core, cla-signed, small-pr

#123305 Fix limit and order property for transmission integration
  homeassistant/components/transmission/coordinator.py
Labels: cla-signed, small-pr, integration: transmission, bugfix, Quality Scale: No score

#123353 Fix raise-within-try in config validation helper
  homeassistant/helpers/config_validation.py
Labels: core, cla-signed, small-pr, code-quality

#123354 Fix raise-within-try in language util
  homeassistant/util/language.py
Labels: core, cla-signed, small-pr, code-quality

#123383 Improve Airzone Cloud sensors availability
  homeassistant/components/airzone_cloud/binary_sensor.py
  homeassistant/components/airzone_cloud/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, smash, Quality Scale: No score, integration: airzone_cloud

#123268 Reduce number of aiohttp.TCPConnector cleanup_closed checks to one per minute
  homeassistant/helpers/aiohttp_client.py
Labels: core, cla-signed, small-pr, code-quality

#123394 Bump aiohttp to 3.10.2
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#123388 Ensure legacy event foreign key is removed from the states table when a previous rebuild failed
  homeassistant/components/recorder/migration.py
  tests/components/recorder/test_migrate.py
  tests/components/recorder/test_v32_migration.py
Labels: core, integration: recorder, cla-signed, small-pr, Quality Scale: internal

#123324 Rework OAuth in Tesla Fleet
  homeassistant/components/tesla_fleet/__init__.py
  homeassistant/components/tesla_fleet/application_credentials.py
  homeassistant/components/tesla_fleet/config_flow.py
  homeassistant/components/tesla_fleet/const.py
  homeassistant/components/tesla_fleet/oauth.py
  tests/components/tesla_fleet/test_config_flow.py
Labels: cla-signed, new-feature, by-code-owner, Quality Scale: No score, integration: tesla_fleet

#123436 Remove ESPHome legacy entity naming
  homeassistant/components/esphome/entity.py
  tests/components/esphome/test_alarm_control_panel.py
  tests/components/esphome/test_binary_sensor.py
  tests/components/esphome/test_button.py
  tests/components/esphome/test_camera.py
  tests/components/esphome/test_climate.py
  tests/components/esphome/test_cover.py
  tests/components/esphome/test_date.py
  tests/components/esphome/test_datetime.py
  tests/components/esphome/test_entity.py
  tests/components/esphome/test_event.py
  tests/components/esphome/test_fan.py
  tests/components/esphome/test_light.py
  tests/components/esphome/test_lock.py
  tests/components/esphome/test_media_player.py
  tests/components/esphome/test_number.py
  tests/components/esphome/test_select.py
  tests/components/esphome/test_sensor.py
  tests/components/esphome/test_switch.py
  tests/components/esphome/test_text.py
  tests/components/esphome/test_time.py
  tests/components/esphome/test_update.py
  tests/components/esphome/test_valve.py
Labels: cla-signed, small-pr, integration: esphome, by-code-owner, Quality Scale: platinum

#123441 Bump YoLink API to 0.4.7
  homeassistant/components/yolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: yolink, Quality Scale: No score
