Repository home-assistant/core, pull requests merged in 2024-06, with the labels that each got.

#118590 Stop instructing LLM to not pass the domain as a list
  homeassistant/helpers/llm.py
  tests/helpers/test_llm.py
Labels: core, cla-signed, small-pr

#118592 Add base prompt for LLMs
  homeassistant/components/google_generative_ai_conversation/conversation.py
  homeassistant/components/openai_conversation/conversation.py
  homeassistant/helpers/llm.py
  tests/components/google_generative_ai_conversation/snapshots/test_conversation.ambr
Labels: core, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: No score, Quality Scale: platinum, integration: openai_conversation, integration: google_generative_ai_conversation

#118593 Strip Google AI text responses
  homeassistant/components/google_generative_ai_conversation/conversation.py
  tests/components/google_generative_ai_conversation/test_conversation.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum, integration: google_generative_ai_conversation

#118594 Use gemini-1.5-flash-latest in google_generative_ai_conversation.generate_content
  homeassistant/components/google_generative_ai_conversation/__init__.py
  tests/components/google_generative_ai_conversation/snapshots/test_init.ambr
Labels: cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: platinum, integration: google_generative_ai_conversation

#118545 Improve typing in Zabbix
  homeassistant/components/zabbix/__init__.py
  homeassistant/components/zabbix/sensor.py
Labels: integration: zabbix, cla-signed, code-quality, Quality Scale: No score

#118564 Cleanup pylint ignore in melnor tests
  tests/components/melnor/conftest.py
  tests/components/melnor/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: melnor, Quality Scale: No score

#115525 Ignore myuplink sensors without a description that provide non-numeric values
  homeassistant/components/myuplink/sensor.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: myuplink

#118600 Bump `nettigo_air_monitor` library to version `3.2.0`
  homeassistant/components/nam/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nam/snapshots/test_diagnostics.ambr
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: nam, Quality Scale: platinum

#118612 Bump ruff to 0.4.7
  .pre-commit-config.yaml
  pyproject.toml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr, dependency

#118609 Add new codeowner for emoncms integration
  CODEOWNERS
  homeassistant/components/emoncms/manifest.json
Labels: cla-signed, small-pr, integration: emoncms, Quality Scale: No score

#118615 Update typing-extensions to 4.12.1
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#118583 Avoid future exception during setup of Synology DSM
  homeassistant/components/synology_dsm/common.py
Labels: cla-signed, small-pr, by-code-owner, integration: synology_dsm, bugfix, Quality Scale: No score

#118616 Fix telegram bot send_document
  homeassistant/components/telegram_bot/__init__.py
Labels: cla-signed, integration: telegram_bot, small-pr, bugfix, Quality Scale: No score

#118539 Address late review comment in samsungtv
  homeassistant/components/samsungtv/bridge.py
Labels: cla-signed, small-pr, integration: samsungtv, by-code-owner, bugfix, Quality Scale: No score

#118620 Include a traceback for non-strict event loop blocking detection
  homeassistant/helpers/frame.py
  homeassistant/util/loop.py
  tests/common.py
  tests/helpers/test_frame.py
  tests/test_loader.py
  tests/util/test_loop.py
Labels: core, cla-signed, code-quality

#118519 Update mypy-dev to 1.11.0a5
  homeassistant/components/nws/weather.py
  homeassistant/components/recorder/models/state.py
  homeassistant/components/transmission/__init__.py
  homeassistant/util/json.py
  requirements_test.txt
Labels: core, cla-signed, small-pr, dependency, smash

#118461 Fix incorrect `patch` type hint in main conftest
  pylint/plugins/hass_enforce_type_hints.py
  tests/components/network/conftest.py
  tests/conftest.py
  tests/helpers/test_translation.py
Labels: core, cla-signed, small-pr, has-tests, code-quality, integration: network, Quality Scale: internal

#116934 Bump pyads to 3.4.0
  homeassistant/components/ads/manifest.json
  requirements_all.txt
Labels: cla-signed, integration: ads, small-pr, dependency, Quality Scale: No score

#118646 Use more efficient chunked_or_all for recorder table managers
  homeassistant/components/recorder/table_managers/event_data.py
  homeassistant/components/recorder/table_managers/event_types.py
  homeassistant/components/recorder/table_managers/state_attributes.py
  homeassistant/components/recorder/table_managers/states_meta.py
Labels: core, integration: recorder, cla-signed, small-pr, code-quality, Quality Scale: internal

#118640 Fix incorrect placeholder in SharkIQ
  homeassistant/components/sharkiq/strings.json
Labels: cla-signed, small-pr, bugfix, integration: sharkiq, Quality Scale: No score

#118601 Add support for the DS18B20 temperature sensor to Nettigo Air Monitor integration
  homeassistant/components/nam/const.py
  homeassistant/components/nam/sensor.py
  homeassistant/components/nam/strings.json
  tests/components/nam/fixtures/nam_data.json
  tests/components/nam/snapshots/test_diagnostics.ambr
  tests/components/nam/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, integration: nam, Quality Scale: platinum

#118633 Fix handling undecoded mqtt sensor payloads
  homeassistant/components/mqtt/sensor.py
  tests/components/mqtt/test_sensor.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#118658 Bump ZHA dependencies
  homeassistant/components/zha/backup.py
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/zha/test_backup.py
Labels: cla-signed, integration: zha, small-pr, has-tests, dependency, by-code-owner, Quality Scale: No score

#118662 Fix entity state dispatching for Tag entities
  homeassistant/components/tag/__init__.py
  tests/components/tag/__init__.py
  tests/components/tag/test_init.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: tag, Quality Scale: internal

#118665 Remove config flow import from fastdotcom
  homeassistant/components/fastdotcom/__init__.py
  homeassistant/components/fastdotcom/config_flow.py
  tests/components/fastdotcom/test_config_flow.py
  tests/components/fastdotcom/test_init.py
Labels: breaking-change, cla-signed, small-pr, integration: fastdotcom, has-tests, Quality Scale: gold

#118641 Clean up Husqvarna Automower number platform
  homeassistant/components/husqvarna_automower/number.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: husqvarna_automower

#117514 Add BaseEntity for apsystems integration
  .coveragerc
  homeassistant/components/apsystems/__init__.py
  homeassistant/components/apsystems/entity.py
  homeassistant/components/apsystems/sensor.py
Labels: cla-signed, by-code-owner, code-quality, Quality Scale: No score, integration: apsystems

#118667 Refactor incomfort platform attributes
  homeassistant/components/incomfort/__init__.py
  homeassistant/components/incomfort/binary_sensor.py
  homeassistant/components/incomfort/climate.py
  homeassistant/components/incomfort/sensor.py
  homeassistant/components/incomfort/water_heater.py
Labels: cla-signed, integration: incomfort, Quality Scale: No score

#118687 Add type hints for pytest.LogCaptureFixture in test fixtures
  tests/components/blebox/test_button.py
  tests/components/modbus/conftest.py
  tests/components/modbus/test_init.py
Labels: cla-signed, integration: modbus, small-pr, has-tests, integration: blebox, code-quality, Quality Scale: No score, Quality Scale: platinum

#118683 Add type hints for MqttMockHAClient in test fixtures
  tests/components/mqtt/test_trigger.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#118676 Add error message to device registry helper
  homeassistant/helpers/device_registry.py
Labels: core, cla-signed, small-pr, code-quality

#118644 Revert "Add websocket API to get list of recorded entities (#92640)"
  homeassistant/components/recorder/websocket_api.py
  tests/components/recorder/test_websocket_api.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, Quality Scale: internal

#118690 Add type hints for FrozenDateTimeFactory in test fixtures
  tests/components/energy/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: energy, Quality Scale: internal

#118691 Add type hints for AiohttpClientMocker in test fixtures
  tests/components/hassio/test_addon_panel.py
  tests/components/hassio/test_binary_sensor.py
  tests/components/hassio/test_diagnostics.py
  tests/components/hassio/test_init.py
  tests/components/hassio/test_update.py
  tests/components/hassio/test_websocket_api.py
  tests/components/onboarding/test_views.py
Labels: core, cla-signed, integration: hassio, small-pr, integration: onboarding, has-tests, code-quality, Quality Scale: internal

#118685 Add type hints for Recorder in test fixtures
  tests/components/energy/test_validate.py
  tests/components/energy/test_websocket_api.py
  tests/components/recorder/test_filters_with_entityfilter_schema_37.py
  tests/components/recorder/test_migration_from_schema_32.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, code-quality, integration: energy, Quality Scale: internal

#118684 Remove unused fixture from elmax tests
  tests/components/elmax/conftest.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: elmax, Quality Scale: No score

#118694 Fix incorrect blueprint type hints in tests
  tests/components/blueprint/common.py
  tests/components/conftest.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: blueprint, Quality Scale: internal

#118689 Add type hints for ClientSessionGenerator in test fixtures
  tests/components/aladdin_connect/test_config_flow.py
  tests/components/rainbird/test_calendar.py
  tests/components/traccar/test_init.py
Labels: cla-signed, integration: rainbird, small-pr, integration: traccar, integration: aladdin_connect, has-tests, code-quality, Quality Scale: No score

#118682 Add type hints for hass_storage in test fixtures
  tests/components/smartthings/conftest.py
  tests/components/tag/test_init.py
Labels: cla-signed, small-pr, integration: smartthings, has-tests, code-quality, integration: tag, Quality Scale: No score, Quality Scale: internal

#118681 Add type hints for list[Device] in test fixtures
  tests/components/geofency/test_init.py
  tests/components/gpslogger/test_init.py
  tests/components/locative/test_init.py
  tests/components/owntracks/test_init.py
  tests/components/traccar/test_init.py
Labels: cla-signed, small-pr, integration: geofency, integration: owntracks, integration: locative, integration: gpslogger, integration: traccar, has-tests, code-quality, Quality Scale: No score

#118678 Add type hints for requests_mock.Mocker in test fixtures
  tests/components/abode/conftest.py
  tests/components/ecobee/conftest.py
  tests/components/vultr/conftest.py
Labels: cla-signed, integration: ecobee, integration: abode, integration: vultr, small-pr, has-tests, code-quality, Quality Scale: No score

#118677 Use ULID instead of UUID for config entry id and flow ID
  homeassistant/config_entries.py
  tests/common.py
  tests/test_config_entries.py
Labels: core, cla-signed, small-pr

#118700 Update codeowners incomfort integration
  CODEOWNERS
  homeassistant/components/incomfort/manifest.json
Labels: cla-signed, small-pr, integration: incomfort, Quality Scale: No score

#117009 Allow removal of myuplink device from GUI
  homeassistant/components/myuplink/__init__.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, Quality Scale: No score, integration: myuplink

#118706 Update the codeowners of the incomfort integration
  CODEOWNERS
  homeassistant/components/incomfort/manifest.json
Labels: cla-signed, small-pr, integration: incomfort, by-code-owner, Quality Scale: No score

#118703 Bump pyoverkiz to 1.13.11
  homeassistant/components/overkiz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: overkiz, Quality Scale: No score

#118707 Don't store tag_id in tag storage
  homeassistant/components/tag/__init__.py
  tests/components/tag/snapshots/test_init.ambr
  tests/components/tag/test_init.py
Labels: cla-signed, small-pr, has-tests, integration: tag, Quality Scale: internal

#118708 Refactor fixture calling for BMW tests
  tests/components/bmw_connected_drive/test_button.py
  tests/components/bmw_connected_drive/test_coordinator.py
  tests/components/bmw_connected_drive/test_diagnostics.py
  tests/components/bmw_connected_drive/test_init.py
  tests/components/bmw_connected_drive/test_number.py
  tests/components/bmw_connected_drive/test_select.py
  tests/components/bmw_connected_drive/test_sensor.py
  tests/components/bmw_connected_drive/test_switch.py
Labels: cla-signed, small-pr, integration: bmw_connected_drive, has-tests, by-code-owner, code-quality, Quality Scale: No score

#117726 Add Monzo config reauth
  homeassistant/components/monzo/config_flow.py
  homeassistant/components/monzo/coordinator.py
  homeassistant/components/monzo/strings.json
  tests/components/monzo/test_config_flow.py
Labels: cla-signed, new-feature, integration: monzo, has-tests, by-code-owner, Quality Scale: No score

#109603 Add HDR type attribute to Kodi
  homeassistant/components/kodi/media_player.py
  homeassistant/components/kodi/strings.json
Labels: cla-signed, small-pr, new-feature, integration: kodi, smash, Quality Scale: No score

#118697 Bump python-roborock to 2.2.2
  homeassistant/components/roborock/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: roborock

#118702 Disable both option in Airgradient select
  homeassistant/components/airgradient/select.py
  tests/components/airgradient/conftest.py
  tests/components/airgradient/fixtures/get_config_cloud.json
  tests/components/airgradient/fixtures/get_config_local.json
  tests/components/airgradient/snapshots/test_select.ambr
  tests/components/airgradient/test_select.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: airgradient

#118718 Bump renault-api to 0.2.3
  homeassistant/components/renault/binary_sensor.py
  homeassistant/components/renault/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/renault/fixtures/hvac_status.1.json
  tests/components/renault/fixtures/hvac_status.2.json
  tests/components/renault/snapshots/test_diagnostics.ambr
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: renault, Quality Scale: platinum

#118686 Fixing device model compatibility issues.
  homeassistant/components/yolink/const.py
  homeassistant/components/yolink/switch.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: yolink, Quality Scale: No score

#118619 Automatically fill in slots based on LLM context
  homeassistant/helpers/llm.py
  tests/helpers/test_llm.py
Labels: core, cla-signed

#118720 Tweak light service schema
  homeassistant/components/light/services.yaml
  homeassistant/components/light/strings.json
Labels: core, cla-signed, integration: light, by-code-owner, Quality Scale: internal

#118713 Remove tag_id from tag store
  homeassistant/components/tag/__init__.py
  tests/components/tag/snapshots/test_init.ambr
  tests/components/tag/test_init.py
Labels: cla-signed, small-pr, has-tests, integration: tag, Quality Scale: internal

#118709 Fix incorrect type hint in dremel_3d_printer tests
  tests/components/dremel_3d_printer/test_binary_sensor.py
  tests/components/dremel_3d_printer/test_button.py
  tests/components/dremel_3d_printer/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: dremel_3d_printer, Quality Scale: No score

#118726 Bump pytrydan to 0.7.0
  homeassistant/components/v2c/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, Quality Scale: No score, integration: v2c

#118724 Rename Discovergy to inexogy
  homeassistant/components/discovergy/const.py
  homeassistant/components/discovergy/manifest.json
  homeassistant/components/discovergy/strings.json
  homeassistant/generated/integrations.json
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: discovergy, Quality Scale: No score

#118704 Add type hints for TTS test fixtures
  pylint/plugins/hass_enforce_type_hints.py
  tests/components/assist_pipeline/conftest.py
  tests/components/cloud/conftest.py
  tests/components/conftest.py
  tests/components/esphome/conftest.py
  tests/components/google_translate/test_tts.py
  tests/components/marytts/test_tts.py
  tests/components/microsoft/test_tts.py
  tests/components/tts/common.py
  tests/components/tts/conftest.py
  tests/components/tts/test_init.py
  tests/components/tts/test_legacy.py
  tests/components/voicerss/test_tts.py
  tests/components/voip/test_voip.py
  tests/components/wyoming/conftest.py
  tests/components/yandextts/test_tts.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#118701 Add type hints for MockAgent in conversation tests
  pylint/plugins/hass_enforce_type_hints.py
  tests/components/conversation/conftest.py
  tests/components/conversation/test_init.py
  tests/components/mobile_app/test_webhook.py
Labels: core, cla-signed, integration: conversation, small-pr, integration: mobile_app, has-tests, code-quality, Quality Scale: internal

#118673 Migrate recorder instance to use HassKey
  homeassistant/components/recorder/__init__.py
  homeassistant/components/recorder/const.py
  homeassistant/components/recorder/util.py
Labels: core, integration: recorder, cla-signed, small-pr, code-quality, Quality Scale: internal

#118666 Convert mqtt to use a timer instead of task sleep loop
  homeassistant/components/mqtt/client.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner, code-quality, Quality Scale: platinum

#118714 Address reviews comments in #117147
  homeassistant/components/v2c/sensor.py
  homeassistant/components/v2c/strings.json
  tests/components/v2c/snapshots/test_sensor.ambr
  tests/components/v2c/test_sensor.py
Labels: cla-signed, small-pr, by-code-owner, Quality Scale: No score, integration: v2c

#118699 Configure device in airgradient config flow
  homeassistant/components/airgradient/config_flow.py
  homeassistant/components/airgradient/strings.json
  tests/components/airgradient/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: airgradient

#118736 Update frontend to 20240603.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#118608 Bump pydrawise to 2024.6.2
  homeassistant/components/hydrawise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: hydrawise, dependency, by-code-owner, Quality Scale: No score

#118671 Remove dispatcher from Tag entity
  homeassistant/components/tag/__init__.py
Labels: cla-signed, small-pr, by-code-owner, integration: tag, Quality Scale: internal

#118735 Use snapshot_platform helper for BMW tests
  tests/components/bmw_connected_drive/snapshots/test_button.ambr
  tests/components/bmw_connected_drive/snapshots/test_number.ambr
  tests/components/bmw_connected_drive/snapshots/test_select.ambr
  tests/components/bmw_connected_drive/snapshots/test_sensor.ambr
  tests/components/bmw_connected_drive/snapshots/test_switch.ambr
  tests/components/bmw_connected_drive/test_button.py
  tests/components/bmw_connected_drive/test_number.py
  tests/components/bmw_connected_drive/test_select.py
  tests/components/bmw_connected_drive/test_sensor.py
  tests/components/bmw_connected_drive/test_switch.py
Labels: cla-signed, small-pr, integration: bmw_connected_drive, has-tests, by-code-owner, code-quality, Quality Scale: No score

#118705 Use ISO format when passing date to LLMs
  homeassistant/helpers/llm.py
  tests/components/google_generative_ai_conversation/snapshots/test_conversation.ambr
Labels: core, cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum, integration: google_generative_ai_conversation

#118674 Small speed up to read-only database sessions
  homeassistant/components/recorder/util.py
Labels: core, integration: recorder, cla-signed, small-pr, code-quality, Quality Scale: internal

#118734 Resolve areas/floors to ids in intent_script
  homeassistant/components/conversation/default_agent.py
Labels: core, cla-signed, integration: conversation, small-pr, new-feature, by-code-owner, bugfix, Quality Scale: internal

#118744 Require firmware version 3.1.1 for airgradient
  homeassistant/components/airgradient/config_flow.py
  homeassistant/components/airgradient/strings.json
  tests/components/airgradient/conftest.py
  tests/components/airgradient/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: airgradient

#118741 Add device info to incomfort entities
  homeassistant/components/incomfort/__init__.py
  homeassistant/components/incomfort/binary_sensor.py
  homeassistant/components/incomfort/climate.py
  homeassistant/components/incomfort/sensor.py
  homeassistant/components/incomfort/water_heater.py
Labels: cla-signed, small-pr, new-feature, integration: incomfort, by-code-owner, Quality Scale: No score

#118517 Harden evohome against failures to retrieve zone schedules
  homeassistant/components/evohome/__init__.py
Labels: cla-signed, small-pr, integration: evohome, by-code-owner, bugfix, Quality Scale: No score

#118747 Update OpenAI prompt on each interaction
  homeassistant/components/openai_conversation/conversation.py
  tests/components/openai_conversation/test_conversation.py
Labels: cla-signed, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: openai_conversation

#118745 Google Gen AI: Copy messages to avoid changing the trace data
  homeassistant/components/google_generative_ai_conversation/conversation.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: platinum, code-owner-approved, integration: google_generative_ai_conversation

#118746 Revert "Allow MQTT device based auto discovery"
  homeassistant/components/mqtt/abbreviations.py
  homeassistant/components/mqtt/const.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/models.py
  homeassistant/components/mqtt/schemas.py
  tests/components/mqtt/conftest.py
  tests/components/mqtt/test_device_trigger.py
  tests/components/mqtt/test_discovery.py
  tests/components/mqtt/test_init.py
  tests/components/mqtt/test_tag.py
Labels: core, cla-signed, integration: mqtt, has-tests, by-code-owner, Quality Scale: platinum

#118752 Do not log mqtt origin info if the log level does not allow it
  homeassistant/components/mqtt/discovery.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner, code-quality, Quality Scale: platinum

#118672 Speed up statistics_during_period websocket api
  homeassistant/components/recorder/websocket_api.py
  tests/components/recorder/test_websocket_api.py
Labels: core, integration: recorder, cla-signed, small-pr, code-quality, Quality Scale: internal

#118753 Clean up exposed domains
  homeassistant/components/homeassistant/exposed_entities.py
  tests/components/conversation/test_default_agent.py
  tests/components/homeassistant/test_exposed_entities.py
Labels: core, cla-signed, integration: conversation, small-pr, new-feature, integration: homeassistant, has-tests, by-code-owner, bugfix, Quality Scale: internal

#118748 Bump intents to 2024.6.3
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: conversation, small-pr, dependency, by-code-owner, Quality Scale: internal

#118762 Recover mqtt abbrevations optimizations
  homeassistant/components/mqtt/discovery.py
  tests/components/mqtt/test_discovery.py
Labels: core, cla-signed, integration: mqtt, by-code-owner, code-quality, Quality Scale: platinum

#118768 Update hass-nabucasa to version 0.81.1
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: cloud, small-pr, dependency, by-code-owner, Quality Scale: No score

#118769 Add os.walk to asyncio loop blocking detection
  homeassistant/block_async_io.py
  tests/test_block_async_io.py
Labels: core, cla-signed, small-pr, code-quality

#118759 Don't require code to arm SimpliSafe
  homeassistant/components/simplisafe/alarm_control_panel.py
Labels: breaking-change, cla-signed, small-pr, integration: simplisafe, by-code-owner, Quality Scale: No score

#118655 Bump reolink-aio to 0.9.1
  homeassistant/components/reolink/entity.py
  homeassistant/components/reolink/host.py
  homeassistant/components/reolink/manifest.json
  homeassistant/components/reolink/select.py
  homeassistant/components/reolink/strings.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: reolink, Quality Scale: No score

#110272 Allow per-sensor unit conversion on BMW sensors
  homeassistant/components/bmw_connected_drive/sensor.py
  tests/components/bmw_connected_drive/snapshots/test_sensor.ambr
  tests/components/bmw_connected_drive/test_sensor.py
Labels: cla-signed, small-pr, integration: bmw_connected_drive, new-feature, has-tests, by-code-owner, Quality Scale: No score

#118777 Initial cleanup for Aladdin connect
  homeassistant/components/aladdin_connect/__init__.py
  homeassistant/components/aladdin_connect/api.py
  homeassistant/components/aladdin_connect/config_flow.py
  homeassistant/components/aladdin_connect/const.py
  homeassistant/components/aladdin_connect/cover.py
Labels: cla-signed, integration: aladdin_connect, code-quality, Quality Scale: No score

#118778 Use model from Aladdin Connect lib
  .coveragerc
  homeassistant/components/aladdin_connect/cover.py
  homeassistant/components/aladdin_connect/model.py
  homeassistant/components/aladdin_connect/sensor.py
Labels: cla-signed, small-pr, integration: aladdin_connect, code-quality, Quality Scale: No score

#118779 Add type hints for FixtureRequest in tests
  pylint/plugins/hass_enforce_type_hints.py
  tests/components/ambient_network/conftest.py
  tests/components/blebox/conftest.py
  tests/components/blueprint/test_models.py
  tests/components/google/test_init.py
  tests/components/hdmi_cec/test_media_player.py
  tests/components/home_connect/conftest.py
  tests/components/influxdb/test_init.py
  tests/components/influxdb/test_sensor.py
  tests/components/jvc_projector/conftest.py
  tests/components/media_player/test_async_helpers.py
  tests/components/met/test_config_flow.py
  tests/components/modbus/conftest.py
  tests/components/prosegur/test_alarm_control_panel.py
  tests/components/recorder/test_purge.py
  tests/components/recorder/test_purge_v32_schema.py
  tests/components/renault/test_init.py
  tests/components/renault/test_services.py
  tests/components/screenlogic/test_services.py
  tests/components/switcher_kis/conftest.py
  tests/components/tami4/conftest.py
  tests/components/vallox/test_sensor.py
  tests/components/weatherflow_cloud/test_config_flow.py
  tests/components/whirlpool/conftest.py
  tests/components/xiaomi_miio/test_vacuum.py
  tests/components/zha/conftest.py
  tests/components/zha/test_device.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#118360 Add ista EcoTrend integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/ista_ecotrend/__init__.py
  homeassistant/components/ista_ecotrend/config_flow.py
  homeassistant/components/ista_ecotrend/const.py
  homeassistant/components/ista_ecotrend/coordinator.py
  homeassistant/components/ista_ecotrend/icons.json
  homeassistant/components/ista_ecotrend/manifest.json
  homeassistant/components/ista_ecotrend/sensor.py
  homeassistant/components/ista_ecotrend/strings.json
  homeassistant/components/ista_ecotrend/util.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/ista_ecotrend/__init__.py
  tests/components/ista_ecotrend/conftest.py
  tests/components/ista_ecotrend/snapshots/test_init.ambr
  tests/components/ista_ecotrend/snapshots/test_sensor.ambr
  tests/components/ista_ecotrend/snapshots/test_util.ambr
  tests/components/ista_ecotrend/test_config_flow.py
  tests/components/ista_ecotrend/test_init.py
  tests/components/ista_ecotrend/test_sensor.py
  tests/components/ista_ecotrend/test_util.py
Labels: cla-signed, new-integration, has-tests, integration: ista_ecotrend

#114948 Azure DevOps build sensor attributes to new sensors
  homeassistant/components/azure_devops/__init__.py
  homeassistant/components/azure_devops/sensor.py
  homeassistant/components/azure_devops/strings.json
  tests/components/azure_devops/__init__.py
  tests/components/azure_devops/snapshots/test_sensor.ambr
  tests/components/azure_devops/test_init.py
  tests/components/azure_devops/test_sensor.py
Labels: breaking-change, cla-signed, new-feature, by-code-owner, integration: azure_devops, Quality Scale: No score

#118776 Bump airgradient to 0.4.3
  homeassistant/components/airgradient/config_flow.py
  homeassistant/components/airgradient/manifest.json
  homeassistant/components/airgradient/select.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: airgradient

#118610 Remove duplicate code in emoncms
  homeassistant/components/emoncms/sensor.py
Labels: cla-signed, small-pr, integration: emoncms, code-quality, Quality Scale: No score

#118782 Re-enable sensor platform for Aladdin Connect
  homeassistant/components/aladdin_connect/__init__.py
Labels: cla-signed, small-pr, integration: aladdin_connect, bugfix, Quality Scale: No score

#118738 Deduplicate light services.yaml
  homeassistant/components/light/services.yaml
Labels: core, cla-signed, integration: light, by-code-owner, Quality Scale: internal

#118784 Move Aladdin stale device removal to init module
  homeassistant/components/aladdin_connect/__init__.py
  homeassistant/components/aladdin_connect/cover.py
Labels: cla-signed, integration: aladdin_connect, code-quality, Quality Scale: No score

#118780 Cleanup unused FixtureRequest in tests
  tests/components/hassio/test_sensor.py
  tests/components/homekit_controller/conftest.py
  tests/components/ipma/test_config_flow.py
  tests/components/knx/conftest.py
  tests/components/lametric/conftest.py
  tests/components/nest/conftest.py
  tests/components/nest/test_config_flow.py
  tests/components/tedee/conftest.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#118793 Move entity_registry_enabled_by_default to decorator [q-z]
  tests/components/qnap_qsw/test_binary_sensor.py
  tests/components/qnap_qsw/test_sensor.py
  tests/components/radarr/test_sensor.py
  tests/components/sensibo/test_binary_sensor.py
  tests/components/sensibo/test_climate.py
  tests/components/sensibo/test_number.py
  tests/components/sensibo/test_sensor.py
  tests/components/shelly/test_sensor.py
  tests/components/shelly/test_switch.py
  tests/components/shelly/test_update.py
  tests/components/solaredge/test_coordinator.py
  tests/components/sonarr/test_sensor.py
  tests/components/sun/test_sensor.py
  tests/components/switchbot/test_sensor.py
  tests/components/systemmonitor/test_binary_sensor.py
  tests/components/systemmonitor/test_repairs.py
  tests/components/systemmonitor/test_sensor.py
  tests/components/systemmonitor/test_util.py
  tests/components/trafikverket_camera/test_binary_sensor.py
  tests/components/trafikverket_camera/test_recorder.py
  tests/components/trafikverket_camera/test_sensor.py
  tests/components/trafikverket_ferry/test_coordinator.py
  tests/components/trafikverket_train/test_sensor.py
  tests/components/unifi/test_sensor.py
  tests/components/unifiprotect/test_sensor.py
  tests/components/v2c/test_sensor.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#118786 Make Ruuvi a brand
  homeassistant/brands/ruuvi.json
  homeassistant/generated/integrations.json
Labels: core, cla-signed, small-pr, new-feature, Quality Scale: No score, integration: ruuvitag_ble, integration: ruuvi_gateway

#118785 Make Weatherflow a brand
  homeassistant/brands/weatherflow.json
  homeassistant/generated/integrations.json
Labels: core, cla-signed, small-pr, new-feature, integration: weatherflow, Quality Scale: No score, integration: weatherflow_cloud

#113434 Bang & Olufsen add overlay/announce play_media functionality
  homeassistant/components/bang_olufsen/const.py
  homeassistant/components/bang_olufsen/media_player.py
Labels: cla-signed, new-feature, by-code-owner, Quality Scale: No score, integration: bang_olufsen

#118436 Add tests for BMW binary_sensor and lock
  .coveragerc
  tests/components/bmw_connected_drive/snapshots/test_binary_sensor.ambr
  tests/components/bmw_connected_drive/snapshots/test_lock.ambr
  tests/components/bmw_connected_drive/test_binary_sensor.py
  tests/components/bmw_connected_drive/test_lock.py
Labels: cla-signed, small-pr, integration: bmw_connected_drive, has-tests, by-code-owner, code-quality, Quality Scale: No score

#118798 Set unique id in aladdin connect config flow
  homeassistant/components/aladdin_connect/config_flow.py
  tests/components/aladdin_connect/conftest.py
  tests/components/aladdin_connect/test_config_flow.py
Labels: cla-signed, small-pr, new-feature, integration: aladdin_connect, has-tests, Quality Scale: No score

#118807 Move mock_hass_config fixture to decorator
  tests/components/analytics/test_analytics.py
  tests/components/homeassistant/triggers/test_homeassistant.py
  tests/components/knx/test_diagnostic.py
  tests/components/mqtt/test_init.py
Labels: core, cla-signed, integration: mqtt, integration: knx, small-pr, integration: homeassistant, has-tests, code-quality, integration: analytics, Quality Scale: internal, Quality Scale: platinum

#118794 Move entity_registry_enabled_by_default to decorator [a-p]
  tests/components/accuweather/test_sensor.py
  tests/components/airzone/test_sensor.py
  tests/components/airzone_cloud/test_select.py
  tests/components/airzone_cloud/test_sensor.py
  tests/components/aranet/test_sensor.py
  tests/components/brother/test_sensor.py
  tests/components/efergy/test_sensor.py
  tests/components/fritz/test_button.py
  tests/components/goalzero/test_sensor.py
  tests/components/gree/test_switch.py
  tests/components/harmony/test_switch.py
  tests/components/hassio/test_init.py
  tests/components/homekit_controller/test_sensor.py
  tests/components/idasen_desk/test_sensors.py
  tests/components/imgw_pib/test_sensor.py
  tests/components/kostal_plenticore/test_number.py
  tests/components/kraken/test_sensor.py
  tests/components/lidarr/test_sensor.py
  tests/components/litterrobot/test_binary_sensor.py
  tests/components/nam/test_sensor.py
  tests/components/netgear_lte/test_binary_sensor.py
  tests/components/netgear_lte/test_sensor.py
  tests/components/nextdns/test_sensor.py
  tests/components/nextdns/test_switch.py
  tests/components/nibe_heatpump/test_climate.py
  tests/components/nibe_heatpump/test_coordinator.py
  tests/components/nibe_heatpump/test_number.py
  tests/components/oralb/test_sensor.py
  tests/components/pegel_online/test_sensor.py
  tests/components/powerwall/test_sensor.py
  tests/components/private_ble_device/test_device_tracker.py
  tests/components/private_ble_device/test_sensor.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#118803 Move enable_bluetooth fixture to decorator
  tests/components/esphome/test_diagnostics.py
  tests/components/ibeacon/test_config_flow.py
  tests/components/private_ble_device/test_config_flow.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, code-quality, integration: ibeacon, Quality Scale: No score, integration: private_ble_device

#118802 Move None bluetooth fixtures to decorator
  tests/components/bluetooth/conftest.py
  tests/components/bluetooth/test_advertisement_tracker.py
  tests/components/bluetooth/test_api.py
  tests/components/bluetooth/test_base_scanner.py
  tests/components/bluetooth/test_config_flow.py
  tests/components/bluetooth/test_diagnostics.py
  tests/components/bluetooth/test_init.py
  tests/components/bluetooth/test_manager.py
  tests/components/bluetooth/test_models.py
  tests/components/bluetooth/test_scanner.py
  tests/components/bluetooth/test_usage.py
  tests/components/bluetooth/test_wrappers.py
Labels: cla-signed, small-pr, has-tests, integration: bluetooth, Quality Scale: internal

#118809 Fix incorrect current_request_with_host type hint
  tests/components/application_credentials/test_init.py
  tests/components/homeassistant_hardware/test_silabs_multiprotocol_addon.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: application_credentials, Quality Scale: No score, Quality Scale: internal, integration: homeassistant_hardware

#103496 Add remote entity to AndroidTV
  homeassistant/components/androidtv/__init__.py
  homeassistant/components/androidtv/entity.py
  homeassistant/components/androidtv/remote.py
  homeassistant/components/androidtv/strings.json
  tests/components/androidtv/test_remote.py
Labels: new-platform, cla-signed, new-feature, integration: androidtv, has-tests, by-code-owner, Quality Scale: No score

#118749 Include script description in LLM exposed entities
  homeassistant/helpers/llm.py
  homeassistant/helpers/service.py
  tests/helpers/test_llm.py
Labels: core, cla-signed

#118810 Move current_request_with_host fixture to decorator
  tests/components/aladdin_connect/test_config_flow.py
  tests/components/cloud/test_account_link.py
  tests/components/electric_kiwi/test_config_flow.py
  tests/components/fitbit/test_config_flow.py
  tests/components/geocaching/test_config_flow.py
  tests/components/google/test_config_flow.py
  tests/components/google_assistant_sdk/test_config_flow.py
  tests/components/google_mail/test_config_flow.py
  tests/components/google_sheets/test_config_flow.py
  tests/components/google_tasks/test_config_flow.py
  tests/components/home_connect/test_config_flow.py
  tests/components/husqvarna_automower/test_config_flow.py
  tests/components/lyric/test_config_flow.py
  tests/components/microbees/test_config_flow.py
  tests/components/monzo/test_config_flow.py
  tests/components/myuplink/test_config_flow.py
  tests/components/neato/test_config_flow.py
  tests/components/netatmo/test_config_flow.py
  tests/components/ondilo_ico/test_config_flow.py
  tests/components/plex/test_config_flow.py
  tests/components/senz/test_config_flow.py
  tests/components/smappee/test_config_flow.py
  tests/components/spotify/test_config_flow.py
  tests/components/toon/test_config_flow.py
  tests/components/twitch/test_config_flow.py
  tests/components/withings/test_config_flow.py
  tests/components/withings/test_init.py
  tests/components/xbox/test_config_flow.py
  tests/components/yolink/test_config_flow.py
  tests/components/youtube/test_config_flow.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#118811 Update frontend to 20240604.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#118805 Check if Shelly `entry.runtime_data` is available
  homeassistant/components/shelly/coordinator.py
  tests/components/shelly/test_device_trigger.py
Labels: cla-signed, small-pr, integration: shelly, by-code-owner, bugfix, Quality Scale: platinum

#118822 Ensure name of task is logged for unhandled loop exceptions
  homeassistant/runner.py
  tests/test_runner.py
Labels: core, cla-signed, small-pr, code-quality

#118824 Remove myself as codeowner for unifiprotect
  CODEOWNERS
  homeassistant/components/unifiprotect/manifest.json
Labels: cla-signed, small-pr, by-code-owner, integration: unifiprotect, Quality Scale: platinum

#118817 blebox: update codeowners
  CODEOWNERS
  homeassistant/components/blebox/manifest.json
Labels: cla-signed, small-pr, by-code-owner, integration: blebox, code-quality, Quality Scale: No score

#118827 Fix device name not set on all incomfort platforms
  .coveragerc
  homeassistant/components/incomfort/binary_sensor.py
  homeassistant/components/incomfort/sensor.py
  tests/components/incomfort/conftest.py
  tests/components/incomfort/snapshots/test_binary_sensor.ambr
  tests/components/incomfort/snapshots/test_climate.ambr
  tests/components/incomfort/snapshots/test_sensor.ambr
  tests/components/incomfort/snapshots/test_water_heater.ambr
  tests/components/incomfort/test_binary_sensor.py
  tests/components/incomfort/test_climate.py
  tests/components/incomfort/test_config_flow.py
  tests/components/incomfort/test_init.py
  tests/components/incomfort/test_sensor.py
  tests/components/incomfort/test_water_heater.py
Labels: cla-signed, small-pr, has-tests, integration: incomfort, by-code-owner, code-quality, bugfix, Quality Scale: No score

#118820 Bump youless dependency version to 2.1.0
  homeassistant/components/youless/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: youless, dependency, by-code-owner, Quality Scale: No score

#118643 Fix updating options in Jewish Calendar
  homeassistant/components/jewish_calendar/__init__.py
  homeassistant/components/jewish_calendar/config_flow.py
  tests/components/jewish_calendar/test_config_flow.py
  tests/components/jewish_calendar/test_init.py
  tests/components/jewish_calendar/test_sensor.py
Labels: cla-signed, small-pr, integration: jewish_calendar, has-tests, by-code-owner, bugfix, Quality Scale: No score

#118804 Add missing FAN_ONLY mode to ccm15
  homeassistant/components/ccm15/climate.py
  tests/components/ccm15/snapshots/test_climate.ambr
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: ccm15

#118818 Use fixtures in UniFi update tests
  tests/components/unifi/test_update.py
Labels: cla-signed, small-pr, integration: unifi, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#118831 Use fixtures in UniFi switch tests
  tests/components/unifi/test_switch.py
Labels: cla-signed, small-pr, integration: unifi, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#115507 Fix calculation of Starlink sleep end setting
  homeassistant/components/starlink/coordinator.py
  homeassistant/components/starlink/time.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: starlink, Quality Scale: silver

#118737 Remove useless threading locks in mqtt
  homeassistant/components/mqtt/async_client.py
  homeassistant/components/mqtt/client.py
  tests/components/mqtt/test_config_flow.py
  tests/components/mqtt/test_init.py
  tests/conftest.py
Labels: core, cla-signed, integration: mqtt, by-code-owner, code-quality, Quality Scale: platinum

#118767 Ensure config entries are not unloaded while their platforms are setting up
  .coveragerc
  homeassistant/components/ambient_station/__init__.py
  homeassistant/components/cert_expiry/__init__.py
  homeassistant/components/esphome/entry_data.py
  homeassistant/components/esphome/manager.py
  homeassistant/components/knx/__init__.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/util.py
  homeassistant/components/point/__init__.py
  homeassistant/components/shelly/coordinator.py
  homeassistant/components/tellduslive/__init__.py
  homeassistant/components/vesync/__init__.py
  homeassistant/components/zwave_js/__init__.py
  homeassistant/config_entries.py
  tests/components/alarm_control_panel/conftest.py
  tests/components/assist_pipeline/test_select.py
  tests/components/binary_sensor/test_init.py
  tests/components/button/test_init.py
  tests/components/calendar/conftest.py
  tests/components/climate/test_intent.py
  tests/components/deconz/test_gateway.py
  tests/components/devolo_home_network/test_init.py
  tests/components/esphome/test_update.py
  tests/components/event/test_init.py
  tests/components/homematicip_cloud/test_hap.py
  tests/components/hue/conftest.py
  tests/components/hue/test_bridge.py
  tests/components/hue/test_light_v1.py
  tests/components/hue/test_sensor_v2.py
  tests/components/image/conftest.py
  tests/components/lawn_mower/test_init.py
  tests/components/lock/conftest.py
  tests/components/mobile_app/test_device_tracker.py
  tests/components/notify/test_init.py
  tests/components/number/test_init.py
  tests/components/sensor/test_init.py
  tests/components/smartthings/conftest.py
  tests/components/stt/test_init.py
  tests/components/todo/test_init.py
  tests/components/tts/common.py
  tests/components/update/test_init.py
  tests/components/vacuum/__init__.py
  tests/components/valve/test_init.py
  tests/components/wake_word/test_init.py
  tests/ignore_uncaught_exceptions.py
  tests/test_config_entries.py
Labels: core, cla-signed, deprecation

#118839 Fix capitalization of protocols in Reolink option flow
  homeassistant/components/reolink/config_flow.py
Labels: cla-signed, small-pr, bugfix, integration: reolink, Quality Scale: No score

#118834 Add Reolink serial number to device info of IPC camera
  homeassistant/components/reolink/entity.py
  tests/components/reolink/conftest.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#118773 Conserve Reolink battery by not waking the camera on each update
  homeassistant/components/reolink/entity.py
  homeassistant/components/reolink/host.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: reolink, Quality Scale: No score

#118842 Fix the radio browser doing I/O in the event loop
  homeassistant/components/radio_browser/media_source.py
Labels: cla-signed, small-pr, bugfix, integration: radio_browser, Quality Scale: No score, blocking event loop

#118823 Add diagnostic to V2C
  homeassistant/components/v2c/diagnostics.py
  tests/components/v2c/conftest.py
  tests/components/v2c/snapshots/test_diagnostics.ambr
  tests/components/v2c/test_diagnostics.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: v2c

#118852 Add more typing to DSMR Reader
  homeassistant/components/dsmr_reader/definitions.py
Labels: cla-signed, small-pr, by-code-owner, integration: dsmr_reader, Quality Scale: No score

#118849 Move enable_bluetooth fixture to decorator
  tests/components/private_ble_device/test_device_tracker.py
  tests/components/ruuvitag_ble/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: ruuvitag_ble, integration: private_ble_device

#118853 Bump python-roborock to 2.2.3
  homeassistant/components/roborock/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: roborock

#118816 Add data coordinator to incomfort integration
  homeassistant/components/incomfort/__init__.py
  homeassistant/components/incomfort/binary_sensor.py
  homeassistant/components/incomfort/climate.py
  homeassistant/components/incomfort/config_flow.py
  homeassistant/components/incomfort/coordinator.py
  homeassistant/components/incomfort/entity.py
  homeassistant/components/incomfort/models.py
  homeassistant/components/incomfort/sensor.py
  homeassistant/components/incomfort/water_heater.py
  tests/components/incomfort/conftest.py
  tests/components/incomfort/test_init.py
Labels: cla-signed, has-tests, integration: incomfort, by-code-owner, code-quality, Quality Scale: No score

#118862 Detach name from unique id in incomfort
  homeassistant/components/incomfort/sensor.py
Labels: cla-signed, small-pr, integration: incomfort, code-quality, Quality Scale: No score

#118836 Bump blebox-uniapi fom 2.2.2 to 2.4.2
  homeassistant/components/blebox/manifest.json
  homeassistant/components/blebox/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, dependency, by-code-owner, integration: blebox, Quality Scale: No score

#118837 Add new sensors to blebox
  homeassistant/components/blebox/sensor.py
Labels: cla-signed, new-feature, by-code-owner, integration: blebox, Quality Scale: No score

#118872 Fix TypeAliasType not callable in senz
  homeassistant/components/senz/__init__.py
Labels: cla-signed, small-pr, bugfix, smash, integration: senz, Quality Scale: No score

#118863 Add entity descriptions to incomfort binary sensor
  homeassistant/components/incomfort/binary_sensor.py
Labels: cla-signed, integration: incomfort, code-quality, Quality Scale: No score

#118860 Remove obsolete polling from incomfort water heater
  homeassistant/components/incomfort/water_heater.py
Labels: cla-signed, small-pr, integration: incomfort, bugfix, Quality Scale: No score

#118861 Introduce incomfort boiler entity
  homeassistant/components/incomfort/binary_sensor.py
  homeassistant/components/incomfort/entity.py
  homeassistant/components/incomfort/sensor.py
  homeassistant/components/incomfort/water_heater.py
Labels: cla-signed, small-pr, integration: incomfort, code-quality, Quality Scale: No score

#118870 Update coverage to 7.5.3
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#118865 Rename esphome fixture
  tests/components/esphome/test_voice_assistant.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, code-quality, Quality Scale: No score

#118875 Update frontend to 20240605.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#118669 Fix Hydrawise sensor availability
  homeassistant/components/hydrawise/binary_sensor.py
  homeassistant/components/hydrawise/entity.py
  tests/components/hydrawise/test_binary_sensor.py
  tests/components/hydrawise/test_entity_availability.py
Labels: cla-signed, small-pr, integration: hydrawise, has-tests, bugfix, Quality Scale: No score

#118774 Add binary "sleeping" sensor to Reolink
  homeassistant/components/reolink/binary_sensor.py
  homeassistant/components/reolink/icons.json
  homeassistant/components/reolink/strings.json
Labels: cla-signed, new-feature, by-code-owner, integration: reolink, Quality Scale: No score

#118855 Improve repair issue when notify service is still being used
  homeassistant/components/ecobee/notify.py
  homeassistant/components/file/notify.py
  homeassistant/components/knx/notify.py
  homeassistant/components/notify/repairs.py
  homeassistant/components/notify/strings.json
  homeassistant/components/tibber/notify.py
  tests/components/ecobee/test_repairs.py
  tests/components/knx/test_repairs.py
  tests/components/notify/test_repairs.py
  tests/components/tibber/test_repairs.py
Labels: core, cla-signed, integration: knx, integration: notify, integration: ecobee, integration: tibber, integration: file, has-tests, Quality Scale: No score, Quality Scale: internal, Quality Scale: silver, Quality Scale: platinum
