Repository home-assistant/core, pull requests merged in 2024-01, with the labels that each got.

#106802 Update pytest to 7.4.4
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#106796 Use shorthand attrs for tplink color temp min/max
  homeassistant/components/tplink/light.py
Labels: cla-signed, small-pr, integration: tplink, by-code-owner, code-quality, Quality Scale: platinum

#106772 Use walrus operator for roomba total cleaned area sensor value
  homeassistant/components/roomba/sensor.py
Labels: cla-signed, integration: roomba, small-pr, by-code-owner, code-quality, smash, Quality Scale: No score

#106815 Enable strict typing for airthings_ble
  .strict-typing
  homeassistant/components/airthings_ble/__init__.py
  mypy.ini
Labels: cla-signed, small-pr, code-quality, integration: airthings_ble, Quality Scale: No score

#106824 Enable strict typing for aprs
  .strict-typing
  homeassistant/components/aprs/device_tracker.py
  mypy.ini
Labels: cla-signed, small-pr, integration: aprs, code-quality, Quality Scale: No score

#106821 Enable strict typing for anel_pwrctrl
  .strict-typing
  homeassistant/components/anel_pwrctrl/switch.py
  mypy.ini
Labels: cla-signed, small-pr, integration: anel_pwrctrl, code-quality, Quality Scale: No score

#106820 Enable strict typing for androidtv
  .strict-typing
  homeassistant/components/androidtv/__init__.py
  homeassistant/components/androidtv/config_flow.py
  homeassistant/components/androidtv/media_player.py
  mypy.ini
Labels: cla-signed, small-pr, integration: androidtv, code-quality, Quality Scale: No score

#106816 Enable strict typing for alpha_vantage
  .strict-typing
  homeassistant/components/alpha_vantage/sensor.py
  mypy.ini
Labels: cla-signed, small-pr, integration: alpha_vantage, code-quality, Quality Scale: No score

#106836 Enable strict typing for aquostv
  .strict-typing
  homeassistant/components/aquostv/media_player.py
  mypy.ini
Labels: cla-signed, small-pr, integration: aquostv, code-quality, Quality Scale: No score

#106839 Enable strict typing for aruba
  .strict-typing
  homeassistant/components/aruba/device_tracker.py
  mypy.ini
Labels: cla-signed, small-pr, integration: aruba, code-quality, Quality Scale: No score

#106813 Enable strict typing for airq
  .strict-typing
  homeassistant/components/airq/coordinator.py
  mypy.ini
Labels: cla-signed, small-pr, code-quality, integration: airq, Quality Scale: No score

#106817 Enable strict typing for amberelectric
  .strict-typing
  homeassistant/components/amberelectric/binary_sensor.py
  homeassistant/components/amberelectric/config_flow.py
  homeassistant/components/amberelectric/coordinator.py
  homeassistant/components/amberelectric/sensor.py
  mypy.ini
Labels: cla-signed, small-pr, code-quality, integration: amberelectric, Quality Scale: No score

#106838 Enable strict typing for arris_tg2492lg
  .strict-typing
  homeassistant/components/arris_tg2492lg/device_tracker.py
  mypy.ini
Labels: cla-signed, small-pr, integration: arris_tg2492lg, code-quality, Quality Scale: No score

#106837 Enable strict typing for arcam_fmj
  .strict-typing
  homeassistant/components/arcam_fmj/media_player.py
  mypy.ini
Labels: cla-signed, small-pr, integration: arcam_fmj, code-quality, Quality Scale: No score

#106812 Improve acmeda typing
  .strict-typing
  homeassistant/components/acmeda/base.py
  homeassistant/components/acmeda/cover.py
  homeassistant/components/acmeda/helpers.py
  homeassistant/components/acmeda/hub.py
  homeassistant/components/acmeda/sensor.py
  mypy.ini
Labels: cla-signed, small-pr, integration: acmeda, code-quality, Quality Scale: No score

#106831 Bump bleak-retry-connector to 3.4.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#106801 Bump pyduotecno to 2024.1.1
  homeassistant/components/duotecno/climate.py
  homeassistant/components/duotecno/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: silver, integration: duotecno

#106856 Map missing preset mapping for heat mode "ready" in smarttub
  homeassistant/components/smarttub/climate.py
  tests/components/smarttub/test_climate.py
Labels: cla-signed, small-pr, by-code-owner, integration: smarttub, Quality Scale: platinum

#105709 Constrain dacite to at least 1.7.0
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: roborock

#106819 Enable strict typing for ambiclimate
  .strict-typing
  homeassistant/components/ambiclimate/climate.py
  homeassistant/components/ambiclimate/config_flow.py
  mypy.ini
Labels: cla-signed, small-pr, integration: ambiclimate, code-quality, Quality Scale: No score

#106808 Update frontend to 20240101.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#106859 Reduce duplicate code in json_loads
  homeassistant/util/json.py
Labels: core, cla-signed, small-pr, code-quality

#106661 Set entity category and device class for Netgear LTE entities
  homeassistant/components/netgear_lte/binary_sensor.py
  homeassistant/components/netgear_lte/sensor.py
  tests/components/netgear_lte/snapshots/test_binary_sensor.ambr
  tests/components/netgear_lte/snapshots/test_sensor.ambr
  tests/components/netgear_lte/test_binary_sensor.py
  tests/components/netgear_lte/test_sensor.py
Labels: cla-signed, new-feature, integration: netgear_lte, has-tests, by-code-owner, Quality Scale: No score

#106082 Fix fints account type check
  homeassistant/components/fints/sensor.py
  requirements_test_all.txt
  tests/components/fints/__init__.py
  tests/components/fints/test_client.py
Labels: cla-signed, small-pr, integration: fints, has-tests, bugfix, Quality Scale: No score

#106662 Add diagnostics for tedee
  homeassistant/components/tedee/diagnostics.py
  tests/components/tedee/snapshots/test_diagnostics.ambr
  tests/components/tedee/test_diagnostics.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: tedee

#106861 Don't use entity_id in __repr__ of not added entity
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
Labels: core, cla-signed, small-pr

#106832 Bump bleak-esphome to 0.4.1
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: No score

#106851 Fix incorrect state in Yale Access Bluetooth when lock status is unknown
  homeassistant/components/yalexs_ble/lock.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: yalexs_ble, Quality Scale: No score

#106814 Enable strict typing for airthings
  .strict-typing
  homeassistant/components/airthings/__init__.py
  homeassistant/components/airthings/sensor.py
  mypy.ini
Labels: cla-signed, small-pr, code-quality, integration: airthings, Quality Scale: No score

#106833 Bump pySwitchbot to 0.43.0
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, dependency, Quality Scale: No score

#106834 Bump yalexs-ble to 2.4.0
  homeassistant/components/august/manifest.json
  homeassistant/components/yalexs_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: yalexs_ble, Quality Scale: No score

#105351 Pass default SSLContext instances to Octoprint custom HTTP sessions
  homeassistant/components/octoprint/__init__.py
  homeassistant/components/octoprint/config_flow.py
Labels: cla-signed, integration: octoprint, small-pr, bugfix, Quality Scale: No score

#106860 Use identity checks for HassJobType
  homeassistant/core.py
Labels: core, cla-signed, small-pr, code-quality

#105923 Fix Hydrawise data not refreshing
  homeassistant/components/hydrawise/binary_sensor.py
  homeassistant/components/hydrawise/coordinator.py
  homeassistant/components/hydrawise/entity.py
  homeassistant/components/hydrawise/sensor.py
  homeassistant/components/hydrawise/switch.py
Labels: cla-signed, small-pr, integration: hydrawise, by-code-owner, bugfix, Quality Scale: No score

#106852 Xiaomi MIIO: fix typo in error log
  homeassistant/components/xiaomi_miio/number.py
Labels: cla-signed, small-pr, integration: xiaomi_miio, code-quality, Quality Scale: No score

#106854 Refactor restore state saving to avoid a dict lookup of ATTR_RESTORED
  homeassistant/helpers/restore_state.py
Labels: core, cla-signed, small-pr

#106858 Use shorthand attr for screenlogic climate preset modes
  homeassistant/components/screenlogic/climate.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: screenlogic, Quality Scale: No score

#106857 Refactor light platform to avoid duplicate property calls
  homeassistant/components/light/__init__.py
Labels: core, cla-signed, integration: light, code-quality, Quality Scale: internal

#106783 Fix emulated_hue brightness check
  homeassistant/components/emulated_hue/hue_api.py
Labels: integration: emulated_hue, cla-signed, by-code-owner, bugfix, Quality Scale: internal

#105417 Migrate vizio tests to use freezegun
  tests/components/vizio/test_media_player.py
Labels: cla-signed, small-pr, integration: vizio, has-tests, code-quality, smash, Quality Scale: platinum

#105895 Migrate geo_rss_events test to use freezegun
  tests/components/geo_rss_events/test_sensor.py
Labels: cla-signed, small-pr, integration: geo_rss_events, has-tests, code-quality, smash, Quality Scale: No score

#106840 Enable strict typing for arwn
  .strict-typing
  homeassistant/components/arwn/sensor.py
  mypy.ini
Labels: cla-signed, integration: arwn, code-quality, Quality Scale: No score

#106776 Improve entity descriptions in Tami4
  homeassistant/components/tami4/button.py
Labels: cla-signed, small-pr, code-quality, integration: tami4, Quality Scale: No score

#106224 Changed setup of EnergyZero services
  homeassistant/components/energyzero/__init__.py
  homeassistant/components/energyzero/services.py
  homeassistant/components/energyzero/services.yaml
  homeassistant/components/energyzero/strings.json
  tests/components/energyzero/test_services.py
Labels: cla-signed, has-tests, code-quality, Quality Scale: platinum, code-owner-approved, integration: energyzero

#106667 Add reauthentication for tedee integration
  homeassistant/components/tedee/config_flow.py
  homeassistant/components/tedee/coordinator.py
  homeassistant/components/tedee/strings.json
  tests/components/tedee/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: tedee

#106869 Avoid unnecessary domain dataclass in Discovergy
  homeassistant/components/discovergy/__init__.py
  homeassistant/components/discovergy/diagnostics.py
  homeassistant/components/discovergy/sensor.py
Labels: cla-signed, by-code-owner, code-quality, integration: discovergy, Quality Scale: No score

#106721 Mark humidifier entity component as strictly typed
  .strict-typing
  homeassistant/components/humidifier/__init__.py
  homeassistant/components/humidifier/reproduce_state.py
  mypy.ini
Labels: core, cla-signed, small-pr, code-quality, integration: humidifier, Quality Scale: internal

#106823 Enable strict typing for apache_kafka
  .strict-typing
  homeassistant/components/apache_kafka/__init__.py
  mypy.ini
Labels: cla-signed, small-pr, integration: apache_kafka, code-quality, ci-full-run, Quality Scale: No score

#106810 Add translatable title to logbook
  homeassistant/components/logbook/strings.json
Labels: core, cla-signed, integration: logbook, small-pr, Quality Scale: internal

#106768 Move urllib3 constraint to pyproject.toml
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, bugfix

#106727 Apply late review comments on media player
  homeassistant/components/media_player/significant_change.py
Labels: core, integration: media_player, cla-signed, small-pr, code-quality, Quality Scale: internal

#106868 Enable strict typing of date_time
  .strict-typing
  homeassistant/components/time_date/sensor.py
  homeassistant/util/dt.py
  mypy.ini
  tests/util/test_dt.py
Labels: core, cla-signed, integration: time_date, Quality Scale: internal

#106871 Deprecate 'beat' display option in Time & Date
  homeassistant/components/time_date/const.py
  homeassistant/components/time_date/sensor.py
  homeassistant/components/time_date/strings.json
  tests/components/time_date/test_sensor.py
Labels: cla-signed, integration: time_date, has-tests, Quality Scale: internal

#106870 Bump Zigpy to 0.60.4
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score

#106759 Index entities by domain for entity services
  homeassistant/components/isy994/services.py
  homeassistant/helpers/entity_component.py
  homeassistant/helpers/entity_platform.py
  homeassistant/helpers/service.py
  tests/components/tts/test_init.py
  tests/helpers/test_service.py
Labels: core, cla-signed, integration: isy994, by-code-owner, code-quality, Quality Scale: No score

#105415 Add Reolink image settings
  homeassistant/components/reolink/number.py
  homeassistant/components/reolink/strings.json
Labels: cla-signed, new-feature, by-code-owner, integration: reolink, smash, Quality Scale: No score

#106878 Improve time_date tests
  tests/components/time_date/test_sensor.py
Labels: cla-signed, small-pr, integration: time_date, has-tests, Quality Scale: internal

#106879 Fix state update in time_date sensor
  homeassistant/components/time_date/sensor.py
  tests/components/time_date/test_sensor.py
Labels: cla-signed, small-pr, integration: time_date, has-tests, Quality Scale: internal

#106723 Mark stt entity component as strictly typed
  .strict-typing
  homeassistant/components/stt/legacy.py
  mypy.ini
Labels: core, cla-signed, small-pr, integration: stt, code-quality, Quality Scale: internal

#106286 Remove deprecated Life360 yaml configuration
  homeassistant/components/life360/__init__.py
  homeassistant/components/life360/const.py
Labels: breaking-change, cla-signed, small-pr, integration: life360, by-code-owner, code-quality, Quality Scale: No score

#106842 Close stale connections in yalexs_ble to ensure setup can proceed
  homeassistant/components/yalexs_ble/__init__.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: yalexs_ble, Quality Scale: No score

#106885 Improve fitbit authentication error handling
  homeassistant/components/fitbit/application_credentials.py
  tests/components/fitbit/test_init.py
  tests/components/fitbit/test_sensor.py
Labels: cla-signed, small-pr, integration: fitbit, has-tests, by-code-owner, bugfix, Quality Scale: No score

#106633 Replace intersection with isdisjoint in apple_tv config flow
  homeassistant/components/apple_tv/config_flow.py
Labels: cla-signed, integration: apple_tv, small-pr, code-quality, Quality Scale: No score

#106886 Improve To-do service error handling
  homeassistant/components/todo/__init__.py
  homeassistant/components/todo/strings.json
  tests/components/shopping_list/test_todo.py
  tests/components/todo/test_init.py
Labels: cla-signed, small-pr, has-tests, bugfix, Quality Scale: internal, integration: todo

#106889 Add strict typing to command_line
  .strict-typing
  homeassistant/components/command_line/__init__.py
  homeassistant/components/command_line/binary_sensor.py
  homeassistant/components/command_line/cover.py
  homeassistant/components/command_line/sensor.py
  homeassistant/components/command_line/switch.py
  mypy.ini
Labels: cla-signed, small-pr, integration: command_line, code-quality, Quality Scale: No score

#106888 Enable strict typing for co2signal
  .strict-typing
  homeassistant/components/co2signal/helpers.py
  homeassistant/components/co2signal/util.py
  mypy.ini
Labels: cla-signed, small-pr, integration: co2signal, code-quality, Quality Scale: No score

#106902 Avoid tuple construction to check HKC available
  homeassistant/components/homekit_controller/entity.py
Labels: cla-signed, small-pr, integration: homekit_controller, by-code-owner, code-quality, Quality Scale: No score

#106898 Update frontend to 20240102.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#106835 Update switchbot to use close_stale_connections_by_address
  homeassistant/components/switchbot/__init__.py
Labels: cla-signed, small-pr, integration: switchbot, bugfix, Quality Scale: No score

#106887 Enable strict typing for blueprint
  .strict-typing
  homeassistant/components/blueprint/models.py
  homeassistant/components/blueprint/schemas.py
  homeassistant/components/blueprint/websocket_api.py
  homeassistant/util/yaml/loader.py
  mypy.ini
Labels: core, cla-signed, small-pr, code-quality, integration: blueprint, Quality Scale: internal

#106691 Bump aiohttp-zlib-ng to 0.2.0
  .github/workflows/wheels.yml
  homeassistant/components/http/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: http, small-pr, dependency, Quality Scale: internal

#106844 Enable strict typing for axis
  .strict-typing
  homeassistant/components/axis/binary_sensor.py
  homeassistant/components/axis/device.py
  mypy.ini
Labels: cla-signed, integration: axis, small-pr, code-quality, Quality Scale: platinum, code-owner-approved

#106910 Remove assert for unique_id
  homeassistant/components/axis/device.py
  homeassistant/components/axis/entity.py
Labels: cla-signed, integration: axis, small-pr, code-quality, Quality Scale: platinum, code-owner-approved

#106909 Bump intents to 2024.1.2
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/conversation/snapshots/test_init.ambr
  tests/components/conversation/test_init.py
Labels: core, cla-signed, integration: conversation, small-pr, has-tests, dependency, by-code-owner, Quality Scale: internal

#106914 Add tedee bridge as via_device for tedee integration
  homeassistant/components/tedee/__init__.py
  homeassistant/components/tedee/coordinator.py
  homeassistant/components/tedee/entity.py
  tests/components/tedee/snapshots/test_init.ambr
  tests/components/tedee/snapshots/test_lock.ambr
  tests/components/tedee/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: No score, integration: tedee

#106825 Add translatable title to holiday
  homeassistant/components/holiday/strings.json
  homeassistant/generated/integrations.json
  script/hassfest/translations.py
Labels: cla-signed, small-pr, Quality Scale: No score, integration: holiday

#106916 Remove group_members from significant attributes in media player
  homeassistant/components/media_player/significant_change.py
  tests/components/media_player/test_significant_change.py
Labels: core, integration: media_player, cla-signed, small-pr, has-tests, bugfix, Quality Scale: internal

#106903 Fix qBittorrent torrent count when empty
  homeassistant/components/qbittorrent/sensor.py
Labels: cla-signed, small-pr, integration: qbittorrent, by-code-owner, bugfix, Quality Scale: No score

#106913 Avoid triggering ping device tracker `home` after restore
  homeassistant/components/ping/device_tracker.py
Labels: cla-signed, small-pr, integration: ping, by-code-owner, bugfix, Quality Scale: internal

#106932 Bump aioelectricitymaps to v0.1.6
  homeassistant/components/co2signal/helpers.py
  homeassistant/components/co2signal/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: co2signal, by-code-owner, code-quality, bugfix, Quality Scale: No score

#106906 Enable strict typing for counter
  .strict-typing
  homeassistant/components/counter/__init__.py
  mypy.ini
Labels: core, cla-signed, integration: counter, small-pr, code-quality, Quality Scale: internal

#106931 Bump SQLAlchemy to 2.0.25
  homeassistant/components/recorder/manifest.json
  homeassistant/components/recorder/statistics.py
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, integration: recorder, cla-signed, small-pr, integration: sql, dependency, Quality Scale: No score, Quality Scale: internal

#106930 Speed up getting the mean of statistics
  homeassistant/components/recorder/statistics.py
Labels: core, integration: recorder, cla-signed, small-pr, code-quality, Quality Scale: internal

#106774 Add try-catch for invalid auth to Tado
  homeassistant/components/tado/config_flow.py
  homeassistant/components/tado/device_tracker.py
  homeassistant/components/tado/strings.json
  tests/components/tado/test_config_flow.py
Labels: cla-signed, integration: tado, small-pr, by-code-owner, Quality Scale: No score

#106938 Change Tado deprecation version to 2024.7.0
  homeassistant/components/tado/device_tracker.py
Labels: cla-signed, integration: tado, small-pr, by-code-owner, Quality Scale: No score

#106942 Update frontend to 20240103.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#106945 Fix creating cloud hook twice for mobile_app
  homeassistant/components/mobile_app/__init__.py
Labels: core, cla-signed, small-pr, integration: mobile_app, bugfix, Quality Scale: internal

#106948 Update frontend to 20240103.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#106952 Only set precision in modbus if not configured.
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/base_platform.py
Labels: cla-signed, integration: modbus, small-pr, by-code-owner, bugfix, Quality Scale: gold

#106959 Set precision to halves for target temperature in flexit_bacnet
  homeassistant/components/flexit_bacnet/climate.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: flexit_bacnet, Quality Scale: No score

#106963 Update frontend to 20240103.3
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#104453 Add support for placeholders in entity name translations
  homeassistant/helpers/entity.py
  homeassistant/helpers/translation.py
  tests/helpers/snapshots/test_entity.ambr
  tests/helpers/test_entity.py
  tests/helpers/test_translation.py
  tests/testing_config/custom_components/test/translations/de.json
  tests/testing_config/custom_components/test/translations/en.json
  tests/testing_config/custom_components/test/translations/es.json
Labels: core, cla-signed, new-feature

#106748 Close stale connections (Airthings BLE)
  homeassistant/components/airthings_ble/__init__.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: airthings_ble, Quality Scale: No score

#106978 Bump dropmqttapi to 1.0.2
  homeassistant/components/drop_connect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: drop_connect

#106975 Bump rachiopy to 1.1.0
  CODEOWNERS
  homeassistant/components/rachio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: rachio, dependency, Quality Scale: No score

#107000 Bump openwebifpy to 4.0.4
  homeassistant/components/enigma2/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: enigma2, dependency, by-code-owner, Quality Scale: No score

#107026 Fix missing backwards compatiblity layer for humidifier supported_features
  homeassistant/components/humidifier/__init__.py
  tests/components/humidifier/test_init.py
Labels: core, cla-signed, small-pr, has-tests, bugfix, integration: humidifier, Quality Scale: internal

#107015 Fix ESPHome service removal when the device name contains a dash
  homeassistant/components/esphome/manager.py
  tests/components/esphome/test_manager.py
Labels: cla-signed, integration: esphome, by-code-owner, bugfix, Quality Scale: No score

#107010 Bump pyinsteon
  homeassistant/components/insteon/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: insteon, by-code-owner, Quality Scale: No score

#106998 Add missing coverage for esphome_state_property decorator
  tests/components/esphome/test_climate.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, by-code-owner, code-quality, Quality Scale: No score

#106993 Fix first ESPHome device update entity not offering install feature
  homeassistant/components/esphome/dashboard.py
  homeassistant/components/esphome/update.py
  tests/components/esphome/test_dashboard.py
  tests/components/esphome/test_update.py
Labels: cla-signed, integration: esphome, has-tests, by-code-owner, bugfix, Quality Scale: No score

#106984 Use call_soon_threadsafe in token updater of Ring
  homeassistant/components/ring/__init__.py
Labels: cla-signed, integration: ring, small-pr, code-quality, Quality Scale: No score

#107040 Ring: Add partial back
  homeassistant/components/ring/__init__.py
Labels: cla-signed, integration: ring, small-pr, Quality Scale: No score

#105887 Issue warning if glances server version is 2
  homeassistant/components/glances/__init__.py
  homeassistant/components/glances/config_flow.py
  homeassistant/components/glances/const.py
  homeassistant/components/glances/strings.json
  tests/components/glances/__init__.py
  tests/components/glances/test_config_flow.py
  tests/components/glances/test_init.py
Labels: cla-signed, small-pr, integration: glances, has-tests, by-code-owner, deprecation, Quality Scale: No score

#107028 Re-architect Guardian to use better entity descriptions and properties
  homeassistant/components/guardian/__init__.py
  homeassistant/components/guardian/binary_sensor.py
  homeassistant/components/guardian/button.py
  homeassistant/components/guardian/sensor.py
  homeassistant/components/guardian/switch.py
Labels: cla-signed, by-code-owner, code-quality, integration: guardian, Quality Scale: No score

#103569 Add button platform to Opengarage
  homeassistant/components/opengarage/__init__.py
  homeassistant/components/opengarage/button.py
  tests/components/opengarage/conftest.py
  tests/components/opengarage/test_button.py
Labels: new-platform, cla-signed, new-feature, integration: opengarage, has-tests, Quality Scale: No score

#107060 Use async_register in streamlabswater
  homeassistant/components/streamlabswater/__init__.py
Labels: cla-signed, small-pr, integration: streamlabswater, bugfix, smash, Quality Scale: No score

#107062 Fix data access in streamlabs water
  homeassistant/components/streamlabswater/coordinator.py
  homeassistant/components/streamlabswater/sensor.py
Labels: cla-signed, small-pr, integration: streamlabswater, bugfix, smash, Quality Scale: No score

#107050 Small cleanups to denonavr
  homeassistant/components/denonavr/media_player.py
Labels: cla-signed, small-pr, integration: denonavr, code-quality, Quality Scale: No score

#107032 Update pydrawise to 2024.1.0
  homeassistant/components/hydrawise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: hydrawise, dependency, Quality Scale: No score

#107042 Add test coverage for ESPHome service calls
  homeassistant/components/esphome/manager.py
  tests/components/esphome/conftest.py
  tests/components/esphome/test_manager.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, by-code-owner, code-quality, Quality Scale: No score

#106890 Remove dead code in fibaro light
  homeassistant/components/fibaro/light.py
Labels: cla-signed, small-pr, integration: fibaro, by-code-owner, code-quality, Quality Scale: No score

#107065 Add sensor tests to Streamlabs water
  homeassistant/components/streamlabswater/sensor.py
  tests/components/streamlabswater/__init__.py
  tests/components/streamlabswater/conftest.py
  tests/components/streamlabswater/fixtures/get_locations.json
  tests/components/streamlabswater/fixtures/water_usage.json
  tests/components/streamlabswater/snapshots/test_sensor.ambr
  tests/components/streamlabswater/test_sensor.py
Labels: cla-signed, small-pr, integration: streamlabswater, has-tests, code-quality, Quality Scale: No score

#107069 Update home-assistant/builder to 2024.01.0
  .github/workflows/builder.yml
Labels: cla-signed, small-pr, dependency

#106965 Refactor drop sensor tests
  tests/components/drop_connect/common.py
  tests/components/drop_connect/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: drop_connect

#107071 Add entity descriptions to Streamlabs water
  homeassistant/components/streamlabswater/sensor.py
  homeassistant/components/streamlabswater/strings.json
  tests/components/streamlabswater/snapshots/test_sensor.ambr
Labels: cla-signed, integration: streamlabswater, has-tests, code-quality, smash, Quality Scale: No score

#107090 Refactor drop tests for binary_sensor
  tests/components/drop_connect/test_binary_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: drop_connect

#107074 Deduplicate handling of duplicated constants
  homeassistant/const.py
  homeassistant/core.py
  homeassistant/helpers/deprecation.py
  tests/helpers/test_deprecation.py
Labels: core, cla-signed, small-pr

#107097 Bump habluetooth to 2.0.2
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bluetooth/test_wrappers.py
Labels: core, cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#107100 Remove zwave_js numeric sensor rounding
  homeassistant/components/zwave_js/sensor.py
  tests/components/zwave_js/test_sensor.py
Labels: breaking-change, cla-signed, small-pr, has-tests, by-code-owner, integration: zwave_js, Quality Scale: platinum

#107109 Revert "Bump aiohttp-zlib-ng to 0.2.0 (#106691)"
  .github/workflows/wheels.yml
  homeassistant/components/http/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: http, small-pr, Quality Scale: internal

#107119 Rework drop_connect switch, select and coordinator tests and cleanup fixtures
  tests/components/drop_connect/conftest.py
  tests/components/drop_connect/test_coordinator.py
  tests/components/drop_connect/test_select.py
  tests/components/drop_connect/test_switch.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: drop_connect

#106924 Move group helpers into their own module
  homeassistant/components/__init__.py
  homeassistant/components/group/__init__.py
  homeassistant/components/zwave_js/helpers.py
  homeassistant/components/zwave_js/services.py
  homeassistant/helpers/group.py
  homeassistant/helpers/service.py
  tests/helpers/test_group.py
Labels: core, cla-signed, integration: group, code-quality, integration: zwave_js, Quality Scale: internal, Quality Scale: platinum

#107148 Reorganize drop_connect tests
  tests/components/drop_connect/test_init.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: drop_connect

#107155 Update frontend to 20240104.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#107162 Bump Orvibo to 1.1.2
  homeassistant/components/orvibo/manifest.json
  requirements_all.txt
Labels: cla-signed, small-pr, integration: orvibo, dependency, Quality Scale: No score

#107153 Migrate Emonitor to has entity name
  homeassistant/components/emonitor/sensor.py
  homeassistant/components/emonitor/strings.json
Labels: cla-signed, small-pr, new-feature, integration: emonitor, Quality Scale: No score

#99752 Migrate AVM FRITZ!Box Call monitor to has entity name
  homeassistant/components/fritzbox_callmonitor/sensor.py
  homeassistant/components/fritzbox_callmonitor/strings.json
Labels: cla-signed, new-feature, integration: fritzbox_callmonitor, Quality Scale: No score

#106702 Cache homekit_controller supported features
  homeassistant/components/homekit_controller/climate.py
  homeassistant/components/homekit_controller/cover.py
  homeassistant/components/homekit_controller/entity.py
  homeassistant/components/homekit_controller/fan.py
  homeassistant/components/homekit_controller/humidifier.py
  homeassistant/components/homekit_controller/light.py
  tests/components/homekit_controller/fixtures/home_assistant_bridge_basic_cover.json
  tests/components/homekit_controller/fixtures/home_assistant_bridge_basic_heater_cooler.json
  tests/components/homekit_controller/fixtures/home_assistant_bridge_basic_light.json
  tests/components/homekit_controller/fixtures/home_assistant_bridge_cover.json
  tests/components/homekit_controller/fixtures/home_assistant_bridge_heater_cooler.json
  tests/components/homekit_controller/fixtures/home_assistant_bridge_humidifier.json
  tests/components/homekit_controller/fixtures/home_assistant_bridge_humidifier_new_range.json
  tests/components/homekit_controller/fixtures/home_assistant_bridge_light.json
  tests/components/homekit_controller/snapshots/test_init.ambr
  tests/components/homekit_controller/specific_devices/test_cover_that_changes_features.py
  tests/components/homekit_controller/specific_devices/test_heater_cooler_that_changes_features.py
  tests/components/homekit_controller/specific_devices/test_humidifier_that_changes_value_range.py
  tests/components/homekit_controller/specific_devices/test_light_that_changes_features.py
Labels: cla-signed, integration: homekit_controller, by-code-owner, code-quality, Quality Scale: No score

#107159 Use snapshots in Glances sensor tests
  tests/components/glances/snapshots/test_sensor.ambr
  tests/components/glances/test_sensor.py
Labels: cla-signed, small-pr, integration: glances, has-tests, code-quality, smash, Quality Scale: No score

#106490 Pass down language to hassil
  homeassistant/components/conversation/default_agent.py
Labels: core, cla-signed, integration: conversation, small-pr, bugfix, Quality Scale: internal

#107096 Remove precision in streamlabs water
  homeassistant/components/streamlabswater/coordinator.py
  homeassistant/components/streamlabswater/sensor.py
  tests/components/streamlabswater/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, integration: streamlabswater, has-tests, code-quality, Quality Scale: No score

#107175 Update Home Assistant base image to 2024.01.0 - Python 3.12
  build.yaml
Labels: cla-signed, small-pr

#107089 Pass aiohttp clientsession to tedee integration
  homeassistant/components/tedee/config_flow.py
  homeassistant/components/tedee/coordinator.py
  homeassistant/components/tedee/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: tedee

#106078 Add conversation_id parameter to conversation.process service
  homeassistant/components/conversation/__init__.py
  homeassistant/components/conversation/services.yaml
  homeassistant/components/conversation/strings.json
  tests/components/conversation/snapshots/test_init.ambr
  tests/components/conversation/test_init.py
Labels: core, cla-signed, integration: conversation, small-pr, new-feature, has-tests, Quality Scale: internal

#107160 Clean up outdated entity replacement logic in Guardian
  homeassistant/components/guardian/binary_sensor.py
  homeassistant/components/guardian/util.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: guardian, Quality Scale: No score

#107095 Introduce base entity in streamlabs water
  homeassistant/components/streamlabswater/binary_sensor.py
  homeassistant/components/streamlabswater/entity.py
  homeassistant/components/streamlabswater/sensor.py
  homeassistant/components/streamlabswater/strings.json
  tests/components/streamlabswater/snapshots/test_binary_sensor.ambr
  tests/components/streamlabswater/test_binary_sensor.py
Labels: cla-signed, integration: streamlabswater, has-tests, code-quality, Quality Scale: No score

#107177 Bump aiohomekit to 3.1.2
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, smash, Quality Scale: No score

#107168 Update sensorpush-ble library to 1.6.1
  homeassistant/components/sensorpush/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, new-feature, dependency, integration: sensorpush, Quality Scale: No score

#104208 Fix tplink overloading power strips
  homeassistant/components/tplink/__init__.py
  homeassistant/components/tplink/coordinator.py
  homeassistant/components/tplink/diagnostics.py
  homeassistant/components/tplink/entity.py
  homeassistant/components/tplink/light.py
  homeassistant/components/tplink/models.py
  homeassistant/components/tplink/sensor.py
  homeassistant/components/tplink/switch.py
Labels: breaking-change, cla-signed, integration: tplink, by-code-owner, bugfix, Quality Scale: platinum

#107183 Fix switch states in AVM FRITZ!Box Tools
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/switch.py
Labels: cla-signed, small-pr, integration: fritz, by-code-owner, bugfix, Quality Scale: No score

#107203 Disable IPv6 in the opower integration to fix AEP utilities
  homeassistant/components/opower/config_flow.py
  homeassistant/components/opower/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: opower

#107195 Bump bluetooth-adapters to 0.17.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#107116 Set zwave_js voltage sensor suggested precision
  homeassistant/components/zwave_js/sensor.py
  tests/components/zwave_js/test_sensor.py
Labels: breaking-change, cla-signed, small-pr, has-tests, by-code-owner, integration: zwave_js, Quality Scale: platinum

#107209 Change default python version to 3.12 for image builds
  .github/workflows/builder.yml
Labels: cla-signed, small-pr

#107210 Attempt to fix 32bit docker builds
  Dockerfile
  script/hassfest/docker.py
Labels: cla-signed, small-pr

#107187 Hotfix cache logic bug in Tessie
  homeassistant/components/tessie/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, Quality Scale: No score, integration: tessie

#107221 Fix entity property cache creation arguments
  homeassistant/helpers/entity.py
Labels: core, cla-signed, small-pr, bugfix

#107199 Remove work-a-round for mqtt sensors with an entity_category set to `config`
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/strings.json
  tests/components/mqtt/test_init.py
Labels: core, breaking-change, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, Quality Scale: gold

#107190 Remove unneeded preset_mode checks for mqtt climate
  homeassistant/components/mqtt/climate.py
Labels: core, cla-signed, integration: mqtt, small-pr, by-code-owner, code-quality, Quality Scale: gold
