Repository home-assistant/core, pull requests merged in 2024-07, with the labels that each got.

#120870 Add handling for different STATFLAG formats in APCUPSD
  homeassistant/components/apcupsd/binary_sensor.py
  tests/components/apcupsd/test_binary_sensor.py
Labels: cla-signed, integration: apcupsd, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: silver

#120892 Add missing translations for device class in SQL
  homeassistant/components/sql/strings.json
Labels: cla-signed, small-pr, integration: sql, by-code-owner, bugfix, Quality Scale: No score

#120893 Add missing translations for device class in Template
  homeassistant/components/template/strings.json
Labels: cla-signed, small-pr, integration: template, bugfix, Quality Scale: internal

#120905 Use service_calls fixture in deconz tests
  tests/components/deconz/test_device_trigger.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#120888 Bump ical to 8.1.1
  homeassistant/components/google/manifest.json
  homeassistant/components/local_calendar/manifest.json
  homeassistant/components/local_todo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: google, small-pr, by-code-owner, bugfix, integration: local_calendar, Quality Scale: No score, integration: local_todo

#120914 Import Generator from collections.abc (1)
  homeassistant/components/alexa/capabilities.py
  homeassistant/components/alexa/entities.py
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/assist_pipeline/websocket_api.py
  homeassistant/components/automation/trace.py
  homeassistant/components/bluetooth/passive_update_coordinator.py
  homeassistant/components/homekit/aidmanager.py
  homeassistant/components/homekit_controller/device_trigger.py
  homeassistant/components/knx/config_flow.py
  homeassistant/components/logbook/processor.py
  homeassistant/components/matter/discovery.py
  homeassistant/components/mqtt/client.py
  homeassistant/components/profiler/__init__.py
  homeassistant/components/recorder/util.py
  homeassistant/components/stream/fmp4utils.py
  homeassistant/components/stream/worker.py
  homeassistant/components/unifiprotect/camera.py
  homeassistant/components/unifiprotect/data.py
  homeassistant/components/unifiprotect/utils.py
  homeassistant/components/wemo/entity.py
  homeassistant/components/wyoming/satellite.py
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/services.py
  homeassistant/config_entries.py
  homeassistant/exceptions.py
  homeassistant/helpers/condition.py
  homeassistant/helpers/script.py
  homeassistant/helpers/template.py
  homeassistant/helpers/trace.py
  homeassistant/helpers/update_coordinator.py
  homeassistant/setup.py
  script/scaffold/templates/config_flow/tests/conftest.py
  script/scaffold/templates/config_flow_helper/tests/conftest.py
  tests/common.py
  tests/components/conftest.py
  tests/conftest.py
  tests/helpers/test_config_entry_flow.py
  tests/helpers/test_config_entry_oauth2_flow.py
  tests/helpers/test_discovery_flow.py
  tests/scripts/test_auth.py
  tests/test_bootstrap.py
  tests/test_config.py
  tests/test_config_entries.py
  tests/util/yaml/test_init.py
Labels: core, cla-signed, code-quality, smash

#120772 Add typing to Panasonic Viera
  homeassistant/components/panasonic_viera/__init__.py
  homeassistant/components/panasonic_viera/config_flow.py
  homeassistant/components/panasonic_viera/media_player.py
  homeassistant/components/panasonic_viera/remote.py
Labels: cla-signed, integration: panasonic_viera, code-quality, Quality Scale: No score

#120863 First step towards fixtures in deCONZ tests
  tests/components/deconz/conftest.py
  tests/components/deconz/test_gateway.py
  tests/components/deconz/test_siren.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#120913 Bump incomfort-client dependency to 0.6.3
  homeassistant/components/incomfort/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: incomfort, dependency, by-code-owner, Quality Scale: No score

#120920 Use service_calls fixture in google_translate tests
  tests/components/google_translate/test_tts.py
Labels: cla-signed, small-pr, has-tests, integration: google_translate, code-quality, Quality Scale: No score

#120921 Use TypeVar defaults for Generator
  tests/components/apsystems/conftest.py
  tests/components/aquacell/conftest.py
  tests/components/brother/conftest.py
  tests/components/ecovacs/test_services.py
  tests/components/kitchen_sink/test_config_flow.py
  tests/components/mpd/conftest.py
  tests/components/otp/conftest.py
  tests/components/pyload/conftest.py
  tests/components/pyload/test_button.py
  tests/components/pyload/test_sensor.py
  tests/components/pyload/test_switch.py
  tests/components/solarlog/conftest.py
Labels: cla-signed, small-pr, has-tests, code-quality, smash

#120517 Remove OverloadUT as codeowner from Ecovacs
  CODEOWNERS
  homeassistant/components/ecovacs/manifest.json
Labels: cla-signed, small-pr, integration: ecovacs, by-code-owner, Quality Scale: No score

#120923 Add Context to service_calls fixture
  tests/conftest.py
Labels: core, cla-signed, small-pr, code-quality, smash

#120891 Add missing translations for device class in Scrape
  homeassistant/components/scrape/strings.json
Labels: cla-signed, small-pr, integration: scrape, bugfix, Quality Scale: No score

#120930 Use service_calls fixture in knx tests
  tests/components/knx/test_device_trigger.py
  tests/components/knx/test_trigger.py
Labels: cla-signed, integration: knx, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#120928 Use service_calls fixture in hue tests
  tests/components/hue/conftest.py
  tests/components/hue/test_device_trigger_v1.py
Labels: cla-signed, integration: hue, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#120851 Improve flume test coverage
  .coveragerc
  tests/components/flume/conftest.py
  tests/components/flume/test_config_flow.py
  tests/components/flume/test_init.py
Labels: cla-signed, small-pr, has-tests, integration: flume, code-quality, Quality Scale: No score

#120940 Bump python-kasa to 0.7.0.2
  homeassistant/components/tplink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: tplink, dependency, by-code-owner, Quality Scale: platinum

#120922 Use service_calls fixture in homeassistant tests
  tests/components/homeassistant/triggers/test_event.py
  tests/components/homeassistant/triggers/test_numeric_state.py
  tests/components/homeassistant/triggers/test_state.py
  tests/components/homeassistant/triggers/test_time.py
  tests/components/homeassistant/triggers/test_time_pattern.py
Labels: core, cla-signed, small-pr, integration: homeassistant, has-tests, code-quality, Quality Scale: internal

#120943 Use fixtures in deCONZ select tests
  tests/components/deconz/test_select.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#120939 Mark dry/fan-only climate modes as supported for Panasonic room air conditioner
  homeassistant/components/matter/climate.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: matter, Quality Scale: No score

#120935 Use service_calls fixture in media_extractor tests
  tests/components/media_extractor/conftest.py
  tests/components/media_extractor/test_init.py
Labels: cla-signed, integration: media_extractor, small-pr, has-tests, code-quality, Quality Scale: internal

#120937 Add exception translations
  homeassistant/components/azure_devops/coordinator.py
  homeassistant/components/azure_devops/strings.json
Labels: cla-signed, small-pr, by-code-owner, integration: azure_devops, code-quality, Quality Scale: No score

#120936 Use fixtures in deCONZ scene tests
  tests/components/deconz/test_scene.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#120938 Use fixtures in deCONZ number tests
  tests/components/deconz/test_number.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#120933 Use service_calls fixture in litejet tests
  tests/components/litejet/test_trigger.py
Labels: cla-signed, small-pr, integration: litejet, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#120902 Replace GoogleAPICallError with GoogleAPIError
  homeassistant/components/google_generative_ai_conversation/__init__.py
  homeassistant/components/google_generative_ai_conversation/config_flow.py
  homeassistant/components/google_generative_ai_conversation/conversation.py
  tests/components/google_generative_ai_conversation/test_conversation.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum, integration: google_generative_ai_conversation

#120903 Remove a useless line in Google Generative AI test
  tests/components/google_generative_ai_conversation/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum, integration: google_generative_ai_conversation

#120941 Bump gcal_sync to 6.1.4
  homeassistant/components/google/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: google, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score

#120926 Bump openai to 1.35.1
  homeassistant/components/openai_conversation/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score, integration: openai_conversation

#120929 Use service_calls fixture in kodi tests
  tests/components/kodi/test_device_trigger.py
Labels: cla-signed, small-pr, integration: kodi, has-tests, code-quality, Quality Scale: No score

#120927 Use service_calls fixture in homekit_controller tests
  tests/components/homekit_controller/test_device_trigger.py
Labels: cla-signed, small-pr, integration: homekit_controller, has-tests, code-quality, Quality Scale: No score

#120911 Use service_calls fixture in geo_location tests
  tests/components/geo_location/test_trigger.py
Labels: core, cla-signed, small-pr, integration: geo_location, has-tests, code-quality, Quality Scale: internal

#120906 Use service_calls fixture in conversation tests
  tests/components/conversation/test_trigger.py
Labels: core, cla-signed, integration: conversation, small-pr, has-tests, code-quality, Quality Scale: internal

#120942 Downgrade logging previously reported asyncio block to debug
  homeassistant/util/loop.py
  tests/util/test_loop.py
Labels: core, cla-signed

#120909 Improve add user error messages
  homeassistant/auth/providers/homeassistant.py
  homeassistant/components/auth/strings.json
  homeassistant/components/config/auth_provider_homeassistant.py
  tests/components/config/test_auth_provider_homeassistant.py
Labels: core, cla-signed, integration: config, small-pr, integration: auth, has-tests, bugfix, Quality Scale: internal

#120947 Use fixtures in deCONZ logbook tests
  tests/components/deconz/test_logbook.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#120948 Use fixtures in deCONZ lock tests
  tests/components/deconz/test_lock.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#120946 Fix Bang & Olufsen jumping volume bar
  homeassistant/components/bang_olufsen/media_player.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: bang_olufsen

#120944 Use fixtures in deCONZ switch tests
  tests/components/deconz/test_switch.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#120881 Fix Shelly device shutdown
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/config_flow.py
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: shelly, by-code-owner, bugfix, Quality Scale: platinum

#120951 Simplify Bang & Olufsen media_image_url property
  homeassistant/components/bang_olufsen/media_player.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: bang_olufsen

#120904 Use service_calls fixture in core platform tests [a-l]
  tests/components/binary_sensor/test_device_condition.py
  tests/components/binary_sensor/test_device_trigger.py
  tests/components/button/test_device_trigger.py
  tests/components/climate/test_device_condition.py
  tests/components/climate/test_device_trigger.py
  tests/components/cover/test_device_condition.py
  tests/components/cover/test_device_trigger.py
  tests/components/device_automation/test_init.py
  tests/components/device_automation/test_toggle_entity.py
  tests/components/device_tracker/test_device_condition.py
  tests/components/device_tracker/test_device_trigger.py
  tests/components/fan/test_device_condition.py
  tests/components/fan/test_device_trigger.py
  tests/components/humidifier/test_device_condition.py
  tests/components/humidifier/test_device_trigger.py
  tests/components/light/test_device_action.py
  tests/components/light/test_device_condition.py
  tests/components/light/test_device_trigger.py
  tests/components/lock/test_device_condition.py
  tests/components/lock/test_device_trigger.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#120953 Use fixtures in deCONZ fan tests
  tests/components/deconz/test_fan.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#120954 Use fixtures in deCONZ cover tests
  tests/components/deconz/test_cover.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#120957 Fix missing airgradient string
  homeassistant/components/airgradient/strings.json
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: airgradient

#120958 Use fixtures in deCONZ button tests
  tests/components/deconz/conftest.py
  tests/components/deconz/test_button.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#120868 Minor polishing for tplink
  homeassistant/components/tplink/climate.py
  homeassistant/components/tplink/entity.py
  homeassistant/components/tplink/fan.py
  homeassistant/components/tplink/light.py
  homeassistant/components/tplink/sensor.py
  homeassistant/components/tplink/switch.py
  tests/components/tplink/fixtures/features.json
  tests/components/tplink/snapshots/test_sensor.ambr
  tests/components/tplink/test_light.py
Labels: cla-signed, small-pr, integration: tplink, by-code-owner, code-quality, Quality Scale: platinum

#120964 Bump reolink-aio to 0.9.4
  homeassistant/components/reolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, integration: reolink, Quality Scale: No score

#120986 Use service_calls fixture in netatmo tests
  tests/components/netatmo/test_device_trigger.py
Labels: integration: netatmo, cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score

#120991 Use service_calls fixture in shelly tests
  tests/components/shelly/conftest.py
  tests/components/shelly/test_device_trigger.py
Labels: cla-signed, small-pr, integration: shelly, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#120992 Use service_calls fixture in samsungtv tests
  tests/components/samsungtv/conftest.py
  tests/components/samsungtv/test_device_trigger.py
  tests/components/samsungtv/test_trigger.py
Labels: cla-signed, small-pr, integration: samsungtv, has-tests, by-code-owner, code-quality, Quality Scale: No score

#120984 Use service_calls fixture in mqtt tests
  tests/components/mqtt/test_device_trigger.py
  tests/components/mqtt/test_trigger.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#121003 Use common registry fixtures in hue
  tests/components/hue/conftest.py
  tests/components/hue/test_device_trigger_v1.py
  tests/components/hue/test_device_trigger_v2.py
  tests/components/hue/test_sensor_v1.py
Labels: cla-signed, integration: hue, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#121002 Use common registry fixtures in tplink
  tests/components/tplink/conftest.py
  tests/components/tplink/test_init.py
Labels: cla-signed, small-pr, integration: tplink, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#120983 Use service_calls fixture in microsoft tests
  tests/components/microsoft/test_tts.py
Labels: cla-signed, small-pr, integration: microsoft, has-tests, code-quality, Quality Scale: No score

#120995 Use service_calls fixture in zone tests
  tests/components/zone/test_trigger.py
Labels: core, cla-signed, small-pr, integration: zone, has-tests, code-quality, Quality Scale: internal

#120990 Use service_calls fixture in sun tests
  tests/components/sun/test_trigger.py
Labels: core, cla-signed, integration: sun, small-pr, has-tests, code-quality, Quality Scale: internal

#120997 Use service_calls fixture in yolink tests
  tests/components/yolink/test_device_trigger.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: yolink, Quality Scale: No score

#120988 Use common fixtures in philips_js tests
  tests/components/philips_js/conftest.py
  tests/components/philips_js/test_device_trigger.py
Labels: cla-signed, small-pr, integration: philips_js, has-tests, code-quality, Quality Scale: No score

#121004 Use common registry fixtures in lifx
  tests/components/lifx/conftest.py
  tests/components/lifx/test_migration.py
Labels: cla-signed, small-pr, integration: lifx, has-tests, code-quality, Quality Scale: No score

#121001 Use service_calls fixture in core platform tests [m-z]
  tests/components/media_player/test_device_condition.py
  tests/components/media_player/test_device_trigger.py
  tests/components/remote/test_device_action.py
  tests/components/remote/test_device_condition.py
  tests/components/remote/test_device_trigger.py
  tests/components/select/test_device_condition.py
  tests/components/select/test_device_trigger.py
  tests/components/sensor/test_device_condition.py
  tests/components/sensor/test_device_trigger.py
  tests/components/switch/test_device_action.py
  tests/components/switch/test_device_condition.py
  tests/components/switch/test_device_trigger.py
  tests/components/tag/test_trigger.py
  tests/components/update/test_device_trigger.py
  tests/components/vacuum/test_device_condition.py
  tests/components/vacuum/test_device_trigger.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#120978 Bump yt-dlp to 2024.07.01
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: media_extractor, small-pr, dependency, by-code-owner, Quality Scale: internal

#121005 Use common registry fixtures in solarlog
  tests/components/solarlog/conftest.py
  tests/components/solarlog/test_init.py
Labels: cla-signed, small-pr, has-tests, integration: solarlog, code-quality, Quality Scale: No score

#120994 Use service_calls fixture in zwave_js tests
  tests/components/zwave_js/test_device_condition.py
  tests/components/zwave_js/test_device_trigger.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: zwave_js, Quality Scale: platinum

#120998 Use service_calls fixture in xiaomi_ble tests
  tests/components/xiaomi_ble/test_device_trigger.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: xiaomi_ble, Quality Scale: No score

#120981 Reolink replace automatic removal of devices by manual removal
  homeassistant/components/reolink/__init__.py
  tests/components/reolink/test_init.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, bugfix, integration: reolink, Quality Scale: No score

#120907 [ESPHome] Disable dashboard based update entities by default
  homeassistant/components/esphome/update.py
  tests/components/esphome/test_update.py
Labels: cla-signed, small-pr, integration: esphome, by-code-owner, Quality Scale: platinum

#120980 Remove Aladdin Connect integration
  .coveragerc
  CODEOWNERS
  homeassistant/components/aladdin_connect/__init__.py
  homeassistant/components/aladdin_connect/api.py
  homeassistant/components/aladdin_connect/application_credentials.py
  homeassistant/components/aladdin_connect/config_flow.py
  homeassistant/components/aladdin_connect/const.py
  homeassistant/components/aladdin_connect/coordinator.py
  homeassistant/components/aladdin_connect/cover.py
  homeassistant/components/aladdin_connect/entity.py
  homeassistant/components/aladdin_connect/manifest.json
  homeassistant/components/aladdin_connect/ruff.toml
  homeassistant/components/aladdin_connect/sensor.py
  homeassistant/components/aladdin_connect/strings.json
  homeassistant/generated/application_credentials.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  tests/components/aladdin_connect/conftest.py
  tests/components/aladdin_connect/test_config_flow.py
  tests/components/aladdin_connect/test_init.py
Labels: breaking-change, remove-platform, cla-signed, integration: aladdin_connect, has-tests, Quality Scale: No score

#121012 Improve type hints in analytics tests
  tests/components/analytics/test_analytics.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: analytics, Quality Scale: internal

#121013 Adjust Generator type hints in tests
  tests/components/drop_connect/test_sensor.py
  tests/components/flume/conftest.py
  tests/components/homekit/conftest.py
  tests/components/incomfort/conftest.py
  tests/components/tibber/conftest.py
  tests/util/test_loop.py
Labels: core, cla-signed, small-pr, integration: homekit, integration: tibber, has-tests, integration: incomfort, integration: flume, code-quality, Quality Scale: No score, Quality Scale: silver, integration: drop_connect

#120912 Create log files in an executor thread
  homeassistant/bootstrap.py
  tests/test_bootstrap.py
Labels: core, cla-signed

#121017 Fix typo in post_schema_migration
  homeassistant/components/recorder/migration.py
Labels: core, integration: recorder, cla-signed, small-pr, by-code-owner, Quality Scale: internal

#120987 Use service_calls fixture in nest tests
  tests/components/nest/test_device_trigger.py
Labels: cla-signed, integration: nest, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved

#121000 Use common fixtures in tasmota tests
  tests/components/tasmota/conftest.py
  tests/components/tasmota/test_device_trigger.py
  tests/components/tasmota/test_discovery.py
  tests/components/tasmota/test_init.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: tasmota, Quality Scale: No score

#121010 Bump amberelectric to 1.1.1
  homeassistant/components/amberelectric/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, integration: amberelectric, Quality Scale: No score

#121023 Handle mains power for Matter appliances
  homeassistant/components/matter/climate.py
  homeassistant/components/matter/fan.py
  tests/components/matter/test_climate.py
  tests/components/matter/test_fan.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: matter, Quality Scale: No score

#121011 Fix setting target temperature for single setpoint Matter thermostat
  homeassistant/components/matter/climate.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: matter, Quality Scale: No score

#120631 Update voluptuous to 0.15.2
  homeassistant/components/auth/login_flow.py
  homeassistant/components/auth/mfa_setup_flow.py
  homeassistant/components/automation/config.py
  homeassistant/components/websocket_api/decorators.py
  homeassistant/config.py
  homeassistant/data_entry_flow.py
  homeassistant/helpers/data_entry_flow.py
  homeassistant/package_constraints.txt
  homeassistant/util/yaml/objects.py
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#121032 Update frontend to 20240702.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#121029 Temporarily set apprise log level to debug in tests
  tests/components/apprise/test_notify.py
Labels: cla-signed, small-pr, has-tests, integration: apprise, bugfix, ci-full-run, Quality Scale: No score

#121028 Bump orjson to 3.10.6
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#121014 Improve type hints in home_connect tests
  tests/components/home_connect/conftest.py
  tests/components/home_connect/test_binary_sensor.py
  tests/components/home_connect/test_init.py
  tests/components/home_connect/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: home_connect, Quality Scale: No score

#121015 Add Beoconnect Core as selectable Bang & Olufsen device
  homeassistant/components/bang_olufsen/const.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: bang_olufsen

#121020 Remove BaseTableManager active attribute
  homeassistant/components/recorder/table_managers/__init__.py
  homeassistant/components/recorder/table_managers/event_data.py
  homeassistant/components/recorder/table_managers/event_types.py
  homeassistant/components/recorder/table_managers/state_attributes.py
  homeassistant/components/recorder/table_managers/states_meta.py
Labels: core, integration: recorder, cla-signed, small-pr, by-code-owner, Quality Scale: internal

#120975 Bump pytechnove to 1.3.0
  homeassistant/components/technove/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: technove

#121034 Bump uiprotect to 5.0.0
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, integration: unifiprotect, Quality Scale: No score

#121039 Bump inkbird-ble to 0.5.7
  homeassistant/components/inkbird/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: inkbird, Quality Scale: No score

#121057 Add monkeypatch type hints to shelly tests
  tests/components/shelly/bluetooth/test_scanner.py
  tests/components/shelly/test_switch.py
Labels: cla-signed, small-pr, integration: shelly, has-tests, code-quality, smash, Quality Scale: platinum, code-owner-approved

#121036 Add conversation supported feature CONTROL
  homeassistant/components/conversation/__init__.py
  homeassistant/components/conversation/const.py
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/conversation/entity.py
  tests/components/conversation/test_default_agent.py
Labels: core, cla-signed, integration: conversation, small-pr, new-feature, has-tests, Quality Scale: internal

#120900 Bump here-transit to 1.2.1
  homeassistant/components/here_travel_time/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: here_travel_time, dependency, by-code-owner, bugfix, Quality Scale: No score

#121058 Generate Prometheus metrics in an executor job
  homeassistant/components/prometheus/__init__.py
Labels: cla-signed, integration: prometheus, small-pr, by-code-owner, bugfix, Quality Scale: No score, blocking event loop

#121063 Update frontend to 20240703.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#121050 Use async_setup_recorder_instance fixture in recorder migration tests
  tests/components/recorder/test_migrate.py
  tests/conftest.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#121066 Remove unused diagnostics fixtures
  tests/components/google/test_diagnostics.py
  tests/components/local_calendar/test_diagnostics.py
Labels: cla-signed, integration: google, small-pr, has-tests, code-quality, smash, integration: local_calendar, Quality Scale: No score

#121069 Cleanup deprecated json utils
  homeassistant/util/json.py
  pylint/plugins/hass_imports.py
  tests/util/test_json.py
Labels: core, cla-signed, small-pr, code-quality

#121070 Bump axis to v62
  homeassistant/components/axis/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: axis, small-pr, dependency, by-code-owner, bugfix, Quality Scale: platinum

#121064 Add CONTROL supported feature to OpenAI conversation entities
  homeassistant/components/openai_conversation/conversation.py
  tests/components/openai_conversation/test_conversation.py
Labels: core, cla-signed, integration: conversation, small-pr, has-tests, by-code-owner, Quality Scale: No score, Quality Scale: internal, integration: openai_conversation

#121047 Improve logic when retrying establishing database connection
  homeassistant/components/recorder/core.py
Labels: core, integration: recorder, cla-signed, small-pr, by-code-owner, Quality Scale: internal

#121076 Bump intents to 2024.7.3
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: conversation, small-pr, dependency, by-code-owner, Quality Scale: internal

#121077 Use async_setup_recorder_instance fixture in recorder auto_repairs tests
  tests/components/recorder/auto_repairs/statistics/test_duplicates.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#121078 Bump deebot-client to 8.1.0
  homeassistant/components/ecovacs/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: ecovacs, dependency, by-code-owner, bugfix, Quality Scale: No score

#121080 Matter fix Energy sensor discovery schemas
  homeassistant/components/matter/sensor.py
Labels: cla-signed, by-code-owner, code-quality, bugfix, integration: matter, Quality Scale: No score

#121048 Fix async knocki function
  homeassistant/components/knocki/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: knocki

#121079 Bump uiprotect to 5.2.0
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, integration: unifiprotect, Quality Scale: No score

#121083 Cleanup v32 recorder migration test
  tests/components/recorder/test_v32_migration.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, code-quality, Quality Scale: internal

#121043 Small speed up to writing entity state
  homeassistant/core.py
  homeassistant/helpers/entity.py
Labels: core, cla-signed

#121085 Fix leak of SQLAlchemy engine objects in recorder
  homeassistant/components/recorder/core.py
Labels: core, integration: recorder, cla-signed, small-pr, by-code-owner, Quality Scale: internal

#121086 Make the async_setup_recorder_instance fixture a context manager
  pylint/plugins/hass_enforce_type_hints.py
  tests/components/history/conftest.py
  tests/components/recorder/auto_repairs/statistics/test_duplicates.py
  tests/components/recorder/test_entity_registry.py
  tests/components/recorder/test_history.py
  tests/components/recorder/test_history_db_schema_30.py
  tests/components/recorder/test_history_db_schema_32.py
  tests/components/recorder/test_history_db_schema_42.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_migrate.py
  tests/components/recorder/test_statistics.py
  tests/components/recorder/test_util.py
  tests/components/sensor/test_recorder.py
  tests/conftest.py
Labels: core, integration: recorder, cla-signed, integration: logbook, integration: history_stats, has-tests, by-code-owner, Quality Scale: internal

#121098 Fix event loop blocking I/O in command_line tests
  tests/components/command_line/test_notify.py
Labels: cla-signed, small-pr, integration: command_line, has-tests, bugfix, blocking event loop

#121100 Fix event loop blocking I/O in generic tests
  tests/components/generic/test_config_flow.py
Labels: cla-signed, small-pr, integration: generic, has-tests, Quality Scale: No score, blocking event loop

#121093 Remove schema option for mqtt vacuum configs
  homeassistant/components/mqtt/strings.json
  homeassistant/components/mqtt/vacuum.py
  tests/components/mqtt/test_legacy_vacuum.py
  tests/components/mqtt/test_vacuum.py
Labels: core, breaking-change, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, Quality Scale: platinum

#121097 Fix blocking I/O in demo mailbox
  homeassistant/components/demo/mailbox.py
Labels: core, cla-signed, integration: demo, small-pr, bugfix, Quality Scale: internal, blocking event loop

#121106 Fix HmIP-ESI GAS sensor DeviceClass
  homeassistant/components/homematicip_cloud/sensor.py
Labels: cla-signed, small-pr, integration: homematicip_cloud, Quality Scale: silver

#121101 Remove unnecessary lambdas in timeout tests
  tests/util/test_timeout.py
Labels: core, cla-signed, small-pr, code-quality

#121104 Fix blocking process call in process tests
  tests/util/test_process.py
Labels: core, cla-signed, small-pr, blocking event loop

#121055 Add monkeypatch type hints to switcher_kis tests
  tests/components/switcher_kis/test_button.py
  tests/components/switcher_kis/test_climate.py
  tests/components/switcher_kis/test_cover.py
  tests/components/switcher_kis/test_diagnostics.py
  tests/components/switcher_kis/test_sensor.py
  tests/components/switcher_kis/test_services.py
  tests/components/switcher_kis/test_switch.py
Labels: cla-signed, small-pr, integration: switcher_kis, has-tests, code-quality, smash, Quality Scale: platinum, code-owner-approved

#121118 Add recorder test fixture for skipping tests by DB engine
  tests/components/recorder/auto_repairs/test_schema.py
  tests/components/recorder/conftest.py
  tests/components/recorder/test_history.py
  tests/components/recorder/test_history_db_schema_42.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_migrate.py
  tests/components/recorder/test_migration_run_time_migrations_remember.py
  tests/components/recorder/test_purge.py
  tests/components/recorder/test_purge_v32_schema.py
  tests/components/recorder/test_system_health.py
  tests/components/recorder/test_util.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#121127 Fix blocking I/O in event loop in kira test
  tests/components/kira/test_init.py
Labels: cla-signed, integration: kira, small-pr, has-tests, bugfix, Quality Scale: No score, blocking event loop

#121126 Fix blocking I/O in event loop in google_assistant test
  tests/components/google_assistant/test_http.py
Labels: core, cla-signed, integration: google_assistant, small-pr, has-tests, bugfix, Quality Scale: No score, blocking event loop

#120356 Bump nextcloudmonitor to 1.5.1
  homeassistant/components/nextcloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, integration: nextcloud, Quality Scale: No score

#121135 Fix broken pathlib import in august integration
  homeassistant/components/august/__init__.py
Labels: cla-signed, integration: august, small-pr, bugfix, Quality Scale: No score

#121125 Use async_test_recorder fixture in recorder auto_repairs tests
  tests/components/recorder/auto_repairs/events/test_schema.py
  tests/components/recorder/auto_repairs/states/test_schema.py
  tests/components/recorder/auto_repairs/statistics/test_duplicates.py
  tests/components/recorder/auto_repairs/statistics/test_schema.py
  tests/components/recorder/auto_repairs/test_schema.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#121139 Fix blocking I/O in media_extractor tests
  tests/components/media_extractor/test_init.py
Labels: cla-signed, integration: media_extractor, small-pr, has-tests, bugfix, Quality Scale: internal, blocking event loop

#121140 Fix blocking I/O in mqtt tests
  tests/components/mqtt/test_discovery.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum, blocking event loop

#121142 Fix blocking I/O in stream tests
  tests/components/stream/test_recorder.py
Labels: core, cla-signed, small-pr, integration: stream, has-tests, bugfix, Quality Scale: internal, blocking event loop

#121143 Fix blocking I/O in tts tests
  tests/components/tts/test_init.py
Labels: core, cla-signed, integration: tts, small-pr, has-tests, bugfix, Quality Scale: internal, blocking event loop

#121144 Fix blocking I/O in config tests
  tests/test_config.py
Labels: core, cla-signed, small-pr, bugfix, blocking event loop

#121134 Bump inkbird-ble to 0.5.8
  homeassistant/components/inkbird/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: inkbird, Quality Scale: No score

#121146 Update pytechnove to 1.3.1
  homeassistant/components/technove/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: technove

#121136 Bump thermobeacon-ble to 0.7.0
  homeassistant/components/thermobeacon/manifest.json
  homeassistant/generated/bluetooth.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: thermobeacon, Quality Scale: No score

#121128 Fix blocking I/O in event loop in core test
  tests/test_core.py
Labels: core, cla-signed, small-pr, bugfix, blocking event loop

#120263 Add port mapping entry count sensor to upnp
  homeassistant/components/upnp/const.py
  homeassistant/components/upnp/device.py
  homeassistant/components/upnp/icons.json
  homeassistant/components/upnp/sensor.py
  homeassistant/components/upnp/strings.json
Labels: cla-signed, integration: upnp, new-feature, has-tests, by-code-owner, Quality Scale: No score

#121099 Fix locking/unlocking transition state in Matter lock platform
  homeassistant/components/matter/lock.py
  tests/components/matter/test_door_lock.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: matter, Quality Scale: No score

#121137 Add recorder test fixture to enable persistent SQLite database
  tests/components/recorder/auto_repairs/statistics/test_duplicates.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_migration_run_time_migrations_remember.py
  tests/components/recorder/test_statistics_v23_migration.py
  tests/components/recorder/test_util.py
  tests/components/recorder/test_v32_migration.py
  tests/conftest.py
Labels: core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, Quality Scale: internal

#121173 Improve type hints in gpslogger tests
  tests/components/gpslogger/test_init.py
Labels: cla-signed, small-pr, integration: gpslogger, has-tests, code-quality, Quality Scale: No score

#121168 Improve type hints in geofency tests
  tests/components/geofency/test_init.py
Labels: cla-signed, small-pr, integration: geofency, has-tests, code-quality, Quality Scale: No score

#121171 Improve type hints in google_travel_time tests
  tests/components/google_travel_time/conftest.py
  tests/components/google_travel_time/test_config_flow.py
  tests/components/google_travel_time/test_sensor.py
Labels: cla-signed, small-pr, integration: google_travel_time, has-tests, code-quality, Quality Scale: No score

#121167 Improve type hints in generic_hygrostat/thermostat tests
  tests/components/generic_hygrostat/test_humidifier.py
  tests/components/generic_thermostat/test_climate.py
Labels: cla-signed, small-pr, integration: generic_thermostat, integration: generic_hygrostat, has-tests, code-quality, Quality Scale: No score, Quality Scale: internal

#121166 Improve type hints in generic tests
  tests/components/generic/conftest.py
  tests/components/generic/test_camera.py
  tests/components/generic/test_config_flow.py
  tests/components/generic/test_diagnostics.py
Labels: cla-signed, small-pr, integration: generic, has-tests, code-quality, Quality Scale: No score

#121162 Convert async_get_conversation_languages from async to callback
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/assist_pipeline/websocket_api.py
  homeassistant/components/conversation/__init__.py
Labels: core, cla-signed, integration: conversation, small-pr, by-code-owner, Quality Scale: internal, integration: assist_pipeline

#121170 Improve type hints in google_generative_ai tests
  tests/components/google_generative_ai_conversation/conftest.py
  tests/components/google_generative_ai_conversation/test_config_flow.py
  tests/components/google_generative_ai_conversation/test_conversation.py
  tests/components/google_generative_ai_conversation/test_init.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved, integration: google_generative_ai_conversation

#120799 Enable ruff asyncio event loop blocking detection rules
  pyproject.toml
  tests/components/srp_energy/test_sensor.py
  tests/test_block_async_io.py
Labels: cla-signed, small-pr

#121172 Improve type hints in google_pubsub tests
  .coveragerc
  tests/components/google_pubsub/test_init.py
Labels: cla-signed, small-pr, integration: google_pubsub, has-tests, code-quality, Quality Scale: No score

#121183 Bump python-kasa to 0.7.0.3
  homeassistant/components/tplink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: tplink, dependency, by-code-owner, bugfix, Quality Scale: platinum

#121114 Add event platform to doorbird
  .coveragerc
  homeassistant/components/doorbird/const.py
  homeassistant/components/doorbird/device.py
  homeassistant/components/doorbird/event.py
  homeassistant/components/doorbird/strings.json
Labels: new-platform, cla-signed, integration: doorbird, by-code-owner, Quality Scale: No score

#121121 Use fixtures in deCONZ config flow tests PT1
  tests/components/deconz/conftest.py
  tests/components/deconz/test_config_flow.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#121116 Use fixtures in deCONZ sensor tests PT1
  tests/components/deconz/test_sensor.py
Labels: cla-signed, integration: deconz, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#121123 Add support for event entity motion sensors to HomeKit
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/type_cameras.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_type_cameras.py
Labels: cla-signed, integration: homekit, by-code-owner, Quality Scale: No score

#121175 Improve type hints in guardian tests
  tests/components/guardian/conftest.py
  tests/components/guardian/test_config_flow.py
  tests/components/guardian/test_diagnostics.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: guardian, Quality Scale: No score
