Repository home-assistant/core, pull requests merged in 2025-10, with the labels that each got.

#153235 Fix ZHA unable to select "none" flow control
  homeassistant/components/zha/config_flow.py
  tests/components/zha/test_config_flow.py
Labels: cla-signed, integration: zha, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#153277 Use hardware bootloader reset methods for firmware config flows
  homeassistant/components/homeassistant_connect_zbt2/config_flow.py
  homeassistant/components/homeassistant_connect_zbt2/update.py
  homeassistant/components/homeassistant_hardware/firmware_config_flow.py
  homeassistant/components/homeassistant_hardware/manifest.json
  homeassistant/components/homeassistant_hardware/update.py
  homeassistant/components/homeassistant_hardware/util.py
  homeassistant/components/homeassistant_sky_connect/update.py
  homeassistant/components/homeassistant_yellow/config_flow.py
  homeassistant/components/homeassistant_yellow/update.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homeassistant_connect_zbt2/test_config_flow.py
  tests/components/homeassistant_hardware/test_config_flow.py
  tests/components/homeassistant_hardware/test_update.py
  tests/components/homeassistant_hardware/test_util.py
  tests/components/homeassistant_yellow/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, dependency, integration: homeassistant_yellow, Quality Scale: No score, integration: homeassistant_hardware, Quality Scale: bronze, integration: homeassistant_connect_zbt2

#153311 Add analytics platform to esphome
  homeassistant/components/esphome/analytics.py
  tests/components/esphome/test_analytics.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, has-tests, bugfix, Quality Scale: platinum

#153319 Fix device_automation RuntimeWarning in tests
  tests/components/device_automation/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: device_automation, code-quality, smash, Quality Scale: internal

#153305 Add test for full device snapshot for Shelly Wall Display XL
  tests/components/shelly/__init__.py
  tests/components/shelly/fixtures/wall_display_xl.json
  tests/components/shelly/snapshots/test_devices.ambr
  tests/components/shelly/test_devices.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, has-tests, by-code-owner, code-quality, Quality Scale: silver

#153313 Use pytest.mark.usefixtures in some recorder tests
  tests/components/recorder/auto_repairs/test_schema.py
  tests/components/recorder/table_managers/test_recorder_runs.py
  tests/components/recorder/test_backup.py
  tests/components/recorder/test_filters_with_entityfilter.py
  tests/components/recorder/test_filters_with_entityfilter_schema_37.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_statistics.py
  tests/components/recorder/test_system_health.py
  tests/components/recorder/test_websocket_api.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: internal

#153335 Bump pyfirefly 0.1.6
  homeassistant/components/firefly_iii/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, Quality Scale: bronze, integration: firefly_iii

#153346 Add missing test for Shelly config flow
  tests/components/shelly/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, has-tests, by-code-owner, code-quality, Quality Scale: silver

#153345 Do not reset the adapter twice during ZHA options flow migration
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zha/strings.json
  tests/components/zha/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: zha, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#153344 Bump aiohasupervisor to 0.3.3
  homeassistant/components/hassio/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: hassio, small-pr, dependency, by-code-owner, Quality Scale: internal

#153336 Add water heater fixture for Tuya tests
  tests/components/tuya/__init__.py
  tests/components/tuya/fixtures/rs_d7woucobqi8ncacf.json
  tests/components/tuya/snapshots/test_climate.ambr
  tests/components/tuya/snapshots/test_init.ambr
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya, has-tests, code-quality, Quality Scale: No score

#153357 Set config entry to None in ProxmoxVE
  homeassistant/components/proxmoxve/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: proxmoxve, code-quality, Quality Scale: legacy

#153317 Bump airOS module for alternative login url
  homeassistant/components/airos/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, Quality Scale: bronze, integration: airos

#153315 Add parallel updates to airthings_ble
  homeassistant/components/airthings_ble/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: airthings_ble, Quality Scale: No score

#153367 Remove deprecated state constants from lock
  homeassistant/components/lock/__init__.py
  homeassistant/const.py
  tests/components/lock/test_init.py
  tests/test_const.py
Labels: Hacktoberfest, core, breaking-change, cla-signed, integration: lock, small-pr, has-tests, Quality Scale: internal

#153366 Remove deprecated constants from media_player
  homeassistant/components/media_player/__init__.py
  homeassistant/components/media_player/const.py
  tests/components/media_player/test_init.py
Labels: Hacktoberfest, core, breaking-change, integration: media_player, cla-signed, small-pr, has-tests, Quality Scale: internal

#153363 Remove deprecated constants in camera
  homeassistant/components/camera/__init__.py
  tests/components/camera/test_init.py
  tests/components/google_assistant/test_trait.py
Labels: Hacktoberfest, core, breaking-change, integration: camera, cla-signed, small-pr, has-tests, Quality Scale: internal

#153388 Improve recorder migration tests
  tests/components/recorder/auto_repairs/statistics/test_duplicates.py
  tests/components/recorder/common.py
  tests/components/recorder/test_migration_from_schema_32.py
  tests/components/recorder/test_migration_run_time_migrations_remember.py
  tests/components/recorder/test_statistics_v23_migration.py
  tests/components/recorder/test_v32_migration.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: internal

#153412 Add test fixture for new Tuya jsq category
  tests/components/tuya/__init__.py
  tests/components/tuya/fixtures/jsq_r492ifwk6f2ssptb.json
  tests/components/tuya/snapshots/test_humidifier.ambr
  tests/components/tuya/snapshots/test_init.ambr
  tests/components/tuya/snapshots/test_select.ambr
  tests/components/tuya/snapshots/test_sensor.ambr
  tests/components/tuya/snapshots/test_switch.ambr
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya, has-tests, code-quality, Quality Scale: No score

#153413 Bump pyportainer 1.0.3
  homeassistant/components/portainer/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, integration: portainer, Quality Scale: bronze

#153419 Fix Satel Integra creating new binary sensors on YAML import
  homeassistant/components/satel_integra/binary_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: satel_integra, by-code-owner, bugfix, Quality Scale: legacy

#153405 Improve recorder migration test
  tests/components/recorder/test_migration_from_schema_32.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: internal

#153293 Add last check-in sensor to Habitica integration
  homeassistant/components/habitica/icons.json
  homeassistant/components/habitica/sensor.py
  homeassistant/components/habitica/strings.json
  tests/components/habitica/snapshots/test_sensor.ambr
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: habitica, has-tests, by-code-owner, Quality Scale: platinum

#153423 Bump aiohomekit to 3.2.19
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, Quality Scale: No score

#153397 Pushover: Handle empty data section properly
  homeassistant/components/pushover/const.py
  homeassistant/components/pushover/notify.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: pushover, bugfix, Quality Scale: No score

#153303 Firefly III add re-auth flow
  homeassistant/components/firefly_iii/config_flow.py
  homeassistant/components/firefly_iii/coordinator.py
  homeassistant/components/firefly_iii/strings.json
  tests/components/firefly_iii/test_config_flow.py
  tests/components/firefly_iii/test_init.py
  tests/components/firefly_iii/test_sensor.py
Labels: Hacktoberfest, cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: bronze, integration: firefly_iii

#153122 Add Quality Scale to Satel Integra
  homeassistant/components/satel_integra/manifest.json
  homeassistant/components/satel_integra/quality_scale.yaml
  script/hassfest/quality_scale.py
Labels: cla-signed, integration: satel_integra, by-code-owner, code-quality, quality-scale, Quality Scale: legacy

#153417 Fix spelling error in logbook tests
  tests/components/logbook/test_websocket_api.py
Labels: Hacktoberfest, core, cla-signed, integration: logbook, small-pr, has-tests, code-quality, Quality Scale: internal

#153441 Update Home Assistant base image to 2025.10.0
  build.yaml
Labels: Hacktoberfest, cla-signed, small-pr, dependency

#153422 Fix Z-Wave RGB light turn on causing rare `ZeroDivisionError`
  homeassistant/components/zwave_js/light.py
  tests/components/zwave_js/test_light.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, bugfix, integration: zwave_js, Quality Scale: No score

#153350 Fix Nord Pool 15 minute interval
  homeassistant/components/nordpool/__init__.py
  homeassistant/components/nordpool/coordinator.py
  tests/components/nordpool/conftest.py
  tests/components/nordpool/fixtures/delivery_period_nl.json
  tests/components/nordpool/fixtures/delivery_period_today.json
  tests/components/nordpool/fixtures/delivery_period_tomorrow.json
  tests/components/nordpool/fixtures/delivery_period_yesterday.json
  tests/components/nordpool/fixtures/indices_15.json
  tests/components/nordpool/fixtures/indices_60.json
  tests/components/nordpool/snapshots/test_diagnostics.ambr
  tests/components/nordpool/snapshots/test_sensor.ambr
  tests/components/nordpool/snapshots/test_services.ambr
  tests/components/nordpool/test_config_flow.py
  tests/components/nordpool/test_coordinator.py
  tests/components/nordpool/test_diagnostics.py
  tests/components/nordpool/test_init.py
  tests/components/nordpool/test_sensor.py
  tests/components/nordpool/test_services.py
Labels: Hacktoberfest, cla-signed, integration: nordpool, by-code-owner, bugfix, Quality Scale: platinum

#153443 Disable baudrate bootloader reset for ZBT-2
  homeassistant/components/homeassistant_connect_zbt2/config_flow.py
  homeassistant/components/homeassistant_connect_zbt2/update.py
  tests/components/homeassistant_connect_zbt2/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, bugfix, Quality Scale: bronze, integration: homeassistant_connect_zbt2

#153458 Bump aioshelly 13.11.0
  homeassistant/components/shelly/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, dependency, by-code-owner, Quality Scale: silver

#153261 Add light, security and climate panel
  homeassistant/components/frontend/__init__.py
Labels: core, cla-signed, integration: frontend, small-pr, new-feature, by-code-owner, Quality Scale: internal

#153466 Portainer add configuration URL's
  homeassistant/components/portainer/entity.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, by-code-owner, integration: portainer, Quality Scale: bronze

#153448 Add serial number to the list of discovered devices
  homeassistant/components/airthings_ble/config_flow.py
  tests/components/airthings_ble/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: airthings_ble, Quality Scale: No score

#153427 Fix sentence-casing in user-facing strings of `slack`
  homeassistant/components/slack/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: slack, code-quality, Quality Scale: No score

#153477 Add PARALLEL_UPDATES to Squeezebox switch platform
  homeassistant/components/squeezebox/switch.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: squeezebox, by-code-owner, code-quality, Quality Scale: No score

#152554 Add relative humidity to matter climate entities
  homeassistant/components/matter/climate.py
  homeassistant/components/matter/sensor.py
  tests/components/matter/conftest.py
  tests/components/matter/fixtures/nodes/tado_smart_radiator_thermostat_x.json
  tests/components/matter/snapshots/test_button.ambr
  tests/components/matter/snapshots/test_climate.ambr
  tests/components/matter/snapshots/test_sensor.ambr
  tests/components/matter/test_climate.py
Labels: cla-signed, small-pr, new-feature, has-tests, integration: matter, Quality Scale: No score

#153470 Improve enable_migrate_event_ids recorder test fixture
  tests/components/recorder/test_migration_from_schema_32.py
  tests/components/recorder/test_v32_migration.py
  tests/conftest.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: internal

#153484 Bump pyTibber to 0.32.2
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: tibber, dependency, by-code-owner, bugfix, Quality Scale: No score

#153438 Fix missing powerconsumptionreport in Smartthings
  homeassistant/components/smartthings/sensor.py
  tests/components/smartthings/conftest.py
  tests/components/smartthings/fixtures/device_status/tesla_powerwall.json
  tests/components/smartthings/fixtures/devices/tesla_powerwall.json
  tests/components/smartthings/snapshots/test_init.ambr
  tests/components/smartthings/snapshots/test_sensor.ambr
Labels: Hacktoberfest, cla-signed, small-pr, integration: smartthings, by-code-owner, bugfix, Quality Scale: bronze

#153285 Remove state attributes from Firefly 3
  homeassistant/components/firefly_iii/sensor.py
  tests/components/firefly_iii/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: bronze, integration: firefly_iii

#153262 Respect filtering of WS subscribe_entities when there are unserializalizable states
  homeassistant/components/websocket_api/commands.py
  tests/components/websocket_api/test_commands.py
Labels: core, cla-signed, integration: websocket_api, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: internal

#153404 Bump recorder live schema migration to schema version 48
  homeassistant/components/recorder/migration.py
  tests/components/recorder/db_schema_48.py
  tests/components/recorder/test_migrate.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: internal

#153494 Allign naming of Reolink host switch entities
  homeassistant/components/reolink/switch.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: reolink, Quality Scale: platinum

#153498 Improve Reolink docstrings
  homeassistant/components/reolink/entity.py
  homeassistant/components/reolink/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: reolink, Quality Scale: platinum

#153488 Update ovoenergy to 3.0.2
  homeassistant/components/ovo_energy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: ovo_energy, Quality Scale: No score

#153502 Remove module recorder.history.modern
  homeassistant/components/recorder/history/__init__.py
  homeassistant/components/recorder/history/modern.py
  tests/components/recorder/test_history.py
  tests/components/recorder/test_util.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, has-tests, by-code-owner, code-quality, Quality Scale: internal

#153512 Fix typo in Airthings BLE config flow
  homeassistant/components/airthings/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: airthings, Quality Scale: No score

#153522 Z-Wave to support migrating from USB to socket with same home ID
  homeassistant/components/zwave_js/config_flow.py
  tests/components/zwave_js/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, bugfix, integration: zwave_js, Quality Scale: No score

#153560 Remove Vultr integration
  homeassistant/components/vultr/__init__.py
  homeassistant/components/vultr/binary_sensor.py
  homeassistant/components/vultr/manifest.json
  homeassistant/components/vultr/sensor.py
  homeassistant/components/vultr/switch.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/quality_scale.py
  tests/components/vultr/__init__.py
  tests/components/vultr/conftest.py
  tests/components/vultr/const.py
  tests/components/vultr/fixtures/account_info.json
  tests/components/vultr/fixtures/server_list.json
  tests/components/vultr/test_binary_sensor.py
  tests/components/vultr/test_init.py
  tests/components/vultr/test_sensor.py
  tests/components/vultr/test_switch.py
Labels: Hacktoberfest, breaking-change, remove-platform, cla-signed, integration: vultr, small-pr, has-tests, Quality Scale: legacy

#153485 Portainer add switch platform
  homeassistant/components/portainer/__init__.py
  homeassistant/components/portainer/icons.json
  homeassistant/components/portainer/strings.json
  homeassistant/components/portainer/switch.py
  tests/components/portainer/conftest.py
  tests/components/portainer/snapshots/test_switch.ambr
  tests/components/portainer/test_switch.py
Labels: Hacktoberfest, new-platform, cla-signed, new-feature, has-tests, by-code-owner, integration: portainer, Quality Scale: bronze

#153573 Improve Habitica tests
  tests/components/habitica/__snapshots__/test_image/test_image_platform.1.png
  tests/components/habitica/__snapshots__/test_image/test_image_platform.png
  tests/components/habitica/test_config_flow.py
  tests/components/habitica/test_image.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: habitica, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#153592 Bump aioamazondevices to 6.2.8
  homeassistant/components/alexa_devices/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: platinum, integration: alexa_devices

#153591 Extend enphase_envoy test data with new library data fields
  tests/components/enphase_envoy/conftest.py
  tests/components/enphase_envoy/fixtures/envoy.json
  tests/components/enphase_envoy/fixtures/envoy_1p_metered.json
  tests/components/enphase_envoy/fixtures/envoy_acb_batt.json
  tests/components/enphase_envoy/fixtures/envoy_eu_batt.json
  tests/components/enphase_envoy/fixtures/envoy_metered_batt_relay.json
  tests/components/enphase_envoy/fixtures/envoy_nobatt_metered_3p.json
  tests/components/enphase_envoy/fixtures/envoy_tot_cons_metered.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: enphase_envoy, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#153585 Use SensorDescription for GoogleTravelTimeSensor
  homeassistant/components/google_travel_time/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: google_travel_time, by-code-owner, code-quality, Quality Scale: No score

#153518 Address comments for the add-on switch entity
  homeassistant/components/hassio/switch.py
  tests/components/hassio/test_switch.py
Labels: Hacktoberfest, core, cla-signed, integration: hassio, small-pr, has-tests, code-quality, Quality Scale: internal

#153606 Add two new consumable sensors to Roborock
  homeassistant/components/roborock/icons.json
  homeassistant/components/roborock/sensor.py
  homeassistant/components/roborock/strings.json
  tests/components/roborock/test_sensor.py
Labels: Hacktoberfest, cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: silver, integration: roborock

#153581 Raise repairs on platform setup for sql
  homeassistant/components/sql/sensor.py
  homeassistant/components/sql/strings.json
  tests/components/sql/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: sql, has-tests, by-code-owner, Quality Scale: No score

#153166 Add Matter Thermostat OccupancySensor
  homeassistant/components/matter/binary_sensor.py
  tests/components/matter/fixtures/nodes/thermostat.json
  tests/components/matter/snapshots/test_binary_sensor.ambr
  tests/components/matter/test_binary_sensor.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, integration: matter, Quality Scale: No score

#153601 Correct kraken test issues
  homeassistant/components/kraken/__init__.py
  homeassistant/components/kraken/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: kraken, bugfix, Quality Scale: No score

#153604 Fix blue current mocking out platform with empty string
  tests/components/blue_current/__init__.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: blue_current

#153643 Update grpcio to 1.75.1
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency

#153074 Wallbox fix Rate Limit issue for multiple chargers
  homeassistant/components/wallbox/const.py
  homeassistant/components/wallbox/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: wallbox, Quality Scale: No score

#153647 Fix MQTT Lock state reset to unknown when a reset payload is received
  homeassistant/components/mqtt/lock.py
  tests/components/mqtt/test_lock.py
Labels: Hacktoberfest, core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#153665 Bump habluetooth to 5.7.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#153669 Bump bleak-esphome to 3.4.0
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: platinum

#153670 Bump cached-ipaddress to 1.0.1
  homeassistant/components/dhcp/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency, by-code-owner, integration: dhcp, Quality Scale: internal

#153681 Limit shelly tests to single platform
  tests/components/shelly/__init__.py
  tests/components/shelly/test_binary_sensor.py
  tests/components/shelly/test_button.py
  tests/components/shelly/test_climate.py
  tests/components/shelly/test_cover.py
  tests/components/shelly/test_event.py
  tests/components/shelly/test_light.py
  tests/components/shelly/test_number.py
  tests/components/shelly/test_select.py
  tests/components/shelly/test_sensor.py
  tests/components/shelly/test_switch.py
  tests/components/shelly/test_text.py
  tests/components/shelly/test_update.py
  tests/components/shelly/test_valve.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, has-tests, code-quality, Quality Scale: silver

#153682 Bump fnv-hash-fast to 1.6.0
  homeassistant/components/homekit/manifest.json
  homeassistant/components/recorder/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr, integration: homekit, dependency, by-code-owner, Quality Scale: No score, Quality Scale: internal

#153690 Bump ulid-transform to 1.5.2
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency

#153698 Bump aioesphomeapi to 41.12.0
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: platinum

#153629 Bump PyViCare to 2.52.0
  homeassistant/components/vicare/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: vicare, dependency, by-code-owner, Quality Scale: No score

#153691 Fix ViCare pressure sensors missing unit of measurement
  homeassistant/components/vicare/const.py
  homeassistant/components/vicare/sensor.py
  tests/components/vicare/snapshots/test_sensor.ambr
Labels: Hacktoberfest, cla-signed, small-pr, integration: vicare, by-code-owner, bugfix, Quality Scale: No score

#153704 Bump zeroconf to 0.148.0
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, core, cla-signed, integration: zeroconf, small-pr, dependency, by-code-owner, Quality Scale: internal

#153683 Bump Mill library
  homeassistant/components/mill/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: mill, dependency, by-code-owner, Quality Scale: No score

#153693 Bump pyvesync to 3.1.0
  homeassistant/components/vesync/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/vesync/conftest.py
  tests/components/vesync/snapshots/test_diagnostics.ambr
Labels: Hacktoberfest, cla-signed, small-pr, integration: vesync, has-tests, dependency, by-code-owner, Quality Scale: No score

#153714 Bump opower to 0.15.6
  homeassistant/components/opower/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, integration: opower, Quality Scale: bronze

#153717 Double max retries in Google Drive
  homeassistant/components/google_drive/api.py
  tests/components/google_drive/snapshots/test_backup.ambr
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: google_drive, Quality Scale: platinum

#153718 Version bump pydaikin to 2.17.0
  homeassistant/components/daikin/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: daikin, dependency, by-code-owner, bugfix, Quality Scale: No score

#153726 Version bump pydaikin to 2.17.1
  homeassistant/components/daikin/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: daikin, dependency, by-code-owner, bugfix, Quality Scale: No score

#153676 Gemini: Use default model instead of recommended where applicable
  homeassistant/components/google_generative_ai_conversation/entity.py
Labels: Hacktoberfest, cla-signed, small-pr, bugfix, Quality Scale: No score, integration: google_generative_ai_conversation

#153738 Bump aiontfy to v0.6.1
  homeassistant/components/ntfy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, Quality Scale: platinum, integration: ntfy

#153740 Remove Shelly `presencezone` component from `VIRTUAL_COMPONENTS` tuple
  homeassistant/components/shelly/const.py
  homeassistant/components/shelly/utils.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, by-code-owner, bugfix, Quality Scale: silver

#153727 Upgrade upcloud-api to 2.9.0
  homeassistant/components/upcloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, integration: upcloud, small-pr, dependency, by-code-owner, Quality Scale: No score

#153741 Update suggested display precision for ntfy attachment size to 2
  homeassistant/components/ntfy/sensor.py
  tests/components/ntfy/snapshots/test_sensor.ambr
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum, integration: ntfy

#153732 Fix lamarzocco brewing start time sensor availability
  homeassistant/components/lamarzocco/sensor.py
  tests/components/lamarzocco/snapshots/test_sensor.ambr
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum, integration: lamarzocco

#153680 AGENTS.md
  AGENTS.md
  CLAUDE.md
Labels: Hacktoberfest, cla-signed, small-pr, code-quality

#153510 Fix crash when setting up Airthings BLE device
  homeassistant/components/airthings_ble/config_flow.py
  tests/components/airthings_ble/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, bugfix, integration: airthings_ble, Quality Scale: No score

#153634 Change style for critical number entities in ViCare integration
  homeassistant/components/vicare/number.py
  tests/components/vicare/snapshots/test_number.ambr
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, integration: vicare, by-code-owner, bugfix, Quality Scale: No score

#153742 Upgrade python-melcloud to 0.1.2
  homeassistant/components/melcloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: melcloud, dependency, bugfix, Quality Scale: No score

#153764 Bump anthropic to 0.69.0
  homeassistant/components/anthropic/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: anthropic

#153777 Revert "AGENTS.md"
  .github/copilot-instructions.md
  CLAUDE.md
Labels: Hacktoberfest, cla-signed, small-pr, code-quality

#153722 Daikin increase timeout
  homeassistant/components/daikin/__init__.py
  homeassistant/components/daikin/config_flow.py
  homeassistant/components/daikin/const.py
  homeassistant/components/daikin/coordinator.py
  tests/components/daikin/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: daikin, by-code-owner, bugfix, Quality Scale: No score

#153729 Shelly's energy sensors naming paradigm standardization
  homeassistant/components/shelly/sensor.py
  tests/components/shelly/snapshots/test_devices.ambr
  tests/components/shelly/snapshots/test_sensor.ambr
  tests/components/shelly/test_sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, bugfix, Quality Scale: silver

#153472 Validating schema outside the event loop will now fail
  homeassistant/helpers/config_validation.py
  tests/helpers/test_config_validation.py
Labels: Hacktoberfest, core, breaking-change, cla-signed, small-pr

#153568 Cleanup process_fds addition in systemmonitor
  homeassistant/components/systemmonitor/coordinator.py
  homeassistant/components/systemmonitor/sensor.py
  tests/components/systemmonitor/snapshots/test_diagnostics.ambr
Labels: Hacktoberfest, cla-signed, small-pr, integration: systemmonitor, has-tests, by-code-owner, code-quality, Quality Scale: No score

#153203 Bump aiomealie to 1.0.0, update min Mealie instance version to v2.
  homeassistant/components/mealie/__init__.py
  homeassistant/components/mealie/const.py
  homeassistant/components/mealie/manifest.json
  homeassistant/components/mealie/quality_scale.yaml
  requirements_all.txt
  requirements_test_all.txt
  tests/components/mealie/fixtures/about.json
  tests/components/mealie/snapshots/test_diagnostics.ambr
  tests/components/mealie/snapshots/test_init.ambr
  tests/components/mealie/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, has-tests, dependency, by-code-owner, Quality Scale: silver, integration: mealie, quality-scale

#152794 Make hassfest fail on services with device filter on targets
  script/hassfest/services.py
Labels: cla-signed, small-pr, new-feature

#153249 Add device class filter to hydrawise services
  homeassistant/components/hydrawise/binary_sensor.py
Labels: cla-signed, small-pr, integration: hydrawise, bugfix, Quality Scale: No score

#153143 Use automatic reload options flow in min_max
  homeassistant/components/min_max/__init__.py
  homeassistant/components/min_max/config_flow.py
Labels: cla-signed, small-pr, integration: min_max, by-code-owner, code-quality, Quality Scale: internal

#152586 Use yaml anchors in ci workflow
  .github/workflows/ci.yaml
Labels: cla-signed, small-pr, code-quality

#150393 Ollama thinking content
  homeassistant/components/ollama/entity.py
  tests/components/ollama/test_conversation.py
Labels: cla-signed, small-pr, new-feature, has-tests, Quality Scale: No score, integration: ollama

#153201 Fix power device classes for system bridge
  homeassistant/components/system_bridge/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: system_bridge, Quality Scale: No score

#153781 Add Shelly Wall Display XL to the list of devices without firmware changelog
  homeassistant/components/shelly/const.py
  tests/components/shelly/snapshots/test_devices.ambr
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, has-tests, by-code-owner, bugfix, Quality Scale: silver

#153735 Fix missing google_assistant_sdk.send_text_command
  homeassistant/components/google_assistant_sdk/__init__.py
  homeassistant/components/google_assistant_sdk/helpers.py
  homeassistant/components/google_assistant_sdk/services.py
  homeassistant/components/google_assistant_sdk/strings.json
  tests/components/google_assistant_sdk/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: google_assistant_sdk

#153803 Fix Tuya cover position when only control is available
  homeassistant/components/tuya/cover.py
  tests/components/tuya/test_cover.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: tuya, bugfix, Quality Scale: No score

#153797 Translate reauthentication error message in Google Assistant SDK
  homeassistant/components/google_assistant_sdk/__init__.py
  homeassistant/components/google_assistant_sdk/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: google_assistant_sdk

#153793 Google Assistant SDK: use setup_credentials in setup_integration
  tests/components/google_assistant_sdk/conftest.py
  tests/components/google_assistant_sdk/test_config_flow.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score, integration: google_assistant_sdk

#153783 Update LetPot integration quality scale to silver
  homeassistant/components/letpot/manifest.json
  homeassistant/components/letpot/quality_scale.yaml
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, quality-scale, Quality Scale: bronze, integration: letpot

#153759 Remove stale entities from Alexa Devices
  homeassistant/components/alexa_devices/binary_sensor.py
  homeassistant/components/alexa_devices/switch.py
  homeassistant/components/alexa_devices/utils.py
  tests/components/alexa_devices/test_binary_sensor.py
  tests/components/alexa_devices/test_utils.py
Labels: Hacktoberfest, cla-signed, has-tests, by-code-owner, bugfix, Quality Scale: platinum, integration: alexa_devices

#153812 Log when failing to remove foreign key in recorder EventIDPostMigration
  homeassistant/components/recorder/migration.py
Labels: Hacktoberfest, core, integration: recorder, cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: internal

#153804 Re-add AGENTS.md as symlink
  AGENTS.md
Labels: Hacktoberfest, cla-signed, small-pr, code-quality

#153795 Google Assistant SDK: improve init tests
  tests/components/google_assistant_sdk/test_init.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score, integration: google_assistant_sdk

#153835 Use customized miele device name if set
  homeassistant/components/miele/entity.py
  tests/components/miele/snapshots/test_sensor.ambr
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: platinum, integration: miele

#153748 Add Ecovacs active map select entity
  homeassistant/components/ecovacs/icons.json
  homeassistant/components/ecovacs/select.py
  homeassistant/components/ecovacs/strings.json
  tests/components/ecovacs/snapshots/test_select.ambr
  tests/components/ecovacs/test_init.py
  tests/components/ecovacs/test_select.py
Labels: Hacktoberfest, cla-signed, new-feature, integration: ecovacs, has-tests, by-code-owner, Quality Scale: No score

#153609 Refactor Telegram bot entity
  homeassistant/components/telegram_bot/entity.py
  homeassistant/components/telegram_bot/notify.py
  tests/components/telegram_bot/test_notify.py
Labels: Hacktoberfest, cla-signed, integration: telegram_bot, by-code-owner, code-quality, Quality Scale: bronze

#153621 Enphase_envoy to use alternate data source for current transformers
  homeassistant/components/enphase_envoy/sensor.py
  tests/components/enphase_envoy/test_sensor.py
Labels: Hacktoberfest, cla-signed, integration: enphase_envoy, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#153464 Updated VRM client and accounted for missing forecasts
  homeassistant/components/victron_remote_monitoring/config_flow.py
  homeassistant/components/victron_remote_monitoring/coordinator.py
  homeassistant/components/victron_remote_monitoring/manifest.json
  homeassistant/components/victron_remote_monitoring/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, dependency, by-code-owner, bugfix, Quality Scale: bronze, integration: victron_remote_monitoring

#153463 Add BME680 sensor support for Altruist Insight
  homeassistant/components/altruist/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, bugfix, Quality Scale: bronze, integration: altruist

#153842 Remove log file write check
  homeassistant/bootstrap.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#153843 Bump aiocomelit to 1.1.1
  homeassistant/components/comelit/coordinator.py
  homeassistant/components/comelit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: platinum, integration: comelit

#153830 Add motion presets to SmartThings AC
  homeassistant/components/smartthings/climate.py
  homeassistant/components/smartthings/strings.json
  tests/components/smartthings/fixtures/device_status/da_ac_rac_000003.json
  tests/components/smartthings/fixtures/devices/da_ac_rac_000003.json
  tests/components/smartthings/snapshots/test_climate.ambr
  tests/components/smartthings/snapshots/test_init.ambr
  tests/components/smartthings/snapshots/test_sensor.ambr
  tests/components/smartthings/test_climate.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: smartthings, has-tests, by-code-owner, bugfix, Quality Scale: bronze

#153849 Update attrs to 25.4.0
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency

#145343 Add new Nintendo Parental Controls integration
  CODEOWNERS
  homeassistant/components/nintendo_parental/__init__.py
  homeassistant/components/nintendo_parental/config_flow.py
  homeassistant/components/nintendo_parental/const.py
  homeassistant/components/nintendo_parental/coordinator.py
  homeassistant/components/nintendo_parental/entity.py
  homeassistant/components/nintendo_parental/manifest.json
  homeassistant/components/nintendo_parental/quality_scale.yaml
  homeassistant/components/nintendo_parental/sensor.py
  homeassistant/components/nintendo_parental/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nintendo_parental/__init__.py
  tests/components/nintendo_parental/conftest.py
  tests/components/nintendo_parental/const.py
  tests/components/nintendo_parental/test_config_flow.py
Labels: cla-signed, new-integration, has-tests, quality-scale, integration: nintendo_parental

#153850 Change translation of `box` in `number` to "Input field" for consistency
  homeassistant/components/number/strings.json
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality, integration: number, Quality Scale: internal

#153860 Bump yarl to 1.22.0
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency

#153828 Catch update exception in AirGradient
  homeassistant/components/airgradient/update.py
  tests/components/airgradient/test_update.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum, integration: airgradient

#153875 Update aiohttp to 3.13.0
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: Hacktoberfest, core, cla-signed, small-pr, dependency

#153844 Migrate Shelly virtual component unique IDs to include roles
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/binary_sensor.py
  homeassistant/components/shelly/const.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/number.py
  homeassistant/components/shelly/select.py
  homeassistant/components/shelly/sensor.py
  homeassistant/components/shelly/switch.py
  homeassistant/components/shelly/text.py
  homeassistant/components/shelly/utils.py
  tests/components/shelly/test_binary_sensor.py
  tests/components/shelly/test_number.py
  tests/components/shelly/test_select.py
  tests/components/shelly/test_sensor.py
  tests/components/shelly/test_switch.py
  tests/components/shelly/test_text.py
Labels: Hacktoberfest, cla-signed, new-feature, integration: shelly, has-tests, by-code-owner, Quality Scale: silver

#153876 Remove deprecated alarm panel constants
  homeassistant/const.py
  tests/test_const.py
Labels: Hacktoberfest, core, cla-signed, small-pr, code-quality

#153827 Shelly's current sensors naming paradigm standardization
  homeassistant/components/shelly/sensor.py
  tests/components/shelly/snapshots/test_devices.ambr
Labels: Hacktoberfest, cla-signed, small-pr, integration: shelly, has-tests, bugfix, Quality Scale: silver

#153880 Clean up core references in conversation
  homeassistant/components/conversation/default_agent.py
Labels: Hacktoberfest, core, cla-signed, integration: conversation, small-pr, by-code-owner, code-quality, Quality Scale: internal

#153882 Remove Z-Wave JS voltage sensor overriding suggested precision
  homeassistant/components/zwave_js/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, by-code-owner, code-quality, integration: zwave_js, Quality Scale: No score

#153881 Update pytest warnings filter
  pyproject.toml
Labels: Hacktoberfest, cla-signed, small-pr, code-quality, smash

#153858 Set display precision for sensors in OpenWeatherMap integration
  homeassistant/components/openweathermap/sensor.py
  tests/components/openweathermap/snapshots/test_sensor.ambr
Labels: Hacktoberfest, cla-signed, small-pr, integration: openweathermap, has-tests, bugfix, Quality Scale: No score

#153890 fix typo in icon assignment of AccuWeather integration
  homeassistant/components/accuweather/icons.json
Labels: Hacktoberfest, cla-signed, small-pr, bugfix, integration: accuweather, Quality Scale: No score

#153645 Add language and location selector to OpenWeatherMap config flow
  homeassistant/components/openweathermap/__init__.py
  homeassistant/components/openweathermap/config_flow.py
  homeassistant/components/openweathermap/sensor.py
  homeassistant/components/openweathermap/strings.json
  homeassistant/components/openweathermap/weather.py
  tests/components/openweathermap/conftest.py
  tests/components/openweathermap/snapshots/test_sensor.ambr
  tests/components/openweathermap/snapshots/test_weather.ambr
  tests/components/openweathermap/test_config_flow.py
Labels: Hacktoberfest, cla-signed, integration: openweathermap, code-quality, Quality Scale: No score

#153029 Code optimization for Comelit SimpleHome
  homeassistant/components/comelit/binary_sensor.py
  homeassistant/components/comelit/cover.py
  homeassistant/components/comelit/light.py
  homeassistant/components/comelit/sensor.py
  homeassistant/components/comelit/switch.py
  homeassistant/components/comelit/utils.py
Labels: cla-signed, by-code-owner, code-quality, Quality Scale: platinum, integration: comelit

#153903 Update SmartThings comments
  homeassistant/components/smartthings/sensor.py
Labels: Hacktoberfest, cla-signed, small-pr, integration: smartthings, by-code-owner, code-quality, Quality Scale: bronze

#153905 Add missing translation string for Satel Integra subentry type
  homeassistant/components/satel_integra/strings.json
Labels: Hacktoberfest, cla-signed, small-pr, integration: satel_integra, by-code-owner, bugfix, Quality Scale: No score

#153831 Add support for gas detector status to SmartThings
  homeassistant/components/smartthings/binary_sensor.py
  tests/components/smartthings/conftest.py
  tests/components/smartthings/fixtures/device_status/gas_detector.json
  tests/components/smartthings/fixtures/devices/gas_detector.json
  tests/components/smartthings/snapshots/test_binary_sensor.ambr
  tests/components/smartthings/snapshots/test_init.ambr
  tests/components/smartthings/snapshots/test_sensor.ambr
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: smartthings, Quality Scale: bronze

#153746 Use aioshelly methods for switches
  homeassistant/components/shelly/switch.py
  tests/components/shelly/test_switch.py
Labels: Hacktoberfest, cla-signed, small-pr, new-feature, integration: shelly, by-code-owner, Quality Scale: silver

#153894 Remove unused test fixtures from nintendo_parental
  tests/components/nintendo_parental/conftest.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, code-quality, Quality Scale: bronze, integration: nintendo_parental

#153926 Bump openai to 2.2.0
  homeassistant/components/open_router/manifest.json
  homeassistant/components/openai_conversation/entity.py
  homeassistant/components/openai_conversation/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/openai_conversation/__init__.py
  tests/components/openai_conversation/test_conversation.py
Labels: Hacktoberfest, cla-signed, small-pr, has-tests, dependency, Quality Scale: No score, integration: openai_conversation, Quality Scale: bronze, integration: open_router

#149777 Reverse Motion Blinds tilt direction
  homeassistant/components/motion_blinds/cover.py
Labels: breaking-change, cla-signed, small-pr, by-code-owner, integration: motion_blinds, Quality Scale: No score

#153952 Bump holidays to 0.82
  homeassistant/components/holiday/manifest.json
  homeassistant/components/workday/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: workday, dependency, by-code-owner, Quality Scale: No score, Quality Scale: internal, integration: holiday

#153709 Modbus Fix message_wait_milliseconds is no longer applied
  homeassistant/components/modbus/modbus.py
Labels: Hacktoberfest, cla-signed, integration: modbus, small-pr, bugfix, Quality Scale: No score

#153962 Update nhc to 0.6.1
  homeassistant/components/niko_home_control/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: Hacktoberfest, cla-signed, small-pr, integration: niko_home_control, dependency, by-code-owner, Quality Scale: No score
