Repository home-assistant/core, pull requests merged in 2025-09, with the labels that each got.

#151344 Fix typo in Meteo France mappings
  homeassistant/components/meteo_france/const.py
Labels: cla-signed, small-pr, integration: meteo_france, bugfix, Quality Scale: No score

#151389 Rename brand Fritz!Box to FRITZ!
  homeassistant/brands/fritzbox.json
  homeassistant/generated/integrations.json
Labels: core, cla-signed, small-pr, code-quality

#151433 Fix Yale Access Bluetooth key discovery timing issues
  homeassistant/components/yalexs_ble/__init__.py
  homeassistant/components/yalexs_ble/config_cache.py
  homeassistant/components/yalexs_ble/config_flow.py
  homeassistant/components/yalexs_ble/strings.json
  tests/components/yalexs_ble/test_config_flow.py
Labels: cla-signed, has-tests, by-code-owner, bugfix, integration: yalexs_ble, Quality Scale: No score

#151396 Avoid blocking IO in TRIGGERcmd
  homeassistant/components/triggercmd/__init__.py
  homeassistant/components/triggercmd/config_flow.py
  homeassistant/components/triggercmd/manifest.json
  homeassistant/components/triggercmd/switch.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: triggercmd

#151492 Remove unused code in bayesian binary_sensor
  homeassistant/components/bayesian/binary_sensor.py
Labels: cla-signed, small-pr, integration: bayesian, code-quality, smash, Quality Scale: internal

#151336 Add more test logic to APCUPSD
  tests/components/apcupsd/test_binary_sensor.py
  tests/components/apcupsd/test_sensor.py
Labels: cla-signed, integration: apcupsd, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: bronze

#151489 Bump pyiskra to 0.1.26
  homeassistant/components/iskra/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  script/licenses.py
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: iskra

#150891 Add AC fixture to smartthings
  tests/components/smartthings/conftest.py
  tests/components/smartthings/fixtures/device_status/da_ac_cac_01001.json
  tests/components/smartthings/fixtures/devices/da_ac_cac_01001.json
  tests/components/smartthings/snapshots/test_climate.ambr
  tests/components/smartthings/snapshots/test_init.ambr
  tests/components/smartthings/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, integration: smartthings, has-tests, by-code-owner, code-quality, Quality Scale: bronze

#151114 Add select entity to ToGrill
  homeassistant/components/togrill/__init__.py
  homeassistant/components/togrill/icons.json
  homeassistant/components/togrill/select.py
  homeassistant/components/togrill/strings.json
  tests/components/togrill/snapshots/test_select.ambr
  tests/components/togrill/test_select.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: bronze, integration: togrill

#150910 Fix sort order in media browser for music assistant integration
  homeassistant/components/music_assistant/media_browser.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: music_assistant

#149499 Use average color for Hue light group state
  homeassistant/components/hue/v2/group.py
  tests/components/hue/test_light_v2.py
Labels: cla-signed, integration: hue, small-pr, code-quality, Quality Scale: No score

#151499 Update Pooldose quality scale
  homeassistant/components/pooldose/manifest.json
  homeassistant/components/pooldose/quality_scale.yaml
Labels: cla-signed, small-pr, bugfix, Quality Scale: gold, quality-scale, integration: pooldose

#150273 Homekit valve duration properties
  homeassistant/components/homekit/type_switches.py
  tests/components/homekit/test_type_switches.py
Labels: cla-signed, integration: homekit, new-feature, has-tests, Quality Scale: No score

#151426 Sort MQTT test cases for subentry config flow
  tests/components/mqtt/test_config_flow.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#151515 Fix typo in const.py for Imeon inverter integration
  homeassistant/components/imeon_inverter/const.py
  tests/components/imeon_inverter/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: imeon_inverter, Quality Scale: bronze

#151514 Bump aiomealie to 0.10.2
  homeassistant/components/mealie/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: silver, integration: mealie

#138648 Add Switchbot Cloud AC Off
  homeassistant/components/switchbot_cloud/climate.py
  tests/components/switchbot_cloud/test_climate.py
Labels: cla-signed, new-feature, by-code-owner, Quality Scale: No score, integration: switchbot_cloud

#149450 Bump zabbix-utils to 2.0.3
  homeassistant/components/zabbix/manifest.json
  requirements_all.txt
Labels: breaking-change, integration: zabbix, cla-signed, small-pr, dependency, Quality Scale: legacy

#151528 Use MockConfigEntry.start_reauth_flow in Roborock's tests
  tests/components/roborock/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: silver, integration: roborock

#140449 Add Libre Hardware Monitor integration
  .strict-typing
  CODEOWNERS
  homeassistant/components/libre_hardware_monitor/__init__.py
  homeassistant/components/libre_hardware_monitor/config_flow.py
  homeassistant/components/libre_hardware_monitor/const.py
  homeassistant/components/libre_hardware_monitor/coordinator.py
  homeassistant/components/libre_hardware_monitor/manifest.json
  homeassistant/components/libre_hardware_monitor/quality_scale.yaml
  homeassistant/components/libre_hardware_monitor/sensor.py
  homeassistant/components/libre_hardware_monitor/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/libre_hardware_monitor/__init__.py
  tests/components/libre_hardware_monitor/conftest.py
  tests/components/libre_hardware_monitor/fixtures/libre_hardware_monitor.json
  tests/components/libre_hardware_monitor/snapshots/test_sensor.ambr
  tests/components/libre_hardware_monitor/test_config_flow.py
  tests/components/libre_hardware_monitor/test_sensor.py
Labels: cla-signed, new-integration, has-tests, quality-scale, integration: librehardwaremonitor

#151531 Deprecate LANnouncer integration
  homeassistant/components/lannouncer/notify.py
  homeassistant/components/lannouncer/strings.json
Labels: cla-signed, small-pr, integration: lannouncer, code-quality, Quality Scale: legacy

#151536 Remove mac address from Pooldose device
  homeassistant/components/pooldose/entity.py
  tests/components/pooldose/snapshots/test_init.ambr
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: bronze, integration: pooldose

#151318 Add tests for hassfest triggers module
  tests/hassfest/test_triggers.py
Labels: core, cla-signed, code-quality

#151561 Revert "Improve migration to entity registry version 1.18"
  homeassistant/helpers/entity_registry.py
  tests/helpers/test_entity_registry.py
Labels: core, cla-signed, bugfix

#151557 Remove config entry from device instead of deleting in Uptime robot
  homeassistant/components/uptimerobot/coordinator.py
  homeassistant/components/uptimerobot/quality_scale.yaml
Labels: cla-signed, small-pr, integration: uptimerobot, by-code-owner, code-quality, quality-scale, Quality Scale: bronze

#151552 Update SamsungTV quality scale
  homeassistant/components/samsungtv/manifest.json
  homeassistant/components/samsungtv/quality_scale.yaml
Labels: cla-signed, small-pr, integration: samsungtv, by-code-owner, code-quality, quality-scale, Quality Scale: bronze

#151544 Add missing pychromecast imports
  homeassistant/components/cast/discovery.py
  homeassistant/components/cast/helpers.py
  homeassistant/components/cast/media_player.py
Labels: cla-signed, small-pr, integration: cast, code-quality, Quality Scale: No score

#151128 Add sensor for DHW storage temperature in ViCare integration
  homeassistant/components/vicare/sensor.py
  homeassistant/components/vicare/strings.json
Labels: cla-signed, small-pr, new-feature, integration: vicare, by-code-owner, Quality Scale: No score

#140525 Add start mowing and dock intents for lawn mower
  homeassistant/components/lawn_mower/intent.py
  tests/components/lawn_mower/test_intent.py
Labels: core, cla-signed, new-feature, has-tests, second-opinion-wanted, integration: lawn_mower, Quality Scale: internal

#151580 Add required features for mowing intents
  homeassistant/components/lawn_mower/intent.py
  tests/components/lawn_mower/test_intent.py
Labels: core, cla-signed, small-pr, has-tests, bugfix, integration: lawn_mower, Quality Scale: internal

#151579 Bump `volvocarsapi` to v0.4.2
  homeassistant/components/volvo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: silver, integration: volvo

#151573 Update pytest-rerunfailures to 16.0.1
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, dependency, smash

#151452 Add bluetooth websocket_api to subscribe to scanner state
  homeassistant/components/bluetooth/websocket_api.py
  tests/components/bluetooth/test_websocket_api.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: bluetooth, Quality Scale: internal

#151558 Add option descriptions to Z-Wave reconfigure flow
  homeassistant/components/zwave_js/strings.json
  script/hassfest/translations.py
Labels: cla-signed, small-pr, new-feature, integration: zwave_js, Quality Scale: No score

#151588 Raise paperless to platinum
  homeassistant/components/paperless_ngx/manifest.json
  homeassistant/components/paperless_ngx/quality_scale.yaml
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: silver, quality-scale, integration: paperless_ngx

#151601 Tuya add missing sensors for Metering_3PN_ZB (dlq) device
  homeassistant/components/tuya/sensor.py
  tests/components/tuya/fixtures/dlq_dikb3dp6.json
  tests/components/tuya/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, integration: tuya, has-tests, bugfix, Quality Scale: No score

#151570 Improve migration to entity registry version 1.18
  homeassistant/helpers/entity_registry.py
  tests/helpers/test_entity_registry.py
Labels: core, cla-signed, bugfix

#151582 Update Home Assistant base image to 2025.09.0
  build.yaml
Labels: cla-signed, small-pr, dependency

#151551 Add support for new energy sensor entities for DLQ (circuit breaker) devices in the Tuya integration
  homeassistant/components/tuya/sensor.py
  tests/components/tuya/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, new-feature, integration: tuya, has-tests, Quality Scale: No score

#151608 Bump aioecowitt to 2025.9.0
  homeassistant/components/ecowitt/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, integration: ecowitt, Quality Scale: No score

#149234 Add energy consumption/production for Tuya kg category (smart switches)
  homeassistant/components/tuya/const.py
  homeassistant/components/tuya/sensor.py
  tests/components/tuya/__init__.py
  tests/components/tuya/fixtures/cz_vrbpx6h7fsi5mujb.json
  tests/components/tuya/snapshots/test_init.ambr
  tests/components/tuya/snapshots/test_select.ambr
  tests/components/tuya/snapshots/test_sensor.ambr
  tests/components/tuya/snapshots/test_switch.ambr
Labels: cla-signed, integration: tuya, bugfix, Quality Scale: No score

#151606 Bump hass-nabucasa from 1.0.0 to 1.1.0
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: cloud, small-pr, dependency, by-code-owner, Quality Scale: No score

#151613 Handle colliding aliases for areas
  homeassistant/helpers/area_registry.py
  tests/helpers/test_area_registry.py
Labels: core, cla-signed, bugfix

#151612 Update frontend to 20250903.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: dependency

#151614 Handle colliding aliases for floors
  homeassistant/helpers/floor_registry.py
  tests/helpers/test_floor_registry.py
Labels: core, cla-signed, bugfix

#151522 Fix racing bug in slave entities in Modbus
  homeassistant/components/modbus/binary_sensor.py
  homeassistant/components/modbus/sensor.py
  tests/components/modbus/test_binary_sensor.py
Labels: cla-signed, integration: modbus, small-pr, has-tests, bugfix, Quality Scale: No score

#142534 Remove deprecated target position attributes from ZHA covers
  homeassistant/components/zha/cover.py
Labels: breaking-change, cla-signed, integration: zha, small-pr, Quality Scale: No score

#151624 script/bootstrap to update core deps
  script/bootstrap
  script/setup
Labels: cla-signed, small-pr, new-feature

#151628 Clarify behavior of ConfigEntry.async_on_state_change
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: core, cla-signed, code-quality

#151630 Test for async_show_menu sort
  tests/test_data_entry_flow.py
Labels: core, cla-signed, small-pr, code-quality

#151637 Correct capitalization of "FRITZ!Box" in FRITZ!Box Tools integration
  homeassistant/components/fritz/strings.json
Labels: cla-signed, small-pr, integration: fritz, code-quality, Quality Scale: No score

#149033 Allow defining the start weekday for statistic_during_period
  homeassistant/components/recorder/models/statistics.py
  homeassistant/components/recorder/util.py
  tests/components/recorder/test_websocket_api.py
Labels: core, integration: recorder, cla-signed, small-pr, new-feature, has-tests, Quality Scale: internal

#150015 Add MCF (1000 Cubic Feet) as an alternate unit of measure for volume
  homeassistant/components/energy/sensor.py
  homeassistant/components/energy/validate.py
  homeassistant/components/number/const.py
  homeassistant/components/sensor/const.py
  homeassistant/const.py
  homeassistant/util/unit_conversion.py
  homeassistant/util/unit_system.py
  tests/components/energy/test_validate.py
  tests/components/kitchen_sink/snapshots/test_init.ambr
  tests/components/sensor/test_recorder.py
  tests/util/test_unit_conversion.py
  tests/util/test_unit_system.py
Labels: core, cla-signed, integration: sensor, integration: smartthings, has-tests, code-quality, integration: number, integration: energy, Quality Scale: internal, Quality Scale: bronze

#151654 Fix WebSocket proxy for add-ons not forwarding ping/pong frame data
  homeassistant/components/hassio/ingress.py
Labels: core, cla-signed, integration: hassio, small-pr, bugfix, Quality Scale: internal

#151649 Fix Sonos Dialog Select type conversion
  homeassistant/components/sonos/select.py
  homeassistant/components/sonos/speaker.py
  tests/components/sonos/test_select.py
Labels: cla-signed, small-pr, integration: sonos, has-tests, by-code-owner, bugfix, Quality Scale: No score

#151666 Drop Tuya compatibility code for mqtt
  homeassistant/components/tuya/__init__.py
  tests/components/tuya/__init__.py
  tests/components/tuya/conftest.py
  tests/components/tuya/test_alarm_control_panel.py
  tests/components/tuya/test_binary_sensor.py
  tests/components/tuya/test_button.py
  tests/components/tuya/test_camera.py
  tests/components/tuya/test_climate.py
  tests/components/tuya/test_cover.py
  tests/components/tuya/test_diagnostics.py
  tests/components/tuya/test_event.py
  tests/components/tuya/test_fan.py
  tests/components/tuya/test_humidifier.py
  tests/components/tuya/test_init.py
  tests/components/tuya/test_light.py
  tests/components/tuya/test_number.py
  tests/components/tuya/test_select.py
  tests/components/tuya/test_sensor.py
  tests/components/tuya/test_siren.py
  tests/components/tuya/test_switch.py
  tests/components/tuya/test_vacuum.py
  tests/components/tuya/test_valve.py
Labels: cla-signed, small-pr, integration: tuya, has-tests, code-quality, Quality Scale: No score

#151691 Ensure Tuya fixtures are correctly referenced
  tests/components/tuya/__init__.py
  tests/components/tuya/fixtures/dlq_dikb3dp6.json
  tests/components/tuya/snapshots/test_init.ambr
  tests/components/tuya/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, integration: tuya, has-tests, code-quality, Quality Scale: No score

#151694 Update frontend to 20250903.3
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency, by-code-owner, Quality Scale: internal

#139008 Shelly cover position update when moving
  homeassistant/components/shelly/const.py
  homeassistant/components/shelly/cover.py
  tests/components/shelly/__init__.py
  tests/components/shelly/test_cover.py
Labels: cla-signed, small-pr, new-feature, integration: shelly, Quality Scale: No score

#151706 Update pytest to 8.4.2
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#151704 Update ciso8601 to 2.3.3
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency, smash

#151711 Update Tibber library 0.31.7
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: tibber, dependency, by-code-owner, Quality Scale: No score

#151720 Bump habiticalib to v0.4.5
  homeassistant/components/habitica/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: habitica, dependency, by-code-owner, Quality Scale: platinum

#151721 Bump pyotp to v2.9.0
  homeassistant/auth/mfa_modules/notify.py
  homeassistant/auth/mfa_modules/totp.py
  homeassistant/components/otp/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, integration: otp, dependency, Quality Scale: internal

#151728 Update pyblu to 2.0.5 and fix code
  homeassistant/components/bluesound/manifest.json
  homeassistant/components/bluesound/media_player.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bluesound/conftest.py
  tests/components/bluesound/snapshots/test_media_player.ambr
  tests/components/bluesound/test_media_player.py
Labels: cla-signed, small-pr, integration: bluesound, has-tests, by-code-owner, bugfix, Quality Scale: No score

#151731 Bump pyschlage to 2025.9.0
  homeassistant/components/schlage/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: schlage

#151712 Update Mill library 0.13.1
  homeassistant/components/mill/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: mill, dependency, by-code-owner, Quality Scale: No score

#151707 Bump ohmepy version to 1.5.2
  homeassistant/components/ohme/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: platinum, integration: ohme

#151737 Bump aioesphomeapi to 40.0.1
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: platinum

#151726 Handle match failures in intent HTTP API
  homeassistant/components/intent/__init__.py
  tests/components/intent/test_init.py
Labels: cla-signed, integration: intent, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: internal

#151759 Fix recognition of entity names in default agent with interpunction
  homeassistant/components/conversation/default_agent.py
  tests/components/conversation/test_default_agent.py
Labels: core, cla-signed, integration: conversation, small-pr, has-tests, bugfix, Quality Scale: internal

#151760 Update types packages
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#151743 Remove unused class variables in Android TV Remote entity
  homeassistant/components/androidtv_remote/entity.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: androidtv_remote

#151671 Fix, entities stay unavailable after timeout error, Imeon inverter integration
  homeassistant/components/imeon_inverter/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: imeon_inverter, Quality Scale: bronze

#151746 Limit the scope of try except blocks in Android TV Remote
  homeassistant/components/androidtv_remote/config_flow.py
  tests/components/androidtv_remote/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score, integration: androidtv_remote

#151764 Add myself as codeowner to Voice components
  CODEOWNERS
  homeassistant/components/assist_pipeline/manifest.json
  homeassistant/components/assist_satellite/manifest.json
  homeassistant/components/conversation/manifest.json
  homeassistant/components/intent/manifest.json
Labels: core, cla-signed, integration: conversation, integration: intent, small-pr, code-quality, Quality Scale: internal, integration: assist_pipeline, integration: assist_satellite

#151766 2025.9.1
  homeassistant/components/bmw_connected_drive/manifest.json
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/fan/strings.json
  homeassistant/components/fritz/strings.json
  homeassistant/components/frontend/manifest.json
  homeassistant/components/hassio/ingress.py
  homeassistant/components/hue/config_flow.py
  homeassistant/components/hue/manifest.json
  homeassistant/components/imeon_inverter/manifest.json
  homeassistant/components/intent/__init__.py
  homeassistant/components/light/strings.json
  homeassistant/components/mill/manifest.json
  homeassistant/components/modbus/entity.py
  homeassistant/components/ohme/coordinator.py
  homeassistant/components/ohme/manifest.json
  homeassistant/components/remote/strings.json
  homeassistant/components/schlage/manifest.json
  homeassistant/components/sonos/select.py
  homeassistant/components/sonos/speaker.py
  homeassistant/components/switch/strings.json
  homeassistant/components/update/strings.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bmw_connected_drive/snapshots/test_diagnostics.ambr
  tests/components/conversation/test_default_agent.py
  tests/components/hue/test_config_flow.py
  tests/components/intent/test_init.py
  tests/components/sonos/test_select.py
Labels: core, cla-signed, merging-to-master, has-tests

#151046 Update SharkIQ authentication method
  homeassistant/components/sharkiq/__init__.py
  homeassistant/components/sharkiq/config_flow.py
  homeassistant/components/sharkiq/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/sharkiq/test_config_flow.py
  tests/components/sharkiq/test_vacuum.py
Labels: cla-signed, small-pr, dependency, by-code-owner, code-quality, bugfix, integration: sharkiq, Quality Scale: No score

#135844 SFTP/SSH as remote Backup location
  .strict-typing
  CODEOWNERS
  homeassistant/components/sftp_storage/__init__.py
  homeassistant/components/sftp_storage/backup.py
  homeassistant/components/sftp_storage/client.py
  homeassistant/components/sftp_storage/config_flow.py
  homeassistant/components/sftp_storage/const.py
  homeassistant/components/sftp_storage/manifest.json
  homeassistant/components/sftp_storage/quality_scale.yaml
  homeassistant/components/sftp_storage/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/sftp_storage/__init__.py
  tests/components/sftp_storage/asyncssh_mock.py
  tests/components/sftp_storage/conftest.py
  tests/components/sftp_storage/test_backup.py
  tests/components/sftp_storage/test_config_flow.py
  tests/components/sftp_storage/test_init.py
Labels: cla-signed, new-integration

#151670 Add entity info to device database analytics
  homeassistant/components/analytics/analytics.py
  tests/components/analytics/test_analytics.py
Labels: cla-signed, small-pr, new-feature, has-tests, integration: analytics, Quality Scale: internal

#151679 Use position percentage for closed status in Velux
  CODEOWNERS
  homeassistant/components/velux/cover.py
  homeassistant/components/velux/manifest.json
  tests/components/velux/__init__.py
  tests/components/velux/conftest.py
  tests/components/velux/test_binary_sensor.py
  tests/components/velux/test_cover.py
Labels: cla-signed, integration: velux, small-pr, has-tests, bugfix, Quality Scale: No score

#151719 Catch more invalid themes in validation
  homeassistant/components/frontend/__init__.py
  tests/components/frontend/test_init.py
Labels: core, cla-signed, integration: frontend, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: internal

#151796 Update philips_js to 3.2.4
  homeassistant/components/philips_js/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: philips_js, dependency, by-code-owner, bugfix, Quality Scale: No score

#151810 Fix missing sentence-casing of "temperature" in `bsblan`
  homeassistant/components/bsblan/strings.json
  tests/components/bsblan/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, integration: bsblan, code-quality, Quality Scale: No score

#151803 Bump habluetooth to 5.3.1
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#151811 Fix exceptions of `climate.set_temperature` action to use friendly names
  homeassistant/components/climate/strings.json
  tests/components/climate/test_init.py
  tests/components/tesla_fleet/test_climate.py
Labels: core, integration: climate, cla-signed, small-pr, code-quality, Quality Scale: internal

#151794 Ignore incorrect themes
  homeassistant/components/frontend/__init__.py
  tests/components/frontend/test_init.py
Labels: core, cla-signed, integration: frontend, has-tests, code-quality, Quality Scale: internal

#151829 Fix sentence-casing of two `tesla_fleet` user-facing strings
  homeassistant/components/tesla_fleet/strings.json
  tests/components/tesla_fleet/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: tesla_fleet

#151828 Fix sentence-casing of "Application credentials" in `common` strings
  homeassistant/strings.json
Labels: core, cla-signed, small-pr, code-quality

#151837 Use "credentials" only for username and password in `overkiz`
  homeassistant/components/overkiz/strings.json
Labels: cla-signed, small-pr, code-quality, integration: overkiz, Quality Scale: No score

#151834 removed assert fron entity in modbus.
  homeassistant/components/modbus/entity.py
Labels: cla-signed, integration: modbus, small-pr, bugfix, Quality Scale: No score

#151833 max_temp / min_temp in modbus light could only be int, otherwise an assert was provoked.
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/light.py
Labels: cla-signed, integration: modbus, small-pr, bugfix, Quality Scale: No score

#151851 Remove myself as code owner of integrations
  CODEOWNERS
  homeassistant/components/assist_pipeline/manifest.json
  homeassistant/components/evil_genius_labs/manifest.json
  homeassistant/components/hue/manifest.json
  homeassistant/components/openai_conversation/manifest.json
  homeassistant/components/prusalink/manifest.json
  homeassistant/components/rhasspy/manifest.json
  homeassistant/components/shelly/manifest.json
  homeassistant/components/tag/manifest.json
  homeassistant/components/voip/manifest.json
  homeassistant/components/wyoming/manifest.json
Labels: cla-signed, small-pr, code-quality

#151853 Bump aioharmony to 0.5.3
  homeassistant/components/harmony/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: harmony, dependency, by-code-owner, Quality Scale: No score

#151863 Fix sentence-casing in `volvooncall`
  homeassistant/components/volvooncall/strings.json
Labels: cla-signed, integration: volvooncall, small-pr, code-quality, Quality Scale: No score

#151882 Add signature to ai_task generated images URL
  homeassistant/components/ai_task/__init__.py
  homeassistant/components/ai_task/media_source.py
  homeassistant/components/ai_task/task.py
  tests/components/ai_task/test_media_source.py
  tests/components/ai_task/test_task.py
Labels: cla-signed, small-pr, new-feature, has-tests, Quality Scale: internal, integration: ai_task

#151015 Home Assistant Connect ZBT-2 integration
  CODEOWNERS
  homeassistant/components/homeassistant_connect_zbt2/__init__.py
  homeassistant/components/homeassistant_connect_zbt2/config_flow.py
  homeassistant/components/homeassistant_connect_zbt2/const.py
  homeassistant/components/homeassistant_connect_zbt2/hardware.py
  homeassistant/components/homeassistant_connect_zbt2/manifest.json
  homeassistant/components/homeassistant_connect_zbt2/quality_scale.yaml
  homeassistant/components/homeassistant_connect_zbt2/strings.json
  homeassistant/components/homeassistant_connect_zbt2/update.py
  homeassistant/components/homeassistant_connect_zbt2/util.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  homeassistant/generated/usb.py
  script/hassfest/manifest.py
  tests/components/homeassistant_connect_zbt2/__init__.py
  tests/components/homeassistant_connect_zbt2/common.py
  tests/components/homeassistant_connect_zbt2/conftest.py
  tests/components/homeassistant_connect_zbt2/test_config_flow.py
  tests/components/homeassistant_connect_zbt2/test_hardware.py
  tests/components/homeassistant_connect_zbt2/test_init.py
  tests/components/homeassistant_connect_zbt2/test_update.py
  tests/components/homeassistant_connect_zbt2/test_util.py
Labels: cla-signed, new-integration, has-tests, integration: homeassistant_connect_zbt2

#151898 Bump aiolifx-themes to 1.0.2 to support newer LIFX devices
  homeassistant/components/lifx/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: lifx, dependency, by-code-owner, Quality Scale: No score

#151696 Fix update of the entity ID does not clean up an old restored state
  homeassistant/helpers/entity_registry.py
  tests/helpers/test_entity_registry.py
Labels: core, cla-signed, bugfix

#151901 Bump aiovodafone to 1.2.1
  homeassistant/components/vodafone_station/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: platinum, integration: vodafone_station

#151884 Validate selectors in the condition helper
  homeassistant/helpers/condition.py
  tests/helpers/test_condition.py
Labels: core, cla-signed, bugfix

#151826 Allow deleting kitchen_sink devices
  homeassistant/components/kitchen_sink/__init__.py
Labels: cla-signed, small-pr, new-feature, Quality Scale: internal, integration: kitchen_sink

#151786 Remove Kodi media player platform yaml support
  homeassistant/components/kodi/config_flow.py
  homeassistant/components/kodi/media_player.py
  tests/components/kodi/test_config_flow.py
Labels: breaking-change, cla-signed, small-pr, integration: kodi, has-tests, Quality Scale: No score

#151969 Remove obsolete LCN strings
  homeassistant/components/lcn/strings.json
Labels: cla-signed, small-pr, integration: lcn, code-quality, Quality Scale: bronze

#151767 Use motor rotation mode in Tuya clkg covers (curtain)
  homeassistant/components/tuya/cover.py
  tests/components/tuya/snapshots/test_cover.ambr
  tests/components/tuya/test_cover.py
Labels: cla-signed, small-pr, new-feature, integration: tuya, has-tests, Quality Scale: No score

#141727 Add VPD - Vapour Pressure Deficit support to Ecowitt
  homeassistant/components/ecowitt/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: ecowitt, Quality Scale: No score

#151983 Remove manually adding domain in android TV remote
  tests/components/androidtv_remote/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: androidtv_remote

#143529 Add event platform to ntfy integration
  homeassistant/components/ntfy/__init__.py
  homeassistant/components/ntfy/config_flow.py
  homeassistant/components/ntfy/const.py
  homeassistant/components/ntfy/entity.py
  homeassistant/components/ntfy/event.py
  homeassistant/components/ntfy/icons.json
  homeassistant/components/ntfy/notify.py
  homeassistant/components/ntfy/quality_scale.yaml
  homeassistant/components/ntfy/strings.json
  tests/components/ntfy/conftest.py
  tests/components/ntfy/snapshots/test_event.ambr
  tests/components/ntfy/test_config_flow.py
  tests/components/ntfy/test_event.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, integration: ntfy, Quality Scale: bronze

#151938 Allow storing AI Task generate image preferred entity
  homeassistant/components/ai_task/__init__.py
  homeassistant/components/ai_task/http.py
  homeassistant/components/ai_task/task.py
  tests/components/ai_task/test_http.py
  tests/components/ai_task/test_init.py
Labels: cla-signed, small-pr, new-feature, has-tests, Quality Scale: internal, integration: ai_task

#151973 Fix playlist media_class_filter in search_media for squeezebox
  homeassistant/components/squeezebox/media_player.py
Labels: cla-signed, small-pr, integration: squeezebox, by-code-owner, bugfix, Quality Scale: No score

#151897 Patch ESPHome client to handle climate UI correctly
  homeassistant/components/esphome/climate.py
  tests/components/esphome/test_climate.py
Labels: cla-signed, integration: esphome, by-code-owner, code-quality, Quality Scale: platinum

#152005 Bump aioesphomeapi to 40.1.0
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: platinum

#152006 Bump yt-dlp to 2025.09.05
  homeassistant/components/media_extractor/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: media_extractor, small-pr, dependency, by-code-owner, Quality Scale: internal

#152012 Fix ESPHome lock showing as unlocked when state is unknown
  homeassistant/components/esphome/lock.py
  tests/components/esphome/test_lock.py
Labels: cla-signed, small-pr, integration: esphome, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#152015 Bump pylitterbot to 2024.2.4
  homeassistant/components/litterrobot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: litterrobot, Quality Scale: bronze

#151718 Allow overriding TTS result stream with media id
  homeassistant/components/tts/__init__.py
  tests/components/tts/common.py
  tests/components/tts/test_init.py
Labels: core, cla-signed, integration: tts, new-feature, has-tests, Quality Scale: internal

#151947 Add repair issue for Bluetooth adapters in degraded mode due to missing container permissions
  homeassistant/components/bluetooth/manager.py
  homeassistant/components/bluetooth/strings.json
  tests/components/bluetooth/test_manager.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: bluetooth, Quality Scale: internal

#143791 Feature - add Time-to-Live (ttl) parameter support to Pushover integration
  homeassistant/components/pushover/const.py
  homeassistant/components/pushover/notify.py
  tests/components/pushover/test_notify.py
Labels: cla-signed, small-pr, new-feature, integration: pushover, has-tests, code-quality, Quality Scale: No score

#144067 Add support for Tasmota camera
  homeassistant/components/tasmota/camera.py
  homeassistant/components/tasmota/const.py
  tests/components/tasmota/test_camera.py
  tests/components/tasmota/test_common.py
Labels: new-platform, cla-signed, new-feature, has-tests, integration: tasmota, Quality Scale: No score

#152024 Remove duplicated call to time.time in device registry
  homeassistant/helpers/device_registry.py
Labels: core, cla-signed, small-pr, code-quality

#151965 Add service helper for registering platform services
  homeassistant/helpers/service.py
  tests/helpers/test_service.py
Labels: core, cla-signed, new-feature, integration: androidtv, has-tests, Quality Scale: No score

#151951 Fix Supervisor Ingress WebSocket not handling Connection and Timeout Error
  homeassistant/components/hassio/ingress.py
Labels: core, cla-signed, integration: hassio, small-pr, bugfix, Quality Scale: internal

#152043 Update isal to 1.8.0
  homeassistant/components/isal/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, Quality Scale: internal, integration: isal

#152051 Add missing Tuya translation string
  homeassistant/components/tuya/strings.json
  tests/components/tuya/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, integration: tuya, has-tests, bugfix, Quality Scale: No score

#151909 Remove stale devices for Alexa Devices
  homeassistant/components/alexa_devices/coordinator.py
  homeassistant/components/alexa_devices/quality_scale.yaml
  tests/components/alexa_devices/conftest.py
  tests/components/alexa_devices/const.py
  tests/components/alexa_devices/test_coordinator.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: silver, quality-scale, integration: alexa_devices

#142875 Add Portainer integration
  .strict-typing
  CODEOWNERS
  homeassistant/components/portainer/__init__.py
  homeassistant/components/portainer/binary_sensor.py
  homeassistant/components/portainer/config_flow.py
  homeassistant/components/portainer/const.py
  homeassistant/components/portainer/coordinator.py
  homeassistant/components/portainer/entity.py
  homeassistant/components/portainer/manifest.json
  homeassistant/components/portainer/quality_scale.yaml
  homeassistant/components/portainer/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/portainer/__init__.py
  tests/components/portainer/conftest.py
  tests/components/portainer/fixtures/containers.json
  tests/components/portainer/fixtures/endpoints.json
  tests/components/portainer/snapshots/test_binary_sensor.ambr
  tests/components/portainer/test_binary_sensor.py
  tests/components/portainer/test_config_flow.py
  tests/components/portainer/test_init.py
Labels: cla-signed, new-integration, has-tests, integration: portainer, quality-scale

#151904 Avoid cleanup/recreate of device_trackers not linked to a device for Vodafone Station
  homeassistant/components/vodafone_station/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: platinum, integration: vodafone_station

#151562 Add key reconfigure to UptimeRobot config flow
  homeassistant/components/uptimerobot/config_flow.py
  homeassistant/components/uptimerobot/quality_scale.yaml
  homeassistant/components/uptimerobot/strings.json
  tests/components/uptimerobot/test_config_flow.py
Labels: cla-signed, new-feature, integration: uptimerobot, has-tests, by-code-owner, quality-scale, Quality Scale: bronze

#152056 Adapt AccuWeather to new paid API plans
  homeassistant/components/accuweather/config_flow.py
  homeassistant/components/accuweather/const.py
  homeassistant/components/accuweather/manifest.json
  homeassistant/components/accuweather/strings.json
  homeassistant/generated/integrations.json
  tests/components/accuweather/test_config_flow.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, integration: accuweather, Quality Scale: No score

#149542 Refactor unifiprotect RTSP repair flow to use publicapi create_rtsps_streams method
  homeassistant/components/unifiprotect/repairs.py
  tests/components/unifiprotect/test_repairs.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: unifiprotect, Quality Scale: No score

#151330 Matter `MountedDimmableLoadControl` device type
  homeassistant/components/matter/light.py
  tests/components/matter/snapshots/test_light.ambr
  tests/components/matter/snapshots/test_switch.ambr
Labels: cla-signed, small-pr, bugfix, integration: matter, Quality Scale: No score

#143347 Add huawei_lte quality scale YAML
  homeassistant/components/huawei_lte/quality_scale.yaml
  script/hassfest/quality_scale.py
Labels: cla-signed, integration: huawei_lte, by-code-owner, code-quality, Quality Scale: No score, quality-scale

#151532 Add DHCP discovery to Aladdin Connect
  homeassistant/components/aladdin_connect/manifest.json
  homeassistant/components/aladdin_connect/strings.json
  homeassistant/generated/dhcp.py
  tests/components/aladdin_connect/test_config_flow.py
Labels: cla-signed, small-pr, new-feature, integration: aladdin_connect, Quality Scale: No score

#143763 Jewish Calendar quality scale
  homeassistant/components/jewish_calendar/quality_scale.yaml
  script/hassfest/quality_scale.py
Labels: cla-signed, integration: jewish_calendar, by-code-owner, code-quality, Quality Scale: No score, quality-scale

#150445 Use a state selector for history_stats
  homeassistant/components/history_stats/config_flow.py
  homeassistant/components/history_stats/strings.json
  tests/components/history_stats/test_config_flow.py
Labels: cla-signed, new-feature, integration: history_stats, has-tests, Quality Scale: internal

#152081 Fix Bluetooth mock to prevent degraded mode repair issues in tests
  tests/components/bluetooth/test_init.py
  tests/conftest.py
Labels: core, cla-signed, small-pr, bugfix

#151149 Remove myself from enocean code owners
  CODEOWNERS
  homeassistant/components/enocean/manifest.json
Labels: cla-signed, integration: enocean, small-pr, by-code-owner, code-quality, Quality Scale: No score

#151710 Add secondary wake word and pipeline to ESPHome voice satellites
  homeassistant/components/assist_pipeline/select.py
  homeassistant/components/assist_pipeline/strings.json
  homeassistant/components/esphome/assist_satellite.py
  homeassistant/components/esphome/const.py
  homeassistant/components/esphome/entry_data.py
  homeassistant/components/esphome/icons.json
  homeassistant/components/esphome/select.py
  homeassistant/components/esphome/strings.json
  tests/components/esphome/test_assist_satellite.py
  tests/components/esphome/test_select.py
Labels: cla-signed, new-feature, integration: esphome, has-tests, by-code-owner, Quality Scale: internal, Quality Scale: platinum, integration: assist_pipeline

#150888 Play url_resolved for radio browser instead of url
  homeassistant/components/radio_browser/media_source.py
Labels: cla-signed, small-pr, bugfix, integration: radio_browser, Quality Scale: No score

#152227 Bump habluetooth to 5.6.4
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#152208 Drop use of aiofiles in TTS
  homeassistant/components/tts/__init__.py
Labels: core, cla-signed, integration: tts, small-pr, bugfix, Quality Scale: internal

#152237 2025.9.3
  homeassistant/components/bluetooth/manifest.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, merging-to-master, small-pr, integration: bluetooth, Quality Scale: internal

#152221 Fix lg_thinq RuntimeWarning in tests
  tests/components/lg_thinq/conftest.py
Labels: cla-signed, small-pr, has-tests, code-quality, smash, Quality Scale: No score, integration: lg_thinq

#149479 Reflect Verisure lock, alarm control panel and switch state immediately without cloud pull
  homeassistant/components/verisure/alarm_control_panel.py
  homeassistant/components/verisure/lock.py
  homeassistant/components/verisure/switch.py
Labels: cla-signed, integration: verisure, small-pr, bugfix, Quality Scale: No score

#152233 Reapply "Pin SHA for all github actions"
  .github/workflows/builder.yml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/detect-duplicate-issues.yml
  .github/workflows/detect-non-english-issues.yml
  .github/workflows/lock.yml
  .github/workflows/restrict-task-creation.yml
  .github/workflows/stale.yml
  .github/workflows/translations.yml
  .github/workflows/wheels.yml
Labels: cla-signed, small-pr, code-quality

#152246 Set diagnostic entity category for "mode" in APCUPSD
  homeassistant/components/apcupsd/sensor.py
  tests/components/apcupsd/snapshots/test_sensor.ambr
Labels: cla-signed, integration: apcupsd, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#152209 Fix HomeKit Controller overwhelming resource-limited devices by batching characteristic polling
  homeassistant/components/homekit_controller/connection.py
  tests/components/homekit_controller/test_connection.py
Labels: cla-signed, integration: homekit_controller, has-tests, by-code-owner, bugfix, Quality Scale: No score

#152156 Update pytest-asyncio to 1.2.0
  pyproject.toml
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump, smash

#152255 Bump aiohomekit to 3.2.16
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, by-code-owner, Quality Scale: No score

#152256 Bump bluetooth-auto-recovery to 1.5.3
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal
