Repository home-assistant/core, pull requests merged in 2025-06, with the labels that each got.

#145949 Bump pysmlight to v0.2.5
  homeassistant/components/smlight/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: silver, integration: smlight

#145717 Use async_load_fixture in async test functions (l-z)
  tests/components/linkplay/test_diagnostics.py
  tests/components/london_air/test_sensor.py
  tests/components/london_underground/test_sensor.py
  tests/components/loqed/conftest.py
  tests/components/loqed/test_config_flow.py
  tests/components/loqed/test_init.py
  tests/components/mealie/test_todo.py
  tests/components/metoffice/test_config_flow.py
  tests/components/metoffice/test_init.py
  tests/components/metoffice/test_sensor.py
  tests/components/metoffice/test_weather.py
  tests/components/microsoft_face/test_init.py
  tests/components/microsoft_face_detect/test_image_processing.py
  tests/components/microsoft_face_identify/test_image_processing.py
  tests/components/modern_forms/test_config_flow.py
  tests/components/music_assistant/test_config_flow.py
  tests/components/netatmo/test_media_source.py
  tests/components/nordpool/test_init.py
  tests/components/nut/test_switch.py
  tests/components/nut/util.py
  tests/components/nyt_games/test_sensor.py
  tests/components/openalpr_cloud/test_image_processing.py
  tests/components/openhardwaremonitor/test_sensor.py
  tests/components/renault/test_button.py
  tests/components/renault/test_config_flow.py
  tests/components/renault/test_select.py
  tests/components/renault/test_services.py
  tests/components/roku/conftest.py
  tests/components/sfr_box/test_config_flow.py
  tests/components/smartthings/test_init.py
  tests/components/smlight/test_diagnostics.py
  tests/components/spotify/test_media_player.py
  tests/components/subaru/test_diagnostics.py
  tests/components/swiss_public_transport/test_sensor.py
  tests/components/swiss_public_transport/test_service.py
  tests/components/switchbee/test_config_flow.py
  tests/components/tado/test_service.py
  tests/components/tado/util.py
  tests/components/tplink/test_diagnostics.py
  tests/components/trace/test_websocket_api.py
  tests/components/uk_transport/test_sensor.py
  tests/components/venstar/util.py
  tests/components/vulcan/test_config_flow.py
  tests/components/waqi/test_config_flow.py
  tests/components/waqi/test_sensor.py
  tests/components/weatherflow_cloud/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality

#145908 Bump aioimmich to 0.8.0
  homeassistant/components/immich/manifest.json
  homeassistant/components/immich/media_source.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/immich/conftest.py
  tests/components/immich/const.py
  tests/components/immich/snapshots/test_diagnostics.ambr
  tests/components/immich/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: silver, integration: immich

#146002 Update mypy-dev to 1.17.0a2
  homeassistant/components/matter/light.py
  homeassistant/components/radarr/entity.py
  requirements_test.txt
Labels: cla-signed, small-pr, integration: radarr, dependency, integration: matter, Quality Scale: No score

#145988 Update pytest-asyncio to 1.0.0
  requirements_test.txt
  tests/components/auth/conftest.py
  tests/components/emulated_hue/test_upnp.py
  tests/components/frontend/test_init.py
  tests/components/homekit/conftest.py
  tests/components/http/conftest.py
  tests/components/image_processing/test_init.py
  tests/components/motioneye/test_camera.py
  tests/conftest.py
  tests/scripts/test_auth.py
  tests/scripts/test_check_config.py
Labels: cla-signed, small-pr, dependency, dependency-bump

#145993 Update types packages
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#145992 Update syrupy to 4.9.1
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#145990 Update pytest-timeout to 2.4.0
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#145981 Update numpy to 2.2.6
  homeassistant/components/compensation/manifest.json
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/stream/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, integration: stream, integration: tensorflow, integration: trend, integration: iqvia, dependency, integration: compensation, Quality Scale: No score, Quality Scale: internal, Quality Scale: legacy

#145989 Update pytest-cov to 6.1.1
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#145976 Update aiohttp-cors to 0.8.1
  homeassistant/components/http/cors.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#145979 Update cryptography to 45.0.3
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#145984 Update PyTurboJPEG to 1.8.0
  homeassistant/components/camera/manifest.json
  homeassistant/components/stream/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/docker/Dockerfile
Labels: core, integration: camera, cla-signed, small-pr, integration: stream, dependency, Quality Scale: internal

#144617 Add config flow for telegram bot integration
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/telegram_bot/bot.py
  homeassistant/components/telegram_bot/broadcast.py
  homeassistant/components/telegram_bot/config_flow.py
  homeassistant/components/telegram_bot/const.py
  homeassistant/components/telegram_bot/manifest.json
  homeassistant/components/telegram_bot/polling.py
  homeassistant/components/telegram_bot/services.yaml
  homeassistant/components/telegram_bot/strings.json
  homeassistant/components/telegram_bot/webhooks.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  tests/components/telegram_bot/conftest.py
  tests/components/telegram_bot/test_broadcast.py
  tests/components/telegram_bot/test_config_flow.py
  tests/components/telegram_bot/test_telegram_bot.py
Labels: cla-signed, integration: telegram_bot, new-feature, config-flow, Quality Scale: legacy

#146009 Remove unnecessary DOMAIN alias in tests (l-r)
  tests/components/landisgyr_heat_meter/test_init.py
  tests/components/lawn_mower/test_init.py
  tests/components/lirc/test_init.py
  tests/components/lock/conftest.py
  tests/components/matrix/conftest.py
  tests/components/matrix/test_matrix_bot.py
  tests/components/matrix/test_rooms.py
  tests/components/matrix/test_send_message.py
  tests/components/mqtt/test_device_tracker.py
  tests/components/mqtt/test_tag.py
  tests/components/music_assistant/test_actions.py
  tests/components/music_assistant/test_media_player.py
  tests/components/netatmo/test_climate.py
  tests/components/netatmo/test_device_trigger.py
  tests/components/notify/test_repairs.py
  tests/components/opentherm_gw/test_button.py
  tests/components/opentherm_gw/test_select.py
  tests/components/opentherm_gw/test_switch.py
  tests/components/pandora/test_media_player.py
  tests/components/prosegur/conftest.py
  tests/components/qwikswitch/test_init.py
  tests/components/recorder/test_purge.py
  tests/components/recorder/test_purge_v32_schema.py
  tests/components/reolink/test_services.py
  tests/components/rflink/test_init.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#146012 Use async_load_fixture in moehlenhoff_alpha2 tests
  tests/components/moehlenhoff_alpha2/__init__.py
  tests/components/moehlenhoff_alpha2/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: moehlenhoff_alpha2, Quality Scale: No score

#145954 Bump ical to 10.0.0
  homeassistant/components/google/manifest.json
  homeassistant/components/local_calendar/manifest.json
  homeassistant/components/local_todo/manifest.json
  homeassistant/components/remote_calendar/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: google, small-pr, dependency, by-code-owner, bugfix, integration: local_calendar, Quality Scale: No score, Quality Scale: silver, integration: local_todo, integration: remote_calendar

#145964 Add diagnostics to Amazon devices
  homeassistant/components/amazon_devices/diagnostics.py
  tests/components/amazon_devices/snapshots/test_diagnostics.ambr
  tests/components/amazon_devices/test_diagnostics.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: bronze, integration: amazon_devices

#145986 Update pre-commit to 4.2.0
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#145787 Submit legacy integrations for analytics
  homeassistant/components/analytics/analytics.py
  tests/components/analytics/snapshots/test_analytics.ambr
  tests/components/analytics/test_analytics.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: analytics, Quality Scale: internal

#140956 Make sun `solar_rising` a binary_sensor
  homeassistant/components/sun/__init__.py
  homeassistant/components/sun/binary_sensor.py
  homeassistant/components/sun/icons.json
  homeassistant/components/sun/strings.json
  tests/components/sun/test_binary_sensor.py
Labels: core, new-platform, cla-signed, integration: sun, new-feature, has-tests, Quality Scale: internal

#145788 Avoid constant alias for integration DOMAIN
  pylint/plugins/hass_imports.py
  tests/components/decora/test_light.py
  tests/components/sms/test_init.py
  tests/components/tensorflow/test_image_processing.py
Labels: cla-signed, small-pr, code-quality

#146029 Bump grpcio to 1.72.1
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, dependency

#146039 Bump pysmlight to 0.2.6
  homeassistant/components/smlight/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: silver, integration: smlight

#146033 Improve debug logging Reolink
  homeassistant/components/reolink/__init__.py
  homeassistant/components/reolink/config_flow.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: reolink, Quality Scale: platinum

#146040 Add diagnostics tests for Sonos
  homeassistant/components/sonos/diagnostics.py
  tests/components/sonos/conftest.py
  tests/components/sonos/snapshots/test_diagnostics.ambr
  tests/components/sonos/test_diagnostics.py
Labels: cla-signed, small-pr, integration: sonos, has-tests, by-code-owner, code-quality, Quality Scale: No score

#145956 Small nmbs sensor attributes refactoring
  homeassistant/components/nmbs/sensor.py
Labels: cla-signed, small-pr, integration: nmbs, code-quality, Quality Scale: legacy

#146038 Update yamllint to 1.37.1
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Labels: cla-signed, small-pr, dependency

#146047 Add awesomeversion to dependency version checks
  script/hassfest/requirements.py
Labels: cla-signed, small-pr, code-quality

#146059 Update aiohomekit to 3.2.15
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/requirements.py
Labels: cla-signed, small-pr, integration: homekit_controller, dependency, Quality Scale: No score

#146062 Don't use multi-line conditionals in immich
  homeassistant/components/immich/media_source.py
Labels: cla-signed, by-code-owner, code-quality, Quality Scale: silver, integration: immich

#146049 Rename mispelled services python files
  homeassistant/components/jewish_calendar/__init__.py
  homeassistant/components/jewish_calendar/services.py
  homeassistant/components/synology_dsm/__init__.py
  homeassistant/components/synology_dsm/services.py
Labels: cla-signed, small-pr, integration: jewish_calendar, integration: synology_dsm, code-quality, Quality Scale: No score

#146063 Bump ollama to 0.5.1
  homeassistant/components/ollama/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/requirements.py
  script/licenses.py
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: ollama

#146076 Update python-homewizard-energy to 8.3.3
  homeassistant/components/homewizard/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/requirements.py
Labels: cla-signed, small-pr, dependency, smash, integration: homewizard, Quality Scale: platinum, code-owner-approved

#146077 Update pyatmo to 9.2.1
  homeassistant/components/netatmo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/requirements.py
Labels: integration: netatmo, cla-signed, small-pr, dependency, smash, Quality Scale: No score

#146085 Bump aiokem to 1.0.1
  homeassistant/components/rehlko/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: silver, integration: rehlko

#145995 Add energy sensor to adax
  homeassistant/components/adax/__init__.py
  homeassistant/components/adax/coordinator.py
  homeassistant/components/adax/sensor.py
  tests/components/adax/conftest.py
  tests/components/adax/snapshots/test_sensor.ambr
  tests/components/adax/test_climate.py
  tests/components/adax/test_sensor.py
Labels: new-platform, cla-signed, new-feature, has-tests, integration: adax, Quality Scale: No score

#146094 Move services to separate module in insteon
  homeassistant/components/insteon/__init__.py
  homeassistant/components/insteon/services.py
  homeassistant/components/insteon/utils.py
Labels: cla-signed, integration: insteon, code-quality, Quality Scale: No score

#146018 Use async_load_fixture in youtube tests
  tests/components/youtube/__init__.py
  tests/components/youtube/conftest.py
  tests/components/youtube/test_config_flow.py
  tests/components/youtube/test_sensor.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: youtube

#145803 Smarla integration improve tests
  tests/components/smarla/conftest.py
  tests/components/smarla/test_switch.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: bronze, integration: smarla

#146044 Adjust ConnectionFailure logging in SamsungTV
  homeassistant/components/samsungtv/bridge.py
  tests/components/samsungtv/test_media_player.py
Labels: cla-signed, small-pr, integration: samsungtv, has-tests, by-code-owner, bugfix, Quality Scale: No score

#145904 NextBus: Bump py_nextbusnext to 2.2.0
  homeassistant/components/nextbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: nextbus, dependency, by-code-owner, Quality Scale: No score

#146111 Bump habluetooth to 3.49.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bluetooth/test_diagnostics.py
  tests/components/esphome/test_diagnostics.py
  tests/components/shelly/test_diagnostics.py
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, Quality Scale: internal

#146124 Replace "numbers" with "digits" in `invalid_backbone_key` message of `knx`
  homeassistant/components/knx/strings.json
Labels: cla-signed, integration: knx, small-pr, bugfix, Quality Scale: No score

#146112 SMA fix strings
  homeassistant/components/sma/strings.json
Labels: cla-signed, small-pr, integration: sma, by-code-owner, bugfix, Quality Scale: No score

#146000 Add config option for controlling Ollama think parameter
  homeassistant/components/ollama/__init__.py
  homeassistant/components/ollama/config_flow.py
  homeassistant/components/ollama/const.py
  homeassistant/components/ollama/conversation.py
  homeassistant/components/ollama/strings.json
  tests/components/ollama/test_config_flow.py
  tests/components/ollama/test_conversation.py
Labels: cla-signed, small-pr, new-feature, has-tests, dependency, Quality Scale: No score, integration: ollama

#146114 Update pytest to 8.4.0
  pyproject.toml
  requirements_test.txt
  tests/components/backup/test_manager.py
  tests/components/workday/test_config_flow.py
  tests/test_test_fixtures.py
Labels: cla-signed, small-pr, dependency, dependency-bump

#145948 Bump pymodbus to 3.9.2
  homeassistant/components/modbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: modbus, small-pr, dependency, Quality Scale: No score

#146135 Bump aioesphomeapi to 32.0.0
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: platinum

#146171 Bump uiprotect to 7.11.0
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: unifiprotect, Quality Scale: No score

#146161 Move matrix services to separate module
  homeassistant/components/matrix/__init__.py
  homeassistant/components/matrix/const.py
  homeassistant/components/matrix/services.py
  tests/components/matrix/test_matrix_bot.py
Labels: cla-signed, integration: matrix, has-tests, code-quality, Quality Scale: legacy

#146151 Move zoneminder services to separate module
  homeassistant/components/zoneminder/__init__.py
  homeassistant/components/zoneminder/const.py
  homeassistant/components/zoneminder/services.py
Labels: cla-signed, integration: zoneminder, code-quality, Quality Scale: legacy

#146198 Bump python-bsblan to version 2.0.1
  homeassistant/components/bsblan/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/requirements.py
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: bsblan, Quality Scale: No score

#146149 Move ffmpeg services to separate module
  homeassistant/components/ffmpeg/__init__.py
  homeassistant/components/ffmpeg/const.py
  homeassistant/components/ffmpeg/services.py
  tests/components/ffmpeg/test_init.py
Labels: core, integration: ffmpeg, cla-signed, code-quality, Quality Scale: No score

#146206 Update pandas to 2.3.0
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, dependency

#146144 Move amcrest services to separate module
  homeassistant/components/amcrest/__init__.py
  homeassistant/components/amcrest/services.py
Labels: cla-signed, integration: amcrest, code-quality, Quality Scale: legacy

#146160 Move google_sheets services to separate module
  homeassistant/components/google_sheets/__init__.py
  homeassistant/components/google_sheets/services.py
  tests/components/google_sheets/test_init.py
Labels: cla-signed, has-tests, code-quality, integration: google_sheets, Quality Scale: No score

#145743 Matter add Service Area Cluster to vacuum_cleaner fixture
  tests/components/matter/fixtures/nodes/vacuum_cleaner.json
Labels: cla-signed, small-pr, has-tests, code-quality, integration: matter, Quality Scale: No score

#146098 Move services to separate module in opentherm_gw
  homeassistant/components/opentherm_gw/__init__.py
  homeassistant/components/opentherm_gw/services.py
  homeassistant/components/opentherm_gw/strings.json
Labels: cla-signed, integration: opentherm_gw, code-quality, Quality Scale: No score

#146133 Bump pyswitchbot to 0.65.0
  homeassistant/components/switchbot/manifest.json
  homeassistant/components/switchbot/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/switchbot/test_sensor.py
Labels: cla-signed, small-pr, integration: switchbot, has-tests, dependency, by-code-owner, Quality Scale: gold

#146147 Move elkm1 services to separate module
  homeassistant/components/elkm1/__init__.py
  homeassistant/components/elkm1/services.py
Labels: cla-signed, integration: elkm1, code-quality, Quality Scale: No score

#146222 Bump aioimmich to 0.9.1
  homeassistant/components/immich/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: silver, integration: immich

#146244 Tweak zwave_js service registration
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/services.py
Labels: cla-signed, small-pr, code-quality, integration: zwave_js, Quality Scale: No score

#146142 Move abode services to separate module
  homeassistant/components/abode/__init__.py
  homeassistant/components/abode/services.py
  tests/components/abode/test_init.py
  tests/components/abode/test_switch.py
Labels: cla-signed, integration: abode, code-quality, Quality Scale: No score

#146247 Fix unit test for switchbot integration
  tests/components/switchbot/test_init.py
Labels: cla-signed, small-pr, integration: switchbot, has-tests, by-code-owner, bugfix, Quality Scale: gold

#146253 Update python-bsblan requirement to version 2.1.0
  homeassistant/components/bsblan/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: bsblan, Quality Scale: No score

#146267 Add missing write state to Teslemetry
  homeassistant/components/teslemetry/cover.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: teslemetry

#146268 Change default range sensors in Teslemetry
  homeassistant/components/teslemetry/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: teslemetry

#146148 Add bronze quality scale for Telegram bot integration
  homeassistant/components/telegram_bot/manifest.json
  homeassistant/components/telegram_bot/quality_scale.yaml
  script/hassfest/quality_scale.py
Labels: cla-signed, integration: telegram_bot, code-quality, quality-scale, Quality Scale: legacy

#146278 Update airtouch5py to 0.3.0
  homeassistant/components/airtouch5/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, smash, Quality Scale: No score, integration: airtouch5

#146296 Update numpy to 2.3.0
  homeassistant/components/compensation/manifest.json
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/stream/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, integration: stream, integration: tensorflow, integration: trend, integration: iqvia, dependency, integration: compensation, Quality Scale: No score, Quality Scale: internal, Quality Scale: legacy

#146297 Migrate onvif to use onvif-zeep-async 4.0.1 with aiohttp
  homeassistant/components/onvif/__init__.py
  homeassistant/components/onvif/const.py
  homeassistant/components/onvif/device.py
  homeassistant/components/onvif/event.py
  homeassistant/components/onvif/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: onvif, dependency, Quality Scale: No score

#146299 Add additional package version range checks
  script/hassfest/requirements.py
Labels: cla-signed, small-pr, dependency

#146320 Fix typo in Utility Meter always_available
  homeassistant/components/utility_meter/strings.json
Labels: cla-signed, small-pr, integration: utility_meter, bugfix, Quality Scale: internal

#146314 Add tests for sonos switch alarms on and off
  tests/components/sonos/conftest.py
  tests/components/sonos/test_switch.py
Labels: cla-signed, small-pr, integration: sonos, has-tests, by-code-owner, code-quality, Quality Scale: No score

#146322 Fix bosch alarm areas not correctly subscribing to alarms
  homeassistant/components/bosch_alarm/alarm_control_panel.py
  tests/components/bosch_alarm/test_alarm_control_panel.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: bronze, integration: bosch_alarm

#146337 Bump uiprotect to 7.12.0
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: unifiprotect, Quality Scale: No score

#146338 Bump py-synologydsm-api to 2.7.3
  homeassistant/components/synology_dsm/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: synology_dsm, Quality Scale: No score

#146344 Bump aioesphomeapi to 32.2.0
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: platinum

#146333 Allow different manufacturer than Amazon in Amazon Devices
  homeassistant/components/amazon_devices/entity.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: bronze, integration: amazon_devices

#146359 Bump python-linkplay to v0.2.10
  homeassistant/components/linkplay/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: linkplay

#146340 Add Homee diagnostics platform
  homeassistant/components/homee/diagnostics.py
  tests/components/homee/__init__.py
  tests/components/homee/conftest.py
  tests/components/homee/snapshots/test_diagnostics.ambr
  tests/components/homee/test_diagnostics.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: bronze, integration: homee

#146366 Test all device classes in Sensor device condition/trigger tests
  tests/components/sensor/common.py
  tests/components/sensor/test_device_condition.py
  tests/components/sensor/test_device_trigger.py
Labels: core, cla-signed, small-pr, integration: sensor, has-tests, by-code-owner, code-quality, Quality Scale: internal

#146387 Update switch_as_x to handle wrapped switch moved to another device
  homeassistant/components/switch_as_x/__init__.py
  tests/components/switch_as_x/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, integration: switch_as_x, Quality Scale: internal

#146396 Bump pynordpool to 0.3.0
  homeassistant/components/nordpool/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: nordpool, dependency, by-code-owner, Quality Scale: platinum

#146371 Bump env-canada to v0.11.2
  homeassistant/components/environment_canada/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: environment_canada, dependency, by-code-owner, Quality Scale: No score

#146403 Fix CO concentration unit in OpenWeatherMap
  homeassistant/components/openweathermap/sensor.py
  tests/components/openweathermap/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, integration: openweathermap, has-tests, by-code-owner, bugfix, Quality Scale: No score

#146385 Bump aioamazondevices to 3.0.6
  homeassistant/components/amazon_devices/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: bronze, integration: amazon_devices

#146378 Bug fix for Telegram bot integration: handle last message id
  homeassistant/components/telegram_bot/bot.py
  tests/components/telegram_bot/conftest.py
  tests/components/telegram_bot/test_config_flow.py
  tests/components/telegram_bot/test_telegram_bot.py
Labels: cla-signed, integration: telegram_bot, small-pr, has-tests, bugfix, Quality Scale: bronze

#145778 Basic entity class for Imeon inverter integration
  homeassistant/components/imeon_inverter/entity.py
  homeassistant/components/imeon_inverter/sensor.py
  tests/components/imeon_inverter/conftest.py
  tests/components/imeon_inverter/test_sensor.py
Labels: cla-signed, has-tests, by-code-owner, code-quality, integration: imeon_inverter, Quality Scale: bronze

#146426 Bump aiohttp to 3.12.12
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#146434 Move google assistant sdk services to separate module
  homeassistant/components/google_assistant_sdk/__init__.py
  homeassistant/components/google_assistant_sdk/services.py
Labels: cla-signed, code-quality, Quality Scale: No score, integration: google_assistant_sdk

#146429 Migrate cloudflare to use runtime data
  homeassistant/components/cloudflare/__init__.py
Labels: cla-signed, integration: cloudflare, small-pr, code-quality, Quality Scale: No score

#146435 Reformat Dockerfile to reduce merge conflicts
  script/hassfest/docker.py
  script/hassfest/docker/Dockerfile
Labels: cla-signed, small-pr, code-quality

#146430 Bump pyswitchbot to 0.66.0
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, dependency, by-code-owner, bugfix, Quality Scale: gold

#146418 Bump propcache to 0.3.2
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#145191 Restore user customizations of deleted devices
  homeassistant/helpers/device_registry.py
  tests/helpers/test_device_registry.py
Labels: core, cla-signed, new-feature

#146442 Fix typo at application credentials string at Home Connect integration
  homeassistant/components/home_connect/strings.json
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: home_connect, Quality Scale: No score

#146011 Use async_load_fixture in modern_forms tests
  tests/components/modern_forms/__init__.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: modern_forms, Quality Scale: No score

#146216 Explain Withings setup
  homeassistant/components/withings/application_credentials.py
  homeassistant/components/withings/strings.json
Labels: cla-signed, small-pr, integration: withings, by-code-owner, bugfix, Quality Scale: No score

#146443 Improvements for Home Connect application credentials string
  homeassistant/components/home_connect/strings.json
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: home_connect, Quality Scale: No score

#146449 Return expected state in SmartThings water heater
  homeassistant/components/smartthings/strings.json
  homeassistant/components/smartthings/water_heater.py
  tests/components/smartthings/snapshots/test_water_heater.ambr
  tests/components/smartthings/test_water_heater.py
Labels: cla-signed, small-pr, integration: smartthings, has-tests, by-code-owner, bugfix, Quality Scale: bronze

#146447 Update aiomealie to 0.9.6
  homeassistant/components/mealie/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/requirements.py
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: mealie

#146202 Prevent energy history returning zero in Teslemetry
  homeassistant/components/teslemetry/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: teslemetry

#146452 Fix RuntimeWarning in rest tests
  tests/components/rest/test_sensor.py
  tests/test_util/aiohttp.py
Labels: core, cla-signed, small-pr, integration: rest, has-tests, code-quality, Quality Scale: No score

#146349 Shift ESPHome log parsing to the library
  homeassistant/components/esphome/manager.py
Labels: cla-signed, small-pr, integration: esphome, by-code-owner, code-quality, Quality Scale: platinum

#146457 Fix typo in overseerr component docstring
  homeassistant/components/overseerr/sensor.py
Labels: cla-signed, small-pr, code-quality, Quality Scale: platinum, code-owner-approved, integration: overseerr

#146277 Bug fix for Telegram bot integration: fix async_unload_entry error for polling bot
  homeassistant/components/telegram_bot/__init__.py
  homeassistant/components/telegram_bot/bot.py
  homeassistant/components/telegram_bot/polling.py
Labels: cla-signed, integration: telegram_bot, small-pr, bugfix, Quality Scale: legacy

#146460 Catch exception before retrying in AirGradient
  homeassistant/components/airgradient/coordinator.py
  tests/components/airgradient/test_init.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: airgradient

#146450 Update wording deprecated system package integration repair
  homeassistant/components/homeassistant/strings.json
Labels: core, cla-signed, small-pr, integration: homeassistant, by-code-owner, code-quality, Quality Scale: internal

#146471 Avoid closing shared aiohttp session in Vodafone Station
  homeassistant/components/vodafone_station/__init__.py
  homeassistant/components/vodafone_station/config_flow.py
  homeassistant/components/vodafone_station/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: platinum, integration: vodafone_station

#146464 Add tests for initial state of OpenUV sensors
  tests/components/openuv/conftest.py
  tests/components/openuv/snapshots/test_binary_sensor.ambr
  tests/components/openuv/snapshots/test_sensor.ambr
  tests/components/openuv/test_binary_sensor.py
  tests/components/openuv/test_sensor.py
Labels: cla-signed, small-pr, integration: openuv, has-tests, code-quality, Quality Scale: No score

#146472 Fix EntityCategory for binary_sensor platform in Amazon Devices
  homeassistant/components/amazon_devices/binary_sensor.py
  tests/components/amazon_devices/snapshots/test_binary_sensor.ambr
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: bronze, integration: amazon_devices

#144827 Improve support for trigger platforms with multiple triggers
  homeassistant/components/zwave_js/device_trigger.py
  homeassistant/components/zwave_js/trigger.py
  homeassistant/components/zwave_js/triggers/event.py
  homeassistant/components/zwave_js/triggers/value_updated.py
  homeassistant/helpers/trigger.py
  tests/components/zwave_js/test_trigger.py
Labels: core, cla-signed, new-feature, has-tests, integration: zwave_js, Quality Scale: No score

#146491 Bump intents to 2025.6.10
  homeassistant/components/conversation/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  script/hassfest/docker/Dockerfile
Labels: core, cla-signed, integration: conversation, small-pr, dependency, by-code-owner, Quality Scale: internal

#146432 Drop deprecated add_event service in google
  homeassistant/components/google/__init__.py
  tests/components/google/test_init.py
Labels: breaking-change, cla-signed, integration: google, small-pr, has-tests, Quality Scale: No score

#146490 Update pywizlight to 0.6.3
  homeassistant/components/wiz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/wiz/test_light.py
Labels: cla-signed, small-pr, has-tests, dependency, integration: wiz, Quality Scale: No score

#146192 Add service validation for send file for Telegram bot integration
  homeassistant/components/telegram_bot/bot.py
  homeassistant/components/telegram_bot/strings.json
  tests/components/telegram_bot/test_telegram_bot.py
Labels: cla-signed, integration: telegram_bot, has-tests, code-quality, Quality Scale: legacy

#146462 Create a deprecation/repair for `sensor.sun_solar_rising`
  homeassistant/components/sun/sensor.py
  homeassistant/components/sun/strings.json
  tests/components/sun/test_sensor.py
Labels: core, cla-signed, integration: sun, deprecation, Quality Scale: internal

#146453 Split deprecated system issue in 2 places
  homeassistant/components/hassio/__init__.py
  homeassistant/components/homeassistant/__init__.py
  tests/components/hassio/test_init.py
  tests/components/homeassistant/test_init.py
Labels: core, cla-signed, integration: hassio, integration: homeassistant, has-tests, by-code-owner, bugfix, Quality Scale: internal

#146514 Bump sensorpush-api to 2.1.3
  homeassistant/components/sensorpush_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, integration: sensorpush_cloud, Quality Scale: bronze

#146515 Bump weheat to 2025.6.10
  homeassistant/components/weheat/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: weheat

#146513 Bump pybotvac to 0.0.28
  homeassistant/components/neato/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: neato, small-pr, dependency, Quality Scale: No score

#146516 Simplify helper_integration.async_handle_source_entity_changes
  homeassistant/components/derivative/__init__.py
  homeassistant/components/switch_as_x/__init__.py
  homeassistant/helpers/helper_integration.py
  tests/helpers/test_helper_integration.py
Labels: core, cla-signed, small-pr, integration: derivative, by-code-owner, code-quality, integration: switch_as_x, Quality Scale: No score, Quality Scale: internal

#146492 Fix solax state class of `Today's Generated Energy`
  homeassistant/components/solax/sensor.py
Labels: cla-signed, small-pr, integration: solax, bugfix, Quality Scale: No score

#146528 Correct misleading comment for const.ATTR_RESTORED
  homeassistant/const.py
Labels: core, cla-signed, small-pr, code-quality

#145050 Fix `delay_on` and `delay_off` restarting when a new trigger occurs during the delay
  homeassistant/components/template/binary_sensor.py
  tests/components/template/test_binary_sensor.py
Labels: cla-signed, small-pr, integration: template, has-tests, by-code-owner, bugfix, Quality Scale: internal

#145485 Adjust urllib3 constraint
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  script/hassfest/requirements.py
Labels: core, cla-signed, small-pr, code-quality, Quality Scale: No score

#146521 Handle changes to source entity in history_stats helper
  homeassistant/components/history_stats/__init__.py
  homeassistant/components/history_stats/config_flow.py
  tests/components/history_stats/test_init.py
Labels: cla-signed, small-pr, integration: history_stats, has-tests, bugfix, Quality Scale: internal

#146526 Handle changes to source entity in utility_meter
  homeassistant/components/utility_meter/__init__.py
  tests/components/utility_meter/test_init.py
Labels: cla-signed, small-pr, integration: utility_meter, has-tests, bugfix, Quality Scale: internal

#146538 Handle changes to source entities in generic_hygrostat helper
  homeassistant/components/generic_hygrostat/__init__.py
  tests/components/generic_hygrostat/test_init.py
Labels: cla-signed, integration: generic_hygrostat, has-tests, bugfix, Quality Scale: internal

#146544 Remove the Delete button on the ZwaveJS device page
  homeassistant/components/zwave_js/__init__.py
  tests/components/zwave_js/test_init.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: zwave_js, Quality Scale: No score

#146487 Add duplicate issue detection using GitHub AI models
  .github/workflows/detect-duplicate-issues.yml
Labels: cla-signed, small-pr, code-quality

#146536 Bump hdate to 1.1.1
  homeassistant/components/jewish_calendar/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: jewish_calendar, dependency, by-code-owner, Quality Scale: No score

#146546 Update types packages
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#146535 Bug fix for Telegram bot integration: Handle plain text parse_mode
  homeassistant/components/telegram_bot/bot.py
  homeassistant/components/telegram_bot/config_flow.py
  homeassistant/components/telegram_bot/services.yaml
  homeassistant/components/telegram_bot/strings.json
  tests/components/telegram_bot/test_config_flow.py
Labels: cla-signed, integration: telegram_bot, small-pr, has-tests, bugfix, Quality Scale: bronze

#146508 Simplify blink service actions
  homeassistant/components/blink/__init__.py
  homeassistant/components/blink/services.py
Labels: cla-signed, integration: blink, small-pr, code-quality, Quality Scale: No score

#146281 Add guide for Honeywell Lyric application credentials setup
  homeassistant/components/lyric/application_credentials.py
  homeassistant/components/lyric/strings.json
Labels: cla-signed, integration: lyric, small-pr, by-code-owner, code-quality, Quality Scale: No score

#146509 Simplify fully_kiosk service actions
  homeassistant/components/fully_kiosk/__init__.py
  homeassistant/components/fully_kiosk/services.py
Labels: cla-signed, code-quality, integration: fully_kiosk, Quality Scale: bronze

#146477 Remove previously deprecated StrEnum backport
  homeassistant/backports/enum.py
  pylint/plugins/hass_imports.py
  tests/test_backports.py
Labels: core, breaking-change, cla-signed, small-pr

#146547 Add non-English issue detection using GitHub AI models
  .github/workflows/detect-non-english-issues.yml
Labels: cla-signed, small-pr, code-quality

#146551 Update frontend to 20250531.2
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#146550 Remove unused attribute EntityInfo.custom_component
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
Labels: core, cla-signed, small-pr, code-quality

#145899 New helper for templating args in command_line
  homeassistant/components/command_line/notify.py
  homeassistant/components/command_line/sensor.py
  homeassistant/components/command_line/utils.py
  tests/components/command_line/test_notify.py
Labels: cla-signed, integration: command_line, has-tests, by-code-owner, code-quality, Quality Scale: legacy

#145966 Set suggested precision for Airthings sensors
  homeassistant/components/airthings/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: airthings, Quality Scale: No score

#146561 Add aiofiles to pyproject.toml
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, bugfix

#141533 Separate steps for openai_conversation options flow
  homeassistant/components/openai_conversation/config_flow.py
  homeassistant/components/openai_conversation/strings.json
  tests/components/openai_conversation/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, Quality Scale: No score, integration: openai_conversation

#145864 Support more dimmer devices in fibaro
  homeassistant/components/fibaro/light.py
  tests/components/fibaro/conftest.py
  tests/components/fibaro/test_light.py
Labels: cla-signed, small-pr, new-feature, integration: fibaro, by-code-owner, Quality Scale: No score

#146557 Add strings for pick implementation
  homeassistant/components/electric_kiwi/strings.json
  homeassistant/components/fitbit/strings.json
  homeassistant/components/geocaching/strings.json
  homeassistant/components/google/strings.json
  homeassistant/components/google_assistant_sdk/strings.json
  homeassistant/components/google_drive/strings.json
  homeassistant/components/google_mail/strings.json
  homeassistant/components/google_photos/strings.json
  homeassistant/components/google_sheets/strings.json
  homeassistant/components/google_tasks/strings.json
  homeassistant/components/home_connect/strings.json
  homeassistant/components/husqvarna_automower/strings.json
  homeassistant/components/iotty/strings.json
  homeassistant/components/lametric/strings.json
  homeassistant/components/lyric/strings.json
  homeassistant/components/mcp/strings.json
  homeassistant/components/microbees/strings.json
  homeassistant/components/miele/strings.json
  homeassistant/components/monzo/strings.json
  homeassistant/components/myuplink/strings.json
  homeassistant/components/neato/strings.json
  homeassistant/components/nest/strings.json
  homeassistant/components/netatmo/strings.json
  homeassistant/components/ondilo_ico/strings.json
  homeassistant/components/onedrive/strings.json
  homeassistant/components/point/strings.json
  homeassistant/components/senz/strings.json
  homeassistant/components/smappee/strings.json
  homeassistant/components/smartthings/strings.json
  homeassistant/components/spotify/strings.json
  homeassistant/components/tesla_fleet/strings.json
  homeassistant/components/toon/strings.json
  homeassistant/components/weheat/strings.json
  homeassistant/components/withings/strings.json
  homeassistant/components/xbox/strings.json
  homeassistant/components/yale/strings.json
  homeassistant/components/yolink/strings.json
  homeassistant/strings.json
Labels: cla-signed, bugfix

#146612 Simplify synology_dsm service actions
  homeassistant/components/synology_dsm/__init__.py
  homeassistant/components/synology_dsm/services.py
Labels: cla-signed, integration: synology_dsm, code-quality, Quality Scale: No score
