Repository home-assistant/core, pull requests merged in 2025-07, with the labels that each got.

#147834 Use (new) common state "Full" in `enphase_envoy`
  homeassistant/components/enphase_envoy/strings.json
Labels: cla-signed, small-pr, integration: enphase_envoy, code-quality, Quality Scale: platinum, code-owner-approved

#147739 Add more mac address prefixes for discovery to PlayStation Network
  homeassistant/components/playstation_network/manifest.json
  homeassistant/generated/dhcp.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, Quality Scale: bronze, integration: playstation_network

#147837 Fix invalid configuration of MQTT device QoS option in subentry flow
  homeassistant/components/mqtt/config_flow.py
  tests/components/mqtt/test_config_flow.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#147848 Use (new) common state "Full" in `overkiz`
  homeassistant/components/overkiz/strings.json
Labels: cla-signed, small-pr, code-quality, integration: overkiz, Quality Scale: No score

#147849 Implement suggested_display_precision for ESPHome
  homeassistant/components/esphome/sensor.py
  tests/components/esphome/test_entity.py
  tests/components/esphome/test_sensor.py
Labels: breaking-change, cla-signed, small-pr, integration: esphome, has-tests, by-code-owner, Quality Scale: platinum

#147858 Correct ollama config entry migration
  homeassistant/components/ollama/__init__.py
  homeassistant/components/ollama/config_flow.py
  tests/components/ollama/test_init.py
Labels: cla-signed, has-tests, bugfix, Quality Scale: No score, integration: ollama

#147857 Correct anthropic config entry migration
  homeassistant/components/anthropic/__init__.py
  homeassistant/components/anthropic/config_flow.py
  tests/components/anthropic/test_init.py
Labels: cla-signed, has-tests, bugfix, Quality Scale: No score, integration: anthropic

#147859 Correct openai conversation config entry migration
  homeassistant/components/openai_conversation/__init__.py
  homeassistant/components/openai_conversation/config_flow.py
  tests/components/openai_conversation/test_init.py
Labels: cla-signed, has-tests, bugfix, Quality Scale: No score, integration: openai_conversation

#146075 Fix wrong state in Husqvarna Automower
  homeassistant/components/husqvarna_automower/const.py
  homeassistant/components/husqvarna_automower/lawn_mower.py
  homeassistant/components/husqvarna_automower/sensor.py
  tests/components/husqvarna_automower/test_lawn_mower.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: silver, integration: husqvarna_automower

#147821 Use correctly formatted MAC in knocki tests
  tests/components/knocki/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: knocki

#147866 Use correctly formatted MAC in sma tests
  tests/components/sma/test_config_flow.py
Labels: cla-signed, small-pr, integration: sma, has-tests, code-quality, Quality Scale: No score

#147861 Move async_reload on updates in async_setup_entry in Ollama
  homeassistant/components/ollama/__init__.py
  homeassistant/components/ollama/conversation.py
Labels: cla-signed, small-pr, new-feature, Quality Scale: No score, integration: ollama

#147863 Move async_reload on updates in async_setup_entry in OpenAI Conversation
  homeassistant/components/openai_conversation/__init__.py
  homeassistant/components/openai_conversation/conversation.py
Labels: cla-signed, small-pr, new-feature, by-code-owner, Quality Scale: No score, integration: openai_conversation

#146501 Capitalize "version" in Tesla fleet strings
  homeassistant/components/tesla_fleet/strings.json
  tests/components/tesla_fleet/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: tesla_fleet

#147787 fix state_class for water used today sensor
  homeassistant/components/drop_connect/sensor.py
  tests/components/drop_connect/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: drop_connect

#142865 Change default slave id from 0 to 1 in modbus actions
  homeassistant/components/modbus/modbus.py
  tests/components/modbus/test_init.py
Labels: cla-signed, integration: modbus, small-pr, bugfix, Quality Scale: No score

#147874 Use correctly formatted MAC in lamarzocco tests
  tests/components/lamarzocco/conftest.py
  tests/components/lamarzocco/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: platinum, code-owner-approved, integration: lamarzocco

#147877 Initialize EsphomeEntity._has_state
  homeassistant/components/esphome/entity.py
Labels: cla-signed, small-pr, integration: esphome, bugfix, Quality Scale: platinum, code-owner-approved

#147876 Use correctly formatted MAC in wmspro tests
  tests/components/wmspro/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: No score, integration: wmspro

#147785 Add multiple LLM API support for MCP Server
  homeassistant/components/mcp_server/config_flow.py
  homeassistant/components/mcp_server/server.py
  homeassistant/components/mcp_server/strings.json
  tests/components/mcp_server/conftest.py
  tests/components/mcp_server/test_config_flow.py
  tests/components/mcp_server/test_http.py
Labels: cla-signed, small-pr, new-feature, has-tests, Quality Scale: silver, integration: mcp_server

#147844 Fix error in last online sensor of PlayStation integration
  homeassistant/components/playstation_network/sensor.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: bronze, integration: playstation_network

#147879 Update frontend to 20250701.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#147643 Include chat ID in Telegram bot subentry title
  homeassistant/components/telegram_bot/config_flow.py
  tests/components/telegram_bot/test_config_flow.py
Labels: cla-signed, integration: telegram_bot, small-pr, new-feature, has-tests, Quality Scale: bronze

#146965 Fix Meteo france Ciel clair condition mapping
  homeassistant/components/meteo_france/weather.py
Labels: cla-signed, small-pr, integration: meteo_france, bugfix, Quality Scale: No score

#147880 Bump VoIP utils to 0.3.3
  homeassistant/components/voip/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: internal, integration: voip

#147887 Use correctly formatted MAC in bond tests
  tests/components/bond/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, code-quality, integration: bond, Quality Scale: No score

#147891 Use entity_registry_enabled_by_default fixture in dsmr_reader tests
  tests/components/dsmr_reader/test_definitions.py
Labels: cla-signed, small-pr, has-tests, integration: dsmr_reader, code-quality, Quality Scale: No score

#147831 Add switch to enable/disable boost in IronOS integration
  homeassistant/components/iron_os/icons.json
  homeassistant/components/iron_os/number.py
  homeassistant/components/iron_os/strings.json
  homeassistant/components/iron_os/switch.py
  tests/components/iron_os/snapshots/test_switch.ambr
  tests/components/iron_os/test_number.py
  tests/components/iron_os/test_switch.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: platinum, integration: iron_os

#147836 Use (new) common state "Empty" for water level in `switchbot`
  homeassistant/components/switchbot/strings.json
Labels: cla-signed, small-pr, integration: switchbot, code-quality, Quality Scale: gold

#147892 Set Entity._platform_state in google_assistant tests
  tests/components/google_assistant/test_smart_home.py
Labels: core, cla-signed, integration: google_assistant, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score

#147813 Add support for opening state in template lock
  homeassistant/components/template/lock.py
  tests/components/template/test_lock.py
Labels: cla-signed, small-pr, new-feature, integration: template, has-tests, Quality Scale: internal

#147908 Bump eheimdigital to 1.3.0
  homeassistant/components/eheimdigital/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: eheimdigital, Quality Scale: bronze

#147918 Swap the Models label for the model name not it's display name,
  homeassistant/components/google_generative_ai_conversation/config_flow.py
  tests/components/google_generative_ai_conversation/test_config_flow.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: google_generative_ai_conversation

#147920 Bump bluetooth-data-tools to 1.28.2
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/ld2410_ble/manifest.json
  homeassistant/components/led_ble/manifest.json
  homeassistant/components/private_ble_device/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, integration: led_ble, Quality Scale: No score, Quality Scale: internal, integration: ld2410_ble, integration: private_ble_device

#147912 Bump aioamazondevices to 3.2.1
  homeassistant/components/alexa_devices/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: bronze, integration: alexa_devices

#147783 Bump Python Matter server to 8.0.0
  homeassistant/components/matter/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, integration: matter, Quality Scale: No score

#147924 Bump thermopro-ble to 0.13.1
  homeassistant/components/thermopro/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: thermopro, Quality Scale: No score

#147926 Update Dockerfile.dev to only use uv for Python
  Dockerfile.dev
Labels: cla-signed, small-pr, bugfix

#147915 Fix Online ID string in PlayStation Network integration
  homeassistant/components/playstation_network/strings.json
  tests/components/playstation_network/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: bronze, integration: playstation_network

#147899 Skip processing request body for HTTP HEAD requests
  homeassistant/components/hassio/ingress.py
Labels: core, cla-signed, integration: hassio, small-pr, bugfix, Quality Scale: internal

#147938 Bump deebot-client to 13.5.0
  homeassistant/components/ecovacs/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: ecovacs, dependency, by-code-owner, Quality Scale: No score

#147942 Update pytest-cov to 6.2.1
  requirements_test.txt
Labels: cla-signed, small-pr, dependency, dependency-bump

#147723 Add missing exception translations to LCN
  homeassistant/components/lcn/__init__.py
  homeassistant/components/lcn/helpers.py
  homeassistant/components/lcn/quality_scale.yaml
  homeassistant/components/lcn/services.py
  homeassistant/components/lcn/strings.json
  tests/components/lcn/test_services.py
  tests/components/lcn/test_websocket.py
Labels: cla-signed, integration: lcn, by-code-owner, code-quality, quality-scale, Quality Scale: bronze

#147868 Remove the deprecated interface paramater for velbus
  homeassistant/components/velbus/const.py
  homeassistant/components/velbus/services.py
  homeassistant/components/velbus/services.yaml
  homeassistant/components/velbus/strings.json
  tests/components/velbus/test_services.py
Labels: breaking-change, cla-signed, integration: velbus, by-code-owner, Quality Scale: bronze

#147730 UnifiProtect Change log level from debug to error for connection exceptions in ProtectFlowHandler
  homeassistant/components/unifiprotect/config_flow.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, integration: unifiprotect, Quality Scale: No score

#147882 Adjust logic related to entity platform state
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
Labels: core, cla-signed, bugfix

#147955 Z-Wave JS: rename controller to adapter according to term decision
  homeassistant/components/zwave_js/strings.json
Labels: cla-signed, small-pr, code-quality, integration: zwave_js, Quality Scale: No score

#147956 Change breaking version for battery props in vacuum
  homeassistant/components/vacuum/__init__.py
  tests/components/vacuum/test_init.py
Labels: core, cla-signed, integration: vacuum, small-pr, has-tests, bugfix, Quality Scale: internal

#147978 Bump switchbot-api to v2.7.0
  homeassistant/components/switchbot_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: switchbot_cloud

#145004 Allow LevelControl Cluster for Matter Pump devices
  homeassistant/components/matter/number.py
  homeassistant/components/matter/strings.json
  tests/components/matter/snapshots/test_number.ambr
  tests/components/matter/test_number.py
Labels: cla-signed, small-pr, new-feature, integration: matter, Quality Scale: No score

#147980 Remove deprecated battery properties from demo vacuum
  homeassistant/components/demo/vacuum.py
  tests/components/demo/test_vacuum.py
Labels: core, cla-signed, integration: demo, small-pr, new-feature, has-tests, Quality Scale: internal

#147983 KNX: Use a ConfigExtractor helper class for value retrieval
  homeassistant/components/knx/binary_sensor.py
  homeassistant/components/knx/cover.py
  homeassistant/components/knx/light.py
  homeassistant/components/knx/storage/util.py
  homeassistant/components/knx/switch.py
Labels: cla-signed, integration: knx, by-code-owner, code-quality, Quality Scale: silver

#147984 Use common config_flow strings in `vegehub`
  homeassistant/components/vegehub/strings.json
Labels: cla-signed, small-pr, code-quality, integration: vegehub, Quality Scale: bronze

#147987 Bump aiounifi to v84
  homeassistant/components/unifi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: unifi, by-code-owner, bugfix, Quality Scale: No score

#147962 Fix missing port in samsungtv
  homeassistant/components/samsungtv/config_flow.py
  tests/components/samsungtv/test_config_flow.py
Labels: cla-signed, small-pr, integration: samsungtv, has-tests, by-code-owner, bugfix, Quality Scale: bronze

#148013 Use runtime_data in melnor
  homeassistant/components/melnor/__init__.py
  homeassistant/components/melnor/coordinator.py
  homeassistant/components/melnor/number.py
  homeassistant/components/melnor/sensor.py
  homeassistant/components/melnor/switch.py
  homeassistant/components/melnor/time.py
Labels: cla-signed, small-pr, code-quality, integration: melnor, Quality Scale: No score

#148014 Move met_eireann coordinator to separate module
  homeassistant/components/met_eireann/__init__.py
  homeassistant/components/met_eireann/coordinator.py
  homeassistant/components/met_eireann/weather.py
  tests/components/met_eireann/__init__.py
  tests/components/met_eireann/test_weather.py
Labels: cla-signed, has-tests, code-quality, integration: met_eireann, Quality Scale: No score

#148008 Fix hass.data reference in lookin
  homeassistant/components/lookin/__init__.py
Labels: cla-signed, small-pr, bugfix, integration: lookin, Quality Scale: No score

#148015 Use entry.async_on_unload in meteo_france
  homeassistant/components/meteo_france/__init__.py
  homeassistant/components/meteo_france/const.py
Labels: cla-signed, small-pr, integration: meteo_france, code-quality, Quality Scale: No score

#148019 Clarify description of autorelock setting in `zwave_js`
  homeassistant/components/zwave_js/strings.json
Labels: cla-signed, small-pr, code-quality, integration: zwave_js, Quality Scale: No score

#148018 Move meteoclimatic coordinator to separate module
  homeassistant/components/meteoclimatic/__init__.py
  homeassistant/components/meteoclimatic/coordinator.py
  homeassistant/components/meteoclimatic/sensor.py
  homeassistant/components/meteoclimatic/weather.py
  tests/components/meteoclimatic/conftest.py
Labels: cla-signed, has-tests, code-quality, integration: meteoclimatic, Quality Scale: No score

#148009 Move medcom_ble coordinator to separate module
  homeassistant/components/medcom_ble/__init__.py
  homeassistant/components/medcom_ble/coordinator.py
  homeassistant/components/medcom_ble/sensor.py
Labels: cla-signed, code-quality, Quality Scale: No score, integration: medcom_ble

#148040 Bump hass-nabucasa from 0.104.0 to 0.105.0
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: cloud, small-pr, dependency, by-code-owner, Quality Scale: No score

#148048 Bump aioesphomeapi to 34.1.0
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/esphome/snapshots/test_diagnostics.ambr
  tests/components/esphome/test_diagnostics.py
Labels: cla-signed, small-pr, integration: esphome, dependency, by-code-owner, Quality Scale: platinum

#148057 Bump aiorussound to 4.7.0
  homeassistant/components/russound_rio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: russound_rio, dependency, by-code-owner, Quality Scale: silver

#147024 Set timeout for remote calendar
  homeassistant/components/remote_calendar/client.py
  homeassistant/components/remote_calendar/config_flow.py
  homeassistant/components/remote_calendar/coordinator.py
  homeassistant/components/remote_calendar/strings.json
  tests/components/remote_calendar/test_config_flow.py
  tests/components/remote_calendar/test_init.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: silver, integration: remote_calendar

#148058 Remove unused module in tuya tests
  tests/components/tuya/common.py
Labels: cla-signed, small-pr, integration: tuya, has-tests, code-quality, Quality Scale: No score

#148021 Improve `helpers.frame.report_usage` when called from outside the event loop
  homeassistant/helpers/frame.py
Labels: core, cla-signed, small-pr, new-feature

#148046 Use AndroidTVRemoteConfigEntry
  homeassistant/components/androidtv_remote/__init__.py
  homeassistant/components/androidtv_remote/config_flow.py
  homeassistant/components/androidtv_remote/diagnostics.py
  homeassistant/components/androidtv_remote/entity.py
  homeassistant/components/androidtv_remote/helpers.py
  homeassistant/components/androidtv_remote/media_player.py
  homeassistant/components/androidtv_remote/remote.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: androidtv_remote

#148042 Bump androidtvremote2 to 0.2.3
  homeassistant/components/androidtv_remote/manifest.json
  homeassistant/components/androidtv_remote/media_player.py
  homeassistant/components/androidtv_remote/remote.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: androidtv_remote

#148070 Bump pyenphase to 2.2.0
  homeassistant/components/enphase_envoy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: enphase_envoy, dependency, by-code-owner, Quality Scale: platinum

#148044 Add reconfigure flow in Android TV Remote
  homeassistant/components/androidtv_remote/config_flow.py
  homeassistant/components/androidtv_remote/strings.json
  tests/components/androidtv_remote/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: androidtv_remote

#148072 Cancel enphase mac verification on unload.
  homeassistant/components/enphase_envoy/__init__.py
Labels: cla-signed, small-pr, integration: enphase_envoy, by-code-owner, bugfix, Quality Scale: platinum

#147753 Add sensor attributes restore to modem_callerid integration
  homeassistant/components/modem_callerid/sensor.py
Labels: cla-signed, small-pr, new-feature, integration: modem_callerid, Quality Scale: No score

#147529 Allow core integrations to describe their conditions
  homeassistant/bootstrap.py
  homeassistant/components/websocket_api/commands.py
  homeassistant/helpers/condition.py
  homeassistant/loader.py
  script/hassfest/__main__.py
  script/hassfest/conditions.py
  script/hassfest/icons.py
  script/hassfest/translations.py
  tests/common.py
  tests/components/websocket_api/test_commands.py
  tests/helpers/test_condition.py
Labels: core, cla-signed, integration: websocket_api, new-feature, has-tests, by-code-owner, Quality Scale: internal

#148076 Add redirect URL in Google Assistant SDK setup
  homeassistant/components/google_assistant_sdk/application_credentials.py
  homeassistant/components/google_assistant_sdk/strings.json
  tests/components/google_assistant_sdk/test_application_credentials.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, smash, Quality Scale: No score, integration: google_assistant_sdk

#148099 Add data_description to Opower forms
  homeassistant/components/opower/strings.json
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: No score, integration: opower

#148141 [ci] Fix typing issue with aiohttp and aiosignal
  .github/workflows/ci.yaml
  homeassistant/components/http/ban.py
Labels: core, cla-signed, integration: http, small-pr, code-quality, smash, Quality Scale: internal

#148137 Replace MediaPlayerState.STANDBY with MediaPlayerState.OFF in roku
  homeassistant/components/roku/media_player.py
  tests/components/roku/test_media_player.py
Labels: breaking-change, cla-signed, small-pr, integration: roku, Quality Scale: No score

#148130 Replace MediaPlayerState.STANDBY with MediaPlayerState.IDLE in androidtv
  homeassistant/components/androidtv/media_player.py
  tests/components/androidtv/test_media_player.py
Labels: breaking-change, cla-signed, small-pr, integration: androidtv, Quality Scale: No score

#148138 Replace MediaPlayerState.STANDBY with MediaPlayerState.OFF in snapcast
  homeassistant/components/snapcast/media_player.py
Labels: breaking-change, cla-signed, small-pr, integration: snapcast, Quality Scale: No score

#148134 Replace MediaPlayerState.STANDBY with MediaPlayerState.OFF in lookin
  homeassistant/components/lookin/media_player.py
Labels: breaking-change, cla-signed, small-pr, integration: lookin, Quality Scale: No score

#148050 Fix Telegram bots using plain text parser failing to load on restart
  homeassistant/components/telegram_bot/bot.py
  homeassistant/components/telegram_bot/config_flow.py
  homeassistant/components/telegram_bot/services.yaml
  tests/components/telegram_bot/test_config_flow.py
  tests/components/telegram_bot/test_telegram_bot.py
Labels: cla-signed, integration: telegram_bot, small-pr, has-tests, by-code-owner, bugfix, smash, Quality Scale: bronze

#148082 Bump aioamazondevices to 3.2.3
  homeassistant/components/alexa_devices/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, smash, Quality Scale: bronze, integration: alexa_devices

#148078 Bump aioautomower to 1.2.0
  homeassistant/components/husqvarna_automower/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/husqvarna_automower/snapshots/test_diagnostics.ambr
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, smash, Quality Scale: silver, integration: husqvarna_automower

#148152 Bump venstarcolortouch to 0.21
  homeassistant/components/venstar/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: venstar, dependency, Quality Scale: No score

#148158 Remove cv.SUN_CONDITION_SCHEMA
  homeassistant/helpers/config_validation.py
Labels: core, cla-signed, small-pr, code-quality

#148162 Support translating number selector UoM
  homeassistant/components/derivative/config_flow.py
  homeassistant/components/derivative/strings.json
  homeassistant/helpers/selector.py
  script/hassfest/translations.py
  tests/helpers/test_selector.py
Labels: core, cla-signed, small-pr, new-feature, integration: derivative, by-code-owner, Quality Scale: No score

#148168 Delete stale icon translation in Husqvarna Automower
  homeassistant/components/husqvarna_automower/icons.json
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: silver, integration: husqvarna_automower

#148133 Replace MediaPlayerState.STANDBY with MediaPlayerState.OFF in cambridge_audio
  homeassistant/components/cambridge_audio/media_player.py
  tests/components/cambridge_audio/test_media_player.py
Labels: breaking-change, cla-signed, small-pr, Quality Scale: platinum, integration: cambridge_audio

#148036 Wallbox, Improve test setup
  tests/components/wallbox/__init__.py
  tests/components/wallbox/conftest.py
  tests/components/wallbox/test_config_flow.py
  tests/components/wallbox/test_init.py
  tests/components/wallbox/test_lock.py
  tests/components/wallbox/test_number.py
  tests/components/wallbox/test_select.py
  tests/components/wallbox/test_sensor.py
  tests/components/wallbox/test_switch.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: wallbox, smash, Quality Scale: No score

#148171 2025.7.1
  .github/workflows/ci.yaml
  homeassistant/components/alexa_devices/manifest.json
  homeassistant/components/cloud/manifest.json
  homeassistant/components/enphase_envoy/__init__.py
  homeassistant/components/enphase_envoy/manifest.json
  homeassistant/components/frontend/manifest.json
  homeassistant/components/http/ban.py
  homeassistant/components/music_assistant/manifest.json
  homeassistant/components/music_assistant/media_player.py
  homeassistant/components/remote_calendar/client.py
  homeassistant/components/remote_calendar/config_flow.py
  homeassistant/components/remote_calendar/coordinator.py
  homeassistant/components/remote_calendar/strings.json
  homeassistant/components/samsungtv/config_flow.py
  homeassistant/components/telegram_bot/bot.py
  homeassistant/components/telegram_bot/config_flow.py
  homeassistant/components/telegram_bot/services.yaml
  homeassistant/components/unifi/manifest.json
  homeassistant/components/venstar/manifest.json
  homeassistant/components/zha/manifest.json
  homeassistant/const.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/remote_calendar/test_config_flow.py
  tests/components/remote_calendar/test_init.py
  tests/components/samsungtv/test_config_flow.py
  tests/components/telegram_bot/test_config_flow.py
  tests/components/telegram_bot/test_telegram_bot.py
  tests/components/zha/snapshots/test_diagnostics.ambr
Labels: core, cla-signed, merging-to-master, has-tests

#147913 Add zeroconf discovery to philips_js
  homeassistant/components/philips_js/config_flow.py
  homeassistant/components/philips_js/manifest.json
  homeassistant/components/philips_js/strings.json
  homeassistant/generated/zeroconf.py
  tests/components/philips_js/__init__.py
  tests/components/philips_js/conftest.py
  tests/components/philips_js/test_config_flow.py
Labels: cla-signed, new-feature, integration: philips_js, has-tests, by-code-owner, smash, Quality Scale: No score

#148101 Bump pysmlight to v0.2.7
  homeassistant/components/smlight/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: silver, integration: smlight

#147468 Make derivative sensor unavailable when source sensor is unavailable
  homeassistant/components/derivative/sensor.py
  tests/components/derivative/test_init.py
  tests/components/derivative/test_sensor.py
Labels: cla-signed, new-feature, has-tests, integration: derivative, by-code-owner, smash, Quality Scale: No score

#147375 Use brightness stored in hardware device when switching LCN lights
  homeassistant/components/lcn/light.py
  tests/components/lcn/test_light.py
Labels: cla-signed, small-pr, new-feature, integration: lcn, has-tests, by-code-owner, smash, Quality Scale: No score

#147064 Sonos remove unneeded mocking from test
  tests/components/sonos/test_init.py
Labels: cla-signed, small-pr, integration: sonos, has-tests, by-code-owner, code-quality, smash, Quality Scale: No score

#146656 Remove obsolete string unit_system in here_travel_time
  homeassistant/components/here_travel_time/strings.json
Labels: cla-signed, small-pr, integration: here_travel_time, by-code-owner, code-quality, smash, Quality Scale: No score

#144107 Add Deadlock (SecureMode) support to the Yale Access Bluetooth integration
  homeassistant/components/august/manifest.json
  homeassistant/components/yale/manifest.json
  homeassistant/components/yalexs_ble/__init__.py
  homeassistant/components/yalexs_ble/icons.json
  homeassistant/components/yalexs_ble/lock.py
  homeassistant/components/yalexs_ble/manifest.json
  homeassistant/components/yalexs_ble/strings.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, new-feature, smash

#147957 Constant polling for Husqvarna Automower
  homeassistant/components/husqvarna_automower/coordinator.py
  tests/components/husqvarna_automower/test_init.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: silver, integration: husqvarna_automower

#147948 Improve (and align) deprecation messages
  homeassistant/helpers/deprecation.py
  tests/common.py
  tests/components/hassio/test_init.py
  tests/helpers/test_deprecation.py
  tests/helpers/test_json.py
  tests/test_const.py
  tests/util/test_dt.py
Labels: core, cla-signed, small-pr, code-quality

#148117 Add debug logs to trace enphase auth process at load.
  homeassistant/components/enphase_envoy/coordinator.py
  tests/components/enphase_envoy/test_init.py
Labels: cla-signed, small-pr, integration: enphase_envoy, has-tests, by-code-owner, code-quality, Quality Scale: platinum

#147317 Bump python-smarttub to 0.0.43
  homeassistant/components/smarttub/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: smarttub, Quality Scale: No score

#142191 Add reconfiguration support for keenetic_ndms2 integration
  homeassistant/components/keenetic_ndms2/config_flow.py
  homeassistant/components/keenetic_ndms2/strings.json
  tests/components/keenetic_ndms2/__init__.py
  tests/components/keenetic_ndms2/test_config_flow.py
Labels: cla-signed, new-feature, integration: keenetic_ndms2, has-tests, by-code-owner, smash, Quality Scale: No score

#145721 Add a preview to history_stats options flow
  homeassistant/components/history_stats/config_flow.py
  homeassistant/components/history_stats/coordinator.py
  homeassistant/components/history_stats/data.py
  homeassistant/components/history_stats/helpers.py
  homeassistant/components/history_stats/sensor.py
  tests/components/history_stats/test_config_flow.py
Labels: cla-signed, new-feature, integration: history_stats, has-tests, second-opinion-wanted, Quality Scale: internal

#148022 Fix spelling of "auto" prefixes in `zha`
  homeassistant/components/zha/strings.json
Labels: cla-signed, integration: zha, small-pr, code-quality, Quality Scale: No score

#148034 Add initial tuya snapshot tests
  tests/components/tuya/__init__.py
  tests/components/tuya/conftest.py
  tests/components/tuya/fixtures/cs_arete_two_12l_dehumidifier_air_purifier.json
  tests/components/tuya/fixtures/mcs_door_sensor.json
  tests/components/tuya/snapshots/test_config_flow.ambr
  tests/components/tuya/snapshots/test_fan.ambr
  tests/components/tuya/snapshots/test_humidifier.ambr
  tests/components/tuya/snapshots/test_select.ambr
  tests/components/tuya/snapshots/test_sensor.ambr
  tests/components/tuya/test_fan.py
  tests/components/tuya/test_humidifier.py
  tests/components/tuya/test_select.py
  tests/components/tuya/test_sensor.py
Labels: cla-signed, small-pr, integration: tuya, has-tests, code-quality, Quality Scale: No score

#148180 Include path when media source file can be accessed on disk
  homeassistant/components/media_source/local_source.py
  homeassistant/components/media_source/models.py
  tests/components/media_source/test_local_source.py
  tests/components/system_bridge/snapshots/test_media_source.ambr
Labels: cla-signed, small-pr, new-feature, has-tests, integration: media_source, Quality Scale: internal

#147258 Add reauth flow to homee
  homeassistant/components/homee/__init__.py
  homeassistant/components/homee/config_flow.py
  homeassistant/components/homee/strings.json
  tests/components/homee/conftest.py
  tests/components/homee/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: bronze, integration: homee

#147969 Starlink's last boot time occasional, back and forth changes by 1 s fix
  homeassistant/components/starlink/sensor.py
Labels: cla-signed, small-pr, bugfix, integration: starlink, Quality Scale: No score

#147187 Squeezebox: Fix tracks not having thumbnails
  homeassistant/components/squeezebox/browse_media.py
Labels: cla-signed, small-pr, integration: squeezebox, bugfix, Quality Scale: No score

#147185 Squeezebox: Fix track selection in media browser
  homeassistant/components/squeezebox/browse_media.py
Labels: cla-signed, small-pr, integration: squeezebox, bugfix, Quality Scale: No score

#147042 Make connected stations coordinator a dict in devolo Home Network
  homeassistant/components/devolo_home_network/coordinator.py
  homeassistant/components/devolo_home_network/device_tracker.py
  homeassistant/components/devolo_home_network/entity.py
  homeassistant/components/devolo_home_network/sensor.py
Labels: cla-signed, small-pr, by-code-owner, code-quality, integration: devolo_home_network, Quality Scale: No score

#148214 Fix Miele hob plate power step typo
  homeassistant/components/miele/const.py
  tests/components/miele/snapshots/test_sensor.ambr
Labels: cla-signed, small-pr, bugfix, Quality Scale: bronze, integration: miele

#147639 Add binary sensor platform to PlayStation Network Integration
  homeassistant/components/playstation_network/__init__.py
  homeassistant/components/playstation_network/binary_sensor.py
  homeassistant/components/playstation_network/entity.py
  homeassistant/components/playstation_network/icons.json
  homeassistant/components/playstation_network/sensor.py
  homeassistant/components/playstation_network/strings.json
  tests/components/playstation_network/snapshots/test_binary_sensor.ambr
  tests/components/playstation_network/test_binary_sensor.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: bronze, integration: playstation_network

#148230 Change ZHA string "autoshutdown" to "auto-shutdown"
  homeassistant/components/zha/strings.json
Labels: cla-signed, integration: zha, small-pr, by-code-owner, code-quality, Quality Scale: No score

#148235 Bump aiorussound to 4.8.0
  homeassistant/components/russound_rio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: russound_rio, dependency, by-code-owner, Quality Scale: silver

#147979 Add service in Nord Pool for fetching normalized price indices
  homeassistant/components/nordpool/const.py
  homeassistant/components/nordpool/icons.json
  homeassistant/components/nordpool/services.py
  homeassistant/components/nordpool/services.yaml
  homeassistant/components/nordpool/strings.json
  tests/components/nordpool/fixtures/indices_15.json
  tests/components/nordpool/fixtures/indices_60.json
  tests/components/nordpool/snapshots/test_services.ambr
  tests/components/nordpool/test_services.py
Labels: cla-signed, new-feature, integration: nordpool, by-code-owner, Quality Scale: platinum

#148233 Bump pylamarzocco to 2.0.10
  homeassistant/components/lamarzocco/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: platinum, integration: lamarzocco

#148236 Add reauth flow to the Traccar Server integration
  homeassistant/components/traccar_server/config_flow.py
  homeassistant/components/traccar_server/coordinator.py
  homeassistant/components/traccar_server/strings.json
  tests/components/traccar_server/test_config_flow.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: traccar_server

#148258 Deduplicate strings in `nordpool` actions
  homeassistant/components/nordpool/strings.json
Labels: cla-signed, small-pr, integration: nordpool, code-quality, Quality Scale: platinum, code-owner-approved

#137128 Add Homee general tests
  tests/components/homee/fixtures/cover_with_position_slats.json
  tests/components/homee/fixtures/cover_without_position.json
  tests/components/homee/snapshots/test_diagnostics.ambr
  tests/components/homee/snapshots/test_init.ambr
  tests/components/homee/test_cover.py
  tests/components/homee/test_init.py
  tests/components/homee/test_sensor.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: bronze, integration: homee

#148261 Fix typo in `wrong_hub` abort message of `homee`
  homeassistant/components/homee/strings.json
Labels: cla-signed, small-pr, bugfix, Quality Scale: bronze, integration: homee

#148265 bump motionblinds to 0.6.29
  homeassistant/components/motion_blinds/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: motion_blinds, Quality Scale: No score

#148259 Bump sfrbox-api to 0.0.12
  homeassistant/components/sfr_box/manifest.json
  homeassistant/components/sfr_box/strings.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, Quality Scale: No score, integration: sfr_box

#148276 Translate number selector unit for utility_meter
  homeassistant/components/utility_meter/config_flow.py
  homeassistant/components/utility_meter/strings.json
Labels: cla-signed, small-pr, integration: utility_meter, code-quality, Quality Scale: internal

#148120 Add attachment support to AI task
  homeassistant/components/ai_task/__init__.py
  homeassistant/components/ai_task/const.py
  homeassistant/components/ai_task/manifest.json
  homeassistant/components/ai_task/services.yaml
  homeassistant/components/ai_task/strings.json
  homeassistant/components/ai_task/task.py
  tests/components/ai_task/conftest.py
  tests/components/ai_task/test_init.py
  tests/components/ai_task/test_task.py
Labels: cla-signed, new-feature, has-tests, Quality Scale: internal, integration: ai_task

#148225 Fix UTF-8 encoding for REST basic authentication
  homeassistant/components/rest/data.py
  tests/components/rest/test_binary_sensor.py
  tests/test_util/aiohttp.py
Labels: cla-signed, small-pr, integration: rest, has-tests, bugfix, Quality Scale: No score

#147705 Matter OperationalState CountdownTime
  homeassistant/components/matter/sensor.py
  homeassistant/components/matter/strings.json
  tests/components/matter/snapshots/test_sensor.ambr
  tests/components/matter/test_sensor.py
Labels: cla-signed, small-pr, new-feature, has-tests, integration: matter, Quality Scale: No score

#148200 Address some Wallbox quality scale issues
  homeassistant/components/wallbox/__init__.py
  homeassistant/components/wallbox/coordinator.py
  homeassistant/components/wallbox/lock.py
  homeassistant/components/wallbox/number.py
  homeassistant/components/wallbox/select.py
  homeassistant/components/wallbox/sensor.py
  homeassistant/components/wallbox/strings.json
  homeassistant/components/wallbox/switch.py
  tests/components/wallbox/conftest.py
  tests/components/wallbox/const.py
  tests/components/wallbox/test_config_flow.py
  tests/components/wallbox/test_init.py
  tests/components/wallbox/test_number.py
  tests/components/wallbox/test_select.py
Labels: cla-signed, has-tests, by-code-owner, code-quality, integration: wallbox, Quality Scale: No score, quality-scale

#148280 Improve translation_key of `EnergyEvseSupplyStateSensor` in `matter`
  homeassistant/components/matter/binary_sensor.py
  homeassistant/components/matter/strings.json
  tests/components/matter/snapshots/test_binary_sensor.ambr
  tests/components/matter/test_binary_sensor.py
Labels: cla-signed, small-pr, code-quality, integration: matter, Quality Scale: No score

#148322 Fix homee test
  tests/components/homee/test_init.py
Labels: cla-signed, small-pr, has-tests, code-quality, Quality Scale: bronze, integration: homee

#148332 Fix missing sentence-casing in `wallbox`
  homeassistant/components/wallbox/strings.json
Labels: cla-signed, small-pr, code-quality, integration: wallbox, Quality Scale: No score

#148087 Move target selector extractor method to common module
  homeassistant/components/homeassistant/__init__.py
  homeassistant/components/homekit/__init__.py
  homeassistant/components/lifx/manager.py
  homeassistant/components/unifiprotect/services.py
  homeassistant/helpers/service.py
  homeassistant/helpers/target.py
  tests/helpers/test_service.py
  tests/helpers/test_target.py
Labels: core, cla-signed, code-quality

#148335 Bump pyswitchbot to 0.68.1
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, dependency, by-code-owner, Quality Scale: gold

#148223 Fix REST sensor charset handling to respect Content-Type header
  homeassistant/components/rest/data.py
  tests/components/rest/test_sensor.py
  tests/test_util/aiohttp.py
Labels: core, cla-signed, small-pr, integration: rest, has-tests, bugfix, Quality Scale: No score

#147959 Don't log deprecation warning in vacuum until after entity added to hass
  homeassistant/components/vacuum/__init__.py
  tests/components/vacuum/test_init.py
Labels: core, cla-signed, integration: vacuum, small-pr, has-tests, bugfix, Quality Scale: internal

#148350 Bump openai to 1.93.0
  homeassistant/components/openai_conversation/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/openai_conversation/test_conversation.py
Labels: cla-signed, small-pr, has-tests, dependency, Quality Scale: No score, integration: openai_conversation

#148157 Move zone conditions to the zone integration
  homeassistant/components/geo_location/trigger.py
  homeassistant/components/zone/condition.py
  homeassistant/components/zone/trigger.py
  homeassistant/helpers/condition.py
  homeassistant/helpers/config_validation.py
  script/hassfest/conditions.py
  tests/components/zone/test_condition.py
  tests/helpers/test_condition.py
Labels: cla-signed, code-quality

#148352 Add translation for write failures in nibe_heatpump
  homeassistant/components/nibe_heatpump/coordinator.py
  homeassistant/components/nibe_heatpump/strings.json
  tests/components/nibe_heatpump/test_number.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: nibe_heatpump, Quality Scale: No score

#147900 Goodwe port502ftp support
  homeassistant/components/goodwe/__init__.py
  homeassistant/components/goodwe/config_flow.py
  homeassistant/components/goodwe/manifest.json
  homeassistant/components/goodwe/select.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, new-feature, integration: goodwe, Quality Scale: No score

#148377 Remove deprecated `max_health`, `habits` and `rewards` sensors from Habitica integration
  homeassistant/components/habitica/icons.json
  homeassistant/components/habitica/sensor.py
  homeassistant/components/habitica/strings.json
  tests/components/habitica/snapshots/test_sensor.ambr
  tests/components/habitica/test_sensor.py
Labels: breaking-change, cla-signed, small-pr, integration: habitica, has-tests, by-code-owner, Quality Scale: platinum

#148376 Add missing connection for gardena ble device
  homeassistant/components/gardena_bluetooth/__init__.py
  tests/components/gardena_bluetooth/snapshots/test_init.ambr
Labels: cla-signed, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score, integration: gardena_bluetooth

#148363 Bump holidays to 0.76
  homeassistant/components/holiday/manifest.json
  homeassistant/components/workday/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/workday/test_config_flow.py
  tests/components/workday/test_init.py
Labels: cla-signed, small-pr, integration: workday, dependency, by-code-owner, Quality Scale: No score, Quality Scale: internal, integration: holiday

#148148 Allow multiple set-cookie headers with hassio ingress
  homeassistant/components/hassio/ingress.py
  tests/components/hassio/test_ingress.py
Labels: core, cla-signed, integration: hassio, small-pr, bugfix, Quality Scale: internal

#148338 Adds claude-code feature to the devcontainer
  .devcontainer/devcontainer.json
Labels: cla-signed, small-pr, code-quality

#148297 Track ESPHome entities by (device_id, key) to support sub-devices with overlaping names
  homeassistant/components/esphome/entity.py
  homeassistant/components/esphome/entry_data.py
  homeassistant/components/esphome/manager.py
  tests/components/esphome/test_binary_sensor.py
  tests/components/esphome/test_entity.py
Labels: cla-signed, new-feature, integration: esphome, has-tests, by-code-owner, Quality Scale: platinum

#148337 Change how subscription information is fetched
  homeassistant/components/cloud/repairs.py
  homeassistant/components/cloud/subscription.py
  tests/components/cloud/conftest.py
  tests/components/cloud/test_http_api.py
  tests/components/cloud/test_subscription.py
Labels: core, cla-signed, integration: cloud, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score

#143737 Add support for ELV-SH-CTV Sensor to homematicip_cloud
  homeassistant/components/homematicip_cloud/icons.json
  homeassistant/components/homematicip_cloud/sensor.py
  homeassistant/components/homematicip_cloud/strings.json
  tests/components/homematicip_cloud/fixtures/homematicip_cloud.json
  tests/components/homematicip_cloud/test_device.py
  tests/components/homematicip_cloud/test_sensor.py
Labels: cla-signed, integration: homematicip_cloud, new-feature, has-tests, by-code-owner, code-quality, Quality Scale: No score

#145108 Emoncms add reconfigure flow
  homeassistant/components/emoncms/config_flow.py
  homeassistant/components/emoncms/strings.json
  tests/components/emoncms/conftest.py
  tests/components/emoncms/test_config_flow.py
Labels: cla-signed, new-feature, integration: emoncms, has-tests, by-code-owner, Quality Scale: No score
