Repository home-assistant/core, pull requests merged in 2025-04, with the labels that each got.

#141950 Add translations for flash options in `light.turn_on` action
  homeassistant/components/light/services.yaml
  homeassistant/components/light/strings.json
Labels: core, cla-signed, integration: light, small-pr, bugfix, Quality Scale: internal

#141965 Bump sensorpush-api to 2.1.2
  homeassistant/components/sensorpush_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: sensorpush_cloud, Quality Scale: bronze

#141967 Bump aiohttp to 3.11.15
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, dependency

#141972 Replace "a entity" with "an entity" in `isy994` user strings
  homeassistant/components/isy994/strings.json
Labels: cla-signed, integration: isy994, small-pr, bugfix, Quality Scale: No score

#141979 Fix typo "certificartes" in `fully_kiosk`
  homeassistant/components/fully_kiosk/strings.json
Labels: cla-signed, small-pr, bugfix, integration: fully_kiosk, Quality Scale: bronze

#141985 Add tests for renault QuotaLimitException
  tests/components/renault/conftest.py
  tests/components/renault/test_sensor.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, integration: renault, Quality Scale: silver

#129922 Move Z-Wave JS smoke, CO, CO2, Heat, Water problem entities to diagnostic
  homeassistant/components/zwave_js/binary_sensor.py
  tests/components/zwave_js/conftest.py
  tests/components/zwave_js/fixtures/zcombo_smoke_co_alarm_state.json
  tests/components/zwave_js/test_binary_sensor.py
Labels: cla-signed, small-pr, bugfix, no-stale, integration: zwave_js, Quality Scale: platinum, code-owner-approved

#141971 Fix spelling in `reolink` user-facing strings
  homeassistant/components/reolink/strings.json
Labels: cla-signed, small-pr, bugfix, integration: reolink, Quality Scale: platinum, code-owner-approved

#141989 Remove redundant type hint from core_config.py
  homeassistant/core_config.py
Labels: core, cla-signed, small-pr, code-quality

#141995 Unconditionally import turbojpeg from camera
  homeassistant/components/camera/img_util.py
Labels: core, integration: camera, cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: internal

#141994 Use send_json_auto_id in websocket_api tests
  tests/components/websocket_api/test_commands.py
Labels: core, cla-signed, integration: websocket_api, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: internal

#141406 Move Vodafone Station to platinum quality scale
  homeassistant/components/vodafone_station/manifest.json
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: silver, integration: vodafone_station

#141079 Use saved volume when selecting preset in bluesound integration
  homeassistant/components/bluesound/media_player.py
  tests/components/bluesound/conftest.py
  tests/components/bluesound/test_media_player.py
Labels: cla-signed, small-pr, integration: bluesound, has-tests, by-code-owner, bugfix, Quality Scale: No score

#141762 Bump Ohme to platinum
  .strict-typing
  homeassistant/components/ohme/__init__.py
  homeassistant/components/ohme/manifest.json
  homeassistant/components/ohme/quality_scale.yaml
  homeassistant/components/ohme/services.py
  mypy.ini
Labels: cla-signed, small-pr, has-tests, dependency, by-code-owner, code-quality, Quality Scale: silver, quality-scale, integration: ohme

#142000 Remove un-necessary wait for background tasks in Comelit tests
  tests/components/comelit/test_climate.py
  tests/components/comelit/test_coordinator.py
  tests/components/comelit/test_sensor.py
Labels: cla-signed, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score, integration: comelit

#141970 Add base class for onboarding views
  homeassistant/components/onboarding/views.py
Labels: core, cla-signed, integration: onboarding, by-code-owner, code-quality, Quality Scale: internal

#141593 Always set up after dependencies if they are scheduled to be loaded
  homeassistant/setup.py
  tests/test_setup.py
Labels: core, cla-signed, bugfix

#141919 Fix import issues related to onboarding views
  homeassistant/components/onboarding/views.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Labels: core, cla-signed, small-pr, integration: onboarding, by-code-owner, bugfix, Quality Scale: internal

#142003 Capitalize app name in `deluge` description string
  homeassistant/components/deluge/strings.json
Labels: cla-signed, small-pr, integration: deluge, code-quality, Quality Scale: No score

#141667 Better throttling handling for the Renault API
  homeassistant/components/renault/const.py
  homeassistant/components/renault/coordinator.py
  homeassistant/components/renault/entity.py
  homeassistant/components/renault/renault_hub.py
  homeassistant/components/renault/renault_vehicle.py
  tests/components/renault/test_sensor.py
Labels: cla-signed, has-tests, bugfix, integration: renault, Quality Scale: silver

#140337 Correct unit conversion for OneDrive quota display
  homeassistant/components/onedrive/coordinator.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: platinum, code-owner-approved, integration: onedrive

#141616 Add Homee climate platform
  homeassistant/components/homee/__init__.py
  homeassistant/components/homee/climate.py
  homeassistant/components/homee/const.py
  homeassistant/components/homee/icons.json
  homeassistant/components/homee/strings.json
  tests/components/homee/fixtures/thermostat_only_targettemp.json
  tests/components/homee/fixtures/thermostat_with_currenttemp.json
  tests/components/homee/fixtures/thermostat_with_heating_mode.json
  tests/components/homee/fixtures/thermostat_with_preset.json
  tests/components/homee/snapshots/test_climate.ambr
  tests/components/homee/test_climate.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, Quality Scale: bronze, integration: homee

#142010 Update frontend to 20250401.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, by-code-owner, Quality Scale: internal

#142006 Add LG ThinQ event bus listener to lifecycle hooks
  homeassistant/components/lg_thinq/coordinator.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: lg_thinq

#141960 Improve error handling and logging on MQTT update entity state updates when template rederings fails
  homeassistant/components/mqtt/update.py
  tests/components/mqtt/test_update.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#141939 Improve SmartThings deprecation
  homeassistant/components/smartthings/binary_sensor.py
  homeassistant/components/smartthings/strings.json
  homeassistant/components/smartthings/util.py
  tests/components/smartthings/snapshots/test_binary_sensor.ambr
  tests/components/smartthings/test_binary_sensor.py
Labels: cla-signed, integration: smartthings, has-tests, by-code-owner, code-quality, Quality Scale: bronze

#140647 Fix nordpool Not to return Unknown if price is exactly 0
  homeassistant/components/nordpool/sensor.py
  tests/components/nordpool/fixtures/delivery_period_today.json
  tests/components/nordpool/snapshots/test_diagnostics.ambr
  tests/components/nordpool/snapshots/test_sensor.ambr
  tests/components/nordpool/test_sensor.py
Labels: cla-signed, small-pr, integration: nordpool, bugfix, Quality Scale: platinum, code-owner-approved

#141958 Refactor Whirlpool sensor platform
  homeassistant/components/whirlpool/entity.py
  homeassistant/components/whirlpool/icons.json
  homeassistant/components/whirlpool/sensor.py
  homeassistant/components/whirlpool/strings.json
  tests/components/whirlpool/conftest.py
  tests/components/whirlpool/snapshots/test_diagnostics.ambr
  tests/components/whirlpool/test_sensor.py
Labels: cla-signed, has-tests, by-code-owner, code-quality, integration: whirlpool, Quality Scale: No score

#142012 Sentence-case "Heat pump" / "High demand" states in `water_heater`
  homeassistant/components/water_heater/strings.json
Labels: core, cla-signed, small-pr, integration: water_heater, code-quality, Quality Scale: internal

#141959 Fix data in old SkyConnect integration config entries or delete them
  homeassistant/components/homeassistant_sky_connect/__init__.py
  homeassistant/components/homeassistant_sky_connect/config_flow.py
  tests/components/homeassistant_sky_connect/test_init.py
Labels: cla-signed, has-tests, bugfix, integration: homeassistant_sky_connect, Quality Scale: No score

#142016 Fix train to for multiple stations in Trafikverket Train
  homeassistant/components/trafikverket_train/config_flow.py
Labels: cla-signed, small-pr, integration: trafikverket_train, by-code-owner, bugfix, Quality Scale: No score

#142017 Skip firmware config flow confirmation if the hardware is in use
  homeassistant/components/homeassistant_hardware/firmware_config_flow.py
  tests/components/homeassistant_hardware/test_config_flow.py
Labels: cla-signed, small-pr, new-feature, has-tests, Quality Scale: No score, integration: homeassistant_hardware

#142029 Fix entity names for HA hardware firmware update entities
  homeassistant/components/homeassistant_hardware/update.py
  homeassistant/components/homeassistant_sky_connect/update.py
  homeassistant/components/homeassistant_yellow/strings.json
  homeassistant/components/homeassistant_yellow/update.py
  tests/components/homeassistant_hardware/test_update.py
  tests/components/homeassistant_yellow/test_update.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: homeassistant_yellow, integration: homeassistant_sky_connect, Quality Scale: No score, integration: homeassistant_hardware

#142031 Bump ZHA to 0.0.55
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: zha, small-pr, dependency, by-code-owner, Quality Scale: No score

#141969 Fix warning about unfinished oauth tasks on shutdown
  homeassistant/components/cloud/account_link.py
Labels: core, cla-signed, integration: cloud, bugfix, Quality Scale: No score

#142032 Reduce overhead to run headers middleware
  homeassistant/components/http/headers.py
Labels: core, cla-signed, integration: http, small-pr, code-quality, Quality Scale: internal

#142045 Bump bluetooth-data-tools to 1.26.5
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/ld2410_ble/manifest.json
  homeassistant/components/led_ble/manifest.json
  homeassistant/components/private_ble_device/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, integration: led_ble, Quality Scale: No score, Quality Scale: internal, integration: ld2410_ble, integration: private_ble_device

#142054 Convert alexa test fixtures to async
  tests/components/alexa/test_flash_briefings.py
  tests/components/alexa/test_intent.py
Labels: core, cla-signed, integration: alexa, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score

#142046 Bump deebot-client to 12.5.0
  homeassistant/components/ecovacs/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: ecovacs, dependency, by-code-owner, Quality Scale: No score

#136677 Fix weather templates using new style configuration
  homeassistant/components/template/weather.py
  tests/components/template/test_weather.py
Labels: cla-signed, integration: template, has-tests, bugfix, Quality Scale: internal

#142066 Correct TodoItem docstrings
  homeassistant/components/todo/__init__.py
Labels: core, cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: internal, integration: todo

#142067 Add Eve brand
  homeassistant/brands/eve.json
  homeassistant/generated/integrations.json
Labels: core, cla-signed, small-pr, new-integration

#142055 Mark Event and HassJob with @final
  homeassistant/core.py
Labels: core, cla-signed, small-pr, code-quality

#142052 Convert test fixtures to async
  tests/auth/providers/test_homeassistant.py
  tests/components/api/test_init.py
  tests/components/cloud/conftest.py
  tests/components/device_tracker/test_device_trigger.py
  tests/components/duckdns/test_init.py
  tests/components/freedns/test_init.py
  tests/components/frontend/test_storage.py
  tests/components/geo_location/test_trigger.py
  tests/components/google_assistant/test_google_assistant.py
  tests/components/hassio/conftest.py
  tests/components/http/test_cors.py
  tests/components/meraki/test_device_tracker.py
  tests/components/namecheapdns/test_init.py
  tests/components/no_ip/test_init.py
  tests/components/onboarding/test_views.py
  tests/components/owntracks/test_device_tracker.py
  tests/components/owntracks/test_init.py
  tests/components/person/conftest.py
  tests/components/rss_feed_template/test_init.py
  tests/components/spaceapi/test_init.py
  tests/components/sun/test_trigger.py
  tests/components/webhook/test_init.py
  tests/components/zone/test_trigger.py
  tests/scripts/test_auth.py
Labels: core, cla-signed, small-pr, has-tests, code-quality

#142058 Mark logbook.EventAsRow with @final
  homeassistant/components/logbook/models.py
Labels: core, cla-signed, integration: logbook, small-pr, by-code-owner, code-quality, Quality Scale: internal

#142057 Mark Integration with @final
  homeassistant/loader.py
Labels: core, cla-signed, small-pr, code-quality

#142072 Improve SmartThings switch deprecation
  homeassistant/components/smartthings/binary_sensor.py
  homeassistant/components/smartthings/const.py
  homeassistant/components/smartthings/strings.json
  homeassistant/components/smartthings/switch.py
  tests/components/smartthings/snapshots/test_switch.ambr
  tests/components/smartthings/test_switch.py
Labels: cla-signed, integration: smartthings, has-tests, by-code-owner, code-quality, Quality Scale: bronze

#142077 Translation key for ZBT-1 integration failing due to disconnection
  homeassistant/components/homeassistant_sky_connect/__init__.py
  homeassistant/components/homeassistant_sky_connect/strings.json
Labels: cla-signed, small-pr, bugfix, integration: homeassistant_sky_connect, Quality Scale: No score

#142073 Deprecate None effect instead of breaking it for Hue
  homeassistant/components/hue/strings.json
  homeassistant/components/hue/v2/light.py
  tests/components/hue/test_light_v2.py
Labels: cla-signed, integration: hue, small-pr, by-code-owner, bugfix, Quality Scale: No score

#142078 Fix state class for battery sensors in AVM Fritz!SmartHome
  homeassistant/components/fritzbox/sensor.py
  tests/components/fritzbox/test_binary_sensor.py
  tests/components/fritzbox/test_climate.py
  tests/components/fritzbox/test_sensor.py
Labels: cla-signed, integration: fritzbox, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: No score

#142081 Fix switch name Unknown in SmartThings
  homeassistant/components/smartthings/strings.json
Labels: cla-signed, small-pr, integration: smartthings, by-code-owner, bugfix, Quality Scale: bronze

#142060 Replace "to log into" with "to log in to" in `incomfort`
  homeassistant/components/incomfort/strings.json
Labels: cla-signed, small-pr, integration: incomfort, bugfix, Quality Scale: platinum, code-owner-approved

#141854 Fix humidifier platform for Comelit
  homeassistant/components/comelit/humidifier.py
  homeassistant/components/comelit/strings.json
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: comelit

#142043 Use common states for battery sensor in `withings`
  homeassistant/components/withings/strings.json
Labels: cla-signed, small-pr, integration: withings, code-quality, Quality Scale: No score

#142035 Improve and add missing config flow strings in NUT
  homeassistant/components/nut/strings.json
Labels: cla-signed, small-pr, new-feature, integration: nut, by-code-owner, bugfix, smash, Quality Scale: No score

#139792 Correctly support humidification and dehumidification in Nexia Thermostats
  homeassistant/components/nexia/climate.py
  homeassistant/components/nexia/icons.json
  homeassistant/components/nexia/sensor.py
  homeassistant/components/nexia/services.yaml
  homeassistant/components/nexia/strings.json
Labels: cla-signed, new-feature, has-tests, integration: nexia, Quality Scale: No score

#142095 Use common states for "Low"/"Medium"/"High" in `matter`
  homeassistant/components/matter/strings.json
Labels: cla-signed, small-pr, code-quality, integration: matter, Quality Scale: No score

#142087 Replace "Sign into …" with "Sign in to …" in `sharkiq`
  homeassistant/components/sharkiq/strings.json
Labels: cla-signed, small-pr, bugfix, integration: sharkiq, Quality Scale: No score

#142086 Fix grammar bug "to sign into" in `hive`
  homeassistant/components/hive/strings.json
Labels: cla-signed, integration: hive, small-pr, bugfix, Quality Scale: No score

#142063 Replace "to log into" with "to log in to" in `honeywell`
  homeassistant/components/honeywell/strings.json
Labels: cla-signed, small-pr, integration: honeywell, bugfix, Quality Scale: No score

#142056 Use common states for selectors in `openai_conversation`
  homeassistant/components/openai_conversation/strings.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: openai_conversation

#142050 Use common states for "speed" in `motionblinds_ble`
  homeassistant/components/motionblinds_ble/strings.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: motionblinds_ble

#142048 Use more common states for "foot_warmer_temp" in `sleepiq`
  homeassistant/components/sleepiq/strings.json
Labels: cla-signed, integration: sleepiq, small-pr, code-quality, Quality Scale: No score

#142047 Use common states for "wi_fi_strength" in `aquacell`
  homeassistant/components/aquacell/strings.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: aquacell

#142044 Use common states for "ptc_level" in `xiaomi_miio`
  homeassistant/components/xiaomi_miio/strings.json
Labels: cla-signed, small-pr, integration: xiaomi_miio, code-quality, Quality Scale: No score

#142079 Avoid unnecessary reload in apple_tv reauth flow
  homeassistant/components/apple_tv/config_flow.py
  tests/components/apple_tv/test_config_flow.py
Labels: cla-signed, integration: apple_tv, small-pr, has-tests, bugfix, Quality Scale: No score

#142023 Revert "Move setup messages from info to debug level"
  homeassistant/setup.py
Labels: core, cla-signed, small-pr, bugfix

#142115 Fix strings username data description in NUT
  homeassistant/components/nut/strings.json
Labels: cla-signed, small-pr, integration: nut, by-code-owner, bugfix, Quality Scale: No score

#142093 Use snapshot_platform in all platform test modules for AVM Fritz!SmartHome
  tests/components/fritzbox/__init__.py
  tests/components/fritzbox/snapshots/test_binary_sensor.ambr
  tests/components/fritzbox/snapshots/test_button.ambr
  tests/components/fritzbox/snapshots/test_climate.ambr
  tests/components/fritzbox/snapshots/test_cover.ambr
  tests/components/fritzbox/snapshots/test_light.ambr
  tests/components/fritzbox/snapshots/test_sensor.ambr
  tests/components/fritzbox/snapshots/test_switch.ambr
  tests/components/fritzbox/test_binary_sensor.py
  tests/components/fritzbox/test_button.py
  tests/components/fritzbox/test_climate.py
  tests/components/fritzbox/test_cover.py
  tests/components/fritzbox/test_light.py
  tests/components/fritzbox/test_sensor.py
  tests/components/fritzbox/test_switch.py
Labels: cla-signed, integration: fritzbox, small-pr, has-tests, by-code-owner, code-quality, Quality Scale: No score

#142131 Bump tesla-fleet-api to v1.0.17
  homeassistant/components/tesla_fleet/manifest.json
  homeassistant/components/teslemetry/manifest.json
  homeassistant/components/tessie/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score, integration: tessie, integration: teslemetry, integration: tesla_fleet

#142117 Use common state for "Medium" in `iron_os`
  homeassistant/components/iron_os/strings.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: platinum, code-owner-approved, integration: iron_os

#142112 Use common states for "Low"/"Medium"/"High" in `litterrobot`
  homeassistant/components/litterrobot/strings.json
Labels: cla-signed, small-pr, code-quality, integration: litterrobot, Quality Scale: bronze

#142113 Use common states for "Low"/"Medium"/"High" in `roborock`
  homeassistant/components/roborock/strings.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: silver, integration: roborock

#141955 Improve exception handling in Pterodactyl
  homeassistant/components/pterodactyl/api.py
  homeassistant/components/pterodactyl/button.py
  homeassistant/components/pterodactyl/config_flow.py
  homeassistant/components/pterodactyl/coordinator.py
  homeassistant/components/pterodactyl/strings.json
  tests/components/pterodactyl/test_config_flow.py
Labels: cla-signed, has-tests, by-code-owner, code-quality, Quality Scale: bronze, integration: pterodactyl

#142140 Use common states for "Low"/"Medium"/"High" in `ecovacs`
  homeassistant/components/ecovacs/strings.json
Labels: cla-signed, small-pr, integration: ecovacs, code-quality, Quality Scale: No score

#142142 Use common states for "Low"/"Medium"/"High" in `home_connect`
  homeassistant/components/home_connect/strings.json
Labels: cla-signed, small-pr, code-quality, integration: home_connect, Quality Scale: No score

#142114 Avoid logging a warning when replacing an ignored config entry
  homeassistant/config_entries.py
  tests/test_config_entries.py
Labels: core, cla-signed, small-pr, bugfix

#142111 Bump pysmhi to 1.0.1
  homeassistant/components/smhi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: smhi, dependency, by-code-owner, bugfix, Quality Scale: No score

#142107 Bump pyenphase to 1.25.5
  homeassistant/components/enphase_envoy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: enphase_envoy, dependency, by-code-owner, bugfix, smash, Quality Scale: No score

#142150 Use common states for "Low" and "High" in `balboa`
  homeassistant/components/balboa/strings.json
Labels: cla-signed, small-pr, integration: balboa, code-quality, Quality Scale: No score

#142149 Use common states for "Low" and "High" in `yale_smart_alarm`
  homeassistant/components/yale_smart_alarm/strings.json
Labels: cla-signed, small-pr, integration: yale_smart_alarm, code-quality, Quality Scale: No score

#142146 Fix lying comment in ConfigEntriesFlowManager.async_finish_flow
  homeassistant/config_entries.py
Labels: core, cla-signed, small-pr, code-quality

#142159 Use common states for "Low" and "High" in `dsmr_reader`
  homeassistant/components/dsmr_reader/strings.json
Labels: cla-signed, small-pr, integration: dsmr_reader, code-quality, Quality Scale: No score

#142166 Bump PySwitchBot to 0.59.0
  homeassistant/components/switchbot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: switchbot, dependency, Quality Scale: No score

#142165 Add diagnostics for bosch alam integration
  homeassistant/components/bosch_alarm/diagnostics.py
  tests/components/bosch_alarm/conftest.py
  tests/components/bosch_alarm/snapshots/test_diagnostics.ambr
  tests/components/bosch_alarm/test_diagnostics.py
Labels: new-platform, cla-signed, new-feature, has-tests, by-code-owner, quality-scale, Quality Scale: bronze, integration: bosch_alarm

#142090 Add translation for hassio update entity name
  homeassistant/components/hassio/strings.json
  homeassistant/components/hassio/update.py
Labels: core, cla-signed, integration: hassio, small-pr, bugfix, Quality Scale: internal

#141442 Fix blocking event loop - daikin
  homeassistant/components/daikin/__init__.py
  homeassistant/components/daikin/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: daikin, by-code-owner, bugfix, Quality Scale: No score

#142201 Fix fibaro setup
  homeassistant/components/fibaro/__init__.py
Labels: cla-signed, small-pr, integration: fibaro, by-code-owner, bugfix, Quality Scale: No score

#142180 Add preset mode to SmartThings climate
  homeassistant/components/smartthings/climate.py
  tests/components/smartthings/fixtures/device_status/da_ac_rac_000001.json
  tests/components/smartthings/snapshots/test_climate.ambr
  tests/components/smartthings/snapshots/test_diagnostics.ambr
Labels: cla-signed, small-pr, integration: smartthings, has-tests, by-code-owner, bugfix, Quality Scale: bronze

#142175 Tado bump to 0.18.11
  homeassistant/components/tado/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: tado, small-pr, dependency, by-code-owner, bugfix, Quality Scale: No score

#142139 Use common states for "Low"/"Medium"/"High" in `yolink`
  homeassistant/components/yolink/strings.json
Labels: cla-signed, small-pr, code-quality, integration: yolink, Quality Scale: No score

#141712 Made Google Search enable dependent on Assist availability
  homeassistant/components/google_generative_ai_conversation/config_flow.py
  homeassistant/components/google_generative_ai_conversation/strings.json
  tests/components/google_generative_ai_conversation/test_config_flow.py
Labels: cla-signed, small-pr, new-feature, has-tests, by-code-owner, Quality Scale: No score, integration: google_generative_ai_conversation

#142192 Do not create a HA mediaplayer for the builtin Music Assistant player
  homeassistant/components/music_assistant/media_player.py
Labels: cla-signed, small-pr, bugfix, Quality Scale: No score, integration: music_assistant

#142170 Make `calendar.get_events` action description consistent
  homeassistant/components/calendar/strings.json
Labels: core, cla-signed, integration: calendar, small-pr, code-quality, Quality Scale: internal

#142209 Use common states for "Low"/"Medium"/"High" in `tessie`
  homeassistant/components/tessie/strings.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: tessie

#142210 Use common states for "Low"/"Medium"/"High" in `teslemetry`
  homeassistant/components/teslemetry/strings.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: teslemetry

#142211 Use common states for "Low"/"Medium"/"High" in `tesla_fleet`
  homeassistant/components/tesla_fleet/strings.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: tesla_fleet

#142218 Bump pynina to 0.3.5
  homeassistant/components/nina/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: nina, Quality Scale: No score

#142110 Hide broken ZBT-1 config entries on the hardware page
  homeassistant/components/homeassistant_sky_connect/hardware.py
  tests/components/homeassistant_sky_connect/test_hardware.py
Labels: cla-signed, small-pr, has-tests, bugfix, integration: homeassistant_sky_connect, Quality Scale: No score

#142197 Bump ical to 9.1.0
  homeassistant/components/google/manifest.json
  homeassistant/components/local_calendar/manifest.json
  homeassistant/components/local_todo/manifest.json
  homeassistant/components/remote_calendar/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, integration: google, small-pr, dependency, by-code-owner, integration: local_calendar, Quality Scale: No score, Quality Scale: silver, integration: local_todo, integration: remote_calendar

#142233 Bump bleak-esphome to 2.13.1
  homeassistant/components/eq3btsmart/manifest.json
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: esphome, integration: eq3btsmart, dependency, by-code-owner, Quality Scale: No score

#142237 Improve config entry type hints in NUT
  homeassistant/components/nut/__init__.py
Labels: cla-signed, small-pr, integration: nut, by-code-owner, code-quality, Quality Scale: No score

#142130 Slow down polling in Tesla Fleet
  homeassistant/components/tesla_fleet/coordinator.py
  tests/components/tesla_fleet/test_init.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: tesla_fleet

#142234 Bump teslemetry-stream
  homeassistant/components/teslemetry/binary_sensor.py
  homeassistant/components/teslemetry/manifest.json
  homeassistant/components/teslemetry/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: teslemetry

#142221 Bump bluetooth-data-tools to 1.27.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/ld2410_ble/manifest.json
  homeassistant/components/led_ble/manifest.json
  homeassistant/components/private_ble_device/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, small-pr, dependency, by-code-owner, integration: bluetooth, integration: led_ble, Quality Scale: No score, Quality Scale: internal, integration: ld2410_ble, integration: private_ble_device

#142244 Bump aiohomeconnect to 0.17.0
  homeassistant/components/home_connect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: home_connect, Quality Scale: No score

#142253 Use common states for "Low"/"Medium"/"High" in `lg_thinq`
  homeassistant/components/lg_thinq/strings.json
Labels: cla-signed, small-pr, code-quality, Quality Scale: No score, integration: lg_thinq

#142242 Add device class ENUM and options for sensors in NUT
  homeassistant/components/nut/sensor.py
  homeassistant/components/nut/strings.json
Labels: cla-signed, new-feature, integration: nut, by-code-owner, Quality Scale: No score

#141871 Bump evohome-async to 1.0.5
  homeassistant/components/evohome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: evohome, dependency, by-code-owner, bugfix, Quality Scale: legacy

#142226 Tweak evohome to handle older TCC-compatible systems
  homeassistant/components/evohome/climate.py
Labels: cla-signed, small-pr, integration: evohome, by-code-owner, bugfix, Quality Scale: legacy

#142225 Tado add diagnostics platform
  homeassistant/components/tado/diagnostics.py
  tests/components/tado/snapshots/test_diagnostics.ambr
  tests/components/tado/test_diagnostics.py
Labels: cla-signed, integration: tado, new-feature, has-tests, by-code-owner, Quality Scale: No score

#142262 Fix skyconnect tests
  tests/components/zha/test_repairs.py
Labels: cla-signed, integration: zha, small-pr, has-tests, bugfix, Quality Scale: No score

#142269 Fix RuntimeWarning in homeassistant_hardware
  tests/components/homeassistant_hardware/test_config_flow_failures.py
Labels: cla-signed, small-pr, has-tests, code-quality, smash, Quality Scale: No score, integration: homeassistant_hardware

#142274 Update frontend to 20250404.0
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Labels: core, cla-signed, integration: frontend, small-pr, dependency, by-code-owner, Quality Scale: internal

#142284 Use common state strings in NUT
  homeassistant/components/nut/strings.json
Labels: cla-signed, small-pr, integration: nut, by-code-owner, code-quality, Quality Scale: No score

#142257 Bump pySmartThings to 3.0.2
  homeassistant/components/smartthings/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: smartthings, dependency, by-code-owner, Quality Scale: bronze

#137189 Add support for Matter EVSE devicetype
  homeassistant/components/matter/binary_sensor.py
  homeassistant/components/matter/entity.py
  homeassistant/components/matter/icons.json
  homeassistant/components/matter/sensor.py
  homeassistant/components/matter/strings.json
  homeassistant/components/matter/switch.py
  tests/components/matter/conftest.py
  tests/components/matter/fixtures/nodes/silabs_evse_charging.json
  tests/components/matter/snapshots/test_binary_sensor.ambr
  tests/components/matter/snapshots/test_select.ambr
  tests/components/matter/snapshots/test_sensor.ambr
  tests/components/matter/snapshots/test_switch.ambr
  tests/components/matter/test_binary_sensor.py
  tests/components/matter/test_sensor.py
  tests/components/matter/test_switch.py
Labels: cla-signed, new-feature, has-tests, integration: matter, Quality Scale: No score

#142280 Bump forecast-solar lib to v4.1.0
  homeassistant/components/forecast_solar/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: forecast_solar, Quality Scale: No score

#142208 Fix circular mean by always storing and using the weighted one
  homeassistant/components/recorder/statistics.py
  homeassistant/components/sensor/recorder.py
  tests/components/sensor/test_recorder.py
Labels: core, integration: recorder, cla-signed, integration: sensor, has-tests, by-code-owner, bugfix, Quality Scale: internal

#142259 Add Docker host networking issue detection
  homeassistant/components/network/__init__.py
  homeassistant/components/network/strings.json
  tests/components/network/snapshots/test_init.ambr
  tests/components/network/test_init.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, integration: network, Quality Scale: internal

#142292 Fix empty actions
  homeassistant/components/template/alarm_control_panel.py
  homeassistant/components/template/button.py
  homeassistant/components/template/cover.py
  homeassistant/components/template/fan.py
  homeassistant/components/template/light.py
  homeassistant/components/template/lock.py
  homeassistant/components/template/select.py
  homeassistant/components/template/switch.py
  homeassistant/components/template/vacuum.py
  tests/components/template/test_alarm_control_panel.py
  tests/components/template/test_button.py
  tests/components/template/test_cover.py
  tests/components/template/test_light.py
  tests/components/template/test_lock.py
  tests/components/template/test_number.py
  tests/components/template/test_select.py
  tests/components/template/test_switch.py
  tests/components/template/test_vacuum.py
Labels: cla-signed, small-pr, integration: template, has-tests, by-code-owner, bugfix, Quality Scale: internal

#142258 Avoid checking if debug logging is enabled on every WebSocket message
  homeassistant/components/websocket_api/http.py
  tests/components/websocket_api/test_http.py
Labels: core, cla-signed, integration: websocket_api, small-pr, has-tests, code-quality, Quality Scale: internal

#142303 Bump DSMR parser to 1.4.3
  homeassistant/components/dsmr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, integration: dsmr, dependency, Quality Scale: No score

#142302 Bump pydantic to 2.11.2
  homeassistant/package_constraints.txt
  requirements_test.txt
  script/gen_requirements_all.py
Labels: core, cla-signed, small-pr, dependency

#142167 Add common states "Normal", "Very high" and "Very low"
  homeassistant/strings.json
Labels: core, cla-signed, small-pr, new-feature

#142001 Restore "Promote after dependencies in bootstrap"
  homeassistant/bootstrap.py
  tests/test_bootstrap.py
Labels: core, cla-signed, small-pr, new-feature

#142103 Add coverage to flux_led to ensure a user flow can replace an ignored entry
  tests/components/flux_led/test_config_flow.py
Labels: cla-signed, small-pr, integration: flux_led, has-tests, code-quality, Quality Scale: No score

#142311 Bump pykulersky dependency
  homeassistant/components/kulersky/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: kulersky, Quality Scale: No score

#142228 Update Roborock map more consistently on state change
  homeassistant/components/roborock/coordinator.py
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: silver, integration: roborock

#142325 Use common states for sensor levels in `overkiz`
  homeassistant/components/overkiz/strings.json
Labels: cla-signed, small-pr, code-quality, integration: overkiz, Quality Scale: No score

#142323 Use common states for sensor levels in `nam`
  homeassistant/components/nam/strings.json
Labels: cla-signed, code-quality, integration: nam, Quality Scale: No score

#142321 Bump opower to 0.10.0
  homeassistant/components/opower/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, Quality Scale: No score, integration: opower

#142314 Bump inkbird-ble to 0.10.1
  homeassistant/components/inkbird/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: inkbird, Quality Scale: No score

#142324 Use common states for sensor levels in `tomorrowio`
  homeassistant/components/tomorrowio/strings.json
Labels: cla-signed, small-pr, code-quality, integration: tomorrowio, Quality Scale: No score

#142036 Add missing test_all requirements
  requirements_test_all.txt
  script/gen_requirements_all.py
Labels: cla-signed, small-pr, code-quality, dependency-bump

#142285 Add reauth flow to Pterodactyl
  homeassistant/components/pterodactyl/config_flow.py
  homeassistant/components/pterodactyl/coordinator.py
  homeassistant/components/pterodactyl/quality_scale.yaml
  homeassistant/components/pterodactyl/strings.json
  tests/components/pterodactyl/test_config_flow.py
Labels: cla-signed, has-tests, by-code-owner, code-quality, quality-scale, Quality Scale: bronze, integration: pterodactyl

#142251 Add reauth flow to bosch_alarm
  homeassistant/components/bosch_alarm/__init__.py
  homeassistant/components/bosch_alarm/config_flow.py
  homeassistant/components/bosch_alarm/quality_scale.yaml
  homeassistant/components/bosch_alarm/strings.json
  tests/components/bosch_alarm/test_config_flow.py
  tests/components/bosch_alarm/test_init.py
Labels: cla-signed, new-feature, has-tests, by-code-owner, quality-scale, Quality Scale: bronze, integration: bosch_alarm

#141753 Add error details in remote calendar flow
  homeassistant/components/remote_calendar/config_flow.py
  homeassistant/components/remote_calendar/strings.json
Labels: cla-signed, small-pr, by-code-owner, code-quality, Quality Scale: silver, integration: remote_calendar

#142350 Bump xiaomi-ble to 0.35.0
  homeassistant/components/xiaomi_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Labels: cla-signed, small-pr, dependency, by-code-owner, integration: xiaomi_ble, Quality Scale: No score

#142354 Use common states for "Low" and "Normal" in `dsmr`
  homeassistant/components/dsmr/strings.json
Labels: cla-signed, small-pr, integration: dsmr, code-quality, Quality Scale: No score

#142346 Use common states for sensor levels in `openuv`
  homeassistant/components/openuv/strings.json
Labels: cla-signed, small-pr, integration: openuv, code-quality, Quality Scale: No score

#142320 Add SensorDeviceClass and unit for LCN CO2 sensor.
  homeassistant/components/lcn/sensor.py
Labels: cla-signed, small-pr, integration: lcn, by-code-owner, bugfix, Quality Scale: No score

#142322 Add a description for the enable_google_search_tool option in Google AI
  homeassistant/components/google_generative_ai_conversation/strings.json
Labels: cla-signed, small-pr, by-code-owner, bugfix, Quality Scale: No score, integration: google_generative_ai_conversation

#142345 Use common states for sensor levels in `accuweather`
  homeassistant/components/accuweather/strings.json
Labels: cla-signed, small-pr, code-quality, integration: accuweather, Quality Scale: No score

#141380 Record quality scale for IMGW-PIB
  homeassistant/components/imgw_pib/manifest.json
  homeassistant/components/imgw_pib/quality_scale.yaml
  script/hassfest/quality_scale.py
Labels: cla-signed, by-code-owner, code-quality, Quality Scale: No score, integration: imgw_pib, quality-scale

#142301 Add move queue item HEOS entity service
  homeassistant/components/heos/const.py
  homeassistant/components/heos/icons.json
  homeassistant/components/heos/media_player.py
  homeassistant/components/heos/services.py
  homeassistant/components/heos/services.yaml
  homeassistant/components/heos/strings.json
  tests/components/heos/__init__.py
  tests/components/heos/test_media_player.py
Labels: cla-signed, new-feature, integration: heos, has-tests, by-code-owner, Quality Scale: platinum

#142344 Limit mqtt info logging for discovery of new components
  homeassistant/components/mqtt/discovery.py
Labels: core, cla-signed, integration: mqtt, small-pr, has-tests, by-code-owner, bugfix, Quality Scale: platinum

#142255 Improve enphase_envoy diagnostics error handling to retain collected data
  homeassistant/components/enphase_envoy/diagnostics.py
  tests/components/enphase_envoy/snapshots/test_diagnostics.ambr
Labels: cla-signed, small-pr, integration: enphase_envoy, has-tests, by-code-owner, code-quality, Quality Scale: No score

#142109 Add some Xiaomi BLE sensor translations
  homeassistant/components/xiaomi_ble/sensor.py
  homeassistant/components/xiaomi_ble/strings.json
  tests/components/xiaomi_ble/test_sensor.py
Labels: cla-signed, new-feature, has-tests, integration: xiaomi_ble, Quality Scale: No score

#142127 Add reconfiguration flow to NUT
  homeassistant/components/nut/config_flow.py
  homeassistant/components/nut/strings.json
  tests/components/nut/test_config_flow.py
  tests/components/nut/util.py
Labels: cla-signed, new-feature, integration: nut, has-tests, by-code-owner, code-quality, Quality Scale: No score
